[2022-02-06 18:16] llabbasmkhll commented on #40823
ok thanks

[2022-02-06 18:16] #40823 closed

[2022-02-07 07:58] driesvints commented on #40827
This cannot be known upfront because you're directly using a query. We don't know what the data is since we haven't retrieved it and thus don't know if it matches. We always touch the updated_at timestampt.

Your solution seems viable but I don't know if it can match the current inner workings of how query upserting/updating works. Feel free to send in a PR though if you can improve this.

[2022-02-07 07:58] #40827 closed

[2022-02-07 09:36] OneSeven opened #40842 "Schema::hasColumn has problems in some scenarios"
- Laravel Version: 8.82
- PHP Version: 8.0.9
- Database Driver & Version: mysql8.0.26

### Description:
After model is set from(), in addGlobalScope, query field does not exist column through Schema::hasColumn is true

### Steps To Reproduce:
[code]

[2022-02-07 09:50] darynmitchell opened #40843 "Validator::make(...)->passes() is in docs (and works), but the function is not in the Facade's contract"
- Laravel Version: v8.82.0
- PHP Version: 7.4.26
- Database Driver & Version: N/A

### Description:

The [Validation Docs show usage of a `passes()` function](https://laravel.com/docs/8.x/validation#implicit-rules) like: `Validator::make($input, $rules)->passes();`
This gets marked as an error in my IDE (via inteliphense), but the code works.

This is because:
1. The `Validator` Facade (framework/

[2022-02-07 10:08] driesvints commented on #40842
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-02-07 10:08] #40842 closed

[2022-02-07 10:09] driesvints commented on #40843
Feel free to attempt a PR, thanks.

[2022-02-07 10:09] #40843 closed

[2022-02-07 10:52] driesvints commented on #40843
Btw, mostly this. We'd appreciate PR's to improve docblocks etc but don't actively manage issues for them.

[2022-02-07 11:21] gopalrathod131 commented on #27742
Thanks!
Perfect solution for mysql 8.0,x

[2022-02-07 17:49] bradacjan commented on #20482
@themsaid If a proposal and PR were prepared, as @Dylan-DPC suggested, do you think there is a chance that such a request would be accepted?

I firmly believe that the consensus is that `Str::snake('inquiry-types')` _should_ return `inquiry_types` (as the documentation also suggests, by saying "Convert a string to snake case."). But I am also afraid that change might be problematic as `Str` is a c

[2022-02-07 19:20] rudiedirkx opened #40854 "Laravel quietly ignores Symfony's deprecations: @trigger_error()"
- Laravel Version: 8.73.2
- PHP Version: 7.4.26

### Description:

The Symfony ecosystem triggers deprecations like this:

    @trigger_error("Some deprecation", E_USER_DEPRECATED);

with the `@` to suppress error, **to make deprecations opt-in**. That's a decent idea, IF the app/framework's error handler CAN opt-in. The first thing Laravel's error handler does is:

    if (error_reporting() & $le

[2022-02-07 19:21] rudiedirkx commented on #40854
Some opt-in details on https://github.com/twigphp/Twig/issues/2082

[2022-02-08 00:13] laurencei commented on #20482
@bradacjan - the issue would be its a breaking change, and the question has to be whats the gain for the potential errors it might cause.

[2022-02-08 01:19] spham opened #40856 "coverage"
hi

php artisan test --coverage seems not work
because return
Option "--coverag" is ambiguous

[2022-02-08 01:22] dwightwatson commented on #40856
`--coverage` is only available in Laravel 9

[2022-02-08 01:23] spham commented on #40856
thanks

[2022-02-08 01:23] #40856 closed

[2022-02-08 12:01] doyuga commented on #15292
Use this
@isset($records)
    // $records is defined and is not null...
@endisset

[2022-02-08 12:17] rudiedirkx commented on #40854
No, you can't, because they never ever get past Laravel's error handler:

    if (error_reporting() & $level) {

That's the problem.....

[2022-02-08 12:59] X-Coder264 commented on #40854
I can confirm this issue.

My feature tests use `$this->withoutDeprecationHandling();` and I use the Faker library which recently deprecated calling the property name in favour of the method itself -> https://github.com/FakerPHP/Faker/blob/v1.19.0/src/Faker/Generator.php#L942

Since [Symfony silences those deprecations](https://github.com/symfony/deprecation-contracts/blob/v3.0.0/function.php#L25)

[2022-02-08 17:40] JuanDMeGon commented on #26021
Just for the record: You can set `public static $wrap = null;` and the wrapper will disappear for that API resource.

[2022-02-08 21:18] dianfishekqi opened #40873 "Laravel blade components fatal error when random `$attributes` in scope"
- Laravel Version: 9.0
- PHP Version: 8.1

### Description:
Having a variable with name `attributes` declared before a component causes fatal `Call to a member function getIterator() on array` error.

compiled blade error line:
`$component = $__env->getContainer()->make(Illuminate\View\AnonymousComponent::class, ['view' => 'jetstream::components.confirmation-modal', 'data' => ['wire:model' => 'dea

[2022-02-08 21:59] Jackardios opened #40874 "Separate "with" method call to load nested relationships overwrites previously defined relationships"
- Laravel Version: 8.81.0
- PHP Version: 8.0.15

### Description:
When we add eager-load nested relations separately with the `with` method, it overwrites the closure defined for the base relation.
As far as I understand, this is due to the fact that when adding an eager-load relationship through the `with` method, this method also [automatically adds the relations on which it depends](https://git

[2022-02-08 23:03] rudiedirkx commented on #40854
Laravel's `handleError` should do this IMO:

        if ($this->isDeprecation($level)) {
            return $this->handleDeprecation($message, $file, $line);
        }
        elseif (error_reporting() & $level) {
            throw new ErrorException($message, 0, $level, $file, $line);
        }

ALWAYS handle deprecations. The only reason they wouldn't get past `error_reporting() & $level` is if

[2022-02-08 23:15] spaceemotion opened #40877 "[9.x] Conditionable::when returns Collection when callback or default return empty value (e.g. 0)"
- Laravel Version: 9.0
- PHP Version: 8.1.2
- Database Driver & Version: MySQL 8

### Description:
I have the following snippet that calculates a number of serviced hours based on a condition:

[code]

In case the calculator returns 0 hours (or the entries are empty) the expected result would be `0`.
However, the function returns the collection itself, as the `Conditionable` trait returns `$this`

[2022-02-08 23:22] spaceemotion commented on #40877
I just tried the example out in Tinkerwell Web, it correctly returns `0` (as expected). Not sure which version of PHP and Laravel is bundled there, but my local tinker session has the following output:

[code]

[2022-02-09 06:23] krixnaas opened #40881 "Unresolvable dependency resolving [Parameter #0 [ <required> $auth_key ]] in class Pusher\Pusher"
- Laravel Version: 5.3.31
- PHP Version: 7.0.33
- Database Driver & Version: MySQL

### Description:
Upgrading the Laravel version from 5.2 to 5.3.
 [Illuminate\Contracts\Container\BindingResolutionException]
  Unresolvable dependency resolving [Parameter #0 [ <required> $auth_key ]] in class Pusher\Pusher

### Steps To Reproduce:
[2022-02-09 14:57:08] production.ERROR: Illuminate\Contracts\Contai

[2022-02-09 07:14] Develgold opened #40882 "FormRequest::validated() does not work with an array of objects"
- Laravel Version: 9.0
- PHP Version: 8.1.0

### Description:
FormRequest::validated() does not work with an array of objects

### Steps To Reproduce:
Request class:
`
class UserRequest extends FormRequest {
    public function rules()
    {
        return [
            'name' => 'string',
            'items.*.id' => 'integer'
        ];
    }
}
`
Input:
`{"name": "Bob", "items": [{"id": 1}]}`

$r

[2022-02-09 07:22] qdmitry opened #40883 "Undefined constant Illuminate\Http\Request::HEADER_X_FORWARDED_ALL"
- Laravel Version: 9.0
- PHP Version: 8.1.2
- Database Driver & Version: mysql 8.0

### Description:
I install latest version `composer require fideloper/proxy:^4.4.1`, but error:
_Undefined constant Illuminate\Http\Request::HEADER_X_FORWARDED_ALL_

I don't understand why the code doesn't match the master branch.

### Steps To Reproduce:

Screenshots

<img width="1239" alt="Снимок экрана 2022-02-0

[2022-02-09 07:32] pragnesh87 commented on #40883
https://laravel.com/docs/9.x/upgrade#upgrade-9.0
In document *Trusted Proxies* update steps already given.
Please try those steps.

![image](https://user-images.githubusercontent.com/1000852/153142704-7cae4a5f-e88e-4735-ab1a-3790fa5cf9fa.png)

[2022-02-09 07:33] driesvints commented on #40883
Thanks @pragnesh87

[2022-02-09 07:33] #40883 closed

[2022-02-09 07:34] driesvints commented on #40854
@nunomaduro

[2022-02-09 07:35] qdmitry commented on #40883
Take a closer look at the problem! My project files are fine. The problem is loading from composer.

[2022-02-09 07:38] qdmitry commented on #40883
@driesvints check

<img width="1664" alt="Снимок экрана 2022-02-09 в 12 38 29" src="https://user-images.githubusercontent.com/28624280/153143687-87bc16c3-b973-4f96-9226-59d837174994.png">

[2022-02-09 07:50] qdmitry commented on #40883
@driesvints Need help! Stop ignoring it! This is a magical mistake, I can't handle it! Open the bug.

[2022-02-09 08:01] pragnesh87 commented on #40883
Please make following changes
file: app/Http/Middleware/TrustProxies.php

[code]

[2022-02-09 08:08] qdmitry commented on #40883
@pragnesh87 It turns out that the `fideloper/proxy` package is no longer required.
I change use import.

[2022-02-09 08:10] hmennen90 commented on #40882
@Develgold Just tested your example

[code]

This test does not Fail.

What did you get, if you call $request->all() ? Maybe it's a typo

[2022-02-09 08:20] hmennen90 commented on #40882
Ok - got it:

Your JSON casted to an Array results only the first level in array => name and items - but every element in items remains as Object:

[code]

[2022-02-09 08:26] driesvints commented on #40883
@qdmitry please read the upgrade guide carefully before posting issues.

[2022-02-09 08:45] driesvints commented on #40881
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-02-09 08:45] #40881 closed

[2022-02-09 08:51] driesvints commented on #40877
Seems like this is more of a feature request as this behavior is unchanged from 8.x? You mention: ` (as it has worked before).` so was this different for you on 8.x?

[2022-02-09 08:57] driesvints commented on #40873
Attributes is a reserved keyword that's used to propagates element attributes. You cannot overwrite this. Please see the many examples at https://laravel.com/docs/9.x/blade#component-attributes

[2022-02-09 08:57] #40873 closed

[2022-02-09 09:03] spaceemotion commented on #40877
Yes, this happened after the upgrade to v9 yesterday.

[2022-02-09 09:03] #40874 closed

[2022-02-09 09:06] driesvints commented on #40877
@inxilpro is this because of https://github.com/laravel/framework/pull/37632 ?

[2022-02-09 09:11] spaceemotion commented on #40877
It seems like it is because of #37632.

The original code did not have the `?: $this` appended:

https://github.com/inxilpro/laravel-framework-fork/blob/18e9c8f937861f13bd70669de735fa64b6fab062/src/Illuminate/Collections/Traits/EnumeratesValues.php#L470-L474

[2022-02-09 09:17] driesvints commented on #40877
@spaceemotion you're correct! Can you send in a PR?

[2022-02-09 09:18] spaceemotion commented on #40877
I can try this afternoon 👍

[2022-02-09 09:26] almaz-free commented on #40883
you need to delete file "config/trustedproxy.php"

[2022-02-09 09:34] spaceemotion commented on #40883
@driesvints the upgrade guide does not explicitly state that the package is no longer required and can be deleted. I ran into the same issue yesterday.

Even after changing out the middleware, the fideloper-package still auto-loaded its own config and ran into the error.

Maybe adding a text about removing the package would help?

[2022-02-09 11:35] inxilpro commented on #40877
I think the reason I sent this PR to 9.x was because of this change. `when()` had very slightly different behavior across the framework, and that PR was meant to unify the behavior. I'll take a look a little later today to confirm.

[2022-02-09 12:30] inxilpro commented on #40877
Yeah, if you read #37632, I called this behavior out specifically. The reason for the change was to unify the behavior of `when()` across all implementations—some places used the ternary return and  others didn't.

I agree with @spaceemotion that using the null coalesce operator would be preferable—I just used the ternary shorthand because that was what is used everywhere else in the framework.

[2022-02-09 13:08] driesvints commented on #40883
@spaceemotion I see. I was a bit confused because the screenshot of the OP still showed the incorrect namespace even though it was listed in the upgrade guide. I'll PR that to indicate you need to remove the package.

[2022-02-09 13:52] nicolalazzaro opened #40887 "[9.x] Connection could not be established with host smtp and a different port from 465 with tls enabled"
- Laravel Version: 9.0.0
- PHP Version: 8.1.1
- Database Driver & Version:

### Description:
I have created a new application and receive the following linked error when sending an email.

With the same smtp parameters the error does not occur on the same machine but with laravel version 8.83.0.

I then created a new project using the new library "symfony/mailer" but the sending of the email is su

[2022-02-09 13:57] driesvints commented on #40877
Can one of you send in a PR?

[2022-02-09 14:02] inxilpro commented on #40877
Yeah, I can push up a PR.

[2022-02-09 14:22] driesvints commented on #40887
@nicolalazzaro how did you solve this?

[2022-02-09 14:26] #40877 closed

[2022-02-09 14:34] nicolalazzaro commented on #40887
I'm working on it, it's a problem with the certificate of authority for my machine.
For this reason, the error is not related to Laravel, so I have "closed" this issue.

[2022-02-09 15:18] rodrigopedra commented on #40854
Maybe instead of checking for a deprecation error inside the first `if`

https://github.com/laravel/framework/blob/afeb58d019b203ecb1a1c4063a66a029ea6bea63/src/Illuminate/Foundation/Bootstrap/HandleExceptions.php#L68-L77

We could check it before:

[code]

As the `HandleExceptions@handleDeprecation` seems handle it either by logging into the `null` driver or to a configured driver.

I tested local

[2022-02-09 15:29] Stunext opened #40890 "[9.x] Folder "views/vendor" ignore by framework"
- Laravel Version: 9.0.1
- PHP Version: 8.1.2

### Description:

The "vendor" folder inside views is completely ignored by the framework; this includes views exported by external packages (larecipe); and even internal Laravel views like mail views that result from running "php artisan vendor:publish --tag=laravel-mail".

Changes to these files are not reflected. Even clearing the view cache. These

[2022-02-09 15:40] rodrigopedra commented on #40890
Just tested with the steps you mentioned, I added a ` style="color:red;"` to the body tag on `./resources/views/vendor/mail/html/layout.blade.php` and it worked as expected.

![image](https://user-images.githubusercontent.com/5470108/153235110-1bd942ae-2e09-4cdd-80ce-784feed152e3.png)

Just for the record, I am running the latest patch version as of this writing:

[code]

Maybe isn't some third-pa

[2022-02-09 16:22] wfern commented on #40887
@nicolalazzaro please, if you solve this issue, report it here.

[2022-02-09 16:41] mattkingshott commented on #40887
I can confirm this happens to me too.

[2022-02-09 16:56] karimnaimy opened #40895 "Email Notification Customizing The Recipient"
- Laravel Version: 9.0
- PHP Version: 8.1
- Database Driver & Version: MySQL

### Description:
When the email address and name are returned in `routeNotificationForMail` in a modal, the RfcComplianceException is thrown.

    public function routeNotificationForMail($notification)
    {
            \Log::debug([$this->email => $this->name]);
            return [$this->email => $this->name];
    }

[2022-02-09 18:12] driesvints commented on #40887
I'll have a look tomorrow.

[2022-02-09 18:45] NiclasvanEyk opened #40897 "Wrong/Too strict type annotation for `Collection::unique`"
- Laravel Version: 9.0.0
- PHP Version: 8.1.1
- Database Driver & Version: /

### Description:

Currently the [`$key` parameter](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Collections/Collection.php#L1531) of the `Collection::unique` method has the following type annotation:

[code]

So basically it can be
- a function that returns bool
- a string
- nothing at all

I think the fi

[2022-02-09 20:01] nunomaduro commented on #40897
@NiclasvanEyk Can you pull request the return `mixed` instead? Also, don't forget to adjust the tests on the `types` folder.

[2022-02-09 20:01] #40897 closed

[2022-02-09 21:25] nicolalazzaro commented on #40887
Comparing the arguments of the **Transport/Smtp/SocketStream.php** class.
What I noticed is that the argument "tls" is true even when the port is not the correct one, as in the comment below "465".
As a result the prefix ssl:// is added to the host and this generates the above error.

**Laravel**
Create a new Laravel v9.0.0 project

**Blank project**
Create a blank project and install the "symfony

[2022-02-09 22:28] akunbeben opened #40904 "deprecation notice on version symfony/finder:6.0"
- Laravel Version: 9.0.1
- PHP Version: 8.1.2
- Database Driver & Version:

### Description:
I see laravel/framework depends on Symfony and I just found **deprecation notice** in **Symfony/*:6.0** every time I run composer commands. based on Symfony code base, they already fixed it on version 6.1

here is the reference
https://github.com/symfony/symfony/commit/5b1fc1088e248e865e0eccba211e9ad684b7b

[2022-02-09 22:40] Brotzka opened #40905 "Getting error when trying to cast a model attribute to enum Call to undefined method App\\Enums\\UserType::from()"
- Laravel Version: 9.0.1
- PHP Version: 8.1
- Database Driver & Version: Mysql8

### Description:
I have a attribute on my user model named "type". This one should be casted to App\Enums\UserType.

My User-model:

[code]

And my Enum:

[code]

When I want to read one or more entries from my database I get the following error:

Of course it's obvious that I have to implement the static method `from

[2022-02-09 23:33] dwightwatson opened #40906 "Postmark mailer requires additional Symfony dependency"
- Laravel Version: 9.0.1
- PHP Version: 8.0.13
- Database Driver & Version: MySQL 5.6

### Description:
I've upgraded two Laravel 8 projects to Laravel 9. I use Postmark in production so replaced `wildbit/swiftmailer-postmark` with `symfony/postmark-mailer`. After deployment I started receiving this exception:

[code]

This wasn't mentioned in the upgrade docs, and I'm also a little surprised that

[2022-02-10 01:29] AlexJungCelmer opened #40909 "hasOneThrough debug on toSql method"
- Laravel Version:  8.19.0
- PHP Version: 7.4.13
- Database Driver & Version: MySql 5.7.24

### Description:
I have a hasOneThrough relationship.
I have the Models of "Brand", "Modelo", "Product" where "Brands" hasMany "Modelo" and "Modelo" hasMany "Product" the hasOneThrough is in "Product" to get the "Brand" of the "Product". I wanted to debug the generated SQL to be able to create some wheres t

[2022-02-10 01:34] X-Coder264 commented on #40904
This issue has nothing to do with Laravel as Laravel already requires the Symfony Finder version which has the fix for those deprecations in it.

The issue is with Composer as Composer is bundled with a very old Symfony version by default (the latest Composer version which is 2.2.6 at the time of writing is bundled with Symfony 2.8.52 -> https://github.com/composer/composer/runs/5069159180).

[The

[2022-02-10 01:39] AlexJungCelmer commented on #40909
If helps, here is my migrations

[code]

[code]

[code]

[2022-02-10 01:54] X-Coder264 commented on #40906
The Symfony postmark mailer package provides the HTTP API and SMTP transports. If you use the SMTP transport you don't need a HTTP client - it's optional so that's why it isn't a hard dependency. On the other hand Laravel 9 currently always creates (and I'm not sure why that choice was made) the HTTP API transport (and that's hardcoded in the MailManager class so there's no way currently to specif

[2022-02-10 02:00] X-Coder264 commented on #40905
You don't have to implement the `from` method. Eloquent casting works only with backed enums (which have that method by default). Basically what this means is that you have to give a value to each case in your enum for it to work as expected.

[https://www.php.net/manual/en/language.enumerations.backed.php](https://www.php.net/manual/en/language.enumerations.backed.php)

[2022-02-10 02:30] #40904 closed

[2022-02-10 03:12] dizco opened #40910 "[9.x] FTP file driver not properly documented and doesn't upload files (worked with v8)"
- Laravel Version: 9.0.1
- PHP Version: 8.1
- Database Driver & Version:

### Description:
3 things all related to FTP file driver
1. [Upgrade from 8.x to 9.x](https://laravel.com/docs/9.x/upgrade#flysystem-3) should probably document the fact that the Flysystem FTP adapter must now be added manually, as mentionned in #33612
[code]
<details>
<summary>Error details</summary>

[code]

</details>

2.

[2022-02-10 05:01] alexmck commented on #40906
@dwightwatson this does affect the Mailgun driver too.

[2022-02-10 05:18] ManojKiranAppathurai commented on #40909
Can you try this.

https://laravel-relation-helper.dev/

[2022-02-10 05:41] bashgeek opened #40914 "Possible removal of Google Font usage from default templates"
First of all, thanks for your hard work and congratulations on the 9.0 release!

Although it's not a bug, it's definitely something that should be considered for a future removal/replacement: Removing Google Font from the default exception templates and welcome page:
- https://github.com/laravel/framework/blob/b9203fca96960ef9cd8860cb4ec99d1279353a8d/src/Illuminate/Foundation/Exceptions/views/layo

[2022-02-10 07:11] themsaid commented on #40905
What @[X-Coder264](https://github.com/X-Coder264) said.

[2022-02-10 08:53] Brotzka commented on #40905
Thanks a lot!

[2022-02-10 08:53] #40905 closed

[2022-02-10 08:54] giggsey opened #40916 "[9.x] Mail Priority Error"
- Laravel Version: 9.0.1
- PHP Version: 8.0.14

### Description:

Mailable->priority() errors when being sent

Current:
[code]

Symfony Email class doesn't have `setPriority`, but instead `priority` function.

[2022-02-10 08:56] kushan2 commented on #28809
Try to delete vendor folder and run "composer install" again. should be fixed

[2022-02-10 09:08] driesvints commented on #40909
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-02-10 09:08] #40909 closed

[2022-02-10 09:25] pxlrbt opened #40919 "[8.x] ->toSql() on HasManyThrough relations differs from actual executed SQL"
- Laravel Version: 8.83.1
- PHP Version: 8.1.0
- Database Driver & Version: mysql  Ver 8.0.27 for macos11.6 on arm64 (Homebrew)

### Description:

The output of `->toSql()` differs from the actual run SQL when run on HasManyThrough relations. For HasMany & BelongsTo relations the output is the same.

### Steps To Reproduce:

[code]

`Client::find(1)->downloads()->get()` runs:

[code]

`Client::fin

[2022-02-10 09:32] eduardoalonsoalbella opened #40920 "[9.x] src/Illuminate/Validation/Concerns/ValidatesAttributes.php uses non-existing dependency SpoofCheckValidation"
- Laravel Version: 9.0.1
- PHP Version: 8.1.1
- Database Driver & Version: -

### Description:

Just upgraded to Laravel 9 and one of my tests failed, it seems `src/Illuminate/Validation/Concerns/ValidatesAttributes.php` [see here](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Validation/Concerns/ValidatesAttributes.php) uses the following non-existing dependency `Egulias\EmailValid

[2022-02-10 10:07] driesvints commented on #40914
Can you attempt a PR?

[2022-02-10 10:23] SamuelMwangiW commented on #40920
Seems to have been moved to `Egulias\EmailValidator\Validation\Extra\SpoofCheckValidation` in [egulias/EmailValidator/commit#cc695081fd08508604f257172da24c5d98c74132](https://github.com/egulias/EmailValidator/commit/cc695081fd08508604f257172da24c5d98c74132)

[2022-02-10 10:27] giggsey opened #40922 "[9.x] Unable to queue Mailable if using priority"
- Laravel Version: 9.0.1 (I think I saw this in 8.x too, but didn't investigate)
- PHP Version: 8.0.14

### Description:

If your Mailable has a priority (assuming the bug in #40916 has been fixed), then the message will fail to queue with:

[code]

This is because the priority setting is done through a callback within Mailable.

### Steps To Reproduce:

[code]

[2022-02-10 10:28] karimnaimy commented on #40895
Changing the return value of `routeNotificationForMail` function in the modal to match the `FROM_STRING_PATTERN `regex in `Symfony\Component\Mime\Address` is working as expected.

[code]

    //User Modal
    public function routeNotificationForMail($notification)
    {
      return "$this->name <$this->email>";
    }

[2022-02-10 10:28] giggsey commented on #40922
Moving `priority()` into the build function instead of the constructor works enough as a workaround, so maybe that's fine.

[2022-02-10 10:29] driesvints commented on #40895
Thanks for reporting. I've sent in a fix for this: https://github.com/laravel/framework/pull/40921

[2022-02-10 10:31] driesvints commented on #40922
Yes please move this to the build method. Thanks

[2022-02-10 10:31] #40922 closed

[2022-02-10 10:35] jnoordsij opened #40924 "[9.x] Regex validation rules for array items containing 'or' seperators cause ErrorException on input validation"
- Laravel Version: 9.0.1
- PHP Version: 8.1.2
- Database Driver & Version: irrelevant

### Description:
Using an or sign (`|`) within a regex validation rule for an array item breaks on Laravel 9.x. This works fine on Laravel 8.x.

It seems somewhere the rules are parsed and the `|` is interpreted as start of another validation rule instead of as being part of the regex rule, causing the parsed re

[2022-02-10 10:41] driesvints commented on #40906
The need for Symfony's HTTP client is noted in the suggest of Laravel's composer.json which should output when you install Laravel: https://github.com/laravel/framework/blob/9.x/composer.json#L162

However, this should be made clear in the docs and upgrade guide as well. I'll document this. Thanks

[2022-02-10 10:41] #40906 closed

[2022-02-10 10:44] eduardor2k commented on #40920
@SamuelMwangiW Thanks, fixing the namespace and my tests worked perfectly

[2022-02-10 10:45] driesvints commented on #40906
https://github.com/laravel/docs/pull/7694

[2022-02-10 10:56] stone-hem commented on #29373
Seems like the name is being hashed instead of the password

[2022-02-10 10:58] stefanfortuin opened #40925 "Custom reset password mail passes token instead of full reset url in callback"
- Laravel Version: 8.75
- PHP Version: 8.1.0
- Database Driver & Version: MySQL 8.0

### Description:
When making a custom reset password email using the "toMailUsing" function it generates the reset password url incorrectly.
In the callback we only get the reset token instead of the full url.

Making a custom verify email does give the full url.

### Steps To Reproduce:

[code]

The $url variable

[2022-02-10 11:00] driesvints commented on #40910
I already sent in a PR to document the driver requirement, thanks: https://github.com/laravel/docs/pull/7696

I'll look into the 3rd point now.

[2022-02-10 11:04] crynobone commented on #40925
This was attempted in the past and caused breaking changes to 3rd party packages using `ResetPassword::toMailUsing()`.

The solution needs to be able return green on https://github.com/crynobone/framework/blob/9.x/tests/Integration/Auth/ForgotPasswordTest.php

[2022-02-10 11:08] driesvints commented on #40925
We're not changing this because previous attempts broke Nova. But welcoming PR's that can solve this in a non-breaking way.

[2022-02-10 11:08] #40925 closed

[2022-02-10 11:42] jbrooksuk commented on #40924
You should wrap your `regex` rule in an array. For example, this will fail:

[code]

But this will pass:

[code]

[2022-02-10 11:46] jbrooksuk commented on #40924
Sorry, I see this is more nuanced as it's affecting nested rules only. I'll re-open whilst I investigate.

[2022-02-10 11:59] jnoordsij commented on #40924
The regex rule is actually in array form; I could understand that using something like `'contact.phonenumbers.*.type' => 'regex:/^(typeA|typeB|typeC)$/|required|string'` would be too ambiguous to parse, but the example I provided seems to comply with what the documentation intructs.

[2022-02-10 12:00] jbrooksuk commented on #40924
Right, this passes in 8.x but fails in 9.x.

[code]

[code]

[2022-02-10 12:38] frankdejonge commented on #40910
Hi @dizco,

Could you perhaps provide a little bit more information about your situation. What kind of FTP server are you talking to? Also, have you tried configuring the passive mode?

As a possible route, you could try using Flysystem directly, which should expose the underlying exception which may contain a little bit more information. While your issue is very descriptive, it doesn't have much

[2022-02-10 12:38] driesvints commented on #40887
Can everyone confirm they have their ports/SSL settings set correctly?

[2022-02-10 12:41] mattkingshott commented on #40887
I have this:

[code]

I attempted ports `25`, `2525`, `465` and `587`.

[2022-02-10 12:51] nicolalazzaro commented on #40887
Does sending the email work if you set the MAIL_ENCRYPTION option to null?

[2022-02-10 12:53] pindab0ter opened #40930 "[9.x] Route::resource doesn't leverage the new Controller Route Groups properly"
- Laravel Version: 9.0.0
- PHP Version: 8.1.2
- Database Driver & Version: n/a

### Description:

The `Route::resource` method doesn't leverage the new Controller Route Groups properly.

### Steps To Reproduce:

[code]

[2022-02-10 12:56] driesvints commented on #40930
This isn't supported. If you need to use resources you can't use the controller method.

[2022-02-10 12:56] #40930 closed

[2022-02-10 13:16] driesvints commented on #40887
I'm going to close this as there's an easy fix to the problem. We don't document port 2525 anywhere anymore it seems. I see the default settings from Mailtrap are incorrect as they recommend setting encryption to tls for port 2525. I suggest you contact them to fix that.

Thanks all.

[2022-02-10 13:16] #40887 closed

[2022-02-10 13:16] nicolalazzaro commented on #40887
This was not the case in the past, in fact if you copy the configuration from mailtrap it suggests that you set "tls" in the MAIL_ENCRYPTION option.

I think the problem lies in the interfacing with the new symfony library.

In @fabpot's comment below there should be the reason.
https://github.com/symfony/symfony/issues/34846#issuecomment-580190302

[2022-02-10 13:18] driesvints commented on #40887
This seems wrong to me

[2022-02-10 13:24] nicolalazzaro commented on #40887
If you use the symfony/mailer package,  add the prefix "ssl//:" to the host only with port 465, otherwise it is not added and the "tls" connection uses "starttls".

When using a different port it is not enabled to use the "ssl/:" prefix on the host.

This is what I was able to figure out.

<img width="1093" alt="Schermata 2022-02-10 alle 14 23 43" src="https://user-images.githubusercontent.com/261

[2022-02-10 13:26] driesvints commented on #40887
Yeah this seems like a change in behavior in Symfony Mailer to me. We'd welcome PR's to add something to the upgrade guide 👍

[2022-02-10 13:40] nicolalazzaro commented on #40887
@driesvints In Laravel 9 if you dump $this->stream->isTLS() in the first line before vendor/symfony/mailer/Transport/Smtp/SmtpTransport.php:252 you will always get true, even if the port is different from 465.

If you create an empty project and install the symfony/mailer package this does not happen, if the port is different from 465 then $this->stream->isTLS() returns false.

Around here should

[2022-02-10 13:48] GrahamCampbell commented on #40924
Is this issue specific to Laravel 9?

[2022-02-10 14:28] kieransimkin opened #40935 "App\Exceptions\Handler::renderForConsole() is ignored"
Please reopen ticket #23515 or at least update the Laravel documentation to explain why renderForConsole no longer works properly.

[2022-02-10 14:41] dizco commented on #40910
@frankdejonge does this help understand the issue?
![image](https://user-images.githubusercontent.com/7740408/153430090-332d074f-368e-4dd5-a82a-c941846fcdad.png)
![image](https://user-images.githubusercontent.com/7740408/153430106-375b4ad1-c836-42b7-a48e-dfb4a0799526.png)

Perhaps Laravel doesnt set the `root` option https://github.com/thephpleague/flysystem/blob/77adbc9815550b53f2be39a9cfea0807c7

[2022-02-10 14:42] kieransimkin opened #40937 ":("
Closing tickets without answering question raised - not good.

[2022-02-10 14:45] kieransimkin commented on #40935
Why close this ticket without an answer or reply? very unprofessional, the ticket you linked to does not solve the problem.

[2022-02-10 14:48] #40920 closed

[2022-02-10 14:58] nunomaduro commented on #40937
Answered here, to the question you had this morning: https://github.com/laravel/framework/pull/40936#issuecomment-1035014949.

[2022-02-10 14:58] #40937 closed

[2022-02-10 14:59] #40935 closed

[2022-02-10 15:28] dizco commented on #40910
I confirm that the fix for my issue was to uncomment the `'root' => ''` config for my FTP disk. Perhaps the only resolution for this issue would be to update the documentation to make sure that the `root` property is not optional.

[2022-02-10 15:37] rodrigopedra commented on #40924
@stevebauman in 8.x  when `$rule` was a regex and reached here:

https://github.com/laravel/framework/blob/4c7cd8c4e95d161c0c6ada6efa0a5af4d0d487c9/src/Illuminate/Validation/ValidationRuleParser.php#L85-L98

It was wrapped into an array, now it reaches here as a string, thus it gets on the first `if` clause that explodes it.

One other thing: if the regex validation rule is a top-level rule it wor

[2022-02-10 15:44] rodrigopedra commented on #40924
@stevebauman if we change this line:

https://github.com/laravel/framework/blob/4c7cd8c4e95d161c0c6ada6efa0a5af4d0d487c9/src/Illuminate/Validation/ValidationRuleParser.php#L145

back to as it was in 8.x

[code]

It works. From the blame this line was changed by you on PR #40498

I will run the tests with this change and report back

[2022-02-10 15:52] rodrigopedra commented on #40924
@stevebauman Changing it back as of my last comment makes these two tests fail:

[code]

I have an appointment in 10 minutes, so I will only be able to look into it further later. Hope it helps you out :)

[2022-02-10 15:58] dizco commented on #40910
I assume it does yes. I have set my field to empty string and it works now.

[2022-02-10 16:01] driesvints commented on #40910
This one adds a `/` as the root path so that's a bit different.

[2022-02-10 16:13] #40910 closed

[2022-02-10 16:16] frankdejonge commented on #40910
@dizco flysystem 3.0.4 has been tagged which ships the fix for this on my end. PR #40939 also fixes it from Laravel's end. A composer update would now fix your issue without changes on your end.

[2022-02-10 16:27] driesvints commented on #40887
@nicolalazzaro hmm odd. Would be happy to see what your findings are here...

[2022-02-10 16:42] #40919 closed

[2022-02-10 16:48] atomtigerzoo opened #40940 ".env.example - defaults for MAIL_FROM_ADDRESS"
Hi!
I hope that I'm at the right place here. I've upgraded an app to Laravel 9 and hit my head to the wall after like 45 minutes, after I found out that I did not had a default set in my `.env.testing` (copied from _.env.example_) and that failed a test to send out mails with the new Symfony mailer. I had one set in my default `.env` so didn't notice it in the real world.

I got this error in my t

[2022-02-10 17:04] dizco commented on #40910
That's awesome. Thanks everyone for your amazing reactivity!

[2022-02-10 18:23] nicolalazzaro commented on #40887
Port 465 should work correctly though, have you tried using the package "symfony/mailer" outside of laravel and testing sending the email? Otherwise it is a problem related to the configuration of your machine, you can also try gmail smtp which allows you to connect with port 465.

[2022-02-10 19:20] driesvints commented on #40940
I'm not sure that's correct? Afaik that env variable always needs to be set. I've always known things to fail without it being set.

[2022-02-10 19:20] #40940 closed

[2022-02-10 22:26] markuskooche opened #40946 "Incorrect deferred handling with Postgres"
I created a table according to the following principle:
[code]

It should not be possible to use the same `sequence` at the same post twice.
I have written this on the migration as follows:
[code]

However, it should be possible to swap the sequences.
Therefore, you need to use a transaction, which looks like this in plain SQL:
[code]

You have to create the UNIQUE key as follows:
[code]

However,

[2022-02-11 07:46] bhavinzwt commented on #22320
It is still not working for me after the above changed

[2022-02-11 07:50] nhedger opened #40952 "Issue overwriting default Http Client options using withOptions"
- Laravel Version: 9.0.2 (8.x also affected)
- PHP Version: 8.1.0
- Database Driver & Version: N/A

### Description:

Using the bundled `Http` Client, when passing a custom option using the `withOptions` method, _if a default value is already set_ for that option, they will be placed into an array containing both values instead of overwriting the default value with the provided one. This behavior

[2022-02-11 09:16] driesvints commented on #40952
Hey @nhedger, I think you're correct. I've sent in a PR for this although I'm not 100% it's a correct fix. Let's see how it goes.

https://github.com/laravel/framework/pull/40954

[2022-02-11 09:16] #40952 closed

[2022-02-11 11:02] #40854 closed

[2022-02-11 13:22] henryavila opened #40959 "MessageSent Event return wrong class"
- Laravel Version: 9.0.2
- PHP Version: 8.0.12

### Description:
The Event `Illuminate\Mail\Events\MessageSent` return a `Symfony\Component\Mime\Email` as message, but the corrected should be `Symfony\Component\Mailer\SentMessage`.

This object (`Symfony\Component\Mailer\SentMessage`) contains informations about the sent mail that can't be retrieved with  `\Symfony\Component\Mime\Email`.

One exam

[2022-02-11 14:35] #40924 closed

[2022-02-11 14:35] adampatterson commented on #22320
@marcosdipaolo  I can't even remember what project I was working on at the time but have a look at using [Laravel Sanctum](https://laravel.com/docs/8.x/sanctum)

[2022-02-11 15:39] driesvints commented on #40959
We're checking if https://github.com/laravel/framework/pull/40963 could fix things.

[2022-02-11 19:28] #40959 closed

[2022-02-11 19:45] driesvints commented on #40959
Thanks. We'll try to patch this soon!

[2022-02-11 20:39] jozydapozy opened #40966 "HasAttributes->isRelation() returns wrongly TRUE when a new style Accessor is present"
- Laravel Version: 9.0.2
- PHP Version: 8.0.15

### Description:
When calling `isRelation()` on a model, to test if a certain key is a relation, the function returns wrongly `true` when a Accessor-method is present.

### Steps To Reproduce:

[code]

And than, somewhere in your application call this
[code]

Since 'myname' is not a _relation_, but a _Accessor_, it is expected that `isRelation()` sho

[2022-02-11 22:00] jozydapozy commented on #40966
Thanks! Awesome! This fixes the issue indeed!

[2022-02-12 02:02] rykon97 opened #40971 ""preg_match(): No ending delimiter '/' found" with multiple array rule "example.*.*" in Request file"
- Laravel Version: 9.0.0
- PHP Version: 8.1.2
- Database Driver & Version:

### Description:
I have a rule in my request file:
[code]
When validations run I have an error: "preg_match(): No ending delimiter '/' found". I make rule with array pattern, but I have error. I think this throws only with "example.* rules, because when I checked for just "timeTo" rule, I have no error.
(Sorry for my Engli

[2022-02-12 08:35] brunoalfred opened #40973 "Connection could not be established with host "ssl://smtp-relay.sendinblue.com:587"..."
- Laravel Version: 9.0.1
- PHP Version: 8.1.2
- Database Driver & Version:

### Description:

Im using Sendinblue for mailing, the error appears as:

[code]

### Steps To Reproduce:

I added the following to my `.env` (both local and production):
[code]

And enabled email verification feature when registering user on jetstream.

- The Exception returned :

[code]
- With Message

[code]

[2022-02-12 09:02] it-can commented on #40973
Maybe try with ‘’’ MAIL_ENCRYPTION=null’’’

[2022-02-12 12:13] siarheipashkevich opened #40976 "Global contextual information doesn't included if set context per log"
- Laravel Version: 8.83.0
- PHP Version: 8.1.2
- Database Driver & Version: mysql 8.0.28

### Description:

Log doesn't include global context if we are setting context per log.

### Steps To Reproduce:

1) Set the context as written in the [documentation](https://laravel.com/docs/8.x/logging#contextual-information).
(I put this side by side just for example)

![Screenshot from 2022-02-12 15-07-30

[2022-02-12 13:14] fbsanchez opened #40978 "Laravel 9 command serve does not use custom .env file"
- Laravel Version: 9.0.1
- PHP Version: 8.0.15
- Database Driver & Version: php-mysqlnd-8.0.15-1.fc35 connected to mysql:8 (docker)  / sqlite3

### Description:

command `php artisan serve --env=testing` seems not to be working since it is still using default `.env` file instead.

### Steps To Reproduce:

With mysql running using default .env file (configured against mysql)
![image](https://user-i

[2022-02-12 13:17] fbsanchez commented on #40978
Git repository with the code used to take the screenshots:

https://github.com/fbsanchez/laravel-serve-bug

[2022-02-12 13:23] fbsanchez commented on #40978
Thought this issue affects `https://github.com/laravel/laravel` instead but I didn't see how to report it :sweat_smile:

[2022-02-12 14:38] derekmd commented on #40971
Related: https://github.com/laravel/framework/issues/40924

PR https://github.com/laravel/framework/pull/40941 will fix this once the v9.0.3 release is tagged.

[2022-02-12 18:02] Hesammousavi commented on #40973
i have this problem to
i set MAIL_ENCRYPTION=null but still have this error
[code]

[2022-02-12 18:29] it-can commented on #40973
And if you try laravel 9.0.2?

[2022-02-12 18:31] it-can commented on #40973
There is a fix here https://github.com/laravel/framework/issues/40887

[2022-02-12 20:02] Hesammousavi commented on #40973
@it-can
i checked it and i still get this error
[code]

[2022-02-12 21:11] brunoalfred commented on #40973
On my side i tried to change the port to 465 on section `MAIL_PORT` and the error is gone and emails are sent and delivered...
 - I hope this [#40887](https://github.com/laravel/framework/issues/40887) is one of ways to fix... Thanks @it-can
*i think its okay if i close the issue since the solution is attained.*

[2022-02-12 21:11] #40973 closed

[2022-02-12 21:34] andrey-helldar commented on #31303
Laravel 9.0.2

Same problem. `$request->getContent()` returns an empty string.

[2022-02-13 01:10] rykon97 commented on #40971
Ok, thanks!

I convert my rule to:
[code]

With 9.0.2 works good!

[2022-02-13 01:10] #40971 closed

[2022-02-13 06:16] amiralidevmoon opened #40985 "Could not find package laravel/laravel with version 8 in a version installable using your PHP version, PHP extensions and Composer version."
- Laravel Version: 9.0.0
- PHP Version: 8.1

### Description:
Hi I wanna install laravel 8 but whenever I execute this command "composer create-project laravel/laravel:^8.0 example-apps"
I'm getting this error  "Could not find package laravel/laravel with version 8 in a version installable using your PHP version, PHP extensions and Composer version."

but I have all the requirements. what is the i

[2022-02-13 14:54] Jubeki commented on #40985
I am using PHP `8.1.2` and used the command you provided. It then started to install Laravel `v8.6.11`

Still I would recommend you don't create a Laravel 8 Project anymore and start working directly on a Laravel 9 Project.

[2022-02-13 21:21] rimace commented on #40985
Can confirm it works as expected for me.
What version of PHP are you using? Sorry for asking that, but the Laravel version you provided in the first line is wrong (9.0), so I'm not sure if the PHP version is also a mistake.
I guess your environment does not have all the requirements. What PHP extension have you installed?

[2022-02-14 04:05] dityaaa opened #40993 "Laravel tinker and test is broken with enum"
- Laravel Version: 9.0.0
- PHP Version: 8.1.1
- Database Driver & Version: MySQL 8.0

### Description:
Using enum in test and tinker somehow cannot find the enum class.

### Steps To Reproduce:
First, we need to create enum class
![image](https://user-images.githubusercontent.com/25661768/153797722-e217bfcc-5ba8-457e-94f0-a192cfe4d7fe.png)

Then try to use it in tinker
![image](https://user-images

[2022-02-14 06:30] Develgold opened #40994 "whereRelation doesn't work with enum"
- Laravel Version: 9.0.2
- PHP Version: 8.1.0
- Database Driver & Version: Postgresql 13

### Description:
whereRelation doesn't work with enum

### Steps To Reproduce:
`Product::whereRelation('category', 'status', CategoryStatus::active)->get()`
`TypeError: strtolower(): Argument #1 ($string) must be of type string, App\Enums\CategoryStatus given`

[2022-02-14 08:12] i74ifa opened #40996 "When I get an error in validate, it takes me back to the welcome page"
- Laravel Version: 9.0.3
- PHP Version: 8.0.14
- Database Driver & Version: mysql  Ver 8.0.28-0ubuntu0.20.04.3 for Linux on x86_64 ((Ubuntu))

### Description:
I'm working on the api and when I get an error in validate it return to the welcome page
I can solve it temporarily when I enter it in ```try``` and ```catch```

### Steps To Reproduce:
[code]
+ request with email duplicate

[2022-02-14 08:28] donnysim commented on #40993
Works fine for me, maybe try `composer dump`?

[2022-02-14 09:05] dityaaa commented on #40993
Well well. Apparently I need to take a cup of coffee to see better. Silly me because of short opening tag

![image](https://user-images.githubusercontent.com/25661768/153832740-c9c40ae5-c750-4102-9ec4-4b7a143f95f7.png)

[2022-02-14 09:05] #40993 closed

[2022-02-14 09:29] driesvints commented on #40996
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-02-14 09:29] #40996 closed

[2022-02-14 09:29] driesvints commented on #40994
Indeed, this isn't supported (yet).

[2022-02-14 09:35] driesvints commented on #40985
Seems like this works as expected. Thanks @Jubeki & @rimace.

[2022-02-14 09:35] #40985 closed

[2022-02-14 10:10] driesvints commented on #40978
@ugorur seems like your PR broke this? https://github.com/laravel/framework/pull/37142. Can you confirm you added a bad negation there?

[2022-02-14 10:12] driesvints commented on #40976
Seems like the Slack channel doesn't supports this yet. You're always free to attempt a PR. Thanks

[2022-02-14 10:12] #40976 closed

[2022-02-14 11:06] #40966 closed

[2022-02-14 12:46] nagaralsomesh commented on #18398
@codeaken did you find any solution for this?...I also got the same issue for me i also wanted to access global variable from the job in the failed function as you are doing....Can you please tell me did you find any solution for this?

[2022-02-14 13:18] ijpatricio opened #41004 "Eloquent `appends` can only use `getXXXAttribute` notation, not `XXX()` (returning an `Attribute` object)"
- Laravel Version: 9.0.2
- PHP Version: 8.1.2
- Database Driver & Version: mysql 8

### Description:

In an `Illuminate\Database\Eloquent\Model::appends`, it seems that I can't use a method that returns an `Illuminate\Database\Eloquent\Casts\Attribute`.

### Steps To Reproduce:

For instance, on a `User` model, if we have:

[code]

it will fail with message:

<img width="1280" alt="image" src="htt

[2022-02-14 13:39] driesvints commented on #41004
You need to use the suggestion from above. Thanks @alecpl.

[2022-02-14 13:39] #41004 closed

[2022-02-14 13:40] ijpatricio commented on #41004
It does!

I feel stupid now! So sorry!!

Thanks!!

[2022-02-14 13:56] themrflibble commented on #34643
I had `Builder $query` as the parameter, when I removed `Builder` it solved this issue.

[2022-02-14 15:29] henryavila commented on #40959
Amazing. Thanks @driesvints

[2022-02-14 21:31] boomhq commented on #24263
No idea why i have closed it. Bug always here for me.

At this time quick fix with :

`<?php

namespace App\Override\Queue;

use Illuminate\Queue\Failed\DatabaseFailedJobProvider;
use Illuminate\Support\Carbon;

class DatabaseFailedJobFixedUnicodeProvider extends DatabaseFailedJobProvider
{
    /**
     * Log a failed job into storage. Override a cause d'un bug de encodage empechant le log du fail

[2022-02-14 22:09] driesvints commented on #24263
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-02-14 22:09] #24263 closed

[2022-02-15 00:14] monaye opened #41016 "Queue Failed_jobs issue with Exception contain UNICODE"
- Laravel Version: 8.12
- PHP Version: 8.1.2
- Database Driver & Version: MySQL 5.7

### Description:
Failed to insert the entry into failed_jobs when Exception contains multi bytes character. In my case, Guzzle throw a ClientException with the 400 bad requests.

[code]

### Steps To Reproduce:
Just throw the exception from Job with the message that was encoded in a non-UTF8 encoded string. someth

[2022-02-15 00:16] monaye commented on #24263
@driesvints I opened the new issue here with steps to reproduce https://github.com/laravel/framework/issues/41016

@boomhq do you want to open the PR for the fixes?

[2022-02-15 07:01] boomhq commented on #24263
@monaye I don't think that's the cleanest way to do it. Because forcing "utf8_encode".

For my fix just place the first file in  App\Override\Queue;
And the second on App\Service provider, (or call from AppServiceProvider)

[2022-02-15 08:36] driesvints commented on #41016
I don't get this with the following job:

[code]

I don't know why you're using `mb_convert_encoding`? Don't think you need that. You just need to put in the message as the argument of the exception. It seems to me you're trying to use an exception message in a way that's unintended.

[2022-02-15 09:24] GTS-MEGHNI opened #41023 "No ending delimiter '#' found in file"
- Laravel Version: 9.0.2
- PHP Version: 8.1.2
- Database Driver & Version: Mysql 8.0.28

### Description:
The regular expression validation does not work when applying it on nested attributes

### Steps To Reproduce:
Having a payload like :
[code]

Having a form request with the array rules like :
[code]
With the constant
`const COLOR_HEX_CODE_PATTERN = '#^([0-9A-F]{3}|[0-9A-F]{6}|[0-9A-F]{8})$#';

[2022-02-15 09:40] driesvints commented on #41023
This is fixed in the framework version that'll be released today. Thanks

[2022-02-15 09:40] #41023 closed

[2022-02-15 11:21] zlodes commented on #41023
@driesvints could you please link the commit here?

[2022-02-15 11:22] driesvints commented on #41023
https://github.com/laravel/framework/pull/40941

[2022-02-15 11:34] sebastiaanluca opened #41027 "Faking HTTP client endpoints in combination with disabling or mocking events clears the faked endpoints"
- Laravel Version: 8.82.0
- PHP Version: 8.0.14
- Database Driver & Version: N/A

### Description:

Faking HTTP client requests before calling `$this->withoutEvents()` (or expecting an event which calls that method) will clear the faked HTTP client requests and execute real requests.

### Steps To Reproduce:

A simple test case with an event assertion and a fake API call that **fails** (HTTP calls

[2022-02-15 12:10] cAstraea commented on #32556
Does anyone have more info on this please ? I'm trying to "convience" my tests to run under "testing" env but no matter what I do   dd(getenv("APP_ENV")) always returns "local"  and phpunit.xml and .env.testing are throughly ignored. Now I'm starting to second guess if the DB_DATABE in .env.testing is not getting ignored also ? :S

I have a command that uses an external api and I don't want to mak

[2022-02-15 13:07] utsarajoro opened #41032 "Exception thrown when dispatching a job"
- Laravel Version: 9.0
- PHP Version: 8.1
- Database Driver & Version: mysql & v8

### Description:
This error occurs when i use queue job (at dispatching)
![image](https://user-images.githubusercontent.com/99734788/154067990-5033ede6-3c4f-4830-a722-b145043d1835.png)

### Steps To Reproduce:

[2022-02-15 13:08] driesvints commented on #41032
Seems to happen in Ignition. Please open an issue on their repo.

[2022-02-15 13:08] #41032 closed

[2022-02-15 13:09] sebastiaanluca commented on #41027
I set up a new repo as per the instructions and all tests **pass on v9**. I was able to **recreate the bug on v8.82.0** however.

https://github.com/sebastiaanluca/laravel-http-client-stubbing-bug/commit/86b9b21f1b8f0583457bb90e7fc16a8ae977354b#diff-bf8716d87187a8d398de2025c450a83abfc8c8f2516f2fd7241ec8bcd7f27f98

[2022-02-15 14:02] monaye commented on #41016
@driesvints To reproduce, you need to encode the message to other than UTF-8.

[2022-02-15 14:05] smknstd opened #41035 "Log handler class not found when logging deprecation warnings"
- Laravel Version: 8.80
- PHP Version: 8.1
- Database Driver & Version: mysql 8

### Description:

When trying to use [deprecation logging feature](https://laravel.com/docs/8.x/logging#logging-deprecation-warnings), some of my endpoint crashes with error 500 and nothing is catched in laravel's logs. I found this in `/var/log/nginx/myproject-error.log `:

[code]
It looks pretty similar to https://g

[2022-02-15 15:46] Naoray opened #41041 "MySQL driver might modify custom casted date"
- Laravel Version: 9.0.2
- PHP Version: 8.0.2
- Database Driver & Version: MySQL v5.7, 8 & 10

### Description:
Setting a custom date format which does not follow the American approach and list the year first, will be altered when the related model is saved to the MySQL DB driver. I went ahead and created a PR that adds a failing test in #41040.

### Steps To Reproduce:
[code]

[2022-02-15 16:07] driesvints commented on #41041
Let's work from your PR, thanks

[2022-02-15 16:07] #41041 closed

[2022-02-15 16:07] nunomaduro commented on #41035
@smknstd I will need you to send me the **full** error output.

[2022-02-15 16:22] troy-whitespark opened #41042 "Model::loadCounts does not work correctly when relationship contains a join"
(recreating this as an issue, as requested in my pull with a failing test)

- Laravel Version: 8+
- PHP Version: 8+
- Database Driver & Version:

### Description:

This problem stemmed from a real issue I was having building relationships that are scoped to particular "locations" in my application.

The issue is, loadCounts and withCounts both create a new subquery and copy the wheres, but they do

[2022-02-15 17:09] nunomaduro commented on #41035
Are you running the latest version of monolog? Do you mind upgrading that package?

[2022-02-15 17:37] smknstd commented on #41035
I think it is the last version. From composer lock:

[code]

[2022-02-15 17:43] driesvints commented on #41016
Re-opening this, thanks

[2022-02-15 19:35] kalberto opened #41044 "PendingRequest breaks if we pass connect_timeout with withOptions"
- Laravel Version: 9.0.0
- PHP Version: 8.1.2
- Database Driver & Version:

### Description:

If we create a client with the following code it will not work:
[code]

Because the PendingRequest class now has a default connect_timeout in the constructor

### Steps To Reproduce:

Create a new client:
[code]
Make a get request:
[code]

[2022-02-15 20:20] derekmd commented on #41044
Related: https://github.com/laravel/framework/issues/40465

A new `connectTimeout()` method was [added](https://github.com/laravel/framework/pull/40466):

https://laravel.com/docs/9.x/http-client#timeout

[code]

[2022-02-15 20:22] #41044 closed

[2022-02-15 21:47] IllyaMoskvin commented on #34296
We'd like this functionality, too. We do scheduled imports of paginated API data in batches using queues. We keep our imports grouped by batches, so that we can e.g. cancel the whole batch when we detect that something is majorly wrong. We'd also like to prioritize the _importing_ of already-downloaded data over the _downloading_ of new data.

In our application, `DownloadPage` adds `ImportData` t

[2022-02-15 22:15] taylorotwell commented on #40978
I actually can't recreate the issue. Does your `.env.testing` file actually contain `APP_ENV=testing`. If not - add it - that solves the root issue for me.

[2022-02-15 22:15] #40978 closed

[2022-02-15 23:10] fbsanchez commented on #40978
Hello @taylorotwell by adding `APP_ENV=testing` instead local this seems to be working fine

Thank you!

[2022-02-16 00:12] WyattCast44 commented on #40940
Just to add an additional datapoint, I also ran into this issue when upgrading to Laravel 9 -- updating the `MAIL_FROM_ADDRESS` from `null` to `random.email@domain.com` worked for me.

The `mail.php` file does have a default value but it is not being applied because the default `.env` value is set to null, a simple fix would be to set the `MAIL_FROM_ADDRESS=` to nothing to allow the default value

[2022-02-16 03:05] shinsenter opened #41049 "ViewServiceProvider.php: Call to a member function get() on array"
I got this error with Laravel 9 on PHP 8.1.

[code]

https://github.com/laravel/framework/blob/4b478a60d629861244aa8242abc2d376d9ece6e7/src/Illuminate/View/ViewServiceProvider.php#L91

[2022-02-16 03:19] #41049 closed

[2022-02-16 04:50] tejirimakel commented on #35122
try downgrading from npm install --save-dev parallelshell@3.0.2 to npm install --save-dev parallelshell@3.0.1

[2022-02-16 08:56] Bodrosh commented on #10533
The creation of the UserService model helped me (I have tables Users and Services):
UserService.php:
`namespace App\Models;
use Illuminate\Database\Eloquent\Relations\Pivot;
class UserService extends Pivot
{
    protected $casts = [
        'data' => 'array',
    ];
}
`

[2022-02-16 09:02] Bodrosh commented on #10533
The creation of the UserService model helped me (I have tables Users and Services, laravel 9):
UserService.php
`<?php
namespace App\Models;
use Illuminate\Database\Eloquent\Relations\Pivot;
class UserService extends Pivot
{
    protected $casts = [
        'data' => 'array',
    ];
}`

User.php
` <?php
public function services()
    {
        return $this->belongsToMany(Service::class)

[2022-02-16 09:14] KhaledLela opened #41052 "Laravel 8 parameters in middle of route not working on Linux OS, but working on macOS"
- Laravel Version: 8.83.1
- PHP Version: 7.4.16
- Database Driver & Version:

### Description:

 I got an error with `Laravel framework` after upgrade from `v7 to v8` routes contains parameters on the middle of path like below example doesn’t working on server `(Linux OS)`, But works on local env `(macOS)`

    Route::put('resources/{id}/publish', 'ResourceController@publish');

[code]
When move t

[2022-02-16 09:19] hmazter commented on #41035
I encountered the same error in our staging environment this morning after upgrading to framework version 8.83.1.
Could not get it to trigger locally though.

monolog versions: 2.3.5

We use `LOG_DEPRECATIONS_CHANNEL=stderr`

[2022-02-16 09:38] hmazter commented on #41035
@smknstd Do you have Sentry or some other exception handling service?
Trying to guess if that has any effect

[2022-02-16 09:50] smknstd commented on #41035
Great point ! Yes, we have getsentry/sentry-laravel 2.11

[2022-02-16 14:08] KhaledLela commented on #41052
Issue wasn't related to laravel, it was nginx config with wrong location matching pattern to proxy_pass to S3,
So this `resources/{id}/publish` route matches wrongly with S3 proxy_pass and error thrown from S3 not laravel.

[2022-02-16 14:08] #41052 closed

[2022-02-16 14:46] #41016 closed

[2022-02-16 14:56] Rickkie commented on #33238
How did you get this to work?

[2022-02-16 17:55] sergiq opened #41060 "Laravel 9 - Attach a file in an mail from a valid URL results in error"
- Laravel Version: 9.1.0
- PHP Version: PHP 8.1.2

### Description:
In Laravel 8, and previous one, you could attach a file from a given URL. Since Laravel 9 this throws an error. Furthermore, it's not possible to embed a file from a given URL inside the blade view with $message->embed()

[code]

Error trace
[code]

### Steps To Reproduce:

For attach method:
1. Create a mail file
2. Attach a file

[2022-02-16 18:54] xorock opened #41062 "Laravel 9, Postgres can't change search_path to valid schema"
- Laravel Version: 9.1.0
- PHP Version: 8.1.2
- Database Driver & Version: PostgreSQL 14.1 (Debian 14.1-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit

### Description:
I am trying to change the search_path to the current schema and unfortunately neither queries nor migrations work. Laravel fails to connect to the database on the defined schema.

###

[2022-02-16 21:14] cannycookie opened #41065 "Middleware added via pushMiddlewareToGroup on L9 does not fire"
- Laravel Version: 9.1.0
- PHP Version: 8.1
- Database Driver & Version: mysql 8.0.27

### Description:
In my package this code is working on Laravel 8
[code]

But on laravel 9, the web middleware group is updated with the ``ForceRedirectToUnapprovedConsents::class`` but it does not fire.

If I manually add the class into ``App\Http\Kernel.php`` middleware web group everythings peachy.

This works

[2022-02-16 23:53] derekmd commented on #41062
Character `-` in `test-db` is the issue.

https://github.com/laravel/framework/blob/171f65d2bf43fb82b7a4fe2ec769f94e962d912c/src/Illuminate/Database/Connectors/PostgresConnector.php#L127-L133

It looks `PostgresConnector`'s parsing of `config('database.connections.pgsql.search_path')` doesn't cover every accepted Postgres symbol character.

[code]

**which should be `[["test-db"]]`.**

---

Funnil

[2022-02-17 00:38] ettdro commented on #28311
Also works for me, but I forgot to use the middleware in my App\Http\Kernel.php so it was never called. I just added it in `middlewareGroups` (that's where it goes for my case) and it works perfectly now. I messed around for a lot of time to simply realise I was actually not using it.

[2022-02-17 06:37] xorock commented on #41062
This is also funny because, according to this code, when I pass search_path as array it will work - which looks like a nice workaround temporarily.

But.... also looking at method below https://github.com/laravel/framework/blob/171f65d2bf43fb82b7a4fe2ec769f94e962d912c/src/Illuminate/Database/Connectors/PostgresConnector.php#L150

It looks potentially buggy. It uses count($searchPath) and according

[2022-02-17 07:48] driesvints commented on #41062
@derekmd can you maybe PR that?

[2022-02-17 07:51] driesvints commented on #41065
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-02-17 07:59] hmazter commented on #41035
This is our `config/logging.php`

[code]

[2022-02-17 08:36] nunomaduro commented on #41035
@hmazter Can't reproduce your issue. But aren't you missing an `emergency` channel there?

https://github.com/laravel/laravel/blob/4a6229aa654faae58f8ea627f4b771351692508c/config/logging.php#L114

[2022-02-17 08:41] driesvints commented on #41035
I'd also recommend against modifying the logging.php file like that. It's best that you leave the defaults in place.

[2022-02-17 08:44] hmazter commented on #41035
There was no `emergency` when we created the app back in Laravel 6.
And it has worked, probably since the emergency logger has a fallback in the code
https://github.com/laravel/framework/blob/7ba34a8aa63a36601df9b301e96937b103be363b/src/Illuminate/Log/LogManager.php#L173-L178

[2022-02-17 08:46] driesvints commented on #41035
@hmazter you should always update config files when upgrading Laravel versions. Tools like Laravel Shift can greatly help with this.

[2022-02-17 08:46] nunomaduro commented on #41035
@hmazter Can you create the `emergency` channel and let me know how it goes @hmazter ?

[2022-02-17 08:47] hmazter commented on #41035
And unfortunately, I can't reproduce it locally either, so I have no way to inspect what the initial exception is.

Totally agree with you.
Only that the config for the emergency logger, in this case, is what is the default in the code any way.

But I'll add the emergency logger and test.

[2022-02-17 09:01] smknstd commented on #41035
here is the whole `config/logging.php`:

[code]

[2022-02-17 09:06] hmazter commented on #41035
Did a deploy with this config (changed the path for emergency logger since I'm running in docker/AWS ECS and `storage_path` is not writable)
[code]

And I'm getting this stacktrace
[code]

I'm sorry I don't have more info to work with

[2022-02-17 09:12] hmazter commented on #41035
Wild speculation, bit seems that the first call to `createEmergencyLogger` tries to autoload StreamHandler (`#54-#56` in the stacktrace) and that causes the new exception with `StreamHandler not found`.

So, something breaks during autoload?

[2022-02-17 09:32] Mishanki opened #41070 "Class "Illuminate\Log\Logger" not found"
- Laravel Version: 8.83.1
- PHP Version: 8.1.0
- Database Driver & Version: Pgsql

### Description:

**When calling a non-existent routing**

local.ERROR: Class "Illuminate\Log\Logger" not found {"userId":10,"exception":"[object] (Error(code: 0): Class \"Illuminate\\Log\\Logger\" not found at /var/www/vendor/laravel/framework/src/Illuminate/Log/LogManager.php:180)

### Steps To Reproduce:

Call an

[2022-02-17 09:52] driesvints commented on #41070
This will be fixed in the next patch release.

[2022-02-17 09:52] #41070 closed

[2022-02-17 10:06] hmazter commented on #41035
Just a note, I get the same behavior even if I'm removing the calls to Sentry.
And I did not think that was the problem since the exceptions got reported as expected to Sentry.

This is the shorter stack trace that is dumped by the server

[code]

[2022-02-17 10:45] nihilsen opened #41076 "The @aware tag doesn't get default property values from parent components"
- Laravel Version: v8.83.1
- PHP Version: 8.1.1
- Database Driver & Version: MariaDB 10.6.5

### Description:
It appears the new `@aware` tag cannot access default property values from parents. It can only get properties that were explicitly given. If a parent component has a property that was left as the default, the corresponding property in the `@aware` tag of a child component will be `null`.

[2022-02-17 15:49] #41060 closed

[2022-02-17 15:56] sergiq commented on #41060
Thanks @driesvints for your answer. A work arround for attach directly a file is calling

[2022-02-17 16:08] driesvints commented on #41076
This, unfortunately, isn't possible. It's a limitation of `@aware` that we can't overcome. The values in `@aware` need to be the same as in the parent component.

I've sent in a PR to clarify this: https://github.com/laravel/docs/pull/7721

[2022-02-17 16:08] #41076 closed

[2022-02-17 21:57] #41062 closed

[2022-02-18 10:40] driesvints commented on #41065
Feel free to post that link to a test repo and I'll reopen this.

[2022-02-18 10:40] #41065 closed

[2022-02-18 12:33] marvinrabe opened #41098 "Eloquent: firstWhere returns Object instead of NULL"
- Laravel Version: 8.83.x, 9.0.x
- PHP Version: 8.1.1
- Database Driver & Version: Postgresql 10

### Description:

When calling the firstWhere() method of a Model with the second Parameter being "-" and when there is no database entry with "-" it returns a seemingly random Model object.

Probably it assumes "-" is the operator and value is "null". Which is not correct.

### Steps To Reproduce:

F

[2022-02-18 12:38] marvinrabe commented on #41098
I provided a Pull-Request that seems to fix this issue: #41099

[2022-02-18 13:06] driesvints commented on #41098
I think this is Postgres specific behavior? I get `null` back on MySQL.

[2022-02-18 13:21] alecpl commented on #29280
Still MailFake::raw() is an empty method in Laravel v9.

[2022-02-18 13:59] marvinrabe commented on #41098
@driesvints It is still a Laravel bug though.

Try something different (this one should work in MySQL too):
[code]

You are expecting it is looking for a user with name `=`. But it does something completely different. The query looks something like this:

[code]

When using `where` and `first` it gives you a different result:

[code]

This one does the correct query:

[code]

Passing 2 arguments t

[2022-02-18 14:08] driesvints commented on #41098
Hah, I finally managed to reproduce that, thanks.

[2022-02-18 14:16] marvinrabe commented on #41098
The problem only occurs when the value (passing it as `$operator`) is a valid Operator according to the specific `\Illuminate\Database\Query\Grammars\Grammar`. Otherwise it is fixed on this line:

https://github.com/laravel/framework/blob/dbcb3a2e8d771fcc4002580a84ea107de128bf00/src/Illuminate/Database/Query/Builder.php#L730-L732

[2022-02-18 14:34] marvinrabe commented on #39834
@ismailnakkar Probably the same issue as #41098. Are your enums valid operators like `=`?

[2022-02-18 14:47] driesvints commented on #41098
@marvinrabe that seems more of a feature request to me.

[2022-02-18 14:47] zarunet opened #41102 "Storage::delete(null) throws a TypeError"
- Laravel Version: 9.1.0
- PHP Version: 8.0.15
- Database Driver & Version: n/a

### Description:
Since Laravel 9, calling `Storage::delete()` with a path that resolves to `null`, the following exception is thrown:
[code]

This is in contrast to Laravel 8 and earlier, which simply returned `false`.

Looking at the code, it looks like Flysystem 3.x has a `string` type-hint on their `delete()` metho

[2022-02-18 14:54] driesvints commented on #41102
The docblock of that methods mentions you can only pass a `string` or `array` so there's no bug here. You should pass the correct type in userland.

[2022-02-18 14:54] #41102 closed

[2022-02-18 15:00] zarunet commented on #41102
I'm ok with that. However, the behavior *did* change between versions. Should a mention about it be added to the upgrade guide?

[2022-02-18 16:42] driesvints commented on #41027
Sorry @sebastiaanluca, didn't get to this this week. I'll have another look next week.

To already reply a bit: I vaguely remember that this has been the case in previous Laravel versions indeed. Maybe attempt to find a PR that fixes it in v9? It could be that the PR contained breaking changes which is why it maybe didn't land in 8.x. I also think I remember other issues being posted about this so

[2022-02-18 19:05] henryavila opened #41111 "Model Serialization on queue don't respect attribute cast"
- Laravel Version: 9.1.0
- PHP Version: 8.0.15

### Description:
When a model is serialized to add a notification to queue, on unserialize, the relationship of the main model don't respect the cast.

### Steps To Reproduce:
[code]

When I try to send this notification with
[code]

I get
![image](https://user-images.githubusercontent.com/8429941/154745409-bb0f4d9c-7cd5-40cc-a223-ed3170f36c4d.png)
T

[2022-02-18 20:57] derekmd commented on #41027
Related PR: https://github.com/laravel/framework/pull/36716

The `MocksApplicationServices` trait (that defines methods `expectsEvents()` and `withoutEvents()`) has been marked deprecated in place of fakers since the 8.x branch: https://github.com/laravel/framework/blob/8.x/src/Illuminate/Foundation/Testing/Concerns/MocksApplicationServices.php#L12

These methods are also no longer covered by the

[2022-02-18 21:35] browner12 commented on #35700
https://laravel.com/docs/9.x/upgrade#updating-dependencies

composer remove fideloper/proxy

[2022-02-19 09:57] Rasool-deldar opened #41116 "please delete the message -> validation"
- Laravel Version: 9.1.0
- PHP Version: 8.1.2
- Database Driver & Version:

### Description:
![image](https://user-images.githubusercontent.com/58503211/154796017-1d17feb1-ae63-4648-9290-5edbb3a39e7c.png)

Hello, good morning, I am using validation and it has an extra data - please delete the message, there is extra data in the request, it sends

### Steps To Reproduce:

[2022-02-19 12:26] kido1611 opened #41119 "Laravel 9 - Error when sending email with priority using MailMessage"
- Laravel Version: 9.1.0
- PHP Version: 8.0.8

### Description:
Sending email with priority using Illuminate\Notifications\Messages\MailMessage cause error:
[code]
This is because calling wrong function name. Need to replace from `setPriority()` to `priority()` in Illuminate\Notifications\Channels\MailChannel:146

[2022-02-19 14:42] Jubeki commented on #41119
This was fixed in Laravel 9.0.2 so just run `composer update`

[2022-02-19 15:03] kido1611 commented on #41119
I'm sorry, I'm typo when writing laravel version and the class name. I have edit it.

[2022-02-19 17:27] nausixkiz opened #41122 "[Laravel 9] static::creating didn't happen when boost"
- Laravel Version: `9.1.0`
- PHP Version:
`
PHP 8.0.15 (cli) (built: Jan 21 2022 04:34:55) ( NTS )
Copyright (c) The PHP Group
Zend Engine v4.0.15, Copyright (c) Zend Technologies
    with Xdebug v3.1.2, Copyright (c) 2002-2021, by Derick Rethans
    with Zend OPcache v8.0.15, Copyright (c), by Zend Technologies
`
- Database Driver & Version: `MariaDB 10.6.4-MariaDB Homebrew`

### Description:

I

[2022-02-19 20:12] derekmd commented on #41122
`Menu::insert()` for many models will not fire Eloquent events. It would only be fired on `Menu::create()` of a single instance.

Given your example `Menu` model, `UuidTrait`, `menus` database table, and an empty `MenuFactory` definition, I was able to call `App\Menu::factory()->create()` and have it successfully create a single model and fill the `uuid` attribute via the Eloquent 'creating' hook.

[2022-02-20 01:16] nikans commented on #37854
I'm using ["Advanced" method](https://laravel.com/docs/9.x/eloquent-relationships#advanced-has-one-of-many-relationships) to fetch one-of-many (from Postgres with UUIDs).
I hoped that I'll be off the hook, but for some reason, Eloquent still wants to query IDs even if I fetch hasOne this way:

[code]

@driesvints so I believe the only property that should be queried here is `date_expires`.

[2022-02-20 10:03] driesvints commented on #41122
Thanks @derekmd

[2022-02-20 10:03] #41122 closed

[2022-02-20 10:11] driesvints commented on #41111
Thanks @rodrigopedra

[2022-02-20 10:11] #41111 closed

[2022-02-20 10:13] driesvints commented on #41027
Thanks @derekmd, that's what I was looking for. @sebastiaanluca please see @derekmd's response why these two can't be combined. It's probably also best that we remove that trait in Laravel v10.

[2022-02-20 10:13] #41027 closed

[2022-02-20 14:11] nausixkiz commented on #41122
Thanks @derekmd
It worked like a charm when call `boot{TraitName}()` magic method

[2022-02-20 15:10] pushpak1300 commented on #37854
@nikans its not like that.
@cbl has write the blog for implementation for one of many.
it will use id's to query the records

[2022-02-20 16:43] PiranhaGeorge opened #41128 "When updating with a qualified updated_at column, the current time is still persisted"
- Laravel Version: 8.64.0
- PHP Version: 7.4
- Database Driver & Version: MySQL 8.0.20

### Description:

When the `updated_at` column is manually updated using a qualified column name, the current time is still persisted. If the column name is not qualified, it works as expected.

### Steps To Reproduce:

This works:
[code]

But this results in the `updated_at` column being set to the current tim

[2022-02-21 08:15] driesvints commented on #41128
Gonna see how @rodrigopedra's PR goes. Thanks for reporting.

[2022-02-21 08:15] #41128 closed

[2022-02-21 08:54] webbby commented on #40827
What do you mean you don't know, of course you do that's how the method works!
It's a simple check by operator concatenation of the columns provided by the first argument of the method in the generated query

[code]

[2022-02-21 09:03] driesvints commented on #40827
@webbby if you think this can be improved you're welcome to send in a PR 👍

[2022-02-21 09:08] christianjburger commented on #40873
Spent some time debugging this issue after upgrading a project from Laravel 8. In our case it was a property being passed from a controller:

### Steps to reproduce

[code]

[2022-02-21 09:39] cbl commented on #37854
@nikans `date_expires` is not a unique attribute, there might be rows with the same value for that attribute. Those duplicates are filtered by using a unique key on them.

[2022-02-21 11:43] henryavila commented on #41111
Thanks @rodrigopedra, I forgot about `$keyType` property.
Its working. Thanks again!

[2022-02-21 14:30] driesvints commented on #41119
A PR was sent in for this, thanks @Jubeki

[2022-02-21 14:30] #41119 closed

[2022-02-21 14:50] FranciscoCaldeira opened #41139 "Failed to rollback db to original column type."
- Laravel Version: 8.77.1
- PHP Version: 7.4.3
- Database Driver & Version: mysql & innodb_version 10.5.5

### Description:
You can migrate with tinyText(), but can't rollback to tinyText(), because causes an `Doctrine\DBAL\Exception`.

### Steps To Reproduce:
Create a migration that on `down()` method has a [tinyText()](https://laravel.com/docs/9.x/migrations#column-method-tinyText). Do a `php ar

[2022-02-21 15:07] keizah7 opened #41141 "Exception css is not applied"
- Laravel Version: 9.1
- PHP Version: 8.1.1

### Description:
Exception style is not applied

### Steps To Reproduce:

[laravel-2022-02-21.log](https://github.com/laravel/framework/files/8110212/laravel-2022-02-21.log)
[index.txt](https://github.com/laravel/framework/files/8110245/index.txt)

![image](https://user-images.githubusercontent.com/49227202/154980374-970bd60a-fffd-4012-93de-ad6d49e0aeb3

[2022-02-21 15:30] saeeddirect1 opened #41143 "getAwsTemporaryUrl() method does not pass the $options to $client->createPresignedRequest()"
- Laravel Version: 9.1.0
- PHP Version: 7.4.4
- Database Driver & Version: MariaDB 10.3

### Description:

**Some Background:** We wanted to create S3 temporaryURL for future such as a temporary signed url that is allowed in a specific time window e.g. tomorrow 00:00 to 23:00.  Upon research, we found put that Aws S3 allows "start_time" value to be set when sending presigned url request.

We know

[2022-02-21 15:52] driesvints commented on #41143
`getAwsTemporaryUrl` doesn't exists in Laravel v9. What method do you mean?

[2022-02-21 15:53] driesvints commented on #41143
If you pass $options as the third param for `createPresignedRequest` does it work for you?

[2022-02-21 16:03] aneesdev commented on #41143
It exists in laravel 8.x.

[2022-02-21 16:05] aneesdev commented on #41143
yes we tried to add it like this and it worked

[code]

[2022-02-21 16:06] aneesdev commented on #41143
@driesvints same thing in Laravel 9.x... the `temporaryUrl()` method takes $options array but doesn't pass it to `->createPresignedRequest()` method

[2022-02-21 16:08] aneesdev commented on #41143
@driesvints maybe we can allow a fourth argument $presignedOptions array instead of existing $options which gets merge with:

[code]

[2022-02-21 16:17] saeeddirect1 commented on #41143
My bad, I meant 8.x

But even in 9.x, $options array is not passed to createPresignedRequest() in temporaryUrl() in AwsS3v3Adapter::class

[2022-02-21 16:30] driesvints commented on #41143
This sounds more like a feature request. Feel free to send in a pr to 9.x 👍

[2022-02-21 16:30] #41143 closed

[2022-02-21 18:07] 1giba commented on #35749
thx @benswinburne

I had the same issue.

[2022-02-21 19:03] ju5t opened #41151 "strtolower() warning in the query builder"
- Laravel Version: 9.1.0
- PHP Version: 8.1.1
- Database Driver & Version: MySQL 8

### Description:

A little reluctant to call this a bug but we're seeing warnings in production (hooray for the log deprecations channel!).

[code]

### Steps To Reproduce:

I didn't see a trace but I'm guessing this is triggered in the `where` method, as we short-cut it often, but I have not been able to pin-point

[2022-02-21 19:25] gguney commented on #41151
`    /**
     * Determine if the given operator is supported.
     *
     * @param  string  $operator
     * @return bool
     */
    protected function invalidOperator($operator)
    {
        return ! in_array(strtolower($operator), $this->operators, true) &&
               ! in_array(strtolower($operator), $this->grammar->getOperators(), true);
    }`

This part of the code threw that error. I

[2022-02-21 19:27] SiL3NC3 opened #41152 "Sending mail not working, tinker hanging when trying to use sendmail via Laragon (Win10)"
- OS: Windows 10
- Laravel Version: 8.75
- PHP Version: 7.4.27
- Database Driver & Version: sqlite

### Description:
I trying around getting sendmail (Laragon) to work, but without luck.
File '.env' got adjusted to use sendmail instead of smtp on a fresh laravel project.

### Steps To Reproduce:

- created new laravel project
`laravel new test`
- adjusted .env file:
[code]
- run command:
`php arti

[2022-02-21 19:40] SiL3NC3 commented on #41152
working php example added

[2022-02-21 19:53] driesvints commented on #41152
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-02-21 19:53] #41152 closed

[2022-02-21 21:08] Yszty opened #41153 "$connection property not working in Migration."
- Laravel Version: 8.75
- PHP Version: 8.1
- Database Driver & Version: mariadb

### Description:

After declaring `protected $connection = 'mysql_external';`  Schema facade still using default connection, but should declared in `$connection` property.

So, fix the framework or change documentation... https://laravel.com/docs/8.x/migrations#setting-the-migration-connection

I see the problem exist

[2022-02-21 22:17] ju5t commented on #41151
I found what's causing this and it is in fact an error from our end, however, I still think this is a bug.

For simplicity, our query looks like this (with expanded variables):

[code]

The order for the `where` method is:

- Check for invalidOperator(), calling what you've mentioned @gguney. If it's null, `strtolower()` warns about it.
- Later on there is an `is_null` check that catches our null

[2022-02-21 22:24] #41151 closed

[2022-02-22 01:47] hailwood opened #41154 "Cannot rename a timestamp column "Too-big precision 10 specified""
- Laravel Version: 9.1.0
- PHP Version: 8.0.5
- Database Driver & Version: Mysql 8.0.19

### Description:
Attempting to use `$table->renameColumn('service_starts_at', 'sort_date');` on a timestamp column (created using `$table->timestamp('service_starts_at')->nullable();`) fails with the following error

### Steps To Reproduce:

1. Add a new `timestamp()` column to a table via a migration.
2. Atte

[2022-02-22 01:51] Eugene-Melbourne opened #41155 "TrustProxies middleware + Log façade mockery in phpunit = status code 500"
- Laravel Version: v8.83.1
- PHP Version: 7.4.27
- Database Driver & Version: no

### Description:

Some unknown error in mocked Log façade in unit tests is returning http response 500 when \App\Http\Middleware\TrustProxies::class middleware is attached.

It was all working fine for me, but it got broken when I upgraded 3 of my composer packages

  - Upgrading laravel/framework (v8.73.2 => v8.83.1

[2022-02-22 06:41] derekmd commented on #41153
Mar 2021 comment from Taylor about the state of things: https://github.com/laravel/framework/issues/36596#issuecomment-799784094

`$connection` alone can't be used to configure a secondary database. `Schema::connection()` is required too:

[code]

or:

[code]

[code]

---

This docs section was added last year: https://github.com/laravel/docs/commit/f3f5a24aa228290d69404f4f4fbdb41a4b0b7d1b

![conn

[2022-02-22 08:15] driesvints commented on #41154
We don't maintain the code that changes columns, we use Doctrine DBAL for that. Please open an issue on their repo.

[2022-02-22 08:15] #41154 closed

[2022-02-22 08:18] driesvints commented on #41153
Thanks @derekmd. I feel like your PR can be attempted. If Taylor rejects it we can maybe look into a docs update.

[2022-02-22 08:18] #41153 closed

[2022-02-22 08:19] driesvints commented on #41155
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-02-22 08:19] #41155 closed

[2022-02-22 09:12] DeepDiver1975 commented on #41155
Just in case somebody else is coming across this issue - it seems that https://github.com/laravel/framework/commit/c48540dfa84f94189b353035315b4470d1c8b344 is causing this in case deprecated code is used.

For me and obviously the original reporter TrustProxies was using deprecated code:
[code]
which I replaced with
[code]

[2022-02-22 09:13] DeepDiver1975 commented on #41155
While this fixes the symptom it feels wrong to me ... :shrug:

[2022-02-22 10:47] sebastiaanluca commented on #41027
@derekmd Thanks for the answer and detailed explanation! Much appreciate it.

@driesvints Would've loved a deprecation warning for this 😅  I see that was mentioned in one of the comments on the PR and marked as a PHPStorm bug, but almost a year has passed and they haven't fixed it AFAIK. I anticipate this will cause quite a bit of confusion and frustration for those relying on the old methods and

[2022-02-22 10:51] ImChriz commented on #41153
I am also affected by this issue. Will this problem be addressed in the near future or should I look for a solution myself?

[2022-02-22 10:52] driesvints commented on #41153
@ImChriz see the convo above

[2022-02-22 10:59] stillzombie commented on #37646
@themsaid
hi, i dont know this looks like uncommented thing that maybe it could be added on the upgrade list, in my case i struggle for a week trying to figure out a similar issue, i have a multi tenant app now running on laravel 9, that all the jobs are stored on the landlord connection and then when i handle the job i store some events or anything into the tenant connection, before in laravel 8

[2022-02-22 11:19] stillzombie opened #41163 "Jobs uses a sticky pdo connection, causing "Call to a member function prepare() on null" issues"
- Laravel Version: 9.1.0
- PHP Version: 8.1.2
- Database Driver & Version: mysql

### Description:
Having a multi tenant application where jobs are stored on a "landlord" connection and later on processed on a "Tenant" connection, i believe this sticky pdo causes a lot problems,

lets imagine this flow:

on Tenant app we dispatch a job this job is store on the landlord db and when a worker pick up

[2022-02-22 12:15] stillzombie commented on #41163
Well digging on the source code i started to doubt that the sticky has something to do, so im a bit lost what is the cause of this error

[2022-02-22 12:26] driesvints commented on #41163
This sounds like a userland issue rather than a framework issue. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat/?nick=laravelnewb

[2022-02-22 12:26] #41163 closed

[2022-02-22 13:42] stillzombie commented on #41163
solved thank you indeed was a userland issue,

so in my job i needed to auth a user so i was using

Auth::loginUsingId($this->userId);

for some weird issue this was causing the issue i mention, i changed my code to use

auth()->onceUsingId($this->userId);

this solved my issues maybe cause the sessionguard when using "loginUsingId" it sends some header and make the pdo sticky and using onceUsingI

[2022-02-22 15:28] aedart opened #41180 "Unable to insert resource (stream) into table for MySQL, or SQLite database"
- Laravel Version: 8.x | 9.x
- PHP Version: 7.4.x | 8.x
- Database Driver & Version: MySql, SQLite

### Description:

When attempting to store a large file into a database table, e.g. a large photo, the database `Connection` does not bind a `resource` correctly, for MySQL and SQLite. Yet, for Postgresql it works?

### Steps To Reproduce:

[code]

The above example works when using Postgres connect

[2022-02-22 16:29] lucaspanik opened #41182 "Atomic lock control in multiple environments with the same cache server"
- Laravel Version: 8.48.1
- PHP Version: 7.4.21
- Database Driver & Version: mysqlnd 7.4.9

### Description:

#### [TL;DR]

The same cache server used in the production and staging environment prevents the schedule from working correctly with `->onOneServer()` because the generated mutex key to perform an atomic lock does not take into account the environment in which the schedule is running, caus

[2022-02-22 16:37] kellerjmrtn opened #41183 "Method flash() not defined in \Illuminate\Contracts\Session\Session"
- Laravel Version: 9.1.0
- PHP Version: 8.1.2
- Database Driver & Version: MariaDB 10.4.13

### Description:
The function `session()` in `\Illuminate\Http\Request` has a return type of `\Illuminate\Contracts\Session\Session`. However, this interface does not define the `flash()` function, which is implemented in `\Illuminate\Session\Store`. In practice, this results in calls like `$request->sessio

[2022-02-22 17:34] gguney commented on #41183
I guess this is userspace issue. I did not get this error.

[2022-02-22 18:02] X-Coder264 commented on #41183
@gguney This is not a "userspace" issue. Laravel 9 (correctly) changed the return typehint of the `session` method from `\Illuminate\Session\Store` to `\Illuminate\Contracts\Session\Session` and that contract indeed does not have the `flash` method on it so it's no wonder that IDEs are complaining about it.

https://github.com/laravel/framework/blob/v8.83.2/src/Illuminate/Http/Request.php#L508
htt

[2022-02-22 18:20] driesvints commented on #41183
Thanks @X-Coder264

[2022-02-22 18:20] #41183 closed

[2022-02-22 20:02] cooperinho opened #41184 "Links containing Response for file downloads are broken"
- Laravel Version: 8
- PHP Version: 7.3

### Description:

I am creating a download link and sending it by Mail to a user, then the button contains a link to the download route with the file id.

I am trying to download a file from Amazon S3 using `Illuminate\Support\Facades\Response;`:
[code]

But I encounter an odd behavior: The link opens a blank page in the browser, and the address bar says Un

[2022-02-22 20:23] derekmd commented on #41184
https://laravel.com/docs/8.x/filesystem#downloading-files

The disk instance has a `download()` method to stream binary downloads and avoid bringing complete file contents into PHP memory:

[code]

[2022-02-22 21:45] cooperinho commented on #41184
I tried that as well, but getting the same behavior: blank page opens with Untitled in the address bar and after refresh then it downloads it and closes the tab

[2022-02-22 23:12] krixnaas opened #41185 "Upgrading Laravel 5.5 to 5.6 gives error on PackageManifest.php"
- Laravel Version: 5.6.*
- PHP Version: 7.4

### Description:
Upgrading steps by steps until Laravel version-8. Gives the error in PackageManifest.php.
I wonder how GitHub file of Laravel https://github.com/laravel/framework/blob/5.6/src/Illuminate/Foundation/PackageManifest.php
is different than composer installed file "laravel/framework": "5.6.*" on local machine.

### Steps To Reproduce:
Tried

[2022-02-23 00:04] Eugene-Melbourne commented on #41155
`DeepDiver1975`, thank you very much for your reply.
Yes, the proposed solution does fix the issue.

But this is very wrong.

I find the [ upgrade guide ](https://laravel.com/docs/9.x/upgrade#the-assert-deleted-method) that talks about deprecating `HEADER_X_FORWARDED_ALL` . It is an upgrade guide to get to version 9 of Laravel. I'm still using Laravel v8.83.1

I'm particularly upset with `driesvin

[2022-02-23 00:10] rodrigopedra commented on #41185
Laravel version `5.6` is not supported anymore.

As such,o I think it is better seek for help on the support channels:

https://laravel.com/docs/9.x/contributions#support-questions

Out of my head, the only thing I can suggest is to check if you are using composer v2 or v1. Probably it doesn't work with v2.

[code]

But I guess you already tried that.

Another tip, as you seem to want to upgrade t

[2022-02-23 01:30] krixnaas commented on #41185
@rodrigopedra
Thankyou for your response.

[2022-02-23 03:00] ankurk91 commented on #41182
The lock key should use the prefix from config

[2022-02-23 07:50] #41185 closed

[2022-02-23 09:16] sathiyad opened #41194 "Timestamp column being updated for all the update() on the data."
- Laravel Version: Laravel Framework 8.49.2
- PHP Version: 7.4.15
- Database Driver & Version: 10.4.17-MariaDB

### Description:
I have created a customized subscription model (not Laravel Cashier).
the Migration as below
[code]
and the user model (User.php) relations and methods connected to subscriptions as below
[code]

on this update line : `$this->subscriptions()->update(['is_active' => false

[2022-02-23 09:26] Temepest74 opened #41195 "Laravel contextual binding does not work with form request"
- Laravel Version: 8.83.2
- PHP Version: 8.1.1

Laravel contextual binding does not work with requests, my example will demonstrate what do I mean.
[code]
Now, If I use the below code inside RouteServiceProvider, the ControllerB won't have the RequestA bound to it.
[code]

[2022-02-23 10:26] X-Coder264 commented on #41155
There's no issue here. The Laravel deprecation handling is now behaving exactly as expected as of https://github.com/laravel/framework/commit/c48540dfa84f94189b353035315b4470d1c8b344

On the other hand `HEADER_X_FORWARDED_ALL` is a Symfony constant which has been deprecated as of Symfony 5.2.  Laravel 8.0.0 shipped with Symfony >= 5.1 so that's why there's no mention of that in the Laravel 8 upgra

[2022-02-23 10:36] DeepDiver1975 commented on #41155
From developer experience point of view it is inconvenient that deprecated code somewhere in the code base is resulting in a mock no longer working properly. I think we can agree on this - right?

[2022-02-23 10:46] X-Coder264 commented on #41155
On a general basis I can agree that it is inconvenient for a mock to suddenly stop working.
In this concrete example though I'd say the problem is with the mock/test itself.

Calling `\Log::shouldReceive('error')->once();` and then calling a route where the entire application executes is:

1) very fragile by definition and was bound to sooner or later break like it just did
2) brings zero value to

[2022-02-23 10:56] DeepDiver1975 commented on #41155
I can answer this with: it depends ;-)

It could be a quite valid part of a feature test to assert that log messages are written - various scenarios can come to one's mind.

[2022-02-23 11:03] X-Coder264 commented on #41155
No, it does not "depend". This "issue" is a great example of how/why this is a bad idea. There's nothing that more specific/scoped tests like unit or integration tests couldn't cover that you would actually need a feature test for regarding logging.

[2022-02-23 16:48] rodrigopedra commented on #41195
Contextual binding works for classes' constructors or resolved from the container using `app()->make(...)` for example.

Controller actions are not resolved from the container.

One option is to resolve it on the controller itself:

[code]

Another is to seek help in the support channels:

https://laravel.com/docs/9.x/contributions#support-questions

[2022-02-23 17:28] lucaspanik commented on #41182
Thanks for the reply @ankurk91

By default Laravel uses `APP_NAME` for the prefix of the keys, maybe it should already use` APP_ENV`, right?

Or is my case considered an isolated case? Because I don't see the need for a small application to have two Redis servers for both environments (production and staging), only a single Redis server would be able to handle it if Laravel's default configuration

[2022-02-23 19:22] X-Coder264 commented on #41195
@rodrigopedra The request and other services that are typehinted on a controller action method ARE resolved from the container using `$container->make();`

https://github.com/laravel/framework/blob/v9.2.0/src/Illuminate/Routing/ControllerDispatcher.php#L40
https://github.com/laravel/framework/blob/v9.2.0/src/Illuminate/Routing/RouteDependencyResolverTrait.php#L80

I don't think contextual binding

[2022-02-23 20:10] JexPY opened #41207 "MySqlGrammar::getBitwiseOperators does not exist."
- Laravel Version: 8.83.2
- PHP Version: 8.0.12
- Database Driver & Version: 10.3.31-MariaDB-0+deb10u1

### Description:
[code]

### Steps To Reproduce:
For me, this error was caused while running jobs.

[2022-02-23 20:27] lkgitacc commented on #41184
I was also thinking about it but then I did not see any warning/error in the browser

[2022-02-24 00:16] tontonsb opened #41211 "Attribute/relation precedence on models is inconsistent"
- Laravel Version: 9.1.0
- PHP Version: 8.1.3

### Description:

When accessing an attribute on model (`$model->attr`) the [magic getter](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L417) looks for a value in roughly the following order:

1. Accessors
2. Casts
3. Value in the `attributes` array
4. Relation

However, when [serializing](h

[2022-02-24 00:16] rodrigopedra commented on #41195
Thanks for the heads up @X-Coder264 , I know that as you can read on this phrase:

Maybe what is confusing on my text is the usage of **"or"** instead of **"and"**. It was late down here and I had phrased it first in a different way and I might have overseen how the phrase ended.

I meant that it wouldn't work for non-constructors methods. But your comment makes it way clearer, thanks :)

[2022-02-24 00:19] rodrigopedra commented on #41195
One more thing the code snippet I was referring to when I wrote

https://github.com/laravel/framework/blob/6c0d272a914b43b72056bde1eab9275f6e5093e5/src/Illuminate/Routing/ControllerDispatcher.php#L38-L49

Which as you can see shows that controller actions are not resolved from the container.

Maybe I could have phrased it better.

[2022-02-24 00:20] hailwood commented on #41154
Hi @driesvints,

Happy to open an issue there but I'd like to confirm that this really is their problem as Doctrine DBAL doesn't have a native TimestampType so **Laravel maintains [Illuminate\Database\DBAL\TimestampType](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Database/DBAL/TimestampType.php)**.

In there we [specifically check if the Column definition has a precision](https:/

[2022-02-24 01:00] derekmd commented on #41184
It may also be a web browser caching issue from a S3 download failing once earlier. `Response::make(Storage::disk('s3')->get(...))` wouldn't have set HTTP header `Content-Disposition: attachment; filename="filename.xlsx"` which hints to browsers the file should be saved locally. The `download()` method adds this. After changing to call `Storage::disk('s3')->download(...)`, the browser may have ret

[2022-02-24 01:42] derekmd commented on #41211
I don't think this is an edge case the framework has ever explicitly supported? If there's a conflict, one of the two must be renamed.

For the second example, `setRelation()` can be used when applying a relation filter while keeping the same name:

[code]

[code]

I don't understand examples 1 & 3 from a real world perspective.

[2022-02-24 01:43] Manriel opened #41213 "Wrong parse of search path for table in different schemas of PostgreSQL Builder."
- Laravel Version: 9.0.x
- PHP Version: not related with php version
- Database Driver & Version: not related with driver

### Description:

https://github.com/laravel/framework/blob/6c0d272a914b43b72056bde1eab9275f6e5093e5/src/Illuminate/Database/Schema/PostgresBuilder.php#L200

I suppose that this one line should be like in other places of the same file:
`
      $this->connection->getConfig('sea

[2022-02-24 01:58] X-Coder264 commented on #41195
Yeah, the entire sentence `controller actions are not resolved from the container` was confusing, as of course a method cannot be resolved from the container as the container can only resolve objects.

[2022-02-24 02:13] shinsenter opened #41214 "EloquentBuilder::addNestedWiths overwrites previous `with()` clauses"
The `EloquentBuilder::addNestedWiths()` overwrites previous `with()` clauses.

https://github.com/laravel/framework/blob/6c0d272a914b43b72056bde1eab9275f6e5093e5/src/Illuminate/Database/Eloquent/Builder.php#L1428~L1430

With the example code below, when `$show_rating_users = true;` the where condition for `ratings` will be overridden:

[code]

[2022-02-24 02:15] derekmd commented on #41213
You'll want to fill out the [issue template](https://github.com/laravel/framework/blob/9.x/.github/ISSUE_TEMPLATE/1_Bug_report.md) or this will be closed. When fixing https://github.com/laravel/framework/pull/41088 I didn't even see `parseSearchPath()` is (mostly) copypasta'd into a second class so that must be fixed too.

[2022-02-24 06:41] rodrigopedra commented on #41195
@X-Coder264 this is what I wanted to mean. Thanks!

Sorry English is not my native language. Have a nice day =)

[2022-02-24 07:24] cooperinho commented on #41184
Thank you guys,
@derekmd good to know it did work, so the issue might be something local.
@tben I have checked and it did not show up anything though

[2022-02-24 07:56] tontonsb commented on #41211
The first is not real world, just a minimum reproducible example without any setup. The third, I agree, is "wrong use"/abuse of the framework, but I've seen it in actual apps.

Yes, that's the standard workaround. But it's an undocumented workaround around an undocumented pitfall. I doubt that it would be enough to add a note "to set the relation properties you should use `setRelation` because the

[2022-02-24 09:41] driesvints commented on #41207
Most likely, you need to restart your queues when deploying new code because this was added to the release you mentioned here: https://github.com/laravel/framework/pull/41112/files#diff-7ea7f749a25a923af9ac94f5fabe101c9bbbc98e448f97eeed773da965042a8cR1327

[2022-02-24 09:41] #41207 closed

[2022-02-24 09:44] driesvints commented on #41195
We'd welcome a PR to make that more clearer in the docs. Thanks for helping out @X-Coder264 @rodrigopedra 👍

[2022-02-24 09:44] #41195 closed

[2022-02-24 09:46] driesvints commented on #41214
This is intended. It's not meant to call that twice.

[2022-02-24 09:46] #41214 closed

[2022-02-24 09:48] driesvints commented on #41214
I've sent in a PR to the docs to clarify this: https://github.com/laravel/docs/pull/7744

[2022-02-24 09:50] driesvints commented on #41194
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-02-24 09:50] #41194 closed

[2022-02-24 09:51] driesvints commented on #41194
Thanks @MehdiAroui

[2022-02-24 09:51] shinsenter commented on #41214
@driesvints
Thank you for the comments.
I think the code logic was inconsistent so this was confusing.

The above example is just a simple code block to reproduce the issue. In my project, the `with()` function is called multiple times in different contexts, then unexpected errors occurred.

[2022-02-24 09:59] driesvints commented on #41182
So I believe this is the actual issue. It's not wanted or intended to use the same resources (a single redis server) for two different environments. The way environments work is like you say, production, staging, etc. But accessing the same resources like a redis server for both production and staging is unwanted imo. You'd never want to share that to prevent your production resources be borked be

[2022-02-24 09:59] #41182 closed

[2022-02-24 10:46] MaoX17 opened #41223 "route resource rename attribute with "um" suffix"
- Laravel Version: 8.75
- PHP Version: 8.1.3
- Database Driver & Version: mariadb 10.5.10

### Description:
with this route:
Route::resource('chiamata', 'App\Http\Controllers\ChiamataController');

i have the follow result:
| App\Http\Middleware\Authenticate                   |
|        | GET|HEAD  | chiamata/{chiamatum}                         | chiamata.show              | App\Http\Controllers\C

[2022-02-24 10:49] driesvints commented on #41223
We use the doctrine inflector for this. If you think this is an issue please open an issue on their repo.

[2022-02-24 10:49] #41223 closed

[2022-02-24 11:47] driesvints commented on #41184
Seems like this works for other repliers so I doubt this is a bug with Laravel. Feel free to continue the discussion here if you need help. Thanks @derekmd & @tben

[2022-02-24 11:47] #41184 closed

[2022-02-24 11:57] driesvints commented on #41154
@hailwood we accepted a PR to add that class to cater to people's needs for such a type. But we don't actively maintain it. Please feel free to send in a PR if you think a fix is in order, thanks.

[2022-02-24 12:46] driesvints commented on #41180
I think we'd be open to also implement this for other engines. Can you send a PR? Thanks

[2022-02-24 12:46] #41180 closed

[2022-02-24 13:55] driesvints commented on #41211
An attribute and relationship should never have the same name. This is not supported.

[2022-02-24 13:55] #41211 closed

[2022-02-24 14:56] aedart commented on #41180
Hi @driesvints

I can try. Could you please answer the following:
- which proposed solution would you like?

[2022-02-24 15:00] #41213 closed

[2022-02-24 15:16] driesvints commented on #41180
Think the first one. For 9.x because 8.x is closed for new features.

[2022-02-24 15:36] aedart commented on #41180
Alright then - I'll get started as soon as time permits it.

[2022-02-24 17:47] rodrigopedra commented on #41223
@MaoX17

As a workaround you can override the parameter inflection:

[code]

see: https://laravel.com/docs/9.x/controllers#restful-naming-resource-route-parameters

[2022-02-24 23:36] edsonfeimberg opened #41240 "Mail subject does not work when using queue:work"
- Laravel Version: 8
- PHP Version: 8
- Database Driver & Version: mysql

### Description:

I just experienced a problem where for no reason the subject of my emails was not being sent. Googling i found this resource:

https://stackoverflow.com/questions/61836901/laravel-mailable-subject-not-working-if-i-queue-the-mailable

Where it was stated that the problem could be solved by using queue:listen

[2022-02-25 01:23] derekmd commented on #41240
You'll need to share your mailable class code and the `Mail` facade call.

The below example shows the expected email subject line is correctly set for both commands `queue:work` and `queue:listen`.

---

### App\Mail\Foo.php

[code]

### resources/views/mail/foo.blade.php

[code]

### .env

[code]

### Laravel Tinker

[code]

### command line

Run `php artisan queue:work`, then repeat the above s

[2022-02-25 02:50] bernardwiesner opened #41241 "Possible bug/dynamic behaviour in .env and schedule:run"
- Laravel Version: 8.31.0
- PHP Version: 7.4

### Description:
If this is a known issue feel free to close this.

Different .env files get loaded when running `php artisan schedule:run` and when running a command directly if you have set `APP_ENV` and have a corresponding environment file.

So for example if you have .env 2 files:

`.env`
[code]

`.env.production`
[code]
And I have a task such as

[2022-02-25 05:21] bilalswiftsolutions opened #41242 "ParseError: syntax error, unexpected 'EnvironmentInterface' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) in /var/www/html/coldxlogistics/vendor/league/commonmark/src/MarkdownConverter.php:26"
- Laravel Version: 8.83
- PHP Version: 7.3
- Database Driver & Version: 5.7

### Description:
I am sending Notification in  my controller and it was working fine before now suddenly it satrts giving error

[code]

### Steps To Reproduce:

I don't know about reproducing this bug . But I think is because of php version may be. because on my local php 8  is install and on that it is working fine. But

[2022-02-25 06:50] WebKenth commented on #41242
@bilalswiftsolutions  why are you using php 8 locally if your production server is running 7.3?

What's your deployment strategy? since the exception hints at a classloader problem have you tried running `composer dump` ?

Do you have any caching layers on your production server? opcache?

[2022-02-25 06:55] WebKenth commented on #41241
@bernardwiesner  what is inside the `foo` command? sounds like it doesn't take the environment type into consideration, maybe it is loaded outside of a normal console command scope?

The `schedule:run` is expected to adhere to the APP_ENV type

it is expected behaviour for the application to load .env files based on `APP_ENV`

Documentation quote:

https://laravel.com/docs/9.x/configuration#additi

[2022-02-25 08:14] bernardwiesner commented on #41241
@WebKenth
Yes docs are correct, however the issue relates to schedule:run passing the APP_ENV to the foo task, however when running foo task from console outside schedule:run there is no APP_ENV being passed, causing the dynamic behavior.

If I ssh into the server and do `php artisan foo` there is no APP_ENV being passed.

[2022-02-25 08:19] driesvints commented on #41242
Please use the same PHP version in development as you do in production.

[2022-02-25 08:19] #41242 closed

[2022-02-25 08:20] driesvints commented on #41240
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-02-25 08:20] #41240 closed

[2022-02-25 08:20] driesvints commented on #41240
Thanks @derekmd

[2022-02-25 08:27] driesvints commented on #41241
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-02-25 08:27] #41241 closed

[2022-02-25 08:28] WebKenth commented on #41241
Which leads me to believe the command `foo` is not properly populated if it does not pass the environment type

They are running in two different contexts

I can expand your theory, i just added 3 .env files and ran a few tests

if you add a `.env.dev`
and run `php artisan foo --env="dev"` it will grab the `.env.dev` file
running `php artisan foo --end="production"` grabs the `.env.production`
run

[2022-02-25 08:29] bernardwiesner commented on #41241
Ok so this is expected? I would think it's better to always pass same .env regardless if running from console directly or from scheduler.

[2022-02-25 08:33] bernardwiesner commented on #41241
@WebKenth
Yes you are correct, the issue comes with the schedule:run. Did you try the scenario I demonstrated above?

Have your task inside a schedule and then run the scheduler with `pho artisan schedule:run`, it will use the .env.production rather than the .env.

The issue relates to schedule:run executing foo task vs running foo task directly, behavior is different, when you would expect it to

[2022-02-25 08:46] WebKenth commented on #41241
I would expect the `schedule:run` to take the .env.production

not the .env file as that would be a fallback environment file

When you manually decide to run `php artisan foo` you are running in a context outside of the application and must therefore specify which environment you wish to run it as (hence the --env option)

If you run your task via a scheduler, you expect the scheduler to run with

[2022-02-25 09:29] bernardwiesner commented on #41241
@WebKenth
I understand your point, but let me give you an example where this becomes an issue.

Let's say inside your Kernel file you are checking redis and depending on that you execute certain tasks. Inside .env your cache driver is set to file while inside .env.production it's set to redis.

Do you see the issue? When schedule:run starts it will run inside of .env context, and check file for ca

[2022-02-25 09:37] WebKenth commented on #41241
I am confused, you say `schedule:run` switches context, it does not ? it run's with the same application context and a regular http request. unless you decide to switch the context manually by running `php artisan schedule:run --env="development"` doing runtime if it switches context that is application logic and laravel is not responsible for your custom conventions

running a `php artisan` witho

[2022-02-25 09:48] bernardwiesner commented on #41241
@WebKenth
Maybe there is still a misunderstanding. Not sure how to get it across correctly.

`php artisan schedule:run` uses .env by default. However when it executes the tasks declared inside Kernel it has the context of .env that includes APP_ENV, so that is passed to the task and the task is executed as if you were to run it with `APP_ENV=production php aritsan foo`.

So schedule:run uses .env

[2022-02-25 09:50] WebKenth commented on #41241
@bernardwiesner  That is not how you described it in your description
![image](https://user-images.githubusercontent.com/13419123/155693721-0d986c2a-a402-4467-b267-4ebe88c67a75.png)
You have swapped the logic

[2022-02-25 09:51] bernardwiesner commented on #41241
@WebKenth
Yes the scenario I am giving now is a different one, but it relates to the same issue of dynamic context related to .env

[2022-02-25 09:53] WebKenth commented on #41241
New issue then

This issue describes a stand alone command running in a different environment than the `schedule:run` context

As is the expected behaviour

You are now swapping your original statement to say that `schedule:run` in fact runs in the wrong context

These are two seperate accusations and issues

[2022-02-25 10:04] zlatevbg commented on #39182
@driesvints
I experience similar problem when the Laravel application directory path contains dot character like:
`curl -s https://laravel.build/laravel.test | bash`

the output from the bash shell is:
[code]
because the server is returning 404 Error.

If I clear my browser cache the first time I open this URL [https://laravel.build/laravel.test](https://laravel.build/laravel.test) in my browser I

[2022-02-25 10:17] driesvints commented on #39182
@zlatevbg I'll have a look soon.

[2022-02-25 10:18] bernardwiesner commented on #41241
@WebKenth
Well sure I can open another issue with that scenario. To me they are similar issues related to schedule:run switchings environment context when running child tasks. I would expect if I run schedule with .env that child tasks are also run with .env.

I don't really see how the second scenario is much different from the first, it relates to the exact same issue.

[2022-02-25 10:22] bernardwiesner commented on #41241
@WebKenth
I appreciate though you took the time to respond and follow up, however I am not sure if there is much interest in getting this fixed so I will not open another issue.

[2022-02-25 12:00] simonbuehler commented on #12263
i had the same problem when deploying to a server that mounts the codebase into a docker container and so the path inside the docker container is different from the one `php artisan config:cache` generates.

for the ones stranding here from googleling this, i created a small [deployer receipt](https://lorisleiva.com/deploy-your-laravel-app-from-scratch/create-your-own-deployer-recipes) that replac

[2022-02-25 13:22] Woeler opened #41251 "MYSQL migration default value json_object() throws error on change"
- Laravel Version: 9.2.0
- PHP Version: 8.1.1
- Database Driver & Version: MYSQL 8

### Description:
Hello everyone,

I'm having a problem with the `json_object()` default value in mysql. I am unsure if this is a bug in the framework, or in the underlying Doctrine layer. If it is Doctrine, I would appreciate some guidance on how we can report the issue to them, as I am really not at home in Doctri

[2022-02-25 13:24] #41251 closed

[2022-02-25 13:30] jamespavett opened #41252 "Defining Typed Collection that starts Empty"
- Laravel Version: 9.2.0
- PHP Version: 8.1.1
- Database Driver & Version:

### Description:

To be honest, I'm not sure if this is an issue directly or how I am using the functionality. I raised this issue on the Larastan repo before being instructed that this is related to Laravel directly.

Basically I am typehinting a Support Collection as containing <int, DummyType>

However in the constructo

[2022-02-25 13:48] Eldair opened #41253 "Cannot send mailgun email with only cc or bcc and without to"
- Laravel Version: 9.x
- PHP Version: 8.x

### Description:

It is imposible to send mailgun email without specifying `to`. The issue is here:
[code]
It should use `mailgun+https`. I am not sure if this would be a breaking change but otherwise I can make a PR.

### Steps To Reproduce:

Try to send mailgun email without `to`

[2022-02-25 14:00] driesvints commented on #41253
Why would you send an email without specifying "to"?

[2022-02-25 14:01] driesvints commented on #41253
We also used the API of Mailgun in Laravel v8 so not sure how this would ever have worked?

https://github.com/laravel/framework/blob/8.x/src/Illuminate/Mail/Transport/MailgunTransport.php#L74

[2022-02-25 14:31] Woeler commented on #41251
Hello Dries,

I think I found where the problem lies in DBAL. I'm going to try and create my first PR there. Thanks.

[2022-02-25 14:35] Eldair commented on #41253
Example - when sending reports to clients who shouldn't see each other's emails. Shouldn't sending to bcc (or cc) only be available in any case?

I am not sure how it worked in L8 but it did work.

Anyhow, is there some specific reason for using `mailgun+api` instead of `mailgun+https`?

[2022-02-25 14:36] driesvints commented on #39182
I've sent a PR for a more descriptive message and to fix the redirect loop: https://github.com/laravel/sail-server/pull/9. However, I cannot solve the bash error message. Therefor, I've opted to clarify allowed characters in the docs: https://github.com/laravel/docs/pull/7749 as you cannot use dots in an app name.

[2022-02-25 14:36] #39182 closed

[2022-02-25 15:16] Eldair commented on #41253
Hi, I think the reason that it worked than (and also works with `mailgun+https` transport) is that L8 used `/messages.mime` endpoint and `mailgun+api` uses `/messages`.

[2022-02-25 15:46] driesvints commented on #41253
Does it work for you is you use `mailgun+smtps`?

[2022-02-25 15:50] Eldair commented on #41253
Nope, just `mailgun` or `mailgun+https`
`mailgun+smtps` requires some different auth judging by the exception

[2022-02-25 16:12] driesvints commented on #41253
I think you're correct. I'm a bit concerned with changing it right now in how people's credentials will be handled with the new protocol.

Can you send attachments with the https protocol? I've been comparing the https and api ones with each other but I don't see anything about attachments in the https one:

https://github.com/symfony/mailgun-mailer/blob/6.0/Transport/MailgunHttpTransport.php
http

[2022-02-25 16:19] Eldair commented on #41253
Yeah, it works (tested with 1 png file)

[2022-02-25 16:23] driesvints commented on #41253
Thanks, I've sent in a PR for this: https://github.com/laravel/framework/pull/41255

[2022-02-25 16:55] jamespavett commented on #41252
Just something weird I have noticed. If I change the typehint to (removing the int bit):

[code]

This remove the error when initialising the Collection. However then I get undefined property errors everywhere.

[2022-02-25 17:21] nunomaduro commented on #41252
Please raise this issue on the Larastan repository.

[2022-02-25 17:21] #41252 closed

[2022-02-25 17:48] jamespavett commented on #41252
Hi @nunomaduro, I raised it on there earlier and it was closed straight away as a Laravel issue.

[2022-02-25 17:50] nunomaduro commented on #41252
We have opened the Larastan's discussions tab for this kind of things. Can you raise your issue there?

[2022-02-25 18:00] jamespavett commented on #41252
Apologies, have raised it there now

[2022-02-25 19:50] #41253 closed

[2022-02-26 05:02] derekmd commented on #41042
TLDR below; I'm unsure if this is worth investigating since `has()`/`doesntHave()` + `with()` eager loading do play nice with the relationship aggregate methods.

---

From your [given example test](https://github.com/laravel/framework/pull/40867/files), instead of table joins I'd suggest using `has()` / `whereHas()` when defining the relationship, then `with()`/`load()` to access nested `Location

[2022-02-26 08:13] tungvn opened #41259 "Storage::append always make redundant bytes"
- Laravel Version: 8.83.0
- PHP Version: 7.4.28
- Database Driver & Version:

### Description:
The method `Storage::append` always add redundant bytes and make file broken when handle the chunk files.

### Steps To Reproduce:
1. Make a simple form with `Dropzone`. Make sure it support chunk file.
2. Create a controller to handle chunk upload file. It may look like the below
[code]
3. The result fi

[2022-02-26 10:10] Temepest74 commented on #41195
@X-Coder264 could you help me with an example based on my code? I have some trouble implementing it

[2022-02-26 13:53] saeed-bd opened #41260 "The new accessor syntax does not work with API resources"
- Laravel Version: 9.1.0
- PHP Version: 8.1.0
- Database Driver & Version: mysql8

### Description:

### Steps To Reproduce:

Model :
[code]

CategoryResource:
[code]

CategoryCollection:
[code]

Controller:
[code]

result :
[code]

[2022-02-26 16:31] thejager opened #41261 "Email notifications sent to anonymous users fail silently when using MailChannel FCQN"
- Laravel Version: 8.79.0
- PHP Version: 8.1.2
- Database Driver & Version: N/A

### Description:
When you try to send an email notification to an anonymous user, and use `MailChannel::class` instead of `'mail'` for the route, it will not send anything nor notify you of any issues.

### Steps To Reproduce:

Create a notification as such:

[code]

Now sent the notification as such:

[code]

Intuiti

[2022-02-26 19:04] derekmd commented on #41261
As [documented](https://laravel.com/docs/8.x/notifications#on-demand-notifications), the `'mail'` alias should be used:

[code]

You could also change `WelcomeNotification` from a `MailMessage` into `Mailable` and set the `route(MailChannel::class, ...)` recipient using this example: https://laravel.com/docs/8.x/notifications#mailables-and-on-demand-notifications

---

A PR on `MailChannel` could

[2022-02-26 20:18] derekmd commented on #41260
Ensure your model imports the `Attribute` class:

[code]

When this import doesn't exist, the cast method's return type actually becomes the root `\Attribute` class that PHP8+ defines: https://www.php.net/manual/en/language.attributes.php Eloquent is ignoring `protected function name(): Attribute` because the return type inspected is `\Attribute`, not `\Illuminate\Database\Eloquent\Casts\Attribute

[2022-02-26 21:03] laratutodotcom commented on #33402
-----------[SOLVED]--------------
How To Connect Multiple Database In Laravel?
https://laratuto.com/how-to-connect-multiple-database-in-laravel/

[2022-02-27 00:53] NeamotNaim commented on #34886
i also faced this problem. In my term, it was the old version of php 7 and Laravel requires update version of PHP in my environment (xampp) so I update xampp for PHP current version. then it works. mainly php.ini file is the main reason for this. If you have trouble to update xampp PHP version then you can download latest version of xampp then install it in other folder except "C" then copy php.in

[2022-02-27 05:06] saeed-bd commented on #41260
The problem is, that it does work outside API resources and it's working just fine.
However, the old syntax continues to work in API resources.
The problem arises when I use the new syntax for attributes. In this case when I access an attribute inside api resource, it returns null.

[2022-02-27 05:34] derekmd commented on #41260
### App\Models\User

[code]

### App\Http\Resources\UserResource

[code]

### App\Http\Resources\UserCollection

[code]

### resources/web.php

[code]

### ✔️ Endpoint JSON output

[code]

The model attribute `name()` get mutator is successfully called. You'll need to share your full class definitions, not just the snippets, to show if there is a problem with the framework implementation.

[2022-02-27 06:02] #41260 closed

[2022-02-27 08:14] Temepest74 commented on #41195
@driesvints can you reopen this? I tried this code and didn't work.
[code]
This function will never be called. Please provide me with a working example or at least look into what I am doing wrong.

[2022-02-27 13:08] JYvman commented on #14997
Hi, initially i had done strict => false, and it worked. When i changed i tried it in a different file, the same code does not work. What could be the problem?

[2022-02-27 14:26] giovannipds commented on #14997
@JYvman I do not know, please try to improve your question giving more context, versions used, repo for testing, etc. Also try to keep your versions up-to-date as much as possible.

[2022-02-27 17:58] DarkGhostHunter opened #41264 "[9.x] Mocking aliases doesn't mock abstract"
- Laravel Version: 9.2.0
- PHP Version: 8.1.3
- Database Driver & Version: N/A

### Description:

Using mocking methods in testing with service alises like `cache` or `files` will return a Mockery exception not extending the service class. This is disruptive to classes who expect a service injection.

This makes these method useless when helpers use aliases to mock.

### Steps To Reproduce:

Bring

[2022-02-27 23:21] imithu opened #41266 "Error page does not work"
- Laravel Version: 9.2.0
- PHP Version: 8.1.3
- Database Driver & Version: N\A

### Description:
Ignition html error page does not work in both Insomnia preview mode and thunder client preview mode.
It works only in browser.

### Steps To Reproduce:
I have created a live endpoint so that you can understand the issue.
```https://insomnia-open-source.imithu.org/api/test```
open this endpoint in,
- a

[2022-02-27 23:23] imithu commented on #41266
# Modern Browser
![modern browser](https://user-images.githubusercontent.com/76824197/155878708-f44f2019-4960-43f2-b203-76410897222b.png)

# Insomnia
![insomnia](https://user-images.githubusercontent.com/76824197/155878710-a40f1e77-cd5b-41be-a52d-eb52f4a53133.png)

# Thunder Client (vs code extension)
![Thunder Client](https://user-images.githubusercontent.com/76824197/155904347-80bb6aff-babd-4cf9

[2022-02-28 04:56] ankurk91 commented on #41266
You should report this issue here
https://github.com/spatie/laravel-ignition

[2022-02-28 08:19] ankurk91 opened #41269 "[9.x] Storage::put() no longer throws an exception"
- Laravel Version: 9.x
- PHP Version: Does not matter
- Database Driver & Version: Does not matter

### Description:
`Storage::put()` and similar methods no longer throws and and silently return `false`, the actual error is never logged or visible to developer

Here is responsible code
https://github.com/laravel/framework/blob/d1c3d4fb02df18a8b9b31c2ba6e4d76861f33d4b/src/Illuminate/Filesystem/File

[2022-02-28 08:58] driesvints commented on #41269
Flysystem v2 & v3 now throw `UnableToWriteFile` so there's no way anymore to properly indicate why a write operation didn't succeed. For Laravel 9 we decided to consolidate all methods in the `FilesystemAdapter` to only work with boolean returns and catch all internal Flysystem exception throwing.

I've sent in a PR to the upgrade guide: https://github.com/laravel/docs/pull/7755

We are however, m

[2022-02-28 08:58] #41269 closed

[2022-02-28 09:11] driesvints commented on #41259
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-02-28 09:11] #41259 closed

[2022-02-28 09:11] driesvints commented on #41261
This is a feature request. Thanks @derekmd

[2022-02-28 09:11] #41261 closed

[2022-02-28 09:24] driesvints commented on #41264
This seems like a feature request to me. You can already directly mock the actual class. Feel free to attempt a PR.

[2022-02-28 09:24] #41264 closed

[2022-02-28 09:35] ankurk91 commented on #41269
Suppressing such exceptions is a bad idea.
Checking for boolean all over the project, whether uploading to S3 (cloud) failed or not, is no where developer friendly.
Laravel is known for developer happiness but no more. :(

Since this behaviour was not documented in upgrade guide, it should be easy to bring back old behaviour, or at-least throw a custom exception to halt the execution.

[2022-02-28 09:55] driesvints commented on #41269
I personally too, more prefer exception throwing. However, we decided to pursue boolean returns instead to consolidate the workings of the filesystem.

We cannot do that as Laravel v9 is now a month old and doing this will introduce breaking changes for apps that already upgraded.

[2022-02-28 10:00] imithu commented on #41266
Is there any way to use the laravel 8 error page on laravel 9?

[2022-02-28 10:11] thejager commented on #41261
Yea I realise now it is. Apologies.

[2022-02-28 10:34] davidjr82 opened #41271 "Method after columns in migration does not work properly"
- `php artisan --version` = Laravel Version: 9.2.0
- `php --version` = PHP Version: 8.1.2
- `select sqlite_version();` = SQLite 3.34.0

### Description:
Adding "after" in migrations does not work as expected. It creates the columns at the end of the table, following docs steps:
https://laravel.com/docs/9.x/migrations#column-order

### Steps To Reproduce:

`laravel new my-project`

`php artisan mak

[2022-02-28 10:36] whycomeing commented on #41271
error?

[2022-02-28 10:37] davidjr82 commented on #41271
The last line in my message says clearly:

Columns are added **at the end of the users table instead of after the password column**. It happens in MySQL too.

[2022-02-28 10:44] driesvints commented on #41271
Works fine for me in the latest Laravel version on MySQL 8:

<img width="282" alt="Screenshot 2022-02-28 at 11 43 30" src="https://user-images.githubusercontent.com/594614/155969536-133cedbc-001b-4ed7-aea7-3f170c1f6ff8.png">

[2022-02-28 10:44] #41271 closed

[2022-02-28 10:52] whycomeing commented on #41271
Maybe the column already exists

[2022-02-28 11:04] davidjr82 commented on #41271
I didn't realize I was opening the sqlite table from HeidiSQL, so probably I have not tested it in MySQL. But it happens in SQLite.

[2022-02-28 15:09] mike-code commented on #41269
Wow, that's so bad. You could at least give an option to choose between `ExceptionThrowingFilesystemAdapter` and `UselessBooleanFilesystemAdapter`. I came back to try Laravel after a few years because I almost forgot why I abandoned it in the first place. A quick reminder why I did that is always helpful.

[2022-02-28 15:51] rodrigopedra commented on #41195
@Temepest74 you can read the motivation to add this feature on its original PR:

https://github.com/laravel/framework/pull/16800

The idea behind `bindMethods` is to provide all of a method dependencies for a method that will be resolved from the container. All parameters should be provided, as no reflection is done to other parameters.

And also it **only works** for methods that are called from

[2022-02-28 17:33] Jubeki opened #41274 "[Partners Website] Wrong copyright year in footer"
I didn't find a Repo where I could do a PR for fixing this.

Therefor I do a Bug Report here:
https://partners.laravel.com has `Copyright ©2011–2021 Laravel LLC` in the footer.
It should probably be `Copyright ©2011–2022 Laravel LLC`

[2022-02-28 19:04] driesvints commented on #41274
Thanks. Will get that fixed 👍

[2022-02-28 19:04] #41274 closed

[2022-02-28 20:52] Temepest74 commented on #41195
So, you just said this is impossible to do? After your colleague approved what the other people said (they said it is possible)

[2022-03-01 01:02] stdnpt opened #41277 "Trailing slash with cached routes lead to miss route parameter"
- Laravel Version: 8.61.0
- PHP Version: 7.4.13
- Database Driver & Version:

### Description:
Trailing slash with cached routes lead to miss route parameter

### Steps To Reproduce:
**routes/web.php**

`Route::get("/someprefix/{slug}", [SomeController::class,'index'])->name("someprefix.page")->where('slug', 'foo|bar');`

**RouteServiceProvider**

[code]
**Controller with action**

[code]

**Clear

[2022-03-01 02:49] EslamNemr opened #41278 "^ symbol shown with dd method"
- Laravel Version: 9.1.0
- PHP Version: 8.1.3
- Database Driver & Version:

### Description:

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/42042051/156095257-4b7f44e0-bf5a-4652-908d-e6e57ace2162.png">

[2022-03-01 08:15] driesvints commented on #41278
Not sure what you're getting at. If you have any concerns with this please open an issue with symfony's vardumper component.

[2022-03-01 08:15] #41278 closed

[2022-03-01 08:22] driesvints commented on #41277
I get "foo" in both times, with or without routes cached. You're also using a `null` default but aren't indicating the route parameter as nullable:

[code]

[2022-03-01 08:22] #41277 closed

[2022-03-01 12:30] nikemeal commented on #35633
I have a similar issue in that a job can run for a varying amount of time (based on the data it receives) so I can set the timeout dynamically based on previous runtimes.
From what I can tell with the following command `artisan queue:work --tries=1` this would be true
- `public $timeout = 10` would be set on job run, and would tell it to timeout after 10 seconds (this is an example time only!)
- t

[2022-03-01 12:44] H-ishak opened #41285 "bug with unique validation"
- Laravel Version: 8.4.0
- PHP Version: 7.4.0
- Database Driver & Version: MySQL

### Description:
i have tried to register a user so before the registration i did set a rule to verify the uniqueness of the phone number .
the problem is when the multiple requests are sent to the endpoint at the same time the validation doesn't work and i get multiple records in the database. further more even if i

[2022-03-01 19:37] unohuim commented on #31919
this specifically solved my issue.  Thanks

[2022-03-01 22:37] rodrigopedra commented on #41195
@Temepest74

First I wrote:

Here it refers to contextual bindings for methods.

Then I wrote:

Which is true, and no other answer says the opposite.

What @X-Coder264 wrote is:

Which means the **dependencies** are resolved from the container, not the method calling. If you look at the code linked in that answer you will see the `ControllerDispatcher` uses reflection to resolve an action's depend

[2022-03-01 23:54] akalongman commented on #36068
@nunomaduro one thing I did not understand, on each run of `php artisan test --parallel`, migrations will run automatically? Call with --recreate-databases flag is not option, its very slow

[2022-03-02 09:32] neoteknic opened #41288 "Missing parenthesis in SQL where request"
- Laravel Version: 9.2.0
- PHP Version: 8.1.3
- Database Driver & Version: Mariadb 10.6.5

### Description:
missing parenthesis in SQL request

### Steps To Reproduce:
this code in a Product scope :

     $query->where(function($query) use ($value){
            foreach (explode(' ',$value) as $value){
                $query->where('name','LIKE','%'. strtoupper($value).'%')
                ->orWher

[2022-03-02 09:49] vigneshgurusamy commented on #41288
@neoteknic You have missed one more level of where condition.

[code]

[2022-03-02 09:56] driesvints commented on #41288
Thanks @vigneshgurusamy

[2022-03-02 10:40] neoteknic commented on #41288
ok sorry, it worked in L8 ...

[2022-03-02 11:31] rodrigopedra commented on #41285
To avoid race conditions you can use Atomic Locks:

reference: https://laravel.com/docs/9.x/cache#atomic-locks

Also I'd suggest you add a unique index in your database to ensure data uniqueness on a database level.

[2022-03-02 11:40] driesvints commented on #41285
Thanks @rodrigopedra

[2022-03-02 11:40] #41285 closed

[2022-03-02 11:44] sventendo opened #41290 "whereIn() returns 0 results with 1000 values or more with mariadb 10.3.34"
- Laravel Version: v8.83.0
- PHP Version: 8.0
- Database Driver & Version: mariadb 10.3.34

### Description:

With the latest version of mariadb there seems to be an issue with the underlying `WHERE IN()` optimization when the clause has many, many values. The default threshold is 1000+ values. This can be changed with the system variable `in_predicate_conversion_threshold`:
https://mariadb.com/do

[2022-03-02 11:53] H-ishak commented on #41285
@rodrigopedra can i use it on a specific session ?
because the register condition depends on the registered user .

[2022-03-02 11:55] driesvints commented on #41290
This seems like a problem with MariaDB itself? Most likely you'll need to set that system variable higher? Not sure if there's anything we can do here ourselves...

[2022-03-02 14:03] RoodFruit commented on #41290
@sventendo I just had the same problem and was about to create a ticket. It seems that `addBinding()` is the culprit in `Illuminate/Database/Query/Builder.php`:

[code]

You can bypass using the bindings with `whereIntegerInRaw()` or `whereIntegerNotInRaw()`, in case your dataset are integers.

@driesvints why does Laravel only has `whereIntegerInRaw()`? I would think a `whereInRaw()` or `whereNot

[2022-03-02 14:10] yoeriboven opened #41293 "Bus::fake() doesn't respect arguments when using job batching"
- Laravel Version: 9.2.0
- PHP Version: 8.1.2

### Description:

I'm trying to assert that `FirstJob` dispatches `SecondJob`.

[code]
`Bus::fake()` fakes _all_ jobs. You can pass [a parameter](https://github.com/laravel/framework/blob/17c49e589d5e1c9c40ba88e90de522c38f11bb69/src/Illuminate/Support/Facades/Bus.php#L44) and then it should only fake a specific job.

When using `Bus::fake(SecondJob::c

[2022-03-02 14:44] devsquad-alvaro-meireles opened #41294 "Laravel Breeze - Error With TailwindCss"
- Laravel Version: 9.2.0
- PHP Version: 8.1
- OS System: Linux, Ubuntu Base (PopOS 21.10, **with Laravel Sail**)

### Description:
Laravel Breeze installations, following exactly the documentation guide, have several problems in the delivered TailWindCss for several consecutive times. Several classes don't exist, like `bg-green-50` and in public/css/app.css there are several errors. However, no al

[2022-03-02 15:21] Temepest74 commented on #41195
Oh, ok my bad. I was unable to understand these terms.

[2022-03-02 15:41] nmokkenstorm opened #41298 "LazyCollection depends on tap helper"
- Laravel Version: 8.6.11, but the problem is present in 9.x / main
- PHP Version: 8.1.0
- Database Driver & Version: n/a

### Description:

The `sliding` implementation [here](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Collections/LazyCollection.php#L1027) for `Illuminate\Support\LazyCollection` as defined on `Illuminate\Support\Enumerable` [here](https://github.com/laravel/fram

[2022-03-02 16:12] taylorotwell commented on #41269
Hey all! We have an idea for improving this for you - going to look into it.

[2022-03-02 16:49] Brenneisen opened #41300 "ERROR 2026 (HY000): SSL connection error: SSL_CTX_set_default_verify_paths failed"
### Discussed in https://github.com/laravel/framework/discussions/41299

<div type='discussions-op-text'>

<sup>Originally posted by **Brenneisen** March  2, 2022</sup>

- Laravel Version: 9.3.0
- PHP Version: 8.1.1
- Database Driver & Version: 8.0.27

### Description:

I get an error when running `php artisan migrate`:

[code]

### Steps To Reproduce:

Run `php artisan migrate`.
</div>

[2022-03-02 18:52] sventendo commented on #41290
Seems to be a known issue with the latest release of mariadb, and not a Laravel issue at all:
https://jira.mariadb.org/browse/MDEV-27937

I'm closing this issue.

@RoodFruit FYI Setting the system variable `in_predicate_conversion_threshold` to `0` should "fix" the issue in the meantime.

[2022-03-02 18:52] #41290 closed

[2022-03-02 18:54] RoodFruit commented on #41290
@sventendo I know, but if you do not want to use PDO bindings in Laravel (aka raw query), we should be able to use `whereInRaw()` / `whereNotInRaw()`, which is currently not available yet, although the Grammar is already there. @driesvints Idea to put this in?

[2022-03-02 21:27] justinrclarke commented on #34643
This solved my issue as well.

[2022-03-02 22:45] DeepDiver1975 commented on #41300
What is the MySQL client version?

[2022-03-03 02:11] xrobau opened #41302 "Redis Connection does not reconnect when failed, causing Queue Workers to loop"
- Laravel Version: v8.83.2 (but has been an issue for a long time)
- PHP Version: 8.1
- Database Driver & Version: Redis

### Description:

Originally reported in #30081 and #29969

If the Redis connection fails, workers do not realise this, and error with:

    Trying to access array offset on value of type null {"exception":"[object] (ErrorException(code: 0): Trying to access array offset on val

[2022-03-03 04:45] rodrigopedra commented on #41195
No worries, English is not my native language, I might have worded it badly :)

[2022-03-03 07:08] driesvints commented on #41290
Feel free to attempt a pr 👍

[2022-03-03 07:47] Brenneisen commented on #41300
@DeepDiver1975

<img width="947" alt="Bildschirmfoto 2022-03-03 um 08 45 47" src="https://user-images.githubusercontent.com/5833477/156519817-be2a6e25-8442-4062-95fd-d91538ede2c4.png">

[2022-03-03 08:10] DeepDiver1975 commented on #41300
I will provide a PR later today.
Using the mariadb client this was not observed. Sorry for the trouble.

[2022-03-03 08:24] RoodFruit commented on #41290
@driesvints See https://github.com/laravel/framework/pull/41306.

[2022-03-03 10:17] Bouhnosaure commented on #41300
Indeed i just updated to 9.3 and got the same error when my tests runs the migrations:

[code]

My environment is using `mysql  Ver 15.1 Distrib 10.5.12-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper` as client and no configuration on SSL certificates on databases for testing.

I hope it helps !

[2022-03-03 10:19] CraigMonva commented on #41300
Spotted this yesterday while running github action tests that require mysql connection.

Glad its being looked at already.

[2022-03-03 10:43] madman-81 opened #41310 ""php artisan schedule:list" should show mutex"
Today I ran into an issue with a scheduled task that wasn't running. It took me a while to figure out was going on, mostly because the `schedule:list` showed nothing out of the ordinary and was updating the "Next Due" timestamp as expected. However the tasks wasn't executed. Long story shot, the tasks got stuck because a mutex wasn't cleared, probably because of an unscheduled server reboot.

It w

[2022-03-03 10:44] driesvints commented on #41310
Heya, thanks for submitting this.

This seems like a feature request or an improvement so I'm converting this to a discussion instead. It's best to post these in the discussions section in the future to get support for your idea. After that you may send a PR to the framework. Please only use the `laravel/framework` issue tracker to report bugs and issues with the framework.

Thanks!

[2022-03-03 10:44] #41310 closed

[2022-03-03 11:50] DeepDiver1975 commented on #41300
Within the next hour

[2022-03-03 12:05] robertoarruda opened #41313 "Factories with relationship fields are calling create() when calling make()"
### Discussed in https://github.com/laravel/framework/discussions/36169

<div type='discussions-op-text'>

<sup>Originally posted by **robertoarruda** February  6, 2021</sup>
- Laravel Version: 8.22.0
- PHP Version: 7.4.13

### Description:
I use factories in my unit tests. My tests never touch the database, so I don't use connections or migrations on it.
In my unit tests, factories use the make m

[2022-03-03 12:21] driesvints commented on #41313
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-03-03 13:57] dgironella opened #41318 "Fresh Install, error artisan route:list"
- Laravel Version: v9.3.0
- PHP Version: PHP 8.1.2
- Database Driver & Version: None

### Description:

After a fresh install, execute route:cache and route:list and exception fired.,

### Steps To Reproduce:

I made a fresh install with

composer create laravel/laravel test

cd test

php artisan route:cache
php artisan route:list

And error...

` ReflectionException

  Class "O:47:"Laravel\Serial

[2022-03-03 14:17] driesvints commented on #41318
Caused by https://github.com/laravel/framework/pull/41254. We're investigating, thanks.

[2022-03-03 14:32] driesvints commented on #41298
Thanks for your report. @JosephSilber was the original contributor and is gonna look into a fix for this.

[2022-03-03 14:37] designermonkey opened #41319 "Using DB raw inside a migration hangs the migration"
- Laravel Version: 8.80.0
- PHP Version: 7.4.28
- Database Driver & Version: mariadb 10.5 (docker)

### Description:

When using `DB::raw` for a column name (``$table->integer(DB::raw('`study.identifier`'));``) the code hangs and times out. The last version we used (an early v6) worked fine and since upgrading, many of our migrations will no longer run.

### Steps To Reproduce:

I can't provide a

[2022-03-03 14:47] #41319 closed

[2022-03-03 14:56] designermonkey commented on #41319
Why has this been closed?? I'm sorry but "I don't think" is not sufficient an answer to close an issue for functionality that has worked for years, and now doesn't.

[2022-03-03 14:57] driesvints commented on #41319
@designermonkey please show us where we document this usage.

[2022-03-03 16:06] driesvints commented on #41293
You're dispatching the batch. The second job can never be dispatched.

[2022-03-03 16:06] #41293 closed

[2022-03-03 16:16] designermonkey commented on #41319
I can't as it isn't but that doesn't mean it isn't possible. Software has undocumented features all over the world as the lack of documentation may have been a bug

This is the code path I can follow:

Schema::create (alias of Builder::create)
    Blueprint::create
    (methods from migration example applied)
    Builder::build
    Blueprint::build
    Blueprint::toSql
    MySqlGrammar::compileCre

[2022-03-03 16:23] yoeriboven commented on #41293
@driesvints Then how do I test that one job can push another job to the queue (in a batch)?

[2022-03-03 17:10] yoeriboven commented on #41293
I tried to implement partial job faking and it works! Really happy since this problem has been annoying me for a while.

Will send in a PR later. :)

[2022-03-03 17:34] driesvints commented on #41319
@designermonkey you're definitely not an a**hole. You have a concern you're trying to validate. All I'm saying is that this seems to be undocumented and therefor I cannot verify if this was ever intended to work like this. Can you perhaps look through the test suite to see if this behavior is tested? If it isn't then I really fear we never intended this to be supported.

If you could pinpoint the

[2022-03-03 17:37] driesvints commented on #41293
@yoeriboven I think I see what the problem is. You expect `Bus::batch` to not be faked. That's not the case as `Bus::fake(` swaps out the entire command bus for all subsequent code in the same test. That's how it works. We cannot change this as it'd break people's tests.

[2022-03-03 19:36] calebeso opened #41329 "Error executing 'npm run dev' Laravel Breeze"
- Laravel Version: 8.0
- PHP Version: 7.4.9
- Database Driver & Version:

### Description:
I'm trying to install Laravel Breeze in my Laravel 8.0 fresh installation, everything works fine until I run the command `npm run dev`, wich is giving me the following error:

`     Asset     Size   Chunks             Chunk Names
/js/app.js  706 KiB  /js/app  [emitted]  /js/app

ERROR in ./resources/css/app.

[2022-03-03 19:41] driesvints commented on #41329
Why are you starting from Laravel v8 instead of v9?

[2022-03-03 19:44] calebeso commented on #41329
Because we're currently using php 7.4.

[2022-03-03 19:54] driesvints commented on #41329
We don't recommend starting new Laravel 8 projects. Please use Laravel 9.

[2022-03-03 19:54] #41329 closed

[2022-03-03 22:45] browner12 commented on #41269
is there a way to conditionally `@throw` an exception in the docblock? otherwise the IDE gets confused why we're trying to catch an exception it doesn't think is being thrown.

[2022-03-04 01:54] Eugene-Melbourne commented on #41155
Making tests that (as you said) "very fragile by definition and was bound to sooner or later break like it just did" is a good idea.
Because it covers more functionality at one go.
This is how integration testing works by definition.

[2022-03-04 02:18] X-Coder264 commented on #41155
You are mixing the concept of a test being fragile vs testing more functionality in one go. One has nothing to do with the other.

Usually feature tests are less fragile than unit tests because a lot of unit tests are usually too much coupled to the implementation and do not actually test the behavior (you change one method name and the test fails because the mock wasn't updated etc).

No one is s

[2022-03-04 05:34] SCIF opened #41331 "DB fetching requests go to read replica even though $connection is specified"
The code

[code]

will request read replica servers even though `::write` suffix is specified in `$connection` property.

Versions met:

- Laravel Version: 8.83.1
- PHP Version: 8.1
- Database Driver & Version: mysql

But most likely all versions affected

### Description:

To force reading from `write` replica the connection must be explicitly specified at all times. Like:

[code]

I believe you

[2022-03-04 06:12] nareshvegad opened #41332 "Laravem Multiple Dynamic Mail configuration from database not working for Laravel Queue"
- Laravel Version: #.#.#
- PHP Version: 7.4.2
- Database Driver & Version:

### Description:
If i set multiple mail configuration from database instead of from env file it's not use dynamic mail configuration but taking default env file.

i used below code:

[code]
before sending mail i want to set dynamic mail config. based on condition but for queue it takes default from env file.

### Steps To

[2022-03-04 08:07] driesvints commented on #41332
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-04 08:07] #41332 closed

[2022-03-04 08:09] driesvints commented on #41331
@derekmd didn't we fix this in https://github.com/laravel/framework/pull/41161 ?

@SCIF please post your `database.php` config file.

[2022-03-04 08:33] SCIF commented on #41331
@driesvints , the fix you are referring to, doesn't fix the issue, as works with `Schema` only but I point out the issue of requesting via `DB`/`Model`

[code]

[2022-03-04 08:38] driesvints commented on #41331
@SCIF ah I totally missed that. Yeah that can never work sorry. You have to reference the connection on the migration class. The connection property only applies to schema changes.

Feel free to send in a PR to the docs if you want.

[2022-03-04 08:38] #41331 closed

[2022-03-04 09:13] markwalet commented on #41318
Weird, I tried this and couldn't reproduce it with a fresh install. Found out I was on version `9.3.1`. Downgraded Laravel from `9.3.1` to `9.3.0`.

Looks like it got fixed in `9.3.1`. @dgironella could you verify that?

[2022-03-04 09:17] dgironella commented on #41318
In version 9.3.1 is solved. My error was produced in version 9.3.0 caused by #41254

[2022-03-04 09:17] #41318 closed

[2022-03-04 09:30] driesvints commented on #41313
I'll re-open this once you managed to provide a repo. Thanks

[2022-03-04 09:30] #41313 closed

[2022-03-04 12:21] driesvints commented on #41302
Right, so, what I'm interested in is what the value for `$this->payload()` is at `Illuminate/Queue/Jobs/Job.php:315` and what the value is at `$nextJob` at `Illuminate/Queue/RedisQueue.php:269`.

I suspect the failed jobs still stay in redis, waiting to be processed and that they get processed once you restart the worker?

[2022-03-04 15:31] Husky110 commented on #32943
Same with Laravel 9 and Bootstrap 4...

[2022-03-04 21:21] taylorotwell commented on #41042
Thanks for looking into this @derekmd

[2022-03-04 23:52] xrobau commented on #41302
https://github.com/laravel/framework/blob/9.x/src/Illuminate/Queue/Jobs/Job.php#L315

            return $this->payload()['job'];

The error is saying `Trying to access array offset on value of type null` so, $this->payload() is `null` at this point.

$nextJob is an array that only consists of ONE ITEM, not two (hence the `Undefined offset: 1`), and as far as I remember, it's something along the l

[2022-03-05 00:11] tm1000 commented on #41302
I feel like you could catch this error in: https://github.com/laravel/framework/blob/9.x/src/Illuminate/Queue/Worker.php#L392

The reason being is that when the worker loses a database connection shouldQuit is set to true so the worker quits and then reconnects when it starts again. This same concept could apply to Redis

[2022-03-05 02:17] xrobau commented on #41302
Good spotting @tm1000 (FYI, he is a co-worker of mine)

@driesvints I didn't want to submit a PR until someone decides on the 'correct' way to handle this, and as it's getting into the fiddly in-depth bits of queue workers, I thought it would be better to report it as a bug first and then get some guidance on how you guys would like it handled.

[2022-03-05 13:08] mouyong opened #41353 "It's need to release directory lock. to avoid error: rmdir($directoru); Text file busy."
https://github.com/laravel/framework/blob/a9098eed14b79f570b84e4698b5b1f296758cd04/src/Illuminate/Filesystem/Filesystem.php#L703

[code]

[2022-03-05 17:29] DA40 opened #41357 "Blind copies are not sent by sendmail transport"
- Laravel Version: 9.3.1
- PHP Version: 8.0.14
- Database Driver & Version: N/A

### Description:
Using a mail controller like this:

[code]

If MAIL_MAILER=smtp in the .env file, and a suitable SMTP server is configured, the blind copy is sent, but when MAIL_MAILER=sendmail it isn't.

### Steps To Reproduce:
1. Extract the sendmail app from the attached archive to a linux system with a sendmail b

[2022-03-05 22:31] theriddleofenigma commented on #41042
@derekmd Using eloquent relation like has() won't solve the need here. Since @troy-whitespark tries to load the count of locations mapped against a post. And so he used joins in the relationship.

@troy-whitespark I have added a PR for solving your need, #41359. Kindly check and share your thoughts on this.

[2022-03-06 01:29] derekmd commented on #41042
[code]

[code]

[2022-03-06 02:41] sfilzek opened #41360 "HTTP::pool response returned without the PSR response when accessing a URL with an expired SSL cert."
- Laravel Version: v9.3.1
- PHP Version: 8.0.12
- Database Driver & Version: N/A

### Description:
When using the HTTP::pool to access a site with an expired SSL cert, I was expecting a GuzzleHttp\Exception\RequestException to be returned, but instead we get a Illuminate\Http\Client\Response but it is missing the internal PSR response, so accessing any of the response details fails.

### Steps To

[2022-03-06 05:15] juhasev commented on #27518
Why isn't this fixed yet in Laravel 8? Thanks for the answer works like a charm!

[2022-03-06 10:28] jmarcher commented on #27518
Because you didn't fixed it

Juha Vehnia ***@***.***> schrieb am So., 6. März 2022, 02:16:

[2022-03-06 15:12] theriddleofenigma commented on #41042
@derekmd Yeah, we can achieve it using this. But it will result in 1 additional query. If we achieve it using the `withCount()` itself, then we can save a query. Also, that will reduce the iterations for hydrating the post relation. Since we don't need the **posts** details here.

[2022-03-06 16:31] ajuchacko commented on #41357
[Take a look](https://github.com/laravel/framework/pull/41362#issue-1160618726)

[2022-03-07 02:41] mpyw opened #41369 "`LazyCollection::every()` type inferences by PHPStan are completely broken"
- Laravel Version: 9.3.1
- PHPStan Version: 1.4.5
- Larastan Version: 1.0.3
- PHP Version: 8.1

### Description & Reproduction Steps:

[code]

#### Expected:

[code]

#### Actual:

[code]

Though I haven't determined yet whether it is a PHPStan bug or a Laravel bug, I'll submit it as a Laravel issue for the time being.

[2022-03-07 02:46] mpyw commented on #41369
I hope that https://github.com/laravel/framework/discussions/40889 should be resolved although it is not directly related. It is very inconvenient that `Collection<Item>` is not considered a subtype of `Collection<ItemInterface>` whereas `Item[]` is considered a subtype of `ItemInterface[]`.

[2022-03-07 02:55] mpyw commented on #41369
Related

- https://github.com/laravel/framework/pull/38538 by @nunomaduro
- https://github.com/laravel/framework/pull/39506 by @sebdesign

[2022-03-07 07:23] amirhossein-fzl opened #41373 "error front-end bug | Error disappears"
- Laravel Version: 9.3.1
- PHP Version: 8.0.15
- Database Driver & Version: mysql, 5.7.33
- Google Cgrome: 99.0.4844.51

### Description:

Hello. When I get an error in Laravel, when I scroll the page or click on any of the links on the error page, the page appears as follows.

![ignition 00_00_00-00_00_30](https://user-images.githubusercontent.com/53816722/156986137-69d8cd66-9862-4c81-b326-8e01df

[2022-03-07 07:57] dees040 opened #41375 "Updating a JSON column of a single model doesn't work"
- Laravel Version: 9.3.1
- PHP Version: 8.1.1
- Database Driver & Version: MySQL 8.0

### Description:

According to the docs I should be able to update a JSON column of a model using the following code:

[code]

But when trying to do so in a fresh Laravel installation, nothing seems to be changed:

![image](https://user-images.githubusercontent.com/5390555/156989831-54357a61-5aac-4d8e-9d01-c33da3

[2022-03-07 08:53] driesvints commented on #41373
Please open this issue on the spatie ignition repo as we don't maintain this.

[2022-03-07 08:53] #41373 closed

[2022-03-07 08:55] williamdes commented on #40337
Hi @driesvints
What branch should I push this change for it to be merged up ?

[2022-03-07 08:58] driesvints commented on #40337
@williamdes bug fixes need to be sent to 8.x, thanks

[2022-03-07 09:15] #41353 closed

[2022-03-07 09:15] driesvints commented on #41369
Please just attempt a PR if you want to adjust anything. No code is broken.

[2022-03-07 09:15] #41369 closed

[2022-03-07 09:17] mouyong commented on #41353
Is there no repair plan for the time being? @driesvints

[2022-03-07 09:20] shijie1991 commented on #41065
我也遇到了相同的问题

[2022-03-07 09:56] driesvints commented on #41353
@mouyong please use a support channel

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat/?nick=laravelnewbie&channels=#laravel)

[2022-03-07 09:57] driesvints commented on #41353
Or attempt a PR

[2022-03-07 11:32] cuppett commented on #41357
I didn't do a direct comparison of both 8.x and 9.x with the same user code, but I believe the previous mailer likely emitted the Bcc: headers as part of the $message->toString() and then they got picked up by anything which was using the raw message. I did definitely see they weren't there as part of the output when stepping through with the debugger. I don't know if that's required, optional beh

[2022-03-07 11:48] designermonkey commented on #41319
A little further investigation by a colleague has shown that when we turn off xdeug we actually see the output of the error being generated:

[code]

[2022-03-07 12:35] designermonkey commented on #41319
So the issue is that an `Expression` is being used as a key. If the line 1708 in `Blueprint.php` is changed from `: [$column->name => null];` to simply `: [];` it is fixed. As the collection is being filtered anyway, there's no need to add a null value.

I'm not a Laravel developer btw and have inherited a project, so I am not aware of whether this would cause any other issues. I guess with it bei

[2022-03-07 12:40] designermonkey commented on #41319
In a wider discussion though, if `DB::raw` and `Expression` are not supported in column names, then some other safe way of providing the ability to name a column like `` `my.column` `` needs to be provided being that it is valid syntax.

[2022-03-07 12:42] cuppett commented on #41357
@driesvints I do not believe my PR will resolve this issue.

[2022-03-07 12:51] DA40 commented on #41357
I can confirm that this worked with earlier versions of Laravel that used Swift Mailer.

[2022-03-07 13:57] Victor-emil opened #41382 "HTTP Client query parameters not merged as expected after upgrading"
- Laravel Version: v8.83.3
- PHP Version: 8.1.1
- Database Driver & Version: PostgreSQL 13

### Description:

I just upgraded Laravel from v8.83.0 to 8.83.3 and started experiencing issues with query parameters not being merged as expected via
[code]
[code]
I am aware that the get() method takes an array as a second argument for populating the query parameters. But I would expect the above to work

[2022-03-07 16:32] driesvints commented on #41357
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-03-07 16:40] driesvints commented on #41302
What version is your Redis?

This seems highly unlikely as the current code totally not expects that format.

I have no idea how to solve this unfortunately. Ideally, someone starts a PR which we can start off from.

[2022-03-07 16:53] driesvints commented on #41360
This indeed seems like a bug to me as well. Would appreciate PR's for this.

[2022-03-07 16:54] driesvints commented on #41375
You need to explicitly add `data->foo` in the fillable array:

`protected $fillable = ['data->foo'];`

[2022-03-07 16:54] #41375 closed

[2022-03-07 16:55] driesvints commented on #41375
https://laravel.com/docs/9.x/eloquent#mass-assignment-json-columns

![Uploading Screenshot 2022-03-07 at 17.55.13.png…]()

[2022-03-07 17:16] driesvints commented on #41382
It seems https://github.com/laravel/framework/pull/41055 isn't present on 8.x which is probably needed.

@Victor-emil if you change https://github.com/laravel/framework/blob/e6da0b8a7485276faad228e1270e6987f9fa888e/src/Illuminate/Http/Client/PendingRequest.php#L798 to `return is_array($laravelData) ? $laravelData : [];`, does it work for you?

[2022-03-07 17:18] driesvints commented on #41319
Good point. But what if if the column is an `autoIncrement`?

[2022-03-07 18:02] DA40 commented on #41357
@driesvints I'm not familiar with the process you asked me to undertake, but I've done my best and shared the repository with you.  Please let me know if I've missed anything.

[2022-03-07 18:54] shijie1991 opened #41386 "Use laravel9 package extension development Use pushMiddlewareToGroup to add middleware group invalid"
- Laravel Version: 9.3.1
- PHP Version:  8.1.1

Description:

Use laravel9 package extension development Use pushMiddlewareToGroup to add middleware group invalid

Steps To Reproduce:

**CoreServiceProvider.php**
<img width="817" alt="image" src="https://user-images.githubusercontent.com/11606404/157098371-d9135331-8a46-4378-9729-46f7d4e8ae61.png">

output

![image](https://user-images.githubuserc

[2022-03-07 21:05] driesvints commented on #41386
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-07 21:05] #41386 closed

[2022-03-07 22:56] KnudH commented on #22847
That costs me some hours before i found this issue and another hour before i got this fixed.

I think instead of let everybody search and try and error for some errors it would be nice to clarify the docs about this. Its really hard to understand the docs at the moment i think.

[2022-03-08 00:05] Healyhatman opened #41390 "Error bag contents are not passed to components"
- Laravel Version:  8.83.2
- PHP Version: 7.4.14
- Database Driver & Version: SQL Server

### Description:
When using withErrors to pass errors to a view, those errors are not rendered in components. The $errors variable is still available, it's just a different object to the one available in the main view itself. To get the correct error bag you have to explicitly pass it using `:errors="$errors"

[2022-03-08 00:55] xrobau commented on #41302
@driesvints well, you're the guy who makes the call!

What would you prefer?
* Illuminate/Redis/Connections/Connection.php - catch the error there, and add a new property to the redis connection of 'Is Broken' (or whatever), which is then checked by RedisManager::resolve() -- This is, obviously the easiest way
* Try to reimplement a similar process as the MySQL workers do - haven't really thought

[2022-03-08 00:59] xrobau commented on #41302
Sorry if I didn't make this clear - that response comes from the \Redis connection, when it is in its broken state. Not from redis-the-actual-process.

If it's actually important I can spend some time to build a dockerfile that demonstrates this, but it's super simple for to duplicate it manually, so I haven't worried about trying to figure out a way to prove this automatically (hence my 'Is this

[2022-03-08 06:05] ejlocop opened #41391 "Migrate command is trying to migrate a non-existent personal_access_tokens migration file"
- Laravel Version: 9.3.1
- PHP Version: 8.0.9
- Database Driver & Version: MySql 14.14 Distrib 5.7.24, for Win64 (x86_64)

### Description:
php artisan migrate command is still trying to migrate a non-existent personal_access_tokens migration file in the database/migrate directory.

I've also tried to run the composer dumpautoload command after renaming the file but it still fails.

Note: the reas

[2022-03-08 06:22] mpyw commented on #41369
@driesvints I confirmed that it's not reproducible in newly cloned `laravel/laravel` apps, however, it actually appears in my existing app. I'll research some more.

[2022-03-08 06:37] mpyw commented on #41369
It's very odd, looks like `LazyCollection::every()` specific.

<img width="575" alt="image" src="https://user-images.githubusercontent.com/1351893/157180739-31492eff-4e66-4cff-b49d-015fceeacce9.png">
<img width="759" alt="image" src="https://user-images.githubusercontent.com/1351893/157180923-fec04963-bf63-47f2-b6f4-1b1ac30d6a12.png">

[2022-03-08 06:49] mpyw commented on #41369
wtf???

<img width="570" alt="image" src="https://user-images.githubusercontent.com/1351893/157182197-cff1e8e9-205b-4638-bca9-2c5ee86af481.png">

<img width="536" alt="image" src="https://user-images.githubusercontent.com/1351893/157182244-4d00f859-e73f-4541-8f30-8ab4d663963a.png">

| Method | Collection | LazyCollection |
|:---|:---|:---|
| `every()` | ✅  | :x: |
| `some()` | :x: | :x: |
| `map()

[2022-03-08 08:02] Victor-emil commented on #41382
@driesvints. Unfortunately that didn't work. I suspect it might have something to do with one of following commits.

https://github.com/laravel/framework/commit/30e341b7fe4e4d9019df42b7eff6c7dfa5ea30e5
https://github.com/laravel/framework/commit/d037fc509c8928f451f74ae80ff72074beba721b

I also see that another person also seems to have problems using withOptions for sending json with Get Requests.

[2022-03-08 08:19] driesvints commented on #41391
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-08 08:19] #41391 closed

[2022-03-08 08:20] driesvints commented on #41390
This is intentional. Components don't take over this variable to be isolated from other views, etc.

[2022-03-08 08:20] #41390 closed

[2022-03-08 08:22] driesvints commented on #41302
Not really. I don't merge PR's 😅

Let's try the first option and see how it goes.

[2022-03-08 08:57] driesvints commented on #41382
That got fixed on 9.x with the PR I linked to.

I can confirm the above two commits break it, most notable mine. I'll work on a fix to make sure both use cases are supported.

[2022-03-08 09:29] mpyw commented on #41369
A clean install solved the problem. I can't reproducd the bug anymore regardless I haven't touch directly inside `vendor` and prepare the same version of `composer.lock` as before. I have no idea what's going on. Was the cache corrupted?

[2022-03-08 09:58] driesvints commented on #41382
I attempted a fix here: https://github.com/laravel/framework/pull/41392

[2022-03-08 10:34] mpyw commented on #41369
Reproduced again

[2022-03-08 10:48] driesvints commented on #41357
I took a deeper look into this and found https://github.com/symfony/symfony/issues/40070 & https://github.com/symfony/symfony/pull/39744.

It seems this is related to the usage of `-t` which is the default in Laravel: https://github.com/laravel/laravel/blob/93395a3468b7827bae2117de7543eddd5eb4a4e5/config/mail.php#L61.

Try changing `/usr/sbin/sendmail -t -i` to `/usr/sbin/sendmail -bs -i` to see i

[2022-03-08 11:44] DA40 commented on #41357
Good call! That fixes it.  Thanks for your help.

[2022-03-08 12:29] driesvints commented on #41357
Cool, I sent a PR to change the default: https://github.com/laravel/laravel/pull/5836

[2022-03-08 12:29] #41357 closed

[2022-03-08 12:35] pxpm opened #41394 "Issue with `afterResolving` when the class had already been resolved."
Hello guys!

I have a question regarding the `afterResolving` callbacks.  First of all sorry if I miss something basic here, I will try my best to explain it clearly. The question first and I will give the context after to don't biase the answer to a concrete example:

- **What is expected to happen when you define a `afterResolving` callback to some class that had already been resolved in the con

[2022-03-08 12:35] driesvints commented on #41394
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-08 12:41] pxpm commented on #41394
@driesvints sure, I reposted the issue in some Laravel channels. 👍

Can you just let me know what you think should happen in the specific scenario when the class had been resolved, and someone register an `afterResolving` callback for it? Just bad lucky day then ? There is nothing Laravel can do about it ?

Thanks for your time 🙏

Pedro

[2022-03-08 12:44] driesvints commented on #41394
@pxpm sorry, I closed this mainly because I didn't see a filled out issue template. This isn't really the appropriate place to ask these questions. Try discussions or the other channels above. Please also see the issue templates when you open an issue. I don't have time to answer every question sorry.

[2022-03-08 12:45] #41394 closed

[2022-03-08 13:00] Healyhatman commented on #41390
Why do they still have their own separate empty errors variable made available then? That appears to be shared between all the components? Where is it being instantiated?

[2022-03-08 13:07] pxpm commented on #41394
Understandable, and I didn't see the issue templates, sorry for that. I will be filling a full issue template later if I don't get the answer from the channels I've posted this question.

I am not even sure if this is or should be considered an issue, that's why I phrased it as a question, but technically it's some internal Laravel behaviour.

The question is pretty straightforward but I get it wo

[2022-03-08 13:09] mpyw commented on #41369
Confirmed that the `TValue` inferencing is unexpectedly replaced with `TKey`.

![image](https://user-images.githubusercontent.com/1351893/157243984-0f3831fc-87ff-4da0-a0fe-4c36db1377b4.png)
![image](https://user-images.githubusercontent.com/1351893/157243992-d8e0f6b0-0f30-4d7e-a577-5565d75f13ff.png)
![image](https://user-images.githubusercontent.com/1351893/157244012-2929f125-6152-43b6-9b67-033656

[2022-03-08 16:34] simonmaass commented on #35857
anyone find a solution for this? i am trying to test a job that creates some models in an DB transaction... and i am trying to test that some jobs are dispatched in the model observer... we are using afterCommit = true in the observer... and they are not being fired

[2022-03-08 16:55] shijie1991 commented on #41386
laravel8 works fine

[2022-03-08 22:07] tylernathanreed commented on #35857
@simonmaass

I just found this thread, and I didn't see an answer either. I went ahead and solved it myself. For everyone else coming here in the future, here's how I resolved this issue.

The way Laravel handles the "after commit" functionality is by the new `DatabaseTransactionsManager` introduced in Laravel 8.x. All forms of "after commit" logic funnel into the `addCallback` method:

[code]

As

[2022-03-08 23:43] william-lohan commented on #25495
Hello, I am experiencing a similar issue but the SO doesn't help me because I need to work with a number of different Models dynamically so the generated columns are not known and I'm not finding something like a  `isNotGenerated($key)`  on the Model class.

[2022-03-09 00:19] emmannl opened #41399 "Unable To Customise Route Resource Parameter Name for URLs with Slug case"
- Laravel Version: 9.4.1
- PHP Version: 8.1.3
- Database Driver & Version: N/A

### Description:
When defining an apiResource route, we have the ability to overwrite the parameter name used for example in route model binding.

For example:
`Route::apiResource('my-action', MyActionController::class)->parameter('my_action', 'userAction');`

should allow us to access the parameter bound to the given

[2022-03-09 03:59] mpyw commented on #41369
Re-published as a PHPStan issue: https://github.com/phpstan/phpstan/issues/6768

[2022-03-09 07:25] Victor-emil commented on #41382
@driesvints. I just upgraded to the latest version of Laravel v9.4.1 and the problem has now been solved for me. Thanks for the assistance. 🤘

[2022-03-09 10:12] gifary opened #41402 "Route group issue Laravel 9"
- Laravel Version: 9.2
- PHP Version: 8.0.12
- Database Driver & Version: mariadb  Ver 15.1 Distrib 10.3.34-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2

### Description:
Route group issue tested on API.php always return Unauthenticated

### Steps To Reproduce:

`
Route::group(['as'=>'api.'], function () {

    Route::group(['middleware' => ['auth:api'],'as'=>'admin.','prefix'=>'admin

[2022-03-09 10:39] YangHaHabiu opened #41403 "$deleteWhenMissingModels no work"
- Laravel Version: 9.x
- PHP Version: 8.1.3
- Database Driver & Version: mysql 5.7

### Description:
A table in the database does not exist;

set $deleteWhenMissingModels = false

Failed method will not be triggered
will not send data to failed_jobs

### demo
[code]

[2022-03-09 11:53] driesvints commented on #41403
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-03-09 11:53] #41403 closed

[2022-03-09 12:33] #41382 closed

[2022-03-09 12:44] SupianIDz commented on #41402
This is not a bug, It is caused by `'prefix' => '{company}'`, when you call /api/countries `countries` will be treated as `{company}`

To solve this, you can change to `'prefix' => 'companies/{company}'`

[2022-03-09 12:51] driesvints commented on #41402
Thanks @SupianIDz

[2022-03-09 12:51] #41402 closed

[2022-03-09 13:31] slothentic commented on #9555
If you have a job class that does not use `implements ShouldQueue` it will return this error

[2022-03-09 15:11] pyrou commented on #35857
@tylernathanreed your solution only work if only one transaction is perform in your application code. I implemented your solution, and with following code in my controller :

[code]

it doesn't dd()

Because, each time you start a transaction with `DB::transaction(function () {});` it increment the `$this->transactions->count()`.
But, there is no code that can decrement it. Transaction cleaning is

[2022-03-09 15:15] pyrou commented on #35857
@driesvints Can you reconsider re-opening this issue ? It looks we are several people (including me) experiencing this issue with non-sqlite dd driver.

[2022-03-09 16:18] sayabakso opened #41410 "Cache::lock()->get() doesn't prevent race condition if two processes is concurrent"
Laravel Version: v5.8 (but has been an issue for a long time)
PHP Version: 7.4
Queue Driver: Redis

I'm having an issue, I use Jmeter as well to send a request to dispatch 2 concurrent job to test race condition with redis atomic lock
After logging the result of redis setnx, both jobs got return value of 1
Apparently, the redis setnx cannot prevent race condition because the function itself can ge

[2022-03-09 16:47] marvin-wtt commented on #41399
Shouldn't it be `Route::resource('my-action', MyActionController::class))->parameter('my-action', 'userAction');` instead? The minus is only converted to an underscore later to generate a valid php variable name

[2022-03-09 17:25] andreladocruz opened #41411 "Error converting binary string in query string"
- Laravel Version: 9.4.1
- PHP Version: 8.0.16
- Database Driver & Version: Mysql(

### Description:
Error converting binary string in query string .

### Steps To Reproduce:

?utm_campaign=%5BConversão%5D%20%5BLegendas%20Magnéticas%5D%20-%20Público%20Quente

Makes utm_campaign to be null

![image](https://user-images.githubusercontent.com/3315596/157496228-48e8aa29-d984-44fb-8dea-ebaaf3d18c6a.png

[2022-03-09 17:50] sulemaanhamza commented on #41360
Created a PR for this issue: #41412

[2022-03-09 19:34] emmannl commented on #41399
My bad. Your are very correct!

[2022-03-09 19:34] #41399 closed

[2022-03-09 20:25] Designkago opened #41413 "Can't seem to Update a single child of a oneToMany relationship"
- Laravel Version: 8.83.3
- PHP Version: 8.1.3
- Database Driver & Version: MySQL 8.0.28

### Description: I have a oneToMany relationship between my User and Order models where a user can have many orders. When I create an order, everything works perfectly but when i try to update a column of one of the child objects of the order model, it updates that same column for all child objects instead of

[2022-03-09 22:10] AliSaleem27 opened #41416 "`Route:view()` are not listed when using `--except-vendor`"
- Laravel Version: 9.4.1
- PHP Version: 8.1.1

### Description:
Any routes defined using the `Route::view()` method are not shown in the route list when ignoring vendor routes.

Since these routes are defined in the users app, they should be shown even when ignoring vendor routes from the list.

Could this be occurring because the `view()` method forwards the actual handling to a controller locate

[2022-03-09 22:31] marty0678 commented on #9894
Can confirm on Laravel 8 it doesn't work, but the older, less ideal way `$this->app['request']->server->set('HTTPS', true);` does.

[2022-03-09 23:38] netpok commented on #41413
Please format your code with code blocks (tripple backticks):
[code]

[2022-03-10 03:05] Designkago commented on #41413
##### User Migration
[code]
##### Order Migration
[code]

##### User Model
[code]
##### Order Model
[code]
##### OrderController
[code]

[2022-03-10 11:17] rogatty opened #41420 "handleLazyLoadingViolation shouldn't throw for newly created model instances"
- Laravel Version: 9.1.0
- PHP Version: 8.1.3
- Database Driver & Version: N/A

### Description:
https://github.com/laravel/framework/blob/91c60eaeb3534d57703b3251eb56839009bfd69d/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L517-L524

`HasAttributes::handleLazyLoadingViolation` shouldn't throw `LazyLoadingViolationException` if model instance was created in memory, and not fetched

[2022-03-10 15:07] SlyDave opened #41423 "It is not possible to define a constraint for OneOfMany relationships when eager loading."
- Laravel Version: 9.x
- PHP Version: 8.1
- Database Driver & Version: MySQL

### Description:

It is not possible to define a constraint for OneOfMany relationships when eager loading.

### Steps To Reproduce:

If we have a HasOne relationship defined as a OfMany e.g.:
[code]
And we attempt to constrain it at eager load:
[code]
This does not work as expected as the condition is applied to the out

[2022-03-10 15:14] SlyDave commented on #41423
It seems that when Eloquent\Builder calls `eagerLoadRelation`, it passes the Relation in question to the callback (either the one defined or a empty stub). i.e.: `$constraints($relation);`

The trait ForwardsCalls of the loaded Relation then passes the applied constraints directly to $this->query of the Relation.

The CanBeOneOfMany trait does override getRelationQuery(), but this is skipped (as t

[2022-03-10 15:18] #41360 closed

[2022-03-10 15:19] SlyDave commented on #41423
tagging in @cbl for insight

[2022-03-10 16:25] marvin-wtt commented on #41413
What is the primary key for the Order Model?
Also I'd change the name from orders.id to orders.user_id to avoid confusion.

I don't think that this is an actual issue so I think it can be moved to the discussion section.

[2022-03-10 19:22] cpl-repo commented on #22683
Does this issue still exist, so one would need to manually run that "fix my sequence" script?
Does this issue still on latest postgres version 14.x as well?

[2022-03-10 19:29] Designkago commented on #41413
'id' is the primary key.

I'd like to know if there is a better way around it I wouldn't mind restructuring my code.
Thank you.

[2022-03-10 19:59] marvin-wtt commented on #41413
So in general, I would personally avoid using UUIDs as primary key because afaik they scale very bad performance wise.
But to come back to your problem:

You are using `id` as your primary key, but also declared it as a foreign key.

[code]

I don't really understand what the `$id` parameter is referencing to. Is it the user id or the order id? And if it is the order id, what are you trying to acc

[2022-03-11 02:31] AstonGemmy commented on #41413
This works. The foreign key constraint on 'id' was the problem. Thank you very much @marvin-wtt

However, I've got another problem. I am building a laravel API and I've tried uploading files but always get 'null' as file field in my request. I've been stuck with it for hours yet no solution. Any help would be highly appreciated as well. Thank you!

[2022-03-11 04:37] falconeri opened #41428 "Method Illuminate\Auth\RequestGuard::getRecallerName does not exist."
- Laravel Version: 9.4.1
- Jetstream Version: 2.6.7
- Jetstream Stack: Livewire
- Uses Teams: no
- PHP Version: 8.1.1
- Database Driver & Version: MariaDB-10.4.12

### Description:
Latest working using Laravel version 9.3.1 with jetsream got bug in https://github.com/laravel/jetstream/issues/985, then it fixed by https://github.com/laravel/framework/commit/50b46db563e11ba52a53e3046c23e92878aed395

[2022-03-11 06:26] netpok commented on #41413
Also please note, that
[code]
is not doing what you are expecting.

`find()` will resolve a model and the where call will create a new query builder on it translating to:
[code]

Meaning it's the same as:
[code]

---

You probably want:
[code]

Which will translate to:
[code]

[2022-03-11 06:52] netpok commented on #41413
@AstonGemmy There is a high chance you're file is too big, you should test it with a small file and if it works you need to set the `upload_max_filesize` and `post_max_size` in your php.ini.

The `post_max_size` should be big enough to handle both the uploaded files and any additional data so if you want to upload 5 4M files in a single form you need to set the `upload_max_filesize` to 4M and the

[2022-03-11 07:22] AstonGemmy commented on #41413
Well I don't think it's the file size because even a single file of 34kb isn't received by the server.

NOTE: It's an API and not a normal web app that laravel is kind of built for by default and I've been seeing posts about request headers when sending files in Laravel.

My observation is that other input values are received by the server except files.

In addition, I have a normal Laravel web ap

[2022-03-11 07:43] netpok commented on #41413
@AstonGemmy You can only send files in a multipart form request, see https://stackoverflow.com/questions/4083702/posting-a-file-and-associated-data-to-a-restful-webservice-preferably-as-json

@driesvints This issue turned into a giant support thread, I think it can be closed.

[2022-03-11 08:49] Designkago commented on #41413
This is perfectly understood and it works. Thanks a lot!

[2022-03-11 10:02] maarsson opened #41437 "Route list sort option "precedence" does not work anymore"
- Laravel Version: 9.4.1
- PHP Version: 8.1.0
- Database Driver & Version: irrelevant

### Description:
The very handy feature sorting routes by their precedence by the `artisan route:list --sort=precedence` does not work anymore.

### Steps To Reproduce:
1. Install a fresh Laravel project
2. Run command `php artisan route:list --sort=precedence`
3. See error exception

[2022-03-11 13:28] gmutinel commented on #41423
I think this broke the whereHas too. This relationship...

[code]
...used in a query like this...

[code]

...ignores the condition and produces this

`select * from [event_experience_subscription_participants] where [type_id] = ? and exists (select * from [event_experience_subscription_participant_checkins] where [event_experience_subscription_participants].[id] = [event_experience_subscription_p

[2022-03-11 14:45] #41428 closed

[2022-03-11 14:56] sedattcom commented on #41437
Accepted values are host, method, uri, name, action or middleware.

[2022-03-11 15:09] miaotiao opened #41440 "connect docker mysql error"
- Laravel Version: 8.78.1
- PHP Version: 8.0.14
- Database Driver & Version:  mysql 5.7.36

### Description:

I can connect mysql by :

![image](https://user-images.githubusercontent.com/28383349/157893494-f815d47a-e173-4be1-a6d5-740d51cbc777.png)

but , laravel cant connect mysql，exception is ：

![image](https://user-images.githubusercontent.com/28383349/157893765-5ee97ecc-620e-4439-b456-ad05a8ae

[2022-03-11 15:14] epixian commented on #41440
Check to make sure your `.env` is updated with the correct username and password.

[2022-03-11 15:16] epixian commented on #41437
Is `precedence` spelled correctly on the commandline?

[2022-03-11 15:18] miaotiao commented on #41440
username and password is correct .

[2022-03-11 15:19] bobwurtz commented on #39705
I am now getting this error after upgrading to Laravel 9.x yesterday from 8.x. I am now experiencing all kinds of strange behavior when users attempt to login that I never had before the upgrade. Sometimes the page throws a 500 error. And then sometimes it just keeps returning users to the login page.

I am using a custom middleware to manage access to certain parts of the site. Here is the stack

[2022-03-11 15:27] epixian commented on #41440
[code]
[code]
Also make sure your app and database containers are on the same network.

[2022-03-11 15:43] miaotiao commented on #41440
database is running in docker， and app running on my windows10

[2022-03-11 15:45] miaotiao commented on #41440
![image](https://user-images.githubusercontent.com/28383349/157900188-fef6800b-7389-461a-88ad-52d01d5f8d60.png)

[2022-03-11 15:58] SlyDave commented on #41423
@gmutinel You should log that as a separate issue, it is not related to this tickets issue with OneOfMany

In fact, the example usage you've shown is one ofMany() was added, to avoid the N+1 issue you've got (assuming ParticipantCheckin is a OneToMany relationship)

if ParticipantCheckin is a hasMany relation, and you're doing a hasOne to get the latest, you should be using ofMany() on it, for the

[2022-03-11 16:04] epixian commented on #41440
`(using password: NO)` tells me that your app is not sending a password when trying to connect.  If your .env is correct as you say, make sure `config/database.php` isn't overriding it.  You can also try `php artisan config:clear`.

[2022-03-11 16:56] stevebauman commented on #41440
Hi @miaotiao,

Don't use `localhost`, use `127.0.0.1`. This should resolve your issue 👍

[2022-03-11 17:08] AstonGemmy commented on #41413
Thank you very much @driesvints I have found a way through.

[2022-03-11 17:20] miaotiao commented on #41440
You are right! Thanks!

You are right! Thanks!

[2022-03-11 17:20] miaotiao commented on #41440
You are right! Thanks!

[2022-03-11 17:23] miaotiao commented on #41440
OK, I thought it`s bug before i found the answer.... Sorry

[2022-03-11 17:33] stevebauman commented on #41440
No need to apologize @miaotiao 🙏

[2022-03-11 20:59] foremtehan opened #41446 "(Laravel 9) HigherOrderCollectionProxy not working"
- Laravel Version: 9.4.1
- PHP Version: 8.1.2
- Database Driver & Version: PostgreSQL

### Description:
HigherOrderCollectionProxy not working when i want to filter model by `created_at` column

### Steps To Reproduce:

Create 10 models and then:

[code]

error:

[code]

The exact code working on laravel 8

[2022-03-11 21:04] #41446 closed

[2022-03-11 22:10] selcukcukur commented on #41437
Sorting by precedence is currently not available.

[2022-03-11 22:17] selcukcukur commented on #41416
Isn't it normal for a new laravel install also to have a route included from the vendor package, which is why the app says so?

@AliSaleem27

[2022-03-11 22:22] selcukcukur commented on #41416
I did not encounter the problem you describe. @AliSaleem27

[2022-03-12 04:50] maarsson commented on #41437
I spelled with an extra "n" consistently here, thanks @epixian. Issue is updated to the correct `precedence`.
Anyways the problem is still exists. I also took a closer look: it was working with framework 9.0.2 and stopped working from 9.1.0

[2022-03-12 07:13] Purek opened #41452 "Laravel9 \URL::forceScheme('https') Partial Failure"
- Laravel Version: 9.3.1
- PHP Version: 8.0.16
- Database Driver & Version:mysql-5.7.37

### Description:
I passed AppServiceProvider in the boot() method to achieve https
[code]
Mailbox verification will now return `403 invalid signature`

I try in `vendor/laravel/framework/src/Illuminate/Routing/UrlGenerator.php`

[code]
I found that the two values are different. I further found that it is becau

[2022-03-12 13:47] Hillcow commented on #6513
Still not fixed.

[2022-03-12 15:58] peterfox commented on #39705
I'm oddly receiving this at the moment. It happens with a Jetstream/Livewire app. It happens after not using the site for a while but still being logged in, you go to load a page and it fails. Refreshing the page again quickly after is then fine. Unsure how to demo the issue as it's fairly specific.

[2022-03-12 18:52] mfn commented on #22683
yes and yes

However, it's not an "issue" of pgsql, it's document and expected behaviour and unlikely to change.

[2022-03-12 21:12] karmadice commented on #41416
@AliSaleem27 I using Laravel in same environment and I am not able to duplicate this behaviour. Maybe one of the package that you have used is causing it.

[2022-03-12 21:52] JexPY commented on #17282
Why is this issue closed?

Have the same issue "firstOrCreate" is not able to detect array object and creates a new entry.

[2022-03-13 00:06] msazzuhair commented on #39705
@peterfox Got the same problem with Jetstream/Inertia stack. PR #41429 seems to solve the problem.

[2022-03-13 03:43] mouyong commented on #41353
When I use $this->app->files->deleteDriectory(); it cannot remove the directory. because $items = new FilesystemIterator($directory); take the resource lock, but not release the lock.

[2022-03-13 20:02] Husky110 opened #41464 "ShouldBeUnique-Jobs store their locks inside the app-file-cache when database-connection is used, causing problems with no-unique-criteria-jobs on detached environments"
- Laravel Version: 9.1.1 (artisan said 9.4.3) but can be replicated with 8.6.11 aswell - I did not test more downward.
- PHP Version: 8.1.3

### Description:
Okay, this was a bit of an odyssey to figure out, but I will try my best to describe the problem - or better: the possible multiple problems.
- Given you have an environment where the database-server is somehow detached from the laravel-appli

[2022-03-14 03:04] taka-oyama opened #41466 "[9.x] calling Collection::implode('_') throws error"
- Laravel Version: 9.x-dev
- PHP Version: 8.0.16

### Description:
The following pull request broke parts of our code.
https://github.com/laravel/framework/pull/41405

### Steps To Reproduce:

[code]

Throws the following error.

[code]

This is because '_' is a function defined by the gettext extension.

Checking with `is_callable` is probably not suitable here.

[2022-03-14 05:43] Sicklou commented on #18551
The issue still exists.

I am trying to change a default value of a column, but I got the same error "Column does not exists".

If I don't put the change method at the end, I got a "Duplicate column error".

[2022-03-14 05:45] #41413 closed

[2022-03-14 08:42] driesvints commented on #41413
Thanks all for helping out here 👍

[2022-03-14 10:29] eusonlito commented on #41466
Fix PR pending to merge https://github.com/laravel/framework/pull/41468

[2022-03-14 11:51] #41440 closed

[2022-03-14 13:41] driesvints commented on #41452
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-14 13:41] #41452 closed

[2022-03-14 13:42] driesvints commented on #41437
This value isn't an accepted one.

[2022-03-14 13:42] #41437 closed

[2022-03-14 13:44] driesvints commented on #41411
Please report this to the Symfony issue tracker.

[2022-03-14 13:49] driesvints commented on #41410
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!