[2022-07-29 13:34] #43475 closed

[2022-07-29 13:38] nshiro commented on #43475
@pryley
You're welcome. 😊

[2022-07-29 17:53] aneesdev opened #43478 "Expected a scalar, or an array as a 2nd argument to "Symfony\Component\HttpFoundation\InputBag::set()", "stdClass" given."
- Laravel Version: 9.22.1
- PHP Version: 8.0.11
- Database Driver & Version: MariaDB 10.3.31

### Description:

Hi. when using `$request->merge()` I'm getting this error:

![image](https://user-images.githubusercontent.com/92947803/181816760-e25db77c-df8d-4de2-b948-7cceac9426f7.png)
![image](https://user-images.githubusercontent.com/92947803/181816790-9c5df518-ff97-4492-aa60-a9dfc1fdcd01.png)

###

[2022-07-29 18:11] #43478 closed

[2022-07-30 03:08] bernardo-campos opened #43479 "Mailer is encoding char = as =3D"
- Laravel Version: 9.22.1
- PHP Version: 8.1.4
- Database Driver & Version:

### Description:
When sending an email, laravel is encoding the char **=** to **=3D**, it is a problem when sending HTML emails since it is not rendered properly

### Steps To Reproduce:

1. clone repository
2. php composer.phar install
3. copy .env and set MAIL_MAILER=log
4. php artisan key:generate

php artisan tinker

[2022-07-30 16:20] driesvints commented on #43479
This would be an issue with symfony mailer as that's used under the hood to send the mail. Feel free to open an issue on their repo.

[2022-07-30 16:20] #43479 closed

[2022-07-30 21:45] damms005 commented on #31249
@taylorotwell do you mind a PR that replaces the less helpful message `The "" file does not exist or is not readable` with a more helpful message? (e.g. [by comparing file size with configures sizes](https://github.com/laravel/framework/issues/31249#issuecomment-627409757))

[2022-07-31 00:27] ProteanCode opened #43486 "Invalid locale loaded for translator when page visited from hibernated device"
- Laravel Version: 8.54
- PHP Version: 8.1
- Database Driver & Version: Postgres

### Description:

When user visits the page from something that I may describe as hibernated device state (ie. the tablet screen was off for 3 minutes) the loaded locale is not valid. Using the `dd(app('translator'))` code line shows that loaded locale **is not** en, but en_US.

Reloading the page manually actually s

[2022-08-01 06:17] driesvints commented on #43486
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-01 06:17] #43486 closed

[2022-08-01 06:37] vinsonmixcare opened #43490 "Queue worker stop processing job and keep spawning and exiting repeatedly"
- Laravel Version: 8.83.17
- PHP Version: 8.1.x
- Database Driver & Version: AWS Aurora Serverless V2

### Description:
We deployed our Laravel project with Octane to AWS ECS. Aside from Octane, we also utilised supervisor to manage queue jobs in the container with the following `supervisord.conf`:

[code]

Everything works fine and as expected with fresh deployment. However, after a random period

[2022-08-01 06:42] driesvints commented on #43490
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-01 06:42] #43490 closed

[2022-08-01 06:56] driesvints commented on #43428
I'll reopen this once a repo is provided.

[2022-08-01 06:56] #43428 closed

[2022-08-01 07:57] haleyngonadi opened #43491 "Auth()->User() Returning Wrong User?"
- Laravel Version: 9.21.5
- PHP Version: 8.1.7
- Database Driver & Version: MYSQL / 5.7.37

### Description:
A user just tried to delete their account (they are logged in using their own username / password) but instead of deleting their account, it deleted my admin account (I was currently logged in on my own computer, in a completely different company). I believe this is a bug related to auth()-

[2022-08-01 07:59] driesvints commented on #43491
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-08-01 07:59] #43491 closed

[2022-08-01 12:55] aliakbarebrahimy opened #43494 "problem when laravel lozalization validated error message"
- Laravel Version: 9.1.9
- PHP Version: 8.0.2
- Database Driver & Version:

### Description: سلام ، مشکلی در اعتبار سنجی با لاراول 9  دارم ، وقتی که درخواست کلاینت مشکلی داره من از طریق اعتبار سنج های درخواست اون رو برسی میکنم و اگر مشکلی داشته باشد پیغام آن را محلی سازی میکنم ، مشکلی تا اینجا وجود ندارد ولی هنگامی که چندتا فیلد مشکلی داشته باشد از جمله ( and X more ) استفاده میکنه ، که این قابل م

[2022-08-02 03:12] ab0029 opened #43506 "validate empty string will do nothing, all is pass"
- Laravel Version: 6.* - 9.*
- PHP Version: 7+
- Database Driver & Version:

### Description:
validate empty string will do nothing, all the data is pass

like this:

`
    $data = [
        'a' => '',
        'b' => '',
    ];

    $v = Validator::make($data, [
        'a' => 'integer',
        'b' => [function($attribute, $value, $fail) {
            // validate something
            // here is

[2022-08-02 03:16] ab0029 commented on #43506
how can i validate with Closure when the data is a empty string

[2022-08-02 03:43] ab0029 commented on #43506
here is the larave code:
Illuminate\Validation\Validator
when check the data is validatable , the method is all passed when the data is empty string
`
    protected function presentOrRuleIsImplicit($rule, $attribute, $value)
    {
        if (is_string($value) && trim($value) === '') {
            return $this->isImplicit($rule);
        }

        return $this->validatePresent($attribute, $value)

[2022-08-02 05:14] rodrigopedra commented on #43506
Did you try adding the `required` rule?

[code]

[2022-08-02 05:42] ab0029 commented on #43506
sometimes the data is no required，but need valiate with Closure , not is no process

[2022-08-02 05:58] rodrigopedra commented on #43506
But do you need to validate an empty string inside the closure?

Anyway, I believe you might be after creating an implicit custom rule:

reference: https://laravel.com/docs/9.x/validation#implicit-rules

*PS: I omitted some parts from the docs for brevity*

[2022-08-02 06:01] ab0029 commented on #43506
this code is run:

[code]

[2022-08-02 06:02] ab0029 commented on #43506
the null data is run in Closure, the empty string is not work

[2022-08-02 06:13] rodrigopedra commented on #43506
Well, although I agree one would expect a `null` value to behave like a missing field or an empty string, the current behavior is actually inline with the docs for the implicit rules I linked above:

It only skips other validation rules if the value is either:

- not present
- is an empty string

In the case of passing a `null` value, the field **is present** and **does not contain an empty string

[2022-08-02 06:15] driesvints commented on #43506
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-02 06:15] #43506 closed

[2022-08-02 06:56] phanan commented on #18551
For future adventurers: This error doesn't come from Laravel itself, but Doctrine DBAL. Upgrading it to a newer version (for me it's the latest to date - 3.x) may help.

[2022-08-02 07:49] kayw-geek opened #43510 "[9.x] Passing null to parameter #1 ($string) of type string is deprecated"
PHP version: 8.1.7
Laravel version: v9.21.6

### Description:
We have a problem that passing null to non-nullable parameters of built-in functions, the causes the log file to become very large, I try to fix it, but you don't seem to agree with my approach, Can you tell me what I should do?

#43508
#43507

[2022-08-02 07:50] driesvints commented on #43510
Typecast your value before calling the methods.

[2022-08-02 07:50] #43510 closed

[2022-08-02 10:19] lgrassini opened #43513 "Laravel casting empty JSON objects as empty arrays on the Illuminate\Http\Request class"
- Laravel Version: 9.22.1
- PHP Version: 8.0.2
- Database Driver & Version: None

### Description:

When sending a POST or PUT request providing JSON data in the body the `Illuminate\Http\Request` class will cast any empty JSON object as empty array.

### Steps To Reproduce:

Create a simple route that will just output the received request:

[code]

Send a POST or PUT request to the above created

[2022-08-02 11:39] driesvints commented on #43513
Requests are decoded as associative arrays. After doing that, there's no way of knowing what was an array and what was an object.

[2022-08-02 11:39] #43513 closed

[2022-08-02 12:00] driesvints commented on #42883
Does anyone have any ideas on how to resend in https://github.com/laravel/framework/pull/42950 without the breaking change?

[2022-08-02 12:52] halloei opened #43515 "Database seeder output is messed up by new Artisan look"
- Laravel Version: 9.22.1
- PHP Version: 8.1.8
- Database Driver & Version: MySQL 8.0

### Description:
In my database seeders I'm writing output to the console via `$this->command->info()`. Unfortunately #43065 messed it up:

[code]

If you're wondering what I'm doing here: I'm hardcoding the user groups and permissions of my application into seeders. The seeders then keep the database in sync.

[2022-08-02 13:49] michaelklopf commented on #30736
We ran into this issue too and a file with 52 tests takes 250 MB of memory. Running a test suite with 530 tests consumes 2.48 GB of memory. And all in all we have more than 2000 tests. PHP8.1 only did a small dent and decreased the amount of memory consumed to 230 MB.

The 250 MB tests just does assertions like this

[code]

So all those objects are lying around and are not garbage collected if I

[2022-08-02 14:11] tombanksme commented on #33238
I encountered this issue myself recently and I think I found a better work around.  It’s pretty similar to those who suggested dumping the schema using another tool such as TablePlus but uses the new `schema:dump` command and works with the migration system.

 On the machine you use for development create a fresh database using (this will delete all existing tables and re-create them using your mi

[2022-08-02 17:11] LocalHeroPro commented on #42837
Laravel Framework 9.23.0 and issue still here.

[2022-08-03 01:18] pixelated-au commented on #43395
In PHPStorm, if trying to disable the auto-indent on blade (mail) markdown files, **make sure the [formatter comment markers has been enabled](https://www.jetbrains.com/help/phpstorm/2022.2/settings-code-style.html#formatter-control).**

Then you can add in a comment at the beginning of your blade file `{{--@formatter:off--}}`. This will disable all auto-formatting on the blade file

Full example:

[2022-08-03 05:05] ankurk91 commented on #43515
![Screenshot from 2022-08-03 10-33-46](https://user-images.githubusercontent.com/6111524/182528157-b0af62e0-e552-425b-a897-2930a52171e8.png)
![Screenshot from 2022-08-03 10-34-08](https://user-images.githubusercontent.com/6111524/182528161-b9632cd1-e199-4fa3-8838-8e3001b8be55.png)

[2022-08-03 06:24] nunomaduro commented on #43515
@ankurk91 With the console output improvements, we don't really expect "output" in the middle of seeders. Same goes when calling `Artisan::call(` within seeders, can you consider running that command discarding the output?

[2022-08-03 06:53] ankurk91 commented on #43515
One can do like

[code]

I have tried to remove the last parameter from `Artisan::call`, but now it does not show any output form artisan command.
The artisan command has lines like
[code]
which we want to append on the terminal when running from seeder. we have been doing this from years already.

Then we should also deprecate the  `$this->command` in seeder

[2022-08-03 08:05] dgillier commented on #18597
Hello,

I'm using laravel 9 and I can't pass variable to the mailable markdown templates.

I tried several solutions presented here with no success:

Here is my  class:

[code]

Than my template :
[code]

And my variable $pedigree is always undefined...
Any idea ?
Thanks, Denis

[2022-08-03 09:24] halloei commented on #43515
@nunomaduro Doesn't sound like an improvement, at least for me.

Wouldn't it be possible to display the output similar to `./artisan route:list --verbose`?

![image](https://user-images.githubusercontent.com/4547019/182573420-6d8ca9fd-22f4-4d31-b552-761ca348913d.png)

The rows that are used to display the middleware (groups) here could be our output instead.

I think this would be a useful additio

[2022-08-03 11:59] direc85 opened #43530 "Laravel uses `--column-statistics=0` with MariaDB"
- Laravel Version: 8.83.23 (but it looks like it exist in Laravel 9, too)
- PHP Version: 8.1.2
- Database Driver & Version: 10.19 Distrib 10.6.7-MariaDB

### Description:
`artisan schema:dump` (and some migrations) generates the dump, but produces the following warning:

`mysqldump: unknown variable 'column-statistics=0'`

### Steps To Reproduce:

I was running Laravel in a Docker container with U

[2022-08-03 12:29] direc85 commented on #43530
Okay, it looks like Laravel [8.83.19](https://github.com/laravel/framework/releases/tag/v8.83.19) has #43027 which explicitly reverts this, but that makes the warning appear for me. I updated Composer packages before running the first `artisan` command, the current version is 8.83.23, and I am now affected.

Also, in #43027 the affected setup us using Sail, wheras I'm not. These two seem to behave

[2022-08-03 12:32] carloscarucce opened #43531 "Artisan output is not readable on windows console"
- Laravel Version: 9.22.1
- PHP Version: 8.1.6
- Database Driver & Version: N/A

### Description:
After the recent patches, console messages are not readable when running artisan from a windows console.
The command `php artisan serve` would output nothing.
After installing composer dependencies, windows console will output this:

[code]

### Steps To Reproduce:
Run `composer install` (that calls a

[2022-08-03 12:41] nunomaduro commented on #43531
@carloscarucce Can you elaborate on the Operating System used, Console used, etc?

[2022-08-03 12:50] carloscarucce commented on #43531
I've tested on development machines with windows 7 and 10. Default console and power shell.
With git bash (Mint), `package discover` is readable but `artisan serve` still outputs nothing.

[2022-08-03 13:32] FranciscoCaldeira opened #43532 "Translation of array attributes from validator"
- Laravel Version: 8.83.11
- PHP Version: 7.4.28 (cli)
- Database Driver & Version: MariaDB 10.8.3

### Description:
Translate keys from the validator attributes when it is array.

### Steps To Reproduce:

1º Have validator with arrays ('image.author' and 'image.book').
[code]
2º Add on validation.php these attributes.
[code]
3º Use tinker to debug:
 `__('validation.attributes.image.author');`

An

[2022-08-03 14:51] Eldair commented on #41183
@driesvints Should this method be added to the Session contract?

[2022-08-03 15:30] Artem-Schander opened #43534 "League\Flysystem\FileNotFoundException for existing files"
- Laravel Version: 8.83.23
- PHP Version: 7.4.3
- Database Driver & Version: mysql 8

### Description:
Sometimes I get said exception regardless of the files being accessible.
The only thing that helps is to clear the cache `php artisan cache:clear`.
This is extremely annoying for my customers, since they need to notice it and to inform me to get access to their files.
Is there anything I can do t

[2022-08-03 16:08] carloscarucce commented on #43531
I have upgraded those machines to php 8.1.8 then `artisan serve` is working again...
Answering your question: No Mintty console renders the output as expected. The problem occurs only on native windows terminal and powershell

[2022-08-03 16:33] driesvints commented on #43534
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-03 16:33] #43534 closed

[2022-08-03 18:09] driesvints commented on #43532
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-03 18:09] #43532 closed

[2022-08-03 20:23] DevBodin commented on #22096
Definitely going to need a better explanation here. Honestly baffled it's been closed.

1. "Default" does not mean "current,"
2. If you manually set a config value, that's the value expect to be returned.
3. This very predictably leads to the obvious question: "How do I find the **actual** default value?"

[2022-08-03 21:24] siarheipashkevich commented on #42837
The same issue also on production server.

@driesvints

[2022-08-03 22:13] fcno opened #43539 "fake() helper doesn't work with own faker provider (extended)"
- Laravel Version: 9.23.0
- PHP Version: 8.1.1
- Database Driver & Version: MySql 8, but its not important

### Description:
Helper fake() has a different implementation that makes it not possible to use it if you need to create your own faker, extending the provided generators. Using the old recommendation (Laravel 8.x) ($this->faker...) works.

I think it would be correct to implement the fake()

[2022-08-04 00:43] torenware opened #43540 "@vite blade directive generates the wrong links when Laravel is behind a reverse proxy"
- Laravel Version:

- PHP Version: 9.23.0
- Database Driver & Version:  n/a

### Description:

When running the Laravel 9.23 sample app behind DDEV 1.19, Laravel is running behind a reverse proxy which terminates SSL and assumes a fixed hostname (e.g., my-laravel-app.ddev.site).  When developing JavaScript with the Vite plugin, the `@vite()` blade directive will resolve to the following:

In blade

[2022-08-04 00:46] torenware commented on #43540
Main issue here is: where and how can a user specify the right path to the Vite served assets when behind a reverse proxy, as is the case with DDEV.

[2022-08-04 01:25] timacdonald commented on #43539
See: https://github.com/laravel/framework/issues/42988#issuecomment-1169450207

[2022-08-04 04:46] putroandrianto commented on #24711
wow thanks

[2022-08-04 05:03] fcno commented on #43539
@timacdonald It seems that the bug is with me that I didn't know how to look in the already closed issues.
It worked perfectly and sorry for the wrong issue.

[2022-08-04 05:03] #43539 closed

[2022-08-04 05:34] timacdonald commented on #43539
No need to apologise at all and glad you got it sorted 🤘

[2022-08-04 06:50] sarukomine opened #43543 "Missed some spaces in some Artisan commands with new look"
- Laravel Version: 9.23.0
- PHP Version: 8.1.8
- Database Driver & Version:

### Description:
Thanks @nunomaduro for a great work at #43065, I already like it, but I found some places that make me uncomfortable...

The places that the red arrow point at, I think that there should be the additional space.

![Screenshot 2022-08-04 at 2 16 39 PM](https://user-images.githubusercontent.com/39088208/182

[2022-08-04 06:53] lk77 commented on #43543
I don't see any reason to have a space after the output

[2022-08-04 07:21] driesvints commented on #43543
Not sure I see a real bug here but rather an improvement. Feel free to attempt a PR if you like 👍

[2022-08-04 07:21] #43543 closed

[2022-08-04 07:39] driesvints commented on #43540
Seems like Jess has already answered your questions here: https://github.com/laravel/vite-plugin/issues/83

[2022-08-04 07:39] #43540 closed

[2022-08-04 08:03] driesvints commented on #43530
I think right now, if things work with our own Docker provider (Sail) that we won't take an action to remove that flag if it risks breaking things again. If you figure out a way that solves this without breaking Sail then we'd be happy to receive a PR to 9.x. Sorry.

[2022-08-04 08:03] #43530 closed

[2022-08-04 12:24] ankurk91 commented on #43515
ping @nunomaduro
We have not heard from you.

[2022-08-04 12:39] nunomaduro commented on #43515
We are going to address this issue soon.

[2022-08-04 14:43] CSalih opened #43552 "Storage::exists() may throw a UnableToCheckDirectoryExistence Excepion"
- Laravel Version: 9.x
- PHP Version: --
- Database Driver & Version: --

### Description:

The `Storage::exists` has since v9.x under some conditions a side effect witch leads to an unexpected behavior. With `league/flysystem-aws-s3-v3 "^3.0"` the behavior of `League\Flysystem\Filesystem::has()` has changed compared to `league/flysystem-aws-s3-v3 "^1.0"`:

When calling `Storage::disk('s3')->exist

[2022-08-04 15:18] driesvints commented on #43552
This is a breaking change in Flysystem, not Laravel and should go into the Flysystem upgrade guide.

[2022-08-04 15:18] #43552 closed

[2022-08-04 22:35] yasirmturk commented on #42804
👍  I have the same issue

[2022-08-05 08:35] hopkins385 opened #43561 "php artisan docs command opens a new shell window instead of browser"
Hi guys, I'm very excited about the new artisan docs command.
Unfortunately on my local dev machine the behavior is not as expected.

I'm using vscode with powershell and the artisan docs command does open a new shell window intead of opening my browser.
Might be solveable via a local config update .. but idk where.

Anyone who can give advice?

- Laravel Version: Laravel Framework 9.23.0
- PHP Ve

[2022-08-05 10:03] programster commented on #42804
@driesvints can yoiu re-open this issue now that you have the example info you asked for

[2022-08-05 10:39] Naoray commented on #42977
I think this bug is still not 100% solved. It now works for anonymous components that don't have any slots, but using a default slot will throw an exception `syntax error, unexpected token "endif", expecting end of file`

[code]

[2022-08-05 11:09] direc85 commented on #43530
Thanks for the reply. It's a Sail issue, as it always installs `mysql-client` even if only MariaDB is installed. I'll try to figure out how to properly solve the issue, but that's going to happen sometime next week, I think.

[2022-08-05 11:53] aguingand commented on #42977
@Naoray You have an extra `"`, it should work if you remove it
[code]

[2022-08-05 11:58] Naoray commented on #42977
@aguingand corrected! I didn't have it when trying it out locally.

[2022-08-05 12:05] aguingand commented on #42977
My PR is not released but you can try it by requiring `9.x-dev` version

[2022-08-05 12:36] Naoray commented on #42977
@aguingand ah right. I thought it was already released. Sorry for the trouble :)

[2022-08-05 13:50] amcsi commented on #40617
The fix to this issue caused breakage in my MSSQL usage. There's a `⚬` character that would normally take up more than 1 byte and PHP serializes it with that expectation. But when it gets inserted to the `jobs` database table, all such characters get converted to single character `?`s, and then when trying to process the queue, the job always fails with `ErrorException: unserialize(): Error at off

[2022-08-05 14:05] lucca257 commented on #25475
I have used your code improvement, but I'm still with some problems:

I have one migration that changes the name of the column, name to first_name for example, and when I try to insert this data on the column, the test fails saying that the column doesn't exist.

[code]
the new Fluent doesn't return anything

[2022-08-05 16:38] LiviuDodan commented on #31442
I know it's too late to comment but if the issue it's not yet solved the problem it's in the .env file, the line
"SESSION_DRIVER=cookie" change to "SESSION_DRIVER=file"
That's because if the session driver is set to file, stores the data  in the "app/storage/sessions" folder. Otherwise, if the session driver is set to cookie, the data will be encrypted in the user cookies.
I hope this will help yo

[2022-08-05 17:22] scajal commented on #43561
I'm facing the same issue in the exact same version.

[2022-08-05 17:41] alvinara23 commented on #18551
"php": "^7.3|^8.0",
"doctrine/dbal": "^3.3",

still not working when i want to change not nullable to nullable column. the only way to change the column properties is the way @cesarcruzc  mentions:

[2022-08-06 03:55] cris-m opened #43570 "SQLSTATE[HY000] [2002] Operation timed out when using session database driver"
- Laravel Version: 9.20.0
- PHP Version: 8.1.9
- Database Driver & Version: 10.4.21-MariaDB

### Description:
I am using database session. Some time the project throw the following exception if I closed the the the project and browser without logout.
[code]
The `id` change depending of the session.

<img width="1792" alt="Screen Shot 2022-08-06 at 12 56 52" src="https://user-images.githubuserconte

[2022-08-06 05:06] ankurk91 opened #43571 "Mailable does not support releasing the job back to queue"
- Laravel Version: 9.x (latest)
- PHP Version: 8.1
- Database Driver & Version: MySql 8.0.28
- Cache Driver: Redis 6.2

### Description:
Mailable class supports Job middleware but does not allow to release the job back to queue

### Steps To Reproduce:
* Create a Mailable class
* Implement a middleware which release the job back to queue, see example
* Notice that `$job->release(5)` wont work, sin

[2022-08-07 01:26] Saifallak commented on #43561
i guess this is solved by https://github.com/laravel/framework/pull/43566

[2022-08-07 04:57] rifqi96 opened #43579 "Laravel 6.x distinct validation deep level array problem."
- Laravel Version: 6.20.44
- PHP Version: 7.4.3
- Database Driver & Version: mysql 8.0

### Description:
Validation `distinct` doesn't work well with multi level array.

### Steps To Reproduce:

Validator:
[code]

#### Test case

Data `$data`:
[code]

#### Test case: Result

**Failed**. Because it also checks against `our_team[1].personalities[0].type` in the validation.

#### Test case: Expected

[2022-08-07 07:58] driesvints commented on #43579
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-07 07:59] #43579 closed

[2022-08-07 18:37] eartahhj commented on #17337
Problem still seems to persist as of today, at least for me.
I am using Laravel 9 and MySQL with MariaDB 10.3.3.
Note that `innodb_large_prefix` and `innodb_file_format` have been removed from MariaDB (see https://mariadb.com/kb/en/innodb-system-variables/)
At the same time it seems that starting from MariaDB 10.2.2 the default File Format has been changed to Barracuda, so I am wondering why the e

[2022-08-07 18:58] chuckgreenman opened #43581 "When all field names on a page are integers, validations fail"
- Laravel Version: 9.19
- PHP Version: 8.0.2
- Database Driver & Version: MySQL

(Current Sail Setup)

### Description:
When all inputs in a request are integers Laravel's validator returns a zero indexed array of the right size.

[This  repository has a minimal Laravel app that can be sail'd up](https://github.com/chuckgreenman/validator-bug-demo)

<img src="https://i.imgur.com/OWvsXlg.png" />

T

[2022-08-07 19:25] chuckgreenman commented on #43581
I've opened a PR with a fix here, please let me know what you think.

[2022-08-07 21:53] keverson-ms commented on #26902
I also face this problem, any solution?

![image](https://user-images.githubusercontent.com/65048913/183312398-563eeb2b-4d43-424a-a778-35c5eb087629.png)

[2022-08-08 03:28] timacdonald commented on #43561
I believe this will be fixed by the above mentioned PR and will be released on Tuesday. Please let me know if issues still persist.

[2022-08-08 03:28] #43561 closed

[2022-08-08 08:27] driesvints commented on #43571
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-08-08 08:35] driesvints commented on #43581
I don't think we support this because of PHP's behavior of how array's are indexed.

[2022-08-08 08:35] #43581 closed

[2022-08-08 08:36] driesvints commented on #43570
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-08 08:36] #43570 closed

[2022-08-08 08:44] ankurk91 commented on #43571
I reported a broken feature in framework which seems to be a bug, and was introduced in PR:
https://github.com/laravel/framework/pull/37568
By @themsaid

The PR demonstrate the usage via [RateLimit middleware](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Queue/Middleware/RateLimitedWithRedis.php), which is not working property in Mailables.

I can create a reproduction repo if you

[2022-08-08 08:58] nunomaduro commented on #43531
We are unable to reproduce your issue in a native Windows 10 terminal. Are you using a different Code Page or anything specific that could lead to this issue?

[2022-08-08 09:16] simonworkhouse opened #43587 "Altering an SQLite table with a foreign key constraint fails"
- Laravel Version: 9.23.0
- PHP Version: 8.1.8
- Database Driver & Version: SQLite 3.31.1

### Description:

This issue appears to only occur when using `doctrine/dbal:^3.4`.

Invalid SQL is generated when altering a column if the table has a foreign key constraint.

[code]

### Steps To Reproduce:

Create a migration with the following contents and attempt to execute it using the SQLite driver:

[2022-08-08 09:20] driesvints commented on #43587
Please report this on the Doctrine repo that generates the SQL.

[2022-08-08 09:20] #43587 closed

[2022-08-08 09:28] simonworkhouse commented on #43587
@driesvints Is this a known issue or are you just certain that fault lies with that package? I was reporting it here because it's a required dependency for `laravel/framework` when altering columns.

[2022-08-08 09:37] driesvints commented on #43587
We don't generate the SQL. So if the SQL is incorrectly generated it's happening in doctrine/dbal and not in Laravel.

[2022-08-08 09:48] simonworkhouse commented on #43587
@driesvints That would be assuming that methods haven't been removed and that they haven't had their definitions changed, etc... but sure, if you're certain that the fault lies with that package then why are you asking me to report the bug for you? This isn't exactly an uncommon use-case, this issue exists with any new Laravel install following your documentation.

[2022-08-08 10:08] TheEvilCoder42 commented on #43540
@driesvints Hello, I don't see a reasonable answer in this issue.

My site is proxyied, but also available on another url, which results in CORS & CSP issues.
My current workaround is to omit the url.
To achieve that, I set `ASSET_URL=.` in `.env` and in the `package.json` I set the script command to `build: ASSET_URL='' vite build`

I'm not sure if this would also solve the DDEV issue, but I prop

[2022-08-08 12:04] olsavmic commented on #30736
We found an issue in https://github.com/php/php-src/pull/5581 which caused a memory leak in PHP 8.1 in case destructors are present. Maybe it's related.

[2022-08-08 12:15] freshleafmedia commented on #43587
Associated issue: https://github.com/doctrine/dbal/issues/5572

[2022-08-08 12:48] PHPGuus commented on #43531
@carloscarucce As Nuno indicated, is this perhaps to do with any language specific setting in Windows 10? Is your Windows installation perhaps in Spanish?

[2022-08-08 12:54] carloscarucce commented on #43531
@nunomaduro Just native console. Sometimes we run it through VSCode (that also opens default console inside it)
@PHPGuus Those dev machines are using pt-BR version. Didn't lead to any issues prior to this patch (as far as I know)

[2022-08-08 13:51] PHPGuus commented on #43531
@carloscarucce so your command prompt would have a different Code Page, then by default?

When I select Properties from the Command Prompt's System Menu, I get this with a 437 Code Page.

![image](https://user-images.githubusercontent.com/36767653/183432726-37211636-6460-4c16-95bc-c2e9e7a8759a.png)

Previously,

[2022-08-08 13:58] #43515 closed

[2022-08-08 14:26] driesvints commented on #42804
I'm sorry, but I don't think you should be using raw queries in that situation. Right now I don't have intention of reopening this.

[2022-08-08 14:41] driesvints commented on #42883
Hi all, it looks like this cannot be solved without introducing a breaking change. Feel free to PR master with the above PR.

@bramdevries feel free to provide a comment on that PR if you want to advocate against a breaking change.

[2022-08-08 14:41] #42883 closed

[2022-08-08 14:44] programster commented on #42804
Your missing the point. The raw query in that case was simply to set up the state that the database is already in! Not a demonstration of the user using raw queries.

What is the user supposed to do if they are converting an existing codebase over to using Laravel, and the database (from the legacy system) already has primary keys that have an index name that Laravel is not expecting? This is what

[2022-08-08 14:54] driesvints commented on #43531
@carloscarucce feel free to reply and we'll re-open

[2022-08-08 15:47] klodoma commented on #42685
I am having a similar issue, some details here:
https://stackoverflow.com/questions/73280423/php-readfile-content-corruption-on-azure-web-applinux

[2022-08-08 15:57] aokrasavin commented on #42685
It is a different manifestation of the same issue. I raised a ticket with Azure.

[2022-08-08 16:19] klodoma commented on #42685
Yeah, just found the same azure link. Thanks for the update.

It seems the `stream_copy_to_stream` function to be the problem.

[2022-08-08 16:39] carloscarucce commented on #43531
Code: 850

[2022-08-08 16:55] therecluse26 commented on #35325
The same issue happens for me on Laravel 8, running route:cache twice resolves the issue, for some reason. This caused a customer outage when we discovered it. We ran php artisan route:cache during a production deploy, and all of our users started getting 404s on all routes. Running it twice (or clearing the route cache) resolved the issue.

[2022-08-09 01:30] simonworkhouse commented on #43587
It appears that this was an issue previously https://github.com/laravel/framework/issues/34093

[2022-08-09 01:41] mholt commented on #22125
I just want to chime in as a fellow developer, but I'm not a Laravel user myself. I found this issue while doing research about this very problem, because I want to make sure we address this in [the Caddy web server](https://caddyserver.com) as best as possible. So don't mind me, I'm kind of writing this post to work out my own thoughts on the matter.

My understanding is: the complaint is that se

[2022-08-09 05:16] develgold opened #43603 "DatabaseRule doesn't work with enum"
- Laravel Version: 9.23.0
- PHP Version: 8.1.0

### Description:
DatabaseRule doesn't work with enum

### Steps To Reproduce:

[code]
This code returns error ``` PHP Error:  Object of class App\Enums\UnitType could not be converted to string in  ```

[2022-08-09 06:45] driesvints commented on #43603
Seems like a feature request.

[2022-08-09 06:45] #43603 closed

[2022-08-09 07:20] arthurperton opened #43608 "Collection: sortBy() on multiple attributes doesn't keep original keys"
- Laravel Version: 9.23.0
- PHP Version: 8.1.8
- Database Driver & Version: N/A

### Description:
After using the [sortBy()](https://laravel.com/docs/9.x/collections#method-sortby) method the sorted collection is supposed to 'keep the original array keys'. And this is what is does, unless you pass an array of sort operations. Then the original keys are lost.

### Steps To Reproduce:

Code:
[code]

[2022-08-09 07:44] driesvints commented on #43608
I was looking into this but looks like you already sent in a fix. Thanks! :)

[2022-08-09 07:44] #43608 closed

[2022-08-09 07:53] arthurperton commented on #43608
You're welcome 👍🏻

[2022-08-09 08:29] AsafMazuz1 commented on #22125
Hey,
I don't know how the routes file (or dashboard screen to manage routes) looks at Caddy,
but maybe you can add a special route section for UnParsed strings like foo%2Fbar.
And then users will be able to write a route like this:
/category/{UnParsedString}
And then you can configure this route on the server somehow to ignore this section.
You can show a warning to the user before using this opti

[2022-08-09 15:14] aprivette commented on #24603
I experienced this issue and created a package to clean it up! https://github.com/aprivette/laravel-cache-refs

[2022-08-09 15:46] daniser opened #43621 "New database inspection commands doesn't work in FETCH_ASSOC mode"
- Laravel Version: 9.24.0
- PHP Version: 8.0.18
- Database Driver & Version: MySQL 8.0.29
- PDO statement fetch mode: `FETCH_ASSOC`

### Description:
New database inspection commands doesn't work in `FETCH_ASSOC` mode:
[code]

### Steps To Reproduce:
Try to run any of the new database inspection commands (`db:monitor`, `db:show` or `db:table`) with `FETCH_ASSOC` mode enabled.

Example on how to en

[2022-08-09 16:06] Sergiobop opened #43622 "Problem with the new db:show command"
- Laravel Version: 9.24.0
- PHP Version: 8.1
### Description:

The command works fine, but i get multiple errors in my log:
local.ERROR: Undefined array key "engine" {"exception":"[object] (ErrorException(code: 0): Undefined array key \"engine\" at ...vendor/doctrine/dbal/src/Schema/Table.php:888)

### Steps To Reproduce:
Using the new `php artisan db:show`

[2022-08-09 16:10] mholt commented on #22125
@AsafMazuz1 Indeed, good thoughts! That's pretty close to what I'm experimenting with already. :smiley:

If you want to match a route like `/bands/:artist/:song/` (we don't use the `:` syntax for routing vars in Caddy -- at least not yet -- but you get the idea), you'd currently write a matcher like `/bands/*/*/` -- which will not work for `/bands/AC%2fDC/T.N.T` because we match in the normalized

[2022-08-09 16:25] doshu opened #43624 "Alpha validation rules allow non alpha characters"
- Laravel Version: 9.x
- PHP Version: 7.x - 8.x

Validation rule alpha, use a wrong unicode char property that allow non alpha character to pass the validation.
The used regex use the \pM unicode property, that allow every chars in the group "Marks"

Some chars like ⃞ or ҈ are allowed by the regular expression but they should not.

step to reproduce:

var_dump(preg_match('/^[\pL\pM]+$/u', "\u{0488

[2022-08-09 16:54] stephancasas opened #43625 "Regex Pattern in artisan key:generate"
- Laravel Version: 9.19
- PHP Version: 8.0.2

### Description:

Given the following `.env`...

[code]

... `artisan key:generate` will yield...

[code]

This includes the trailing `=` character every time. I don't think it causes an issue, but the output looked strange to me. If the `.env` file is quoted as `APP_KEY=""`, the command suffixes the `=""` chars after the artisan-generated app key. Whe

[2022-08-09 17:43] jbrooksuk commented on #43622
What database engine are you using?

[2022-08-09 18:28] PHPGuus commented on #43531
Hi Carlos,

and which version of nunomaduro/termwind do you have installed, according to your composer.lock file?
(The CodePage (so far) doesn't seem to be it, however I cannot obviously test pt_BR as an overall language in my Windows setup...)

Best regards,
Guus

[2022-08-09 18:57] hbgl opened #43627 "Atomic locks do not provide reliable mutual exclusion when using the file cache driver"
- Laravel Version: 9.23.0
- PHP Version: 8.0.15
- Database Driver & Version: none

### Description:
The locks returned by [FileStore](https://github.com/laravel/framework/blob/053840f579cf01d353d81333802afced79b1c0af/src/Illuminate/Cache/FileStore.php) are instances of the class [CacheLock](https://github.com/laravel/framework/blob/053840f579cf01d353d81333802afced79b1c0af/src/Illuminate/Cache/Cach

[2022-08-09 22:35] mholt commented on #22125
It works.

I have a solution that works, that doesn't resort to "compare all URIs in the normalized space only". It allows the developer to convey their intention for certain parts of the path. If the route pattern is crafted correctly, I _believe_ this solution is even robust against common path attacks and security flaws.

In Caddy, you might have configured something like this:

[code]

This wo

[2022-08-09 23:54] R3l4x3 commented on #43625
It serves as [padding](https://en.wikipedia.org/wiki/Padding_%28cryptography%29).

Or check out this [marked answer](https://stackoverflow.com/a/36571117), it explains it quite well.

[2022-08-10 00:13] ZebTheWizard commented on #43622
It appears this new command also has problems showing enum data types

[2022-08-10 05:01] vineethck opened #43630 "New command php artisan db:show returns exception on laravel version 9.24 with mysql 5.7 database"
- Laravel Version: 9.24.0
- PHP Version: 8.1.9
- Database Driver & Version: Mysql 5.7.38

### Description:
php artisan db:show returns "Unknown database type enum requested, Doctrine\DBAL\Platforms\MySQL57Platform may not support it." on mysql 5.7

[code]

### Steps To Reproduce:
Run command `php artisan db:show` on laravel version 9.24 with mysql 5.7 database

[2022-08-10 07:58] Sergiobop commented on #43622
Hi @jbrooksuk , i'm using pgsql driver. The config is the default:
[code]

I get multiple times the error:
Undefined array key "engine" {"exception":"[object] (ErrorException(code: 0): Undefined array key \"engine\" at .../vendor/doctrine/dbal/src/Schema/Table.php:888)

Maybe it's related to the array config keys? In the mysql driver, we have that 'engine' key.

Thanks

[2022-08-10 08:52] lorenzolosa commented on #43630
Same here, except it mentions `Doctrine\DBAL\Platforms\MariaDb1027Platform` instead of `Doctrine\DBAL\Platforms\MySQL57Platform` as I'm using MariaDB.

The same exception is thrown by `db:table` and `model:show` when the table uses an `enum` column (I'm not attaching the output as it's identical).

* Laravel Version: 9.24.0
* PHP Version: 8.1.2
* Database Driver & Version: MariaDB 10.6.7

[2022-08-10 11:50] carloscarucce commented on #43531
Sorry for the lateness... It says `"version": "v1.13.0"`

[2022-08-10 14:27] andresilvagomez opened #43640 "Undefined array key -1 Sqlite"
- Laravel Version: 9.24.0
- PHP Version: 8.1.8
- Database Driver & Version:

### Description:

   ErrorException

  Undefined array key -1

  at vendor/doctrine/dbal/src/Schema/SqliteSchemaManager.php:605
    601▕         $foreignKeyCount   = count($foreignKeyDetails);
    602▕
    603▕         foreach ($columns as $i => $column) {
    604▕             // SQLite identifies foreign keys in reverse

[2022-08-10 14:54] Patabugen opened #43641 "BatchRepositoryFake doesn't function as a repository"
- Laravel Version: 9.21.6
- PHP Version: 8.0.20
- Database Driver & Version: n/a (no database involved)

### Description:
When using `Bus::fake()` to test a task which calls `$batch->fresh()` - fresh() returns null because the BatchRepositoryFake doesn't function as a repository.

I would expect it to return the batch object.

# Fix
From looking at the source it seems like it's just not been writt

[2022-08-10 16:10] m33ts4k0z opened #43642 "updateOrCreate makes partial match"
- Laravel Version: 9.19
- PHP Version: 8.1
- Database Driver & Version: MariaDB 10

Trying to update or create a new record, A record that has as the matching value: 102577 returns a match of 102577-01 and updates that instead of creating a new record. Example code:

[code]

Output:

[code]

[2022-08-10 18:14] Patabugen commented on #43641
Locally I made an ArrayBatchRepository - but unless I'm missing something (often likely!) the BusFake() doesn't use the container to create a repository, so I wasn't able to use mocking to inject it.

My proposal would be make the Fake repository work as below (I've not done anything about the increment & decrement methods yet).

[code]

[2022-08-10 19:27] khairy-pelcro opened #43643 "Samae validation rule with null values"
- Laravel Version: 8.x
- PHP Version: 7.4

### Description:
when using the same validation rule with nullable fields it always gives a validation error with fields does not match if another field is null

### Steps To Reproduce:

[code]

@taylorotwell if this test case should pass I will create PR to handle this

[2022-08-10 20:19] allanmcarvalho opened #43644 "Collection sort method don't sort lists with accented characters"
- Laravel Version: 9.23.0
- PHP Version: 8.1.1
- Database Driver & Version: MySQL 5.7.34

### Description:
In brazilian portuguese language (and in others too), we have a lot of words with accentuation and sometime we need to collect a list that contain that kind of word. With sort() method is impossible to sort especially if the word starts with an accentuation.
I know that it is possible to reso

[2022-08-11 00:12] yelloalejo commented on #43640
This is a doctrine/dbal package issue, they will fix that with next release (4.0.1 )
https://github.com/doctrine/dbal/issues/5584#issuecomment-1210723304

[2022-08-11 00:39] ZebTheWizard opened #43649 "Cannot override relationship select statement."
- Laravel Version: 9.24
- PHP Version: 8.1.8
- Database Driver & Version: MySql 8

### Description:

Calling `select` after relationship causes unexpected behavior.

### Steps To Reproduce:

I have a table called `releases` which holds two polymorphic relationships like the following and I am using it as a pivot table.

Releasable_id | Releaseable_type | Releaser_id | Releaser_type | version
|---|

[2022-08-11 02:07] joao-uefrom opened #43650 "withWhereHas with whereRaw does not correctly bind parameters."
- Laravel Version: 9.24.0
- PHP Version: 8.1.0
- Database Driver & Version: pgsql - v13.5

### Description:

If I use withWhereHas with whereRaw in my model, the query builder doesn't correctly bind the parameters.

In the example I show, it doesn't put the quotes in the permission name.

I put a repository with the migrations and seeds needed to run the bug.

Repository: https://github.com/joao-u

[2022-08-11 02:57] stephancasas commented on #43625
The padding makes sense, but what caught me off-guard was that it retains the additional characters after the `=` as well. So if I initially have `APP_KEY=""`, then I get `APP_KEY=...=""`. If the `APP_KEY` entry is missing from `.env` entirely, then it isn't written at all.

Is it worth opening a PR for this or is this not something that would be considered an actual bug requiring a fix?

[2022-08-11 06:17] driesvints commented on #43625
Please don't remove `APP_KEY` from your env file.

[2022-08-11 06:17] #43625 closed

[2022-08-11 06:23] driesvints commented on #43630
Seems a PR was sent in. Thanks all.

[2022-08-11 06:23] #43630 closed

[2022-08-11 06:23] driesvints commented on #43622
Seems a PR was sent in. Thanks all.

[2022-08-11 06:23] #43622 closed

[2022-08-11 06:25] driesvints commented on #43621
Seems a PR was sent in. Thanks all.

[2022-08-11 06:25] #43621 closed

[2022-08-11 06:57] driesvints commented on #43644
I don't think we can make any real big changes to a method that has worked the same over all these years, sorry.

[2022-08-11 06:57] #43644 closed

[2022-08-11 07:12] driesvints commented on #43624
I'm not sure about those characters sorry. If you want, you can send in a PR with a test in `testValidateAlpha`.

[2022-08-11 07:12] #43624 closed

[2022-08-11 07:14] driesvints commented on #43641
This seems like a feature request. You're welcome to attempt a PR if you like 👍

[2022-08-11 07:14] #43641 closed

[2022-08-11 07:17] driesvints commented on #43627
Thanks @hbgl, this was a well written issue. We'd very much appreciate a PR for one of the solutions you propose 👍

[2022-08-11 07:17] #43627 closed

[2022-08-11 07:20] driesvints commented on #43642
What results do you get for:

[code]

[2022-08-11 07:20] driesvints commented on #43642
Also: what's the column type of `artnr`?

[2022-08-11 07:20] driesvints commented on #43643
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-11 07:20] #43643 closed

[2022-08-11 07:21] #43640 closed

[2022-08-11 07:23] driesvints commented on #43650
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-11 07:23] #43650 closed

[2022-08-11 07:23] driesvints commented on #43649
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-08-11 07:23] #43649 closed

[2022-08-11 07:26] driesvints commented on #43642
Tbh, I think something is going on specifically with your app. The query statement I added above is the exact one for `updateOrCreate` behind the scenes.

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/d

[2022-08-11 07:26] #43642 closed

[2022-08-11 07:42] m33ts4k0z commented on #43642
@driesvints Hello,

The query returns the same wrong result:

`[2022-08-11 09:39:51] local.DEBUG: {"id":2055,"artnr":"102577-01",...`

The type is VARCHAR UNIQUE and NULL is allowed.

I believe something is wrong with either the table itself or the configuration in Laravel. I will join Discord and discuss it further there. Thank you

[2022-08-11 07:56] truongvietgroup opened #43653 "ErrorException: Undefined array key 1"
- Laravel Version: 9.24.0
- PHP Version: 8.1.6
- Database Driver & Version: N/A

### Description:
After executing the command:: php artisan serve
and access the link: http://127.0.0.1:8000/
I try to access the document file in the public folder and get an error message

 2022-08-11 14:44:48 /assets/img/icons/spot-illustrations/bg-shape.png ..........................................................

[2022-08-11 07:57] m33ts4k0z commented on #43642
@driesvints Yeah the problem was indeed the variable type. I got to cast the artnr to string and got the expected results:

[code]

[2022-08-11 08:00] driesvints commented on #43653
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-11 08:00] #43653 closed

[2022-08-11 08:27] hopkins385 commented on #43561
Confirmed. Works now as expected.

[2022-08-11 08:59] rajatpatelz commented on #43653
@driesvints read the issue description properly. This is an issue with the framework only. I am also facing the same problem after the latest update. There is some problem with artisan:serve command.

[code]

[2022-08-11 09:11] driesvints commented on #43653
@rajatpatelz I don't have any problems running artisan serve on the Latest Laravel version. Please try a support channel.

[2022-08-11 09:27] rajatpatelz commented on #43653
Yes It runs initially, but throws the given error after running for a while but not exactly sure when and why. It crashes randomly.

[2022-08-11 12:21] Jacobs63 opened #43656 "Blade component ignores provided error bag"
- Laravel Version: 9.23.0
- PHP Version: 8.1.8
- Database Driver & Version: N/A

### Description:
Whenever a Blade component is used in a Blade template, which had an error bag explicitly assigned, then any component used in such view will not have access to this error bag. Instead, the components will only access the error bag globally shared, by default via `\Illuminate\View\Middleware\ShareErro

[2022-08-11 12:30] driesvints commented on #43656
Afaik, it's not meant to explicitly assign errors to a Blade component.

[2022-08-11 12:30] #43656 closed

[2022-08-11 12:59] khairy-pelcro commented on #43643
Hey @driesvints

I have tried in laravel 9 and this problem still there will create another issue for laravel 9

[2022-08-11 13:00] khairy-pelcro opened #43657 "Samae validation rule with null values"
- Laravel Version: 9.x
- PHP Version: 8.1

### Description:
when using the same validation rule with nullable fields it always gives a validation error with fields does not match if another field is null

### Steps To Reproduce:

[code]

[2022-08-11 13:01] khairy-pelcro commented on #43657
Hey @driesvints

if you approved that this is an issue will create a PR to fix it

[2022-08-11 13:05] driesvints commented on #43657
Hi there, this is the expected behavior.

[2022-08-11 13:05] #43657 closed

[2022-08-11 13:11] khairy-pelcro commented on #43657
Hey @driesvints

But a different validaiton rule has different behavior than this for null values it skips the validation if the other value is null so what do you think?

[2022-08-11 16:08] Tofandel commented on #43036
The problem is not really that the timezone is lost, the problem is that the timezone is not converted to the app timezone before it is saved in the database

Why is it a problem, well because when it retrieves it it assumes it was saved in the app timezone

[2022-08-11 17:48] spmsupun-certscanner commented on #19892
any workarounds?

[2022-08-11 17:57] allanmcarvalho opened #43664 "Impossible to translate null and bools on required_if rules"
- Laravel Version: 9.23.0
- PHP Version: 8.1.1
- Database Driver & Version: Mysql 5.7

### Description:

When I using the `required_if` rule it's impossible to translate the :value attribute from message because it is returned as a string in `getDisplayableValue` method from `FormatsMessages` trait (used in Validator class).

It's expected that this english word can be translated and I believe tha

[2022-08-11 18:02] allanmcarvalho commented on #43664
I tried to add a customValues with the method `setValueNames` from Validator, but this it's impossible with 'null' :value due it isn't accessible (I can't put a null as a key in an array) in array at 100th line of `FormatsMessages` trait.

[2022-08-11 22:11] Slubby opened #43670 "Command db:show doesn't handle unkown type exception properly"
- Laravel Version: 9.24.0
- PHP Version: 8.1.8
- Database Driver & Version: MySql 5.7.39

### Description:
When you run the commanf `php artisan db:show` and you have a table in your database with an enum column it will throw an exception.
[code]

### Steps To Reproduce:
1. Create a database with a table where one column is an enum type
2. Run the command `php artisan db:show`
3. See the exception

[2022-08-11 22:35] jbrooksuk commented on #43670
This was fixed in https://github.com/laravel/framework/pull/43635 and will be released shortly.

[2022-08-11 22:35] #43670 closed

[2022-08-11 23:06] lucasjose501 opened #43672 "Translator throwing TypeError with nested arrays in replacements"
- Laravel Version: 9.23.0
- PHP Version: 8.1.8
- Database Driver & Version: mariadb 10.3.34

### Description:
Not sure if this is exactly a bug or just an edge case, but when using translation with an nested array in the replacements it will throw an TypeError `mb_substr(): Argument #1 ($string) must be of type string, array given` caused by `Str::substr'.

The action is called in this foreach: ht

[2022-08-11 23:14] timacdonald commented on #43561
Fantastic news. Thanks for reporting back @hopkins385

[2022-08-11 23:48] Slubby commented on #43670
O sorry didn't see that one

[2022-08-12 03:30] garrettboone commented on #42497
@driesvints Although it's not related to renaming the function, I recently tried something along these lines here, but didn't get anywhere: https://github.com/laravel/docs/pull/8094

Related question with no guidance: https://github.com/laravel/framework/discussions/43502#discussioncomment-3325161

[2022-08-12 08:08] rajatpatelz opened #43673 "artisan serve command error on windows"
- Laravel Version: 9.24.0
- PHP Version: 8.0.2
- Database Driver & Version: mysql

### Description:
Following error occurs randomly when running `php artisan serve` command on windows os (not sure about other os).

[code]

[code]
Note the difference in errors:
`ServeCommand::getRequestPortFromLine("5212 Closing")` and  `ServeCommand::getDateFromLine("6:55545 Accepted")`.

### Steps To Reproduce:

[2022-08-12 08:34] driesvints commented on #43664
Right now, this isn't possible as this is a reserved word.

[2022-08-12 08:34] #43664 closed

[2022-08-12 09:28] crazybee47 opened #43674 "Carbon serialize error in SerializableClosure"
- Laravel Version: 8.83.23
- PHP Version: 7.4.30
- Database Driver & Version:

### Description:
I get an error when I use Carbon inside Serializable Closure. However, there is no error when I use \DateTime.

### Steps To Reproduce:

**Error "DateTime::getTimezone(): The DateTime object has not been correctly initialized by its constructor" with using Carbon:**
[code]

**Success case with \DateTime

[2022-08-12 09:31] driesvints commented on #43674
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-08-12 09:31] #43674 closed

[2022-08-12 09:39] driesvints commented on #43531
I'm sorry but I'm going to close this. We've only gotten one report about this and on other Windows installations everything seems to be running fine. This seems something specific to your use case and right now we can't invest the time to dig deeper into this. If you figure out what's causing that we'd appreciate a PR that's non-breaking. Sorry

[2022-08-12 09:39] #43531 closed

[2022-08-12 09:45] driesvints commented on #43673
Need someone on Windows to confirm this.

[2022-08-12 09:49] crazybee47 commented on #43674
I have already tried to search in these sources

[2022-08-12 09:49] nunomaduro commented on #43673
Can you run `php -S 127.0.0.1:8000 ./vendor/laravel/framework/src/Illuminate/Foundation/resources/server.php` locally, and send me the full console output after a few requests?

[2022-08-12 09:52] crazybee47 opened #43675 "Carbon serialize error in SerializableClosure"
- Laravel Version: 8.83.23
- PHP Version: 7.4.30
- Database Driver & Version:

### Description:
I get an error when I use Carbon inside Serializable Closure. However, there is no error when I use \DateTime.

Original issue: https://github.com/laravel/framework/issues/43674

I did not find a solution to the problem in these sources:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io

[2022-08-12 10:01] driesvints commented on #43675
We don't support 8.x anymore. Please upgrade

[2022-08-12 10:01] #43675 closed

[2022-08-12 10:03] driesvints commented on #43672
I think this is best.

[2022-08-12 10:03] #43672 closed

[2022-08-12 10:18] crazybee47 opened #43676 "Carbon serialize error in SerializableClosure"
- Laravel Version: 9.15.0
- PHP Version: 7.4.30
- Database Driver & Version:

### Description:
I get an error when I use Carbon inside Serializable Closure. However, there is no error when I use \DateTime.

Original issue: https://github.com/laravel/framework/issues/43674

I did not find a solution to the problem in these sources:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io

[2022-08-12 10:28] driesvints commented on #43676
Please share links to the stackoverflow and forum threads you posted.

[2022-08-12 10:29] driesvints commented on #43676
I just noticed you added PHP 7.4 to your issue, leading me to believe that you did not try this on Laravel v9. Please do not post this issue again.

[2022-08-12 10:29] #43676 closed

[2022-08-12 10:36] crazybee47 opened #43678 "Carbon serialize error in SerializableClosure"
- Laravel Version: 9.15.0
- PHP Version: 8.1.6
- Database Driver & Version:

### Description:
I get an error when I use Carbon inside Serializable Closure. However, there is no error when I use \DateTime.

Original issue: https://github.com/laravel/framework/issues/43674

I did not find a solution to the problem in these sources:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io F

[2022-08-12 10:41] driesvints commented on #43678
Please stop spamming this issue.

[2022-08-12 10:41] #43678 closed

[2022-08-12 10:46] crazybee47 commented on #43678
@driesvints Don't close issue without resolve please. What else should I do to get you to take it to work?

[2022-08-12 10:47] crazybee47 commented on #43678
@driesvints  I am ready to provide any data, listings, tests to solve the problem.

[2022-08-12 10:48] crazybee47 commented on #43678
@driesvints I actually tested the code on the 9th version of laravel and the PHP 8.1 version

[2022-08-12 10:50] crazybee47 commented on #43678
@driesvints
![image](https://user-images.githubusercontent.com/32307323/184339848-a6062df3-a6fd-4adb-bd28-55039637efbe.png)

[2022-08-12 11:15] rajatpatelz commented on #43673
This is the console output after running `php artisan serve` command till the error occurs.
[code]

[2022-08-12 11:21] nunomaduro commented on #43673
That's is not what I've asked for.

Can you run `php -S 127.0.0.1:8000 ./vendor/laravel/framework/src/Illuminate/Foundation/resources/server.php`, or its equivalent on windows, locally, and send me the full console output after a few requests?

[2022-08-12 11:36] rajatpatelz commented on #43673
[code]

[2022-08-12 11:39] allanmcarvalho commented on #43664
What did you mean with your last message? I am a little confused because this is really boring for everyone that use Laravel in other language that is not English.
I can say truly, that every user of my system will not able to understand what's "O campo email é obrigatório quando o quando email é empty|true|false".

If the problem is that you have more "important" problems to solve instead this po

[2022-08-12 11:43] allanmcarvalho commented on #43664
I can't see the limitation of resolve this issue due the argument of "this is a reserved word".
I believe that is simple, for who translated, is displayed in the right way for that language... for who do nothing, continues like now!

[2022-08-12 11:53] nunomaduro commented on #43673
Well, seems that you need to run `php -S 127.0.0.1:8000 ../vendor/laravel/framework/src/Illuminate/Foundation/resources/server.php` from your **public directory**. Try again, and share the full output.

[2022-08-12 12:12] rajatpatelz commented on #43673
As suggested, I ran the command from the public directory, and the output is in the attached file.

[console output.txt](https://github.com/laravel/framework/files/9316147/console.output.txt)

[2022-08-12 12:51] robertmarney opened #43679 "withSum is casting numeric aggregates to string values"
- Laravel Version: 9.24.0
- PHP Version: 8.1.0
- Database Driver & Version: MySQL 8.0

### Description:

When using withSum to load an aggregate from a relation, the aggregate returned natively is cast to a string value, even when the underlying field is a numeric type (decimal 13,4) in the db and cast to a numeric (e.g. float) type in the related class via the `casts` array.

Would hope the value

[2022-08-12 13:01] nunomaduro commented on #43673
Do you have a "server.php" in the root of your project? If yes, can you remove it, and try to run again: "php artisan serve"?

[2022-08-12 13:11] robertmarney commented on #43673
If it helps I am **NOT** experiencing the same on L9.24.0

[2022-08-12 13:17] rajatpatelz commented on #43673
No, I don't have "server.php" in the root of my project.

[2022-08-12 13:46] nunomaduro commented on #43673
Can you share your "composer.lock" file please?

[2022-08-12 13:48] PHPGuus commented on #43673
I'm not experiencing this on Windows 10, L9.24.0, PHP 8.0.8 on an empty project

[2022-08-12 14:10] nunomaduro commented on #43673
@rajatpatelz We advice you to try to use another terminal - possibly WSL - when running "php artisan serve" to address your issue. In our side, we are unable to reproduce your issue.

If you would like to dive deeper, and potentially do a pull request to address this issue, please take a look at the `ServeCommand` of Laravel, and try to understand why the Process output can sometimes cause that is

[2022-08-12 14:10] #43673 closed

[2022-08-12 14:12] driesvints commented on #43679
This is expected. It's necessary to apply the proper cast.

[2022-08-12 14:12] #43679 closed

[2022-08-12 14:26] yairmishnayot commented on #42738
I'm having the same problem as well

[2022-08-12 14:38] SimonMacIntyre commented on #42738
@yairmishnayot  I was not able to find the time to look into it any deeper, and I felt I provided enough details to show that it seems like a Laravel framework code problem. Good luck, not sure if they will open the issue, we got the dreaded copypasta immediately so. 🤷

[2022-08-12 14:40] yairmishnayot commented on #42738
So what do you do in order to keep the development with postgres? Rolled back to laravel 8?

[2022-08-12 14:42] SimonMacIntyre commented on #42738
In our unique circumstance, we were lucky enough that we did not _need to migrate the 2nd table to continue_, so we literally are just treading water and luckily our second table does not _need_ migrations right now. No solution was found.

[2022-08-12 14:48] estagent opened #43684 "dbal enum problem on artisan db:show"
- Laravel Version: 9.24
- PHP Version: 8.1
- Percona-server  Myql 8

### Description:

**artisan db:show**

In AbstractPlatform.php line 418:

  Unknown database type enum requested, Doctrine\DBAL\Platforms\MySQL80Platform may not support it

DBAL ENUM PROBLEM

exception is thrown only/when database has any Enum field defined.

[2022-08-12 14:56] jbrooksuk commented on #43684
This is already fixed and will be available in the next release.

[2022-08-12 14:56] #43684 closed

[2022-08-12 15:21] robertmarney commented on #43679
@driesvints - respectfully I do not believe that the coercing of native numeric types to string in a mathematical aggregate function is expected behavior. This is compounded by the fact that you cannot use `->withCasts()` on the collection.

e.g.

[code]

[2022-08-13 08:29] EugeneErg1 opened #43691 "Does eloquent require pivot models to have a unique non-composite id?"
The [documentation page](https://laravel.com/docs/9.x/eloquent#composite-primary-keys) has the following requirement:

_Eloquent requires each model to have at least one uniquely identifying "ID" that can serve as its primary key. "Composite" primary keys are not supported by Eloquent models. However, you are free to add additional multi-column, unique indexes to your database tables in addition t

[2022-08-13 10:02] pascal-hauser opened #43693 "Session Driver Cookie Middleware Ordering Issue"
I had an issue that Session Driver `cookie` was not working due to the re-ordering of the middleware as defined in `Kernel.php` as `$middlewarePriority`.

The cookie driver requires the `AddQueuedCookiesToResponse` middleware. It is also required that this middleware is before the `StartSession` middleware, as the `AddQueuedCookiesToResponse` writes the cookies that are queued up by `StartSession`

[2022-08-13 13:03] crazybee47 opened #43695 "Carbon serialize error in SerializableClosure"
- Laravel Version: 9.15.0
- PHP Version: 8.1.6
- Database Driver & Version:

### Description:
"DateTime::getTimezone(): The DateTime object has not been correctly initialized by its constructor" error, when Carbon\Carbon inside use() of SerializableClosure dispatch. However, there is no error when I use \DateTime in same case.

I did a debug and found an error in the \Laravel\SerializableClosure\S

[2022-08-14 00:06] miclf opened #43697 "Artisan’s `db:show`, `db:table` & `model:show` don’t work with MySQL Spatial types"
- Laravel Version: 9.24.0
- PHP Version: 8.1.0
- Database Driver & Version: MySQL 5.7.36

### Description:

If a given MySQL table has at least one column using a spatial type (e.g. `point`, `linestring`), a `Doctrine\DBAL\Exception` is thrown when running Artisan’s `db:show`, `db:table` (for the given table) or `model:show` (for the Eloquent model associated to the table) commands.

For a `point`

[2022-08-14 12:23] MarienMupenda commented on #43697
I am facing the same issue with `php artphp artisan db:show` as i use `enum` on my migrations             `$table->enum('status', [...])->default('pending')`;

- Laravel Version: 9.24.0
- PHP Version: 8.1.5
- Database Driver & Version: MySQL 5.7.33

[code]

[2022-08-14 14:46] miclf commented on #43697
@MarienMupenda Good catch 👍  I guess it throws an exception for any column type that is not strictly “standard” SQL.

[2022-08-14 15:38] jbrooksuk commented on #43697
This is fixed but has not yet been released.

[2022-08-14 15:39] #43697 closed

[2022-08-14 15:49] miclf commented on #43697
@jbrooksuk Thanks! Curious to see what approach you guys decided to take to fix this :)

[2022-08-14 19:31] ghbob commented on #27125
I ran into this issue as well, the "problem" seems to lie with the `AuthenticateSession` middleware (which needs to be active for `logoutOtherDevices` to work):
It works fine when the `defaultDriver` is set to the guard one wants to use.
e.g. `Auth::setDefaultDriver('customguard');` in the `__construct()` of the controller in use.
Another solution I could find is a custom middleware that simply do

[2022-08-15 01:02] rodrigopedra commented on #43691
The [documentation page](https://laravel.com/docs/9.x/contributions#support-questions) also states the following:

For not letting you without an answer, the requirement aforementioned does not apply to pivot models. You cans see below it handles the *expected* composite key:

https://github.com/laravel/framework/blob/1814e8066a6ba658ad42a662de9d3263b9637f9c/src/Illuminate/Database/Eloquent/Relati

[2022-08-15 01:32] #43691 closed

[2022-08-15 08:24] driesvints commented on #43693
Is this a feature request? Because the issue template is missing. If so, feel free to attempt a PR.

[2022-08-15 08:24] #43693 closed

[2022-08-15 09:20] driesvints commented on #43695
You should not combine the `use` keyword with a static function. I also don't get the error you're getting. Please stop opening this issue.

[2022-08-15 09:20] #43695 closed

[2022-08-15 09:37] imanborumand opened #43703 "Unknown database type enum requested"
- Laravel Version: 9.24.0
- PHP Version: 8.1
- Database Driver & Version: MySQL - 8

### Description:
hi
when I run ``` php artisan db:table``` command I have get following error:

[code]

### Steps To Reproduce:

[2022-08-15 09:40] driesvints commented on #43703
Already fixed, please see previous issues. A release is still pending.

[2022-08-15 09:40] #43703 closed

[2022-08-15 10:06] ASYOU99 opened #43704 "Null compatibility broken"
- Laravel Version: 8.83.23
- PHP Version: 8.0.10
- Database Driver & Version:
MySql 8
### Description:
When we use a cast of type 'object', 'collection' and we have the original value null, we get an error when trying to decode json.
This change appeared in the PR and is still relevant even for version 9.
[PR](https://github.com/laravel/framework/pull/42793/files#diff-59d24f1a8f0dd1e51ee7dffc87781

[2022-08-15 10:07] driesvints commented on #43704
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-15 10:07] #43704 closed

[2022-08-15 10:11] jc-skurman opened #43705 "Null compatibility broken"
- Laravel Version: 9.24.0
- PHP Version: 8.1.0
- Database Driver & Version:
MySql 8
Description:
When we use a cast of type 'object', 'collection' and we have the original value null, we get an error when trying to decode json.
This change appeared in the [PR](https://github.com/laravel/framework/pull/42793/files#diff-59d24f1a8f0dd1e51ee7dffc8778133711634e928ecef4a91b63fc3851cb1579) and is still r

[2022-08-15 10:16] driesvints commented on #43705
@tpetry since you originally created https://github.com/laravel/framework/issues/37961 which sparked https://github.com/laravel/framework/pull/41337: do you know of a way to do a fix so both issues are resolved?

Also want to ping you @JBtje since you're the author of https://github.com/laravel/framework/pull/41337.

@jc-skurman this change has been in the framework now for several months. Did you

[2022-08-15 10:23] jc-skurman commented on #43705
I just now caught this bug on the old version and after indicating that you no longer support it, I checked it on the latest version

[2022-08-15 10:30] MasterRO94 commented on #43705
@driesvints

I've checked issues can be reproduced if you have `null` original value for `object` or/and `collection` cast. This can be fixed replacing `fromJson` call to `castAttribute`

[code]
change to
[code]

[2022-08-15 10:31] tpetry commented on #43705
I replaced the dirty check with my custom implementation because in my projects I found a lot more edge cases, e.g. different order of object keys.

But based on the implementation of the PR the null value has to be handled too. `null != json, null = null`.

[2022-08-15 10:51] JBtje commented on #43705
First and foremost, `null` is not valid `json`, so the warning is correct. If you seed your empty JSON fields with a valid JSON value (e.g. empty string), the warning is solved.
I have come across this warning a few times, just to realize i did something wrong (i.e. not seeding JSON field properly).

But if you think `null` should be a valid value for a JSON field, then this could easily be solved

[2022-08-15 10:54] driesvints commented on #43705
@JBtje that's not true actually. `null` is definitely valid JSON: https://stackoverflow.com/questions/8526995/is-null-valid-json-4-bytes-nothing-else

[2022-08-15 10:54] driesvints commented on #43705
Would appreciate a PR to fix this.

[2022-08-15 13:58] driesvints commented on #43705
We merged a fix for this. Thanks

[2022-08-15 13:58] #43705 closed

[2022-08-15 14:41] codoffer commented on #32058
What is "contents"? Will I have to pass file content with param? I want to send some values and a multipart file with field attachments[]

How can I achieve this? I am getting an error

A 'contents' key is required

[2022-08-15 14:57] codoffer commented on #37174
@mikecummings10 @renwarkurd @nickfls Have you found any fix for this issue?

[2022-08-15 15:27] codoffer opened #43710 "HTTP Client Post - Multipart with multidimensional array body"
- Laravel Version: 9.27,
- PHP Version: 8.1.7
- Database Driver & Version: MySQL

### Description:

I am getting errors with attaching a file and body with the multi-dimensional array.  I want to send multi-dimensional array with attachments files (with attachment field).

Same issue was opened before but closed without solution.

https://github.com/laravel/framework/issues/37174

### Steps To Rep

[2022-08-15 17:12] riabiy-denis commented on #42285
Very unintuitive. Really :D

I can understand the reasonings, but, in a nutshell, belongsTo is not covered by lazy loading, from what I get.

[2022-08-15 19:35] silenseram opened #43713 "inability to catch ModelNotFoundException"
- Laravel Version: 9.24
- PHP Version: 8.0.1
- Database Driver & Version: not DB related

### Description:
Illuminate\Foundation\Exceptions\Handler::prepareException for some reason replaces ModelNotFoundException to NotFoundHttpException (wich is 2 different types of exceptions) that's makes impossible to register it through "renderable" method in exception handler

### Steps To Reproduce:
Write

[2022-08-16 04:29] onlyu-bot opened #43715 "isFillable() doesn't work when use Laravel's factory's has method"
- Laravel Version: 9.24.0
- PHP Version: 8.1.7
- Database Driver & Version: 8.0.29

### Description:

model `isFillable()` method doesn't work as it should be when use Laravel's factory's `has` method.

### Steps To Reproduce:

# These are models

[code]

[code]

[code]

# This is the helper
[code]

# These are migrations

[code]

[code]

# These are factories

[code]

[code]

# When I use factory

[2022-08-16 06:25] driesvints commented on #43713
This is expected. `ModelNotFoundException` is part of a list of reserved exceptions that are converted specific HttpExceptions.

[2022-08-16 06:25] #43713 closed

[2022-08-16 06:35] driesvints commented on #43710
You're trying to post an array (`providers`) in a multipart HTTP request. That doesn't work. You're not sending JSON here but file parts.

[2022-08-16 06:35] #43710 closed

[2022-08-16 06:38] driesvints commented on #43715
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-16 06:38] #43715 closed

[2022-08-16 06:38] codoffer commented on #43710
I have tried without JSON also. But it's not accepting.

[2022-08-16 06:58] driesvints commented on #43710
You can't send files over JSON. You need multipart for that.

[2022-08-16 07:01] codoffer commented on #43710
I want to send

{
  "reply": {
    "body": "string",
  },
  "attachments": [
    "string"
  ]
}

attachments must upload the entire payload as `multipart/form-data` content-type and want to specify each parameter as form-data together with `attachments[]` as files.

I am not sure, How to handle this.

[2022-08-16 10:42] Yinci opened #43717 "Value translation in validation does not support dot notation"
### Versions:
- Laravel Version: 8.83.10
- PHP Version: 8.0.18
- Database Driver & Version: MySQL 5.7.32

### Description:
When validating rules such as `required_if`, the `:value` will not be translated as described in the [docs](https://laravel.com/docs/8.x/validation#specifying-values-in-language-files) when the `:other` attribute contains dots.

### Steps To Reproduce:
Create simple HTML:

[co

[2022-08-16 10:49] driesvints commented on #43717
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-16 10:49] #43717 closed

[2022-08-16 16:19] Yinci commented on #43717
Hey @driesvints,

Upgrading to L9 is not an option at this point. However, I've decided to look at the source code and it seems that the code is indeed literally translating the value.

The value is translated in [`Illuminate/Validation/Concerns/FormatMessages@427`](https://github.com/laravel/framework/blob/423915f552367213ec7c014c03c4d7df9fc6fab2/src/Illuminate/Validation/Concerns/FormatsMessages

[2022-08-16 16:30] Sergiobop opened #43726 "model:show and db:show commands are broken"
- Laravel Version: 9.25.0
- PHP Version: 8.1

### Description:
The command is not working after update to 9.25 since @taylorotwell changed the method name in this commit: https://github.com/laravel/framework/commit/8ec9ede5eb3af7c4463bd05b48badbe41c3983d5
registerTypeMapping to registerTypeMappings, and in the ShowModelCommand is not changed:

` Method Illuminate\Foundation\Console\ShowModelComman

[2022-08-16 16:36] taylorotwell commented on #43726
Fixed.

[2022-08-16 16:36] #43726 closed

[2022-08-16 21:28] hxnk opened #43732 "Serialization fails for typed custom Eloquent Collections that are empty"
- Laravel Version: 9.25.1
- PHP Version: 8.1.6
- Database Driver & Version: MySQL 8.0.27

### Description:

When queueing a job that has a **custom** Eloquent Collection as a typed property, and it holds an empty collection, (un)serializing fails with a Type Error, since it tries to assign the base Eloquent Collection to the property:

[code]

Result:

`TypeError : Cannot assign Illuminate\Databas

[2022-08-16 23:59] tobz-nz opened #43733 "route:list command gives wrong hyphenated variable name"
- Laravel Version: 9.24.0
- PHP Version: 8.1.8
- Database Driver & Version: n/a

### Description:
When a resource route with a hyphenated name is defined the `route:list` command outputs an incorrect name for the variable.
For example, for a route of `Route::resource('brand-categories', BrandCategoryController::class)` the `route:list` command outputs:

[code]

Note the variable `{brand_category}`

[2022-08-17 04:53] caiokawasaki opened #43735 "Possible bug on model Accessors on new release"
- Laravel Version: 9.25.1
- PHP Version: 8.1.8
- Database Driver & Version: mysql ('mysql/mysql-server:8.0')

### Description:
Today I ran `composer update` in my application, the Framework version got updated to `9.25.1`, the previous version was `9.23.0`.

This was working before on version `9.23.0`:

[code]

I got this in the log after the update:

[code]
I didn't understand why this was happen

[2022-08-17 13:19] shaedrich opened #43739 "When SERVER_PORT is changed in .env and server restarts, old port is used instead"
- Laravel Version: 9.10.0
- PHP Version: 8.1.5
- Database Driver & Version:

### Description:
When I change `SERVER_PORT` in my .env, the change is correctly detected as with any other environment variable. However, when the server restarts, it still starts with the old port.

### Steps To Reproduce:
1. Add `SERVER_PORT=11111` to your .env
2. Run `php artisan serve`

[Wed Aug 17 15:06:37 2022] PHP

[2022-08-17 15:33] aryan-arabshahi commented on #43733
Based on the Laravel documentation, to change the resource parameter name you must pass the "resource name" and the "parameter name" as key/value pair. Check the link [here](https://laravel.com/docs/9.x/controllers#restful-naming-resource-route-parameters).

[2022-08-17 16:07] morloderex commented on #43735
@caiokawasaki What is the value of `$this->environment` if it is supposed to be a relation, then this would make a lot of sense. Sense the environment relation could potentially not be available at the time the totalValue needs to be computed.

[2022-08-17 16:35] caiokawasaki commented on #43735
@morloderex the relation is being eagger loadded, isn't it strange that I can access the relation only inside the Attribute function?

[2022-08-17 19:11] ivanwitzke opened #43743 "[8.83] TypeError on HttpClient with custom middleware and ConnectException"
- Laravel Version: 8.83.23
- PHP Version: 7.4
- Database Driver & Version:

### Description:

I'm facing a similar issue as described in #37594 , but in a different place. I think the cause is the same as explained in that issue by @lukeraymonddowning.

#### The error:

    Argument 1 passed to Illuminate\Http\Client\Events\ConnectionFailed::__construct() must be an instance of
    Illuminate\Http

[2022-08-17 21:37] tobz-nz commented on #43733
@aryan-arabshahi yes that's correct - I'm saying the `route:list` command gives the wrong variable name in its output.
... ah I see what you mean. The variable name is correct, its just confusing as to what the resource value should be.

The docs say its a "singularized" version of the resource name, which is not the case when there is a hyphen. The resource name for `brand-categories` should be `

[2022-08-18 02:02] meidikawardana opened #43748 "Laravel 9.24 provides object instead of what supposed to be an array in previous versions"
- Laravel Version: 9.24.0
- PHP Version: 8.1.8 - I think it would work the same for PHP 8.0, or even PHP < 8
- Database Driver & Version: mysql  Ver 8.0.29 for macos12.4 on x86_64 (Homebrew)

### Description:
This is the result when using Laravel 9.23.0:
![image](https://user-images.githubusercontent.com/2024380/185275510-d4866422-7e34-4e8f-876b-e58cc18d1291.png)

This is the result when using Lar

[2022-08-18 02:32] #43748 closed

[2022-08-18 08:24] ollieread opened #43752 "Relation::getEager() returns an array, but is typed as a collection"
- Laravel Version: 9.x
- PHP Version: 8.1

### Description:
While working on #43746 I broke several unit tests and in the process of trying to fix them, discovered that it was because the method `Relation::getEager()` returns an `array`, and I was treating it as a `Collection`.

### Steps To Reproduce:
Dump out `get_debug_type($relation->getEager())`.

[2022-08-18 08:56] driesvints commented on #43743
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-18 08:56] #43743 closed

[2022-08-18 09:41] rcerljenko commented on #43739
that's not a bug... env is read only once when artisan:serve starts and it's not re-read again until next (re)start

[2022-08-18 09:51] driesvints commented on #43739
@rcerljenko is correct. This doesn't changes anything for the current url that's served.

[2022-08-18 09:51] #43739 closed

[2022-08-18 10:38] forsvunnet commented on #20482
I was looking for how to convert between kebab and snake in Laravel and found this issue.
@cjmcdonn's solution to stack string helpers worked for me, and since Laravel 9.x it can be shortened to this `str('start-with-kebab')->camel()->snake();`

[2022-08-18 10:40] driesvints commented on #43733
Feel free to attempt a PR to the docs, thanks.

[2022-08-18 10:40] #43733 closed

[2022-08-18 10:49] driesvints commented on #43752
I'm not sure that should be possible in a real-life app. If there's something wrong with mocking in the tests then we'd appreciate it if you could send in a PR, thanks.

[2022-08-18 10:49] #43752 closed

[2022-08-18 10:58] silas-prototype opened #43753 "migration rollback: $table->dropForeignIdFor($model, $column) attempts (and fails) to drop wrong column name"
- Laravel Version: Laravel Framework 9.23.0
- PHP Version: 8.1.9 (cli)
- Database Driver & Version: 8.0.29 MySQL Community Server - GPL

### Description:
$table->dropForeignIdFor($model, $column) in migration attempts (and obviously fails) to drop wrong column name even though the column name (second parameter) is provided.

The issue seems to be with laravel extending the column name on its own g

[2022-08-18 11:00] driesvints commented on #43753
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-08-18 11:36] niekbr opened #43756 "Closure dispatches fail if triggered from within an anonymous class"
- Laravel Version: 9.25.1
- PHP 8.1.8
- Database Driver & Version: sqlite

### Description:
Closure dispatches fail if triggered from within an anonymous class.
[code]

### Steps To Reproduce:

[See this repository](https://github.com/niekbr/laravel-anonymous-class-dispatch-closure-test/commit/fa3232746803c100290ac6c758295fe51755f8ef)
- Install the repo above
- Set the following `.env`:
  - `QUEUE

[2022-08-18 12:40] driesvints commented on #43732
Thanks, I confirmed this and sent in a fix.

[2022-08-18 13:09] driesvints commented on #43756
You can't restore anonymous classes. I don't see a way this could possible work.

[2022-08-18 13:09] #43756 closed

[2022-08-18 13:46] hichemfantar commented on #43395
VSCode solution:
https://github.com/shufo/vscode-blade-formatter#ignoring-files-bladeignore

[2022-08-18 13:47] Ash214 commented on #30226
Laravel Version: 9.25.1
PHP Version: 8.0.22

Having such error in my

`No hint path defined for [errors].`
![image](https://user-images.githubusercontent.com/20121328/185409306-64d25019-fa98-42d1-923e-499f4fb59f4d.png)

As write @DiogoLindoso

1) Change to `@extends('errors.minimal')`
2) Copy file `vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/views/minimal.blade.php` to `resources

[2022-08-18 14:18] #43732 closed

[2022-08-18 15:15] vedmant commented on #39977
I have the same problem and I can't upgrade to newer SqlServer, what is the solution to keep it working with the older SqlServer?

[2022-08-18 15:26] PaolaRuby commented on #39977
@vedmant there is the solution, can't you read it?

[2022-08-18 15:27] vedmant commented on #39977
@PaolaRuby Can you point to to exact details of the solution?

[2022-08-18 15:39] PaolaRuby commented on #39977
Here, up, there is not too many comments

[2022-08-18 16:01] vedmant commented on #39977
Ok, here is a solution if someone is searching:

[code]

In AppServiceProvider.php
[code]

Add custom SqlServerConnection.php with override:
[code]

[2022-08-18 17:55] codetestmg opened #43762 "Migration startingValue for exisitng table doesnt work"
- Laravel Version: 9.19
- PHP Version:8.1.6
- Database Driver & Version:  10.4.24-MariaDB - mariadb.org binary distribution

### Description:
`$table->id()->startingValue(50)->change();`
modifying the existing table doesn't work. it inserts default increment ids 1,2,3,...... Only if fresh migration runs then it works.
any workaround for this

[2022-08-18 18:07] taylorotwell commented on #43735
I think we need more context here. Like a full route example that is broken.

[2022-08-18 19:30] taylorotwell commented on #43735
@driesvints pointed out this PR: https://github.com/laravel/framework/pull/43554

But, it's not clear to me atm how that PR would cause the behavior you describe.

[2022-08-18 20:59] elidrissidev opened #43764 "Vite::asset() method not found"
- Laravel Version: 9.25.1
- PHP Version: 8.1.9
- Database Driver & Version: not relevant

### Description:
I'm trying to reference an image (`resources/images/auth_splash.jpg`) from a blade template following the [documentation section](https://laravel.com/docs/9.x/vite#blade-processing-static-assets), but I keep getting the error: `Call to undefined method Illuminate\Foundation\Vite::asset()`. I

[2022-08-18 23:06] lhilton commented on #43764
@elidrissidev I bumped into this issue as well. I ended up finding  #43702 for this problem. Confirming the fix, if you look at the latest version of the class:

https://github.com/laravel/framework/blob/9.x/src/Illuminate/Foundation/Vite.php

You will see that the `asset()` function was added on August 17, 2022. I am guessing this will be in the next release, probably 9.25.2 or whatever.

For the

[2022-08-18 23:16] timacdonald commented on #43764
Apologies that the documentation has been merged before release on this one - but you are correct that the feature has been merged but not yet tagged. You will be able to access this feature when Laravel is released on Tuesday.

[2022-08-18 23:16] #43764 closed

[2022-08-19 03:02] truongvietgroup commented on #43653
Exactly.
When I configure via apache, not via command line the problem does not appear.
This problem was encountered on windows 7. I tried again on windows 10 and did not encounter the above situation (On the same project).

[2022-08-19 07:19] driesvints commented on #43753
Yes this indeed seems like an issue. But I think we won't be able to change this on a minor/patch release without breaking apps. I think the correct line there should be:

[code]

Otherwise you can't provide a literal column like you're trying to do. The type should then be `string|array|null`.

We'd welcome a PR to master to change this.

[2022-08-19 07:19] #43753 closed

[2022-08-19 07:19] driesvints commented on #43753
Here's the original PR btw: https://github.com/laravel/framework/pull/40950

[2022-08-19 07:21] ollieread commented on #43753
I'll give that a go this afternoon if no one else picks it up.

[2022-08-19 07:23] shaedrich commented on #43739
Then why do you restart the server in the first place? Isn't that completely pointless then?

[2022-08-19 09:13] binotaliu opened #43770 "`vendor:publish` is too difficult to read"
- Laravel Version: `9.25.1`
- PHP Version: `8.1.8`
- Database Driver & Version: `N/A`

### Description:
<img width="1062" alt="CleanShot 2022-08-19 at 16 50 57@2x" src="https://user-images.githubusercontent.com/67255597/185582281-f17ef466-cca2-4a9b-8c72-a15351077921.png">

The `choice` view is very hard to read now. While it looks cleaner than the old one, it's very difficult to tell which tag is

[2022-08-19 11:13] Jacobs63 opened #43773 "Invalid callable parameter return type of method `\Illuminate\Support\Collection::transform()`"
- Laravel Version: 9.25.1
- PHP Version: 8.1.7
- LaraStan Version: 2.1.12
- Database Driver & Version: N/A

### Description:
`\Illuminate\Support\Collection::transform()` has an invalid callable return type. The callable can return anything, as such the return type should be similar to `\Illuminate\Support\Collection::map()` - returning a templated value, such as `TTransformValue`.
This causes fal

[2022-08-19 11:15] direc85 commented on #43530
It's not the `mariadb-client` installation that breaks the command (I should have reported this earlier, sorry).

I have performed a clean install on a new host, taken Sail into use in my existing environment, and even performed the aforementioned Laravel 8 -> 9 upgrade with a purpose-built Ubuntu 20.04 -> 22.04 virtual machine, but I always get the `mysqldump: unknown variable 'column-statistics=

[2022-08-19 11:15] driesvints commented on #43773
This isn't a bug. If you want to adjust something to a DocBlock we're welcoming PR's.

[2022-08-19 11:15] #43773 closed

[2022-08-19 12:57] mikield opened #43775 "Migrating with schema file, but without migration files."
- Laravel Version: 8.86.16
- PHP Version: 8.1.8
- Database Driver & Version: PostgreSQL 14.3

### Description:

#### Without migration files with a new database.
Using `artisan migrate` command will run schema import even if there is nothing to migrate.
Problem exists if I will squash all my migration files to schema and remove them from disk.

After releasing my application - first `migrate` call

[2022-08-19 13:00] Grldk opened #43776 "Prohibited Validation rule fails on empty array"
- Laravel Version: 9.25.1
- PHP Version: 8.1.6
- Database Driver & Version: N/A

### Description:

[code]
This returns `true`.

Docs for this validation rule say:

So I expected this to pass. (Array is empty after all). Not sure if this is a bug or incomplete docs?

[2022-08-19 13:00] driesvints commented on #43775
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-19 13:00] #43775 closed

[2022-08-19 13:13] mikield commented on #43775
Yes, Laravel 9 now has inserts in schema dump. That was fixed.

[2022-08-19 13:15] driesvints commented on #43776
I think this specifically was added for strings, not array but I do agree with the confusion here. Will talk it over with the team.

[2022-08-19 13:54] ollieread commented on #43753
Digging into this @driesvints, I suspect there's a bit more to it that we need to look into. Want me to create a new issue for a discussion about it?

[2022-08-19 14:01] driesvints commented on #43753
What's up?

[2022-08-19 14:22] fridzema opened #43780 "Column change causes 'NULL'"
I am not really sure if this is the place to place and or this has to be posted to [doctrine/dbal](https://github.com/doctrine/dbal).

`php artisan about`
[code]

`composer show -i  `

[code]

## Migrations

[code]

[code]

## Results

On my local instance using mariadb `10.8.3` this translates to the following create statements:

**Good**
[code]

On our staging environment running on azure databa

[2022-08-19 14:29] ollieread commented on #43753
I think it's all just very unclear @driesvints. There isn't a bug, the method `dropForeignIdFor` only drops the index, but no index is created unless you call `references()` or `constrained()` on the `foreignIdFor()` definition.

I think @silas-prototype has made the very easy to make mistake of assuming that `dropForeignIdFor` is the counterpart for `foreignIdFor`.

[2022-08-19 14:30] driesvints commented on #43780
We don't handle schema generation, dbal does that so we can't do anything about this.

[2022-08-19 14:30] #43780 closed

[2022-08-19 14:31] driesvints commented on #43753
Right. In that case we'd appreciate a PR to the docs if someone wants to.

[2022-08-19 23:17] SamuelMwangiW commented on #43776
Similar result with `NULL`.

[code]

[code]

[2022-08-19 23:34] lupinitylabs opened #43786 "`model:show` seems to describe all tinyints as boolean"
- Laravel Version: 9.25.1
- PHP Version: 8.1.3
- Database Driver & Version: MySQL 8.0.28

### Description:

The `artisan model:show` command seems to list any `TINYINT` column as `boolean`.

### Steps To Reproduce:

Create a `sort` column with `$table->unsignedTinyInteger('sort');` and it will show up in `model:show` as `boolean unsigned`:

![grafik](https://user-images.githubusercontent.com/17774

[2022-08-19 23:42] lupinitylabs commented on #43786
I am aware that internally, all booleans are tinyints on DB level, so I see why it's probably hard to discriminate between the two uses just by looking at the database types.

However, since there cannot be signed/unsigned booleans, so an unsigned flag could be one indicator that it's not intended as boolean.

It is also bizarre that when explicitly casting the column to int, the command still lis

[2022-08-19 23:44] lupinitylabs commented on #43786
I think the most correct and straight-forward solution might be to always output the database type (tinyint) instead of boolean. Technically, this is always correct and no guesswork.

[2022-08-20 02:00] prattcmp commented on #42837
Why is this issue closed? Predis 2 is still not supported.

[2022-08-20 02:05] prattcmp opened #43787 "Predis 2.0 support"
- Laravel Version: 9.23.0
- PHP Version: 8.1
- Database Driver & Version:

### Description:

The latest stable release of predis is not supported by the Laravel predis driver, causing errors after running `composer require predis/predis`. Mentioned in Issue #42837

### Steps To Reproduce:

1. Run `composer require predis/predis`
2. Set `REDIS_DRIVER=predis`
3. Run `php artisan optimize:clear` or s

[2022-08-20 07:16] driesvints commented on #43787
@tillkruss

[2022-08-20 09:43] phpmac commented on #28840
have JSON_ARRAY_APPEND function?

[2022-08-20 13:45] tillkruss commented on #43787
Looking at the other issue it sounds like _some_ commands don't work.

@prattcmp please post all the error messages you're seeing.

[2022-08-21 01:37] pintend commented on #43735
I wonder if this is related https://github.com/laravel/framework/issues/42537 in my testing there is something funny going with with object caching

[2022-08-21 12:46] daikisuyama-fs commented on #42322
This fix was merged.

https://github.com/laravel/framework/pull/43512

[2022-08-21 22:15] DarkGhostHunter opened #43800 "Morph pivot table name conventions wrong when using MorphPivot model"
- Laravel Version: 9.25.1
- PHP Version: 8.1.9
- Database Driver & Version: N/A

### Description:

You can tell a `morphToMany` or `morphedByMany` relations to use a Morph Pivot model by using a third parameter as the Model class name. This will also set the pivot table from it.

[code]

The problem is that Eloquent tries to find the `subscription` table, where as it should be `subscriptions`. Thi

[2022-08-22 06:51] driesvints commented on #43776
@SamuelMwangiW that's expected actually. The key `test` is present. So I'd expect that to fail.

[2022-08-22 07:06] driesvints commented on #43786
We use DBAL to get the type so if it's wrong it's best to open an issue on their repo. We don't own the code to this.

[2022-08-22 07:06] #43786 closed

[2022-08-22 07:56] martijnhiemstra commented on #27828
It is now Augustus 2022 and this is still a issue! This hasnt't been fixed yet!! Does anybody have a solution?

[2022-08-22 08:18] driesvints commented on #43800
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-08-22 08:18] olivierLefebvre96 commented on #28809
For me, it was simply caused by a mismatch between the name of a PHP file and the name of its class. Fixing it then doing a "composer dump-autoload" fixed the problem.

[2022-08-22 08:41] Saeed-Pooyanfar opened #43804 "cookie()->forever(...) create cookie at most for one year"
- Laravel Version: 9.25.1
- PHP Version: 8.1.9
- Browser: Google chrome 104.0.5112.101 (Official Build) (64-bit)

### Description:

### Current behavior:

cookie()->forever('MyCookie', 'Test', secure: true) will create `MyCookie` in browser at most for 1 year

### Expected behavior:

cookie()->forever('MyCookie', 'Test', secure: true) must create `MyCookie` in browser for 5 years:
[2628000 minutes

[2022-08-22 09:03] driesvints commented on #43804
Seems like 400 days is the maximum amount of time so I guess Chrome limits this automatically: https://httpwg.org/http-extensions/draft-ietf-httpbis-rfc6265bis.html#section-4.1.2.1

[2022-08-22 09:03] #43804 closed

[2022-08-22 09:04] driesvints commented on #43804
Sent in a PR to update the comment. Thanks for making us aware.

[2022-08-22 09:54] driesvints commented on #43762
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-08-22 09:54] #43762 closed

[2022-08-22 09:57] driesvints commented on #43776
I've sent in a PR to the docs to clarify that this rule only works with strings. Thanks

[2022-08-22 09:57] #43776 closed

[2022-08-22 11:13] introwit opened #43807 "Cannot access Illuminate\Http\Client\Response body in any queued listener"
- Laravel Version: 9.25.1
- PHP Version: 8.1.1
- Database Driver & Version: mysql 8

### Description:

- If you have an event that has an object of `Illuminate\Http\Client\Response` as a property, you cannot access it in any queued listener that listens to that event.

- For example, you make a request to some third party API and you fire of an event:

[code]

- If you use a queued listener, and i

[2022-08-22 11:55] driesvints commented on #43807
You can't serialize a streamed response. This can't possible work. You need to pass a non-streamed response or perform the HTTP call inside the listener.

[2022-08-22 11:55] #43807 closed

[2022-08-22 12:32] l0rb opened #43810 "Duplicate Mail"
- Laravel Version: 9.19.0
- PHP Version: 8.1.9
- Database Driver & Version: mysql

### Description:

Trying to send the same mailable instance multiple times sends it too often. It seems the `to` is extended each time. Not sure if it is relevant but I tested this using the sparkpost driver from vemcogroup.

### Steps To Reproduce:
[code]

[2022-08-22 12:37] driesvints commented on #43810
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-22 12:37] #43810 closed

[2022-08-22 12:58] ollieread commented on #43735
@caiokawasaki could you dump your __WHOLE__ model in a gist, please?

[2022-08-22 13:32] AntonCooper opened #43811 "Rendering components in loop severely impacts performance"
- Laravel Version: 9.25.1
- PHP Version: 8.0.22
- Database Driver & Version: MySql 8.0.27

### Description:
Rendering components in loop severally impacts performance

To demonstrate this I have setup a simple test with two endpoints. They both render a list of 10000 book titles, generated from an array of strings. One endpoint uses a component to render each item in the list, the other uses a sim

[2022-08-22 13:43] driesvints commented on #43811
Hi there. Using loops to render components can indeed be performance intensive in some situations like your own. But view caching should greatly mitigate this. In general, only the first rendering should be an expensive operation. If you still have performance issues I suggest to look at other solutions like https://github.com/spatie/laravel-responsecache. Thanks

[2022-08-22 14:50] materialsmoke commented on #21727
we always should `config` function not `env` function. and in the config file we should get the value from `env` file with `env()` function.

[2022-08-22 14:56] AntonCooper commented on #43811
HI @driesvints, thanks for getting back to me so quickly.
Unfortunately the view caching does nothing to mitigate the slowness of the test I've outlined above. I can see from the stack trace that it is using the compiled blade template - but the slowness persists. It seems to be reading that rendered blade template from disk on every single loop. This seems to be the root cause of the slowness.

T

[2022-08-22 15:57] GC-Mark commented on #43811
Just to add some more info to this, we saw a similar issue when using https://github.com/blade-ui-kit/blade-icons when using components.

Discussion and benchmarks here - https://github.com/blade-ui-kit/blade-icons/issues/190

[2022-08-22 16:00] serpentblade commented on #43735
My PR was related to casts.  The major change was the inclusion of the new casts cache to reduce repeated calls to cast type name conversions.  However, that's not to say it can't somehow be involved.

A stack trace for the error would be helpful to understand the full context of when the accessor is being called in the model's lifecycle.  There are a number of places where the accessor method is

[2022-08-22 18:02] #43800 closed

[2022-08-22 23:39] Tofandel commented on #43735
I also fail to see how the casts PR would have any effect on this, I'm also enclined to say that it may be another package update, where is this `environment` property coming from?

[2022-08-22 23:48] Tofandel commented on #42537
@pintend I think it's because of a php limitation, if you are within the __set or __get method and are trying to access another magic property from this PHP doesn't do recursion (I don't actually know if that's the case, but it seems like it could be that)

[2022-08-23 03:09] rodrigopedra commented on #42537
thanks @Tofandel , I didn't know that. From my testing I guess this is the problem.

[2022-08-23 03:24] pintend commented on #42537
@Tofandel Makes sense that would be the issue, but why wouldn't it be an issue with the non existent attribute?

[2022-08-23 08:03] driesvints commented on #43735
@caiokawasaki can you please provide a repo that reproduces this?

[code]

[2022-08-23 11:27] hsul4n opened #43822 "Having an issue when uploading filename with RLM"
- Laravel Version: 8.83.23
- PHP Version: 8.1.9
- Database Driver & Version: MySQL

Getting `Corrupted path detected` when uploading a file that contains [right-to-left-mark](https://en.wikipedia.org/wiki/Right-to-left_mark) (RLM).

Here's an example for filename
[code]

Here's a the file which throws exception:
[code]

I'am getting this with both *api* & *web* routes.

[2022-08-23 11:29] driesvints commented on #43822
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-23 11:29] #43822 closed

[2022-08-23 12:20] caiokawasaki commented on #43735
Sorry for the delay, I ended up running out of internet in the last few days, I'll provide a repository with the problem described, in a few minutes I'll send the repository here.

[2022-08-23 14:33] hsul4n commented on #43822
@driesvints I've test it on latest Laravel version (9.3.4) and also the issue still there.

[2022-08-23 14:41] driesvints commented on #43822
This seems like a flysystem issue and not a Laravel one.

[2022-08-23 14:57] caiokawasaki commented on #43735
[https://github.com/caiokawasaki/laravel-bug-report](https://github.com/caiokawasaki/laravel-bug-report)

I recreated the code in a new repository, added all the dependencies from the original project and still didn't get the problem, I'll dig deeper to try to find out what might be going on in my project.

[2022-08-23 15:04] driesvints commented on #43735
Feel free to provide a repo once you managed to recreate it 👍

[2022-08-23 15:04] #43735 closed

[2022-08-23 15:47] lptn opened #43825 "Call to undefined method `Symfony\Component\HttpFoundation\Response::statusText()`"
- Laravel Version: v9.26.0
- PHP Version: 8.1.9

### Description:

This happens on testing 404 responses
[code]

Issue introduced in v9.26.0, on v9.25.1 and previous versions it worked without any issues. Namely, this commit https://github.com/laravel/framework/commit/1ae8ffda89c550b08b920e87c5dffe49ba4be141

[2022-08-23 16:26] Erth0 opened #43827 "Http client is not overwriting the content type header when attaching a file or even if you manually call another method"
- Laravel Version: 8.83.16
- PHP Version: 8.1.5
- Database Driver & Version: mysql

### Description:
I came across a strange issue with the http client where the `Content-Type` header is not being overwritten by any method which will be called after the first set. See examples below.

### Steps To Reproduce:
I have the base http client set to the below code example.
[code]

I have set it that I wa

[2022-08-23 18:55] J2TEAM opened #43830 "OrderByRaw response different result when binding"
- Laravel Version: 8.83
- PHP Version: 8.0.0
- Database Driver & Version: MariaDB 10.3.35

### Description:
![image](https://user-images.githubusercontent.com/5250117/186239442-1b0a102e-e401-408d-8084-26b8d51b5b85.png)
The result is different when the array contains any number

### Steps To Reproduce:
Example code:

[code]

[2022-08-23 18:57] driesvints commented on #43830
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-23 18:57] #43830 closed

[2022-08-23 18:58] driesvints commented on #43827
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-23 18:58] #43827 closed

[2022-08-23 19:00] driesvints commented on #43825
Thanks. We reverted this one.

[2022-08-23 19:00] #43825 closed

[2022-08-24 09:58] chowjiawei opened #43835 "schedule between not working properly"
- Laravel Version: 8.83.23
- PHP Version: 8.0.10

### Description:
between invalid

### Steps To Reproduce:

![企业微信截图_16613348765771](https://user-images.githubusercontent.com/59349609/186389887-c4c01293-8b71-4f51-baba-381fdbab3383.png)

[2022-08-24 12:46] driesvints commented on #43835
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-08-24 12:46] #43835 closed

[2022-08-24 12:54] newtonjob opened #43839 "Closure based validation rules do not $stopOnFirstFailure"
- Laravel Version: 9.2.5
- PHP Version: 8.1
- Database Driver & Version: Not applicable

### Description:
It looks like, for some reason, the Validator::stopOnFirstFailure() doesn't apply to closure-based rules.

### Steps To Reproduce:
For example, consider this rules definition from a FormRequest;

[code]

When the first closure rule for the `reference` parameter fails, the validator still invok

[2022-08-24 13:48] gthedev opened #43840 "URL Validation fails basic URL without a schema: www.google.com"
- Laravel Version: 9.23.0
- PHP Version: 8.1.6

### Description:
The `url` validation rule fails on a basic URL starting with www (without specifying the schema), e.g. `www.google.com`

### Steps To Reproduce:
[code]

[2022-08-24 13:50] driesvints commented on #43840
A valid url starts with a scheme.

[2022-08-24 13:50] #43840 closed

[2022-08-24 18:17] gabrielpeixoto opened #43847 "I can't use cursorPaginate when I sort by id (ambiguous column) using join"
- Laravel Version: 8.83.16
- PHP Version: 7.4
- Database Driver & Version: Mysql 8

### Description:
I can't use cursorPaginate when I sort by id using join

### Steps To Reproduce:

[code]

When I try that, i got the error:
[code]

[2022-08-25 02:13] rodrigopedra commented on #43847
Well, I believe this is not actually a bug, as you are not listing the columns individually.

These queries would produce different result sets on PHP (even without using Laravel at all)

[code]

In such cases, when joining tables that share common column names, the best option is to list all columns you want individually, or at least from the joined table, so they don't override your main table.

[2022-08-25 02:35] nisbeti commented on #26627
A silly typo in a core config file can even cause this issue. e.g. a php syntax error in config/session.php

[2022-08-25 05:46] driesvints commented on #43847
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-25 05:46] #43847 closed

[2022-08-25 05:57] driesvints commented on #43839
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-08-25 07:30] oprypkhantc opened #43850 "Tags not cleaned up from Redis cache"
- Laravel Version: 9.11.0
- PHP Version: 8.1.6

### Description:

When an item is saved into Redis cache with tags and an expiry (`Cache::tags(['one', 'two'])->put('key', 'value', 3600)`) the following happens:
 1. A value is saved under a generated key name with an expiry date: `laravel:6c017031f987fbd8828ea55044d67f6bb9dd6316:key` -> `s:5:"value";`
 2. A set of key names is saved under tag name

[2022-08-25 08:02] driesvints commented on #43850
I think this is a good idea. Can you send in a PR? Thanks!

[2022-08-25 08:02] #43850 closed

[2022-08-25 08:04] oprypkhantc commented on #43850
@driesvints Yep, doing that. Thanks for the response.

[2022-08-25 13:14] keithbrink commented on #43695
I found this PR when researching the same problem in the `laravel/serializable-closure` package:

https://github.com/laravel/serializable-closure/pull/53

This PR does not solve my issue, but it may be helpful for you.

For reference, here is an open issue on the original opis package:

https://github.com/opis/closure/issues/118

[2022-08-25 20:01] stevebauman opened #43863 "[9.x] `InteractsWithDatabase::castAsJson($value)` incorrectly handles SQLite Database"
- Laravel Version:
- PHP Version: v9.26.0
- Database Driver & Version: MySQL 8.0 | SQLite

### Description:

When using SQLite to test locally, calling `InteractsWithDatabase::castAsJson` in a test incorrectly casts the value to a raw DB expression, containing `CAST($value AS JSON)`.

### Steps To Reproduce:

[code]

[code]

When running this with a MySQL connection, the assertion passes fine.

Th

[2022-08-25 22:03] aliowacom opened #43864 "Eloquent Model GetKey shouldn't return castable object"
- Laravel Version: 9.19
- PHP Version: 8.1.4
- Database Driver & Version: MySql

### Description:
Model's `getKey()` method returns primary key attribute. There are multiple places where `getKey()` is expected to be a string, but `getAttribute()` could actually return a castable class.

If casted object is returned, `getKeyForSelectQuery()` would return it as well and `setKeysForSelectQuery()` wou

[2022-08-26 02:14] rodrigopedra commented on #43864
From the docs:

reference: https://laravel.com/docs/9.x/eloquent#primary-keys

In other words, an Eloquent model primary key should be either an integer value or a string value. Objects of any types are not supported as a valid primary key for Eloquent Models.

If you believe this is a feature Laravel should add, you can either:

- Propose a PR
- Start a discussion, on the discussion session here

[2022-08-26 06:18] aliowacom commented on #43864
Updated example with `$keyType` and `$incrementing`, result is the same.

Exactly, this is what I'm saying, Eloquent tries to cast primary key to possible castable object if it exists when it shouldn't.

[2022-08-26 06:42] driesvints commented on #43864
What you try to do is simply not supported.

[2022-08-26 06:42] #43864 closed

[2022-08-26 07:55] driesvints commented on #43863
This was originally added here: https://github.com/laravel/framework/pull/34302 by @browner12. I'm not sure what the reasoning for a raw statement was but this indeed seems odd given our multiple DB engine support.

Did you confirm the fix? Are you willing to PR it? (with a test if possible)

[2022-08-26 08:34] driesvints commented on #43839
Will reopen when a repo is provided.

[2022-08-26 08:34] #43839 closed

[2022-08-26 08:34] sharifzadesina opened #43870 "Unable to cast database attributes to objects using custom casts"
- Laravel Version: 9.26.1
- PHP Version: 8.1
- Database Driver & Version: Doesn't matter

### Description:

It is not possible to cast database attributes to objects using custom cast classes and then convert them to an array.

### Steps To Reproduce:

Models class:

[code]

and our custom cast class:

[code]

The code:

[code]

The error that happens:

[code]

The reason is obvious, here: [HasAtt

[2022-08-26 08:50] driesvints commented on #43870
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-08-26 09:15] sharifzadesina commented on #43870
Hello,
This was a simple bug, I don't know why I have to create a new repo just for it.
Anyways, here you go: https://github.com/sharifzadesina/bug-report

[2022-08-26 09:25] driesvints commented on #43870
Please add the code to create a balance record in order to reproduce the bug.

[2022-08-26 09:41] sharifzadesina commented on #43870
Hello,

Added DB config and seed to create the record in the database. so you can reproduce the error by running `php artisan migrate --seed` and then visiting welcome page.

[2022-08-26 09:50] driesvints commented on #43811
Seems there is no good way of improving this. In these use cases it's probably best to use something differently than components.

[2022-08-26 09:50] #43811 closed

[2022-08-26 10:17] HANKSIE opened #43871 "AbstractCursorPaginator::getParametersForItem() ErrorException Undefined index When transforming items"
- Laravel Version: 8.83.23
- PHP Version: 7.3.17
- Database Driver & Version: SQLite

### Description:
When using AbstractCursorPaginator::through() to transform each item,  calling AbstractCursorPaginator::toJson() implicitly or obviously will give an error: `Undefined index`
Paginate and SimplePaginate don't have this problem.

This error occur in AbstractCursorPaginator::getParametersForItem()

[2022-08-26 10:26] driesvints commented on #43871
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-08-26 10:26] #43871 closed

[2022-08-26 11:55] sebastiansulinski opened #43872 "New installation via composer create-project fails"
- Laravel Version: ^9.19 / latest
- PHP Version: 8.1.9
- Database Driver & Version: MySQL 8

### Description:
Trying to create new laravel project using

[code]

Throws and error:

[code]

It looks like `Spatie\Ignition\Contracts\SolutionProviderRepository::registerSolutionProvider()` method signature has changed - additional argument hint has been provided:

[code]

### Steps To Reproduce:

Pleas

[2022-08-26 12:00] driesvints commented on #43872
I don't get this and can run a new app just find with the above command.

[2022-08-26 12:00] #43872 closed

[2022-08-26 12:15] stevebauman commented on #43863
I can for sure submit a PR this weekend with tests. The above posted solution works for me 👍

[2022-08-26 12:23] bency opened #43874 "Eloquent doesn't work well with orderByRaw and cursorPaginate"
If you use `orderByRaw` with cursorPaginate, you will receive an array_flip error exception
[code]

Following is my sample code
[code]

1. The method `orderByRaw` create an array in the form of
[code]
2. And it became `null` after `pluck` method at L413
[code]
3. Illuminate\Pagination\AbstractCursorPaginator::getParametersForItem needs to flip parameters which is `$orders` in `Illuminate/Database/

[2022-08-26 12:24] driesvints commented on #43874
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-26 12:24] #43874 closed

[2022-08-26 13:17] MircoBabin opened #43878 "Artisan about - no composer version displayed when using composer.phar"
- Laravel Version: 9.26.1
- PHP Version: 8.1.7
- Database Driver & Version: MySql 8.0.16
- Windows/10 latest version

### Description:

The `artisan about` does not show the correct composer version when using `composer.phar`.

![image](https://user-images.githubusercontent.com/8981285/186911788-a2843b9c-a332-4fd1-93bd-e0e8949f213b.png)

### Steps To Reproduce:

- Have a composer.phar in the root

[2022-08-26 13:27] jbrooksuk commented on #43878
Can you please provide us with the output of `php composer.phar -V`?

[2022-08-26 13:33] MircoBabin commented on #43878
The output of `php composer.phar -V`:

![image](https://user-images.githubusercontent.com/8981285/186915404-2147452f-612b-4f5a-b877-9cf1de39f710.png)

[2022-08-26 13:58] browner12 commented on #43863
Sqlite does not support JSON columns at all, which is the reason I stopped using it completely for testing. @stevebauman, I guess I'm confused, how are your tests passing at all? Doesn't Sqlite throw an error when you try to migrate a JSON column?

[2022-08-26 14:03] nunomaduro commented on #43878
Can you go to `Illuminate\Support\Composer` and die var_dump the variable "$command" on the line 118?

[2022-08-26 14:15] MircoBabin commented on #43878
`var_dump($command)`:

![image](https://user-images.githubusercontent.com/8981285/186923812-74f5d09b-fde2-44a7-8417-83c8bbee9225.png)

[2022-08-26 14:25] MircoBabin commented on #43878
L118: I also dumped current working directory
L124: I also `var_dump($output)` (which is empty and I guess the problem)

![image](https://user-images.githubusercontent.com/8981285/186926176-753dd73d-a6ec-41c4-83f5-3680a6cd421a.png)

[2022-08-26 14:25] nunomaduro commented on #43878
So, apparently, `d:\projects\bin\php-8.1.7-x64\php.exe` is not a valid binary, or your user don't have permissions to access it. You should be able to fix this issue by re-installing that PHP version, or fixing the permissions of that binary.

[2022-08-26 14:27] MircoBabin commented on #43878
That is an incorrect conclusion:

![image](https://user-images.githubusercontent.com/8981285/186926666-e3c8d14c-d300-46ea-bac7-231f9cfb9ac0.png)

[2022-08-26 14:49] MircoBabin commented on #43878
L124: I added `var_dump(['output' => $output, 'errorOutput' => $process->getErrorOutput()]);`

[code]

[2022-08-26 14:50] MircoBabin commented on #43878
So the problem is that the executable is wrongly escaped, because it is enclosed in " ".

I changed L84 to not escape the phpBinary() and then it works for me (on Windows).

2 Observations about my quick-and-dirty fix:
- I don't know if this handles spaces in the path correctly.
- I don't know if this will work on Unix.
- I noticed that vendor\symfony\process\Process.php - public function start(ca

[2022-08-26 14:59] jbrooksuk commented on #43878
@MircoBabin can you please try with https://github.com/laravel/framework/pull/43880

[2022-08-26 15:41] JirakLu opened #43882 "After `route:cache`, `Route::current()->getPrefix()` returns route prefix without slash at the start."
- Laravel Version: 9.23.0
- PHP Version: 8.1.9
- Database Driver & Version: X

### Description:
After `route:cache`, `Route::current()->getPrefix()` returns the current route prefix without slash at the start.
I think it would be better to unify this and always return prefix without slash at the start.

## Not Cached
`Route::current()->getPrefix()` returns "/testPrefix";

## Cached
`Route::current

[2022-08-26 17:41] Enaah commented on #28070
Hey there @Fitmavincent,

I am running into this issue myself, could you solve it?

[2022-08-27 04:29] imdhemy opened #43889 "[9.x] Return data type of the `GeneratorCommand::handle()` method"
Using `bool|null` as a return type from `GeneratorCommand::handle()` method is
a bit confusing. The returned value is used by Symfony command `run()` method
that expects `1` for FAILURE and `0` for SUCCESS.

Here, In an _error case_, `false` is returned (_a failure status  `1`  is intended_), but a success
status (`0`) is returned by Symfony command `run` method.

https://github.com/laravel/framew

[2022-08-27 12:47] stevebauman commented on #43863
@browner12 The Laravel schema builder will create a `text` column if you add a JSON column while connected to a SQLite instance. Together with Eloquent casts, everything works fine when testing across SQLite and MySQL. Though I of course cannot use MySQL specific JSON where clauses in queries (i.e. `where('data->foo', '…')`).

[2022-08-28 07:48] phpmac opened #43899 "Laravel with hasMany(Trade::class, 'data->order_id', 'id') is empty"
- Laravel Version: 9.x
- PHP Version: 8.1
- Database Driver & Version:

### Description:

when "with hasMany(not data->xx)" its ok,else  empty.

<img width="1004" alt="截屏2022-08-28 15 44 10" src="https://user-images.githubusercontent.com/86544347/187063769-eda3d835-08ec-45ee-a268-814e7daede42.png">
<img width="960" alt="截屏2022-08-28 15 44 00" src="https://user-images.githubusercontent.com/86544347

[2022-08-28 08:30] driesvints commented on #43899
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-28 08:30] #43899 closed

[2022-08-28 18:51] browner12 commented on #43863
yah, this PR is starting to come back to me a little. it's definitely not a perfect solution, as it'd be best to know if the field in question is truly a JSON field.  Are there any other DB engines that don't support JSON types? Would we want to be more generic with something like:

[code]

and then adjust the connection classes a little?

[2022-08-29 01:43] mrinvo opened #43903 "vite not found at after deploying"
After deploying my laravel 9 project in 2 different hosts , i have faced the same issue regarding vite .
vite not found at .
knowing that i have run both of npm install and npm run dev before deploying
and regarding running the commands (npm install , npm run dev ) on the host  , i am face the issue which is shared hosting does not provide node easily so on two different hosts i couldn't run my pr

[2022-08-29 01:55] timacdonald commented on #43903
You should not be running `npm run dev` on deploy. You should run `npm run build`.

If you are unable to run `npm` commands on your shared hosting, you should run `npm run build` locally and commit  the assets in the `public/build` directory.

[2022-08-29 01:55] #43903 closed

[2022-08-29 02:14] mrinvo commented on #43903
that's exactly what i have done
i ran npm run build locally and committed the changes but still I'm getting
the same error

On Mon, Aug 29, 2022, 3:55 AM Tim MacDonald ***@***.***>
wrote:

[2022-08-29 02:28] timacdonald commented on #43903
Can you provide the stacktrace or a screenshot? Will need more information to provide context.

[2022-08-29 03:08] pabloapereira opened #43904 "DB ->cursorPaginate return (Illegal operator and value combination)"
- Laravel Version: 9.26.1
- PHP Version: 8.1.2
- Database Driver & Version: PostgreSQL 14 and 15

### Description:

When the value on the database is null and this column is in the filter we have the return the exception Illegal operator and value combination.

### Steps To Reproduce:

1 - Create a database/table with some columns
2 - Example: id, name, email, dt_created
3 - Left the column email

[2022-08-29 05:37] MircoBabin commented on #43878
After applying #43880 I can confirm it works. I even put "php.exe" in a path with spaces `d:\projects\bin\With Spaces php-8.1.7-x64\php.exe` and it still works.

To dump some settings I put some `var_dump` in:
1)  Composer.php - getVersion()

[code]

2) vendor\symfony\process\Process.php - start()

[code]

The output with both #43880 and my `var_dump` additions is:
[code]

![image](https://user-im

[2022-08-29 06:57] davymaish opened #43905 "Return response()->file() stpred s3"
Thank you for the great framework.
I have been having a problem while returning file response from a controller.
Im getting this error;

The file "https://web.s3.eu-west-2.amazonaws.com/...." does not exist

If I open the url in its own tab, the image is dislpayed. As per my code, its a must i return the file as a response()->file() without downloading or streaming.

My partial code is as below

`

[2022-08-29 07:52] davymaish opened #43907 "Return response()->file() stored in Aws s3"
### Discussed in https://github.com/laravel/framework/discussions/43906

<div type='discussions-op-text'>

<sup>Originally posted by **davymaish** August 29, 2022</sup>
Thank you for the great framework.
I have been having a problem while returning file response from a controller.
Im getting this error;

The file "https://web.s3.eu-west-2.amazonaws.com/...." does not exist

If I open the url in it

[2022-08-29 07:53] driesvints commented on #43907
Please don't move discussions back to issues.

[2022-08-29 07:53] #43907 closed

[2022-08-29 07:54] davymaish commented on #43907
Just help, don't discriminate my issue

[2022-08-29 08:23] driesvints commented on #43889
I don't see anything wrong here.

[2022-08-29 08:23] #43889 closed

[2022-08-29 08:26] driesvints commented on #43882
We should indeed fix this but the cached behavior should adopt to the non-cached behavior, not the other way around.

[2022-08-29 08:54] imdhemy commented on #43889
@driesvints
Could you please have a look at this test?

https://github.com/imdhemy/laravel.framework/blob/generator-command/tests/Console/GeneratorCommandTest.php#L39

This following assertion fails:
[code]

[2022-08-29 09:01] driesvints commented on #43889
If you want to change anything feel free to send in a PR 👍

[2022-08-29 09:08] JirakLu commented on #43882
The problem is that the behavior differs even for not cached routes as i described here.
It depends if you use route group or not.

[code]

[2022-08-29 09:15] driesvints commented on #43882
This isn't valid code. I don't think we document using prefixes like that on single routes anywhere.

[2022-08-29 13:44] driesvints commented on #43904
https://laravel.com/docs/9.x/pagination#cursor-vs-offset-pagination

<img width="754" alt="Screenshot 2022-08-29 at 15 43 57" src="https://user-images.githubusercontent.com/594614/187215488-17c82cdc-8e4c-4c9e-b15e-5d76529b106b.png">

[2022-08-29 13:55] bastien-phi opened #43913 "[9.x] Query exception when assertion fails on assertDatabaseHas/assertDatabaseMissing"
- Laravel Version: 9.26.1
- PHP Version: 8.1.2
- Database Driver & Version: Postgresql 13

### Description:

Failing tests with `[column, operator, value]` syntax fail with `QueryException` instead of failed assertion.

`assertDatabaseHas`, `assertDatabaseMissing` at least are impacted. It looks like it is related to `HasInDatabase::getAdditionalInfo`

### Steps To Reproduce:

[code]

[code]

[2022-08-29 14:00] driesvints commented on #43913
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-08-29 14:03] trovster opened #43914 "Exists database rule uses the wrong connection"
- Laravel Version: 9.26.1
- PHP Version: 8.0.20
- Database Driver & Version: MySQL / 10.8.3-MariaDB

### Description:

When using `new Exists(Model::class, 'column')` with a table name which has a database prefix fails to validate correctly when also matching the required connection name.

I have two main connections; both have multiple databases so all my table names are prefixed with the databas

[2022-08-29 14:25] driesvints commented on #43914
You should not set a connection name in your table name. That's not supported.

[2022-08-29 14:25] #43914 closed

[2022-08-29 14:33] bastien-phi commented on #43913
https://github.com/bastien-phi/bug-report

[2022-08-29 14:36] #43913 closed

[2022-08-29 14:49] bastien-phi commented on #43913
Not beeing documented doesn't mean it does not work...

As you can see https://github.com/bastien-phi/bug-report/blob/3f66250ab3c48f5a1a1d6416ebdc7dd94067daac/tests/Feature/ExampleTest.php#L25-L32, the syntax is completely valid.

In the other hand, I understand your point of view as this syntax is not yet tested in the framework nor documented...

[2022-08-29 15:36] JirakLu commented on #43882
Oh, my bad.
Then i guess the problem would be somewhere here.
https://github.com/laravel/framework/blob/45cd804928f4c1a42fafd2b78c7fa023a59c542a/src/Illuminate/Routing/Route.php#L804-L809
You are basically trimming the slash at the start from the `$newPrefix`.
I managed to fix it by replacing `trim` by `rtrim`.
[code]
This works for me and the prefix is always returned with slash at the start. Cac

[2022-08-29 15:39] smortexa opened #43917 "[9.x] Wrong asset url with `Vite::asset()`"
- Laravel Version: 9.26.1
- PHP Version: 8.1.7

### Description:
The `Vite::asset()` helper returns the wrong file name with `.js` extension. For example `Vite::asset('resources/images/logo.svg')` will be `https://foo.test/build/assets/logo.8d11ade3.js`.

[code]

[2022-08-29 18:12] trovster commented on #43914
I am not setting the connection name on the table. I am setting the database name. They are two independent things.

[2022-08-29 18:50] pmingram commented on #43914
@driesvints When you say "connection name" can you clarify what you're referring to?

- "Connection name" - as per the connection names defined in the database.php config file in a Laravel installation
- "Database name" - as in the physical database name on a MySQL/PostgreSQL/etc server

@trovster is using the `database.table` notation to reference another database that the connection defined with

[2022-08-30 00:55] Rizky92 opened #43924 "Vite asset misses some files when processed"
- Laravel Version: 9.26.1
- PHP Version: 8.1.6
- Database Driver & Version: N/A

Others:
- NodeJS v16
- OS Windows 10

I followed the [documentation about processing static assets](https://laravel.com/docs/9.x/vite#blade-processing-static-assets) to process my static asset files. However, some files were missed by vite.

My files contains a lot of repeated filenames and identical structure, with o

[2022-08-30 02:39] timacdonald commented on #43924
Hey @Rizky92,

Thanks so much for providing the repo to test against. It really helps us.

This is a known issue that we have a fix for, bu in the meantime you will need to make the following adjustment to your vite config:

[code]

You might wanna keep an eye on this PR: https://github.com/laravel/vite-plugin/pull/131. Once it is merged and tagged you can then remove that config option.

Thanks a

[2022-08-30 02:48] timacdonald commented on #43917
@smortexa can you please provide a minimal reproduction for this?

[code]

Can you also provide the version of Vite and the Laravel Vite Plugin you are using.

[2022-08-30 03:55] Rizky92 commented on #43924
Thank you @timacdonald.
I have tested your advice. It is now works for image files. Unfortunately, it didn't work for .manifest files.

Is there any chance that vite perform checks for specific file types?

[2022-08-30 04:08] timacdonald commented on #43924
I didn't notice them missing. Let me take a look at those for you.

[2022-08-30 06:29] smortexa commented on #43917
- laravel-vite-plugin: ^0.5.0
- vite: ^3.0.2

I cannot reproduce it with a fresh Laravel installation. I'm a little busy to dig in. I'll try to provide this ASAP.

[code]

[code]

[2022-08-30 07:07] driesvints commented on #43917
Feel free to post here once you're able to provide a repo and we'll reopen.

[2022-08-30 07:07] #43917 closed

[2022-08-30 07:11] swods commented on #32382
open up, it doesn't work, for exp if u will create txt, u can't load it bc of mimetype application/x-empty
in laravel txt is text/plan

same if u change ext to csv, mimetype didn't change but it can be csv data in there

[2022-08-30 07:44] driesvints commented on #43914
Heya, setting the database name is also not supported. I don't think we document that anywhere.

[2022-08-30 07:46] driesvints commented on #43914
That being said. We could maybe get a fix in and get this documented if it technically works. You could try a PR with a fix and a PR to the docs? It's just that I've seen people try to use it like this in the past and they always run into edge cases because take into account that it can work like this.

[2022-08-30 07:50] driesvints commented on #43882
Can you try to send in a PR?

[2022-08-30 10:06] wjonkerhulst opened #43931 "Internal server error with large json file uploads"
- Laravel Version: 9.26.1
- PHP Version: 8.1.9
- Database Driver & Version: PDO ODBC with Custome DB2 driver

### Description:
I use the PHP stream functionality to make it possible to upload large files. Following is the code that is responsible for the upload.
[code]
The streaming functionality makes it possible to upload very large files without hanging PHP because of memory limits. The excepti

[2022-08-30 10:07] trovster commented on #43914
I have been looking into this further and was about to put in a PR which removes the code. But I have found the original issue which was addressed at https://github.com/laravel/framework/issues/37580 – they seem to imply the `x.y` syntax is connection related, when it should be database related;

[code]

They say they

For me the syntax is `database.table` because you define the connection separat

[2022-08-30 10:10] driesvints commented on #43931
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-30 10:10] #43931 closed

[2022-08-30 10:25] wjonkerhulst commented on #43931
@driesvints It is not really a question. I can see what the cause is, and have the problem resolved for my personal case. I just wanted to notify you about something I think is a problem.

[2022-08-30 10:31] driesvints commented on #43931
Hey @wjonkerhulst. I think in this case what you're trying to do just isn't fit for your use case. It's best that you look for an alternative way to handle the upload for these kind of large files.

[2022-08-30 12:36] JirakLu commented on #43882
Done. Here is the PR: https://github.com/laravel/framework/pull/43932.

[2022-08-30 16:03] Angelinsky7 commented on #16002
i came here for the same reason, i was not comfortable why $casts/date and $casts/datetime has the same behavior and was wandering what i was not doing correctly...
It still would like to be able to $casts as date only and not having my json have unused `00:00:00.000000Z` for nothing

[2022-08-30 19:35] siarheipashkevich opened #43940 "Filled method of the request returns true for empty array"
- Laravel Version: 9.26.1
- PHP Version: 8.1.9
- Database Driver & Version:

### Description:

In the [documentation](https://laravel.com/docs/9.x/requests#determining-if-input-is-present) we have:
`
If you would like to determine if a value is present on the request and is not empty, you may use the filled method:
`

Please pay attention to: ...**and is not empty**..

### Steps To Reproduce:
[cod

[2022-08-30 21:18] allanlaal commented on #43786
isn't it linked to Laravel using tinyint(1) instead of boolean?
.. since in Ancient times MySQL didn't have bool: https://github.com/laravel/framework/issues/1202

[2022-08-31 07:01] Sergiobop commented on #43940
Yeah, this happened to me too before. I think is a bug or a misconception.

I had a query condition like this one:
[code]

And passing an empty array, caused the query to fail.

I had to do this:
[code]

[2022-08-31 09:21] newtonjob commented on #43839
Thank you for your response @driesvints

So, after digging further, I realize the issue has nothing to do with closure rules particularly.

Consider this simple validation example;

[code]
Obviously, all the other rules except `required` will fail, and this is the output;
[code]

I had thought that validation will stop right after the `email` rule.

But looking at the `Validator` class on line 410

[2022-08-31 11:10] rambo1989pm opened #43945 "Markdown mail - error parse"
- Laravel Version: v9.27
- PHP Version: 8.1

**Description:**
Markdown parser @component('mail::message') shows RAW HTML tags.

**Steps To Reproduce:**

1. Install fresh laravel installation and setup SMTP...
2. Create App/Mail/TestMail.php

[code]

3. Create resources/views/email.blade.php
[code]
4. Send email

`Mail::to('[your@email.com](mailto:your@email.com)')->send(new TestMail);`

5. Email
!

[2022-08-31 11:18] stevebauman commented on #43863
That’s a good point @browner12, I’m not sure. Let me dig into it a bit and see which built-in Laravel DB drivers support JSON columns 👍

[2022-08-31 11:39] sharifzadesina commented on #43870
@driesvints any updates on this?

[2022-08-31 11:46] #43945 closed

[2022-08-31 12:00] taai opened #43948 "Unnecessary query parameter (_id is not null) in Eloquent relationships"
- Laravel Version: 9.27.0
- PHP Version: 8.1.9
- Database Driver & Version: PostgreSQL 14.5

### Description:

I'm really confused about the SQL query that is being generated when fetching records by a relationships (for example, ```HasMany``` and ```MorphMany```).

[code]

There **should not** be an extra query parameter that checks if the related ID is not null, because there is already comparis

[2022-08-31 14:58] browner12 commented on #43863
### MySQL added JSON support in v5.7

https://dev.mysql.com/doc/refman/8.0/en/json.html#:~:text=MySQL%20supports%20a%20native%20JSON,documents%20stored%20in%20JSON%20columns.

### PostgresSQL added JSON support in v9.2

https://www.postgresql.org/docs/current/datatype-json.html

### SQLServer has no native JSON datatype, but allows you to work with JSON since v2016

https://docs.microsoft.com/en-u

[2022-08-31 15:00] stevebauman commented on #43863
Yea I agree with this. Having it inside of the grammar makes sense 👍

Would you like me to tackle the PR if you got your hands full at the moment?

[2022-08-31 15:02] browner12 commented on #43863
sure thing. tag me in it and I'll try and provide some feedback.

[2022-08-31 17:49] caiokawasaki opened #43954 "Possible bug related to DB::raw and $casts on model"
- Laravel Version: 9.26.1
- PHP Version: 8.1.9
- Database Driver & Version: mysql (Docker - mysql/mysql-server:8.0)

### Description:

When I try to update a model with a custom query using `DB::raw()` to increment, I get the following error:

[code]

### Steps To Reproduce:

This is my model:

[code]

This is my code:

[code]

When I try to call the `incrementOutgoingMessagesAmount()` method i re

[2022-08-31 22:17] rodrigopedra commented on #43954
try updating your code to this:

[code]

Note the `->newQuery()` before calling the `->update()` method.

`Model@update()` first fills the attribute and calls `Model@save` under the hood. So any casts will try to be applied.

`Model@newQuery()` will return a `Eloquent\Builder` instance, and then `Builder@update()` will handle expressions accordingly, as it will defer to the underlying `Database\Bu

[2022-08-31 22:29] rodrigopedra commented on #43948
This check was introduced in PR #8033 from 2015 to Laravel 5.0.

Check the discussion on the PR above for the rational and discussion. Also see issues/PR referencing the PR above and the reasons for not reverting this behavior.

[2022-09-01 02:41] carlosmdq44 commented on #25964
pudiste solucionarlo, tengo el mismo problema! en local funciona pero no cuando deployo en versel

[2022-09-01 03:46] taka-oyama commented on #43948
Someone already attempted to simplify it but was rejected.
https://github.com/laravel/framework/pull/36905

[2022-09-01 07:26] driesvints commented on #43948
Heya, if you want this to be reconsidered feel free to reattempt the PR. Thanks

[2022-09-01 07:26] #43948 closed

[2022-09-01 08:07] driesvints commented on #43940
This method is for strings specifically. I've sent in a PR to the docs to clarify this.

[2022-09-01 08:07] #43940 closed

[2022-09-01 08:07] driesvints commented on #43954
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-01 08:07] #43954 closed

[2022-09-01 08:08] siarheipashkevich commented on #43940
@driesvints do you plan to extend this for array also?

[2022-09-01 08:10] driesvints commented on #43940
No, sorry. You can always attempt a PR if you want.

[2022-09-01 08:13] siarheipashkevich commented on #43940
@driesvints got it, thank you for response.

Maybe clarify comment of the method also?

https://github.com/laravel/framework/blob/9.x/src/Illuminate/Http/Concerns/InteractsWithInput.php#L137

[2022-09-01 09:26] driesvints commented on #43870
Thanks, I managed to send in a fix for this.

[2022-09-01 09:40] rebbieboi commented on #41522
They should specify in the documentation that whereDate will not be able to use the indexes. We all use these functions for convenience not knowing the bottleneck they will bring and they need to define that.

[2022-09-01 11:28] deeputvr opened #43960 "touchParent wont work if table a name is specified in the model."
touchParent wont work if table a name is specified in the model.

Steps to recreate:
1. create a user model. Give `$table = 'test_users';`
2. create belongsToMany relation to roles model
3. Now use `->sync(...)` to assign some roles
4. See if touch parent worked. Since the checking is based on old code, the feature is not working
5. We needed to call `setTouchedRelations()` manually to work this.

[2022-09-01 11:29] driesvints commented on #43960
Please don't move discussions to issues.

[2022-09-01 11:29] #43960 closed

[2022-09-01 12:25] toto975 opened #43961 "Log error for failed job with line break / carriage return"
- Laravel Version: 9.7.0
- PHP Version: 8.1.4

### Description:
When the error text contains \r, it's doing a line break in the error file, like this :

The error text is
[code]
In the log file there is :
[code]

### Steps To Reproduce:
Run a job and fall in failed job

I did some search and found the parameters to put in config\logging.php
[code]
It's Ok for error in controller, view, repositorie

[2022-09-01 13:35] #43870 closed

[2022-09-01 19:32] clanofartisans opened #43970 "Multiple Queue Workers Don't Respect Job Chains Containing Batches"
- Laravel Version: 9.27.0
- PHP Version: 8.1.9
- Database Driver & Version: Redis 7.0.4

### Description:
I have created a job chain that runs a batch, then a few other, simpler jobs. I am noticing that, when running multiple queue workers (using Horizon in my case), the batch that is "step one" in my chain doesn't necessarily complete before "step two" begins, despite everything being in the same

[2022-09-02 07:22] driesvints commented on #43970
You can't execute batches inside batches. That's not supported.

[2022-09-02 07:22] #43970 closed

[2022-09-02 07:26] driesvints commented on #43961
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-09-02 08:06] toto975 commented on #43961
Hello,

I understand that you need more info and code.
I work on a corporate intranet, so it's hard to share all of my code with you.

Here is a part of the code for the job :
[code]

For emergency log, i comment all the channels in config\logging.php, except the emergency channel

Hope this helps you with debugging.

[2022-09-02 08:08] joke2k commented on #36255
Just to integrate, the `clone()` method applied to a BelongsToMany with pivot, removes all pivot fields from select.

use built-in `clone`

[2022-09-02 08:11] driesvints commented on #43961
Please create a new repo to reproduce the problem with minimal code as possible. Otherwise I can't help you, sorry.

[2022-09-02 08:30] tobia opened #43973 "Problem in the __call() method of Eloquent query builder"
- Laravel Version: 9.x (git head)

### Description:

The Eloquent query builder (`Illuminate\Database\Eloquent\Builder`) has a [__call() method](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Database/Eloquent/Builder.php#L1822) that forwards unknown method calls to the wrapped query builder instance (`$this->qurey`) but then always returns its own `$this`.

This makes it impossible

[2022-09-02 08:40] driesvints commented on #43973
Not sure I really see a bug here. If there's something you want to improve feel free to attempt a PR. Thanks

[2022-09-02 08:40] #43973 closed

[2022-09-02 10:17] driesvints commented on #43863
Going to close this since we can assume SQLite isn't supported yet for this function. Feel free to send in a PR when you can. Thanks all.

[2022-09-02 10:17] #43863 closed

[2022-09-02 13:26] JirakLu commented on #43882
Ima close this issue for now. I will create a new one with proper explanation of the problem soon.

[2022-09-02 13:26] #43882 closed

[2022-09-02 13:44] clanofartisans commented on #43970
@driesvints If the distinction matters, this is a batch inside a chain, not a batch inside a batch. I actually got the idea from watching @themsaid on Laracasts describing exactly this process [here](https://laracasts.com/series/laravel-queue-mastery/episodes/5) at 3:48.

[2022-09-02 13:52] driesvints commented on #43970
@themsaid I don't think this is supported? We don't document this anywhere?

[2022-09-02 17:51] Tofandel commented on #26950
@Korko You can check if it's `isVariadic` it's a specific case

See #43985

[2022-09-03 09:09] siarheipashkevich opened #43990 "Fluent JSON testing is invalid"
- Laravel Version: 9.27.0
- PHP Version: 8.1.9
- Database Driver & Version:

### Description:

I want to test exact response of the my api call.

Request returns many fields, but in my test I add only one field and test should be failed but the test is passed.

![image](https://user-images.githubusercontent.com/7753600/188263925-3b45dea2-601b-4af4-94c8-efc659e6ba1c.png)

But in the [documentation]

[2022-09-03 15:30] sethsandaru commented on #43990
So basically you want to do something like this?:

[code]

[2022-09-03 15:35] nmedelmehdi commented on #21556
Hello,
Did i have seem issue here, __(), trans() returns only key.

[2022-09-03 21:28] eduance commented on #41829
In case anyone is still finding this thread, by serializing the array it will work.

I have fixed it by:

```Redis::hset(123, 'subjects', json_encode($request->get('subjects')));```

```Redis::hget(123, 'subjects');```

[2022-09-04 11:32] fabuhelow opened #43995 "Laravel 9 ( Policy is not invoked automatically )"
### Discussed in https://github.com/laravel/framework/discussions/43956

<div type='discussions-op-text'>

<sup>Originally posted by **fabuhelow** September  1, 2022</sup>
I have a question regarding to use Laravel policy. After registering the policy into AuthServiceProvider, should it called automatically or it should be invoked through middleware, controller?

**Example:**
I have created a Prod

[2022-09-04 11:58] driesvints commented on #43995
Please don't moce discussions to issues

[2022-09-04 11:58] #43995 closed

[2022-09-04 13:19] davidjr82 opened #43996 "Vite is refreshing always in windows"
- Laravel Version: 9.27.0
- PHP Version: 8.1.2
- Database Driver & Version: NA
- OS: Windows 11, execute directly (no docker, no sail, no WSL)

### Description:
When using `refresh: false` in `vite.config.js`, the browser is still hot reloaded as soon as a file is saved.

### Steps To Reproduce:

Using this `vite.config.js` config file, execute `npm run dev` and `serve` to see the website in the b

[2022-09-04 13:57] JirakLu opened #43997 "`RouteGroup::merge` adds slash to the route prefix, when parent RouteGroup prefix is empty / not set."
- Laravel Version: 9.27.0
- PHP Version: 8.1.9
- Database Driver & Version: X

This is a follow up issue to my old one, where i miss understood the problem.
## Description:
Route prefix is returned with slash at the start when parent RouteGroup prefix is empty.
For exmaple:
[code]
### Expected behavior:
When user visits `*/dashboard/settings` the `Route->current()->getPrefix()` should return `dash

[2022-09-04 14:15] Omar-Ess opened #43998 "Bug when setting a 'root' path in s3 disk"
### Description

This issue occurs when using s3 disk and specifying root path in the config. what happens is when generating a s3 url using the storage facade the end path character "/" is being converted to "%5C" which is  the hex ASCII representation of "backslash" . if I remove the root path from the config , then everything works as expected . I saw a couple of people reporting this issue and

[2022-09-04 14:21] rodrigopedra commented on #43998
Have you tested without the forward slash at the end?

[code]

All code snippets in the docs that set a root property for a file storage does not contain this extra forward slash

https://laravel.com/docs/9.x/filesystem

[2022-09-04 21:17] Rizky92 opened #44001 "`storage:link` is unsuccessful when using custom public path"
- Laravel Version: 9.26.1
- PHP Version: 8.1.6
- Database Driver & Version: N/A
- OS: Windows 10 21H2

### Description:
WHen trying to run `storage:link` on custom public path, Laravel falsely reported successful symbolic link folder generation. Notice the storage folder is absent in `public_html` folder:
![Screenshot (8)](https://user-images.githubusercontent.com/18244409/188333720-a30e72f6-fce7-

[2022-09-04 23:52] timacdonald commented on #43996
@davidjr82 are you using Tailwind CSS with Vite?

Additionally, can you provide a screenshot of the console and what it is reporting when a refresh happens.

[2022-09-05 00:05] timacdonald commented on #44001
Looks like this is caused by the `links` configuration in the `config/filesystems.php` file:

[code]

Because config is resolved _before_ userland service providers, it resolves the default public directory instead of the one specified in the applications service provider, i.e.

[code]

For a fix now, you can manually configure the public directory in the `filesystems.php` config:

[code]

Looks l

[2022-09-05 07:28] shaedrich opened #44004 "Relation::withDefault() on `HasOne` or `BelongsTo` returns empty array instead of null"
- Laravel Version: 8.83.20
- PHP Version: 8.1.5
- Database Driver & Version: sqlite 3.31.1

### Description:
When I define a `HasOne` or `BelongsTo` relationship in a model and for a specific model instance there's no related record, Laravel returns `null` for the relation&mdash;so far so good. In some cases, I have a default related model, in others, I don't. So I use `Relation::withDefault()` an

[2022-09-05 07:46] driesvints commented on #43990
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-09-05 07:47] driesvints commented on #43998
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-05 07:47] #43998 closed

[2022-09-05 07:48] driesvints commented on #43997
Feel free to send in a PR but keep in mind that none of the existing behavior for non-cached routes can change.

[2022-09-05 07:48] driesvints commented on #44004
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-09-05 07:48] #44004 closed

[2022-09-05 07:50] driesvints commented on #44001
We do not support modifying the public path, sorry.

[2022-09-05 07:50] #44001 closed

[2022-09-05 07:56] Rizky92 commented on #44001
I think I'll try this one. Thanks.

[2022-09-05 08:00] siarheipashkevich commented on #43990
Hi @driesvints it's very simple to reproduce.

Please create simple route:
![image](https://user-images.githubusercontent.com/7753600/188398493-4e754201-79b3-40fd-bc09-c0b7e7b02533.png)

and test:
![image](https://user-images.githubusercontent.com/7753600/188398791-0f128924-b205-47fa-a2a0-8e65476521e8.png)

[2022-09-05 08:13] driesvints commented on #43990
I see what's happening. This behavior only applies to top level attributes, not nested attributes. I've sent in a PR to clarify this in the docs: https://github.com/laravel/docs/pull/8185

[2022-09-05 08:13] #43990 closed

[2022-09-05 08:15] siarheipashkevich commented on #43990
@driesvints thank you so much.

Could you please suggest how I can test nested structure in my case?

[2022-09-05 08:18] driesvints commented on #43990
Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat/?nick=laravelnewbie&channels=#laravel)

[2022-09-05 08:37] 0notole opened #44006 "A migration with both creation and renaming of columns will delete the table"
- Laravel Version: 9.21.6
- PHP Version: 8.1.9
- Database Driver & Version: MySQL 8.0.30

### Description:
A migration with both (1) creation of new columns (tested with float and booleans in particular) and (2) renaming an existing column – such a migration will delete the whole table. No errors in the console, all is done and successful but the table is gone with all the contents.

### Steps To

[2022-09-05 08:40] driesvints commented on #44006
It's best that you use separate `Schema::table` statements for these as shown in the docs: https://laravel.com/docs/9.x/migrations

[2022-09-05 08:40] #44006 closed

[2022-09-05 08:48] 0notole commented on #44006
@driesvints

Absolutely, as a workaround perhaps. But would you agree that ideally this combination should produce an error or warning?

[2022-09-05 08:52] driesvints commented on #44006
You can always attempt a pr 👍

[2022-09-05 09:43] shaedrich commented on #44004
Hey Dries,

the file wasn't changed between 8.x and 9.x (or master)

[2022-09-05 10:17] philharmonie opened #44008 "Mailable ignoring markdown with Indentation"
- Laravel Version: 9.27.0
- PHP Version: 8.1.9
- Database Driver & Version: mysql 8
_Btw: Using the `php artisan about` template here would be cool_

### Description:
Usually developers use some formatters that auto format code on document save. This is good and helpful and end in beautiful formatted code. To add and use indentation is a common standard.

### Steps To Reproduce:
Having this return

[2022-09-05 10:19] driesvints commented on #44008
Indentation in markdown results in a code block. This is how markdown behaves and there's nothing we can do about this.

[2022-09-05 10:19] #44008 closed

[2022-09-05 10:21] philharmonie commented on #44008
Is there a way to disable code block detection?

[2022-09-05 14:13] #43997 closed

[2022-09-05 14:14] driesvints commented on #43961
Feel free to re-open once the repo is created.

[2022-09-05 14:14] #43961 closed

[2022-09-05 21:04] johanobergman opened #44014 "Http client pool causes TypeError on bad redirect"
- Laravel Version: 9.24.0
- PHP Version: 8.1.9
- Database Driver & Version:

### Description:
Making an http request using the Laravel Http client throws `GuzzleHttp\Psr7\Exception\MalformedUriException` if the called endpoint has a bad redirect header.

That's ok and can be caught in case of a single http call, but when using the Http Pool feature one bad redirect crashes the entire pool of reque

[2022-09-05 22:05] AlexWinder opened #44015 "`APP_URL` appears to be ignored on blade with `asset()` and `route()`"
- Laravel Version: 9.26.1
- PHP Version: 8.1
- Database Driver & Version: `mysql` with MariaDB

### Description:

The `APP_URL` which is tied to `config('app.url')` does not appear to be factored into the the `asset()` and `route()` on Blade.

I have a Laravel application which is served via an Nginx Docker container. In front of this Docker container I have another Nginx service on a host which i

[2022-09-05 22:11] AlexWinder commented on #44015
So the issue I am having appears to be with my reverse proxy with the request to `https://mysite.com` is being passed through to `http://127.0.0.1:8080`, which is being picked up as a request in PHP to `http://127.0.0.1:8080` However, this doesn't explain why `artisan tinker` which appears to be returning the values with `APP_URL`.

[2022-09-06 00:08] crynobone commented on #44015
There no actual request when running Laravel from console command, Laravel instead set the request from config during bootstrap: https://github.com/laravel/framework/blob/9.x/src/Illuminate/Foundation/Bootstrap/SetRequestForConsole.php

[2022-09-06 06:35] driesvints commented on #44015
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-06 06:35] #44015 closed

[2022-09-06 06:39] driesvints commented on #44014
I don't get the same error. I get the following:

<img width="1467" alt="Screenshot 2022-09-06 at 08 38 39" src="https://user-images.githubusercontent.com/594614/188564093-50aca02a-f6f4-4f5e-9d62-59c600693f8a.png">

[2022-09-06 06:39] driesvints commented on #44014
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-09-06 06:39] #44014 closed

[2022-09-06 06:42] johanobergman commented on #44014
I don't think it should return a ConnectException either.

But what if you try this url: https://www.smol.se/arrangemang2/Tillstartsidan/

The live one I had trouble with.

[2022-09-06 06:43] johanobergman commented on #44014
curl --head https://www.smol.se/arrangemang2/Tillstartsidan/ returns Location: //

[2022-09-06 06:54] johanobergman commented on #44014
Ran it again with a completely fresh Laravel install. Took a few seconds but then I got this. Maybe your web server behaves differently than mine?

Still thats just to simulate the error - once you hit a real server that behaves that way it will throw a TypeError. Try the url I provided above, that should give you the same response I get.

<img width="1017" alt="Skärmavbild 2022-09-06 kl  08 49 5

[2022-09-06 07:14] driesvints commented on #43878
It seems like we're not going to take action here right now, sorry.

[2022-09-06 07:14] #43878 closed

[2022-09-06 08:50] yusufalper opened #44020 "Octane - Laravel Request Class prepareForValidation not reflected in $request->get"
- Laravel Version: 9.26.1
- PHP Version: 8.1.9
- Database Driver & Version: pgsql 14.5

### Description:
In a API endpoint taking "emails" as an array, I am validating values with a Request Class. In this Request class' prepareForValidation method:

`$this->merge([
    'emails' => array_unique($this->emails)
]);`

i have above lines. And a controller like this:

`foreach ($request->get('emails') a

[2022-09-06 09:02] driesvints commented on #44020
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-09-06 09:02] #44020 closed

[2022-09-06 11:57] divdax opened #44024 "Mail::alwaysTo() is not overriding mailable"
- Laravel Version: 9.27.0
- PHP Version: 8.1.9

### Description:

`Mail::alwaysTo()` in ServiceProvider is ignored when make use of a custom mailer to send a mailable.

### Steps To Reproduce:

 env is `local`.

AppServiceProvider
[code]

DocumentMail.php
[code]

[2022-09-06 12:09] driesvints commented on #44024
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-09-06 12:09] #44024 closed

[2022-09-06 17:23] Erth0 opened #44028 "Http client is not overwriting the content type header when attaching a file or even if you manually call another method"
- Laravel Version: 9.27.0
- PHP Version: 8.1.5
- Database Driver & Version: mysql

### Description:
I came across a strange issue with the http client where the `Content-Type` header is not being overwritten by any method which will be called after the first set. See examples below.

### Steps To Reproduce:
I have the base http client set to the below code example.
[code]

I have set it that I wan

[2022-09-06 17:27] AlexWinder commented on #44015
Thanks for the pointer @crynobone - however I would expect the default behaviour for at least `route()` to factor in this `APP_URL` which doesn't seem to be the case. It makes it quite confusing. Could you recommend any alternative helper which I could use which factors in both the response of `route()` and the `APP_URL`?

@driesvints Appreciate that it could be asked on a support channel, however

[2022-09-06 20:27] josefernandoperezgarcia1998 commented on #20953
Its works for me the coment of @themsaid,
`public function boot()
    {
        view()->composer('errors::403', function($view){
            $view->with('menus', Menu::menus());
        });
        view()->composer('layouts.pagina.pagina-plantilla', function($view){
            $view->with('menus', Menu::menus());
        });
        view()->composer('welcome', function($view){
            $view->

[2022-09-06 22:57] Cbrad24 commented on #44028
Indeed, I replaced all my API classes that were loading their own GuzzleHttp instance with the new Laravel Http wrapper. At construction of the class I store the Pending Request inside the class and ended up running into the same issue when a single API endpoint demanded `text/plain` for a `DELETE` request.

I had to create my own workaround using this:
[code]

From what I worked out at the time,

[2022-09-07 08:10] Erth0 commented on #44028
Your solution seems good to me thanks for that!

It seems strange though because the attach method is calling `asMultipart` method which by looking on it you assume that changes or adds it to the headers although that doesn't update it.
At the moment I have done some workaround which calls dynamically the given method I assign but I am wondering if this can be fixed or if it is porously like that.

[2022-09-07 14:13] clementbirkle opened #44036 "The middleware "SetCacheHeaders" doesn't work with file responses"
- Laravel Version: 9.26.1
- PHP Version: 8.1.8

### Description:

The middleware "SetCacheHeaders" (cache.headers) doesn't work with file responses because in this case "! $response->getContent()" seems to be empty: https://github.com/laravel/framework/blob/9.x/src/Illuminate/Http/Middleware/SetCacheHeaders.php#L24

I use a simple response like that: https://laravel.com/docs/9.x/responses#file-res

[2022-09-07 21:30] robjensen82 commented on #36294
Another approach is to define your own trait for refresh database:

[code]

[2022-09-08 04:27] PH7-Jack commented on #32497
I believe if we have hooks into the component to be called after the attributes are set will be nice

@taylorotwell @driesvints I can create a PR to add a "init" or similar hook to be called after the attributes is set into the component, or add it into the constructor parameters via dependency injection.

Another great feature is to add rendering events like livewire does
https://github.com/livew

[2022-09-08 15:26] driesvints commented on #44015
I'm sorry @AlexWinder, I don't think there's an issue with these features as these are heavily utilised by hundred of thousands of apps. Please try a support channel if you have questions about these or try a PR if you really think there's a bug.

[2022-09-08 15:27] driesvints commented on #44036
I don't think it makes sense for file responses? Should those even be cached?

[2022-09-08 15:27] #44036 closed

[2022-09-08 15:37] clementbirkle commented on #44036
Yes, I think it can make sense.

In my case, I use file responses for protected files. Each request make a query to the database to retrieve the path of the file and then return the response.

Put the file in browser cache could avoid to make this call 20 times for the same file/same user.

[2022-09-08 15:38] driesvints commented on #44028
Hi there. It's expected that `attach` uses multipart as that's the content type we need to do file uploads.

[2022-09-08 15:38] #44028 closed

[2022-09-08 15:39] driesvints commented on #44036
Feel free to attempt a PR if you want 👍

[2022-09-08 16:02] Erth0 commented on #44028
But that's the issue that is not overwriting to use multipart instead uses the previous defined method

[2022-09-09 07:26] driesvints commented on #44028
Ah I see. Your actual issue is that you shouldn't use `asJson` at all when uploading files.

[2022-09-09 08:24] mrm commented on #42586
I also ran into the same problem and it took me quite a bit of time to figure out why the directories had the wrong permissions (as I was passing in `public`).

When calling `Storage::put` with the `directory_visibility` it indeed seems to work as intended:
[code]

Currently in the [FilesystemAdapter](https://github.com/laravel/framework/blob/964c2b468a12338c07527af26a3d4ab2582095cf/src/Illuminate

[2022-09-09 08:46] driesvints commented on #42586
We could maybe add the option commented out in the skeleton. I still think private by default is probably the better default.

[2022-09-09 12:14] oprypkhantc commented on #43850
The package we ended up writing is this: https://github.com/tenantcloud/laravel-better-cache

It uses Redis' sorted sets with timestamp scores instead of sets to efficiently clean up expired tags, and it also improves performance by eliminating unneeded Redis calls for tagged cache gets/puts.

We've used it for a couple days and so far it's been working great for us. Memory usage reduced 3 times b

[2022-09-09 12:35] ARehmanMahi commented on #42586
@mrm ``` "So by using the public visibility you're only changing the group permissions of the file." ```
I don't think that's what's happening, the `public` visibility changes the file permissions as defined in the permissions array, not just group permissions. so with default settings the file would have 644 for the public.

[code]

And if you override the array and change the public permissions

[2022-09-09 13:02] allanlaal commented on #40360
the class set by `collects` also needs to be an instance of `JsonResource` class

[2022-09-09 16:16] ruedigerm-playster commented on #43997
I just wanna leave this comment in case others have the same issue as I:
this change introduced a breaking change. before, the function $request->route()->getPrefix() returned the prefix with "/" at the beginning. Now this slash is removed.
While the new behavior is cleaner and better, it broke my application and required some refactoring.

[2022-09-09 16:47] driesvints commented on #43997
@ruedigerm-playster did this break something for you in non-cached route behavior or with cached routes?

[2022-09-09 16:54] ruedigerm-playster commented on #43997
I think non-cached behavior. (at least I'm not using any caching explicitly)

I use prefix like
`Route::prefix('my-api')->group(function () {`

Old behavior: `$request->route()->getPrefix()` returned the prefix as "/my-api"
New behavior: `$request->route()->getPrefix()` returned the prefix as "my-api"

[2022-09-09 17:11] driesvints commented on #43997
@JirakLu we're going to roll back your PR. Seems it did break something while routes aren't cached. We cannot change the behavior for non-cached routes on patch releases.

[2022-09-09 18:58] LocalHeroPro opened #44073 "Route checked even if middleware isn't passed"
- Laravel Version: 9.28.0
- PHP Version: 8.1.9
- Database Driver & Version:

### Description:
Route is behind two middlewares and is POST.
When try to GET route, without auth, route is reached even if production env is set enven behing policy.
So we have braked three "firewalls" rules.

I think, if middlwares aren't passed and even policy, so we CAN'T reach route, behind those "firewalls".

### St

[2022-09-09 19:02] driesvints commented on #44073
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-09 19:02] #44073 closed

[2022-09-09 19:06] LocalHeroPro commented on #44073
It' security vulnerability.
Closed faster as read.

[2022-09-10 06:18] inDeev opened #44076 "Paginator count prequery ignores aliased selects"
- Laravel Version: 9.28
- PHP Version: 8.0.22
- Database Driver & Version:
sqlite, mariadb
### Description:
When asking to return paginated results, when search is made through aliased column, paginator's count query returns wrong result - always 0 and then query itself is not fired.

### Steps To Reproduce:
[code]
count query then looks like:
[code]
and 0 is returned as there is missing alias sel

[2022-09-10 08:47] pYr0x opened #44077 "named routes not added into look-up table"
- Laravel Version: 9.28.0
- PHP Version: 8.1
- Database Driver & Version:

### Description:

### Steps To Reproduce:

the example on the laravel doc
[code]
set a route-name. But this name does not get added to the route look-up table on the `RouteCollection.php`

so don't get the named route back if you call `$router->has('profile');`.

i dont know if this was the purpose.

[2022-09-10 17:36] LocalHeroPro opened #44081 "Eloquent count returning all times 1 when is spitted"
- Laravel Version: 9.28.0
- PHP Version: 8.1.9
- Database Driver & Version:

### Description:
Eloquent count not working, when using Eloquent builder spitted.
So right now we need fetch all models, even millions, and after that we count all returned models ;/ Sounds like memory leak and incorrect value.

### Steps To Reproduce:
[code]

[2022-09-10 18:24] TheRealMkadmi opened #44082 "A textual day could not be found Not enough data available to satisfy format"
- Laravel Version: 9.24.0
- PHP Version: 8.1.7, Xdebug v3.1.2
- Database Driver & Version: mysql  Ver 8.0.29-0ubuntu0.22.04.2 for Linux on x86_64 ((Ubuntu))

### Description:
Running on WSL 1, Windows 11

Running `php artisan serve` would result in the following error thrown randomly (might occur immediately or after a few minutes);

[code]

### Steps To Reproduce:
`php artisan serve` for any lara

[2022-09-10 18:33] DarkGhostHunter commented on #44082
Found the commit https://github.com/laravel/framework/commit/e7ac9b1e8a20ccb55afe05954f13bb48bb3f8dad

Seems that the culprit is `getDateFromLine()`. Can you dump `$line` and `$matches`? It may be a problem with how WSL returns the server date. Which Ubuntu version, btw?

[2022-09-10 18:34] DarkGhostHunter commented on #44081
Do you have data or a repo to reproduce this?

[2022-09-10 18:51] TheRealMkadmi commented on #44082
I'll report back as soon as it happens again

[2022-09-10 19:03] DarkGhostHunter commented on #44077
Must be something in your end. I just added the same example in `web.php` in a project and `Route::has('profile')` returns true.

Try this:

[code]

BTW, don't add a Route while the app is running, as it won't persist after the request ends. If you're adding a route will need to refresh the name lookups and action lookups.

[code]

[2022-09-10 19:19] DarkGhostHunter commented on #44076
Try first with not aliasing a the column and set the explicit where with a table, like `salaries.salary` instead of `salariesSalary`.

BTW, use `e($search)` to at least sanitize the string to search.

[2022-09-10 20:31] rodrigopedra commented on #44081
Why? What hints you in this direction? I am genuinely curious.

This is known behavior.

All aggregates methods on the query builder (`count`, `min`, `max`, `sum`, `avg`) return only the first result (see the `$results[0]` below)

https://github.com/laravel/framework/blob/004163a06fccd0e95fcd7f78989b6744b8f6325f/src/Illuminate/Database/Query/Builder.php#L3076-L3086

There were several similar issu

[2022-09-10 20:45] DarkGhostHunter commented on #44081
Since the same questions appears multiple times, it could be a good idea to push a PR for `countGroupsBy` and `countDistinctBy()`.

[2022-09-11 02:54] inDeev commented on #44076
Aliasing is used there because of Blades - Query count optimization. What you see in my issue report is only part of my query and yes, I know about use of `salaries.salary' in WHERE condition and it is working right when used. But this Issue is not about that. I think, that prequery should implement aliased select as it it part of working query builder, because if not, it means, that it returns wr

[2022-09-11 11:24] jawwadkalia commented on #8434
This functionality was added back then?

[2022-09-11 20:48] AlexWinder commented on #44015
I have since found out that the reason for this is caused by my `TrustProxies` was not updated to accept from certain addresses, such as my reverse proxy address. I have set the protected `$proxies` value to `*` in `app\Http\Middleware\TrustProxies.php` and this has resolved my issue.

[code]

[2022-09-12 03:14] nshiro opened #44094 "Prevent silently discarding attributes feature is not working"
- Laravel Version: 9.29.0
- PHP Version: 8.0.13

### Description:
New feature introduced in Ver.9.28.0 #43893 is not working as expected.

### Steps To Reproduce:
### Case1

AppServiceProvider
[code]

User.php
[code]

web.php
[code]

This echos `ok`.
But this should throw an exception, right?

### Case2
My bad. This is not a bug. This is related https://github.com/laravel/framework/pull/33777.

[2022-09-12 08:07] driesvints commented on #44094
Ping @ralphjsmit

[2022-09-12 08:14] driesvints commented on #44077
Works fine for me for both cached and none-cached routes.

[2022-09-12 08:14] #44077 closed

[2022-09-12 08:18] nshiro commented on #44094
I think `$this->fillableFromArray($attributes)` filters the attributes which are not listed in the 'fillable' property which prevents from working correctly.

https://github.com/ralphjsmit/framework/blob/847064365a71d896f73387a022fd99536137155f/src/Illuminate/Database/Eloquent/Model.php#L444

[2022-09-12 08:28] driesvints commented on #44073
First of all, there isn't a vulnerability. Second, please don't post security vulnerabilities publicly and read our policy: https://github.com/laravel/framework/blob/9.x/.github/SECURITY.md

[2022-09-12 08:29] driesvints commented on #44081
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-12 08:29] #44081 closed

[2022-09-12 08:34] hilnius commented on #12263
thanks @simonbuehler for the script. For any other person coming there with the same issue, if you use the `views:cache` build commmand in a build that is not run on the server, you will also have the problem that the views won't have the right filenames. Indeed, laravel seems to generate the filename from the `sha1` of the **full path** of the file, so I wrote a script that renames views so after

[2022-09-12 08:38] #44076 closed

[2022-09-12 08:45] #44082 closed

[2022-09-12 09:42] TheRealMkadmi commented on #44082
This is not a support question or a question on how to use the framework.
This is clearly an issue within the a core part of the framework that could be addressed with a patch. Hereby needs an issue on the bug tracker.

[2022-09-12 17:38] acgtwentyone opened #44102 "Blade can't convert big amount of html to plain text when using - {!! !!}"
- Laravel Version: 9.0
- PHP Version: 8.1
- Database Driver & Version:mysql

### Description:

When the content is too big, it does not display.

Content:

[code]

### Steps To Reproduce:

[2022-09-12 19:59] ralphjsmit commented on #44094
Was afk today, will check this tomorrow!

[2022-09-12 23:12] rodrigopedra commented on #44102
Works fine, maybe you have a CSS rule hiding it. Check the source code (ctrl+u on most browsers) or your developer tools inspector.

Tested with a fresh laravel install, changing:

`./routes/web.php` to:

[code]

and `./resources/views/welcome.blade.php` to:

[code]

[2022-09-13 01:33] nshiro commented on #44094
One thing I noticed.
I didn't know about this feature #33777.
So `Case2` described above is not a bug at all.
I was mistaken. 👎

[2022-09-13 02:20] prattcmp commented on #36070
Isn't Papertrail UDP sent as plaintext and therefore insecure without TLS? Surprised this has been closed for so long... unless I'm missing something.

[2022-09-13 07:02] driesvints commented on #44094
This got fixed

[2022-09-13 07:02] #44094 closed

[2022-09-13 09:45] ehamrin opened #44111 "Batch job with a chained job that fails does not trigger a finally call with allowFailures-option"
- Laravel Version: 9.29.0

### Description:

The following should only be considered when `->allowFailures()` is applied, else the batch is cancelled correctly.

If there's a batch containing one or more chains, and one chain fails, the batch will not receive a call to `->finally()` callbacks.
If more than one chain fail, `->catch()` is only called once.

### Steps To Reproduce:

[code]

Will prod

[2022-09-13 10:41] warmwhisky opened #44112 "The @ Error Control Operator is no longer suppressing errors in Blade templates"
- Laravel Version: 9.29.0
- PHP Version: 8.1
- Database Driver & Version: Mysql 8

### Description:
The @ Error Control Operator is no longer suppressing errors in Blade templates

### Steps To Reproduce:
Use the @ sign before a variable. `<input type="hidden" name="user_id" value="{{ @$user->id }}">`
I could change it to `{{ isset($user) ? $user->id : '' }}` but wondered if something had changed

[2022-09-13 14:47] rodrigopedra commented on #44112
Can you share the error? Just tested on a fresh install just changing the `welcome.blade.php` template to:

[code]

and no error was thrown and the output is as expected (an `<input>` tag with empty `value` attribute).

As I didn't pass any variables to the view, it should error by no `$user` variable been defined, right?

Also, as a tip, since PHP 8 you can do this instead:

[code]

which, in my

[2022-09-13 21:43] kmarshgov opened #44120 "Terser insecure use of regular expressions before v4.8.1 and v5.14.2 leads to ReDoS"
- Laravel Version: 9.30.0
- PHP Version: 8.1
- Database Driver & Version: pgsql
- vue: "^3.2.39"

### Description:
Github dependabot generates the following security alert.
The package terser before 4.8.1, from 5.0.0 and before 5.14.2 are vulnerable to Regular Expression Denial of Service (ReDoS) due to insecure usage of regular expressions.

### Steps To Reproduce:
Inside package-lock.json terser

[2022-09-13 21:59] driesvints commented on #44120
Not sure this is Laravel related or anything we can do?

[2022-09-13 21:59] #44120 closed

[2022-09-13 23:03] kmarshgov commented on #44120
I got this notification on a fresh install of Laravel/Vue.

[2022-09-13 23:39] Sebastiangperez commented on #44001
I just achieve this using ln command , i told to the guys from the hosting to do that. and worked.

[2022-09-14 08:07] dododedodonl opened #44123 "Middleware cannot release SendQueuedMailable again"
- Laravel Version: 9.30.0
- PHP Version: 8.1.10
- Database Driver & Version: mariadb 10.3 and 10.9

### Description:
It looks like the `Illuminate\Queue\InteractsWithQueue` trait is missing on `Illuminate\Mail\SendQueuedMailable`, which results in an PHP error when using middleware like https://github.com/laravel/framework/pull/37568

### Steps To Reproduce:
Tested with `QUEUE_CONNECTION` set to `

[2022-09-14 09:33] rodrigopedra commented on #44123
I needed this recently, I extended `Illuminate\Mail\SendQueuedMailable` and added the trait manually.

Then in the mailables I added a custom trait that overrode `newQueuedJob()` to return my local instance.

I also tweaked  how middleware is handled as on the original `newQueuedJob()` it will run middleware defined on the mailable right after instantiating the job, and I wanted middleware to be r

[2022-09-14 11:05] Healyhatman opened #44126 "Able to dispatch empty batches that can only be pruned using --unfinished"
- Laravel Version:
- PHP Version: 8.1.2
- Database Driver & Version: 8.83.23

### Description:

You can dispatch a batch with no jobs - it will sit there forever and you can only prune it using `--unfinished`

### Steps To Reproduce:

`Bus::batch([])->dispatch();`

Then you can try `php artisan queue:prune-batches --hour=-1` and note that doesn't remove it, but --unfinished=-1 does.

Also, I would

[2022-09-14 13:13] #44123 closed

[2022-09-14 19:22] DarkGhostHunter opened #44135 "ULID should be able to be stored as UUID"
- Laravel Version: 9.31 (tentative)
- PHP Version: 8.1.x
- Database Driver & Version: MySQL (all), PostgreSQL (all), MariaDB (all), SQL Server (all).

### Description:

This recent #44074 forces the model to store ULIDs a 26-character strings in the database, which compared to standard UUIDv7, are 63% bigger. [There is an interesting article that talks about both]https://blog.daveallie.com/ulid-pr

[2022-09-14 19:23] almiro75 commented on #27729
I having the exact same problem here! Laravel 9.28 on xampp 8.1.6 -> Win10. Did anyone found a solution?

[2022-09-14 21:53] almiro75 commented on #27729
Found the bug,  in livewire.php configfile, the Assets and App_url was wrong pointed.

[2022-09-15 05:21] driesvints commented on #44135
I'm not sure what you mean. We don't force anything. You have complete control over the database scheme.

[2022-09-15 05:21] #44135 closed

[2022-09-15 05:22] driesvints commented on #44135
You can already override `newUniqueId` to whatever you want.

[2022-09-15 12:33] yehuda-hybiz opened #44143 "hasOne ofMany with json foreign key bug"
- Laravel Version: 9.30.0
- PHP Version: 8.1.9
- Database Driver & Version: mysql 8.0.30

### Description:
The `hasOne()->latestOfMany()` relation fails when the foreign key is a json key.

This works:
[code]

This fails:
[code]

Error message:
[code]

### Steps To Reproduce:
Create a hasOne relation where the foreign key is a json column key.

[2022-09-15 13:15] driesvints commented on #44143
I don't think we support this.

[2022-09-15 13:15] #44143 closed

[2022-09-15 13:49] yehuda-hybiz commented on #44143
Is the fact that this works a happy accident?

[code]

[2022-09-15 20:51] michaelcozzolino opened #44150 "Config facade giving no expectation error during tests"
- Laravel Version: 9.19.0
- PHP Version: 8.1.0

### Description:
I'm trying to test the calls to the `Config` facade but I get the following error:

`Mockery\Exception\BadMethodCallException : Received Mockery_0_Illuminate_Config_Repository::offsetGet(), but no expectations were specified`

### Steps To Reproduce:
`app/Http/Controllers/ConfigController.php`
[code]
`routes/web.php`
[code]

`tests/F

[2022-09-16 05:47] kmizzi opened #44152 "When executing a job within a batch, occasionally we run into an error "There is no active transaction""
- Laravel Version: 9.26.1
- PHP Version: 8.1.0
- Database Driver & Version: MariaDb 10.6.8

### Description:

When executing a job within a batch, we run into an active transaction error triggered on /vendor/laravel/framework/src/Illuminate/Database/Concerns/ManagesTransactions.php:46

The specific line reads:
$this->getPdo()->commit();

It is trying to commit the transaction, but based on what we

[2022-09-16 09:29] paulandroshchuk opened #44157 "QueryBuilder ignores microseconds when processing DateTime arguments"
- Laravel Version: 9.30.1
- PHP Version: 8.1.9
- Database Driver & Version: MySQL 8.0.30

### Description:

I came across this issue when I was writing tests for a "reporting" feature which goal was to count all records between two dates (on a high precision date time column). And I just accidentally noticed that not all records were taken into account so I started digging what could've went wrong

[2022-09-16 09:37] driesvints commented on #44157
This is not needed. It's intended for microseconds not to be saved here.

[2022-09-16 09:37] #44157 closed

[2022-09-16 09:42] siarheipashkevich opened #44159 "Eloquent query builder does not work correct for morph to relation"
- Laravel Version: 9.30.1
- PHP Version: 8.1.9
- Database Driver & Version: MySQL 8.0.29

### Description:

Hi all.

I'm using [Constraining Eager Loads With Relationship Existence](https://laravel.com/docs/9.x/eloquent-relationships#constraining-eager-loads-with-relationship-existence) but getting unexpected result. Please see my code:

In `Comment` model I have morph to relation:
[code]

`Countr

[2022-09-16 09:51] driesvints commented on #44159
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-09-16 09:51] #44159 closed

[2022-09-16 09:52] driesvints commented on #44150
Please see: https://laravel.com/docs/9.x/mocking

<img width="756" alt="Screenshot 2022-09-16 at 11 52 17" src="https://user-images.githubusercontent.com/594614/190612248-2e11959c-51b4-4f21-bfcc-5116cbf12ec0.png">

[2022-09-16 09:52] #44150 closed

[2022-09-16 09:54] paulandroshchuk commented on #44157
@driesvints what's the reason to ignore microseconds here? Just curious..

[2022-09-16 09:56] driesvints commented on #44157
Because it just doesn't works the same across all engines.

[2022-09-16 10:05] driesvints commented on #44126
I'm not sure what the benefit is of pushing empty batches?

[2022-09-16 10:05] #44126 closed

[2022-09-16 10:07] driesvints commented on #44111
Please see Taylor's answer here: https://github.com/laravel/framework/issues/39243

[2022-09-16 10:07] #44111 closed

[2022-09-16 10:10] siarheipashkevich commented on #44159
@driesvints it's obviously a bug, I've described all steps how you can reproduce it and attach link to the documentation where described how it's should work.

[2022-09-16 10:12] driesvints commented on #44159
Please try a support channel first.

[2022-09-16 10:14] siarheipashkevich commented on #44159
https://laravel.io/forum/eloquent-query-builder-does-not-work-correct-for-morph-to-re

[2022-09-16 10:16] driesvints commented on #44152
Please read the docs here to see if they help: https://laravel.com/docs/9.x/queues#jobs-and-database-transactions

[2022-09-16 10:37] wpdeveloper205 commented on #24528
LogicException
You must call one of in() or append() methods before iterating over a Finder.

after upgrade of laravel 8 to 9