[2019-07-16 16:56] archy-bold opened #29190 "Distinct validation rule not working on top-level array"
- Laravel Version: 5.6.39
- PHP Version: 7.1.28
- Database Driver & Version: mariadb 10.4

### Description:

I'm not 100% sure that this is a bug or intended behaviour but I've been validating an array of values as follows:

[code]

Now if I use the `distinct` rule on the '*.id' column it doesn't work. However if I put it into a non-top-level property, it does eg

[code]

I guess the question is,

[2019-07-16 19:03] nm777 opened #29191 "Using Event::fake() appears to cause a memory leak"
- Laravel Version: 5.8.28
- PHP Version: 7.3.3
- Database Driver & Version: Only tested on sqlsrv (5.6.1) and sqlite (3.24.0). Probably others?

### Description:
When chunking results from a model, if `Event::fake()` has been used, memory usage increases with each iteration of the loop.

### Steps To Reproduce:
1. Create a new Laravel 5.8.28 project:
[code]
2. Edit `.env` to use sqlite (for conven

[2019-07-16 19:24] staudenmeir commented on #29190
@driesvints This is still an issue in 5.8.29.

[2019-07-16 20:13] stevebauman commented on #29191
Hmm I'm thinking this is because all events fired during the test are stored into the fake when calling `Event::fake()`:

https://github.com/laravel/framework/blob/24d3207c4693d64dca08b892c609dec2b2d2e21b/src/Illuminate/Support/Testing/Fakes/EventFake.php#L186-L225

The `shouldFakeEvent()` method returns true when the events to listen for is empty - so any event that is fired is stored in memory (

[2019-07-16 20:19] stevebauman commented on #29187
Hmm I'd consider this a bug since the `$items` property is always supposed to contain an array (as defined in the `Collection` class itself).

https://github.com/laravel/framework/blob/24d3207c4693d64dca08b892c609dec2b2d2e21b/src/Illuminate/Support/Collection.php#L44-L49

[2019-07-16 20:33] andregce commented on #26936
@mattwithoos I'm on PHP 7.3.7, Laravel Framework 5.8.29, I think I have the same issue.

Here is the code:

[code]

The error is:

[code]

[2019-07-16 20:50] jicksonjohnson commented on #27717
I experienced the same issue. Solution I found by changing the order of migration files.

Imagine the case of **posts** and **comments**, we probably have to add the "**foreign**" on comments table with reference to **post_id** in posts table. In order to assign this foreign key on comments, posts table has to present first.

On my case, I created migration file for comments first. After I changed

[2019-07-16 21:05] hafezdivandari opened #29194 "Inconsistent behavior of the \Eloquent\Builder::update method"
- Laravel Version: 5.8.29
- PHP Version: 7.3.6
- Database Driver & Version: MySql 8.0

### Description:
The `\Illuminate\Database\Eloquent\Builder::update` method of Eloquent model doesn't protect against mass-assignment and causes Inconsistent behavior.

class | method | mass-assign safe
----- | --------- | ------------------------
`\Eloquent\Builder` | `create` | :heavy_check_mark:
`\Eloquent\Re

[2019-07-16 21:14] jonathandey commented on #23492
I thought I should chime in becuase I have just resolved this for myself.

In my case I had everything already configured correctly as per the solutions above, which really got me scratching my head. It turns out I just didn't have `ext-imagick` installed for my PHP version...

It works now! I hope this can help someone else.

[2019-07-16 21:16] msztorc commented on #19372
Methods ```firstOrCreate``` and ```updateOrCreate``` are totally unusable for real application which allows simultaneous requests. Solve this or rename to _firstOrDuplicate_. 😃

[2019-07-16 21:48] franksteinberg opened #29195 "HasOneThrough get() should return a single Model"
- Laravel Version: 5.8.27
- PHP Version: 7.3.6
- Database Driver & Version: MySQL 5.7.26

### Description:
When calling get() on a HasOneThrough relation, a Collection is returned instead of a Model. The Collection has many, not one, Models in it. It is functionally no different than HasManyThrough, because it returns Many instead of One.

I have three Models: User, Membership, Organization
A User

[2019-07-16 22:01] staudenmeir commented on #29191
Yes, this is not a memory leak.

Eloquent fires a `retrieved` event for every single model and stores the retrieved instance in the event. With `Event::fake()`, these are all stored in `EventFake::$events` and cause the increasing memory usage.

[2019-07-16 22:14] staudenmeir commented on #29195
Returning a collection of results is the purpose of `get()`.

If you want to get a single model, access the relationship [as a property](https://laravel.com/docs/eloquent-relationships#relationship-methods-vs-dynamic-properties) or use `first()`:

[code]

[2019-07-16 22:19] franksteinberg commented on #29195
@staudenmeir's response works for me (OP). Closing Issue.

[2019-07-16 22:19] #29195 closed

[2019-07-16 22:22] staudenmeir commented on #29194
That's the intended behavior.

While methods like `Builder::create()` or `Model::update()` work with model instances, `Builder::update()` is meant for mass updates and executes the `UPDATE` query directly in the database. It's a wrapper around `DB::update()` and adds support for global scopes and timestamps.

[2019-07-16 22:25] derekmd commented on #29191
For non-faker `$this->withoutEvents()`, `withoutJobs()`, etc. having below in tests/TestCase.php will reduce memory use over the full suite run:

[code]

A similar setup could be added to the `Illuminate\Support\Testing\Fakes\*` classes. e.g.,

[code]

But the onus would be on devs to manually call it.

[code]

Unfortunately I found PHP's garbage collection delays triggering `__destruct()` for eve

[2019-07-16 22:34] staudenmeir commented on #29187
Put differently: You aren't using `collect()` correctly. If you provide a single value that shouldn't be converted to an array, you need to wrap it in an array.

[2019-07-16 23:14] nm777 commented on #29191
Thanks, guys. This helps explain it and provides some strategies for coping. I really appreciate your help!

[2019-07-16 23:14] #29191 closed

[2019-07-16 23:31] yueyuzhao commented on #29169
Hi @driesvints , thanks for your advice, but I do think this is a bug.
For example, this is what I had in my `routes/web.php`:
[code]
when I made a HEAD request to this, I should have had `Content-Length: 5` field in the headers.

[2019-07-16 23:40] yueyuzhao commented on #29169
From [this post from stackoverflow](https://stackoverflow.com/a/18925736/1545001)  and [HTTP 1.1 RFC](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.13)

In my opinion there should be a `Content-Length` field with content length in the response headers.

[2019-07-16 23:43] yueyuzhao commented on #29169
And [HTTP RFC sec9.4](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4)

[2019-07-16 23:55] eduardodallmann commented on #19372
Same problem

[2019-07-17 00:35] bhuvidya commented on #19372
I must admit I'm kinda stunned this hasn't been fixed natively in the Eloquent codebase. I've reverted to using a trait on my model classes that that wraps a "create advisory lock" mysql call around updateOrCreate() and firstOrCreate() - but it's a hack and will only work for MySQL.

[2019-07-17 00:39] bhuvidya commented on #19372
At the very least the docs should be explicit that these methods are not implemented using native database SQL queries, and are therefore not "transaction safe".

[2019-07-17 07:08] Tegos commented on #29187
@staudenmeir why are you so sure?
https://github.com/laravel/framework/blob/24d3207c4693d64dca08b892c609dec2b2d2e21b/src/Illuminate/Support/helpers.php#L462-L473
param  **mixed**  $value

https://github.com/laravel/framework/blob/24d3207c4693d64dca08b892c609dec2b2d2e21b/src/Illuminate/Support/Collection.php#L62-L71
param  **mixed**  $items

https://github.com/laravel/framework/blob/24d3207c4693d64

[2019-07-17 07:28] rennokki opened #29197 "Laravel does not evenly distribute the queries on SQL Master & Read Replicas in Jobs"
There is an issue i opened on Horizon board but it seems like it's more related to Laravel rather than Horizon itself.

The issue is described well here: https://github.com/laravel/horizon/issues/629

The thing is that in jobs, the read/write hosts are not balanced nor randomized thus adding pressure on only one database while the other one stays intact without any kind of traffic.

[2019-07-17 09:34] zh761324952 opened #29198 "模型更新绑定参数支持"
需求：
`php
$query = Content::whereIn('id', (array)$id);

$keyword = var_export($keyword, true);
$toKeyword = var_export($toKeyword, true);

$query->update([
    'content' => DB::raw('replace(`content`, ' . $keyword . ', ' . $toKeyword . ')'),
]);
`
绑定参数支持
`
$query = Content::whereIn('id', (array)$id);

$bindings = [
    ':keyword' => $keyword,
    ':to_keyword' => $toKeyword,
];

$query->update([

[2019-07-17 10:00] duq commented on #19372
Is it possible to have different fixes for different database engines with the same outcome?

We should at least update the docs with a warning about using firstOrCreate/updateOrCreate methods:
https://laravel.com/docs/5.8/eloquent#inserting-and-updating-models

[2019-07-17 10:04] hafezdivandari commented on #29194
@staudenmeir Look at the examples above and compare them 2 by 2, It doesn't seems an intended behavior. I'm using Laravel for many years but I have to think about `update` behavior on every call:

[code]
[code]
[code]

[2019-07-17 10:07] driesvints commented on #29198
I’m very sorry but we can only provide support in English. Please try https://learnku.com/laravel

[2019-07-17 10:07] #29198 closed

[2019-07-17 10:07] aligajani commented on #19372
Let’s tweet to TO

On Wed, Jul 17, 2019 at 11:01 AM Peter Duda <notifications@github.com>
wrote:

--

Ali Gajani
Founder at Mr. Geek
www.mrgeek.me
www.aligajani.com

[2019-07-17 13:04] budhajeewa commented on #29186
This is indeed possible with the current state of the code.

Please see following answer in _Stack Overflow_ from Matei Mihai: https://stackoverflow.com/a/57059279/445438

[2019-07-17 13:45] joskfg commented on #6177
You can do it easily with `bindMethod`

Example:

**AppServiceProvider.php**
[code]

[2019-07-17 14:37] alphametric opened #29201 "Calling truncate() prevents transaction rollback within unit tests"
- Laravel Version: 5.8.29
- PHP Version: 7.3.7
- Database Driver & Version: MySQL 8.0.16

### Description:

If you call `truncate()`, either through the query builder, or via an Eloquent model, then the database records added during a test are not rolled back when using the `RefreshDatabase`.

### Steps To Reproduce:

- Create a test in which you insert a `User` model.
- Call `User::truncate()` af

[2019-07-17 14:57] staudenmeir commented on #29201
On MySQL, data definition language (DDL) statements like `TRUNCATE` cannot be rolled back and automatically commit the transaction: https://dev.mysql.com/doc/refman/8.0/en/cannot-roll-back.html

As a workaround, you can start a new transaction:

[code]

[2019-07-17 15:07] alphametric commented on #29201
Ah, I didn't know that! Thanks for the clarification.

It's not an issue as such since you can simply do something like this:

`User::query() -> delete();`

In any event, if someone searches for this again, they'll find this issue and the explanation.

[2019-07-17 15:07] #29201 closed

[2019-07-17 15:27] Shizzen83 opened #29202 "Route conflict between resourceful routes and a prefix placeholder"
- Laravel Version: 5.8.0
- PHP Version: 7.1.3

### Description:
I'm trying to implement a package based on JSON:API spec. So, I came to use `apiResource` router method. It works wonderfully, except if I wish adding a placeholder prefix to the generated routes (by setting them into a route group). To illustrate, here are some routes:
https://nsa40.casimages.com/img/2019/07/17/190717052259896893.png

[2019-07-17 15:36] staudenmeir commented on #29194
I agree that the behavior of `BelongsTo::update()` is inconsistent with the other relationships. But I think that it shouldn't protect against mass-assignment either.

[2019-07-17 15:51] hafez-bsup commented on #29194
@staudenmeir we have `forceCreate` against `create` and `forceFill` against `fill` we should also have `forceUpdate` against `\Eloquent\Builder::update` too. There should be a way to allow/disallow mass-assignment on `update` like other methods to keep consistency.

[2019-07-17 15:56] hafezdivandari commented on #29194
@staudenmeir we have `forceCreate` against `create` and `forceFill` against `fill` we should also have `forceUpdate` against `\Eloquent\Builder::update` too. There should be a way to allow/disallow mass-assignment on `update` like other methods to keep consistency.

[2019-07-17 16:07] staudenmeir commented on #29187
Sorry, the whole time I thought you were expecting a collection with a single `Carbon` instance. I just saw that you are expecting a collection with a single *serialized* `Carbon` instance (i.e. a string).

Then I agree that this is a bug. `jsonSerialize()` doesn't have to return an array. I'll submit a fix.

[2019-07-17 16:30] RFreij commented on #29202
I'm not able to reproduce your error, with a relatively fresh laravel install:

web.php
[code]

FooController@index
[code]

result:
![image](https://user-images.githubusercontent.com/15109384/61392643-909dee80-a8bf-11e9-84d9-f90de411bef8.png)

Looking at the error, it seems like your application is trying to get `json-api.customers.show` instead of `json-api.customers.index` which should be fetche

[2019-07-17 16:32] jpasosa commented on #27839
same of @antonioftamura i put the unsigned() method to work! if not doesn ´t work for me.
Heres my code that its right:
`        Schema::create('places', function (Blueprint $table) {
            $table->BigIncrements('id');`
other file:
            `// place_id
            $table->BigInteger('place_id')->unsigned();
            $table->foreign('place_id')->references('id')->on('places');`

Thanks

[2019-07-17 16:39] staudenmeir commented on #29194
I know that's not obvious to the user, but the equivalent to `Builder::update()` is `insert()`, not `create()`. `insert()` is also a "raw" method without mass-assignment protection.

[2019-07-17 17:19] antholoko opened #29206 "add new option scheduling time event"
public function threeDaily($first = 1, $second = 13, $third = 15)
    {
        $hours = $first.','.$second.','.$third;

        return $this->spliceIntoPosition(1, 0)
                    ->spliceIntoPosition(2, 0)
                    ->spliceIntoPosition(3, $hours);
    }

[2019-07-17 17:42] Shizzen83 commented on #29202
Finally after 3 days on that, I found out the origin, the exception message misled me.

[code]

The issue came from the URL generation on the `return`, any additional URL placeholder wouldn't be included into the array and by the way led to this message.

With this fix, it works now:
[code]

Sorry about my misunderstanding and thank you anyway about this amazing framework.

[2019-07-17 17:42] #29202 closed

[2019-07-17 18:16] dark9911 commented on #28920
Just got hit with one today.. Guess @koenhoeijmakers was right. Has nothing to do with the amount of workers :(

Sentry says it failed making a request to grab user_settings from MYSQL during a job call.
ErrorException: Warning: Error while sending STMT_PREPARE packet. PID=27771
--

[2019-07-17 18:19] dark9911 commented on #28920
Just got hit with one today :(
@koenhoeijmakers is right. The error has nothing to do with the amount of workers.
Sentry says it failed making a request to grab user_settings from MYSQL during a job call.
ErrorException: Warning: Error while sending STMT_PREPARE packet. PID=27771

[2019-07-17 18:38] hafezdivandari commented on #29194
@staudenmeir I understand your point of view, but what I'm saying is that there should be a difference between `\Eloquent\Builder::update` and `\Query\Builder::update`.
When I'm using `update` method on an Eloquent model, this should always be without mass-assignment protection or always with it. The problem is that it's sometimes is and sometimes isn't. Please take a look at the examples above ag

[2019-07-17 22:31] rickmacgillis opened #29210 "Missing nested relation on `$response->getContent()`"
- Laravel Version: 5.8.28
- PHP Version: 7.3.7
- Database Driver & Version: MariaDB 10.3.11

### Description:
When pulling a nested relationship through Eloquent ORM, the relationship appears just fine. However, when running a unit test to assert its presence, the nested relationship no longer exists when using `$response->getContent()`. (It's present on `$response`, though.)

Here's the code I'm

[2019-07-17 22:38] staudenmeir commented on #29210
Please post the result of:

[code]

[2019-07-17 23:31] rickmacgillis commented on #29210
`dump($response);` will show the result as a `Illuminate\Foundation\Testing\TestResponse`.
`dump($response->getContent());` will yield the JSON string without the nested relationship.
`dump($response->getOriginalContent());` displays the top level model with all of its relationships.

[2019-07-17 23:42] staudenmeir commented on #29210
Please post actual results.

[2019-07-17 23:46] rickmacgillis commented on #29210
@staudenmeir - The results are extremely large, not to mention highly proprietary, so that's not possible.

[2019-07-18 00:00] p5ych0 commented on #10847
frankly speaking it's just a case for improving bindValues method of PostgresConnection class like this
[code]

[2019-07-18 00:25] staudenmeir commented on #29210
We can't help you without actual results or a reproducible example.

Create a minimal Laravel application that demonstrates this issue and upload it GitHub or posts the `dump()` results.

[2019-07-18 03:04] sebestenyb commented on #28920
I'm with @Christophvh on the question about Sentry.

The error itself is pretty normal for long running jobs, but it supposed to be caught by the framework and transformed to a QueryException (which in turn triggers the re-connection to the database), so it should never reach Sentry in its native form.
But it does. (Maybe even before the framework catches and handles it? That would explain why the

[2019-07-18 03:10] dark9911 commented on #28920
@sebestenyb II think we are all using sentry. Sounds like we know where the problem lies now. I guess we should notify sentry next?

[2019-07-18 03:11] drbyte commented on #28920
I do use Sentry. And I don't recall seeing the issue reported in HoneyBadger, which I also use.

[2019-07-18 03:57] eternalBlast commented on #25466
Thanks a lot.

[2019-07-18 04:39] pursehouse commented on #24425
@OzanKurt I dunno.. it often seems like if they didn't think of it, they reject it. super annoying

[2019-07-18 05:23] ManojKiranA commented on #29206
it seems to like you are trying to send PR. but this is only for reporting issues

[2019-07-18 06:34] Tegos commented on #29187
Thank you!

[2019-07-18 07:14] elevatedchris opened #29211 "composer create-project --prefer-dist laravel/laravel smartCinemas Installing laravel/laravel (v5.8.17) - Installing laravel/laravel (v5.8.17): Downloading (connecting...)^CTerminate batch job (Y/N)? y instead 5.8.29"
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2019-07-18 07:31] fridzema commented on #28920
I am using `"sentry/sentry-laravel": "1.1.0",` but at the time of updating all packages is also updated this, and wonder if the cause is in this package version. @sebestenyb Are you also receiving this errors `1.0.0`?

[2019-07-18 08:05] nicktc commented on #15696
Same here, very strange behavior. Isn't there an option to disable retry_after at all?

[2019-07-18 08:39] barryvdh commented on #28388
@donnysim

Thats what I read at first also, but as far as I can tell you can still only try different accounts. You cannot try with the same username (/email) within the locked period.

[2019-07-18 09:14] xuanquynh commented on #29211
Composer loads from cache by default. Just go into your project and run `composer update`, then you will get the latest version.

[2019-07-18 09:50] ppelgrims commented on #28920
Perhaps `parent::report($exception);` should be placed at the beginning of the `report` method, rather than at the end of it? I don't see the error appear in my logs either.

[2019-07-18 10:13] namnguyen2091 opened #29212 "I need to custom data pagination and view path"
I need to custom return data like this and view path but I dont know how to extend service provider, i'm using laravel 5.7:

[code]
instead of default:

[code]

Thanks!

[2019-07-18 10:22] laurencei commented on #29212
Hi there,

Welcome to Laravel and we are glad to have you as part of the community.

Unfortunately this GitHub area is not a support area for general application issues. This is only for issues/bugs with the framework code itself.

I will be closing your ticket here. Instead please try asking your question on one of the many great community support areas that will likely give you a better answer m

[2019-07-18 10:22] #29212 closed

[2019-07-18 10:22] laurencei commented on #29211
Hi there,

Welcome to Laravel and we are glad to have you as part of the community.

Unfortunately this GitHub area is not a support area for general application issues. This is only for issues/bugs with the framework code itself.

I will be closing your ticket here. Instead please try asking your question on one of the many great community support areas that will likely give you a better answer m

[2019-07-18 10:22] #29211 closed

[2019-07-18 11:59] elevatedchris commented on #29211
I am trying to create a new laravel project using composer and i am not getting the latest version which 5.8.29

[2019-07-18 12:03] Bolandish commented on #23911
@ik

@lk77 You just made my day 👍

[2019-07-18 13:02] drbyte commented on #28920
my `composer.json`:
`        "sentry/sentry-laravel": "^1.0",`

and `composer show | grep sentry`:
[code]

[2019-07-18 13:12] mrhili opened #29214 "Look there is a big probleme with windows 10 PHP artisan don't work"
I try to solve it with installing Wamp
and laragon and nothing work

I do the exception with avast and nothing work

[2019-07-18 13:18] #29187 closed

[2019-07-18 13:24] ragingdave opened #29215 "Guarding not working as expected"
- Laravel Version: 5.8.29
- PHP Version: 7.2.18
- Database Driver & Version: N/A

### Description:
When using unguard/reguard, I would expect that functions on each model independently,
but it appears to be working on all models simultaneously. This can be somewhat mitigated in normal application flows, but the problem arose during queue processing which unguarded every model (the reguard wasn't c

[2019-07-18 13:30] driesvints commented on #29188
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-07-18 13:30] #29188 closed

[2019-07-18 13:31] driesvints commented on #29182
Please see the explanation by @staudenmeir.

[2019-07-18 13:31] #29182 closed

[2019-07-18 13:32] wdevmaster commented on #25223
I have the same problem executing a test with dusk and even though I have **RefreshDatabase** implemented in the test I continue with the problem ... could someone help me?

Here is the code of the test:
**CartTest.php**
[code]
**Pages\ProductShowPage.php**
[code]

[2019-07-18 13:36] driesvints commented on #29185
Is this also a problem in the latest release?

[2019-07-18 13:39] ragingdave commented on #29029
There is also still likely this issue, https://github.com/laravel/framework/pull/24313 which was merged but then reverted so it's not actually there, but most of the prefix based functions don't work under phpredis at the moment. I unfortunately haven't had a chance to revisit those issues.

[2019-07-18 13:40] driesvints commented on #29169
@yueyuzhao if this is a bug then please fill out the issue template. Please submit again. Thanks.

[2019-07-18 13:41] driesvints commented on #29197
Please fill out the issue template.

[2019-07-18 13:51] driesvints commented on #29210
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-07-18 13:51] #29210 closed

[2019-07-18 13:54] driesvints commented on #29214
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-07-18 13:54] #29214 closed

[2019-07-18 14:03] rickmacgillis commented on #29210
@driesvints I've already confirmed it's a bug. Did you try repeating the problem using the code I showed you? If you got different results, let me know.

[2019-07-18 14:09] VTumanov opened #29216 "Can`t ignore update_at value when model updated"
[Illuminate\Database\Eloquent\Model:723](https://github.com/laravel/framework/blob/1003c27b73f11472c1ebdb9238b839aefddfb048/src/Illuminate/Database/Eloquent/Model.php#L723) - we have method `performUpdate`, this method call `$this->updateTimestamps()` wich set new values for "updated_at" column.

I want to ignore updating "updated_at", when changed some unimportant columns. For this reason i can r

[2019-07-18 14:14] driesvints commented on #29215
This is the intended way how this works. The global state is set on the parent model class and not on the individual model. If you want this behavior to be different please open an issue on the ideas repo to see if others agree with your idea.

[2019-07-18 14:14] #29215 closed

[2019-07-18 14:16] driesvints commented on #29210
@rickmacgillis you said:

This makes me believe that it's something specific to your use case. Please try a support channel first and then report back.

[2019-07-18 14:17] driesvints commented on #29216
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-07-18 14:17] #29216 closed

[2019-07-18 14:22] rickmacgillis commented on #29210
@driesvints I appreciate your giving me a reason instead of just closing the ticket. Given that `$response->getOriginalContent()` works as a workaround, I'll just call this one case closed for now.

[2019-07-18 14:23] driesvints commented on #29194
I think it's best to continue this discussion in the ideas repo. This is just the way it works atm and any change to it would be a severe breaking change. Please open up an issue on the ideas repo to discuss things further.

[2019-07-18 14:23] #29194 closed

[2019-07-18 14:31] JorgeSivil opened #29218 "Validation: date_format:c says incorrect format for 2019-03-20T15:23:20+05:30 or similar"
The PHP date() man page says that the format 'c' is ISO8601. However, when passing a string like the man says "2004-02-12T15:19:21+00:00", the validation says that the format is incorrect.

I had to replace for 'Y-m-d\TH:i:sP'

[2019-07-18 14:41] driesvints commented on #29218
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-07-18 14:41] #29218 closed

[2019-07-18 14:43] JorgeSivil commented on #29218
Hi @driesvints , it was not a question, it was a report, as the validation fails for standard input.

[2019-07-18 15:00] jewdore opened #29220 "dd can not print object string"
- Laravel Version: 5.8.27
- PHP Version: 7.1
- Database Driver & Version: mysql 5.7

### Description:
can not print object message using `dd` in command

### Steps To Reproduce:
vendor/symfony/var-dumper/Dumper/CliDumper.php:488
vendor/symfony/var-dumper/Dumper/CliDumper.php:494
comment this lines perform ok

[2019-07-18 15:29] rakishii13 opened #29221 "firstOrCreate does not return the id in the Model Instance"
- Laravel Version: 5.8.17
- PHP Version: 7.2.18
- Database Driver & Version: MariaDb

### Description:
When I try to use the method firstOrCreate to create an user, the return for the tap after creating the model is not attaching the id (primary key) to the model like it was before.

### Steps To Reproduce:

`$user = User::firstOrCreate(['email' => $email]);`
`dd($user);`

Just try to use the meth

[2019-07-18 15:35] staudenmeir commented on #29221
This works for me. Please post your `User` model.

[2019-07-18 16:23] ManojKiranA commented on #29221
It's working fine for me too

[2019-07-18 16:25] ManojKiranA commented on #29220
It's not laravel issue dd is actually using VarDumper so you need to create issue in VarDumper repo

[2019-07-18 17:06] colemvn commented on #21193
I'm currently meeting this problem. Did you find a fix?

[2019-07-18 17:34] rakishii13 commented on #29221
Nevermind that, I was extending the wrong type of model, Sorry for the inconvenience.

[2019-07-18 17:34] #29221 closed

[2019-07-18 18:34] LS05 commented on #28852
Hey @TBlindaruk do you think this is doable for a first-time contributor? :)

[2019-07-18 19:21] TBlindaruk commented on #28852
@LS05 , I think yes )

[2019-07-18 19:38] nickpoulos commented on #19594
No need for '=' sign in the option values either, they will get included in $this->option('key'). I would use the following:

`php artisan baidu:push -L 2000`

[2019-07-18 23:27] yueyuzhao opened #29227 "Content-Length field is missing in HEAD response header"
- Laravel Version: 5.8.27
- PHP Version: 7.2.6
- Database Driver & Version: not related

### Description:

According to [Section 14.13 of the HTTP/1.1 Spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4)

And [Section 9.4 of the HTTP/1.1 Spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4)

When users made a GET request, the framework returns the right `Content-Leng

[2019-07-19 00:45] nanophp opened #29228 "JSON collection cannot receive additional data"
[code]

I'm using additional method and passed some data to another resource but I'm getting an undefined index error like, "Undefined index: threshold_percentage"

[code]

[2019-07-19 02:31] staudenmeir commented on #29228
You can't access the additional data because you are passing it to the `CountryBaseBranchCommissionPointResource`'s collection resource, not to the resource itself.

[2019-07-19 04:30] NikunjScc commented on #23559
i m getting error which is

 `C:\Inetpub\vhosts\s45-40-133-144.secureserver.net\EFTAA.NET\nsv\vendor\symfony\translation\Translator.php`

``` Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE)```

this occured when i make my site online how can i solve this plzzz help....

[2019-07-19 04:58] NikunjScc opened #29229 "Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) in Translator.php"
i m getting error which is

........\EFTAA.NET\nsv\vendor\symfony\translation\Translator.php

Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE)

this occured when i make my site online how can i solve this plzzz help....

Thanks!

[2019-07-19 05:16] Remo commented on #15232
Sorry for commenting on such an old issue, but I think I can add some more information. It might be useful as it still applies today. The problem is caused by the sql mode `ONLY_FULL_GROUP_BY`.

The surprising thing is that it only happens with MariaDB, not MySQL. I'm currently running MariaDB 10.2.24 and get the above error, when running this query:

[code]

The same query on MySQL 8.0.2 runs jus

[2019-07-19 05:18] Remo commented on #29229
What PHP version are you using? You might need to upgrade.

[2019-07-19 05:50] kylekatarnls commented on #23559
https://github.com/laravel/framework/issues/23559#issuecomment-413120351

[2019-07-19 07:40] McKean opened #29230 "onOneServer not respected using elastic beanstalk and redis"
- Laravel Version: 5.8.26
- PHP Version: 7.2
- Database Driver & Version: postgresSQL

### Description:

When using onOneServer for cron tasks, the task is executed on all instances when deployed on aws beanstalk. Works fine on localhost.

relevant versions:
[code]
redis version on localhost, using managed redis on AWS (version 3)
[code]

Our setup on AWS:
4 beanstalk environments (web, worker1, w

[2019-07-19 07:59] gopalvirat opened #29231 "`php artisan serve` showing server started but failed and then connects"
- Laravel Version: 5.8.29
- PHP Version: 7.2.20
- Database Driver & Version: mysql  Ver 15.1 Distrib 10.1.38-MariaDB

### Description:
Whenever `php artisan serve` command is run `Laravel development server started: <http://127.0.0.1:8000>` message is shown no matter if the default port is open or closed, either it should show the error message first and then connect to the open port or just conne

[2019-07-19 09:57] driesvints commented on #29218
@JorgeSivil I don't think this is related to Laravel. Please try one of the support channels first.

[2019-07-19 10:02] driesvints commented on #29220
Please create an issue on the symfony repo.

[2019-07-19 10:02] #29220 closed

[2019-07-19 10:06] driesvints commented on #29228
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-07-19 10:06] #29228 closed

[2019-07-19 10:06] driesvints commented on #29229
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-07-19 10:06] #29229 closed

[2019-07-19 10:16] rennokki commented on #29197
- Laravel Version: 5.8.x
- PHP Version: 7.2.x
- Database Driver & Version: Postgres 11.x

### Description:
I moved a workload on AWS and i use RDS for PgSQL and EB to deploy the app. Since RDS allows me to create read replicas, i have created one and i put them in the pool in my `config/database.php`. The app can read/write on master and can only read on read replicas.

[code]

I have ran some wor

[2019-07-19 10:28] driesvints commented on #29231
The problem is that we can't put the info message after we've attempted the serve because then the message isn't even shown:

![Screen Shot 2019-07-19 at 12 27 34](https://user-images.githubusercontent.com/594614/61529044-a24ad780-aa20-11e9-9ac7-8fac14c1b44f.png)

Here's the handle method:

https://github.com/laravel/framework/blob/1003c27b73f11472c1ebdb9238b839aefddfb048/src/Illuminate/Foundation

[2019-07-19 10:33] CharlieEtienne commented on #28920
It may come from Sentry: On a project, I'm using both **Sentry** and **Bugsnag**, but this error only appears in **Sentry**.

NB: It happened both in Sentry 1.0.2 and 1.1.0

[2019-07-19 10:33] gopalvirat commented on #29231
We can use
[code]
code to fix the issue you are saying.

[2019-07-19 10:47] driesvints commented on #29231
@gopalvirat that works! Feel free to send in a PR. Thanks!

[2019-07-19 11:00] gopalvirat commented on #29231
@driesvints on which branch should I sent a pull request?

[2019-07-19 11:06] ejstavares commented on #20549
Hi, I had same installation as yours, add prefix ('') before namespace.

`Route::prefix('')->namespace('Api')->group( function () {
    //
});`

[2019-07-19 11:08] driesvints commented on #29231
This can be sent to 5.8 because I don't see any breaking changes afaik.

[2019-07-19 11:38] hafezdivandari commented on #29194
@driesvints done: laravel/ideas#1725

[2019-07-19 12:42] nesh-Shunmugam commented on #13611
* * * * * php /laravel project folder/artisan schedule:run >> /dev/null 2>&1
check for the path what you have given.

[2019-07-19 13:51] MarGul opened #29237 "The validators validate method should return null on empty request attribute"
Could not make a much better title unfortunately.

The issue that I run in to a lot is that I will have code like this in my controller:
[code]

Meaning that some times the attribute `non_existing_attribute` will be present in the request but sometimes it won't. But because I will use the `$data` variable in further processing, in say for example a ServiceClass I need to do things like this:
[code

[2019-07-19 14:45] swrshah1 commented on #23961
If you aren't connecting through docker and just locally on your machine, e.g, trying to run migrations through your laravel app, then the following works:

1. open mysql in the terminal (just type mysql)
2. Use the following command
     `ALTER USER 'username here'@'localhost' IDENTIFIED WITH mysql_native_password BY 'password here';`
3. Leave the password empty if you don't want a password.
4. U

[2019-07-19 14:47] swrshah1 commented on #27742
open mysql in the terminal (just type mysql)
Use the following command
ALTER USER 'username here'@'localhost' IDENTIFIED WITH mysql_native_password BY 'password here';
Leave the password empty if you don't want a password.
Use this user in your laravel env file for the MYSQL database.

[2019-07-19 14:58] driesvints commented on #29231
Taylor considers this a no-fix so closing this. Sorry.

[2019-07-19 14:58] #29231 closed

[2019-07-19 14:59] driesvints commented on #29237
Heya, thanks for submitting this.

This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

Thanks!

[2019-07-19 14:59] #29237 closed

[2019-07-19 16:04] staudenmeir commented on #29197
I don't see a good solution for this. You'll have to use the `DatabaseMigrations` trait instead and the reset the database manually.

[2019-07-19 16:24] omdmhd commented on #29227
@driesvints  @yueyuzhao
It is the web server which is setting content-length cause Laravel does not set any content length automatically, and also symfony [Response](https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/HttpFoundation/Response.php) class which Laravel extends doesn't too.
so @yueyuzhao, you should check apache for this.

[2019-07-19 17:11] dinoqqq commented on #28992
After a little bit of debugging I found out the following. Not sure how to proceed for a PR, so I would like to discuss candidate solutions here.

When the command is run in the **foreground**, the following statement is produced:
`/usr/bin/php7.3 artisan command:DoSomethingCommand > /laravel-app/storage/logs/schedule-74b308bf8da39f8388b3b239ba18bc7c271b27ce.log 2>&1 ;`

When the command is run in

[2019-07-19 17:52] irfankazi56 opened #29239 "$casts Does not converts back to json on multiple mysql connections"
- Laravel Version: 5.8.29
- PHP Version: 7.2.19
- Database Driver & Version: mysql  Ver 14.14

### Description:
I have two different databases A and B and they both have some common models.
i sync data between those tables.I am using json in one of the field and using casts.

` protected $casts = [
        "details" => "array"
    ];
`

I use multiple connection to sync table data and i use eloque

[2019-07-19 18:13] staudenmeir commented on #29239
This type of queries will be supported in Laravel 5.9: #29146

In the meantime, you need to convert the values to JSON:

[code]

[2019-07-19 18:37] irfankazi56 commented on #29239
When i do this it enters as string not as json.

[2019-07-19 18:45] staudenmeir commented on #29239
Please log the executed query with https://laravel.com/docs/5.8/database#listening-for-query-events or `DB::enableQueryLog()` and `DB::getQueryLog()`.

[2019-07-19 20:08] staudenmeir commented on #29239
Are you executing the query that you posted here or a different one?

[2019-07-19 20:13] irfankazi56 commented on #29239
The same query

[2019-07-19 20:26] staudenmeir commented on #29239
Something must be different. Casts don't affect this type of query, only updates on model instances:

[code]

[2019-07-19 20:44] irfankazi56 commented on #29239
User::find($id)->update(['details' => $difference]); // with cast

Here in 2nd query the $difference is already json as i created that record with using cast.

User::find($id)->update(['details' => $difference]);

[2019-07-19 20:48] staudenmeir commented on #29239
What query doesn't work, what's the result of `dd($difference);` and what's the executed SQL?

[2019-07-19 21:22] irfankazi56 commented on #29239
The main problem i am facing is when i try to create or update cast variable on a different mysql connection it does not convert to json format.
instead it tries to insert an array which i am passing.
even though i use cast for that column.

[2019-07-19 21:34] staudenmeir commented on #29239
As I said, this will be changed in Laravel 5.9.

Until then, you need to differentiate between model updates and query updates:

[code]

[2019-07-19 21:51] yueyuzhao commented on #29227
Hi @omdmhd, thanks for your attention.
In a `HEAD` request, the application won't return the content body, so web servers won't know the exact `Content-Length`, and could't set it for us.
And in the `Symfony\Component\HttpFoundation\Response` class  from line 293 to 300 :
[code]
we know that if `Content-Length` is already in the headers, Symfony would restore the `Content-Length` field after set t

[2019-07-20 00:22] natecorkish opened #29242 "[Bug] Getting an error when using 'except' on routes."
- Laravel Version: 5.8
- PHP Version: 7.3
- Database Driver & Version: n/a

### Description:

When I use middleware with except I get an error:

<img src="https://i.imgur.com/ORGlHcC.png">

Has this feature been deprecated? I can't seem to find any information on it.

### Steps To Reproduce:

Use the following code:

[code]

[2019-07-20 01:45] nanophp commented on #29228
But I checked api documentations $additional variable existing for each other.

[2019-07-20 02:18] Javier1995 commented on #28051
Bro! you neee to add foreign('empresa_id')->references('id')->on('empresas')

[2019-07-20 07:18] halaei opened #29244 "Logout cycles remember token"
- Laravel Version: 5.8 (Irrelevant)
- PHP Version: 7.2 (Irrelevant)
- Database Driver & Version: MySql (Irrelevant)

### Description:
Logging out via `Illuminate\Auth\SessionGuard::logout()` updates the user's remember token to a random string, therefore logs the user out in all other devices as well. I guess it is not the intention of the user to logout from other devices as well when they hit lo

[2019-07-20 12:28] staudenmeir commented on #29242
Has this worked before?

[2019-07-20 13:17] krishnagithub87 commented on #15767
![ing1](https://user-images.githubusercontent.com/51748439/61579127-d3a9cd00-ab1e-11e9-90bd-2a9fec640c56.png)

[2019-07-20 13:50] natecorkish commented on #29242
Yes. Although I'm not sure what version it stopped working on. It still works on 5.8 lumen the last version I remember it working for laravel was maybe 5.5?

[2019-07-20 13:54] staudenmeir commented on #29242
It didn't work for me on Laravel 5.5. I'll try it on Lumen.

[2019-07-20 20:08] paulhenri-l opened #29246 "expectsOutput breaks next test on fail"
- Laravel Version: 5.8.29
- PHP Version: 7.3.7
- Database Driver & Version: No database used

### Description:

When using `expectsOutput` in two consecutive tests if the first one fails the second one will also fail.

### Steps To Reproduce:

Edited: Better steps to reproduce given a few comments later

### What it may be?

After looking a bit in the source code I think I may have an idea of what

[2019-07-20 20:55] kaythinks commented on #27717
Using bigInteger instead of integer solved it for me.

[2019-07-21 00:25] staudenmeir commented on #29242
Are you using the same route code on Lumen?

[2019-07-21 12:12] PrinsFrank commented on #28767
It took me a while, but i made the pullrequest into a package! For anyone stumbling across this pullrequest, the package can be found here:

https://github.com/PrinsFrank/IndentingPersistentBladeCompiler

[2019-07-21 17:01] LS05 commented on #28852
I'm trying to test the RedisManager class.

My plan is to check if the configuration provided to the connector, contains the following values: `scheme`,  `host`, `password`, `port`, `database`. I was thinking to do this by using a mocked connector, getting its configuration (that has been parsed by the RedisManager), and do the necessary assertions in the test method.

The problem is that the meth

[2019-07-21 20:10] TBlindaruk commented on #28852
@driesvints

[2019-07-21 20:11] natecorkish commented on #29242
Yep. Exactly like that.

[2019-07-21 22:33] staudenmeir commented on #29242
Laravel and Lumen don't use the exact same routing code. It looks like not all routes work on both systems.

[2019-07-22 00:22] MrJmpl3 commented on #28403
Fix! https://laravel.com/docs/5.8/eloquent-serialization#date-serialization

[code]

[2019-07-22 03:24] fikrimi23 commented on #18384
We use AWS t2.micro, with some limitation, the connection can only handle 50 at once.

Basically, we make our own migration for each company on its own schema (you get the idea), we iterate through companies and do migrate, but from each iteration, the idle connection counter keep there and not (supposedly) releasing (?), and keep going up until it hit max connection

We use a workaround to close

[2019-07-22 06:31] dasjet opened #29255 "response()->download(...) returns blank page"
- PHP version: `7.2.18`
- Laravel version: `5.8.29`
- OS: `Windows Server 2012 R2`
- Browser: `Chrome 75 (64-bit), Firefox 69`

The return response()->download($pathToFile) returns **blank page** only.

While printing download result:

[code]

[2019-07-22 09:18] dasjet commented on #29255
The issue is too local.

[2019-07-22 09:18] #29255 closed

[2019-07-22 10:36] camry opened #29257 "[laravel 4.2]Carbon 1 is deprecated, see how to migrate to Carbon 2."
- Laravel Version: 4.2.22
- PHP Version: 7.0.33
- Database Driver & Version:

### Description:

`composer update`

Carbon 1 is deprecated, see how to migrate to Carbon 2.

How can I solve it?

### Steps To Reproduce:

[2019-07-22 12:32] victor-lava commented on #16064
I had the same issue, that was because of the Session Domain. I deleted it from the .env file and it works fine now.

[2019-07-22 12:49] themsaid commented on #29246
I honestly don't understand what your problem is, can you please share simple steps to reproduce the issue?

[2019-07-22 13:35] markdza commented on #28920
Happening to our app too. It's happening in a queued job and am using this sentry

[code]

Along with Laravel Framework 5.8.27

No issues in Laravel 5.7.

Anyone know a workaround?

[2019-07-22 13:52] ahinkle commented on #29257
Hey there,

Laravel 4 and Carbon 1 has been unsupported for quite some time. I would suggest upgrading to Laravel 5.* and that will allow you to upgrade to Carbon 2.

If you need help upgrading, please reach out on our community channels:

- [laracasts.com/discuss](https://laracasts.com/discuss)
- [laravel.io/forum](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/mPZNm7A)

[2019-07-22 13:57] ahinkle commented on #29257
Hey there,

Laravel 4 has been unsupported for quite some time. I would suggest upgrading to Laravel 5.* and that will allow you to upgrade to Carbon 2.

If you need help upgrading, please reach out on our community channels:

- [laracasts.com/discuss](https://laracasts.com/discuss)
- [laravel.io/forum](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/mPZNm7A)

[2019-07-22 14:27] emadha opened #29259 "Auth::id() stays after clearing users table"
- Laravel Version: 5.8.*
- PHP Version: 7.3.5
- Database Driver & Version: mysql

### Description:
The Auth::id() keeps the id stored even when I delete the users table.

### Steps To Reproduce:
1 - `dd(Auth::id());` // After being logged in
2 - Delete the logged in user row, or clear the whole table
3 - `dd(Auth::id())` again and it will show the stored value (the delete user's id)

Looks like it

[2019-07-22 14:39] staudenmeir commented on #29259
Please post the relevant parts of your code. Are you logging out the user when deleting them?

[2019-07-22 14:44] emadha commented on #29259
No, i'm simply deleting the user row from the database, so the session stays, but invalid, however the id can still be used in their browser, and that is unsafe without using Auth::check() before.
So in my case doing Eloquent::create(['user_id'=>Auth::id(),...]); will need extra validation because it didn't return null, and my case user_id is and can be nullable.

[2019-07-22 14:57] emadha commented on #29259
Doing a `request()->session()->invalidate()` will clear that value.

[2019-07-22 15:17] staudenmeir commented on #29259
Isn't the route protected by the `auth` middleware? If you protect the route (as you should), `Auth::id()` is never reached when the user no longer exists.

[2019-07-22 15:21] emadha commented on #29259
@staudenmeir as i said, that Eloquent i use can have a user_id of null, so no it's not protected by a middleware, to be clear it's a Reviews model, where the user doesn't have to be registered, and in case the user is register i use user_id column, otherwise i use the email, name, and user_id of null. In my tests it threw user id of 2 which is a user i deleted while testing, and confused me for so

[2019-07-22 15:27] staudenmeir commented on #29259
I see the issue in cases like yours, but I'm not sure if we can change the current behavior. There's probably a reason for it (although it's not tested).

[2019-07-22 15:35] devcircus commented on #29259
This seems like an obvious expected behavior. Plus it seems strange to delete the user table like this or a single user without logging them out

[2019-07-22 15:52] emadha commented on #29259
@staudenmeir Auth::id() should return null if the value is not real, there's nothing special and no changing to behavior there, this right now is malfunctioned behavior.

@devcircus but it's there and happening, the documentation states that Auth::id() returns the id of the authenticated user not the stored and unchecked ID.
I'll try to give you a real world example:
Let's say you have a User 1 wi

[2019-07-22 16:20] meyer59 commented on #28773
Same problem here

[2019-07-22 16:22] meyer59 commented on #18678
Hi guys,
Any solution for this issue ?

[2019-07-22 17:38] henriquerdd commented on #25736
Is this really fixed? I'm using laravel 5.8 and during a http test it happened to me.
I need to do some api calls on my validation (2 to be precise), so i've mocked my api clients:

[code]

The validation logic is as follow:

[code]

The test itself:

[code]

But when i run the tests, phpunit screams:

1) Tests\Feature\SomeTest::testCreationWithValidInput
Mockery\Exception\InvalidCountException: M

[2019-07-22 18:03] paulhenri-l commented on #29246
No problem, it actually took me a while to expose this bug.

### Steps to reproduce

The simplest way to reproduce it is to add this test into a brand new laravel application

[code]

Paste this inside of the `tests/Feature/ExposeBugCommand.php` file.

[code]

[code]

### Explanations

By simply looking at this test you can see that the first test method should fail and the second one pass.

But i

[2019-07-22 19:35] driesvints commented on #29257
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-07-22 19:35] #29257 closed

[2019-07-22 19:54] driesvints commented on #28852
I'm sorry but I don't have any time to look at this myself atm. @mathieutu can you maybe help out with this since you sent in the original PR?

[2019-07-22 19:55] rennokki commented on #29197
For anyone who might have encountered this, here's a short brief.

When two or more hosts are used within a job or a queued class, the first host used gets stuck as long as the queue worker lives. (https://github.com/laravel/horizon/issues/629#issuecomment-512399306)

To fix this, you should never use `DB::reconnect()` because it will bring you a lot of trouble regarding `max_connections`. I did i

[2019-07-22 19:55] #29197 closed

[2019-07-22 20:30] TiagoSilvaPereira commented on #29188
Hi, @driesvints thanks by responding :smile: ... I think the problem is occurring inside the library because I noticed that what is failing is the **exits()** method inside **DatabaseTokenRepository**. It fails only on Test Env.

Can you reconsider re-opening this issue?

Thanks

[2019-07-22 21:11] igunultas opened #29260 "using Redis driver for queue, and problem with notifications."
- Laravel Version: 5.8
- PHP Version: 7.3.6
- Database Driver & Version: MARIADB

### Description:

While using Redis as a queue driver, and trying to send notification to broadcast it just ignores **receivesBroadcastNotificationsOn** on the model that has notifiable trait.

it keeps sending notifications to channel App.User.{userid}
instead of what **receivesBroadcastNotificationsOn** returns

if

[2019-07-22 22:02] iget-master commented on #22125
Very confusing to me how this is an intended behavior... any plans for changing this behavior?

[2019-07-23 06:36] rozbo commented on #29161
Here are two solutions for this.
1. https://github.com/laravel/framework/issues/28161#issuecomment-482568324
but this is so clumsy
2. use mock like this
[code]

[2019-07-23 07:17] LS05 commented on #28852
I can also try to create a PR with the changes for testing :)

[2019-07-23 08:44] GlitterCakes commented on #29153
PAGES
===
id CHAR(36), primary key

TAGS
===
id CHAR(36), primary key

PAGE_TAGS
===
id CHAR(36), primary key
page_id CHAR(36)
tag_id CHAR(36)
[Unique index placed on page_id and tag_id]
[Foreign keys from page_id to pages table and tag_id to tags table]

[2019-07-23 10:05] laurencei commented on #29259
Are you sure? I cant check at the moment - but the first "call" will always hit the database, and every subsequent call (in the one lifecycle) will be cached.

If we hit the database everytime you check the ID it would be very inefficient. If you delete a user, log them out at the same time.

[2019-07-23 10:08] nospoon opened #29269 "BindingResolutionException when binding to an interface"
- Laravel Version: 5.8.29
- PHP Version: 7.3.5
- Database Driver & Version:

### Description:
After upgrading Laravel from 5.8.16 to 5.8.29 it is no longer possible to resolve an interface binding from the container as BindingResolutionException is thrown.

### Steps To Reproduce:
- Create service implementing an interface
- Bind the interface to implementation in the service provider
- Register a

[2019-07-23 10:49] xuanquynh commented on #29269
With your information, it's too hard to detect what exactly happened because it looks normally to me and the others perhaps. You should submit the code to reproduce this behavior.

[2019-07-23 11:11] samuhay commented on #29260
https://laravel.com/docs/5.4/notifications#listening-for-notifications

[2019-07-23 11:22] igunultas commented on #29260
@samuhay

Thanks for your reply BUT

The version im currently on is 5.8 and you are sending me the 5.4 docs, which doesn't resolve my issue since the code works with sqs and sync drivers.

[2019-07-23 11:57] mathieutu commented on #28852
Hi, sorry but I will not investigate on that. I'm not using Redis on my side, and will not have time to do it. However, I'd be glad to review some code.

Please feel free to try @LS05!

[2019-07-23 11:58] paulhenri-l commented on #29246
The issue is now getting fixed in https://github.com/laravel/framework/pull/29267

[2019-07-23 12:12] nospoon commented on #29269
After some more testing this seems to occur when setting `$defer = true` on the service provider and running `artisan clear-compiled`

[2019-07-23 12:13] Shigeki1120 commented on #29269
Can you paste all the related code?

[2019-07-23 12:17] nospoon commented on #29269
[code]

[code]

[code]

[2019-07-23 12:27] Shigeki1120 commented on #29269
it's working fine on my end 🤔

[2019-07-23 12:33] nospoon commented on #29269
Strange, because I can could replicate this on three separate projects, including fresh Laravel install.
@Shigeki1120 did you run `clear-compiled`?

The steps to reproduce for me were the following:

- `$defer` set to` true` on service provider
- `php artisan clear-compiled`
-  run the test command - error
- remove the `$defer` attribute from service provider
- `php artisan clear-compiled`
- run t

[2019-07-23 12:38] Shigeki1120 commented on #29269
sorry that was my mistake have you read this?
https://laravel.com/docs/5.8/providers#deferred-providers

[2019-07-23 12:40] Shigeki1120 commented on #29269
after adding that interface don't forget to run `php artisan clear:compiled`

[2019-07-23 12:40] nospoon commented on #29269
Ah my bad, completely forgot about the `provides ` method!

[2019-07-23 12:41] #29269 closed

[2019-07-23 13:06] oleksiyPetlyuk commented on #28920
Same issue on our app. We are using queued jobs and sentry

[code]

Laravel Framework 5.8.28

[2019-07-23 13:12] emadha commented on #29259
No convinced, so you're telling me that Auth::user(), user(), request()->user() are cached ?

For every request made on the page Auth::user(), and all these functions will fetch the user object from the actual database and are not cached, if you check query logs you'll see `SELECT * FROM users where id ...`.
What's preventing the Auth::id() from returning Auth::user()->id? that will not hit the da

[2019-07-23 13:14] koenhoeijmakers commented on #28920
As replied by `sentry` in the [sentry-laravel issue](https://github.com/getsentry/sentry-laravel/issues/254#issuecomment-512715265)

So yes it's an error, but no the job wont fail (as Laravel will just reconnect).

[2019-07-23 13:16] laurencei commented on #29259
No - I said for the one lifecycle per request.

[2019-07-23 13:18] emadha commented on #29259
@laurencei
I understand, so 2 of Auth::user() will not fetch from database, that is clear. But i guess you didn't understand the issue i'm talking about.

Try to login using one user, `dd(Auth::id());` delete the user manual from database, refresh the page with `dd(Auth::id())` will still there, so `Auth::id()` doesn't really fetch the actual user from database.

[2019-07-23 13:19] staudenmeir commented on #29153
The table schema doesn't help us. We need to see the `BelongsToMany` relationship and the pivot model.

[2019-07-23 13:20] laurencei commented on #29259
Ok - I understand what you are saying. I'll have to check later.

[2019-07-23 13:24] emadha commented on #29259
Just making a guess here i didn't dig into its code yet, that Auth::id(); decrypts the php session and returns the ID stored in there, that makes it inconsistent, renaming it to Session::user_id()... or whatever related to that; will make more sense than Auth::id(); because when the user gets deleted, the Auth::id(); should return the Authenticated User id, Auth refers to Authenticated User, Authe

[2019-07-23 13:28] emadha commented on #29259
The main reason why i didn't just ignore it and lived with the workaround is because just like me i'm quite sure that there are a lot of people out there assigning `user_id` column value from the Auth::id(); value and not from Auth::user()->id, because Auth::id() returns null when the user is not Authenticated while Auth::user()->id will throw error when the user is not authenticated, So Auth::id(

[2019-07-23 13:39] emadha commented on #29259
well, yes

       /**
     * Get the ID for the currently authenticated user.
     *
     * @return int|null
     */
    public function id()
    {
        if ($this->loggedOut) {
            return;
        }

        return $this->user()
                    ? $this->user()->getAuthIdentifier()
                    : $this->session->get($this->getName());
    }

[2019-07-23 13:43] devcircus commented on #29259
dd short-circuits the request which doesn't get to finish properly. How does this workout if you don't use the dd? Which would never be utilized in a production environment.

[2019-07-23 13:44] sfdk74 commented on #9999
I have this problem too but my table "id" is correct and finally, I found that `DB::beginTransaction();` before `try` prevent inserting record to the database.

[2019-07-23 13:54] emadha commented on #29259
@devcircus
I am not discussing production environment.

if you don't like dd in my example you can {{Auth::id();}} and as i mentioned `Post::create(['uid=>Auth::id()]);` will be invalid.

There is an issue with naming here and functionality here. Auth means Auth and not Session.

Rename/Place that id() elsewhere outside Auth instead of just focusing on how weird my issue is, and showing me that i'

[2019-07-23 13:58] emadha commented on #29259
And if Auth::id() gets it's value from session to make it faster, that doesn't make it any faster since all Auth::user() will be requested with every run, once as @laurencei mentioned.

[2019-07-23 14:16] samuhay commented on #29260
I think it is because you have customized the Notification channel using receivesBroadcastNotificationsOn() in User model and you are listening event on App.User.* not on user.*

So just remove receivesBroadcastNotificationsOn() from the User model and check again.

Hope this helps Can you share code ?

[2019-07-23 14:43] igunultas commented on #29260
`notifications.${this.userdata.userid}.${this.userdata.company}`
this is the channel im listening.

`  public function receivesBroadcastNotificationsOn()
    {
        return "notifications.".$this->id.".".$this->company;
    }`

this is the function on user model that uses Notifiable trait.

you are misunderstanding what im saying.

if I have something misconfigured it would not work on sqs or sy

[2019-07-23 15:51] vovchok opened #29271 "The casting for appended attributes (accessors) doesn't work"
- Laravel Version: 5.8.29
- PHP Version: 7.2.18

### Description:
The casting for appended attributes (accessors) at a model doesn't work when trying to get an array or JSON representations.

### Steps To Reproduce:
1. Create a model with appended accessors and casting declaration.
[code]
2. Create an instance of a model and call `toArray` or `toJson` methods:
[code]
### Expected results:
[code]

[2019-07-23 16:03] emadha commented on #29259
## Another Real world example

_Don't mind the code as i'm imagining a scenario and writing the code here_

Let's say you record page views per user, and as a table row for example table `viewed_by` which stores if a certain page was viewed by a certain user, and the user can be null, in that case it will add a row which can be used to count the views including non registered users, and with valid

[2019-07-23 16:18] devcircus commented on #29259
There's endless examples you could come up with that would cause problems if you try to get from an "authenticated state" to "not authenticated" without logging the user out. Dropping a user table or removing a row from the user table, on its own, is not and should never be a valid way to log out a user and remove all user session state.

[2019-07-23 16:52] staudenmeir commented on #29271
This is the intended behavior, an accessor (`get[...]Attribute()`) always takes precedence:
- When a "normal" attribute has a cast and an accessor, only the accessor is used.
- Additional attributes like yours always have an accessor, so a cast is never used.

You'll need to return the desired value from the accessor. For JSON responses, consider [API resources](https://laravel.com/docs/eloquent-r

[2019-07-24 04:11] rajeshisnepali commented on #23212
If it's related to cookies then, you should do this below.
https://i.imgur.com/z69i7Vb.png

[2019-07-24 04:59] rummanhasnayeen commented on #27444
You can check API of the request instance following this thread:
https://stackoverflow.com/questions/55016717/getting-current-uri-in-laravel-5-7

[2019-07-24 07:19] curunoir commented on #28040
I also think it is a framework issue. I have a project which needs to check in database if some jobs need to be scheduled or not.

Running composer install make the default post-autoload command artisan package:discover to crash. Why is the Kernel schedule() method called for something else than scheduling ? That don't make really sense.

[2019-07-24 07:31] cerw commented on #22560
This is still not working but Nova wants you to cast to date, but then in getter, it outputs timestamp. (not working in input type=date)

[2019-07-24 09:52] gozur opened #29277 "Laraval Pipeline then(Closure)/thenReturn() returns null"

[2019-07-24 10:28] emadha commented on #29259
@devcircus obviously you don't want and refuse to look at what I'm talking about, i'd appreciate if you stop replying.

[2019-07-24 10:51] KiddoLin opened #29278 "How to return null with Illuminate\Http\Resources\Json\JsonResource?"
I want to return null if model has some invalid conditions, but it is always return [].For example,
`$productTemplate['gift'] = new GiftTemplate($gift);`
[code]
so,how to reurn null with JsonResource? Thanks for your answer.

[2019-07-24 11:03] laurencei commented on #29278
Hi there,

Welcome to Laravel and we are glad to have you as part of the community.

Unfortunately this GitHub area is not a support area for general application issues. This is only for issues/bugs with the framework code itself.

I will be closing your ticket here. Instead please try asking your question on one of the many great community support areas that will likely give you a better answer m

[2019-07-24 11:03] #29278 closed

[2019-07-24 11:31] askolt commented on #25804
@yopop666 , very nice. Work for Laravel 5.5

[2019-07-24 12:22] yaBliznyk commented on #27049
Maybe we need to use just this code

[code]
this code not working for now if we pass $data = [];

[2019-07-24 13:18] gozur commented on #29277
Same result in Laravel 5.7.28

[2019-07-24 13:26] #29277 closed

[2019-07-24 13:52] devbazilio commented on #28040
@curunoir

you are correct. I added a quick-and-dirty hack to make things work properly as there are no sense to submit PR to commercial software

[code]

[2019-07-24 16:16] FoxxMD commented on #16783
Also experiencing this issue. @mfn 's suggestio above to use `gc_collect_cycles()` works well!

I have another workaround that is helpful for anyone using `supervisord` with long-running workers: the [superlance](https://superlance.readthedocs.io/en/latest/) plugin for supervisord can monitor memory usage for each program it runs using [`memmon`](https://superlance.readthedocs.io/en/latest/memmon.

[2019-07-24 17:15] helderferrari2 commented on #27850
This works for me, thanks;

[2019-07-24 20:31] trip-somers opened #29280 "MailFake Testing: raw() method can not be asserted."
- Laravel Version: 5.8.27
- PHP Version: 7.2.19
- Database Driver & Version: PostgreSQL 11+

### Description:

I don't know if this is technically a bug, but it's at least something that's not completely implemented.

I am using `Mail::raw()` to send a message. My test for the method that calls it uses `Mail::fake()` to prevent actual message sending, but there are no assertions available for test

[2019-07-24 21:04] elielhaouzi opened #29281 "Eager Loading Specific Columns in @json blade directive"
- Laravel Version: 5.8.16
- PHP Version: 7.3.5
- Database Driver & Version: mysql  Ver 14.14 Distrib 5.7.26

### Description:
when redering an Eager loading specific column in a @json blade directive even without space between name of columns it thrown an exception
`@json(App\Book::with('author:id,name')->get())`
`Column not found: 1054 Unknown column ' name' in 'field list'`

The bug is due to th

[2019-07-24 21:35] staudenmeir commented on #29281
Please see #28622.

You'll need to execute the query in your controller and pass it to the view.

[2019-07-24 22:23] elielhaouzi commented on #29281
Thank you for your response.

I just send a PR that can fix the bug

https://github.com/laravel/framework/pull/29282

[2019-07-25 04:35] mfn commented on #29259
What is your proposal for a fix?

[2019-07-25 05:36] codigowww opened #29288 "Segmentation fault when model save"
- Laravel Version: 5.8
- PHP Version: 7.1 and 7.2
- Database Driver & Version: MYSQL
10.0.38-MariaDB-0+deb8u1 - (Debian)

### Description:

I have this issue when running laravel queue:work on console.
In my code this error appears when one model is saved
I tested with laravel 5.6,5.7 ,5.8 and PHP 7.1,7.2 ,7.3

The segmentation fault call in php_iconv_string()

I am very lost with this error, the

[2019-07-25 05:54] mpyw commented on #29259
@emadha I strongly agree with your proposal.

[code]

This seems to be the correct implementation.

[2019-07-25 08:21] rikless commented on #18384
Same issue there. Quick & dirty workaround :
[code]

[2019-07-25 08:53] Usielgoncalvesweb opened #29291 "Cant install laravel on my composer"
While i try to install laravel on my composer it gives me this error:
[Composer\Exception\NoSslException]

 The openssl extension is required for SSL/TLS protection but is not available. If you can not enable the openssl ex
  tension, you can disable this error, at your own risk, by setting the 'disable-tls' option to true.

require [--dev] [--prefer-source] [--prefer-dist] [--no-progress] [--no-s

[2019-07-25 09:01] xuanquynh commented on #29291
Your computer is missing php-openssl extension.

[2019-07-25 09:01] emadha commented on #29259
The only place i found reference to Auth::id() was in:

https://github.com/laravel/framework/blob/73da739fb5783208e582a7d8af6712b73a75d748/src/Illuminate/Foundation/Exceptions/Handler.php#L154-L157

So i don't think it's a big issue to fix that, and i don't see a good reason to use the value from Session for this, and specifically in this method.

https://github.com/laravel/framework/blob/73da739f

[2019-07-25 11:05] mfn commented on #29288
I don't see a Laravel related problem here. Laravel does not use `php_iconv_string` so it must be a problem on your system.

[2019-07-25 12:29] #29281 closed

[2019-07-25 13:07] paulhenri-l commented on #29246
Resolved in #29267 closing.

[2019-07-25 13:07] #29246 closed

[2019-07-25 14:56] brnmonteiro opened #29296 "Weird behavior of route helper with port"
- Laravel Version: 5.8.27
- PHP Version: 7.1
- Database Driver & Version: MySQL

### Description and Steps To Reproduce:
I'm using browser sync (port 3000), and im getting weird behaviour with route helper in controller:
[code]

1. With the `dump()` before:
All the 3 functions show the **correct** url (with the port):
![Screen 2019-07-25 às 11 50 50](https://user-images.githubusercontent.com/65965

[2019-07-25 15:03] staudenmeir commented on #29296
What does `return $a;` give you?

[2019-07-25 15:08] brnmonteiro commented on #29296
The same weird behaviour.
With the `dump()`: **//comercebox.test:3000/clientes**
Without the `dump()`: **http://comercebox.test/clientes**

[2019-07-25 15:22] staudenmeir commented on #29296
Can you reproduce this on a fresh Laravel installation?

[2019-07-25 15:53] brnmonteiro commented on #29296
Yes.

With `art serve`, show the same url (the correct one with the port).
But when you use a proxy (like a browser sync with valet), that behaviour show up..

Ok, maybe is because the proxy, but why is happen this? Just a `dump` function, change the value of the route.

[2019-07-25 16:05] josecelano commented on #26936
I am getting this error with:

[code]
[code]

[2019-07-25 18:01] aimeos opened #29297 "Optional named parameters in routes produces wrong result"
- Laravel Version: 5.8 and before
See https://github.com/laravel/framework/issues/7881 and https://github.com/laravel/framework/pull/7892

@taylorotwell Is this going to be fixed in Laravel 6.0? The original patch was rejected because there's no backward compatible solution

[2019-07-25 18:05] feisalramar commented on #27717
This usually happen because of the type mismatch for the correct match of the data type will solve the problem..... bigIncrements = unsignedBigInteger and increments = unsignedInteger. this means that when primary key is bigIncrements then use unsignedBigInteger for foreign key.

[2019-07-25 18:28] michaelnguyen547 opened #29298 "job is not dispatching"
- Laravel Version: 5.8.28
- PHP Version: 7.2
- Queue Driver: Redis + Laravel Horizon
- Redis Client: PhpRedis 4.3
- Redis Server: RedisLabs -> Redis Version Compliance 5.0.4

### Description:
Roughly 10,000 jobs are queued and processed per hour. I notice that some jobs are not dispatched. I assume that a lot more jobs are not dispatched but these particular jobs are important so I put logging int

[2019-07-25 18:59] emadha commented on #29296
- What's the serve command you used?

[2019-07-25 19:56] iBotPeaches commented on #27386
Duplicated this, so glad after googling someone else had ran into this. In our instance, we developed a trait to convert base64 image strings into an actual image. Was a hacky fix to prevent breaking validation for old/new clients.

So after we did the conversion, we would shove that new image into the files array using.

[code]

Not helpful without full context, but `$fileArray` is just a bunch o

[2019-07-25 20:34] mfn commented on #29298
Use the Job Events https://laravel.com/docs/5.8/queues#job-events to perform a detailed tracking; there two more which are not in the docs and might be useful:
- `::exceptionOccurred`
- `::failing`

[2019-07-25 20:57] ldavidsp opened #29300 "laravel back() no redirect preview page, redirecting to /"
laravel back() no redirect preview page, redirecting to page /

[2019-07-25 21:35] mastacheata opened #29301 "URL Validator doesn't follow the structure of all schemes it allows"
- Laravel Version: 5.8.29

### Description:
#### Problem 1: The URL Validation is too generic and yet too limited
The `url` validation rule in Laravel allows a total of 217 different URI schemes, but applies the same generic pattern to all of them without making any differences.

As an example have a look at some of the 8 examples given in the URI Generic Syntax RFC 3986 (especially those not foll

[2019-07-25 22:21] Mindexperiment opened #29302 "UrlGenerator error during installation"
- Laravel Version: 5.8.29
- PHP Version: 7.2.19
- Database Driver & Version: mysql

### Description:
While installing a fresh new version on my testing environment "composer install" ends with a UrlGenerator error message. Any attempt to call cli commads ends with a UrlGenerator error message.

![laravel](https://user-images.githubusercontent.com/42065357/61912298-02b6a900-af3a-11e9-8f01-f0cee165b

[2019-07-25 23:28] ash-jc-allen commented on #29302
What's in your composer.json file? The package.json file relates to your JavaScript side of things. The composer.json file will have the info about your PHP dependencies? :)

[2019-07-26 05:27] gurrrung commented on #29300
Can you help me replicate this error in my machine?

[2019-07-26 06:07] #29288 closed

[2019-07-26 06:38] vfa-quangnx commented on #24276
I also meet the same problem, I'm in stuck and can't find the solution. This is strange and very bad things for me because of the closest deadline. Anybody can help me please.

[2019-07-26 06:47] Pashkinz92 commented on #24276
Hi! What laravel version do you use?

[2019-07-26 06:52] sisve commented on #29302
It sounds like a service provider is trying to generate urls outside of a request context. Check your application logs for the full stacktrace to find out what is causing the problem

[2019-07-26 08:35] Mindexperiment commented on #29302
@ash-jc-allen I'm sorry I post the wrong file (I was going to sleep) I updated the post.

I try with another small project and again, after updating to laravel 5.8.29, composer ends with the same UrlGenerator error

[2019-07-26 08:47] Mindexperiment commented on #29302
@sisve I found that i have a call to and asset() with a relative path inside a config file.

[2019-07-26 08:54] vfa-quangnx commented on #24276
Hi, I use Laravel 5.5.45
Kindly help me solve this.

[2019-07-26 08:54] arbabi2010 commented on #24276
I change my validate message file and i work fine right now

[2019-07-26 09:30] ash-jc-allen commented on #29302
I've just had a quick test on my local machine and this seems to work:
- Remove the secure_asset() function from your config, but leave the path there.
- In your AppServiceProvider you can then call secure_asset(config('meta.logo')). You can then assign it a variable or whatever it is you were going to do with it.

Sorry for bad formatting and no markdown, I'm on my phone so it's a bit difficult.

[2019-07-26 09:49] Mindexperiment commented on #29302
@ash-jc-allen thank you for your help, well I can call the asset() inside the metadata view.

[code]

I definetly need a vacation. This issue can be closed. Thank you

[2019-07-26 09:58] Shkeats commented on #29230
A couple of things to consider:
1.) Are all the environments definitely connected to the same redis instance and cache db number?
2.) Are the clocks synchronized across all of the environments? It might be that withoutOverlapping(5) is locking for long enough (5 minutes) to cover clock drift.

[2019-07-26 10:01] Pashkinz92 commented on #24276
Maybe you will write to me an email?

[2019-07-26 12:34] #29291 closed

[2019-07-26 12:34] #29302 closed

[2019-07-27 01:37] sevillaarvin commented on #28210
Hey thank you so much for this. This was driving me insane. I was wondering why using laradock's built-in laravel-echo-server, I was able to join channels but couldn't get to execute the listen callback function of Echo in my JavaScript code. I noticed in the logs that on connecting to the channel, the output `joined channel: xyz` was different from `Channel: MyAppName_database_xyz` which led me h

[2019-07-27 07:43] vishalinfyom opened #29307 "Apply just one middleware into test cases"
I have one API in which 3 middlewares are applying,

now I just want to apply only one middleware, and remains 2 should not apply, so is there any method for it ??

If yes then please suggest.

If not then I think it should be.

[2019-07-27 11:04] rauschmerscen commented on #16151
Soultion to Common Problems faced by many users while setting up Laravel Echo
https://gist.github.com/rauschmerscen/2f2265976d59267f3bfccb339b27be44

[2019-07-27 11:09] rauschmerscen commented on #23353
I have a custom guard 'acclaim', two places where custom guards should be  mentioned while broadcasting is in the BroadcastServiceProvider:

        Broadcast::routes(['middleware' => ['auth:acclaim']]);

and in routes/channels.php as the third parameter
Broadcast::channel(channel_name.{id}, function ($user, $id) { ... }, ['guards' => ['acclaim']]);

Soultion to Common Problems faced by many users

[2019-07-27 12:13] staudenmeir commented on #29307
You can disable middlewares for a test:

[code]

[2019-07-27 14:46] nasirkhan opened #29308 "Date validation passing for grater year value than 9999"
- Laravel Version: v5.8.24
- PHP Version: 7.3.6
- Database Driver & Version: MySQL 8.0.16

### Description:
I am using Laravel 5.8 and trying to validate a `date` field. The name of the field is `date_of_birth` and the validation is like the following,

[code]
I was using only `date` rule but when it failed to validate i was trying with `date|before:today`.

Both of the date rules are failing to f

[2019-07-27 16:35] bonzai commented on #29308
#28138

[2019-07-27 16:48] nasirkhan commented on #28138
What is the reason of closing the bug without taking any step to fix it? I disagree with @laurencei on the note what is being used under the hood. It is not mandatory to use that php function to validate date.

I found the issue on the log while MySQL rejected the value. @driesvints can you please let me know if there is any solution of this issue or are you suggesting to stop using the `date` rul

[2019-07-27 18:12] ldavidsp commented on #29300
I have a route
`Route::get('/test/{id}/edit', 'TestController@test');`

TestController
`
   function test($id, Request $request) {
       $validator = Validator::make($request->all(), [
           'fieldname' => 'required',
       ]);

      if ($validator->fails()) {
          return back();
      }
     TestModel::update($request->all());
      return redirect('/test');
  }
`
No redirect

[2019-07-27 18:22] ldavidsp commented on #29300
I have a route
`Route::post('/test/{id}/edit', 'TestController@test');`

TestController

[code]

[2019-07-27 20:36] florentpoujol commented on #29244
It must be an intended behaviour because the `SessionGuard` hasn't changed much these past years,  and it is actually tested in `\Illuminate\Tests\Integration\Auth\AuthenticationTest::test_logging_in_out_via_attempt_remembering()`

[code]

**But I definitely agree with you that login out (or in) shouldn't cycle the remember token.**

---

The method `\Illuminate\Auth\EloquentUserProvider::retrieve

[2019-07-28 01:01] gurrrung commented on #29300
This works fine form me in my pc. Double-check your env as the documentation says `Since this feature utilizes the session, make sure the route calling the back function is using the web middleware group or has all of the session middleware applied`

[2019-07-28 05:59] laurencei commented on #28138
@nasirkhan

Please feel free to submit a PR that you believe will solve the issue if you have an option. But the point is that the date validation is what PHP itself supports - so is it a bug in PHP?

[2019-07-28 11:19] tuanpht opened #29311 "[API Resource] Document conflict between Resource Collection and additional meta data"
In the section [Resource Collections](https://laravel.com/docs/master/eloquent-resources#resource-collections), we have a note:

But  we can add meta data by using `additional()` method as described in section **Adding Meta Data When Constructing Resources**:
[code]

Do you think we need to update document about this case?

[2019-07-28 13:23] staudenmeir commented on #29311
You're right. The note was originally correct, the `additional()` method was only added later on.

[2019-07-28 15:54] tuanpht commented on #29311
I think we could only remove that note.

[2019-07-28 16:08] staudenmeir commented on #29311
Can you submit a PR to https://github.com/laravel/docs?

[2019-07-28 19:08] devscript-abdo opened #29315 "old logo is the best"
old logo is the best

[2019-07-28 20:03] asivaneswaran opened #29316 "Mailable Notifications"
- Laravel Version: 5.8.29
- PHP Version: 7.3.0
- Database Driver & Version: Mysql

### Description:
Hey guys,

I am trying to use an Mailable object in the toMail method of Notifications. But, the `to` method is not resolved automatically. So the issue I am having at the moment is that when I am sending an Anonymous notification, it isn't resolved.

Here is what I mean:

[code]

And this is what I

[2019-07-29 02:58] dimer22zhc commented on #16107
u can just do
``` protected $casts = ['json']; ``` in your modal

[2019-07-29 06:35] bhuvidya commented on #2494
FWIW I'm getting this error with MySQL 5.7.*, and Laravel 5.8. An example query that generates it is:

[code]

where the relevant fields of the models are:

[code]

The query I end up with from the query builder is:

[code]

When I run this query directly in phpMyAdmin, I also get a syntax error. The problem is the brackets around the first query of the union. Take those away and MySQL is happy. T

[2019-07-29 07:02] McKean commented on #29230
@driesvints adjusted to fit template

@Shkeats
1. yeah,  proof of that is that when using `withoutOverlapping` there are no duplicate executions.
2. based on what onOneServer does meaning using the hash of job name + dispatch time (cron) as a cache key this should not matter... the first server will add the key to redis, the second won't be able to add the same cache key. Additionally we use elast

[2019-07-29 07:46] vishalinfyom commented on #29307
@staudenmeir thanks for this, here is my code, i am already using this aaproach,

[code]

My problem is, i have to do it every time, skip 5 middeware and apply just once,

so what i exactly want is, is there any method that will take given middleware and ignore others automatically.

e.g in my test i want to apply just one middleware `SubstituteBinding`, and ignore all others.

e.g

[`$this->apply

[2019-07-29 07:55] vfsoraki opened #29319 "Default contextual information for logs"
Can we have a default contextual data attached to all logs?

Reading `LogManager`, it is not implemented yet, but it seems rather easy.

Use cases are easy to think of, like having ID of user in logs, or have something added to context in console commands that are scheduled to know which log lines are related.

We can implement it in two ways (or both). Having a `Log::defaultContext($context)` to

[2019-07-29 08:57] ddzobov opened #29320 "Getting belongsTo related model through polymorphic relation"
I have 4 models:

[code]

I want to get source->system and target->system objects from connection object for filtering and eager loading.

Now i'm doing it by filling source_system_id and target_system_id while saving connection object, but i think that it is very bad way.

[2019-07-29 09:07] lk77 opened #29321 "[5.8] Custom pivot class causes updated_at not to be updated"
- Laravel Version: 5.8.29
- PHP Version: 7.2.19
- Database Driver & Version: mysql 5.7

### Description:

Hello,

we have an issue when using a custom pivot class, with an additional pivot attribute. The `updated_at` field is not updated, while the value of the additional field is updated, when using `sync()` method on the belongsToMany relation. We tried to add `$timestamps = true` to the custom

[2019-07-29 10:06] HenkPoley opened #29322 "[5.8] Please document DB:affectingStatement() for queries where you want to know affected row count"
Edit: this ticket is now just about the last line.

- Laravel Version: 5.8.29
- PHP Version: 7.2.19
- Database Driver & Version: MariaDB 5.5.60 ; pdo ; illuminate/database 5.8.29

### Description:
SQL 'insert into' statements can insert a variable amount of tuples based on a SELECT subquery. Currently you only get an 'okay' / 'fail' that the query executed successfully. Which might mean that nothi

[2019-07-29 11:20] staudenmeir commented on #29307
I don't think that's possible.

[2019-07-29 11:57] staudenmeir commented on #29321
This was caused by #27571. /cc @ralphschindler

[2019-07-29 12:03] staudenmeir commented on #2494
@bhuvidya We can't fix that. Some `UNION` queries require these parentheses.

[2019-07-29 12:04] ronssij opened #29323 "Custom Validation"
- Laravel Version: 5.8
- PHP Version: 7.2.20
- Database Driver & Version: Mysql 5.7.19

### Description:

I created a Custome validation with these rules:

[code]

On the Rest Client, It is working. but when I used it on Axios (NuxtJs) the validation does not apply.

[code]

### Steps To Reproduce:

I had changed the rules with this.

[code]

Why do I need to make all the value to be an empty stri

[2019-07-29 12:21] juampi92 commented on #27105
I encountered something similar, and debugging, I found out that the `password_hash` remained on the session after logout.

To fix this, I manually remove the `password_hash` on logout.
`Session::remove('password_hash');`

It's not super fancy, but it's something

[2019-07-29 12:26] tontonsb opened #29324 "Can't use whereHas if the table name is aliased"
- Laravel Version: 5.8.29
- PHP Version: 7.3.7
- Database Driver & Version: MariaDB 10.2.24

### Description:

It seems we are not able to use `whereHas` if we use an alias for the table.

### Steps To Reproduce:

Define whatever relation, for example

[code]

Try using `whereHas` when aliasing the table.

[code]

Receive an error similar to:
[code]

### Workaround

I found a workaround that's qui

[2019-07-29 12:29] staudenmeir commented on #29322
Please use https://github.com/laravel/ideas/issues for proposals.

[2019-07-29 12:41] staudenmeir commented on #29324
I don't think we are going to support queries like this. We probably could find a solution, but it would require quite a few changes.

[2019-07-29 14:32] tw99 commented on #29320
Correct me if I'm wrong, but aren't you able to use define these relationships using the inverse `morphTo` relation? Since both `Servers` & `Ips` abide by the `ConnectionTarget` contract, you can safely eager load the system model.

`Connection` model:

[code]

Usage:
[code]

[2019-07-29 15:51] molerat619 commented on #14733
@thecrypticace  we are doing exactly what you mentioned: we use cross database foreign keys and multiple database transactions. That's causing the issue for us.

Any idea how to work around it? Example:

[code]

`branches()` is a many-to-many relationship to customers and means something like sites, plants or stations.

The reason why we need cross origin foreign keys etc. is that we have some bas

[2019-07-29 17:16] thecrypticace commented on #14733
If you absolutely require having the cross-db foreign keys then the only suggestion I can provide is that you do all work across multiple databases from a single connection & transaction.

[2019-07-29 19:37] div2911 opened #29328 "not able to add data to database"
This repository is only for reporting bugs or issues. If you need support, please use the forums:

- https://laracasts.com/discuss
- https://laravel.io/forum

Alternatively, you may use Slack (https://larachat.co/), Discord (https://discordapp.com/invite/mPZNm7A), or Stack Overflow (http://stackoverflow.com/questions/tagged/laravel).

Thanks!

[2019-07-29 19:38] #29315 closed

[2019-07-29 19:38] div2911 commented on #29328
Illuminate/Database/Eloquent/MassAssignmentException with message 'Add [name] to fillable property to allow mass assignment on [App/Company].' error coming while using add data via tinker

[2019-07-29 19:43] ahinkle commented on #29323
`Required` is null, an empty string, an empty array, empty Countable object or an uploaded file with no path.

https://laravel.com/docs/5.8/validation#rule-required

If you need further assistance creating your validation rules, please reach out on our community channels instead of this issue area:`
- [laracasts.com/discuss](https://laracasts.com/discuss)
- [laravel.io/forum](https://laravel.io/fo

[2019-07-29 19:46] ahinkle commented on #29328
Looks like you need to add your [mass assignment](https://laravel.com/docs/5.8/eloquent#mass-assignment) attributes.

As the template stated, this repository issue area is for reporting bugs or issues with the framework itself. Please reach out to the community channels for assistance.
- [laracasts.com/discuss](https://laracasts.com/discuss)
- [laravel.io/forum](https://laravel.io/forum)
- [Discor

[2019-07-29 19:48] ahinkle commented on #29319
Sounds like a discussion that should be moved into [laravel/ideas](https://github.com/laravel/ideas/issues) as this repository issue area has to do with bugs and issues within the framework itself.

[2019-07-29 20:22] Jason-Morcos opened #29331 "Model HasAttributes Accessor Only Fills $value in certain cases"
- Laravel Version: 5.8.29
- PHP Version: 7.2.19
- Database Driver & Version: MySQL 5.6.43

### Description:
When creating an accessor, there is a `$value` parameter that is passed the current value in the model's attributes array. However, this value is grabbed from the model's attribute array in the same form as the call is made. For instance, calling `$gateway->customer_id` grabs the value for `

[2019-07-29 20:34] Jason-Morcos commented on #29331
The call to the mutator is handled in the Model's `HasAttributes` trait and clearly matches snake_case and camelCase (`customer_id` and `customerId`) to the same accessor

<img width="672" alt="image" src="https://user-images.githubusercontent.com/10710367/62080452-aea01300-b21e-11e9-9bbd-e5e4f13c6bd7.png">

[2019-07-29 20:45] vfsoraki commented on #29319
Good point, I haven't seen that repository before. I will move it there. Thanks!

[2019-07-29 20:45] #29319 closed

[2019-07-29 20:47] vfsoraki commented on #29319
Related issue there https://github.com/laravel/ideas/issues/1747

[2019-07-29 20:54] staudenmeir commented on #29331
Wouldn't this only be an issue if a model has both `customer_id` and `customerId` attributes?

How could we even define two separate accessors?

[2019-07-29 21:11] Jason-Morcos commented on #29331
The issue is that if you only have customer_id as the attribute you can call the accessor as customer_id or customerId but $value is only set for the case where you call it as customer_id. Does that make sense?

[2019-07-29 21:13] Jason-Morcos commented on #29331
I agree there would be no good way to define two accessors. Perhaps the accessor should fill value defined in either case however? I'm not sure of a good fix. I ran into the issue today as a coworker prefers to call his accessors camelCase and I snake_case and an accessor wasn't working for him as the accessor was using $value.

[2019-07-29 21:29] staudenmeir commented on #29331
But aren't they using Laravel incorrectly? If an attribute is called `customer_id` and doesn't have an accessor, you have to access it with `$model->customer_id`. `$model->customerId` doesn't work. When you add an accessor for that attribute, you can't just switch to `$model->customerId` and expect it to work.

You can only choose between camel and snake case if you have an accessor for a "virtual

[2019-07-29 22:15] Jason-Morcos commented on #29331
That right there indicates inconsistency between the way accessors behave. Shouldn't they behave the same way for virtual and database attributes? Ideally, shouldn't the user not have to determine if he/she is interacting with a virtual or a database attribute as long as they are using an accessor?

[2019-07-29 22:30] staudenmeir commented on #29331
Which behavior would you change?

I don't think they have to determine that at the moment. When you access a database attribute, you use the exact column name. For virtual attributes, you use your application's naming convention (camel or snake case).

[2019-07-30 00:11] sevillaarvin commented on #18066
I'm using Laravel `5.8.29` and I still need to add these lines inside my test function. What did I miss? I have an observer class inside my AppServiceProvider boot function
[code]

[2019-07-30 01:19] ahinkle commented on #29316
Hey there,

Your code is a bit hard to read. Try reaching out on our community channels for support:

- [laracasts.com/discuss](https://laracasts.com/discuss)
- [laravel.io/forum](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/mPZNm7A)

If your certain it's a bug with the framework itself, please reply back here.

[2019-07-30 01:27] ahinkle commented on #29280
Hi there,

Would you be able to provide some code examples including your tests?

Feel free to reach out on the community channels for assistance.

- [laracasts.com/discuss](https://laracasts.com/discuss)
- [laravel.io/forum](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/mPZNm7A)

[2019-07-30 02:25] majus28 commented on #18066
4 hygiene fr4u7

[2019-07-30 07:19] ronssij commented on #29323
I do understand how the `required` rule work. but in the instance of having all fields with null value using FormData().

And i'I'll try reach on the community communication channels.

[2019-07-30 07:47] supanida opened #29332 "php artisan migrate doesn't read .env file for database infomation"
- Laravel Version: 5.8.17
- PHP Version: 7.2.10
- Database Driver & Version:

### Description:
- When I do php artisan migrate, it does't read database information from my .env file. It give error.

 Illuminate\Database\QueryException  : SQLSTATE[HY000] [1045] Access denied for user 'homestead'@'localhost' (using password: YES) (SQL: select * from information_schema.tables where table_schema = hom

[2019-07-30 08:15] bhuvidya commented on #2494
@staudenmeir Yeh that's fair enough - it really is a bug in MySQL and as it's fixed in 8.* at some stage most or all folks will be running that version. Thanks!

[2019-07-30 08:42] driesvints commented on #29301
Hey @mastacheata. Thank you for your very thorough description of the issue. I have to say that I follow @taylorotwell's suggestion about maybe a more thorough implementation of this to validate multiple uri schemes or limited them. I believe this isn't a bug atm with the url validation rule as the current validation rule is more intended to validate http:// and https:// urls.

I think this discus

[2019-07-30 08:42] #29301 closed

[2019-07-30 08:55] HenkPoley commented on #29322
I understand that interface changes may be difficult, so I made patch for the documentation to add a section about the public function DB::affectingStatement()

Currently you see see bad advice floating around to check the inserted row id from PDO. Which is fine-ish. Unless.. you insert into multiple tables, and the returned row id just happens to be the same (e.g. insert one row each into two tab

[2019-07-30 09:02] LarsGrevelink commented on #27784
Thanks @rossriley for finding the root cause!

@driesvints with the above explanation I would like to create a PR applying the exact patch we currently use in production. It does not seem to have a notable implication on performance and we've not seen any additional errors caused by applying this fix. Good to go on your part?

[2019-07-30 09:18] HenkPoley commented on #29322
Maybe also put in a link to [PDOStatement::rowCount](https://www.php.net/manual/en/pdostatement.rowcount.php) which does actual work in the background. Since there are some caveats for some queries and some databases. Though often the (non-)zero case does work, but even then not in every configuration.

[2019-07-30 09:49] Eli-jah opened #29336 "Change of a Column From `DECIMAL UNSIGNED` to `DECIMAL SIGNED` Does Not Work."
- Laravel Version: 5.8.29
- PHP Version: 7.2.11
- Database Driver & Version: MySQL 5.7.22

### Description:

Change of a Column From `DECIMAL UNSIGNED` to `DECIMAL SIGNED` Does Not Work.

### Steps To Reproduce:

As the code of a database migration file describes:

[code]

We expect that the column `some_column` could become `DECIMAL SIGNED`, but it doesn't happen this way.

### Reason

The origin

[2019-07-30 09:50] #29328 closed

[2019-07-30 09:52] antonkomarev commented on #29336
Just a note: in MySQL 8.x unsigned decimal is deprecated and will be removed.

[2019-07-30 09:56] Eli-jah commented on #29336
Thx for the note @antonkomarev

[2019-07-30 09:56] #29336 closed

[2019-07-30 10:20] nmokkenstorm commented on #29332
The credentials showing up in your stack trace are the Laravel defaults. Can you verify if you actually have a database called homestead on localhost? Easiest way to check this is using a query browser like Sequel Pro, or directly in a terminal prompt with `mysql -u homestead -D homestead -psecret`

[2019-07-30 10:38] emadha commented on #29332
- Check if you're using the correct port ( i had the same issue cuz i used mariadb which connects at 3307)
- Check if you're using the correct artisan file and not calling an other project's artisan (silly, but oh well)

- Check if you have your config cached (php artisan config:clear to clear that, because)
- Get the .env file path and check if it's correct
[code]

Let me know how it goes.

[2019-07-30 12:58] staudenmeir commented on #2494
@celloman Did you see @bhuvidya's comment? The `WHERE IN` bug has been fixed in MySQL 8.

[2019-07-30 13:08] Jason-Morcos commented on #29331
But it _can_ work with a database attribute. The accessor _is_ called. The only issue is `$value` is not passed in properly. The accessor is still called.

I think I would either remove the `$value` parameter, make accessors only called for snake_case, or check for both the snake_case and camelCase versions of the attribute in the attributes array and set value to be either if existent. I'm not su

[2019-07-30 14:04] molerat619 commented on #14733
Thank you @thecrypticace . We are using multiple laravel connections (but the databases are on the same server).

I have realized today that we only have this issue when we have the create-method inside the transaction. It works absolutely fine in the update method.

[code]

Does that help anyone track down the issue a bit more? Or does anyone have ideas how we can achieve the same thing with a di

[2019-07-30 14:19] meyer59 commented on #29321
Any news about that issue ?

[2019-07-30 14:25] staudenmeir commented on #29324
Different workaround:

[code]

The advantage here is that you don't need to adjust the table name for every `whereHas()` clause.

Be aware that the results will now have the alias as their table name. You need to change that if you want to update them.

[2019-07-30 14:38] aslanahmet commented on #27784
Hello I have same issue.
![image](https://user-images.githubusercontent.com/15240292/62138004-92b87200-b2ef-11e9-8764-0631b0a085d8.png)

How can I ignore this issue from newrelic? Because I can not see this warning in local development environment. I can just see this error in newrelic. @LarsGrevelink

I debugged this problem. This warning coming from ValidatesAttributes.php.
When I use validation

[2019-07-30 15:06] trip-somers commented on #29280
My last paragraph was just a note for anyone that has done something similar and would like to offer help with the pattern, it should not be the focus of this issue. The focus should be on `raw()` being a testability hole in the MailFake class.

A code sample of that would literally just be anything that calls `Mail::raw()`. As stated above, the `MailFake::raw()` class is an empty method, and more

[2019-07-30 15:26] ralphschindler commented on #29321
I am trying to write a test for this behavior. Standby.

[2019-07-30 15:29] yordadev commented on #29332
The above 2 responses are correct, try those; however... Reviewing this error there is another possible solution for you.

`Access denied for user 'homestead'@'localhost'`

I'd be willing to bet you are trying to use an external database without remote connections enables. Please see this:

https://www.digitalocean.com/community/tutorials/how-to-allow-remote-access-to-mysql

[2019-07-30 15:47] yordadev commented on #29300
its `return redirect()->back();`

[2019-07-30 15:59] gilbitron commented on #29185
I've just tested this on a fresh Laravel install running Horizon and couldn't recreate the issue.

[2019-07-30 15:59] #29185 closed

[2019-07-30 16:10] crayolaeater12 opened #29340 "PostgreSQL 11 window functions in Eloquent models"
I can't seem to find anything in the documents regarding the usage of [pgsql's window functions](https://www.postgresql.org/docs/11/tutorial-window.html)
I would very much like to use this preferably via Eloquent ORM if possible.

[2019-07-30 16:19] staudenmeir commented on #29340
You can only use them with raw expressions:

[code]

[2019-07-30 16:27] gurrrung commented on #29300
I think both of `return redirect()->back();` and `return back();` do the same job. @yordadev
https://github.com/laravel/framework/blob/7ccf0cf63931a8d8391aed90e6fc011381ea6838/src/Illuminate/Foundation/helpers.php#L178

[2019-07-30 16:33] Mindexperiment opened #29341 "Public directory breaks urls structure"
- Laravel Version: 5.8.29
- PHP Version: 7.1.19
- Database Driver & Version: -

### Description:
Hi, while building my website I noticed that a specific menu link didn't redirect correctly to the assigned path. By looking on the network section of the browser I saw that each time I click on that specific link the server respond with a "301 Permanently redirect" message and convert the path from an

[2019-07-30 16:47] crayolaeater12 commented on #29340
I am satisfied with this answer. Thank you for your quick response...

[2019-07-30 16:47] #29340 closed

[2019-07-30 17:10] ThilinaM commented on #23961
I also face the same issue in Mysql80
Add entry and give the permission then it will be ok

![image](https://user-images.githubusercontent.com/4382007/62150184-ed1af800-b31a-11e9-9201-eef3533645ef.png)

[2019-07-30 17:18] gofish543 commented on #29341
This does not sound like a Laravel bug, but rather you trying to use the same url to serve two different resources; the first is a resource folder and the other a Laravel route.

You cannot have one URL serve two different resources (unless, of course, you specify one to be a GET request and another be POST)

To fix your problem either
1) Change your Laravel route to something else
2) Move your pu

[2019-07-30 17:23] Mindexperiment commented on #29341
Hi @gofish

is ***/videos*** the same as ***/videos/*** ?

[2019-07-30 17:31] gofish543 commented on #29341
In apache's eyes, yes.

Your .htaccess fille
[code]

This is the apache thought process with your rule inplace
---
* Alright we got a request at http://you.com/videos/
* Alright we located the http://you.com web root -> /var/www/you/
* Look!! An .htaccess file, lets load it! (Of course this is only the case if you configure apache to do so, which you did)
* Rewrite condition spotted! Time to check

[2019-07-30 17:48] LarsGrevelink commented on #27784
Created a pull request which fixes the issue.

@aslanahmet If you want to fix this in the meanwhile I'd suggest you use a similar way to patch the file as I talked about in [an earlier comment](https://github.com/laravel/framework/issues/27784#issuecomment-490403496). Ideally, I would suggest to hold on a little longer and wait for the PR to be merged.

[2019-07-30 17:50] Mindexperiment commented on #29341
Then, for example, serving images from a folder called ***/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png*** (like google) makes that my website cannot have a section called /images to list somebody images. A bit forced imho.

[2019-07-30 17:57] foxinatardis commented on #28228
I am actually having this issue in version 5.7

[2019-07-30 18:07] gofish543 commented on #29341
Keep in mind, this is not a Laravel thing. This is an apache configuration. Notice in my example that none of the requests even touched Laravel.

Now, to get around that "a bit forced imho". It really isn't... Check this out

Let's say now you have http://you.com and http://static.you.com
You can say in apache...
"I want you.com to push me into Laravel, regardless of if a folder exists or not"
"I

[2019-07-30 18:10] mfn commented on #29331
All of these suggestions are breaking changes.

I suggest to fix this in the docs rather.

[2019-07-30 18:14] Jason-Morcos commented on #29331
I agree they all are breaking changes. It would definitely have to be a Laravel 6+ change. But it seems that it's better to put some guardrails around the functionality so that it either always "works" or at least behaves consistently. The person interacting with the model shouldn't have to handle things differently for virtual and database attributes. Isn't that the point of HasAttributes and mod

[2019-07-30 18:37] Mindexperiment commented on #29341
I thank you for the time you spend on answering.

Does FallbackResource directive changes the matter of the question?

vhosts.conf
[code]

this should force each request on /index.php front controller, that is Laravel.

[2019-07-30 18:37] gofish543 commented on #29341
I am updating my previous answer when I was looking at my own personal .htaccess files and my documentation I found discrepancies. Give me a little bit.

[2019-07-30 19:04] gofish543 commented on #29341
I apologize, I got mixed up myself. I forgot that multiple RewriteConds are implicit AND and only become 'OR' when explicitly stated.

Now let's try to solve your problem, serving both out of the same virtual host

Because you are serving a conflicting HTTP Request space, Laravel's default .htaccess will not work for you (but we already know that)

.htaccess file
[code]
It is now that we see the u

[2019-07-30 19:28] psrumple opened #29344 "Tests run out memory"
- Laravel Version: 5.8.30
- PHP Version: 7.3.4
- Database Driver & Version: MySQL 5.7

### Description:
After upgrading from 5.8.29 to 5.8.30, one of my tests cause php to run out of memory. After downgrading back to 5.8.29, the tests run fine. I'm using phpunit for the tests.

After further research, this appears to be linked to a single test testing Artisan commands. The particular test that fai

[2019-07-30 19:34] staudenmeir commented on #29344
We won't be able to help you without a reproducible example.

Please create a fresh Laravel installation and add code from your application until the issue appears.

[2019-07-30 19:54] gofish543 commented on #29332
@yordadev
'localhost' will resolve to 127.0.0.1 which is a local connection not a remote connection.

[2019-07-30 20:18] devcircus commented on #29331
Agree that maybe this could be clarified in the docs. The current behavior is what I would expect but can see how it could possibly be confusing for some.

[2019-07-30 22:00] mastacheata commented on #29301
I get that part of this might be better suited as a new idea/feature since the URL validation clearly focuses on validating http/https urls.

The part of this issue that definitely is a bug is listing hundreds of schemes to begin with, but then failing to validate 70-80 of them.
I think the bug part of this issue is to narrow down the list to those URL schemes that are actually used and useable wi

[2019-07-31 00:27] imanghafoori1 commented on #18187
@denjaland Hi David, I spend more than our reading your nice descriptions to figure out the problem you wrote about.

As I understood you are talking about 2 concurrent requests from the SAME user, but seemingly @LarsVonQualen is talking about many users logging in, which I do not get how could be problematic.

The practical solution came to my mind, is to give a way to manually prevent session sa

[2019-07-31 01:54] saurini opened #29347 "Route model binding accidental parameter match"
- Laravel Version: 5.7.28
- PHP Version: 7.1.30
- Database Driver & Version: MySQL 5.6.45

### Description:
When an explicitly bound route model is followed by a string that partially matches *another* route model, the second route model will match unexpectedly. If the first bind is removed from the path, it behaves as expected.

### Steps To Reproduce:
1. Create a model, `Foo` with a just an `id`

[2019-07-31 02:23] supanida commented on #29332
Thank you for all of your replies. It works normally when I connect to database using eloquent models, but it just didn't work on the command line "php artisan migrate"

I did check the port as @emadha suggested. My environment uses mysql on localhost (So @yordadev , nope I didn't use external database) which uses port 3306 as is set in the .env file

Well, I have tried everything you guys suggest

[2019-07-31 02:30] #29332 closed

[2019-07-31 03:02] staudenmeir commented on #29347
Do you mean `Route::model('foo', \App\Models\Foo::class)`?

[2019-07-31 03:15] dthrcrpz commented on #26936
@josecelano Same errors here

[2019-07-31 03:41] AbdelkaderBah commented on #16412
Are you using phpunit tests through Editor? editors might use the default phpunit configuration. make sure you select the path of phpunit.xml

Sorry to open this back 😅

[2019-07-31 04:07] hamidrezaghanbari commented on #24450
i think you just need to use fecade library cache not filesystem it work for me

[2019-07-31 05:59] muhammad-tayyab commented on #26936
I had same issue with `Laravel Framework 5.4` and `Laravel Framework 5.5`, downgraded to `PHP 7.1.3`. Everything working now

[2019-07-31 06:24] #29344 closed

[2019-07-31 07:11] ycgambo opened #29348 "Environment based package discovery and post discover ComposerScripts hook"
Since package discover is loaded, there are some use cases that I want to share.

## About environment

`composer  require --dev` and `npm install --dev` has totally different meaning, yet we still have the need of not to discover packages like  `laravel-debugbar` just in production.

The wired thing about **dev packages in production** is:
- if I remove the package, the code will be dead(Some Cla

[2019-07-31 07:37] vahiiiid commented on #29347
I Reproduced it with:
` Route::model('foo', \App\Models\Foo::class) `

no ::bind method!
there is no problem with laravel 5.8.

[2019-07-31 09:12] neoteknic opened #29349 "Dangerous flush"
- Laravel Version: 5.8.29
- PHP Version: 7.3.7
- Database Driver & Version: Mariadb 10.4 Redis 5.0.5

### Description:
**Add a config option to disable Cache::flush(); and php artisan cache:clear**

As the Cache:flush(); is very dangerous because it remove the redis DB and dont use the CACHE_PREFIX.
It is possible in phpRedisAdmin to delete a cache tree, so it should be the same in Laravel (even i

[2019-07-31 09:35] gilbitron commented on #29185
For the benefit of others, this turned out to be an issue related to job funneling and setting `retryUntil` to `null` which made the job fall back to `attempts`.

[2019-07-31 10:51] jmarcher commented on #29349
As a rule of thumb, use different databases for different applications

[2019-07-31 11:42] neoteknic commented on #29349
No, Redis is not like a relational DB, you can't create a database without changing the config and restart, it's the same problem with memcached ...

the cache:clear have to take the cache prefix

A simple fix is something like this in the cache:clear command (I override the command):
[code]

[2019-07-31 12:01] jmarcher commented on #29349
Redis comes with 16 Databases out of the box, that is what I'm talking about.

You fix will only work if a small number of keys are stored in Redis.

[2019-07-31 12:53] nea opened #29351 "Q: BroadcastException - Fail gracefully if no Pusher server is running?"
Hi

I am using Laravel Broadcast together with a websocket server. But I got a question regarding failing gracefully in the case the pusher server ist not running.

Right now, if the websocket serve is running all is working fine. But if the server is not running, all events trigger a

[code]

I could try/catch all events I am firing, but as I am also listening to Eloquent events this will become

[2019-07-31 13:07] Meinder-A commented on #18551
Hi, facing the same issue, any hint?

[2019-07-31 13:11] kapalla opened #29352 "Constraining Eager Loads - Instance of HasMany instead of Builder"
- Laravel Version: 5.8.30
- PHP Version: 7.3.7
- Database Driver & Version: SQLite

### Description:
Illuminate\Database\Eloquent\Builder::eagerLoadRelation() is passing the relation instance instead of a Builder instance.

I´ve tried to use the snippet from the [docs](https://laravel.com/docs/5.8/eloquent-relationships#constraining-eager-loads), but i always get an exception with this message:

`

[2019-07-31 13:18] neoteknic commented on #29349
if you have 100 Laravel app on a server you have to change the config... There is a cache prefix, it should be used to clear cache

[2019-07-31 13:31] madrussa commented on #22650
[5.8] Still an issue, disconnect does not remove the doctineConnection and this causes a build up of database connections.

We have a RabbitMQ queue processor which connects to many different databases depending on the message. We disconnect the connection once the task has been complete assuming the DB connection will be closed, however after a while our process breaks due to too many database co

[2019-07-31 13:39] jmarcher commented on #29349
Well, be responsible and do not host 100 Laravel apps on the same server. Sorry if this may sound rude but we can not implement things only to suffice the requirements of a few.

[2019-07-31 13:47] kapalla commented on #29352
Seems that only the type is wrong. I can use the code when i remove it.

[code]

`Relation`class uses forward calls to their `$query` property. Didn´t know that.

[2019-07-31 13:47] #29352 closed

[2019-07-31 13:50] staudenmeir commented on #29352
Thanks, I'll fix the docs.

[2019-07-31 14:37] decowboy commented on #28920
For reference:

I'm experiencing the issue on MySQL.

Same for me.

I'm not using any form of model caching

I'm also using Horizon but not Telescope.

No transactions in my jobs either.

I'm also using Sentry.

[2019-07-31 16:57] Hemant11111 opened #29354 "Issue in php artisan queue:work in updated framework. [v5.8.30]"
As soon as i updated my laravel project to latest framework the supervisor stopped working.

For testing if i am sure about the issue i created a new project by
[code]
and run `php artisan queue:work --sleep=60 -v` and i got the same error.

[code]

[2019-07-31 18:44] sajidali2444 commented on #23961
save my life

[2019-07-31 19:19] devsi commented on #28228
Exact same problem. We can't figure it out yet. Like, the EXACT same problem.

[2019-07-31 19:23] wtbloom commented on #28228
I still haven't been able to solve it.  I ended up just caching on a Redis instance as opposed to the file system as a workaround.

[2019-07-31 19:51] TiagoSilvaPereira commented on #29188
Hi @driesvints can you reconsider opening the issue? It seems like the problem occurs inside the library (I debugged the code and the problem seems to happen on **DatabaseTokenRepository**).

thanks

[2019-07-31 20:09] mikerockett commented on #29323
@ronssij The reason for that is because FormData isn't type-safe (the value of each boundary is always either a Blob (such as a file) or a USVString (a unicode scalar values string).

So, if your object-payload includes a value of `null`, it is seen as a string of `'null'`, which means validation will pass.

To solve this, I split the payload into two concerns: the first is the boundaries for each

[2019-07-31 20:30] caferelgin commented on #28274
You should use ResetsPasswords trait and then add a validator closure. To be more specific override these two methods for your version like this:
`
public function reset(Request $request)
{
    $request->validate($this->rules(), $this->validationErrorMessages());
    $this->broker()->validator(function (array $credentials){
		[$password, $confirm] = [
			$credentials['password'],
			$credentials['

[2019-07-31 20:35] zachleigh opened #29357 "Model::whereHasMorph with wildcard not working as documented"
- Laravel Version: 5.8.30
- PHP Version: 7.2.19
- Database Driver & Version: MariaDB 10.3.16

### Description:
When following the whereHasMorph with wildcard example in the docs ([Eloquent Relationships Page](https://laravel.com/docs/5.8/eloquent-relationships#querying-polymorphic-relationships)), I can't get it to work and I feel like I am missing a step. This is the example:
[code]

### Steps To

[2019-07-31 20:48] staudenmeir commented on #29357
`whereHasMorph()` can only be used with `MorphTo` relationships.

In your case, you need to add a `whereHas()` clause for every `imageable` `MorphedByMany` relationship:

[code]

[2019-07-31 21:24] saurini commented on #29347
Yes I did. Sorry about that! Fixed.

[2019-07-31 21:44] rimace commented on #29297
I think I understand your description from issue #7881.
You have the route `/list/{f_catid?}/{f_name?}` and want to use the route `/list?f_sort=price`, right? The two things I don't understand: where does the parameter `f_sort` comes from and what prevents you to just call the route `/list?f_sort=price`? As all parameters of `/list` are optional, you can just redirect to it with a query string.
If

[2019-07-31 22:46] zachleigh commented on #29357
Thanks for the clarification @staudenmeir. Closing.

[2019-07-31 22:46] #29357 closed

[2019-07-31 23:24] ronssij commented on #29323
@mikerockett
Thanks for explaining! I am using the FormData() to upload an image.

Pertaining to this statement.

Why is it `it is seen as a string of 'null'` on the validation but then when you dump the `$request->all()` all object-payload with null value is seen as null not 'null'?

Custom validation uses this `Illuminate\Foundation\Http\FormRequest;` which has also Request base on `Illuminate\H

[2019-07-31 23:29] #29323 closed

[2019-08-01 05:46] wenjy opened #29359 "phpdoc error"
https://github.com/laravel/framework/blob/8e9cf5497849d3292c3c7ed265488d855b30afb1/src/Illuminate/Redis/Connections/PhpRedisConnection.php#L103

This function is return array.

[2019-08-01 06:35] 9555643857 commented on #26546
Class 'App\Providers\AppServiceProvider' not found error
![image](https://user-images.githubusercontent.com/17945452/62270846-a7624a80-b454-11e9-8d0e-581c960c4395.png)

[2019-08-01 06:42] mfn commented on #29349
It's clearly in the docs https://laravel.com/docs/5.8/cache#removing-items-from-the-cache

I know it's there because I added it myself after I was bitten by this.

Past issue: https://github.com/laravel/framework/issues/5034

The problem is a technical one: not all cache drivers support by removing by prefix out of the box; Redis being one of them.

It is possible with a workaround in Redis: you c

[2019-08-01 07:00] kaythinks commented on #27717
Alright. Thanks.

On Thursday, July 25, 2019, Feisal Ramadhan Ali <notifications@github.com>
wrote:

[2019-08-01 08:04] koenhoeijmakers commented on #28920
The warnings seem to have stopped for me after I've changed my `retry_after` and `timeout` according to the [docs](https://laravel.com/docs/5.8/queues#job-expirations-and-timeouts)

My timeout was 600 seconds in horizon but the `retry_after` was still the same (in the `config/queue.php` it's set at 90)

[2019-08-01 08:40] LarsGrevelink commented on #27784
PR is merged; I'm closing the issue.

Thanks, to everyone who took the effort to look into this issue.

[2019-08-01 08:40] #27784 closed

[2019-08-01 08:54] aimeos commented on #29297
Example route: `/list/{f_catid?}/{f_name?}`
Parameter: Only an additional parameter `f_sort=price`
Expected: `/list?f_sort=price`
Actual: `/list/price`

I've talked to @taylorotwell at Laracon.eu 2018 in Amsterdam about that problem. It can't be fixed in 5.x because it would break existing REST routing code (route `/product/id?` automatically gets populated with first parameter regardless of its n

[2019-08-01 10:07] brunogaspar commented on #26546
@9555643857 Your `AppServicerProvider.php` file has the wrong class inside.

Composer is warning you about it on the yellow box.

[2019-08-01 12:36] driesvints commented on #29239
This will be changed in 5.9 as @staudenmeir said.

[2019-08-01 12:36] #29239 closed

[2019-08-01 12:37] driesvints commented on #29227
Closing this as the related PR was closed. Please take this up upstream with Symfony as Taylor suggested. Thanks.

[2019-08-01 12:37] #29227 closed

[2019-08-01 12:40] neoteknic commented on #29349
That's wrong you can select keys with a wilcard '$redis->keys('PREFIX:*')' with redis (phpredis), and not all keys, so you have to iterate, only on laravel keys, not all the db keys, you just should a config option to be able to use : destroying db, or clearing only laravel app cache (with select all laravel cache keys + iterate), it's very fast too, but I didn't tried it on more  than 1M keys.

@

[2019-08-01 12:41] driesvints commented on #29242
Laravel and Lumen indeed use different routers.

[2019-08-01 12:41] #29242 closed

[2019-08-01 12:43] rimace commented on #29297
I see. And what exactly prevents you form linking to `/list?f_sort=price`? The parameter `f_sort` is in the query string so it has nothing to do with routing.
What function do you call that generates your actual result but should be the expected result? I guess if we fix that function call that will solve everything and be backward compatible^^

[2019-08-01 12:43] driesvints commented on #22125
@iget-master no

[2019-08-01 12:46] driesvints commented on #29153
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue and we'll re-open this issue.

[2019-08-01 12:46] #29153 closed

[2019-08-01 12:47] driesvints commented on #29260
Maybe related to https://github.com/laravel/framework/issues/28701 ?

[2019-08-01 12:49] driesvints commented on #29271
See the above answer.

[2019-08-01 12:49] #29271 closed

[2019-08-01 13:03] aimeos commented on #29297
We use `\Illuminate\Contracts\Routing\UrlGenerator -> route( $routename, $params )`
where `$params` contains `['f_sort' => 'price']`

[2019-08-01 13:08] jmarcher commented on #29349
I'm sorry if I triggered you but do you understand that this is not a bug? You can use the different databases in a Redis server.

And after all, clearing the cache should not break your application it is only a cache after all.

[2019-08-01 13:23] driesvints commented on #29259
This is the expected behavior. Deleting DB rows shouldn't change the state of your session storage. I know this might look strange with the obvious use case in this issue but this has been the current behavior since the beginning of the framework. If you want this to be changed, please open up an issue on the ideas repo. Also see dozens of previous opened issues on this repo by searching the issue

[2019-08-01 13:23] #29259 closed

[2019-08-01 13:49] emadha commented on #29259
expected and doesn't make sense.

[2019-08-01 13:49] driesvints commented on #29308
Please see the issue above.

[2019-08-01 13:49] #29308 closed

[2019-08-01 13:53] emadha opened #29365 "Fix the Auth::id() inconsistency"
Auth::id() doesn't validate if the ID of the user in the session, making the Auth::id() return wrong value if the user was deleted from the database.

this -> https://github.com/laravel/framework/issues/29259

[2019-08-01 13:54] mpyw commented on #29365
@driesvints At first, should we add documentation about this behavior?

![image](https://user-images.githubusercontent.com/1351893/62299004-1076ac00-b4af-11e9-90a3-a36a12c9f017.png)

[2019-08-01 13:58] emadha commented on #29365
@driesvints, well....

[code]

[2019-08-01 14:02] emadha commented on #29365
I submitted that in ideas https://github.com/laravel/ideas/issues/1750 but i still think it's more than an idea.

[2019-08-01 14:06] #29365 closed

[2019-08-01 14:07] driesvints commented on #29296
Not really sure what is happening here. Can you please create a test repo with your setup that reproduces the problem? Browsersync doesn't comes automatically installed in Laravel.

[2019-08-01 14:13] driesvints commented on #29311
Going to close this as the pr was rejected. Maybe try again but with more detailed explanation of the `additional` method?

[2019-08-01 14:13] #29311 closed

[2019-08-01 14:25] driesvints commented on #29230
Have you tried two separate redis connections for the cache and queue? I know you've set separate dbs but just to rule out that possibility.

[2019-08-01 14:56] driesvints commented on #29244
I agree that this probably is a bug. Welcoming help with figuring this out.

[2019-08-01 15:01] Shkeats commented on #29230
@McKean Appreciate it seems unlikely that it's clock drift if AWS control that for you.

However it does look to me like the mutex it puts in the cache inside `runSingleServerEvent()` is actually the current time as defined in $this->startedAt on the schedule:run command, but accurate to one minute. So implicitly it allows 1 minute of clock drift but not more. If the servers/environments/whatever

[2019-08-01 15:07] driesvints commented on #29359
Feel free to send in a pr.

[2019-08-01 15:07] #29359 closed

[2019-08-01 15:09] subratpalhar92 commented on #27717
Add an index on foreign key column

primary table :
$table->increments('id');

foreign Table :
$table->integer('foreign_key_column_name')->unsigned(); //increments equivalent
$table->index(['foreign_key_column_name']);

Schema::table('primary_tablename', function ($table) {
            $table->foreign('id')
                ->references('foreiogn_table')->on('foreign_COLUMN')
                ->onDe

[2019-08-01 15:12] driesvints commented on #29244
Just realized that the current behavior is indeed the correct one and this isn't a bug.

Use `logout` => logs you out from all devices.
Use `logoutOtherDevices` logs you out from all devices but the current one.

Maybe the docs could be updated on this though.

[2019-08-01 15:12] #29244 closed

[2019-08-01 15:12] driesvints commented on #29307
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-01 15:12] #29307 closed

[2019-08-01 15:13] driesvints commented on #29320
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-01 15:13] #29320 closed

[2019-08-01 15:18] driesvints commented on #29322
Please just sent in a pr if you want to fix something in the documentation. Thanks.

[2019-08-01 15:18] #29322 closed

[2019-08-01 15:18] driesvints commented on #29316
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-01 15:18] #29316 closed

[2019-08-01 15:23] driesvints commented on #29300
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-01 15:23] #29300 closed

[2019-08-01 15:24] driesvints commented on #29280
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-01 15:24] #29280 closed

[2019-08-01 15:25] driesvints commented on #29321
PR was merged.

[2019-08-01 15:26] driesvints commented on #29324
Heya, thanks for submitting this.

This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

Thanks!

[2019-08-01 15:26] #29324 closed

[2019-08-01 15:27] driesvints commented on #29341
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-01 15:27] #29341 closed

[2019-08-01 15:31] driesvints commented on #29331
The behavior you described above is the intended behavior. There's not real way to differentiate between `customer_id` and `customerId` when applying mutators. They were primarily designed for the former. Feel free to send in a PR to the docs if you feel that this needs to be clarified some more!

[2019-08-01 15:31] #29331 closed

[2019-08-01 15:31] staudenmeir commented on #29321
@driesvints Please reopen, the linked PR is an old one. This issue hasn't been fixed yet.

[2019-08-01 15:34] driesvints commented on #29348
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-01 15:34] #29348 closed

[2019-08-01 15:35] driesvints commented on #29354
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-01 15:35] #29354 closed

[2019-08-01 15:36] driesvints commented on #29347
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-08-01 15:36] #29347 closed

[2019-08-01 15:38] driesvints commented on #27784
@LarsGrevelink thanks for reporting and fixing!

[2019-08-01 15:43] denniskoster opened #29368 "Making mock in setup() breaks serialization of Collection"
- Laravel Version: 5.8.27
- PHP Version: 7.3
- Database Driver & Version: 5.7

### Description:
When I define a mock in the `setup()` method of a test case, using `shouldReceive()` and `returnUsing()`, a test serializing a collection breaks, throwing an exception:
[code]

### Steps To Reproduce:
Run the test below:
[code]

[2019-08-01 15:44] driesvints commented on #29188
@TiagoSilvaPereira you're using the `check` method wrong. The first argument should be your unhashed password. Please try a support channel first next time. Thanks!

[2019-08-01 15:46] driesvints commented on #28920
I'm going to close this as this seems to be Sentry specific and there really isn't an issue except from the warning. Thanks to everyone who helped investigate this 👍

[2019-08-01 15:46] #28920 closed

[2019-08-01 15:49] lk77 commented on #29321
Earlier, i was thinking that this pr (28416) may be related to my issue, and commented,
but since it's not the case, i clarified it on the pr and linked to this issue,
but it's not related.

[2019-08-01 15:50] driesvints commented on #29297
Hey @aimeos. Because the changes for this will break quite a few things for existing apps we don't consider this to be a bug but rather a behavioral change. Feel free to open up an issue in the ideas repo to discuss this change and maybe attempt a PR to the master branch again. Make sure you add enough tests and cover the scenarios discussed in the original pr as well: https://github.com/laravel/f

[2019-08-01 15:50] #29297 closed

[2019-08-01 15:51] driesvints commented on #29349
Please use the recommended way of a separate Redis connection for your database and caches.

[2019-08-01 15:51] #29349 closed

[2019-08-01 16:01] driesvints commented on #29230
Honestly, I'd just recommend to always use a separate redis connection for your cache and queue. Please see a note about this as well here: https://laravel.com/docs/5.8/cache#removing-items-from-the-cache

Otherwise you run into issues like this: https://github.com/laravel/framework/issues/29349

Can you please test with separate connections to see if that fixes the problem?

[2019-08-01 16:02] driesvints commented on #29321
@staudenmeir I meant this PR: https://github.com/laravel/framework/pull/29362

[2019-08-01 16:03] driesvints commented on #29368
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-01 16:03] #29368 closed

[2019-08-01 16:03] dwightwatson commented on #29244
`logoutOtherDevices` requires the user entering their password though.

`logout` does it across all devices from really doesn't seem like the expected behaviour here - what other website do you log out from then then logs you out across all other devices?

Is there a sanctioned way to log the user out on just their current device?

[2019-08-01 16:06] staudenmeir commented on #29321
@driesvints That's also a different issue ;-)

[2019-08-01 16:08] driesvints commented on #29321
Okay lol

[2019-08-01 16:08] driesvints commented on #29244
@dwightwatson no, don't think so. Maybe this could be a good new feature as a `logoutCurrentDevice` method?

[2019-08-01 16:26] troccoli commented on #23461
This doesn't work for me for my Dusk tests.

[2019-08-01 16:57] mpyw commented on #29321
@driesvints Sorry for confusing mention

[2019-08-01 18:16] TiagoSilvaPereira commented on #29188
@driesvints  I'm not using the **check** method. It is inside **DatabaseTokenRepository** that is internal Laravel code. The problem is happening on Laravel side, I debugged and figured that it is happening inside this code.

Please note this code is inside **Illuminate\Auth\Passwords\DatabaseTokenRepository** and the issue happens only on Test Environment:

[code]

[2019-08-01 19:20] taylorotwell commented on #29188
There is no way the Laravel code is incorrect here. Otherwise, Forge, Envoyer, Vapor, etc. would all have a broken password reset?

[2019-08-01 19:20] driesvints commented on #29188
Hey @TiagoSilvaPereira. I was wrong myself at first. The first argument is your random generated token for your reset password record. The same token is hashed first before it's stored in the database record.

[2019-08-01 20:15] mpyw commented on #29321
Very ditry hack:

[code]

It forces `AsPivot::hasTimestampAttributes()` to return true.

[2019-08-01 20:18] halaei commented on #29244
@driesvints I am a little confused about why this issue is closed.

[2019-08-01 20:20] zachleigh commented on #29357
If anyone is curious, you can achieve this dynamically using Builder macros to define the relationships on the fly in your query.
[code]

[2019-08-01 20:21] mpyw commented on #29321
Okay I got the better implementation, I'll submit PR

[2019-08-01 20:31] TiagoSilvaPereira commented on #29188
@taylorotwell, @driesvints  thanks by responding... It is happening only on Test Environment, as explained above (Works well on production). May be a issue with my test env?

Thanks

[2019-08-01 20:45] driesvints commented on #29188
@TiagoSilvaPereira

[code]

You're just retrieving the hashed token from the DB here which won't work. You need the token before it was hashed.

[2019-08-01 21:08] ajoy39 opened #29371 "Mysql Views no longer included in Schema::hasTable but there is no hasView function"
- Laravel Version: 5.8.30
- PHP Version: 7.2.1
- Database Driver & Version: Mysql 5.7.12

### Description:
5.8.30 Corrected what was technically a bug in the Schema::hasTable() function so that it no longer finds MySQL views. However, because there is no Schema::hasView() method, there now doesn't appear to be a way to conditionally drop a view if it exists in a migration file.

### Steps To Repro

[2019-08-01 21:29] TiagoSilvaPereira commented on #29188
@driesvints Thank you very much, I'll take a look at it. Sorry for bothering you. Best Regards

[2019-08-01 22:29] ho3einmolavi opened #29372 "Auth::attempt"
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2019-08-01 22:33] ho3einmolavi opened #29373 "Auth::attempt always return false"
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

I want to login my users using passport but Auth::attempt always return false
here is my code
`<?php

namespace App\Http\Controllers;

use App\User;
use Illuminate\Http\JsonResponse;
use Illuminate\Http\Request;
use Illuminate\Support\Facades\Auth;
use Illuminate\Support\Str;

class UserController extends

[2019-08-01 23:47] brnmonteiro commented on #29296
I create a repo to reproduce the error.
https://github.com/brnmonteiro/laravel-route-behavior

At readme more info to reproduce.

[2019-08-02 03:26] tuanpht commented on #29311
I think it had been already documented https://github.com/laravel/docs/blob/5.8/eloquent-resources.md#adding-meta-data-when-constructing-resources

I just correct the wrong note.

[2019-08-02 03:33] mpyw commented on #29321
@lk77 Would you test it based on this PR branch?

[2019-08-02 04:16] staudenmeir commented on #29296
Browsersync modifies the response and replaces the URL.

If you log the variable, you always get `http://127.0.0.1:8000`: `Log::info($target);`

The URL is only replaced if the beginning of the response is (somewhat) valid HTML:
Check the difference between `echo 'The dump:<br>'`; and `echo '<br>The dump:';`.

[2019-08-02 06:54] aditya43 commented on #17545
@rachid804 Had the same issue. Working fine on Laravel v5.7.28 in 2019. ☕️

[2019-08-02 06:57] lk77 commented on #29321
@mpyw i pulled your fork and updated my demo : https://github.com/lk77/pivot-using-update-bug
the issue seems fixed.

[2019-08-02 07:24] sinkcup opened #29381 "make:auth reduces test coverage"
- Laravel Version: 5.8.30
- PHP Version: 7.2.19
- Database Driver & Version: MySQL 5.7.27

### Description:

after run `php artisan make:auth`, the project's test coverage is reduced. because of this command create a new controller `HomeController`, but no test.

### Steps To Reproduce:

[code]

[code]

![image](https://user-images.githubusercontent.com/4971414/62349503-84a66380-b532-11e9-9a56-049

[2019-08-02 07:45] mputkowski commented on #29381
It isn't an issue, don't expect that framework will generate tests ourselves, you should write them on your own.

[2019-08-02 07:46] radosslav opened #29382 "Undocumented functions"
- Laravel Version: 5.8
- PHP Version: 7.3
- Database Driver & Version: MySQL 8.0

Hello.

In Laravel API documentation, I find this method isWritable:
https://laravel.com/api/5.8/Illuminate/Filesystem/Filesystem.html#method_isWritable

It just a wrapper over is_writable PHP function.
https://github.com/laravel/framework/blob/5.8/src/Illuminate/Filesystem/Filesystem.php#L376

My question is - this

[2019-08-02 07:49] mputkowski commented on #29373
`val` stores validation result, you should write something like that:

[code]

[2019-08-02 07:51] mputkowski commented on #29372
Duplicate #29373

[2019-08-02 07:51] sinkcup commented on #29381
I known. `make:auth` is not a framework, but a command, just like a package, it should take tests with itself. @mputkowski

[2019-08-02 08:04] driesvints commented on #29244
@halaei you said:

But it is. Hence is why the issue was closed.

[2019-08-02 08:09] driesvints commented on #29371
Heya, thanks for reporting. If you were intentionally relying on a bug then there's nothing we really can do about it. Seems like this is a request for a new feature instead? It's then best that you open up an issue on the ideas repo. If you send in a PR to properly support the feature we can also get it into the documentation so that it's properly documented for others. Thanks.

[2019-08-02 08:09] #29371 closed

[2019-08-02 08:18] driesvints commented on #29296
Please see the answer above, thanks.

[2019-08-02 08:18] #29296 closed

[2019-08-02 08:23] driesvints commented on #29382
You're always free to send in PRs to the docs for undocumented features. Thanks.

[2019-08-02 08:23] #29382 closed

[2019-08-02 08:24] #29372 closed

[2019-08-02 08:24] driesvints commented on #29373
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-02 08:24] #29373 closed

[2019-08-02 08:26] driesvints commented on #29381
We're actually considering of adding these in a future update but for now please implement them yourselves.

[2019-08-02 08:26] #29381 closed

[2019-08-02 08:26] radosslav commented on #29382
Thanks, Dries!

[2019-08-02 08:50] halaei commented on #29244
@driesvints Have you even checked out how logout button works in either of Google, Facebook, Instagram, Telegram, WhatsApp, GitHub, Gitlab, Bitbucket, Trellto, ...?

I hope it is a soon to be fixed issue no matter the disagreement. But it is not my first time I bring an issue regarding auth and it gets closed without being fixed. I need a chance to discuss it in a constructive way, but I don't see

[2019-08-02 08:50] Mindexperiment commented on #29341
Thank you @gofish543 , I choose to move the public folders to a different location on webpack.mix.js for now, it's the least invasive solution.

[code]
I want to leave the framework clean, I'll address the problem when necessary in the future.

[2019-08-02 08:54] crayolaeater12 opened #29384 "Links to method definition/documentation"
Can we have links to the API documentation when methods or builders are introduced? It may be beneficial for readers... an example would be the Eloquent model method `fresh()` which may apparently accept an array or string as a `$with` for eager loading according to [api documentation](https://laravel.com/api/5.8/Illuminate/Database/Eloquent/Model.html#method_fresh) but is not in anyway stated in

[2019-08-02 08:56] driesvints commented on #29244
@halei again: this isn't a bug but the expected behavior. Also see the discussion on the PR by @dwightwatson here: https://github.com/laravel/framework/pull/29376

[2019-08-02 08:57] driesvints commented on #29384
That would be a little too much to maintain. There's so much changing on the core each day. Plus I wouldn't know how to do that since the docs are currently generated by http://sami.sensiolabs.org

[2019-08-02 08:57] #29384 closed

[2019-08-02 09:10] halaei commented on #29244
@driesvints Having a wrong expected behaviour is a bug. Your exception is against all the majority of popular applications, sites and games.

[2019-08-02 09:33] crynobone commented on #29244
The behaviour was introduce in `v5.0.30` and has gone through 2 LTS and 6 major releases (See commit <https://github.com/laravel/framework/commit/c5ac19e1eb809c486b04e0f6867aeaf0e81e7afd>). It was introduced based on proposal <https://github.com/laravel/framework/issues/2444>.

It's not a bug because it was changed to cover specific behaviour. What you are asking is a different behaviour to be cov

[2019-08-02 09:52] umer1o9 commented on #22051
my app name is in double coats but still i am getting this error, what should i do?

[2019-08-02 10:14] halaei commented on #29244
@crynobone I seems the behaviour exists in prior versions as well:
Laravel 4.0:
[code]
Even if you are right about when this behaviour was introduced, it is still a bug introduced by wrong understandings about how logout button should work.

I don't know why you make it so difficult and why you are so attached to this bug. What do you like about this bug:
1. When you login to your google account o

[2019-08-02 11:03] Idomo commented on #22051
@umer1o9 Have you tried my solution?

[2019-08-02 11:26] driesvints commented on #29244
@driesvints Having a wrong expected behaviour is a bug. Your exception is against all the majority of popular applications, sites and games.

Like @crynobone said, this behavior has been in the core for quite a while already. If we would change it now it would be too much of a breaking change for everyone relying on this behavior.

You're basically saying here that your way is the only correct way

[2019-08-02 11:53] halaei commented on #29244
Yes exactly. I am 100% against any other ways regarding how logout button should work.

I understand the value of your job. You are doing amazing and I am thankful. What I am trying to say is to give feedback about an aspect that I believe needs change: the way you close issues like this. Again if we can't understand each other regarding this, it is still fine.

We shouldn't consider breaking chan

[2019-08-02 12:21] driesvints commented on #29244
But this issue tracker isn't for feature requests or if you want to change additional behavior. It's only for tracking bugs. That's clearly indicated when you open up an issue with the issue templates. That's why I closed it. I understand that you opened the issue first because you thought it was a bug. But it's better now if you take this up in an issue on the ideas repo for further discussion.

[2019-08-02 13:52] trip-somers commented on #29280
What do you mean? Are you saying that `Mail::raw()` not being assertable _isn't_ a bug?

[2019-08-02 13:54] driesvints commented on #29280
@trip-somers your question felt more like a support question to me than a bug report. Please try a support channel first and feel free to reply back if you can confirm that there's a bug. Thanks.

[2019-08-02 14:07] trip-somers commented on #29280
None of what I said is unconfirmed. I you want me to remove the last paragraph of it, to make it feel less like a support request, I can just edit it.

[2019-08-02 14:15] ajoy39 commented on #29371
Sorry, should've been more clear. This issue was a suggestion to add a note to the 5.8 upgrade guide about this change as it is breaking (though again, a bug fix). The second part was a feature request, but it was more me thinking out loud as I have a strange tendency to do. I'll move that part to feature request, and I'm totally find with a note not being added to the upgrade guide if you don't t

[2019-08-02 14:40] HenkPoley commented on #29322
Cool, how do I "upgrade" this to a pull request: https://github.com/HenkPoley/docs/commit/dd89452661e71373b0797ef6fad9f38250d455bc

Github interface is not clear to me.

[2019-08-02 15:56] McKean commented on #29230
@Shkeats to get the date issue out of our way I did the following:

env A
[code]
env B
[code]
The one second difference is due to me switching terminal windows.
Perhaps I should do the same thing within the container just to be absolutely sure...

@driesvints we'll give this a try and report back, thanks for the idea.

[2019-08-02 16:25] ryancwalsh commented on #18613
I'm still having trouble; I don't think my weird steps posted above in February are the right approach.

I found a related issue (https://github.com/laravel/framework/issues/19556) but no solution yet.

[2019-08-02 19:34] lorisleiva opened #29394 "Scheduling jobs throws error in tests"
- Laravel Version: 5.8.30
- PHP Version: 7.2.18
- Database Driver & Version: N/A

### Description:

Running `$this->artisan('schedule:run')` in a test makes the test pass but also throws a PHP Fatal Error when a Job is scheduled in the Kernel. More generally the error occurs when using `$event->name(...)` which is included by default in the helper method `$schedule->job(...)`.

![EA-0k1NXsAEY_Qw](

[2019-08-03 02:48] bilogic opened #29398 "Route::has() does not search $this->actionList"
- Laravel Version:  5.8.26
- PHP Version: 7.2.10
- Database Driver & Version: Not applicable

### Description:
```Route::has()``` does not seem to behave as documented, i.e. it does not seem to be able to find all named routes.

### Steps To Reproduce:
I have a named route as follows:
```Route::get("load/{any}", [\controller::class, "load"])->where('any', '.*')->name("c.loader");```

I expect ```R

[2019-08-03 04:02] CJDennis opened #29400 "Why are attributes and relations mixed together?"
- Laravel Version: 5.8.28

The `Illuminate\Database\Eloquent\Model` class has many Traits, two of which are `Illuminate\Database\Eloquent\Concerns\HasAttributes` and `Illuminate\Database\Eloquent\Concerns\HasRelationships`. There is not a single mention of attributes in `HasRelationships` which is how it should be. However, there are four methods solely to do with relations in `HasAttributes`:

-

[2019-08-03 06:55] vahiiiid commented on #29190
I reproduced it in laravel 5.8 and without  ` '*' => 'array', `  it works fine!

$array = [
    ['id' => 1],
    ['id' => 1],
];
$rules = [
    '*.id' => 'required|distinct',
];
Validator::make($array, $rules)->validate();

[2019-08-03 09:54] tontonsb commented on #29400
These functions populate attributes if there's a relation with a corresponding name. But they are still attributes, just created dynamically using relations. Maybe that makes the `HasAttributes` less reusable, but I feel that these concerns are separated in traits to simplify codebase not to actually reuse them.

However, I see your point. Not that these functions should be put within `HasRelation

[2019-08-03 10:00] florentpoujol commented on #29400
Yes, almost all other traits of the base model are also dependent on each other: for instance `HasAttributes::getArrayableItems()` also calls `HidesAtributes::getHidden()`.

Really them being traits has more to do with the idea of not shoving everything in the already very long Model class, than reusing them elsewhere or really properly separating concerns.

The models attribute system is very cen

[2019-08-03 12:51] staudenmeir commented on #18694
This will be fixed in Laravel 6.0: #29393

[2019-08-03 13:59] staudenmeir commented on #29398
Are you calling `Route::has()` in `routes/web.php`? That's not possible, the route names haven't been registered at that point. You can only use `Route::has()` later on, e.g. in a controller.

[2019-08-03 14:11] bilogic commented on #29398
You are right, but I see some names in ```->nameList``` when I step into ```Route::has()```, because of this, I assumed ```->name()``` did not work.

Could you point me to where ```"c.loader"``` is loaded into ```->nameList``` by Laravel? Thank you.

[2019-08-03 14:27] staudenmeir commented on #29398
It starts here: https://github.com/laravel/framework/blob/6a3b9530f8fc0e945187425ea78920da8a89a9b9/src/Illuminate/Foundation/Support/Providers/RouteServiceProvider.php#L39

[2019-08-03 14:42] bilogic commented on #29398
Thank you!

[2019-08-03 14:42] #29398 closed

[2019-08-03 20:25] judgej commented on #22883
Just hit this. Doing a `$query->get()->count()` can be avoided by doing the count in the database instead of in application memory:

[code]

If there is some way to "wrap" a query like this, then the correct results can be achieved. It may still involve a lot of work in the database (reducing the number of select columns just for the count may help).

[2019-08-04 00:56] skalero01 commented on #27452
I am experience the same issue. Using laravel 5.8 and php 7.3

## To reproduce
Create a table
[code]

Create a model Season.php

[code]

On tinker execute `App\Season::create(['season_id'=>2018, 'name' => 'Season 2018'])`.

That returns the next message

[code]

My question is.. Why isn't returning the season_id correctly? On the database the season_id was saved correctly.

[2019-08-04 01:06] staudenmeir commented on #27452
@skalero01 That's a different issue. You need to set `public $incrementing = false;` in your model.

[2019-08-04 01:20] skalero01 commented on #27452
Thanks @staudenmeir! it worked :)

[2019-08-04 01:59] dillingham commented on #28014
This drove me insane for almost a day :)

I changed `RefreshDatabase `to `DatabaseMigrations` and it worked

[2019-08-04 10:22] aavinseth opened #29406 "prefix routes redirects to default"
- Laravel Version: 5.8.30
- PHP Version: 7.3.5
- Database Driver & Version: MariaDB 10.1.40

### Description:
created a routes with prefix and if tried to visit 123/settings/other it redirects to again to default prefix i.e 123/

Route::prefix('123')->group(function(){
Route::prefix('settings')->group(function(){
		Route::get('/', 'Controller@profile')->name('123.profile');
		Route::get('/other',

[2019-08-04 13:58] kylekatarnls opened #29411 "Unbinding $this of closure is deprecated"
- Laravel Version: 5.8 / 6.0
- PHP Version: 7.4.0 / 8.0.0

### Description:

PHP deprecate closure unbinding, so the following line:
https://github.com/laravel/framework/blob/master/src/Illuminate/Support/Traits/Macroable.php#L110

throws:
`Unbinding $this of closure is deprecated`

since PHP 7.4.0

As having a similar macro system in Carbon, I'm working on possible alternatives.

Do you plan to s

[2019-08-04 15:01] staudenmeir commented on #22029
What does the `recurring_payments` table look like before you alter it with this migration?

[2019-08-04 15:24] staudenmeir commented on #22050
This has been fixed in `doctrine/dbal 2.7.0`.

[2019-08-04 15:50] staudenmeir commented on #23433
I can't reproduce this, it works for me without the `HasEvents` trait.

Can provide a repository with a complete example?

[2019-08-04 16:23] staudenmeir commented on #24216
This is an issue with the database driver, not with Laravel. `test-without-laravel.php` uses `sqlsrv_connect()` instead of the `PDO` connection that Laravel uses (a completely different technique). You would have to compare the Laravel result with a "raw" `PDO` connection.

The query you posted works for me with the latest `pdo_sqlsrv` driver.

[2019-08-04 17:36] derekmd commented on #29411
Relevant links:

* https://github.com/php/php-src/commit/28cf080701082cbb1848d511d38cc1ecd060a752#diff-833c0daf9450be2a512d6cecf4351b6c
* https://wiki.php.net/rfc/deprecations_php_7_4#unbinding_this_from_non-static_closures
* https://news-web.php.net/php.internals/106158 (bottom paragraph)

Laravel `Macroable::macro()` calls in user-land will likely need to be refactored into class-based mixins. `

[2019-08-04 20:24] rimace commented on #29406
I cannot reproduce this with 5.8.30. Do you have any auth middleware defined? They can also be defined in the controller, so better to look there too (once had a issue like this).
Do these routes work when you are unauthenticated?

[2019-08-04 23:02] igunultas commented on #29260
@drievints

I have tried couple more combinations, but there was no luck at all. it was showing the same behavior.

and I moved on didn't change anything about it since I decided to give it a try for Redis once more. rebooted both Redis and ec2 than it started working, no idea why but I think there is some caching going on.

I tried to dig deeper on framework and checked the files that are respons

[2019-08-04 23:31] itsmill3rtime commented on #18957
To anyone having this issue still (i ran into it with Laravel 5.8), just change `processIsolation="true"` in your phpunit.xml

[code]

[2019-08-05 07:25] umer1o9 commented on #22051
@Idomo yes i tried but error is still there.

[2019-08-05 07:54] Idomo commented on #22051
@umer1o9 Make sure that you’ve wrapped all of the values in the `.env` file, also the database info and all of the values that contains some special characters (like @&$).

[2019-08-05 09:53] driesvints commented on #29371
This was probably added to the changelog which is the proper place for bug fixes, etc. The upgrade guide is only to document breaking changes on intended working features.

[2019-08-05 09:54] driesvints commented on #29322
Hey @HenkPoley. Here's a guide on how to do that: https://help.github.com/en/articles/creating-a-pull-request

[2019-08-05 10:00] driesvints commented on #29400
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-05 10:00] #29400 closed

[2019-08-05 10:47] driesvints commented on #29394
In your "name" example you're not providing the full namespace to the class in the `name` method. Try `name(MyJob::class)` instead. This should however work the same as the `job` method.

I can reproduce it but not sure what's going on. I only get one exception however when I cache the config. So maybe there's something going wrong there.

[2019-08-05 10:51] driesvints commented on #18694
Sweet. Thanks!

[2019-08-05 10:51] #18694 closed

[2019-08-05 11:03] #22050 closed

[2019-08-05 11:04] driesvints commented on #24216
Please see the answer above.

[2019-08-05 11:04] #24216 closed

[2019-08-05 11:05] driesvints commented on #29411
Hmm. We should try to get this fixed before v6.0 is out since PHP 7.4 drops in fall this year.

[2019-08-05 11:07] lorisleiva commented on #29394
Yeah, I initially had the fully qualified namespace but I used something simpler in my example to show that any string triggers the error.

[2019-08-05 11:11] driesvints commented on #29406
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-05 11:11] #29406 closed

[2019-08-05 11:13] driesvints commented on #29260
@igunultas did you read the issue I linked to?

[2019-08-05 11:14] kylekatarnls commented on #29411
@driesvints The option I took for next Carbon release is muting the errors with `@`. Of course it just postpones the problem to a later version. But it would give a few more time.

[2019-08-05 11:18] driesvints commented on #29411
@kylekatarnls yeah I'd opt to actually provide a fix already if we can.

[2019-08-05 11:39] kylekatarnls commented on #29411
Here is for the quick fix: #29418

But some testing utils throws other deprecation notices with PHP 7.4 in Travis-CI. I will try to fix them.

No fix for Laravel 5.8?

[2019-08-05 12:02] xmoroccan commented on #29411
Using error control symbol `@` is a bad practice, it can prevent other errors from being shown and/or handled, and you'll have a more time just to know what the heck is happening.
From PHP docs:

IMO, and from PR #29418 you shouldn't use `@` before a `call_user_func_array`, because we'll never know if the closure or the function typed by the developer is working and does not have any typos or any

[2019-08-05 12:05] driesvints commented on #29411
@kylekatarnls I've closed your temp fix pr. Let's try to fix the actual problem before we release 6.0

[2019-08-05 12:06] driesvints commented on #29411
No, we can't make breaking changes here.

[2019-08-05 13:06] JBtje opened #29419 "scheduleTimezone() not working for scheduled commands"
- Laravel Version: 5.7.28
- PHP Version: 7.3.2
- Database Driver & Version: MariaDB 10.2

### Description:
`scheduleTimezone()` not working for scheduled commands

### Steps To Reproduce:

**app\Console\Kernel.php**
[code]

Note: `test:cron` sends an email with content "test" to a static email address.

### Result
Email is received every minute between 12:00 and 13:00 *UTC*

### Expected
To receiv

[2019-08-05 13:09] JBtje commented on #29419
Meh, I was looking at the 5.8 docs, while using 5.7....

[2019-08-05 13:09] #29419 closed

[2019-08-05 14:07] ajoy39 commented on #29371
Okay, sounds good to me! Thanks for the explanation, appreciate it 👍

[2019-08-05 14:32] 6562680 opened #29421 "resolveTableName in BelongsToMany class awaits certain Pivot model, but Pivot models usually extending from base Pivot class"
- Laravel Version: [none], using capsule, Illuminate\Database
- PHP Version: 7.2
- Database Driver & Version: MySQL 8

### Description:
1. class Illuminate\Database\Eloquent\Relations\BelongsToMany;
2. method resolveTableName()
3.
[code]
4. Bug: Method awaits object of Pivot class instead of Pivot OR one of its children. (instanceof VS is_a())
5. Possible evade:
[code]

[2019-08-05 14:36] driesvints commented on #29421
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-05 14:36] #29421 closed

[2019-08-05 14:51] staudenmeir commented on #29421
[`instanceof`](https://www.php.net/manual/en/language.operators.type.php) *does* work with child classes:

[code]

[2019-08-05 14:59] 6562680 commented on #29421
By some reason i tried to use belongsToMany(Foo::class, FooBar::class) without ->using() and it wont work - #using property was null.

[2019-08-05 15:06] staudenmeir commented on #29421
What version of `illuminate/database` are you using?

[2019-08-05 16:00] 6562680 commented on #29421
v5.8.27

Sorry, i found why. Its because Pivot originally is a Model.
So, if i extend Eloquent\Model - i should extend Pivot too.

I tried to pass my own pivot extended from my model using Eloquent trait \AsPivot;

Of course instanceOf will not detect my own pivot...

Check should use interface iPivot, or, yes, my mistake, i should extend Eloquent\Pivot... damn it, am using extended model with my

[2019-08-06 08:46] BasMulders commented on #22029
The `after()` function also does not seem to be functioning as expected on Postgres. I think this is related to this issue, although I'm not entirely sure about that. I have created a [demo repo](https://github.com/BasMulders/laravel-postgres-migration-blueprint/commit/477215cb07e943c62f0b6e621fab156b44300b42) that demonstrates what goes wrong.

As can be seen in the demo repo, I first create a `p

[2019-08-06 08:52] ahmed-alaa commented on #26907
@sebsel Hi, did you get any updates from Mailgun regarding this case?

[2019-08-06 10:54] staudenmeir commented on #22029
@BasMulders Your issue is not related to this one.

PostgreSQL doesn't allow inserting columns at a specific position. You can only insert the new column(s) at the end or recreate the whole table.

[2019-08-06 12:42] Gegirhasut opened #29433 "Email validator is not validating domain part"
- Laravel Version: 5.8
- PHP Version: 7.2
- Database Driver & Version:

### Description:
Email validator in Laravel 5.8 accept email with wrong domain part.

### Steps To Reproduce:
1. Install Laravel 5.8
2. Add base authorization. You will have in RegisterController next function:
[code]
3. Try to Register with email "sadada@fsfdsfsdfds"- the domain part is not full.
4. Validator will accept emai

[2019-08-06 12:45] driesvints commented on #29433
This is a valid email address. Please see [the related PR](https://github.com/laravel/framework/pull/26503) and tons of closed issues in the issue tracker.

[2019-08-06 12:45] #29433 closed

[2019-08-06 12:54] X-Coder264 commented on #29433
Yep, `sadada@fsfdsfsdfds` is a valid email address (with no TLD) -> https://github.com/egulias/EmailValidator/blob/master/Tests/EmailValidator/Validation/RFCValidationTest.php#L78

See

https://github.com/laravel/framework/issues/28316
https://github.com/laravel/framework/issues/27875
https://github.com/laravel/framework/issues/28596
https://github.com/laravel/ideas/issues/1555

etc

[2019-08-06 13:24] jpswade opened #29434 "Undocumented auth:clear-resets"
The "auth:clear-resets" artisan command appears to be entirely undocumented.

[2019-08-06 13:27] driesvints commented on #29434
Feel free to send in a PR if you feel something needs to be documented.

[2019-08-06 13:27] #29434 closed

[2019-08-06 13:30] retosteffen opened #29435 "blade messes up raw html output with open="" attribute"
- Laravel Version: 5.8.26
- PHP Version: 7.3.4

I was integration MathType with TinyMCE (https://docs.wiris.com/en/mathtype/mathtype_web/integrations/html/tinymce) in my laravel app. But when I want to output the raw html in my blade template it replaces the content of the open="[" attribute with open="open". Any html tag (span, p) with an open="" attribute gets replaced with open="open", so I don

[2019-08-06 14:54] driesvints commented on #28701
I was trying to debug this but I'm currently stuck with setting up laravel-echo-server. If anyone could help out so I can debug this issue further, that'd be nice: https://github.com/tlaverdure/laravel-echo-server/issues/428

[2019-08-06 14:58] driesvints commented on #29435
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-06 14:58] #29435 closed

[2019-08-06 15:17] inotloh commented on #21365
[code]

[2019-08-06 15:48] driesvints commented on #28701
Managed to get it to work. @xiaohuilam I managed to reproduce the issue.

[2019-08-06 17:35] driesvints commented on #28701
I spent quite some time debugging this. The event gets published to Redis here: https://github.com/laravel/framework/blob/24cc1786bd55876fa52380306354772355345efd/src/Illuminate/Broadcasting/Broadcasters/RedisBroadcaster.php#L102

Until this point everything's okay. But the channel probably gets its prefix set as soon as its published on this line. I can't figure out where the event gets pulled ou

[2019-08-06 17:38] driesvints commented on #29351
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-06 17:38] #29351 closed

[2019-08-06 20:32] jbrooksuk commented on #28701
This is [now customisable](https://github.com/laravel/laravel/pull/5062) out of the box with the `REDIS_PREFIX` variable.

[2019-08-07 00:06] tillkruss opened #29441 "lte/gte/gt/lt not using custom attribute labels"
- Laravel Version: 5.8.31
- PHP Version: 7.3

### Description:

When using the `lte` or `gte` rules with a field, the custom attribute names aren't being used.

Expected:
[code]

Actual result:
[code]

Notice that it not says:

[code]

### Steps To Reproduce:

[code]

[2019-08-07 02:07] xiaohuilam commented on #28701
Better to default empty in `.env.example` (Existing project won't override the `.env` by copy `.env.example`).

[2019-08-07 02:13] caiokawasaki opened #29442 "Chained jobs are not respecting delays"
- Laravel Version: 5.8.*
- PHP Version: 7.3.4
- Database Driver & Version: mysql Ver 8.0.15 for osx10.14 on x86_64 (Homebrew)

### Description:

I am implementing server creation in Digital Ocean through my API. I currently have 5 steps, as described below:

1. Server Creation (Create a new docker image based droplet in Digital Ocean)
2. Server Authentication `('ssh-keyscan'. $ Droplet->networks[0

[2019-08-07 04:24] bryanrscott opened #29443 "5.8.30 to 5.8.31 update on postgresql causes issue"
- Laravel Version: 5.8.31
- PHP Version: 7.3
- Postgresql (homestead or AWS)

### Description:
When updating model with timestamps enabled, an exception is thrown.
Illuminate \ Database \ QueryException (42703)
SQLSTATE[42703]: Undefined column:
It looks to be thrown because the "updated_at" column in the sql is prefixed with the table name.

update "schema"."tablename" set "name" = CCCC, .....
"t

[2019-08-07 06:35] retosteffen commented on #29435
I think that blade replacing <mfenced open="[" with <mfenced open="open" is a bug.

for info to make it work with MathType with TinyMCE  set wiriseditorsavemode = safexml for MathType

[2019-08-07 06:57] LarryMckuydee opened #29444 "countBy bug, key disappear when you set 0 as the first item of array"
- Laravel Version: 5.8.27
- PHP Version: 7.3.5
- Database Driver & Version: MySQL Ver 14.14 Distrib 5.7.26

### Description:
There is a bug on countBy, where when you set 0 as the first item of array, keys for counted values will disappear

### Steps To Reproduce:
Case: `collect([1, 0, 2, 0])->countBy()->all();`
Expected: `[ 1 => 1, 0 => 2, 2 => 1]`
Actual: `[ 1 => 1, 0 => 2, 2 => 1]`

But when **

[2019-08-07 07:41] imanghafoori1 opened #29445 "Cache ttl does not update after code change"
- Laravel Version: 5.8.27
- PHP Version: 7.2.1
- Database Driver & Version: irrelevant

### Description:
When you cache a value with ttl of `5 hours` for example, and you run your code of course, the value get into the cache store.

Then if you change the $ttl down to 1 second and you start to re-run the code, you still get the cached value out of cache store, without hitting the actual underlying

[2019-08-07 08:18] mgarcia96 commented on #27913
In my case I run the `php artisan optimize` command before adding a env variable, and then the .env was cached. Simply I run `php artisan cache:clear` !!

[2019-08-07 09:40] novaknole commented on #19372
I think, if you use index and have updateorcreate method, and put that inside try catch block,  all is good.

Imagine two threads both enter the if statement. So both of them are gonna write into the database. when one will start inserting it, the table will be locked for the other one. So first one gets inserted, and another one waits. when first is done and second one starts inserting, it's gonn

[2019-08-07 09:52] matrad opened #29447 "MultiServer onOneServer sometimes executed twice when cache has been cleared on deploy"
- Laravel Version: 5.8
- PHP Version: 7.2
- Cache Driver: [Redis Sentinel](https://github.com/monospice/laravel-redis-sentinel-drivers)
- Database Driver & Version: MariaDB

### Description:

The method ```->onOneServer()``` in the ```Kernel.php``` laravel scheduler works perfectly, but at the time we make a depploy and run the command ```php artisan cache:clear``` some onOneServer commands are ex

[2019-08-07 10:12] bonzai commented on #29445
For me, it's not a bug because even if I change the TTL value, it doesn't mean previously cached data are invalid.

Can't you invalidate the cache?

[2019-08-07 10:17] LarryMckuydee commented on #29260
@igunultas

It's work for me though, I'm using laravel 5.8.27
perhaps you should check if the **queue connection and broadcast driver** really using **redis**.
Also **specify** that custom **private channel** in **routes/channel.php**

[2019-08-07 10:44] mfn commented on #29443
From https://github.com/laravel/framework/releases/tag/v5.8.31 it seems [[5.8] Fix UPDATE queries with alias](https://github.com/laravel/framework/pull/29405) fits the bill maybe? But not sure why it would.

I've also upgraded and didn't encounter this in my tests (~6k, lots of DB); can please share the exact code producing this?

Still pinging @staudenmeir to the rescue ⛑

[2019-08-07 11:17] jayked commented on #29443
#29448 Should fix this issue. Complete strings after the first `.` were used as a column which breaks when you are using schema references. In the pull request this has been changed by exploding the string on the `.` and use the latest item of the resulting array, which is the actual column.

[2019-08-07 11:20] imanghafoori1 commented on #29445
Yes, it can be solved by cache::forget.

I don't think it is an explicit bug but any way it can trip a lot of people off.
I had been with laravel since version 4.0, but it easily made me : 😨  (what's going on ???!)

I don't think new comers can figure the situation out easily while in development, so it would be frustrating for them.

[2019-08-07 12:25] jaimyborgman commented on #15179
I know that its been a long time that this discussion had its last reply; we currently have the same issue and trying to investigate whats wrong... below i'll explain what we've seen so far.

**With the following setup (forge provisioned on DO):**
PHP (7.2.19)
MySQL (5.7.27)
laravel/framework (v5.8.4)
doctrine/orm (v2.6.3)
sentry/sentry (1.10.0)
sentry/sentry-laravel (0.8.1)

Only visible while di

[2019-08-07 12:25] wenjy opened #29449 "phpredis publish not work"
- Laravel Version: 5.8.29
- PHP Version: 7.2.17
- Database Driver & Version:
Redis Extension: 4.3.0

### Description:

### Steps To Reproduce:

.env
`REDIS_CLIENT=phpredis`

database config
[code]

use \Redis is work
[code]

not work
[code]

[2019-08-07 12:34] wenjy opened #29450 "phpredis hScan While get"
- Laravel Version: 5.8.29
- PHP Version: 7.2.17
- Database Driver & Version:
Redis Extension: 4.3.0

### Description:

### Steps To Reproduce:

.env
`REDIS_CLIENT=phpredis`

database config
[code]

this is work
[code]

this is not work
[code]
This is must use $redis->client() ?

[2019-08-07 12:40] laurencei commented on #29447
To be honest - this is kind of expected behaviour. It's not a bug.

[2019-08-07 12:40] #29447 closed

[2019-08-07 12:40] laurencei commented on #29447
Hi there,

Welcome to Laravel and we are glad to have you as part of the community.

Unfortunately this GitHub area is not for ideas, suggestions etc. This is only for issues/bugs with the framework code itself.

I will be closing your ticket here. You are able to open a ticket at https://github.com/laravel/ideas

Alternatively you are able to open a PR using the Contributions guidelines: https://

[2019-08-07 12:45] staudenmeir commented on #29443
Sorry about that.

[2019-08-07 12:45] matrad commented on #29447
@laurencei ok, I'll submit a PR, I think a separate cache handler for the onOneServer would solve this problem.

[2019-08-07 13:05] staudenmeir commented on #29444
This is actually not a bug in `countBy()` but the way JSON encoding works.

PHP encodes arrays differently:
- If the array has consecutive keys starting with `0`, it gets encoded as a JSON array (second case).
- Otherwise, it gets encoded as a JSON object (first case).

What does that part of your controller look like?

[2019-08-07 13:19] tprj29 commented on #22029
@staudenmeir i'm not sure if I understand your question. I'm trying to add one column and update another column. If I do this in one migrations the column i'm trying to updated is failing (I'm trying to make the column nullable). As a workaround I just write raw statements for now.
The problem seems to be on the update of a column because I'm not able to update any column in the traditional way. E

[2019-08-07 13:25] staudenmeir commented on #22029
What does the migration that creates the table look like?

[2019-08-07 14:27] alkin commented on #23826
I am using another solution. Its definitely not the best one but since taylor already declined your pull request i would like to give my answer to this problem.

I extended the JsonResource and added a static variable named using:

[code]

Now if you use this JsonResource in your Resource you may set this variable by calling:

[code]

and in your Resource:

[code]

[2019-08-07 14:44] Shkeats commented on #29442
@caiokawasaki Have you tried just passing the seconds to the delay method as an integer instead of now()->addSeconds(), when you do that you're giving it a timestamp which in the second job in the chain will have already passed when it's executed.

The now() in your case is getting called when the job is made not when it runs. I notice the docs doesn't give an example of this but it should work.

[2019-08-07 15:01] damcclean commented on #29119
@driesvints, did you ever get round to updating monolog for Laravel? If not, I'd be happy to do it :)

[2019-08-07 15:07] #29443 closed

[2019-08-07 15:32] LarryMckuydee commented on #29444
I see,

well actually I'm not using it in controller, I use it in model to do some calculation.
And I got the **same result** doing testing in **php artisan tinker**.
but when dump inside countBy function itself,
[code]

the collection items return correctly. Perhaps anyway I can **skip the JSON encoding**?

[2019-08-07 15:42] staudenmeir commented on #29444
But the code works when you test the model in a browser or a PHPUnit test?

[2019-08-07 15:57] awebartisan commented on #28958
Hi, I am facing the mentioned issue in Laravel framework's Notification.
Laravel version 5.8.29

I have tried on fresh Laravel's copy and still facing same exception.

[2019-08-07 16:05] LarryMckuydee commented on #29444
Nope, the code doesn't work,
It return correctly only when I **dd** inside **countBy function** itself in **app/vendor/laravel/framework/src/Illuminate/Support/Collection.php**

[2019-08-07 16:05] staudenmeir commented on #29444
What does the code look like?

[2019-08-07 16:21] LarryMckuydee commented on #29444
In **app/vendor/laravel/framework/src/Illuminate/Support/Collection.php**
[code]

in terminal open repl with
`php artisan tinker`

then execute
`collect([0,1,2,0])->countBy()`

Then you should get the dump result from **dd**

[2019-08-07 16:24] staudenmeir commented on #29444
I meant the code from your model.

[2019-08-07 16:38] LarryMckuydee commented on #29444
Below is how the code look like,

**application/app/SomeModel.php**
[code]
$statuses should be an array containing count for each status

[2019-08-07 16:42] staudenmeir commented on #29444
How are you testing `someActionBetween()`? In Tinker?

[2019-08-07 16:48] LarryMckuydee commented on #29444
Yes

[2019-08-07 17:02] driesvints commented on #29119
Not yet! Feel free to do so, otherwise I'll send in a pr real soon.

[2019-08-07 17:04] staudenmeir commented on #29444
If you want to test `countBy()` with these specific values in Tinker, you need to use `dd()`.

[2019-08-07 17:16] LarryMckuydee commented on #29444
I do use `dd()` as mention I dump result with **dd**.

[2019-08-07 17:20] staudenmeir commented on #29444
What does the exact look like?

`dd(collect([0,1,2,0])->countBy())` works for me in Tinker:

[code]

[2019-08-07 17:38] damcclean commented on #29119
Alright, I'm on it!

[2019-08-07 17:38] LarryMckuydee commented on #29444
as mentioned

anyway, still if without dd() not able to get correct result,
`collect([0,1,2,0])->countBy()`
[code]

[2019-08-07 18:34] X-Coder264 commented on #29445
I think that the documentation is pretty clear on this matter. The closure will be executed and its return value will be saved with the TTL specified only when the item does not exist in the cache. There is no mention there that you can change the TTL of an existing item via the `remember` method (and it also doesn't make sense for it to behave that way IMO).

[2019-08-07 18:41] LS05 commented on #28852
Could one option be to change the `RedisServiceProvider`?

So when the `RedisManager` is [instantiated](https://github.com/laravel/framework/blob/e6c8aa0e39d8f91068ad1c299546536e9f25ef63/src/Illuminate/Redis/RedisServiceProvider.php#L21), we already know which driver is being used, or configured to be used.
So we can instantiate the connector in the `register` method of the `RedisServiceProvider`,

[2019-08-07 19:12] staudenmeir commented on #29444
Yes, but that can't be fixed. Tinker outputs arrays as JSON and that's how JSON encoding works in PHP.

[2019-08-07 19:54] trip-somers commented on #29280
Additionally, `MailFake::html()` doesn't even exist.

[2019-08-07 20:15] ryanjbonnell commented on #8547
I was running into a similar problem when running PHPUnit 7.5 tests with Laravel Lumen 5.4, which was solved by [Benjamin Kimball's solution](https://github.com/laravel/framework/issues/8547#issuecomment-97607524) to add or move the setUp() method to the base TestCase class.

The error message I was getting was "ReflectionException: Class config does not exist" when running PHPUnit:

![Screen Shot

[2019-08-07 20:50] afernandesgoahead commented on #16725
I'm in the same issue too.

Right after register it works fine, but once I logout and then log back in, auth->check returns false and redirects to login.

(Laravel 5.8)

[2019-08-07 21:05] TBlindaruk commented on #28852
@LS05 , you can send a separate PR with these changes with an explanation of why it is needed.

[2019-08-07 21:24] amirhs712 commented on #23857
@staudenmeir @farhadkb6868
Thanks, in my case a custom middleware was the cause of this issue.

[2019-08-07 21:52] imanghafoori1 commented on #29445
I think it's just weird, you have 0 for ttl but the value is coming out from the cache.

That happens in development phase when playing around, and testing the app.

[2019-08-07 22:31] Vendin commented on #28852
@mathieutu @TBlindaruk
Hello, today I learned about the "enhancement" label.
I will be happy to help, I added the test.
The test fails without commit https://github.com/laravel/framework/pull/28830/commits/74b4267278c0b80c1aec36b21dab16ba69689d20 , checked.
PR https://github.com/laravel/framework/pull/29455

[2019-08-08 01:02] LarryMckuydee commented on #29444
I see,

Perhaps can be list as known issue,
because it is also returning wrong result when cast to string.
`$foo = collect([0,1,2,0])->countBy()`

on web browser `return $foo`
`[2,1,1]`

on tinker `return $foo`
[code]

on `dd($foo)`  ps: this one correct
[code]

on `dd((string) $foo)`
`[2,1,1]`

on `echo $foo`
`[2,1,1]`

[2019-08-08 02:42] sudkumar commented on #28958
@awebartisan Yes, I can confirm that. I bootstrapped a new project (`5.8.31`) and tested. It's still there. It works when `markdown` is used instead of `view`

[code]

The issue is with the `MailMessage->render` as mentioned in the first comment (https://github.com/laravel/framework/issues/28958#issue-460803128)

@driesvints Can you please look into it ? I am happy to create a fix PR.

[2019-08-08 06:39] extsalt commented on #11235
`$capsule->setAsGlobal();`

[2019-08-08 07:58] carestad opened #29456 "[5.5] artisan migrate:fresh with --seed and --no-interact does not pass --no-interact on to seeders"
- Laravel Version: 5.5.46
- PHP Version: 7.2.19
- Database Driver & Version: libmysql - mysqlnd 5.0.12-dev - 20150407 (MariaDB 10.3.11)

### Description:

When running `php artisan migrate:fresh --seed --no-interact`, the `--no-interact` option is not passed along when running the `DatabaseSeeder`, thus I end up being asked things from my interactive seeders instead of them using the defaults.

Ru

[2019-08-08 08:15] carestad commented on #29456
It seems this is the commit that fixed this in more recent versions:

https://github.com/laravel/framework/commit/01374db3f8dfce9995370fa12a487ce10d7a4d7c

[2019-08-08 08:19] ibarral commented on #12826
Hello @swayok! did you found a solution to this? I'm having the same problem here.

Thanks!

[2019-08-08 08:26] Arxcis commented on #29456
Thank you for this workaround :+1:

[2019-08-08 08:29] swayok commented on #12826
@ibarral This problem never appeared since I upgraded app to Laravel 5.3+

[2019-08-08 08:38] sebsel commented on #26907
I did, but unfortunately, I switched jobs, so I don't have access to my e-mail history.

Of the top of my head, the solution as presented by Mailgun was to define the `to` field multiple times in the request (instead of relying on commas).

See the example taken from their [API docs](https://documentation.mailgun.com/en/latest/api-sending.html#examples):

[code]

They showed me output and examples

[2019-08-08 08:38] ibarral commented on #12826
OK, thanks for your help! I suppose that's a bug in Laravel...

[2019-08-08 11:45] georgeboot opened #29459 "When queue job class is not found, the error message is very vague"
- Laravel Version: 5.8.30
- PHP Version: 7.3.3
- Queue driver: Redis / Horizon

### Description:
When the queue worker tries to execute a job class that does not exist, it will throw the following error:
[code]

### Background:
We have separate deployments for our fpm and queue workers (Horizon).

We introduced a new Mailable: `App\Mail\PurchaseConfirmation`. This mailable was queued from fpm  to

[2019-08-08 12:28] mouyong opened #29460 "Unable to load the "app" configuration file."
- Laravel Version: #.#.#
- PHP Version: 7.2.15
- Database Driver & Version: mysql & 5.7

### Description:

when i run project in laradock on windows 10, it cant't load `config/*` file,

### Steps To Reproduce:

i try to know why, but i don't hao tow reproduce it.

storage/laravel.log have some exception.

[code]

The Finder can't scan the config dir. i want know why. but fail.

how can i do. i wan

[2019-08-08 12:46] staudenmeir commented on #29460
Please open an issue in the `laradock` repository. This doesn't look like an issue with Laravel but with your Docker environment. There was a [similar issue](https://github.com/laravel/homestead/issues/1219) with VirtualBox.

[2019-08-08 13:15] driesvints commented on #29460
Please see the answer above.

[2019-08-08 13:15] #29460 closed

[2019-08-08 13:38] driesvints commented on #29260
I'm going to close this as a duplicate of https://github.com/laravel/framework/issues/28701

I've already looked into it but currently stuck on figuring out where the messages get pulled back out from Redis. Any help is appreciated.

[2019-08-08 13:38] #29260 closed

[2019-08-08 13:40] driesvints commented on #29441
Does it work when you use `price_min` instead? I think this is probably conflicting with dot notation.

[2019-08-08 13:41] driesvints commented on #29449
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-08 13:41] #29449 closed

[2019-08-08 13:41] driesvints commented on #29450
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-08 13:41] #29450 closed

[2019-08-08 13:45] driesvints commented on #29445
This is the expected behavior.

[2019-08-08 13:45] #29445 closed

[2019-08-08 13:48] driesvints commented on #28958
Can you upload a repo to github which reproduces the problem?

[2019-08-08 13:53] driesvints commented on #29456
@carestad feel free to send in a PR to the 5.5 branch. Please be aware that support for 5.5 ends this month so make sure you upgrade soon.

[2019-08-08 14:25] driesvints commented on #29444
This is unfortunately indeed a limitation of Tinker.

[2019-08-08 14:25] #29444 closed

[2019-08-08 14:56] driesvints commented on #29459
Hey @georgeboot this is actually noted in the docs here: https://laravel.com/docs/5.8/queues#queue-workers-and-deployment

Maybe the error message can be better but that's an issue for the ideas repo. Feel free to open up an issue there if you think anything can be improved here.

Thanks.

[2019-08-08 14:56] #29459 closed

[2019-08-08 14:57] driesvints commented on #29442
Please see the answer above, thanks.

[2019-08-08 14:57] #29442 closed

[2019-08-08 15:14] sudkumar commented on #28958
@driesvints  Here it is. https://github.com/sudkumar/notification_render_issue_in_laravel

[2019-08-08 16:11] tillkruss commented on #29441
`price_min` isn't a field on the request. This is the HTML:

[code]

[2019-08-08 16:14] driesvints commented on #29441
@tillkruss I'm trying to firgure out if the dots are indeed the issue here so can you try with the `price_min` naming?

[2019-08-08 16:15] tillkruss commented on #29441
I was just testing that, you're too fast. Same error:

[code]

[2019-08-08 16:18] tillkruss commented on #29441
If the field has a value then I get a better message:

[code]

But if the field is empty, either as array `price[min]` or a regular field `price_min` I get the same message:

[code]

[2019-08-08 16:21] tillkruss commented on #22472
I just ran into this trying to use the `?|` operator and it's working as of PHP 7.4:

https://wiki.php.net/rfc/pdo_escape_placeholders

[2019-08-08 16:25] driesvints commented on #28958
@sudkumar there's no "dummy" view in your repo: https://github.com/sudkumar/notification_render_issue_in_laravel/tree/master/resources/views

Please try a support channel. Thanks.

[2019-08-08 16:37] driesvints commented on #29441
What if you try this in your validation translation file?

[code]

[2019-08-08 16:55] driesvints commented on #29119
It seems Monolog 2.0 isn't out yet. We'll have to wait with updating until it is.

[2019-08-08 17:47] tillkruss commented on #29441
I did try that initially, but it didn't work:

[code]

[2019-08-08 19:40] meijdenmedia opened #29469 "PostgreSQL model with timestamps crashes on update()"
- Laravel Version: v5.8.31
- PHP Version: 7.2.11
- Database Driver & Version: PostgreSQL 10.5

### Description:
When I update a model in a namespace the generated query is incorrect which triggers an error. The `"table".` prefix should not be added before the updated_at column.

[code]

### Steps To Reproduce:
I created a small repository so you can test it yourself and see what i've done: https:/

[2019-08-08 19:43] dunhamjared commented on #9612
Found this great Laravel extension that adds support for INSERT & UPDATE (UPSERT) and INSERT IGNORE to the query builder and Eloquent: **[staudenmeir/laravel-upsert](https://github.com/staudenmeir/laravel-upsert)**

[2019-08-08 19:44] driesvints commented on #29469
Duplicate of https://github.com/laravel/framework/issues/29443

Will be fixed in the next release on Tuesday.

[2019-08-08 19:44] #29469 closed

[2019-08-08 20:55] caiokawasaki commented on #29442
@Shkeats tried with seconds and didn't work...

[2019-08-08 23:48] adrielgro opened #29471 "Bad sintaxys with validation required_if and messages"
- Laravel Version: 5.8.23
- PHP Version: 7.2.19-0ubuntu0.18.04.1 (cli) (built: Jun  4 2019 14:48:12) ( NTS )
- Database Driver & Version: -

### Description:
In a Request when you use a validation of "Rule::requiredIf" in the method:

[code]

not work! Then i must change:
`'myfield.required_if' => 'Is required!',`
to:
`'myfield.required' => 'Is required!',`

### Steps To Reproduce:

1.- Create a R

[2019-08-09 00:38] mouyong commented on #29460
Thank your answer.

Below is laradock issue.

https://github.com/laradock/laradock/issues/2234

[2019-08-09 01:00] sudkumar commented on #28958
I am using the `welcome` view instead of a `dummy` view. Please see the Dummy notification:

https://github.com/sudkumar/notification_render_issue_in_laravel/blob/dc8a916e4b3f63d8ec84e79dcd8eb5f4f8fe0524/app/Notifications/Dummy.php#L41-L44

[2019-08-09 03:02] hxgdzyuyi commented on #19372
Is it possible to use [`INSERT ... ON DUPLICATE KEY UPDATE Syntax`](https://dev.mysql.com/doc/refman/8.0/en/insert-on-duplicate.html) ?

[2019-08-09 07:48] carestad commented on #29456
Done! #29478

Basically a cherry-picking of #27012.

[2019-08-09 09:13] driesvints commented on #28958
@sudkumar can you please try a support channel first? If you can actually confirm the bug feel free to respond back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.fre

[2019-08-09 10:15] joshua-se commented on #29471
I think it works as it should. Regardless if the requirement is conditional it's still either required or not, and should thus use ".required"

[2019-08-09 11:59] driesvints commented on #29441
Okay, just tested this with the setup from the original comment and everything works as expected:

[code]

So not sure if we're missing anyhing here?

[2019-08-09 12:01] driesvints commented on #29441
I do think the default should be `The :attribute must be greater than or equal to :value.` (notices the extra "to").

[2019-08-09 13:18] driesvints commented on #29471
That's because this rule dynamically adds a "required" rule.

[2019-08-09 13:18] #29471 closed

[2019-08-09 14:56] staudenmeir commented on #19372
@hxgdzyuyi Please see https://github.com/laravel/ideas/issues/1090#issuecomment-377351778 why that is not a universal solution for `updateOrCreate()`.

[2019-08-09 16:35] driesvints commented on #29411
Okay so here's the gist: everything will still work as is except for static macro calls. When you perform a static macro call which is a closure you'll need to make sure it's also marked the closure as static. Only the unbinding of $this for **non-static** closures is deprecated. The error message above is actually a bit misleading.

So basically the following won't work anymore:

[code]

Because

[2019-08-09 17:33] mobayen opened #29484 "possibility of increment more than one column"
it would be helpful if it was possible to increment multiple columns when updating
something like
`
Model::where('id', 2)
  ->increment(
    ['count', 'total_count'],
    ['title', 'newtitle'],
  )
`

[2019-08-09 17:40] staudenmeir commented on #29484
Please use https://github.com/laravel/ideas/issues for proposals.

[2019-08-09 18:16] davidhemphill opened #29486 "Cannot test multiple notifications when using `Notification::fake`"
- Laravel Version: 5.8.31
- PHP Version: 7.3.7
- Database Driver & Version: N/A

### Description:

When trying to test multiple calls to the Notification facade, it appears one can't assert against both of the notifications using `Notification::fake()`. There seems to be no way one could reliably access one of the single notifications to check against it as the one passed to `assertSentTo` could b

[2019-08-09 18:22] staudenmeir commented on #29484
This would also be a good first PR if you want to contribute to Laravel.