[2018-11-02 00:08] thecodingdude commented on #26340
@mfn they don't care otherwise they would implement changes to ensure breaking changes are impossible (RC's and betas for example). Guess it's easier to merge and revert users be damned.

Shame but it is what it is, they're not good at taking criticism that hurts their egos, especially Taylor who seemingly can do no wrong...

[2018-11-02 00:41] #26348 closed

[2018-11-02 00:43] noobstyle2pro commented on #26348
I'm sorry as I thought this is not an issue. thanks for your answer btw.

[2018-11-02 00:59] Rajakishore9 commented on #22878
Even I am also. These issues in local system anyone could help me out

[2018-11-02 01:11] borealsmith opened #26352 "Dissociated polymorphic query fails"
Hello,

- Laravel Version: 5.7.#
- PHP Version: >7.1.3
- Database Driver & Version: mysqk

### Description:

I have the Eloquent model Assignment which morphto Project and Task models via the assignable relations
public function assignable()
    {
        //
        return $this->morphTo();
    }

At given point in the code I dissociate the relation

$assignment->assignable()->dissociate();

After

[2018-11-02 02:38] evan1024 commented on #18170
Experiencing the same issue, but @rus-ik 's solution does not work for me.

[2018-11-02 02:42] evan1024 commented on #18170
Fixed it by doing
`    'username' => env('MAIL_USERNAME','me@host.com')
`
Rather than
`'username' => env('me@host.com')
`
in /config/mail.php

[2018-11-02 04:32] staudenmeir commented on #26352
`delete()` doesn't work on `MorphTo` relationships, even if you don't call `dissociate()` beforehand.

[2018-11-02 05:46] crcms opened #26355 "When accessing a route that does not have an action method (HTTP 405), no exception message is prompted."
- Laravel Version: #.#.#
- PHP Version:
- Database Driver & Version:

### Description:
MethodNotAllowedHttpException does not throw a Message when accessing an impermissible action method. Only one Http Code is 405.
View the code in Illuminate\Routing\RouteCollection without adding a prompt, so Exception message=''

### Steps To Reproduce:
![1](https://user-images.githubusercontent.com/22486914/47

[2018-11-02 07:07] sisve commented on #26339
Have you considered building a custom queue that would fetch from multiple queues? As an example, it could involve extending the DatabaseQueue and just remove the `WHERE queue = $queue` part of the logic that selects a new job. Or change it into `WHERE queue LIKE 'my-queues-%'`

[2018-11-02 08:02] ARKKYN commented on #26339
@sisve At which file of RedisQueue

[2018-11-02 08:09] maitandat1507 commented on #11484
But I see when you using another Model, and wanna join to the table has customized `id` field, it still return to integer again even if you using abow solution.

Solution for this issue is simple way, ALIAS `id` field to another name when you select, like:
`Foo::select('bar.id as id_bar')->join('bar', 'foo.id_bar', '=', 'bar.id')->get()`

[2018-11-02 09:10] fkulakov opened #26357 "artisan view:cache can't guarantee that all view files are compiled"
- Laravel Version: 5.7.12
- PHP Version: 7.2.11
- Database Driver & Version: Mysql 5.7.22

### Description:

Hello.

It is a usual case when application has not permissions to write to disk directly. For example you may have a few nodes with your application and you can not correct share created and changed files for all nodes after deploy your application.

In this case we can not write at runtim

[2018-11-02 09:38] borealsmith commented on #26352
Thank you for your reply. My bad.  I actually use it like this
$assignment->assignable()->first()->delete();

or in like this in a  observer for the Assignment

$assignment->assignable()->each(function ($assignable) {

$assignable->delete();

});

In both cases I get the error.

Cheers,

[2018-11-02 09:44] fkulakov commented on #26357
#26358

[2018-11-02 10:48] jackobwu commented on #26045
same problem, and solved , dut to changed in laravle new update 5.7

protected function sendResetResponse(Request $request, $response)

thank you !!!

[2018-11-02 10:54] Propaganistas commented on #25440
It surely does. Take a closer look at the [arguments list](https://github.com/laravel/framework/blob/4cb5bf13e0cd50015f8e6a420a52fa8b90758eb1/src/Illuminate/Database/Eloquent/Concerns/HasRelationships.php#L178) of `morphTo()`:

[code]

This essentially means that if you **don't** provide the `$type` and `$id` parameter the field names are determined using snake case (`field_type`,  `field_id`).

S

[2018-11-02 11:42] ekrokowski commented on #12350
@Mokolos Thank you, indeed that worked.

[2018-11-02 13:48] clytras commented on #15119
The `name` property can be used to specify a name to a prefix, though it still needs the dot to be added manually at the end:

[code]
will produce the following routes:
[code]

[2018-11-02 13:51] staudenmeir commented on #26352
`$assignment->assignable()->first()->delete()` (or just `$assignment->assignable->delete()`) works, but you have to call `dissociate()` *afterward*.

Why are you using `$assignment->assignable()->each()` when there can only be one related instance?

[2018-11-02 14:38] #25898 closed

[2018-11-02 14:53] borealsmith commented on #26352
Thank you.
I really need to call dissociate beforehand for those cases when I want to delete the assignment but not the assignable.

Actually I run into this error because I wanted to create a generic delete method for the AssignmentObserver lije this

public function deleted(Assignment $assignment)

 {

//

 $assignment->assignable()->first()->delete();

}

for those cases when I wont to delete t

[2018-11-02 15:03] staudenmeir commented on #26352
This is only possible if you store the `assignable` in a variable:

[code]

Otherwise, the required information is gone after calling `dissociate()`.

[2018-11-02 16:18] zotopteam opened #26363 "[5.7] When id without pk and increments, Change id to pk and increments , Then error！"
- Laravel Version: 5.7
- PHP Version: 7.12
- Database Driver & Version: mysql

### Description:

There is a table with a column id int, it has no pk and increments, change id to pk and increment，like this code：

[code]

it show error ：

`Incorrect table definition; there can be only one auto column and it must be defined as a key
`

if only use like this ，it is ok，but no pk with the id column

[co

[2018-11-02 16:38] staudenmeir commented on #26363
I don't think there's a way to do it in one step. Is there an issue with using two separate queries?

[2018-11-02 17:18] zotopteam commented on #26363
Thanks for your answer

Because i want to write a ui edit the table and auto create migration file; it should be in one step.

it is really strange，when use： $table->increments('id')；to create the id，it will auto primary，but when  $table->increments('id')->change(); ，it is not，i dont know why？

if the table with a column id int, it has no pk and increments, change id to pk and increment，it will ne

[2018-11-02 19:11] staudenmeir commented on #26363
The code behind this is quite complex. In your case, the first SQL statement is created by the `doctrine/dbal` package, while the second one is created by Laravel.

[2018-11-03 01:18] #19920 closed

[2018-11-03 04:33] achalj09 opened #26368 "Thows Command not found exception while command calling from Controller"
- Laravel Version: 5.7
- PHP Version:7.1
### Description:
I have created custom commad, While calling from Command Promt it execute Successfully, But while Calling from Controller It throws Command not Found Exception.

My code as below
[code]

When I debug it, I found that in Console\Application.php below code returns false.

[code]

[2018-11-03 04:43] laurencei commented on #26368
You probably need to change

`Artisan::call(`
to
`\Artisan::call(`

[2018-11-03 04:43] #26368 closed

[2018-11-03 04:48] achalj09 commented on #26368
Not Working
Also I have already include
`use Illuminate\Support\Facades\Artisan;`

[2018-11-03 05:08] laurencei commented on #26368
Are you only loading your custom command if you are in the CLI perhaps.

[2018-11-03 07:23] lazosweb opened #26370 "Datetime2 with 0 precision."
- Laravel Version: 5.5.44
- PHP Version: 7.1
- Database Driver & Version: SQL Server 2012

### Description:
SQLServerGrammar typeDateTime should accept 0 precision in case we want to use datetime2 without milliseconds. Datetime2 with 0 precision is a valid value in Microsoft SQL.

### Steps To Reproduce:
[code]

[2018-11-03 10:44] Ramapitecus opened #26372 "Facades fail to load when running a test with the @runInSeparateProcess"
- Laravel Version: 5.7.x
- PHP Version: 7.2.11
- Database Driver & Version: N/A

When trying to run a test that uses the `@runInSeparateProcess` anotation from phpunit. Facades won't load correctly. This only happens if it's not the first test to run.

### Steps To Reproduce:
    $ composer create-project --prefer-dist laravel/laravel blog #install as per the docs
    $ cd blog
    $ vim tests/Fea

[2018-11-03 11:19] arekpietrzyk commented on #26372
@Ramapitecus it works with phpunit installed in system PATH.

[code]

[2018-11-03 11:29] krishnathakur1 opened #26373 "Unable to upload indd (Adobe InDesign) File"
- Laravel Version: 5.5
- PHP Version: 7.0

### Description:
**I am trying to upload adobe indesign file with extension indd but it do not detect extension and mime type.**

look at dumper output

-test: false
  -originalName: "RESOURCES.indd"
  -mimeType: "application/octet-stream"
  -size: 1728512
  -error: 0
  #hashName: null
  path: "/tmp"
  filename: "phpEMdS6J"
  basename: "phpEMdS6J"
  pathn

[2018-11-03 11:43] arekpietrzyk commented on #26373
You need to create own validation rule to handle this. `indd` has no MIME type.

[2018-11-03 11:49] krishnathakur1 commented on #26373
Thanks, For the reply
Could you let me know the process for that ?

[2018-11-03 12:28] krishnathakur1 commented on #26373
Thanks, Bro I have fixed this issue using custom validation

[2018-11-03 12:28] #26373 closed

[2018-11-03 13:11] markdark09 commented on #25451
Just only add folder name "data" in storage/framework/ and try php artisan cache:clear.

[2018-11-03 16:41] staudenmeir commented on #26370
You can use a raw expression:

[code]

This is not ideal, but a fix would require bigger changes.

[2018-11-03 16:47] lazosweb commented on #26370
As a temporary solution I created my own package that extends the SQLServerGrammer and overwrites all those methods so that precision 0 will create a datetime2(0).

[2018-11-04 07:34] M-Adnan-Adi commented on #17508
Illuminate\Database\QueryException  : SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max key length is 767 bytes (SQL: alter table `users` add unique `users_email_unique`(`email`))

**Answer:**
**Dir:**
App/Providers/AppServiceProvider.php

**Add line in Top:**
use Illuminate\Support\Facades\Schema;

**Then:**
public function boot()
    {
        //
        Sch

[2018-11-04 11:11] bovesan commented on #21703
When casting to an array, all date serialization is handled by HasAttributes->serializeDate

### To cast dates to a timestamp integer on a single model:
[code]
### The problems with Carbon::serializeUsing:
From what I see, the current implementation of Carbon::serializeUsing is only applied in jsonSerialize, and should thus be called Carbon::jsonSerializeUsing.

We could change serializeDate() to

[2018-11-04 19:17] pablorsk opened #26383 "Do HasAttributes::originalIsEquivalent public"
This function is great for observers... For example on `saving()` event:

[code]

Is possible to change this? Or is there a reason to keep it that way?

[2018-11-04 20:18] timothymarois opened #26385 "Schema::Connection() doesn't seem to work."
- Laravel Version: 5.7
- PHP Version: 7.1
- Database Driver & Version: MySQL

### Description:

Using Schema to change Connection to another MySQL database, does not work. Still injected the tables into the default database.

This has no effect so far...
`Schema::connection('db2')`

Inside the database migration:
[code]

I have 2 databases, one for main (default) which has user details and the mig

[2018-11-04 20:50] staudenmeir commented on #26385
I can't reproduce this, `Schema::connection()` works for me.

I don't see what you could be doing differently. Does the `db2` connection work when you retrieve data?

[2018-11-04 21:03] timothymarois commented on #26385
@staudenmeir Thanks for taking a look. I've just started to get into the data retrieval process, and looks like its doing the same thing. (looks more like Laravel-wide from my setup) - I have added the property in the model to load only the connection.

`protected $connection = 'db2';`

but it does print out the error: (when running a query)

`Base table or view not found: 1146 Table 'db_content.

[2018-11-04 21:50] DmitrySkibitsky opened #26386 "The type in the table does not match with the type after the selection. Is that okay?"
Laravel Framework 5.7.9
PHP 7.2.11

Table
![deepinscreenshot_select-area_20181105000353](https://user-images.githubusercontent.com/20288556/47970458-4efd4880-e08e-11e8-81d7-bbb5ac63a1fe.png)

[code]

$order_model->user_id - for some reason string whereas in a DB there int

Or should that be the case?

[2018-11-04 22:05] staudenmeir commented on #26386
See https://stackoverflow.com/a/25692758/4848587.

[2018-11-04 22:09] timothymarois commented on #26385
Figured it out. Thanks to the Laravel slack channel. Someone pointed out clearing the Laravel cache.

`artisan config:clear`

Maybe this should be in the docs more so if the `.env` is cached by default.

[2018-11-04 22:09] #26385 closed

[2018-11-04 22:12] DmitrySkibitsky commented on #26386
@staudenmeir Understood. Apologize.

[2018-11-04 22:30] staudenmeir commented on #26386
Please close the issue.

[2018-11-04 23:10] #26386 closed

[2018-11-04 23:40] #24941 closed

[2018-11-05 00:04] laurencei commented on #26383
I'm going to close the issue here, as you've done a PR. As per the PR from Taylor - send it to the `master` branch, so it can be included in Laravel 5.8

[2018-11-05 00:04] #26383 closed

[2018-11-05 05:54] #26370 closed

[2018-11-05 08:13] RoussKS commented on #24255
@peterlupu not sure if this has been fixed in any PRs, but we have a similar issue.

If this is mainly affecting jobs, instead of adding that error to the trait's options, would it be better to reschedule a job 1 min later for example, in order to allow the sql server to restart?

Just a suggestion, not sure how easy it is to implement it. Or if this will not affect other aspects.

[2018-11-05 08:35] mikeschoneveld opened #26390 "Use of when in query when using orWhere statements"
I got a problem when I use "when" in my eloquent queries. I use "when" to check if the session exists so I can add some orWhere statements. But the output when I use "when" is different than a normal if statement. It wraps the extra where statement in the orWhere statements.

So if 1 orWhere is true it gives me result and that is nog wat I expect.

Check out the following result:

**Query**

[code

[2018-11-05 09:29] Ramapitecus commented on #26372
This is interesting. I just downloaded the phpunit-7.4.phar and ran it directly from the root of the project and it works. It also works if placed under `~/bin/` or `/usr/local/bin/`. It's not related with the folder it's running from. It just works for the manually installed version and not for the one installed by composer when creating the project.

[2018-11-05 09:55] arekpietrzyk commented on #26372
It looks like there is a specific problem with `PHPUnit 7.4.3`, because on `7.4.0` I had locally and `7.5-gbcbb5e0` downloaded as 'nightly' everything works fine.

[2018-11-05 10:11] Ramapitecus commented on #26372
Just to add to the comment above, I detected this problem on our project that uses phpunit 6.5 (laravel 5.5), but tested with a fresh install of the latest version before reporting.

[2018-11-05 11:29] ereztdev commented on #18551
Same issue here, @themsaid why would this be closed if no one solved this issue?

[2018-11-05 12:17] JayBizzle commented on #26051
Just add a bit more info, this PHP bug is related I think https://bugs.php.net/bug.php?id=53458

[2018-11-05 14:05] staudenmeir commented on #26390
What's your Laravel version?

[2018-11-05 17:22] bbashy commented on #19837
Having the same issue on latest Laravel (5.7.12). Was working in previous versions fine.

[2018-11-05 20:58] mikeschoneveld commented on #26390
@staudenmeir Thanks, I missed the ```$q``` in the where statement.

[2018-11-05 20:58] #26390 closed

[2018-11-06 09:16] andrey-helldar opened #26398 "Expected array"
- Laravel Version: 5.7.12
- PHP Version: 7.2.9
- Database Driver & Version: MySQL 8.0.13
- monolog/monolog: 1.23.0 and 1.24.0 too

### Description:
When the code throws out the event, in the console I see an error processing it:

[code]

Test code:
[code]

Error handling of exceptions in the console occurs whenever there is no catching of exceptions.

![2018-11-05_20-46-09](https://user-images.git

[2018-11-06 10:29] Jaspur opened #26399 "BroadcastServiceProvider gives /broadcasting/auth route a 302 instead of 200"
- Laravel Version: v5.7.12
- PHP Version: PHP 7.2.10-0ubuntu0.18.04.1
- Database Driver & Version: pgSQL

### Description:
The route /broadcasting/auth returns a 302 by default, because of the 'auth' middleware is added as I checked ```route:list```

### Steps To Reproduce:
- Uncomment ```App\Providers\BroadcastServiceProvider::class,``` in ```config/app.php```
- Check Chrome Dev Tools in Network

[2018-11-06 11:35] mohammedmanssour commented on #25736
Hi,
@ttsuru  I think you're working to resolve this, right? If yes, where are you at it?
for me, adding the `Illuminate\Contracts\Validation\Validator::validated()` is the best choice we have. but I don't seem to understand why It's not a recommended option?
if you're not working on this one, please let me know, because I'd like to get this as my first contribution to Laravel 😃

[2018-11-06 11:48] fagner-alves commented on #20579
Hello good day!

Has anyone got solution on user B getting the user session to? I'm having this problem.

[2018-11-06 12:56] davinchi1 opened #26400 "Logout Drop down not working"
- Laravel Version: 5.7.12
- PHP Version:7.2.0
- Database Driver & Version:

### Description

When the logged in user is clicked, the drop down option for logging out does not appear on clicking the caret or name.

### Steps To Reproduce

After running make:auth, modfifed the User model to enable verification via email. Added telescope, then ran migration. Registered and verified by email. Log out

[2018-11-06 13:13] joostbaptist opened #26401 "BelongsTo relation returns old relation when associate() is called with model ID"
- Laravel Version: 5.7.12
- PHP Version: -
- Database Driver & Version: -

### Description:

When calling `associate()` with a model ID on a `BelongsTo` relation, the foreign key is updated but the (possibly) previously loaded relation is not reset on the child model. This means that calling the relation after using `associate()` with a model ID will return the old relation, which can lead to unex

[2018-11-06 14:27] markwalet opened #26404 "Custom get mutators do not override relationship when calling `toArray()` method"
- Laravel Version: 5.7
- PHP Version: 7.2.7

### Description:
When calling the `toArray()` method on an Eloquent model, the custom get mutators are not getting called. This results in a unmutated relationship attribute.

Use case: I want to use this to always mutate the keys when my relationship get's called. I want the keys to match the id of the model. For example:

[code]

This works fine. Exce

[2018-11-06 15:19] bonzai commented on #26404
You should use `$appends` array, if you want to include accessor in the array.

https://laravel.com/docs/5.7/eloquent-serialization#appending-values-to-json

[2018-11-06 15:41] DmitryNiko commented on #25736
@mohammedmanssour  For me, this error is still a big problem in my app, which does not allow me upgrade to the latest version of Laravel. I also hope that this will be fixed soon.

[2018-11-06 15:43] markwalet commented on #26404
Didn't work because of the `toArray()` method:

[code]

The `$appends` variable is used in the `attributesToArray()` method. The relations are coming from the `relationsToArray()`.

Because the second array in `array_merge()` overwrites the first array, the plain, unmutated, relation list overwrites the mutated relation that was coming from `attributesToArray()`.

[2018-11-06 16:14] powelski commented on #26333
@hichxm what's your point?

[2018-11-06 16:46] driesvints commented on #26404
As Taylor said in the PR, mutators aren't really meant to be used with relationships so this is actually not a bug.

[2018-11-06 16:46] #26404 closed

[2018-11-06 17:05] regiszanandrea opened #26407 "Notifications are doing queries identical"
- Laravel Version: 5.7.12
- PHP Version: 7.2.7
- Database Driver & Version: MySQL 5.7

### Description:
I'm using Laravel Notifications system, and when I dispatch a notification, it's saving on the database, working fine. But, when I see the queries that Laravel do, it's doing three identical queries one after other.

This is a exemple of queries that SerializesAndRestoresModelIdentifiers.php:85

[2018-11-06 17:06] driesvints commented on #26401
Can you resend your PR to master?

[2018-11-06 17:08] joostbaptist commented on #26401
You were too fast, done ;-)

[2018-11-06 17:30] driesvints commented on #26407
I'll need more info to debug this further. Please post relevant code like jobs, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2018-11-06 17:32] driesvints commented on #26400
This works for me with a fresh Telescope setup.

Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenod

[2018-11-06 17:32] #26400 closed

[2018-11-06 17:36] davinchi1 commented on #26400
I will do a fresh install.

Thanks

[2018-11-06 17:40] driesvints commented on #26399
@Jaspur does your `Authenticate` middleware has the `expectsJson` fix that was added in a later version? https://github.com/laravel/laravel/blob/master/app/Http/Middleware/Authenticate.php

[2018-11-06 17:40] regiszanandrea commented on #26407
Hello @driesvints, thanks for the reply, I'll paste some code below:

`Notification::send(User::find(1), new TournamentPaymentWon(...));`

TournamentPaymentWon:
https://paste.laravel.io/c09d5bb5-8746-4d16-85e7-29f231a4c4cf

[2018-11-06 17:43] driesvints commented on #26407
What are you queue settings (env values)? Is this locally?

[2018-11-06 17:44] regiszanandrea commented on #26407
Sorry,

It's local, env=sync.

[2018-11-06 17:46] driesvints commented on #26407
What I *suspect* is that because of the sync driver and you using queues it emulates the behavior of a queue of serializing the model and restoring it afterwards. This all happens in one request (locally) but should be ok in production. You could perhaps try to emulate the real queue behavior locally or on a staging instance to see if it also happens there.

[2018-11-06 17:55] driesvints commented on #26398
With the above test code I get the following exception:

[code]

I'll need more info and/or code to debug this further. Please post relevant code like jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2018-11-06 18:01] driesvints commented on #26372
I can't reproduce this with the above steps.

Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.n

[2018-11-06 18:01] #26372 closed

[2018-11-06 18:10] markwalet commented on #26404
Why are they working when using the `getAttribute()` method then? That should be removed then.

[2018-11-06 18:13] regiszanandrea commented on #26407
Thanks @driesvints 💯 👍

[2018-11-06 18:13] #26407 closed

[2018-11-07 03:15] Xerotherm1c commented on #26106
At least as far as my Homestead vagrant dev box goes, I was able to overcome the 419 with a simple `vagrant box update` from version '5.1.0' to '6.3.0'. Are there specific packages in this upgrade that might cause the newer Laravel versions to throw a 419 error on older vagrant versions?

[2018-11-07 06:03] zaeemh commented on #20579
Hi @fagner-alves , I changed from nginx to apache and the issue is now resolved for me.

[2018-11-07 06:42] eleven26 opened #26415 "mysql json field cannot update nested array item through nested array's index"
- Laravel Version: 5.7.12
- PHP Version: 7.1.14
- Database Driver & Version:  MySQL 5.7.17

### Description:
Laravel framework cannot update array item through array index like: `'$.test[0].name'`, the sql generate by `\Illuminate\Database\Query\Grammars\Grammar::wrapJsonPath` seem like this `'$."test[0]".name'`,  but with double quotation mark won't update MySQL json field,  at the same time, the

[2018-11-07 07:10] fkulakov commented on #26357
Will be fixed in a future version.

[2018-11-07 07:10] #26357 closed

[2018-11-07 07:11] ttsuru commented on #25736
pull request #26417.
Because no one was response, I hesitated pull request.

[2018-11-07 08:06] andrey-helldar commented on #26398
This is both funny and not. I found a problem.
My project uses a package that is responsible for saving the exceptions to the database, then creating an application in jira and notifying in slack. This error was generated by the method of serialization of exceptions for writing. This is necessary in order to work with it as with the class of the executor during deserialization.
Why did the error o

[2018-11-07 08:06] #26398 closed

[2018-11-07 08:47] deleugpn commented on #26051
The performance impact here is incredible. Given the high (common) use of integers as foreign keys, this would be a pretty big benefit for most codebase. I know the solution isn't marvellous, but I think it would be worth pursuing.

[2018-11-07 08:55] Jaspur commented on #26399
@driesvints there is no middleware at that place and I upgraded the project from 5.6 to 5.7 only. it isn't in the upgrade guide either.

[2018-11-07 09:29] lemonhead23 commented on #21839
--configuration tag needs to be a XML File

https://phpunit.de/manual/6.5/en/appendixes.configuration.html

[2018-11-07 11:53] staudenmeir commented on #26106
@Xerotherm1c Can you reliably reproduce the issue in Homestead? What Laravel version are you using?

[2018-11-07 13:06] staudenmeir commented on #26415
I don't think we can support this because of the ambiguity:

[code]

We don't know whether the user wants to update the first array item or they have an object with a key that is actually named `foo[0]`.

The first scenario is probably more likely, but it's more complicated to implement and would be a breaking change.

[2018-11-07 13:07] renzo-s opened #26420 "Prevent namespaces starting with an integer in app:name command"
- Laravel Version: 5.7.*
- PHP Version: 7.*

### Description:
Namespaces starting with an integer are disallowed per spec in all PHP versions. Running `artisan app:name [name starting with a number]` doesn't check for this condition and replaces the namespace anyway. After this, the app is broken and retrying the `app:name [name]` will not work anymore.

### Steps To Reproduce:
- `laravel new app`

[2018-11-07 14:05] JayBizzle commented on #26051
Is it at all feasible to put any of above fixes into a package in the interim?

[2018-11-07 14:07] gilesrussi opened #26422 "Authorize middleware stopped using null values when model doesnt exists"
- Laravel Version: 5.7.*
- PHP Version:7.2
- Database Driver & Version: Not important

### Description:
As from Pull Request https://github.com/laravel/framework/pull/25763 we lost the ability to use a route parameter that may or may not exist in a "can:edit,user,company" middleware.

Before that was implemented, I had the ability to have a route /post/{post}/comment/{comment} and a route /comment

[2018-11-07 15:33] palypster opened #26424 "Dramatic difference between creating laravel project using laravel new and composer create-project"
- Laravel Version: 5.7.13
- PHP Version: 7.2
- Database Driver & Version: indifferent

### Description:
According to the documentation there are two ways of installing Laravel:
https://laravel.com/docs/5.7#installing-laravel

Either using:
[code]

or using composer:
[code]

These two leads to different codebase, that differs dramatically - there are missing some features. Diff shows the changes at

[2018-11-07 16:43] devcircus commented on #26424
Strange. I just installed using both options. The code is identical and both compile as expected.

[2018-11-07 17:46] jwhulette opened #26425 "PostgresGrammer CITEXT issue with LIKE"
- Laravel Version: 5.7
- PHP Version: 7+
- Database Driver & Version: Posgresql 10.5

### Description:
In PostgresGrammper file on line 31, the whereBasic function automatically casts the column as a TEXT. This causes issues if you use CITEXT, case-insensitive TEXT.

### Steps To Reproduce:
email = bob.smith@aol.com
Cast as TEXT - User::where('email','like','Bob.Smith@aol.com')  = NULL
Cast as TEX

[2018-11-07 18:52] staudenmeir commented on #26425
I don't see a realistic way to fix this. Use `ILIKE` instead:

[code]

[2018-11-07 18:57] shirkerohit commented on #25937
Any thoughts on this?

[2018-11-07 19:03] JayBizzle commented on #26051
@staudenmeir Yes, I agree this being in core should be the goal, was just hoping for a quick fix as we have lots of instances in our app where this problem is very apparent.

Perhaps we should create a PR to start getting feedback and discussing ideas. Might get more attention than in here.

[2018-11-07 19:07] staudenmeir commented on #26051
I'll submit a PR.

[2018-11-07 19:08] itsmill3rtime opened #26427 "Any code within the __construct of a command will execute even when a different command is called"
- Laravel Version: 5.7.*
- PHP Version: 7.2
- Database Driver & Version: MySQL 5.7

### Description:
When a command class has something in the `__construct()` method such as a db query it will execute even when a different command is called.

### Steps To Reproduce:

1. Create a command and put a query inside of the `__construct()` method like `$this-users = User::all();`
2. Run another command, a

[2018-11-07 19:36] staudenmeir commented on #26427
IMO, it's not a good practice to execute queries in the constructor. The constructor should only initialize the object but not actually "do" anything.

[2018-11-07 19:38] itsmill3rtime commented on #26427
That makes sense. But I'm still confused on why it executed. Is it because the class has to be called to get all the signatures?

[2018-11-07 19:46] staudenmeir commented on #26427
That would be my guess, too.

[2018-11-07 20:38] zahirkelloud opened #26428 "Validating a nested attribute against the 'unique:table' rule would throw a QueryException"
- Laravel Version: 5.7.12
- PHP Version: 7.2.9
- Database Driver & Version: mysqlnd 5.0.12-dev

### Description:
From the docs:
"**A Note On Nested Attributes**
If your HTTP request contains 'nested' parameters, you may specify them in your validation rules using 'dot' syntax".

Applying the `unique:table_name` rule on a nested parameter throws a `\Illuminate\Database\QueryException`.

### Steps T

[2018-11-07 20:57] staudenmeir commented on #26428
From the [documentation](https://laravel.com/docs/5.7/validation#rule-unique):

In your case, this is `role.name`. Specify a custom column name:

[code]

[2018-11-07 20:58] #26427 closed

[2018-11-07 21:48] HDVinnie commented on #26051
Surprised @taylorotwell or any of the core dev team haven't commented on this yet. Looking forward to seeing the PR.

[2018-11-07 23:07] santiagoarizti commented on #8782
All those solutions fix the problem once it is thre, but how do you recommend to avoid this issue in the first place? I have a coworker that causes this very often and I don't know how he got in that situation in the first place... does `artisan make migration` allow for this to happen? should my coworker have seen this error before he commited the migration? what are the best practices?

[2018-11-08 00:19] LucasLeandro1204 opened #26433 "Array request validation not working"
- Laravel Version: 5.7.12
- PHP Version: 7.2.11
- Database Driver & Version: Mongodb v4.0.3

### Description:

When validating an array field `foo.*.bar` it doesn't get validated if not present in request.
And if I set `foo` to be required, it returns all the fields present in `foo.*`.

### Steps To Reproduce:

[code]

[code]

So, if I set posts array to be required, and someone send random data i

[2018-11-08 00:55] staudenmeir commented on #26051
#26434

[2018-11-08 01:13] staudenmeir commented on #26433
I see why would expect a different result, but this is the correct behavior.

[2018-11-08 01:54] LucasLeandro1204 commented on #26433
You sure it is? I don't think it's, because object validation doesn't act that way.
I need the array to always be present, but this can lead to a security problem.

[2018-11-08 02:17] staudenmeir commented on #26433
What is an example of "object validation"?

[2018-11-08 02:32] LucasLeandro1204 commented on #26433
[code]

[2018-11-08 05:59] mfgabriel92 commented on #23961
Didn't work for me.

[2018-11-08 07:45] Jnesselr commented on #22951
I did! Finally. And I made a pull request to boot! (Which is linked above)

[2018-11-08 07:54] shihabudheenf opened #26439 "Laravel return object instead of array"
- Laravel Version: 5.6 and 5.7
- PHP Version: 7.2
- Database Driver & Version:

When I am using custom key numeric array and return, it will give object instead of array.

### Steps To Reproduce:

`
Route::get('foo', function () {
    return [1=>'first item','2'=>'second item'];
});
`
### Output
`{"1":"first item","2":"second item"}`

### Expected Output
`["first item","second item"]`

[2018-11-08 08:15] eddrems commented on #26311
Please how do you resolve it

[2018-11-08 08:15] deleugpn commented on #26051
It hasn't occurred to me that this is a Mysql only problem until I read the PR. It made me wonder if there's anything we can do at the query compilation time. What if we just stop using prepared statement for int values when compiling the bindings at the MySQL driver?

[2018-11-08 09:15] malinky commented on #26311
I closed this as the solution is project specific and not with the framework. It is only affecting that one project and only on the Forge environment, not my local environment. I stumbled across a fix by logging an output before calling the save method in my repository. It obviously makes no sense why this would work but it did for now and I had to move on with the project.

[code]

[2018-11-08 09:40] driesvints commented on #26399
Can you try implementing the middleware as in the skeleton and see if the problem persists?

[2018-11-08 09:44] Jaspur commented on #26399
But if it's part of the skeleton; since which version is it and if it's added in 5.7; then it's missing in the upgrade guide?

[2018-11-08 09:46] driesvints commented on #26399
I think it wasn't added to the upgrade guide at the time it was introduced because it wasn't a real necessity to upgrade.

[2018-11-08 09:48] Jaspur commented on #26399
It's a real breaking bug when you had your broadcasts working, but not anymore after upgrading because of another status-code.

[2018-11-08 09:51] AmrIKhudair opened #26440 "File deformed when request()->file() Laravel 5.7"
- Laravel Version: 5.7
- PHP Version: 7.2.1
- Database Driver & Version: Mariadb

### Description:
when I return response()->file() the return data is deformed and trimmed

### Steps To Reproduce:
1. create binary file
2. response()->file() it
3. compare output with original file

[2018-11-08 09:58] driesvints commented on #26399
@Jaspur can you perhaps post the headers or the request to the `/broadcasting/auth` endpoint? Think I might know where this is leading.

[2018-11-08 10:03] driesvints commented on #26399
@Jaspur this is for the response right? Can you also post the ones for the request?

[2018-11-08 11:35] mfn commented on #26427
There's only one reason you should put code into the constructor: when your "signature" (or description) has dynamic values. But still it should be avoided.

[2018-11-08 12:38] staudenmeir commented on #26439
`json_encode()` will only return an array if the keys are consecutive and start with `0`. Otherwise, it will return an object.

[2018-11-08 12:43] staudenmeir commented on #26433
Are you asking why you need the `'posts' => 'required'` rule? Or why the validated data contains the whole `posts` array? Or both?

[2018-11-08 12:55] tflori opened #26442 "Output migration progress during the process"
Nice try :smiley: but I'm not a fan of how things are solved in laravel and so I will just write an issue / feature request. If you are interested in it or not is up to you.

The migration system currently (at least in 5.4) gathers an array of notes that after all migrations where executed sucessfully are fetched with `Migrator::getNotes()`. The problems come up when you get an exception after exe

[2018-11-08 13:01] staudenmeir commented on #26442
This has been implemented in Laravel 5.7: #24811

[2018-11-08 13:03] driesvints commented on #26440
I'll need more info and/or code to debug this further. Please post relevant code like jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2018-11-08 13:09] driesvints commented on #26442
Please upgrade to the latest version.

[2018-11-08 13:09] #26442 closed

[2018-11-08 13:14] staudenmeir commented on #26051
@deleugpn The only way I see is adjusting `Builder::cleanBindings()`. But that wouldn't affect all queries and  isn't exactly elegant.

[2018-11-08 13:18] driesvints commented on #26439
It's indeed default behavior of the `json_encode` function. You could force this with a flag but we'd rather not influence this default behavior.

See https://3v4l.org/jcZvR

[2018-11-08 13:18] #26439 closed

[2018-11-08 13:19] AmrIKhudair commented on #26440
https://paste.laravel.io/936db17e-d063-485b-9908-78daa68370ee

[2018-11-08 13:28] FreekVR opened #26444 "New union aggregate query doesn't respect select() or selectRaw()"
- Laravel Version: 5.7.13
- PHP Version: 7.2.9
- Database Driver & Version: MySQL 5.7

### Description:
Using the new aggregate query support for pagination on UNION queries (#26365) doesn't correctly work when using custom select() or selectRaw() columns on the query.

### Steps To Reproduce:
Given the following query builder
[code]

The raw (invalid) SQL generated is as follows
[code]

Expected

[2018-11-08 13:31] driesvints commented on #26440
Are you sure the path is ok? This snippet would attempt to check for a file in an images folder outside your laravel app directory.

[2018-11-08 13:34] driesvints commented on #26433
This is the correct behavior. Since you don't explicitly tell the validation that at least one result is required the validation passes.

[2018-11-08 13:34] #26433 closed

[2018-11-08 13:38] driesvints commented on #26428
Thanks for helping @staudenmeir.

[2018-11-08 13:38] #26428 closed

[2018-11-08 13:39] #26051 closed

[2018-11-08 13:40] driesvints commented on #26425
I also believe `ILIKE` should be used in this case. Feel free to respond if you believe otherwise.

[2018-11-08 13:40] #26425 closed

[2018-11-08 13:54] driesvints commented on #26424
I can't reproduce this either. Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=larave

[2018-11-08 14:01] driesvints commented on #26422
We'll see what happens with the second PR.

[2018-11-08 14:02] driesvints commented on #26420
Just don't use a number in your namespace?

[2018-11-08 14:02] #26420 closed

[2018-11-08 14:10] ankurk91 commented on #26440
The following code works fine for me

[code]
It shows the image in browser.

[2018-11-08 14:21] zahirkelloud commented on #26428
@staudenmeir Thank you! I missed that 😅 I clearly need to review the docs 👍

[2018-11-08 14:23] driesvints commented on #26415
I'll flag this as a bug for now but I also don't really see how we could solve this soon. Feel free to send in a PR if someone can come up with a non-BC solution.

[2018-11-08 14:43] driesvints commented on #26343
This is default MySQL behavior and has nothing to do with the framework.

[2018-11-08 14:43] #26343 closed

[2018-11-08 14:49] driesvints commented on #26333
I really don't think not passing a value makes much sense even if the default behavior of the current `where` method allows this. Since it doesn't influences the query at all by just doing a where on a column without a check I don't consider this as an actual bug.

[2018-11-08 14:54] powelski commented on #26333
It does make a lot of sense for boolean values, which are also supported by SQL (WHERE without any operator).

[2018-11-08 14:55] driesvints commented on #26333
@powelski you'd still need to pass a value in this case?

[2018-11-08 14:55] powelski commented on #26333
Closing upvoted ticket with improvement suggestion, because one person thinks „it’s not a bug”? Wow.

[2018-11-08 15:00] driesvints commented on #26332
Since this has been rejected in the past I don't think a new PR will be accepted. You could propose the change in https://github.com/laravel/ideas and gather support which may convince Taylor to accept a PR.

[2018-11-08 15:00] #26332 closed

[2018-11-08 15:00] driesvints commented on #26331
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2018-11-08 15:00] #26331 closed

[2018-11-08 15:03] driesvints commented on #26323
Have you checked if https://laravel.com/docs/5.7/blade#blade-and-javascript-frameworks can help you?

[2018-11-08 15:13] ajkabajka commented on #26424
I have this issue as well. I have installed new Laravel installer (v2.0.1) on a fresh virtual server (ubuntu). The source code differs when I run `laravel new` and when I run `composer create-project`.

[2018-11-08 15:14] crcms commented on #26355
Thank you very much. Recently, I am planning to transform Laravel to support Tcp-based RCP. Because I like Laravel's style too much, it is difficult for me to choose another framework. Will there be any plans based on Laravel to develop microservices?

[2018-11-08 15:20] palypster commented on #26424
@driesvints Thanks, I'll give it a shot. Quick question: what version of installer have you tried? Did you cleared a composer cache? Because I tested it on a fresh install and on a several machines (virtual and physical) so I'm guessing there must be some cache or something on your side so you cannot reproduce it.

[2018-11-08 15:30] driesvints commented on #26317
It's best to use the way that @xuanquynh suggested. It's generally not a best practice I believe to re-use a query object for several sets of operations. Best to start with a clean one.

[2018-11-08 15:30] #26317 closed

[2018-11-08 15:35] driesvints commented on #26424
@palypster Ah I now realize what's going on. Thanks for bring this to our attention. We need to tag a new release on the skeleton repo: https://github.com/laravel/laravel/releases

Will try to do this soon.

[2018-11-08 15:51] driesvints commented on #26308
It's actually the wanted behavior. If you check the internals there's an explicit check for this:

https://github.com/laravel/framework/blob/63dd423e8c7d537d2774d9e4caf5ca16f005bc96/src/Illuminate/Support/Arr.php#L114

[2018-11-08 15:51] #26308 closed

[2018-11-08 15:53] driesvints commented on #26297
Try @staudenmeir's suggestion.

[2018-11-08 15:53] #26297 closed

[2018-11-08 16:13] driesvints commented on #26424
New release has been tagged but doesn't seems to solve the problem. I think there's still some caching issue or perhaps packagist hasn't been updated yet (even though I see the tag).

I'll retry this at a later time.

[2018-11-08 16:17] #26401 closed

[2018-11-08 16:21] driesvints commented on #25736
Will be fixed once 5.8 is released.

[2018-11-08 16:21] #25736 closed

[2018-11-08 16:22] driesvints commented on #25750
Will be fixed once 5.8 is released.

[2018-11-08 16:22] #25750 closed

[2018-11-08 17:45] BHEADRICK opened #26448 "Call to undefined method Illuminate\\Database\\Query\\Builder::getOwnerKey()"
- Laravel Version: 5.3.30
- PHP Version: 7.1.8
- Database Driver & Version: MySQL 5.6

It looks like this function was renamed from getOtherKey in Laravel 5.4, but the sleepingowl package indicates that it is compatible with laravel 5.2 and up.

[2018-11-08 17:49] staudenmeir commented on #26448
This has nothing to do with Laravel, you should create an issue in the package repository.

[2018-11-08 18:21] esmaei1 commented on #26292
In the class "Authenticate" I just override function "authenticate" and changed function "redirectTo" like this(my custom guard is "admin"):

<?php

namespace App\Http\Middleware;

use Illuminate\Auth\AuthenticationException;
use Illuminate\Auth\Middleware\Authenticate as Middleware;

class Authenticate extends Middleware
{

	protected function authenticate($request, array $guards)
	{
		if (empty(

[2018-11-08 18:44] stemis commented on #23068
I am also experiencing the same issue when upgrading from 5.5 to 5.6
This is not fixed.

As a workaround I'm calling `->fresh()` before passing it to the constructor of the job.

[2018-11-08 20:21] vahidalvandi commented on #19385
https://github.com/jenssegers/laravel-mongodb

[2018-11-08 21:33] palypster commented on #26424
I can confirm it works now, the two sources looks (almost) identical and both compiles. Thank you!

[2018-11-08 22:22] michapietsch opened #26450 "Artisan::output() returns empty string"
- Laravel Version: 5.7.13
- PHP Version: 7.1.23

### Description:
Artisan::output() only returns an empty string.

### Steps To Reproduce:
- open Tinker
- execute ```Artisan::call('inspire'); Artisan::output();```

[2018-11-08 22:51] aqeeqabbas12 commented on #20619
I want to get specific delayed job from redis queue and release it instantly?
Can you guys help me out?

[2018-11-09 01:10] powelski commented on #26333
@driesvints no, you would not need to pass a value. Just like you can do it in a query:

[code]

It would feel natural to express this way, especially that it's on par with PHP's non-empty truthfulness.

[2018-11-09 01:10] isometriq commented on #26323
yes i checked, but blade syntax would not prevent this behavior as it was content external to the blade template (from the database)

[2018-11-09 03:02] eddrems commented on #26311
Thanks for sharing your answer. At the end of the day the error was because I installed telescope, I don't know why... but after removing telescope everything worked again normally.

[2018-11-09 05:50] CyberiaResurrection commented on #23298
@staudenmeir , I've also tripped over this problem - to both cast the pivot values as a model and to also be able to access pivot model columns directly (without having to do an additional $PIVOT_MODEL::find($pivot_id) ), I have to use both ->using(... and withPivot(.... , like so:
[code]

[2018-11-09 08:50] kevinp1005 commented on #26450
@michapietsch I have this issue as well. Did you make an upgrade from previous version to 5.7 too? Fresh installation of Laravel 5.7 works just fine on `Artisan::output()`

[2018-11-09 09:20] kevinp1005 commented on #26450
Update on the issue, maybe it has something to do with laravel/telescope ?.
**Steps To Reproduce**

- create new project
- execute` Artisan::call('inspire'); Artisan::output();`
- works fine!
- install laravel/telescope :
- `composer require laravel/telescope --dev`
- `php artisan telescope:install`
- `php artisan migrate`
-  execute` Artisan::call('inspire'); Artisan::output();`
- no longer works

[2018-11-09 09:49] NoelDeMartin commented on #13773
@ameliaikeda I don't agree that this is a non-issue. Using the current implementation, executing `$table->float('some_value');` and `$table->float('some_value', 8, 6);` does not produce the same database result (the first creates a DOUBLE(8,2) column and the second a DOUBLE(8,6)). So it stands to reason that executing `$table->float('some_value', 8, 6)->change();` should update the column. This is

[2018-11-09 10:07] BenjaminHoegh commented on #19522
is this issue something there will be fixed? or do we have to use the workaround?

[2018-11-09 10:08] aman-mod commented on #21932
when i want to migrate the table the out put is this please help me!
Script @php artisan package:discover handling the post-autoload-dump event returned with error code 1

[2018-11-09 10:14] driesvints commented on #26333
Alright, wel feel free to send in a PR and see if it gets accepted.

[2018-11-09 10:16] driesvints commented on #26323
I'll need more info and/or code to debug this further. Please post relevant code like jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2018-11-09 10:16] #26424 closed

[2018-11-09 10:30] driesvints commented on #26448
Please open up an issue on their repo.

[2018-11-09 10:30] #26448 closed

[2018-11-09 10:37] driesvints commented on #26292
Think we can add this. Just pass along the guards argument to the `redirectTo` method. Feel free to send in a PR to master.

[2018-11-09 10:41] sarfraznawaz2005 commented on #26450
Should be some other solution like priority/etc instead of disabling it completely in Telescope.

[2018-11-09 10:46] agentmarine opened #26455 "TestResponse errors persist through test cases."
- Laravel Version: 5.7
- PHP Version:7.2.11
- Database Driver & Version: N/A

### Description:
Running some unit tests on some endpoints within my application, I am testing for some Malformed XML and an appropriate error, the issue I've come across is that when making a request, the response is then stored across unit test suites.

for example:

[code]
So, at the end of this test, I would expect t

[2018-11-09 10:50] kevinp1005 commented on #26450
@sarfraznawaz2005 I think in this case we need to choose either one of them, since both telescope and Artisan::output uses symfony's console BufferedOutput which empties the buffer. And so it makes it has first come first serve behaviour.

https://github.com/laravel/telescope/issues/151#issuecomment-432787712

[2018-11-09 10:54] driesvints commented on #26311
@eddrems @malinky  there's an issue about this here: https://github.com/laravel/telescope/issues/289

[2018-11-09 11:28] malinky commented on #26311
Thank you I'll take a look at that issue.

@eddrems Thanks so much. I didn't think about Telescope and removing it has fixed the issue for me too.

[2018-11-09 11:30] driesvints commented on #26455
Isn't this more of a PHPUnit error? You can btw send your headers as server vars with the call method. If you use the `post` method you can even simplify everything much more.

Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://larave

[2018-11-09 11:40] agentmarine commented on #26455
Hi @driesvints , I thought it would have been a phpunit error my self, but since its a laravel class, Phpunit's batted it back to Laravel see [#3393 @phpunit](https://github.com/sebastianbergmann/phpunit/issues/3393) .

I've spent quite a long time discussing this within the Larachat on slack already tried diagnosing this with @Wim Pruiksma

[2018-11-09 11:52] driesvints commented on #26313
Don't you just need to serialize the value the way you want in the `toArray` method?

[2018-11-09 11:57] driesvints commented on #26455
Okay. Reopening this. I don't have time to check on this myself atm but feel free to send in a PR with a test that fixes this.

[2018-11-09 13:04] driesvints commented on #26295
I'll need more info and/or code to debug this further. Please post relevant code like jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2018-11-09 13:05] driesvints commented on #26294
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs or problems. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com

[2018-11-09 13:05] #26294 closed

[2018-11-09 13:13] staudenmeir commented on #26455
Can you provide a simple example of controller & test that we can use to reproduce this issue?

[2018-11-09 13:15] driesvints commented on #26291
The docs are pretty explicit about this and the line was added over a year ago: https://github.com/laravel/docs/commit/f768e86341b34a3e188c4ef12e028f9ce017ac22

[2018-11-09 13:15] #26291 closed

[2018-11-09 13:15] driesvints commented on #26290
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2018-11-09 13:15] #26290 closed

[2018-11-09 13:17] driesvints commented on #26286
Feel free to send in a PR to master :)

[2018-11-09 13:51] agentmarine commented on #26455
OK So i've built a super simple Controller, two test cases to replicate how i have mine set up (except my test cases target two different endpoints)

You'll get some errors like this

[code]

I've attached the class & tests and a route in api, you can just drop it on top of a fresh laravel installation and use the xml below.

[code]

[tests.zip](https://github.com/laravel/framework/files/2566072/t

[2018-11-09 14:12] driesvints commented on #26247
Think a PR would be appropriate? It's probably best to also include a test.

[2018-11-09 14:20] staudenmeir commented on #23298
@CyberiaResurrection Can you please provide more details? What exactly is the issue?

[2018-11-09 14:32] driesvints commented on #26246
Sounds to me that this is more a user land error than an actual problem with the framework. You can catch the `Swift_TransportException` error yourself and handle it in your own codebase.

[2018-11-09 14:32] #26246 closed

[2018-11-09 14:34] driesvints commented on #26239
Feel free to send in a PR when you figure this out.

[2018-11-09 14:48] driesvints commented on #26224
See @staudenmeir's answer.

[2018-11-09 14:48] #26224 closed

[2018-11-09 15:32] driesvints commented on #26214
This is actually as intended. Keys aren't meant to be preserved here.

[2018-11-09 15:32] #26214 closed

[2018-11-09 15:34] driesvints commented on #26213
Heya @yuloh. This should indeed be addressed I believe. Would be great if anyone could assist with this.

[2018-11-09 15:50] driesvints commented on #26210
Heya! This is as intended. Check out the example @d1am0nd posted :)

[2018-11-09 15:50] #26210 closed

[2018-11-09 15:52] driesvints commented on #26186
This needs a little more info. What are you actually trying to do? Can you provide some code examples? How do the Redis options affect the linked code?

[2018-11-09 15:56] driesvints commented on #26179
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2018-11-09 16:11] driesvints commented on #26175
Think this is something we can add yeah. Feel free to send in a PR.

[2018-11-09 16:12] driesvints commented on #26175
To the 5.7 branch I mean.

[2018-11-09 16:14] driesvints commented on #26172
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs or problems. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com

[2018-11-09 16:14] #26172 closed

[2018-11-09 16:21] driesvints commented on #26168
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs or problems. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com

[2018-11-09 16:21] #26168 closed

[2018-11-09 16:21] driesvints commented on #26136
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs or problems. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com

[2018-11-09 16:29] driesvints commented on #26186
Ah I see. Yeah that should be made possible. Feel free to send in a PR if you know how to fix this.

[2018-11-09 16:31] driesvints commented on #25946
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2018-11-09 16:31] #25946 closed

[2018-11-09 16:32] #25894 closed

[2018-11-09 16:34] driesvints commented on #25619
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs or problems. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com

[2018-11-09 16:34] #25619 closed

[2018-11-09 16:37] staudenmeir commented on #26179
@driesvints This is a valid bug, please reopen.

[2018-11-09 16:39] driesvints commented on #26179
Okay. It seemed like this has something to do with formatting your rules properly. So I wanted to check if it could first be proven that it was an actual validation bug.

[2018-11-09 16:42] driesvints commented on #22158
Closing this as I'm afraid we can't solve this unless it's solved in the Symfony library.

[2018-11-09 16:42] #22158 closed

[2018-11-09 16:44] driesvints commented on #19388
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-09 16:44] #19388 closed

[2018-11-09 16:45] driesvints commented on #18991
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-09 16:45] #18991 closed

[2018-11-09 16:46] driesvints commented on #19399
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-09 16:46] #19399 closed

[2018-11-09 16:48] donnysim commented on #26179
From my point of view this is not a bug.

`sometimes` rule executes when the field is present - in this case `data` is always present so it will always validate it. The `required_with:rows.*.import` does not stop it from validating further, it just checks if the field exists and then checks if the value is not null or present, which further leaves the `number` validation, because the field exists

[2018-11-09 16:53] driesvints commented on #24591
Going to close this as the PRs were closed as well. I think it's best if you lay down your use case at https://github.com/laravel/ideas first to gather support and try again with the info Taylor has requested.

[2018-11-09 16:53] #24591 closed

[2018-11-09 16:57] driesvints commented on #24007
When reading the docs at https://laravel.com/docs/5.7/middleware#assigning-middleware-to-routes all the examples have the middleware call after the route definition so I think it's intended as such.

[2018-11-09 16:57] #24007 closed

[2018-11-09 16:59] driesvints commented on #23425
@sisve is right. This should be discussed in the https://github.com/laravel/ideas repo because this is a feature request.

[2018-11-09 16:59] #23425 closed

[2018-11-09 17:06] terax6669 commented on #19399
?
I just said it happened on 5.6.38... Want me to try and reproduce this on 5.7 or what?

[2018-11-09 17:18] CyberiaResurrection commented on #23298
If I define the pivot table with additional columns but don't cast the pivot values to a model, then I get a bunch of values in $foo->manyToManyRelation()->first()->pivot and not a model.  This is problematic when said pivot models also have their own, independent relations to other models (not just the implied belongsTo relations to the parent models on each side of the original M:N relation).

I

[2018-11-09 17:22] AndreaRunner opened #26462 "Errorexception rename operation not permitted"
- Laravel Version: 5.7.13
- PHP Version: 7.2.9
- Database Driver & Version: mysql

### Description:
Hi,
after a laravel fresh installation :
composer create-project --prefer-dist laravel/laravel example
and install same packages:
composer require barryvdh/laravel-debugbar
composer require adldap2/adldap2-laravel
...
if i make composer update, i have this error:
 ErrorException  : rename(/home/vagr

[2018-11-09 17:52] halaei commented on #26114
Actually I don't mind it now. It is only the case that when I use these sorts of fancy magics, I often find a way to break my code. For another example, if I recall correctly, orWhere() with 2 parameters instead of 3 didn't used to work a while ago. So maybe the longer the code the better for me 😉

[2018-11-09 18:06] neclimdul commented on #18991
Yeah, I still patch to fix this issue.

[2018-11-09 19:52] staudenmeir commented on #26455
Please add the `xmlResponse` view.

[2018-11-09 21:53] BenjaminHoegh commented on #14997
doesn't work for me 😢 and I don't have access to database settings

[2018-11-10 00:09] stonkeep opened #26463 "Laravel CORS Error after update Laravel for 5.7.13"
- Laravel Version: 5.7.13
- PHP Version: 7.2
### Description:
I've got CORS error after updated to 5.7.13.
I'm using barryvdh/laravel-cors package and ultil now I've not error CORS.
Some one knows if Laravel update have this error?
Or order package?

[2018-11-10 04:31] CyberiaResurrection commented on #23298
That will slow things down somewhat, yes.  I guess joining all pivot table columns (when using a pivot model) will be too much brute-force-over-ignorance?

[2018-11-10 09:40] sethsandaru opened #26467 "Package translation only return key in Controller"
- Laravel Version: 5.7.13
- PHP Version: 7.1.13

### Description:
Currently I'm trying to create a Laravel package. And I'm using translation too.

The `__` and `trans` functions work fine in package's View, but in package's **Controller**, it's only return the key

I'm load translation by using `loadTranslationsFrom`.

[code]

[2018-11-10 13:07] staudenmeir commented on #26239
@dwightwatson mariohbrino's suggestion is checking that:

[code]

[2018-11-10 13:12] staudenmeir commented on #23298
That's not possible: We can't just select `pivot_table.*` because we have to alias the pivot columns. In order to do this, we have to know their names.

The only way would be a separate query that retrieves the list of columns from a meta table like `information_schema.columns`.

[2018-11-10 15:15] driesvints commented on #26463
Heya, it's best that you open up an issue with their repo: https://github.com/barryvdh/laravel-cors

[2018-11-10 15:15] #26463 closed

[2018-11-10 15:18] pierreberchtold commented on #19837
Having the issue with Laravel 5.7

[2018-11-10 15:19] metrixinfo commented on #26255
**Adding this in case someone else has this issue....**

I am not using setUp() and got the same error when I try to run a whole class of tests within PHPStorm.
Running a single test did not give me the error though.

I fixed it simply by setting the following in Storm Settings under Test Frameworks :

Default configuration File: ~/myproject/phpunit.xml
Default bootstrap file: ~/myproject/vendor/a

[2018-11-10 16:32] #26444 closed

[2018-11-10 16:45] CyberiaResurrection commented on #23298
And that would defeat the point.  I'm not sure if anything can be done except updating the docs to note that my assumption doesn't hold.

[2018-11-10 21:07] deniamnet commented on #17187
Sending AJAX request on 404 to trigger the session? This is nuts!

[2018-11-11 15:43] AlOdes commented on #18053
Create .env file with your params.

[2018-11-11 21:54] irazasyed opened #26480 "[5.7] REDIS_PASSWORD `null` causes auth error with Predis."
- Laravel Version: 5.7.13
- PHP Version: 7.2.12
- Database Driver & Version: Redis 5.0.1

### Description:

Here's the error:
[code]

### Steps To Reproduce:

1. Install Laravel with `predis/predis` package with default config out of the box.
2. Set `CACHE_DRIVER=redis` in `.env`
3. Call any cache methods.

This issue is only with Predis client and not PhpRedis (Tested both). The fix for this was

[2018-11-11 21:58] irazasyed commented on #26480
FYI, This issue wasn't there before when I was using Predis with no Redis server password. Not sure why it started throwing this error since I updated Laravel version recently (Between 5.7.11-12).

[2018-11-11 22:14] irazasyed commented on #26480
Nevermind, I had reactphp packages and somehow it seems to be the reason for this issue. Removed and re-tested and it was fine. So this issue could probably be considered user-specific maybe. But the solution I've posted in OP still works fine, tho.

[2018-11-11 22:14] #26480 closed

[2018-11-11 23:01] toniperic commented on #26333
I wouldn't necessarily classify this as a bug but rather enhancement.

[2018-11-12 03:03] steve5287 commented on #17634
I fixed by just removing "defer" from script tag.
My laravel 5.7 installation included <script src="{{ asset('js/app.js') }}" defer></script> <--- this tag, so i removed the defer as i mentioned before by just leaving <script src="{{ asset('js/app.js') }}"></script> like that... It fixed now =)

[2018-11-12 05:02] enhendrickson commented on #19522
thanks to @chrisparma, I realized I needed to clear my config cache after commenting out the unix_socket - all fixed after a ```php artisan config:cache```

[2018-11-12 08:50] agentmarine commented on #26455
HI @staudenmeir I've attached it to this comment.
[xmlResponse.blade.php.zip](https://github.com/laravel/framework/files/2571180/xmlResponse.blade.php.zip)

[2018-11-12 10:02] driesvints commented on #26292
As said in the linked PRs you could easily solve this by adding a property to your middleware. So gonna close this.

[2018-11-12 10:02] #26292 closed

[2018-11-12 10:02] ttsuru commented on #25736
@Rux77 Add new test #26484
I add test. Please check this issue is fixed.

[2018-11-12 10:15] JValck opened #26485 "Setting the domain in the SMTP message id"
- Laravel Version: 5.7.13
- PHP Version: 7.2.10

### Description:
When sending an e-mail with the current default SMTP driver, the message id contains the default `@swift.generated` domain.
For some e-mail servers this triggers the anti-spam filter.
The domain part of the SMTP message-ID could be retrieved from the `APP_URL` as specified in `.env`.

### Steps To Reproduce:
1. Send an e-mail with a

[2018-11-12 10:17] driesvints commented on #26462
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs or problems. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com

[2018-11-12 10:17] driesvints commented on #26467
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs or problems. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com

[2018-11-12 10:17] #26467 closed

[2018-11-12 10:57] derekmd commented on #23130
Despite being marked `public`, I don't believe resource `toArray()` methods were ever meant to be invoked in app code. The framework has no unit tests directly calling that method. There are only integrations tests making assertions on HTTP response JSON. The docs also don't demonstrate an example call to `$resource->toArray($request)`: https://laravel.com/docs/5.7/eloquent-resources

Since the co

[2018-11-12 10:57] driesvints commented on #25736
@ttsuru can you confirm that this is actually fixed?

[2018-11-12 11:12] Rux77 commented on #25736
This problem is a big issue for a project I am working on..
For now, to solve this.. I am using this method ( which was in **laravel 5.6.*** ) and removed in later releases:
[code]

[2018-11-12 11:44] mfn commented on #26462
I believe this is yet another problem with the `PackageManifest` issue, latest PR which is on 5.7 is https://github.com/laravel/framework/pull/26254

- First added in https://github.com/laravel/framework/issues/25898
- Reverted in https://github.com/laravel/framework/pull/26231 because of all the problems
- Again added in https://github.com/laravel/framework/pull/26254

ping @driesvints

[2018-11-12 11:57] driesvints commented on #26462
Heya, sorry. Might have been a bit too quick with thinking this was a mere permission error.

From what I can understand is that the rename fails because of a permission error. This means the update is done with a different user than the user which cloned or installed the app in the first place?

I can't reproduce this locally so it should be something specific to your setup @AndreaRunner? Can you

[2018-11-12 12:00] driesvints commented on #25736
Please see my comment on said PR.

[2018-11-12 12:06] mfn commented on #26462
What I also meant/tried to say (but obviously didn't): these permission errors may do surface because of the way the PackageManfist works, by using the new `replace` method.

It creates a new file and tries to replace the old one.

The old code simply tried to overwrite.

_Might_ be the users problem exists without this, but: the new `replace` code does manually change the permissions, that's why

[2018-11-12 12:14] driesvints commented on #26485
Isn't `$_SERVER['SERVER_NAME']` used as a default here? Is this variable empty for you?

[2018-11-12 12:16] driesvints commented on #26485
See https://forge.typo3.org/issues/24686

[2018-11-12 13:06] AndreaRunner commented on #26462
@driesvints
I use Homstead, make vagrant ssh and all commands are issued with vagrant user
remember that @php artisan package:discover works fine without error

[2018-11-12 13:30] rayeddev opened #26487 "RedirectIfAuthenticated Middleware always pass $guard param null to handle function"
- Laravel Version: 5.7.13
- PHP Version: 7.1.15
- Database Driver & Version: Mysql

### Description:
at App\Http\Middleware\RedirectIfAuthenticated;

$guard param always passed null to handle function when using special as it for my case :

    public function __construct(Request $request)
    {
        $this->request = $request;
        $this->middleware("auth:members");
    }

### Steps To Repro

[2018-11-12 13:49] larsnystrom commented on #21950
For others having this problem like me:
What themsaid is saying is that you need to do `\Illuminate\Database\Eloquent\Builder::macro()` instead of `\Illuminate\Database\Query\Builder::macro()`, or possibly both.

[2018-11-12 14:08] staudenmeir commented on #26455
Shouldn't `test1Test` expect the errors in line `1`?

[2018-11-12 14:43] agentmarine commented on #26455
possibly, however, if you were to test it using something like postman, you would get the same response

![Postman example](https://puu.sh/C0ylJ/c234060973.png)

[2018-11-12 14:48] agentmarine commented on #26455
[updated tests.zip](https://github.com/laravel/framework/files/2572305/updated.tests.zip)
I've updated the tests you should get a better output from them using this where one test passes (which is correct) but the 2nd test appends the previous one.

[2018-11-12 15:04] staudenmeir commented on #26455
Running both tests combined works for me.

You must be doing something differently because I can only run the tests after removing `header('content-type', 'application/xml');`. Otherwise, I get a "Cannot modify header information" exception.

How are you running the tests?

[2018-11-12 15:09] staudenmeir commented on #26455
You have to call `libxml_clear_errors()` in your controller.

[2018-11-12 15:34] CrixuAMG opened #26490 "Calling singletons in controller constructs"
- Laravel Version: 5.7.13
- PHP Version: 7.2.11-3+ubuntu18.04.1+deb.sury.org+1 (cli) (built: Oct 25 2018 06:44:08) ( NTS )
- Database Driver & Version: MariaDB v10.1.34

### Description:
When calling `php artisan route:list` (or any command line call to a controller requiring a singleton), an exception is thrown stating that the interface cannot be instantiated.

[code]

The singleton is based on

[2018-11-12 15:53] jameswmcnab commented on #24876
Also having this problem, bit of gotcha because I don't think the docs mention this not being supported on SQLite.

[2018-11-12 16:04] Ujahmycine commented on #13154
The below will solve your problem
`composer require symfony/psr-http-message-bridge`

[2018-11-12 18:04] vesper8 commented on #23042
@miki131's approach works for me. However.. the odd thing is that if you use with() instead of withCount.. on top of with() not requiring to specify the 2nd db connection.. running ->count() on the related model fetched from with() is at least 2x as fast as when using withCount

withCount is supposed to be faster, but it seems that doing it the way @miki131 proposed, while it works, it seems less

[2018-11-12 18:35] sisve commented on #26490
There's no valid request context when executing the service providers or in the controller constructors. This has been the case since Laravel 5.3. It would probably be better to rewrite your application logic so it worked with the framework, than looking into ways to fake the paths.

[2018-11-12 20:52] gofish543 commented on #25736
Can this be merged into 5.7?
This was a critical fault introduced when 5.7 was released and it sounds like I am not the only one who is forced to use 5.6 until this is resolved.

[2018-11-13 05:34] hondaman900 commented on #19366
I had this same "Method not found in controller" issue after running composer update. This was very frustrating as I could see the method was actually there, just not being recognized by Laravel.

The issue was I had copied my controller file during development in the past, renaming the copied version, but then moved on and forgot about the renamed copied version. Since then I added a new method t

[2018-11-13 08:01] CrixuAMG commented on #26490
Do you think there's a way of setting a static path in a controller that can be used if `App::runningInConsole()` returns true?
If it cannot work in the end I'll have to think of some other way than using route based application constructing 😅

[2018-11-13 08:49] HongjiangHuang commented on #25769
I have repaired it and you can close the issues @dbudwin

[2018-11-13 08:50] HongjiangHuang commented on #25960
I have repaired it and you can close the issues @sfatihk

[2018-11-13 09:43] NordyVlasman opened #26494 "Shared hosting login redirect"
I uploaded my Laravel application to my shared hosting and got almost everything working except the authentication system. When i try to login with the default laravel authentication system. I get redirected back to the login system without any errors. To see what is going wrong check: [user.uren-management.nl ](https://user.uren-management.nl/register) . Also my log files dont give any errors and

[2018-11-13 09:52] imizallah commented on #20248
I am new to Laravel and i have a Laravel 4 project that works fine with PHP 5.6 but shows many errors with PHP 7.2. I really need help with it. My email is: ishayasunday@gmail.com.
I can email you the entire project.

[2018-11-13 10:49] kainxspirits opened #26498 "Can't resolve deferred services when using tagging"
- Laravel Version: 5.7.12
- PHP Version: 7.2.11
- Database Driver & Version: N/A

### Description:

I register multiple services in a service provider and then tag them. If the service provider has the defer property set to true, they won't be resolved (in a controller for example). If it's false it works.

Is it intended or is it a bug ? Or maybe I'm just fundamentally wrong about how tagging sho

[2018-11-13 11:04] laurencei commented on #26494
Hi there,

Welcome to Laravel and we are glad to have you as part of the community.

Unfortunately this GitHub area is not a support area for general application issues. This is only for issues/bugs with the framework code itself.

I will be closing your ticket here. Instead please try asking your question on one of the many great community support areas that will likely give you a better answer m

[2018-11-13 11:04] #26494 closed

[2018-11-13 11:17] sfatihk commented on #25960
Thank you for repair, my friend @HongjiangHuang .
I tested json example in your test case, thats works fine.

But the problem still exists on my test case.

I included your changes  #26315, didn't work,
and then i tried on laravel last commit f83eca8d31339c0f4b7fe701223592e764cefb07, didn't work too .

Best way to test this situation seems like to still write manual json format & sorted values.

I

[2018-11-13 12:12] driesvints commented on #26487
Can you post the full class with the constructor above? Where is this done? In a middleware? A controller?

`RedirectIfAuthenticated` is used when you're authed but you want the routes/views be accessible as a guest. So placing the `auth` middleware doesn't really makes sense. Are you sure you're not mistaking this with the `Authenticate` middleware?

[2018-11-13 12:16] rayeddev commented on #26487
yes sure, actually I do have different landing dashboard related to different auth guards and this is my class :

class MemberController extends Controller
{

    public function __construct(Request $request)
    {
        $this->request = $request;
        $this->middleware("auth:webMembers");
    }

... resources methods
}

[2018-11-13 13:05] andreshg112 commented on #20248
Hi, @imizallah! You can try this in app/controllers/YourController.php:

[code]

[2018-11-13 13:14] driesvints commented on #25736
The current solution cant be merged in 5.7 because it contains breaking changes.

[2018-11-13 13:38] #26286 closed

[2018-11-13 13:39] LastDragon-ru commented on #25736
It is not a "breaking changes" it is a "Changed realization" https://github.com/laravel/framework/pull/26314 😄

[2018-11-13 13:49] driesvints commented on #26462
Ok well gonna close this then as your problem was resolved.

[2018-11-13 13:49] #26462 closed

[2018-11-13 13:51] AndreaRunner commented on #26462
ok thanks !

[2018-11-13 13:55] driesvints commented on #24876
There's now an option to enable foreign keys for sqlite. Documentation was updated here: https://github.com/laravel/docs/pull/4702

You'll have to upgrade to 5.7

[2018-11-13 13:57] driesvints commented on #25769
Should be fixed in the next patch release.

[2018-11-13 13:57] #25769 closed

[2018-11-13 14:32] #26175 closed

[2018-11-13 15:06] kwebble opened #26502 "app()->handle() catches exceptions when the $catch parameter is FALSE"
- Laravel Version: 5.4.36, but code of 5.7.13 looks similar
- PHP Version: 7.1.21
- Database Driver & Version: n/a

### Description:
When calling `\Illuminate\Foundation\Application::handle()` with the `$catch` parameter set to `FALSE` exceptions are still caught.

This does not match the documented behavior for `$catch`: _Whether to catch exceptions or not_.

### Steps To Reproduce:
Call `app()->

[2018-11-13 15:41] driesvints commented on #26502
You're correct. This doesn't matches the implementation. Although I'm not sure if implementing this is wanted in terms of how Laravel processes requests.

[2018-11-13 15:45] jameswmcnab commented on #24876
@driesvints Sorry but could you re-read this issue, the PR you mention does not resolve this problem.

[2018-11-13 15:48] driesvints commented on #26490
As @sisve said, this probably will need to be solved differently. There's no request context here. It's probably best that you try one of these support channels to figure this out:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.

[2018-11-13 15:48] #26490 closed

[2018-11-13 15:49] driesvints commented on #24876
@jameswmcnab my bad! Thanks for letting me know.

[2018-11-13 16:00] Newbas opened #26505 "LogManager With Monolog Driver"
- Laravel Version: 5.6.39 & 5.7.13
- PHP Version: 7.2.10
- Database Driver & Version:

### Description:
Using Monolog driver for log manager with SocketHandler (i think same can happen with others as well) breaks application if SocketHandler throws error on connection. There is Emergency Logger that could solve it, but as i understand because SocketHandler makes connection only on write Laravel do

[2018-11-13 16:00] phroggyy commented on #26333
@driesvints could we have this relabelled as an improvement? This is not a bug – there is no documented behaviour for not passing an argument, and it will result in a breaking change. I agree that it syntactically makes more sense, but it is not a bug.

[2018-11-13 16:01] driesvints commented on #26498
This works for me. Did you add the service provider to your providers array in the `app.php` config file?

[2018-11-13 16:04] driesvints commented on #26505
Heya. Unfortunately we don't offer support for this Laravel version anymore. Can you upgrade to the latest version and see if the problem persists? Feel free to report back if it still fails in that case.

[2018-11-13 16:05] driesvints commented on #26333
Yup, I agree. Relabelled.

[2018-11-13 16:08] phroggyy commented on #26247
I think this shouldn't be considered a bug – as @xuanquynh says, you should set the `APP_URL` env variable correctly instead. For example, there's no guarantee that the server you're sending the email from is the same as the one you serve the frontend from. For example you could have a worker instance that sends queued emails, _if_ this server was at all web accessible, it might be on a different

[2018-11-13 16:14] kwebble commented on #26502
Perhaps it's not common to do this in Laravel applications.

It's used in a package for payment processing. The application provides a notification URL when creating a payment order. The package performs a HTTP POST on this URL to pass the final result of the payment order.

Errors are now detected by checking the HTTP response code after the call to `handle()`.

[2018-11-13 16:16] driesvints commented on #26505
Okay. Re-opening. I don't have time atm to dive deep into this but I've marked it as a bug so we don't lose track of this.

[2018-11-13 16:17] vasymus opened #26506 "Why in ResetCommand::getOptions() path option could be value and array, not just a value as all other Console Migrate classes"
@see Illuminate\Database\Console\Migrations\ResetCommand::getOptions() 'path' option
compare it to others:
Illuminate\Database\Console\Migrations\FreshCommand::getOptions()
Illuminate\Database\Console\Migrations\MigrateCommand::getOptions()
Illuminate\Database\Console\Migrations\RefreshCommand::getOptions()
Illuminate\Database\Console\Migrations\RollbackCommand::getOptions()
Illuminate\Database\Co

[2018-11-13 16:25] driesvints commented on #26037
A solution that comes to mind is to instead calling `toArray` is iterating over each relation and calling its `jsonSerialize` method. Or perhaps add a dedicated `relationsToJson` method.

[2018-11-13 16:26] driesvints commented on #26506
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2018-11-13 16:26] #26506 closed

[2018-11-13 16:33] pr-baernholdt commented on #5429
Same problem here  **5.7.9**

[2018-11-13 16:36] driesvints commented on #26033
The current behavior seems the expected behavior. I agree with @staudenmeir and @mfn that accessing private/protected properties is unwanted in this situation.

[2018-11-13 16:36] #26033 closed

[2018-11-13 16:39] driesvints commented on #25960
I really don't see the problem here. I agree that the spec says it should be unordered by why don't you just use `assertJson` instead?

[2018-11-13 17:04] driesvints commented on #25780
I can't reproduce this. Please share:

- The job
- The event
- The listener
- The test

Everything that's needed to reproduce this. Feel free to reply with above things and I'll gladly reopen.

[2018-11-13 17:04] #25780 closed

[2018-11-13 17:06] driesvints commented on #25765
I'll need more info and/or code to debug this further. Please post an example binary data. Please also post relevant code like jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2018-11-13 17:07] #25740 closed

[2018-11-13 17:09] driesvints commented on #25738
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-13 17:09] #25738 closed

[2018-11-13 17:50] HongjiangHuang commented on #25960
@sfatihk You can try
[code]

[2018-11-13 17:59] driesvints commented on #25729
Please check my comment on the linked issue. I think it's important to have the middleware present before trying to select a guard with the auth helper so I believe this isn't an actual bug. Feel free to respond back if you believe otherwise.

[2018-11-13 17:59] #25729 closed

[2018-11-13 17:59] driesvints commented on #25717
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-13 17:59] #25717 closed

[2018-11-13 18:42] sfatihk commented on #25960
assertjson was printing same error.

<br>

Thanks again my friend, @HongjiangHuang
 toArray() suggestion and your pr, fixed this issue.

[2018-11-13 18:42] #25960 closed

[2018-11-13 19:29] andrewalba opened #26507 "Email Verification fails to authorize route id properly"
- Laravel Version: 5.7.10
- PHP Version: 7.2.5
- Database Driver & Version: mysql:5.7

### Description:
Email verification link `/email/verify/{id}` will always return true for authenticated users regardless if route->parameter->id matches user->id.

### Steps To Reproduce:
- Register or log in as unconfirmed user "A" (user->id = 1) to generate email verification confirmation that contains email v

[2018-11-13 22:19] kainxspirits commented on #26498
Yes, the service provider is in the providers array.

I made a fresh install and still get the issue. I run the `clear-compiled` command after changing the defer property.

Here is a full example of the provider :
[code]

And I'm testing it directly in the `routes/web.php` file :
[code]

[2018-11-14 00:35] dbudwin commented on #25769
@HongjiangHuang Thanks!  I'm looking forward to the next release so I can use this patch.  When will the next release be?

[2018-11-14 03:04] luizfelippe commented on #22883
I've had the same issue and I've just solved it using **getCountForPagination()**.

So I did: `$queryWithGroupBy->getQuery()->getCountForPagination(); `

The issue with $queryWithGroupBy->get()->count() is that the query gets executed before counting the results, which is useless since you could just do **count($queryWithGroupBy->get())**.

But if you want to get the number of rows before doing an

[2018-11-14 04:18] ankurk91 commented on #26487
I don't see any issue. In my case the `guard` value is what i expected.

**app/Http/Controllers/Admin/Auth/LoginController.php**
[code]

**app/Http/Middleware/RedirectIfAuthenticated.php**
[code]

You can treat `null` as `web` the default guard.

[2018-11-14 06:46] sisve commented on #25765
@driesvints Any binary data with byte values > 127 will work to reproduce this. Either actual raw binary data, or strings in a non-UTF8 encoding. The following test can be thrown into the FoundationExceptionsHandlerTest.php to reproduce the issue.

    public function testReproduceIssue25765_iso88591()
    {
        $this->config->shouldReceive('get')->with('app.debug', null)->once()->andReturn(tr

[2018-11-14 08:03] hkhasru commented on #22051
Thanks to isneezy for suggestion fixing my problem

[2018-11-14 08:11] vasymus commented on #26506
@driesvints
"Looks like this is a question which can be asked on a support channel"(c)

can you, pls, give me the link ?

[2018-11-14 08:37] agentmarine commented on #26455
yep that seems to have fixed it thank you @staudenmeir  its bizzare, you would have thought it would have cleared it on its own.

[2018-11-14 08:37] #26455 closed

[2018-11-14 08:52] jkmetko commented on #16064
I had same problem one in a while. Solution was to manage logs, as they grow rapidly. Try to remove them (storage/logs/laravel.log), or try some of the other strategies described at https://laravel.com/docs/5.7/logging

[2018-11-14 13:07] #26271 closed

[2018-11-14 13:28] orckid-lab opened #26511 "ExtensionGuesser fails to guess for svg file"
- Laravel Version: 5.6
- PHP Version: 7.2.9

### Description:
Saving an svg file via the "store" method of the Request class fails to set the extension. The file ends up being saved with the hash and a dot at the end i.e 4fwIUbYO8KEolasAdmvRV5xDcEVOMGeA2zyoWaYk.

### Steps To Reproduce:
- Submit a file via post under an attribute i.e "file"
- Use the request instance to store the file to a specifi

[2018-11-14 13:42] ankurk91 commented on #26487
Your middlewares seems mis-configured.
I am using this package to generate scaffolding for multi-auth.

https://github.com/mtvbrianking/multi-auth
I never faced any issue.

[2018-11-14 13:47] ankurk91 commented on #26511
Most likely [symfony](https://github.com/symfony/symfony) framework issue

[2018-11-14 14:08] rayeddev commented on #26487
Great package it really saved my time its working fine now, thanks.

[2018-11-14 14:16] orckid-lab commented on #26511
I read an issue at [https://github.com/symfony/symfony/issues/8354](url) which might be related with the above. It seems Symfony does not use the mime type returned by file Upload to guess the extension. Am I correct to understand that this is not actually an issue and that for such cases we need to work around it?

[2018-11-14 14:16] NA-Dev commented on #26331
Sorry my php version is actually 7.2.10. Below is my controller code

`<?php

namespace App\Http\Controllers\Auth;

use App\Http\Controllers\Controller;
use Illuminate\Foundation\Auth\VerifiesEmails;

class VerificationController extends Controller
{
    /*
    |--------------------------------------------------------------------------
    | Email Verification Controller
    |---------------------

[2018-11-14 15:09] plumdog opened #26513 "assertExactJson false positive for JSON lists (ie non-assoc arrays)"
- Laravel Version: 5.7.11
- PHP Version: 7.1.3

### Description:

The `assertExactJson` method sorts the JSON, both in the response and in the expected data before comparing. This is not the correct way of handling JSON data if the data contains a list. Eg:
[code]
is not the same JSON as
[code]
but `assertExactJson` behaves as though they are equivalent.

In other words: for JSON comparison, assoc

[2018-11-14 15:19] InstanceOfMichael commented on #22778
I'm having the same issue in Laravel 5.5. Using any of the methods like `postJson` loose the headers when they arrive in the controller. Even $request->getMethod() doesn't return 'POST' for a 'GET' request.

[2018-11-14 15:36] HongjiangHuang commented on #26513
[code]
Do you think the above code should fail ?

[2018-11-14 15:40] InstanceOfMichael commented on #22778
I would try:
[code]
it looks like the request helper `request()` is broken during tests.

[2018-11-14 16:26] dbpolito commented on #25362
I don't think this side effect is acceptable, i think the laravel team just haven't had the time to look at this.

We probably can fix it in a way to solve the problem for `MorphTo` use case and still work as it was.

When i get time i will further investigate and maybe open a PR with a solution, but for now i downgraded to `5.6.33`.

[2018-11-14 19:05] tomfbenevides commented on #9430
@reganjohnson, your code works fine when we try to create a new record. When we want to edit a record .. this code does not work, because if I do not change the value that has the validation .. Still the error message will appear saying that we tried to add a record that already exists in the database

Ex: Edit a user and modify only the age and not the username. Still the message error will appea

[2018-11-14 19:55] devcircus commented on #9430
Sounds like a custom validation rule is needed. You can easily tweak Postgres to have the same behavior as MySQL.

[2018-11-15 02:56] ctrlaltdylan commented on #16107
Oh the joy of little hacks. Here's a simple accessor that solved the issue for me (like @hafezdivandari I too have a `parameters` attribute on my model):

[code]

[2018-11-15 03:02] vlakoff commented on #26513
For the history, see [#17809](https://github.com/laravel/framework/pull/17809/files) and https://github.com/laravel/framework/commit/0c1a306fa2b5b45a5c7f762d862ea99dd3e8b06d, where the method has been renamed (and its purpose somehow redefined).

I agree it would be more sensible to not sort the values.

[2018-11-15 05:24] JitendraThakur007 opened #26517 "PHP Laravel 5.4 Unresolvable dependency resolving [Parameter #0 [ <required> $items ]] in class Illuminate\Pagination\LengthAwarePaginator"
PHP Laravel 5.4 Unresolvable dependency resolving [Parameter #0 [ <required> $items ]] in class Illuminate\Pagination\LengthAwarePaginator

Illuminate\Contracts\Container\BindingResolutionException: Unresolvable dependency resolving [Parameter #0 [ <required> $items ]] in class Illuminate\Pagination\LengthAwarePaginator in /var/www/html/valuable-app-new/valueable_rest_app/vendor/illuminate/contain

[2018-11-15 09:11] Pefren opened #26518 "Asset import function in blade views and using php variables in assets files"
Sometimes I paste minified assets code directly on production website to prevent 'slow' <script src="..."> <link href="..."> tags (also it's reccomended by Google PageSpeed).
And It would be nice to use php variables in assets files too. So:
It would be nice to make a function that will import assets code ('.js' and '.css' files) in blade view (like `@importAsset('js/app.js')`) before rendering ph

[2018-11-15 10:22] mukeshtivari opened #26519 "custom artisan command with --env option is not working in scheduler"
- Laravel Version: 5.6.39
- PHP Version: 7.2.4
- Database Driver & Version:
5.7.21 - MySQL Community Server (GPL)

### Description:
I'm having multiple environment files for different subs like `.env.sub1`, `env.sub2` & many others and I have created a custom artisan command `daily:update` which i want to call for every sub in scheduler and each sub is having their own database and the credentials

[2018-11-15 10:29] ankurk91 commented on #26518
Who is stopping you.
Just create your own directive. :)

[2018-11-15 10:30] driesvints commented on #25765
Okay, thanks. I'll mark this as a bug and have a look at a later time. Feel free to send in a PR if you figure it out in the meantime.

[2018-11-15 10:49] Pefren commented on #26518
Didn't know about custom blade directives. Thanks a lot!

[2018-11-15 10:49] #26518 closed

[2018-11-15 11:07] driesvints commented on #26498
I finally managed to reproduce this with the above info. I'm not 100% sure if this intended or not.

What could be done to fix this is overwrite the `tagged` method on the `Application` instance the same way the `make` method is overwritten. Then load the deferred provider if the tag name was found in the `provides` array. But I'm not sure that's wanted because the tag name isn't an actual service

[2018-11-15 11:34] joruro opened #26521 "When forcing null on attributes, hasChanges does not detect changes"
- Laravel Version: 5.7
- PHP Version: 7.1

### Description:

Forcing `null` on method `isDirty`

https://github.com/laravel/framework/blob/6ff9df42c8a6d9230bbaca5171a5d6253fa71890/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L1036

Makes that `hasChanges`

https://github.com/laravel/framework/blob/6ff9df42c8a6d9230bbaca5171a5d6253fa71890/src/Illuminate/Database/Eloquent/Concerns/Has

[2018-11-15 12:11] driesvints commented on #26507
I can indeed see why this would give you trouble. Given the fact that we use user ids in the url and not a random string we should indeed require the actual user to be logged in so your solution makes sense I believe. Feel free to send in a PR to the 5.7 branch.

[2018-11-15 12:16] driesvints commented on #26511
Heya, this is indeed a symfony issue I believe. You'll have to set the extension yourself.

[2018-11-15 12:16] #26511 closed

[2018-11-15 12:31] driesvints commented on #22778
[code]

You need to set the headers before you perform the get request otherwise they won't get send along.

[code]

[2018-11-15 12:31] #22778 closed

[2018-11-15 12:52] driesvints commented on #25387
Please see the linked issue above.

[2018-11-15 12:52] #25387 closed

[2018-11-15 12:59] driesvints commented on #25362
Is this still a problem for 5.7.*? We don't support bug fixes for 5.6 anymore but could perhaps take a look at fixing this for 5.7 (if this is fixable).

[2018-11-15 13:03] driesvints commented on #26513
From the JSON spec:

Sorting shouldn't have an implication.

[2018-11-15 13:04] driesvints commented on #26517
Hey there. I'm sorry but we don't support 5.3 or 5.4 anymore. Please try to see if one of the following support channels can help you:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pr

[2018-11-15 13:04] #26517 closed

[2018-11-15 13:07] driesvints commented on #26519
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2018-11-15 13:07] #26519 closed

[2018-11-15 13:08] plumdog commented on #26513
@driesvints But also from the JSON spec:

So while sorting shouldn't have an implication for JSON objects, it should have an implication for JSON arrays.

So I stand by my example that `{"foo": [1,2]}` is not the same JSON as  `{"foo": [2,1]}`.

[2018-11-15 13:10] driesvints commented on #26521
Hmm, I see your point. Feel free to send in a PR for this.

[2018-11-15 13:11] driesvints commented on #26513
You're correct. This is indeed not intended and should be fixed.

[2018-11-15 13:12] RikSomers commented on #25362
Changing to `5.7.*` on the given test repo still produces the same effect, yes.

[2018-11-15 13:16] driesvints commented on #25829
Done!

[2018-11-15 13:16] #25829 closed

[2018-11-15 13:31] driesvints commented on #25712
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-15 13:31] #25712 closed

[2018-11-15 13:36] driesvints commented on #25691
Please try the suggestion provided by @derekmd.

[2018-11-15 13:45] driesvints commented on #25689
I think the current PR was closed because Taylor rather would want to make this configurable through a config file. We could add an option to the `view.php` file with a default value and then you can overwrite it with your preferred way?

[2018-11-15 13:49] driesvints commented on #25598
Are you sure? I think this works atm. I'll need more info and/or code to debug this further. Please post relevant code like jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2018-11-15 13:57] fitztrev commented on #25362
@RikSomers Your repo with steps to reproduce does not do a `HasMany` relationship, which is where you would see why it's not meant to work like that. The [Compoships package](https://github.com/topclaudy/compoships) does a better job explaining and illustrating the problem that I can.

[2018-11-15 14:18] RikSomers commented on #25362
@fitztrev We have since changed our code to something similar to compoships, but written in-house for our needs. But seeing that multiple people (across multiple issues) have had problems with this, I just wanted to provide as much information as I could provide in relation to our use-case in the hopes something could be provided to users that have similar needs. The repo and steps are in itself a

[2018-11-15 14:22] driesvints commented on #25587
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-15 14:22] #25587 closed

[2018-11-15 14:23] driesvints commented on #25571
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-15 14:23] #25571 closed

[2018-11-15 14:31] driesvints commented on #25495
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-15 14:31] #25495 closed

[2018-11-15 14:32] driesvints commented on #25464
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-15 14:32] #25464 closed

[2018-11-15 14:46] devinfd commented on #25362
We have also since had to change our code to something similar to compoships, thereby adding complexity. It would be great if this ability was returned to Laravel 😄

[2018-11-15 14:56] staudenmeir commented on #26521
Fix has been rejected in #23929.

[2018-11-15 15:02] driesvints commented on #25440
This is unfortunately by design and will probably not be changed anytime soon. There's also no way to defined this atm through the `morphToMany` method. I think its best to first discuss this in https://github.com/laravel/ideas if this is a wanted change. It'll definitely need to be done in a new major release to avoid breaks.

[2018-11-15 15:02] #25440 closed

[2018-11-15 15:03] driesvints commented on #25419
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-15 15:03] #25419 closed

[2018-11-15 15:05] driesvints commented on #25376
Heya. The socialite issue tracker was opened recently. If you're still experiencing this issue please open one there: https://github.com/laravel/socialite/issues

[2018-11-15 15:05] #25376 closed

[2018-11-15 15:14] driesvints commented on #25374
I think @staudenmeir's suggestion is the correct solution. This probably needs to be sent to master to avoid breaking people's validation.

[2018-11-15 15:15] driesvints commented on #25372
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-15 15:15] #25372 closed

[2018-11-15 15:47] driesvints commented on #25336
@narwy this works for me. Did you add the middleware to the `$routeMiddleware` array?

[code]

[2018-11-15 15:47] #25336 closed

[2018-11-15 15:53] driesvints commented on #25283
I guess this isn't really solvable. You either follow the redirects or assert that it has been performed.

[2018-11-15 15:53] #25283 closed

[2018-11-15 15:56] driesvints commented on #26521
@staudenmeir thanks for making me aware. As there are no plans to change this atm I'm gonna close this. Feel free to open up an issue in https://github.com/laravel/ideas to see if you can get support to change this behavior.

[2018-11-15 15:56] #26521 closed

[2018-11-15 16:09] driesvints commented on #25279
Please see @staudenmeir's remarks above. It's not wanted to call the `getRelated` method directly in your code.

[2018-11-15 16:09] #25279 closed

[2018-11-15 16:14] driesvints commented on #25250
There could be a `dissociate` method added to the `HasOne` relationship perhaps but for now you can just do `$phone->screen->phone()->dissociate();`. If you want the `dissociate` on the  `HasOne` relationship please open up an issue on https://github.com/laravel/ideas to gather support first.

[2018-11-15 16:14] #25250 closed

[2018-11-15 16:22] driesvints commented on #25277
Does the problem still happen on the latest SQlite version? Feel free to reply back if it does and I'll re-open.

[2018-11-15 16:32] #25256 closed

[2018-11-15 16:48] narwy commented on #25336
@driesvints Yes it was added to the routeMiddleware array in the kernel, Did you wrap your route in the above group? The issue is still active.

[2018-11-15 16:48] staudenmeir commented on #25277
@driesvints Two issues got a bit mixed up here: There was a bug in SQLite that has been fixed in the latest versions. The main issue is a bug in Laravel's query builder that is still unresolved.

@dariusj18, can you submit your fix as a PR? If you lack the time, I can do it.

[2018-11-15 17:22] guice commented on #18066
I literally just had to implement @chargoy's hack solution the other day to get Event triggers working for an entity model. I'm using an Observer via Model::observer(). Did something regress? Using Laravel ^5.7.x (updating often).

[2018-11-15 18:21] HongjiangHuang commented on #26505
Connection failure should be handled by the developer himself ?
I think the framework should not handle this kind of error.

[2018-11-15 19:53] leewillis77 opened #26527 "key inconsistency between base & eloquent collections"
- Laravel Version: 5.7.13
- PHP Version: 7.1.24
- Database Driver & Version: MySQL

### Description:
The documentation for eloquent collections (https://laravel.com/docs/5.7/eloquent-collections#available-methods) states that

However, there are cases where the two function differently and this can lead to subtle bugs in code built on the framework. Particularly the two collection types differ in

[2018-11-15 20:37] mfn commented on #26527
Tricky issue.

What could a non-backwards-breaking fix look like?

[2018-11-15 21:08] driesvints commented on #25336
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2018-11-15 21:41] Newbas commented on #26505
@HongjiangHuang
In my opinion there are few things. I understand that Monolog is not part of Laravel, but then it is worth to mention in documentation that such problem may arise. Cause currently such situation just kills app. Also i think it is used emergency logger before i updated, but cause i thought to use formatter settings and it works only in newer version i updated laravel.

Cause you won

[2018-11-15 22:15] mfn commented on #26505
What's the problem exactly?

It's fine that Monolog may not connect to MongoDB due to issues but it's no ok that the fallback emergency driver crashes, is that the TL;DR ?

Can you be more specific what it means "it dies"? Can you debug a big where it dies, what's going on?

[2018-11-15 23:09] whereisaaron commented on #19068
I agree with you @henritoivar `APP_URL` should do that same thing at run-time as in the console. I wondered by `APP_URL` wasn't working for deployments and this explains why.

You shouldn't need to physically copy an application in directory 'foo' just to serve it as `/foo/`. It should be able to live in the root of a application server and be served via the loadbalancer/proxy as `/foo/` and gener

[2018-11-16 01:12] kainxspirits commented on #26498
Ok. Thanks for taking time to test and for your feedback 👍

I will use an other method for now.

[2018-11-16 06:32] elinxer opened #26533 "[5.5] Mailable build the view tpl Admin/work cannot be identified"
- Laravel Version: 5.5
- PHP Version: 7.2
- Database Driver & Version:  needless

### Description:
[5.5] Mailable build the view tpl the name is work cannot be identified.
mysql system is ubuntu18.04
Under the resources/views directory,my dirname is Admin just like this `resources/views/Admin/work/test.blade.php` and content is 12312323.
And `resources/views/Admin/workkkkk/test.blade.php` is ok.
S

[2018-11-16 07:46] Newbas commented on #26505
I does not connect to MongoDB, connecting with SocketHandler to Logstash. And if it is not possible to connect to socket Monolog throws unhandled

I will try to be more precise. I already checked how it happens.

Monolog throws UnexpectedValueException [here](https://github.com/Seldaek/monolog/blob/master/src/Monolog/Handler/SocketHandler.php#L299)

Laravel on creation catches exceptions [here](ht

[2018-11-16 07:49] X-Coder264 commented on #18066
@guice The test which confirms that event dispatching works properly is still there and it's passing -> https://github.com/laravel/framework/blob/5.7/tests/Integration/Events/EventFakeTest.php

Can you please take a look at it and see what are you doing differently so that the event doesn't get properly dispatched and executed?

[2018-11-16 08:13] bruno-rodrigues commented on #24978
Is this bug back?
Laravel Framework 5.7.13

<img width="485" alt="screen shot 2018-11-16 at 7 08 35 pm" src="https://user-images.githubusercontent.com/7862345/48606426-b216a580-e9d3-11e8-8a62-975545426930.png">

[2018-11-16 08:15] edtownend commented on #24978
@bruno-rodrigues I think that's because residential_address is a key rather than a value?

[2018-11-16 08:17] bruno-rodrigues commented on #24978
There original test is:
[code]

I have simplified it for example purposes.

[2018-11-16 09:37] dionysiosarvanitis opened #26536 "Exception thrown in callable array syntax in route definition"
- Laravel Version: 5.7.13
- PHP Version: 7.2.10
- Database Driver & Version:

### Description:

When using Route registration as follows:

[code]

and `methodName` is a callable like `redirect` or `reset` then UnexpectedValueException is been triggering with message Invalid route action: [redirect].

[2018-11-16 09:59] CasperLaiTW commented on #25475
I found a way to replace sqlite connection, don't update any migration.

Hopefully can help.

[code]

[2018-11-16 10:13] mfn commented on #26505
Ah, so the exception you only get _during runtime_ not when creating the driver, so the procedure for the emergencyLogger is not possible.

I think I align with https://github.com/laravel/framework/issues/26505#issuecomment-439140229 , a runtime error of log driver should be handled more gracefully by the driver.

The same would happen if there are suddenly permission or disk space issues with the

[2018-11-16 10:49] driesvints commented on #25277
@staudenmeir gotcha

[2018-11-16 11:46] Newbas commented on #26505
It is not about my code, i had custom log manager and logger before so it is not very problematic to solve it for me.

The main thing that other people may caught this and it is not so obvious from document. As well as in my opinion default LogManager can suggest some ways to solve this problem may be through some sort of settings.

[2018-11-16 11:51] driesvints commented on #26533
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2018-11-16 11:51] #26533 closed

[2018-11-16 11:56] driesvints commented on #26536
I can't reproduce this. Have you defined the methods on your controller? Please post your controller and full `web.php` file.

[2018-11-16 11:56] #26536 closed

[2018-11-16 12:09] driesvints commented on #26527
Thanks for bringing this to our attention. Imo this should indeed be solved but the question is how.

[2018-11-16 12:14] gmsantos commented on #26505
Monolog has WhatFailureGroupHandler to ignore those failure situations:

https://github.com/Seldaek/monolog/blob/master/doc/02-handlers-formatters-processors.md#wrappers--special-handlers

It's useful if you can't guarantee a service availability but you need to keep the application working.
I think it is out of the application scope to monitor external services.

[2018-11-16 12:30] dionysiosarvanitis commented on #26536
Add the following line at web.php of a clean laravel installation

Route::get('test', [App\Controllers\Controller::class, 'redirect']);

[2018-11-16 12:32] Newbas commented on #26505
Thanks to everyone. Not sure should it appear in a feature request, but i will close it cause it is not bug. Thanks one more time for your time.

[2018-11-16 12:32] #26505 closed

[2018-11-16 12:44] driesvints commented on #25234
This is unfortunately how it works. If you want to propose a different behavior it's best to propose an idea at https://github.com/laravel/ideas

[2018-11-16 12:44] #25234 closed

[2018-11-16 12:50] driesvints commented on #25228
Isn't this more of a case where Laravel Dusk would help? Since you'll need to waiting for the streamed response to finish. In Dusk you could set up a waiting time for the streamed response to finish up and then perform assertions. I don't think this is possible in Laravel itself.

https://laravel.com/docs/5.7/dusk

Feel free to respond back if you have further feedback or believe otherwise!

[2018-11-16 12:50] #25228 closed

[2018-11-16 13:00] driesvints commented on #26536
You've added a route which doesn't links to an actual controller method.

[2018-11-16 13:02] driesvints commented on #25215
I think it's best to open up an issue in https://github.com/laravel/ideas first to see how others feel about it. If you can gather support for your use case there, it could be considered.

[2018-11-16 13:02] #25215 closed

[2018-11-16 13:15] leewillis77 commented on #26527
It would be interesting to see if the collection can understand whether it's been keyed (maybe by having the relevant methods toggle an internal flag or similar) or not, so it can use the keys if they exist, or fall back on the `$model->getKey()` behaviour.

[2018-11-16 13:31] driesvints commented on #25689
There's more to be considered though. This helper isn't the only place where it's used. On a search alone I find 9 different places where 'UTF-8' is hardcoded.

[2018-11-16 13:35] driesvints commented on #26513
Since the `assertExactJson` method has been altered a lot already in the past and in every case it breaks at least something for someone we've decided that we won't alter it any further for the time being.

[2018-11-16 13:35] #26513 closed

[2018-11-16 13:41] driesvints commented on #25214
I see the problem and agree that this might need some tweaking. I don't have time to deep dive into this atm but I'll mark it as an enhancement so someone might be able to pick this up. This isn't really a bug but something that could be improved.

[2018-11-16 13:47] plumdog commented on #26513
@driesvints I would be just about OK with that, but for the fact that it has "exact" in its name. That makes me feel like this is not merely surprising behaviour, but that the method definitely doesn't do the thing its name says it does and so is broken behaviour.

Some possible solutions that come to mind:
1. just fix `assertExactJson`.
2. fix `assertExactJson`, add a `assertJsonIgnoringOrder` (o

[2018-11-16 13:48] driesvints commented on #25189
Heya, thanks for submitting this. This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

[2018-11-16 13:48] #25189 closed

[2018-11-16 14:05] #26507 closed

[2018-11-16 15:17] devcircus commented on #26536
Just tested with the following:

[code]

[code]
Result in browser:
**"hit"**

[2018-11-16 16:15] driesvints commented on #25176
I don't think it's meant to work with this mode tbh. If you want this to be supported again it's best to open up an issue in https://github.com/laravel/ideas to get some support first.

[2018-11-16 16:15] #25176 closed

[2018-11-16 16:16] driesvints commented on #25140
Since the connection is explicitly set from the parent I think this is rather not something that'll change soon. Feel free to open up an issue in https://github.com/laravel/ideas to see if others follow your idea.

[2018-11-16 16:16] #25140 closed

[2018-11-16 16:22] driesvints commented on #25132
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-16 16:22] #25132 closed

[2018-11-16 16:30] driesvints commented on #25105
Since this is more of a feature request than an actual problem I suggest to open up an issue in https://github.com/laravel/ideas to gather support and then perhaps send in a PR.

[2018-11-16 16:30] #25105 closed

[2018-11-16 16:37] driesvints commented on #25061
You're free to create a PR and back it up with the above explanation. Just make sure you add it to the PR comment.

[2018-11-16 16:37] #25061 closed

[2018-11-16 16:41] driesvints commented on #25014
Can you try updating to the latest version and see if this fixes your problems? Some fixes for union queries are merged recently.

[2018-11-16 16:41] #25014 closed

[2018-11-16 16:42] driesvints commented on #24996
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-16 16:42] #24996 closed

[2018-11-16 18:30] apapazisis opened #26545 "Same Origin Policy(Cors) seems that not works L 5.7.13"
- Laravel Version: 5.7.13
- PHP Version: 7.1.9
- Database Driver & Version: MySQL 5.7

### Description:
When I create a middleware and return from it the $next($request) with specific headers I got error that Same Origin Policy blocked my ajax(axios) request.

In my middleware

 `return $next($request) `
             `->header('Access-Control-Allow-Origin', '*') `
             `->header('Access-Co

[2018-11-16 19:12] dionysiosarvanitis commented on #26536
I'm really sorry, my fault! Forgot the leading backslash as @driesvints said. Had more routes like this but only `redirect` and `reset` complained!

[2018-11-16 20:11] guice commented on #18066
@X-Coder264 These lines: https://github.com/laravel/framework/blob/f88917adc292e7e2960e9336a0d89206b41155fe/tests/Integration/Events/EventFakeTest.php#L65-L66

You're attaching the `::observe()` after calling `::fake()`. We're calling ::observe before ::fake is called. What happens if you flip line 64 and 65?

Note, order of operation:
[code]
Observer is attached in `AppServiceProvider::boot()`, b

[2018-11-16 20:43] vlakoff commented on #26513
I'd suggest:
* `assertSameJson` (fixed behavior)
* `assertSameJsonIgnoringIndexes` (current behavior)

<br>The latter could be useful for cases like: `userRights: ['admin', 'dictator', 'moderator']`
where we are looking for "flags" regardless of their order.

[2018-11-17 08:37] gharabaghi opened #26546 "Laravel broke after app:name -v 5.7.6"
after running app:name laravel throws an exception:
message: Class 'App\Providers\AppServiceProvider' not found
file: vendor/laravel/framework/src/Illuminate/Foundation/ProviderRepository.php
line: 208: return new $provider($this->app);

config:cache and composer dump-autoload not working.

[2018-11-17 16:05] staudenmeir commented on #26546
It works for me. Can you reproduce this on a fresh Laravel installation?

[2018-11-17 19:19] VokaMut opened #26547 ""php artisan migrate --verbose" not working"
- Laravel Version: 5.7.13
- PHP Version: 7.1.21
- Database Driver & Version: MySQL 5.7.23

### Description:
Not working verbose option in any migrate commands
php artisan migrate[:ANY] [-v|-vv|-vvv|--verbose]

### Steps To Reproduce:
1. Create migration
2. Apply migration with any verbose options
3. See:
Migrating: 2018_11_17_153848_add_test_table
Migrated:  2018_11_17_153848_add_test_table

[2018-11-17 19:33] staudenmeir commented on #26547
What output are you excepting?

[2018-11-17 20:29] VokaMut commented on #26547
Something else:
[code]

[2018-11-17 21:07] staudenmeir commented on #26547
That's not the purpose of the verbosity options in Laravel.

These options only affect the output in case of an error.

[2018-11-18 00:07] #26547 closed

[2018-11-18 06:14] gharabaghi commented on #26546
i will try.

[2018-11-18 09:02] PieterjanDeClippel opened #26549 "Cannot install Laravel: continue targeting switch is equivalent to break. Did you mean to use continue 2?"
- **PHP Version:** 7.3
- **Database Driver & Version:** 10.1.23-MariaDB-9+deb9u1 Raspbian 9.0
- **Apache Version:**
* Server version: Apache/2.4.25 (Raspbian)
* Server built:   2018-11-03T18:46:19
- **uname -r:** 4.14.80-v7+
- **node:** 8.12.0

### Description:
I'm trying to pull laravel from composer. When I do I'm getting this error
`"continue" targeting switch is equivalent to "break". Did you

[2018-11-18 16:38] staudenmeir commented on #26549
I can't reproduce this, PHP 7.3 works for me. Does the error provide a stacktrace?

[2018-11-18 17:17] ahinkle commented on #26546
Try to run `config:cache` command, if you can't delete file `bootstrap/cache/config.php` and then re-run `config:cache` command and everything will be fine again.

[2018-11-18 21:06] sisve commented on #26549
This sounds like something a code analysis tool would say. Do you perhaps have any code analysis setup in any git hooks?

[2018-11-18 23:18] laurencei commented on #26546
Closing as not framework related.

[2018-11-18 23:18] #26546 closed

[2018-11-19 00:40] laurencei commented on #26549
Hi there,

Welcome to Laravel and we are glad to have you as part of the community.

Unfortunately this GitHub area is not a support area for general application issues. This is only for issues/bugs with the framework code itself.

I will be closing your ticket here. Instead please try asking your question on one of the many great community support areas that will likely give you a better answer m

[2018-11-19 00:40] #26549 closed

[2018-11-19 01:45] ip174 commented on #16064
**sudo chmod -R o+w storage**

[2018-11-19 02:58] X-Coder264 commented on #18066
@guice I'll take a look at it and check what's going on sometime in the next couple of days when I'll have some free time.

[2018-11-19 03:31] srdante commented on #25660
I'm making this to fix the issue:

`$schedule->call(function () {new UpdateLists;})->everyMinute();`

[2018-11-19 03:36] laurencei commented on #25660
does `$schedule->call(new UpdateLists)->everyMinute();` work?

[2018-11-19 03:40] srdante commented on #25660
No, give me the same error of this issue :/

[2018-11-19 03:50] staudenmeir commented on #15465
I created a package for this: https://github.com/staudenmeir/eloquent-json-relations

[2018-11-19 07:34] jaripekkala opened #26557 "[5.7] Collection sortBy causes invalid JSON array"
- Laravel Version: 5.7.6
- PHP Version: 7.2.9
- Database Driver & Version:

### Description:
I would expect the two collections with same data in the same order to output the same JSON string.

This causes hard to find bugs when sometimes the output is parsed as an array and sometimes object via JavaScript.

### Steps To Reproduce:
[code]

[code]

[2018-11-19 09:22] alvibd commented on #19339
I think, I am having the same issue with this error message
`PDOException: SQLSTATE[23505]: Unique violation: 7 ERROR: duplicate key value violates unique constraint "notifications_pkey"`
I am using postgres and my laravel verison is 5.6. I think the uuid generated by the system is not checking existence of 'id' before trying to insert it.

[2018-11-19 09:38] driesvints commented on #26545
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back. You may also want to check into https://github.com/barryvdh/laravel-cors

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC]

[2018-11-19 09:38] #26545 closed

[2018-11-19 09:47] driesvints commented on #26557
This is just how the `sortBy` method works under the hood. It uses `asort` to sort the values. If you want you can use a different sorting way that you prefer.

https://3v4l.org/23qVM

[2018-11-19 09:47] #26557 closed

[2018-11-19 10:47] jaripekkala commented on #26557
`$unordered->sortBy('name')->values()->toJson()` re-indexes the array if somebody else tumbles into this.

When working with arrays I would expect to receive valid JSON array when calling `toJson()`.

[2018-11-19 12:59] sreenadh opened #26559 "Gate::before() not getting called"
Laravel v5.7.13
PHP Version 7.1.19
[code]

[2018-11-19 13:17] staudenmeir commented on #26559
Please provide your Laravel version.

[2018-11-19 13:17] sreenadh commented on #26559
@staudenmeir sorry.

Laravel 5.7
PHP Version 7.1.19

[2018-11-19 13:20] sreenadh commented on #26559
Gate::after() is working fine.

[2018-11-19 14:10] driesvints commented on #24974
This is because the `toArray` and `toResponse` have two different responsibilities. `toArray` is meant to transform the data itself and `toResponse` just prepares the resource before it's sent out.

[2018-11-19 14:10] #24974 closed

[2018-11-19 14:32] driesvints commented on #24944
This is indeed not possible with the current `on` method. I think we should update the comment in the `on` method to something like `as well as being set on each relationship we retrieve which does not have an explicit connection defined.` to make things more clear.

I believe we *could* provide some way to indeed some way to force the connection of the parent model. If this can be solved with a n

[2018-11-19 14:38] driesvints commented on #24869
Heya, thanks for submitting this. This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

[2018-11-19 14:38] #24869 closed

[2018-11-19 14:42] dariusj18 commented on #25277
@staudenmeir I am currently lacking the time to create the PR

[2018-11-19 14:46] driesvints commented on #24861
That's because Browsersync probably proxies the request to the url. The actual requests are still made on the url you're getting.

[2018-11-19 14:46] #24861 closed

[2018-11-19 14:51] driesvints commented on #26559
This works fine for me. Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie

[2018-11-19 14:51] #26559 closed

[2018-11-19 14:59] driesvints commented on #24854
You have the `middlewarePriority` on the Kernel class which you can use for this. In the `Kernel` class of the 5.7 skeleton this is added by default:

https://github.com/laravel/laravel/blob/6806aaa3568382e9c8c7281a64b82a52b824e46f/app/Http/Kernel.php#L72-L79

[2018-11-19 14:59] #24854 closed

[2018-11-19 15:00] driesvints commented on #24816
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2018-11-19 15:00] #24816 closed

[2018-11-19 15:11] driesvints commented on #24789
This is indeed the correct behavior at the moment.

[2018-11-19 15:11] #24789 closed

[2018-11-19 15:20] #24787 closed

[2018-11-19 15:34] driesvints commented on #24674
Heya. This is the correct behavior of this method. This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

[2018-11-19 15:34] #24674 closed

[2018-11-19 16:02] driesvints commented on #24671
I'm not really sure what's going on really. I also get different results but caching itself works fine for me. Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [

[2018-11-19 16:02] #24671 closed

[2018-11-19 16:16] driesvints commented on #24658
This works for me in the latest Laravel version. Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenod

[2018-11-19 16:16] #24658 closed

[2018-11-19 16:32] yaquawa opened #26561 "`Str::before` and `Str::after` return the original string"
- Laravel Version: 5.7.13
- PHP Version:7.2

### Description:
`Str::before` and `Str::after` return the original string even if the given string for searching not found.

### Steps To Reproduce:

[code]

[2018-11-19 16:37] driesvints commented on #24630
This seems more like a config issue than an actual problem with Laravel tbh. Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [

[2018-11-19 16:37] #24630 closed

[2018-11-19 16:43] driesvints commented on #26561
Hmm I see your point but I believe this is more of a behavioral change rather than a bug. It's best to post this idea at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework.

[2018-11-19 16:43] #26561 closed

[2018-11-19 16:46] driesvints commented on #24332
I fail to see the use case for this, sorry. It's best to post this idea at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea if you still want to see it implemented.

[2018-11-19 16:46] #24332 closed

[2018-11-19 16:53] driesvints commented on #24257
@ragingdave gonna close this due to inactivity. Feel free to reply if this is still an issue.

[2018-11-19 17:12] TOLK-kz commented on #26450
Yes, set telescope config:

        Watchers\CommandWatcher::class => [
            'enabled' => env('TELESCOPE_COMMAND_WATCHER', true),
            'ignore' => ['migrate', 'migrate:status'] //etc
        ],

[2018-11-19 17:30] driesvints commented on #22908
Seems to me like a problem with Doctrine rather than Laravel?

[2018-11-19 17:30] #22908 closed

[2018-11-19 17:33] driesvints commented on #22029
Can you try to put the statements in different schema calls to see if that solves your problem? For both the up and down methods I mean.

[code]

[2018-11-19 17:35] driesvints commented on #21870
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-19 17:35] #21870 closed

[2018-11-19 21:37] tobz-nz opened #26562 "$withCount breaks replicate()"
- Laravel Version: 5.7.13
- PHP Version: 7.2.9
- Database Driver & Version: mysql / ?

### Description:
As in other cases(that have all been fixed I think), a model with a polymorphic relation and a `$withCount` property fails to `replicate()`

### Steps To Reproduce:
[code]

Results in the error:
`Column not found: 1054 Unknown column 'profiles_count' in 'field list' ...`

Expected `$b2` to be a

[2018-11-19 21:42] tobz-nz commented on #26562
Am getting past this currently by manually passing in the count property to the `replicate($except)` param.

`$b->replicate(['profiles_count'])`

$this should be pretty easy to fix by using the `withCount` property in replicate's internal filtering.
...although that won't help for manually counted relations (loaded after the fact using `withCount()`).

I don't think there's a register for counted

[2018-11-19 22:13] staudenmeir commented on #26562
You are calling `save()` afterwards, right? `replicate()` itself doesn't trigger the error.

[2018-11-19 22:15] tobz-nz commented on #26562
Ah yes - sorry, missed that part.

[2018-11-19 22:30] staudenmeir commented on #26562
I don't think we can make this assumption. There could be users who except the `profiles_count` attribute in the replicated model. Maybe they don't want to save it but use it for something else.

[2018-11-19 22:35] tobz-nz commented on #26562
Yep, Good point.
Maybe a register of all loaded withCount's and ignore them on save?

Or maybe move where the count is stored from the attributes array to something else and do a check in getAttribute()? That could be a BC issue though aye?

[2018-11-19 23:30] staudenmeir commented on #26562
I'm not sure it's worth the effort.

[2018-11-19 23:34] tobz-nz commented on #26562
Seems like a pretty bad bug to me. If you have a polymorphic relation and a withCount you can't replicate?
I realize its a little bit of a edge case but still...

[2018-11-19 23:40] staudenmeir commented on #26562
It's my impression that `$withCount` is not widely used, especially in combination with `replicate()`. IMO, using `$expect` is good enough as a workaround.

[2018-11-19 23:42] tobz-nz commented on #26562
Whats `$expect`? I've not seen this.

[2018-11-19 23:43] staudenmeir commented on #26562
Sorry, I meant `$except` (the parameter of `replicate()`).

[2018-11-19 23:45] tobz-nz commented on #26562
Ah, haha here I am searching through the code for $expect :)

yeah fair enough. At least there's a record of the issue here now for others (and myself in the future when I've forgotten about it)

[2018-11-19 23:49] staudenmeir commented on #26562
Somewhat related: #25495

[2018-11-19 23:50] GlitterCakes commented on #24578
I have a laravel application with many many users logging in all day long and I have had some users report that they are unable to login because of this exact issue. I don't know what's going on but this is without a doubt a framework bug fix it.

[2018-11-19 23:52] laurencei commented on #24578
@GlitterCakes - its a problem with your sessions, which then causes a CSRF token mismatch.

[2018-11-19 23:54] tobz-nz commented on #26562
Yes I think that's the same underlying issue.

Also TIL about `storedAs` :)

[2018-11-20 00:03] staudenmeir commented on #26562
The fundamental "issue" is that Laravel (unlike some other frameworks) doesn't know what columns the table contains, so there is no solution that can cover all cases. As you mentioned, we could fix it for `$withCount` but not for `withCount()`.

[2018-11-20 00:08] tobz-nz commented on #26562
Unless you move the count value out of the main attributes array to something like `$withCounts`? and access that via the `getAttribute()` method.

but doing that could break people code if they're accessing the count directly on $attributes - so that's probably a no go as well.

well, I suppose it could go into 5.8?

[2018-11-20 00:19] staudenmeir commented on #26562
Yes. Also, consider #26481.

[2018-11-20 07:05] kjfdebruin commented on #26462
I'm getting the same error with a fresh install of  5.7.* Laravel.

I'm on Homestead 4.0.0 ( Ubuntu 16.04.3 LTS) on Windows 10.

`vagrant halt` followed by `vagrant up` solved it for me.

[2018-11-20 09:33] marcus13371337 opened #26568 "[5.7] Case insensitive load/with are reloaded when accessed"
- Laravel Version: 5.7
- PHP Version: 7.2
- Database Driver & Version: General

### Description:
Doing the following:
[code]
or
`$posts = Post::with('authoR')->get();`

And then:
[code]
I would expect that only two queries are executed or an error is thrown because of the wrong caseing in the relation name. Currently the queuries executed will be number of posts plus 1.

I would expect that if the

[2018-11-20 11:59] driesvints commented on #26568
It's normal for this to be case sensitive because relations are case sensitive by nature due to their method names.

[2018-11-20 12:03] marcus13371337 commented on #26568
@driesvints If that's the case, that relations are "case sensitive by nature", why doesn't the with() or the load() function throw an error? This can lead to unexpected queries

[2018-11-20 12:10] driesvints commented on #26562
This is tricky indeed. On the one hand you could say that filtering out the counts and stored as values is twtg because they aren't actually defined on the new static class instance. On the other hand people might expect these values to still be present when replicating a model. I don't think there's an easy for for this. As @staudenmeir said manually adding the columns to the `except` array is pr

[2018-11-20 12:10] #26562 closed

[2018-11-20 12:32] marcus13371337 commented on #26568
@driesvints Buuut:
`$posts->load('auaathoR');`
Gives me the error:
`Call to undefined relationship [auaathoR] on model [Post].`

See the inconsistency? :)

[2018-11-20 12:34] marcus13371337 commented on #26568
Also:
`Post::with('aaaaauthor')->get();`
Gives me:
`Call to undefined relationship [aaaaauthor] on model [Post].`

[2018-11-20 12:38] driesvints commented on #26568
Hmm. Okay I see it. Maybe we can make this more explicit for the load and with methods as well. Thanks for bringing this to our attention.

[2018-11-20 12:49] tylik1 commented on #17993
It would really be great to be able conditionally validate arrays. Currently it is not possible, as callback is fired only once.

[2018-11-20 13:29] driesvints commented on #23862
Heya. There have been some fixes merged for UNION bugs in the last couple of weeks. Can you try updating to the latest version to see if this fixes your problem? If not feel free to report back!

[2018-11-20 13:41] driesvints commented on #23799
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-20 13:41] #23799 closed

[2018-11-20 13:44] samoldenburg commented on #13789
I know this thread is a couple years old, but the fact that this issue still exists today is frustrating.

[2018-11-20 13:52] samoldenburg opened #26570 "All artisan command constructors are fired when running any artisan command"
- Laravel Version: #.#.#
- PHP Version:
- Database Driver & Version:

### Description:
Discussion detailed here: https://laracasts.com/discuss/channels/laravel/all-artisan-command-constructors-are-fired-when-running-any-artisan-commandwhat

This is basically the same as #13789 but I would like to at least attempt to re-open this for discussion as that issue is several years old.

In short, when ru

[2018-11-20 14:01] driesvints commented on #23789
@dorin-niscu you need to use

[code]

@erdemkeren you didn't specify the path with the rollback command.

[2018-11-20 14:01] #23789 closed

[2018-11-20 14:05] erdemkeren commented on #23789
@driesvints Indeed. I was talking about persisting the path of the migration files to migrations table.

[2018-11-20 14:06] driesvints commented on #23789
@erdemkeren that's not something we're going to change. If the location of the migrations would change you'd have to update the values in the database as well.

[2018-11-20 14:40] unstoppablecarl opened #26571 "Kernel.php $middlewarePriority docblock description does not match behavior"
- Laravel Version: 5.7.13

### Description:

In the [`App\Http\Kernel.php` L68](https://github.com/laravel/laravel/blob/6806aaa3568382e9c8c7281a64b82a52b824e46f/app/Http/Kernel.php#L68) file the `$middlewarePriority` property comment says "This forces the listed middleware to always be in the given order.", but that is not exactly true.

Middleware is processed in 2 groups:

1) Global middleware i

[2018-11-20 14:56] driesvints commented on #23704
This is because `migrate:install` isn't in the Tinker whitelist: https://github.com/laravel/tinker/blob/master/src/Console/TinkerCommand.php#L19

You'll have to create the migrations table before or add the command to the whitelist: https://github.com/laravel/tinker/blob/master/config/tinker.php#L16

[2018-11-20 14:56] #23704 closed

[2018-11-20 15:04] #25277 closed

[2018-11-20 15:10] JonahKlimack opened #26572 "make:migration oversight maybe"
- Laravel Version: 5.3.31
- PHP Version: 7.1.24

### Description:

php artisan make:model Affiliates.php -m created migration with problems

### Steps To Reproduce:
Through my own carelessness, I ran:

php artisan make:model Affiliates.php -m

I edited the migration file and ran migrate, only to get the below console error.

### Output

created file Affiliate.php.php for the model

[code]

Create

[2018-11-20 15:18] driesvints commented on #26571
You're right. Feel free to send in a PR to update the comment.

[2018-11-20 15:18] #26571 closed

[2018-11-20 15:24] SamDevBR opened #26573 "Request rule validation doesn't work with multi-level key based array config/database file"
- Laravel Version: 5.6.4

In order to validate data against database using rule validations, you **may** specify the correct database to use, `unique:connection.table`.

**Theoretically** we would have a database config file like this.

[code]
And we **would** setup the rule like this `unique:cooldb1.table,column`

**BUT** now comes the problem, if we have **multi-level key based** array to store

[2018-11-20 15:32] driesvints commented on #26572
Heya, unfortunately we don't support this Laravel version anymore. Please upgrade to the latest version and check if your problem persists.

[2018-11-20 15:32] #26572 closed

[2018-11-20 15:33] driesvints commented on #26573
Heya, unfortunately we don't support this Laravel version anymore. Please upgrade to the latest version and check if your problem persists.

[2018-11-20 15:33] #26573 closed

[2018-11-20 15:35] SamDevBR commented on #26573
Okay.

[2018-11-20 15:47] driesvints commented on #23625
This is the expected behavior. This would allow overriding the data key in the `toArray` method itself. If you want to disable wrapping all together and always control this behavior you can use the `Resource::withoutWrapping();`. Or if you want a different key you can update the `$wrap` property.

[2018-11-20 15:47] #23625 closed

[2018-11-20 15:55] driesvints commented on #23614
I think the entire premise of doing it in the app with the way you've done the namespaces inside the `app` folder is wrong. It's probably best to map a different route group in your RouteServiceProvider for this.

[2018-11-20 15:55] #23614 closed

[2018-11-20 16:15] driesvints commented on #23602
@devcircus I'll try to send in a PR to the docs for this because this hasn't been documented it seems.

@frankdejonge you're right. I'll update the docs to clarify this in the contextual binding section and link to the new docs which I'm going to send in for the referenced PR.

You're also right that the retry perhaps isn't wanted for a container resolving issue. Do you perhaps know which exceptio

[2018-11-20 16:16] driesvints commented on #23602
@frankdejonge nvm. Just saw https://github.com/laravel/framework/issues/23599 :)

[2018-11-20 16:21] driesvints commented on #23599
Actually, this should be shown in the exception message. The container keeps a build stack and adds the previous resolved classes from the chain to the exception message as you can see here:

https://github.com/laravel/framework/blob/0973092309548463424c21f862abf1de64d57153/src/Illuminate/Container/Container.php#L937-L941

Is this not working for you? Can you provide some code in order to let us r

[2018-11-20 16:41] driesvints commented on #23862
Okay, re-opening.

[2018-11-20 16:48] driesvints commented on #23580
Hmm I see your point but you could argue that this is standard behavior and you would have to be explicit about any content you place in the email. Since this is more a behavioral change if we would have to add some sort of dummy comment if an email was empty I suggest to open up an issue at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that y

[2018-11-20 16:48] #23580 closed

[2018-11-20 16:51] frankdejonge commented on #23599
@driesvints if I remember correctly it's when dependency is resolved that depends on something that's not instantiable. The error message could be try/catch'ed around the call that resolved the dependencies and retrown with the service identifier (or classname) that was the root of the dependency tree.

[2018-11-20 17:52] staudenmeir commented on #24214
@driesvints Yes, this is working in PHP 7.3.

[2018-11-20 19:37] vickymessii commented on #13457
still bug has not resolved 2018, :-1:
a working example with Laravel 5.7 & Vue JS
[code]

in API:
`Route::any('submit_from','UserController@StoreUserForm')->name('submit_from');`

[2018-11-20 19:52] strongholdmedia commented on #24214
Glad it finally turned out to be the same issue.
Whoever can not wait for the final 7.3 can turn on emulated prepares.
(Just remember to turn it (back) off afterwards.)

[2018-11-20 23:54] whiterook6 commented on #20449
I am getting the same error. Our use case for printing errors is for logging what failed validation. In some cases we use some conditional logic so these rules aren't always present. Why not allow a way to flatten the message bag somehow?

[2018-11-21 00:36] robjbrain commented on #25736
Adding my voice to this completely breaking form requests, as others have said if you validate via a 3rd party api a double validation won't work. As well as any other expensive validation from database queries or custom methods.

If you are really serious about waiting till 5.8 (3 months?) the you should update the docs to warn people not to use the example if they're using expensive api calls, d

[2018-11-21 01:12] rodrigopedra commented on #26573
Hi @SamDevBR , the database connections are not meant to be nested,

The default connections in teh `config/database.php` are just defaults, but you can change the connection names as needed. They match their driver types in the `config/database.php` to be succinct but the driver property is what determinate the driver to be used in the connection.

So in your example, you should declare the conne

[2018-11-21 02:07] venux92 commented on #19451
@kyonkopa Worked for me thanks, been struggling for few hours about it.

[2018-11-21 06:09] PandhuWibowo commented on #21700
How about 2 or 3 or more LIKE?

[2018-11-21 08:46] edwardkarlsson commented on #23961
Don't forget to create a new user or update existing user to utilise the older way of authenticating.
`CREATE USER `root`@`localhost` IDENTIFIED WITH mysql_native_password BY 'asdf';`
And then grant all access to the user (if it is a new user).

[2018-11-21 09:49] raoulteeuwen opened #26576 "Please backport MailGun EU support to current Laravel LTS version"
As described in https://github.com/laravel/framework/issues/25410 , MailGun EU region is not supported in the current LTS-version . The org i work with uses Laravel LTS and don't want to start using a non-LTS-version, while we would like to use the MailGun EU region. Could support for MailGun EU please be backported to the latest LTS-version as well?

[2018-11-21 11:32] hdimitrov1 opened #26577 "Tests that rely on a mocked validation failing when mocking the passess method automatically succeed now.."
- Laravel Version: 5.7.13
- PHP Version: 7.2.5
- Database Driver & Version: Irrelevant

### Description:
If you have a test in which you are mocking the passes method in a validation to false, then it will not fail the test.

In our case, the example was
[code]

This test fails as `\Illuminate\Validation\ValidationException::class` is never thrown.

The issue appears to be that when an empty array

[2018-11-21 11:40] SamDevBR commented on #26573
@rodrigopedra Yeah, I understand how I the config file should be to validation rules work fine, as you can see in my examples i described two settings for the config file, one works fine and the other one doesn't, but the issue here is that Eloquent, Query Builder and others services that uses `config/database.php` file, can dump the configuration dinamcally, and my current config for database wor

[2018-11-21 11:59] mfn commented on #26573
What's you use case nesting the configuring as you outlined in contrast to what @rodrigopedra suggested? What benefits do you have?

(ps: I'm surprised this even works, I use multi connections but as rodrigopedra described it)

[2018-11-21 12:11] nicolasmilville commented on #19467
Salut,

J'arrive 1 an plus tard mais j'ai eu le même problème et je n'ai pas trouvé la solution sur Google ni sur divers forum donc je la met ici. Effectivement quand on fait un unionAll (juste l'unionAll, l'union simple ça passe), les champs mysql de type `date` sont castés sur un type soit disant natif de PHP `NEWDATE` et à priori ce type c'est la date sous format Hexadécimal.

Pour contourner ç

[2018-11-21 12:21] SamDevBR opened #26578 "Request rule validation doesn't work with multi-level key based array config/database file"
- Laravel Version: 5.7.13

In order to validate data against database using rule validations, you **may** specify the correct database to use, `unique:connection.table`.

**Theoretically** we would have a database config file like this.

[code]
And we **would** setup the rule like this `unique:cooldb1.table,column`

**BUT** now comes the problem, if we have **multi-level key based** array to store

[2018-11-21 12:22] SamDevBR commented on #26573
@mfn Our `config/database.php` file has many different dbs with different drivers such as mysql, redis and cassandra, and for organization purpose, we splited dbs into driver types, for example mysql key has 3 different dbs, cassandra, many contact points, and datacenters, it works fine with everything but rule validators, and I think would be great if rule validators behaves just as the other ser

[2018-11-21 13:20] wfeller opened #26580 "Missing validation translation: date_equals"
- Laravel Version: 5.7.13

### Description:
See : https://github.com/laravel/laravel/blob/master/resources/lang/en/validation.php
and : https://laravel.com/docs/5.7/validation#rule-date-equals

The translation for date_equals is missing.

[2018-11-21 13:41] hsharghi opened #26581 "latest() sql error on a model with custom CREATED_AT column"
- Laravel Version: 5.6.33
- PHP Version: 7.2.8
- Database Driver & Version: mysql 5.7.23

### Description:
Using `latest()` on Eloquent model with custom CREATED_AT column name, will result to SQL Error: Column not found `created_at` in ....

### Steps To Reproduce:
Create `Pet` model class
[code]

Create `pets` table migration
[code]

Run migrations
`php artisan migrate`

In `Tinker` run the foll

[2018-11-21 14:31] staudenmeir commented on #26581
This has been fixed in Laravel 5.7: #24004

[2018-11-21 14:37] #26581 closed

[2018-11-21 17:09] ursuleacv commented on #16056
It does happen from time to time

* laravel/framework (v5.4.36)
* PHP 5.6
* File cache

[code]

You can see that limit doesn't get reset for a long period

[2018-11-21 17:32] fitztrev opened #26582 "[5.7.14] Breaking change on eager loading when key is a string"
- Laravel Version: 5.7.14

### Description:

I just upgraded to 5.7.14 (the version released today) and there is a breaking change affecting eager loading. At least in cases where the key is a string containing a period, it converts it to an integer instead of keeping it a string like it did before.

Before, in 5.7.13 and earlier:
[code]

Now, in 5.7.14:
[code]

I narrowed it down to the change in

[2018-11-21 17:40] staudenmeir commented on #26582
Did you set `protected $keyType = 'string';` in the model?

[2018-11-21 18:00] fitztrev commented on #26582
Ok, that fixed it. Thanks

@driesvints Just a heads up it's still a breaking change--that property hasn't been required in the past. Might be worth a mention in the changelog.

[2018-11-21 18:10] staudenmeir commented on #26582
It's mentioned in the [documentation](https://laravel.com/docs/5.7/eloquent#defining-models):

[2018-11-21 18:13] fitztrev commented on #26582
I understand. But it hasn't been required in order for it to work until that commit.

[2018-11-21 18:16] driesvints commented on #26582
Okay but it was documented. Even if it somehow managed to work before it wasn't meant to work without the `$keyType` property being set.

[2018-11-21 18:16] #26582 closed

[2018-11-21 18:57] apokryfos commented on #25228
@driesvints As mentioned in the description it is possible to test the streaming response if you capture the streaming result in an output buffer and flush it in another test response.  Dusk should not be necessary and in fact if the streaming response is a file download then Dusk may not even be appropriate to check what the file contents are for example.

[2018-11-21 22:05] #26580 closed

[2018-11-22 00:53] bodybag commented on #9398
Couldn't get this to work either... in my case. I'm using redis for broadcasting. Attempted to use redis for queue driver as well.

I tried defining multiple connections as @Artistan suggested. No Luck. I even tried spinning up a separate redis server on aws to point the second connection at a different IP Address (server). No Go.

For clarity:
I'm currently using redis for caching and for broadca

[2018-11-22 04:03] bluehaoran opened #26589 "Database Connection Prefixes behave unexpectedly"
- Laravel Version: 5.5.43
- PHP Version: 7.1
- Database Driver & Version: MySQL 5.7.24 / Sqlite3 3.11.0

### Description:

Database connection prefixes behave inconsistently and unexpectedly.

### Steps To Reproduce:

Configure database in **config/database.php** thusly:

[code]

Create a basic migration file:
[code]

If we generate the table, these connections perform as expected.
[code]
Two tabl

[2018-11-22 04:44] AbdulAzizi commented on #22034
Had this error `Unable to prepare route [api/user] for serialization. Uses Closure.`
Commented :
[code]
Executed `php artisan route:cache` and it worked. I agree with @xkovacikm I think it must be fixed.

[2018-11-22 06:58] kiyonlin opened #26590 "Can not test multi choice in console test"
- Laravel Version: 5.7.14
- PHP Version: 7.2.12
- Database Driver & Version:

### Description:
Can not test multi choice in console test

### Steps To Reproduce:
#### new app
`laravel new testMultiChoice`
#### new command
`php artisan make:command MultiChoiceCommand`
make a choice question in `handle` method
[code]

#### new test
`php artisan make:test MultiChoiceTest -unit`

write unit test metho

[2018-11-22 07:30] kiyonlin commented on #26590
change `expectsQuestion` function's answer param type to string|array can solve the problem

[2018-11-22 07:45] laurencei commented on #26589
I kind of feel that a raw query has no way to know to use a prefix. You could write *anything* in that raw query, so it would be your responsibility to handle any prefixing.

[2018-11-22 09:05] rienheuver commented on #13773
Agreed with @NoelDeMartin. I'm using `->float()` which creates a 2-precision double which in turn is giving me problems since I'm expecting higher precision. Tried changing it like mentioned above but that doesn't work. So either `->float()` should create some kind of datatype that supports high precision or this function should work as expected. This is all on a MySQL-database by the way

[2018-11-22 09:08] hyosh opened #26591 "belongsToMany relation custom primary key"
- Laravel Version: 5.7.14
- PHP Version: 7.2
- Database Driver & Version: PostgreSQL 10.6

### Description:

[code]
This code with laravel 5.7.7 working, but when i update laravel/framework to 5.7.14 I have an exception :

[code]
It seems that in my relation it doesn't recognize my primary key type and try to parse it.

[2018-11-22 09:38] driesvints commented on #25736
We're probably not going to fix this in the current 5.7 release. I realize that the current implementation isn't ideal but it's also not a critical bug. This will be fixed in the 5.8 release.

[2018-11-22 09:48] bonzai commented on #26591
Check #26582.

[2018-11-22 09:53] driesvints commented on #26578
At the moment I don't think it's meant to work like this. The fact that it works for the query builder and eloquent is a side effect I believe. If you can point me to a spot in the docs where this is documented or in the test suite where this is tested then I'll be happy to re-open this.

But if you believe this would be a nice feature to be added then it's best to post this at the [laravel/ideas]

[2018-11-22 09:53] #26578 closed

[2018-11-22 10:00] lesterchan commented on #26582
Missed out `$keyType` as well since we use UUID. But we did set `$incrementing` to false. Thanks for this!

[2018-11-22 10:03] driesvints commented on #25228
@apokryfos okay, I do believe this might be something handy to be added to Laravel but I see this more as a feature request than a bug. It's best to post this at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework.

[2018-11-22 10:11] driesvints commented on #26576
Heya, yeah sorry 5.5 is bugfix only atm.

[2018-11-22 10:14] driesvints commented on #26576
Actually come to think of it. If this would really break the MailGun EU region atm this could be considered a bug. We could attempt to backport yeah. Feel free to send in a PR before I get to this.

[2018-11-22 10:40] #26591 closed

[2018-11-22 11:03] hyosh commented on #26591
Thanks it's working :)

[2018-11-22 11:12] masterix21 opened #26594 "Relationship with UUID force sometime a cast to integer"
- Laravel Version: 5.7.14
- PHP Version: 7.2.11
- Database Driver & Version: MySQL Ver 14.14 Distrib 5.7.24, for osx10.14 (x86_64)

### Description:
I had wrote the application using 5.6, migrated to 5.7. On the first releases (5.7) it works, now it has some casting problems. I'm using only UUID as ID, with $incrementing to FALSE.

Using the following relation
[code]

the query will be translated

[2018-11-22 11:16] masterix21 commented on #26594
I have downgraded now to 5.7.13 and belongsTo start again to works: i can confirm the bug with 5.7.14.

[2018-11-22 11:53] driesvints commented on #26590
I don't really get the issue. It seems everything is working fine except you'd like a different sort of syntax? It's best to post this at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework.

[2018-11-22 11:53] #26590 closed

[2018-11-22 11:53] driesvints commented on #26594
Please see https://github.com/laravel/framework/issues/26591 & https://github.com/laravel/framework/issues/26582

[2018-11-22 11:53] #26594 closed

[2018-11-22 12:02] masterix21 commented on #26594
Thanks, sorry.

[2018-11-22 12:07] driesvints commented on #26589
@laurencei is right. For raw queries this is the expected way. There's no way to format the queries with the prefix. Raw queries are meant to just accept the input provided and not modify it.

[2018-11-22 12:07] #26589 closed

[2018-11-22 12:12] driesvints commented on #23505
@abler98 can you please post more code to reproduce this problem? any models and their relationships, the job etc.

[2018-11-22 12:13] driesvints commented on #23505
Does the problem also occur on 5.7?

[2018-11-22 12:17] driesvints commented on #23433
Hmm. I'm wondering if this is a bug or actual expected behavior.

[2018-11-22 12:31] driesvints commented on #23353
Did you add the `web` middleware as stated here: https://github.com/laravel/framework/issues/16151#issuecomment-342488958 ?

[2018-11-22 12:31] #23353 closed

[2018-11-22 12:33] driesvints commented on #23328
Pagination is only available for top level results.

[2018-11-22 12:33] #23328 closed

[2018-11-22 12:39] gandesc opened #26596 "test where using expectException fails when upgrading to 5.7.14 from 5.7.13"
- Laravel Version: 5.7.14
- PHP Version: 7.1.24 & 7.2.11
- Database Driver & Version: N/A

### Description:

When upgrading from L5.7.13 to L5.7.14, a test containing
[code]
 in combinantion with calling a route that throws the given exception, fails with the message:
[code]

As far as we can tell, there are 2 merge requests included in 5.7.14 and related to testing [here](https://github.com/larav

[2018-11-22 12:40] driesvints commented on #23309
I don't get why you'd define it twice. Just do this:

[code]

[2018-11-22 12:40] #23309 closed

[2018-11-22 12:42] driesvints commented on #23298
Closing as this has been added to the docs.

[2018-11-22 12:42] #23298 closed

[2018-11-22 12:54] webmake commented on #23309
Extend book as RentableBook and BuyableBook, this is not nice solution, to have 3classes which 2 of them differs only class name, while content will be the same - empty, because it would extend Book with whole content.

[2018-11-22 12:56] marcus13371337 commented on #26568
Actually after some research functions in PHP are actually case INsensitive but attributes are not. This makes it quite confusing.

[2018-11-22 13:01] driesvints commented on #26596
`ConflictHttpException` is a `HttpException` which are internally ignored in the exception handler. It's meant to be rendered properly so that's why the `expectException` doesn't work. I don't know how this worked for you in 5.7.13 because the test also doesn't pass for me in that version.

[2018-11-22 13:01] #26596 closed

[2018-11-22 13:02] #26568 closed

[2018-11-22 13:03] driesvints commented on #26568
Okay, thanks for investigating.

[2018-11-22 13:06] driesvints commented on #23157
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-22 13:06] #23157 closed

[2018-11-22 13:15] driesvints commented on #23309
Ah I see. Doesn't this work?

[code]

[2018-11-22 13:16] driesvints commented on #23076
The directories are explained here: https://laravel.com/docs/5.7/mail#customizing-the-components

I agree that the naming is confusing and has also bitten me at one point.

[2018-11-22 13:16] #23076 closed

[2018-11-22 13:16] webmake commented on #23309
Yes, it works, but I expected
[code]
to work

[2018-11-22 13:17] driesvints commented on #23309
That can't possible work. How would Eloquent "guess" which model to use?

[2018-11-22 13:19] driesvints commented on #23130
@derekmd is right. I don't think it's meant to be used like this.

[2018-11-22 13:19] #23130 closed

[2018-11-22 13:22] webmake commented on #23309
I think here should specify the key:
[code]
like:
[code]

[2018-11-22 13:34] driesvints commented on #23048
I'll take a look at this at a later time but I believe https://github.com/laravelio/portal/issues/350 may be somehow related.

[2018-11-22 14:02] driesvints commented on #22402
Since MariaDB isn't a supported driver this won't be fixed in the core anytime soon.

[2018-11-22 14:33] driesvints commented on #22402
I'll mark this as a bug for now and check later if we can solve this.

[2018-11-22 14:35] driesvints commented on #21990
This is indeed the intended behavior for `associate`. If you want to propose a different way or add a new way to also persist relationships try to open up an issue at https://github.com/laravel/ideas

[2018-11-22 14:35] #21990 closed

[2018-11-22 14:42] driesvints commented on #21987
There's a PR now for this: https://github.com/mockery/mockery/pull/868

Hope they'll merge it soon. Closing this as this is more of an issue of Mockery instead of Laravel.

[2018-11-22 14:42] #21987 closed

[2018-11-22 14:58] driesvints commented on #21884
I can't seem to reproduce this in the latest Laravel release. Can you try to see if it's still happening there?

[2018-11-22 14:58] #21884 closed

[2018-11-22 15:04] driesvints commented on #21847
Since this seems to be an issue with dbal I'm going to close this here.

[2018-11-22 15:04] #21847 closed

[2018-11-22 15:09] #21774 closed

[2018-11-22 15:34] driesvints commented on #21338
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-22 15:34] #21338 closed

[2018-11-22 15:46] driesvints commented on #21020
Closing this issue because it's already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2018-11-22 15:46] #21020 closed

[2018-11-22 16:16] driesvints commented on #20830
This is because of the way the `ResourceRegistrar` will singularize the parameter names: https://github.com/laravel/framework/blob/e294f05894610d5c5451db56aff37dfa371789bd/src/Illuminate/Routing/ResourceRegistrar.php#L345

You can disable this by setting the `$singularParameters` static parameter but it's undocumented I believe.

If you btw do a `php artisan route:list` you can see all the routes

[2018-11-22 16:16] #20830 closed

[2018-11-22 16:37] driesvints commented on #18464
Can you open up an issue on the envoy repo is you're still experiencing this? https://github.com/laravel/envoy

[2018-11-22 16:37] #18464 closed

[2018-11-22 17:30] staudenmeir commented on #22402
@driesvints This also affects MySQL, PostgreSQL and SQLite (and Laravel 5.7).

The issue is that `doctrine/dbal` only quotes identifiers if they are keywords. I find that rather weird, but they apparently have no plans to change this.

We could fix it by quoting the column names ourselves. This would work because `dbal` checks whether they are already quoted.

[2018-11-22 22:01] bluehaoran commented on #26589
@driesvints , @laurencei absolutely correct. But in this case, database prefixing is failing to provide connection-agnostic code. If this was an application, that's okay, but as a framework, it's providing something unexpected and undocumented, which leads to unexpected application faults.

[2018-11-22 22:09] laurencei commented on #26589
Only because of your use of “DB::raw()” to do connection related queries.

The whole point of DB::raw() is to allow you to type anything you want
n there, and Laravel won’t touch it.

Connection/DB agnostic support only applies to the normal queries,
which would all work for your examples above.

[2018-11-22 22:16] bluehaoran commented on #26589
But you'd need to have knowledge of internals to know which of the documented DB methods use `raw()` and which don't. Indeed, the [example in the docs](https://laravel.com/docs/5.6/database#using-multiple-database-connections) seems to indicate switching connections with `DB::connection()` is completely fine and transparent for a raw method such as `select()`.

[2018-11-23 01:08] robjbrain commented on #25736
The easiest temporary fix for anyone having this issue would be to extend the FormRequest class and intercept the validated() method e.g:

[code]

It's not how it should be fixed within Laravel obviously, but it's the easiest fix and should be compatible with any changes made between now and 5.8.

[2018-11-23 03:48] jhm-ciberman opened #26598 "[Refactor sugestion] Illuminate\Foundation\Testing\TestResponse is too big"
I think the class `Illuminate\Foundation\Testing\TestResponse` is currently too big and has a lot of different concerns.
I think it should be better to refactor it in two separate Traits. For example: `AssertsAboutJSON` and `AssertsAboutViews`, and of course, keep the other more generic methods inside the class. (Like `dump` and `assertsOk`).

I currently find a bit difficult as a user to read the

[2018-11-23 05:33] xakzona commented on #23505
Example code
`
class phone{
 public function client()
{
return hasOne(Client::class)
}
}

class client{
 public function phone()
{
return hasOne(Phone::class)
}
}

dispatch(new Job($client))
`

[2018-11-23 05:41] aocneanu commented on #26596
@driesvints

So if I understand correctly, this test should fail?

[code]

[2018-11-23 07:33] laurencei commented on #26598
Hi there,

Welcome to Laravel and we are glad to have you as part of the community.

Unfortunately this GitHub area is not for ideas, suggestions etc. This is only for issues/bugs with the framework code itself.

I will be closing your ticket here. You are able to open a ticket at https://github.com/laravel/ideas

Alternatively you are able to open a PR using the Contributions guidelines: https://

[2018-11-23 07:33] #26598 closed

[2018-11-23 09:03] kiyonlin commented on #26590
@driesvints Thanks for replying!
My point is that the function `expectsQuestion` in [PendingCommand.php](https://github.com/laravel/framework/blob/5.7/src/Illuminate/Foundation/Testing/PendingCommand.php) should change to be like this
[code]

Otherwise I can't test choice in command witch maybe with multiple answers.

[2018-11-23 09:46] alankarglobant commented on #10046
I am also facing this same issue in Laravel 5.6. The same event is broadcasted and have Listener.
So, Listener updates the status of the records but the UI is not reflected accordingly.
My analysis is also same I think the event is broadcasted first before it is being handled by his listeners.

[2018-11-23 10:15] driesvints commented on #26590
Ah okay I get what you mean. That's indeed an feature request so you should post in the ideas repo and if others agree with you send in a PR to the repo. I'm also not 100% sure if that's possible.

[2018-11-23 11:19] driesvints commented on #23505
@xakzona you're defining the wrong relation in one of the models. The reverse should be `belongsTo`.

https://laravel.com/docs/5.7/eloquent-relationships#one-to-one

[2018-11-23 11:21] driesvints commented on #26596
@aocneanu no. You're not hitting the framework or any route there. It's not going through Laravel's exception handler.

[2018-11-23 12:03] AndreLazari opened #26599 "Request payload breaks when passing an integer with a leading zero"
- Laravel Version: 5.5.40
- PHP Version: 7.1.0
- Database Driver & Version: MySql

### Description:
I have an endpoint who needs a payload data for a PUT method. One of the fields must be integer type.
My client sometimes pass a integer value starting with 0. When this happens, all the payload breaks. I can't even handle the value because it gets in controller already NULL.

One example of breakin

[2018-11-23 12:26] chelout opened #26601 "Bug when duplicating model with `withDefault()` relation"
- Laravel Version: 5.7.14
- PHP Version: 7.2.11
- Database Driver & Version: MySQL 8.0.12

### Description:
Recently i encountered a bug when duplicating model with `withDefault()` relation, that raises Illuminate\Database\QueryException. Someone could say that it is a feature, but i'm confident it's a bug.

### Steps To Reproduce:
Let's create two models:
## Deal
[code]

[code]
## Transaction

[c

[2018-11-23 12:31] driesvints commented on #26599
Octal values in JSON are invalid: https://stackoverflow.com/questions/27361565/why-is-json-invalid-if-an-integer-begins-with-0

In any case you can use the `json` method or `input` method to retrieve JSON values. See "Retrieving JSON Input Values" here: https://laravel.com/docs/5.7/requests#retrieving-input

[2018-11-23 12:31] #26599 closed

[2018-11-23 12:37] driesvints commented on #20528
This seems to have been fixed in the meantime because I can't reproduce this on a fresh 5.7 install.

[2018-11-23 12:37] #20528 closed

[2018-11-23 12:57] elimentz opened #26602 "Test data disappears after loading or refreshing eloquent models from the database"
- Laravel Version: 5.7.14
- PHP Version: 7.2.12
- Database Driver & Version: MariaDB 10.2.15

### Description:
We use PHPunit for unit testing. A lot of out tests rely on database testing. We use factories to enter data into the database that we can later use in our tests. This has worked for more than a year, but fails since we upgraded to Laravel 5.7.14.

Creating the models itself is not the pr

[2018-11-23 13:01] driesvints commented on #26602
I'll need more info and/or code to debug this further. Please post relevant code like models, jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2018-11-23 13:03] driesvints commented on #19743
Heya. Thanks for sending this in. Gonna close this in favor for https://github.com/laravel/ideas/issues/460 so please continue the discussion there.

[2018-11-23 13:03] #19743 closed

[2018-11-23 13:05] chelout commented on #26601
@driesvints if you confirm it's a bug, i can make a pr upon my proposal.

[2018-11-23 13:09] driesvints commented on #26601
@chelout I'll need more time to figure this out. I *think* you're correct but not sure.

[2018-11-23 13:11] chelout commented on #26601
@driesvints No problem, just let me know.

[2018-11-23 13:18] elimentz commented on #26602
Model 1:
[code]

Model 2:
[code]

Model 3:
[code]

Trait with relationship:
[code]

Unit test:
[code]

Like I said, all of this is old code, hasn't changed in weeks.

[2018-11-23 13:27] jffsx opened #26603 "BUG whereIn When PK != integer [HELP]"
- Laravel Version: 5.7.14
- PHP Version: 7.1
- Database Driver & Version: PostgreSql

### Description:

Hi guys,

I am developing a project where the requesting company asked for the table identifiers to be uuid (as much as I did not agree), so in my models I configured it like this

[code]

[code]

This worked until version 5.7.13, but now in 5.7.14 is giving the error

`SQLSTATE [42883]: Undefin

[2018-11-23 13:45] CrixuAMG commented on #26603
I just tried the same, but using a mysql database instead of PostgreSql, and it ran successfully.
A quick google resulted in the following page:

https://stackoverflow.com/questions/46433459/postgres-select-where-the-where-is-uuid-or-string

In the stackoverflow page they stated casting the column to uuid helped: `uuid::uuid`

[2018-11-23 13:51] jffsx commented on #26603
@CrixuAMG,

But because in the version of laravel 5.7.13 it works normally and in version 5.7.14 it does not? Would it be a database error?

[2018-11-23 13:51] bonzai commented on #26603
#26582

[2018-11-23 13:57] jffsx commented on #26603
@bonzai, wow!

Thank you very much guy.

[2018-11-23 13:57] #26603 closed

[2018-11-23 14:10] taylorotwell commented on #25736
I think we should fix this in the 5.7 release and not change the contract.

[2018-11-23 14:33] photonite commented on #23094
This solutions is limiting, it does not allow to validate data that does not come from the request and it ties the rules to the request, so they cannot be defined apart from it.

I would suggest that the `Validator@passes` method passes an instance of the validator as the third parameter.

[2018-11-23 14:43] driesvints commented on #17694
@vedmant judging from the current code this is already possible with the current syntax. So if you're experiencing this issue just define that `routeNotificationForMail` method on your model.

https://github.com/laravel/framework/blob/a64a900607f110bd365a0265dddd8278badfbed8/src/Illuminate/Notifications/Channels/MailChannel.php#L198-L209

We probably won't do this by default because we can't "assu

[2018-11-23 14:43] #17694 closed

[2018-11-23 14:51] driesvints commented on #17240
Think this is fixed by now. There's now a `$relatedKey` argument.

[2018-11-23 14:51] #17240 closed

[2018-11-23 15:05] staudenmeir commented on #26601
The fix would break `DatabaseEloquentModelTest::testPushOneRelation()` and `testPushManyRelation()`, but I'm not entirely sure whether these tests actually make sense in their current form.

[2018-11-23 15:39] fitztrev commented on #26602
Are you using UUIDs by chance? on the Payment model?

If so, there was a change in 5.7.14 that would affect you too: #26582

[2018-11-23 16:12] xpfans commented on #18053
in my case:i had deleted the  folder of vendor,reinstall all dependencies,the problem solved.

[2018-11-23 16:59] JorisDR commented on #26602
yes,  $table->uuid('id'); $table->primary('id');

[2018-11-23 17:04] driesvints commented on #26602
Please check the other issue. You'll need to define a `$keyType` property.

@elimentz do you also have defined a UUID for your models?

[2018-11-23 17:09] elimentz commented on #26602
We're working on the same app, lol. Will check if that fixes the problem and get back to you ;-)

[2018-11-23 18:30] ChaoWang318915 commented on #24578
(The page has expired due to inactivity. Please refresh and try again.)
Try like this .
Insert the @csrf every form on the page.
<form method="POST">
@csrf

[2018-11-23 19:56] mohannad1995 commented on #19951
Generating optimized autoload files

Illuminate\Foundation\ComposerScripts::postAutoloadDump
@php artisan package:discover

In ResourceRegistrar.php line 360:

Object of class Closure could not be converted to string

Script @php artisan package:discover handling the post-autoload-dump event returned with error code 1
I'm using laravel 5.6

[2018-11-23 19:58] mohannad1995 commented on #21932
Generating optimized autoload files

Illuminate\Foundation\ComposerScripts::postAutoloadDump
@php artisan package:discover

In ResourceRegistrar.php line 360:

Object of class Closure could not be converted to string

Script @php artisan package:discover handling the post-autoload-dump event returned with error code 1
I'm using laravel 5.6

[2018-11-23 20:11] mohannad1995 commented on #20995
Generating optimized autoload files

Illuminate\Foundation\ComposerScripts::postAutoloadDump
@php artisan package:discover

In ResourceRegistrar.php line 360:

Object of class Closure could not be converted to string

Script @php artisan package:discover handling the post-autoload-dump event returned with error code 1
I'm using laravel 5.6

[2018-11-23 20:13] isometriq opened #26605 "Default format for eloquent attribute casting with type "date" should be Y-m-d"
- Laravel Version: 5.6.11
- PHP Version: 7.1
- Database Driver & Version: MySQL 5.6

### Description:
I have a `date` type field in a MySQL table, named `my_date_only_field`
When attribute casting in eloquent models like so:
[code]
The date is formatted with time values `Y-m-d H:i:s`. It may seem an inconvenience and could written like so:
[code]
However, I feel this this is a bug as it should be

[2018-11-23 20:39] driesvints commented on #26605
Heya, unfortunately we don't support that version anymore. Can you update to Laravel 5.7 and check if the problem persists? If so feel free to reply and I'll reopen!

[2018-11-23 20:39] #26605 closed

[2018-11-24 03:47] OzanKurt commented on #13387
Its something hasOne should do by default.

[2018-11-24 04:41] staudenmeir commented on #13387
As you can see in my package, this requires complex queries that aren't even supported by all databases.

[2018-11-24 05:45] dsandber opened #26608 "Doing Eloquent mass update sometimes changes updated_at, sometimes not"
- Laravel Version: 5.4
- PHP Version:
- Database Driver & Version:

### Description:

[code]

Will NOT set updated_at, while doing:

[code]

Will set updated_at. This is surprising behavior as a user would assume that updated_at is always set or always not set.

### Steps To Reproduce:

[2018-11-24 06:48] staudenmeir commented on #26608
Use `query()` instead of `getQuery()`:

[code]

[2018-11-24 09:42] ani-m opened #26609 "Laravel Auth facade not working after changing the tenant database in login process"
When I am changing the database dynamically during login process, Auth facade do not understand it and always taking the user from default database. All things are working except Auth facade. This is the function for changing the tenant db

[code]

and I have in my tenant models

[code]

also I am using a middleware for keeping connection. Please help me out, thank you very much!

[2018-11-24 15:09] dsandber commented on #26608
Thanks for the explanation!

Curious, why does a "base query builder" have different behavior regarding updated_at than an "Eloquent query builder"?

This is some pretty counter-intuitive stuff imho.  Never would have guessed that query() vs. getQuery() vs. whereIn() would yield different results as far as updated_at updating.

[2018-11-24 17:39] staudenmeir commented on #26608
The base query builder doesn't and shouldn't know anything about models or timestamps. It only updates the columns you specify (i.e. `field`).

I've never seen anyone stumbling over this. Did you read about `getQuery()` somewhere or just try it?

[2018-11-24 18:07] bodybag commented on #9398
I want to give an update in case this helps someone else... In my case it was user error (Me). When you're broadcasting if your Event "implements ShouldBroadcast" by default that is using the queue driver. So if your queue driver is sync.. then of course executes immediately.  If you change it to "redis" well then you better have a listener processing those jobs.. (LOL). In my case I was broadcast

[2018-11-24 19:32] artemnl commented on #26106
I have Laravel 5.7.14, have docker locally and on Prod, both having this issue. Forced to turn-off some routes in VerifyCsrfToken.php. Didn't have it on 5.6.*

[2018-11-24 21:17] Xerotherm1c commented on #26106
You may be onto something with the `{{ csrf_field() }}` approach causing issues. I've been using `@csrf` in the project I'm currently working on with absolutely no issues so far.

[2018-11-24 21:19] artemnl commented on #26106
Unfortunately, both of them doesn't work.

[2018-11-24 23:10] darvishiyan-mahdi opened #26611 "Many to many polymorphic implementation"

[2018-11-24 23:31] #26611 closed

[2018-11-25 13:58] rimace commented on #26582
@staudenmeir @driesvints For newcomers, yes it is documented. But for those who use Laravel for years there is no mention in the upgrade guide that you to declare a keyType.
And as most people don't read the whole documentation again after an upgrade, they just don't know about it. For them, 5.7.14 introduces a breaking change.

[2018-11-25 15:08] c-edw opened #26617 "Hash round setter actually sets cost factor."
[`BcryptHasher::setRounds`](https://github.com/laravel/framework/blob/1ca55a1e5c2c0d3ba853998f1781cfa23bb9a646/src/Illuminate/Hashing/BcryptHasher.php#L97) sets the protected member `$rounds`, which is later used in [`BcryptHasher::cost`](https://github.com/laravel/framework/blob/1ca55a1e5c2c0d3ba853998f1781cfa23bb9a646/src/Illuminate/Hashing/BcryptHasher.php#L110) as a cost factor.

If I'm not mi

[2018-11-25 15:52] hassanzohdy opened #26618 "Make JsonResource Macroable"
Hello,

I'm suggesting that `Illuminate\Http\Resources\Json\JsonResource` class should be `Macroable`.

The use case that i'm facing that led me propose this feature is that some data in many resources need to be adjusted in similar way so instead of creating another base `JsonResource` class the `Macroable` trait would make it much easier.

For example i've **price** property in few resources whi

[2018-11-25 15:59] Yismen commented on #19372
Just remove your foreign key from the $fillable array property and it will work. Foreign key should not be mass assigned. It worked for me.

[2018-11-25 16:05] dsandber commented on #26608
Not sure where I found getQuery -- either SO or looking at Laravel source code I would assume.

The documentation doesn't seem to mention query() or getQuery(), so it's not obvious how you're supposed to do an operation like "update" when you don't want to have any where/WhereIn/... clause.

Will close since this getQuery() vs query() vs whereIn behavior is by design.  Thanks!

[2018-11-25 16:05] #26608 closed

[2018-11-25 21:37] hellracer opened #26621 "Laravel + Vitess Compatibility"
Vitess is a database clustering system for horizontal scaling of MySQL (born at youtube)

In order for us to connect our framework to vitess we can disable sending this construct
set this option first.
[code]

then code change on src/Illuminate/Database/Connectors/MySqlConnector.php

[code]

[2018-11-26 03:16] xakzona commented on #23505
Yeap, mistake in example, it was fixed

[2018-11-26 07:41] alexgiuvara commented on #20995
@mohannad1995
[code]
will fix your problem.
Is not a Laravel issue

[2018-11-26 07:47] CrixuAMG commented on #26618
You could also (for now) put the methods in a trait, then apply the trait to the models and call `$this->resource->[METHOD_NAME]();`

[2018-11-26 09:03] elimentz commented on #26602
Resolved. Thanks for the support

[2018-11-26 09:03] #26602 closed

[2018-11-26 09:30] QmarXX commented on #25660
@srdante Check patch version of your laravel 5.7 installation. This fix is from 5.7.4.

[2018-11-26 11:14] driesvints commented on #26609
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2018-11-26 11:34] peterfox commented on #26618
Sounds like an odd use case to use macros for. Sounds like you're better off making your own price formatting helper class or simply a global function. Macros are more for extending the functionality of the thing you use.

Worse case you should probably just make a trait and add it to the resources where you need it (or the model like @CrixuAMG mentioned) rather than adding a macro.

[2018-11-26 11:57] driesvints commented on #26582
@rimace this has been in the docs for over a year at least.

[2018-11-26 12:06] driesvints commented on #26621
Heya, thanks for submitting this. This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

[2018-11-26 12:06] #26621 closed

[2018-11-26 12:09] driesvints commented on #26618
Heya, thanks for submitting this. This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

[2018-11-26 12:09] #26618 closed

[2018-11-26 12:48] driesvints commented on #26617
Bcrypt specifically uses a number of rounds to determine its cost so the terminology here is correct.

[2018-11-26 12:48] #26617 closed

[2018-11-26 13:15] uapixart opened #26623 "Wrong withCount with hasManyThrough() relations"
- Laravel Version: 5.7.9
- PHP Version: 7.1.6
- Database Driver & Version: mysql 5.6.25

### Description:
Wrong withCount with hasManyThrough() relations

### Steps To Reproduce:
### Relations
I have relations with parent_id on table categories:
**categories**
	id - integer
**categories**
	id - integer
	parent_id - integer
**products**
    id - integer
    category_id - integer

### Model

[code]

[2018-11-26 13:53] staudenmeir commented on #26582
This will be changed in the next release: #26622

[2018-11-26 13:55] LastDragon-ru opened #26624 "[Regression]: parseJsonWhilePreservingEmptyObjects(): ErrorException : Invalid argument supplied for foreach()"
- Laravel Version: v5.7.14
- PHP Version: 7.2

### Description:

The `parseJsonWhilePreservingEmptyObjects()` was added in #26353 and after is not possible to test controllers that returns primitive types. Saddly :(

### Steps To Reproduce:

[code]

All these values are valid json response. In v5.7.13 `true`, `string`, `123` are valid response (= work and you can test it), `false`/`null` not (but

[2018-11-26 14:01] ani-m commented on #26609
I tried it, no one can answer, please open, because Auth facade really not working when we change the db during login process. It's always showing the user from default db.

[2018-11-26 14:15] uapixart commented on #26623
Yes, with `has` I reproduce this too, and have problem.

[2018-11-26 14:17] driesvints commented on #26609
@ani-m can you post the links to the places where you asked this? This may help us debug the problem further.

[2018-11-26 14:48] adminko opened #26626 "[5.7] SVG upload extension missing"
- Laravel Version: 5.7.14
- PHP Version: 7.2
- Database Driver & Version: MySQL 5.7

### Description:
When i try to upload & store svg file, Laravel response me filename without extension

### Steps To Reproduce:

1. on frontend create multipart form with file input with name testme
2. on backend try to store it with `$filename = $request->testme->store('somwhere')`
3. try to get filename by `base

[2018-11-26 14:59] driesvints commented on #26626
Please see https://github.com/laravel/framework/issues/26511

[2018-11-26 14:59] #26626 closed

[2018-11-26 15:15] driesvints commented on #22125
Hey everyone. I did some research on this and this is already possible atm.

@Ben-Russell in your example you also need to define a wildcard character for the `search` parameter which would allow forward slashes. If you change your route to the following it will pass:

[code]

This is the same way as Symfony works: https://symfony.com/doc/current/routing/slash_in_parameter.html

I'll send a note t

[2018-11-26 15:15] #22125 closed

[2018-11-26 15:17] ani-m commented on #26609
sure, but no one could answer (
https://laracasts.com/discuss/channels/laravel/laravel-auth-facade-not-working-after-changing-the-tenant-database
https://stackoverflow.com/questions/53456697/laravel-auth-facade-not-working-after-changing-the-tenant-database

[2018-11-26 15:39] driesvints commented on #26609
Where is this method defined?

I'll need more info and/or code to debug this further. Please post relevant code like models, jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2018-11-26 15:43] kadinho opened #26627 "Uncaught ReflectionException: Class env does not exist"
- Laravel Version: 5.7.15
- PHP Version: 7.2.12
- Database Driver & Version: Mariadb 10.2

### Description:

`PHP Fatal error:  Uncaught ReflectionException: Class env does not exist in /var/www/project/vendor/laravel/framework/src/Illuminate/Container/Container.php:779
Stack trace:
#0 /var/www/project/vendor/laravel/framework/src/Illuminate/Container/Container.php(779): ReflectionClass->__constru

[2018-11-26 15:56] driesvints commented on #26627
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2018-11-26 15:56] #26627 closed

[2018-11-26 16:05] kadinho commented on #26627
yes, im using Telescope. Tx!

[2018-11-26 16:23] SebastianS90 commented on #22125
@driesvints Sorry, but that solution does not help for **encoded** slashes.
Try the following Route in a new Laraval application:

[code]

Now access http://localhost:8000/band/AC%2fDC/T.N.T.

I would expect to see: `Show song 'T.N.T.' of band 'AC/DC'`.
But the result is: `List all songs of band 'AC/DC/T.N.T.'`

The typical use case: The user enters his favorite band name into a text field and the

[2018-11-26 16:28] ahinkle opened #26628 "Unable to assertJson on GET API Request"
Hi, I've reached out to [StackOverflow](https://stackoverflow.com/questions/53474762/laravel-testing-collection-json-response-with-assertjson), Laravel Discord, and Larachat (Slack), and I'm still unable to resolve this weird issue with assertJson.

- Laravel Version: v5.7.14
- PHP Version: 7.2

I'm wanting to write a test to create a user then test if the user shows within the Users API index jso

[2018-11-26 17:22] c-edw commented on #26617
According to one of the answers on [this](https://security.stackexchange.com/questions/17207/recommended-of-rounds-for-bcrypt) Stack Exchange post, cost can be computed from rounds using the formula:

[code]

Where `R` is iterations (rounds).

[See also](https://security.stackexchange.com/questions/139280/how-many-bcrypt-rounds-are-necessary)

[2018-11-26 17:33] argb opened #26629 "Laravel should NOT delete all my nginx configs!"
~/Homestead/scripts/clear-nginx.sh

#!/usr/bin/env bash

   # Clear The Old Nginx Sites

   rm -f /etc/nginx/sites-enabled/*
   rm -f /etc/nginx/sites-available/*

Please don't!
I suddenly lost all my own custom sites configs, includes some reverse-proxy conf, but I don't know WHY, finally i found the murderer Laraval Homestead Script!

You can clear those confs which exist in Homestead.yml, but d

[2018-11-26 17:36] browner12 commented on #26629
If you have a suggestion for Homestead you can open it in https://github.com/laravel/homestead

[2018-11-26 17:59] driesvints commented on #22125
Hey @SebastianS90 you're right. I've removed my example above to prevent confusion.

I did some further testing and I've come to the following conclusion: it's only possible to allow encoded slashes in the **last** parameter. It's also impossible in Symfony (as far as I can see) to allow this for multiple segments after each other. I've added a note to my PR to the docs about this: https://github.

[2018-11-26 18:06] #26629 closed

[2018-11-26 18:06] driesvints commented on #26629
Please open up an issue with the Homestead repo for this like @browner12 suggested.

[2018-11-26 18:12] SDekkers commented on #22125
When using Laravel 5.7.13

[code]

And visiting `laravel.local/band/ac%7Fdc/c%7Fd`, I get the below:

[code]

Also includes the `\x7Fd` for more than 2 segments, so it should be possible ?

[2018-11-26 18:58] SebastianS90 commented on #22125
@SDekkers The `%7F` from your example is ascii character 128, i.e. the `DEL` control character.
But we are looking for `%2F` which is the encoded forward slash `/`. The problem ist that Laravel/Symphony treats `%2F` the same as `/`. That should not happen.

[2018-11-26 19:49] xVismutx commented on #17713
So, how to use tags with this bug? any way around it?

[2018-11-26 23:49] Xerotherm1c opened #26634 "Bug with $table->timestamps(); when overriding CREATED_AT and UPDATED_AT"
- Laravel Version: 5.7.*
- PHP Version: 7.1.3
- Database Driver: mysql

### Description:

I've overridden the default timestamps in a single model. When I `migrate:fresh` my database and the table is recreated, `$table->timestamps();` inside `Schema::create()` is not respecting the overridden timestamp column names. It should check if a model exists and if so, check for declared `CREATED_AT` and `

[2018-11-26 23:57] staudenmeir commented on #26634
The migration doesn't and shouldn't know anything about the model. It's your responsibility to specify the custom timestamp columns.

[2018-11-27 00:01] rimace commented on #26582
@driesvints Beside the fact that it was added to the doc about a year after the variable was introduced. What are you suggesting? Not documenting breaking changes in the upgrade guide and instead people should read the whole documentation two times a year?
It was not a breaking change in 5.7.0 or earlier, so nobody documented that in the upgrade guide, and I understand that. But this variable beca