[2019-08-09 19:52] tillkruss commented on #29441
Correct, now try it with `min` or `max` missing:

[code]

[2019-08-09 19:56] tw99 commented on #29486
[code]

or specify the multiple delivery channels on `ExampleNotification::class`, and make assertions against the notification

[code]

[2019-08-09 20:20] davidhemphill commented on #29486
Hi there. Your first option would allow for checking the routing information for a given channel, but still wouldn't allow for asserting specific data was set on the channel.

The second option is not available in this use case. We have to use on-demand notifications because we need to pass in channel-specific data in the constructor. It's this data that we wish to assert against.

[2019-08-09 22:59] peterfox opened #29487 "Route caching vs. Non Route caching, model binding/injecting behaviour"
- Laravel Version: 5.8.30
- PHP Version: 7.2.19
- Database Driver & Version: N/A

### Description:

Model bindings behave differently using route caching to without route caching. When a model has been bound as a route parameter the parameter to the controller function has to be named the same as the route parameter it seems or otherwise it will cause a new instance of the model to be injected ins

[2019-08-10 00:19] agm1984 commented on #27717
Usually it's bigInt vs int for me, but I just had a situation where I was trying to add foreign keys to tables that didn't exist yet, so changing the order that the migrations run fixed it.

For example, if you have a `salmons` and a `goats` table, and you trying to add a foreign key from the `transactions` table to the ID column in those tables, the migrations for `salmons` and `goats` must run f

[2019-08-10 00:21] faliure commented on #29411
In Macroable.php:110 we're inside __call, I don't see how we'd get that error there: `return call_user_func_array($macro->bindTo($this, static::class), $parameters);`. It's binding to $this, in a non-static context, $this cannot be null.

Maybe the error comes from line 84? That'd make more sense, unless I'm missing something big.

[2019-08-10 00:37] staudenmeir commented on #29487
You need to put `Route::model()` in `RouteServiceProvider::boot()`. When the routes are cached, the `/routes` files aren't executed and `Route::model()` isn't called.

If you rename the parameter from `$owner` to `$user`, you can benefit from implicit route model binding:
https://laravel.com/docs/routing#implicit-binding

[2019-08-10 02:55] LeTranAnhVu commented on #13173
thanks @zzpwestlife. It 's worked like a charm

[2019-08-10 07:35] ashahid007 opened #29490 "Laravel 5.5.38 Session Memcache driver issue"
OS: Centos 7 (Linux)
Apache WEB Server:
PHP Version 7.3.0
memcache support	enabled Version	3.0.9-dev
Laravel Framework 5.5.34

MY_MEMCACHE_SERVER server:
PHP Version 7.3.0
memcached
memcached support	enabled
Version	3.1.3
libmemcached version	1.0.18

### Description:

I am using Laravel memcched Session driver and it satrted behaving very strange after 4-5 months working perfectly fine.
I have no

[2019-08-10 07:36] herryswastika commented on #13610
does not work in S3

[2019-08-10 11:47] peterfox commented on #29487
Ok, thank you, I have renamed the variable to get around it.

[2019-08-10 13:27] #29487 closed

[2019-08-10 16:58] DarkGhostHunter commented on #28388
I would vote to escalate to a pure IP block after more unsuccessful login attempts, but it seems like that adding reCAPTCHA to the IP requests rather than throttling is the best solution to stop these kind of attacks.

The block could be on a higher number of failed attempts, and the time to release the lock should be higher too. If a whole net gets throttled because someone decided to brute Force

[2019-08-10 20:20] Vendin opened #29492 "Vendor path is hardcoded"
@taylorotwell Issue https://github.com/laravel/tinker/issues/65 was asked in the repository laravel/tinker and resolved. But this does not apply to laravel/framework, so the problem is not completely resolved.

I suggest using COMPOSER_VENDOR_DIR as it is done in a tinker and by analogy with ruby on rails.

Something like this:

PackageManifest.php file
[code]

[2019-08-10 21:26] #29492 closed

[2019-08-10 21:43] abrahim9t5 commented on #27837
Hello I am also facing this issue, my env file is fine, i cant find what can cause the error.
This is the Error
2019/08/10 21:33:09 [error] 13633#13633: *234 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught ReflectionException: Class log does not exist in /usr/share/nginx/html/shape-web/vendor/laravel/framework/src/Illuminate/Container/Container.php:734
Stack trace:
#0 /usr/share/n

[2019-08-11 01:06] devcircus commented on #27837
Either .env or one of your config files.

[2019-08-11 07:18] #28852 closed

[2019-08-11 09:26] sudkumar commented on #28958
Thank you. No problem. :)

[2019-08-11 13:34] ArmandoJunior commented on #28841
how fix my phpunit.xml file explicitly in my PHPStorm project? thanks!!

[2019-08-11 14:10] manoelramos opened #29504 "Empty FormData in Laravel"
- Laravel Version: 5.8
- PHP Version: 7.3.7
- Database Driver & Version: mysql

### Description:
I am using Vue on the front end and Laravel on the back end. I have a POST method, and I am submitting a FormData, but in Laravel I get an empty array.

### Steps To Reproduce:

Axios request:
`export const createContent = (content) => {
    const token = localStorage.getItem('session');
    return ins

[2019-08-11 14:30] #29190 closed

[2019-08-11 14:44] digilist opened #29505 "Throw exception when committing and no transaction is started"
- Laravel Version: master (is a "feature" since #14085 / 5.2)
- PHP Version: irrelevant
- Database Driver & Version: irrelevant

### Description:

https://github.com/laravel/framework/blob/e778e3296dce73fddf772844158a8c87f1857bb5/src/Illuminate/Database/Concerns/ManagesTransactions.php#L154-L163

In cases where the user calls `commit()` more often than `beginTransaction()` (e.g. because `beginTran

[2019-08-11 14:57] ppshobi opened #29506 "Model::truncate() cleares all foreign key records in postgres"
- Laravel Version: 5.8
- PHP Version: 7.3
- Database Driver & Version: Postgres 10

### Description:
I believe this is something specific with Postgres

I am trying to truncate a table using  `Model::truncate()` which of course truncates the table, **and deletes all the foreign keyed records in the other tables.**  Even though `ON DELETE CASCADE` is not specified.

Tried to truncate the table with

[2019-08-11 15:32] devcircus commented on #29504
You'll get help more quickly on one of the community help forums.

I'd start by doing a quick axios post, with form data, to laravel, with everything else stripped out. Temporarily ignore vuex and just make a post request with axios. I use form data like this for 1000s of axios calls to laravel and they all work.

Check out the sites below. I'm sure someone there will help.

[Laravel Slack](https:

[2019-08-11 15:42] staudenmeir commented on #29506
This behavior is indeed specific to PostgreSQL. It was introduced in #26389.

[2019-08-11 16:29] quangvision opened #29507 "morphTo()->select($columns=[]) not working as expected"
Hello
  I have to model App\Product and App\Favorites:
  Model Favorite define one relationship with Product as:
 `public function favorited()
    {
        return $this->morphTo()->select('id','name','slug');
    }`
  I want to only select columns : id,name,slug of Product model when lazy-loading relationship as this:
  `$user->favorites()->with('favorited')->get();`
But only get full attributes

[2019-08-11 16:30] staudenmeir commented on #29507
What's your Laravel version?

[2019-08-11 17:14] ppshobi commented on #29506
Okay. Any idea how I can truncate a table without delete cascade?

[2019-08-11 17:31] Samuel-Bie commented on #22051
For those still facing the same problem, what  solved for me was: remove all contents of the bootstrap/cache folder, and run the composer dump command

[2019-08-12 00:48] staudenmeir commented on #29506
What should happen with the referenced rows in `products`? Unlike MySQL, PostgreSQL doesn't allow you to create invalid data by disabling the foreign keys.

[2019-08-12 01:46] quangvision commented on #29507
Laravel 5.8.31 with Homestead 8.0.0 running on Windows

[2019-08-12 01:57] vitordm commented on #23850
Change  ```ATTR_EMULATE_PREPARES=true``` to ```ATTR_EMULATE_PREPARES=false``` does not solve the problem.

If the application use some "mysql view", it enables an "MySQL Bug"  like: ```Prepared statement needs to be re-prepared MySQL ```

Please. remove this "is_float" from "MySQLConnection" class

[2019-08-12 04:13] staudenmeir commented on #29507
I can't reproduce it, this has been working for me since #25662.

Please provide both models. Can you log the executed queries?

[2019-08-12 06:34] kaxias commented on #26930
this continues happened on laravel 5.8.31 if time expires you got error 403.

[2019-08-12 08:53] Brenneisen opened #29521 "Table command tests will break"
- Laravel Version: 5.8.29
- PHP Version: 7.3.7
- Database Driver & Version: MySQL 8.0

### Description:

After the commit 42c19bd tests like these will break:

[code]

### Steps To Reproduce:

Write a test for a command, which expects a table output:

[code]

[2019-08-12 09:39] ppshobi commented on #29506
I agree Postgres is more strict in that way. But I would expect an exception to be thrown when you truncate a table with foreign keys active. Since its Postgres, you probably will have to set the column ON DELETE to  NO ACTION which seems the default for laravel foreign keys.

Also, I can truncate a table without cascading by default. By disabling the triggers on that table.

`ALTER TABLE "table_n

[2019-08-12 09:43] driesvints commented on #29484
Heya, thanks for submitting this.

This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

Thanks!

[2019-08-12 09:43] #29484 closed

[2019-08-12 09:45] driesvints commented on #29490
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-12 09:45] #29490 closed

[2019-08-12 09:45] driesvints commented on #13610
Hey everyone,

I'm locking this issue because it either has gone off-topic, become a dumping ground for things which shouldn't be in an issue tracker or is just too old. Please try to discuss things further on one of the below channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/l

[2019-08-12 09:47] driesvints commented on #29456
Merged.

[2019-08-12 09:47] #29456 closed

[2019-08-12 10:04] driesvints commented on #29505
Heya, thanks for submitting this.

This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

Thanks!

[2019-08-12 10:05] driesvints commented on #29504
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-12 10:05] #29504 closed

[2019-08-12 10:08] quangvision commented on #29507
Great thank for your support.
I managed to get it running as expected now. But now another mystery appears.
Two models as below:
`App\Tour
class Tour extends Model
{
    protected $appends = ['isFavorited'];
    public function favorites()
    {
        return $this->morphMany(Favorite::class, 'favorited');
    }
    public function isFavorited()
    {
        return (bool) $this->favorites->where

[2019-08-12 10:20] driesvints commented on #29521
Can you provide the `command:list` code as well?

[2019-08-12 10:22] driesvints commented on #29507
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-12 10:22] #29507 closed

[2019-08-12 10:29] driesvints commented on #29506
Is this more a bug or a feature request?

[2019-08-12 10:32] lorisleiva commented on #29394
I've done a bit more digging and it looks like the issue comes from clearing the mutex for the scheduled event.

Commenting the line `$this->mutex->forget($this)` makes the tests work properly:

https://github.com/laravel/framework/blob/dd1a1edfcc1114d74a9d9ab662c81f9de37d7aba/src/Illuminate/Console/Scheduling/CallbackEvent.php#L91-L96

I think it could be something to do with the condition not ch

[2019-08-12 11:05] ppshobi commented on #29506
I think it should be treated as a bug. Because

1. `Schema::disableForeignKeyConstraints()` doesn't disable foreign key constraints in Postgres. (I was using postgres 10)
2. Model::truncate() by default applies [ CASCADE option ](https://github.com/laravel/framework/pull/26389) which in turn deletes all the related records, I think a more explicit way is better. like `Model::truncate()->cascade()`

[2019-08-12 11:35] digilist commented on #29505
This is not a feature, it's a bug and can lead to serious data inconsistencies without anybody noticing it! (actually happend in the project I am currently working on)

[2019-08-12 11:47] wenjy commented on #29449
Thanks!
Because I use ```redis.options.prefix```.
function subscribe() callback $channel will replace prefix to ''.

[2019-08-12 11:58] driesvints commented on #29506
@staudenmeir what do you think?

[2019-08-12 12:04] driesvints commented on #29505
@digilist then why did you mark this as "feature" in your issue template? Please try to properly fill out issue templates when posting them.

I think maybe an exception could indeed work here. Can you maybe send in a PR with a test?

[2019-08-12 12:10] decowboy commented on #28920
My apologies if it is frowned upon to comment on a closed issue, but I'd like to quickly reply to the solution suggested by @koenhoeijmakers

My configuration already had the `retry_after` set significantly higher than the `timeout` before this issue starting popping up, so (at least in my case) the two are not related.

[2019-08-12 12:15] driesvints commented on #29394
I don't know too much of the internals to know if this would have side effects.

[2019-08-12 12:27] driesvints commented on #29441
I can reproduce it now. Not sure what's going wrong here.

[2019-08-12 13:02] driesvints commented on #29486
@davidhemphill can you maybe post your `ExampleNotification` class as well? Currently getting the following below when I scaffold a default one:

[code]

[2019-08-12 13:18] Brenneisen commented on #29521
Command Example:

[code]

[2019-08-12 13:32] Brenneisen opened #29525 "Queue jobs with SerializesModels fail when eloquent collections are deserialized"
- Laravel Version: 5.8.29
- PHP Version: 7.3.7
- Database Driver & Version: MySQL 8.0

### Description:

After #29136 the deserialization of eloquent collections fails if elements are deleted in the meantime.

### Steps To Reproduce:

[code]

[2019-08-12 13:37] lorisleiva commented on #29394
All tests were passing locally so I decided to create a PR.

[2019-08-12 15:57] davidhemphill commented on #29486
Sure! Here's a slightly stripped-down example. In our domain, the notification channels (slack, telegram, mail, etc) are store in the database and passed into the `Notification`.

[code]

[2019-08-12 16:11] kangoo13 opened #29531 "assertPushedWithChain's callback has the same job in callback's parameter"
- Laravel Version: 5.8.31
- PHP Version: 7.2.19

### Description:

When I want to assert some custom stuff on the chained jobs that are in the queue, I realized that the job parameter of the callback function is 2 times the same job (FirstJob).

To be sure, i made a `var_dump(get_class($job));` and it showed 2 times FirstJob

### Steps To Reproduce:

[code]

### Expected behaviour

In the callback

[2019-08-12 16:30] #29394 closed

[2019-08-12 17:02] fredsvanelli commented on #15192
After hours of tests and research, I just removed the "Exception" word from the function and it worked for me. Laravel 5.4.

Command "php artisan queue:work --tries=1"

**Before (not working):**
[code]

**After (working)**
[code]
Could this be a bug?

[2019-08-12 18:41] manoelramos commented on #29504
I could do it using XMLHTTP, I think the problem is with Axios to send FormData

[2019-08-12 19:54] microdesign commented on #11068
I just come to this problem,
is there still no working example to **seeJsonStructure** alternative in Laravel 5.8 ?

[2019-08-13 04:02] avictory6 commented on #28476
This problem still persist with Laravel Framework 5.8.21

[2019-08-13 05:17] staudenmeir commented on #29506
The current behavior is not ideal, but I don't really see a better solution. If we remove the `cascade` option, there is no "Laravel way" to truncate tables that are referenced by foreign keys on PostgreSQL (unlike on MySQL where you can use `disableForeignKeyConstraints()` ).

Is there a PostgreSQL equivalent to MySQL's `SET FOREIGN_KEY_CHECKS=0`?

The issue with such an option is that it would s

[2019-08-13 05:28] staudenmeir commented on #2494
@driesvints The issue can be closed. With #29496, we now wrap `UNION` subqueries on all databases.

[2019-08-13 07:48] vfsoraki opened #29538 "Issue storing files with certain unicode characters"
Laravel: 5.8.28
Flysystem: 1.0.53

The issue is in method `putStream` in `Flysystem`, specifically line 114:

    $path = Util::normalizePath($path);

What this does is removing some characters from filename. The issue is that the "normalized" filename is not returned, and method `putFileAs` or `put` in `FilesystemAdapter` can not know whether filename is modified or not.

For example, I use it to

[2019-08-13 08:15] foremtehan opened #29539 "[Request] Assert Redirect for all routes that have specific prefix"
[code]

I wanna assert redirect to all routes that started with ```admin``` prefix in one assertion, is there a better idea unlike the above way?

[2019-08-13 08:48] ManojKiranA commented on #29539
Hi @foremtehan ,
Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://larave

[2019-08-13 09:30] CristianEstiber opened #29540 "URL::defaults not working properly"
- Laravel Version: 5.8.31
- PHP Version: 7.3.1

Afte rlaravel update I can't get URL:defaults working properly example:

Middleware:

[code]

Kernel.php:

[code]

web.php:

[code]
calling the route like that:

`<a class="nav-link" href="{{route('contact')}}">@lang('contact')</a>`

And it doesn't use the default locale from the middleware, it ask for second parameter:

`Missing required parameters

[2019-08-13 09:43] Phactory commented on #18551
i got this on new version of pgsql (on older it works normally)
exception is wrong - this column exists

[2019-08-13 09:47] Phactory commented on #22029
i have the same issue on newer pgsql version  (older works fine)

[2019-08-13 09:49] driesvints commented on #29521
I can indeed reproduce this. From what I can tell it's probably best to revert it but that'll break the new behavior again.

[2019-08-13 09:54] CaddyDz commented on #29540
Add `'locale'` to your `web` middleware group like this
[code]

[2019-08-13 09:58] CristianEstiber commented on #29540
Thanks, works, but don't understand why doesn't work on routeMiddleware

[2019-08-13 10:01] driesvints commented on #29531
Hmm, this is indeed how it's implemented atm but I'm wondering if this actually is the expected behavior. The `$callback` isn't documented either. At any rate, if we would change this it'd be a breaking change for sure.

[2019-08-13 10:05] #2494 closed

[2019-08-13 10:09] driesvints commented on #29538
You should indeed strip out special characters before passing the parameters. I've always done this as well in my own apps.

[2019-08-13 10:09] #29538 closed

[2019-08-13 10:10] driesvints commented on #29539
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-13 10:10] #29539 closed

[2019-08-13 10:15] kangoo13 commented on #29531
Oh ok, I thought it was logic to iterate over the different jobs and not the same twice or more to assure that they assert the right data but I might be wrong ?

[2019-08-13 10:16] amitshahc commented on #7671
I solved this by this:
Put all dynamic values into the .env
`
'google' => [
        'client_id'     => env('AUTH_GOOGLE_CLIENT_ID'),
        'client_secret' => env('AUTH_GOOGLE_CLIENT_SECRET'),
        'redirect'      => env('APP_URL').'/auth/google/callback',
    ]
`

[2019-08-13 10:37] driesvints commented on #29531
I think the callback is only to perform assertions against the original job. But I agree it could be beneficial to also check the chained jobs. But that sounds like a feature more than a bug. Feel free to open up an issue on the ideas repo and maybe send in a PR. Thanks.

[2019-08-13 10:37] #29531 closed

[2019-08-13 10:37] ppshobi commented on #29506
Hmm... Does it seem like for specific features it will be better to use some hacks (raw SQL queries)?. But at the same time I see `disableForeignKeyConstraints()` is specific to MySQL/SQLite.

[2019-08-13 10:38] driesvints commented on #29540
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-13 10:38] #29540 closed

[2019-08-13 10:44] vfsoraki commented on #29538
@driesvints

You miss understood the problem.

It's not stripping names or not. It the method returning wrong path, as it should return the real file path saved on disk.

If it is going to return it this way, it is not guaranteed that the file path is correct. Then there is no point in returning a path that maybe is nonexistent.

At least, it should throw an exception to notify user that path can

[2019-08-13 11:04] driesvints commented on #29538
@vfsoraki Heya, thanks for explaining more. This is unfortunately not possible. The `put` method of the Flysystem Filesystem will only return a boolean so there's no way for us to know the new path. That's why I said that you should always make sure that the filename/path is normalized before you store it. The `Util::normalizePath` inside the Filesystem class is just a safety precaution for Flysys

[2019-08-13 11:04] martinbean commented on #7671
@amitshahc This has long been solved. Relative URLs in config files will be expanded to the absolute URL.

From https://laravel.com/docs/5.8/socialite#configuration:

[2019-08-13 11:06] vfsoraki commented on #29538
@driesvints

Thanks

I think then the return value of function should be removed, or at least a notice should be added to documents.

My problem is solved, but it will surely happen for others again.

[2019-08-13 11:10] driesvints commented on #29538
@vfsoraki a note in the docs can definitely help. I'll send in a PR for this 👍

[2019-08-13 14:07] driesvints commented on #29486
Hey @davidhemphill. I still think we need a little more code to reproduce this. I see you have a dependency in your `ExampleNotification` class but your original example doesn't takes one in. Can you add some more code to have a fully reproducible example? If I can reproduce it I can look into how we can improve or what a better solution might be. Thanks!

[2019-08-13 14:57] NaturalBornCamper opened #29544 "Laravel doesn't seem to support numeric $_POST keys in validation rules"
- Laravel Version: 5.8.21
- PHP Version: 7.3.1-fpm
- Database Driver & Version: No DB

### Description:
Laravel doesn't seem to support numeric $_POST keys when trying to validate input, including when the numeric key is between quotes to be treated as a string.

### Steps To Reproduce:
First, here is a working example:
[code]

Which displays:
[code]

Then a non-working example, if the `$_POST` ke

[2019-08-13 15:21] staudenmeir commented on #29544
Please see #29116.

[2019-08-13 15:32] NaturalBornCamper commented on #29544
Ah damn.. I had searched before and found a similar bug report, but failed to see this one.

And I built all my system with numeric keys after some online research to verify if this was acceptable :/ Well thanks for the info, refactoring time!

[2019-08-13 15:42] #29544 closed

[2019-08-13 15:43] driesvints commented on #29525
PR was merged.

[2019-08-13 15:43] #29525 closed

[2019-08-13 17:33] liamoreilly opened #29551 "Laravel generates pagination links that contain invalid html code"
Invalid HTML is produced when displaying pagination results using https://laravel.com/docs/5.8/pagination#displaying-pagination-results

For example, Blade code such as

[code]

produces the following HTML

[code]

The problem is the `ul` element is not allowed to have a `role` of `navigation`. This is invalid HTML (according to https://validator.w3.org/). The reported error is "Bad value navigati

[2019-08-13 18:22] devcircus commented on #29551
This change was made, but was reverted [here](https://github.com/laravel/framework/pull/27907), as it needs to be done in 6.0.

[2019-08-13 19:02] amitshahc commented on #7671
yeh but i am using 5.5 which has this issue. so for those using earlier versions can have this solution.

[2019-08-13 21:58] pet1330 opened #29555 "Eloquent fires update events when restoring a softDeleted model"
- Laravel Version: 5.8.26
- PHP Version: v7.3.6-1

### Description:
When restoring a soft deleted model the `updating` and `updated` events are triggered due to the save function being called by the restore function. This makes it impossible to know whether an update is actually an update, or whether it is just a model being restored (i.e. only changing the `deleted_at` field to `null`) without ma

[2019-08-14 03:25] legend6 commented on #27806
just update your mariadb to the latest version 10.4.7, it will fix it ;)
also for $table->json()

happy coding !!

[2019-08-14 10:11] tprj29 commented on #22029
[code]

[2019-08-14 15:26] novaknole opened #29570 "save and saveOrFail (different cases in deep level)"
Hello Artisans !!!

I want to express my ideas and how I look at the situation about **save()** and **saveOrFail** functions.

**Issue 1)** If we look at the **save()**  function in laravel API docs, Its return value is only boolean and it doesn't state that it throws exceptions. If this is true, Does it mean that **save** method is never gonna throw any kind of exception at all? **NOTE**: I am no

[2019-08-14 16:00] jtomek commented on #22847
Ok, I've struggled with policies and this issue in particular for months due to the impossible debugging. It's actually worse than debugging queues.

Anyway. I think I have finally figured it out so I will just leave it here for somebody else who might face a similar problem:

Lesson number 1 (key lesson): In my API resource controllers, I have used the functions without the identification of a cl

[2019-08-14 16:51] sheaujye opened #29571 "Pivot table with custom name not working"
Laravel: 5.8.32
PHP: 7.3.7

Many-to-Many relationship, Company has many Users and vice versa, User can belong to many Companies, the intermediate table is called Access (table: accesses).

Company:
[code]

User:
[code]

Intemediate Table - Access:
[code]

Steps to reproduce bug:
1. Make sure the actual table matches the $table as 'accesses'.
2. Run '$company->users()->get();'.
3. Gets error 'SQLST

[2019-08-14 17:07] staudenmeir commented on #29571
You need to specify the custom pivot table as the second argument:

[code]
You can also provide the pivot class as the second argument and remove `using()`:

[code]

[2019-08-14 17:56] pr4xx commented on #23094
But how can I pass the fields when not using the `request()` as source?

[2019-08-14 18:17] ihorvorotnov commented on #13773
Just did `DB::statement('ALTER TABLE table_name MODIFY column_name FLOAT(9,3) NOT NULL;');` after reading this thread and it worked. Thank you, guys <3

[2019-08-14 18:25] staudenmeir commented on #22029
What does the `App\Support\Schema` class look like?

[2019-08-14 22:03] danielshongo opened #29573 "I'm using laravel socialite 3 but when I try to refresh the page, an abstract error appears. Why"
- Laravel Version: 5.6
- PHP Version: 7.1
- Database Driver & Version: MYSQL

THAT IS THE ERROR I GET

Client error: `POST https://graph.facebook.com/v3.0/oauth/access_token` resulted in a `400 Bad Request` response: {"error":{"message":"This authorization code has been used.","type":"OAuthException","code":100,"fbtrace_id":"A8HAtE6A6m (truncated...)

[2019-08-15 00:04] JasonTheAdams opened #29574 "hasOneThrough failing during numerous model testing"
- Laravel Version: 5.8.19
- PHP Version: 7.3.2
- Database Driver & Version: MySQL 8.0.15

### Description:
I'm having a very strange issue wherein testing a hasOneThrough relationship is passing when I run the test individually, but when I run it as a suite of other tests it fails. To be clear, the suite is a bunch of unit tests that for model classes. Each test class uses the `RefreshDatabase` tr

[2019-08-15 00:08] JasonTheAdams commented on #29574
I just updated to Laravel 5.8.32 to see if this has been fixed between versions, and unfortunately the problem persists.

[2019-08-15 00:09] staudenmeir commented on #29574
Please create a fresh Laravel installation, add the code necessary to reproduce the issue and upload it to GitHub.

[2019-08-15 00:20] dunhamjared opened #29575 "Exception is thrown using `getMySqlBuilder()` on `tests/Database/DatabaseQueryBuilderTest.php`"
- Laravel Version: 5.8
- PHP Version: 7.1

### Description:

`Mockery\Exception\NoMatchingExpectationException` is thrown when I try to create a new test on `tests/Database/DatabaseQueryBuilderTest.php` when I use `getMySqlBuilder()`.

### Steps To Reproduce:

On the following function found in [tests/Database/DatabaseQueryBuilderTest.php](https://github.com/laravel/framework/blob/5.8/tests/Databa

[2019-08-15 00:23] JasonTheAdams commented on #29574
@staudenmeir Will do. Few more notes on my current repo.

I stopped any previous tests from running. So long as this class' tests were the first, they worked fine. I added one test in a previous class with a simple `$this->assertTrue(true)` and it worked fine. But then I added the following:
[code]

This caused the test to fail wherein the `DonationComment` accesses the `User` as a `hasOneThrough`

[2019-08-15 00:26] #29575 closed

[2019-08-15 04:16] sheaujye commented on #29571
Thanks, your recommendation seems to be working for me. Closing.

[2019-08-15 04:16] #29571 closed

[2019-08-15 07:23] prwnr commented on #29521
This doesn't only affect table command tests, but other 'ordered' expected outputs as well.
We are facing a problem with commands tests after https://github.com/laravel/framework/commit/42c19bd4482ef1c2f850851cf607badeff111a8d .

In our case it's a question that is being asked in a loop, so it can appear more than once in the output, but when the question is being expected for the second time, the

[2019-08-15 07:55] xkovacikm opened #29578 "Validation translates with prefix do not replace custom attributes correctly"
- Laravel Version: 5.8.*
- PHP Version: 7.2

### Description:

Hello guys :)

i have a quite problem here. I load validation translation messages from external package.
So i had to use `loadTranslationsFrom( $somePath, "core")` method in **ServiceProvider**.

Now i want to validate my request by FormRequest, but translates are not resolved!

So in my **CustomFormRequest** file i did following thin

[2019-08-15 08:13] tprj29 commented on #22029
[code]

[2019-08-15 10:10] driesvints commented on #29551
This was sent in to the master branch and will be in the next release: https://github.com/laravel/framework/pull/27919

[2019-08-15 10:10] #29551 closed

[2019-08-15 10:29] driesvints commented on #29555
Heya, since it was noted in the previous issue that the current behavior is the actual wanted behavior I feel that this is more of an issue for the ideas repo than an actual bug. Feel free to open this in the ideas repo and discuss your concerns. And feel free to send in a PR once you've gathered some support for your idea. Thanks.

[2019-08-15 10:29] #29555 closed

[2019-08-15 10:58] driesvints commented on #29570
Heya, thanks for submitting this.

This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

Thanks!

[2019-08-15 10:58] #29570 closed

[2019-08-15 10:59] driesvints commented on #29573
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-08-15 10:59] #29573 closed

[2019-08-15 11:15] driesvints commented on #29574
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-15 11:15] #29574 closed

[2019-08-15 11:45] driesvints commented on #29521
@prwnr can you try with the patch provided by mohamed and let us know if that fixes your issues? https://github.com/laravel/framework/pull/29580

[2019-08-15 12:26] driesvints commented on #29578
Hey @xkovacikm. What does your `rules` function look like? Normally you'll need to specify the `rule.validator` in your key for your `messages` function as described here: https://laravel.com/docs/5.8/validation#customizing-the-error-messages

[2019-08-15 12:43] prwnr commented on #29521
@driesvints works fine with my tests as it was working with v5.8.29
I did additional test with the same question being asked 3 times, works regardless of how many times same question appears.

[2019-08-15 16:11] JasonTheAdams commented on #29574
@driesvints Please reopen this issue. I've reproduced the bug in a fresh Laravel installation with minimal setup: https://github.com/JasonTheAdams/laravel-hasonethrough-bug

[2019-08-15 16:12] driesvints commented on #29574
@JasonTheAdams can you please try a support channel from above first?

[2019-08-15 16:15] JasonTheAdams commented on #29574
@driesvints Could you please provide some direction as to what I should get support for? I've reproduced the bug in a minimal state. Should I get some others to test it out and confirm it? I'm just not sure what you're asking me to do.

[2019-08-15 16:17] driesvints commented on #29574
@JasonTheAdams we haven't had reports of this up until now which is why I suspect there's something amis in your app that's causing this. Maybe letting others also reproduce it first can definitely help in confirming the bug.

[2019-08-15 16:19] JasonTheAdams commented on #29574
@driesvints I appreciate your suspicion and it makes sense. I reached out on Discord and I'll try to get some other folks to look at it. If you have 10 minutes, the repo I made is *very* bare bones, so if I am doing something odd it should be quickly obvious.

[2019-08-15 16:24] driesvints commented on #29574
@JasonTheAdams just a small fyi: if you ever run in a situation again where you need to create a repo to show a bug try to commit the skeleton first and then all your changes which reproduce the bug. That really helps to find out what's amis.

[2019-08-15 16:28] driesvints commented on #29574
@jason not 100% sure but your Donation doesn't has a relationship to the user so not sure how that would work in the first place?

[2019-08-15 16:35] JasonTheAdams commented on #29574
@driesvints Yeah, good call on committing the skeleton first. I'll keep that in mind in the future.

The donation table has a relationship, and the `hasOneThrough` doesn't require a middle model relationship as it just creates a double-join query under the hood.

I did just learn one fun fact from someone on Discord — which I verified — the issue goes away when I run the tests using SQLite. Otherw

[2019-08-15 17:27] foremtehan opened #29591 "morhMap ignores extra pivot columns"
- Laravel Version: 5.8.29
- PHP Version: 7.3.7
- Database Driver & Version: MySQL 8.0

### Description:

```morhMap``` would rename the ```_type``` column but ignores extra pivot columns, the extra column is ```usage```

### Steps To Reproduce:

[code]

Controller:

[code]

AppServiceProvider:

[code]
Thread.php

[code]
Tag.php
[code]

One Note: Above codes works and would increments the ```usage`

[2019-08-15 18:47] muresanandrei commented on #22286
Well this is old but maybe will help others the solution to this problem is a callback.

[code]

[2019-08-15 19:16] JasonTheAdams commented on #29574
I'm really not even sure where to go by this point. I just tested MySQL 5.7.26 and the issue happened there as well. It doesn't seem to occur with `hasManyThrough`, either. 😕

[2019-08-15 20:29] jonaswebdev commented on #18735
Maybe can be the "PHP max upload file size", I had this here ;)

[2019-08-15 21:04] JasonTheAdams commented on #29574
@driesvints Have any recommendations on how to proceed? I've reproduced the problem on vanilla Laravel and have narrowed it down to MySQL in some form (since SQLite works).

[2019-08-15 22:26] n3omaster commented on #24450
Try this:

`use Illuminate\Support\Facades\Cache;`

[2019-08-15 22:38] staudenmeir commented on #29591
The query builder doesn't know about the `morphMap`. You need to provide morph class:

[code]

You should also consider using Eloquent methods:

[code]

Or:

[code]

[2019-08-16 00:44] staudenmeir commented on #29574
The relationship is incorrect:

[code]

[2019-08-16 02:20] AdamKyle opened #29598 "Potential Bug when Uploading Files Via Test"
- Laravel Version: "v5.8.32"
- PHP Version: PHP 7.3.8 (cli) (built: Aug  6 2019 23:15:07) ( NTS
- Database Driver & Version: MYSQL, mysql  Ver 8.0.17 for osx10.14 on x86_64 (Homebrew)

### Description:

Potential issue, might be me doing it wrong, but consider the following:

[code]

Here we upload the file, we do not fake anything because later on I will actually want to get these files back thro

[2019-08-16 04:41] JasonTheAdams commented on #29574
@staudenmeir Are you kidding!?

![What!?](https://media.giphy.com/media/5t9wJjyHAOxvnxcPNk/giphy.gif)

Oh man... thank you. I can't believe all of this was the result of me just not using the method properly and getting stuck behind a terrible coincidence.

I sincerely thank you for taking the time to point me in the right direction. I shall now eat my big piece of humble pie and move onto the nex

[2019-08-16 06:12] #29591 closed

[2019-08-16 08:10] xkovacikm commented on #29578
My rules method looks like this:

[code]

and no, i **DO NOT** need to specify rules like this:
[code]

I can do:
[code]
**because i want to translate EVERY required rule.**
But like i said in previous message, problem is, that attribute name is not translated. Message is, but attribute is not.

Final message look like:
_You need to enter your phonenumber._
and it should be:
_You need to enter you

[2019-08-16 11:33] driesvints commented on #29486
Hey @davidhemphill. I saw your video and think I have a solution. What you basically will have to do is differentiate between channels within the callback. The notifications should definitely all pass through:

[code]

If you want a "hacky" way to assert that both channels were definitely called you can do something like this:

[code]

There indeed doesn't seems to be a better way to do that atm 🤔

[2019-08-16 11:47] driesvints commented on #29521
Mohamed's PR was merged and will be in the next minor release for Laravel.

[2019-08-16 11:47] #29521 closed

[2019-08-16 12:45] driesvints commented on #29574
@JasonTheAdams this is the reason why you should try a support channel first. Don't get me wrong, we're happy to help but a lot of these things can be solved by help from the community. If we had to provide support for every single issue a community member has than we would be doing support for that 24/7 😅

Anyway, glad you found it 👍

[2019-08-16 12:48] driesvints commented on #29598
@AdamKyle can you point to where you asked this on subreddit so we might gather some more info?

[2019-08-16 12:59] driesvints commented on #29578
The docs state:

So I'm afraid this isn't possible atm. You can open up an issue on the ideas repo if you like if you want this to be supported and maybe send in a PR request that implements the feature.

[2019-08-16 12:59] #29578 closed

[2019-08-16 13:16] driesvints commented on #29298
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue and we'll re-open this issue.

[2019-08-16 13:16] #29298 closed

[2019-08-16 14:17] xkovacikm commented on #29578
Okay, thanks.

funny thing is I created issue in ideas repo few weeks ago and i was sent here to report a bug :) Quite an endless loop.

But maybe if I'll have free time to learn how formatting workflow works and be able to fix it, I'll sent PR request.

[2019-08-16 14:33] driesvints commented on #29029
@pxgamer thanks. That really helped to get the ball rolling. Sent in a PR here: https://github.com/laravel/framework/pull/29606

[2019-08-16 14:54] #29029 closed

[2019-08-16 15:13] TadeuOliveira opened #29607 "npm run watch won't serve the application"
- Laravel Version: 5.8.32
- PHP Version: 7.2.19
- Database Driver & Version: mysql Ver 14.14 Distrib 5.7.27

### Description:

Even starting out a fresh project, npm run watch won't work.
netstat won't show a node port whenever I run this command.
When I attempt to use browserSync, the "Proxying" URL points to an unreachable page showing either *DNS_PROBE_FINISHED_NXDOMAIN* (when I use a named dom

[2019-08-16 15:15] driesvints commented on #29607
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-16 15:15] #29607 closed

[2019-08-16 16:03] AdamKyle commented on #29598
@driesvints  unfortunately  because no one replied on Reddit or stack overflow I deleted the posts, what other info do you need that I might be able to provide?

[2019-08-16 16:14] driesvints commented on #29598
I think it's best if you try one of the support channels from below first. Try the Laracast or laravel.io forums or Discord. They're great channels for getting help from community members. If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://larave

[2019-08-16 16:14] #29598 closed

[2019-08-17 02:38] staudenmeir commented on #22029
Sorry, but that's too much custom code. Please create a fresh Laravel installation, add the code necessary to reproduce the issue and upload it to GitHub.

[2019-08-17 03:21] hxshandle opened #29617 "Validator with Rule::in() not work as expected in chinese"
- Laravel Version: 5.8.*
- PHP Version: 7.1.16
- Database Driver & Version:

### Description:

Hi team,
  The Validator with Rule::in() not works as expected when there is any Chinese items in Rule::in() array.  Details see the bellow code.

### Steps To Reproduce:
[code]

The above code will green as expected but when I change the $testData value to "中文", the test will fail, even the "中文" is list

[2019-08-17 03:44] hxshandle commented on #29617
Hi team,
  I think I found the root cause please see attached image,
  The following code works wrong in chinese.
[code]

[2019-08-17 03:53] staudenmeir commented on #29617
I can't reproduce this, your example works for me.

Please open the `$parameters` array in the "Variables" section of PhpStorm and post a new screenshot.

[2019-08-17 03:58] staudenmeir commented on #29617
I can't reproduce this issue. Your last example gives me the correct result:

[code]

Is your PHP file encoded as UTF-8?

[2019-08-17 12:09] hxshandle commented on #29617
Thanks @staudenmeir , I found the root cause, setlocale(LC_ALL,"zh_CN.UTF-8") will resolve the issue.

[2019-08-17 12:11] #29617 closed

[2019-08-17 19:40] JohanIskandar commented on #19577
if you are using laravel 5.7 or above
in your .env
QUEUE_CONNECTION=database

[2019-08-17 21:11] jonathanmacgregor opened #29621 "Laravel Mix - Hot file issue"
- Laravel Version: 5.8.32
- PHP Version: 7.3.3
- Database Driver & Version:

### Description:
When using Laravel mix to load assets, the URL generated includes the Hot reload domain and port. Even when not using hot reload.
`<link href="{{ mix('/css/app.css') }}" rel="stylesheet"/>`
Returns the following
`<link href="http://localhost:1022//css/app.css" rel="stylesheet"/>`
It looks like a file call

[2019-08-17 23:14] M4tini commented on #28161
In Laravel 5.8 I had to change the suggested `LockProvider` identification to:
[code]

[2019-08-18 01:08] emadha opened #29622 "Eloquent Relation ignores its NULL column"
- Laravel Version: 5.8.#
- PHP Version: 7.#.#
- Database Driver & Version: MariaDB

### Description:
Eloquent with a relation, say HasMany, doesn't care about the NULL column and keep trying to get the Model.

### Steps To Reproduce:
``php artisan make:model Category -mc``
Migaration should have something like `category_id` // like a parent category
[code]

Model App\Category:

[code]

Until now i

[2019-08-18 02:51] staudenmeir commented on #29622
select * from `categories` where 0 = 1

This eager loading query is indeed unnecessary, but it would require bigger changes in the Laravel code to prevent such a query.

select * from `categories` where `categories`.`id` is null

This query does not actually get executed during lazy loading. If you run `(new Category)->category` you'll see that Laravel detects the empty foreign key and doesn't exe

[2019-08-18 02:57] midwestE commented on #24876
This bug still exists.  Ran into it when running migrations during unit testing while using an sqlite file db that has a foreign key specified in the migration.  Package Waavi/translation.

[2019-08-18 04:20] emadha commented on #29622
@staudenmeir correct, i just checked
[code]
in Debugbar it doesn't log anything.

And as you said
[code]
will log ``select * from `categories` where 0 = 1``

[2019-08-18 04:24] ankurk91 commented on #29621
You can manually delete the `public/hot` file and the `mix()` blade helper should behave normal now.
Usually [laravel-mix](https://github.com/JeffreyWay/laravel-mix) should auto delete this file, but it may left there for various reasons.

In order to delete the `public/hot` file properly, we need to add this patch
[code]
The same approach works fine with my custom made webpack solution, [laravel-

[2019-08-18 04:54] emadha commented on #29622
I play around with it and updated the Builder.php

[code]

Added the checks happening in BelongsTo->getEagerModelKeys() into Builder->eagerLoadRelation();

What's your feedback on this @staudenmeir ?

[2019-08-18 05:02] emadha commented on #29622
okay , i just realized that my suggestion was a disaster 💃

[2019-08-18 07:27] mshomali opened #29623 "required_without bug"
- Laravel Version: 5.5.*
- PHP Version: 7.3.7
- Database Driver & Version: sqlsrv

### Description:
I use required_without validation rule such as following code:
[code]
when I pass national_id parameter to request I get following error:

and if I pass national_code to request and don't pass national_id I get following error:

I find the problem. The problem is I put a space between required_witho

[2019-08-18 12:29] nmfzone commented on #29623
It's not a bug. It's just because you don't write code like what it should.

[2019-08-18 12:47] nmfzone commented on #29621
@jonathanmacgregor Are you sure the `Steps To Reproduce` just like that? Fresh install of Laravel don't include `mix-manifest.json`, so if you just write `mix('/css/app.css')`, it should throw an error, since you haven't run `yarn run hot/dev`.

Anyway, I think this is not an issue, it's just use don't use it correctly. Since the `hot` file is still exists, it means you just run `yarn run hot` bef

[2019-08-18 13:10] WingCH opened #29625 "Laravel Implement greatest-n-per-group"
**User** table:

| id |       name | age |
|----|------------|-----|
|  1 |      Apple |  22 |
|  2 | Strawberry |  23 |
|  3 |     Orange |  50 |
|  4 |      Mango |  30 |

**Memberships** table:

| id | user_id |            expire_at |
|----|---------|----------------------|
|  1 |       1 | 2019-08-17T11:19:30Z |
|  2 |       1 | 2019-08-10T11:20:10Z |
|  3 |       2 | 2019-08-29T11:20:19Z |
|

[2019-08-18 13:25] nmfzone commented on #29625
I'm not sure what the problem is, but I definitely can see something wrong in your code.
You write something like this
`$query->where('m1.expire_at','<','m2.expire_at')`
but you expect the query to be like this `m1.expire_at < m2.expire_at`. AFAIK, Laravel will not convert the query to be like that, instead it will produce `m1.expire_at < 'm2.expire_at'`, the `m2.expire_at` is treated as string, n

[2019-08-18 13:40] staudenmeir commented on #29625
Laravel has a dedicated `whereColumn()` method for that:

[code]

[2019-08-18 14:28] jonathanmacgregor commented on #29621
Apologies, i missed the `yarn run dev` command off the steps to reproduce. I haven't ever run `yarn run hot` command before. and it still does it.

[2019-08-18 14:46] nmfzone commented on #29621
@jonathanmacgregor Ah ok if that the case. Ok now, are you sure you don't run `yarn run hot` before? So why the `hot` file inside your public folder (`It looks like a file called hot is specified within the public folder`)? The default Laravel instalation doesn't come with `hot` file :/

[2019-08-18 15:41] WingCH commented on #29625
@nmfzone
@staudenmeir
Thank you very much for your help !!!
I spent a lot of time on this problem

[2019-08-18 16:16] jonathanmacgregor commented on #29621
@nmfzone it isn't there when i install. But when i run the application it is created automatically.

[2019-08-18 17:32] nmfzone commented on #29625
@staudenmeir That's the cleanest solution..

@WingCH So, is it working? Let's close this issue if it's not an issue.  You can use Stackoverflow or Gitter. 👍

[2019-08-18 17:38] nmfzone commented on #29621
@jonathanmacgregor Huh, what do you mean run the application? What `laravel-mix` version you're using?
Actually I've follow your step, but can't reproduce your issue. Could you try to reproduce again with fresh Laravel installation?

[2019-08-18 17:46] devcircus commented on #29621
How are you creating a "fresh install"? The first I've ever heard of this happening.

I just installed with "laravel new" and couldn't reproduce.

Probably better to ask around on some of the community support channels.

[2019-08-18 20:12] jonathanmacgregor commented on #29621
I've spent the last few hours reinstalling my mac completely. I believe it was an issue with Laravel valet somehow.
It works now without issue.

[2019-08-18 20:12] #29621 closed

[2019-08-18 20:59] eberkund commented on #28228
I am having the same issue randomly getting reported by Sentry

[2019-08-18 21:52] WingCH commented on #29625
worked! I also asked in Stackoverflow, but seems @staudenmeir solutions is most concise and seems can avoid the problem  of array elements will be overriden when using the same keys.

https://stackoverflow.com/questions/57544848/laravel-implement-greatest-n-per-group

Thank you again for your help.

[2019-08-18 21:54] denjaland opened #29630 "Eloquent event 'retrieved' is being emitted prior to eager loading relations"
It seems that the Eloquent `retrieved`events are being emitted by the framework prior to loading the eager relationships.

This causes for the N+1 query issue to persist even when trying to eager load (in fact, it now becomes a N+1+1 issue ;-) ) a relation that is depended on in the code that listens to the `retrieved` event.

Have a look at this trait: https://github.com/laravel-enso/versioning/b

[2019-08-18 23:08] lorado commented on #28050
@sgimmai I just faced the same problem.

After I digged a little bit, I found out, that delete method on MorphPivot overrides delete method defined in Pivot over AsPivot trait. Firing deleting and deleted events is defined only in Pivot class (AsPivot trait), and it definitely woks, but MorphPivot overrides this behaviour.}

Gonna check git commits and make a PR to fix it

[2019-08-19 00:02] lorado opened #29631 "MorphPivot Model deleting events are not fired"
- Laravel Version: 5.8.32
- PHP Version: 7.3.1
- Database Driver & Version: PostgreSQL 10.6

### Description:

Laravel 5.8 supports events firing on pivot models. Unfortunately I face the problem, that Pivot with Morph-relation don't fire `deleting` and `deleted` events.

### Steps To Reproduce:

Create Intermediate Table / Pivot Model and define events on boot, e.g.

[code]

Try to attach, detach

[2019-08-19 00:29] staudenmeir commented on #29630
That's expected behavior.

Can you provide a simple example?

[2019-08-19 00:32] staudenmeir commented on #29631
/cc @ralphschindler

[2019-08-19 00:33] lycidas100 opened #29632 "If my gmail password contains a hash symbol(#) at the end it gets dropped in bootstrap/cache/config.php when I run the command php artisan config:cache"
- Laravel Version: 5.8.11
- PHP Version: 7.1.31
- Database Driver & Version :MYSQL driver

### Description:
If my gmail password contains a hash symbol(#) at the end (i.e xxxxxxxxxx#) it gets omitted in bootstrap/cache/config.php when I run the command php artisan config:cache.
This causes an error when sending an email through Laravel. It took me a while to discover what was causing the error.

#

[2019-08-19 01:43] staudenmeir commented on #29632
You need to wrap the value in  quotes:
https://laravel.com/docs/5.8/upgrade#environment-variable-parsing

[2019-08-19 05:26] jasbin opened #29633 "page not found error"
- Laravel Version: 5.8
-Version: 7.2
![bugLaravel](https://user-images.githubusercontent.com/25180100/63240962-a2353600-c271-11e9-87d7-b14c7a3f4a94.PNG)

### Description:
i was about to search the database images using findOrFail(). it was working when image $id exist, but the problem occoured when the findOrFail() is unable to find the $id and instead of throwing error or exception or any message

[2019-08-19 06:00] mshomali commented on #29623
@nmfzone
Yes, You 're right. It's not a bug.
Thanks.

[2019-08-19 06:12] danisjohn99 commented on #28377
For those of us that don't have access to going Spark updates, here's the patch:

    use SendsPasswordResetEmails, ResetsPassword {
        SendsPasswordResetEmails::broker insteadof ResetsPassword;
        ResetsPassword::credentials insteadof SendsPasswordResetEmails;
    }
----------------------------------------------------------------------------------------------
change to  "ResetsPasswords

[2019-08-19 06:32] denjaland commented on #29630
Hi,

Well, the linked line in that trait is the example.
Consider this...

    protected static function bootMyTrait()
    {
        self::retrieved(function ($model) {
            // If you require a related model here and retrieve it like this for example...
            $model->myRelation;
        }
    }

And you do this in your model:

    public class MyModel extends Model {
        protected

[2019-08-19 07:27] nmfzone commented on #29625
@WingCH Nice! Fyi, I mean let's move this conversation to Stackoverflow or Gitter, since this is not a bug. So you can `Close Issue`. 👌

[2019-08-19 07:39] mtanmay commented on #18724
The only use case for `Storage::fake('test-disk-name')` that I can see is cleaning up the test disk directory when the test is run next time. It doesn't change the filesystem driver on-the-fly. So this `env` tag needs to be added in `phpunit.xml`: `<env name="FILESYSTEM_DRIVER" value="test-disk-name"/>`

[2019-08-19 08:46] deathkel opened #29634 "laravel 5.5 's Dependency doctrine/lexer 1.1 need php ^ 7.2"
- Laravel Version: 5.5.*
- PHP Version: 7.1.3
- Database Driver & Version:

### Description:
composer install fail due to doctrine/lexer 1.1 need php ^ 7.2
same issue happen in lumen 5.8
![image](https://user-images.githubusercontent.com/14328715/63251484-66fe2b80-c2a0-11e9-9e95-ead2c9bc9dce.png)

### Steps To Reproduce:
composer install

[2019-08-19 09:32] #29632 closed

[2019-08-19 09:41] #29625 closed

[2019-08-19 10:10] jarnovanleeuwen commented on #14733
Ran across this while using the `DatabaseTransactions` trait in our tests. Solved it by disabling foreign key constraints while creating models with cross-database foreign keys:

[code]

[2019-08-19 11:01] driesvints commented on #29633
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-19 11:01] #29633 closed

[2019-08-19 11:10] driesvints commented on #29634
I can perfectly install a 5.5 project on PHP 7.1

[2019-08-19 11:10] #29634 closed

[2019-08-19 11:29] driesvints commented on #29630
Can you please fill out the issue template?

[2019-08-19 11:29] #29623 closed

[2019-08-19 11:31] driesvints commented on #29622
@staudenmeir do you think these changes are worth solving this?

[2019-08-19 11:56] lorado opened #29636 "[5.8] Pivot Model Events - originals are not set"
- Laravel Version: 5.8.32
- PHP Version: 7.3.1
- Database Driver & Version: PostgreSQL 10.6

### Description:

I have a pivot table with some additional attributes. I also defined a custom intermediate model for this pivot to be able to observe relation changes.

#### Tables example

|consultants|
|---|
id
...

|consultancies|
|---|
id
...

|consultancy_constultant|
|---|
consultancy_id
consultant

[2019-08-19 12:36] driesvints commented on #28746
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue and we'll re-open this issue.

[2019-08-19 12:36] #28746 closed

[2019-08-19 13:52] sera527 opened #29637 "[5.8] Delayed jobs are not taken to completion"
- Laravel Version: 5.8.31
- PHP Version: 7.2.19
- Database Driver & Version: Redis Cluster 5.0.5, php-extention phpredis 4.3.0

### Description:
I use Redis Cluster with php-extention phpredis for queues. This worked fine until I added a function call `delay()`.
I noticed that:
- If I switch from cluster to single, the queue works.
- If I switch from phpredis to predis/predis, the queue works.

##

[2019-08-19 14:15] BAKTETE opened #29638 "no defined route redirect to /login instead of 404"
- Laravel Version: 5.8
- PHP Version: 7.3.8
- Database Driver & Version: MySQL v 8.0.17

### Description: while logging out no defined route redirect to /login instead of 404

### Steps To Reproduce:

[2019-08-19 14:15] driesvints commented on #29638
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-19 14:15] #29638 closed

[2019-08-19 14:20] BAKTETE commented on #29638
My mistake i have a route defined as the following `Route::get('/{slug}','PostController@show')->name('article.show');`
that's why none existing url redirect to /login page

[2019-08-19 14:42] bskimball commented on #27512
I'm having this same issue. I'm trying to do chunk file uploading. I'm getting a 429 after 30 seconds, and about 20 requests

[2019-08-19 14:59] bonzai commented on #29636
Are you using [`withPivot`](https://laravel.com/docs/5.8/eloquent-relationships#defining-custom-intermediate-table-models) method on your relationship?

[2019-08-19 15:20] staudenmeir commented on #29636
Probably related to #28690.

[2019-08-19 15:29] lorado commented on #29636
Oh sorry, yes, here is the definition of consultants in Consultancy model:

[code]

[2019-08-19 16:25] RamizMurtaza commented on #25451
Hi Babs!
Please check your cache path i think you are missing local folder in after stroage. Follow this path and it will fix the problem

cache.php

'file' => [
            'driver' => 'file',
            'path' => storage_path('local/framework/cache/data'),
        ],

[2019-08-19 16:49] denjaland commented on #29630
@driesvints Not sure what more that you need.  I've raised this as a feature request so I didn't get the template.  Just checked the template now, and all that it seems to be asking is the versions, or am I missing something?

Anyway.
Laravel version 5.8.32
PHP version 7.3
MySQL 5.7

Here is some more information...

This is what is being executed when [fetching models](https://github.com/illumina

[2019-08-19 17:43] aceunits opened #29640 "Auth::attempt() does not comply with soft delete"
- Laravel Version: 5.7.28
- PHP Version: 7.3.8
- Database Driver & Version: MySQL 5.7.27

### Description:
Auth attempt does not work with soft delete as in if some user record have `deleted_at` column set and with that record's email and password we try to execute `Auth::attempt()` then also user can login which is not expected.

Since **Eloquent** is handling soft delete, while doing `Auth::atte

[2019-08-19 18:19] staudenmeir commented on #29640
Which driver did you set in `config/auth.php` (under `providers`)?

Only the `eloquent` driver knows about soft-deleted model, the `database` driver doesn't.

[2019-08-19 18:32] aceunits commented on #29640
I am using `eloquent` driver

[2019-08-19 19:22] staudenmeir commented on #29640
The `eloquent` driver works for me. Can you reproduce the issue on a fresh Laravel installation?

[2019-08-19 19:28] nmfzone commented on #29640
@aceunits Can you post your User model?

[2019-08-19 19:30] denis-korchagin95 opened #29642 "artisan's make:test command creates some files outside tests/ folder with wrong namespace"
- Laravel Version: 5.8.32
- PHP Version: 7.2.19

### Description:

When I trying to create some test for my model Tests command behavior is very weird.

After command execution artisan creates the test file not in `tests/Unit` or `tests/Feature`, but in the root folder of the project.

And the test file contains are an empty namespace. It looks like `namespace ;`.

I think it's a hard bug and it n

[2019-08-19 23:50] staudenmeir commented on #29622
@driesvints Although the required changes would be smaller than I initially thought, I'm leaning towards keeping the current behavior.

Compared to the unnecessary lazy loading queries from #26992, this issue only affects `BelongsTo`/`MorphTo` relationships and only eager loading queries where *all* foreign keys are `null`.

[2019-08-20 01:16] emadha commented on #29622
In my situation this generated 1 of that query of 500mirosecond each because my Eloquent (Article) requires Category, and Category needs to generate it's relative link from the parent category, so it checks for those, for performance reasons i had to load the view like that Article::with([....]), each one of those eventually has  root category which has no parent category, resulting in that unneed

[2019-08-20 02:23] anderson-comvex opened #29648 "Query\Builder chunkById with global scope conditions"
- Laravel Version: 5.8.30
- PHP Version: 7.3.8-1+ubuntu16.04.1+deb.sury.org+1
- Database Driver & Version: MySQL 8.0.17

### Description:

[code]

While using chunkById the where method applied over the global scope does not properly append the `AND` clause, instead of it applies `WHERE` twice.

### Steps To Reproduce:

1. Create a query builder instance with one or more global scopes

2. Use the

[2019-08-20 02:29] emadha commented on #29622
And if it's a hard fix, it's better if Laravel doesn't send invalid queries

[2019-08-20 02:40] #29648 closed

[2019-08-20 02:52] staudenmeir commented on #29622
I'll work on a draft to put it up for discussion.

The fix isn't complicated, but it adds an overhead for all relationships, not just `BelongsTo`/`MorphTo`.

[2019-08-20 04:43] emadha commented on #29622
Thank you, when i have time i'll take a look on how that thing works in code, or if you can give a hint i'll be thankful.

[2019-08-20 06:49] aman00323 commented on #29505
@driesvints I have created PR, it is first time i am contributing, please drive me if i have done something wrong thanks. :)

[2019-08-20 09:28] aceunits commented on #29640
@nmfzone As per you request please find User modal below

[code]

[2019-08-20 09:30] aceunits commented on #29640
Okay I will try this too

[2019-08-20 10:47] GMT95 opened #29654 "cannot softdelete laravel Notifications"

[2019-08-20 10:48] GMT95 commented on #29654
I am using laravel default database notifications, I want to add softdelete to notifications table.

I have created a migration with softdelete which has added deleted_at column to the notifications table. The problem is I have to add 'use SoftDeletes' to notifications model(according to laravel docs) but cannot find the notifications model.

I tried adding 'use SoftDeletes' to HasDatabaseNotifica

[2019-08-20 11:28] iBotPeaches opened #29655 "chunkById misbuilds query between where/orWhere"
- Laravel Version: 5.8.32
- PHP Version: 7.3.8
- Database Driver & Version: MariaDB 10.2.23

### Description / Repro Steps:
1. Build a query that leverages where/orWhere
[code]

This generates
[code]

Which when grouped becomes
[code]

While I think it should be
[code]

This led to a situation where our queue system ran out of bounds and just queued millions of millions of jobs until redis died ou

[2019-08-20 11:48] iBotPeaches opened #29656 "No way to set tries/timeout on Broadcast Events"
- Laravel Version: 5.8
- PHP Version: 7.3.x

### Description:
BroadcastEvent does not have the tries/timeout property so they are set to null. Thus run unbounded on the queue. If you want to set the individual tries per broadcast there is no way. An incoming PR should resolve this.

### Steps To Reproduce:
1. Introduce exception in broadcast, with a `$tries = 1` property
2. Using
[code]
3. Run que

[2019-08-20 12:12] driesvints commented on #29642
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-20 12:12] #29642 closed

[2019-08-20 12:30] driesvints commented on #29656
Heya, thanks for submitting this.

This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

Thanks!

[2019-08-20 12:30] #29656 closed

[2019-08-20 12:40] driesvints commented on #29654
Heya, thanks for submitting this.

This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

Thanks!

[2019-08-20 12:40] #29654 closed

[2019-08-20 12:44] driesvints commented on #29630
Hey @denjaland if this is a feature request then this needs to be posted on the ideas repo. This repo is only for tracking bugs (see the issue templates). Feel free to post this on the ideas repo.

[2019-08-20 12:44] #29630 closed

[2019-08-20 12:57] iBotPeaches commented on #29656
I think it is a bug or at least unintended behavior. If by Laravel design every other "entity" - Notifications, Mailables, and Jobs all support these properties, but Broadcast events don't that seems like a bug - especially since infinite loops and crashes get involved.

I opened an ideas thread anyway - https://github.com/laravel/ideas/issues/1786

[2019-08-20 13:03] denjaland commented on #29630
The question was whether this was a bug.  I'm not even sure this is an idea or a bug.
Anyway, I'll create a new issue and consider it a bug from my side then.

[2019-08-20 13:06] driesvints commented on #29630
Hey @denjaland. You said:

So that's why I closed this. Please see our issue templates when posting issue:

![Screen Shot 2019-08-20 at 15 05 50](https://user-images.githubusercontent.com/594614/63349602-07655600-c35c-11e9-8372-0a3cd1e6c16a.png)

[2019-08-20 13:12] denjaland opened #29658 "Eloquent emits event retrieved prior to finishing the entire retrieval process of eager loaded relations"
- Laravel Version: 5.8.32
- PHP Version: 7.3
- Database Driver & Version: n/a

### Description:

When retrieving models through Eloquent, it emits the `retrieved` event prior to retrieving the eager loaded relations, if any.

The retrieval of the eager loaded relations are to be considered part of the retrieval process, otherwise you loose the benefit of eager loading anything if you are listening

[2019-08-20 13:12] denjaland commented on #29630
no worries.  I'm having a day where procedures seem more important than anything, and no one talks about the content ;)  Your response came at a bad time for me.   I see the reference now to the other repo, but I must have missed that before, so my apologies ;-)

Anyway - I just created #29658 - thanks.

[2019-08-20 13:22] driesvints commented on #29630
@denjaland no worries man. Sorry if I was a bit crude. There's just a bunch of these issue daily and it's hard to provide enough attention/feedback to all of them. Thanks for opening up a new issue.

[2019-08-20 13:28] staudenmeir commented on #29655
I agree that Laravel should support this kind of query.

[2019-08-20 13:29] driesvints commented on #29658
Bit torn about this being a bug or a potential improvement. I'll mark this as a bug for now. I don't have time to deep dive into this atm so any help is appreciated.

[2019-08-20 13:41] staudenmeir commented on #29658
I don't think we should change the current behavior:
- I would argue that it's *technically* correct.
- It would be a significant breaking change.

What if we add a new event that fires *after* the eager loading?

[2019-08-20 13:46] denjaland commented on #29658
That might be a solution, but will that also work when retrieving ONE model?

[2019-08-20 13:55] staudenmeir commented on #29658
If we fire the event `Eloquent\Builder::get()`, it will also work for `User::first()`.

[2019-08-20 13:59] denjaland commented on #29658
Yes but what with find()?

[2019-08-20 14:01] denjaland commented on #29658
Not sure of the implementation - can’t check as I’m in the car, but does that also pass through the same code there?  The new event should be emitted for each retrieval, hence my question...  And will you emit it also when there are no eager loaded relations?

[2019-08-20 14:07] staudenmeir commented on #29658
Yes, all these methods are handled by `get()`.

Yes, I think it should always fire.

[2019-08-20 14:11] denjaland commented on #29658
Then I agree this would definitely a viable solution.
I don’t understand however why you feel it’s difficult to “move” the current event to after eager loading, but it’s possible for the new event?

Your suggestion would - if I understand correctly - alwayshave the two events shortly after another?  Any use case I’m missing where you would still want to listen to retrieved?

[2019-08-20 14:54] staudenmeir commented on #29658
If we move the `retrieved` event out of `Model::newFromBuilder()`, it breaks other methods relying on it (e.g. `cursor()`).

[2019-08-20 14:57] stancl opened #29664 "[6.0] Merge job payloads correctly"
Originally #29643.

Payloads aren't merged correctly when using queue `createPayloadUsing()` callbacks.

See this example:

[code]

[code]

The tags will be overwritten by the callback, so they would be `['some tag']`, rather than `['abc', 'some tag']`.

The tags can't be accessed through the `$payload` argument inside the closure, see the output of the `dd()`:

![Screenshot from 2019-08-19 22-30-

[2019-08-20 15:00] driesvints commented on #29664
Did you mean to open this as a PR?

[2019-08-20 15:00] #29664 closed

[2019-08-20 15:03] stancl commented on #29664
@driesvients I didn't. I don't want to resubmit the same branch a different PR. I'm not really sure about the right way to implement this, so I'd prefer to just start a discussion.

[2019-08-20 15:04] driesvints commented on #29664
@stancl can you fill out the issue template when posting bug reports please?

[2019-08-20 15:10] stancl commented on #29664
Ok, I'll resubmit this as a 5.8 bug. I'd say it's not exactly a bug nor a feature, though. I just don't want to open an laravel/ideas issue because I'd like to see this in 6.0.

[2019-08-20 15:19] stancl opened #29665 "[5.8] Job payloads are not merged correctly"
- Laravel Version: 5.8.32
- PHP Version: 7.2
- Database Driver & Version: sqlite

### Description:

`createPayloadUsing` overrides payload values with the same key instead of merging them.

### Steps To Reproduce:

[code]

[code]

`$tags` is not part of the `$payload` argument, so it can't be merged there either. Output of `dd($payload)`:
![Screenshot](https://user-images.githubusercontent.com/330

[2019-08-20 15:41] stancl commented on #29665
My use case for this: I want to add tenant id & domain tags to queues in Horizon, but I don't want to override the jobs' tags.

[2019-08-20 17:37] denis-korchagin95 commented on #29642
Hi Dries Vints,

In my opinion its bug of the console system. Besides that, in the project repo, there are no tests related to "make" command for example.

But if you really think what it is no bug then as you wish.

Thanks for your response.

[2019-08-20 18:44] jspringe opened #29669 "[6.0] - Multiple OS Testing With Travis CI - Windows Symlink"
- Laravel Version: 6.0
- PHP Version: 7.2+
- Database Driver & Version: (not relevant)

### Description:
Sorry to open this issue again, but I'm hoping to make some final headway here. This has been brought up time and time again across Laravel and PHP.

[Reference Pull Request](https://github.com/laravel/framework/pull/26965)

[Symfony Reference](https://github.com/symfony/symfony/blob/4bffa04271

[2019-08-20 19:10] jspringe commented on #29669
[Here](https://github.com/jspringe/framework/commit/b458d7af17cfe0d69e8d3480405394f8c3c8f93c) is an example of what I am proposing short term.

[2019-08-20 19:21] patchido commented on #24216
I am unable to make it work with my setup. To be able to use MSSQL i had to install the driver like yum install php72-mssql. is that the same driver you used?

'sqlsrv' => [
            'driver' => 'sqlsrv',
            'host' => env('DB_HOSTSQL', 'localhost'),
            'port' => env('DB_PORTSQL', '1433'),
            'database' => env('DB_DATABASESQL', 'forge'),
            'username' => env('

[2019-08-20 19:27] staudenmeir commented on #24216
I'm using the drivers from https://github.com/microsoft/msphpsql.

[2019-08-20 19:36] patchido commented on #24216
@staudenmeir As i am using AWS i have no idea which of the install instructions i should use.

[2019-08-20 23:05] jspringe commented on #29669
I'm basically at a point where the only known issues are the issues that dismiss the Windows environment.

Also, there is a MacOS consideration for `pcntl` [here](https://github.com/laravel/framework/blob/83073b93100345691dc0bc1e824a2f020068094a/tests/Filesystem/FilesystemTest.php#L435), but ignored [here](https://github.com/laravel/framework/blob/83073b93100345691dc0bc1e824a2f020068094a/tests/Que

[2019-08-21 05:55] AbdelkaderBah opened #29673 "Request helpers doesn't update data on tests"
- Laravel Version: 5.7
- PHP Version: 7.3
- Database Driver & Version: MYSQL

### Description: ```request()``` helper has different result than ```$request```.
I'm not sure this is a bug, Maybe my way of running tests is wrong.

### Steps To Reproduce:
1- Create a web route and use within it ```request()```
2- Create two Test classes: FooTest, BarTest
3-1º) Add a function to ```FooTest``` test_do_

[2019-08-21 06:20] hakanersu commented on #24216
@patchido Can you check php.ini file. Is extension uncommented?

[2019-08-21 08:22] laurencei commented on #29673
This is expected behavior. You can only call a route once per test.

In `test_do_2` you should preset the database to have the results of `test_do_1` and then test the single function from there.

[2019-08-21 08:22] #29673 closed

[2019-08-21 09:40] denjaland commented on #29658
Okay - that's clear to me.

I think this would be really beneficial to be honest.  Not sure how we could name the event though.  Something like 'eagerloading.completed' sounds tempting, but since the event needs to be emitted even if there are no eager loaded relations, it sounds a bit strange to me.

Again, this is probably a lower prio issue, but especially for an optimistic locking trait where

[2019-08-21 13:40] abdrmdn commented on #27138
Changing the value without even updating or saving will reflect on model in db.
Cause after it finishes the updated event it will sync back with the same object that the event ended up with.

[2019-08-21 14:49] staudenmeir commented on #29658
Naming is hard...

[2019-08-21 15:29] Fuitad opened #29676 "Escape namespace for morphedByMany-relationship"
- Laravel Version: 5.8.32
- PHP Version: 7.3.8
- Database Driver & Version: 5.7.27

### Description:

I'm having the very same issue as #16302 (which was closed without resolution).

i.e. the SQL query generated by morphedByMany does not return any data because the _type column value is not properly escaped. When I run the same query manually, escaping the namespace correctly, then I can get data.

[2019-08-21 15:39] ankurk91 commented on #29676
You can use morph map
https://josephsilber.com/posts/2018/07/02/eloquent-polymorphic-relations-morph-map

[2019-08-21 16:05] staudenmeir commented on #29676
The "Laravel query" you posted is not the exact query that actually gets executed. I suspect the 64-bit integers to be the cause for the empty result.

Please post both models, all three migrations and the eager loading query.

[2019-08-21 16:07] Fuitad commented on #29676
I can confirm to you that the big integer is NOT the issue. I've already isolated that part.

[2019-08-21 16:19] Fuitad commented on #29676
This works, thanks! However, I still think the behavior of morphedByMany is a bug in this case. I'd like to get an opinion from the devs.

[2019-08-21 16:30] staudenmeir commented on #29676
How did you test that?

The class name not being escaped is *not* a bug. It's passed as a binding and doesn't need to be escaped.

What result do you get from running the "manual query" in Laravel?

[code]

[2019-08-21 16:35] #29676 closed

[2019-08-21 17:16] staudenmeir commented on #29676
Did you solve the issue?

[2019-08-21 17:36] Fuitad commented on #29676
I did not. However, @ankurk91 suggestion is a working alternative and I don't have the time to fight with you about how I tested the bug before I reported it.

[2019-08-21 17:38] markdza commented on #28920
Anyone have a solution for this? It's still an issue to at least v5.8.32

[2019-08-21 17:49] AbdelkaderBah commented on #29673
```This is expected behavior.```
@laurencei why there is no mention on Laravel documentation ???

[2019-08-21 18:40] EM-LilianaIturribarria opened #29677 "Env"
- Laravel Version: 5.8.31
- PHP Version: 7.1.23
- Database Driver & Version: mysql / 10.1.36-MariaDB

### Description:

- I'm not able to use env('X_ENV_VAR') on migrations, now i have to use config('FILE_X_ENV_VAR')

- I cannot longer use --env=testing to run my migrations and seeds

### Steps To Reproduce:

- For the first error, on my migrations you can:
.env
DATABASE_NAME=mydatabase

$database

[2019-08-21 21:17] agm1984 commented on #8840
Confirmed the above solution works great.

I come from JavaScript land, so PHP isn't my strong suit. For others like me:

1) In Laravel 5.8, the folder is `app`, so you can place the file in `app\Doctrine\TinyInteger.php`, and you will have to create the Doctrine folder because it likely won't exist.

2) Don't forget to put `<? php` at the top of that TinyInteger.php file or you won't have any syn

[2019-08-21 21:22] sasokovacic opened #29678 "Can't get pivot model's id prop on updated event"
- Laravel Version: 5.8.*
- PHP Version: 7.2.13
- Database Driver & Version: MariaDB 10.3.4

### Description:
The pivot model's id attribute is not accessible inside of the updated() method. It is only accessible in the created method.

### Steps To Reproduce:

ModelA class:

[code]
ModelB class:

[code]

PivotModel:

[code]

Pivot table migration file

[code]

You can check [my question](https://s

[2019-08-21 22:55] laurencei commented on #29673
Not sure. Feel free to submit a PR with your suggestion to make it
more obvious for everyone. Thanks.

[2019-08-22 00:16] yu0307 opened #29682 "Laravel Model Macroble Mixins"
Hi guys,Can we mixin some features into an eloquent model class?

Let's assume the following setup:

mixin class file T:
[code]

Model A:
[code]

some Class:
[code]

## Issue:
when using A::first()->myUsers(), why is $this->relations return error saying "relations" is not defined on Builder class?

## Note1:
When mixin features on an eloquent class, it is being applied on a queryBuilder instead of

[2019-08-22 01:37] staudenmeir commented on #29676
I was trying to help find the cause of the issue. The 64-bit integers were the only thing standing out from an otherwise standard eager loading query that works for everyone else.

If you provide a reproducible example, I look into it.

[2019-08-22 05:29] ehsanalizad opened #29683 "'Illuminate\Contracts\Redis\Connector' not found"
Hi,

After `composer update` I'm getting this error when I use `php artisan cache:clear` but Laravel is working ...

[code]

PHP: 7.3
Laravel: 5.8

[2019-08-22 05:35] Mult1Hunter commented on #28920
Same here on 5.8.32

[2019-08-22 07:15] fridzema commented on #28920
@markdza @Mult1Hunter you can find the issue here https://github.com/getsentry/sentry-laravel/issues/254#issuecomment-512715265 seems like nothing to do with laravel itself.

[2019-08-22 07:27] Mult1Hunter commented on #28920
Thanks. Looks like we are stuck with this warning in sentry then. Don't want to silence all warnings.

[2019-08-22 09:00] driesvints commented on #29658
After reading up a bit I'm gonna shift more to naming this an enhancement. It might indeed be better if we just add a new event. But I believe the better place to discuss this is the ideas repo. So feel free to open up an issue there.

[2019-08-22 09:00] #29658 closed

[2019-08-22 09:00] driesvints commented on #29677
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-22 09:00] #29677 closed

[2019-08-22 09:16] andrew-sologor opened #29685 "Illuminate\Support\Collection@chunk() method forces keys to be preserved"
Related issues: #19182, #19958, #19217

I have no idea why there is still no second param.

My case:
[code]

You changed the default `array_chunk` function behavior and didn't give people any options.

[2019-08-22 09:33] driesvints commented on #29682
Heya, thanks for submitting this.

This seems like a feature request or an improvement. It's best to post these at the [laravel/ideas](https://github.com/laravel/ideas) repository to get support for your idea. After that you may send a PR to the framework. Please only use this issue tracker to report bugs and issues with the framework.

Thanks!

[2019-08-22 09:33] #29682 closed

[2019-08-22 09:35] driesvints commented on #29683
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-22 09:35] #29683 closed

[2019-08-22 09:51] driesvints commented on #29685
If you send in a new PR to the master branch with proper tests and a thorough explanation it could be reconsidered. Otherwise this is a feature request and not a bug and should be opened in the ideas repo instead.

[2019-08-22 09:51] #29685 closed

[2019-08-22 10:23] driesvints commented on #29669
Heya, I'm gonna have to close this as a duplicate of https://github.com/laravel/framework/issues/27004

Appreciating all the info though. Maybe cross-post everything on the other issue? Thanks!

[2019-08-22 10:23] #29669 closed

[2019-08-22 10:36] Mult1Hunter commented on #28920
I ended up adding this method to Exceptions/Handler.php:
[code]

[2019-08-22 12:29] jspringe commented on #27004
Somehow I missed that this was open.

[Temporary suggestion](https://github.com/jspringe/framework/commit/b458d7af17cfe0d69e8d3480405394f8c3c8f93c) - I will go further if this looks like something that is acceptable and submit a PR.

[Windows PHP 7.2 Travis CI Results](https://travis-ci.org/jspringe/framework/jobs/574596615)

[Windows PHP 7.3 Travis CI Results](https://travis-ci.org/jspringe/frame

[2019-08-22 13:55] aceunits commented on #29640
@driesvints Not so sure what else I need to post here. Below is my login script. Hope this will help.

[code]

[2019-08-22 14:00] staudenmeir commented on #29640
Can you reproduce the issue on a fresh Laravel installation?

[2019-08-22 15:26] jadamec opened #29690 "Eloquent whereIn doesn't work with Dynamic Scopes on NULL"
- Laravel Version: 5.8.33
- PHP Version: 7.3.5

### Description:
`$posts = Auth::user()->posts()->filter($request->except('_token'))->get();
`

This works in Controller, `query.bank` contains values NULL, 1, 2, 3. Posts of which _bank_ is NULL **are returned**.
[code]

This doesn't work in Post model as a Dynamic Scope, posts of which _bank_ is NULL **are not returned**.
[code]

[2019-08-22 16:24] staudenmeir commented on #29690
Please log the executed queries.

[2019-08-22 17:08] patchido commented on #24216
which extension? i think it is or i wouldn't be able to query the DB

[2019-08-22 18:20] jadamec commented on #29690
Looks absolutelly the same.

In Controller:
`select * from `posts` inner join `post_user` on `posts`.`id` = `post_user`.`post_id` where `post_user`.`user_id` = ? and `bank` in (?, ?)`

In Model:
`select * from `posts` inner join `post_user` on `posts`.`id` = `post_user`.`post_id` where `post_user`.`user_id` = ? and `bank` in (?, ?)`

[2019-08-22 18:36] jadamec commented on #29690
This also doesn't work in Post model as a Dynamic Scope
[code]

[2019-08-22 20:13] logan-jobzmall opened #29691 "Pusher can't initialize on boot (hash_algos issue)"
- Laravel Version: 5.8.32 and 5.8.33
- PHP Version: 7.2.18
- Database Driver & Version:

### Description:

We are finding on our dev environments (very recently) that Pusher can't initialize on boot due to not being able to read in `hash_algos()` array. It seems to be empty at the time that Pusher is instantiated by the BroadcastServiceProvider. For some background we are using Amazon Linux with P

[2019-08-22 20:18] gekkedev commented on #13773
This is an awful issue, why is it closed?

[2019-08-22 21:35] mrahmadt commented on #28920
public function shouldReport(Exception $e)
    {
            // check if sentry is trying to falsely report 'Warning: Error while sending STMT_PREPARE packet. PID=XX'
            if (strpos($e->getMessage(), 'STMT_PREPARE packet') === false) {
                return parent::shouldReport($e);
            }
    }

[2019-08-22 21:43] mfn commented on #29691
From your description, I don't think it's "empty" but rather that the message is correct and the specific algorithm is missing.

Are you by chance running the wrong PHP version?

[2019-08-22 21:54] logan-jobzmall commented on #29691
@mfn - I don't know what the "wrong" php version means. As I stated above, we are running PHP 7.2.18 through Amazon Linux (through Elastic Beanstalk). Again, when running `php artisan tinker` on the box, the `hash_algos()` comes back with the response pasted above which **does** have "sha256" (which is what is being checked by Pusher). I wouldn't expect runtime to be running a different php versio

[2019-08-22 22:45] kielabokkie commented on #20584
I know this is a super old issue but for anyone finding this through a Google search (like I did). This behaviour is most likely caused by having the `\Illuminate\Session\Middleware\AuthenticateSession::class,` line in the `app/Http/Kernel.php` uncommented. If this middleware is enabled it executes a check if the `password_hash` in the session matches the password hash of the current user, if not

[2019-08-22 22:59] staudenmeir commented on #29690
Neither of these queries can work. SQL doesn't support `null` values in `WHERE IN` clauses.

You need to add `->orWhereNull('bank')` when `$params` contains `null`.

[2019-08-23 01:43] jspringe commented on #27004
`[Linux, OSX, and Windows tests](https://travis-ci.org/jspringe/framework/builds/575620358)`

[2019-08-23 06:05] jadamec commented on #29690
So why the first one works..? :) From Controller it shows me also results with nullabne _bank_ key.

What's more, I cannot use `orWhereNull` because of multiple `when` clauses.

[2019-08-23 06:55] Davidnadejdin opened #29694 "Directs all methods to a get route"
- Laravel Version: 5.8.33
- PHP Version: 7.2.19
- Database Driver & Version: MySQL 5.7.24

### Description:
![image](https://user-images.githubusercontent.com/40993387/63572523-8052f080-c59c-11e9-8f8c-23ca2e368510.png)
![image](https://user-images.githubusercontent.com/40993387/63572572-9b256500-c59c-11e9-8e4f-aad8a6b6c19c.png)
![image](https://user-images.githubusercontent.com/40993387/63572614-b

[2019-08-23 08:40] staudenmeir commented on #29690
I don't see how the query could possibly work.

https://laravel.com/docs/queries#parameter-grouping

[2019-08-23 08:57] jadamec commented on #29690
Ok, now done like this:
[code]

Probably can be closed, not a bug.. just my misunderstanding of principles.

[2019-08-23 09:07] sera527 opened #29696 "Command option value returns with "=""
- Laravel Version: 5.8.32
- PHP Version: 7.2.19

### Description:
If I pass an option using an shortcut view, it will be transmitted with the "=". If I use the normal form, the option will be transferred normally.

### Steps To Reproduce:
[code]
Run:
[code]
Terminal returns:
[code]

[2019-08-23 09:10] xuanquynh commented on #29696
This is an expected behavior. "role" option is declared as an array argument.

[2019-08-23 09:11] xuanquynh commented on #29696
Do not use "=" when using a shortcut that accepts a value.

[code]

[2019-08-23 09:51] sera527 commented on #29696
@xuanquynh Ok. I understand. Thank. you

[2019-08-23 09:51] #29696 closed

[2019-08-23 10:25] #29694 closed

[2019-08-23 10:57] #29690 closed

[2019-08-23 11:04] driesvints commented on #29691
What happens when you use `php -a` instead?

[2019-08-23 13:42] SergeyPodgornyy opened #29701 "[Eloquent] lastInsertId() is wrong on char column"
- Laravel Version: _5.8.29 (but is version-independent)_
- PHP Version: _7.3.7 (but is version-independent)_
- Database Driver & Version: _MySQL 8.0.16_

### Description:

Last inserted ID returns always `"0"`. According to the [PDO official documentation](https://www.php.net/manual/ru/pdo.lastinsertid.php) this could happen when asking for `lastInsertId()` after commit was done in a transaction,

[2019-08-23 13:44] yoramdelangen opened #29702 "Strict issue for isDateAttribute check"
- Laravel Version: 5.8.*
- PHP Version: 7.2.12
- Database Driver & Version: MySQL 5.7.20

### Description:
The method `isDateAttribute` of trait `HasAttributes` is checking if the given key is within the array of the dates property. Because the in_array check is not strict it will allows numeric values and returns true and when the value was an array it will cause a crash. This is mainly caused (i

[2019-08-23 13:55] sera527 commented on #29637
I found the location of the problem.
For dispatching job to Redis Cluster used method `Illuminate\Redis\Connections\PhpRedisConnection::zadd()`.
The method execute this code:
[code]
The problem is that the interface of function rawCommand() is different for classes Redis and RedisCluster.
Redis:
[code]
RedisCluster:
[code]
So I think that method `Illuminate\Redis\Connections\PhpRedisConnection::za

[2019-08-23 15:50] staudenmeir commented on #29701
This is a limitation of MySQL and/or the database driver and not caused by Laravel.

MySQL has only been allowing expressions as default values since 8.0.13 and it looks like there's currently no way to get the generated UUID.

[2019-08-23 16:02] SergeyPodgornyy commented on #29701
@staudenmeir Laravel migration using `$table->uuid('id')` create a `CHAR` column

[2019-08-23 16:27] staudenmeir commented on #29701
I don't understand how this is related to the issue.

[2019-08-23 16:37] logan-jobzmall commented on #29691
@driesvints When running a `print_r(hash_algos());` in php interactive shell it returns the following:

[code]
You can see that at the 5th index, sha256 is existing.

[2019-08-23 17:20] NILOYDEVNATH opened #29706 "laravel 5.8 Installation failed full vendor could not be loaded"
- Laravel Version: 5.8
- PHP Version: 7.2
- Database Driver & Version: mysql

### Description:
when try to install laravel 5.8 then show
Uncaught Error: Class 'Symfony\Component\Console\Input\ArgvInput'
and i am check my vendor filed Symfony\Component folder is fully missing .

### Steps To Reproduce:

[2019-08-23 18:52] yihyang opened #29709 "Factory State not functioning when calling another factory in state"
- Laravel Version: 5.8.17
- PHP Version: 7.2
- Database Driver & Version:
MySQL 5.7.27

### Description:
When a factory contains states and the states refer to the relationship class more than once. The factory is unable to create a class instance and the following error occured:

[code]

However when I changes the states to use closure instead of using object for  the last parameters then it work

[2019-08-23 19:06] 4n70w4 opened #29710 "Race Condition: dispatch() saves uncommitted models to async queue"
- Laravel Version: 5.8.33
- PHP Version: 7.3.8
- Database Driver & Version: mysql

### Description:

Job handler (horizon for example) throws ModelNotFoundException.
Because serialized models was recently created in parallel process but still don't commited (it's not about rollback).

### Steps To Reproduce:

Create listener for `saved` (or another) model event with:

[code]

I see the simplest so

[2019-08-23 19:37] ellisio opened #29711 "Carbon::setTestNow() producing flaky tests."
- Laravel Version: 5.8.33
- PHP Version: 7.3.7
- Database Driver & Version: sqlite (unit testing)

### Description:

When running unit tests, Carbon randomly fails unit tests due to timestamps being 1 second apart.

For example, here is an assertion of a failed test:

[code]

### Steps To Reproduce:

1. Create a test using the following:

[code]

2. Rune the test using `vendor/bin/phpunit`.

Note:

[2019-08-23 19:43] JayBizzle commented on #29711
Where in your test are you setting the current 'fake' time?

Something like this?

[code]

The line you linked to just resets any 'fake' times you have set after your tests have run.

[2019-08-23 20:01] ellisio commented on #29711
@JayBizzle son of a... I just realized that is in the `tearDown()` method. Sigh. Thank you :)

[2019-08-23 20:01] #29711 closed

[2019-08-23 23:23] MrJmpl3 opened #29713 "Urgent! ATTR_EMULATE_PREPARES Problem! Save float lose decimal!"
- Laravel Version: 5.8.33
- PHP Version: 7.3.8
- Database Driver & Version: MariaDB

### Description:

Two problem!

- If ATTR_EMULATE_PREPARES = true , when you save a float number , lose the decimal value
- If ATTR_EMULATE_PREPARES = false, you have the error "Prepared statement needs to be re-prepared MySQL"

I look related issues , but was closed without solution.

Like: https://github.com/lar

[2019-08-24 01:14] JereFigueroa commented on #27729
any solutions? i have same issue
v5.8.28

[2019-08-24 01:54] staudenmeir commented on #29709
You need to use a closure. If you use an array, the country is already created when the factory is defined – before even creating a user. This causes an endless recursion.

[2019-08-24 03:16] yihyang commented on #29709
I see, thanks for your explanation @staudenmeir . However I'm wondering is this documented somewhere in the documentations? If not can I help to add it in? Thanks

[2019-08-24 03:47] staudenmeir commented on #29709
I don't think it is. You can submit a PR to https://github.com/laravel/docs.

[2019-08-24 10:24] never-potm opened #29717 "Slack notification not working"
- Laravel Version: 5.8.28
- PHP Version: 7.2.21
- Database Driver & Version:

### Description:
Slack notifications not getting sent to any channel. I have used Notification to send the Slack notification.

[code]
The above method is not sending the slack notification. I have tried clearing cache still it does not work.

### Steps To Reproduce:
1. Make a notification class
2. Create the config for

[2019-08-24 11:28] laurencei commented on #29717
Hi there,

Welcome to Laravel and we are glad to have you as part of the community.

Unfortunately this GitHub area is not a support area for general application issues. This is only for issues/bugs with the framework code itself.

I will be closing your ticket here. Instead please try asking your question on one of the many great community support areas that will likely give you a better answer m

[2019-08-24 11:28] #29717 closed

[2019-08-24 11:45] MetaiR opened #29718 "is there any security problem in FileSystem folder files?"
I don't know this is a bug, just warning or a real security problem so I post it here and want a support help:

recently we had deploied a laravel project on a shared cpanel host (we aware of down side of this so please dont mantion u shouldn't do it and etc) and their antivirus system removes `laravel/framework/src/Illuminate/Filesystem/Filesystem.php` and when we contacted with the support they

[2019-08-24 15:03] #29441 closed

[2019-08-24 16:54] rimace commented on #29718
I guess nobody can tell you if you can accept the risk, but I have some tips that may help you.
Sometimes malware appends malicious code to php files that will be executed when the file is required. So you could check if the file you deployed is the same as the one you [find here](https://github.com/laravel/framework/blob/5.8/src/Illuminate/Filesystem/Filesystem.php) on github.
Another way to find

[2019-08-24 16:57] toramanlis commented on #7017
Lol. What are you suggesting then? The same code works differently because of a... ...faulty RAM on the server?

[2019-08-24 17:34] yihyang commented on #29709
Thanks @staudenmeir I have submitted a PR here: https://github.com/laravel/docs/pull/5396

[2019-08-24 18:14] rs-sliske commented on #29718
i would suggest finding out what they thought the issue was.

file uploads in general are a potential security issue

[2019-08-24 19:15] MetaiR commented on #29718
could u please tell me what are these file doing anyway? I mean the fies in FileSystem folder

[2019-08-24 19:16] mfn commented on #29718
This. If you want assistance here, publish the problem reported with this file.

Only then it can be judged.

[2019-08-24 19:28] thecodingdude opened #29722 "Why deprecate Predis?"
[In a recent commit](https://github.com/laravel/framework/commit/a8228dc3a42cfdba5efc499bb3d1a35b897f2e2d) Predis was deprecated.

Yet over [here](https://github.com/phpredis/phpredis) it's still being maintained.

Why deprecate?

[2019-08-24 19:35] rs-sliske commented on #29718
you have access to all the code. in general though the answer should be fairly obvious imo, reading and writing files

[2019-08-24 19:40] rs-sliske commented on #29722
im not 100% sure, but i think predis and phpredis arent the same thing.

from the discussion on the pr it looks like predis was deprecated in favor of phpredis

[2019-08-24 19:44] RFreij commented on #29722
https://packagist.org/packages/predis/predis this one is no longer maintained. Phpredis is a different one

[2019-08-24 20:14] MetaiR commented on #29718
@mfn
I sent a ticket to them and will publish their answer as soon as possible

[2019-08-24 20:40] MetaiR commented on #29718
they told me; they don't have the logs, but it looks like that I can ask them to change their rules for these files on my user, so if u think these files are almost safe and nothing to worry about (I don't mean about the code that we are writing which may cause a security bug, but I mean the file itself) we are good to go

[2019-08-24 21:22] rimace commented on #29722
The discussion about that can be found here: https://github.com/laravel/ideas/issues/1779
Predis is not PHPredis. Apperently Predis is not longer maintained for 3 years now and it is already buggy with PHP 7.3.

[2019-08-24 21:34] mfn commented on #29710
It's just a coincidence, but I updated it with a comment about a package which supports "transactional events", please see https://github.com/laravel/ideas/issues/1441#issuecomment-524582224

Here's btw an older issue talking about this problem: https://github.com/laravel/framework/issues/8627 (there are likely more)

[2019-08-24 21:41] trevorpan opened #29723 "minor typo"
https://laravel.com/docs/5.8/mail#customizing-the-components

In the last paragraph. "To customize [a the] theme for an"

New site looks awesome!!

[2019-08-25 01:44] #29723 closed

[2019-08-25 01:45] #29722 closed

[2019-08-25 02:38] laurencei commented on #29718
There are no none security issues with the FileSystem.

If you have a known issue, please review the security policy on how to notify of an issue: https://github.com/laravel/framework/security/policy

[2019-08-25 02:38] #29718 closed

[2019-08-25 03:24] JasonMortonNZ opened #29724 "Unresolvable dependency in Illuminate\Queue\Worker"
- Laravel Version: 6.0
- PHP Version: 7.3.1
- Database Driver & Version: mysql  Ver 15.1 Distrib 10.3.12-MariaDB

### Description:

Unresolvable dependency when after upgrade from 5.8 to 6.0 in `Illuminate\Queue\Worker` with parameter 3 $isDownForMaintenance

Tried clearing compiled cache and retrying `composer dump-autoload` but not joy.

[code]

### Steps To Reproduce:

Followed upgrade guide fr

[2019-08-25 08:15] rebaz88 opened #29727 "unsetEventDispatcher disables events for all models"
- Laravel Version: 5.8.33
- PHP Version: 7.2.19
- Database Driver & Version: Mysql 5.7.27

### Description:
The Model::unsetEventDispatcher() disables events for all models in the same function

### Steps To Reproduce:
1- Create two different models each with a different event.
2- FirstModel::unsetEventDispatcher();
3- FirstModel::save();
4- SecondModel::save();

The event for Second model should

[2019-08-25 09:09] heikokrebs commented on #27613
@driesvints i don't think this is a feature request but really a bug.
When using mailables from a toMail() in a notification, it is not possible to queue them like it is implemented in the mailable class, to have the ShouldQueue interface respected.

[2019-08-25 11:05] AkkuFresh commented on #9293
@myquote-dev Thanks for the suggestion. It works, and it can be used in only the TEXT/BLOB fields.

`$table->index([DB::raw('column(100)')])`

[2019-08-25 12:16] X-Coder264 commented on #29727
This is the expected behavior. The event dispatcher is a static property of the base Eloquent `Model` class. It means that all models share the same event dispatcher and that calling `FooModel::unsetEventDispatcher();` is the same as calling `\Illuminate\Database\Eloquent\Model::unsetEventDispatcher();`. That is why when you unset the event dispatcher on `FirstModel` it's also unset on `SecondMode

[2019-08-25 12:23] X-Coder264 commented on #29724
Unless you made your own container binding for the `Worker` class in your app I don't see how this doesn't work.

The `$isDownForMaintenance` parameter is bound here:

https://github.com/laravel/framework/blob/6.0/src/Illuminate/Queue/QueueServiceProvider.php#L161

If you have created your own binding for the `Worker` class you should update it for 6.0 to also pass the `$isDownForMaintenance` para

[2019-08-25 12:37] rebaz88 commented on #29727
@X-Coder264 then the dispatcher has to be set again.
unset dispatcher
run FooModel
set dispatcher
run BarModel

Is there a reason why it is a static property? if so why is it neccessery to specify the model, instead of one global set/unset for the base Eloquent Model?

[2019-08-25 12:45] X-Coder264 commented on #29727
The event dispatcher is a static property that is set by the framework during booting (https://github.com/laravel/framework/blob/5.8/src/Illuminate/Database/DatabaseServiceProvider.php#L25).

It's made this way because the `illuminate/database` package must be usable as a standalone component without the `illuminate/events` package (https://github.com/laravel/framework/blob/5.8/src/Illuminate/Data

[2019-08-25 12:48] rebaz88 commented on #29727
Thank you @X-Coder264

[2019-08-25 12:48] #29727 closed

[2019-08-25 15:11] hafezdivandari commented on #22892
But you will still get error if return a transformation array instead of `return parent::toArray($request);`:

[code]

[code]

[code]

[2019-08-25 15:55] aanfarhan commented on #29713
Did you try to cast your float value into string? I looked up into this function https://github.com/laravel/framework/blob/c7acf0690385b026552ed28122509923c2b017df/src/Illuminate/Database/MySqlConnection.php#L75-L84

There are two check `is_int` or `is_float`, which is return `PDO::PARAM_INT` that make your value being saved into Integer value and lose those decimal.

[2019-08-25 15:59] aanfarhan commented on #29706
What are the steps to reproduce this issue? What method are you using when you install the framework?

[2019-08-25 17:07] SergeyPodgornyy commented on #29701
Hmm :thinking: you are right, just tested it with raw SQL commands and it returns `"0"`:

[code]

Anyway, it was a bit confusing for me, as according to PDO documentation `"0"` should be returned only when LAST_INSERT_ID() was asked after a transaction. Maybe it would be nice to add to the Laravel documentation, that there is no chance to manipulate Eloquent Model to achieve this result? :thinking

[2019-08-25 17:07] #29701 closed

[2019-08-25 17:09] NILOYDEVNATH commented on #29706
I copy my vendor from another project and it works fine

On Sun, Aug 25, 2019 at 10:00 PM Farhan <notifications@github.com> wrote:

[2019-08-25 18:06] NILOYDEVNATH commented on #29706
when i create a new project using composer create-project --prefer-dist laravel/laravel project_name composer failed to get Symfony\Component\Console\Input\ArgvInput,
Symfony\Component\Console\Output\ConsoleOutput and under vendor there are no folder in Following path

[2019-08-25 22:51] nihilsen opened #29736 "redirect()->route() does not work well with query-string parameters and optional route parameters"
- Laravel Version: 5.8.27
- PHP Version: 7.3.7
- Database Driver & Version: MySQL 5.7.27

### Description:
`redirect()->route()` does not work as expected when used with a route that has an optional route parameter when trying to pass query-string parameters in the `$parameters` argument.

### Steps To Reproduce:
**routes/web.php** :

    Route::get('/profiles/{location?}', function () {
        d

[2019-08-25 23:43] MrJmpl3 commented on #29713
I go to update the table_definition_cache of the Database to 2048. In somes day, i will return with the results

[2019-08-26 01:30] CreatNameHard opened #29737 "I have a question, is it because of the consideration of not providing a way to remove a service that has already been registered?"
#I have a question, is it because of the consideration of not providing a way to remove a service that has already been registered? Isn't this method more flexible? Let me give you an example. I want to replace the log management of laravel5.5 with the components I developed. I can only register my own LOG service in bootstarp/app.php, or is there a better implementation?

[2019-08-26 03:59] hipsterjazzbo commented on #29724
I have this same issue and I am absolutely not rebinding the queue worker class

[2019-08-26 04:01] JasonMortonNZ commented on #29724
No, I'm definitely note rebinding the `Worker` class. Something else must be going on.

[2019-08-26 04:39] hipsterjazzbo commented on #29724
@JasonMortonNZ Would you be able to share your composer dependencies? Might help to compare and see if we're ve got any overlap that might be causing the issue.

[2019-08-26 04:57] hipsterjazzbo commented on #29724
Looks like it's Horizon causing it. Getting rid of my Horizon dependency fixed the issue.

[2019-08-26 09:11] zeyad82 opened #29741 "orWherePivot issue"
- Laravel Version: 5.8

### Description:
I am trying to use orWherePivot on a BelongsToMany relationship. When I use it per user, it cancels the filtration of user_id and it's applied to the global query so it returns all the records instead of only per user, when I try to enclose it in where closure scope, it throws  `Call to undefined method Illuminate\Database\Eloquent\Builder::orWherePivot()
`

[2019-08-26 12:10] driesvints commented on #29691
I really have no clue how that can happen or what's going wrong here. Welcoming any help with figuring this out.

[2019-08-26 12:11] driesvints commented on #29691
Also: does this happen as well if you initialize pusher yourself instead of using Laravel?

[2019-08-26 12:14] driesvints commented on #29702
PR was merged

[2019-08-26 12:14] #29702 closed

[2019-08-26 12:14] #29709 closed

[2019-08-26 12:16] driesvints commented on #29710
I think it's best that we stick this with the ideas issue. Feel free to submit a pr if you think this can be improved.

[2019-08-26 12:16] #29710 closed

[2019-08-26 12:31] driesvints commented on #29706
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-26 12:31] #29706 closed

[2019-08-26 12:32] driesvints commented on #29713
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-26 12:32] #29713 closed

[2019-08-26 12:32] driesvints commented on #29737
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-26 12:32] #29737 closed

[2019-08-26 12:34] driesvints commented on #29724
We fixed this for Horizon last week and will do a release tomorrow which you can pull in. Try with 3.0-dev for now

[2019-08-26 12:34] #29724 closed

[2019-08-26 12:42] driesvints commented on #29741
@staudenmeir do you know of any changes to this method?

[2019-08-26 13:46] driesvints commented on #29736
Hey @nihilsen. Thanks for reporting. I definitely agree with you that this appears to be a bug. I think the PR was closed because it lacked tests that validates the correct behavior. If you re-send it with tests then it probably can be merged. Thanks!

[2019-08-26 14:10] afrazahmmad commented on #22900
Switching from `timestamp()` to `dateTime()` fixes this behavior

[2019-08-26 16:00] DanielMalmgren commented on #27729
I never found any solution. There's obviously a bug here somewhere but I haven't succeeded in proving exactly where, so for the time being I'm living with usleep() calls the first thing in all my store, update and destroy methods. I don't know though if any devs are still reading here now that the ticket is closed?

[2019-08-26 16:18] staudenmeir commented on #29741
`orWherePivot()` has been around since 2013, but it looks like there has never been an actual use case. There aren't any tests either.

I'll take a look if we can make it work with closures.

You can use the "normal" `where()` methods as a workaround for `SELECT` queries:

[code]

The downside here is that `detach()`, `sync()` etc. don't respect these pivot constraints (as they do with `wherePivot

[2019-08-26 22:24] nihilsen commented on #29736
Hi @driesvints. I've resubmitted the PR here #29749 with tests like you suggested.

[2019-08-27 04:57] zeyad82 commented on #29741
I managed to use orWherePivot by adding the user_id manually:

        ->orWherePivot('another', 0)
        ->where('user_id', $user->id)->get()
`

[2019-08-27 07:54] rahulkhannagar commented on #11518
In your migration file please define first the "update_at" column then define the "create_at" column. In Laravel first coming column with default time_stamp value automatically set the attribute "on update". Now your migration file looks like below:

$table->timestamp('update_at');
$table->integer('created_by');
$table->timestamp('creation_at');

[2019-08-27 08:54] hlorofos opened #29755 "QueueFake size method returns wrong value"
- Laravel Version: 5.8.33
- PHP Version: 7.1.25
- Database Driver & Version: n/a

### Description:

QueueFake size returns wrong value

### Steps To Reproduce:

- Install Laravel by any means
- make a new job by running `php artisan make:job TestJob`
- make a new test by running `php artisan make:test QueueSizeTest`
- copy the following test method:

[code]

- run the test, it would fail

The flaw

[2019-08-27 10:21] zeshanfarooqi opened #29756 "File Descriptor Issue"
- Laravel Version: 5.5.48
- PHP Version: 7.2.17
- Database Driver & Version: MySQL 5.7.26
- Redis: 4.0.9

### Description:
We're facing two problems and both seems to be related with each other. We've tested it on Laravel 5.5 (with QUEUE_DRIVER=redis) and on Laravel 5.8 as well. We've also tried both predis and phpredis. Changing version of redis from 4.0.9 to 5.0.5 didn't help.

#### Part-1: Inva

[2019-08-27 11:50] driesvints commented on #29756
This goes a bit outside my own knowledge about Redis so appreciating any help here.

A couple of things to note:

- Predis isn't maintained anymore and we're deprecating it in 6.0 and it'll probably be removed in 7.0
- 5.8 uses `QUEUE_CONNECTION` instead of `QUEUE_DRIVER`
- What version of Horizon are you using?
- Does this also happen without Horizon?

[2019-08-27 11:55] zeshanfarooqi commented on #29756
phpredis is also causing same problem. The issue seems to be with `LuaScripts` that is being called from inside RedisQueue.php.

yes, that's correct. Our main project is on 5.5 so I've referred to its configuration in report. In case of 5.8 (which was just for the sake of verification) we certainly used QUEUE_CONNECTION. The issue was producible with that as well.

v1.4.3

yes

[2019-08-27 11:57] driesvints commented on #29756
@zeshanfarooqi which version of Horizon did you use when you tested on 5.8?

[2019-08-27 12:02] zeshanfarooqi commented on #29756
lets forget about 5.8, we simply did the following for 5.8:

- Created new new project
- Set QUEUE_CONNECTION=redis
- Run php artisan queue:work

that's all. Our main point of concern is 5.5 which is our main project.

[2019-08-27 12:06] driesvints commented on #29755
This indeed appears to be a bug. Thanks for reporting. Appreciating a PR if you could whip one up.

[2019-08-27 12:08] driesvints commented on #29756
@zeshanfarooqi the thing is that Horizon isn't supported anymore for 5.5 so let's indeed focus on just the queue worker here.

[2019-08-27 12:11] zeshanfarooqi commented on #29756
Oh, that's a surprise for me. Any good reason for terminating support of Horizon?

[2019-08-27 12:13] driesvints commented on #29756
@zeshanfarooqi we always only support the latest release of our first party libraries and v3.0 doesn't supports 5.5 anymore.

Also see https://laravel.com/docs/5.8/releases#support-policy

[2019-08-27 12:31] mfn commented on #29755
I can't believe how lazy I am, I forgot that I was using a custom `QueueFake` for years because of this.

This code is just for inspiration, it works in my project but if you base a fix on it, please vet it it works in all cases:
[code]

[2019-08-27 12:37] tflori opened #29758 "Infinite recursion error in one to many with inversion"
- Laravel Version: 5.x (We are using 5.4 but it should also fail in 5.8)
- PHP Version: 7.x
- Database Driver & Version: irrelevant

### Description:
`$model->push()` can create infinite recursions when the related entity has a relation to itself.

### Steps To Reproduce:
Assume you have an Article with many comments. The comment also defines a "belongsTo" Article.

[code]

In https://github.com/l

[2019-08-27 12:53] driesvints commented on #29758
Please verify this on 5.8 first. Thanks.

[2019-08-27 12:53] #29758 closed

[2019-08-27 13:04] hlorofos commented on #29755
@mfn thanks for the inspiration, but that piece doesn't traverse through properly, I'll implement something soon

[2019-08-27 13:06] tflori commented on #29758
I don't see a reason to verify it on laravel 5.8. I can't update my application because of too much breaking changes. You will have to verify it on your own. The code has not changed since them.

There is a method that calls itself on another object without any checks for recursion. For sure this fails. If you don't want to fix it, fine! All models in our application have a parent class in our nam

[2019-08-27 13:34] driesvints commented on #29758
@tflori we don't support 5.4 anymore so please verify this on 5.8 first.

[2019-08-27 13:35] driesvints commented on #29655
Closing this since the proposed PR was rejected. This will probably be a no-fix.

[2019-08-27 13:35] #29655 closed

[2019-08-27 14:13] JereFigueroa opened #29764 "validation error not displaying in view"
- Laravel Version: 5.8.33
- PHP Version: 7.3.8
- Database Driver & Version: mysql 5.7.22

### Description:
Validation not showing error messages on the view.
The validation succeeds, refreshing the view but not displaying errors. Apparently $errors is always empty
I tested it on fresh installation.

### Steps To Reproduce:
Form is this
[code]
The store function is this
[code]
StoreTrainerRequest.p

[2019-08-27 14:19] driesvints commented on #29764
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-27 14:19] #29764 closed

[2019-08-27 18:37] flyingL123 opened #29766 "Resolving recursive contextual binding from IOC container"
- Laravel Version: 5.8.8
- PHP Version: 7.3.8
- Database Driver & Version: mysql 5.7.27

I have a command class with a dependency type-hinted in the constructor:

[code]

The constructor for the `Analytics` class looks like this:

[code]

In a service provider, I've instructed the application what to instantiate for the `Odoo` class. If I create an instance of `Analytics` like this, it works fine.

[2019-08-27 19:47] mfn commented on #29766
Can you try injecting it into `handle` first?

Arguments to `handle` are also resolver via the container.

The downside of using the constructor is that it's also resolved when just _initializing_, e.g. just for `./artisan` it already needs to be constructed (so the command can be listed), which can add up in terms of overhead.

[2019-08-27 21:04] rimace commented on #29758
I'll be happy to have a look and work on this, but probably not in time for 5.8 but rather something like 6.0.x.
@tflori If you need that fix and currently can't update to a higher version I may have a workaround for you. You could clone this repo, use it instead and then back-port the (to be provided) fix to version 5.4.
Hope that helps for now.

[2019-08-27 22:00] fiskolini opened #29768 "Paginate Eager Loaded relation"
- **Laravel Version:** 5.8.33
- **PHP Version:** 7.3.6
- **Database Driver & Version:** mysql 5.7.26

I am having an issue loading relational data and pagination at the same time.

**Comment Model:**
[code]

**Post Model**
[code]

**Loading stuff -> comments**
[code]
This works as expected. The issue comes when I want to load even related _comments.replies_ (paginated, as well).

I just tried the

[2019-08-27 22:03] GrahamCampbell opened #29769 "[5.8] Possible undocumented dependency"
When I run Laravel's test suite on one of my machines, I run into the following issue:

[code]

[2019-08-27 22:08] fiskolini commented on #29769
Do you have `PHP GD` extension installed?

[2019-08-27 22:13] GrahamCampbell commented on #29769
Hmm, actually, yes.

[code]

[2019-08-27 22:13] GrahamCampbell commented on #29769
Kinda odd the function is not defined... Maybe it was compiled with an old version of the C lib?

[2019-08-27 22:16] GrahamCampbell commented on #29769
[code]

[2019-08-27 22:19] GrahamCampbell commented on #29769
[code]

[2019-08-27 22:25] GrahamCampbell commented on #29769
Alright, that's an issue outside of Laravel's control... https://github.com/docker-library/php/issues/881.

[2019-08-27 22:31] fiskolini commented on #29769
The problem was in compiling without jpeg support.

Seems like missing `libjpeg` extension.

[2019-08-28 05:09] sisve commented on #29766
`Maximum function nesting level of '256' reached, aborting!` is a message from xdebug, you've configured it to break when the call stack reaches 256 frames. Try increasing the limit, or temporarily disable xdebug, and see what message you get. It doesn't have to be a recursive loop, it could just be a deep call stack.

[2019-08-28 06:34] garlian opened #29771 "Polymorphic many to many across two connections, wrong connection is used on pivot table."
- Laravel Version: 5.8.33
- PHP Version: 7.3.2
- Database Driver & Version: mysql

### Description:
I have two database connections:
- global (db1)
- tenant (db2)

Two models:
- User (connection set to global)
- Property (connection set to tenant)

Both models connected via polymorphic many to many relationship on a "propertable" table in tenant database.

User has a "properties" method using morp

[2019-08-28 07:00] mfn commented on #29766
Oh, sorry; no idea about this.

[2019-08-28 07:47] zeshanfarooqi commented on #29756
@driesvints agreed, lets focus on queue worker and Laravel 5.5 LTS.

[2019-08-28 09:28] grund3g opened #29773 "Session Persistance Issue with some browser"
- Laravel Version: 5.8.30
- PHP Version: 7.3.6
- Session Driver: redis

### Description:
This issue has been described several times, but partly with other causes:
- #8172,
- https://stackoverflow.com/questions/42769388/laravel-session-always-changes-every-refresh-request-in-laravel-5-4/43893114
- https://stackoverflow.com/questions/38851524/session-not-persist-when-request-comes-from-android-devi

[2019-08-28 11:06] Bouhnosaure opened #29774 "[6.0] Restore exception message on error pages"
On the 5.7 The messages where removed in this commit https://github.com/laravel/framework/commit/2d21bc2ea7bbc4a89a9d8c5e7dacfa6d91105472

Some ( `403.blade.php` and `503.blade.php` ) where restored in this PR #27893

The goal of this issue is to restore the missing ones :

- `401.blade.php`
- `404.blade.php`
- `419.blade.php`
- `429.blade.php`
- `500.blade.php`

So, when we use the `abort()` func

[2019-08-28 12:37] mfn commented on #29766
Maybe you have a cyclic dependency between two of your services, explicit or implicit?

[2019-08-28 12:57] #29774 closed

[2019-08-28 13:33] grund3g commented on #29773
Interestingly, it looks like only the session_id is renewed with every request. I just tried to authenticate a user in the mentioned browsers and this user remains authenticated

[2019-08-28 14:24] GrahamCampbell opened #29777 "[6.x] Flakey memcached tests"
- Laravel Version: 5.8+
- PHP Version: 7
- Database Driver & Version: N/A

### Description:

I see this every few days within the travis builds:

[code]

[2019-08-28 15:29] GrahamCampbell opened #29779 "phpredis vs predis"
The laravel phpredis connector seems to connect to redis straight away, but the predis connector does not. It would be good if the phpredis one was also lazy when it comes to connecting to redis.

[2019-08-28 17:28] redayoub47 opened #29781 "wrong email validation"
- Laravel Version: 5.8.29
- PHP Version: 7.2.19
- Database Driver & Version: MySql

### Description:
when i used email validation in laravel it accepted this email `xxxxx@gmailcom` which is a wrong format of emails

here my project https://github.com/redayoub47/academy_laravel_vuejs_app/blob/master/app/Http/Controllers/AuthController.php
line 21
[code]

[2019-08-28 18:08] GrahamCampbell commented on #29779
Not sure if this is even feasable, but it's super annoying now that a bunch of my tests are now failing because redis is not available. For context, these tests are checking that I can resolve some classes from the IOC, which in turn causes the IOC to resolve the redis connection, which now tries to connect to the db, but before, with predis, it wouldn't try to connect.

[2019-08-28 18:22] staudenmeir commented on #29781
In Laravel 5.8.33, you can use the `filter` validation: https://laravel.com/docs/5.8/validation#rule-email

[2019-08-28 18:52] jimgwhit opened #29782 "[6.0] Scaffold Auth"
A good reference first is:

https://laracasts.com/discuss/channels/laravel/laravel-60-appcss

The docs state:

Yet to scaffold Auth you have only two choices:
[code]
I of course do use JS, I use jquery.
It generated everything when I ran
[code]
I did run composer require laravel/ui  first, However in app.blade.php it has:
[code]
But no where is the file app.css found.  Where is app.css supposed to

[2019-08-28 20:46] staudenmeir commented on #29771
You need to qualify the pivot table:

[code]

[2019-08-28 21:24] #29769 closed

[2019-08-28 21:25] jimgwhit commented on #29782
Here is the main question. Where is app.css.  I think you might have missed that point, nowhere to be found is an app.css.

Fyi I've used laravel since 4.2 I know I can override anything.

The issue is there is a missing file. app.css.

[2019-08-28 22:06] GrahamCampbell opened #29784 "Redis contract missing loads of of methods"
- Laravel Version: 5
- PHP Version: 7
- Database Driver & Version: N/A

### Description:

The framework calls methods other than `->command(...)` on a redis connection, yet only specifies that it expects a `Illuminate\Contracts\Redis\Connection`, such as in caching and rate limiting. We need to add a load of methods to the contract, or avoid calling them.

[2019-08-28 22:52] devcircus commented on #29782
It's best to take this to one of the community forums.

You create it. It doesn't exist.
The most common convention for frontend assets in Laravel is to use laravel mix or a bundle of some sort, that bundles your styles into public/css/app.css and your scripts into public/js/app.js.
Check out the laravel docs on assets. https://laravel.com/docs/5.8/mix

[2019-08-28 22:57] jimgwhit commented on #29782
This is a 6.0 issue, 5.8 has no issue with a missing app.css file.  Trying to get this stuff fixed before final release to help people.

 See my original post above I reference a link in the community forum.

[2019-08-28 23:19] GrahamCampbell commented on #29779
In a way that won't break code that messes with the internals of the connectors, that is.

[2019-08-29 04:52] jimgwhit commented on #29782
Well I deleted all and tried again, an after running:
[code]

I noticed the message:
[code]
So I guess the framework now requires npm if you want the out of the box Auth scaffolding.

Yet without installing npm, renaming bootstrap.css to app.css I got ll working.  Is this just a way to force newcomers to the framework who may not know a work around to have to install npm, and have to compile asset

[2019-08-29 06:41] quangtran1357 commented on #23826
Hi @alkin ,
your solution is good but it can only be applied with 1 fixed variable, if each resource returned in Resource::collection needs a variable containing different values, your method cannot be used.
Can you fix it?

[2019-08-29 08:07] garlian commented on #29771
This approach does work, but does not solve the problem in a clean way. The problem is that my tenant connection uses different databases for different domains. I could solve this problem by prepending dynamically the database based on the connection, but this feels kinda hacky.

I think that is not the case. The morphedByMany part is the inverse part of the many to many and the pivot is named aft

[2019-08-29 08:16] manojibcarockers commented on #22320
Solved by adding `\Illuminate\Session\Middleware\StartSession::class,`

In Kernel.php

Before
'api' => [
            'throttle:60,1',
            'bindings',
        ],

After
'api' => [
            \Illuminate\Session\Middleware\StartSession::class,
            'throttle:60,1',
            'bindings',
        ],

[2019-08-29 08:16] cooltheo commented on #7904
Make sure that the redis service is accessible inside docker. This is my solution.
.env file.
`### REDIS CONFIG
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379`

[2019-08-29 08:44] someother1 commented on #24876
Same problem here.

A rename of any column in the table will 'reset' all the foreign keys.

(internal there will be a `__temp__{tablename}` table created - with all the data to transfer while migration - after transfer the normal index will be created, but no foreign keys will be handled anymore.)

[2019-08-29 09:09] aliasbody opened #29787 "firstOrNew returns more than one result (with datetime)"
- Laravel Version: Lumen 5.7.7
- PHP Version: 7.1.23
- Database Driver & Version: pgsql 9.6.6

### Description:
When using a date as a condition when checking firstOrNew, because of the use of "first()" the result will be all the values from the DB that correspond to the conditions (except the date)

### Steps To Reproduce:
Do a simple query, like this one:

[code]

If we then do
[code]
We only ha

[2019-08-29 09:17] driesvints commented on #29782
Everything is explained here: https://laravel.com/docs/6.0/frontend#writing-css

If you feel that this can be explained better than feel free to send in a PR.

[2019-08-29 09:17] #29782 closed

[2019-08-29 09:51] volovodenko commented on #23212
In my case, mysql in vagrant was stopped with error (Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock'). "service mysql restart" was not working. I had look in "sudo cat /var/log/mysql/error.log" and saw: "2235-03-14T13:05:45.511737Z 121 [Warning] Iteration 1: Current time obtained from system is greater than 2038".
Command "date" showed: "Sat Mar 14 13:45:25 UTC 223

[2019-08-29 10:49] #28604 closed

[2019-08-29 10:50] #27052 closed

[2019-08-29 10:51] GrahamCampbell commented on #29411
This will be fixed in PHP 7.4.0 RC1.

[2019-08-29 10:51] #29411 closed

[2019-08-29 11:03] dkulyk commented on #29787
Model does not have `pluck` method and pass(__call) it to query builder

[2019-08-29 11:10] aliasbody commented on #29787
@dkulyk The pluck was just an example (and maybe not the best one). The thing is that the save really affects more than only the found row when updating and using the firstOrNew.

[2019-08-29 13:19] staudenmeir commented on #29787
`firstOrNew()` always returns a single result.

What does your actual code look like?

[2019-08-29 13:41] phillipsharring commented on #27105
Hello. I can confirm this is still an existing issue in 5.7.28 as of 28-aug-2017, just under the wire for security fixes, according to the support policy :) Only if the AuthenticateSession middleware is active (uncommented), log in as user 1, log out, log in as user 2, get the authentication exception thrown. Similar to @juampi92 , my attempted fix was to use Session::flush() in the auth login con

[2019-08-29 14:14] dkulyk commented on #29787
[code]
$stats is Collection

[code]
$stats is Model

`$stats->pluck('created_at');` fro Model is equivalent of `$stats->newQuery()->pluck('created_at');`

[2019-08-29 14:33] staudenmeir commented on #29771
Even if you name the pivot table like that, you could put it in the other database.

You can't compare `BelongsToMany`/`MorphToMany` with other relationships here: It's much simpler to query a relationship without a pivot table across two databases since every query only targets a single database (i.e. there are no cross-database joins).

Laravel doesn't support cross-database queries yet: #23042

[2019-08-29 15:01] garlian commented on #29771
Do you now a smart workaround for this problem or do I need to handle this via custom queries?

[2019-08-29 15:29] driesvints commented on #29777
Yeah we need to get that fixed. I've seen that sporadically happen as well.

[2019-08-29 15:48] staudenmeir commented on #29771
What exactly doesn't work with the qualified pivot table?

[2019-08-29 15:55] garlian commented on #29771
The user can't be resolved if I try to sync.

[2019-08-29 16:10] staudenmeir commented on #29771
What's the error?

[2019-08-29 16:26] garlian commented on #29771
Okay, my bad! I tracked down the error, your soultion worked, feeling stupid right now 😅 I had an existence check in my request class, obviously using the wrong db...

Your first solution works! Thank you so much :-)

[2019-08-29 17:27] wmcmurray commented on #5414
This worked for me :
https://stackoverflow.com/questions/23364276/how-do-i-reload-a-relation-collection-in-laravel

Instead of :

[code]

Just do :

[code]

[2019-08-29 17:37] jimgwhit commented on #29782
I don't understand the duck and run answer.  I was referring to npm now being required for authorization scaffolding yet it never was before.

[2019-08-29 17:50] redayoub47 commented on #29781
thanks i used filter it is working but the error message i get when invalid email is
[code]
even if the email is new , the other thing i wanna know the difference between the other validation options
- rfc: RFCValidation
- strict: NoRFCWarningsValidation
- dns: DNSCheckValidation
- spoof: SpoofCheckValidation
- filter: FilterEmailValidation

[2019-08-29 18:58] jspringe commented on #27004
@imanghafoori1 was on to something with the additional of `->sortByName()`. I commented out that bit of code and was able to make the test pass and deleted the directories as expected.

I'll keep digging to see if I can find what's happening and how to fix it.

[2019-08-29 20:17] jspringe commented on #27004
Looks like this is an issue with the Symfony Finder package. Specifically the `SortableIterator` class. `$this->sort` holds a reference to the file/folder `SplFileInfo` via a closure and doesn't destruct until the application finishes execution. This causes a lock in Windows.

[2019-08-30 00:13] jspringe commented on #27004
I cannot recreate this in isolation with the Symfony/Finder package.

[2019-08-30 00:31] XGhozt opened #29796 "Broadcast Facade missing docblock for $options parameter"
- Laravel Version: 5.8
- PHP Version: 7.2
- Database Driver & Version:

### Description:
https://github.com/laravel/framework/blob/0c85be5c4b33c3174372432a134bdb2523ce2a2c/src/Illuminate/Support/Facades/Broadcast.php#L9

`\Illuminate\Broadcasting\Broadcasters\Broadcaster` Supports 3 parameters, docblock `array $options` is missing.

https://github.com/laravel/framework/blob/0c85be5c4b33c3174372432

[2019-08-30 08:21] Prootex opened #29797 "illuminate/database issue / join"
- Laravel Version: 5.8
- PHP Version: 7.1
- Database Driver & Version:
MySQL 5.5

### Description:

the same query result in an error after upgrade illuminate database from 5.4 to 5.8

Illuminate\\Database\\QueryException
Column not found: 1054 Unknown column 'BETWEEN' in 'on clause'

### Steps To Reproduce:
Illuminate/database 5.4
query:
`$query->leftJoin('holidays', function($join) {

[2019-08-30 08:26] dinoqqq commented on #28992
@driesvints any ideas?

[2019-08-30 09:26] rimace commented on #29782
Just to give you some support. That`s the commit in which the app.css is removed: https://github.com/laravel/laravel/commit/fc39b073f3f61a22f1b48329e294ebb881700dbe
Maybe the others will now better understand what you mean.
I also have have to say this doesn't look like a bug but rather like a question, so it doesn't fit in here.

[2019-08-30 10:24] X-Coder264 commented on #29119
@driesvints https://github.com/Seldaek/monolog/releases/tag/2.0.0 :tada:

[2019-08-30 11:16] event15 opened #29800 "route() host overwritten by X-Forwarded-Host"
- Laravel Version: 5.8.33
- PHP Version: 7.1.31

### Description:
If the user sends a query with the manually set X-Forwarded-Host header, then the route() function will return an array with the key "host" with the changed address.
This may be a security problem - when I use route('my/page/url') in setAction() in any Form Builder (symfony form, laravel FormFactory etc.), then action attribute can

[2019-08-30 12:20] joisarjignesh opened #29801 "eager loading with delete rows issue"
- Laravel Version: 5.5.28
- PHP Version: 7.2.16
- Database Driver & Version:  MySQL 5.7.18

### Description:
i have issue on nested eager loading or eager loading **both** with delete rows..

**Course.php**

[code]

**Section.php**

[code]

**Lecture.php**

[code]

### Steps To Reproduce:

when i try
 it will getting proper rows ...

` App\course::with('section')->first()`

when i try to fetch row

[2019-08-30 14:17] staudenmeir commented on #29801
Laravel doesn't and shouldn't delete eager-loaded relationships.

Consider using cascading foreign keys: https://stackoverflow.com/a/14176326/4848587

[2019-08-30 14:43] rentalhost opened #29804 "Schema Builder: collaction() should be wrapped by quotes (when change())"
- Laravel Version: 5.8.34 (lastest)
- PHP Version: PHP 7.2.21
- Database Driver & Version: MariaDB 10.3.17

### Description:

Same as #23944. The difference is that it affects when you need run `->change()`.

### Steps to reproduce

[code]

[2019-08-30 14:43] rentalhost commented on #29804
@staudenmeir Could you help on this again? 😄

[2019-08-30 15:37] damcclean opened #29805 "Sending array as header from test causes an array to string conversion error"
- Laravel Version: 5.8.34
- PHP Version: 7.3.5
- Database Driver & Version: N/A

### Description:
In my application, I am sending a header my controller, when I try and access the header contents using `$request->header('message')`, it returns `null`. However when I try to get a list of headers using `$request->headers`, my header shows up.

I have tried this in one of my apps and in a fresh Larav

[2019-08-30 16:05] staudenmeir commented on #29797
This was caused by #22182.

You can use `whereRaw()` instead:

[code]

[2019-08-30 16:05] staudenmeir commented on #29804
I'll look into it.

[2019-08-30 18:23] nihilsen commented on #29736
Fixed in 6.0 with merged PR #29778

[2019-08-30 18:23] #29736 closed

[2019-08-30 19:56] DarkGhostHunter opened #29806 "[5.8] Using phpredis returns an exception"
- Laravel Version: v5.8.16
- PHP Version: 7.3
- Database Driver & Version: Redis PECL extension & Redis 5.0.5

### Description:

When using `phpredis` as the driver to connect to a Redis database, any call to the redis database will throw an exception.

For example, this is thrown when Telescope tries to get something from the database:

[code]

### Steps To Reproduce:

1. Install and enable the R

[2019-08-30 20:02] jimgwhit opened #29807 "[6.0] No upgrade path for authentication"
Referring to closed issue: #29782

It appears there is no update or upgrade path for a previously scaffolded authentication system going from 5.8 to 6.0.  Yet the docs has upgrading.

With the new UI a person would have to completely redo from scratch their authentication system.

No this is not a question but an issue, please read the closed issue #29782 first.  You now need vue or react even if

[2019-08-30 21:14] bonzai commented on #29800
You can set trusted hosts to prevent header injection attacks:

[code]

[2019-08-31 02:18] staudenmeir commented on #29805
Your code works for me. Please create a sample application and upload it to GitHub.

[2019-08-31 04:43] staudenmeir commented on #29804
I've submitted a PR: https://github.com/doctrine/dbal/pull/3668

In the meantime, you'll need to quote the collation yourself:

[code]

[2019-08-31 08:02] joisarjignesh commented on #29801
@staudenmeir  if you're using soft deletes then how can we delete not permanently..

[2019-08-31 08:22] damcclean commented on #29805
Alright, I've pushed my sample application to Github. https://github.com/damcclean/test-header-issue

[2019-08-31 09:15] driesvints commented on #29797
@staudenmeir so should we fix this or not?

[2019-08-31 10:09] milewski commented on #28210
My findings were that in order to "authenticate" to private channels you cant include that `APP_database_private_XXX` prefix, but in order to consume you must!.... Laravel echo lib doesn't support it out of the box, so commenting out the 'prefix' is the only way to get this working

This doesn't work:

[code]

this works:

[code]

[2019-08-31 11:05] amitshahc commented on #19737
Most irresponsible answers I noticed from Laravel. People around the world have enough test cases for dynamic timezone conversion feature based on the end user location.

For me, i am struggling with converting timezone while setting and getting it from database. For example, My project have shops registered worldwide. but i want to save the appointment times in UTC. so I need to handle the incomi

[2019-08-31 12:28] jamiehd commented on #19737
For anyone else who comes across this - I now use some macros to make it easier to convert to and from the local timezone to utc in my controllers:

	/**
	 * @return Carbon
	 */
	public function toLocalTimezone()
	{
		return function () {
			$new = $this->copy();
			$new->setTimezone(config('app.display_timezone'));
			return $new;
		};
	}
	/**
	 * @param string $time
	 * @return Carbon
	 */
	publ

[2019-08-31 13:30] staudenmeir commented on #29797
Actually, `whereBetween()` is the better/right solution:

[code]

[2019-08-31 13:32] staudenmeir commented on #29797
@driesvints I don't think we should. I don't see it as a bug but "only" as a breaking change that went into the wrong version.

[2019-08-31 13:33] driesvints commented on #29119
Yep I saw! Thanks. I'll check in on that soon.

[2019-08-31 13:34] staudenmeir commented on #29801
Should the sections and lectures *always* be deleted when you delete a course?

If so, take a look at https://stackoverflow.com/a/20108037/4848587.

[2019-08-31 13:39] staudenmeir commented on #29805
That also works for me. When I put `dd($request->header('message'));` in the controller, I get `Hello World!`.

[2019-08-31 14:17] isluewell opened #29810 "[6.0] Where is the command app:name? 🥺"
The app:name command, no longer available in laravel 6.0, there is some way to change the namespaces, as was being done with that command in all the necessary files.

[2019-08-31 14:18] GrahamCampbell commented on #29810
The command has been removed in Laravel 6. See https://github.com/laravel/framework/pull/27575. :)

[2019-08-31 14:18] #29810 closed

[2019-08-31 14:32] joisarjignesh commented on #29801
@staudenmeir  ok i try like this but  is it a good because every time **model check delete or not**  idea?

[2019-08-31 14:43] isluewell commented on #29810
**I created a gist, in case anyone else needs it.**

https://gist.github.com/isluewell/b824c0aef32f5007170fcd0d8498b657

First we create the command with

[code]

Then we replace the content created in the file `app/Console/Commands/AppName.php` with the content of the gist.

and then use it in the usual way, changing `Luewell` for the name of your application.

[code]

[2019-08-31 16:00] adrianorsouza commented on #29800
Another way to mitigate this, if you serve your Laravel application with Nginx is to listen only to those valid domains and send an empty response for invalid ones:

Unknown hosts:
[code]

All valid hosts:
[code]

Also if you define your routes within a domain group you can also be safe:

[code]

[2019-08-31 17:00] #29806 closed

[2019-08-31 17:01] damcclean commented on #29805
I'm just running it with PHPUnit like, `./vendor/bin/phpunit`, nothing fancy.

I just ran the same thing on my machine and it started to work.... I'll try in my other app to see if it works there. Rather strange it would work today but not yesterday.

[2019-08-31 17:23] damcclean commented on #29805
Hmm, ok. So I tried the message header (from the example) in my production app where I spotted the issue and it worked.

My issue is that the header I'm trying to send and receive in my real app is an array.

This is how I'm sending the array from my test.

[code]

This is how I'm trying to dump it.

[code]

Now I'm getting the `ErrorException: Array to string conversion` error. Should I have enco

[2019-08-31 17:53] ryancwalsh commented on #12944
I just spent so many HOURS on this problem. My head was going to explode. I was so confused. I'm really disappointed that Laravel 5.2 didn't accept the pull request since this was clearly broken functionality.

@nowak-ninja Thank you for the `export APP_ENV=testing` hint and for the pull request.

[2019-08-31 17:57] amanvaid commented on #8840
As per the Laravel docs only the following column types can be "changed": bigInteger, binary, boolean, date, dateTime, dateTimeTz, decimal, integer, json, longText, mediumText, smallInteger, string, text, time, unsignedBigInteger, unsignedInteger and unsignedSmallInteger.

[2019-08-31 18:29] staudenmeir commented on #29805
Does the array header work in your application (how?) or did you write the test first?

[2019-08-31 18:43] damcclean commented on #29805
Sorry, I don't understand what you mean.

The same error comes up in my fresh Laravel app plus my production application.

[2019-08-31 18:52] staudenmeir commented on #29805
How does an array header work in an actual application? How does the client send an array?

[2019-08-31 18:57] damcclean commented on #29805
OK, so for normal users they don't have to send any header at all to the url as the list data they get is from an external API.

However for testing, the tests send through a list header which goes back to the class I call the API from and instead of querying the API, I'm just using the provided header.

I know there are better ways of doing it like using mocks but I don't really want to have to d

[2019-08-31 19:33] imanghafoori1 commented on #27004
@jspringe yes, that sorting is added on 5.6 in a PR which I do not remember the number of it.

It seems a bug related to PHP for windows, or maybe the Win OS enforces such behavior.

[2019-08-31 19:37] AlbertoSinigaglia opened #29812 "BadMethodInvocation inside public/index.php(58)"
- Laravel Version:  5.8.15
- PHP Version: 7.2
- Database Driver & Version: --

### Description:
Every Request generate this exception/stacktrace:
[code]
All the responses in every controllers have this pattern
`return response()->make(view('folder.view'), return_error);`
and on 'view()' the only method that i call is with(), where necessary

[2019-08-31 20:13] staudenmeir commented on #29805
I'm asking because I've never heard of array headers and I don't think they "exist".

You'll need to use a different approach.

[2019-08-31 20:20] jspringe commented on #27004
@imanghafoori1 I have a PR submitted over at the Symfony repo that fixes this issue. Hopefully it gets accepted so we can move on to the other Windows issues.

[2019-08-31 20:30] damcclean commented on #29805
Oh ok, no wonder why they don't work 😂

Thanks for your time helping out with this issue.

[2019-08-31 20:30] #29805 closed

[2019-08-31 20:57] staudenmeir commented on #29741
I don't see a feasible way to make closures work.

[2019-09-01 08:28] rimace commented on #29812
Change this
`return response()->make(view('folder.view'), return_error);`
into this
`return view('folder.view');`
I don't know what `return_error` could be, so i can't help with that though.

[2019-09-01 10:14] AlbertoSinigaglia commented on #29812
i can't o that, because i use `Cookie::queue(...)` to set cookies and if i change `response()->make(view('folder.view')` with `return view('folder.view')` laravel will throw a lot of errors saying ''trying to add cookie to a View, Response needed''.
And yes, sorry, with return_error i mean http_response_code, so 2xx, 3xx or 4xx

[2019-09-01 11:53] RFreij commented on #29812
Could you post your exact controller method?

[2019-09-01 12:41] AlbertoSinigaglia commented on #29812
[code]
but i don't know in which moment during the website visit  the error is thrown, however all the controllers methods return something like this method here

[2019-09-01 12:58] Vendin commented on #29119
@driesvints did not find where compatibility can break

https://github.com/laravel/framework/pull/29813

[2019-09-01 16:57] HepplerDotNet opened #29815 "[PHP 7.4] Use of undefined constant PASSWORD_ARGON2ID - assumed 'PASSWORD_ARGON2ID' (this will throw an Error in a future version of PHP)"
- Laravel Version: 5.8.34
- PHP Version: 7.4-beta4
- Database Driver & Version: not involved

### Description:
`Hash::make('secret-password') `
throws ErrorException in /vendor/laravel/framework/src/Illuminate/Hashing/ArgonHasher.php:83

### Steps To Reproduce:

1. Install laravel/laravel on PHP 7.4-beta4
2. Set 'driver' => 'argon' in hashing.php
3. Call Hash::make('something')

[2019-09-01 18:05] isluewell opened #29816 "[6.0] Error after installing Telescope"
- Laravel Version: 6.0-dev
- PHP Version: 7.3.8-1+ubuntu19.04.1+deb.sury.org+1
- Database Driver & Version: pgsql, 10

### Description:
The following error is displayed after installing Telescope

occurs when attempting to perform any action within the project, or url load.

`at vendor/ramsey/uuid/src/Generator/CombGenerator.php:63`

[code]
### Steps To Reproduce:
`laravel new blog --dev`

`compos

[2019-09-01 19:41] barryvdh commented on #29816
Is this with the latest version? The same error was in the tests but that was fixed with that PR: https://github.com/laravel/framework/pull/29809

[2019-09-01 20:41] isluewell commented on #29816
If it has been fixed, I just did **composer update** (I had done it before) and now it works, thank you very much.

[2019-09-01 20:41] #29816 closed

[2019-09-01 20:43] crissi commented on #29815
This algorithm is only available if PHP has been compiled with Argon2 support. See here: https://www.php.net/manual/en/function.password-hash.php

[2019-09-01 21:56] jspringe commented on #27004
Merge was accepted over at Symfony. Just waiting for it to be merged into the main components/framework.

[2019-09-01 22:29] mknooihuisen opened #29817 "Artisan app:name command missing in V6"
- Laravel Version: 6.0.x-dev
- PHP Version: 7.3.7
- Database Driver & Version: n/a

### Description:
New installations of Laravel 6 do not include the `artisan app:name` command.  Yes, you can manually change the Namespace and use a "Replace in Files..." command to get to green but this is still less convenient, especially if `app:name` did more than that behind the scenes.

### Steps To Reproduce

[2019-09-01 22:33] brunogaspar commented on #29817
The command was removed [here](https://github.com/laravel/framework/commit/fe06c206fcac081d3c93ee7d38eb3174e83603f5#diff-52ce501efc27d62b35ed72232484863b) so it's intended that it's missing.

[2019-09-01 22:39] mknooihuisen commented on #29817
@brunogaspar Appreciated.  I can see the logic in this, but can't this still cause upgrade problems for people who have already changed the namespace?

I'm just making the assumption that the new version may create missing file stubs assuming the `App` namespace.

[2019-09-02 00:09] rainbowhat commented on #29073
I switched to Postgres recently and can't run long queries anymore especially chunks, not sure if it's laravel 5.8 or postgres itself. I probably need to do more testing.

In the past, I could manage large queries even with 500mb ram now I can't do it with 4GB ram.

[2019-09-02 00:17] isluewell commented on #29817
The command has been removed in Laravel 6. See #27575

https://github.com/laravel/framework/pull/27575#issuecomment-526836074

[2019-09-02 01:17] staudenmeir commented on #29804
It will be fixed in the next release of `doctrine/dbal`.

[2019-09-02 01:28] imanghafoori1 commented on #27004
Congratulations

[2019-09-02 01:30] #29804 closed

[2019-09-02 01:32] jspringe commented on #27004
Thanks, but that congrats is really for us poor saps that are stuck as windows devs in a non-windows friendly platform.

[2019-09-02 06:39] CyberiaResurrection opened #29818 "Why doesn't Schema::getFacadeAccessor return a string?"
- Laravel Version: 5.8.34
- PHP Version: 7.2.21
- Database Driver & Version: N/A

### Description:
Per https://github.com/laravel/framework/pull/25525 and implied by \Illuminate\Support\Facades\Facade::swap() (as below),

[code]

Why does \Illuminate\Support\Facades\Schema return a schema Builder rather than a string, like the vast bulk, if not all, of the other defined facade classes in the core

[2019-09-02 07:21] Mrpunk420 opened #29819 "when i put the (sub/add) route outside the whole function it is working but when i put this in this way it is not working and even not show on php artisan route:list also"
Route::group([
                    'prefix' => 'events',
                ], function () {
                    Route::get('/{id?}','EventController@index')->name('events.index')->where('id', '[0-9]+');
                    Route::get('/add','EventController@single')->name('events.single');
                    Route::post('/add','EventController@create')->name('events.create');
                    Ro

[2019-09-02 07:31] event15 commented on #29800
Thanks!

[2019-09-02 07:31] #29800 closed

[2019-09-02 08:05] matthew-muscat opened #29820 "Jobs dispatched with a delay of "0" goto the delayed queue"
Laravel Version: 5.8.34

### Description

Jobs dispatched on a queue with a delay value set to `0` result in the job being created on the "delayed" queue, upon which it is then migrated onto the "primary" queue for processing.

### Steps to reproduce

1. Dispatch a job with a delay of 0
[code]

2. Observe that the job is pushed onto the "delayed" queue initially, upon which it's migrated into the

[2019-09-02 08:37] driesvints commented on #29817
This was removed.

[2019-09-02 08:37] #29817 closed

[2019-09-02 08:58] HepplerDotNet commented on #29815
From repo maintainer:
php 7.3 use argon2 lib
php 7.4 use argon2 from libsodium
Had to install  php74-php-sodium

[2019-09-02 08:58] #29815 closed

[2019-09-02 09:15] driesvints commented on #29784
I'm not sure this is necessary. It would be a little bit of overkill to add all of these methods. In any case this is more of a discussion for the ideas repo.

[2019-09-02 09:15] #29784 closed

[2019-09-02 10:05] driesvints commented on #29787
We don't support Lumen 5.7 anymore sorry. Btw, Lumen has its own issue tracker: https://github.com/laravel/lumen-framework/issues

[2019-09-02 10:05] #29787 closed

[2019-09-02 10:05] #29771 closed

[2019-09-02 10:07] driesvints commented on #29781
@redayoub47 that new issue seems more like something for a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%2

[2019-09-02 10:07] #29781 closed

[2019-09-02 10:09] driesvints commented on #29796
Feel free to send in a pr

[2019-09-02 10:09] #29796 closed

[2019-09-02 10:09] driesvints commented on #28992
@dinoqqq no sorry, don't have time atm to deep dive into this.

[2019-09-02 11:01] driesvints commented on #29807
This is only for new Laravel 6 apps. Existing apps are unaffected. And if you're using Laravel 6 you're going to have to follow the instruction from the docs: https://laravel.com/docs/6.0/frontend#writing-css

[2019-09-02 11:01] #29807 closed

[2019-09-02 11:03] driesvints commented on #29797
@Prootex try out the `whereBetween` method like @staudenmeir suggested. Thanks.

[2019-09-02 11:03] #29797 closed

[2019-09-02 11:08] driesvints commented on #29801
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-09-02 11:08] #29801 closed

[2019-09-02 11:15] Prootex commented on #29797
it works, thank you

[2019-09-02 11:17] driesvints commented on #29505
A pr for this fixed this for 6.0: https://github.com/laravel/framework/pull/29067

[2019-09-02 11:31] digilist commented on #29505
This PR does not fix the handling of `commit()`, does it? It's only fixing another bug in the transaction method, but you can use `commit()` without using `transaction()`.

[2019-09-02 11:35] driesvints commented on #29505
@digilist right! My bad, sorry.

[2019-09-02 11:41] driesvints commented on #29818
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-09-02 11:41] #29818 closed

[2019-09-02 11:41] driesvints commented on #29819
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-09-02 11:41] #29819 closed

[2019-09-02 11:43] driesvints commented on #29820
Heya. I see why you'd think that but that's indeed not how it works atm. But this could be changed perhaps. Although this isn't really a bug and more of a behavioral change. So please open up an issue on the ideas repo and maybe attempt a PR to the master branch. Thanks.

[2019-09-02 11:43] #29820 closed

[2019-09-02 12:41] joisarjignesh commented on #29801
@driesvints i am getting a same issue on **laravel 5.8.34 version** so please check ...

[2019-09-02 13:32] mdzhokanov opened #29824 "QueryProcessor->processInsertGetId() incorrectly casts string identifiers to (int)"
- Laravel Version: **6.0.0**
- PHP Version: **7.3.1 (32-bit)**
- MySQL: **10.1.31-MariaDB**

### Description:
An issue was found in _src/Illuminate/Database/Query/Processors/Processor->processInsertGetId()_
Currently, this method always casts numeric identifiers to integer, even if they are explicitly declared as String objects:
`return is_numeric($id) ? (int) $id : $id;`

In case of 32-bit PHP en

[2019-09-02 13:33] djohnston08 commented on #28228
@driesvints I am not sure this is a support issue. We are also seeing this on numerous projects. Considering this was not an issue in previous versions, it seems like a bug. Maybe not a serious bug, but it definitely feels like a regression. The problem is that it’s intermittent so it seems to be getting ignored. Is anyone going to look into this or should we just expect to to ignore it in the fut

[2019-09-02 13:41] driesvints commented on #28228
@djohnston08 can you please try a support channel first and then report back if that didn't help?

[2019-09-02 13:47] driesvints commented on #29824
Is this even something that a 32 bit system can handle?

[2019-09-02 15:57] driesvints commented on #29486
Hey @davidhemphill I'm gonna close this but feel free to reply whenever you get the chance.

[2019-09-02 15:57] #29486 closed

[2019-09-02 15:58] driesvints commented on #29812
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-09-02 15:58] #29812 closed

[2019-09-02 16:35] driesvints commented on #29755
PR was merged

[2019-09-02 19:26] alexjose commented on #18415
I am also wondering why Laravel uses `exists` clause for `whereHas()` while the same could have been done with `in` clause with any overhead.

I had to avoid using  `whereHas` and use raw `whereIn` to increase the **performance from 20 s to 100 ms**

Would like to know the reason why to stick with `exists` clause.

[2019-09-02 19:29] jimgwhit opened #29829 "[6.0] No upgrade path for authentication, NOT CSS, authentication, and app.css missing on new install."
Login in version 5.8 comes with app.css when you scaffold authentication.  Besides app.css I also have custom css for other views.

However I use the app.css for styling the login and register as is "out of box"

In another issue I got this for an answer:

Wouldn't an upgrade from:

#### 5.8 to 6.0

Be considered a new 6.0? Again, since this is an upgrade to 6.0, thus it should be considered as a

[2019-09-02 19:56] devcircus commented on #29829
I've been following all of your posts trying to understand, but just can't follow. If you upgrade, nothing changes, only your vendor which has nothing to do with your css. Compiling is never required. Concerning a new project, if you don't want to use any build tools, just drop your css in public and go to town. Also can't figure out why you seem to be the only one bringing this up. I could be mis

[2019-09-02 19:56] #29755 closed

[2019-09-02 20:30] jimgwhit commented on #29829
That does make sense, however in a brand-new install then, how do you get app. CSS.

You want the new one not an older one.

Seems you have to compile for that to be generated.

What I did on a new install is download bootstrap. CSS copy renamed to app.css.

Is this the correct way if not compiling assets.

[2019-09-02 20:44] RFreij commented on #29829
You can do exactly that.

Still, to always have the "most up-to-date" bootstrap css file for example, having it in package.json and compile it will always be best option since you don't have to download new versions yourself

[2019-09-02 21:05] shardick commented on #29773
i have the same problem, only in production and it could be reproduced with some PC but not all users.
The session cookie change value every pageload.

I've tried with session driver as redis, file and cookie, setting session domain, but nothing. Authentication works, i remain authenticated but cannot send any post causing 419 Page Expired.

[2019-09-02 21:13] jimgwhit commented on #29829
@RFreij  thanks for the reply.  I figured that.  Weird that the docs for 5.8 had:
[code]
Yet 6.0 says nothing about compiling assets is optional.  Yes an experienced person knows this.  But in a fresh install, and a fresh scaffolded Auth, it would be nice to have the app.css "out of box" like previous versions had.

And app.css never needed compiling in the past.
The issue is there in no app.css o

[2019-09-02 21:19] rs-sliske commented on #29829
whats the big problem with having to "compile" the css?

also i think part of the confusion here is you keep going on about "upgrade". while this has nothing to do with upgrading, it will only effect brand new laravel 6.0 apps

[2019-09-02 21:29] jimgwhit commented on #29829
I know.  I want, wish someone couls answer this:

Are the developers forcing compiling assets now on those new to laravel, who may not realize it's optional. As npm was never required in the past.

I've been doing this stuff 32 years now, so I know better.

Just answer the simple question:

Is it yes or no.

If yes, there's no issue, if no there needs to be at least a sentence to let newbie's know

[2019-09-02 23:00] #29829 closed

[2019-09-03 07:00] jringeisen commented on #24005
I have this same issue. I'm rendering a mailable in my controller to save it to a database column but I'm also sending out an email.

        $client_email = new ClientEmail;
        $client_email->subject = $subject;
        $client_email->message = $message;
        $client_email->email_data = (new SendClientEmail($client, $subject, $message, $user, null))->render();
        $client_email->user(

[2019-09-03 08:21] taghwo opened #29834 "Route Resource in Route Group with Prefix only loads index method of resource controller"
- Laravel Version: 5.8.*
- PHP Version: 7.1.3
- Database Driver & Version:

### Description:
Route Resource in Route Group with Prefix only loads index method of Resource Controller.
Index method loads fine , trying to access create & show methods redirects to '/home'.

### Steps To Reproduce:

Route::group(
    [
    'namespace' => 'Admin',
    'prefix' => 'admin',
    ],
     function ) {

    R

[2019-09-03 09:22] hexiaodong2010 commented on #17918
mark

[2019-09-03 09:31] rimace commented on #29824
I'm not sure if it is because you used the `$casts` property for that. Actually you have to set the type of the ID like this:
[code]

[2019-09-03 10:37] GabMic opened #29835 "Str::slug() not working with other characters aside english"
- Laravel Version: 5.8.34
- PHP Version: 7.2.11

### Description:

I am trying to use `Str::slug()` with another language than English(Hebrew in my case), but it is not working.
while `$request->title` is in Hebrew, the following will not return anything:
`Str::slug($request->title);`
But with English, it will.

I have also tried this form, but also not working:
`Str::slug($request->title, '-', 'h

[2019-09-03 10:38] drmovi opened #29836 "Add ability to disable pivot columns in select statement for many to many relationship "belong to many""
in belong to many relationship every query should include the aliased foreign keys of the pivot table, this may cause problems when using GROUP BY, suggest add function in builder to remove these columns in select statement
Thanks

[2019-09-03 10:41] driesvints commented on #29834
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-09-03 10:41] #29834 closed

[2019-09-03 10:46] driesvints commented on #29835
Think we need to add those characters here: https://github.com/laravel/framework/blob/5.8/src/Illuminate/Support/Str.php#L737-L763

If you could send in a PR, that'd be great. Don't speak Hebrew myself 😅

[2019-09-03 10:46] driesvints commented on #29835
Also: 8.3.4 isn't a Laravel release. Did you mean a different version?

[2019-09-03 10:46] driesvints commented on #29836
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-09-03 10:46] #29836 closed

[2019-09-03 10:49] GabMic commented on #29835
Oh, haha i have updated the version.

[2019-09-03 10:50] GabMic commented on #29835
I will try it right now.

[2019-09-03 11:33] GabMic commented on #29835
Added this pull request:
https://github.com/laravel/framework/pull/29838

[2019-09-03 11:43] mdzhokanov commented on #29824
Yes, as long you don't make the (int) cast everything works perfectly. I guess the solution here would be to check what is the $keyType of the Eloquent model first. And if it is not integer, then please do not attempt casting it to integer.

Setting $keyType **does not affect** QueryProcessor->processInsertGetId() behaviour in any way. But I agree that it is expected to do so.

My suggestion would

[2019-09-03 12:14] staudenmeir commented on #29824
An auto-incrementing id is by definition an integer.

[2019-09-03 12:30] driesvints commented on #29824
I with you @staudenmeir but doesn't the int casting seem a bit weird in this situation?

[2019-09-03 12:40] staudenmeir commented on #29824
@driesvints Why do you find it weird? I think it makes sense for `insertGetId()` to return an integer.

[2019-09-03 12:47] driesvints commented on #29824
@mdzhokanov I have to say I agree with @staudenmeir. It seems that it's best that you move to a 64 bit system if you want to handle 64-bit integers.

[2019-09-03 12:47] #29824 closed

[2019-09-03 12:54] driesvints commented on #29119
Merged

[2019-09-03 12:54] #29119 closed

[2019-09-03 14:15] aadlung opened #29844 "Laravel 6 VerifyEmails.php hash parameter not detected"
- Laravel Version: 6.0
- PHP Version: 7.2.x

### Description:
After switching to Laravel 6 from 5.8 - the file framework/src/Illuminate/Foundation/Auth/VerifiesEmails.php was updated.

It now includes:
[code]

For some reason, the `$request->route('hash')` is `null`- I assume some signed-url-macros remove those parameters upfront? Because the `hasValidSignature()` works when debugging.

The verify

[2019-09-03 14:46] XEngine commented on #8740
@anderly Hi Anderson! Would you mind sharing CustomSqlServerProcess with me ? I think I am having the same issue. Model->save() gets a huge different ID then what was added into table.

[2019-09-03 14:53] aadlung commented on #29844
I just realized that my installation creates verification URLs like that:

https://www.example.com/email/verify/12?expires=1567525923&hash=bb...&signature=e2b08e0d....

A fresh Laravel install generates URLs like that:

https://www.example.com/email/verify/3/6b665e9.....?expires=1567525840&signature=37a24f19dff2....

So I will check my installation where I generate this URLs in the mail - probably

[2019-09-03 14:56] driesvints commented on #29844
Feel free to reply once you figure things out 👍

[2019-09-03 14:56] #29844 closed

[2019-09-03 14:59] #29835 closed

[2019-09-03 15:14] aadlung commented on #29844
The issue was an old (manual) route for the E-Mail verification:
`email/verify/{id}`
In the current version, it is:
`email/verify/{id}/{hash}`
This probably only happens because I use the rules manually, and not `Auth::routes(['verify' => true]);`

[2019-09-03 15:33] sebastiandedeyne opened #29845 "VerifyCsrfToken doesn't play well with Responsables"
- Laravel Version: 5.8.34
- PHP Version: 7.3
- Database Driver & Version: MySQL 5.7.X

### Description:

I'm seeing users getting this error:

The `Inertia\Response` class implements the `Responsable` interface.

When `VerifyCsrfToken` tries to add cookies to a `Responsable` object, it triggers an error. The problem is that if the `Responsable` hasn't been transformed to a response yet, the `$head

[2019-09-03 16:07] yvestan opened #29847 "Mail with attachment CSV = bad content-type"
- Laravel Version: 5.8.31
- PHP Version: 7.2.21
- Database Driver & Version: PostgreSQL

### Description:

Hello,

I send specific email : plain text, **with body totally empty** and CSV file on attachment

[code]

No problem with Laravel 5.5 but i've just upgraded to Laravel 5.8 and there's a little bug :

**The content-type should by "multipart/mixed" but it is now "plain/text"**

Laravel 5.5 =>

[2019-09-03 16:57] andersonef commented on #8740
Sure!

Here it is:

[code]

[2019-09-03 18:21] driesvints commented on #29847
This has been the same for 3 years and no one has reported anything like this until now. Are you sure this is related to the framework?

[2019-09-03 18:25] driesvints commented on #29845
Hmm, I think you're right and that this is indeed a bug. Can you send in a PR?

[2019-09-03 18:26] driesvints commented on #29845
Send it to the 6.x branch.

[2019-09-03 22:33] Sladewill commented on #29847
Could have sworn I've seen this before when raw mail is used instead of Html due a change in 5.6.

[2019-09-04 03:06] jimgwhit opened #29857 "[6.0] Wrong API version referenced with links in facades"
I wanted to do a pull request, but I do not know where Taylor gets the version variable for the docs.
[code]
In the 6.0 docs Facade chapter there are links to the API under:

### Facade Class Reference

It is giving links like:
[code]

### But the actual links are:
[code]

### 6.x not 6.0 for the API.

Again I couldn't  do a PR on this, I have no idea where the version variable comes from.
And the

[2019-09-04 06:20] mdzhokanov commented on #29824
@staudenmeir , thanks for your answer, but you are wrong! Auto-incrementing is not a prerogative for integers only. There are many databases that support custom auto-incrementing logic for strings. Actually, the code that we are discussing already supports this - please note how you pass a $sequence to the PDO:
`$query->getConnection()->getPdo()->lastInsertId($sequence);`
In this case the database

[2019-09-04 08:33] narwy commented on #29857
`6.x` relates to the 6.x branch. So this is correct for the docs.

The current release version is 6.0.0.

[2019-09-04 09:31] yvestan commented on #29847
@driesvints  I found the difference between 5.8 and 5.5

https://github.com/laravel/framework/blob/5.8/src/Illuminate/Mail/Mailer.php#L242

https://github.com/laravel/framework/blob/5.5/src/Illuminate/Mail/Mailer.php#L220

On 5.5, call_user_func is after addContent

[code]

On 5.8 call_user_func is before addContent

[code]

On 5.8, if I move call_user_func like 5.5, that's work fine...

[2019-09-04 10:23] brunogaspar commented on #29847
Related pull request https://github.com/laravel/framework/pull/22995

[2019-09-04 10:38] driesvints commented on #29857
Heya, thanks for spotting this. We're aware. We're going to move the docs to 6.x links soon (while keeping redirects to 6.0) soon so better reflect the versioning scheme.

[2019-09-04 10:38] #29857 closed

[2019-09-04 11:06] acacha commented on #29724
@driesvints is this issue really solved? I use last version of horizon an still the same problem. The commit related to solve this probles is https://github.com/laravel/horizon/commit/3b533104caa299761ce6a1c41438bdab1e2e246f ?

[2019-09-04 11:48] matthewnessworthy opened #29858 "[5.8.35] DelegatesToResource error"
- Laravel Version: 5.8.35
- PHP Version: 7.2.22
- Database Driver & Version: MySQL 5.7.27

### Description:

The change in https://github.com/laravel/framework/commit/dbb3b8c7f503f872d63b0fd8aecfcc60b1a19ca8#diff-051f4207f04389c85d22b75ab28c71a6R53 as part of https://github.com/laravel/framework/pull/29842 now causes an error
`Cannot use object of type Horizon\\Results\\ListingResult as array`

[2019-09-04 12:11] MaksTech opened #29859 "Blade bug with @lang directive"
- Laravel Version: 6.0.0
- PHP Version: 7.2.19

### Description:
On Laravel 6, using `@lang` directive will throw ViewException. (`Method Illuminate\Translation\Translator::getFromJson does not exist`).
Because `@lang` directive renders as `app('translator')->getFromJson('...')` which was [removed](https://laravel.com/docs/6.0/upgrade#get-from-json) in this update.

### Steps To Reproduce:
Simply

[2019-09-04 12:55] #27541 closed

[2019-09-04 13:45] mnabialek commented on #29859
Try tun run `php artisan view:clear` - it should solve the problem.

[2019-09-04 14:00] #29859 closed

[2019-09-04 15:25] didotsonev commented on #28268
Have you found any solution for this issue?

[2019-09-04 15:33] Lukmauu commented on #28268
I did not, but I think was something on my settings because after installing homestead all was back to normal.

so I really don't know

[2019-09-04 17:25] tontonsb commented on #27851
Yesterday I noticed that there is `migrate:fresh -seed` that drops the tables instead of trying to roll back migrations. Oh, cool. So no more problems with changing table names etc. and otherwise migrations becoming unable to be rolled back.

Today I noticed it has wiped all the database, not only the project. Unexpected. Won't use again.

[2019-09-04 21:38] CyberClaw91 commented on #26684
`assertExactJson([]);` check JSON is empty

[2019-09-04 22:09] marvinrabe opened #29862 "[6.0] PHPUnit can only be run from project root"
- Laravel Version: 6.0.0
- PHP Version: 7.3.2
- Database Driver & Version: Not important.

### Description:

Since Laravel 6 I cannot run any test with the PHPStorm PHPUnit test runner. The process dies with the following error message

[code]

The folder `bootstrap/cache` is writable.

When I run phpunit from the Terminal everything works as expected.

### Steps To Reproduce:

1. Install PHPStorm

[2019-09-04 22:11] marvinrabe commented on #29862
Writing this Issue I noticed that I have to specify the working directory in the Testrunner options of PHPStorm. In prior versions this was optional and in most cases not needed.

To fix the above error configure it like this:

<img width="1044" alt="Bildschirmfoto 2019-09-05 um 00 07 58" src="https://user-images.githubusercontent.com/515860/64295538-a6e83280-cf71-11e9-8be3-9c2d0356b9ef.png">

Cha

[2019-09-04 22:15] marvinrabe commented on #29862
Should this be added to the Migration guide?

[2019-09-05 03:09] muhtarudinsiregar commented on #28958
maybe you can check here, already fixed in https://github.com/laravel/framework/pull/29698

[2019-09-05 03:47] staudenmeir commented on #29824
That's not true. With the `is_numeric()` check, Laravel supports string keys like auto-generated UUIDs.

[2019-09-05 05:03] sudkumar commented on #28958
@muhtarudinsiregar Thank you for the reference.

I was sure of the bug as it was clear from the code itself and now it is fixed. 🍻

[2019-09-05 07:19] mdzhokanov commented on #29824
I stand corrected - " the QueryProcessor is attempting to cast every STRING that contains only digits, no matter how long this string is (I could easily overflow 64-bit PHP as well)".

[2019-09-05 07:56] LKaemmerling opened #29864 "[6.0] Redis Breaking Change not documented"
- Laravel Version: 6.0.0
- PHP Version: 7.3.9
- Database Driver & Version:

### Description:
With https://github.com/laravel/framework/commit/39699b8b782a4d6779c57b78d48d8b10dbe49fef there was introduced a breaking change. This creaking change is not documented anywhere within the upgrade guide.

### Steps To Reproduce:
I have prepared a repository containing the code to reproduce this behavior.

[2019-09-05 09:17] mfn commented on #29862
FTR it works for me (Laravel 6, PhpStorm 2019.2, phpunit 8.3.4) and I **don't** have an explicit "Custom working directory":
![image](https://user-images.githubusercontent.com/87493/64328881-8ac6ae80-cfce-11e9-8c47-293fd2379485.png)

![image](https://user-images.githubusercontent.com/87493/64328972-b6499900-cfce-11e9-8815-914ae82033a6.png)

But maybe because of the explicit path to the phpunit XML

[2019-09-05 09:28] KKSzymanowski opened #29865 "Unnecessary ORDER BY when getting relationship count"
- Laravel Version: 5.8.7, 6.0.0
- PHP Version: 7.1.13, 7.3.9
- Database Driver & Version: MySQL 5.5.5-10.3.8-MariaDB

### Description:
If a model has default sorting order, for example:
[code]
the regular count query is generated correctly:
[code]
produces
[code]

However when getting users with their product count:
[code]
Laravel sends the following query:
[code]

The `order by` clause in the las

[2019-09-05 09:55] driesvints commented on #29724
@acacha yeah. I can run Horizon with that change.

[2019-09-05 10:35] driesvints commented on #29858
We've identified that this error is triggered when a resource doesn't extends JsonResource object (that implements `ArrayAccess`).

@matthewnessworthy I can't find this class in Horizon. Is this a class you created in your own app?

[2019-09-05 10:38] matthewnessworthy commented on #29858
This is unrelated to Laravel's Horizon project.

I've since modified the resource to implement `ArrayAccess`

For me, the issue no longer exists

[2019-09-05 10:42] driesvints commented on #29858
Perfect. Thanks!

[2019-09-05 10:42] #29858 closed

[2019-09-05 10:46] driesvints commented on #29847
Hmm this is a tricky one. What would the implications be of reverting that PR?

[2019-09-05 10:59] driesvints commented on #29862
I think this is related to https://github.com/laravel/laravel/pull/5050 but not sure what would exactly cause it. @timacdonald any ideas?

[2019-09-05 11:03] driesvints commented on #29865
So what you're saying is that for count methods any global scope shouldn't be applied? Because from your code I actually expect this to happen. I'm not sure it's wanted to ignore global scopes for the count method.

[2019-09-05 11:09] jamesk322 opened #29867 "Timezone validation does not check timezone_identifiers_list()"
- Laravel Version: LATEST

### Description:
The documentation states that the validation rule validates against `timezone_identifiers_list()` however the actual check uses `DateTimeZone()` which accepts a number of other identifiers not included in `timezone_identifiers_list` like "GB"

[2019-09-05 11:09] nhedger commented on #29862
Could this be related to the fact that in `Illuminate\Foundation\Application.php` the paths are resolved from `$this->bootstrapPath()` (which returns an absolute path) when executed normally but seem to be taken _as is_ from the `APP_CONFIG_CACHE` variable and others when running tests ?

[code]

[2019-09-05 11:11] driesvints commented on #29864
What's your `REDIS_CLIENT` setting?

[2019-09-05 11:15] driesvints commented on #29867
"GB" isn't a valid timezone from that list: https://3v4l.org/FlTli

[2019-09-05 11:15] KKSzymanowski commented on #29865
No, global scopes should be applied globally, event for count methods, but ordering doesn't make sense when getting just the row count.

When fetching just the relationship count by using the scopes are applied correctly.
Let's say I have the following global scope:
[code]
The `User::first()->products()->count()` call produces the following query:
[code]
with the value 15 bound to the `?` paramete

[2019-09-05 11:16] LKaemmerling commented on #29864
The `REDIS_CLIENT` setting is the default one from : https://github.com/LKaemmerling/laravel-6-redis-bc/blob/master/config/database.php#L122

The steps from above are the steps which are nessacarry to trigger the problem. I didn't change anything else.

[2019-09-05 11:17] driesvints commented on #29865
@KKSzymanowski I know what you're saying but that's exactly the point I'm trying to make. You're explicitly setting a global scope of latest and thus applying the order by to every query. Imo Eloquent shouldn't magically remove that (even for count queries).

[2019-09-05 11:19] KKSzymanowski commented on #29865
Then why is the `ORDER BY` removed from the query when doing `User::first()->products()->count()`?

[2019-09-05 11:20] driesvints commented on #29864
I think in this case the problem is that php-redis isn't installed on your server. There isn't a breaking change. You're setting the driver to phpredis which uses the C extension `ext-redis` so the driver won't work without the extension (hence it can't find the `Redis` class from PHP).

It's indeed a problem that Forge doesn't installs this. I'll check in on this with @themsaid.

[2019-09-05 11:22] LKaemmerling commented on #29864
The problem is that this change is not documented in the Upgrade Guide, there should be a notice about this change...

[2019-09-05 11:22] driesvints commented on #29865
Hmm, that I don't know. I can't seem to find where that happens.

[2019-09-05 11:23] driesvints commented on #29864
@LKaemmerling but this isn't an issue with Laravel. The fact that the default was changed doesn't matter. The problem here is that you need the `ext-redis` extension in order to make the phpredis driver to work.

[2019-09-05 11:24] driesvints commented on #29864
That's also documented in the introduction here: https://laravel.com/docs/6.0/redis#introduction

[2019-09-05 11:25] driesvints commented on #29864
We're looking into updating Forge for this to install ext-redis by default btw.

[2019-09-05 11:54] jamesk322 commented on #29867
@driesvints Yes that's my point

[2019-09-05 11:57] driesvints commented on #29867
Ah I see. Atm we don't support this. Feel free to open an issue at the ideas repo or send in a PR if you believe this could be a good enhancement.

[2019-09-05 11:58] danijelk commented on #29862
Just a notice, that the new tests/bootstrap.php file crashes brianium/paratest package which runs tests in parallel.

[2019-09-05 12:00] jamesk322 commented on #29867
@driesvints I think we're on different pages. The issue is that the framework does currently allow "GB" when it shouldn't because it is not in the array of allowed timezones that you shared

[2019-09-05 12:02] jamesk322 commented on #29867
I think the actual solution is to check if the supplied timezone is in the array returned from `timezone_identifiers_list()` instead of catching an exception thrown from `DateTimeZone` as the valid timezones are different in each

[2019-09-05 12:02] jamesk322 commented on #29867
I'm happy to submit a PR for this :)

[2019-09-05 12:09] KKSzymanowski commented on #29865
[Illuminate\Database\Query\Builder::setAggregate](https://github.com/laravel/framework/blob/6.x/src/Illuminate/Database/Query/Builder.php#L2549)

[2019-09-05 12:11] driesvints commented on #29867
I see! Thanks for explaining that. That indeed doesn't seems wanted. Maybe instead of changing the behavior we should update the docs?

[2019-09-05 12:12] AlbertoSinigaglia opened #29868 "Attach not refreshing the attached records"
Hi, i'm using Tinker to test my models, and whenever i attach something to a model, i need to exit tinker and then reopen it in order to find that record.
Example
tables: user -> user_order <- order
[code]
Is this the supposed behavour? if yes, which method should i use to have always the right current associated records?
I'm using laravel 5.7.28

[2019-09-05 12:12] jamesk322 commented on #29867
I considered that, I think the best option though is to update the code as the timezones which are different between the two are the ones that are listed here https://www.php.net/manual/en/timezones.others.php

In that documentation PHP has issued a depreciation warning

[2019-09-05 12:16] driesvints commented on #29867
Hmm, that's a very good remark. Although I think that doing this on the current stable release might be unwanted. I'll run this over with the rest of the team and get back to you.

[2019-09-05 12:20] driesvints commented on #29868
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-09-05 12:20] #29868 closed

[2019-09-05 12:22] jamesk322 commented on #29867
👍

[2019-09-05 12:44] KKSzymanowski commented on #29865
One way to approach this would be to change `Illuminate\Database\Eloquent\Relations\Relation::getRelationExistenceQuery()` to include the call to `Illuminate\Database\Query\Builder::setAggregate()`.

This is tricky however because when `setAggregate` is called on the `Eloquent\Builder` the deletion of `orders` and `bindings['order']` doesn't affect the final query because the global scope is added

[2019-09-05 12:58] sahandseifi opened #29870 "Gate only checks the first object of given array"
- Laravel Version: 5.5.45
- PHP Version: 7.2.0

When an array of objects are passed to Gate::allows or to the authorize method of AuthorizesRequests, the policy method on the policy class is invoked with only the first object of the array.

In the example below, the "edit" method is called only once and the $objects parameter would be the first object of the $entities array.

[code]

[code]

So if

[2019-09-05 13:02] KKSzymanowski commented on #29865
A workaround for now would be to check if `addGlobalScope()` has been called by the `withCount()` method:
[code]
The performance impact from the `debug_backtrace()` call and iterating over its result doesn't seem to be very high.

[2019-09-05 13:42] gianngnk commented on #23072
- Laravel 5.8.33
- PHPUnit 7.5.15
- PHP 7.1.31

Hello guys,

I don't know if someone found a solution . I have faced the same problem and i have not found any solution yet. However, after a long time investigation i can confirm that the problem is with the HTML <body> element inside a blade.  If you remove the <body> element from the blade you are testing (that's why @joseraul when you removed @in

[2019-09-05 14:23] kreitje commented on #29864
Thanks Dries!

This one definitely caught me too.  I will look at a PR for the miscellaneous section of the upgrade guide calling it out.  That is where it references if you want to keep your files in sync with laravel/laravel which is where this is coming from.

[2019-09-05 14:42] staudenmeir commented on #29865
I agree that this should be fixed.

#19022 fixed the issue for "normal" aggregate queries.

[2019-09-05 15:09] driesvints commented on #29864
There's nothing about this in the upgrade guide because no breaking was made. The default was changed in the skeleton so only new apps should have the new default (and thus need to install `ext-redis`).

[2019-09-05 16:04] fitztrev commented on #29864
It was changed in the framework, too.

https://github.com/laravel/framework/pull/29745/files#r317621260

If someone doesn't have a `redis.client` key/value pair in their config, I think it would be breaking because this would now fallback to phpredis.

[2019-09-05 18:04] bakerkretzmar opened #29874 "[6.x] Usage of register and registered methods in RegisterController"
- Laravel Version: 6.0
- PHP Version: 7.2

### Description:

[The changes](https://github.com/laravel/framework/compare/5.8...master#diff-b8bc14b26b488ea6052eaf7c4a564f91) to the `register` and `registered` methods of the `Illuminate\Foundation\Auth\RegistersUsers` trait make it impossible to override these methods directly as described in the docs and upgrade guide.

From the upgrade guide for 6.

[2019-09-05 18:09] bakerkretzmar commented on #29874
I think the `registered` method is really useful, to be able to hook into registration and call stuff in my own controllers. I'd suggest we just move `event(new Registered($user))` and `$this->guard()->login($user)` back into the `register` method, unless there's a reason not to keep them there. I'll start a PR.

[2019-09-05 18:18] sebdesign commented on #29864
I experienced the same issue with an *existing* application:

I'm using the `predis/predis` package, and not the PHP extension, since that was easier to set up.
In Laravel 5.x there was no need to set the `REDIS_CLIENT` because the default value of the `database.redis.client` was `predis`, which worked as expected with the `predis/predis` package.
Using the Github comparison tool I changed (withou

[2019-09-05 18:19] #29768 closed

[2019-09-05 18:20] driesvints commented on #29862
FYI: can you all try to revert the changes from here to see if that fixes your problems? https://github.com/laravel/laravel/pull/5050

[2019-09-05 18:34] bastien-phi commented on #29862
I did a PR on https://github.com/laravel/laravel/pull/5071 to fix the issue but it has been closed

Another solution is to update phpunit.xml file with absolute paths

[2019-09-05 18:42] Arkanius commented on #29864
I just can't understand how this is a breaking change. Looke, in your previous laravel versions the default value of `client` at `config/database.php` is `predis`.

At newst versions the default value changed to `phpredis` with `REDIS_CLIENT` env, but your apps should work normally

[2019-09-05 18:46] panzi opened #29876 "HasInDatabase::getAdditionalInfo() crashes on huge tables"
- Laravel Version: 5.7.28
- PHP Version: 7.3
- Database Driver & Version: MariaDB 10.3

### Description:
`Illuminate\Foundation\Testing\Constraints\HasInDatabase::getAdditionalInfo()` does:
[code]
Instead of just:
[code]
Which crashes on certain huge tables because it tries to load all the rows into memory even though it only needs the count.

**Note:** What makes it worse is that in this case PHP

[2019-09-05 19:14] #29874 closed

[2019-09-05 19:19] fitztrev commented on #29864
@Arkanius The `database.redis.client` config value was added in 5.4 and has technically been optional. Before 6.0, if not found, it would fallback to `predis`. But in 6.0, the [fallback was changed](https://github.com/laravel/framework/pull/29745/files#r317621260) to `phpredis`.

[2019-09-05 19:19] nhedger commented on #29862
@driesvints I tried reverting and it did solve the problem. Using absolute paths in phpunit.xml also solves the problem but does not feel intuitive because all other paths in this file are relative to the root of the project.

I believe my solution (posted above) is the way to go because it forces the resolution of these paths to be done relative to the root of the project. This way, the new funct

[2019-09-05 19:19] driesvints commented on #29864
But that only happens if you update your config manually.

But you're saying it here: you changed the default. If you change a default value then things can't keep working as expected now can they? 😅

At this point I'm inclined to add a note about the upgrade guide about the change but there really isn't any breaking change. Feel free to send in a PR to the docs.

[2019-09-05 19:20] driesvints commented on #29864
@fitztrev that might indeed be a more noteworthy thing to add to the upgrade guide. Feel free to send in a PR. Otherwise I'll try to do so tomorrow.

[2019-09-05 19:24] devfrey commented on #29862
Specifying an explicit configuration file path solved it for me (as mentioned by @mfn).

[2019-09-05 19:41] fitztrev commented on #29864
@driesvints 👍 See laravel/docs#5448. Edits welcome.

[2019-09-05 20:30] joshua-se opened #29881 "Redis hmget should not remove keys"
* Laravel Version: 5.*
## Description:
Redis hashmap multi retrieval preserves the keys/fields for the values in it and laravel for some unknown reason removes them with array_values. Shouldnt the connectors try to return as much data as possible and allow users to decide

https://github.com/laravel/framework/blob/5.8/src/Illuminate/Redis/Connections/PhpRedisConnection.php#L111

[2019-09-05 21:07] JakeBooher opened #29883 "Defining $with on an Eloquent model will eager load separately for each item"
- Laravel Version: 5.8.34
- PHP Version: 7.3.8
- Database Driver & Version: MariaDB 10.4

### Description:

When defining `protected $with = ['users'];` (which is a `belongsToMany` relationship), for example, on my `Object` (just an example, not the actual name) when doing something along the lines of `Object::where('some_conditional', 'value')->limit(10)->get()` it will load the correct values fr

[2019-09-05 21:26] staudenmeir commented on #29883
What's your Laravel version?

[2019-09-05 22:01] staudenmeir commented on #29876
`getAdditionalInfo()` fetches more than the count because it displays the first x records in the error message. We can improve the method by not fetching *all* records, but we still need to fetch *some* of them.

[2019-09-05 22:05] panzi commented on #29876
Sure! Just fetching all of them crashes for huge tables without message or trace and is a hassle to debug.