[2016-09-08 19:39] themsaid commented on #15351
How does your route definition look like? Also How does the method in the controller look like?

[2016-09-08 20:16] omer414 commented on #15314
@srmklive  i mostly use middlewares and no guards. i have not modified AuthServiceProvider or any other guard. let me show you my code.

here is the route that domain1 points to
**http://domain2.com/{{$role}}/{{$route}}/singlesignon/{{$token}}**

This is then picked up by verifySingleSignOn method inside the loginController which takes in the role, route that the user came in from other domain and

[2016-09-08 20:32] #15349 closed

[2016-09-08 20:40] mreschke commented on #15072
I have a global middleware that analyzed the URL for my CMS...and Auth::user() is null there too :( since l 5.2.  I register in my service provider boot() `$kernel->pushMiddleware('Mrcore\Wiki\Http\Middleware\AnalyzeRoute');`

[2016-09-08 21:07] #15072 closed

[2016-09-08 21:07] GrahamCampbell commented on #15072
Closing since this has been discussed and addressed. Feel free to ask questions on the fourms.

[2016-09-08 21:15] mreschke opened #15352 "pushMiddleware changed order"
How can I add middleware to the end of the full stack from a service provider in Laravel 5.3?

In Laravel 5.1 all of my "packages" pushed their own middleware in their service providers `boot()` method like so `$kernel->pushMiddleware('Mrcore\Wiki\Http\Middleware\AnalyzeRoute');`

This would push middleware to the END of the FULL stack, including the stack listed in the main `app/Http/Kernel.php`.

[2016-09-08 21:27] mreschke commented on #15072
I know this issues is closed and everyone has provided many ways in which you can get around using `Auth` inside your controllers `__construct()`.  For me, 30+ apps with hundreds of controllers and `Auth` issues which will take MONTHS to work around in some way.

I know this is a hack, but you can actually fire up the Session middleware early in your own service provider, which allows you to acces

[2016-09-08 21:33] stefanmahr opened #15353 "Redirect to /login with wrong api_token an "API" Guard"
- Laravel Version: 4.3
- PHP Version: 7.0.9

### Description:

Hallo!

I have a problem with the api guard. In Laravel 5.2 I could use this to get a json response if the login doesn't work. Now I would be redirect to "/login" by postman if a try it.

`if ($request->ajax() || $request->wantsJson()) {
            return response('Unauthorized.', 401);
        } else {
            return redirect()->

[2016-09-08 21:37] malhal commented on #10568
A simpler way:

Put this somewhere, perhaps in AuthServiceProvider boot()
[code]

Then in your policy check for guest by doing:

[code]

[2016-09-08 21:49] #15353 closed

[2016-09-08 22:03] caiquecastro commented on #15351
On a fresh installation I did:

routes/api.php

Route::get('/users', function(Request $request) {
    return \App\User::all();
});

Route::get('/users/{user}', function(\App\User $user) {
    return $user;
});

[2016-09-08 22:07] caiquecastro commented on #15351
On the ExampleTest I did:

$this->visit('/api/users/9')->assertResponseStatus(404);

and

$this->visit('/api/users/9')->seeStatusCode(404);

[2016-09-08 22:21] shadoWalker89 opened #15356 "[5.3] Policy method names transformation"
Hi

Today i made this pull request https://github.com/laravel/framework/pull/15339

It transforms a permission or ability containing a dot (example: "article.edit") to a camel case method name on a Policy class.

It got closed and the answer isn't convincing.
After all the current state will result in an invalid php method name.

And why i'm not allowed to name my abilities or permissions with a d

[2016-09-08 22:43] stefanmahr opened #15357 "[5.3] Auth:api -- Token only as GET Variable?"
- Laravel Version: 5.3
- PHP Version: 7.0.9

### Description:

Hello!

I have a problem by useing the Auth:Api in Laravel. If I put the token into the URL everythink is working fine. If I put it into the post data, there will be an 401 Unauthorized.

Here are my code:

[code]

[code]

[code]

Maybe I just have a simple error in the js syntax, but I think it is okey.

Can someone help me?

Best gre

[2016-09-08 23:01] Dru1X opened #15358 "[5.3] Unable to use delayed mail sending via Mail facade"
- Laravel Version: 5.3.7
- PHP Version: 7.0.8
- Database Driver & Version: MySQL 5.7.13

### Description:
When using the mail facade as described by the [documentation](https://laravel.com/docs/5.3/mail#queueing-mail), I encounter the following fatal throwable error:

Sending and non-delayed queueing work as expected.

Am I missing something?

### Steps To Reproduce:
Simply call the following from

[2016-09-08 23:56] enkay commented on #15119
@yajra I agree that it's an acceptable workaround, however the fact that you need to leave the dot makes it seems like it's not an intentional feature like someone else commented, which makes me worried that they'll just remove it in a future release because "it's not how you're supposed to do it".

[2016-09-09 00:02] jaschweder commented on #15286
@GrahamCampbell @alexbowers yes deep-copy is what I mean, any chance to have some native stuff in Laravel for this ? or is more application like feature ?

[2016-09-09 01:14] pelletiermaxime commented on #10514
The one liner fix a few comments above worked fine for me, but my test suite is really small, so not sure if there's any chance it breaks something. I will look at making a PR in the next few days if nobody else did.

[2016-09-09 02:28] morloderex commented on #15357
Helle as a general rule of thum not try to access a variable through the Super globals arrays use the request class for this.

Now: as for your issue itself its not possible as a post parameter, however it is possible through the authorization header if you prefix it with bearer.

[2016-09-09 02:32] JeramyNS commented on #15335
Resolved after hours of debugging :cry:
In my composer.json I had autoload: { "classmap": [ 'vendor'] }
Don't know why the issue didn't occur pre-laravel 5.3 but removing it fixed the problem

[2016-09-09 02:51] Kunimaru commented on #15358
later method isn't defined in Illuminate\Mail\MailableMailer
https://laravel.com/api/5.3/Illuminate/Mail/MailableMailer.html

this method is defined in Illuminate\Mail\Mailer
https://laravel.com/api/5.3/Illuminate/Mail/Mailer.html

[2016-09-09 05:16] srmklive commented on #15357
If you send the token through the authorization header by prefixing it as a bearer, it will work fine.

[2016-09-09 05:30] srmklive commented on #15314
@omer414 The issue is with your middleware. Your middleware should simply check if the token being passed is valid or not. If its invalid, it should simply generate an error. You should create a custom auth guard. Refer to laravel documentation [here](https://laravel.com/docs/5.3/authentication#adding-custom-guards).

[2016-09-09 05:46] stefanmahr commented on #15357
Thanks! Normaly I use the request class for it, but in this time I was just a demo.

Thanks! Everything is working fine now!

[2016-09-09 06:04] allmyitjason commented on #15179
Seem to be encountering the same issue on 5.2 on PHP 7

The queues work for a day, then failed and sit in reserved. Seems It's also trying to log into the failed jobs table but that is also failing.

[code]

[https://github.com/laravel/framework/blob/v5.2.40/src/Illuminate/Database/Connection.php#L453](url)

pdo here returns null

[2016-09-09 07:00] tomgrohl opened #15359 "[5.3] Deferring write connection doesn't work"
- Laravel Version: 5.3.11
- PHP Version: 7.0.10
- Database Driver & Version: MariaDB 5.5.44
### Description:
### Steps To Reproduce:

1)  Setup mysql config as a read/write, you'll notice the write connection is wrong. This is deliberate:

[code]

2) Do a find query against a model, .e.g:

[code]

An exception is thrown because it can't connect to the write database. But as I'm not doing a query a

[2016-09-09 08:56] #15314 closed

[2016-09-09 09:08] OskarD opened #15361 "[5.2] Pagination links do not use forced root url"
- Laravel Version: 5.2.45
- PHP Version: 5.6.24
- Database Driver & Version: mysql  Ver 14.14 Distrib 5.5.51, for Linux (x86_64) using readline 5.1

### Description:
After forcing HTTPS and base URL of the application:
[code]
, all observable links are adjusted except for the links produced by `$LengthAwarePaginator->links()`

### Steps To Reproduce:

1. Force HTTPS and base URL of the application

[2016-09-09 11:08] #15351 closed

[2016-09-09 11:08] GrahamCampbell commented on #15351
Looks like you turned off the middlewares so the route model binding didn't run. Laravel instead injected a new user instance to your controller.

[2016-09-09 11:10] #15357 closed

[2016-09-09 11:11] #15348 closed

[2016-09-09 11:11] GrahamCampbell commented on #15348
I don't think there's a bug here.

[2016-09-09 11:23] Dru1X commented on #15358
I understand that later() is defined in Illuminate\Mail\Mailer, but when calling `Mail::to($recipient)`, an instance of Illuminate\Mail\MailableMailer is returned which clearly lacks said later() method.

This way of using it is exactly as shown in the documentation:

[code]

[2016-09-09 11:42] themsaid commented on #15358
The docs seem to be out of date for this part, to send a queued mail you need to do the follwing:

[code]

[2016-09-09 11:44] themsaid commented on #15358
I think we should add it back though :)

[2016-09-09 11:50] Dru1X commented on #15358
@themsaid Thanks for clarifying. That would also explain why sendNow() isn't documented yet.

I agree with you that later() should be added back in. Given that the goal of this tool was simplicity and clarity, removing it seems like a bit of a step backwards.

[2016-09-09 11:50] #15358 closed

[2016-09-09 11:51] themsaid commented on #15358
Will check if Taylor is ok with bringing it back, since you can do this:

[code]

Which is not that bad as well.

[2016-09-09 11:59] bs-thomas commented on #15348
Hello Graham, thanks for the quick response.  Actually I did spend some time looking at this library and symfonys.

Symfony actually handles this correctly without problems because it doesn't have the createFromBase() method when initializing.  That is where the problem is occurring actually, because it makes a "clone" in that function, which the "request()" part gets overwritten by a call to getI

[2016-09-09 12:04] kevindierkx opened #15365 "authenticate() method missing from guard contract."
- Laravel Version: 5.3.6

### Description:
The Authenticate middleware checks if the user is authenticated in any of the given guards. It does so by calling `authenticate()` on the `AuthManager`. The `authenticate()` method doesn't exist on this class and will pass it through to the default Guard configured in the `auth.php` config.

When creating new Guards the first place to look are the `Guard`

[2016-09-09 12:57] metekabak opened #15366 "[5.3] Join 'in' parameter does not recognized."
[code]
dd output

[code]

It's filling '=' when i use 'in' on join

[2016-09-09 13:05] thomassjogren commented on #13364
Just ran into this problem myself testing generation of a file. I thought it would adhere to the configuration of the used disk but as you say, the prefix is hardcoded as you say.

[2016-09-09 13:14] j3j5 commented on #13364
ATM I am using the much less convenient `config('filesystems.disks.local.root') . DIRECTORY_SEPARATOR . $filename`.

[2016-09-09 13:57] larsbo opened #15370 "[5.3] [Queue] queue:listen default value maxTries=0 let every job fail with a MaxAttemptsExceededException"
- Laravel Version: 5.3.7
- PHP Version: 7.0.4
- Database Driver & Version: MySQL 5.5.39

### Description:

When I run `queue:listen` it spawns new child processes like this by default:
`artisan queue:work  --once --queue=default --delay=0 --memory=128 --sleep=3 --tries=3 --env=production`

This causes a `MaxAttemptsExceededException` for every single job and make it fail instantly without a single

[2016-09-09 14:02] fernandobandeira commented on #15356
IMHO the dot notation isn't the best one to use when naming your permissions or abilities, simply because it specifies an hierarchy so you would have ```root.child.leaf``` for example, ```class.method```.

And in your test you used it like ```update.dot``` that would turn into ```updateDot``` this is confusing because it's inconsistent with how other things work on the framework, so explicitly nam

[2016-09-09 14:02] acasar commented on #15366
@metekabak you should use ``$join->whereIn(...)``.

[2016-09-09 14:05] metekabak commented on #15366
okey, but this was working on laravel 5.0, is this option removed? I just upgraded nearly

[2016-09-09 14:08] lorvent commented on #15058
Definitely a breaking change (many breaking ones like this makes 5.3 eligible for 6.0)
but moving forward, if this is the only way....we have no choice than adopt to it.

[2016-09-09 14:23] fernandobandeira commented on #15058
This changed because before when using ``` as ``` and ``` prefix ``` in the same route would append both of them to your route name, so the ``` prefix ``` appending dropped in place of the ``` as ```.

[2016-09-09 14:24] acasar commented on #15366
@metekabak This use case was actually never documented as far as I know and it only worked because the operator was never checked before 5.3. Maybe we should add this to the upgrade guide.

``whereIn`` was added in 5.1 and became a recommended approach. In 5.3 the join clause was further enhanced so that you can now use all where clauses offered by the query builder.

[2016-09-09 14:25] lorvent commented on #15058
but adding .(dot) i.e. `'as' => 'admin.'` looks weired

and i guess people were using only `prefix` before as it will do both things.

[2016-09-09 14:30] fernandobandeira commented on #15058
People were using both actually, there's a lot of issues related to this previous behavior, you can check some of them:

#12216 , #13903

So in the end prefix will affect the generation of your url meanwhile as will affect the name.

[2016-09-09 14:33] fernandobandeira commented on #14833
This should be fixed in 5.3 since prefix isn't appending to the route name anymore.

[2016-09-09 14:33] fernandobandeira commented on #14547
This should be fixed in 5.3 since prefix isn't appending to the route name anymore.

[2016-09-09 16:25] #15366 closed

[2016-09-09 16:25] #15356 closed

[2016-09-09 16:25] #15370 closed

[2016-09-09 16:25] GrahamCampbell commented on #15370
That looks correct.

[2016-09-09 16:26] GrahamCampbell commented on #15370
Max trys 0 means never process any jobs. 1 means only try once.

[2016-09-09 16:47] larsbo commented on #15370
Well, the code suggests something else for maxTries = 0:
https://github.com/laravel/framework/blob/5.3/src/Illuminate/Queue/Worker.php#L269
As same as the docs: "If you do not specify a value for the --tries option, jobs will be attempted indefinitely."

[2016-09-09 18:15] nodefortytwo opened #15376 "Pusher Fails Silently"
- Laravel Version: 5.3
- PHP Version: 7.1
- Database Driver & Version:

### Description:
The pusher driver fails silently if there are any errors (in my case the "eu" cluster must be specified)

Laravel should check the result of the pusher trigger method and at least log the failure if not throw an exception.

Happy to submit a PR if everyone agrees.

### Steps To Reproduce:
cause pusher to fail,

[2016-09-09 18:45] Dayglor opened #15377 "Login always fails because the password field has different name standard"
- Laravel Version: 5.2.45
- PHP Version: 5.6
- Database Driver & Version:

### Description:
Hi,

I finished update from laravel 5.1 to 5.2 and resolved some problems...

Now i try make login, but the Auth verify the password of the 'password' field but in my db the password has another name that is 'senha'.

illuminate/Auth/EloquentUserProvider.php
[code]
how you see, the function tried find the s

[2016-09-09 19:03] Dayglor commented on #15377
The best way is....

The best way is ...

`\ Auth :: attempt ( [ 'email' => ' campos@b.com.br ' , 'password' => ' 1234567890 '] ) ;`

And in their model authentication :
[code]

[2016-09-09 20:00] themsaid commented on #15377
Yeah that's pretty much the best way to do it :)

Closing since it's not actually a bug report.

[2016-09-09 20:00] #15377 closed

[2016-09-09 20:11] themsaid commented on #15365
Well, you need to implement the GuardHelpers interface then :)

If you have time please consider making a docs PR for that. Thanks for sharing :)

[2016-09-09 20:11] #15365 closed

[2016-09-09 20:49] themsaid commented on #14358
`URL::to('/')` will return the URL with a forced schema if used.

Closing since it's not really a bug report, please feel free to open a PR if you have a suggested change.

[2016-09-09 20:49] #14358 closed

[2016-09-09 20:56] SirLamer commented on #14547
Thanks, I don't have a working copy of 5.3 available to check but it sounds like it's fixed.

[2016-09-09 20:56] #14547 closed

[2016-09-09 21:03] lukasoppermann opened #15378 "[Feature] User Registration event"
Hey,

I did not find this in the framework files, nor in the docs. I think it could be very useful to add an event when a new user registers. This could for example be used to send a welcome email.

I guess it would simply be `auth.register`.

[2016-09-09 21:13] themsaid commented on #15361
Unfortunately fixing this in a clean way would be considered a breaking change, the this is that the path these URLs use is built very early in the request, before any of your custom code is run, at this point the application won't know about your forced schema rule.

I suggest that you use a custom Presenter and adjust the links accordingly.

If you think there's a clean way to fix this in 5.2 pl

[2016-09-09 21:13] #15361 closed

[2016-09-09 21:20] themsaid commented on #15378
You can add this event in your app easily, not sure if that's something to add to the framework.

Closing this since it's not a bug report, for suggestions and feature requests please use the https://github.com/laravel/internals repo.

[2016-09-09 21:20] #15378 closed

[2016-09-09 21:23] themsaid commented on #15265
Closing since the PR got merged.

[2016-09-09 21:23] #15265 closed

[2016-09-09 21:32] themsaid commented on #14297
It seems like a useful feature, feel free to open a PR to suggest the change or open an issue in the internals repository as it's the place for feature requests.

Closing since it's not a bug report :) But thanks for the suggestion.

[2016-09-09 21:32] #14297 closed

[2016-09-09 21:34] themsaid commented on #13421
Closing since it's not really a bug report. Thanks!

[2016-09-09 21:34] #13421 closed

[2016-09-09 22:06] bs-thomas commented on #15348
Hello Graham,

Everytime laravel loads, `createFromBase()` in Request.php:830 gets called to create an Illuminate instance from a Symfony instance.  In this method, it makes use of the following:

`$request = (new static)->duplicate()` in line 838.

After duplicating, this is still okay, and the parameters are inside the new instance, hidden inside `$request->request`.

But then, in line 847, a ca

[2016-09-09 22:09] bs-thomas commented on #15348
Sorry for the non-stop messages.

Perhaps my issue topic is misleading?  I tried to express the "end problem" and not the reason to the problem in the topic.  Or if there is a better title for this, please do change that.

Thanks!

[2016-09-09 22:13] kevindierkx commented on #15365
@themsaid It's a trait not an interface. :o

For my use case this isn't really a solution, I don't need most of the methods the way they are implemented and would overload them because of that. Also the Auth component checks for the interfaces/contracts and not for this specific 'helpers' trait.

Therefore my problem remains the same, the Auth component expects methods not defined in an interface,

[2016-09-10 01:37] jschutt opened #15383 "[5.3] Database Notification table collides with Spark's notification table"
- Laravel Version: 5.3.8
- PHP Version: 7
- Database Driver & Version: Postgres

I'm attempting to use the new Notifications feature in my Spark app and the database channel conflicts with Spark's notification implementation. I am aware that I can use Spark to post DB notifications, but I can't see a way to segment the notifications into different types. In the standard notifications table I could

[2016-09-10 06:08] lukasoppermann commented on #15378
Okay, I will move it to internals, sorry, did not no about this.

[2016-09-10 10:06] pedrolopes10 commented on #11976
+1

[2016-09-10 10:16] huglester opened #15386 "Queue (Beanstalkd) and Pusher Broardcasting problem in 5.3.7 and 5.3.8"
- Laravel Version: 5.3.8
- PHP Version: 7.0.8
- Database Driver & Version: 5.7

### Description:
When I push notification to the 'broadcast', and I have QUEUE set as 'beantstalkd', I keep getting this error message:
`[2016-09-10 08:32:08] local.ERROR: Pheanstalk\Exception\ServerException: Server reported NOT_FOUND in /home/huglester/Projects/app-vps/vendor/pda/pheanstalk/src/YamlResponseParser.php

[2016-09-10 10:25] themsaid commented on #15383
Hello Jesse :)

Well I prefer using the spark notifications schema instead of laravel's, because spark views/js is already reading from it so you won't have to do a lot of work in displaying the notifications and such, what we can do is make sure the spark notifications are as efficient as laravel's.

For now I can see that the only difference is saving the notification type inside the database ta

[2016-09-10 10:25] #15383 closed

[2016-09-10 11:50] baqirmemon opened #15387 "laravel auth credential attempt check extra field whereIn Array"
- Laravel Version: #.#.#
- PHP Version:
- Database Driver & Version:

### Description:
    $credentials = [
            'email'       => $request->get('email'),
            'password' =>  $request->get('password'),
            'type'         => ['member', 'school'],
            'status'       =>'1',
    ];
    if (Auth::attempt($credentials, $request->has('remember'))) {
           return redirect

[2016-09-10 13:56] CptChaos commented on #14146
Did you cache the config perhaps? :)

[2016-09-10 17:33] themsaid commented on #15387
That's not supported in laravel atm, please feel free to submit a Pull Request.

Closing since this isn't actually a bug report.

[2016-09-10 17:33] #15387 closed

[2016-09-10 19:43] jaesung2061 opened #15389 "Alternate logging/error dumping mechanism until the logger is loaded."
- Laravel Version: 5.2.43
- PHP Version: 7.0.9
- Database Driver & Version: mysql 5.7

### Description:
Addition information: Environment CentOS 6 on Amazon Ec2

If there is an error during the bootstrap phase and the Laravel Log class isn't loaded, it throws the following error.

    PHP Fatal error:  Uncaught ReflectionException: Class log does not exist in /my-project/vendor/laravel/framework/s

[2016-09-10 21:14] timgavin commented on #15044
@themsaid Confirmed; working as expected. Thanks! :)

[2016-09-11 07:16] Modelizer opened #15391 "After Migrating from L5.2 to L5.3 AWS S3 code not working."
- Laravel Version: 5.3.8
- PHP Version: 7.0.2
- league/flysystem-aws-s3-v3: 1.0.13

### Description:
After migrating from Laravel 5.2 to Laravel 5.3 I'm not able to put content in s3 bucket. Code which was working on L5.2 is
[code]

Error which I get is
[code]

But when I look into my `config/filesystems.php` file the config is
[code]
which i have already set in .env file.

Please help me out if I

[2016-09-11 07:46] sisve commented on #15389
I believe this has already been fixed in 5.3.

[2016-09-11 07:48] taliptako opened #15392 "Laravel 5.3 Routes problem after upgrade from 5.2"
- Laravel Version: 5.3.8
- PHP Version:PHP 7.0.8-2+deb.sury.org~xenial+1
- Database Driver & Version:Mysql 5.7.12-0ubuntu1.1

### Description:

### Steps To Reproduce:
[code]

[2016-09-11 07:49] sisve commented on #15179
@vaidas-lungis The workaround is probably to not use `--daemon`

[2016-09-11 07:53] sisve commented on #14407
The code example provided is in https://github.com/RemiCollin/test-sqlite/blob/master/app/Console/Commands/TestCommand.php

@RemiCollin Could you add the output of your command from 5.2 and 5.3 in this issue?

[2016-09-11 08:01] Modelizer commented on #15391
Issue was fixed by changing
[code]
to
[code]

Does anyone have an explanation for it why the same syntax was working in L5.3?

[2016-09-11 08:01] #15391 closed

[2016-09-11 08:48] themsaid commented on #14407
@RemiCollin Are you still facing this issue? if yes then please provide more details about the output you get and the expected output that's different from 5.2

[2016-09-11 08:54] themsaid commented on #15392
This is intended, please check the upgrade guide:
https://laravel.com/docs/5.3/upgrade

Under "Resource Route Names No Longer Affected By Prefixes"

[2016-09-11 08:54] #15392 closed

[2016-09-11 09:00] #15389 closed

[2016-09-11 09:04] #13771 closed

[2016-09-11 09:20] themsaid commented on #13628
Since that was discussed in PRs and rejected several times I think it's better to use this in your application.

[code]

Closing since it's not actually a bug report, but please feel free to continue discussions in the internals repo https://github.com/laravel/internals repo.

[2016-09-11 09:20] #13628 closed

[2016-09-11 09:20] themsaid commented on #13909
@samrap Did you get the chance to open a PR?

[2016-09-11 09:21] #13427 closed

[2016-09-11 11:13] Cratyz opened #15394 "Eloquent Model with specific property names"
- Laravel Version: 5.2.*
- PHP Version: 5.6.15/7.0
- Database Driver & Version: N/A

### Description:
I'm unsure yet if this is to be regarded as a design flaw or a regular restriction: Lets say we want to create a model with the exact properties named `table` and `append`. You will likely get errors when you try to call `$model->append` since it's some reserved keyword.

### Steps To Reproduce:
I

[2016-09-11 11:39] themsaid commented on #15394
Yeah you shouldn't have attributes that has the same names of methods existing in the model class, this is a limitation we can't go around :)

[2016-09-11 11:39] #15394 closed

[2016-09-11 11:59] Cratyz commented on #15394
ok thanks for the response. Im reporting this issue on the LaravelCollective though because I've tested myself that it DOES work when retrieving it with `$model->getValueAttribute('append')`

[2016-09-11 15:07] rny commented on #13457
cant believe it is a two years old bug and never get fixed.

[2016-09-11 15:07] Ifnot commented on #15027
This error occurs for me too, but it is a little different on my case.

I simply created a **Console Command signature with more than 255 chars**.

Theses 255 chars include the options descriptions and the indentation (of 4 spaces), so it makes very difficult to document more than 4/5 options well indented on a single command.

My non working signature example :

[code]

Laravel : **5.3.8**
PHP :

[2016-09-11 15:22] #15027 closed

[2016-09-11 15:22] GrahamCampbell commented on #15027
Looks like we just need to document this limitation, or if anyone wants to send a good PR to fix this, that'd be fine too. :)

[2016-09-11 15:29] Ifnot commented on #15027
I will look for a PR on this, but for now i agree for the doc update limitation.

As 255 chars is a reasonable limit, more can be really useful with big signature indentation / documentation.

[2016-09-11 15:48] GrahamCampbell commented on #15027
For large sigs, you can still use the other ways to define commands though. :)

[2016-09-11 15:53] Ifnot commented on #15027
I was digging the problem and just realized that I was using the old `$name` attribute instead of the `$signature` one for the signature ...

Works well with the `$signature` attribute as it parse sections separately. It means that we are only limited to 255 chars for a command **name** ... That is enough :)

[2016-09-11 21:15] briedis commented on #13364
@j3j5 I'm doing similiary. Feels like a hack..

[code]

[2016-09-12 05:15] muhamad12 opened #15398 "Proposal to add two new rule to validation"
- Laravel Version: 5.3.x
- PHP Version: 7.0.x

### Description:
**1.The "unacceptable" rule**

In some projects, depending on the type of users who use the system. It is necessary to use a feature that is in the form of _polymorphism_, for example, fields such as "activated" or "role" in the user interface is unacceptable, but in the "senior manager" should be accepted.
In the current case for it,

[2016-09-12 05:57] sisve commented on #15370
The linked line of code, and the docs, infer that maxTries=0 should retry indefinitely. The exception you get indicates that the check for ´$maxTries === 0´ failed... so could this be a typing issue where $maxTries is the string "0"?

[2016-09-12 06:00] sisve commented on #15394
I'm thinking that a workaround would be calling `$model->getAttribute('append')` instead of relying on __get() to handle `$model->append`

[2016-09-12 07:33] themsaid commented on #15398
Thank you for the suggestions but please use the https://github.com/laravel/internals repo, it's the place to post suggestions and feature requests :)

[2016-09-12 07:33] #15398 closed

[2016-09-12 08:44] larsbo commented on #15370
I logged the queue worker execution and got the following (stripped) result for the `WorkerOptions` parameters given as console arguments:

[code]
This confirms that every argument except the `timeout`are interpreted as string instead of int.

Can you please review this issue again, @GrahamCampbell ?

[2016-09-12 09:49] singgihmardianto opened #15399 "Declaration of Illuminate\Database\Eloquent\Collection::unique() should be compatible with Illuminate\Support\Collection::unique($key = NULL, $strict = false)"
- Laravel Version: 5.2.45
- PHP Version: 5.6.19
- Database Driver & Version:

### Description:
Getting error when access the Eloquent model.

### Steps To Reproduce:
I was installing a fresh laravel 5.2, I just run a simple code

`Page::all()`

And throwing an error

`Declaration of Illuminate\Database\Eloquent\Collection::unique() should be compatible with Illuminate\Support\Collection::unique($k

[2016-09-12 09:49] JeroenvdV commented on #12376
I'm getting this error when running the following migration:

`        Schema::table('documents', function(Blueprint $table){
            $table->renameColumn('name', 'unique_file_name');
        });`

I changed Doctrine:

`  - Removing doctrine/dbal (v2.5.4)
  - Installing doctrine/dbal (dev-master ec8fc16)
    Cloning ec8fc16604915110eea8046e3ea594c133aee880`

But the error persists.

[2016-09-12 10:53] Cratyz commented on #15394
yes good call i've reported this issue in the module it is being used; it seems to solve the issue indeed

[2016-09-12 11:16] muhamad12 commented on #15398
Thanks for response

[2016-09-12 11:17] dragg commented on #13610
I have same issue

[2016-09-12 13:12] OskarD commented on #15361
@themsaid Thanks for the explanation and useful suggestion :)

[2016-09-12 13:23] themsaid commented on #15399
Looks like something is wrong with your installation, the `$strict` argument was added in 5.3 and it never existed in 5.2

I suggest you try to install a fresh installation from scratch.

[2016-09-12 13:23] #15399 closed

[2016-09-12 13:27] crynobone commented on #15399
It could be an issue with `illuminate/support` or `illuminate/contracts` installed v5.3 globally while your project is on `laravel/framework` v5.2

[2016-09-12 13:27] jp7carlos commented on #15179
@vaidas-lungis Workarounds are ugly
* calling die() when you get a PDOException inside the worker
* manually restarting the worker when you receive too many errors on your monitoring tool
* Not using --daemon, or restarting the worker every X minutes

[2016-09-12 14:01] themsaid commented on #14858
Hello @barryvdh :)

Do you have any reason why `Route::any()` shouldn't match an OPTIONS verb?

[2016-09-12 14:07] chipk4 commented on #12376
@JeroenvdV in documentation for v.5.2 you can see "Note: Modifying any column in a table that also has a column of type enum, json or jsonb is not currently supported." So, you can't modify column throw laravel. Use DB::statement it's a good idea.

[2016-09-12 14:09] barryvdh commented on #14858
Yes, `any()` doesn't register the Options route: https://github.com/laravel/framework/blob/c7de016c568c0b1555914487b0944b7298105fbe/src/Illuminate/Routing/Router.php#L208-L213

[code]

In my cors package, I intercept the CORS request in my ServiceProvider:
https://github.com/barryvdh/laravel-cors/blob/7236b8ca722fb404c5f83444eca195ec4ca46d55/src/ServiceProvider.php#L42-L44
And use the Router to de

[2016-09-12 14:12] themsaid commented on #14858
So do you believe that we should keep it that way and not match OPTIONs?

[2016-09-12 14:27] barryvdh commented on #14858
https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS

Matching OPTIONS with `any` would have a side effect of executing the request/action already, so I don't think that is expected behavior.

[2016-09-12 14:29] themsaid commented on #14858
Oh, that makes sense.

Thank you so much for your help :)

@Denys-Bushulyak please check above.

[2016-09-12 14:29] #14858 closed

[2016-09-12 15:48] taylorotwell commented on #15370
This was fixed in 5.3.9.

[2016-09-12 16:17] larsbo commented on #15370
Ah, great! Thank you for the info :+1:

[2016-09-12 16:26] jasonmccreary commented on #15192
Okay, so I think I this is related to `retry_after`. While it's true the `failed()` method is not being called, it's because the job is long running.

All the same, my job queue did not behave this way when running 5.2. So I still think there's something here. I'll keep digging. But for now, I'll just set my `retry_after` higher.

[2016-09-12 17:06] samrap commented on #13909
@themsaid Unfortunately not but I'd be happy to work together with you in order to develop a solution. From what I've discovered with this bug it's a much larger issue than it sounds.

[2016-09-12 17:11] samrap commented on #13909
@themsaid I don't have experience outside of MySQL but if I get a list of the different qualified column name rules between drivers I think I can handle fixing this issue on my own.

[2016-09-12 20:57] theTrip73 commented on #9251
PROPOSAL: A try-catch for the DatabaseSessionHandler::write() method's insert attempt to watch for PDOExceptions and check PDO::errorCode() for SQLSTATE 23505 (Unique violation: 7).

If 23505, read + update. If not 23505, re-throw.

It's an extremely targeted strike, but it should narrow the race condition to the smallest possible timeframe while also avoiding an overly general approach that could

[2016-09-12 21:37] vaidas-lungis commented on #15179
Yea I used second option.
`listen` command will use more CPU as it loops `work` command?

[2016-09-13 02:11] ChitaGideon commented on #8577
In my view , a job have an `expire` time, means  ,if a job had executed for a unexpected long time, the job should throw a timeout exception and be force  stopped.

That would be easy to understand and handled

[2016-09-13 02:16] g5400658 opened #15404 "Can't assign queue names to beanstalkd jobs?"
- Laravel Version: 5.3.7
- PHP Version: 5.6.23
- Database Driver & Version: mysql

Things to know: I'm using beanstalkd and supervisor.

Prior to today, I used the `sync` driver for all of my queue jobs. I never had a problem with it. Today, I decided to switch to `beanstalkd`, however, none of my jobs were running, even though I had changed nothing in my code.

However, I found out that when I re

[2016-09-13 04:29] delatbabel opened #15405 "[5.1][5.2][5.3] Inconsistency between view() helper and View::make facade"
- Laravel Version: 5.1 through 5.3
- PHP Version: 5.6, 7
- Database Driver & Version: N/A

### Description:

There is an inconsistency between the View class (`Illuminate\View\View`) and the `view()` helper in `Foundation\helpers.php`.

In `view()` there is this code:

[code]

This produces whichever instance of the class that the application has bound to the factory contract `Illuminate\Contracts

[2016-09-13 05:21] sisve commented on #15179
@vaidas-lungis Probably. _My personal opinion_ is that the daemon mode is an abomination. Php is meant to die. The daemon mode introduces complex scenarios where you need to handle dead database connections, memory limits and garbage collection, and other nasty things regarding long running php scripts. All these need to be handled. Basically, it adds complexity to save some cpu.

The queue docume

[2016-09-13 05:28] pyaehein opened #15406 "[5.3] I can't get authenticated user in constructor."
- Laravel Version: 5.3.9
- PHP Version: 7.0.1
- Database Driver & Version: mariadb

### Description:
Authenticated user can't call in constructor. It's always return null.
Constructor don't get 'web' middleware access.

### Steps To Reproduce:
web.php
`Route::get('test', 'testController@test');`

testController.php
[code]

[2016-09-13 06:12] BrandonSurowiec commented on #15406
It's how the middleware is now loaded in 5.3. Check out the "Controller" section of the 5.3 upgrade guide or the following article for your answer. Either use a method that you call when needed (outside of the constructor), or use a Closure-based middleware in your constructor:

Article:
https://laravel-news.com/2016/08/controller-construct-session-changes-in-laravel-5-3/

Upgrade Guide (Controlle

[2016-09-13 06:13] #15406 closed

[2016-09-13 06:21] thomassjogren commented on #13364
The `LocalAdapter` also have a `getPathPrefix()` method that returns the root set in the config, so I guess that should be used in the `FilesystemAdapter.php`.

[2016-09-13 07:06] #15405 closed

[2016-09-13 07:06] GrahamCampbell commented on #15405
The helper is not meant to be a proxy to the facade. They are different.

[2016-09-13 07:51] delatbabel commented on #15405
That's not the point.  The helper works, the facade does not work. It would be useful to make the facade work properly instead of having it incorrectly use the wrong factory class.

[2016-09-13 09:35] afraca commented on #9770
I'll create some PR tonight or something.

Meanwhile, if you encounter this: you can still configure the 'to' address in `config/mail.php` , and use the mailer event, roughly like so:

    Event::listen('mailer.sending', function (Swift_Message $message) {
                $message->setTo(Config::get('mail.to.address'), Config::get('mail.to.name'));
            });

[2016-09-13 11:21] mstephens opened #15407 "Ability to override route domain per request"
- Laravel Version: 5.3.6
- PHP Version: 7.0.8
- Database Driver & Version: mysql

### Description:

Hi guys,

Is there the possibility of adding a parameter options to the route() and action() methods to allow override the route domain on a single request?

Currently the override can only be achieved by calling `forceRootUrl` on the UrlGenerator facade, and then remembering to unset it afterwards.

[2016-09-13 11:36] delatbabel commented on #15405
OK so if closing the ticket implies no further action and that you're happy with broken code sitting in the framework, then perhaps indicate that by adding as a comment (either in the class header or the documentation) that the View class is broken and that the facade should not be used. I consider that a fairly lame response, however.

[2016-09-13 13:08] joelezeu commented on #15040
The issue here, I'm going haywire.

[2016-09-13 14:33] oitsem099 commented on #15040
Confirmed just now the issue is real.
I just installed a fresh installation of 5.3 its annoying hahahaha

[2016-09-13 14:33] themsaid commented on #15320
This issue is now fixed, will be available in the next release of Envoy.

https://github.com/laravel/envoy/pull/87

[2016-09-13 14:33] #15320 closed

[2016-09-13 14:33] progmars opened #15408 "Session persistence and cookie check conditions are confusing"
- Laravel Version: latest (master branch)
- PHP Version: does not matter

### Description:

While extending the default session driver to use HTTP header instead of cookie, I noticed suspicious piece of code:
https://github.com/laravel/framework/blob/master/src/Illuminate/Session/Middleware/StartSession.php

[code]

From the first look it might seem that sessionIsPersistent and usingCookieSessions

[2016-09-13 14:37] andyberry88 commented on #15163
That doesn't necessarily mean it **should** be the behaviour. Disabling middleware is very useful for ignoring auth/csrf etc. in tests, but since bindings are implemented in middleware it now makes either bindings or `withoutMiddleware` useless. You can have one or the other but not both.

It's not an ideal workaround but I've added my workaround to http://stackoverflow.com/questions/39235181/lara

[2016-09-13 14:42] mikelmi opened #15409 "Collection::mapWithKeys() works incorrectly for keys with integer values"
- Laravel Version: 5.3.9
- PHP Version: 7.0.8
- Database Driver & Version:

### Description:
`Collection::mapWithKeys()` works incorrectly for keys with integer values (and for string values like '1', '2', ...);
It returns a collection with numerical keys starting from zero (0, 1, 2, ...)

### Steps To Reproduce:
Try to run following code:
[code]
The result will be:
[code]
Expected result:
[code]

[2016-09-13 14:53] ghermans commented on #15040
Can someone reopen this ?

[2016-09-13 15:01] #14909 closed

[2016-09-13 15:29] joelezeu commented on #15040
I used Mozilla Browser and it worked, still experiencing the problem in Chrome.

[2016-09-13 15:36] vaidas-lungis commented on #15359
+1

[2016-09-13 15:49] srmklive commented on #15204
I can't seem to replicate the issue @manmohanjit1 has reported here. I created a database with some tables having the following relationship between them:

* A category has many posts.
* A post has many tags.
* A tag has many posts.

When i write the following code:

        $category = \App\Category::with(['posts'])->find(5);
        dd($category->posts()->withCount('tags')->first()->toArray());

[2016-09-13 16:51] ntvsx193 opened #15412 "illiminate/database, DB::insertGetId() catch Exception on multiple insert rows"
- Laravel Version: 5.4.3
- PHP Version: PHP 7.0.10-2+deb.sury.org~xenial+1
- Database Driver & Version: pgsql, PostgreSQL 9.5

### Description:
I use composer package `illuminate/database`.
DB::insertGetId() catch Exception on multiple insert rows.

Exception:
[code]

### Steps To Reproduce:
[code]

[2016-09-13 17:04] oitsem099 commented on #15040
Just tried Mozilla same issue.
this is so annoying hahahaha

[2016-09-13 17:09] themsaid commented on #15412
`insertGetId()` should be used to create a single record, it accepts an array of record column values and returns an integer, which is the row primary key.

[2016-09-13 17:09] #15412 closed

[2016-09-13 17:57] theTrip73 commented on #12566
Maybe this can be best accomplished by something that allows you to pass along a pattern in the $route->model() call, it could default to the integer pattern '[0-9]+' and be overloadable.

[code]

[2016-09-13 21:18] JesseLeite commented on #15192
We're doing an upgrade to 5.3 right now and coming across some weirdness around failed jobs with the database queue driver.

If I have a job sitting in jobs table, and throw an intentional exception, in 5.2 the listener would try 3 times (with --tries=3), and then send the job to the failed_jobs table.  However, it seems in 5.3, the job disappears off both tables with no valuable output by the lis

[2016-09-13 21:20] adamgriffin93 commented on #15040
Why is this closed??

[2016-09-13 21:37] jasonmccreary commented on #15192
@JesseLeite that sounds exactly like the issue I was having at first as well. Be sure to restart your queue after upgrading, I think that was one of the things that added to the *weirdness*.

I was going to look at this closer over the weekend to provide some code samples to reproduce the issue between 5.2 and 5.3.

[2016-09-14 01:42] jozeflambrecht opened #15416 "[5.3] pagination not displayed on pages with 1 record"
- Laravel Version: 5.3.9
- PHP Version: tested with 5.6.25 and 7.0.10
- Database Driver & Version: MySql 5.1.73

When paginating eloquent results with
`$flights = Flight::orderBy('date', 'desc')->simplePaginate(5);`

and having 6 flights in my database -> the pagination is displayed (with 2 pages) and when I click on page 2, the pagination disappears. This was not the case with 5.2

EDIT: after mo

[2016-09-14 01:52] ahmedash95 commented on #15416
Laravel Framework version 5.3.0-RC1
PHP 7.0.10
Database Driver & Version: MySql 5.6.31

works fine

[2016-09-14 03:18] BlueGood opened #15418 "Can`t use auth()->check() in the __construct function of Controller"
- Laravel Version: 5.3.9
- PHP Version:5.6.23
- Database Driver & Version:mysql 5.6

### Description:
I want to use auth()->check() in the __construct function of file App\Http\Controllers\Controller, but auth()->check() always return false. but this work on versions before 5.3

#### I find out the reason:
In file Illuminate/Routing/Router.php, function gatherRouteMiddleware() use $route->gatherMi

[2016-09-14 04:29] jnguyen32 opened #15419 "Unauthenticated exception handler not configurable"
It took me a short while to find this as the latest documentation doesn't cover it.

Effectively, if you implement your own login controllers/routes, there's no configurable method for telling Laravel where your login route is.

The new Auth middleware now throws an exception (good), and then that exception is handled and the 'unauthenticated' method is called.

The unauthenticated method is as fo

[2016-09-14 04:40] oitsem099 commented on #15040
I don't know with them. its clearly an annoying issue.
the guys have a fix on this but its temporary only.
it involves touching a single line of code in the FileSystem file of Laravel WHICH WE NOT BE DOING.

[2016-09-14 06:02] sisve commented on #15418
This is intentional. See Controllers > Session In The Constructor in the [Upgrade Guide][1]

[1]: https://laravel.com/docs/5.3/upgrade#upgrade-5.3.0

[2016-09-14 06:05] sisve commented on #15408
Could you explain what you find confusing, and in what way you want to change the documentation? Could you submit a PR with the requested changes?

[2016-09-14 06:26] #15418 closed

[2016-09-14 06:50] beyondlimits commented on #12126
Bump.

I couldn't find the issue you mentioned.

Everyone at the office has hit this problem and I have to tell them they need to override `e` function because provided one just doesn't work as intended.

I put `&lt;` into database and I want the same, properly escaped value back (that is `&amp;lt;` if someone is wondering) - any other behaviour is a *bug*. Don't fool me.

I can't see the reason o

[2016-09-14 07:20] #15416 closed

[2016-09-14 07:20] GrahamCampbell commented on #15416
Was only a bug in the old 5.3 version. Check you've not published the older broken views please.

[2016-09-14 07:21] #15408 closed

[2016-09-14 07:21] #15419 closed

[2016-09-14 07:22] GrahamCampbell commented on #15419
You can just override the methods you want to change.

[2016-09-14 08:20] ahmadbadpey opened #15420 "authorization Callbacks does not work for private channels in laravel"
I succeed to implement a realtime notifications in laravel via Pusher.

For that I follow all instructions described in laravel documentations.

This is my BroadcastServiceProvider :

[code]
And below is Javascript codes to fire events:
[code]
All things works properly.

But for test I returned false inside `Broadcast::channel('App.User.*',` like this :

[code]
But I do not know what does this par

[2016-09-14 08:27] themsaid commented on #15420
The channel name is different `App.User.*` & `private-App.User.*`.

[2016-09-14 09:01] themsaid commented on #15409
Hello @aguimaraes, what's your input here? I know this issue is more related to `collapse()` but hope you had this case in mind while building `mapWithKeys()` is that intended?

[2016-09-14 09:04] themsaid commented on #15407
Hello Matt, I think if you post this question on the forums it's more likely you'll get a fast answer unlike posting it here, "Issues" in this repo are for bug reporting only, for suggestions and feature requests please use the https://github.com/laravel/internals repo, otherwise use the forums.

[2016-09-14 09:04] #15407 closed

[2016-09-14 09:05] progmars commented on #15408
As implementing custom Session driver might be required in some use cases, my suggestion would be to comment the code of the default StartSession implementation. Currently the naming of functions and variables seem counterintuitive at first glance.
Look at it from neutral point of view. Imagine that you don't know much about internals of some framework and you see the following combination of expr

[2016-09-14 09:12] themsaid commented on #15404
@g5400658 please share the full version of your laravel installation including the patch.

[2016-09-14 09:58] ahmadbadpey commented on #15420
I changed `Broadcast::channel('App.User.*'` to `Broadcast::channel('private-App.User.*'` with `returning false` But Does not matter.

[2016-09-14 10:22] themsaid commented on #15420
Oops, sorry about my last comment, it wasn't correct :) You can trim the `private-` part of the channel name.

Please complete the requirements for opening a valid issue:

- Laravel version
- PHP Version

[2016-09-14 10:24] themsaid commented on #15420
Also to recap, even when you return false you can still listen to that channel, right?

[2016-09-14 10:52] ahmadbadpey commented on #15420
@themsaid, Yes.

[2016-09-14 11:33] Nyorai opened #15424 "data_get can call delete method on Eloquent models accidentally"
- Laravel Version: 5.3.0
- PHP Version: 5.6
- Database Driver & Version:

### Description:

Using Laravel Collective HTML with a bound form and a field named 'delete' causes the record to be deleted.

### Steps To Reproduce:

In a view I had the following (not the entire view, but the essential details)

{!! form_model(entity) !!}
  {!! form_checkbox('delete') !!}}
{!! form_close() !!}

This uses

[2016-09-14 11:41] Modelizer opened #15425 "[Proposal] Making "where like" statement more robust."
Hi,
   I was going through API and want to find the best way to make "like statement" easier. In the end, I need to manage it on scope level.
Suppose if a user want to make more then 3 to 4 like statements, so he needs to repeat himself by `$model->where('column', 'LIKE', '%value%')`. To solve this query what I did is
[code]
and added like method in model
[code]

Note: First parameter of like meth

[2016-09-14 11:46] themsaid commented on #15425
Hello @Modelizer, thank you for suggestions but that repo is only from bug reports :)

Please feel free to open a PR or use the https://github.com/laravel/internals repo to discuss your proposal.

[2016-09-14 11:46] #15425 closed

[2016-09-14 11:48] Modelizer commented on #15425
Ohh thanks, I made a mistake :sweat_smile:

[2016-09-14 11:55] kamui545 commented on #15424
Good catch, I can reproduce as well, it throws `LogicException with message 'Relationship method must return an object of type Illuminate\Database\Eloquent\Relations\Relation'` but the records is deleted.

Easier way to reproduce:

[code]

[2016-09-14 12:43] ppp999 commented on #15163
That's true. `withoutMiddleware` became useless. Apps with implicit binding can not be tested with `withoutMiddleware`.

[2016-09-14 12:46] acacha opened #15426 "pushMiddlewareToGroup not working on tests but working on app"
- Laravel Version:  5.3.9
- PHP Version: 7.0.9
- Database Driver & Version: sqlite

### Description:

My tests for package adminlte-laravel are not working because I use pushMiddlewareToGroup in a ServiceProvider to push a Middleware to web group middleware. If I push manually the middleware in App\Http\Kernel.php tests and app works correctly.

### Steps To Reproduce:

In a Laravel fresh installa

[2016-09-14 12:52] jozeflambrecht commented on #15416
Graham, I did:
[code]
still the same.. Something else I forgot?

[2016-09-14 13:37] andkom opened #15429 "[5.3] bindValues() now binds LONG ints as SIGNED ints in PHP 5.6"
- Laravel Version: 5.3.9
- PHP Version: 5.6.23
- Database Driver & Version: mysql 5.5.49

### Description:

When i bind LONG INT, number is converted to SIGNED INT

### Steps To Reproduce:

`
DB::select('select ?', [3557138101]);
`

returns:

`
-737829195
`

actual SQL executes:

`
select -737829195;
`

[2016-09-14 13:52] singgihmardianto commented on #15399
@crynobone @themsaid Yes my bad. After double check again, actually my project is on laravel v5.2 but one of my composer libraries install a `illuminate/support` v5.3.

Thanks all :)

[2016-09-14 14:04] joelezeu commented on #15040
@MountainDev your fix didn't work for me.

[2016-09-14 14:05] aguimaraes commented on #15409
Hello @themsaid.

This function was not meant to be used with numeric keys.

This weird behavior was predicted by @adamwathan here:

https://github.com/laravel/framework/pull/14430#discussion_r74266705

The problem arises when `flatMap` calls `collapse` which calls `array_merge` who will renumber numeric keys.

Using the `+ ` operator would avoid that in `collapse`.

I don't know if this change is

[2016-09-14 14:10] themsaid commented on #15409
Thank you @aguilarcarlos using `+` is breaking indeed.

@mikelmi Looks like you'll need to make your own collection macro.

[2016-09-14 14:17] aguimaraes commented on #15409
You're welcome @themsaid

@mikelmi take a look here:

https://github.com/spatie/laravel-collection-macros

Talk to @freekmurze about that feature.

[2016-09-14 14:36] tylerdong commented on #6935
@ycrao 怎么解决这个问题的呢？
那个参考文章里面也没有看到解决方法

[2016-09-14 14:39] themsaid commented on #15426
In your `tests/TestCase.php` you need to build `Http\Kernel` before bootstrapping the application.

    public function createApplication()
    {
        $app = require __DIR__.'/../bootstrap/app.php';

        $app->make('Illuminate\Contracts\Http\Kernel');

        $app->make(Illuminate\Contracts\Console\Kernel::class)->bootstrap();

        return $app;
    }

This will solve your issue, meanwh

[2016-09-14 14:39] #15426 closed

[2016-09-14 14:46] acacha commented on #15426
Thanks @themsaid! It works! For me it seems good idea to ship this by default but I'm not and expert. If you want I can create a PR pointing to this issue to consider this?

[2016-09-14 14:47] themsaid commented on #15426
yes please :) We'll need to hear from others about what they think.

[2016-09-14 14:55] themsaid commented on #15424
That's a known issue, you **must not** use a name of a method in Model.php as an attribute name, avoid doing this because it has multiple issues not only this one.

I suggest using `is_deleted` or something.

[2016-09-14 14:55] #15424 closed

[2016-09-14 15:03] acacha commented on #15426
Done

[2016-09-14 15:04] themsaid commented on #15420
@ahmadbadpey since you're not using echo you need to register your authentication endpoint pusher, please check the documentation here: https://pusher.com/docs/authenticating_users.

Use `/broadcasting/auth` as your endpoint and give it a try.

[2016-09-14 16:58] adamgriffin93 commented on #15040
Something that worked for me was clearing my session and using the database driver.

[2016-09-14 17:05] fernandobandeira commented on #15409
Supposing that you need to use ```mapWithKeys``` to format the key and the values thus being not viable to use ```pluck```.
There's two simple fixes for this issue, depending on what return you want.

1) You need to get a key=>single value pair, then  you can combine mapWithKeys and pluck:

[code]

2) You need to get a key => array value pair, then you can combine maWithKeys and keyBy.
[code]

Bot

[2016-09-14 17:15] g5400658 commented on #15404
@themsaid 5.3.7

[2016-09-14 21:32] restored18 commented on #11780
Going back to the issue with SQL Server, I'm running Laravel 5.3 and any integers in the database are being returned as strings for my Eloquent models. It doesn't do it with the same table structure on MySQL. Let me know if you need to see any code for verification.

[2016-09-14 21:32] nhowell commented on #15179
This might be what's causing my queue problems.

[2016-09-14 21:46] restored18 commented on #11780
Nevermind, looks like Microsoft fixed this issue [https://github.com/Microsoft/msphpsql](https://github.com/Microsoft/msphpsql). Loading the latest version of the SQL Server PDO driver allows you to add a PDO attribute for fetching integers as integers. Here is an SO thread about it as well: [http://stackoverflow.com/questions/31563747/laravel-pdo-settings](http://stackoverflow.com/questions/31563

[2016-09-15 01:40] manmohanjit1 commented on #15204
Hmm it looks like it's only happening if I use the method injection for Request. So for example:

    public function index(Request $request)
    {
		$user = $request->user();

		// this would reproduce it
		$notes1 = $user->notes()->withCount(['users'])->get();
		$notes2 = $user->notes()->with(['users'])->get();

		// this wouldn't
		$notes3 = \App\Note::withCount(['users'])->find($user->id);
		$

[2016-09-15 01:43] manmohanjit1 commented on #15204
This also seems to reproduce it:

		$notes1 = \App\User::find($user->id)->notes()->withCount(['users'])->get();

[2016-09-15 02:57] hafezdivandari opened #15433 "Updating JSON Columns is not working as expected"
- Laravel Version: 5.3.9
- PHP Version: 7.0.8
- Database Driver & Version: Mysql 5.7.15

### Description:
I can successfully update the table row with this:
[code]
But this code doesn't work:
[code]
I have to add all json properties to my Model's fillable array to be able to update:

[code]
I expected that including only `options` be enough.

Additionally if the default value of the JSON column be

[2016-09-15 03:26] thats4shaw opened #15434 "[5.3] Implicit model bindings not working for api routes by default"
It appears routes containing model bindings defined in routes/api.php do not work by default.  Currently the model in question will return an empty object.

[code]

[code]

If I add 'bindings' to the middleware of the route group it then works.  I would of assumed this wouldn't be required and it would work out of the box?  Apologies if this is not the case.

I'm working off a fresh copy of Larave

[2016-09-15 06:05] srmklive commented on #15204
@manmohanjit1 What you are referencing is that a user has many notes whereas a note has many users. To me that is utterly wrong. The logical representation should be:

* A user has many notes.
* A note belongs to a user.
* A note has many revisions.
* A revision belongs to a note

If what you are referencing is incorrect in the first place, then there is nothing wrong with Eloquent. Its an issue w

[2016-09-15 06:36] mikelmi commented on #15409
Thanks all
For my case `keyBy()` resolves the problem

[2016-09-15 07:48] ntzm commented on #15429
What DB driver?

[2016-09-15 08:02] kamui545 commented on #15429
[code]

MySQL 5.7 though

[2016-09-15 08:29] Nyorai commented on #15424
In my case, there was no "delete" attribute. I wanted to have a non-bound field checkbox to confirm the deletion of a related model, the Form helper tried to look up the value of "delete" in the background and produced this unexpected result. I understand it having looked at the code why this happened, but it is a potentially dangerous side-effect.

[2016-09-15 08:39] #15409 closed

[2016-09-15 09:11] dietercoopman opened #15437 "Rename columns in table with ` around name"
- Laravel Version: 5.1.40
- PHP Version: 5.5.9
- Database Driver & Version: Mysql 5.5.47-0ubuntu

### Description:
Case changes to lowercase when renaming columns ( my columns do have capitals ) , only when adding `around table name.

When i trie to rename a column in my database via the Schema Builder it throws me an error because the source column is not found ( Embossing_id vs embossing_id ) .

[2016-09-15 09:16] themsaid commented on #15424
I've submitted a fix that should prevent that https://github.com/laravel/framework/pull/15438

[2016-09-15 09:18] edd-smith opened #15439 "Linking The Storage Directory Command"
- Laravel Version: 5.3
- PHP Version: 7.0.8

### Description:

The command which links the storage directory...

```php artisan storage:link```

This appears to create an absolute link. It means that the symlink does not work properly when using homestead.

To get around this i create a symlink with a relative path

```ln -s ../storage/app/public public/storage```

Should this not be the default b

[2016-09-15 09:55] themsaid commented on #15433
There are two issues here, first it's expected that you need to add all fillable fields including the JSON ones, that way you can decide what JSON attributes you want to guard and what may be left fillable.

Second, from MySQL docs for `JSON_SET`:

So yeah if the value of the column is NULL no updates will happen.

Regarding casting as array I'm not sure what scenario may lead to this saving `"{}"

[2016-09-15 09:57] #11780 closed

[2016-09-15 09:57] #15434 closed

[2016-09-15 09:57] GrahamCampbell commented on #15434
Looks like you didn't add the bindings middleware as required in the upgrading docs.

[2016-09-15 10:03] thats4shaw commented on #15434
I'm experiencing this behaviour with a fresh 5.3 Spark project.  The binding middleware should be present already should it not?

[2016-09-15 11:47] ahmadbadpey commented on #15420
this is my PusherController :
[code]
and in the web.php I added:
	Route::post('pusher/auth', 'PusherController@auth');
Do you think that this is not true?

[2016-09-15 11:51] themsaid commented on #15420
Maybe, but your not using `Broadcast::auth()`, so the following code won't executed:

[code]

Closing since it's not actually a bug report. Please feel free to ask in the forums.

[2016-09-15 11:51] #15420 closed

[2016-09-15 12:05] ahmadbadpey commented on #15420
I added :
`authEndpoint: '/broadcasting/auth',`
to Pusher initialization.

but each time Pusher requests that , redirected to `403`error page that I have provided.

[2016-09-15 12:10] #13055 closed

[2016-09-15 12:10] #12544 closed

[2016-09-15 12:10] #12711 closed

[2016-09-15 12:11] GrahamCampbell commented on #12711
Closing since this has been changed in 5.3.x

[2016-09-15 12:46] hafezdivandari commented on #15433
When storing a `user` record, I set json column value to `{}` because it can't be left `null`, but If I use casting as array, it casts by `json_encode('{}')` that saves `"{}"` in the table instead of `{}` and updates get fails.

About another issue, I think there should be a way to add all json properties to fillable array once, for example by adding `options->*` or just `options` would be enough.

[2016-09-15 13:11] mmnharalamov opened #15443 "DB Schema don't have "bit" value"
тhe title EXPLAINS EVERYTHING.
please WRITE APPROPRIATE FRAMEWORK OR
DO NOT WRITE ANYTHING  ok ?

[2016-09-15 13:24] fernandobandeira commented on #15443
please WRITE APPROPRIATE FRAMEWORK OR
DO NOT WRITE ANYTHING ok ?

Well despite your attitude i'll paste this comment from [stackoverflow](http://stackoverflow.com/questions/36225328/laravel-give-data-type-bit-byte-in-migration)

[2016-09-15 13:26] mmnharalamov commented on #15443
THX :) Actually its an issue :P

[2016-09-15 13:27] #15443 closed

[2016-09-15 15:00] nhowell commented on #15179
I have supervisor set up to run `php artisan queue:work --tries=3` and I'm seeing this error in my laravel.log every 3 seconds (implicit `--sleep=3`). This is preventing my queued jobs from running.
[code]

Is the cause that `beginTransaction()` is not checking if it needs to `reconnect()` first?

If it helps, I can run `php artisan queue:work --once` to manually process a job without any issue. A

[2016-09-15 15:37] themsaid commented on #15433
@hafezdivandari why not make a default value for the DB column, Instead of doing it via eloquent?

Regarding `options->*`, a JSON structure can be very complicated, trying to match fillable like this can be an overhead I'm not sure if it's worth it. IMO if we're to make any change it'd be making all `options` children as fillable if there's a `options` in the fillables array.

[2016-09-15 16:21] hafezdivandari commented on #15433
@themsaid As I know and tested before, Mysql doesn't accept default value for json fields unfortunetley!

I think making all `options` children as fillable if there's a `options` in the fillables array is acceptable and neccessery.

[2016-09-15 16:59] themsaid commented on #15433
You can do this then:

[code]

This will give the JSON column a default value of an empty object for a newly created model, you can easily update its parameters later.

For the fillable thing, let me see if I can come up with a clean PR for that.

[2016-09-15 17:30] ElfSundae opened #15445 "[5.3] What is the purpose of "resetNotifier" in "SendsPasswordResetEmails" trait"
- Laravel Version: 5.3.9

There is a method `resetNotifier` in the `SendsPasswordResetEmails` trait, but it is not called at all. Maybe we should remove it, or add a parameter in `PasswordBroker::sendResetLink` just like `PasswordBroker::reset` does.

From the PHPDoc, I guess this method would be used to return a notification like this:

[code]

Am I right? Then what notification instance will be

[2016-09-15 17:52] themsaid commented on #15445
You're right, this method is not used and should be deleted. Removed in https://github.com/laravel/framework/pull/15446

To use a custom Notification you need to overwrite the `sendPasswordResetNotification` in your User model, this method is coming from the `Illuminate\Auth\Passwords\CanResetPassword` trait.

[2016-09-15 17:52] #15445 closed

[2016-09-15 17:52] ito2307 opened #15447 "Authentication Laravel 5.3"
- Laravel Version:  "laravel/framework": "5.3.*",
- PHP Version: 7.0
- Database Driver & Version: Navicat with mariadb

### Description:
I'm trying to implement in my project the active directory similar to windows.
It's called cemaco, first i had have problems with theversion of ldap so update. Now i'm trying to implement it but i get this issue --> Authentication user provider [] is not defined

[2016-09-15 18:11] hafezdivandari commented on #15433
Thanks, It would be great.

[2016-09-15 18:16] luqmanrom opened #15449 "Resolving seeder object returns error"
- Laravel Version: 5.2.X
- PHP Version:
- Database Driver & Version:

### Description:
`app('seeder')` returns error:

[code]
### Steps To Reproduce:

Try to resolve the seeder object: `app('seeder')`

The culprit is here. Seeder is abstract class cannot be constructed with new:

https://github.com/laravel/framework/blob/5.3/src/Illuminate/Database/SeedServiceProvider.php#L25

[2016-09-15 19:11] themsaid commented on #15447
I'm sorry but this doesn't look like a bug report, you did the right thing asking on the forums.

[2016-09-15 19:11] #15447 closed

[2016-09-15 19:19] themsaid commented on #15449
Thank you, submitted a PR to remove this registration line https://github.com/laravel/framework/pull/15450.

[2016-09-15 19:19] #15449 closed

[2016-09-15 20:08] masonfox commented on #8102
I'm getting this on a windows machine:

[code]

[2016-09-15 20:28] abhimanyu003 commented on #14879
Set `'secure' => false,`

[2016-09-15 21:48] rafwell opened #15452 "Error on return array on controller"
- Laravel Version: 5.2.45
- PHP Version: 7
- Database Driver & Version: ODBC  with Access 2013 Database.

### Description:

When i return this array on controller:
![image](https://cloud.githubusercontent.com/assets/2893078/18568653/9650b3ce-7b74-11e6-92c3-646b1eb05f13.png)

Expecting get the json representation, i get this error:
![image](https://cloud.githubusercontent.com/assets/2893078/1856870

[2016-09-15 23:12] j3j5 opened #15453 "[5.3] There is no way to add custom headers to a notification sent via mail"
- Laravel Version: 5.3.9
- PHP Version: 7.0.10
- Database Driver & Version: mysql 10.1.17-MariaDB

### Description:
When sending a notification via mail, there is no way to add custom headers to it.

I understand notifications are meant to be simple messages, but for example, when using Mandrill you need to send a custom header if you want your messages to be sent through one of your subaccounts.

[2016-09-16 01:30] davidhemphill opened #15455 "Using DatabaseMigrations trait prevents overriding console command dependencies"
- Laravel Version: 5.3.9
- PHP Version: 7.0.7
- Database Driver & Version: SQLite/MySQL

### Description:

It seems as though you can't swap out the IoC bindings for console commands when you're using the `DatabaseMigrations` trait in your tests.

For example, I've set up an default binding for and interface in `AppServiceProvider` . I also, have a console command which typehints the interface. Du

[2016-09-16 01:50] bs-thomas commented on #15348
@GrahamCampbell
Hello, apologies again for the non-stop messages.  May I ask if my latest pull request makes more sense?  I'm unsure if the issue is still being looked at.  If it is, would like to ask when it could be merged over to 5.3.  If it's not going to be looked at, then I may have to find alternatives.  Thank you very much for your kind attention!

[2016-09-16 03:26] ahmedash95 opened #15457 "Queue with Redis doesn't work as expected"
- Laravel Version: 5.3.9
- PHP Version: 7.0.10

### Description:

i'm trying to process a ffmpeg command for making a video file , i'm using Redis for queue but

when i run ``` php artisan queue:listen ``` i get no output even if i dispatch the job many times , i

tried to monitoring the Redis and i found the job is already pushed to redis but i see at the end of

json array key { attempts\":41 }

[2016-09-16 06:13] #14879 closed

[2016-09-16 06:13] GrahamCampbell commented on #15453
Thanks, but this isn't a bug report. Please submit proposals to the internals repo.

[2016-09-16 06:13] #15453 closed

[2016-09-16 06:13] #15457 closed

[2016-09-16 06:14] GrahamCampbell commented on #15457
If your job runs for more than 60 seconds, you need to increase the expiry time, otherwise the job is assumed to have crashed, and then will be picked up again.

[2016-09-16 06:56] srmklive commented on #15452
Try to do `return response()->json($response);`. This will resolve the error.

[2016-09-16 07:12] #15452 closed

[2016-09-16 07:38] afraca opened #15459 "getDirty() does not handle bools right with casts set"
- Laravel Version:  5.1 / 5.2 / 5.3
- PHP Version: 7.0
- Database Driver & Version: mysql 5.7

### Description:
When a model has a boolean field that's stored as tinyint in database, one can specify this in the casts column as 'boolean'. When setting the value to `true` or `false` in the code, the attribute gets viewed as `dirty` incorrectly.

### Steps To Reproduce:
Create a model with a boolean

[2016-09-16 07:39] afraca commented on #15459
This is very similar to a previous bug report I made, and shows how the `casts` is completely ignored in the dirty handling:

https://github.com/laravel/framework/issues/15060

[2016-09-16 07:59] GrahamCampbell commented on #15459
Closing since dupe of #15060. Thanks though.

[2016-09-16 07:59] #15459 closed

[2016-09-16 08:03] rs-sliske commented on #15434
i think by default it is only added to the web route group, not api

[2016-09-16 08:05] themsaid commented on #15434
@thats4shaw @rs-sliske it's there by default on all fresh installations: https://github.com/laravel/laravel/blob/master/app/Providers/RouteServiceProvider.php#L72

[2016-09-16 08:07] Decadence commented on #13090
Same issue for me. I was expecting `@each` will inherit variables as `@include` and `@extends`.

[2016-09-16 08:07] rs-sliske commented on #15434
@themsaid i mean the middleware isnt applied to the api group by default https://github.com/laravel/laravel/blob/master/app/Http/Kernel.php#L35-L38 unless im looking in the wrong place

[2016-09-16 08:11] thats4shaw commented on #15434
I done some more testing on this again today and I believe this is actually
a Spark issue as it works fine for me on a straight Laravel 5.3 project.

On 16 Sep 2016 8:06 PM, "Mohamed Said" <notifications@github.com> wrote:

[2016-09-16 08:12] themsaid commented on #15434
Yeah if you're looking at a spark installation then yes, the `api` group isn't there by default but I submitted a PR this morning to make it a default.

[2016-09-16 08:47] ycrao commented on #6935
@tylerdong 自己写扩展方法即可

[2016-09-16 09:48] mark86092 commented on #13090
From the source code, I see that `@include` will inherit the data, while `@each` won't. @n1c @Decadence, that's the reason for the expected behaviors.

From my point of view, `@each` is a beautiful shortcut for simple data, it is not a bug.

You can see the code here: https://github.com/laravel/framework/blob/5.2/src/Illuminate/View/Factory.php#L266 for `@each` related

https://github.com/laravel/

[2016-09-16 10:40] Decadence commented on #13090
I agree this is not a bug, but it would be useful to have opportunity to pass additional data at least.

[2016-09-16 11:01] andkom commented on #15429
driver mysql

[2016-09-16 12:24] hafezdivandari opened #15465 "Relationship with JSON foreign key"
Is it possible to add a feature to make relationships with JSON property as foreign key in Laravel 5.3?

[code]

[2016-09-16 12:25] themsaid commented on #15465
I would strongly advise against that :)

[2016-09-16 12:40] #15465 closed

[2016-09-16 13:03] themsaid commented on #15352
@mreschke
The thing is this has been the case since 5.2, if we try to fix the order now it might break other applications that depend on the new sort of order.

What if you use `Router::pushMiddlewareToGroup` and push your middlware to the `web` and `api` groups, would that solve your issue?

[2016-09-16 13:06] rafwell commented on #15452
Hi! When i changed my code i get this error: `Malformed UTF-8 characters, possibly incorrectly encoded. I don't know why but the field "andar" has a b" preffix, so i did a muttator on model, converting him to utf8. And the problem are solved. Thanks.

[2016-09-16 13:09] #14248 closed

[2016-09-16 13:21] themsaid commented on #14244
You can solve this by adding `\Illuminate\Foundation\Http\Middleware\VerifyPostSize` to your application global middleware with `CheckForMaintenanceMode::class`, the middleware will throw a `PostTooLargeException` that you can catch and react.

[2016-09-16 13:21] #14244 closed

[2016-09-16 13:22] themsaid commented on #14242
Thank you for your suggestion, this repository is for Bug reporting, for suggestions and feature requests please use the https://github.com/laravel/internals repo.

[2016-09-16 13:22] #14242 closed

[2016-09-16 13:29] srmklive commented on #15429
You need to update the MySQL to v5.6 or later.

[2016-09-16 13:30] themsaid commented on #14211
This issue doesn't exist anymore in laravel 5.3, we replace the dot in attribute names with `->` before starting any check.

[2016-09-16 13:30] #14211 closed

[2016-09-16 13:34] themsaid commented on #14146
Closing for lack of activity.

[2016-09-16 13:34] #14146 closed

[2016-09-16 13:36] themsaid commented on #14128
Closing since it doesn't really seem a bug in laravel.

[2016-09-16 13:36] #14128 closed

[2016-09-16 13:38] themsaid commented on #14095
Well since it's an old issue and it doesn't really seem like a bug report I'm gonna have to close it ;) but please feel free to open a PR if you have time and are willing to have this changed.

[2016-09-16 13:38] #14095 closed

[2016-09-16 13:41] themsaid commented on #14082
@hackel this doesn't really seems a bug, I think the PR merge was based on the preferences of the community. I'm closing this PR, but please feel free to open a PR and propose a different behaviour.

[2016-09-16 13:41] #14082 closed

[2016-09-16 13:42] themsaid commented on #14081
@justautomated the existing scaffold is written with a convenience in mind, for special cases like this one I suggest you build your own or try to extend the current one.

Closing since this is not actually a bug report.

[2016-09-16 13:42] #14081 closed

[2016-09-16 13:44] themsaid commented on #14079
@lucasmichot Hello :)

Not sure if this got fixed or what, do you have any information about this issue? is it still existing or have you managed to open a PR?

[2016-09-16 13:46] themsaid commented on #13725
@reefki are you still facing the same issue in 5.2 or 5.3?

[2016-09-16 13:48] themsaid commented on #13691
@wout @billmn any update about this issue? Was anyone able to replicate the issue on a recent laravel release?

[2016-09-16 13:49] themsaid commented on #13632
There's a PR currently open that will take care of this issue along with other issues related to calling method names as attributes: https://github.com/laravel/framework/pull/15438

[2016-09-16 13:49] #13632 closed

[2016-09-16 13:50] andkom commented on #15429
It was breaking change in 5.3 so i had to update php & mysql.
In 5.2 everything worked fine.
I think Laravel should specify mysql v5.6 as requirement in upgrade guide

[2016-09-16 13:54] themsaid commented on #15429
Thank you @andkom for your report, please feel free to open a PR in the docs repository with your suggested updates to the upgrade guide.

Closing since it's not actually a bug report. Thanks again :)

[2016-09-16 13:54] #15429 closed

[2016-09-16 13:56] ZeyadMounir opened #15466 "Laravel Echo SocketId"
- Laravel Version: 5.3

In broadcasting Documentation, it's written that I can get the socket id manually though Echo.socketId();
but it gives undefined, I figured out that it takes time to be defined. When I put  Echo.socketId(); in setTimeout after 1000 ms, the socket id becomes defined!

[2016-09-16 13:58] themsaid commented on #13658
@lukasoppermann did you get the chance to open a PR about that and suggest the changes?

[2016-09-16 14:00] morloderex commented on #15466
This might be due calling this function before a connection has been made.

[2016-09-16 14:03] #12454 closed

[2016-09-16 14:04] themsaid commented on #12190
In 5.3 `from` is filled with dummy values by default.

[2016-09-16 14:04] #12190 closed

[2016-09-16 14:04] lukasoppermann commented on #13658
No, not yet. I think it will be quite a bit of work and I am very busy. I
do not want to put this work into it, if it has no or very little chance of
being added. If this is something that you and @taylor think should be
added, let me know and I will be happy to send a PR. Maybe we should
discuss how this should be implemented first though. 😉

On Fri, Sep 16, 2016, 3:58 PM Mohamed Said <notificati

[2016-09-16 14:07] ZeyadMounir commented on #15466
Yes, but I call this function after the call of Echo and the Channel, so I guess the connection takes time.

[2016-09-16 14:08] themsaid commented on #13658
Alright :)

May I ask why do you believe an email should be sent anyway?

[2016-09-16 14:09] themsaid commented on #15466
@ZeyadMounir any suggestions from your side about this? Do you think it's a bug that needs fixing or just require adding some information to the docs?

[2016-09-16 14:14] lukasoppermann commented on #13658
This is needed for the case a user is legit but tried to login with a wrong email address that he owns.

E.g. you signed up with you@mail.com but tried to login with youtoo@mail.com. Since you own the email address you will get an email that tells you that you might have used a wrong email address.

[2016-09-16 14:16] ZeyadMounir commented on #15466
I don't really know!
This is how I fixed it and add the header to Ajax:
`      Echo.private("conversation.{{$conversation->id}}").listen('MessageSent', addMessage);
      setTimeout(function()
      {
        var socket_id =  Echo.socketId();
        $.ajaxSetup({
            headers: {'X-Socket-ID': socket_id}
        });
      }, 2000);
`

[2016-09-16 14:21] hafezdivandari commented on #15465
Is there any reason for that?

[2016-09-16 14:37] themsaid commented on #15465
A json structure can easily get changed accidentally which will lead to unclear relationships. Anyway for such suggestions it's better that you open an issue in the internals repository rather than here.

Sent from my iPhone

[2016-09-16 15:33] Wistars commented on #14879
@RodionMun `user_id` is set to `nullable` but I get the same error
@abhimanyu003 changing it to `'secure' => fals  `did not make a difference

[2016-09-16 15:53] JacobBennett commented on #15455
I believe this is because `$this->artisan('migrate')` is being called by the `DatabaseMigrations` trait before your test method runs. This causes the application to resolve the `Console\Kernel` class before your test method. It seems then that when you call `$this->artisan()` in your test, that it is looking to the already resolved instance of `$this->app` rather than re-resolving the `Kernel` fro

[2016-09-16 16:13] johnnymn opened #15467 "Artisan::output doesn't capture the commands output after several calls"
- Laravel Version: 5.2.45
- PHP Version: 7
- Database Driver & Version: sqlite

### Description:

When we execute several Artisan Console Commands from other commands with the `Artisan::call()` method and try to capture their output in a successive way with the `Artisan::output()` method after some calls the output starts to show as an empty string instead of the actual command output. This probab

[2016-09-16 16:23] ahmedash95 commented on #15457
@GrahamCampbell do you mean php or redis ?

[2016-09-16 16:40] themsaid commented on #15433
Getting this feedback from Taylor here https://github.com/laravel/framework/pull/15464

The overhead introduced while allowing this sort of thing is unnecessary, so it's better that you explicitly add the JSON Paths you want to make fillable in the $fillable array to avoid that overhead.

I also suggest that you reverse your way of thinking and define $guarded instead of $fillable, so that you may

[2016-09-16 16:40] #15433 closed

[2016-09-16 17:38] jakubkratina opened #15469 "Eloquent - different connection vs all() method"
- Laravel Version 5.3
- PHP Version: 7
- Database Driver & Version: MySQL 14.14

Hi guys,

I have found strange behavior.

I'm working on a development/production database replication.

**Production Database:**
- image ID 1
- image ID 2
- image ID 3

**Development Database:**
- image ID 3

Now to the problem:

I set connection dynamically:
[code]

Is here something wrong or I just don't understand

[2016-09-16 18:55] GrahamCampbell commented on #15469
Looks correct. Your first one isn't ordered, so your database just gets some random row and gives it to you. The same goes for the 2nd one really.

[2016-09-16 18:55] GrahamCampbell commented on #15469
Look into orderBy. :)

[2016-09-16 18:57] jakubkratina commented on #15469
But development database contains only one row with the ID 3, how can it returns ID 1? The connection is set to the development database, where is only one row.

[2016-09-16 19:00] GrahamCampbell commented on #15469
Errr, no idea.

[2016-09-16 19:04] jakubkratina commented on #15469
Yes, this is why I said it's weird to me :) From me it looks like `all()` method does not work well with changed connection.

[2016-09-16 20:38] themsaid commented on #15286
Well I'm going to close this Issue since it's not a bug report, I suggest that you open a PR with the suggested changes or open an issue on the internals repository, it's where we keep all our discussions & feature requests.

Thanks for the suggestion though :)

[2016-09-16 20:38] #15286 closed

[2016-09-17 04:27] paceband commented on #13903
Using Laravel 5.3.9
See comment from "john5db commented on 6 Jul • edited".
It describes perfectly the problem.

[2016-09-17 04:28] paceband commented on #14593
Using Laravel 5.3.9
See comment from "john5db commented on 6 Jul • edited" from https://github.com/laravel/framework/issues/13903..
It describes perfectly the problem.

[2016-09-17 06:12] ahmadbadpey opened #15474 "/broadcasting/auth route does not work to respond to channel authorization requests"
I am using Pusher to Make real-time laravel notifications.

Laravel by default registered `/broadcasting/auth` route to handle authorization requests via `Broadcast::routes();` included in `BroadcastServiceProvider`.

And in initialization of Pusher, there is a authEndpoint option that can use for Setting the Channel Authentication endpoint like this:

[code]
As you can see I set it to`/broadcasti

[2016-09-17 11:49] yarcowang opened #15477 "Contracts of Validator does't work during package development but facade does"
- Laravel Version: 5.3.9
- PHP Version: 7.0

### Description:
I'm doing a package for laravel, for now it is simply a controller with validation in its method as following:
[code]
So, i need to load the class `Validator`. According to the [laravel doc](https://laravel.com/docs/5.3/packages#a-note-on-facades) , it seems i should use `contracts`. So i add:

[code]
But i'll get error
[code]

By using

[2016-09-17 12:22] #15477 closed

[2016-09-17 12:22] GrahamCampbell commented on #15477
You can't call a static method on a contract. You need to dependency inject it.

[2016-09-17 13:06] m-elyasi opened #15478 "5.3.9 changelog"
- Laravel Version: 5.3.9

### Description:
plz update CHANGELOG-5.3.md file for 5.3.9 version

[2016-09-17 13:07] #15478 closed

[2016-09-17 13:08] GrahamCampbell commented on #15478
It'll be done in good time. If you'd like to do it, please go ahead. The change log is community contributed.

[2016-09-17 13:50] wout commented on #13691
@themsaid Thanks for the follow-up. The project I'm using it in is currently on hold but will be picked up pretty soon. So when I get to it I'll let you know.

[2016-09-17 13:54] paranoid-m opened #15480 "How to manually add composer ClassLoader in Laravel 5.2"
I want add my class to classloader by this commands

[code]
but dose not work and no error
dd($loader):

[code]

[2016-09-17 14:45] number201724 opened #15481 ""controller.plain.stub" Excess use"
- Laravel Version: 5.3
- PHP Version: any
- Database Driver & Version: any

### Description:

controller.plain.stub file:

remove:
use DummyRootNamespaceHttp\Requests;

### Steps To Reproduce:

[2016-09-17 16:46] robclancy commented on #14079
I am getting this issue to with boolean casts. Since the `$original` array has ints from the database but when using them they are boolean and our audit log uses `isDirty()` to know if there were any changes to log. I can work around it but bit annoying.

[2016-09-17 19:37] srmklive commented on #15480
You can do this by adding your own composer package.

[2016-09-17 22:33] bobbybouwmann commented on #15192
So I'm having the same issue here. Not sure yet what it could be, but it has something to do with `$this->failed()`. I'm also having the same issue as @JesseLeite that my job is being removed from the `jobs` table when it fails, but never ends in the `failed_jobs` table...

[2016-09-17 22:45] bobbybouwmann commented on #15192
Currently my job is failing because of the issue @jasonmccreary raised in the first place
[code]
I can find this in my `failed_jobs` table in the `exception` column

[2016-09-18 00:04] yarcowang commented on #15477
@GrahamCampbell Not quite understand. It seems i still need to use facade cause the interface can not be instantiable.
[code]
Does't work. Or i miss something?

[2016-09-18 04:07] paranoid-m commented on #15480
I don not want use composer dump-autoload

[2016-09-18 04:53] Pezhvak opened #15488 "Laravel Echo Private Channel Authentication"
- Laravel Version: 5.3
- PHP Version: 7
- Database Driver & Version: Mysql

### Description:
In my application i have two separated sections for users and admins which i used Auth::guard() to authenticate them.

in my dashboard (admin guard) i used Laravel Echo (pusher) to show live notifications. echo tries to authenticate for incoming messages automatically by sending an XHR request to /broadcas

[2016-09-18 07:22] Zainulabadeen opened #15489 "Laravel 4 - Using multiple filters in route is not working."
- Laravel Version: 4.2.9
- PHP Version: 5.6

Hi guys:

Please help me with the **filter**, only the **first one** is working in route **i.e** birthday filter working but marriage filter don't :-

**In filters.php the code is:**

[code]

**And in route.php the code is:**

[code]
Please help me :(

[2016-09-18 07:26] mikerockett commented on #15489
Please [ask your question on the forums](https://laracasts.com/discuss/conversations/create).

[2016-09-18 07:29] themsaid commented on #15474
Hello Ahmad,

Please ask questions on the forums, this repository is for bug reporting only. Anyway the 403 response means that it's a private channel while there's no logged in user or laravel is unable to authenticate the request with pusher.

[2016-09-18 07:29] #15474 closed

[2016-09-18 07:39] Zainulabadeen commented on #15489
I posted it.

[2016-09-18 08:32] bobbybouwmann commented on #15489
@Zainulabadeen Would be nice if you add a link here as well...

[2016-09-18 09:02] #15489 closed

[2016-09-18 09:03] GrahamCampbell commented on #15489
Only Laravel 5.1 LTS and 5.3 Stable are supported, sorry.

[2016-09-18 09:04] bobbybouwmann commented on #15489
Here is the thread: https://laracasts.com/discuss/channels/laravel/laravel-4-using-multiple-filters-in-route-is-not-working

[2016-09-18 09:31] srmklive commented on #15480
This is not specifically a laravel issue. Refer to composer documentation on how to accomplish this.

[2016-09-18 09:39] #15481 closed

[2016-09-18 09:39] GrahamCampbell commented on #15481
Already fixed.

[2016-09-18 09:42] #15480 closed

[2016-09-18 13:16] RishabSwift commented on #15062
@GrahamCampbell  can you please explain how one would do so with a middleware? Stuck on the same boat.

[2016-09-18 13:17] TheAliAbbasi opened #15492 "segment function of Request service returns urlencoded string"
- Laravel Version: 5.2.43
- PHP Version: 7.0.10
- Database Driver & Version: Mysql 5.5, PDO

### Description:
I tried to use UTF-8 in my URI and in some sceniaros I need to fetch that data using Request::segment(2) and this function returns urldecoded version and I have to decode it wherever I use it

[2016-09-18 13:27] Zainulabadeen commented on #15489
Thanks Bobby and Graham.

[2016-09-18 15:20] leeovery commented on #15191
I agree. I feel that with this new AuthenticationException we've lost something.

I don't see it as a big deal to simply add some params to the exception so we know which guard was used during the failed login attempt:

`protected function authenticate(array $guards)
    {
        if (empty($guards)) {
            return $this->auth->authenticate();
        }

        foreach ($guards as $guard) {

[2016-09-18 18:04] thecrypticace commented on #15469
All is a static method: https://github.com/laravel/framework/blob/5.3/src/Illuminate/Database/Eloquent/Model.php#L626

PHP let's you call it dynamically but sadly gives no indication of that happening.

[2016-09-18 22:12] vincoweb opened #15496 "Abort function do not set status code in header"
- Laravel Version: 5.2
- PHP Version: 7
- Database Driver & Version:

### Description:
abort() do not set status code in header

### Steps To Reproduce:
abort(404) or abort(505) ....

[2016-09-18 23:30] themsaid commented on #15496
abort() just throws an `HttpException`, how you handle that exception can be altered by the user. However if no custom handlers defined laravel displays the error view with the status correctly set.

[2016-09-18 23:35] themsaid commented on #15492
@TheAliAbbasi your issue is missing the "Steps to reproduce" section, please provide an example on your issue.

[2016-09-18 23:45] themsaid commented on #15488
You can pass route parameters to the broadcasting routes:

[code]

[2016-09-19 00:05] themsaid commented on #15469
Any reason why not just use `get()`? I don't think there's a way to fix this without making a breaking change.

[2016-09-19 00:27] bradbird1990 opened #15497 "snake_case() not working with lowercase words"
I think snake_case() is still not working correctly; found it was last fixed here #9535.
Would fix this issue myself but don't know regex.

I expect "hello world" or "Hello World" to convert to "hello_world" regardless of if I use uppercase or lowercase. In fact, I think "HELLO WORLD" should also convert to "hello_world."

Currently it's only working if I use capitals for first letters in a senten

[2016-09-19 05:51] TheAliAbbasi commented on #15492
Reproduce steps:
Make a reoute like following
[code]

[2016-09-19 06:29] jakubkratina commented on #15469
@themsaid: There is no reason. At first I used the `all` method. I did not know `get` method works.

[2016-09-19 07:26] vincoweb commented on #15496
Thanky you for your replay, but I think it could by set status code in header. It is strange if i set abort() with status code ( for instance abort(500) )  which throw HttpException.  HttpException can set headers in constructor. Why then HttpException do not set headers?  It is misleading that I can set status code in abort function and do not use it for header.

+ Also abort(404) throw NotFoundH

[2016-09-19 07:43] whfamily2006 opened #15499 "GroupBy working fine in 5.2 but not working in 5.3"
- Laravel Version: 5.3
- PHP Version: 5.6.24
- Database Driver & Version: 5.0
- Local Environment: Windows 10 with Xampp [5.6.24 / PHP 5.6.24]

### GroupBy() usage as follows:

return $CurrencyPair::with( 'destinationCurrency' )->groupBy( 'destination_currency_id' )->get();

### Error:

[2016-09-19 08:40] GrahamCampbell commented on #15499
Please provide the **full** laravel version.

[2016-09-19 08:42] #15496 closed

[2016-09-19 08:43] GrahamCampbell commented on #15496
There should be no status code header. Http puts the status code before the headers.

For example:

[code]

[2016-09-19 08:47] GrahamCampbell commented on #15497
That seems to be correct due to the ctype_lower part.

[2016-09-19 08:48] #15488 closed

[2016-09-19 08:56] bradbird1990 commented on #15497
Is there any reason why it checks that a string is not lowercase? Maybe for some other use in the framework? Personally, I wouldn't like to have to to ucfirst() or ucwords() to convert to snake case. Makes more sense it just works for all strings.

[2016-09-19 09:01] themsaid commented on #15499
@whfamily2006 and the database driver please.

[2016-09-19 09:24] marktopper commented on #15497
@bradbird1990: In your case I would just run this:

[code]

Since `snake_case` would not be able to do this for you.

[2016-09-19 09:47] whfamily2006 commented on #15499
### Laravel Full version
In my composer.json file  "laravel/framework": "5.3.*"

### Database Driver
In my config/database.php file database drivers is

[2016-09-19 09:50] themsaid commented on #15499
@whfamily2006 ok, you need to disable strict mode, in `config/database.php` under your mysql connection set `'strict' => false,`.

Strict mode is on by default in laravel 5.3, with strict mode you can't use select *, you'll have to use aggregate functions or select only fields defined in `GROUP BY`.

[2016-09-19 09:50] #15499 closed

[2016-09-19 09:55] GrahamCampbell commented on #15499
That's still not the full version. You can find it by running `composer show -i`.

[2016-09-19 09:56] #15497 closed

[2016-09-19 09:59] whfamily2006 commented on #15499
### Laravel Full Version
5.3.9

[2016-09-19 10:00] whfamily2006 commented on #15499
Thanks @themsaid its DONE...

[2016-09-19 10:59] masonfox commented on #13364
I also had this issue 👍

[2016-09-19 11:31] srmklive commented on #15492
@TheAliAbbasi Do you have `php_intl` extension enabled?

[2016-09-19 11:47] TheAliAbbasi commented on #15492
@srmklive nope, but I installed it and no differences. I can ```php urldecode() ``` the segment on my own, and other functions such as input() or only() functions or in router binder. it's just this function is excluded

[2016-09-19 12:17] srmklive commented on #15467
You need to manually capture the output. I normally do it through like this:
[code]

[2016-09-19 12:46] JesseLeite commented on #15192
@jasonmccreary sorry for delayed reply, was camping all week ⛺

As mentioned in my original post, we're running into this problem when manually running `php artisan queue:listen --tries=3` locally, so it's not like we had any processes/daemons to restart.

Curious if you had a chance to dig in?  I wonder if this issue relates specifically to the database queue driver, or others as well.

[2016-09-19 17:48] jarnovanleeuwen commented on #9427
Fixed in https://github.com/laravel/framework/pull/15334.

[2016-09-19 17:56] jarnovanleeuwen commented on #15469
I do not know exactly how you change from development to production database, but when you reuse connection names (i.e. keeping the model's `$connection` and changing the config) you should purge the old connection with `DB::purge('connection-name')` after making your changes. Otherwise Laravel will continue to use the other database out of its connection resolver cache.

[2016-09-19 18:18] spyric opened #15508 "Is documentation about notifications fakes is correct?"
- Laravel Version: 5.3.9
- PHP Version: 7.0.8

In documentation wrote that I can check is notification sent with that lines:
[code]

But it fails. And I check the code and there is no lines that responsible for handling of array or collection

[2016-09-19 18:20] murwa commented on #8972
This issue still persists for laravel 5.1.*

I have a Location model, with a polymorphic relation to a couple of other models. On this models, I have a casts defined as:
[code]

From the related models, when saving I'm doing:

[code]

then update like so:

[code]

The save method causes a double cast on the defined fields, causing the end result to be a string. However, update works as expected.

[2016-09-19 20:34] mahmutbayri opened #15510 "Could you increment a new tag for 5.1 branch, please?"
- Laravel Version: 5.1.*
- PHP Version:7.0
- Database Driver & Version:mysql & 5.7

### Description:
Could you increment a new tag for 5.1 branch, please?

Thanks.

[2016-09-19 21:03] mreschke commented on #15352
@themsaid wow thank you so much.  That is exactly what was need to get the middleware back in the same order.

So from any "apps" provider `boot()` I can now `$router->pushMiddlewareToGroup('web', \Mrcore\Wiki\Http\Middleware\AnalyzeRoute::class);` which will indeed push back to end of `web` group as it used too in laravel 5.1.

[code]

[2016-09-19 21:03] #15352 closed

[2016-09-19 21:04] themsaid commented on #15352
@mreschke Glad I could help :)

[2016-09-19 21:06] themsaid commented on #15510
A new release will be tagged soon, thanks :)

[2016-09-19 21:06] #15510 closed

[2016-09-19 21:09] themsaid commented on #15508
Closing since the PR got merged: https://github.com/laravel/framework/pull/15506

[2016-09-19 21:09] #15508 closed

[2016-09-20 02:58] JesseLeite commented on #15192
@crynobone and I were chatting about [this commit he made a while back to InteractsWithQueue](https://github.com/laravel/framework/commit/638e32ab500150b36956bc9942c5c9719883071d).  He suggested the `failed()` method be removed from `InteractsWithQueue` altogether, since at the time of his commit, the `failed()` method had different intention than [the current implementation in 5.3](https://larave

[2016-09-20 07:30] jarnovanleeuwen commented on #15492
Symfony's `getPathInfo()` returns deliberately a urlencoded path. Laravel provides access to a urldecoded path through `Request::decodedPath()`, but not to segments. I think you could easily write a wrapper for the segment function that returns urldecoded segments.

[2016-09-20 08:18] #15469 closed

[2016-09-20 08:19] GrahamCampbell commented on #15469
Doesn't look like a bug since all isn't a method that respects the object state since it's static by design.

[2016-09-20 08:32] ssuhat opened #15514 "[5.3] Polymorphic Relation using whereHas return column not found"
- Laravel Version: 5.3.9
- PHP Version: 7
- Database Driver & Version: MariaDB 10

My current model structure:

       Image.php

	public function imageable()
	    {
	        return $this->morphTo();
	    }

	User.php

	public function images()
	    {
	        return $this->morphMany(Image::class, 'imageable');
	    }

### Steps To Reproduce:

I query it like this:

        $gender = 1;
	$lookIds

[2016-09-20 08:37] djoylove opened #15515 "［5.1］Maximum execution time of 30 seconds exceeded"
- Laravel Version:5.1.43
- PHP Version:5.5.26
- Database Driver & Version:
mysql
### Description:
Maximum execution time of 30 seconds exceeded

suddenly the four file
FileTypeFilterIterator,
DateRangeFilterIterator,
ExcludeDirectoryFilterIterator
FilterIterator
occur error:Maximum execution time of 30 seconds exceeded

who know what's wrong with it
### Steps To Reproduce:

[2016-09-20 09:03] #15515 closed

[2016-09-20 09:04] GrahamCampbell commented on #15515
Sounds like a bug in your code.

[2016-09-20 10:55] jasonmccreary commented on #15192
@JesseLeite sorry for the delay. I have not. As you have, I spent a good few hours trying to determine the root cause before moving on.

I definitely think there is something here. Whether it's the config, PHP 7, the daemon, the driver, or some combination therein, I don't know. But somethings up. Hopefully we'll get some more participation on this issue.

[2016-09-20 11:42] cristian-stoicescu opened #15517 "Route optional parameter doesn't get set or binded"
- Laravel Version: 4.2.0
- PHP Version: 5.5.9

### Description:
For a given route Route::put('item/{page?}')->defaults('page','home')` and a binding on page
`Route::bind('page',function($value,$route) { return $value + '1' })` the binding itself is not called when the parameter is missing from the url, and the parameter is not set in $route->parameters()

I have found a workaround with a beforeFil

[2016-09-20 12:00] iamayaz opened #15518 "Forcing A Unique Rule To Ignore A Given ID"
- Laravel Version: 5.2.
- PHP Version: 5.4.6

### Description:

I have table in which i'm trying to store email addresses. These email addresses will be save with user_id.

For example in email_list table

[code]
In above table you can see same email addresses save with different user_id, that's it what i'm trying to do.

Currently i'm trying simple laravel validation like this.

[code]

So is the

[2016-09-20 12:01] themsaid commented on #15518
`'email' => 'unique:email_list,email,'.$user->id` ?

[2016-09-20 12:03] iamayaz commented on #15518
What value has $user-> ?

[2016-09-20 12:04] themsaid commented on #15518
Replace `$user->id` with the primary key you want to ignore, here it's the user_id.

I'm closing since this is not a bug report, however feel free to ask on the forums or ping me if you need further help.

[2016-09-20 12:04] #15518 closed

[2016-09-20 12:05] iamayaz commented on #15518
@themsaid  i'm not validating with primary id as you can see in the table

[2016-09-20 12:05] themsaid commented on #15517
`4.2.0` is closed for fixes and enhancements, please consider upgrading.

[2016-09-20 12:05] #15517 closed

[2016-09-20 12:59] themsaid commented on #15518
You example was correct then:

[code]

[2016-09-20 13:03] iamayaz commented on #15518
@themsaid yes that's why i'm asking here, because when i'm trying to add same email (john@gmail.com) with user_id = 105 then its return error 'The email has already been taken.'. However it should not return error because i'm adding with different user_id

[2016-09-20 13:09] themsaid commented on #15518
You're ignoring `102` but there's another record with ID `101`

[2016-09-20 13:10] iamayaz commented on #15518
@themsaid Aaahhhh... it's means i have to mentioned all exist id's as well ?

[2016-09-20 13:26] themsaid commented on #15192
Check this commit: https://github.com/laravel/framework/commit/e1d60e0fe120a7898527fb997aa2fb9de263190c

The method was renamed to `fail()` to avoid the conflict, maybe the answer lies there.

[2016-09-20 13:28] themsaid commented on #15518
I don't think you can ignore multiple IDs, only 1.

I guess you'll need to create your own validation rule.

[2016-09-20 13:33] iamayaz commented on #15518
@themsaid Thank you so much, i'm going to try. If you have time then kindly save my time, I would like to appreciate. 👍

[2016-09-20 13:38] themsaid commented on #15514
@ssuhat can you please share the full query?

[2016-09-20 13:40] JesseLeite commented on #15192
@themsaid, thank you I saw @taylorotwell's [reply](https://github.com/laravel/framework/pull/15519#issuecomment-248299886) and commit.  However, even if we add our own `failed($exception)` method to our job (which would override the method that Taylor renamed there), the issue still remains.

I'm not 100% sure, but I believe it might be something that changed in [this commit](https://github.com/la

[2016-09-20 13:40] themsaid commented on #15514
Looks like a duplicate of https://github.com/laravel/framework/issues/5429, it seems that there's no fix for this issue, the way the queries are built under the hood doesn't make it easy to adapt for the morphing relation.

[2016-09-20 13:40] #15514 closed

[2016-09-20 13:58] themsaid commented on #15192
@JesseLeite  Not sure if your issue is the same as @jasonmccreary, I'm kind of confused here :) I feel like they are two different issues, no?

[2016-09-20 14:04] JesseLeite commented on #15192
@themsaid possibly.  I feel like we're both pointing at different possible causes, but neither of us are really sure what's really going on.  @jasonmccreary, correct me if I'm wrong, but what I believe we both have in common is this:

1. A job fails silently (no exception, and nothing in log).
2. That job is not released back either the `jobs` or `failed_jobs` table (when PHP dies, we lose that jo

[2016-09-20 14:07] jasonmccreary commented on #15192
Yes, @themsaid my original *issue* seems to be the same as what @JesseLeite is now describing. I backed off as I did not have time to reproduce the error.

Since, I have noticed something else unrelated to this issue, but related to the queue behavior which is the combination of `tries` vs `retry_after` configuration noted in [my previous comment](https://github.com/laravel/framework/issues/15192#

[2016-09-20 14:10] CupOfTea696 commented on #13090
@GrahamCampbell I presume the actual code example probably looks a little more like this:

**view.blade.php:**
[code]

**partials/each.blade.php:**
[code]

[2016-09-20 14:37] themsaid commented on #15192
@JesseLeite I've tried to replicate the issue using the database driver, I throw an exception in the `handle()` method of the Job and then start the queue using:

[code]

The Job runs 3 times and then get removed from the jobs table and a new record is added to the failed_jobs table.

Are you experiencing the issue with the database driver too? @jasonmccreary couldn't replicate using the sync driv

[2016-09-20 16:37] Modelizer opened #15523 "False redirection."
- Laravel Version: 5.3.8
- PHP Version: 7.0
- Database Driver & Version: 5.6

### Description:
I reseted `$redirectTo` to `/dashboard` but still after hitting `login` its get redirected to `/home`

### Steps To Reproduce:
1. Run `php artisan make:auth`.
2. Replace `$redirectTo` value to `/dashboard`.
3. Register a user and login.
4. After login manually hit `login` URL.
5. It will be redirected to

[2016-09-20 16:43] bobbybouwmann commented on #15523
You need to update your `RedirectIfAuthenticated.php` middleware class as well

[2016-09-20 16:49] #15523 closed

[2016-09-20 17:16] hairmenu opened #15525 "logout redirect"
- Laravel Version: 5.3

In 5.3 the redirectAfterLogout option seems to be missing. So the is no other way to overwrite the logout method from autehnticatesUsers in order to define another redirect routes (which is the case when you are using multi auth)

### Steps To Reproduce:
Adding redirectAfterLogout var in loginController is not changing anything

[2016-09-20 17:20] themsaid commented on #15467
@srmklive  I don't think the `call()` method takes three parameters.

[2016-09-20 17:21] #15467 closed

[2016-09-20 17:24] themsaid commented on #15525
You can just override the logout function and customize the redirect path as you wish.

[2016-09-20 17:24] #15525 closed

[2016-09-20 17:25] anuj331991 opened #15526 "Feature request"
- Laravel Version: #.#.#
- PHP Version:
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2016-09-20 17:26] #15526 closed

[2016-09-20 17:26] anuj331991 commented on #15526
Hi please add modular structure in laravel similar to zend, that would be really a great feature

[2016-09-20 17:26] themsaid commented on #15526
For suggestions and feature requests please use the https://github.com/laravel/internals repo.

[2016-09-20 17:28] themsaid commented on #15466
I'm closing since it doesn't seem to be a bug actually, I think it's the way it works.

[2016-09-20 17:28] #15466 closed

[2016-09-20 17:30] themsaid commented on #15376
Thank you for reporting, I think submitting a PR is a good idea since it's better we discuss implementations. Closing this since it's not actually a bug report :)

[2016-09-20 17:30] #15376 closed

[2016-09-20 18:27] themsaid commented on #15386
@huglester did you manage to sort it out?

[2016-09-20 18:30] themsaid commented on #14590
Closing for lack of activity.

[2016-09-20 18:30] #14590 closed

[2016-09-20 18:38] ZeyadMounir commented on #15466
`     var pusher = Echo.private("conversation.{{$conversation->id}}").listen('MessageSent', addMessage);
      pusher.on('pusher:subscription_succeeded', function() {
        var socket_id =  Echo.socketId();
        $.ajaxSetup({
            headers: {'X-Socket-ID': socket_id}
        });
      })
`
Here is a better solution.

[2016-09-20 18:55] thachp commented on #14135
I am having similar issues; it seems the methods in policy class never got execute.   I followed the example in the tutorial, except that I never "got here" in the update() method.

    public function update(User $user, Post $post)
    {
    	die("got here");
        return $user->id === $post->user_id;
    }

https://laravel.com/docs/5.3/authorization#generating-policies

[2016-09-20 18:58] srmklive commented on #15467
@themsaid It does. The third parameter is optional.

[2016-09-20 19:30] honny1990 opened #15528 "QueryBuilder when() don't handle var = 0"
- Laravel Version: 5.3.10
- PHP Version: 5.6.24

### Description:
If I use the query function when() and my var to be tested is 0, the function don't add the sub query to the main query.
`$state = 0;`
`->when($state, function ($query) use ($state) {
                return $query->where('ships_ui.state', '=', $state);
            })`

I changed when() in Illuminate\Database\Eloquent\Builder and Ill

[2016-09-20 19:35] themsaid commented on #15528
zero is evaluated as false, so this is an expected behaviour.

[2016-09-20 19:35] #15528 closed

[2016-09-20 19:40] honny1990 commented on #15528
i know, but sometimes the var need to be 0.

[2016-09-20 19:45] themsaid commented on #14585
This is an expected behaviour, you've set your composer to run on all views, this includes partials as well, every time you call `@include()` the view is rendered which will cause the composer you set to run.

I recommend that you avoid using `*` and create better naming conventions that'll allow you to run the composer while building the main views only.

[2016-09-20 19:45] #14585 closed

[2016-09-20 19:55] bunlongheng opened #15529 "ERROR: relation "migrations" already exists (SQL: create table "migrations" ("migration" varchar(255) not null, "batch" integer not null))"
- Laravel Version: 5.1
- PHP Version:5.6
- Database Driver & Version: psql

### Description:

I run `php artisan migrate` the first time, and it work perfectly fine.

I got

[code]

It added all the schemas into my psql database.

### Then:

I've added 1 more migration script to **alter** one of my table.

[code]

As soon as I ran `php artisan migrate`,  I started to see this error.

____

    [Il

[2016-09-20 20:52] themsaid commented on #15455
When you use the DatabaseMigrations trait in tests, a call to `$this->artisan('migrate')` is made for every test, this call creates an instance of `Illuminate\Console\Application` and resolves all commands.

Inside any test if you try to swap any console command dependency using `$this->app->bind()` and then call the command via `$this->artisan('command')` the old concrete implementation will be c

[2016-09-20 21:03] themsaid commented on #15529
Please provide the full laravel version

[2016-09-20 21:18] #15492 closed

[2016-09-20 21:59] walterred commented on #11043
Hi, could you resolve it?

[2016-09-20 22:15] #15455 closed

[2016-09-20 23:06] bretto36 opened #15532 "Builder Update() always updates timestamps"
- Laravel Version: 5.3.10
- PHP Version: 5.6.19
- Database Driver & Version: MySql 5.7.11

Description: So is there a way to stop an update query from updating timestamps. I need to run some updates that won't affect the updated_at column but have no way to stop it from updating the timestamp

Steps To Reproduce:

$user->tax_codes()->update(['field' => 1]);

I'd like to be able to pass either an o

[2016-09-20 23:09] bretto36 commented on #15532
I forgot to mention this is for a hasMany relationship

[2016-09-20 23:59] caiquecastro commented on #15532
Do you want to prevent it from updating the updated_at field on the parent or child class/entity or both?

[2016-09-21 00:48] bretto36 commented on #15532
For me right now all i need is the child class timestamps to be ignored

[2016-09-21 04:08] yugidestiny opened #15533 "Missing array attribute in Request from JQuery"
- Laravel Version: 5.2
- PHP Version: 5.6.20
- Database Driver & Version: MYSQL
- Server: Linux

### Description:
Hi, I am new and first time create issues post here. Please forgive me if my description of issues is not clear. I am using JQuery Datatable on Laravel, in my linux server I can see the object "search" is generated correctly in console but in my controller I checked the request it only

[2016-09-21 06:09] HassanShojaei commented on #14585
Thank you themsaid.
I know what are you talking about but what is problem here for me is that, when I have a view that include another view in it and both of them use my defined composer variables, in ideal way I expect that my composer run just once at the start and date share between all views not that Laravel run my composer every time that I use include for just one page with multiple views.

[2016-09-21 06:09] drewich opened #15534 "Laravel 5 Schedulled Command"

[2016-09-21 06:52] #15534 closed

[2016-09-21 07:54] #15533 closed

[2016-09-21 07:54] GrahamCampbell commented on #15533
Please ask on the forums.

[2016-09-21 07:55] #15529 closed

[2016-09-21 07:55] GrahamCampbell commented on #15529
You can only do one alter at once.

[2016-09-21 08:15] erikmoren commented on #15192
I had the same problem that the failed method was not called, and the job disappeared and was not moved to the failed_jobs table.

I changed my job´s failed method to also accept the event, like this:
`public function failed($event, Exception $e)`

and now it works.

According to this code
[code]
in this file
`https://github.com/illuminate/queue/blob/5.3/Jobs/Job.php`
it looks like it tries to sen

[2016-09-21 09:34] themsaid commented on #15532
Convert it to Base Builder:

[code]

[2016-09-21 09:34] #15532 closed

[2016-09-21 10:10] philbates35 commented on #15192
Hi, we came across an issue this morning that sounds like its related to other posts here after upgrading to 5.3 yesterday (specifically 5.3.9 and the `database` queue driver).

We had multiple jobs that hit the default timeout of 60 seconds over night, and the `Illuminate\Queue\TimeoutException: Queue child process timed out after 60 seconds.` exception was logged as expected. However, the job th

[2016-09-21 10:31] themsaid commented on #15192
@philbates35 I've tried to replicate locally too with no luck, that's one tricky issue to trace.

[2016-09-21 10:32] bretto36 commented on #15532
Thank you @themsaid

[2016-09-21 10:35] themsaid commented on #15439
@edd-smith why wouldn't it work by default? What errors do you receive?

[2016-09-21 11:06] jasonmccreary commented on #15192
@philbates35's issue is more inline with what I'm now experiencing. However, I'm still curious what the original issue was.

I agree with @GrahamCampbell that the missing parameter isn't how PHP *normally* behaves, but I'm curious with PHP 7's new *Error* exception, if certain error reporting configurations would cause this behavior.

Anyway, I'm curious the stack for people having this issue. May

[2016-09-21 11:07] CnR89 opened #15536 "Redundant QueryBuilder call"
- Laravel Version: 5.*

When we call "updateOrInsert" method laravel runs exists methods to check run insert or update.
Calling "exists" methods already adds where attributes to builder.

So;

https://github.com/laravel/framework/blob/5.3/src/Illuminate/Database/Query/Builder.php#L2175

`return (bool) $this->where($attributes)->take(1)->update($values);`

  must be
`return (bool) $this->take(1)->u

[2016-09-21 11:09] themsaid commented on #15536
What's wrong with the current implementation?

[2016-09-21 11:13] CnR89 commented on #15536
This implementation causes to duplicate where query.

Like:
`update 'blocks' set blocked_at = '2016-09-21 13:54:10', unblock_at = '' where (blocked_by = '2' and user_id = '1' and performer_id = '1') and (blocked_by = '2' and user_id = '1' and performer_id = '1') limit 1`

[2016-09-21 11:46] philbates35 commented on #15192
Here's our stack:

Laravel 5.3.9
Database queue driver
Work command: `php artisan queue:work --daemon --memory=2048 --tries=1`
CentOS 6.8
PHP 5.6.23 (IUS yum repository)
MySQL 5.6.31 (IUS yum repository)
Supervisor 2.1 (EPEL yum repository)

[2016-09-21 11:55] huglester commented on #15386
hello @themsaid , grats on your new role :)
Well, I just upgraded to 5.3.10 version and there seems to be no problems, I tried 5.3.9 and also could not reproduce :/
Well for now probably closing this!

[2016-09-21 11:55] #15386 closed

[2016-09-21 11:56] themsaid commented on #15386
@huglester thank you :)

Thank you for the follow up on the issue as well :)

[2016-09-21 13:04] carlcassar commented on #15248
@themsaid any updates on this? Any suggestions? We are unable to upgrade to 5.3 until we are able to resolve this issue.

Thank you for your time.

[2016-09-21 13:12] JacobBennett commented on #15455
Thanks @themsaid and @taylorotwell. Nice work! That was LIGHTNING fast!

[2016-09-21 13:18] lasselehtinen commented on #15437
This is probably related to similar issue #15195 and how Doctrine normalizes the column names?

[2016-09-21 13:29] GrahamCampbell commented on #15536
Feel free to PR an improvement if you want.

[2016-09-21 13:29] #15536 closed

[2016-09-21 13:30] #15437 closed

[2016-09-21 13:39] dietercoopman commented on #15437
Ok , i understand that this is a Doctrine issue , but wouldn't it be more "friendly" to throw an error when someone tries te make / rename a field with uppercase in it when using the Schema Builder.

[2016-09-21 13:45] JesseLeite commented on #15192
@themsaid Yesterday I created a fresh 5.3 project and tried to reproduce as well, but can't seem to be able to.  I would think it has something to do with my code, but I'm not sure where to look.  It worked in 5.2, and nothing has changed on this 5.3 upgrade branch apart from upgrade guide related commits.  I'll keep playing around to see if I can reproduce in a fresh 5.3 app.

Laravel 5.3.9 and u

[2016-09-21 14:34] taylorotwell commented on #15248
I really don't think this is a bug. You can't eager load a relationship that doesn't exist.

[2016-09-21 14:42] themsaid commented on #13658
That's Taylor.

That said, I think this issue isn't actually a security vulnerability :)

[2016-09-21 14:42] #13658 closed

[2016-09-21 14:46] lukasoppermann commented on #13658
It is a security vulnerability, it even has a name: "enumeration". The Signup can be protected as well though. For example by requiring a verification via email before you login a user.

[2016-09-21 14:47] themsaid commented on #13658
Yeah but you can still know who's in the system by trying to register using an email, you'll be able to know if that email is in the system or not.

[2016-09-21 14:50] Jono20201 commented on #15248
@taylorotwell,

Thanks for your reply.

I agree that you cannot eager load a relationship that doesn't exist. However, this isn't really what we're asking for in this issue.

What we're looking for is for there to (maybe?) be a flag where you can gracefully ignore missing relationships in cases were the relationship doesn't exist on a polymorphic relationship, but load it if it does exist in anoth

[2016-09-21 14:51] lukasoppermann commented on #13658
no, you will not. You will get an email to either verify your email, or you will get an email telling you that "you or somebody" tried to register but you already have an account.

[2016-09-21 14:57] themsaid commented on #15235
It'll be stated as a limitation in the docs. Closing this issue then.

[2016-09-21 14:57] #15235 closed

[2016-09-21 15:00] tinthenet commented on #9080
In my case, I just run the command `php artisan config:clear`. Thank you!

[2016-09-21 16:13] acasar commented on #15248
@Jono20201 @taylorotwell Another way to solve this issue would be to allow nullable relations. This could be done with this tiny change: https://github.com/acasar/framework/commit/c19470c96eaeb61275e776017e451ec8ce24fc14

That way you could add a nullable relation to your ``Staff`` model making both ``Staff`` and ``Customer`` truly polymorphic (i.e. they would behave the same).

[code]

@Jono20201

[2016-09-21 16:25] Jono20201 commented on #15248
@acasar My only concern is this could be messy on models that don't need this type of relationship?

[2016-09-21 16:32] acasar commented on #15248
I think that if you wish to use different models in a polymorphic way then it kinda makes sense for them to have the same method signatures.

I don't particularly like the idea of adding a method like ``ignoreMissingRelationships()`` since you would always need to worry about which relations exist and which don't when dealing with them in a polymorphic context.

[2016-09-21 16:43] #14253 closed

[2016-09-21 18:08] ryanwhittaker opened #15546 "Remove Global Scopes from Eager Loaded Relationships"
- Laravel Version: `5.3.10`
- PHP Version: `7.*`
- Database Driver & Version: MySQL `5.7.12`

### Description:
- (forgive my ignorance if I'm mistaken) There is currently no way to remove a Global Scope off a relationship that you are eager loading onto a model.

**Example:**
- `\App\Models\Posts` contains a global scope: `ActiveScope` that only displays `active` posts by default.
- `Posts` belong

[2016-09-21 18:32] edd-smith commented on #15439
For me, using the "storage:link" command, the symlink created does not work inside the homestead VB and as such you can not upload or access files in the storage folder.

However manually creating a relative symlink fixes this problem.

[2016-09-21 18:34] themsaid commented on #15439
By doesn't work you mean erroring or just doesn't take effect?

[2016-09-21 18:51] edd-smith commented on #15439
It silently fails. No error message, it doesnt take effect.

[2016-09-21 19:58] themsaid commented on #15546
Sorry @ryanwhittaker but this repository is only for bug reporting :)

You can use the forums to ask questions, there's a much bigger chance that you receive an answer there.

[2016-09-21 19:58] #15546 closed

[2016-09-21 20:01] ryanwhittaker commented on #15546
Is it not considered a bug that there is no way I can remove the applied global scope from the relationship I'm eager loading?

I consider that a bug personally, as I have no way besides modifying it to be a local scope (not the functionality I wanted) to get the functionality I'm expecting.

[2016-09-21 20:04] themsaid commented on #15546
Well it's considered a bug if you're sure about it, but since you're asking it's better that you make sure there's no way first and then submit a report.

Also please help us handle issues better by including the "Steps to reproduce" section of the issue, we try to replicate the problem in order to start looking for a fix, without this section the Issue takes a lot of time before any of us conside

[2016-09-21 20:05] ryanwhittaker commented on #15546
That makes sense, thanks @themsaid . Perhaps this would be an issue thats more fitting as a PR proposal?

[2016-09-21 20:06] themsaid commented on #15546
Yeah, if you could find a fix and submit a PR that would be great :)

[2016-09-21 20:12] strainovic commented on #13117
I have the same problem.

paginate() method works fine.

[2016-09-21 20:24] davidhemphill commented on #15455
Thanks you!

[2016-09-21 21:12] chandrewz opened #15550 "Illuminate\Http\Request fullUrl() does not preserve the original URL's order"
- Laravel Version: 5.2.*
- PHP Version: 5.6.14
- Database Driver & Version:

### Description:

Using `Request`'s `fullUrl()` with an array in the parameter does not preserve the original URL. Looks like alphabetical ordering is taking place.

### Steps To Reproduce:

Add to routes.php:
[code]

Visit a URL:
[code]

Array visualized (b is BEFORE a):
[code]

Output in browser (note that array[a] came

[2016-09-21 23:45] frohlfing opened #15551 "Session disappears after a few image requests"
- Laravel Version: 5.3.10
- PHP Version: 5.6.25, Not Thread Safety
- Session Driver: file
- OS: SunOS 5.10 (Strato Webhosting) and XAMPP (Mac)

### Description:

When I show a page with a few images and reload the page a few times, the session-data will be lost completely.

The problem happens on my production system (Linux), and on XAMP (Mac), too.

### Steps To Reproduce:

The case can be simpli

[2016-09-22 00:51] #15551 closed

[2016-09-22 00:52] GrahamCampbell commented on #15551
Doesn't look like a laravel bug, and your session tart hack is really not a good idea. It also has nothing todo with laravel sessions.

[2016-09-22 00:53] GrahamCampbell commented on #15550
That looks like the correct behaviour, yes.

[2016-09-22 00:53] #15550 closed

[2016-09-22 05:58] frohlfing commented on #15551
Sorry, don't believe this. If try it without laravel framework, and all works fine:

[code]

[2016-09-22 08:39] erajay opened #15554 "laravel 5.3 change SQL query of Authentication"
i am using laravel5.3 and authentication. i want to change email field as non unique field means same email registered multiple time .Register is successful but on login its take only first credentials true . how i remove first from query in laravel Auth.

[2016-09-22 08:41] themsaid commented on #15554
Hello there,
This repository is for bug reports only, for questions please ask on the forums

Thanks :)

[2016-09-22 08:41] #15554 closed

[2016-09-22 08:54] themsaid commented on #15305
@Kyslik did you get the chance to get more details about the issue?

[2016-09-22 08:56] themsaid commented on #15192
Are you all using the database driver? or is it failing on different drivers?

[2016-09-22 09:31] DanielKeeble opened #15555 "Session randomly expiring too early"
- Laravel Version: v5.2.45
- PHP Version: 7.0.3-3
- Database Driver & Version: MySQL 5.7.10
- Cache engine: Memcached 2.2.0

### Description:
I have my session lifetime set to 60 minutes. However sessions seem to be expiring after only about 20 minutes. We haven't been able to find a specific value after which the sessions seem to be expiring but it would appear to be anywhere from about that 20 m

[2016-09-22 09:34] chamav opened #15556 "Troubles after new implementation filterFiles"
- Laravel Version: 5.3.10
- PHP Version: 7.0.10
- Database Driver & Version:

### Description:
after last changes sometimes we have the error in

[code]

incorrect work method duplicates in class Request
[code]

because variable $files  by default is null
I think that need  to change  input parameters on $files = []
or add checks to filterFiles file

### Steps To Reproduce:
if i used $request->ins

[2016-09-22 09:36] themsaid commented on #15556
Interested to know why would you use `$request->instance()->duplicate()`?

[2016-09-22 09:50] chamav commented on #15556
I used batch-request  library for used union few api methods in one batch
https://packagist.org/packages/optimus/batch-request

https://github.com/esbenp/laravel-api-consumer/blob/master/src/Router.php
string 117
In my opinion, it is no mistake of library

[2016-09-22 10:06] frohlfing commented on #15551
I can reproduce the issues on this system too:

- Laravel Version: 5.1.33 (LTS)
- PHP Version: 5.5.9
- OS: Ubuntu 14.04

The problem is well know! I found[laravel-locking-session](https://github.com/rairlie/laravel-locking-session).This package addresses the problem where session data will be lost due to concurrent requests.  I have installed it now and it's seems to solve my problem - but I think

[2016-09-22 10:10] themsaid commented on #15556
Yeah, submitted a fix. Thank you for the report :)

https://github.com/laravel/framework/pull/15558

[2016-09-22 10:11] themsaid commented on #15555
Is that a new issue or are you experiencing this since the beginning?

[2016-09-22 10:20] DanielKeeble commented on #15555
@themsaid I want to say a new issue, however as I wasn't handling unauthorised requests properly, it could have been around for a while. Sorry I can't be more specific.

[2016-09-22 10:23] DanielKeeble commented on #15555
@themsaid Do you think any of these might be related/of use?

https://github.com/laravel/framework/issues/9787

https://github.com/laravel/framework/commit/0831312aec47d904a65039e07574f41ab7492418

[2016-09-22 10:28] themsaid commented on #15555
Could be :) Hard to tell without being able to reproduce the issue.

[2016-09-22 10:30] DanielKeeble commented on #15555
@themsaid I appreciate it's basically impossible to debug without being able to replicate the issue.

So there are no known issues with Laravel and memcached?

[2016-09-22 10:40] chamav commented on #15556
Thank you very mach!

[2016-09-22 10:40] #15556 closed

[2016-09-22 10:41] themsaid commented on #13117
I can't replicate this in 5.3, @strainovic how do you replicate?

[code]

Returns a different id in every page.

[2016-09-22 11:01] themsaid commented on #13117
@Jimbolino you say the problem is in `$in_range->render()`, what do you mean by that?

[2016-09-22 12:10] strainovic commented on #13117
@themsaid

I'm using 5.2 and I didn't try 5.3

[2016-09-22 12:15] philbates35 commented on #15192
@themsaid reading through this issue thread again, it seems everyone that has reported issues here was using the database driver (references to `jobs` and `failed_jobs` tables, or explicitly stating they are using the `database ` driver).

[2016-09-22 12:16] philbates35 commented on #15192
That doesn't rule out that there issue didn't occur with other drivers too of course, just that no one has reported an issue with the other drivers.

[2016-09-22 12:57] themsaid commented on #15192
Yeah that's what I suspect, I'm thinking if maybe some sql error happens in the middle and for some reason doesn't get logged.

[2016-09-22 13:00] themsaid commented on #13117
@strainovic can you please share steps to reproduce?

[2016-09-22 13:13] themsaid commented on #15555
Not that I know of, these "random" stuff are very hard to debug. I appreciate if you can take a look at the problem at your end since you can replicate.

[2016-09-22 13:13] carlosadames commented on #13506
I had the same problem. I'm usign Laravel framework 5.0.34. I had this structure:

App/Models/Users/ (My users's Models here)

After moving my users's models to the **App** directory, my seeder problem was solved.

Try and let me know.

Hope it helps!

[2016-09-22 13:33] themsaid commented on #14625
Closing for lack of activity.

[2016-09-22 13:33] #14625 closed

[2016-09-22 13:35] themsaid commented on #14467
Hey everyone,

Anyone willing to make a PR for this?

[2016-09-22 14:17] Kyslik commented on #15305
Hello @themsaid, well neither of the methods (`call()`,  `press()`, `makeRequest()`) seem to persist session through redirects (because of validation failed - see gist).

I mean I can just crawl page and use `seeText()`... but why is there `assertSessionHasErrors()` at all? Does not make any sense (for now).

[2016-09-22 15:21] garygreen commented on #15268
@chaot1x then convert your presenters into views. Presenters were annoying as hell in <5.3 -- you shouldn't need to write a class with functions in it to output some basic html. The way it is now is a million miles nicer.

[2016-09-22 15:25] garygreen opened #15562 "Paginator prefixing urls with /"
The paginator is still prefixing urls with "/" when using the LengthAwarePaginator manually.

Steps to reproduce:

[code]

Will render links like:

[code]

If you did the same with eloquent `->paginate()` it wouldn't output links with `/?`

According to the docs this was fixed:

😕

[2016-09-22 16:51] spyric commented on #15508
@themsaid It's not relates issues. I just checeks.  #15506 gives ability to send notification to many users while we use Fake class.

This issue happens when we try to check. So please reopen it.

I can fix it but I need @taylorotwell to tell what is correct behavior when we pass an array: Should tests be failed if we send notification in to 5 users but in check we provide only 4 users (Notificati

[2016-09-22 18:45] DanielKeeble commented on #15555
@themsaid Yeah I completely understand. I'll be sure to report back if I find anything.

[2016-09-22 18:53] themsaid commented on #15508
I'd say go ahead and open a PR, it's better to discuss implementations :)

[2016-09-22 18:57] themsaid commented on #15248
Looks like bringing this behaviour back to Laravel is not an easy thing, the fact is that it used to work before doesn't really mean it should keep working.

Closing this issue then :)

[2016-09-22 18:57] #15248 closed

[2016-09-22 19:21] j3j5 commented on #14139
Changing  `$this->request->root()` with `$this->request->url()` [here](https://github.com/laravel/framework/blob/5.3/src/Illuminate/Routing/UrlGenerator.php#L619) seems to fix this issue.

Would that be an acceptable solution for you @GrahamCampbell ? I've run the unit tests and nothing seems to break but I didn't have time yet to check if this part is covered on the tests yet.

[2016-09-22 19:58] glandre commented on #10971
Hello everyone, @GrahamCampbell, @eidng8 and @shehi,

I've been searching on the internet, but I couldn't find any example of problem that my occur while using implicit controllers. All posts I see people saying that it's not a good practice, and, because it's important to see explicitly all routes in your routes file. However, nobody actually provides a real example of possible problems of it.

I

[2016-09-22 20:37] acasar commented on #15248
@themsaid @Jono20201 And also, I checked - it didn't work before. I downgraded the example project to Laravel 5.2.39 and only the first level was eager loaded, second level was ignored.

So really, nothing was even broken in 5.2.40 - just a bug was fixed so that second level relationships are no longer ignored.

[2016-09-22 20:52] Jono20201 commented on #15248
Hi there.

With doesn't work,  but the load function does work as described.

Thanks.

On Thu, 22 Sep 2016, 21:38 Anže Časar, <notifications@github.com> wrote:

[2016-09-22 20:55] acasar commented on #15248
In 5.2.39 I get the same result in both cases - 13 queries, with first level eager loaded, second level lazy loaded:

![image](https://cloud.githubusercontent.com/assets/6329543/18765824/a96baec0-8117-11e6-8f30-30c0134df043.png)

[2016-09-22 21:03] Jono20201 commented on #15248
Hi,

I'm not totally sure then. I know it works as I expected in a version as we
use it in our production application to quite a large degree which has
prevented us upgrading. Without it we would be doing a serious amount of
queries.

My home Internet has a fault that my Internet company is taking their time
to fix so can't investigate at the moment so can't look until tomorrow.

As this has been

[2016-09-22 21:53] j3j5 commented on #14139
Ok, after further testing the above is not the solution when not using the console. We'll have to find a different fix (and ideally add some test to cover this code).

[2016-09-22 22:07] phroggyy commented on #14467
@themsaid I'll look into it this weekend!

[2016-09-22 22:41] acasar commented on #15248
I went as far back as Laravel 5.2.20 and still the same. Are you sure this worked at any point? Maybe your setup is different in the actual application?

I really don't see any clean solution for this problem which makes a potential PR unlikely to be merged. In your case I'd probably just create a trait (e.g. ``IgnoreMissingRelationships``) which would override the ``Builder`` and handle this edge

[2016-09-23 08:00] leewillis77 opened #15566 "Mimetype validation fails for empty fields when tested"
- Laravel Version: 5.3.10
- PHP Version: 7.0.10
- Database Driver & Version: pdo_sqlite : SQLite Library => 3.13.0

### Description:
I have an (optional) file field configured on a form. The validation for that field specifies an allowable mimetype for the field. This works fine in real-life. If no file is provided the validation passes, if a file is supplied then it's mimetype is validated (or no

[2016-09-23 08:00] chaot1x commented on #15268
@garygreen It's not only basic html, but fixed bugs too, for example when there is like 2 pages and you manually set to page 3 it's still showing page with no contents

[2016-09-23 08:11] leewillis77 commented on #15566
As an additional note, it appears that when a normal end user submits the form, then no value is submitted for the file field, e.g. `$request->all()` does *not* contain a key of walk_data. When the test framework submits the form, there is a key of walk_data with an empty (NULL?) value which the validator then fails to validate (https://github.com/laravel/framework/blob/5.3/src/Illuminate/Validati

[2016-09-23 08:49] pujilabkom opened #15568 "paginate"
- Laravel Version: 5.2.45
- PHP Version: 7.0.2
- Database Driver & Version: mysql

### Description:
$users = \App\Users::paginate(10);
return $users->links();

result " "

[2016-09-23 08:52] garygreen commented on #15268
That's fixed in 5.3.

[2016-09-23 09:00] chaot1x commented on #15268
No it's not

[2016-09-23 09:16] garygreen commented on #15268
Have you tried it? I just did by passing `?page=3` and there are only 2 pages, it doesn't show a extra one. If it doesn't work for you maybe file an issue because it shouldn't be showing an extra page.

[2016-09-23 09:18] garygreen commented on #15568
Obvious question, have you even got any users in the database? What does `\App\Users::all()` return?

[2016-09-23 09:21] chaot1x commented on #15268
@garygreen Paginator by itself is hidden, but page still loads with no content, in my custom presenter I made that if page is higher than last page, then it's automatically first page. That's why I asked about currentPageResolver, if there is any possibility to "magically" replace current page content with first page content if current page is larger than last page

[2016-09-23 09:39] garygreen commented on #15268
I see what you mean. You should in theory be able to use `currentPageResolver` but to be honest it's pretty useless because you don't receive the paginator or any information to help you determine what the current page should be. Imo it should at least pass the paginator as an argument.

Also this line https://github.com/laravel/framework/blob/5.3/src/Illuminate/Pagination/LengthAwarePaginator.php

[2016-09-23 09:43] chaot1x commented on #15268
@garygreen `isValidPageNumber` just checks if page number is an integer

Check this line:
https://github.com/laravel/framework/blob/5.3/src/Illuminate/Pagination/AbstractPaginator.php#L105

[2016-09-23 09:45] garygreen commented on #15268
Hmm seems to stem from this commit: https://github.com/laravel/framework/commit/a038a521710050a92f9d53b7a32ebfc433b17b0e

I kinda agree, it is weird getting pagination for page 1 when you requested for page 5 (but that doesn't exist). If people want to do that though they should be able to make use of the validator instance to determine what page number it should be.

Though you could still do thi

[2016-09-23 09:50] estudiogenius commented on #10533
the problem continues: Laravel Framework version 5.2.45

[2016-09-23 09:51] pujilabkom commented on #15568
$users = \App\User::paginate(1);
return $users->links();

result :
HtmlString {#180 ▼
  #html: "<ul class="pagination"><li class="disabled"><span>&laquo;</span></li> <li class="active"><span>1</span></li><li><a href="http://localhost:8000/user?page=2">2</a></li> <li><a href="http://localhost:8000/user?page=2" rel="next">&raquo;</a></li></ul>"
}

solved

[2016-09-23 09:51] #15568 closed

[2016-09-23 11:16] shehi commented on #10971
To my experience the problem with route-controllers mostly is related to
hardcoded verbs in them (as in "get" in "getItem()" etc). That practice
itself creates bottlenecks for large projects, and as you know you *had
to* provide verbs in route-controllers. By deprecating that practice,
the team just removed the mandatory "verbage" of routes.

On 22-09-2016 22:58, Geraldo Barbosa Landre wrote:

[2016-09-23 11:48] crynobone commented on #10971
This has been discussed directly in previous GitHub issues for numbers of time, deprecation has been made during 5.2.0 releases.

![screen shot 2016-09-23 at 7 45 27 pm](https://cloud.githubusercontent.com/assets/172966/18784706/57bef816-81c6-11e6-90b1-81476a807dac.png)

If you search on the previous issues/PR under `laravel/framework`, the issues are basically these two, and those who are involve

[2016-09-23 11:52] maki10 opened #15570 "Artisan call make:controller wrong path"
- Laravel Version: 5.3.10
- PHP Version: 5.6.20
- Database Driver & Version: redis

### Description:
Today I try to create App namespace under controllers.
Type in console `php artisan make:controller App\AppController` and get success message.

After I searching the controller I see that `AppController` is actually in `App` namespace in the same place where is Models not in `App\Http\Controllers\

[2016-09-23 11:59] nammaianh commented on #15570
Use should use double back-slash instead of single. Change `\` to `\\`

[code]

[2016-09-23 12:01] maki10 commented on #15570
@nammaianh  No, that doesn't work either...

[2016-09-23 12:02] nammaianh commented on #15570
Oh, sorry! Didn't see that you are using Windows

[2016-09-23 12:04] nammaianh commented on #15570
How about using double quote?
[code]

[2016-09-23 12:05] maki10 commented on #15570
@nammaianh  Same, making the controller under `App` namespace

[2016-09-23 12:10] nammaianh commented on #15570
I think mr. Otwell wanna do this if the controller start with `App` namespace

[2016-09-23 12:13] maki10 commented on #15570
I still think this is an issue because we know where are our controllers `Namespace` is.

[2016-09-23 12:31] maki10 commented on #15570
@nammaianh you can see that wish path is `\Http\Controllers`  in this link [https://github.com/illuminate/routing/blob/master/Console/ControllerMakeCommand.php#L51](Code)

[2016-09-23 12:52] leewillis77 opened #15573 "[Request] Ability to eager load relationship counts"
- Laravel Version: 5.3.10
- PHP Version: 7.0.10

### Description:
Currently, you can retrieve the count of related models without having to retrieve the models themselves using `withCount()`, e.g. for an article that is in multiple categories, you can do:

`$article = Article::withCount('categories')->find($articleId);`

However where you are auto-loading the article model from your route there is

[2016-09-23 13:35] prasanthsd commented on #15555
Not sure if the issue that I'm facing is related but thought its worth mentioning. I had an app which used to use laravel 5.1. It kept on logging out users and we discovered file driver was the problem. We switched to the DB driver and it never really occurred.

Later we updated Laravel to 5.2 and made many changes to the application. Now it randomly logs out users. I THINK the place where the log

[2016-09-23 13:36] leewillis77 commented on #15573
As an alternative suggestion for specifying eager loading of relationship counts - we could introduce a new model property, e.g.

[code]

Might be nicer than "magic" interpretation of `count.categories` / `count(categories)` on the existing `$with` property.

[2016-09-23 13:48] coolguy1990 commented on #15404
@g5400658, from what i have noticed, when using custom queue names, you need to add those in your supervisor to get them to process. Simply create additional entries in supervisor for every channel and it will work.

[2016-09-23 13:56] srmklive commented on #15570
@maki10 This is not an error with the framework itself. It is how you are creating your controllers. Also the code you referred in not path but actually namespace.

[2016-09-23 13:56] themsaid commented on #15573
Sorry @leewillis77 but we don't look at requests in this repository's issues :) Here we have bug reports only.

For suggestions and feature requests please use the https://github.com/laravel/internals repo.

[2016-09-23 13:56] #15573 closed

[2016-09-23 13:59] leewillis77 commented on #15573
@themsaid No worries - I'd missed that note in the contributing doc. I'll head over there!

[2016-09-23 14:18] maki10 commented on #15570
@srmklive +1 my bad,
@themsaid For your pull request still not working 'php artisan make:controller App\StoreController', but working with `php artisan make:controller App\Http\Controllers\App\AppController`

[2016-09-23 14:19] shadoWalker89 opened #15576 "[5.3] Eloquent : withCount() overrides the $columns on get()"
- Laravel Version: 5.3.6
- PHP Version: 5.6.15
- Database Driver & Version: Mysql 5.6.31

### Description:
When using withCount() from eloquent Builder it ignores the $columns passed to the get() method and select all the columns.

### Steps To Reproduce:
[code]

[2016-09-23 14:38] #15566 closed

[2016-09-23 15:13] leewillis77 commented on #15566
Thanks Taylor!

[2016-09-23 15:42] Kirych opened #15577 "Form::select multiple"
- Laravel Version: 4.2.*
- PHP Version: 5.6.12
- Database Driver & Version:

### Description:
Incorrect selection of selected options. Depends on options' values.

### Steps To Reproduce:
{{ Form::select('qwe[]', ['10' => '10', '10_11' => '10_11'], ['10_11'], ['multiple' => 'multiple']) }}

[2016-09-23 15:46] themsaid commented on #15562
You'll need to provide a path, e.g.:

[code]

Without a path the paginator will provide relative URIs with a `\` at the beginning.

[2016-09-23 15:46] themsaid commented on #15577
Thank you, but unfortunately 4.2 is closed for bug fixes :)

[2016-09-23 15:46] #15577 closed

[2016-09-23 15:49] garygreen commented on #15562
@themsaid that's not the way it should work according to the upgrade guide.

[2016-09-23 15:51] themsaid commented on #15562
I think the upgrade guide is referring to paginating a collection.

[2016-09-23 15:53] garygreen commented on #15562
You think? It seems inconsistent behaviour to me. Not sure why a collection should not output a trailing slash but everything else does.... ? 😕

[2016-09-23 15:56] maki10 commented on #15570
https://github.com/laravel/framework/pull/15575
Fixed in PR. In order to create controller under `App\Http\Controllers\` in folder and namespace `App`, must be provide full path to controller in my case `App\Http\Controllers\App\AppController`

[2016-09-23 15:56] #15570 closed

[2016-09-23 16:14] themsaid commented on #15562
Did further investigation on the issue, to use the length aware paginator manually you'll have to provide a path, otherwise the links won't be correct for internal URLs.

[2016-09-23 16:14] garygreen commented on #15562
The paginate method uses [`resolveCurrentPath()`](https://github.com/laravel/framework/blob/5.3/src/Illuminate/Database/Eloquent/Builder.php#L484)

Imo if you don't supply a path to the paginator, it should always try and resolve through that method. That would remove the need to pass the `path` - and anyone who does want to supply a custom path they can. That keeps things consistent and makes mor

[2016-09-23 16:26] billmn commented on #14833
@charles-rumley This issue can be closed?

[2016-09-23 16:27] themsaid commented on #15576
Ping @barryvdh

`withCount()` selects `*` on the parent query, it prevents any further column selection, is there a way around this?

[2016-09-23 16:33] barryvdh commented on #15576
That is what I mentioned in the PR as possible problem, which I don't have a nice solution for. We need to add a select, if we just add the new column, the default '*' gets ignored (which is more common). See replies from here: https://github.com/laravel/framework/pull/13414#issuecomment-217875410

I think it *should* work when you explicitly use a `select()` call before the count.

[code]

[2016-09-23 16:35] themsaid commented on #15576
Yes it works this way.
@shadoWalker89 Check the reply above.

[2016-09-23 16:49] aedart opened #15578 "Cache FileStore fails flush operation silently"
- Laravel Version: 5.3.x
- PHP Version: >=5.6.9
- Database Driver & Version: N/A

### Description:
Whenever you flush your cache, using the `FileStore`, the `flush()` methods does not throw any exception nor error, if it is not possible to delete its created directories.

Usually this happens when the OS permissions are not in order. However, this can quickly become very hard to debug in situation

[2016-09-23 17:27] dbilovd opened #15579 "Touching Pivot records on sync method"
- Laravel Version: 5.2

### Description:
Not a bug, just being curious.

There doesn't seem to be a way to touch pivoted models when I use the sync() method.

```$user->roles()->sync([1, 2, 4]);```

I can do this with `attach` and `detach`

```$user->roles()->attach([4], true);```

or

```$user->roles()->detach([], true);```

*NB:* I don't usually pass the second param because it is true by defaul

[2016-09-23 17:32] themsaid commented on #15579
@dbilovd  Do you mean touching the parent timestamp?

[2016-09-23 17:34] dbilovd commented on #15579
@themsaid I want to update the records in the pivot table (`users_roles`) in this case.

[2016-09-23 17:36] themsaid commented on #15579
Sorry I don't seem to be able to follow :)

`$user->roles()->sync([1, 2, 4]);` will give the user roles `1,2,3,4`.

`$user->roles()->attach(4);` will add role 4 to the user.

What are you trying to achieve other than this?

[2016-09-23 17:39] dbilovd commented on #15579
Yeah. If the user already have role 1, 2 and 5, it'll add 4 and delete 5. But unlike attach that'll update the timestamps of 1 and 2 (touch), sync doesn't, and it doesn't provide a way to do so.

[2016-09-23 17:40] themsaid commented on #15579
Well I guess that's how it should act, since 1 and 2 weren't updated the timestamps shouldn't be touched, no?

[2016-09-23 17:44] dbilovd commented on #15579
Ideally, yes. But in my situation, I want to keep the time of the last batch of changes. So at least the `updated_at` would be good.

[2016-09-23 17:46] themsaid commented on #15579
Oh I see, I guess that's not possible with sync then :) Sync only cares about making sure the ids you provide will remain in the DB and the rest is removed.

Not sure what your use case is exactly but I'd say go for a custom query.

[2016-09-23 17:46] #15579 closed

[2016-09-23 17:49] shadoWalker89 commented on #15576
Yes it works the way barryvdh said.
Maybe you could add the fix for this as 5.4 milestone ?

[2016-09-23 17:49] #15576 closed

[2016-09-23 17:54] barryvdh commented on #15576
Or perhaps add this to a note to the withCount docs?

[2016-09-23 18:08] nermion opened #15581 "getting error when trying to table->json('options') in migration"
- Laravel Version: 5.3.9
- PHP Version: 7.0.9
- Database Driver & Version: 10.1.16-MariaDB

### Description:
My migration looks like this
[code]
I get this error:

SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax;
check the manual that corresponds to your MariaDB server version for the right syntax to use near 'json not null) default character set utf8 c

[2016-09-23 18:10] themsaid commented on #15581
I think there's no `JSON` type in MariaDB.

[2016-09-23 18:16] #14833 closed

[2016-09-23 18:16] nermion commented on #15581
https://mariadb.com/kb/en/mariadb/column_json/

COLUMN_JSON was introduced in MariaDB 10.0.1

[2016-09-23 18:17] themsaid commented on #15581
Does the sql query generated by laravel has wrong syntax? Can you please share the full query from the exception you get?

[2016-09-23 18:19] themsaid commented on #15581
It looks like `COLUMN_JSON ` is a function not a column type, I don't use MariaDB myself but I know laravel JSON column features doesn't work there cause there's no support.

[2016-09-23 18:27] nermion commented on #15581
MariaDB is default database driver on Forge, so I thought it would work with json and also since documentation doesn't mention it doesn't work with MariaDB.

[2016-09-23 18:28] nermion commented on #15581
How can I intercept sql query generated by running migrations?

[2016-09-23 18:29] themsaid commented on #15581
The only two drivers currently with JSON support are Postgres and MySQL.

[2016-09-23 18:29] #15581 closed

[2016-09-23 18:49] shadoWalker89 opened #15583 "[5.3] Blade and vuejs problem"
- Laravel Version: 5.3.6
- PHP Version: 5.6.15

### Description:
With vue js we do @{{ }} to tell laravel to ignore that block but the problem occurs when we do

[code]
The following will output `) }}`

So i tried using regular php tags inside @{{ }} like this

[code]
Saying that the `someJsMethod` will return the value `21`

The output that i got was `@21`

[2016-09-23 19:13] themsaid commented on #15583
`@{{ someJsMethod( <?= $somePhpVar ?> ) }}` should return `@{{ someJsMethod( 123 ) }}` in the final markup.

Please share the different result you got.

[2016-09-23 19:20] GrahamCampbell commented on #15583
Yeh, blade will likely have trouble matching nested brackets since it used regular expressions, which by definition can only match regular languages.

[2016-09-23 19:26] shadoWalker89 commented on #15583
@themsaid

`@{{ someJsMethod( <?= $somePhpVar ?> ) }}` should return `{{ someJsMethod( 123 ) }}` in the final markup (page source code) but when using <?= ?> inside of @{{ }} it returns `@{{ someJsMethod( 123 ) }}`

[2016-09-23 19:29] themsaid commented on #15583
@shadoWalker89 yeah right, that's weird.

[2016-09-24 02:03] henriquebremenkanp commented on #15439
I just submitted a PR to make use of relative paths. #15584

[2016-09-24 04:36] henriquebremenkanp commented on #15439
@edd-smith you have to do `vagrant ssh` and run `storage:link` from inside the vm for it to work right now.

It seems like you're running `storage:link` from your host OS and it will link to `/Users/you/laravel/storage/app/public`, which doesn't exist inside the vm.
If you create from inside the vm it will be `/home/vagrant/laravel/storage/app/public`, and you won't be able to use the symlinks in

[2016-09-24 05:35] ctf0 commented on #15583
@shadoWalker89 a wild guess , try
[code]

[2016-09-24 06:03] oitsem099 commented on #15040
guys? still no fix to the bug?

[2016-09-24 07:14] edd-smith commented on #15439
Sounds about right @henriquebremenkanp

[2016-09-24 08:38] bradleyy1012 commented on #7868
hey everyone! i just solved this on my server! try using the absolute path to php!!
/usr/local/bin/php /path/to/artisan schedule:run >> /dev/null 2>&1

[2016-09-24 09:11] themsaid commented on #15439
@edd-smith

The whole time I thought you're using the command from inside the vm :)

[2016-09-24 09:11] #15439 closed

[2016-09-24 09:18] themsaid commented on #15578
@aedart how about you open a PR with the proposed fix? It's time we discuss implementation now since we know about the problem already.

[2016-09-24 10:05] shadoWalker89 commented on #15583
@ctf0 That will result in a php error, because the code within the first <?= ?> isn't a valid php code

For now i'm putting my code within `@verbatim`

[2016-09-24 10:05] javedLive commented on #7868
You tried for Windows?

[2016-09-24 10:25] shadoWalker89 opened #15585 "[5.3] Limit in eager loading doesn't feel right"
- Laravel Version: 5.3.6
- PHP Version:5.6.15
- Database Driver & Version:Mysql 5.6.31

I have this eloquent Query

[code]

The `dataSets` on the DataTheme model is belongsToMany()

This is how i understand the eloquent query

Select all data themes
Select the total count of data sets related to each data theme
**For each** data theme select only 5 data sets

And this is the generated sql

[code]

[2016-09-24 10:50] Dumzy commented on #13017
check there is a file type called .env. check whether your group have it. If not replace that. It will solve. Thanks

[2016-09-24 11:19] GrahamCampbell commented on #15585
Looks correct. It's just not possible to limit in the way that you want. This has come up before I think.

[2016-09-24 11:19] #15585 closed

[2016-09-24 11:22] simplenotezy opened #15586 "Route is overridden even when name is different"
- Laravel Version: 5.2.0
- PHP Version: 7.0

### Description & Steps To Reproduce::
If I have two routes:

	Route::get('/', ['as' => 'something', function () {

	}]);

	Route::get('/', ['as' => 'something-else', function () {

	}]); // this is overriden by the first route

One will overwrite the other, even though it has a different `as` property.

[2016-09-24 11:58] binita-engg89 opened #15587 "Sum aggregate query return null instead of 0"
- Laravel Version: 5.2.0
- PHP Version:5.6.4
- Database Driver & Version:
"jenssegers/mongodb": "^2.2"
### Description:
$qty= $this->makeModel()
           ->where('type', '1')
            ->sum('qty');

returns $qty = null in 5.2

and return 0 in 5.1  please tell how to solve this issue.

I want 0 in value

### Steps To Reproduce:

[2016-09-24 12:00] themsaid commented on #15587
That's a known issue in 5.2 but it was fixed in 5.3, you can cast it to integer or double to get the same result.

[2016-09-24 12:00] #15587 closed

[2016-09-24 12:01] themsaid commented on #15586
Why would you define 1 route twice with two different names?

[2016-09-24 12:20] binita-engg89 commented on #15587
@themsaid i have already casted qty to double but same result

[2016-09-24 12:22] themsaid commented on #15587
`(double) null == 0.0` Same result how?

[2016-09-24 12:24] binita-engg89 commented on #15587
@themsaid not that way i had casted in model double..that way i m getting..I am using many time i don't want to change everywhere

[2016-09-24 12:25] themsaid commented on #15587
The thing is 5.2 is technically closed for fixes, are you willing to upgrade to 5.3 ?

[2016-09-24 12:27] binita-engg89 commented on #15587
@themsaid ok will update 5.3

[2016-09-24 12:27] themsaid commented on #15587
Thanks, or at least upgrade to 5.2 latest, `5.2.0` is too out of date :)

[2016-09-24 12:28] #15586 closed

[2016-09-24 12:28] binita-engg89 commented on #15587
@themsaid ok sure..

[2016-09-24 12:30] fzls opened #15588 "a little typo"
in the operators list, the '-' appeared twice, which although doesn't make any trouble, but I think we should better delete one of them.

[2016-09-24 13:04] GrahamCampbell commented on #15588
Please send a PR. :)

[2016-09-24 13:04] #15588 closed

[2016-09-24 14:32] Decadence commented on #14876
Same for me.

[2016-09-24 15:46] tamaghna91 opened #15590 "Store procedure stopped working with DB facade"
- Laravel Version: 5.2.44
- PHP Version: > 5.5
- Database Driver & Version: mysql 5.5.30

### Description:
I have tried to access data through my remote database through calling a **store procedure**, I have tried to use laravel's db facade using select query to call like this way -

[code]

The above trying return empty array while if try in this way it gives me the result in array -

[code]

###

[2016-09-24 18:11] aedart commented on #15578
Hi @themsaid

While I would certainly like to solve this problem, I'm not sure which solution would be accepted. Therefore, before I undertake anything, what solution is best suited for Laravel?

Furthermore, while I might be able to create a solution for the `FileStore`, depending upon the chosen solution, someone might have to adapt the other cache stores. E.g. if solution B is chosen, then all

[2016-09-24 19:00] Jeloo commented on #15305
@Kyslik it works with `withoutMiddleware()` usage. Seems like it caused by \Illuminate\Session\Middleware\StartSession::class middleware

[2016-09-24 19:24] nermion opened #15595 "using SoftDeletes disables polymorphic relationship on the model, so not even direct accessing works, not to talk about eager loading failing to work"
- Laravel Version: 5.3.9
- PHP Version:
- Database Driver & Version:

### Description:
If I enable SoftDeletes on a model then polymorphic relationships don't work at all. For example this
[code]
works if I don't include use SoftDeletes and result is this http://i.imgur.com/m4z9Tu1.png

as soon as I include SoftDeletes on the model nothing is eager loaded and I get null on the relationship as can

[2016-09-24 19:53] glandre commented on #10971
OK guys. Thanks for your insights. I'll try this command that will probably help a lot.

[2016-09-24 20:59] ElfSundae commented on #13988
Sadly it has no change in 5.3 😢

[2016-09-24 21:03] kevindierkx opened #15597 "Eloquent - set connection name 'statically' during runtime"
- Laravel Version: 5.x

### Description:
Most 3th party components, like laravel/passport, depend on the default connection set in the `database.php` config. In some cases you don't want these models to connect to default database: for example you might have 2 applications sharing 1 database connection and having their own dedicated database for their specific logic set as default.
It would be hel

[2016-09-24 21:41] kevindierkx commented on #15597
After some tinkering I came up with the following:
[code]

This works, but it seems a bit over complicated. I'll leave this issue open for some suggestions.

[2016-09-24 22:08] mxmtsk opened #15599 "Query Builder withCount not available when using select"
- Laravel Version: 5.3.1
- PHP Version: 7.0.10
- Database Driver & Version: mysql 5.6.28

### Description:
I have the following code to get some specific events (Events of Clubs that a user has liked)

[code]

My problem is, that because of the line _$events->select.._. the two columns tickets_count & guestlist_count (from _->withCount('guestlist');_ & _->withCount('tickets');_) are missing in the

[2016-09-24 22:08] #15597 closed

[2016-09-24 22:08] GrahamCampbell commented on #15597
Please ask on the forums.

[2016-09-24 22:08] #15305 closed

[2016-09-24 22:59] nermion commented on #15595
solved!

[2016-09-24 22:59] #15595 closed

[2016-09-24 23:15] mxmtsk commented on #15599
Okay, so I figured out that it works when I put withCount after the select method

[code]

Strange (to me) but good that it works!

[2016-09-24 23:15] #15599 closed

[2016-09-25 03:05] zhouyixiang commented on #15179
I'm running Laravel 5.3.9 with MySQL, and have the same issue as @nhowell . I'm also running several Laravel 5.1 projects, but none of them has such issue. Below is the stack trace.

[code]

[2016-09-25 09:14] HelloSetsuna opened #15600 "The paginate method is incorrect work with the distinct method"
- Laravel Version: 5.3.9
- PHP Version: 7.0.10
- Database Driver & Version: mysql 5.6.31

### Description:
When I use the distinct method with the paginate method followed, the response result's 'total' is incorrect

### Steps To Reproduce:
like this...
[code]
the response JSON is:
[code]
**total** should be 2, but it's 3, I solved my problem by add the **groupBy** method before paginate, I think

[2016-09-25 09:18] themsaid commented on #15600
Please mention the full laravel version.

[2016-09-25 11:17] HelloSetsuna commented on #15600
Sorry, I added it.

[2016-09-25 15:27] LasseRafn opened #15601 "php artisan vendor:publish republishes pagination views over and over again"
- Laravel Version: 5.3.9
- PHP Version: 7.0.9
- Database Driver & Version: MySQL 5.7

### Description:
````php artisan vendor:publish```` republishes pagination views over and over again, where other published views and settings are only published once.

### Steps To Reproduce:
1. Run ````php artisan vendor:publish```` in your project root twice
2. .. That's it ..

![screen shot 2016-09-25 at 17 2

[2016-09-25 15:31] themsaid commented on #15601
What do you mean by `over and over again`? Do you mean it's overriding the already published ones?

[2016-09-25 15:33] LasseRafn commented on #15601
I haven't tested if it actually overrides, however it states that it copied
the directory

On Sun, 25 Sep 2016 at 17.31, Mohamed Said <notifications@github.com> wrote:

--
Mvh
Lasse Rafn

[2016-09-25 15:34] themsaid commented on #15601
Well it won't override, there's nothing wrong with these messages actually, not sure where's the bug :)

[2016-09-25 15:36] #15601 closed

[2016-09-25 15:36] LasseRafn commented on #15601
@themsaid oh well, I guess thats no problem then :) Will close this again, sorry

[2016-09-25 17:23] kevindierkx commented on #15597
Yeah thought about it. making `$connection` static will also break it for other models depending on the default connection...

[2016-09-25 18:30] strainovic commented on #13117
@themsaid Yes, you are right but try to log those two queries, one from paginate(1) and another from simplePaginate(1).

For the paginate(1), in my case, I'm getting this:

select * from `cards` where `cards`.`deleted_at` is null limit 1 offset 0

and for simplePaginate(1) I'm getting this:

select * from `cards` where `cards`.`deleted_at` is null limit 2 offset 0

You see that limit 1 become limi

[2016-09-25 19:21] themsaid commented on #13117
Well the second object helps us to decide if we should display a next button or not.

Sent from my iPhone

[2016-09-25 19:29] strainovic commented on #13117
Hm, I didn't count on it. Is it posible to fetch second object without relations? If I have few relations, it will grab a lot of unessesery data?

[2016-09-25 20:48] minedun6 opened #15602 "Check if request has a set of inputs"
- Laravel Version: 5.3.0
- PHP Version: 7
- Database Driver & Version:

### Description:
I'm trying to check if my request has a set of input (using or ) but I can't figure out if the method exist or not.

### Steps To Reproduce:
Ok so I have a form with optional fields to fill in when creating a customer but sometimes he doesn't so I don't want to create an object using this form input unless he

[2016-09-26 06:40] sisve commented on #14876
Probably related commit when the order of @stack/@push changed in 5.2.27. Note the introduction of array_reverse.

https://github.com/laravel/framework/commit/027b14da1669ea1b92781ec7d9b178dbcdd905c6#diff-20743953cccedefbf555dde02b1396b5R722

[2016-09-26 06:56] dmoreno commented on #14253
@themsaid, thanks! good work!

[2016-09-26 07:44] themsaid commented on #14253
@dmoreno :)

[2016-09-26 07:53] ayaka209 commented on #13585
+1 here.

[2016-09-26 08:50] ctf0 opened #15604 "[5.3] dont flat array validation error to one level"
- Laravel Version: 5.3.10
- PHP Version: 7.0.9
- Database Driver & Version: NaN

### Description:
atm the array validation will only show one error msg which is bad & wrong, because it doesnt tell what EXACTLY is wrong with the uploaded files,
so now the user will try again to upload the same set of files and will again get the same error but instead, the user should get which file name had an iss

[2016-09-26 08:57] ctf0 opened #15605 "[5.3] array max validation rule doesnt give correct msg"
Laravel Version: 5.3.10
PHP Version: 7.0.9
Database Driver & Version: NaN

### Description:
when u try to upload an image with size bigger than the max value u will get an error of something like `The image must be an image.`.
this only happens in array upload , but in single upload it works as expected.

### Steps To Reproduce:
- route
[code]
- controller
[code]

- form
[code]

[2016-09-26 10:21] mastermind23 opened #15606 "migration issue"
- Laravel Version: 5.3
- PHP Version: 7
- Database Driver & Version: 5.7.14

### Description:
well i created a migration and deleted it, then wasn't able to create migration with same name, it throws error
[code]

what i dont understand is why is it moving to \vendor\composer/../../database/migrations/ folder ? as i never had same issue in laravel 5.2 and i have repeated this test over and over ag

[2016-09-26 10:32] themsaid commented on #15604
Feel free to open a PR with the proposed changes. This isn't actually a bug report. But thank you for the suggestion :)

[2016-09-26 10:32] #15604 closed

[2016-09-26 10:41] mastermind23 commented on #15606
funny thing,

`composer update`

solves the thing, but for one time, if i delete that migration and create again same issue.

[2016-09-26 10:59] ctf0 commented on #15604
@themsaid u mean this is made on purpose ?

[2016-09-26 11:03] themsaid commented on #15604
Nope it's just that how validation works currently, if you have a change to suggest you can open a PR or you can discuss it further on the internals repository.

For suggestions and feature requests please use the https://github.com/laravel/internals repo.

[2016-09-26 11:06] ctf0 commented on #15604
okay, one last req, can u just give me a link or the file name to where i should make the changes ?

[2016-09-26 11:06] themsaid commented on #15604
I think that goes into Illuminate\Validation\Validator

[2016-09-26 11:08] ctf0 commented on #15604
okay thanx

[2016-09-26 11:21] ligne13 opened #15607 "Custom User Provider + Authorization gates broken after upgrade"
- Laravel Version: 5.3.10
- PHP Version: 7.0.10
- Database Driver & Version: MySQL 5.6.28

### Description:
I just upgraded to 5.3 and do not understand why my Gate::allows always return false now.
I'm using a Custom User Provider for my Authenticationn which is working fine for my login/logout requests.
The code below was working with 5.2.

File: app/Providers/AuthServiceProvider.php

[code]

In

[2016-09-26 11:58] pavankataria commented on #5429
Is there an update for this?

I'm trying to filter on a polymorphic table.
Currently I’m able to filter through all the `feeable` objects…

[code]

[2016-09-26 11:59] MladenJanjetovic commented on #13788
Did you try `Auth::shouldUse('guard-that-you-want');` before calling Gate methods such as allows, denies, etc.?

I wouldn't overwrite the default guard for this.

[2016-09-26 12:01] MladenJanjetovic commented on #14135
Take a look at this one https://github.com/laravel/framework/issues/13788
It could be the default guard issue.

[2016-09-26 12:30] MladenJanjetovic commented on #15607
Take a look at this one. Probably the default guard issue
https://github.com/laravel/framework/issues/13788

[2016-09-26 12:49] malhal commented on #13788
Thanks @MladenJanjetovic calling `Auth::shouldUse('api');` in the API controller constructor works, although it could also go in a custom middleware that only runs on api routes.

[2016-09-26 12:59] barryvdh commented on #10531
@sileence Did you ever find a clean solution for this?

[2016-09-26 13:16] j3j5 commented on #14139
The problem seems to come all the way from `Symfony\Component\HttpFoundation\SymfonyRequest`, in order to get the baseUrl of the request, `SymfonyRequest` compares the values of `$_SERVER['SCRIPT_NAME']` and `$_SERVER['SCRIPT_FILENAME']`, and those aren't being set by `Illuminate\Foundation\Bootstrap\SetRequestForConsole`.

[2016-09-26 13:23] #15605 closed

[2016-09-26 13:24] themsaid commented on #15605
You have an error in your Validation statement:

[code]

Should be:

[code]

Since the given input is an array.

[2016-09-26 13:28] MladenJanjetovic opened #15609 "test"
- Laravel Version: #.#.#
- PHP Version:
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2016-09-26 13:28] #15609 closed

[2016-09-26 13:28] MladenJanjetovic commented on #13788
@malhal Yes, of course it could, and probably should, be in middleware. Please close this issue if it is resolved. Thanks

[2016-09-26 13:29] sileence commented on #10531
@barryvdh yes, first you need to save the `belongsTo` relations, then the main model, and finally the `hasMany` relations.

I set a reminder to work on this when I get home (about 4 hours from now).

[2016-09-26 13:29] mcklayin opened #15610 "Impossible to listen console command event(console.command)"
- Laravel Version: 5.2.* & 5.3.*
- PHP Version: 5.6
- Database Driver & Version: mysql

### Description:
I'm trying to listen console commands, subscibed to console.command event, but it doesn't fired.

### Steps To Reproduce:

1. Create some commands, register it
2. Register custom event listener in EventServiceProvider.
For example:
[code]
3. Run command  with console.
4. Check laravel.log, and

[2016-09-26 13:30] ctf0 commented on #15605
yeap, thanx

[2016-09-26 13:32] ligne13 commented on #15607
Thanks @MladenJanjetovic but my default guard is 'web' (with my custom provider). I tried the solution given in #13788 (added `Auth::shouldUse('web');` in my app/Providers/AuthServiceProvider.php) but it doesn't work.

[2016-09-26 13:39] ctf0 commented on #15605
@themsaid btw still no chance to update the docs about the displaying of array validation errors ?

[2016-09-26 13:51] themsaid commented on #15583
Yeah that looks like a nofix situation here, the php tags inside the statement prevents blade from reading it as a valid blade statement so it's printed in the view as is.

`@verbatim` is a good solution in this case.

[2016-09-26 13:51] #15583 closed

[2016-09-26 14:02] themsaid commented on #15605
hmmm you can make a PR if you want :)

[2016-09-26 14:03] ligne13 commented on #15607
I've compared the 5.2 and 5.3 backtrace and the issue seems to come from the Gate->resolveUser method, which signature is:

[code]

In 5.2 the method returns my User model instance, in 5.3 the method returns null.

[2016-09-26 14:04] MladenJanjetovic commented on #15607
And in Gate::define() the $user object exists?

[2016-09-26 14:05] themsaid commented on #15610
Yes you can't listen to Symfony's console events from within laravel.

You may listen to the `Illuminate\Console\Events` event which is fired while initialising the console application, would that do the trick for you?

[2016-09-26 14:20] srmklive commented on #15606
This is not an error.

[2016-09-26 14:21] PhilipsVictor commented on #15040
This bug still exists. I pulled two projects today and this TokenMismatch is still there! Can somebody please look into this seriously istead of ignoring this fail.
Put your egos aside and properly test this and fix it please. Thank you! How many confirmations do you guys need?

 @GrahamCampbell @taylorotwell

[2016-09-26 14:22] MladenJanjetovic commented on #15607
Oh, just saw it, sorry.

Well that is the issue, userResolver is using guard which is defined with shouldUse().
And it's called multiple times so I couldn't figure out how to get right current guard there.

But didn't try that with custom provider

[2016-09-26 14:23] digitalhuman commented on #15040
This bug still exists. I pulled two projects today and this TokenMismatch is still there! Can somebody please look into this seriously istead of ignoring this fail.
Put your egos aside and properly test this and fix it please. Thank you! How many confirmations do you guys need?

@GrahamCampbell @taylorotwell

[2016-09-26 14:23] ligne13 commented on #15607
Actually, the Gate::define() method doesn't seem to be called at all... I tried by adding dd($user) in the callback and nothing is printed and the script goes on.

[2016-09-26 14:40] serg6854 opened #15611 "Cannot initialize variable within custom directive"
- Laravel Version: 5.3.6
- PHP Version:  7.0.8

### Description:
I want to initialize variable within my custom directive.

### Steps To Reproduce:
For example, code:
[code]
Throws an exception:

[2016-09-26 14:45] mcklayin commented on #15610
@themsaid I need to get command name which was executed.
With listening` Illuminate\Console\Events\ArtisanStarting` i can listen every command executing, but i cant't get command name. Is it possible?

[2016-09-26 14:46] taylorotwell commented on #15040
Again, no bug can be confirmed. Here is a literal video recording of me doing it:

http://d.pr/i/13k0P

[2016-09-26 14:52] digitalhuman commented on #15040
Well even it that is true, which i assume is. Explain why so many people (like hundrets) have this issue then? Stating 'its not a bug' because you coincidently can not reproduce it while other people can is really not helping.

[2016-09-26 14:56] zmsaunders commented on #15040
I was having this issue this morning, but our app uses spark and we just upgraded to lv5.3 and spark2.0 - Once I updated the version of interceptors.js that our app was using to match the spark version, it resolved it for us. I noticed that without this, the app was in a loop trying to refresh our session tokens. Not sure if that helps anyone else out. I had first tried the file lock update that s

[2016-09-26 14:58] taylorotwell commented on #15040
@digitalhuman calm down. everything will be OK. All I'm saying is that it works on a fresh Laravel application, so there is some inconsistency between your application and a fresh Laravel application that is causing the problem.

Have you looked into the Vue interceptor issue that @zmsaunders mentions? If you are using vue-resource >= 1.x the bootstrap.js file in Laravel should look like this:

[c

[2016-09-26 15:07] digitalhuman commented on #15040
I am calm, that is not the point here :) I tried database sessions, file sessions and redis sessions. All create the same error on my fresh Laravel clone.

Well I remember the same kinda think happening in 5.1. I don't use Vue.  What I see that is happening is;

After posting the form;  In the constructing of the VerifyCsrfToken class the session CSRF is already different from the the 'input' vers

[2016-09-26 15:07] taylorotwell commented on #15040
Do you have JavaScript entirely disabled?

[2016-09-26 15:07] edd-smith commented on #15439
Apologies for the confusion and thanks for helping solve @themsaid

I see the pull request was denied. Therefore, would you deem it worthwhile to adding a quick note to the documentation regarding this? Or is it silly obvious to most Homestead users?

[2016-09-26 15:10] digitalhuman commented on #15040
Nope, since I had the same issue over and over again I just stopped configuring it in more detail. What I did:

composer create-project --prefer-dist laravel/laravel blog
(Since the above creates and sets the key in .env i did not have to run (php artisan key:generate)

[code]

Load http://localhost:8000
Checked my database for session; its there and valid. Checked the view, there is a crsf token

[2016-09-26 15:12] digitalhuman commented on #15040
So; what I just did;  Removed the vendor folder. Completely;  then:  composer install.
Load the form, post it: TokenMismatchException in VerifyCsrfToken.php line 67

I see my session in the 'cookies', developer console and database. They match and are valid.

[2016-09-26 15:14] morloderex commented on #15040
@digitalhuman I've had the excat some problem some time ago while migrating from a a single server setup to a loadbalancing setup with 2 servers running under it.
And i figured out that for some reason the database driver where not using the same row again, it was always creating a new one.

Not sure about what's going on tho, but we managed to make it work by forcing remember me functionallity to

[2016-09-26 15:22] taylorotwell commented on #15040
@digitalhuman followed those steps exactly and it works fine on my machine. There are also many Laravel 5.3 projects in production so I highly doubt that is some inherent problem with CSRF in Laravel 5.3.

Have you tried a different browser? A different computer?

[2016-09-26 15:24] digitalhuman commented on #15040
Yeah its totally unclear what the error causes. Also because there can be multiple reasons why this occurs. Like one of the issues could be the think @MountainDev is stating here:

https://laracasts.com/discuss/channels/laravel/53-tokenmismatchexception-in-laravels-auth-form

The other thing could be indeed Sessions are not written or stored at all. Server side caching could also interfere. I reme

[2016-09-26 15:24] taylorotwell commented on #15040
Would do you mean by default cookie encryption was disabled? You disabled it?

[2016-09-26 15:26] digitalhuman commented on #15040
@taylorotwell Nope it was default disabled. I enabled it.

[2016-09-26 15:29] lukewaite opened #15612 "[5.1] queue:listen no longer logs exceptions"
- Laravel Version: 5.1.44
- PHP Version: 7.0.10
- Database Driver & Version: mysql 5.6

### Description:
Running `artisan queue:listen` without `--daemon` no longer logs exceptions.

### Steps To Reproduce:
* Create a failing job, throw any old `\Exception` inside the `handle()`
* Push your job to a non-sync queue, run the job with `artisan queue:listen`
Expected: `laravel.log` should log your exc

[2016-09-26 15:29] ligne13 commented on #15607
Very weird. I recreated a Custom User Provider authentication in a fresh Laravel 5.3 installation, with a Gate defined in AuthServiceProvider and it works.

In my upgraded App, after digging a little more in the framework, I found that as soon as I define a Gate and check it in my controller, the session->attributes is null in Illuminate/Auth/SessionGuard (see the attributes array : it's empty) :

[2016-09-26 15:36] ligne13 commented on #15607
OK, this is because Laravel 5.3 does not allow access to session variables or authenticated user in the constructor of a controller (see https://laravel.com/docs/5.3/upgrade#upgrade-5.3.0, paragraph Controllers > Session In The Constructor).
In my fresh app, that was working because I was checking my Gate ability in the index method of the controller.

[2016-09-26 15:36] #15607 closed

[2016-09-26 16:06] themsaid commented on #15610
I doubt that it's possible now, I've opened a PR proposing an event to get fired before running console commands: https://github.com/laravel/framework/pull/15613

[2016-09-26 16:15] themsaid commented on #15611
@serg6854 Use single quotes.

[2016-09-26 16:15] #15611 closed

[2016-09-26 16:17] themsaid commented on #15612
Hello @michaeldyrynda :)

Do you think your PR https://github.com/laravel/framework/pull/15167 might have caused the behaviour stated in this issue?

[2016-09-26 16:18] themsaid commented on #15606
You need to run `composer dump-autoload` if you delete a migration.

[2016-09-26 16:18] #15606 closed

[2016-09-26 17:37] themsaid commented on #15590
Couldn't replicate the issue in 5.2 or 5.3 using MySQL 5.7

Can you please check the query log and see what query is being executed while running `DB::select()`?

[2016-09-26 17:41] themsaid commented on #15404
@g5400658 please check @coolguy1990's comment.

[2016-09-26 18:21] sileence commented on #10531
Ok working on this again @barryvdh

[2016-09-26 18:26] themsaid commented on #14709
Please go ahead and make a PR, it's better to discuss implementations and see how tests react to this :)

[2016-09-26 18:26] #14709 closed

[2016-09-26 18:29] themsaid commented on #14919
I don't think this can be considered as a framework bug, querying over large data sets might result memory problems, dealing with this situation differs from a situation to another, it's also highly related to the database driver being used.

I'm going to close this issue for now but please feel free to ping me if ever found a specific bug in the framework that causes such memory issue.

Thank you

[2016-09-26 18:29] #14919 closed

[2016-09-26 18:34] themsaid commented on #15026
This change was based on another bug report that considered not checking a specific schema as a bug, I agree that it might be considered a breaking change but since it was merged long time ago I doubt a revert is possible since the other side of the table (those who considered it as a bug) might have broken applications .

I'm closing this issue since the community seems to have zero intention to

[2016-09-26 18:34] #15026 closed

[2016-09-26 18:44] themsaid commented on #14941
Hello @srmklive :)

Have you ever got the chance to do a second PR for this with Taylor's feedback in mind?

[2016-09-26 19:14] #9951 closed

[2016-09-26 19:35] sileence commented on #10531
narrowing the problem:

https://github.com/sileence/eloquent_push_tests/blob/master/tests/EloquentPushTest.php

The unit tests pass because they don't have FK as these integration tests do.

[2016-09-26 20:38] themsaid commented on #12566
Hello Everyone,
I'm going to close this since it's not really a bug in the framework, but please feel free to open a PR in case you have an idea on how to deal with this MySQL behaviour.

Sorry :)

[2016-09-26 20:38] #12566 closed

[2016-09-26 20:43] TheAliAbbasi commented on #15492
could you fix that in 5.2 as well?!

[2016-09-26 20:48] dericcain opened #15621 "User authenticating but not staying logged in 5.3"
- Laravel Version: 5.3.9
- PHP Version: 7.0.8
- Database Driver & Version:
MySQL Ver 14.14 Distrib 5.7.15
- Redis

### Description:
I am using the Laravel `auth:make` scaffolding and when I login I am redirected to the correct page, but when I try to navigate to another page, I am redirected to login. I take a look at the debugbar and for the `web` routes auth, it says that I am logged in as a gue

[2016-09-26 20:52] themsaid commented on #12132
I don't really think this is a "bug" but rather lack of configuration situation, so based on that and since this is an old issue with no noticeable interest from the community to open a PR, based on all of that I'm going to close this issue, sorry :)

But please feel free to open a PR if you want

[2016-09-26 20:52] #12132 closed

[2016-09-26 20:56] themsaid commented on #15621
Is it a fresh installation? are you using redis as a session driver?

[2016-09-26 20:57] dericcain commented on #15621
This is not a fresh installation. I am using Redis as the session driver. I have switched the session back to `file` and that did not seem to help.

[2016-09-26 20:58] themsaid commented on #15492
5.2 is closed :)

[2016-09-26 21:01] themsaid commented on #13046
based on the method signature:

[code]

It's clear that it's an intended behaviour, if no IDs given then it'll wipe all. Changing this would be considered breaking.

Please feel free to open a PR for 5.4 which is scheduled for November, closing this issue though since it doesn't feel like a bug :)

[2016-09-26 21:01] #13046 closed

[2016-09-26 21:02] themsaid commented on #13117
@strainovic that would require calling a second query, which is technically, IMHO, more expensive than bringing an extra object.

Closing then since it's not actually a bug in the framework :)

[2016-09-26 21:02] #13117 closed

[2016-09-26 21:08] sileence commented on #10531
@barryvdh the code is "primitive" but the tests are passing, I can refactor later:

https://github.com/sileence/eloquent_push_tests/blob/master/app/Model.php

https://github.com/sileence/eloquent_push_tests/blob/master/tests/EloquentPushTest.php

cc @taylorotwell

[2016-09-26 21:19] themsaid commented on #13090
@Decadence can you please share a use case where you need to pass extra data to `@each`? The thing is that it's only a shortcut to be used in a very specific situation, I believe it's actually inspired by Vue.js

If there's no real use case for this then I believe it's just fine as it is, you can use include under an `@each` method if you need more control over the rendering operation.

[2016-09-26 21:21] #13172 closed

[2016-09-26 21:28] Decadence commented on #13090
I can do without @each at all, but it's handy.
Simple case: I need output table row with three td in one case and with four in another case depending on condition from parent template. How do I handle it with @each and without copy-paste views?

[2016-09-26 21:31] themsaid commented on #14143
Closing since it appears to be fixed in 5.3, please feel free to ping me if you still face the problem.

[2016-09-26 21:31] #14143 closed

[2016-09-26 21:31] themsaid commented on #13217
Closing since it appears to be fixed in 5.3, please feel free to ping me if you still face the problem.

[2016-09-26 21:31] #13217 closed

[2016-09-26 21:40] themsaid commented on #13002
Closing since Laravel 5.3 doesn't support hhvm and 5.2 is closed.

[2016-09-26 21:40] #13002 closed

[2016-09-26 21:47] themsaid commented on #13090
Have been discussing the matter with Taylor, passing a *fifth* argument to `@each` seems too much, and allowing each to inherit variables from the parent view looks very complicated.

So I'll close this and suggest you use

            @foreach ($items as $item)
                @include('partials.each', [ 'item' => $item ])
            @endforeach

To get the results you want.

[2016-09-26 21:47] #13090 closed

[2016-09-26 22:06] themsaid commented on #12695
@thecrypticace any chance you're going to suggest a change to fix this issue?

[2016-09-26 22:06] #13788 closed

[2016-09-26 22:08] thecrypticace commented on #12695
Man, I forgot about this issue. I need to check and see if it is still an issue on 5.3. If so, I'll try to take some time in the next few days if I can figure out how to fix it.

[2016-09-26 22:09] themsaid commented on #12695
Thank you!

Trying to close some of these old issues :)

[2016-09-26 22:12] themsaid commented on #13935
That looks to me as a feature request more than an a bug report, we're trying to keep this repository for bug reports only.

For suggestions and feature requests please use the https://github.com/laravel/internals repo.

[2016-09-26 22:12] #13935 closed

[2016-09-26 22:13] #14406 closed

[2016-09-26 22:14] #14334 closed

[2016-09-26 22:16] themsaid commented on #14298
Not all modifiers work with `change()` actually, so I think it's not valid to consider it as a bug :)

I'm closing the issue but please feel free to open a PR if you ever find a way to add this functionality.

[2016-09-26 22:16] #14298 closed

[2016-09-26 22:17] #14247 closed

[2016-09-26 22:21] TheoKouzelis commented on #12695
I would be happy to help if you want a hand?

[2016-09-26 22:21] themsaid commented on #14092
Hello there,

We're trying to keep this repo for bug reporting only,
For suggestions and feature requests please use the https://github.com/laravel/internals repo.

Thank you for opening the issue and hope you get some feedback in the other repo :)

[2016-09-26 22:21] #14092 closed

[2016-09-26 22:23] #14034 closed

[2016-09-26 22:23] themsaid commented on #14034
Closing since it's not really a bug :)
Feel free to open a PR

[2016-09-26 22:25] themsaid commented on #15621
Was it always the case or did you only notice this behaviour recently? after an upgrade maybe? Changing some settings? ...

[2016-09-26 22:43] thecrypticace commented on #12695
👍👍

Any help is good.

[2016-09-26 23:05] Jimbolino commented on #13117
I think my problem was with the sequence of the fluent functions:
[code]
The simplePaginate() returns a Paginator, and not a Query/Builder object. So i was actually discarding the new Paginator instance, and continued to use the query. Which will get you unexpected results.

So make sure that simplePaginate() is the last function in the chain (and not somewhere in between):
[code]

[2016-09-26 23:18] thecrypticace commented on #12695
Here is a repo that reproduces the issue: https://github.com/thecrypticace/contextual-binding-issue

_Note: The repo **contains the vendor folder** to make it simpler to track the changes._

I've fixed _half_ of the bug already but I didn't run tests so I can't guarantee that it's a good one. If you hit the homepage you'll see three links:

1. Actual: instance (I just fixed this one in that repo)

[2016-09-26 23:31] luchiniii opened #15623 "Can I use multi_query on Laravel"
- Laravel Version: any version
- PHP Version:
- Database Driver & Version:

### Description:
As far as I know php has a function called multi_query, which allow programmers to execute multiple sql statments at once. Is possible to use this on actual laravel framewokr, if it is, how?

### Steps To Reproduce:

[2016-09-27 00:00] lukewaite commented on #15612
Updated the issue to properly reflect that the error occurs on `artisan queue:listen`. I had made multiple references to `artisan queue:work` incorrectly.

[2016-09-27 00:26] dericcain commented on #15621
I installed Redis and got that up and running, but the auth seemed to be working after that. I noticed that it wasn't working when I tried to create a logout link by using `Auth::logout()` and got a method not allowed exception when trying to log out. Maybe that has something to do with it?

[2016-09-27 01:05] michaeldyrynda commented on #15612
Hey @themsaid, yeah, that'd be me.

As per the PR, the fact an exception fell through the excecution at all is probably broken behaviour, given that it causes retries to never be fired.

I'm not sure why the exception handler isn't passed in (or if it is in 5.2 when the `try`/`catch` was added), but I agree it's probably the simplest way to resolve, though I'm not sure if/why this was omitted.

[2016-09-27 01:51] EspadaV8 commented on #15026
@themsaid Do you have a link to the other issue? I'd be nice to see if there's another way to fix the underlying issue since the current 'fix' **does** break something and the revert **might** break something else.

I don't see how it "might be considered a breaking change" when it has stopped our upgrades at 5.1.35 because 5.1.36 breaks our application.

Thanks

[2016-09-27 03:35] wajatimur commented on #5429
Did you mean filtering on relation? Have you look at constrain eager loading?

On 26 Sep 2016, at 7:58 PM, pavankataria <notifications@github.com<mailto:notifications@github.com>> wrote:

Is there an update for this?

I'm trying to filter on a polymorphic table.
Currently I’m able to filter through all the feeable objects…

public function totalFees(){
$total = 0;
foreach ($this->fees as $fee){
$t

[2016-09-27 03:51] oitsem099 commented on #15040
guys I just tested it on XAMPP Environment.
fresh installation of 5.3 is running okay..

the bug is occurring on my Laragon Environment.
I'll try to update my Laragon and clear some cache and cookies.
to see if it works.

[2016-09-27 04:50] sisve commented on #13002
@themsaid Ignore the HHVM-part; the docs for getMulti indicates it's by-reference, and you cannot pass null directly to it. It must go via a variable, like the example code shows. The issue fails on PHP 5.6 too.

Line: https://github.com/laravel/framework/blob/5.3/src/Illuminate/Cache/MemcachedStore.php#L67
Docs: http://php.net/manual/en/memcached.getmulti.php

[2016-09-27 05:01] sisve commented on #13002
After a lot of tests it seems to end up as a case of php magic. The internal api (getMulti) allows these kind of things, while userland code doesn't. So ignore my comment. It never happened. *does jedi hand-wave*

[2016-09-27 05:04] nikkiii commented on #13002
It seems to depend on the Memcached library version, I'm currently looking into it to see where the change causing it to pass/fail is.

[2016-09-27 05:12] sisve commented on #13002
To add to the fun; the current code will be invalid in the latest release of memcached since the method signature recently. Wordpress has a related issue created only 8 days ago.

Issue: https://github.com/php-memcached-dev/php-memcached/issues/229
Wordpress issue: https://github.com/tollmanz/wordpress-pecl-memcached-object-cache/issues/86

[2016-09-27 05:31] lagbox commented on #13002
Much fun, that method now only takes 2 arguments and will throw a warning if used as it is currently written in MemcachedStore.

[code]

[2016-09-27 05:32] Decadence commented on #13090
Ok, thanks for discussing though.

[2016-09-27 05:47] bhargav3 opened #15625 "Migration caused error for columns ending with '#'"
- Laravel Version: 5.2.39
- PHP Version: PHP 5.6.24 (cli) (built: Jul 22 2016 02:41:22)
- Database Driver & Version: mysql & MySQL Server 5.7.13

### Description:
I have two column names in a table that end with "#".
hin# and stock# respectively.

Laravel migrations have caused MySQL errors while I tried to modify them.

### Steps To Reproduce:

- Create a table with columns "hin#" and "stock#" us

[2016-09-27 06:09] n1c commented on #13090
Yeah that makes sense. Thanks for the discussion!

[2016-09-27 06:10] theTrip73 commented on #12566
I disagree. The general and most common use case for route model binding -- a feature of the framework -- is a numeric key, generally in the form of an integer database field. The only way around this behavior using the framework is to use character-based fields for all of your model keys.

If you are using a numeric key for your routes, you should not 500 errors when a bad URL is entered. The onl

[2016-09-27 06:52] lagbox commented on #12566
An idea, but perhaps not a good one (for implicit bindings):

What if we added another variable to the model for routing purposes, since we already have them for routing, and another method.

[code]
Then you could have the `substituteImplicitBindings` check that pattern and throw a 404 if it doesn't match.

This way you can at least define that pattern or 'lack' of one I suppose. I use slugs and h

[2016-09-27 06:59] srmklive commented on #14941
@themsaid I tried to do it again. The console kernel doesn't use the loadEnvironment feature. I have to do `$this->app->call` every time i want to use a different environment file. Although i did not see any major performance issue while calling `$this->app` call multiple times in PR #15004.

[2016-09-27 07:01] mirzaawais opened #15626 "Laravel Multi Insert issue with quotes in value"
- Laravel Version: 5.2.45
- PHP Version: 5.5.37
- Database Driver & Version: MySqli, Server type: MariaDB, Server version: 10.1.13-MariaDB - mariadb.org binary distribution, Protocol version: 10, Database client version: libmysql - mysqlnd 5.0.11-dev - 20120503

### Description:
I need t insert a large set of records in database. I am getting data from a csv then I need to insert in database. I th

[2016-09-27 07:15] srmklive commented on #15626
You can always use `addslashes` to the values with single/double quotes before inserting them in the database.

[2016-09-27 07:15] srmklive commented on #15626
How many records are you trying to insert when you get the MySQL has gone away error?

[2016-09-27 07:19] mirzaawais commented on #15626
Around 4000

[2016-09-27 07:20] srmklive commented on #15626
@mirzaawais  My suggestion would be that divide the data you get from CSV into chunks. Suppose you have 10k records in your CSV file, you can import them by dividing records into chunks of 50 and then multi-insert each chunk.

[2016-09-27 07:26] mirzaawais commented on #15626
@srmklive I have always that option to do that thing. But I want to know why the default behavior of Laravel Multi Insert isn't taking care of quotes of itself?

[2016-09-27 07:26] BartHuis commented on #14298
is it somewhere in the documentation what modifiers works with change() and what doesn't?

[2016-09-27 07:27] BartHuis commented on #14298
@themsaid ?

[2016-09-27 07:32] srmklive commented on #15626
@mirzaawais It is something i believe you need to handle on your own.

[2016-09-27 07:35] mirzaawais commented on #15626
But Laravel should know this thing and clarify if its bug at their end or some thing I am not understanding.