[2022-03-14 13:49] #41410 closed

[2022-03-14 13:54] andreladocruz commented on #41411
@driesvints shouldn't laravel treat this while converting the data into the request???

This kind of response is BIZARRE

[2022-03-14 13:55] #41416 closed

[2022-03-14 13:56] #41466 closed

[2022-03-14 15:03] driesvints commented on #41464
Thank you for your report but this isn't a bug. Like the documentation says, all unique jobs, regardless of which queue connection is used require a cache store that support locks in order to function. If you want this to behave differently, you're welcome to attempt a PR.

<img width="725" alt="Screenshot 2022-03-14 at 16 01 38" src="https://user-images.githubusercontent.com/594614/158200190-0eb9

[2022-03-14 15:03] #41464 closed

[2022-03-14 15:20] driesvints commented on #41420
Heya, yes this seems reasonable to us. Can you send in a PR?

[2022-03-14 16:06] driesvints commented on #35857
Sure. Appreciating PR's to solve this.

[2022-03-14 16:09] Dendi6 commented on #14875
rename the `seeds` folder name to `seeders`

[2022-03-14 16:22] driesvints commented on #41423
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-03-14 18:02] Husky110 commented on #41464
@driesvints - Okay, I see your point there. But I hope agree that the documentation is really missing the "regardless of which queue connection is used"-part in there. Before filing this issue, I talked to other developers about my problem and noone was able to say "Hey - did you check the cache-driver?". So am I (or the other devs) to blame to not knowing this, or the docs to be more specific? Pl

[2022-03-15 07:18] xicond commented on #18280
Written 2 cases, insert and update API, then after both I use GET, the GET after insert always return correctly, but the GET after update always return ArrayAccess, dunno why, so weird

- Laravel: 6.20.42
- PHP: 7.4.20
- PHP Unit: 8.5.19

[2022-03-15 07:35] abelharisov opened #41483 "db:wipe doesn't remove migrations table from second schema"
- Laravel Version: 9.4.1
- PHP Version: 8.1.3
- Database Driver & Version: postgres

### Description:
We have two schemas in our app. During update to laravel 9 we updated postgress config. `schema` was replaced with `search_path` with value `schemaA,schemaB`
Command db:wipe clears all tables in both schemas except migrations table in second schema. We have to call this command twice to clear DB

[2022-03-15 08:18] driesvints commented on #41483
Please post your `database.php` file.

@cbj4074 since you worked on this: do you have any idea here?

[2022-03-15 08:22] abelharisov commented on #41483
[code]

[2022-03-15 08:26] driesvints commented on #41483
Does it work if you try `'search_path' => '"public","common"',`?

[2022-03-15 08:29] abelharisov commented on #41483
No, one migrations table is left after wipe:
<img width="256" alt="image" src="https://user-images.githubusercontent.com/6592868/158336901-7e505543-6f47-4ed0-b565-7f9e248effa5.png">

[2022-03-15 08:49] driesvints commented on #41483
And this definitely worked in Laravel 8?

[2022-03-15 08:56] WalterWoshid opened #41484 "Ignition solution not appearing"
- Laravel Version: 9.4.1
- PHP Version: 8.1.2

### Description:
I added a custom exception which implements `Facade\IgnitionContracts\ProvidesSolution`, but it doesn't appear on the error page.

FfprobeLengthException.php:
[code]

RunCode.php
[code]

Result:
![image](https://user-images.githubusercontent.com/36635504/158341535-d92e75cf-d3d7-48e8-8e62-ea2dc9a76ac6.png)

[2022-03-15 08:58] driesvints commented on #41484
Heya, we don't maintain this code. Please post an issue on the spatie ignition tracker.

[2022-03-15 08:58] #41484 closed

[2022-03-15 09:00] WalterWoshid commented on #41484
@driesvints Oh, I thought you guys would maintain this code, thanks for the info :)

[2022-03-15 09:00] abelharisov commented on #41483
No, it didn't work in Laravel 8 at all. The second schema was ignored by wipe. We used to call `db:wipe` twice with different connections (for each schema).
When we switched to `search_path` it started to work much better - all tables in all schemas were removed, except migrations in the second schema

[2022-03-15 09:38] driesvints commented on #41483
I see. Thanks for that info. I currently do not now how to solve this one.

[2022-03-15 10:42] MariusTechweb opened #41486 "HTTP Client beforeSending does not take callables"
- Laravel Version:  8.7
- PHP Version: 8.1
- Database Driver & Version: 5.7

### Description:

The `beforeSending` method on the `PendingRequest` class says that it takes a `callable $callback`, however, this is not entirely true. When the callback is called, it is done so using `$callback->__invoke(...)` and not `$callback(...)`. This makes the following syntax result in error "`Call to a member

[2022-03-15 11:57] driesvints commented on #41486
Thanks, I've sent in a PR for this: https://github.com/laravel/framework/pull/41489

[2022-03-15 11:57] #41486 closed

[2022-03-15 11:59] driesvints commented on #41302
Feel free to send in that PR when you can, thanks.

[2022-03-15 12:22] cbj4074 commented on #41483
Absolutely; I'm happy to take a look at this, but it will probably be later today or tomorrow.

[2022-03-15 14:37] noglitchyo commented on #25372
Still experiencing this issue with Laravel 8.

Booting of providers is executed before the mocks can be bind to the container.

E.g. using a EventServiceProvider which contains the following:

[code]
and a subscriber declared as follow:

[code]
In my tests, I need to mock `MyDependencyClass` but this class is resolved during boot which does not allow me to replace the dependency with the mocked in

[2022-03-15 15:06] bastien-phi opened #41492 "Test command with parallel and recreate-databases does not recreates databases"
- Laravel Version: 9.5.1
- PHP Version: 8.1.2
- Database Driver & Version: Postgresql 13

### Description:

Running `php artisan test --parallel --recreate-databases` with pest does not recreates databases. Not sure why, I looked a bit a this problem but I did not find any clue. Not even sure the problem is located in Laravel...

It looks like to work with PHPUnit.

For information, I'm using :
nu

[2022-03-15 15:07] Smoggert opened #41493 "Illuminate\Http\Resources\Json\JsonResource::__construct() & Illuminate\Support\Traits\EnumeratesValues::mapInto() cause unexpected behavior."
- Laravel Version: 8.83.4
- PHP Version: 7.3.27
- Database Driver & Version: N/A

### Description:
Json resource's constructor is being misused when triggering mapInto by for example using
`JsonResource::collect();`

JsonResource's constructor:
[code]

How i's being used:
[code]

Extending the resource without DEEP knowledge of the underlying system causes unexpected behavior because the construct

[2022-03-15 15:29] driesvints commented on #41492
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-03-15 15:29] #41492 closed

[2022-03-15 15:30] driesvints commented on #41493
Please don't do this. This isn't supported.

[2022-03-15 15:30] #41493 closed

[2022-03-15 15:44] driesvints commented on #41423
I'll re-open this when you've provided a repository.

[2022-03-15 16:46] kristijorgji commented on #35635
I get HttpClientException with status code 503 but no other information like remaining time for maintenance like I could get with  `MaintenanceModeException` that exposed `willBeAvailableAt` and `wentDownAt`

How can I get those fields where are not present in HttpClientException!

[2022-03-15 20:49] driesvints commented on #41302
@xrobau just send in that PR if you can please.

[2022-03-15 20:50] xrobau commented on #41302
Thank you, I'll try to get onto it today.

[2022-03-15 22:41] Limpisey168 opened #41501 "#24755"
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2022-03-15 22:43] #41501 closed

[2022-03-16 01:39] xrobau commented on #41302
https://github.com/laravel/framework/pull/41502

My default PHP Linters decided that `new xxxx` should be `new xxxx()` - I am unsure if that is actually in any PSR, but I left it as it was. If this is an issue with your coding standards, feel free to remove them.

The code ended up being pretty trivial, as soon as I looked into it.

[2022-03-16 07:30] bastien-phi commented on #41492
Thanks @driesvints

The problem indeed does not comes from the framework (https://github.com/pestphp/pest/issues/501)

[2022-03-16 08:04] mabdullahsari opened #41509 "S3 Adapter fails when "/" is requested"
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Database Driver & Version: MySQL 8.0.28

### Description:

`AwsS3V3Adapter`'s `url` method returns an AWS validation error when `/` is issued as command, because League's `PathPrefixer` strips it away and ends up with an empty string. `GetObject`'s `Key` arg requires a string with a length of at least 1, hence the error:

`InvalidArgumentException wi

[2022-03-16 08:17] bdaler commented on #41483
Maybe in this [line](https://github.com/laravel/framework/blob/650ca875d3bd7e876ed89f803c705d5d6c121d90/src/Illuminate/Database/Schema/Grammars/PostgresGrammar.php#L275)  drop table should be with a schema name? Something like: `drop table schemaA.tableName cascade;`

[2022-03-16 09:15] aldesrahim opened #41511 "Merging http data resetting its index"
Hello, i've some issue with Http Client, please take a look. Thank you !

https://github.com/laravel/framework/blob/650ca875d3bd7e876ed89f803c705d5d6c121d90/src/Illuminate/Http/Client/PendingRequest.php#L745-L747

in above code, `parseHttpOptions()` merge `$options` from `send(string $method, string $url, array $options = [])`, this could be an issue for data like this:
[code]

example code `Http:

[2022-03-16 10:19] driesvints commented on #41511
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-16 10:19] #41511 closed

[2022-03-16 13:14] cbj4074 commented on #41483
Finally getting a chance to dig into this in earnest...

As is the case with all things `search_path`-related, the fix likely to be nuanced and will have to be vetted carefully so as not to break anything else, as not all of the affected code has test coverage (particularly the older code).

It doesn't look like I've touched any of the `db:wipe`-related functionality to date (only `db:dump and `db

[2022-03-16 13:21] aldesrahim commented on #41511
Hi, thanks for your response. thank you for suggesting me, i'll try to post on forums/links you have suggested.

just curiosity, is that behavior (the one i reported) intentional ? Thank you in advanced.

[2022-03-16 14:33] manojmilani opened #41515 "MS SQL Server migration not working"
- Laravel Version: 8.61.0
- PHP Version: 7.3.33
- Database Driver & Version:  sqlsrv & 2019

I am getting below error when I run the command php artisan migrate

SQLSTATE[42000]: [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Introducing FOREIGN KEY constraint 'xxxxx_id_foreign' on table 'xxxxx' may cause cycles or multiple cascade paths. Specify ON DELETE NO ACTION or ON UPDATE NO ACTION,

[2022-03-16 14:34] driesvints commented on #41515
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-03-16 14:34] #41515 closed

[2022-03-16 16:54] mo20130123 opened #41518 "use setter method to upload an image - error"
- Laravel Version: 9.2
- PHP Version: 8.0.16

### Description:

I was using the old Laravel setter method in the model to upload an icon image when creating a new Category

    class Category extends Model
    {
        public function setIconAttribute($value)
        {
               $fileName = 'Icon_'. $this->name .'_'.rand(11111,99999).'.'.$value->getClientOriginalExtension();
               $

[2022-03-16 16:55] cjmcdonn commented on #20482
It seems like this should be the expected behavior, after all camelCase('start-with-kebab') converts to 'startWithKebab', just as you would expect. The fact that snake case doesn't seems to be the outlier. The requirement to "stack" helpers seems excessive.

[code]

[2022-03-16 17:36] #41518 closed

[2022-03-16 17:51] mo20130123 opened #41520 "setter method in the model to upload Image not saving to database"
- Laravel Version: 9.2
- PHP Version: 8.0.16

### Description:

 I am using the setter method in the model to upload icon Image

[code]

and it uploads the image but it is not saving the fileName in the database

[2022-03-16 20:18] mabdullahsari commented on #41509
Seems like it's a bug in Spatie's Medialibrary package.

For anyone coming across the same issue: https://github.com/spatie/laravel-medialibrary/issues/2778

[2022-03-16 20:18] #41509 closed

[2022-03-16 20:58] TomasMatusek commented on #41391
Yes I am facing same issue here. I deleted all migration files but that personal_access_tokens table is still created even I dumped everything.

`"require": {
        "php": "^8.0",
        "fruitcake/laravel-cors": "^2.0",
        "guzzlehttp/guzzle": "^7.0.1",
        "laravel/framework": "^8.54",
        "laravel/sanctum": "^2.11",
        "laravel/tinker": "^2.5",
        "laravel/ui": "^3.3"

[2022-03-16 21:03] cbj4074 commented on #41483
Okay, I've had a chance to assess the issue pretty thoroughly at this point.

This is a complicated problem and understanding #36046 is important to ascertaining why.

@abelharisov , `artisan db:wipe` only "kind-of works" for you because the table names across your two schemas are unique, with the exception of `migrations` (which is why that one is not dropped from the second schema). That is to s

[2022-03-16 22:20] NickStallman opened #41522 "Builder::whereDate() prevents the use of indexes"
- Laravel Version: ^8
- PHP Version: 7.4
- Database Driver & Version: MySQL 8.0

### Description:

Using Builder::whereDate() forces the WHERE condition to wrap the column name in the MySQL DATE() function, this is quite detrimental as it means MySQL needs to process the value of every single column, and it precludes the use of indexes.

I think my use case is a fairly common one, I have a table t

[2022-03-17 08:31] driesvints commented on #41522
Isn't the solution here to just not use `whereDate`? That method was indeed specifically created to make use of SQL's `DATE` function. We cannot know upfront which columns use indexes.

[2022-03-17 09:33] Healyhatman commented on #41390
@driesvints  ? Where is it being instantiated?

And from the documentation:

[2022-03-17 10:59] jordanade commented on #29555
In my case, calling restore() on a model created with replicate() prevented a subsequent call to save() from working.

[2022-03-17 11:55] lucaslz commented on #19766
Try:

location /iconic {
                rewrite ^/iconic/?(.*)$ /$1 break;
                try_files $uri $uri/ /index.php?$query_string;
}

[2022-03-17 12:53] driesvints commented on #41522
I think it's best to just avoid usage of that method here.

[2022-03-17 12:53] #41522 closed

[2022-03-17 15:01] mo20130123 opened #41533 "Mutator called 9 times"
- Laravel Version: 9.2
- PHP Version: 8.0.16

### Description:

[code]

when creating a new Category -
the Log count called 9 times
which cause the image to be uploaded 9 times

[2022-03-17 15:03] budimanfajarf commented on #23826
I do the "hacking" request, thanks @BenoitDesrosiers

It's my approach

Controller :
[code]

Resource :
[code]

The `bar` will be shown if the `foo` key exists in the `extra_data` array from request, even if the value of `foo` is `null`, the `bar` still showed as I expected. It can be used in a single resource or resource collection.

[2022-03-17 15:27] driesvints commented on #41533
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-17 15:59] mo20130123 commented on #41533
Hello Dries
please let me if I am wrong -
when I use the old way SetBannerAttribute() It worked fine - but with the new way - it has been called 9 times  -
so I assumed that this is a problem in the library

[2022-03-17 19:03] roberto-butti opened #41536 "Collection select()"
### Discussed in https://github.com/laravel/framework/discussions/41521

<div type='discussions-op-text'>

<sup>Originally posted by **roberto-butti** March 16, 2022</sup>
- Class: Collection
- Method: select()

When you have a bi dimensional array like this one (an array of associative arrays):
[code]
You can apply method for filtering (**where()**), sorting (**sortBy()**) and so on ...
If you wa

[2022-03-17 19:57] NickStallman commented on #41522
Yes that was my solution, however reading the documentation you'd never realise that whereDate is a terrible solution in it's current form in many use cases.
The example usage is very similar to my real world usage but I don't think that latency graph is "working well and as expected".

The documentation should at least note that database indexes will never be used with any of those date/time func

[2022-03-17 20:13] driesvints commented on #41536
Please keep feature requests in the Discussions section, thanks.

[2022-03-17 20:13] #41536 closed

[2022-03-18 11:52] sinemacula commented on #27175
Hi @driesvints - I do not believe this issue is fixed, and if I have understood the suggested solution correctly, this does not resolve the issue.

The issue is quite easy to replicate; Just create a `nullableUuidMorphs` in a migration, and then try to query that relation (use `morphTo` to define the relation).

For example, this is my relation on my `Referral` model:

[code]

Let's assume that my

[2022-03-18 12:02] sinemacula commented on #27175
@driesvints - further to my above comment, I have managed to make some progress. As @y-morozov mentioned, it appears to be to do with the `$ownerKey`. If update my relation to the following:

[code]

It no longer throws the exception... This seems odd but I guess it may be the solution...

[2022-03-18 13:20] SupianIDz opened #41558 "Duplicated Events when shouldDiscoverEvents is true"
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Database Driver & Version: MySQL 8.0.28

### Description:
When events are registered manually and `shouldDiscoverEvents` returns `true` there will be duplication of Event Listener.

Based on the code snippet below, the Listener should be unique when it will be registered.

https://github.com/laravel/framework/blob/a25eb78d289186a099de60614612f4fda7f7

[2022-03-18 13:33] driesvints commented on #41558
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-03-18 13:42] SupianIDz commented on #41558
https://github.com/SupianIDz/bug-report/tree/duplicated-event

[2022-03-18 13:45] SupianIDz commented on #41558
https://github.com/SupianIDz/bug-report/tree/duplicated-event

<img width="950" alt="Screen Shot 2022-03-18 at 21 45 17" src="https://user-images.githubusercontent.com/37969970/159014093-df029fda-55e4-475c-bd34-0a53955b34b3.png">

[2022-03-18 14:02] #41420 closed

[2022-03-18 14:17] driesvints commented on #41558
This is normal. You've both enabled event discovery and manually registered the event. You need to do one or the other.

[2022-03-18 14:17] #41558 closed

[2022-03-18 17:28] cbj4074 commented on #41483
I have a draft PR, #41541 , which should resolve this issue (and potentially other yet-to-be-identified issues of a similar nature), if anybody wants take it for a spin before I submit it for review. "Works for me!", of course. ;-)

[2022-03-18 21:43] felipe-dsdev opened #41565 "Fallbacks not working with .json translation files"
- **Laravel Version:** 9.4.1
- **PHP Version:** 8.1.1
- **Database Driver & Version:** MySQL 8.0.28 for Linux on x86_64

### Description:
Fallbacks not working with .json translation files

### Steps To Reproduce:

- In configuration
  - Add any language as default language
  - Add other language as fallback language
- Create an empty .json file for these languages
- In .json of fallback language

[2022-03-18 21:52] felipe-dsdev commented on #41565
To fix this behavior I modified the method bellow:
https://github.com/laravel/framework/blob/6094c427834827b9932f848b6a37d788c181e814/src/Illuminate/Translation/Translator.php#L100-L135

I added the following code after line 109:
[code]

The complete code:

[code]

[2022-03-18 23:27] fragkp opened #41566 "[9.x] Collection `times` method type error (phpstan)"
- Laravel Version: 9.5.1
- PHP Version: 8.1.x
- Database Driver & Version: -

### Description:

PHPStan reports an error when the collection method `times` is called without the callback parameter.
Note: This behaviour is not [documented](https://laravel.com/docs/9.x/collections#method-times).

_Unable to resolve the template type TTimesValue in call to method static method Illuminate\Support\Coll

[2022-03-19 08:41] driesvints commented on #41566
Hey. No code is broken here so this isn't a bug. If you want to fix a phpstan issue we appreciate prs. Thanks.

[2022-03-19 08:41] #41566 closed

[2022-03-19 09:01] fragkp commented on #41566
Hey @nunomaduro,

maybe you could give me a hint on how to fix this problem? 😃 Would sent than a PR.

[2022-03-19 09:20] videsh-4433 opened #41567 "Bootstrap config file showing env secret keys"
- Laravel Version: 7.0
- PHP Version: 7.4.0
- Database Driver & Version: MySql  8.0.27

### Description:
I have an issue with bootstrap cache files, because the bootstrap folder always need read write permission and when i am giving this permission the config.php file inside bootstrap/cache folder are showing my secret keys like all env variables are showing over there, So this issue will compromi

[2022-03-19 11:11] mikeydevelops commented on #41567
Yes that is how Laravel caches configuration, by default the cache folder in bootstrap is ignored from git,  so it won't be uploaded and no secrets will be shared.
And in terms of public access, this is what the public forlder is for. You configure your server to allow access to the public folder only, anything else should not be accessable if it is, you have misconfigured your server.

[2022-03-19 11:58] emiliopedrollo commented on #20528
I can also reproduce this issue on my Laravel 8 installation

[2022-03-19 12:43] driesvints commented on #41567
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-03-19 12:43] #41567 closed

[2022-03-20 09:22] aminjavadi02 commented on #34121
mine was just another terminal working on 8000 (which was not closed properly and was still running ), so when i killed it, the serve command got back on 8000

[2022-03-20 19:59] Traqza opened #41583 "Eloquent bug"
- Laravel Version: 8.83.4
- PHP Version: 8

Apologies on title, not sure how to title it...

If you had a list of say 10 customers; and you attempted to view any of the customers. It would result in the viewing of one particular customer (customer would not be the first record in the system). The UUID of the customer would change, but the outcome would be the same.

model method of

[code]

Mistak

[2022-03-20 21:20] massimodellarovere opened #41585 "Laravel 9 Remove Headers from Amazon SES Transport"
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Database Driver & Version: MySQL 5.7

### Description:
After upgrade Laravel 9 I not receive SES Message ID from Header

### Steps To Reproduce:
vendor/laravel/framework/src/Illuminate/Mail/Transport/SesTransport.php (old set)
![image](https://user-images.githubusercontent.com/5731295/159186322-4ec80462-9503-44d3-82c1-8288d6c97dc9.png)
vendor/laravel

[2022-03-21 07:37] init-database opened #41588 "how to use laravel sanctum with multiple frontend"
I have laravel with sanctum as an API with this url: http://127.0.0.1:8000

that API is being consume by these two websites:

Admin Dashboard with url: http://127.0.0.1:3005

Ecommerce with url: http://127.0.0.1:3000

the problem is when I login to the Admin Dashboard using admin account, it also logged me in for the Ecommerce website, in other words they share the same session, admin dashboard co

[2022-03-21 07:55] driesvints commented on #41583
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-03-21 07:55] #41583 closed

[2022-03-21 08:02] driesvints commented on #41565
The current code works as intended. With JSON translations, there is no usage of a fallback language. The key is the translation.

[2022-03-21 08:02] #41565 closed

[2022-03-21 08:33] uz-bueno opened #41590 "Error using AWS SDK in artisan command"
- Laravel Version:  8.83.0
- PHP Version: 7.4.28
- Database Driver & Version:
mysql 5.7

### Description:

An exception is thrown when trying to create an instance of Aws\Ssm\SsmClient in an artisan command:

[code]

I have added the same code in a route handler and it works without issues, but does not work on artisan command.

### Steps To Reproduce:

[code]

[2022-03-21 08:36] driesvints commented on #41590
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-21 08:36] #41590 closed

[2022-03-21 09:04] Limpisey168 opened #41592 "issue is:open label:"good first issue""
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2022-03-21 09:19] #41592 closed

[2022-03-21 09:29] driesvints commented on #41585
You need to use the `$sent` property on the message instead to get the correct message header. With this you can use `getMessageId` which will return the correct message ID. This got changed with the new Symfony Mailer implementation. I'll send a note to the upgrade guide.

`$event->sent->getMessageId()`

[2022-03-21 09:29] #41585 closed

[2022-03-21 09:40] driesvints commented on #41585
Here: https://github.com/laravel/docs/pull/7819

[2022-03-21 11:00] mfn commented on #18384
I've recently commented on this thread [where I was suggesting pgbouncer](https://github.com/laravel/framework/issues/18384#issuecomment-763770308).

In my case I was:
- running pgbouncer since ages due to other reasons with PHP and many connections to the DB (laravel unrelated)
- recently deploying a much more active job/queue change to one of my application, encompassing > 60 queues and > 300 wo

[2022-03-21 12:08] ZaeemNexgen commented on #32167
dd

[2022-03-21 16:48] hmdshariati commented on #28705
you should create your default schema in postgres manually. like create new database in mysql. then it will works.

[2022-03-21 17:29] massimodellarovere commented on #41585
Now the problem is that MessageId is not same value the X-SES-Message-Id.. Message Id is create from Symphony with domain used.. But the Amazon call API SES return an value different that is important for check the notifications above status message as BOUNCED, DELIVERED etc.. Amaozn not use MessageId generated Synphony.. In version 8 MessageId e SesMessageid has same value. But Now en Laravel 9 M

[2022-03-21 17:44] nticaric opened #41599 "Broken translation"
- Laravel Version: 8.40
- PHP Version: 8.1.4

### Description:
The tranlation function `@lang('something')` will return an error if `something`  is a file located in `lang/en/something.php`.

For example, laravel comes wiht `lang/en/passwods.php` file and if you want to translate the word `passwords` it will throw an `Array to string conversion` error.
This bug is true for all laravel version from

[2022-03-21 18:01] #41599 closed

[2022-03-21 18:42] nticaric commented on #41599
Justifying that this is not a bug and expected only because it's mentioned in the documentation is wrong. The actual fix is very simple.
It should look into files only if there is a dot in the string, otherwise not

[code]

[2022-03-21 20:03] ijasxyz commented on #23973
@techdaddies-kevin Np.

[2022-03-21 21:03] Cintrust opened #41601 "Http:retry(...) does not retry request when throw param is set to false"
- Laravel Version: 9.2.0
- PHP Version: 8.1.0
- Database Driver & Version: MSQL v8.0.27

### Description:
Calling `Http::retry(3, 100, function(){return true} ,throw: false)->post(...);` does not retry the request but returns the response of the first attempt.

### Steps To Reproduce:
run `php artisan tinker` and paste the following code.
or just paste it inside any controller
[code]
check logs. N

[2022-03-22 01:47] JesterIruka opened #41602 "Jobs randomly result in composer load class fail without even trying to process it"
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Database Driver & Version: PGSQL (12.9)
- Queue driver: Redis (with 8 workers on queue "low")

### Description:
Random instances of the same Job lead to composer autoload error. (Failed to open stream: No such file or directory).
I use pm2 to create the workers, the job doesn't even appear at the screen, just print directly in the storage/logs/larave

[2022-03-22 07:42] driesvints commented on #41602
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-22 07:42] #41602 closed

[2022-03-22 09:48] divoto commented on #35241
Does anyone found a workaround for this????

[2022-03-22 11:43] Tofandel opened #41613 "php artisan config:cache error"
- Laravel Version: 9.5.1
- PHP Version: 8.0.16
- Database Driver & Version: Mariadb but doesn't matter

### Description:

### Steps To Reproduce:

Just run `php artisan config:cache` a bunch of times, around 1 out of 2 times (if it was already cached) the following error appears

[code]

This seems to be a problem with `opcache.enable_file_override` which caches the result of is_file

[2022-03-22 11:46] driesvints commented on #41613
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-22 11:46] #41613 closed

[2022-03-22 11:47] driesvints commented on #41613
I don't think this is an issue with Laravel or we should be seeing way more reports for this. Please try a support channel. Thanks

[2022-03-22 11:53] Tofandel commented on #41613
It is but with a specific configuration

With `opcache.enable_file_override = 1` in your php ini

Then is_file is cached, but the require fails because it doesn't actually exist, though a fix is really trivial with a try {} catch around the require

[2022-03-22 11:58] driesvints commented on #41613
Feel free to attempt that fix if you want 👍

[2022-03-22 12:44] crynobone commented on #41613
If you want to use OpCache on CLI mode, the deployment flow (where you run `config:cache`) should also clear OpCache. Otherwise you will see other issues between deployment.

Tool such as https://gordalina.github.io/cachetool/ should be useful.

[2022-03-22 12:54] Tofandel commented on #41613
@crynobone But in this case the problem is both is_file happens during the same command, so clearing the cache before will not change anything

Basically running the command loads the config on bootsrap, so is_file was cached and will now return true for the rest of the script
The cache file is unlinked
The cache is regenerated and for this it loads the config again with the call to is_file which

[2022-03-22 13:00] crynobone commented on #41613
https://engineering.facile.it/blog/eng/realpath-cache-is-it-all-php-opcache-s-fault/

[2022-03-22 13:06] Tofandel commented on #41613
What am I supposed to take from this article?

I'm talking about https://www.php.net/manual/en/opcache.configuration.php#ini.opcache.enable-file-override

And I have `validate_timestamp` set to 1, but the issue is the `is_file` is still cached until the end of the request (in this case the end of the script)

[2022-03-22 17:57] mfth12 commented on #16084
hai

[2022-03-22 20:13] JesterIruka commented on #41602
Please, reconsider your response, since there isn't any class of my project in the stacktrace, I tried the discord before opening an issue, got nothing so far.
[code]

[2022-03-23 08:18] hAz5 opened #41631 "Rule:in has unexpected behavior"
### Discussed in https://github.com/laravel/framework/discussions/41618

<div type='discussions-op-text'>

<sup>Originally posted by **hAz5** March 22, 2022</sup>
in below test, we can see the different answers from a null and empty string
[code]

[2022-03-23 08:20] driesvints commented on #41631
Please don't convert discussions to issues.

[2022-03-23 08:20] #41631 closed

[2022-03-23 10:47] StevyMarlino opened #41633 "Class "Postmark\Transport" not found"
- Laravel Version: 8.75
- PHP Version:  8.1.0,
- Database Driver & Version: mysql : 5.7.24

### Description:
Good morning ! I have a problem with the configuration of sending emails with the postmark method!! I don't know if this is due to the abadon of the swiftmailer/swiftmailer package in brackets
but after configuring my service to send email I come across a message telling me Class "Postmark\

[2022-03-23 11:27] driesvints commented on #41633
You're trying this on Laravel v8 which doesn't supports Symfony Mailer. Please upgrade to Laravel v9 to use this.

[2022-03-23 11:27] #41633 closed

[2022-03-23 11:29] X-Coder264 commented on #41633
Yeah, on Laravel 8 you need to require the `wildbit/swiftmailer-postmark` package in order for the Postmark driver to work.

https://github.com/laravel/framework/blob/v8.83.5/src/Illuminate/Mail/composer.json#L42

[2022-03-23 13:41] JesterIruka commented on #41602
(I forgot to mention you)
@driesvints

[2022-03-23 17:48] goashir opened #41639 "Bug on str_replace and paginate"
Hi,
in blade codes when have `paginate` and want use `str_replace ` laravel showing nothing!
**in Controller:**
[code]

**in blade:**
[code]

**in tailwind.blade.php** (laravel/resources/views/vendor/pagination)
[code]
Laravel Framework 9.5.1

[2022-03-23 20:19] JesterIruka commented on #41602
Probably related, the `dispatch()->beforeCommit()` doesn't work on the first time.
https://i.imgur.com/lGeuEhh.png

[2022-03-23 20:24] selfsimilar opened #41643 "PHP 8.1: Passing null to non-nullable parameters of built-in functions is deprecated"
- Laravel Version: 9.3..1
- PHP Version: 8.1.x
- Database Driver & Version:

### Description:

See [Migrating from PHP 8.0.x to PHP 8.1.x - Deprecated Features](https://www.php.net/manual/en/migration81.deprecated.php#migration81.deprecated.core.null-not-nullable-internal)

A PHP warning is emitted when `trim()` is passed a `null`. `trim()` is used extensively throughout the framework,
but specifi

[2022-03-23 20:46] selfsimilar commented on #41643
Apparently a lot of the string functions, not just `trim()` have more strongly-typed parameters now. It's probably a decision better made by the maintainers whether to fix everything in on big PR (probably just casting with `(string)` before parameter #1 is sufficient where appropriate), or to spread the fixes over many PRs in more easily reasoned-about chunks.

[2022-03-23 21:00] felipe-dsdev commented on #41565
Okay, I will implement it directly in my code. Thanks.

[2022-03-23 21:11] JawadR1 commented on #41601
It is retrying. According to [Laravel documention](https://laravel.com/docs/9.x/http-client#retries)

Please try a Laravel forum if you need more information.

[2022-03-23 22:36] mfmarques opened #41646 "trans_choise is not working properly inside toMail"
- Laravel Version: 9.3.1
- PHP Version: 8.1.2

## Description:

The trans_choise function does not work properly when called inside the toMail

## Steps to Reproduce:

Job: `\Log::info(['job' => trans_choice('messages.apples', 2)]);`
Notification constructor: `\Log::info(['notification constructor' => trans_choice('messages.apples', 2)]);`
Notification toMail: `\Log::info(['notification toMail' =>

[2022-03-23 22:38] eduance commented on #41601
In addition to what @JawadR1 has posted I wanted to confirm that it was actually retrying the given request.

`Http::retry(3, 100, function ($exception) {
    report($e);
}`

The `retry()` method simply sets some properties within the PendingRequest class, free of charge!

However, it is important to understand what those properties will end up being used for. Like grannie always tell me, you can

[2022-03-23 22:56] eduance commented on #41646
I have just tried recreating it but was not able too.

![unrecreatble](https://user-images.githubusercontent.com/101891339/159809780-b172811c-a885-4744-b0d9-25f95335c4d9.gif)

[2022-03-24 00:28] littleblue50 commented on #41601
I know I'm not the OP but I am having this exact issue too and thank you for your well thought out and thorough response, but in my case (and I think the OPs if I'm reading it correctly) the retry isn't actually done. I tested this by logging calls to the retried endpoint as well as within the closure itself to confirm it doesn't.

[2022-03-24 01:43] medeiroz opened #41649 "Collection - not possible group by with Stringable"
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Database Driver & Version: N/A

### Description:
When need use the groupBy method with Stringable column on collection. then error has been displayed

### Steps To Reproduce:

Make the collection with Stringable

[code]

Then call groupBy method

[code]

![image](https://user-images.githubusercontent.com/11270546/159924453-5c05b47c-41d2-4226-a540-b5f

[2022-03-24 03:19] eduance commented on #41601
Could you show how you are using the retry method?

[2022-03-24 03:25] eduance commented on #41649
Could you add the errors?

[2022-03-24 08:45] kkdaysamtang opened #41651 "Redis Connection database change to 0 when throw RedisException(read error on connection)"
- Laravel Version: 9.5.1
- PHP Version: 8.0.13
- Database Driver & Version: not use
- Redis Driver & Version: phpredis & 5.0.6

### Description:

Redis connection use the datebase 1 and set read_timeout to 1 second, if the Redis connection fails with read_timeout (RedisException), the using database change to 0
[code]

Effect two scenarios
- Cache: If this error occurs, the next redis command will

[2022-03-24 09:13] Cintrust commented on #41601
@eduance,
I have looked at the test refferenced at
https://github.com/laravel/framework/blob/9.x/tests/Support/SupportHelpersTest.php#L572

I could not see any test for `Http:retry()`
Which is what I am having issues with.
The retry function as you mentioned works as it should.

[2022-03-24 13:19] medeiroz commented on #41649
Sure,

[2022-03-24 16:10] hsin-yunn opened #41659 "Why Laravel SignedUrl when the URL setting contains “/api”，will return 403 Invalid Signature？"
- Laravel Version:  8
- PHP Version: 7.4
- Database Driver & Version: mysql

### Description:

environment is Ubuntu 20.04

nginx setting

[code]

laravel’s app_url still contains `/api`，so whole url will become `mydomain.com/api/api`

I had tried to find from  /vendor/laravel/framework/src/Illuminate/Routing/UrlGenerator.php (https://github.com/illuminate/routing/blob/8.x/UrlGenerator.php)](https

[2022-03-24 16:49] imtommychan1215 commented on #28941
My workaround for this case:

Route:
`   Route::middleware(['signed:relative'])->group(function () { ... });`

Signed Route:
`URL::temporarySignedRoute('downloadDiscoveryDocument', now()->addDay(), '', false)`

[2022-03-24 20:03] tp971 opened #41665 "lazy() skips and duplicates rows"
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Database Driver & Version:
    - Server: MariaDB 10.3.34-MariaDB-0ubuntu0.20.04.1 - Ubuntu 20.04
    - Database client version: libmysql - mysqlnd 8.0.17

### Description:

When fetching models with `...->orderBy(...)->lazy()`, the resulting collection potentially skips rows or returns the same row multiple times.

### Steps To Reproduce:

Iterate ov

[2022-03-24 22:02] crissi commented on #41665
It is because it uses page/limit sql, that can cause skipped rows.

Would probably be nice for lazy to implement cursor pagination as the internals instead of page/limit logic this will prevent the skipped rows and make it faster

[2022-03-24 22:23] medeirosinacio commented on #27956
i have this same problem.

[2022-03-24 23:21] karam-mustafa commented on #41649
This is because Str::of return Stringable instance first,
Try to use plain string

[code]

[2022-03-24 23:27] medeiroz commented on #41649
This bug was solved by [PR-41650](https://github.com/laravel/framework/pull/41650)

[2022-03-24 23:27] #41649 closed

[2022-03-25 01:22] tristanh00 commented on #41643
How would casting (string) resolve this on a null parameter?  Would the value just be "null"?

[2022-03-25 03:50] davidturtle commented on #41659
It also bothers me for a long time.

[2022-03-25 06:30] kodyli opened #41672 "Code differences"
https://github.com/laravel/framework/blob/7e82e1a272a72d75b4cd7f35a2267e9af5d642c2/src/Illuminate/Routing/RouteRegistrar.php#L90

in my project it is:

    /**
     * Set the value for a given attribute.
     *
     * @param  string  $key
     * @param  mixed  $value
     * @return $this
     *
     * @throws \InvalidArgumentException
     */
    public function attribute($key, $value)
    {

[2022-03-25 09:07] trappistes opened #41677 "dimensions:ratio return 302 when upload big image"
- Laravel Version: 8.83.2
- PHP Version: 8.0
- Database Driver & Version:

### Description:
dimensions:ratio validation all ways return 302 when the image with or height has more then 30000 pixel
30000x15000 isok
30002x15001 return 302

### Steps To Reproduce:

[2022-03-25 10:42] ialaminpro opened #41678 "db: The `save` function does not work properly when updating a row with the Postgres database."
- Laravel Version: 8.75
- PHP Version: 8.0
- Database Driver & Version: pgsql & postgres (PostgreSQL) 12.9 (Ubuntu 12.9-0ubuntu0.20.04.1)

### Description:
[code]

This code not only updates the given ID, It is updates all my rows with the same title. After the disaster, I had to restore the backup of the 10 GB size database. Luckily I had a backup.

I was running the same code on **MySQL server**

[2022-03-25 10:45] driesvints commented on #41677
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-25 10:45] #41677 closed

[2022-03-25 10:45] driesvints commented on #41678
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-25 10:45] #41678 closed

[2022-03-25 10:58] amims71 commented on #41678
@driesvints , if a `save()` method updates all the rows, that is a **bug**.

[2022-03-25 11:22] ialaminpro commented on #41678
@driesvints, Will you review the issue again? Something strange is happening with the `save()` function at `Postgres Server`.

[2022-03-25 11:35] driesvints commented on #41678
I doubt there's a real issue here or we should be seeing way more reports about this. Most likely, something is off with your specific app. Please try a support channel.

[2022-03-25 11:49] crynobone commented on #41678
@driesvints  is correct.

[code]
This would make `$model` equals to `null`.

How is it possible that you can do `$movie->title = 'Foo';` when `$movie` clearly is `null`.

Either you have some other issue on your app or what's reported above is incomplete and require more investigation. Which best discuss/debug on support channel first.

![image](https://user-images.githubusercontent.com/172966/160

[2022-03-25 12:59] ialaminpro commented on #41678
@crynobone

Why `$movie = Movie::find(1855613);` is should be return `null ` if `1855613`  ID is exists in the database?

![save](https://user-images.githubusercontent.com/11612614/160124795-c97aee04-6ae7-461d-a3a4-7f7bdda42355.jpg)

Do you mean
[code]
this is not possible ?

[2022-03-25 13:10] crynobone commented on #41678
@ialaminpro If you believe there a bug, submit a failing test PR. You can use https://github.com/crynobone/framework/commit/a271266c95ebe44af9ed1e83bc04ad0e44b8c630 as reference.

[2022-03-25 15:18] glmdev commented on #37043
I ran into this while trying to add a generic helper that will delete temp files created while the job was running. (e.g. the job runs and temp files are stored in an array on the job instance, however that array was obviously empty when the `failed` method was called, causing files to be left behind)

A convenient way to accomplish this can be done using the `__destruct` method of the job. Someth

[2022-03-25 16:56] selfsimilar commented on #41643
As a follow-up thought, this deprecation seems like an indication that PHP is becoming more strongly typed, and it's likely worth having a long think about whether or not casting null values will be enough in the long-term. There's probably a good case to be made that adding type declarations wherever possible (function arguments, return values, class properties) should be a part of the fix, in or

[2022-03-25 17:53] erichowey commented on #41313
I am also having this issue. I created an example app to reproduce this issue:

https://github.com/erichowey/LaravelExample

[code]

As you can see, a user was persisted even though `App\Models\Post::factory()->make()` was called
![image](https://user-images.githubusercontent.com/4033313/160174985-2284583b-88e8-4e93-adad-c74563013148.png)

However, the post was not persisted as expected.
![image](

[2022-03-25 17:58] tristanh00 commented on #41643
@selfsimilar Thank you for those links, and I strongly agree that the fix should be future proof for the direction PHP is heading.   Probably starting off multiple small PRs is the way to go to start enforcing strictly typed variables in Laravel.

[2022-03-25 18:45] laratutodotcom commented on #26511
**How to get file extension from path in Laravel 9?** https://laratuto.com/how-to-get-file-extension-from-path-in-laravel/**

[2022-03-25 18:47] laratutodotcom commented on #12350
How to get file extension from path in Laravel 9? https://laratuto.com/how-to-get-file-extension-from-path-in-laravel/**

Larvel Function

[code]

[2022-03-25 23:54] ArielMejiaDev opened #41690 "artisan test coverage command not working"
- Laravel Version: 9.2.x
- PHP Version: 8.0.17
- Database Driver & Version: sqlite

### Description:

with Laravel Valet it always return "Unable to get coverage using Xdebug. Did you set Xdebug's coverage mode?"

I already have Xdebug installed:
![Screen Shot 2022-03-25 at 5 44 45 PM](https://user-images.githubusercontent.com/31971074/160215609-6ade647e-94d7-4118-860b-4c6cac7a3628.png)

Here the

[2022-03-26 02:46] #41690 closed

[2022-03-26 04:07] eduance commented on #41601
@Cintrust Sorry for the late reply. I see what you mean, I indeed don't see it retry when the throw parameter is set to false. I'll see when I have time to help out with a PR.

[2022-03-26 06:43] LukeTowers commented on #32943
See https://wintertricks.com/tricks/paginator-with-limited-number-of-pages-displayed-at-once for an example of how you can render a completely custom paginator link window setup (example is in Twig but is easily extrapolated to Blade or PHP.

[2022-03-26 06:44] LukeTowers commented on #37571
See https://wintertricks.com/tricks/paginator-with-limited-number-of-pages-displayed-at-once for an example of how you can implement a completely custom onEachSide link window yourself in your views.

[2022-03-26 15:49] hicham-saddek opened #41693 "Adding global scopes in traits is deprecated"
- Laravel Version: 9.x
- PHP Version: 8.1.x
- Database Driver & Version: mariadb:latest

### Description:
The laravel static method is no longer usable inside traits, because of Static Trait Methods deprecation in PHP 8.1.x
Link to docs: [PHP Doc: Static Traits Methods Deprecation](https://www.php.net/manual/en/language.oop5.traits.php#language.oop5.traits.static)

Is there any solution for the ti

[2022-03-26 16:46] ScholarshipDevelopers commented on #26122
Anyone else come across this, this was most likely due to having "...queue:work **SQS**" in the supervisord config's command... which tells laravel to use SQS connection in the config/queue.php

[2022-03-27 06:50] JesterIruka commented on #41602
Can you please review this issue? @driesvints

[2022-03-27 07:17] mikeydevelops commented on #41602
Maybe something failed while composer was dumping the classes?
Have you tried reinstalling composer dependencies i.e. delete vendor and running `composer install`?

[2022-03-27 07:17] masoud-codes commented on #19231
undefined variable: app_name
please help me

[2022-03-27 07:36] JesterIruka commented on #41602
@mikeydevelops Yes, I did everything, install, dump autoload, everything you can possible imagine with composer, it's random as hell, sometimes < 30% of the jobs actually work, sometimes is around >= 90%, even without applying any update to the project, just regular dispatchs and queue retries.

[2022-03-27 07:41] mikeydevelops commented on #41602
Sorry for the dumb question, but do you restart your queue workers after you dump the autoload?

[2022-03-27 07:42] JesterIruka commented on #41602
@mikeydevelops Also yes, since I use pm2 + octane, every worker is in the same namespace, when I restart the webserver, every worker also restart.

[2022-03-27 07:44] JesterIruka commented on #41602
![image](https://user-images.githubusercontent.com/49654905/160271946-6af4fce9-4df6-4d9f-b2f7-529dca239922.png)
Everything synchronized

[2022-03-27 07:47] mikeydevelops commented on #41602
can you see currently, does `vendor/facade/ignition/src/QueryRecorder/Query.php` exist. does the whole folder exist `vendor/facade/ignition`?

[2022-03-27 07:48] JesterIruka commented on #41602
It does not exists, only `vendor/facade/ignition-contracts/`
This also doesn't exists on my local machine.

[2022-03-27 07:53] mikeydevelops commented on #41602
Do you have any other projects running on the same server, maybe it is a memory leak where composer is using a different class loader?

[2022-03-27 07:54] JesterIruka commented on #41602
This is the only project running in PHP. Every other project is JavaScript, the server also has 32Gb, I'm currently using 2.65Gb

[2022-03-27 07:55] mikeydevelops commented on #41602
You want to continue this on discord? Let's not spam the issue and I will try to help you debug it? the.mickeyy#0631

[2022-03-27 08:15] MauriceKaluti commented on #11370
use finfo; seems to be working fine with me when using the finfo function in laravel controller

[2022-03-27 09:30] mikeydevelops commented on #41602
So for anyone facing a similar issue. The problem was some caching happening with Octane or PHP opcache. This happened when OP upgraded from Laravel 8.x to 9.x and the composer class loader file was somehow cached and after a full restart of the server the problem is no longer happening.

[2022-03-27 20:24] timhoeppner opened #41704 "Can't use camelCase naming with new Eloquent attribute syntax"
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Database Driver & Version: MySQL 8.0.28-1debian10

### Description:
I cannot use camelCase attribute names with the new Eloquent attribute syntax.

### Steps To Reproduce:

The following code results in `Call to undefined method App\Models\MyModel::getTestFooAttribute()`. Modifying the $appends to use 'test_foo' correctly calls the custom attribute.

[2022-03-28 00:19] bernardwiesner commented on #41665
I suppose this issue also happens with chunk() as it also uses offset and limit.

[2022-03-28 01:22] tylerwiegand commented on #41690
This just helped me. Thanks @ArielMejiaDev !

[2022-03-28 05:08] isaacdarcilla opened #41706 "Queue job in notification not updating"
- Laravel Version: 8.12
- PHP Version: 7.4
- Database MySQL

### Description:

I have this piece of code that loops student, updates the data in the array, then send the notification using queue. The problem is that the data in notification is not updating dynamically, it always sends the first data of student. How can I resolve this?

Already tried, restarting the queue worker, clearing cache, op

[2022-03-28 08:02] parmonov98 opened #41707 "Table Alias not getting right for softDelete on Model"
- Laravel Version:
-
![image](https://user-images.githubusercontent.com/24564577/160352341-215790ff-44db-4b98-a16e-108d7952a01d.png)

- PHP Version: 8.0
- Database Driver & Version: MySql

### Description:
I enabled softDelete in Model using trait. and the tale has deleted_at column.
This query
EmployeeTransaction::query()->from("employee_transactions as et")
                    ->leftJoin('employ

[2022-03-28 08:38] driesvints commented on #41643
A PR was sent in for this, thanks.

[2022-03-28 08:38] #41643 closed

[2022-03-28 08:55] driesvints commented on #41651
A fix was merged, thanks.

[2022-03-28 08:55] #41651 closed

[2022-03-28 08:59] driesvints commented on #41646
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-03-28 08:59] #41646 closed

[2022-03-28 08:59] driesvints commented on #41704
`$appends` needs to be `test_foo`

[2022-03-28 08:59] #41704 closed

[2022-03-28 09:04] driesvints commented on #41706
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-28 09:04] #41706 closed

[2022-03-28 09:18] driesvints commented on #41693
That's not possible anymore no

[2022-03-28 09:18] #41693 closed

[2022-03-28 09:19] tp971 commented on #41665
I don't know, but this doesn't seem very "undocumented": https://laravel.com/docs/9.x/queries#streaming-results-lazily

[2022-03-28 09:19] Roronoa97 commented on #35241
![custom checking signature](https://user-images.githubusercontent.com/63334875/160365727-ecddc5b4-b4c7-4f4f-a787-c77d179c77fc.PNG)

Hope this help, I'm just copying the syntax from  hasCorrectSignature() in UrlGenerator.php and implements it in my controller. I use route('name') to get full url. Already tested it on project serve in subdomain.

If there is better option, please teach me..Thanks

[2022-03-28 09:31] chowjiawei opened #41712 "whereNotNull does not work"
- Laravel Version: 8.83
- PHP Version: 8.0.10
- Database Driver & Version: mysql8

### Description:

whereNotNull    does not work

![image](https://user-images.githubusercontent.com/59349609/160369368-1ccdb607-4223-4639-ad5c-87ba7ad395b5.png)
![image](https://user-images.githubusercontent.com/59349609/160369435-25993f3c-8bcc-482d-b424-cc7026b99d46.png)

![image](https://user-images.githubusercont

[2022-03-28 09:35] driesvints commented on #41712
Probably does into your if statement because $type equals 1.

[2022-03-28 09:35] #41712 closed

[2022-03-28 09:38] chowjiawei commented on #41712
![image](https://user-images.githubusercontent.com/59349609/160370813-1097b1cc-6f2e-42e8-a05d-63c4c2f839d1.png)

In fact, it has nothing to do with tpye

[2022-03-28 09:43] crynobone commented on #41712
Are you absolutely sure?

![image](https://user-images.githubusercontent.com/172966/160371540-bb08e622-8d2c-4078-b1f8-2fef53eea0f4.png)

[2022-03-28 09:44] chowjiawei commented on #41712
I am sure ~
![image](https://user-images.githubusercontent.com/59349609/160371912-bd22e1cc-0fed-44f7-b46f-154f98a90dd9.png)

[2022-03-28 09:46] chowjiawei commented on #41712
sorry
My code is wrong

thank you

[2022-03-28 10:52] driesvints commented on #41665
@tp971 sorry, I mixed this up with the lazy method of collections.

To answer your question, I don't think you can use `->lazy()` like this: https://github.com/tp971/laravel-bug-lazy-collection/blob/master/app/Console/Commands/BugTrigger.php#L34. Can you try to use the `->each()` with it as documented?

[2022-03-28 11:10] tp971 commented on #41665
@driesvints using `->each()` results in the same issue. I just tested it and updated the repo

[2022-03-28 11:18] driesvints commented on #41665
@tp971 sorry I didn't see this before but it's indeed probably because you're ordering by a non-unique column. Cursor pagination also has this limitation:

<img width="699" alt="Screenshot 2022-03-28 at 13 18 16" src="https://user-images.githubusercontent.com/594614/160387091-29e70c27-8bf8-4507-b969-779f90a6abf3.png">

[2022-03-28 11:43] timhoeppner commented on #41704
I respect that's how it works right now I just thought this may be a bug since you can use camel case attributes with the older get...Attribute() and set...Attribute() syntax.

[2022-03-28 12:44] dianfishekqi opened #41714 "Allow localization of Validation Error summary"
Hello there,

It would be great if we added localization support to the summeriza part of laravel validation.

![Screen Shot 2022-03-28 at 14 42 39](https://user-images.githubusercontent.com/4225509/160400226-84fafe00-72cc-4a5b-8f6d-ba33ef836ee4.png)

https://github.com/laravel/framework/blob/f6915333c21b9c656e98f211cf4510115d19c6bd/src/Illuminate/Validation/ValidationException.php#L99

[2022-03-28 12:59] driesvints commented on #41714
Heya, thanks for submitting this.

This seems like a feature request or an improvement so I'm converting this to a discussion instead. It's best to post these in the discussions section in the future to get support for your idea. After that you may send a PR to the framework. Please only use the `laravel/framework` issue tracker to report bugs and issues with the framework.

Thanks!

[2022-03-28 13:09] jyxjjj opened #41716 "Schedule WithoutOverlapping Broken with Systemd Timer"
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Database Driver & Version: Redis 6.2.6
- Operating System: Fedora 35
- systemd: systemd-249.9-1.fc35.x86_64

### Description:
WithoutOverlapping will not delete the key.
I think systemd created the process then it ended because the & at the last,
so the second process schedule:finish did not run normally.
[code]
[code]
### Steps To Reproduce:
##### t

[2022-03-28 13:12] jyxjjj commented on #41716
If i run
[code]
or
[code]
or
[code]
manually.
The locker
[code]
will be successfully removed from redis.

[2022-03-28 13:19] driesvints commented on #41716
I'm not sure this is a Laravel issue and think this is more a server config issue. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat

[2022-03-28 14:09] driesvints commented on #41313
@erichowey please recreate that repo with the command I posted.

[2022-03-28 15:29] divoto commented on #35241
For everyone having the same issue, $request->url() is not correct when server from sub-directory and behind the reverse proxy there is a very easy solution, this also correct error on signing Urls with laravel.
On your apache configuration or (nginx), also on .httaccess is required to set **X-Forwarded-Prefix "/subdirectory"** and with correct settings to TrustedProxy everything will work.

[2022-03-28 16:18] erichowey commented on #41313
@driesvints Here you go:
https://github.com/erichowey/laravel-bug-report

Here's a PR showcasing my commits to the repo:
https://github.com/erichowey/laravel-bug-report/pull/1/files

[2022-03-28 18:27] FrancisMawn opened #41721 "Cache::spy returns an exception: Trying to access array offset on value of type null"
- Laravel Version:  9.5.1
- PHP Version: 8.0.16
- Database Driver & Version: MySQL 8

### Description:
I'm not sure why but when I'm trying to make use of Cache::spy, I'm getting this exception:
`Trying to access array offset on value of type null`

### Steps To Reproduce:
The issue can be reproduced with a fresh install:

**web.php**
[code]

**ExampleTest.php**
[code]

If you remove the `assertSt

[2022-03-28 19:18] derekmd commented on #41721
Unfortunately `Cache::spy()` and `Cache::get()` can't be mixed due to how the Mockery package proxies the spied `CacheManager` instance. It causes the wrong `CacheManager` method to be called.

https://github.com/laravel/framework/blob/a2708abc306ef7941e7206c706de5dbea450acd1/src/Illuminate/Cache/CacheManager.php#L80-L83

https://github.com/laravel/framework/blob/a2708abc306ef7941e7206c706de5dbea4

[2022-03-28 19:22] aromka commented on #35857
+1 subscribing for the solution.

For now this workaround works:
[code]

[2022-03-28 21:01] bilalswiftsolutions opened #41724 "ParseError: syntax error, unexpected 'EnvironmentInterface' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST)"
- Laravel Version: 8.6
- PHP Version:8,7.4
- Database Driver & Version:

### Description:

we are using php version 7.4 on the production server but on my local server I updated to php 8. Now I am facing this error on production server

[code]

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/G9S5K.png

How I can solve this issue?

[2022-03-29 00:03] maxonfjvipon opened #41727 "Laravel starts new dev server instead of showing backend error"
- Laravel Version: 9.2
- PHP Version: 8.1
- Database Driver & Version: MySQL 8

### Description:
Hey everyone.
My apologizes if I should write it somewhere else but still... I started today new project from scratch. I use Laravel + React + InertiaJS. It's not my first project but I have never experienced it before...
I have `login` route and `projects.index` route. After success login I redirect t

[2022-03-29 01:01] CeoTang opened #41728 "Laravel Eloquent with does not work in MariaDB 10.7.3"
I have been tried to install Mariadb 10.7.1 and 10.7.3 versions in my docker. I found 10.7.3 (MariaDB) will not get the data when using with function in eloquent. But I have tried to dump the SQL and run it in MariaDB with raw SQL, it works fine. Laravel 6 and Laravel 9 got the same issues.

[2022-03-29 06:31] AegirLeet commented on #41724
Use the same PHP version on both servers. Otherwise you risk pulling in package versions that are compatible with one version but not the other.

Also, are you sure your production server is actually running 7.4? Looks like whatever PHP version you're using doesn't support typed properties - so it can't be 7.4.

[2022-03-29 06:56] modstore opened #41730 "Nullable MorphTo relation query throws a query exception"
- Laravel Version: 9.5.1
- PHP Version: 8.0.17
- Database Driver & Version: mysql

### Description:
If you have a nullable Morph To relation and try and query it when the relation is null, it will throw a query error like this:
[code]

Example of querying the relation that will cause the error:
[code]

### Steps To Reproduce:

Here's a repo and the commit for reproducing: https://github.com/modsto

[2022-03-29 07:01] HadiNiazi commented on #40883
If the above answer does not work for you and you are getting the same error, execute one more line for removing the trusted/proxy from composer.json.
[code]
This will remove the proxy from the composer.json and the exception will be gone.
[code]
it's properly mentioned in the laravel 9 about fideloper/proxy (same way you can remove trusted proxy) in upgrade guide. https://laravel.com/docs/9.x/upg

[2022-03-29 07:40] twarezak opened #41731 "There is already an active transaction - when the database is unavailable for a while."
- Laravel Version: 8.81
- PHP Version: 8.1.1
- Database Driver & Version: MySQL 8.0.23

### Description:

During using `DB::transaction`, we have `PDOException: There is already an active transaction` when the database is unavailable for a while.

### Steps To Reproduce:

We have a command running in the loop and using `DB::transaction`.
Everything is ok until the MySQL server is gone for a while.

[2022-03-29 07:51] agitnaeta commented on #30402
"?"
"?"
"?"
false
"Illuminate\Auth\SessionGuard"

i do
        dd(
          auth()->id() ?? '?',
          Auth::id() ?? '?',
          $request->user()->id ?? '?',
          auth()->check(),
          get_class(auth()->guard())
        );

        i think now its not working?

[2022-03-29 07:55] #41724 closed

[2022-03-29 07:55] driesvints commented on #41724
Thanks @AegirLeet

[2022-03-29 07:56] driesvints commented on #41721
Thanks @derekmd

[2022-03-29 07:56] #41721 closed

[2022-03-29 07:57] #41728 closed

[2022-03-29 07:57] driesvints commented on #41728
Please don't ignore the issue template when posting issues.

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflo

[2022-03-29 08:21] iNviNho commented on #41731
I think that when laravel is trying to rollback an active transaction and fails to do so due to

`
SQLSTATE[HY000]: General error: 2006 MySQL server has gone away`

it should tell PDO to disconnect/clear the connection so that it doesn't think it is in active transaction so that next time we try to start a transaction, it will reconnect to the DB.

[2022-03-29 08:23] driesvints commented on #41730
Doing `$comment->commentable()->first()` makes no sense because you're targeting a single model, not a collection. `first` also isn't a method on the `MorphTo` relationship.

Just try `$comment->commentable`.

[2022-03-29 08:23] #41730 closed

[2022-03-29 08:26] driesvints commented on #41731
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-29 08:33] modstore commented on #41730
@driesvints Yep I understand that you can just do $comment->commentable, but this behaviour seems inconsistent with any other relationship where you get a valid builder instance.

[2022-03-29 08:35] driesvints commented on #41313
So I don't think this is a bug. You define a `user_id` in your factory. This ID cannot be created without actually creating the model.

[2022-03-29 08:36] driesvints commented on #41730
@modstore I don't understand why you try to call `->first()` as that simple doesn't exists for MorphTo.

[2022-03-29 08:55] zupolgec commented on #41533
@driesvints I think it's an issue. It seems that to allow things such as `$model->address->lineOne = '123 High St.'` the `set` function of the Attribute is called on save (which is correct) and on every subsequent call of *any* accessor.

i.e. if the model has a `secondaryAddress` Attribute doing this

[code]

triggers the set function on the `address` Attribute.

[2022-03-29 09:00] driesvints commented on #41533
You should not perform file operations in an attribute. The attribute is purely to transform the attribute's value and shouldn't perform any side effects. It shouldn't matter how many times it's invoked.

[2022-03-29 09:04] zupolgec commented on #41533
Ok, I get it. My mutator doesn't have side effects. But if you have many Attributes and you are showing an index page, these calls add up pretty quickly.

[2022-03-29 09:05] modstore commented on #41730
I thought it was possible to essentially get a query builder instance from any relation called as a method. Even though in general you'd just call it like `$comment->commentable`, but I thought you could still expect query building to work e.g.
`$comment->commentable()->get()`
`$comment->commentable()->where('anything', true)->get()` etc.

[2022-03-29 09:11] driesvints commented on #41533
The amount of times an attribute is invoked purely depends on how many times the attribute is called and how many records are involved. If you multiple those then the method can potentially get called a lot. These should have no impact on performance. There should not be any heavy operations performed in these attributes.

[2022-03-29 09:13] driesvints commented on #41601
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-03-29 09:39] zupolgec commented on #41533
What seems odd to me is that when I access attribute A the mutator for attribute B is called. First, mutators should not be called if I'm accessing the value. Second, the mutator for a different attribute should not be accessed when calling other attributes.

[2022-03-29 09:50] driesvints commented on #41533
@zupolgec that's definitely true. At the moment I don't think this leads to bugs. But if anyone can figure out how to prevent that from happening we'd welcome PR's for it.

[2022-03-29 12:37] robertoarruda commented on #41313
This is recommended in the documentation.
https://laravel.com/docs/9.x/database-testing#defining-relationships-within-factories

Also, don't you also think it doesn't feel right to use the factory one way to `create()` and another way to `make()`?

[2022-03-29 12:37] robertoarruda commented on #41313
This is recommended in the documentation.
https://laravel.com/docs/9.x/database-testing#defining-relationships-within-factories

Also, don't you also think it doesn't feel right to use the factory one way to `create()` and another way to `make()`?

[2022-03-29 12:40] driesvints commented on #41313
Yes that's how you define relationships. I don't see your point?

I don't understand what you mean.

[2022-03-29 13:04] danilopolani opened #41734 "Validation: empty string passes the `array` rule"
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Database Driver & Version: Not relevant

### Description:
Using an empty string as value for the `array` rule passes but it should not.

**Note**: this is an intentional duplicate of #18948, but since that issue has never been solved I decided to open a new one. In that issue there was a discussion about `ConvertEmptyStringsToNull` but that's _incorr

[2022-03-29 13:06] driesvints commented on #41734
This is expected since this is considered an empty value. You're not requiring the value and thus the validation passes.

[2022-03-29 13:06] #41734 closed

[2022-03-29 13:12] danilopolani commented on #41734
@driesvints yes, but it's required to be an array, or am I getting it wrong? I thought this was the correct way to say "it must be an array, but it can also be an empty array".

Or how should the rules become to achieve that?

[2022-03-29 13:20] driesvints commented on #41734
There doesn't seems to be a way atm to require an empty array.

[2022-03-29 14:54] jamesabell opened #41737 "Console argument() method should include bool return type"
- Laravel Version: 9.x.x
- PHP Version: N/A
- Database Driver & Version: N/A

### Description:
`Console/Concerns/InteractsWithIO.php@argument()` should include bool (`@return string|array|null|bool`) in its return types.

By calling `Artisan::call([command], [ 'fooBool' => true ])` the value returned from `$this->argument('fooBool')` would be a boolean.

---

My thoughts: Should be a simple update

[2022-03-29 15:04] driesvints commented on #41737
Please just attempt a PR. Also don't submit half-filled in issue templates.

[2022-03-29 15:04] #41737 closed

[2022-03-29 15:51] gmbhurgri opened #41739 "Breeze starter kit installation removed contents of route file web.php instead of appending auth routes."
- Laravel Version: 9.5.1
- PHP Version: 8.1.2

### Description:
I had wrote some my app specific routes in `web.php`.

After running command:

`php artisan breeze:install`

all the previous contents of `web.php` deleted.

It looks instead of appending `auth` related routes in the end of `web.php` laravel replaces `web.php` file with some predefined `web.php` file.

`
### Steps To Reproduce:
1. Wri

[2022-03-29 15:57] erichowey commented on #41313
Wouldn't it make more sense to not persist the user but immediately delete it afterwards to prevent stale records?

[2022-03-29 16:04] driesvints commented on #41739
Breeze is intended for new Laravel applications, not existing ones. You should never install Breeze in an existing app.

[2022-03-29 16:04] #41739 closed

[2022-03-29 16:41] erichowey commented on #41313
@driesvints Because I'm using `make()` not `create()`. Per the documentation:

As of right now `make()` creates the model without persisting that model to the database, however, any relational models within the factory are persisted. In my opinion, this doesn't make sense when using make and leads to stale records in the database. `make()` should do absolutely not persistence to the database. This

[2022-03-29 21:10] robertoarruda commented on #41313
Unit tests shouldn't touch the database, so it's necessary that the factory doesn't create anything in the database (in my unit tests the database doesn't even exist).
Best practices in unit testing advise that a test should only test a single logical unit and simulate everything that comes out of its unit.

This is the opposite of integration testing, which needs to fully test a feature.

For thi

[2022-03-30 04:39] fangmuke opened #41745 "file_exists(): File name is longer than the maximum allowed path length on this platform (4096)"
- Laravel Version: 9.5.1
- PHP Version: 8.0.11
- Database Driver & Version: MySQL 8

### Description:
Calling `Blade::render($mailTemplateHtml)` can't work properly.
it can't run normally in **php-fpm**.

### Steps To Reproduce:

[code]

[2022-03-30 05:08] fangmuke commented on #41745
src/Illuminate/View/Component.php
[code]

I think the problem is here.
[code]

Using `Blade::render()` should not be judged whether the view exists, it will generate a view after calling `createbladeViewFromString()`.

[2022-03-30 09:06] a-bashtannik commented on #41745
Could you try to run the test, please?
[code]
Passes for me.
PHP 8.0.16, latest 9.x branch

[2022-03-30 10:07] fangmuke commented on #41745
I tried to run the test and the test passed.
But move the code to the Controller, and an error will occur under FPM.

[2022-03-30 12:57] driesvints commented on #41313
So, what I'm trying to say is that there's no way to create the identifier without the database. It's an incremental ID. It gets generated by the database. There's no other mechanism that generates identifiers. What do you expect to happen for this value if no database is involved?

[2022-03-30 13:13] robertoarruda commented on #41313
In my opinion, when `make()` is called on a factory with relationships defined on the foreign key, it should ignore the field and return a null on the foreign key.
The developer is the one who should handle this issue on a case-by-case basis.

Example:
[code]
[code]

[2022-03-30 15:07] erichowey commented on #41313
That it doesn't work. However, when a database is involved, I expect it to create the record to get the auto increment and then delete it when done because we're using `make()` not `create()`.

[2022-03-30 15:08] driesvints commented on #41313
I don't think you can expect that to actually happen, sorry. To me, that would even make less sense than not making the model at all.

[2022-03-30 15:24] erichowey commented on #41313
@driesvints That's fine, however, the fact remains that `make()` is causing data to be persisted to the database when the documentation says that data should only be persisted when using `create()`. Relation or not, the fact that any data is persisted to the database when using `make()` doesn't make sense to me.

[2022-03-30 17:27] robertoarruda commented on #41313
@driesvints does this make sense to you?

[2022-03-30 19:24] tabuna opened #41757 "Limit for brute force tokens"
- Laravel Version: 9.5.1
- PHP Version: 8.1.2
- Database Driver & Version: None

### Description:

### Steps To Reproduce:

Hi, I'm making a simple API that uses `api_token` for `/config/auth.php`:

[code]

This will authorize the user when the request has:

[code]

This method was added a long time ago and still works great ([but was removed from the documentation](https://laravel.com/docs/5.8/ap

[2022-03-30 20:36] AlexWinder commented on #41745
This sounds like your FPM PHP configuration is different to the one which your PHPUnit tests are configured to run as. Are you running your PHPUnit tests against a locally installed PHP which is different from PHP-FPM?

[2022-03-30 20:42] AlexWinder commented on #41757
I believe the new logic you are looking for has been moved to [Sanctum](https://laravel.com/docs/9.x/sanctum).

HTTP 401 is an unauthorised, suggesting that your `route('api.ping')` is protected someway. You are sending a `Bearer` token which is typically sent as an `Authorization` header, however your example is making use of passing in the API token in as a GET variable:

[code]

Ignoring the ob

[2022-03-30 20:45] robertoarruda commented on #41313
So, in your opinion, is it correct to create a new user in the database, when the code below is run in production?
[code]

[2022-03-30 20:46] tabuna commented on #41757
I understand why the `401` is happening. I am intentionally entering the wrong token many times in the hope that I will get a `429` error due to too many IP calls:

[code]

This is the whole problem, that `throttle:api` does not work with this

[2022-03-31 05:02] jordanade commented on #40895
Relatedly, I got a `TypeError: "Illuminate\Mail\Message::Illuminate\Mail\{closure}(): Argument #1 ($address) must be of type array|string, null given"` apparently because my $user->name was null (code simplified):

[code]

[2022-03-31 05:52] MichailSuroven opened #41761 "Blade foreach too slow"
- Laravel Version: 8.12
- PHP Version: 7.4

### Description:
I try to optimize simple e-commerce site with products, having huge amount of props. All blade template have huge amount of loops.
My goal is render product list page around 200 ms. I noticed that loops take too many time.

### Steps To Reproduce:

I create empty controller, that return this view
[code]

Two loops, first - blade directiv

[2022-03-31 06:10] MichailSuroven commented on #41761
In my project i dont use $loop var in loops, so i just create custom foreach directive in service provider

`Blade::directive('foreach', function ($expression) {
            return "<?php foreach({$expression}): ?>";
        });

        Blade::directive('endforeach', function () {
            return "<?php endforeach; ?>";
        });`

[2022-03-31 07:09] driesvints commented on #40895
@jordanade i think that just surfaces a bug in your code. If the name is null then you should just return the email address.

[2022-03-31 07:26] driesvints commented on #41761
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-31 07:26] #41761 closed

[2022-03-31 07:31] driesvints commented on #41745
Please paste the entire contents of `$mailTemplateHtml` on https://paste.laravel.io/ and link it here.

[2022-03-31 07:35] fangmuke commented on #41745
[code]

[2022-03-31 07:48] driesvints commented on #41745
Works fine for me:

<img width="2556" alt="Screenshot 2022-03-31 at 09 48 12" src="https://user-images.githubusercontent.com/594614/161004663-3901632a-8cb8-4f9f-bf47-69374c9d3144.png">

Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](h

[2022-03-31 07:48] #41745 closed

[2022-03-31 07:53] fangmuke commented on #41745
![image](https://user-images.githubusercontent.com/26641510/161005256-4145b8ed-019e-4786-8224-aca9d4db6df9.png)

`CLI` mode can work normally, please try in` PHP-FPM` mode, thank you.

[2022-03-31 08:28] AlexWinder commented on #41745
As before, check for differences between the `php.ini` file you are using for FPM and CLI.

[2022-03-31 08:30] AlexWinder commented on #41757
I believe middlewares work in layers. As soon as the first one fails then it prevents subsequent ones from even being attempted. It could be that your middleware for authentication is failing before the throttling even has a chance to start.

[2022-03-31 08:32] driesvints commented on #41757
I indeed think the auth middleware fails first before throttling can start. Otherwise the `$request->user()` part doesn't makes sense in the throttle callback.

[2022-03-31 08:32] #41757 closed

[2022-03-31 08:32] driesvints commented on #41757
Thanks @AlexWinder

[2022-03-31 08:37] a-bashtannik commented on #41745
Me personally consider @fangmuke's claim reasonable, the string variable purpose is not defined explicitly - why it may be content and a path? But at least we need a confirmation this approach breaks somehow, a failed test case.

[2022-03-31 08:41] fangmuke commented on #41745
I compared php.ini and php-cli.ini, found they are only different in disable_functions.

[2022-03-31 09:15] fangmuke commented on #41745
I can't give you failed test cases.
Because `PHPUnit` is running in `PHP-CLI`, the error only appears in the `PHP-FPM` of `Ubuntu`. Neither it apprears in the `PHP-FPM` of `Windows`.

[2022-03-31 10:56] driesvints commented on #41313
@robertoarruda yes. And please stop downvoting me. If you want to change anything then step up and attempt a PR.

[2022-03-31 11:49] ziadoz opened #41763 "Str::plural() cannot correctly pluralise ID to IDs"
- Laravel Version: 8.83.6, likely 9.x too
- PHP Version: 8.0.12

### Description:
I've noticed that the `Str` class cannot correctly pluralise [ID](https://www.oxfordlearnersdictionaries.com/definition/english/id_2) (short form of identifier/identity/identification) to IDs. The Doctrine Inflector correctly returns IDs, but when case matching occurs the plural string result is changed to IDS.

I di

[2022-03-31 11:54] driesvints commented on #41763
We use the Doctrine inflector for this so if you think this isn't correct please open an issue on their repo. Thanks

[2022-03-31 11:54] #41763 closed

[2022-03-31 12:01] ziadoz commented on #41763
@driesvints The Doctrine Inflector returns the correct result of IDs. It's the `Pluralizer::matchCase()` method that changes it from IDs to IDS.

[2022-03-31 12:14] ziadoz commented on #41763
Yes, there's no PR worth opening that I could think of. I guess I'll macro away the edge case. Thanks anyway.

[2022-03-31 13:22] robertoarruda commented on #41313
Sorry @driesvints, I don't mean to sound boring and rude to you. I'm just insisting on this, because the issue was closed for lack of more information. The information has been provided, but you are rejecting the issue we are complaining about.

We need this behavior to be accepted as an issue so I can do a PR to solve it, or even give a better developer than me the opportunity to solve this probl

[2022-04-01 04:05] gofish543 opened #41771 "Dynamically Registered Event Listeners `assertListening` Fails"
- Laravel Version: 9.5.1
- PHP Version: 8.1.0
- Database Driver & Version:

### Description:
A dynamically registered event listener using the `EventServiceProvider@shouldDiscoverEvents => returns true` registers the listener in the dispatcher as a `string` value.

This is fine, and the listener fires correctly. However, if a call is made to the `EventFake@assertListening(...)`, it will fail becau

[2022-04-01 06:12] JieAnthony commented on #38207
@zesbr I also encountered this problem, how did you solve it?

[2022-04-01 08:43] driesvints commented on #41601
A fix for this was submitted by @gdebrauwer, thanks!

[2022-04-01 08:43] #41601 closed

[2022-04-01 09:39] driesvints commented on #41771
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-04-01 13:41] jpjadeja777 commented on #36062
not working for us? what is solution of this error??

[2022-04-01 13:41] jpjadeja777 commented on #36062
what's the step of resolved this

[2022-04-01 14:21] driesvints commented on #41771
Hey @gofish543. Feel free to provide that repo and I'll re-open.

[2022-04-01 14:21] #41771 closed

[2022-04-01 15:16] taylorotwell commented on #41042
Since there is a work around available for solving this issue and it isn't a fundamental flaw in the framework that is super critical at the moment, I'm going to close this for now since we don't have any plans to look into it internally (we use open issues to see what we actually plan to tackle ourselves). Of course, anyone else is welcome to take a stab at it if they want.

[2022-04-01 15:16] #41042 closed

[2022-04-01 16:01] Tofandel opened #41777 "[Eloquent] Union Limit Produces invalid query"
- Laravel Version: 9.6.0
- PHP Version: 8.1.16
- Database Driver & Version: MariaDB 10.3.34

### Description:

Running
[code]

Produces the following SQL
[code]

Which is invalid SQL and will not run

Here is the SQL that would run correctly

[code]

[2022-04-01 16:46] gofish543 commented on #41771
Scratch that...

https://github.com/gofish543/bug-report

[2022-04-01 17:52] hamilton-martins-dev opened #41780 "Fatal Error at function pipeThrough"
- Laravel Version: v8.83.6
- PHP Version: 8
- Database Driver & Version: MySql 8

### Description:
Fatal error at function **pipeThrough** - framework/src/Illuminate/Collections/Traits/**EnumeratesValues.php**
There is a comma that causes the error **ParseError: syntax error, unexpected ')' in /var/www/html/vendor/laravel/framework/src/Illuminate/Collections/Traits/EnumeratesValues.php:739**

###

[2022-04-01 19:00] taylorotwell commented on #35857
Potential fix https://github.com/laravel/framework/pull/41782

Would appreciate feedback / testing.

[2022-04-01 22:35] aleksander237 opened #41785 "Invalid number returned by withCount method."
- Laravel Version: 9.5.1
- PHP Version: 8.1.4
- Database Driver & Version: MariaDB 10.5

### Description:

If you create a model related to itself in One to many relation, the method `withCount(['children'])` always returns 0. The mehtod `with(['children'])` returns the correct collection of children records.

### Steps To Reproduce:

Let's say that we are implementing a category tree with infinit

[2022-04-01 23:54] jordanade commented on #40895
@driesvints Nevertheless, a breaking change in Laravel 9 for a common situation that arises from boilerplate code (in fact right from the docs). Currently ungoogleable so I'm sure me posting the error message above will help others.

[2022-04-02 01:45] X-Coder264 commented on #41780
You are obviously not using PHP 8 as that syntax has been allowed ever since PHP 7.3

https://wiki.php.net/rfc/trailing-comma-function-calls

[2022-04-02 03:56] srdante opened #41790 "HTTP Client is currently not applying the base URL to pool requests"
- Laravel Version: 9.6.0
- PHP Version: 8.1.3
- Database Driver & Version: Irrelevant

### Description:

HTTP Client is currently not applying the base URL to pool requests.

### Steps To Reproduce:

[code]

[2022-04-02 09:59] SachinBahukhandi commented on #41790
Seeing the section even they are using absolute URL instead of using relative url.
https://laravel.com/docs/9.x/http-client#concurrent-requests

[2022-04-02 15:55] ainesophaur opened #41798 "Eloquent builder macro PHP8 named arguments breaks Builder->__call()"
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Database Driver & Version: mysqlnd 8.1.3

### Description:
Creating an eloquent builder macro using PHP8 named arguments breaks `Builder->__call()` as `$arguments` is no longer an index based array, but instead, an array of the named arguments.

### Steps To Reproduce:

1. Register a eloquent macro using named arguments (in my case, I was adding this

[2022-04-02 20:00] Tofandel commented on #41785
I'm guessing it's missing an alias in the generated query

[code]

[2022-04-02 20:13] Tofandel commented on #41785
Did you try with a `belongsTo` ?

[code]

[2022-04-02 20:17] kokoshneta opened #41799 "Selecting SQL Server column of type `date` converts to US style and adds colon before ‘AM’"
- Laravel Version: 9.3.1 (also present in 8.X before I upgraded)
- PHP Version: 8.1.3 running on macOS 10.15.7 and 12.2.1
- Database Driver & Version: SQL Server 2019 (15.00.2080) on Windows Server 2019 Standard (1809, build 17763.2686)

### Description:

Whenever any table in an SQL Server database has a column of type `date`, fetching that column from within Laravel consistently breaks the value

[2022-04-02 20:33] kokoshneta commented on #41799
Oh bugger. I thought I’d looked closely, but apparently not – this has been reported before in #28491.

That issue was closed with no solution, though. It does adduce that this isn’t a new issue, but also not a universal one.

[2022-04-03 02:24] ainesophaur commented on #41798
I've found this same behavior outside of Eloquent's builder (same behavior exists when setting the middleware for routes). With named arguments gaining traction it might help to have a document which outlines areas where named arguments shouldn't be used, but it may not be feasible to collect such a list. At a minimum, hopefully this issue can provide insight to anyone who comes across this issue.

[2022-04-03 08:09] hamedgasemi200 opened #41804 "Laravel - Unlike the public channels, private channels don't work"
I'm using `Laravel 9.1`, and trying to broadcast on private channels, but unlike the public channels, it doesn't work for some reason!

I have an event like this:

[code]

When in `broadcastOn` I return an instance of `Channel`, everything works pretty well, but when I change it to `PrivateChannel`, it doesn't work anymore.

`channels.php`

[code]

# Configs

In the the `BroadcastServiceProvider.p

[2022-04-03 08:59] kokoshneta commented on #28491
@robinnydahl Did you ever find out what was causing this, or if there’s a way to fix it? I’m having the same problem (see mention just above this comment), also only in SQL Server and only when fetching through Laravel (i.e., not if using a native PDO connection).

[2022-04-03 11:19] staudenmeir commented on #41777
What error are you getting?

[2022-04-03 12:23] staudenmeir commented on #41785
Please log the executed queries and the result:

[code]

Does your `Category` model contain anything else besides the `children` relationship?

[2022-04-03 13:13] laurinkeithdavis opened #41808 "PHP 8.1 Deprecation Changes - Return type of Illuminate\Support\Collection"
[code]

Dependency required:

C:\jenkins-php-tools>composer why illuminate/support -t
illuminate/support v5.2.21 The Illuminate Support package.
├──vinelab/http v1.5.4 (requires illuminate/support *)
│  └──vinelab/rss v1.0.4 (requires vinelab/http *)
│     └──jleagle/packagist-api-client 1.0.0 (requires vinelab/rss ^1.0)
│        └──pride/jenkinsphptools 1.0 (requires (for development) jleagle/pac

[2022-04-03 13:14] laurinkeithdavis commented on #41808
Oops, I was in the wrong repo (meant to post this: https://github.com/Jleagle/packagist-api-client/issues/2).

[2022-04-03 13:14] #41808 closed

[2022-04-03 13:26] Tofandel commented on #41777
My bad, seems it does work with MariaDB, but phpMyAdmin and phpStorm are both not happy about this syntax and show an error, and in fact the SQLite driver uses the second syntax

[2022-04-03 13:26] #41777 closed

[2022-04-03 13:30] Tofandel commented on #41785
I'm getting

[code]

So there is definitely something wrong with your setup, please provide a reproduction repository if you want further help

[2022-04-04 08:10] driesvints commented on #41798
I just don't think we support named arguments there. If you can think of a backwards compatible fix, feel free to send in a PR. For now, just avoid named arguments.

[2022-04-04 08:10] #41798 closed

[2022-04-04 08:11] driesvints commented on #41804
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-04 08:11] #41804 closed

[2022-04-04 08:11] driesvints commented on #41780
Thanks @X-Coder264

[2022-04-04 08:11] #41780 closed

[2022-04-04 08:13] driesvints commented on #41799
There's been quite a number of these kind of issues posted over the years with SQL Server. I suggest you dig through the closed issue list a bit more to find some answers. They were always closed as invalid afaik.

[2022-04-04 08:13] #41799 closed

[2022-04-04 08:13] driesvints commented on #41790
Thanks @SachinBahukhandi

[2022-04-04 08:13] #41790 closed

[2022-04-04 08:46] kokoshneta commented on #41799
@driesvints I did look through quite a lot of SQL Server issues, and the only one I could find that matches this is the one I linked to above. All the others were about `datetime` columns – which work just fine for me – and were about different issues, like incorrect precision.

Could you point me to any other issues about this that have been posted? And the reason for their closure? #28491 was cl

[2022-04-04 08:48] driesvints commented on #41799
It's best that you try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat/?nick=laravelnewbie&channels=#laravel)

[2022-04-04 09:10] elisonkaloshi opened #41819 "Router bug on search form"
- Laravel Version: 9
- PHP Version: 7.4
- Database Driver & Version:

### Description:
Router bug on the search form

### Steps To Reproduce:

1. Create a router with date params `router-name/{start_date}/{end_date}`
2. Create a form in a blade view, with an action that contains get method and dates will be as params
3. Submit dhe form.

After submitting the form the route will be, `router-name/13

[2022-04-04 09:54] driesvints commented on #41819
`outer-name/13/03/2022/04/04/2022` doesn't matches `router-name/{start_date}/{end_date}`. Try `router-name/13-03-2022/04-04-2022`.

[2022-04-04 09:54] #41819 closed

[2022-04-04 09:56] elisonkaloshi commented on #41819
what solutions are there if you want to pass that date format in the router?

[2022-04-04 10:35] driesvints commented on #41785
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-04-04 10:35] #41785 closed

[2022-04-04 10:38] driesvints commented on #40895
@jordanade please post the entire stack trace of your error with the correct call lines.

[2022-04-04 11:03] driesvints commented on #41771
Thanks @gofish543. I managed to reproduce this. I've sent in a PR for this: https://github.com/laravel/framework/pull/41820

[2022-04-04 13:14] driesvints commented on #35857
I truly appreciate the kind words @shadoWalker89 but we're not going to change the way we work, sorry.

[2022-04-04 13:21] bjhijmans opened #41823 "database config 'mysql.version' and 'mysql.server_version' used in the same way"
- Laravel Version: 8.83.5
- PHP Version: 8.0.14
- Database Driver & Version: MySQL (any version)

### Description:

Our customer uses an Azure MySQL database, and automatic version detection for those databases is not implemented in DBAL. As a result we had to add an option to set the server version in the database config. However I found that the config `database.mysql.version` and `database,mysq

[2022-04-04 13:28] driesvints commented on #41823
Heya, Isn't this because the doctrine connection can be a different server version? I think it's best that if you want to optimize something here that you attempt a PR, thanks.

[2022-04-04 13:28] #41823 closed

[2022-04-04 16:17] driesvints commented on #41804
@hamedgasemi200 I doubt this is broken or we'd have many more reports. Please try a support channel.

[2022-04-04 16:18] padre opened #41826 "Model events are not dispatched with syncWithoutDetaching"
- Laravel Version: 9.6.0
- PHP Version: 8.1.3
- Database Driver & Version: MySQL 8.0.22

### Description:

I have noticed for some days now that model events are not dispatched with syncWithoutDetaching.

### Steps To Reproduce:

A many-to-many relationship users with roles.
Models: User, Role
Pivot: RoleUser

In RoleUser I have:

[code]

$user->roles()->syncWithoutDetaching([ids])  doesn't dispat

[2022-04-04 16:47] hamedgasemi200 commented on #41804
I really have no idea what could be the problem

https://stackoverflow.com/questions/48299669/private-channel-not-working-in-laravel

There have been some other people who have had the same issue, but no one has answered them, too.

It's almost been a week I'm looking for an answer, but I couldn't solve the problem.

[2022-04-04 16:50] hamedgasemi200 commented on #41804
@driesvints I really have no idea what could be the problem

https://stackoverflow.com/questions/48299669/private-channel-not-working-in-laravel

There have been some other people who have had the same issue, but no one has answered them, too; it's almost been a week since I'm looking for an answer, but I couldn't solve the problem.

I wish you could help me, or mention someone who knows about Lar

[2022-04-04 18:42] #41826 closed

[2022-04-04 22:36] jonnylink opened #41829 "Redis facade hset doesn't allow passing multiple fields/values"
- Laravel Version: 9.6.0
- PHP Version: 8.1.2
- Redis Version: 6.2.6
- Redis Connection: PhpRedis

### Description:
Laravel PHP Redis Connection's `hset` implementation doesn't properly allow passing multiple fields/values. `hmset` does allow this, but it is deprecated as of Redis v4. I would expect `hset` to function properly like `hmset`.

I did a quick dig and it looks like hset is really using

[2022-04-05 00:42] jonnylink commented on #41829
Damnit. This is an issue further upstream: https://github.com/phpredis/phpredis/issues/1768

[2022-04-05 00:42] #41829 closed

[2022-04-05 05:31] bernardwiesner commented on #37465
Is there no way to disable this behaviour globally? Its annoying to have toArray cast created_at and updated_at to UTC by default. I understand the intention behind this being especially dealing with dates in JS making it easier to handle using UTC, however there are many use cases where this is not needed, such as just backend jobs/batches, where you dont want UTC when using toArray.

It would be

[2022-04-05 08:11] kylekatarnls commented on #37465
If you want it done correctly, you want UTC there even more than for communicating to clients. Machine should talk in UTC between themselves there is absolutely no good reason for backend stuff to use human timezone over UTC.

[2022-04-05 08:45] bernardwiesner commented on #37465
@kylekatarnls
 One such use case would be migration to different DBs. If my dates are already non UTC datetime in DB and then I try migrating using

SomeBigTable::insert($records->toArray());

This would cause issues due to converting the dates to UTC.

[2022-04-05 09:04] kylekatarnls commented on #37465
I would say then you're way more in control, doing your migration like this explicitly over asking a (risky) global settings to be applied on Laravel level:

[code]

[2022-04-05 09:07] kylekatarnls commented on #37465
Side not if you have such problem, it's likely also because you don't declare the column as a datetime, if the `$record` uses Carbon objects and the model is aware of which columns are datetime, you won't get such errors.

[2022-04-05 09:22] bernardwiesner commented on #37465
This issue is in relation to upgrading to Laravel 9, one of the cases I faced was with that DB migration batch, but there are loads of other batches in the codebase that also use toArray with different use cases and its to cumbersome to go and check every case.

What i just did was extend a new BaseModel on all of my models and include this in my BaseModel to get back the old behavior of toArray.

[2022-04-05 09:59] flexchar opened #41833 "Unable to use default values with built-in JSON casts"
- Laravel Version: 9.6.0
- PHP Version: 8.1.2
- Database Driver & Version: MySQL Community Server 8.0.23

### Description:

Attempting to set [default values ](https://laravel.com/docs/9.x/eloquent#default-attribute-values)for a json column causes a fatal error anytime a new instance of the model is being created.

[code]

![image](https://user-images.githubusercontent.com/9198896/161730104-a59d5d

[2022-04-05 10:04] driesvints commented on #41833
Heya. You've already sent in a PR with a failing test so let's take it from there. No need to have duplicate posts : )

Thanks

[2022-04-05 10:10] flexchar commented on #41833
Alrighty! I thought an _issue_ is necessary. I've merged the contents of the post to the PR. :))

[2022-04-05 10:13] driesvints commented on #41804
Please try some more channels first like Laravel's Discord.

[2022-04-05 11:00] RomuloLim commented on #23742
Hey @twickstrom, i implement using ValidationException (frontend can display the error more easily) and returning the `parent::render` case false. What do you think?

`
    public function render($request, Throwable $exception)
    {
        if ($exception instanceof ModelNotFoundException) {
            $model = explode('\\', $exception->getModel());
            $modelPhrase = ucwords(implode('',

[2022-04-05 11:45] Jurigag commented on #31345
Why this is closed when it's not fixed?

[2022-04-05 12:47] babakfp opened #41835 "Component content is missing when I use `/` instead of `.` in the component tag name"
- Laravel Version: 9.2.0
- PHP Version: 8.0.2

### Description:

![Screenshot 2022-04-05 051117](https://user-images.githubusercontent.com/44144724/161751199-bfd69045-749e-458a-b374-669f1474c5d7.png)

HTML output:

![Screenshot 2022-04-05 054656](https://user-images.githubusercontent.com/44144724/161756797-eac6bc61-e33f-45fd-be0b-78e966b62557.png)

This content is missing:

[code]

Is this an unex

[2022-04-05 20:00] francoislevesque opened #41841 "Calling Artisan::call('migrate:fresh') in a controller after performing a schema dump results in 'mysql: command not found'"
- Laravel Version: 9.1.4
- PHP Version: 8.0.17
- Database Driver & Version: MySQL 8.0.27
- Using Laravel Valet 2.0

### Description:

Calling Artisan::call('migrate:fresh') in a controller after performing a schema dump results in 'mysql: command not found'.

### Steps To Reproduce:

- Copy this project https://github.com/francoislevesque/schema-dump-issue
- Run `php artisan migrate:fresh`
- Run `

[2022-04-06 02:12] medeiroz opened #41845 "Stringable exactly not match other Stringable"
- Laravel Version: 9.5.1
- PHP Version: 8.1
- Database Driver & Version: N/A

### Description:
When need compare two Stringable variables with exactly method. Then false is returned

### Steps To Reproduce:

[code]

![image](https://user-images.githubusercontent.com/11270546/161881856-151f8c08-cbf7-4a06-afcc-385fb840b5bc.png)

[2022-04-06 02:16] medeiroz commented on #41845
link this isseu with this [PR-41846](https://github.com/laravel/framework/pull/41846)

[2022-04-06 06:55] aherrao opened #41847 "Laravel 5.6 to Laravel 8 upgrade issue : Class config does not exist"
- Laravel Version: 8.0
- PHP Version: 7.4

### Description:
We are using Laravel library in the core PHP project and wanted to update the major version to Laravel-8 but we are facing some internal issues when using helpers like url(), route(), etc.

Also, we don't have php artisan in the project so

`php artisan config:clear ` can't use

### Steps To Reproduce:

Just upgrade to laravel-8 from 5.6

[2022-04-06 06:58] driesvints commented on #41845
There is no bug here. You can only pass a string to this method.

[2022-04-06 06:58] #41845 closed

[2022-04-06 07:00] driesvints commented on #41845
I see what you mean now but this is a feature request. Let's see how your pr goes.

[2022-04-06 09:06] jordanade commented on #40895
Sure, here is one of them @driesvints
[code]

[2022-04-06 10:50] cod3rshotout opened #41851 "array_key_exists(): Argument #2 ($array) must be of type array, Illuminate\View\ComponentAttributeBag given"
Laravel Version: 8.6.11
PHP Version: 8.1.4
Database Driver & Version: MySQL 8.0.27

I have created a component called Input and I'm calling it in the following way:

    <x-input type="text" class="test" name="fullname" placeholder="hello" required></x-input>

The component use the following class:

[code]

and this is the blade file:

`{!! Form::{$type ?? 'text'}($name, old($name, $value ?? ''),

[2022-04-06 11:11] driesvints commented on #41851
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-06 11:11] #41851 closed

[2022-04-06 11:13] ehamrin opened #41852 "No longer possible to see name/description for scheduled closure in schedule:list"
- Laravel Version: v9.7.0
- PHP Version: 8.0.17
- Database Driver & Version: Not applicable

### Description:
Adding a description/name to CallbackEvent is ignored on the schedule:list command, the closure location is printed.

Seems to have broken by [#41535 ](https://github.com/laravel/framework/pull/41535)

### Steps To Reproduce:
Add the following in app/Console/Kernel.php
[code]

The followin

[2022-04-06 11:18] driesvints commented on #41852
Ping @xiCO2k

[2022-04-06 11:35] xiCO2k commented on #41852
I think the pretty description will be available if you run with `php artisan schedule:list -v`.

[2022-04-06 11:37] inietov opened #41853 "cURL install command support in Fedora"
- Laravel Version: 9.x.x
- PHP Version: 8.1.x
- Database Driver & Version:

### Description:
The script that curl -s https://laravel.build/example-app | bash runs is not compatible with Fedora, every time is launched an error occurs. I was able to determine the cause and make it work. In the script when the /opt is binded to current dir in this line: -v "$(pwd)":/opt in Fedora (and I think every R

[2022-04-06 11:45] masterwto commented on #40152
I met this problem today. Seems something wrong, leading to my PolicyClass not called properly and giving me 403.

[2022-04-06 11:51] cod3rshotout commented on #41851
Ok but what do you think about this problem?

[2022-04-06 11:56] ehamrin commented on #41852
Glad to see it's still available with `-v`.

It should be reversed though, I'm setting the name explictly to differentiate the callbacks. Having up towards 100 scheduled commands with a closure location tells me nothing of what they do - the name does. And it gets bloated with multiple lines using verbose.

The location is great for debugging purposes, and should be visible with the verbose flag a

[2022-04-06 12:06] driesvints commented on #41852
Seems this was intentional. You can always attempt a pr to change Taylor's mind. Thanks all.

[2022-04-06 12:06] #41852 closed

[2022-04-06 12:48] acgtwentyone commented on #31686
This occurs to me as well after upgrading Laravel from to 8 from 7, and just like mentioned by @saedyousef, I've to change from

```Exception ```
to
```Throwable```

in

```App\Exceptions\Handler.php```

and now everything seems to work fine.

[2022-04-06 14:15] kikky7 opened #41854 "Getting X-Socket-Id JS error after axios version bump"
- Laravel Version: 8.61.0 (^8.6.11 in composer, not possible to upgrade to v9 atm)
- PHP Version: 7.4.25
- Database Driver & Version: MySQL 8.0.26

### Description:
I am upgrading JS packages on my app (mix, webpack, purge and other stuff, which works great so far), but when I update axios from v0.18 to v0.21 (used with Laravel v8..6.11) or v0.25 (used in latest Laravel version) I get this error "

[2022-04-06 14:29] driesvints commented on #41854
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-06 14:29] #41854 closed

[2022-04-06 15:17] #35857 closed

[2022-04-06 16:08] newton4al opened #41857 "Migration timestamps() should useCurrent() and useCurrentOnUpdate()"
- Laravel Version: 9.x
- PHP Version: 8.1
- Database Driver & Version: MySQL

### Description:
Maybe not particularly a bug, but when creating migrations and using the `$table->timestamps()`, the current definition from the `Illuminate\Database\Schema\Blueprint` class is;

[code]

The timestamp columns usually get nicely handled by eloquent when you're dealing with a single model instance.

In my

[2022-04-06 17:17] JackWH commented on #41857
This would make it very difficult to temporarily disable timestamps when working with Eloquent models. For example, you might have a `User` model which records a `last_login_at` timestamp. Without timestamps being enforced at the database level, you can write:

[code]

This updates the `last_login_at` field, but without modifying `updated_at`. You might want to do this if you have application logi

[2022-04-06 19:31] flexchar commented on #41833
@driesvints just seen! Perhaps I can solve this myself and update PR with a fix! It'd be an amazing experience for me!

[2022-04-06 20:24] newton4al commented on #41857
@JackWH  valid point for the `updated_at` field!

But with your example, it then means the `updated_at` field is not actually a source of truth. Because ideally, when you do `$user->last_login_at = now()`, you have actually updated the row, and your `updated_at` field should reflect that change, else the table isn't idiot-proof.

How about the `created_at` field? I suppose you can only create a DB

[2022-04-07 03:07] ankurk91 commented on #41857
The `useCurrent()` method does not honor the timezone of application, does not fire eloquent model events either

[2022-04-07 07:22] rluders commented on #41853
@inietov could you please run the `getenforce` at the terminal and share the result?

[2022-04-07 07:54] driesvints commented on #41853
Which Fedora version?

[2022-04-07 08:00] cavaon-wayne commented on #28120
Our solution is having our listener which extend`Swift_Events_SendListener`, and register our listener into swift mailer. In our listener we are dispatching our own email, and passing the original swift message.
The point is "sendPerformed" is being fired before the "$message->generateId()", and you are able to get the original message ID in "sendPerformed"

[2022-04-07 08:06] driesvints commented on #41841
You should not call migration commands from a controller.

[2022-04-07 08:06] #41841 closed

[2022-04-07 08:08] driesvints commented on #41857
This is a feature request. I don't think we'll take any action here at the risk of breaking changes.

[2022-04-07 08:08] #41857 closed

[2022-04-07 09:29] cicnavi opened #41863 "Specifying a specific seeder on base test class does not apply when using in-memory Sqlite DB"
- Laravel Version: 8.76.0
- PHP Version: 7.3.25
- Database Driver & Version: in-memory Sqlite

### Description:
According the [docs for seeding while testing](https://laravel.com/docs/8.x/database-testing#running-seeders), we can specify a specific seeder on the base test class which would then be ran instead of the default Database\Seeders\DatabaseSeeder class. This does not work if in-memory SQL

[2022-04-07 09:33] driesvints commented on #41863
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-04-07 12:01] cicnavi commented on #41863
Hi, here is the repo:

https://github.com/cicnavi/bug-report

with one commit https://github.com/cicnavi/bug-report/commit/023154160801cb15a67fd65f54d4b9fd6973db1e

As per docs, I have added a $seeder prop in \Tests\TestCase which points to custom seeder \Database\Seeders\TestDatabaseSeeder.

The test \Tests\Feature\SeedingUsingCustomSeederTest::testSampleFromTestSeederExists fails because it expe

[2022-04-07 12:13] driesvints commented on #41863
@cicnavi your test contains `test` as a value while your seeder contains `default`.

[2022-04-07 12:16] cicnavi commented on #41863
@driesvints Erm, please check again: https://github.com/cicnavi/bug-report/blob/023154160801cb15a67fd65f54d4b9fd6973db1e/database/seeders/TestDatabaseSeeder.php#L17

[2022-04-07 12:21] driesvints commented on #41863
Sorry, I misread that. You're correct, this seems broken right now.

[2022-04-07 12:30] driesvints commented on #41863
I managed to write a fix for this. Please check and test https://github.com/laravel/framework/pull/41869. I managed to get your test passing with it.

[2022-04-07 12:44] driesvints commented on #41841
Hmm, I'm sorry but I think those migration commands should always be run from the CLI...

[2022-04-07 12:53] cicnavi commented on #41863
That was quick... Tried it out on a real project and works as expected.
I hope it will also be fixed in v9.*...
Thanks and best regards

[2022-04-07 13:06] driesvints commented on #41863
@cicnavi yeah bug fixes are merged upstream so it'll land in 9.x as well if it gets merged.

[2022-04-07 13:11] driesvints commented on #40895
Heya, I tried to provide a fix through https://github.com/laravel/framework/pull/41870. Still, this will not notify you of the fact that no name was provided. It's best that you also add a check in userland.

[2022-04-07 13:59] glamorous opened #41872 "Undefined index: laravel_data"
- Laravel Version: 8.83.7
- PHP Version: 7.4.28
- Database Driver & Version: MySQL 5.7

### Description:
For unknown reason horizon jobs are failing due to this:

ErrorException: Undefined index: laravel_data in PATH_WHERE_CODE_LIVES/vendor/laravel/framework/src/Illuminate/Http/Client/PendingRequest.php:972

The code that is causing this:

[code]

with the custom function createPendingRequest whic

[2022-04-07 14:01] driesvints commented on #41872
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-07 14:17] MichMich opened #41873 "Allowed memory size exhausted during PHPUnit tests since version 9."
- Laravel Version: 9.7.0
- PHP Version: PHP 8.0.17
- Database Driver & Version: sqlite (during tests)

### Description:

Ever since I've upgraded to Laravel 9, I've been unable to run my tests via `php artisan test` or `./vendor/bin/phpunit`. Both result in Fatal error: Allowed memory size exhausted after ~40% of the tests (790 in total).

[code]

Note that the actual place of the fatal error chan

[2022-04-07 14:27] driesvints commented on #41873
I'm afraid we won't be able to be of much help if the problem cannot be reproduced in a fresh Laravel repository. You might also want to be aware of https://github.com/laravel/framework/issues/30736

I'm going to have to ask you to try a support channel instead, sorry:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://sta

[2022-04-07 14:27] #41873 closed

[2022-04-07 14:28] Levivb commented on #41035
Not sure whether to report here in this closed report. But since @nunomaduro waited for other people to respond - and the label on this issue is "needs more info" - I'll add my finding.

we're running Laravel in kubernetes in production and got around 90k of errors in sentry a few hours ago.
![Screenshot 2022-04-07 at 16 12 56](https://user-images.githubusercontent.com/2494320/162219623-55a2bb2b-a

[2022-04-07 14:30] MichMich commented on #41873
Ok, no worries. That mentioned issue might indeed be the issue.

[2022-04-07 14:46] Levivb commented on #41035
And a few of the stacktraces:

<details>
<summery>Trace 1</summery>
Symfony\Component\ErrorHandler\Error\FatalError: Uncaught Error: Class "Illuminate\Log\Logger" not found in /srv/app/vendor/laravel/framework/src/Illuminate/Log/LogManager.php:180
Stack trace:
#0 /srv/app/vendor/laravel/framework/src/Illuminate/Log/LogManager.php(129): Illuminate\Log\LogManager->createEmergencyLogger()
#1 /srv/app

[2022-04-07 15:05] #41863 closed

[2022-04-07 15:10] driesvints commented on #41833
@flexchar does it work for you if you do:

[code]

[2022-04-07 17:34] perkthefox opened #41876 "ValidationException coudn't be fully localized"
- Laravel Version: 9.7.0
- PHP Version: 8.1.3

### Description:
\Illuminate\Validation\ValidationException end of `message` saying "and <count> more errors" coudn't be translated to any other languages rather than default English.

That problem definetely coming from `summarize` method of \Illuminate\Validation\ValidationException class
[code]
I propose to replace a default hardcoded string ` " (a

[2022-04-08 00:18] derekmd commented on #41876
* https://github.com/laravel/framework/issues?q=is%3Aissue+ValidationException+translate
* https://github.com/laravel/framework/pulls?q=is%3Apr+ValidationException+translate

This message isn't meant for users in production. The exception handler reports it in the local/staging environment for developers. Method `ValidationException@errors()` returns localized translations.

[2022-04-08 00:54] udeyubi commented on #20953
thanks a lot.  but...why.....

[2022-04-08 01:03] MohammedAttya2 commented on #41833
After some investigations, you have 2 options
1. Set the attribute `array_object_json` as string (`json`)
2. Not cast the `array_object_json` as `ArrayObject::class`

If any change need, I am willing to work on it

[2022-04-08 06:31] driesvints commented on #41876
Heya, Please try to search the issue and PR trackers first before posting, thanks.

Thanks @derekmd

[2022-04-08 06:31] #41876 closed

[2022-04-08 06:34] driesvints commented on #41833
Yeah indeed @MohammedAttya2 is right actually. This needs to be set as a string, not an array.

[2022-04-08 06:34] #41833 closed

[2022-04-08 08:44] avsdev-cw commented on #40012
@driesvints would you mind re-opening this? I am also having this error and the doctrine issue clearly indicates it was fixed in laravel (doctrine requires you to set some start-up settings?)

@dshemin did you ever find a workaround for this issue?

[2022-04-08 08:45] driesvints commented on #40012
I don't see how this is a Laravel issue sorry. We'd welcome PR's if you can actually find a bug in Laravel itself, thanks.

[2022-04-08 08:55] dshemin commented on #40012
@avsdev-cw yep, I had made the raw SQL query.

[2022-04-08 09:09] luke-navitas opened #41884 "Integer Validation permits boolean true"
- Laravel Version: 9.7.0
- PHP Version: 8.1.4
- Database Driver & Version: N/A

### Description:

When enforcing `integer` validation. the boolean true is allowed

### Steps To Reproduce:

- Make a request class, that has a single field to validate

[code]

- Make an API reuest passing boolean `true` for age parameter
- Expected validation to fail, but it passes

This is becasue filter_var (used h

[2022-04-08 09:10] luke-navitas commented on #41884
using `return is_int($value)` would likely solve this incosistency.

[2022-04-08 09:13] driesvints commented on #41884
The current behavior is correct. See the docs:

<img width="726" alt="Screenshot 2022-04-08 at 11 13 03" src="https://user-images.githubusercontent.com/594614/162404921-550a0a8f-61eb-4496-941f-7ef71c405073.png">

[2022-04-08 09:13] #41884 closed

[2022-04-08 09:22] avsdev-cw commented on #40012
@driesvints Looking at the PR (https://github.com/laravel/framework/pull/14359) and the current code (below), the only difference I can see is if a persistent connection is being used. AFAIK I'm not using a persistent question (will check back if the devs of the framework I'm using say otherwise).

https://github.com/laravel/framework/blob/a0ce23885280dff4913dcd0bf112c9565c37781b/src/Illuminate/Da

[2022-04-08 09:26] flexchar commented on #41833
@driesvints Casting array as an object doesn't help.

However setting as a `json` string works. (2nd option from @MohammedAttya2).
That's also the workaround I'm using right now.

Should we update the documentation if it's intended behavior?

[2022-04-08 09:29] tpetry opened #41885 "Calling toBase() on relationships removes soft-deleted condition in Laravel 9 compared to Laravel 8"
- Laravel Version: 9.7.0
- PHP Version: 8.1.1

### Description:
In Laravel 9 the `toBase()` function behaves differently than in Laravel 9 when used on a relationship: The `deleted_at IS NULL` condition of the `SoftDeletes` scope was still applied to relationship queries in Laravel 8 when calling `toBase()`, but in Laravel 9 the condition is missing. However calling `toBase()` on a normal Eloquent

[2022-04-08 09:30] driesvints commented on #41833
Where do you see your own example? What do you want to update?

[2022-04-08 09:34] flexchar commented on #41833
These two links in question:
https://laravel.com/docs/9.x/eloquent-mutators#array-and-json-casting
https://laravel.com/docs/9.x/eloquent#default-attribute-values

Since I interact with `AsArrayObject` class as an array my first understanding was that I shall also set it as an a array to the default Model attributes. We've discovered that this is not the case. The documentation doesn't talk about t

[2022-04-08 09:38] driesvints commented on #41833
Yeah I think some clarification can be useful as I've seen more cases of people running into this. Feel free to add that as well as a small code snippet with an example 👍

[2022-04-08 11:17] driesvints commented on #41885
I'm not 100% sure but think it has got something to do with https://github.com/laravel/framework/pull/37956 maybe? @inxilpro do you have any ideas here?

[2022-04-08 11:20] driesvints commented on #41885
If I changed `toBase` to the below with `applyScope` then it works for me:

[code]

@tpetry can you try that out? I have no idea if there are more implications...

[2022-04-08 11:26] inxilpro commented on #41885
#37956 was reverted before 9.0 was released, so I don't think this has anything to do with that. I can take a peek in a bit, though!

[2022-04-08 11:27] driesvints commented on #41885
@inxilpro I think I found the solution (see my comment above) but need some more eyes on it to make sure we don't break anything...

[2022-04-08 13:50] olekjs opened #41892 "Defining a database connection in the Bus class"
- Laravel Version: 9.7.0
- PHP Version: 8.0.17
- Database Driver & Version: sqlsrv, sqlite

### Description:
I have two databases, one is **sqlsrv** and the other is **sqlite**. The first SQL database is the master database. The **sqlite** database is used to hold everything related to queues, i.e. the tables jobs, job_batches, failed_jobs.

I would like to create a job batch so that the record is

[2022-04-08 17:14] korkoshko commented on #41892
Hi!

You can set up "batch" connection via queue config, just add key "batching.database" with value "sqlite".
`    'batching' => ['database' => 'sqlite'],
`
See to [BusServiceProvider](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Bus/BusServiceProvider.php#L49).

[2022-04-08 17:59] olekjs commented on #41892
This is what I was looking for! I missed somewhere that this class can be defined in the provider.

Thank you very much @korkoshko!

[2022-04-08 17:59] #41892 closed

[2022-04-08 19:56] bandgeekndb opened #41894 "Finding batch by ID causes exception: Class __PHP_Incomplete_Class has no unserializer"
- Laravel Version: 9.7.0
- PHP Version: 8.1.4
- Database Driver & Version: Microsoft SQL Server PHP Driver 5.10

### Description:
When calling Bus::findBatch to find a batch by ID, after upgrading to Laravel 9 and PHP 8.1 (previously Laravel 8 and PHP 7.4), I now get `Class __PHP_Incomplete_Class has no unserializer` when calling `unserialize()` on the DatabaseBatchRepository class.

### Steps To

[2022-04-09 13:35] Julian367 opened #41900 "Fatal error: after upgrade to Laravel 9"
- Laravel Version: 9.7.0
- PHP Version:  8.1.4
- Database Driver & Version: MySQL MariaDB 10.5.5

### Description:
After I have upgrade from Laravel 8 to 9 I face this error and don't know from where is coming.

```Fatal error: Uncaught TypeError: Return value of Illuminate\Container\Container::offsetGet() must be an instance of Illuminate\Container\mixed, instance of Illuminate\Events\Dispatcher

[2022-04-09 18:34] #41900 closed

[2022-04-10 12:53] ahmedash95 commented on #41894
have you tried running ‘composer update’? I had the same issue and updating dependencies fixed it

[2022-04-10 17:15] luke8086 opened #41909 "Type signatures in Illuminate\Log\Logger are incompatible with Psr\Log\LoggerInterface, triggering PHPStan warnings"
- Laravel Version: 9.7.0
- PHP Version: 8.1.4
- Database Driver & Version: -

### Description:

The PHPDoc type signatures of `$message` params in the logging functions of [`Illuminate\Log\Logger`](https://github.com/laravel/framework/blob/v9.7.0/src/Illuminate/Log/Logger.php#L52) are incompatible with its parent interface [`Psr\Log\LoggerInterface`](https://github.com/php-fig/log/blob/master/src/

[2022-04-10 17:28] driesvints commented on #41909
This isn't really a bug since it doesn't breaks anything. Feel free to send a PR if you want to change anything, thanks.

[2022-04-10 17:28] #41909 closed

[2022-04-10 21:24] ahgreen opened #41912 "UploadedFile::storeAs() references FilesystemFactory->disk()->putFileAs() which does not exist"
- Laravel Version: 9.X
- PHP Version: 8.X
- Database Driver & Version: N/A

### Description:
There is a reference mismatch between the contract and the implementation.

Illuminate\Http\UploadedFile@86 references FilesystemFactory->disk()->putFileAs()

however

FilesystemFactory->disk() returns \Illuminate\Contracts\Filesystem\Filesystem (per doc) which does not have "putFileAs" defined as a method

[2022-04-11 07:17] driesvints commented on #41894
Think you'll need to update your dependencies indeed to pull in laravel/serializable-closure.

[2022-04-11 07:20] tpetry commented on #41885
I can verify that the soft-deletes are now handled correctly, but something is still incorrect. I am researching a many hundreds of lines hand-optimized query built with the query builder. I guess your change is having another side effect.

[2022-04-11 08:34] gdebrauwer opened #41916 "Mimetype of `UploadedFile::fake()` lost when saved in storage in Laravel 9 compared to Laravel 8"
- Laravel Version: 9.7.0
- PHP Version: 8.0.3

### Description:

I recently upgraded a project from Laravel 8 to Laravel 9, and I noticed that saving a `UploadedFile` instance in Laravel Storage results in the loss of the mime type of that `UploadedFile` instance. This was not the case in Laravel 8.

This currently results in the inability to write tests for code where the mime type of a file is v

[2022-04-11 08:40] tpetry commented on #41885
@driesvints My mistake, I can say that your change to test fixes the problem completely. It didn't have any side effects for me with this complex query, the query is now identical in Laravel 8 and Laravel 9.

[2022-04-11 08:46] lenssoft opened #41917 "Translate whole file while using replacements"
- Laravel Version: 8.83.7
- PHP Version: 7.4.28
- Database Driver & Version: mysql 8

### Description:

Translator throws warning when trying to translate a whole translation file containing array keys and using replace keys feature.

Last known to work with v8.61.0

### Steps To Reproduce:

trans('validation', ['key' => 'to_replace'], 'en')

outcome:
<warning>PHP Warning:  strtr() expects paramet

[2022-04-11 09:39] driesvints commented on #41916
This seems to be a change in Flysystem between v1 and v2 & v3. In v1 it seems this was detected and a fallback to the extension name was used. See https://github.com/thephpleague/flysystem/blob/094defdb4a7001845300334e7c1ee2335925ef99/src/Adapter/Local.php#L325-L327

In v3 I don't see any such fallback method (not in `league/mime-type-detection` or in Flysystem itself). I don't see any mention of

[2022-04-11 09:39] #41916 closed

[2022-04-11 10:23] driesvints commented on #41885
Thanks all. I sent in a PR here: https://github.com/laravel/framework/pull/41918

[2022-04-11 10:26] driesvints commented on #41917
You're trying to call `trans` on an entire validation file. You should call it like `trans('validation.<your-key-here>', ['key' => 'to_replace'], 'en')`.

[2022-04-11 10:26] #41917 closed

[2022-04-11 11:57] lenssoft commented on #41917
It is easy to close since translating an entire file is not mentioned in the documentation but it used to work.

Here is the output using v8.83.7 raising a warning

![image](https://user-images.githubusercontent.com/9431885/162733634-28703e98-df43-4e02-9079-44ba8a5e8298.png)

And this is the output using v8.66.0 , which had no problem replacing even in nested translation keys.

<img width="443" al

[2022-04-11 14:21] #41885 closed

[2022-04-11 15:34] bandgeekndb commented on #41894
I believe I have the necessary updated dependencies though. I'm running laravel/framework v9.7.0, which includes the laravel/serializable-closure package.

I can confirm this by running composer show laravel/serializable-closure and it tells me I have v1.1.1 installed. I can also confirm the serializable-closure package is installed in my app's vendor directory.

Is there some other dependency tha

[2022-04-11 15:36] driesvints commented on #41894
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-04-11 17:01] bandgeekndb commented on #41894
Hi Dries! So, in attempting to reproduce this in a separate repository, I actually found the root cause. When upgrading an app that has batches in the job_batches table, they have references to Illuminate\Queue\SerializableClosure in the options field in the database. This class doesn't exist in L9, and any new batches have references to the new Laravel\SerializableClosure.

Is there any way this

[2022-04-11 19:25] m0n1ker commented on #41745
I'm running into this same issue and I'm able to reproduce the problem in Apache(using mod_php) and CLI.

Laravel 9.5.1
PHP Version:
[code]

[code]

It fails for me.
[code]

If I try putting the following two lines in any controller, it also throws an exception.
[code]

<details>
<summary>Here's the stacktrace</summary>

[code]
</details>

[2022-04-11 22:10] mafecito opened #41929 "Deprecated: urldecode(): Passing null to parameter #1 ($string) of type string is deprecated"
- Laravel Version: 9.7.0
- PHP Version: 8.1.4

### Description:

Accessing a route with // in the path like http://127.0.0.1:8000//hello emits a deprecated notice.

Deprecated: urldecode(): Passing null to parameter #1 ($string) of type string is deprecated in /workspaces/xxx/vendor/laravel/framework/src/Illuminate/Foundation/resources/server.php on line 6

### Steps To Reproduce:

Add a route.
[c

[2022-04-12 06:17] nmathur94 opened #41932 "Named RateLimit Middleware not working"
- Laravel Version: 9.6.0 | 9.7.0
- PHP Version: 8.0.14
- Database Driver & Version: MySQL 5.7

### Description:
Based on the request throttling documents, it says you can place the RateLimiters inside the `configureRateLimiting` function under `App\Providers\RouteServiceProvider` (created function, not currently there).
However, it appears to not take effect. The rate limiter doesn't respect my co

[2022-04-12 06:19] nmathur94 commented on #41932
Update:

I added the Rule to boot() and it appears to be loading it up.
Question is should that work as intended without any effects, and if so, documentation should probably be updated unless its something else which I've missed.

[2022-04-12 06:32] nmathur94 commented on #41932
Well... great

Yeah i'm adding it in now

Upgrading the project from a previous version, and I did go through and overwrite all the main files, including providers and configs and bring our changes back in so its inline with updates made.

Thanks @ankurk91

[2022-04-12 06:32] #41932 closed

[2022-04-12 06:44] driesvints commented on #41929
It's showing the 404 template for me

<img width="1857" alt="Screenshot 2022-04-12 at 08 44 06" src="https://user-images.githubusercontent.com/594614/162897428-e1e70e99-10b4-497b-927e-87644e824c5f.png">

[2022-04-12 06:44] driesvints commented on #41929
Ah that was the wrong url. I can reproduce this.

[2022-04-12 09:37] andries230 opened #41934 "CC version of mail loses some arguments"
- Laravel Version: 9.5.1
- PHP Version: 8.0.11
- Database Driver & Version: 5.7.33-0ubuntu0.16.04.1

### Description:
When I CC an email the last paremeter get's lost and thus the cc version of the mail actually looks different then the original (tested in mailhog).

The CC's subject ends up being "Hello ", while the main mail's subject that's send to $request->email is (correctly) "Hello John Smi

[2022-04-12 11:21] timohund opened #41936 "Make it possible to see overlapping jobs (WithoutOverlapping middleware)"
When using the WithoutOverlapping middleware it would be nice to react on the fact when no lock could be acquired and also no releaseAfter is set (https://github.com/laravel/framework/blob/9.x/src/Illuminate/Queue/Middleware/WithoutOverlapping.php#L77)

This could be helpful to generate a log message. Is this somehow possible or how could this be done (add event...)? I could also provide a pull re

[2022-04-12 11:24] driesvints commented on #41936
Heya, thanks for submitting this.

This seems like a feature request or an improvement so I'm converting this to a discussion instead. It's best to post these in the discussions section in the future to get support for your idea. After that you may send a PR to the framework. Please only use the `laravel/framework` issue tracker to report bugs and issues with the framework.

Thanks!

[2022-04-12 11:35] driesvints commented on #41934
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-04-12 13:38] #41929 closed

[2022-04-12 15:52] driesvints commented on #41894
We'll try to check into making this a bit smoother. Unfortunately we cannot give a time frame for this right now. For now, it's best that you clear this table before migrating.

[2022-04-12 16:00] bandgeekndb commented on #41894
Understood, thanks for following up! At this point, I just want to make sure if it's a breaking change, it makes it into docs / upgrade guide so it doesn't surprise anyone else.

[2022-04-12 16:20] vadimpronin opened #41946 "Unable to override command (introduced in 9.6.0)"
- Laravel Version: 9.6.0-9.8.1
- PHP Version: 8.1

### Description:

It is currently impossible to override a command handler provided by a package by creating a new command in **app/Console/Commands** with the same signature.
For example, package **laravel/vapor-core** has "stub" command **vapor:handle** which only throws exception with a request to create a custom **vapor:handle** command to pro

[2022-04-12 20:32] m0n1ker commented on #41745
@driesvints, would you consider re-opening this issue now that there's a failed test case? There does seem to be a problem here, and I haven't been able to identify any reasonable workaround.

My personal feeling is that `Blade::render` should have an additional optional parameter, or a second function should be defined that allows the user to specify explicitly if the provided string is content o

[2022-04-12 20:47] a-bashtannik commented on #41745
@m0n1ker could you also tell more about your environment? OS and `php -i` output could be useful.

[2022-04-12 21:23] m0n1ker commented on #41745
Sure, this is a pretty vanilla CentOS 7 machine, running in VirtualBox, and provisioned by Vagrant. It's using the [Official CentOS 7 box](https://app.vagrantup.com/centos/boxes/7). It has PHP 8.0 installed from the Remi repository, along with Apache 2.4.53. The web root is `/vagrant` which contains the Laravel application.  I did update PHP to 8.0.17 to verify this bug still happened on the lates

[2022-04-12 22:54] a-bashtannik commented on #41745
PHP has a hard limit on path length as defined by the constant `PHP_MAXPATHLEN` which depends on the operating system (Windows 260 characters, Unix: as specified in the c-runtime - on Linux this is `PATH_MAX` in limits.h being 4096 on both Lnux kernel 3.10 you are and 5.4 I am, and source [MAXPATHLEN equals to PATH_MAX](https://github.com/php/php-src/blob/PHP-8.0.16/main/php.h#L280).

For me

[cod

[2022-04-12 22:58] a-bashtannik commented on #41745
Duplicate of https://github.com/laravel/framework/issues/32254

[2022-04-13 07:21] MichMich commented on #41873
For anyone stumbling upon this issue: it turns out php8 and/or php unit has a memory leak. The reason why this gave me real issues is that it turned out I had a manual memory override in my code somewhere:

[code]

After removing this, my tests run without issues. Of course this isn't a solution for the memory leaks, but at least my tests are able to run.

If you have the same issues, check your c

[2022-04-13 09:10] evertramos opened #41951 "Tests option '--recreate-databases' not found"
- Laravel Version: 9.7.0
- PHP Version: 8.1.2
- Database Driver & Version: sqlite or mysql:8.0

### Description:
When running `php artisan test --recreate-databases` receiving an error:

[code]

### Steps To Reproduce:

Run `php artisan test --recreate-databases` on a fresh Laravel.

[2022-04-13 09:25] evertramos commented on #41951
It requires '--parallel' option in order to use --recreate-databases or --drop-databases.

[2022-04-13 09:25] #41951 closed

[2022-04-13 09:28] alexgaal opened #41952 "Route Model Binding not working on changed structure"
- Laravel Version: 9.6.0
- PHP Version: 8.1.3
- Database Driver & Version:

### Description:
I decided to change the default directory structure of Laravel in a specific project. Now I am implementing my test cases and I recognized through these that somehow route model binding is not working correctly.

**Example of directory structure**
[code]

I obviously had to change the autoload of my `compo

[2022-04-13 10:24] a-bashtannik commented on #41745
PHP knows you are trying to check plain file existence and call `php_check_open_basedir`

https://github.com/php/php-src/blob/master/ext/standard/filestat.c#L757

If you have no `open_basedir` configuration, then another method `virtual_file_ex` will be called:

https://github.com/php/php-src/blob/master/main/fopen_wrappers.c#L282
https://github.com/php/php-src/blob/master/ext/standard/filestat.c#

[2022-04-13 10:26] a-bashtannik commented on #41745
I will deliver a PR resolving these issues soon.

[2022-04-13 10:38] allowing commented on #40577
@nshiro 哈哈，来自日本的朋友你好。很抱歉今天才看到这个 issue 。我解决`NBSP`的方案太过于简单粗暴。
你看一下这个会不会带来同样的问题: #41949。

Translate:

Haha, hello friends from Japan. Sorry I only saw this issue today. My solution to `NBSP` is too simplistic.
See if this brings up the same problem: #41949.

[2022-04-13 11:29] keizah7 opened #41954 "LogMessage not found"
- Laravel Version: 8.6.5
- PHP Version: 8.1.3
- Database Driver & Version: mysql 8

### Description:
I'm getting error when logging using info, but log still does the job.
`
[2022-04-13 14:15:35] local.INFO: callback
`

PaymentOrderCompletedListener.php(29): (last line from my code in trace)
`Log::channel('payment-order')->info($event->type);`

config:
[code]

[code]

[2022-04-13 15:19] TheWorkingDeveloper opened #41960 "Unable to retrieve the mime_type for file with Storage::download"
- Laravel Version: 9.8.1
- PHP Version: 8.1.3
- league/flysystem 3.0.16

### Description:
[code]
Results in the following error:
[code]
I believe this is caused by me having a non-standard extension, which is fine since I provided the content-type in the headers explicitly. But instead I'm getting errors now with my recent upgrade from laravel 8 to laravel 9. Any way to make this work?

[2022-04-13 15:29] #41960 closed

[2022-04-13 16:40] TheWorkingDeveloper commented on #41960
I searched extensively but this is an almost undocumented error with very few people running into it (because everyone uses default file extensions). And to my knowledge there is nothing within laravel that can be changed to resolve this issue.
@driesvints

[2022-04-13 19:08] anabeto93 commented on #41954
Hi @keizah7 , I tested with your config and it works without issues.

I hope these two images attached will help.

Config
![logging_config_keizah7](https://user-images.githubusercontent.com/7607657/163252471-4e69b966-7d73-4d00-bc3d-402559f53c48.png)

Log Sample
![no_issue_with_laravel](https://user-images.githubusercontent.com/7607657/163252511-d8faedb3-b52d-4c56-a7ab-eafefa77d0ff.png)

[2022-04-13 21:01] Levivb commented on #41035
Is there anyone with more information regarding this? we're burning through hundreds of thousand of errors in Sentry, effectively nuking our budget.

So far there's absolutely no indication what might cause this behaviour. But whenever when we deploy a new release containing php 8.1, that site also starts generating numerous errors

within one hour 72.000 errors occurred from one single applicatio

[2022-04-13 21:45] bennettblack opened #41964 "Issue generating URL when specifying a 'root' filesystem path"
- Laravel Version: 9.8
- PHP Version: 8.1.3
- Database Driver & Version: DB2 for IBM iSeries (third party driver)

### Description:
I'm using Digital Ocean Spaces to host website assets. If I specify a 'root' path in `filesystems.php` for any DO disk, I run into issues retrieving the files. If I remove the 'root' key and write the folder path manually, I don't have any issues.  Specifically, it lo

[2022-04-14 01:10] anabeto93 opened #41968 "Job WithoutOverlapping Middleware not working"
- Laravel Version: 9.8.1
- PHP Version: 8.1.2
- Database Driver & Version: sqlite

### Description:
The `middleware()` method on jobs not getting called. Have tried to `dd()` and it does not work unlike `uniqueId()` method when implementing the `ShouldBeUnique` interface.

### Steps To Reproduce:
On a clean laravel app,
1. Create a job, that simply logs any string
2. Inlcude the `middleware()` met

[2022-04-14 07:13] keizah7 commented on #41954
I had multiple logs at the bottom of the function, they worked well too, without any errors. For some reason I got error log only from this one

[2022-04-14 07:33] mantas-done opened #41972 "BCC is not working"
- Laravel Version: 9.1.5
- PHP Version: 8.0.16
- Database Driver & Version:

### Description:
BCC is not added to the email and the bcc recipient doesn't get an email.
On Laravel 8 the same code works. On Laravel 9 it doesn't work even on the new project.

### Steps To Reproduce:
Mail::to('no-reply@test.com')->bcc('bcc@bcc.com)->send(new OrderShipped());

![image](https://user-images.githubusercon

[2022-04-14 07:45] driesvints commented on #41972
BCC isn't added to your log since it's not added to message body but as a header. This might be different from SwiftMailer now that we've switched to Symfony Mailer. Afaik, BCC works fine.

[2022-04-14 07:45] #41972 closed

[2022-04-14 07:47] driesvints commented on #41960
Please use the correct file extension for this.

[2022-04-14 08:29] driesvints commented on #41952
I don't think in general that we support changing the app directory.

[2022-04-14 08:29] #41952 closed

[2022-04-14 08:31] driesvints commented on #41964
Since Laravel v9 switched to Flysystem v3, I suspect this is either a configuration issue or a Flyststem issue.

Can you first please try the Flysystem issue tracker or one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [

[2022-04-14 08:31] #41964 closed

[2022-04-14 08:37] driesvints commented on #41954
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-14 08:37] #41954 closed

[2022-04-14 12:37] gorbit99 opened #41975 "FromRaw description is wrong"
- Laravel Version: 9.6.0
- PHP Version: 8.1.4
- Database Driver & Version: MySQL/MariaDB 10.7.3

### Description:
The description of the "fromRaw" method on query builders says "Adds a raw from clause to the query", even though it sets the from clause, making it impossible to add more without overriding previous ones.

### Steps To Reproduce:

Run the following in for example tinker.

[code]

Resu

[2022-04-14 12:41] driesvints commented on #41975
This is expected. You can only have one from statement here.

[2022-04-14 12:41] #41975 closed

[2022-04-14 12:43] gorbit99 commented on #41975
In this case could the documentation be changed to say that it sets the clause and doesn't add it?

[2022-04-14 13:21] driesvints commented on #41934
I'll reopen once you provide a repo. Thanks

[2022-04-14 13:21] #41934 closed

[2022-04-14 13:26] gorbit99 commented on #41975
Wait, there can only be one FROM statement, but in that from statement you could have multiple tables referenced. And you can mix and match sub query from clauses and regular from clauses, which currently cannot be done in laravel query builder without writing the whole thing as a raw expression

[2022-04-14 16:29] Martin-Eckleben opened #41978 "Log::channel('single')->debug("blubb " . [1,2,3,4]) does NOTHING."
- Laravel Version: 9.5.1
- PHP Version: 8.1.4
- Database Driver & Version: pgsql & ?

### Description:

`Log::channel('single')->debug("blubb " . [1,2,3,4]);`
does **NOTHING**.

It does not print the blubb neither the array nor a warning nor an empty line neither does it throw an exception etc.
It does exactly nothing.
I thought my code would never reach that place because of a previous error I'd

[2022-04-14 16:50] driesvints commented on #41946
Thanks @vadimpronin. We're going to revert that commit.

[2022-04-14 19:51] TheWorkingDeveloper commented on #41960
What is the correct file extension for an arbitrary file for custom software? I believe there should be a default / settable fallback or optional way to specify non-standard file extensions and tie them to a known content-type. I believe I saw a commit on it a few days ago in the flysystem, but it didn't quite seem to work from what I can tell. (https://github.com/thephpleague/flysystem/commit/e85

[2022-04-15 07:46] driesvints commented on #41946
We've reverted this. This will be in Tuesday's release. Thanks

[2022-04-15 07:46] #41946 closed

[2022-04-15 07:57] denydias commented on #32943
I'm wondering why this one was closed  as #28789 and its references provides no good solutions.

On Laravel 9.8.1 and Bootstrap 4.6.1, this is what paginator provides by default:

![Screenshot_20220415_045408](https://user-images.githubusercontent.com/948202/163542465-4e437256-2874-4902-896a-58829913f901.png)

So I came up with the following workaround:

[code]

[code]

Et voilà!

![Screenshot_202

[2022-04-15 08:45] bassemgithub opened #41987 "routing with search returning empty page"
- Laravel Version: 8.83.7
- PHP Version: 8.0.16
- Database Driver & Version:

### Description:
routing with **search** returning empty page

### Steps To Reproduce:

1. Adding route

[code]

2. Add the function  search to the TestController

[code]

3. Add the view index.blade.php inside resources/views/tests/

[code]

4. Trying to going to the page https://xxxxx/tests/search returning an empty pa

[2022-04-15 11:05] ilyutkin opened #41991 "pushMiddlewareToGroup not working on Provider in My Package"
- Laravel Version: 9.8.1
- PHP Version: 8.0.5
- Database Driver & Version: mariadb

### Description:
In continuation of bug https://github.com/laravel/framework/issues/36604. I found the reason for this bug.
We want to dynamically connect Middleware in our package in the Service Provider:

    public function boot(Router $router)
    {
        // Push middleware to web group
        $router->pushM

[2022-04-15 11:15] driesvints commented on #41991
I don't think this is considered normal usage. If you want to change anything please provide a PR implementation with a test case.

[2022-04-15 11:15] #41991 closed

[2022-04-15 17:31] mwakalingajohn opened #41996 "Use InnoDb as the default database engine"
- Laravel Version: 9.8.1
- PHP Version: 8.1.1
- Database Driver & Version:

### Description:
When I create a new Laravel project and install fortify, sanctum, or jetstream, then run the migration, I get the error string length of 1000 is too long. The solution was to add "Schema::defaultStringLength(191)", in previous versions, but now, the solution is to add "InnoDB" in the database configuration

[2022-04-15 17:44] mwakalingajohn commented on #41996
Wrong repository, this issue was supposed to be in laravel/laravel

[2022-04-15 17:44] #41996 closed

[2022-04-15 17:58] driesvints commented on #41996
This isn't a bug. Please search around closed issues and prs before posting a new one.

[2022-04-15 22:25] bert-w commented on #23973
Interesting. I just came across this "intended behaviour" as well. I knew of the obvious issue of calling `update()` inside a `static::updating(...)` hook, but it still does not make sense to me why an infinite-loop happens inside `static::updated` hook, because I expect that hook to have completed the update-task.

That being said, the `static::updated` hook can also freely use `$model->isDirty()

[2022-04-16 13:32] ammannbe commented on #37814
I have the same problem and think this worked in older laravel versions (8.x).

I also think this is a bug, because in my eyes the behaviour in the namespace resolution of
`make:model Blog/Category -a`
should be the same as
`make:controller Blog/Category`
which is not the case.

[2022-04-16 19:30] rationalthinker1 opened #42011 "Eloquent unable to get collection more than 999 records"
- Laravel Version: v8.83.0
- PHP Version 8.0.17
- mariadb:10.5

### Description:
The collection shows up empty when it's more than 999 records

### Steps To Reproduce:
I have a `Job` model as followed:
[code]
Just for testing purposes, I ran this code in the first custom middleware that I registered.
[code]
However, if there is more than 999 ids, it shows as 0, and the collection is empty. I've be

[2022-04-16 20:16] BrandonSurowiec commented on #42011
I wonder if PHP's PDO driver itself has a binding limit of max 999 variables for a single query.

Chunking and querying would get around this, Does it work if you use a `whereRaw()`?

[code]

[2022-04-16 22:54] rationalthinker1 commented on #42011
Yes! @BrandonSurowiec, that worked. I didn't about the limitation of PHP PDO. The code that you put worked perfectly! I do use chunking afterwards when I use `whereIn('id, $keys)` but I abstracted that on the example. Despite chunking later on, it was still showing up as zero results.

[2022-04-16 23:16] #42011 closed

[2022-04-17 02:54] VeryStrongFingers opened #42014 "Task scheduler does not escape shell arguments"
- Laravel Version: 6+
- PHP Version: 7.4+
- Database Driver & Version: *

### Description:
Originally submitted this as a vulnerability report over a year ago, but it was dismissed due to "malicious package vendors being out of the control of the framework." [paraphrased]
Reporting it as a bug now, instead of security issue.

Task Scheduler unnecessarily allows 'command injection', there is no com

[2022-04-17 12:25] pionl opened #42018 "Schedule list command: CallbackEvent with custom description is ignored."
- Laravel Version: 9.8.1
- PHP Version: 8.1

### Description:

Before [0256484f71a9100405c2ae6f9bc9f850e6d640cf  commit](https://github.com/laravel/framework/commit/0256484f71a9100405c2ae6f9bc9f850e6d640cf) we were able to see set `description` for `CallbackEvent`.

Now we are able too see only  `Closure at: vendor/laravel/framework/src/Illuminate/Console/Scheduling/Schedule.php:144`.

**Would be

[2022-04-18 02:42] renkx commented on #35461
<img width="1644" alt="image" src="https://user-images.githubusercontent.com/26194193/163745415-ec0f1289-6e15-43c8-9720-554c24ed77f6.png">

Laravel Version: 9.8.1
PHP Version: 8.1.4
Redis Version：4.0

redis occasionally returns false

[2022-04-18 02:47] renkx opened #42024 "Trying to access array offset on value of type bool"
- Laravel Version: 9.8.1
- PHP Version: 8.1.4
- Redis Version：4.0.14

<img width="1644" alt="image" src="https://user-images.githubusercontent.com/26194193/163745415-ec0f1289-6e15-43c8-9720-554c24ed77f6.png">

### Description:
redis occasionally returns false

Occasionally, not easy to reproduce

[#35461](https://github.com/laravel/framework/issues/35461)

[2022-04-18 04:42] hryktrd opened #42025 "The mail facade cannot be use smtps with a port number other than the well known ports"
- Laravel Version: 9.7.0
- PHP Version: 8.0.16
- Database Driver & Version: none

### Description:
When I'm using mail server that's smtps port 12345(not 465), but smtp is selected by source code at follows.
[code]

[code]

### Steps To Reproduce:
- set SMTP server that use smtps protocol only.
- set smtps port other than 465.
- set smtps port at .env file.
- send mail from mail facade.

[2022-04-18 05:46] ZawHtettnaing commented on #18398
If someone got solution for this. Please share :). I am also facing the same issue.

[2022-04-18 07:55] driesvints commented on #42024
If there's nothing to reproduce then there's nothing we can do about it I'm afraid.

[2022-04-18 07:55] #42024 closed

[2022-04-18 08:54] driesvints commented on #42018
This is expected. You can show the description with the verbose flag.

[2022-04-18 08:54] #42018 closed

[2022-04-18 08:54] driesvints commented on #42014
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-04-18 08:54] #42014 closed

[2022-04-18 09:39] driesvints commented on #42025
Symfony Mailer only accepts 465: https://github.com/symfony/symfony/blob/6.1/src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php#L51. You'll have to open an issue on their repo if you think this should be changed.

[2022-04-18 09:39] #42025 closed

[2022-04-18 14:47] hafidid-baha opened #42028 "memory leak issue with HTTP Facade"
- Laravel Version: 8.1.2
- PHP Version: 9.5.1
- Database Driver & Version: Mysql :  5.7.31

### Description:
using HTTP facade inside a for loop triggers a memory leak issue.

### Steps To Reproduce:
using HTTP facade inside a for loop triggers a memory leak issue, instead when I use guzzle client for my request the memory size stayed the same after each iteration.
this is my code

[code]

[2022-04-18 17:08] shortontech opened #42030 "8.x upgrade to 9.x upgrade breaks migration creation when migration stubs use the class placeholder"
- Laravel Version: 9.8.1
- PHP Version: 8.1.1
- Database Driver & Version: MySQL Community Server - GPL 8.0.27

### Description:
I recently upgraded from 8.x to the most recent version of laravel/framework, and I was attempting to create database migrations using the make:migration command, however after it succeeded, I was getting a syntax error surrounding my migration, which attempts declares a

[2022-04-18 17:14] C14r opened #42031 "Grouping the result of a query by an enum casted attribute"
- Laravel Version: 9.8.1
- PHP Version: 8.1.4
- Database Driver & Version: mysql & 10.4.13-MariaDB

### Description:

I have a Customer model, whicht casts the status attribute to an php 8.1 enum.

[code]

and I'm trying to group the result of a query by status

[code]

I'm getting the following error: `array_key_exists(): Argument #1 ($key) must be a valid array offset type` in `..vendor\laravel\

[2022-04-18 17:58] driesvints commented on #42031
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-04-18 17:59] driesvints commented on #42028
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-04-18 17:59] #42028 closed

[2022-04-18 18:00] driesvints commented on #42030
Laravel 9 uses anonymous migrations by default so the class name isn't needed anymore. Feel free to PR the upgrade guide 👍

[2022-04-18 18:00] #42030 closed

[2022-04-18 18:50] C14r commented on #42031
Hey, thanks for the answer.

If created the repository `C14r/bug-report` with the laravel/installer 4.2.10 and made a commit with everything to reproduce the bug.

### Steps To Reproduce:

- gh repo clone C14r/bug-report
- php artisan migrate --seed
- php artisan serve
- start the browser and call http://localhost:8000/

[2022-04-18 19:07] pionl commented on #42018
thanks for the answer, I wonder if it should be the opposite but OK. have a great day

[2022-04-19 04:58] agus24 commented on #42031
i think the problem within `valueRetriever` of `EnumeratesValues` trait it should be check if the value is enum or not. cmiiw.
[code]

[2022-04-19 07:19] hryktrd commented on #42025
When using symphony mailer directly, it will only determine if the port is 465 if tls is not explicitly true.
But if tls is explicitly true, tls will be enabled no matter which port I use.
When using mail facade, whether to select smtps is determined only by whether the value of `$config['code']` is 465, and if it is another port, smtp is selected.

Isn't smtps available even if I select another p

[2022-04-19 09:26] VeryStrongFingers opened #42037 "Task scheduler does not escape shell arguments"
- Laravel Version: 8, 9
- PHP Version: 7.4+
- Database Driver & Version: *

### Description:
Originally submitted this as a vulnerability report over a year ago, but it was dismissed due to "malicious package vendors being out of the control of the framework." [paraphrased]
Reporting it as a bug now, instead of security issue.

Task Scheduler unnecessarily allows 'command injection', there is no c

[2022-04-19 09:42] driesvints commented on #42037
I don't see any big issues here. I don't see how this could lead to security issues. Please also do not publicly submit security issues, see our readme.

[2022-04-19 09:42] #42037 closed

[2022-04-19 09:48] driesvints commented on #42031
Hi there, this is actually a feature request. Collections don't support these yet. We'd welcome PR's for this, thanks.

[2022-04-19 09:48] #42031 closed

[2022-04-19 13:06] lucasvmds opened #42041 "Error trying to add attributes for serialization with Eloquent"
- Laravel Version: 9.5.1
- PHP Version: 8.0.17
- Database Driver & Version: MySQL 8.0.28

### Description:
When trying to add attributes for serialization as described in the documentation [(Appending Values To JSON)](https://laravel.com/docs/9.x/eloquent-serialization#appending-values-to-json) an error is displayed:
![image](https://user-images.githubusercontent.com/100241356/164009130-c4c00bc5-9

[2022-04-19 13:33] nimiboid opened #42042 "fresh laravel install ignore env configuration"
- Laravel Version: 9.2
- PHP Version: 8.15
- Database Driver & Version: mysql 8.0.27

### Description:
A fresh install of latest Laravel on MBP M1 ignores .env file:
- neither writes app-key
- nor uses provided db configurations

### Steps To Reproduce:
MacOS Monterey 12.3

[code]

[code]

[code]

Steps to reproduce
[code]

Connecting to a DB provided by DBngin (as suggested by the documentation)

[2022-04-19 13:52] driesvints commented on #42042
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-19 13:52] #42042 closed

[2022-04-19 14:16] driesvints commented on #42041
You're not adding the `Illuminate\Database\Eloquent\Casts\Attribute` as a return type to your `gender` method. That's shown in the docs.

[2022-04-19 14:16] #42041 closed

[2022-04-19 16:58] hafidid-baha commented on #42028
hi,
this question on stack overflow mentions the same problem,
https://stackoverflow.com/questions/71154405/memory-leak-when-using-http-facade-with-laravel-octane/71913463#71913463

[2022-04-19 17:53] nimiboid commented on #42042
@driesvints  Sure, sorry.

FYI I've git it to work - upgrade laravel from 9.15 to ^9.8 did the trick and now it works. Indeed composer create-project installs 9.1.5.

I've just repeated all the steps I did today to reproduce the issue and try to narrow it down but I can no longer reproduce it. 🤪

Looks like leaving the MBP sleep for couple of hours did the trick . Please delete the issue to remove

[2022-04-19 18:14] jhjm32087 opened #42047 "db:wipe multiple databaes"
- Laravel Version: 8.83
- PHP Version: 7.4.29
- Database Driver & Version:
- MySQL 5.7

### Description:
I have two databases/schemas in MySQL, during Unit Testing with the RefreshDatabase trait. On the second execution all tests will fail.  Under the hood, the migrate:reset and then db:wipe commands are called. It will only affect the default database(schema) and not the rest of them.

I would ex

[2022-04-19 19:03] marcovo opened #42049 "Fix bug in BelongsToMany where non-related rows are returned"
- Laravel Version: 9.8.1
- PHP Version: *
- Database Driver & Version: *

### Description:
After a pull request of mine was closed I wrote an explanation on the issue at hand, regarding three BelongsToMany methods that, in my opinion, can be rather confusing when you don't know the details/pitfalls hidden in them. The full PR can be found in #41881 . Now I come to understand that tickets that have

[2022-04-19 19:07] rayronvictor opened #42050 "Inconsistent collection toJson"
- Laravel Version: 8.61.0
- PHP Version: 7.4.28
- Database Driver & Version: Postgres 10

### Description:

I'm having inconsistent `$collection->toJson()` results when using some methods that alter the associative array. For example `sortBy`, `filter`, etc.

### Steps To Reproduce:

[code]

[code]

[2022-04-20 01:35] agus24 commented on #42050
it because sorting. when using sort the index of an array will be sorted to. so you need to do `->values()` before `toJson`

[code]

[2022-04-20 03:53] yurenzhen commented on #34886
i got this problem too, and i succeed solved it in this way:

set: php.ini

variables_order = "GPCS"

[2022-04-20 05:14] imran300 opened #42056 "Laravel UI Registration Issue"
- Laravel Version: 9.0
- PHP Version: 8.1
- Database Driver & Version:

### Description:
Hello,
I am usng Laravel UI for Auth. I have customized Registration process. The problem i am facing is user is not redirected to concern route instead it redirects back to login if in case an exception is thrown. Here is my Code. Please review what m i doing wrong.

/**
     * Create a new user instance afte

[2022-04-20 12:47] judgej commented on #33978
@florentpoujol great workaround for this inconsistent behaviour. For Laravel v8 upwards it is worth extending it to include property casting:

[code]

This change broke a lot of sites for me, requiring restructuring of the way some models were created and updated. This workaround gets things back on track to keeping the code cleaner. HTH

[2022-04-20 13:20] rayronvictor commented on #42050
@agus24 I think is because `json_encode`.

[code]

This issue does not only occur in `sortBy`, for example:

[code]

But, in fact, `array_values` will resolve the problem. If we change this:
https://github.com/laravel/framework/blob/9.x/src/Illuminate/Collections/Collection.php#L40-L43

To this:
[code]

[2022-04-20 13:56] Orrison opened #42061 "Artisan command calls during tests do not run app()->terminate like they would when run normally"
- Laravel Version: 9.9.0
- PHP Version: 8.0.16
- Database Driver & Version: MySQL 5.7

### Description:

When run in tests via `$this->artisan('some:command');` or `Artisan::call('some:command');` commands do not run `terminate` like it would when run normally. This makes it challenging to test that the proper things were run with `terminate` when running a console command.

### Steps To Reproduce

[2022-04-20 13:57] KevSlashNull opened #42062 "Array trailing comma after method in @json compiles to invalid PHP"
- Laravel Version: v8.83.9 (9.9.0 too)
- PHP Version: 8.0.17
- Database Driver & Version: MySQL (not set up)

### Description

I have an array of items and wanted to map them to a format the frontend can consume. I put the whole expression, including the `map`ping in a `@json`. This caused a `ParseError` **Unclosed '[' on line 19 does not match ')'**

### Steps To Reproduce

1. Create a blade view

[2022-04-20 14:14] fjahn opened #42063 "queue:listen not passing on --force flag"
- Laravel Version: 9.9.0
- PHP Version: 8.1.5
- Database Driver & Version:

### Description:

The `queue:listen` command does not pass down the `--force` flag to its underlying `queue:work` command. I believe the flag should be added at around [\Illuminate\Queue\Listener:153](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Queue/Listener.php#L153).

### Steps To Reproduce:

- Enable m

[2022-04-20 14:21] MrPoper opened #42064 "route resource bug"
- Laravel Version: 9.8.1
- PHP Version: 8.1.5
- Database Driver & Version:

### Description:
Bug when use resource route in group with prefix and name ,
[code]
### OUTPUT :
[code]

**without a parameters `{}`  because the name of route it `/` and its in group route resource he don't take name from group prefix
and i fixed by : **
[code]

### Steps To Reproduce:

[2022-04-20 15:32] agus24 commented on #42050
yes. and this is behavior of php too. see https://www.php.net/manual/en/function.array-filter.php and https://www.php.net/manual/en/function.sort.php

[2022-04-20 22:59] Levivb commented on #41035
It seems to be related to a bug in php's opcache: https://github.com/php/php-src/issues/8164

Will leave a comment there tomorrow

[2022-04-20 23:00] Levivb commented on #41070
Unfortunately issue isn't really fixed.
It seems to be related to a bug in php's opcache: https://github.com/php/php-src/issues/8164

Will leave a comment there tomorrow

[2022-04-21 02:49] derekmd commented on #42047
Do you mean to use trait `DatabaseMigrations`? Trait `RefreshDatabase` only runs migrations once and then wraps each test case in a transaction that rolls back updates.

https://laravel.com/docs/9.x/database-testing#resetting-the-database-after-each-test

![transaction](https://user-images.githubusercontent.com/823566/164360797-f00d2ad8-ce27-403d-bc06-f3542b9a9fe4.png)

The `DatabaseMigrations` tr

[2022-04-21 05:37] dvlpr91 opened #42070 "event, listener create bug"
- Laravel Version: 9.8.1
- PHP Version: 8.1.4

### Description:

After adding the event and listener to $listen of the EventServiceProvider file, and run the generate command, files is created in the /app/Providers folder.

Shouldn't it originally be in the /app/Events, /app/Listeners folder?

[2022-04-21 05:39] dvlpr91 commented on #42070
oh!!! My mistake.

I didn't write a namespace.

[2022-04-21 05:39] #42070 closed

[2022-04-21 06:05] wenjy opened #42071 "RedisTaggedCache::put standard_ref Set overflow"
- Laravel Version: 8.83.8
- PHP Version: 7.4.22
- Database Driver & Version:
redis 5
### Description:

https://github.com/tymondesigns/jwt-auth/issues/2179

### Steps To Reproduce:
[code]

[2022-04-21 06:13] wenjy commented on #42071
tag:test:key [6260f211bf58c364964784]

after ttl
Set 6260f211bf58c364964784:standard_ref Members not deleted

[2022-04-21 07:06] driesvints commented on #42071
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-04-21 07:06] #42071 closed

[2022-04-21 10:04] jangaraev commented on #42064
Discovered the same unexpected behavior.

- Laravel Version: 8.83.6
- PHP Version: 8.0.8

### Description:

In case of empty resource route name in a grouped (prefixed) route Laravel uses a plain action name => which is pretty unexpected thing.

In my case I expect the following route name `campaign.store` instead of just `store`.

**Reproduce steps**: refer to the roures definition below
**Expect

[2022-04-21 10:08] jangaraev commented on #42064
Can my expectation be wrong and the behaviour is pretty fine? So we just need to adjust our routes declaration.

Btw, for now I ended up with the following:

[code]

[2022-04-21 10:13] jangaraev commented on #42064
I inspected the source code of ResourceRegistrar & Route classes and saw that in the register method of ResourceRegistrar we have an access to the upper route groups, so it's possible to build up a proper route name there using prefix and/or name of a higher-level group.

Should I prepare a PR for that?

[2022-04-21 11:13] driesvints commented on #42064
A resource always needs a value, not a `/` or prefix`.

[2022-04-21 11:13] #42064 closed

[2022-04-21 11:15] driesvints commented on #42050
Thanks @agus24

[2022-04-21 11:15] #42050 closed

[2022-04-21 11:15] tiagof opened #42075 "'whereHas' using wrong table name when relationship refers to self"
- Laravel Version: 9.1.0
- PHP Version: 8.1
- Database Driver & Version: Mysql

### Description:

When using `whereHas` on a Model that implements SoftDeletes and has a relationship to itself, the generated query is wrong.

### Steps To Reproduce:
Create 2 models like this

[code]

[code]

Notice that in the first instruction, we have `contracts.deleted_at is not null` when I believe we should get

[2022-04-21 11:18] driesvints commented on #42075
Can you try the very latest Laravel version? This is already fixed I think.

[2022-04-21 11:21] tiagof commented on #42075
Don't think it is ...

[code]

[2022-04-21 11:27] driesvints commented on #42062
Please do not use complicated and multiline PHP code inside the `@json` directive.

[2022-04-21 11:27] #42062 closed

[2022-04-21 11:35] driesvints commented on #42056
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-21 11:35] #42056 closed

[2022-04-21 11:36] driesvints commented on #42063
Yeah, I think that's valid. Can you send in a PR?

[2022-04-21 11:36] #42063 closed

[2022-04-21 11:47] driesvints commented on #42061
That's because it's not actually run. It's a mocked pending command that's used for testing. There's no way atm to simulate this.

[2022-04-21 11:47] #42061 closed

[2022-04-21 11:48] driesvints commented on #42049
Please re-submit the PR with the new explanation, thanks.

[2022-04-21 11:48] #42049 closed

[2022-04-21 11:49] driesvints commented on #42047
`db:wipe` only targets the default connection without a `--database` flag.

[2022-04-21 11:49] #42047 closed

[2022-04-21 11:50] driesvints commented on #42047
Thanks @derekmd

[2022-04-21 11:55] driesvints commented on #42075
Does it work if you do `$this->hasMany(self::class)->onlyTrashed();`?

[2022-04-21 12:38] tiagof commented on #42075
Same result

[2022-04-21 12:44] driesvints commented on #42075
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-04-21 12:53] tiagof commented on #42075
Sure, i'll do that, but again, the 2 classes in [here](https://github.com/laravel/framework/issues/42075#issue-1210884995)
are enough.

[2022-04-21 13:03] Arlong-kit opened #42076 "Call to undefined method stdClass::routeNotificationFor()"
- Laravel Version:  9.8.1
- PHP Version: 8.0.2
- Database Driver & Version:null

### Description:
I use notification to send mail, but it throws exception: Call to undefined method stdClass::routeNotificationFor()

### Steps To Reproduce:
function:
[code]
Notification:
[code]
Mailable:
[code]
I tried to modify MailChannel and it worked.
`\\vendor\\laravel\\framework\\src\\Illuminate\\Notifications

[2022-04-21 13:05] driesvints commented on #42076
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-21 13:05] #42076 closed

[2022-04-21 13:08] tiagof commented on #42075
Here it is: https://github.com/tiagof/bug-report

[2022-04-21 13:55] hihuangwei opened #42077 "How to change "remember me" expiration time"
- Laravel Version: 9.9.0
- PHP Version: 8.0.5
- Database Driver & Version: MySQL 8

### Description:

How to change  "remember me"  expiration time，five years is too long.

### Steps To Reproduce:

[2022-04-21 14:23] driesvints commented on #42047
Yes, like I said, this is expected. If you want to change this behavior, please attempt a PR.

[2022-04-21 14:26] driesvints commented on #42077
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-21 15:47] taylorotwell commented on #42075
It's because SoftDeletingScope simple isn't built to handle self-referencing relationships and alias:

<img width="594" alt="CleanShot 2022-04-21 at 10 45 48@2x" src="https://user-images.githubusercontent.com/463230/164499857-e0afafbd-f833-48d0-b43c-f3e3acedf700.png">

[2022-04-21 17:50] tiagof commented on #42075
I see. The relationship itself works fine:
`Contract::find(1)->relationSelf`
return the expected related models.
It happens as you say, only when alias are involved.

I'll see if I can find a fix but the internals of Eloquent don't look so easy :)

[2022-04-21 18:19] PHLAK opened #42085 "`Crypt` facade throws errors when mocking"
- Laravel Version: `9.8.1`
- PHP Version: `8.1.5`
- Database Driver & Version: N/A

### Description:

The `Crypt` facade throws errors when mocking (i.e. `Crypt::shouldReceive()`)

### Steps To Reproduce:

In a _brand new_ Laravel application add the following route and test case and run the tests.

[code]

[code]

[code]

<details>
<summary>Full response trace</summary>

<pre>
'{\n
    "message":

[2022-04-22 09:09] driesvints commented on #42075
Seems like this indeed isn't supported right now. Like Taylor said, we'd appreciate PR's for this. Thanks

[2022-04-22 09:09] #42075 closed

[2022-04-22 10:03] driesvints commented on #42085
So, I'll try to explain what happens here. When mocking facades, you're not just swapping out *just* the facades but also the underlying service on the container. This means that all calls to the underlying service needs to be mocked. If you'd disable the `EncryptCookies` middleware your test will pass. Similarly, if you attempted to mock the `Session` facade, the `StartSession` middleware would f

[2022-04-22 10:03] #42085 closed

[2022-04-22 13:56] UrchenkoV opened #42095 "The group namespace does not apply to the internal put."
[code]

[code]
The group namespace apply to the api Resource, and does not apply to put. I had to register a namespace for put and the error disappeared.

Error: ``Target class [ServiceController] does not exist.``

Maybe it's not a mistake, maybe it's my mistake.

[2022-04-22 14:50] tomshaw opened #42099 "Ignition Javascript Error"
- Laravel Version: 9.0
- PHP Version: 8.0.10/8.1.2
- Ignition Version: spatie/laravel-ignition 1.0
### Description:

Upgrading from Laravel 8 to 9 worked fine but noticing Laravel Ignition has the following console error message when I trigger a new exception.

`throw new \Exception('Test Exception')`
[code]

[2022-04-22 14:52] driesvints commented on #42099
Please report this to the ignition issue tracker. We don't maintain this code.

[2022-04-22 14:52] #42099 closed

[2022-04-22 15:46] tiagof commented on #42075
@driesvints: PR submitted.
Maybe there is a better way to achieve this, but this one seems to work.

Hope you can review it

[2022-04-22 16:55] markuskooche opened #42101 "Builder does not support all postgres operators"
It is not possible to use the ``` IS ``` or ``` IS NOT ``` operators for example in the whereRelation() function.

The problem is that the``` Illuminate\Database\Query\Builder ``` does not support these operators.
It would work if these operators were included in this array.

https://github.com/laravel/framework/blob/9.x/src/Illuminate/Database/Query/Builder.php#L199-L206

And the whereRelation()

[2022-04-22 18:14] adduc commented on #42042
I was able to replicate. In my case, running Laravel in a docker container with a different path from where `composer create-project laravel/laravel` was performed caused cache files to be created with incorrect paths. Once `artisan optimize:clear` was run in the docker container, .env was read correctly.

[2022-04-22 19:27] taylorotwell commented on #42085
You could also not mock encryption at all and just decrypt the encrypted value to make sure it matches the value you expected after your test has run.

[2022-04-22 20:11] PHLAK commented on #42085
Thanks. I was able to extract the code to an "action" class and tested it separately (outside of the context of a request).

[2022-04-23 08:20] nagmat84 opened #42106 "`FormRequestServiceProvider` tries to copy non-JSON request as JSON"
- Laravel Version: 8.83.7
- PHP Version: 8.0.16-r1

### Description:

#### Summary

During bootstrapping, the `FormRequestServiceProvider` makes a deep copy of the `Request` object. While doing so, any `Request` is treated as if it contained JSON payload which leads to the side-effect that `json_last_error` is set for non-JSON requests. As other parts of Laravel check for `json_last_error` being c

[2022-04-23 08:40] alicompu commented on #26021
add the inside resource class these code:
`  public function __construct($resource)
    {
        self::withoutWrapping();

        parent::__construct($resource);
    }
`
I'm using laravel version 9.

[2022-04-23 08:42] nagmat84 opened #42107 "`Illuminate\Http\JsonResponse::setData()` falsely assumes that `toJson()` calls `json_encode`"
- Laravel Version: 8.83.7
- PHP Version: 8.0.16-r1

### Description

#### Details

The method `Illuminate\Http\JsonResponse::setData()` calls `$data->toJson()` on the provided `$data`, if `$data` is an instance of `Jsonable`. Otherwise, `Illuminate\Http\JsonResponse::setData()` uses `json_encode` directly. Later, `Illuminate\Http\JsonResponse::setData()` uses `json_last_error()` in order to check

[2022-04-24 14:26] tyonly opened #42113 "if post method send nothing. gets a error:Call to a member function runningInConsole() on null"
- Laravel Version: 8.83.9
- PHP Version: 7.4.28
- Database Driver & Version:

### Description:
when change a get method url to post method url. then throw a error : Call to a member function runningInConsole() on null
example:
    url: http://www.demo.com/test   ===> this url is in except_list of VerifyCsrfToken.php

first get the url: use GET method ,it's normal.
then get the url: use POST method

[2022-04-24 16:24] JamShady opened #42114 "HasOneThrough relationship is... wrong?"
- Laravel Version: 9.0.0
- PHP Version: n/a
- Database Driver & Version: n/a

## Description:

_The "has-one-through" relationship defines a one-to-one relationship with another model_, as per the docs. However, the actual example given (according to the DB schema at least) is, _wrong_, and backwards.

The DB schema defines a Mechanic, ala the following - fine.
[code]

And then it defines a Car, w

[2022-04-25 00:19] riettotek commented on #29810
Thank u some much! 👍

[2022-04-25 02:15] linh294 commented on #12018
"php artisan view:cache" works! Thank you!

[2022-04-25 06:59] driesvints commented on #42101
Heya, thanks for submitting this.

This seems like a feature request or an improvement so I'm converting this to a discussion instead. It's best to post these in the discussions section in the future to get support for your idea. After that you may send a PR to the framework. Please only use the `laravel/framework` issue tracker to report bugs and issues with the framework.

Thanks!

[2022-04-25 06:59] #42101 closed

[2022-04-25 07:48] driesvints commented on #42113
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-25 07:48] #42113 closed

[2022-04-25 08:28] driesvints commented on #42114
Heya, appreciate the lengthy post but if there's an issue with the documentation please just send in a PR to correct them.

[2022-04-25 08:28] #42114 closed

[2022-04-25 08:44] driesvints commented on #42107
Hi there, thanks for the clear issues. It's indeed atm assumed that `toJson` always returns valid JSON. That's done intentionally. Also see the default encoding options we use from Symfony:

<img width="1042" alt="Screenshot 2022-04-25 at 10 40 03" src="https://user-images.githubusercontent.com/594614/165053488-4002619c-9a1d-4258-807e-e23174242a44.png">

I think if you want to change this behavior

[2022-04-25 09:41] ThaDaVos commented on #41790
Sorry for commenting on a closed issue - but I ran into the exact same issue just now... it also seems you cannot use `->baseUrl` on the Pool object as it breaks it - does one really need to use an absolute URL for this functionality? Or has it just been an oversight?

[2022-04-25 09:56] mikewudev opened #42121 "Remove Eloquent\Model::jsonSerialize() return type"
- Laravel Version: 9.9.0
- PHP Version: 8.1.5
- Database Driver & Version: Mysql 5.7

### Description:

TL;DR:

`Model::jsonSerialize()` Now has a return type of `array` which will throw a PHP 8 `TypeError` when returning a `string`. Can we remove this return type, and allow `jsonSerialize` to return strings?

Background:

I've been overriding `toArray()` to return a string for simple models that

[2022-04-25 11:14] driesvints commented on #42121
@mikewudev `toArray` can never return a string. That's a bug in your code.

[2022-04-25 11:32] nagmat84 commented on #42107
That is not the point of the issue. Please read carefully again.

Of course, `toJson` has to return a valid JSON string. For example, if `toJson` returns the static string `'{}'` this would be perfectly valid.

The problem is that `setData` calls `json_last_error` even though it is not guaranteed that `json_encode` has been invoked previously.

[2022-04-25 12:02] driesvints commented on #42107
@nagmat84 I see, thanks for clarifying that. I also see there's no way to clear `json_last_error`.

To proceed with this can you provide me with a value that's invalid for `json_encode()`?

[2022-04-25 12:03] mikewudev commented on #42121
Thanks for the reply @driesvints . Yea, I've been incorrectly overriding `toArray`, where I should have been replacing `toJson`

[2022-04-25 12:22] nagmat84 commented on #42107
I am not quite sure, why you need such a value, because the problem is caused by a `toJson` _not_ using `json_encode`, but anyway here it is:

[code]

[2022-04-25 12:38] driesvints commented on #42107
Going to re-open to get @taylorotwell's thoughts on this. Thanks

[2022-04-25 13:02] driesvints commented on #42106
Can you give a clear way to reproduce this in a fresh Laravel app?

[2022-04-25 13:33] nagmat84 commented on #42107
I believe the description is precise to the point. What exactly is unclear about it? Anway:

 1. Create a Laravel App
 2. Create a class `Foo` which implements `Jsonable` like this

[code]

[2022-04-25 13:38] nagmat84 commented on #42106
1. Create a new Laravel App
2. Create a route and a controller method for the root
3. Make a AJAX request to the route which is non-JSON, for example POST some data encoded as `multipart/form-data`
4. During the middleware Laravel makes a deep-copy of the `Request` object and also tries to copy the content as JSON. This _silently_ fails, but leaves a stale error code in `json_last_error`

[2022-04-25 13:40] driesvints commented on #42107
@nagmat84 nothing is unclear here. Just want to get Taylor's thoughts. Using `JSON_THROW_ON_ERROR` will involve a breaking change because a different exception will be thrown.

[2022-04-25 13:42] driesvints commented on #42106
I'll need a clear explanation of what actually breaks. There's still no bug here. Having `json_last_error` set isn't a bug imo.

[2022-04-25 13:51] driesvints commented on #42107
@nagmat84 what if we call `json_decode('[]');` at the beginning of the method to clear the errors? That way the method could stay in place mostly. We can then revise and use JSON_THROW_ON_ERROR maybe in Laravel v10.

[2022-04-25 13:52] driesvints commented on #42106
I don't think there's a big issue here tbh. You're free to make a proposal through a PR if you want. Thanks

[2022-04-25 13:52] #42106 closed

[2022-04-25 13:53] nagmat84 commented on #42106
It is a bug in combination with #42107, because this is one of the code lines which set `json_last_error` and then later break `setData` (see #42107). Of course one could argue that this is an error in `setData`.

However, and this are the real bugs, the copy-method

 - is not side-effect free,
 - modifies the original object, and
 - tries to unconditionally interpret some content as JSON which is

[2022-04-25 14:10] nagmat84 commented on #42107
Objectively speaking this would work.

Personally, I don't like it. For me it feels like a (nasty) work-around. However, this is also due to the fact that I don't like the way how error are handled in Laravel at all. IMHO, using custom exceptions is the right way, see https://github.com/laravel/framework/discussions/40021 and https://github.com/laravel/framework/discussions/40020. But that is off-

[2022-04-25 15:51] pionl opened #42126 "FormRequest validated() triggers validation on each usage"
- Laravel Version: 9.5.1
- PHP Version: 8.1

### Description:

👋

While using FormRequests method `validated` with a `$key` argument it triggers validation on each call.

If the developer does not now this, it can cause some small performance issues. It would be great to call validate only once (cache the result) or not support `$key` property to prevent this issues.

Thank you and hope that descr

[2022-04-25 17:15] negoziator opened #42127 "Weird problem with loading values from config helper"
- Laravel Version: 9.9.0
- PHP Version: 8.1.4
- Database Driver & Version: mysql 8.0

### Description:
So i have no idea about how to describe this other than:

After upgrade to Laravel **9.9.0** from **9.8.1** we have started to see this really weird behavior, where the **config(...)**-helper suddenly is returning **null** - but only _sometimes._

We discovered it because our automated tests was

[2022-04-25 19:02] driesvints commented on #42127
Or re-cached it with `php artisan config:cache`?

[2022-04-25 19:03] driesvints commented on #42126
Atm, this is the expected behavior. I suggest caching the result in userland if you need to.

[2022-04-25 19:03] #42126 closed

[2022-04-26 01:01] srdante commented on #41790
@ThaDaVos Yes, you need to use the absolute path and Laravel don't want to make this feature works or add a comment warning about this lack of feature on their documentation.

[2022-04-26 03:46] negoziator commented on #42127
I just tried to isolate the update to be **only** the laravel upgrade, just to be 100% sure that this is the **only** change.

Behavior starts immediately when doing update from **9.8.1** to **9.9.0**

Tried both:

`php artisan config:clear`
`php artisan config:cache`

There's an important context to know.

All our configs are not present in the `/config`  folder.

We are running: `artisan vendor:

[2022-04-26 08:39] victorelec14 opened #42136 "Storage::disk('s3')->url() autogenerates the url wrong when you use a root path"
- Laravel Version: 9.9.0
- PHP Version: 8.1.3
### Description:

Hi,

It seems that Storage::url() doesn't correctly generate the URL when you use a root path and grabs it as a slash in encoded html.

Without the root path it correctly generates the url.

When I give it the url parameter (with the fixed url) it works but it also adds the slash backwards.

## With root path
This added **"%5C"** for

[2022-04-26 11:37] driesvints commented on #42127
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-04-26 11:42] driesvints commented on #42136
Heya, this isn't a Laravel issue but an AWS SDK issue I think. See https://github.com/laravel/framework/issues/41964 & https://github.com/thephpleague/flysystem-aws-s3-v3/issues/293

[2022-04-26 11:42] #42136 closed

[2022-04-26 11:44] negoziator commented on #42127
Hey @driesvints

I'll try and do that 👍🏼

[2022-04-26 11:45] driesvints commented on #42127
Yeah if we can recreate it in a fresh Laravel app it'd be helpful to debug.

[2022-04-26 12:17] negoziator commented on #42127
@driesvints You can close this!! Found the bug! Still don't know why the difference between **9.8.1 vs 9.9.0** though.

**BUT** i was actually a rooky mistake!

So found out that a collegue had made a command class and tried to dependency inject it in the commands **constructor**
- which is an absolutely **no-go** - because that means that it will be instantiated on basically ALL boots of the fram

[2022-04-26 12:43] #42127 closed

[2022-04-26 14:26] DavidJapan opened #42139 "Passing null to can method in Illuminate/Foundation/Auth/Access/Authorizable returns true"
- Laravel Version: 8.7.5
- PHP Version: 7.4.28
- Database Driver & Version: pgsql, Postgresql 12.9

### Description:
In my application I don't pass literal strings to the can method of an authenticated user. Instead, I generate permission strings from constants in a config file. Because of my own mistake, I ended up passing `null `to the `can()` method of an authenticated user. This unexpectedly g

[2022-04-26 15:42] SachinBahukhandi commented on #41790
@ThaDaVos This issue seems to be from guzzle. Maybe you can post it as an issue there as an enhancement.

[2022-04-26 18:00] guushuizen commented on #42139
To bring a bit more context to the issue you're describing, what were the consequences in your application?

Me thinking bluntly - I'd say, an user is always able to nothing (`null`). Therefore returning `true` seems in place.

[2022-04-26 18:37] emargareten opened #42145 "Bus::chain() cannot accept an empty array"
- Laravel Version: 9.9.0
- PHP Version: 8.1.0
- Database Driver & Version: N/A

### Description:
`Bus::chain()` cannot accept an empty array, this is because PendingDispatcher is using the `$firstJob` in the chain which is `null` therefore an exception is thrown `PHP Error:  Call to a member function chain() on null`.

### Steps To Reproduce:

Run in tinker:
[code]