[2022-06-12 03:17] jjjrmy commented on #42773
Yes, I understand you'd want to set multiple attributes, as I do that in other cases. But I think the difference with this is the return value has numeric keys and array_is_list. Seems weird you'd have model fields as 0,1,2,3,...

[2022-06-12 03:25] rodrigopedra commented on #42773
I don´t actually see this as an issue, as it is now, but if you think this behavior should be changed, you can try to propose a fix.

The method you will need to change is this one:

https://github.com/laravel/framework/blob/2bc180295ebf8c4848a6b9c4ae8fa0d00ec75217/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L1658-L1668

This method checks if the value is already an array, assuming

[2022-06-12 08:48] NicoHood commented on #42719
I tracked down the issue to very old laravel4. It seems that when initially commiting this, nobody thought of this usecase and limitation. I'd love to reopen the discussion to add support for objects.
https://github.com/laravel/framework/commit/cd9fcd06b3970641e91d6127b31b39fc239521e2

[2022-06-12 12:52] madalinignisca opened #42777 "JsonResource::withoutWrapping() on Octane, affects all children and it's not what a developer would expect"
- Laravel Version: ^8.0||^9.0
- PHP Version: ^8.0
- Database Driver & Version: any (not DB related)

### Description:
When using AnyExtendingJsonResource::withoutWrapping(), it affects all after first usage, when using Octane, and it is thought to be happening only on the extending JsonResource called. This is because a static property is shared among all children when modified.

### Steps To Repr

[2022-06-12 12:53] madalinignisca commented on #42777
With Octane, I think a lot of STATIC PROPERTIES abuse should be reevaluated, as those properties will be shared with all extending children on all requests in Octane (Swoole).

[2022-06-12 13:33] rodrigopedra commented on #42777
This is documented behavior, there is a warning note in the documentation stating:

reference: https://laravel.com/docs/9.x/eloquent-resources#data-wrapping

You can still manually wrap any resources you want with a `data` key, and Laravel won't remove them automatically:

reference: https://laravel.com/docs/9.x/eloquent-resources#wrapping-nested-resources

Note this behavior is not exclusive to O

[2022-06-12 13:38] rodrigopedra commented on #42766
From: https://laravel.com/docs/9.x/contributions#support-questions

[2022-06-12 13:58] rodrigopedra commented on #42777
Another thing I am wondering, and hope you can clarify. Regarding this:

Do you have any examples where do you think the usage of static properties are being "abused"?

I am not aware of any static properties, in Laravel, that is not available to allow a developer to change a global behavior by opting-in to a feature. Which, in my opinion, is a nice way to allow behavior customization, and far fro

[2022-06-12 20:44] madalinignisca commented on #42777
OH, now I get it. This is me, as I switch recently to Octane, I was calling ::withoutWrapping on the extended resource in the controller, before returning the response. Was very convenient to have this only on some occasions needed.

About statics, maybe it's just me, a bit more against using statics. I still consider that statics will create a lot of confusion with Octane for some developers.

[2022-06-12 20:44] #42777 closed

[2022-06-13 02:13] uandco commented on #31658
+1 here. Working on some audit log feature on a project and `deleting` events on `MorphPivot` only have the 2 related model IDs, doesn't have the pivot ID or even the type attribute, which makes it impossible to find what exact model was impacted.

[2022-06-13 04:32] matiaslauriti commented on #42771
I am just curious, why would you use a negative ID? (you are not using it to get one model but using it to store a model)

[2022-06-13 08:12] MohammadMirsafaei opened #42786 "Exception in route model binding using postgres"
- Laravel Version: 9.9.0
- PHP Version: 8.1.5
- Database Driver & Version: pqsql, 14.2

### Description:
I've setup laravel route model binding like below:
`Route::get('{sample}', [SampleController::class, 'show'])->name('show');`

Primary key for `Sample`  model is laravel's default `id`. And here is how I used it in controller:
`public function show(Sample $sample): View { ... }`

It is working

[2022-06-13 08:26] rodrigopedra commented on #42786
I think what happens with MySQL is that it doesn't throw an exception when comparing an integer column to a string. As no records are found, Laravel ends up throwing an exception.

I don't use postgres, but I agree, if this is reproducible, that it seems to be a bug.

As a workaround you can use a route constraint to tell the router to only accept numeric sequences for that specific route.

In you

[2022-06-13 09:38] VSG24 opened #42788 "isDirty not working for json object"
- Laravel Version: 8.83.16
- PHP Version: 8.0
- Database Driver & Version: mySQL 8.0

### Description:
I'm trying to detect if an object is changed after the value of a property of a json field is updated. However, It's not detecting the change if the new value is a number with leading zeros. Note that the number is saved as a **string** so technically there shouldn't be any issues storing it alon

[2022-06-13 09:59] Danon opened #42789 "Collection methods don't work with built-in PHP functions"
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

Built-in PHP functions can't be used with `Collection` methods.

### Steps To Reproduce:

In PHP there are a lot of types of `callable`, for example `Closure` is callable, anonymous function, also `[$this, 'method']` and `"strtoupper"` for example.

This kind of code work fine:
[code]
but this one doesn't

[2022-06-13 12:19] rodrigopedra commented on #42789
[code]

Collection@map passes two arguments to the callback, the item value and the item key, as shown on docs.

And as the error message says, `strtoupper` expects only one, not two arguments.

It does not fail because `strtouppee` is nor accepted as a call back. But because this particular function does not access more than one argument.

[2022-06-13 12:26] Danon commented on #42789
@rodrigopedra So how do you explain the difference between these two
[code]
vs.
[code]

[2022-06-13 13:27] Danon commented on #42789
By doing so, causes the method to not work with built-in functions directly.

[2022-06-13 13:30] donnysim commented on #42789
And why is that a framework problem?

[2022-06-13 13:35] rodrigopedra commented on #42789
@Danon  try this:

[code]

Now, how do you explain this to work:

[code]

Although not very useful, this yields interesting results, but the key here is to demonstrate it working if a "built-in" PHP function.

And a @donnysim said, if you do:

[code]

This will fail as well. Or according to your definition: `PHP functions don't work with built-in PHP functions`.

I recommend you believing error me

[2022-06-13 13:46] Danon commented on #42789
I think think you fully understand the issue I'm trying to raise here. Let me reclarify.

There are different types of `callable` in PHP:

- Built-in functions: `strtoupper()`, `strtolower()`
- user functions: `function my_function() {}`
- anonymous functions `return function (string $s) {};`
- a.ka. "method reference": `[$this, 'method']`
- a.ka "static method reference": `[MyClass::class, 'metho

[2022-06-13 13:50] Danon commented on #42789
By "works" you mean "doesn't throw"?

Yes, it doesn't.  If the interface of `->map()`  was that "callback receives a value and the number of left padding" that would be fine. But the second argument isn't the padding, it's `index`.

[2022-06-13 14:00] rodrigopedra commented on #42789
Well the interface of `->map()` is: "callback receive the element and its index", as stated in Laravel documentation:

https://laravel.com/docs/9.x/collections#method-map

So, by your own criteria, you are the one not adhering to the documented interface. So by your own terms, you are not accepting the isse, this is not a frameworks problem.

Of course there is:

[code]

This will generate a trian

[2022-06-13 16:50] rodrigopedra commented on #42788
This seems to be fixed by #41337

But that PR was only sent to 9.x. If maintainers consider this a bug fix, can you send a PR backporting it to 8.x?

[2022-06-13 18:06] VSG24 commented on #42788
@rodrigopedra Thank you, I do want to create a PR to fix it for 8.x as well.

[2022-06-13 18:23] VSG24 commented on #42788
@rodrigopedra PR created. https://github.com/laravel/framework/pull/42793

[2022-06-13 18:23] #42788 closed

[2022-06-13 18:53] comes opened #42794 "Incorrect Query Params by Arr::query()"
- Laravel Version: 8.83.16 & 9.17.0
- PHP Version: 8.0.19 & 8.1.6
- Database Driver & Version: unneeded

### Description:

Query params built by `Arr::query()` didn't match the expected result.

### Steps To Reproduce:

[code]

the expected output should be `foo=1&bar=hello%20world&empty=&nullable=`

`Arr::query()` use an internal php function which did not produce the expected results.

[code]

o

[2022-06-13 20:03] rodrigopedra commented on #42794
Sent PR #42795

[2022-06-13 22:20] DarkGhostHunter opened #42796 "Calling `forceCreate()` on a MorphMany relation doesn't includes morph type"
- Laravel Version: 9.17
- PHP Version: 8.0.23
- Database Driver & Version: N/A

### Description:

When using `forceCreate()` on a morph relation (`morphOne|morphMany`), the morph type column is not added.

[code]

This behavior is realated to #42281.

### Steps To Reproduce:

[code]

[2022-06-14 04:36] mdobydullah commented on #42681
Hi @eusonlito @rodrigopedra @driesvints,

FYI, Symfony has fixed the issue and released ```symfony/http-foundation: v6.1.1```.

https://github.com/symfony/http-foundation/releases/tag/v6.1.1

Thank you so much for your help.

[2022-06-14 04:46] MohammadMirsafaei commented on #42786
Yes you're right, thanks. Also global constraints in `RouteServiceProvider` will work too. But consider whenever we are using laravel with Postgres we must define these constraints. Every time for each project. I've opened a bug report but maybe what I'm requesting is a feature request. That is laravel handles this internally.

[2022-06-14 06:01] foremtehan commented on #42789
I also would like to use php functions in `map` method REALITY BAD!

[code]

[2022-06-14 07:23] darday commented on #19406
This Work Well, thanks so much 👍

[2022-06-14 08:14] OthmanAlseagh opened #42802 "the delay() method does not accept array"
- Laravel Version: ^9.17
- PHP Version: ^8.0.2
- Database Driver & Version: postgres

### Description:
the delay method just accept  \DateTimeInterface|\DateInterval|int|null  as parameters

 /**
     * Set the desired delay in seconds for the job.
     *
     * @param  \DateTimeInterface|\DateInterval|int|null  $delay
     * @return $this
     */
    public function delay($delay)
    {
        $t

[2022-06-14 09:27] marvin-wtt commented on #42789
I hope this wasn't already discussed earlier and I missed it:

How about a new method `mapValues` shouldn't that fix all "problems"?

[2022-06-14 12:58] mihy opened #42804 "PostgreSQL dropPrimary does not work, if using prefix"
- Laravel Version: v9.17.0 (but also the same with any lower version
- PHP Version: 8.1 (but PHP version does not take affect)
- Database Driver & Version: PostgreSQL (14.3), but also does not take affect

### Description:
I can not drop existing index in my database (PostgreSQL) with standard migration.
The problem persist, if using PostgreSQL and prefix is not empty string.
The problem is in fil

[2022-06-14 13:00] mihy commented on #42804
Actual code of migration file
`<?php

use Illuminate\Database\Migrations\Migration;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Support\Facades\Schema;

return new class extends Migration {
    /**
     * Run the migrations.
     *
     * @return void
     */
    public function up()
    {
        Schema::create('test', function (Blueprint $table) {
            $table->id();

[2022-06-14 19:46] wolfhaltz commented on #29982
ameer8f26 do u have antivirus? because at my machine the avast was warning the file as virus so I need to create an exception for the file haahha

[2022-06-14 22:15] jtuta commented on #42771
@matiaslauriti I have negative ids due to some legacy things we have to support. As we need to support negative ids we have some database seeding for our PHPUnit test and that is how I discovered this issue after migration form Laravel 5.8.

@rodrigopedra I agree that in my case - as I am setting id manually in PHPUnit test I should have set `$incrementing = false;` which would solve issue.

[2022-06-14 22:15] #42771 closed

[2022-06-15 06:56] #42802 closed

[2022-06-15 08:54] ARehmanMahi opened #42814 "Folder permission issue on request->file->store method"
- Laravel Version: 8.83.16
- PHP Version: 7.4.29
- Database Driver & Version: N/A

### Description:

# Found some insight related to the problem and posted an issue on the flysystem repo [link to issue](https://github.com/thephpleague/flysystem/issues/1483)

[code]

After saving file, members folder gets created but with 0750(public) permission instead of 0770(custom), file gets correct permission

[2022-06-15 09:31] Danon commented on #42789
That would be a possible solution, among others.

[2022-06-15 09:51] Danon commented on #42789
@rodrigopedra Let's just make sure we're not talking passed one-another. Me voicing my opinion, you voicing yours.

**Had** the laravel documentation present the `Collection.map()` in the documentation like this:

[code]
and described it as "function that maps a value and a key to other value", and also probably written "There is no function to map only the value to another value". Then you would

[2022-06-15 10:20] pildit commented on #21773
where did you add this ?

[2022-06-15 10:28] berni23 commented on #21009
Please reopen this issue!

[2022-06-15 11:35] siarheipashkevich opened #42816 "Query builder 'where' does not work with russian words"
- Laravel Version: 8.83.16
- PHP Version: 8.1.7
- Database Driver & Version: MySQL 8.0.29

### Description:

Hi, all.

I'm working with laravel a few years but today I'm facing with strange situation with query builder which does not work correctly.

### Steps To Reproduce:

1. Create combined query:
https://github.com/siarheipashkevich/query-builder/blob/54f58dc93bd4474293c6fa5823f7d09f891348f5/t

[2022-06-15 12:14] rodrigopedra commented on #42794
Hey @comes , I tried PR #42795 targeting 8.x, as it seemed a bug fix, and PR #42806 targeting master as the first PR was rejected due to being a breaking change on expected behavior.

But this last PR was also rejected as maintainers are not willing to change this behavior at all. And I kind agree that, besides one might expect the use case you describe to work like this issue report, `Arr::query(

[2022-06-15 12:16] ARehmanMahi commented on #42816
What do you mean doesn't not work. Does it error out and gives error, unexpected results?
Can you show what you expect and what you get?

[2022-06-15 12:19] siarheipashkevich commented on #42816
@ARehmanMahi I created repository with test which has expected result.

[2022-06-15 12:26] ARehmanMahi commented on #42816
psr/log dependency requires PHP 8.0, But my system isn't configured with that. Hope someone else chimes in. Cheers

[2022-06-15 12:47] rodrigopedra commented on #42789
@Danon

Agree 100%

Not sure which part of the documentation you are referring to. Right now the example includes the `$key` parameter, and it states:

https://github.com/laravel/docs/blob/378b3faeb70edb807ac44a118e97fa616ad57ec8/collections.md?plain=1#L1271-L1286

And from history it is been like this for the last 7 years.

reference: https://laravel.com/docs/9.x/collections#method-map

But, let'

[2022-06-15 13:08] Danon commented on #42789
For example here: https://laravel.com/docs/9.x/collections there are 5 usages of `->map()` in the documentation, 4 of which use lambda with a single argument. It would seem the documentation suggests that the `callable` of `map()` receives a single argument, and thus should be applicable to `strtoupper()`.

Exactly. `passes each value to the given callback` - not "passes each value **and key** to

[2022-06-15 13:20] rodrigopedra commented on #42794
@comes thanks for the example. I understand, and agree, that the behavior should be changed.

But although I try contribute to Laravel whenever I can, in a way to give back how much I earned from using it, I am not a core team member.

You can leave this issue open, so maybe one of the maintainers sees this enriched example and come up with a improved solution.

As a workaround, I think you might

[2022-06-15 13:24] comes commented on #42794
Highly appricate this, @rodrigopedra. if you like `json_pp`, see what's happend if you pipe it to bat. `json_pp | bat -l json`

[2022-06-15 13:49] rodrigopedra commented on #42816
You tests are configured to run with sqlite.

And with sqlite console, the query returns no records too:

[code]

Can you try setting your tests to run with another database?

Otherwise, it is either a SQLite limitation, configuration, or maybe it requires a collation to be specified when querying with no latin characters.

If you believe this is a bug, it should be reported to SQLite, as there is

[2022-06-15 13:51] siarheipashkevich commented on #42816
It's reproduced for MySQL 8.0.29 also, in tests I'm using sqlite and also reproduced..

[2022-06-15 14:03] siarheipashkevich commented on #42816
@ARehmanMahi can you try `select name from dishes where name like '%Тест%';`

[2022-06-15 14:16] rodrigopedra commented on #42816
Sure:

[code]

I changed your test commenting the Russian where clause and uncommenting the English one, and the assert also fails when using MySQL.

Can you try this test case instead, with MySQL:

[code]

Note I am not querying from the user relation.

It seems there is a problem with the query when querying from the user model.

[2022-06-15 14:19] rodrigopedra commented on #42816
This is working, with MySQL:

[code]

Note I moved the where clause to each "unioned" query

[2022-06-15 14:41] rodrigopedra commented on #42816
@siarheipashkevich it seems SQLite `LIKE` operator is case-insensitve only for ASCII characters, and in SQLite `UPPER(...)` also only seems to work for ASCII characters.

For SQLite you can register custom functions, so this should work with **SQLite**:

[code]

Note the custom registered function.

This is a good example why we should run our tests in the same database we use for our project.

[2022-06-15 15:17] monteduro commented on #35280
found any solution?

[2022-06-15 15:27] ziming opened #42822 "@json throw error when array is more than 3 items"
- Laravel Version: 9.17
- PHP Version: 8.1.6
- Database Driver & Version: MySQL 8

### Steps To Reproduce:

This below is fine. 3 items. Worked perfectly

[code]

This below throw error. 4 items in the array.

Error message is Unclosed '[' does not match ')'

[code]

If more than 3 items, error happen

To give some extra context,I'm using it like this

[code]

[2022-06-15 15:38] siarheipashkevich commented on #42816
I've dumped query in test:
![Screenshot from 2022-06-15 18-35-22](https://user-images.githubusercontent.com/7753600/173867805-3d170c73-341c-4a2f-89f5-787af3e129a5.png)

[code]

And if run this query in mysql I'm getting expected result:
![Screenshot from 2022-06-15 18-37-54](https://user-images.githubusercontent.com/7753600/173868355-fb79e769-e1f5-4840-a4d5-73fe3a698126.png)

But in laravel applic

[2022-06-15 17:22] rodrigopedra commented on #42816
If you use MySQL for tests, and if you use the string `'%Тест%'` as you did in your screenshot above, tests do pass. In other words, records are returned.

And if you run the query in MySQL if the string `'%тест%'`, as it is in your test repository, the query returns empty, both in MySQL and in the test case, which ends up failing.

Problem seems to be with case sentitivity, which is not a Laravel

[2022-06-15 17:26] siarheipashkevich commented on #42816
About your notes for mysql `%Тест%` and `%тест%` returns results in both cases - it is valid.

[2022-06-15 17:44] #42789 closed

[2022-06-15 17:52] siarheipashkevich commented on #42816
@ARehmanMahi I've tried your repository.

sqlite
![Screenshot from 2022-06-15 20-51-27](https://user-images.githubusercontent.com/7753600/173892819-9d8cc73c-9872-4d53-8d30-a922b247b726.png)

mysql
![Screenshot from 2022-06-15 20-51-16](https://user-images.githubusercontent.com/7753600/173892839-d707c5f4-9e2f-401b-af97-b3d0c2b843bd.png)

[2022-06-15 18:04] rodrigopedra commented on #42816
Yes, you are right. I had added the factory seeding to the `DatabaseSeeder` locally, so I could play with the data, and when restoring the changes for commit I might have made a confusion.

I also assumed `.env.testing` would override phpunit.xml automatically, but it doesn't work like that.

For some reason, when not querying from the user, e.g. without the user constraint, the LIKE operator work

[2022-06-15 18:22] siarheipashkevich commented on #42816
Yes, it will work.
But why is not working in my original case using laravel way? Because I have many unions and don't want to add for each subquery condition.

[2022-06-15 18:59] rodrigopedra commented on #42816
I am sorry, I don’t know.

It seems to be either a bug, either in Laravel or PDO, or maybe some PDO configuratin can solve it.

But that is beyond my knowledge.

if you can test with using PDO directly, using the same configuration as Laravel uses, to see if it works as expected, we will at least know if the issue is with how PDO handle this query, or if it is with Laravel

[2022-06-15 20:05] npostman commented on #42822
Give your array as a variable.. @json can get 3 parameters:
- your data to json encode
- json_encode flags (optional)
- depth (optional)

So:
[code]

works

[2022-06-15 22:59] ziming commented on #42822
what I dont get is why is 1 item, 2 item, 3 items okay. but the 4th item onwards fail?

[2022-06-16 00:22] misog opened #42830 "Illuminate\Foundation\Exceptions\Handler.php causes infinite redirect loop in a corner case"
- Laravel Version: 9.17.0
- PHP Version: 8.1.3

### Description:
`Illuminate\Foundation\Exceptions\Handler.php` causes infinite redirect loop in a corner case:
[code]

### Steps To Reproduce:

1. Visit url `/somemodel/{id}` with GET in browser
2. Remove the model with the `id` from DB (migrate:fresh)
3. Again visit/refresh url `/somemodel/{id}` with GET in browser
4. Let validator validate the `id

[2022-06-16 00:23] bretto36 commented on #42707
Am also encountering this bug. We will revert to 9.12 for now which seems to work

[2022-06-16 03:53] hmingv opened #42831 "Invalid alpha validation."
- Laravel Version: 9.x

### Description:

https://laravel.com/docs/9.x/validation#rule-alpha

May I ask alphabetic characters. Does the meaning of this sentence include other languages, or is it just 26 English letters?

### Steps To Reproduce:

Use alpha for form validation, enter Chinese, the validation rule will pass

[2022-06-16 03:54] hmingv commented on #42831
This issue is related to this validation rule `preg_match('/^[\pL\pM]+$/u', $value);`

[2022-06-16 06:47] npostman commented on #42822
It is because of the way the blade directive gets compiled to PHP. Look at the method that compiles it down:

[code]

It basically takes your @json parameters as a string, and explodes it at the comma. It then uses the first bit as your JSON data, the second bit as the json encode options and the third bit as the depth parameter.

So, your code `@json($field['modes'] ?? ['form', 'tree', 'code', 'v

[2022-06-16 07:43] Spyryto commented on #37212
Yes.

Also because the TypeError does not surface when you test your mails with `Mail::fake()`.

[2022-06-16 08:42] ankurk91 commented on #42822
[code]

[2022-06-16 10:23] f21gerb opened #42834 "Accessor attribute with underscore number calls to undefined method 'getColumnNameAttribute'"
- Laravel Version: 9.17.0
- PHP Version: 8.1.5
- Database Driver & Version: MySQL 8.0.25

### Description:
Accessor attributes with 'column_number' (i.e. 'foo_1') as a name in database do not work throws an exception (referring to old accessor syntax?) whilst 'columnnumber' (i.e. 'foo1') does work.

### Steps To Reproduce:

This works in User model:

`protected $appends = ['name2'];`

[code]

`ret

[2022-06-16 11:41] siarheipashkevich commented on #42816
If I execute this queries in laravel using `DB::select('...')` then I get results also.
[code]
[code]

[2022-06-16 13:38] rodrigopedra commented on #42816
It looks like a bug indeed. I created this test command:

[code]

And even when using Eloquent's PDO instance, results are not the same.

I pushed this command to my fork, as well an updated `DatabaseSeeder` to make test data easier to generate.

I am looking into if it could be how `HasMany` relation object handles the query,  but I will have little to no time today to investigate this.

[2022-06-16 13:49] siarheipashkevich commented on #42816
@ARehmanMahi thank you so much for your help.

Potentially a problem in laravel builder?

[2022-06-16 16:41] sagautam5 commented on #30007
I have got the similar issue on laravel 5.5 with php7.2 environment. All the relationship are loaded recursively on Model::create() action.

[2022-06-16 16:41] LocalHeroPro opened #42837 "predis/predis 2 issue"
- Laravel Version: 9.17.0
- PHP Version: 8.1.7
- Database Driver & Version:

### Description:
Here https://laravel.com/docs/9.x/redis#introduction, we have:
[code]
that will install predis/predis in v2. Laravel and Horizon isn't ready to use v2.

### Steps To Reproduce:

1. composer require predis/predis
2. see errors with Horizon
[code]

[2022-06-16 16:58] ankurk91 commented on #42837
https://github.com/laravel/framework/pull/42577

You need to wait for next release

[2022-06-16 20:19] rodrigopedra commented on #42816
@siarheipashkevich I found out if you add `PDO::ATTR_EMULATE_PREPARES => true` to your MySQL database options, it will work.

https://github.com/rodrigopedra/query-builder/blob/3b9a94adbd31d1607f43efbbc96e6e2492dc8f7a/config/database.php#L61-L64

It seems MySQL driver does not work well with some character sets and mixing `PDO::PARAM_INT`, `PDO::PARAM_STR`.

I still didn't find an official bug rep

[2022-06-16 21:01] joelclermont commented on #42831
This regex is using [Unicode character properties](https://en.wikipedia.org/wiki/Unicode_character_property). It is many, many more characters than A-Z. If you want to restrict it to just those 26.

If you want something more restrictive, you could use the `regex` rule with exactly which ranges of letters you want to allow.

[2022-06-17 00:49] hmingv commented on #42831
Thanks @joelclermont

I know this regular match is a Unicode character. But I am confused about this document. My understanding of the document description is that it will verify whether it is an English letter, not a Unicode character.

[2022-06-17 00:50] hmingv commented on #42831
Thanks @joelclermont

I know this regex match is a Unicode character. But I am confused about this document. My understanding of the document description is that it will verify whether it is an English letter, not a Unicode character.

[alpha](https://laravel.com/docs/9.x/validation#rule-alpha)
The field under validation must be entirely alphabetic characters.

[2022-06-17 08:25] zabavnikov opened #42851 "Str::snake does not work correctly with Unicode"
- Laravel Version: 9.17.0
- PHP Version: 8.1
- Database Driver & Version: MySQL 8

### Description:
Str::snake('простаяСтрока') returns 'простаястрока', but should return 'простая_строка'.

[2022-06-17 09:21] RicLeP commented on #20482
If you’re passing a second argument of `_` should it convert hyphens to underscores as you’re explicit asking for that? Or does this seem a bit inconsistent as the ‘default’ is `_` even if it’s not used.

[2022-06-17 10:40] zabavnikov commented on #42851
Since the function does not work correctly with unicode, this [test](https://github.com/zabavnikov/framework/blob/edb438abf88cf4d272c31841f7d2f9ac29d2d86e/tests/Support/SupportStrTest.php#L603), although it passes, returns incorrect results. Actually, the result should be like this - żółta_łódka

[2022-06-17 13:15] atapatel opened #42856 "Having clause is not working with union query."
- Laravel Version: 8.83.12
- PHP Version: 7.4.27
- Database Driver & Version: Mysql 8.0

### Description:
I try to run complex union query using DB Facade. but result generated are without having clause effect. i can share you my query here.
[code]

[2022-06-17 15:55] bert-w commented on #42856
Perhaps you should consider not using the query builder, so you run the whole statement as a single string (beware of any user input you might use here). The given code is pretty much unreadable, and by the looks of it your query builder conversion did not provide you any benefits.

[2022-06-17 16:00] jihad28 opened #42860 "I can't eager load a pivot table relation"
- Laravel Version: 9.17.0
- PHP Version: 8.1.0
- Database Driver & Version: MySQL - v8.0.27

### Description:
Hi everyone

My issues is that i can't eager load a pivot relation only lazy loading is available.

For example i have the following tables

#### Products
| id | name      | barcode_type | barcode      | unit_id | cost | price |
|----|-----------|--------------|--------------|-------------

[2022-06-17 16:30] ankurk91 commented on #42860
Can you try this?

[code]

[2022-06-17 16:42] jihad28 commented on #42860
This will get the default product unit not the pivot unit which the product was purchased on.

The first product was purchased on unit 2 (Dozen-12) this will get unit 1 (Pieces) which is the default unit.

[2022-06-17 17:41] DarkGhostHunter commented on #42851
The same way would happen on a language that doesn't have uppercase, like arabic, chinese, korean or japanese.

You may need to create an snake function for your language exclusively.

[2022-06-17 18:01] InputOutputZ opened #42863 "Redis cluster with recent Laravel and phpredis throws various errors with TLS connection."
Hi there,

I'm reporting a bug and a fix in Redis cluster configuration handling, given recent php Redis no longer expects requirepass as it's deprecated, but expects the auth with user and password in the 6th parameter of RedisCluster as well as context with array of stream keyed array member for Client and CA certificates files location variable, that is in order to establish successful TLS conn

[2022-06-18 02:37] alitokmakci commented on #42860
`$purchase = Purchase::with(['products.pivot.unit'])->first();`
This will not work cause you don't have relationship called pivot.

Did not test it but maybe this can work.
[code]

or you can create a new relationship method:
[code]
This should give you something like:

[code]

and sorry but I still do not understand why you need a ProductPurchase model.

[2022-06-18 06:11] Ham3D commented on #42765
so the problem still exists, @taylorotwell  Closed #42770 , is there any work around this problem ?

[2022-06-18 08:34] jihad28 commented on #42860
Hi thanks for your time

Tried this but no luck same error as `$purchase = Purchase::with(['products.pivot.unit'])->first();` relation pivot not found

This will change the data structure pivot will be inside `purchased_units` as it should be `unit` inside `pivot`

Well I made this pivot model to get the unit that the product was purchased with.

Also I can still get the unit with lazy load like I

[2022-06-18 10:51] SuperDJ commented on #42860
@jihad28 perhaps you can take a look at the https://github.com/ajcastro/eager-load-pivot-relations package. This has a `pivot` relation.

[2022-06-18 11:15] Ham3D opened #42866 "In resources, conditional attributes don't respect the when condition"
- Laravel Version: 9.17
- PHP Version: 8.1
- Database Driver & Version:

### Description:
Imagine this scenario:
in our resource we have a function that does some calculation, lets name it `foo()`

a user can be an admin, if a user with admin privilege logs in, we load some additional info for user, for example :
**normal user :**
* $user->isAdmin = false
* $user->adminInfo = null

**admin user:**

[2022-06-18 11:44] jihad28 commented on #42860
@SuperDJ Hi I saw this package but last release was 3 years ago and doesn't support Laravel 9

[2022-06-18 11:49] SuperDJ commented on #42860
@jihad28 where does it say it doesn't support Laravel 9? I'm using it with Laravel 9 and PHP8.1. As far as I know and can tell it only requires PHP5.6 or higher.

[2022-06-18 11:49] ash-jc-allen commented on #42866
Hey @Ham3D! I might be wrong here, but I think you need to change your code from:

[code]

to:

[code]

With the way you have it written at the moment, `$this->foo($user)` will be invoked straight away. Whereas, if you wrap it in a closure, it'll only get run if the framework invokes it behind-the-scenes.

It covers it briefly in this part of the docs: https://laravel.com/docs/9.x/eloquent-resourc

[2022-06-18 11:52] Ham3D commented on #42866
@ash-jc-allen  silly me, you are right

[2022-06-18 11:53] #42866 closed

[2022-06-18 11:53] ash-jc-allen commented on #42866
It happens to the best of us! Glad it was a nice, easy fix 😄

[2022-06-18 11:59] jihad28 commented on #42860
@SuperDJ Well latest release is written Added support for Laravel 6 so I just thought it doesn't work for v9 sorry 😃.

I will try for Laravel 9 and see if it works well. Thanks.

[2022-06-18 12:25] korridor commented on #21773
@pildit At the beginning of the test or if you want this in multiple tests in the `setUp` function.

[2022-06-18 13:07] jrean commented on #33238
DO engineers team has updated API documentation to make database configuration changes via API; you will now be able to disable `sql_require_primary_key` using API calls.

- [To check database configuration](https://docs.digitalocean.com/reference/api/api-reference/#operation/get_database_config)

- [To update database configuration](https://docs.digitalocean.com/reference/api/api-reference/#opera

[2022-06-18 13:26] jihad28 commented on #42860
@SuperDJ
Tried this package with Laravel 9 and doesn't work throws error.
I made a git repo to test it if you want to try it yourself or anyone else.

https://github.com/jihad28/test-eager-load-pivot-relation

Also made a seeder so you can just run the command and test it.

[2022-06-18 14:03] FuS1 opened #42867 "Str::mask get wrong result when first letter equal to second letter"
- Laravel Version: 8.83.16
- PHP Version: 7.4.3
- Database Driver & Version: null

### Description:

Str::mask('abcde', '*', 1, -1); =>"a***e"
Str::mask('aaaba', '*', 1,  3);  => "a***a"
Str::mask('abcde', '*', -4, 3);  =>"a***e"
Str::mask('aaaba', '*', -4, 3);  =>"a***a"

But I below case will get wrong result string

Str::mask('aaaaa', '*', 1, -1);  => "***aa"
Str::mask('aaaab', '*', 1,3);     =

[2022-06-18 14:57] rodrigopedra commented on #42860
So you want to use a 3-way pivot table. As your pivot table have keys for products, purchases and units.

I am assuming this from your reply to @ankurk91 , as you said eager loading `products.unit` would not load the correct unit, as you expect the unit recorded on the `product_purchase` table to be loaded, not the one from `products` table.

Laravel does not support this out of the box.

You can

[2022-06-18 15:37] rodrigopedra commented on #42765
@Ham3D

You can try adding this to your `FormRequest`'s `prepareForValidation` method:

[code]

Unfortunately this should only work for a single `FormRequest`.

Adding the following to your `AppServiceProvider`'s boot method would work for all Form Requests, only if you use the `can` middleware instead of checking the policy on the `FormRequest`'s authorization method.

[code]

Reason is that the

[2022-06-18 15:40] jihad28 commented on #42860
@rodrigopedra
I knew Laravel didn't support this but wanted to know of a way to eager load it.
I was thinking of a join but yours is better for multiple relations with pivot table.

I'm going to close this issue as it's solved.
Thank you so much.

[2022-06-18 15:40] #42860 closed

[2022-06-18 16:38] rodrigopedra commented on #42860
@jihad28 as you already knew this was an unsupported feature and not a bug, please next time open a discussion or seek help in the support forums as it is stated in the docs.

This issue tracker is for bugs only.

[2022-06-18 17:03] jihad28 commented on #42860
@rodrigopedra

I only knew that after a lot of looking, it would be better if it was stated in the docs as warning.
First I thought it was a bug but it wasn't.

Next time I will put it on a support forum, Sorry for the mistake.

[2022-06-18 18:33] joe-pritchard commented on #33238
The thing is I don't **want** to turn off this setting just in order to use uuid primary keys. This is the recommended setting for a reason and i want to retain it. I don't believe it should be necessary to use a less reliable mysql setup because of the way these migrations run under the hood

[2022-06-18 20:32] nielsdos commented on #42867
This does like the occurrence of this issue: https://github.com/laravel/framework/pull/42295 (which was fixed in 9.x) in 8.x

[2022-06-18 22:49] BrandonSurowiec commented on #42867
You can make a PR to backport [#42295](https://github.com/laravel/framework/pull/42295) to 8.x as bug fixes are still accepted there.

[2022-06-19 02:01] jrean commented on #33238
@joe-pritchard Then so far the best solution came from @JVillator0
[code]

[2022-06-20 04:14] rddewan opened #42874 "Faker image not generating image and store 0 to db"
Faker image not generating image and store 0 to db, below is my factory class

[code]

[2022-06-20 07:00] manojkumarlinux opened #42876 "Not working dynamic database connection with new configuration files."
### Discussed in https://github.com/laravel/framework/discussions/42875

<div type='discussions-op-text'>

<sup>Originally posted by **manojkumarlinux** June 20, 2022</sup>
Now Laravel Config::set is not working.
So I'm trying to connect my database dynamically with my new config(config/module_name/database.php) file but not worked.

[code]
due to this vendor/laravel/framework/src/Illuminate/Datab

[2022-06-20 09:31] AlEsGoGit opened #42877 "array|nullabe validation rule does not work as expected (does not retrieve the value if its null)"
- Laravel Version: 9.17.0
- PHP Version: 8.1.4
- Database Driver & Version:

### Description:
Adding an 'array|nullable' validation rule to the request input does not return the field when the input is null.

`$input = $request->validate([
            'foo' => 'array|nullable',
            'foo.bar' => 'integer|nullable',
]);`

When the value of test is null in the request, the validate method doe

[2022-06-20 11:04] JustinShift commented on #7354
If anyone is interested this issues only started happening to us when we set `clear_env = yes` in the PHP-FPM pool config. We still testing to confirm but thought I would post it here in case it helps somebody else.

[2022-06-20 12:51] tobyberesford commented on #33238
Turning off the requirement is a bit like intentionally incurring technical debt - you know it's going to come back and bite you, just when you're in a rapid scaling situation.

[2022-06-20 13:21] gdebrauwer opened #42880 "Faker singleton does not behave like singleton when providing locale"
- Laravel Version: 9.17.0
- PHP Version: 8.1.7

### Description:

When making multiple fakers with a specific locale, the `unique` method does not work because it is being reset every time you want a faker with a specific locale. This does not seem correct when faker is registered as as singleton:
https://github.com/laravel/framework/blob/8902690a87f87f516e298c6e00fa1dbf8a0224dd/src/Illuminate/Dat

[2022-06-20 17:29] gerardroche opened #42883 "The catch callback attached to a chain of jobs is called more than once"
- Laravel Version:9.17.0
- PHP Version: 8.1.7

### Description:

The `catch` callback attached to a chain of jobs is called more than once when using the `sync` connection. I expected the catch callback to only be called once. It's only called once for the redis and sqs queue connection. This is best illustrated as an example.

[code]

The above chain will call catch 4 times.

[code]

The further

[2022-06-20 19:01] sphkress opened #42886 "Deleting models quietly is not implemented"
I ran into an issue with a Model Observer listening for the 'deleting' event when deleting relationships of a model recursively (all tables with softdeletes: people - addresses - address_person, where people can assigned to many addresses and vice versa).
It seemed as if it never finished 'deleting' and therefore was playing 'pingpong' between addresses and people. As there are a few implementatio

[2022-06-21 01:39] FuS1 commented on #42867
OK，thanks all

[2022-06-21 01:39] #42867 closed

[2022-06-21 03:51] qminds opened #42891 "Dependency (Symfony 6.1) requires PHP 8.1"
- Laravel Version: 9.16.0
- PHP Version: 8.0.19

### Description:

Laravel framework requires `Symfony` packages of the `^6.0` version, so the (currently latest) 6.1 version is installed. However, due to [this post](https://symfony.com/blog/symfony-6-1-will-require-php-8-1), there is a breaking change in this minor update that requires at least PHP 8.1, which leads to the following message:

Ignor

[2022-06-21 06:32] driesvints commented on #42891
PHP 8.0 is still supported on 9.x but you'll need to use Symfony 6.0.x. Normally Composer can always handle the resolving of this. However, it's recommend that you upgrade to PHP 8.1 as much libraries are requiring this as a minimum these days.

[2022-06-21 06:32] #42891 closed

[2022-06-21 06:36] qminds commented on #42891
For some reason Composer didn't handle it.
I solved the issue by requiring the `6.0.*` versions of Symfony-related packages in my `composer.json`.
Thanks.

[2022-06-21 09:17] driesvints commented on #42837
Horizon will be released today with support for Predis v2. Thanks

[2022-06-21 09:28] driesvints commented on #42876
Please don't move discussions to issues.

[2022-06-21 09:28] #42876 closed

[2022-06-21 09:34] driesvints commented on #42794
Heya. We don't plan to change this behavior, sorry. We'd appreciate a PR to the docs if anything can be clarified. Thanks

[2022-06-21 09:34] #42794 closed

[2022-06-21 09:35] driesvints commented on #42758
Seems like a PR was sent in to resolve the main issues here. Thanks

[2022-06-21 09:35] #42758 closed

[2022-06-21 09:42] driesvints commented on #42822
Please use a variable when working with the JSON directive.

[2022-06-21 09:42] #42822 closed

[2022-06-21 09:44] driesvints commented on #42886
Heya, thanks for submitting this.

This seems like a feature request or an improvement so I'm converting this to a discussion instead. It's best to post these in the discussions section in the future to get support for your idea. After that you may send a PR to the framework. Please only use the `laravel/framework` issue tracker to report bugs and issues with the framework.

Thanks!

[2022-06-21 09:49] driesvints commented on #42851
You'll need to create your own function for this.

[2022-06-21 09:49] #42851 closed

[2022-06-21 09:49] #42766 closed

[2022-06-21 09:50] driesvints commented on #42786
Heya. We don't consider this to be a bug. Please use proper data sanitisation on the route param as shown in the example by @rodrigopedra.

[2022-06-21 09:50] #42786 closed

[2022-06-21 09:51] #42773 closed

[2022-06-21 09:53] driesvints commented on #42765
`$request` and `request()` are not the same and this is expected. See the answer by Taylor here: https://github.com/laravel/framework/pull/42770#issuecomment-1156818638

[2022-06-21 09:57] driesvints commented on #42877
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-06-21 09:57] #42877 closed

[2022-06-21 12:32] driesvints commented on #42834
The current behavior is as expected. Underscores for numbers in column names are not supported.

[2022-06-21 12:32] #42834 closed

[2022-06-21 13:46] jbelien opened #42899 "Issue with timestamps stored in a PostgreSQL JSON column"
- Laravel Version: 9.17.0
- PHP Version: 8.1.6
- Database Driver & Version: pgsql

### Description:

When using a `JSON` column in PostgreSQL for timestamps `created_at`, `updated_at`, and `deleted_at`, there is an issue with update and (soft) delete.

#### Error on update

Query:
[code]

#### Error on delete

Error is triggered by `syncOriginalAttributes()` function.
https://github.com/laravel/fr

[2022-06-21 13:50] driesvints commented on #42899
I don't think we support JSON columns for timestamps at this time.

[2022-06-21 13:51] #42899 closed

[2022-06-21 17:28] DerpgonCz opened #42903 "[9.x] Required keys for array validation rule does not work"
- Laravel Version: 9.18.0
- PHP Version: PHP 8.1.5
- Database Driver & Version: MySQL 8.0.26

### Description:
Required keys for `array` validation rule does not work.

It seems that this validation rule checks that the array does not have extra keys. Which means that specifying `array:name,username,admin,locale` passes the validation. However, the exact behavior is not directly specified in the d

[2022-06-21 17:39] #42903 closed

[2022-06-22 07:16] NicoHood opened #42904 "Cannot differenciate between json object or array"
- Laravel Version: 9.15.0
- PHP Version: 8.1.x
- Database Driver & Version: sqlite

### Description:
Following up on #42719 I want to report, that there is currently no way to differenciate between a json object `{}` or array `[]` as the `Request` class [decodes the json always into an associated php array](https://github.com/laravel/framework/commit/cd9fcd06b3970641e91d6127b31b39fc239521e2). This

[2022-06-22 08:29] tminich opened #42905 "Trying to add a macro for the Eloquent Builder causes an error if you use named parameters"
- Laravel Version: 9.18.0
- PHP Version: 8.1.7
- Database Driver & Version: not relevant

### Description:

Calling the `macro` method on the Eloquent Builder class using named parameters causes an error. As Laravel 9 dropped support for PHP-versions that do not support named parameters this should definitely work.

### Steps To Reproduce:

[code]

Result:
[code]

(I'm not using mixins, but the co

[2022-06-22 09:08] driesvints commented on #42905
Just don't use named parameters here.

[2022-06-22 09:08] #42905 closed

[2022-06-22 17:38] devsquad-victor-lima opened #42910 "FirstOrNew Eloquent Method inside Jobs returning \ModelNotFoundException instead of a new Model instance."
- Laravel Version: 9.18.0
- PHP Version: 8.1.5
- Database Driver & Version: MySQL 8.0

### Description:
Hello guys, I got into this situation today where I have a Job running on Horizon, implementing the `ShouldQueue` interface, and then when `Model::firstOrNew` is called and the database record is not found, it's acting like `firstOrFail` method and returning `Illuminate\Database\Eloquent\ModelNo

[2022-06-22 17:47] omerfdmrl opened #42911 "Blade if statement not working well inside tag"
- Laravel Version: 9.17.0
- PHP Version: 8.0.11
- Database Driver & Version: 10.4.21-MariaDB

### Description:
I'm trying to use if statement inside class attribute in **i** tag.  When I don't use veriable directly it's working.

### Steps To Reproduce:
1. Create function inside my model file;
[code]
2. Try to use inside blade;
[code]
This code not working. When I try outside of i tag;
[code]
**fo

[2022-06-22 18:27] NicoHood commented on #42904
I am sorry, I have no clue what you are talking about. Do I need to precise my question? I do not get what you want to tell me.

[2022-06-22 18:50] dev-buntoo commented on #42911
[code]

[2022-06-22 20:43] maher1337 opened #42914 "Illuminate\Routing\Middleware\ThrottleRequests::addHeaders(): Argument #1 ($response) must be of type Symfony\Component\HttpFoundation\Response, null given,"
- Laravel Version: 9.18.0
- PHP Version: 8.1.6
- Database Driver & Version: MariaDB 10.6

### Description:
An error is being thrown in the throttle requests middleware when the response is null?
`
TypeError: Illuminate\Routing\Middleware\ThrottleRequests::addHeaders(): Argument #1 ($response) must be of type Symfony\Component\HttpFoundation\Response, null given, called in /var/www/app.omnee.ca/htm

[2022-06-23 04:16] smartens80 commented on #16526
Make sure you add `use Illuminate\Database\DBAL\TimestampType;` as well ;)

[2022-06-23 05:05] TENMAJKL commented on #42911
Maybe try to look at the compiled template in storage/framework/views and send how does look this part.

[2022-06-23 06:50] kayw-geek opened #42920 "SoftBy() and SoftMany() of Collection PHPDoc error"
- Laravel Version: v9.18.0
- PHP Version: 8.1.5

### Description:
[code]
From the current code, it seems not support that all closure parameters are array.

[code]
but when I changed to
[code]
PHPStan will too throw error

[code]
So I should to do something, you can help me ?

[2022-06-23 09:11] driesvints commented on #42910
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-06-23 09:11] #42910 closed

[2022-06-23 09:12] driesvints commented on #42914
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-06-23 09:12] #42920 closed

[2022-06-23 09:13] driesvints commented on #42911
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-06-23 09:13] #42911 closed

[2022-06-23 11:11] ARehmanMahi commented on #11518
Set timestamps automatically update on create/update `Laravel 8`

[code]
I would not suggest auto population at database end.
DB time could be different than web/app server causing mismatch.
App timezone setting can be changed at some point, also causing difference.
Better to handle dates from application, like Laravel is doing by default as well.

[2022-06-23 11:57] driesvints commented on #42816
Not sure if this is a bug in Laravel per se. Since there's an easy workaround I'm closing this.

Thanks @rodrigopedra

[2022-06-23 11:57] #42816 closed

[2022-06-23 12:04] driesvints commented on #42804
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-06-23 12:05] driesvints commented on #42814
See https://github.com/laravel/framework/issues/42586

[2022-06-23 12:05] #42814 closed

[2022-06-23 13:16] driesvints commented on #42880
This was changed here: https://github.com/laravel/framework/pull/32703. @deleugpn can you weigh in here?

[2022-06-23 14:16] driesvints commented on #42883
This indeed sounds like a bug. Would appreciate any help with figuring this one out.

[2022-06-23 15:11] driesvints commented on #42904
Giving that this has been the behavior since Laravel 4, I don't think there's any issue here. We're not looking to make changes to this implementation to be mindful of BC breakages.

[2022-06-23 15:11] #42904 closed

[2022-06-23 15:14] driesvints commented on #42707
Can anyone provide me with a repo that produces this?

[code]

[2022-06-23 15:20] NicoHood commented on #42904
No way? What about in newer versions? I mean this would be an essential feature, that is just currently not possible to use. Arn't there any options to keep backward compatibility but still allow a bugfix?

[2022-06-23 15:23] taylorotwell commented on #42830
This issue feels a bit contrived to me. If the conventional behavior doesn't work for your scenario, don't use it. Use `$validator->passes()` manually and then redirect wherever you want on failure.

[2022-06-23 15:23] #42830 closed

[2022-06-23 17:04] mateusjunges commented on #42707
Hey @driesvints I was able to reproduce the issue in this repo:

https://github.com/mateusjunges/laravel-bug-report-42707

Steps to run the project:
- Clone the repo
- Create a database and configure your .env
- Run `php artisan migrate --seed`
- Start the server with `php artisan serve`
- Open your browser and go to `http://localhost:8000`

Hope it helps

[2022-06-23 17:07] soynain commented on #15466
Zeyad82 solution LGTM, I was having the same issue, no matter if i was declaring the socketId in laravel echo file or directly in front, variable was undefined. Why this happens? it's some sort of bug in the framework? cuz the docs says that 'socketId' is a pre-declared variable.

[2022-06-23 19:52] InputOutputZ commented on #42863
I haven't tested phpredis 5.3.7. I think it will return the same results using phpredis 6.0.0 that is similar to dev, i.e. an invitable bug that has to be fixed since password meant to work with the deprecated requirepass and flattening of options in parameters array removes auth keys i.e. password and username which is optional yet if had any including itself which is required as well as context

[2022-06-23 20:02] lucasvmds opened #42930 "FormRequest::withValidator method throwing error"
- Laravel Version: 9.10.1
- PHP Version: 8.1.6
- Database Driver & Version:

### Description:
I have a `FormRequest` with the `withValidator()` method (which I copied exactly as it is in the Laravel documentation), but when executing the class an error is returned.

Class:
[code]
Error:
[code]
I tried replacing $this with $validator but the error persists:
[code]

I solved problem with this:
[code

[2022-06-23 23:42] Said20hr commented on #34319
This would help in case you are using jetstream and you run all :

- in .env =>` APP_URL=http://127.0.0.1:8000`
- `php artisan storage:link`
- `php artisan view:clear` or `php artisan optimize:clear`

And all what you get is an empty box for profile_photo_url, you need to verify that the attribute `name` is still exist on model `User`, otherwise you can custom the function **defaultProfilePhotoUrl

[2022-06-24 00:10] monurakkaya opened #42932 "undefined constant error when try to define dynamic slot names"
- Laravel Version: 9.18.0
- PHP Version: 8.1.2
- Database Driver & Version:

### Description:

Since v9.15, After the merge of this  pull request: #42574
[code]
throws error as undefined constant "code". Because compiled view is looking like this:

`<?php $__env->slot($language>code null, []); ?> <?php echo e($language->name); ?> <?php $__env->endSlot(); ?>`
instead
`<?php $__env->slot($language->

[2022-06-24 05:07] tillkruss commented on #42863
Can you reproduce this with a 2-3 line non-Laravel script?

If this a bug in PhpRedis we need to report it.

[2022-06-24 05:46] timacdonald commented on #42880
Just an FYI that this problem doesn't exist with the new global `fake()` helper...

[code]

[2022-06-24 09:52] tkuijer opened #42939 "Passing a PHP expression with an incomplete set of parentheses to a component results in an exception"
### Versions
- Laravel Version: 9.18.0 (Also tested on 9.2.0 and 8.71.0)
- PHP Version: 8.1.1 (zend engine 4.1.1, opcache 8.1.1, xdebug 3.1.1)
- Database Driver & Version: PDO MySQL 5.7.34

### Description:
When I pass a PHP expression which contains an incomplete set of parentheses to a component, the resulting rendered template contains invalid PHP.

While the testcase is minimal, the same thing

[2022-06-24 10:00] driesvints commented on #42939
This is best passed a variable.

[2022-06-24 10:00] #42939 closed

[2022-06-24 10:02] tkuijer commented on #42939
@driesvints
That would work for the example minimal breaking case, but is unusable when building a form that has translations for example.

[2022-06-24 10:12] tkuijer opened #42940 "Passing a PHP expression with an incomplete set of parentheses to a component results in an exception"
Because in my opinion the last issue got closed without valid reason:

That would work for the example minimal breaking case, but is unusable when building a form that has translations for example. The bug occurs when having any missing parenthesis in any PHP expression passed to a component.

**Something as simple as an unclosed set of parentheses should NEVER result in the blade compiler breakin

[2022-06-24 10:16] driesvints commented on #42940
Please don't re-open closed issues. Just use a variable in this case.

[2022-06-24 10:16] #42940 closed

[2022-06-24 10:21] tkuijer commented on #42940
@driesvints
Then please re-open the original issue, since using a variable is the solution to this case, but doesn't fix the bug at all.

[2022-06-24 10:22] driesvints commented on #42932
Closing this as a PR was opened. Thanks

[2022-06-24 10:22] #42932 closed

[2022-06-24 10:23] driesvints commented on #42940
There's no bug. The Blade compiler cannot handle every situation. For this case, you should use a variable.

[2022-06-24 11:47] InputOutputZ commented on #42863
No its not phpredis extension and it works fine but its Laravel API integration and its incompatible with phpredis 6.0.0.

I am certain in incoming releases the issue will appear to more users therefore addressing it now, should be a good idea, its easy to install the recent phpredis extension locally and test by yourself. Configure the redis cluster nodes with auth client enabled, and pass cafile

[2022-06-24 12:41] driesvints commented on #42707
I can confirm this bug. Will investigate.

[2022-06-24 13:00] jelledruut commented on #23167
Thanks so much for the ';1;' suggestion. Spent many hours figuring out why manual dispatching wasn't working, while dispatchSync was working just fine and all scheduled jobs were also working just fine..

[2022-06-24 14:18] driesvints commented on #42707
Trying to find a solution before rolling back. But it's proving difficult...

[2022-06-24 14:20] ksassnowski commented on #42707
Yeah, this one also had me stumped 😞

[2022-06-24 14:46] tillkruss commented on #42863
I can't reproduce this without a code sample.

[2022-06-24 14:46] #42863 closed

[2022-06-24 14:58] SerikK commented on #18370
@ozanakman how did you solved?

[2022-06-24 16:13] driesvints commented on #42707
I finally found a potential fix. Dug deep into this one 😅

@mateusjunges @mrmonat can you both try it out? https://github.com/laravel/framework/pull/42942

[2022-06-24 17:04] mateusjunges commented on #42707
@driesvints I've tried it locally and everything works fine now

[2022-06-24 17:46] #42707 closed

[2022-06-24 19:39] LocalHeroPro commented on #42837
Still not working as expected.

[2022-06-24 23:13] rodrigopedra commented on #42939
PRs are welcome =)

[2022-06-25 10:33] ParzivalLashly opened #42947 "Laravel-echo : Customizing The Authorization Request"
### Discussed in https://github.com/laravel/framework/discussions/42946

<div type='discussions-op-text'>

<sup>Originally posted by **ParzivalLashly** June 25, 2022</sup>
hi, im using **Laravel 8** for api backend and **Reactjs** for frontend, **Laravel echo@1.11.7** and **Laravel echo server** with **socket.io-client** for ws connections between front and backend
for some reasons i need to authe

[2022-06-25 13:20] symbioticphp opened #42949 "Duplicate method requireOnce"
https://github.com/laravel/framework/blob/4d46bda6f19d490080512fa053065081f737bf2f/src/Illuminate/Filesystem/Filesystem.php#L98

add a new flag for single inclusion:

 public function getRequire($path, array $data = [], $once = false)
    {
        if ($this->isFile($path)) {
            $__path = $path;
            $__data = $data;

            return (static function () use ($__path, $__data, $o

[2022-06-25 13:37] rodrigopedra commented on #42883
Sent PR #42950 to address this issue

[2022-06-25 14:14] driesvints commented on #42947
Please don't move discussions to issues.

[2022-06-25 14:14] #42947 closed

[2022-06-25 14:19] JackWH opened #42952 "Unexpected behaviour when registering multiple Model::creating() event callbacks"
- Laravel Version: 9.18.0
- PHP Version: 8.1.6
- Database Driver & Version: MySQL 8

### Description:

Applications may register several Eloquent model callbacks for the same event. In my app, I'm automatically assigning certain values to models throughout their lifecycle. When registering multiple `creating` callbacks, they cause an unexpected early `INSERT` if any of the callbacks return a "trut

[2022-06-25 18:34] AbdlrahmanSaberAbdo commented on #42796
As I understand `make` doesn't create a new row in the database it just creates a new instance of the class you request, I tried to test your code with `create` instead of `make`, and it's worked well, because `create` persists to the database, the code will be like this

[code]
I'm not sure if it should also work well with `make` or not because `make` will not return a new `id`, so even if he kno

[2022-06-25 19:27] mateusjunges commented on #42952
Hey @JackWH, it happens because the `creating` model event, dispatched inside the `performInsert` method, is fired using event halting:
https://github.com/laravel/framework/blob/4d46bda6f19d490080512fa053065081f737bf2f/src/Illuminate/Database/Eloquent/Model.php#L1168

This is the signature of `fireModelEvent`:
https://github.com/laravel/framework/blob/4d46bda6f19d490080512fa053065081f737bf2f/src/I

[2022-06-25 20:03] DarkGhostHunter commented on #42796
You're correct, my example was bad. I used `create`.

[2022-06-25 23:12] rodrigopedra commented on #42952
I also agree I would expect a different behavior, specially now when arrow functions that auto-return a value are more common.

@JackWH in the meanwhile, you could convert your arrow functions to regular closures without a return statement.

The only thing I kind of don´t agree is this would be bug.

It is surely unexpected behavior, but changing this behavior that is around for so long looks more

[2022-06-26 05:53] jonathanMelly commented on #33417
In case someon googles about that and arrives here like me, I figured out that the reason for that issue in my case was that the SSH connection to the shared hosting had a **chroot** and running `php artisan config:cache` from that **chrooted** environment put a wrong path in _bootstrap/config.php_...
The solution I’m about to implement is instead of doing `php artisan config:cache` from commandli

[2022-06-26 12:53] BrandonSurowiec commented on #42796
Looks like a fix was accepted: https://github.com/laravel/framework/pull/42929

[2022-06-26 16:57] #42796 closed

[2022-06-26 18:16] wavedeck opened #42958 "Cookie::expire & Cookie::forget Not recognised by IDE"
- Laravel Version: v9.18.0
- PHP Version: 8.1.6
- PHPStorm Version: 2021.3.3
- Laravel IDE Plugin: 0.15.4

### Description:
I am trying to delete a Cookie by using ```Cookie::expire($cookie_name)``` of the \Illuminate\Support\Facades\Cookie class.
It works as expected, but PHPStorm doesn't recognise these Methods. I tried to reindex the project but that didn't solve the issue. Warning:  ```Method

[2022-06-26 19:14] selcukcukur commented on #42958
Have you tried the `cookie()->expire('cookieName')` method for this?

[2022-06-26 19:22] wavedeck commented on #42958
Hi @selcukcukur. YESS! IDE Intellisense works using the cookie() helper function. Thank you for this tipp! I'm wondering why this is nowhere mentioned in the official laravel docs.

[2022-06-26 19:25] selcukcukur commented on #42958
@wavedeck I don't have clear information on this subject, it may have been overlooked.

[2022-06-26 19:57] claudiofabiao opened #42962 "Cursor pagination fails if records have been deleted"
- Laravel Version: 9.18.0
- PHP Version: 8.1.2
- Database Driver & Version: MariaDB 10.4.22

### Description:
When trying to follow a cursor returned by `cursorPaginate()`, if records have been deleted, a server error response (500) is returned.

An exception with the message "only arrays and objects are supported when cursor paginating items" is being thrown by Laravel.

This does not appear to b

[2022-06-26 20:07] selcukcukur commented on #42962
@claudiofabiao It is difficult to understand in this way, can you explain all the methods and processes you use in order to understand.

[2022-06-26 20:31] claudiofabiao commented on #42962
Hi, @selcukcukur.

I created a repository to demonstrate: [](https://github.com/claudiofabiao/bug-report).

Steps to reproduce:

- clone the repository
- run `php artisan migrate --seed
- load the first 25 tasks into _/tasks_ and store `next_cursor` for later use
- delete all DB tasks
- now try following the stored `next_cursor` via /tasks?cursor=CURSOR_HERE

An exception will be thrown.

[2022-06-26 20:49] selcukcukur commented on #42962
`return Task::query()->cursorPaginate(25);`

I didn't have any problems with a clean install this way.

[2022-06-26 20:50] selcukcukur commented on #42962
@claudiofabiao It looks like everything is fine. Something you did or an external action you did is causing the problem. Everything seems fine in my tests. I also followed the steps you did.

[2022-06-26 20:54] selcukcukur commented on #42962
@php
    $users = \App\Models\User::query()->cursorPaginate(1);
            @endphp

    <div class="container">
        @foreach ($users as $user)
            {{ $user->name }}
        @endforeach
    </div>
    {{ $users->links() }}

I haven't fully studied your usage, though. This is the shape you should use.

[2022-06-26 20:58] claudiofabiao commented on #42962
Hi, @selcukcukur.

Sorry, but I do not understand.

Did you delete the records and then try to follow `next_cursor`?

What was the response received?

I've attached the response I get.
![Screenshot](https://user-images.githubusercontent.com/25290007/175833563-32b4fa28-4bd2-4b46-9d6f-e861c60a7c4b.png)

[2022-06-26 21:24] selcukcukur commented on #42962
@claudiofabiao I misunderstood what you said. Now I fully understand.

[2022-06-26 21:51] mateusjunges commented on #42930
@lucasvmds the `somethingElseIsValid` is just a example method, and it does not exist in the Validator or in the form request itself. If you want it to work, you must define this method within your Form Request class.

[2022-06-26 22:44] rodrigopedra commented on #42962
Sent PR #42963 to address this issue

[2022-06-26 23:51] claudiofabiao commented on #42962
Hi, @selcukcukur and @rodrigopedra.

I thank you very much for your attention.

I will follow the PR #42963.

I am available to help, if needed.

[2022-06-27 03:49] hogeraccio opened #42965 "DynamoDB cache store issues on numeric values"
- Laravel Version: 9.18.0
- PHP Version: 8.0.17
- Database Driver & Version: DynamoDB

### Description:
A similar bug that was occurring in #31345 is also occurring in the dynamodb driver.

### Steps To Reproduce:

Set cache driver to dynamodb and try the followings:

[code]

[2022-06-27 04:28] rodrigopedra commented on #42958
Façades provides a way to proxy static method calls to an instance resolved from the container. Therefore they don't contain the underlying methods themselves and IDE cannot guess which methods it proxies without aids such as dokblocks or shallow classes that replicate the inner instance.

A IDE, as I am writing this, will resolve from the `Cookie` façade, in addition to the methods already define

[2022-06-27 05:50] wavedeck commented on #42958
@rodrigopedra That's a great explaination why things are as they are. Thank you for the Tip that other IDE Plugins might help with that, i'll install one right now ;)

[2022-06-27 05:50] #42958 closed

[2022-06-27 07:11] driesvints commented on #42965
It looks like Taylor doesn't wants to accept a PR to change this at the time. You're always free to attempt a new one 👍

[2022-06-27 07:20] driesvints commented on #42952
Afaik we don't document this anywhere and I don't think we support that. What's the reason you can't use a single callback?

[2022-06-27 08:18] rodrigopedra commented on #42958
You're welcome! Back in the days I started with Laravel I had the same doubts... Have a nice day =)

[2022-06-27 10:04] driesvints commented on #42804
I'll re-open this once you provided a repo.

[2022-06-27 10:04] #42804 closed

[2022-06-27 10:04] driesvints commented on #42880
@gdebrauwer as a workaround, for now, please use the new global fake helper.

[2022-06-27 10:04] #42880 closed

[2022-06-27 10:42] ashkanRimer opened #42967 "Unexpected behavior in firstOrNew method in belongs to many relationships"
- Laravel Version: v9.17.0
- PHP Version: 8.1.7
- Database Driver & Version: MySQL 8.0.29

### Description:
There is an unexpected behavior in `firstOrNew` method in `belongsToMany` relationships. When I try to `firstOrNew` a related model which it doesn't exist, I get the first record of database which I shouldn't.

### Steps To Reproduce:
I have a `ContentPost` model which has a `belongsToMany`

[2022-06-27 11:38] ahmetbarut opened #42968 "Bus::batch gives incorrect information ?"
- Laravel Version: 8.40
- PHP Version: 8.0
- Database Driver & Version: mysql  Ver 15.1

### Description:
Greetings, I'm trying to use `Bus::batch` to monitor the status of Queues but it gives wrong information about queue status. And it turned out to be -67, although the total row was 111?

### Steps To Reproduce:
[code]
[code]

![Ekran Resmi 2022-06-27 14 35 09](https://user-images.githubusercon

[2022-06-27 11:39] driesvints commented on #42968
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-06-27 11:39] #42968 closed

[2022-06-27 13:02] gioblu opened #42972 "Laravel 9.18.0 breaks with no discernible error"
- Laravel Version: 9.18.0
- PHP Version: 8.1.5
- Database Driver & Version: N/A

### Description:
Laravel breaks (without a discernible error message) when a route is defined with the same name as a directory present in the public folder. @jucode77

### Steps To Reproduce:
1. Define a route with the name "test"
2. Creare a directory "test" in public
3. The error will occur trying to resolve the ad

[2022-06-27 13:07] driesvints commented on #42972
What "breaks"? What happens and what do you expect to happen?

[2022-06-27 13:31] JackWH commented on #42952
@driesvints Traits might want to register their own callbacks in the `bootTrait()` method. For example:

[code]

A quick search of my codebase shows 3 different packages registering their own model callbacks using traits.

[2022-06-27 14:15] ahmetbarut commented on #42968
@driesvints I asked for help with this problem in the channels you specified, but since there was no response, I opened the problem here.

[2022-06-27 15:25] bram-pkg opened #42977 "Can't use @class on nested anonymous component"
- Laravel Version: 9.18.0
- PHP Version: 8.1.7
- Database Driver & Version: MySQL (not relevant)

### Description:

When using `@class` in Blade, on an anonymous, nested component, it does not pick up the component and renders `<x-icon></x-icon>`, without any processing.

### Steps To Reproduce:

https://github.com/bram-pkg/class-directive-bug

Use `@class` on a component, results in the component

[2022-06-27 15:47] lk77 commented on #42972
Laravel can't do anything about server misconfigurations

[2022-06-27 17:12] ankurk91 commented on #42972
What web server you are using to serve the project?

If you are using apache, make sure rewrite module is enabled

[2022-06-27 17:14] #42972 closed

[2022-06-27 17:59] levu42 opened #42979 "Route signing doesn't work with '@' character in GET parameters"
- Laravel Version: 9.18.0
- PHP Version: 8.1.7

### Description:

When I create a route with

[code]

The signature is calculated based on a query string with `&email=abc@def.gh` but browsers (at least Chrome 103) change it to `&email=abc%40def.gh` and Laravel doesn't convert it back before validating the signature, failing in the signature verification because `sha256('...@...') != sha256('...%40

[2022-06-27 20:30] aguingand commented on #42977
A workaround is to use:
[code]

[2022-06-27 21:27] mateusjunges commented on #42979
I can't reproduce it here.

I've created a  route to return a signed url getting the param from the query string:
[code]

Then, I copied the url returned by that route and tried to acess it
`http://127.0.0.1:8000/email-confirm?email=taylor%40otwell.com&expires=1656365521&id=1&signature=2602856f9c4ab7ba97136b1c3640d79d1c2619b2cdd8c9fcc4d028617822996a`

I've got a `ok` as response.

[2022-06-28 06:53] f-liva opened #42982 "Gate authorization always goes to 403 error with explicit model binding"
Authorization by policy of `edit` and `update` actions of resource type routes using explicit model binding always goes to 403 error because the model resolved by the explicit model binding is not passed as the underlying `\Illuminate\Auth\Access\Gate::authorize` arguments.

This is the configuration needed to reproduce the anomaly:

**routes/web.php**
[code]

**app/Providers/RouteServiceProvider.

[2022-06-28 07:06] #42962 closed

[2022-06-28 07:25] driesvints commented on #42952
Hah, I forgot we had support for that. We should document that really.

[2022-06-28 07:26] driesvints commented on #42979
@mateusjunges thanks

Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/lara

[2022-06-28 08:23] driesvints commented on #42977
@bram-pkg can you re-create that repo with the following command please so the skeleton isn't in the same commit?

[code]

[2022-06-28 08:25] driesvints commented on #42982
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-06-28 08:28] bram-pkg commented on #42977
Sure thing.

[2022-06-28 08:32] bram-pkg commented on #42977
https://github.com/bram-pkg/class-directive-bug

@driesvints

[2022-06-28 08:34] bram-pkg commented on #42977
The output of `welcome.blade.php` is now:

[code]

But should include the `<i class.....></i>` tag from `components/icon.blade.php`.

[2022-06-28 11:23] deleugpn commented on #31311
Just hit this issue and it is indeed a bit confusing.

[2022-06-28 13:28] rodrigopedra commented on #42982
@f-liva if you run `php artisan route:list` you will see routes from your `centers` resource will expect a `{center}` parameter, and routes from your `admins` resource will expect a `{admin}` parameter.

For example, the `centers` resource will register these routes, among others:

[code]

When you use the `AuthorizesRequests@authorizeResource` it will then register these middlewares:

[code]

But

[2022-06-28 13:36] mateusjunges commented on #42982
@driesvints check this repo https://github.com/mateusjunges/bug-report-42982

- Clone the project
- Configure the database and .env file
- Run `migrate` and `seed`

- Go to `http://localhost:8000/`

It will redirect you to `http://127.0.0.1:8000/users/3` and return the correct user.

Then, if you change the url to `http://127.0.0.1:8000/centers/3`, you will get a 403 unauthorized response.

[2022-06-28 16:47] Patabugen opened #42988 "New fake() helper breaks previous custom providers"
- Laravel Version: 9.18.0
- PHP Version: 8.0.20

### Description:
The `fake()` helper [introduced last week](https://github.com/laravel/framework/commit/7746337149a7ffd6b4a862d9bd54593cf3520708) correctly [segments singletons by locale](https://github.com/laravel/framework/issues/42880) however this also means it breaks custom providers (since it changes the abstract name passed to `app()->singlet

[2022-06-28 18:01] dajoeberlei opened #42991 "Vite manifest not found at: .../public/build/manifest.json"
- Laravel Version: 9.19.0
- PHP Version: 8.0.19
- Database Driver & Version: mysql 8.0.29

### Description:
I just happen to start a new project today without knowing about vite and wanted to to a laravel jetstream livewire project.
Im assuming its a new bug regarding the just newly released vite features so i opened the issue here instead of within the jetstream issue board.

### Steps To Reprodu

[2022-06-28 18:30] dajoeberlei commented on #42991
`npm run build` helped. sry for bothering.

[2022-06-28 18:30] #42991 closed

[2022-06-28 20:52] andrey-helldar commented on #41565
I also faced the problem while testing the application.

`config/app.php`:

[code]

`lang/fr.json`:

[code]

`lang/en.json` doesn't exist.

[code]

Personally, this behavior misleads me, given that there are no such problems when using php files.

[2022-06-28 22:42] timacdonald commented on #42991
Glad you got it sorted @dajoeberlei

You may also run `npm run dev` if you are working locally and want Hot Module Reloading.

[2022-06-29 01:56] timacdonald commented on #42988
Hey @Patabugen glad to hear you are jumping on the new `fake()` helper!

Here is what you will wanna do in your project...

[code]

as a real-world working example...

[code]

Hopefully that gets you back on track. Let me know if you have any other issues.

[2022-06-29 01:56] #42988 closed

[2022-06-29 03:43] elvillacampa commented on #27139
This happens for resources only, collections works fine.

[2022-06-29 06:25] f-liva commented on #42982
EPIC, thank you!

I thought it was an internal Laravel bug, so it's not that great!

[2022-06-29 06:47] dajoeberlei commented on #42991
@timacdonald thanks! Yes that's what I read in the docs first :) but without doing the build before it didn't work.
So I had to do 'npm run build' and then 'npm run dev'

[2022-06-29 07:12] localesp opened #42994 "Laravel @vite directive wrong hot path file"
- Laravel Version: 9.19.0
- PHP Version: 8.1.7

For some reason, the Laravel Vite hot file is generated inside the path that we provide to `publicDirectory`, however, the Laravel's @vite directive only looks for vite dev server path inside the public directory. Shouldn't it respect or look inside directory where the hot file is actually generated?

Example: Given this config, the `hot` file is gen

[2022-06-29 08:07] Pixdigit opened #42995 "Dropping default constraints is broken with SQLServer"
- Laravel Version: 8.83.5
- PHP Version: 7.4.1
- Database Driver & Version: sqlserver/DBAL 3.3.4

### Description:
When dropping a default constraint in a migration the wrong constraint name is generated. There exists [compileDropDefaultConstraint](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Database/Schema/Grammars/SqlServerGrammar.php#L234) which would work but doesn't get calle

[2022-06-29 09:09] Patabugen commented on #42988
Hey @timacdonald , thanks for that! Your former example is essentially what I've ended up doing, but your second example of adding one to every locale is handy to have!

[2022-06-29 10:46] andrey-helldar commented on #41565
@felipe-dsdev, as a temporary solution, I used your code by creating a [Laravel-Lang/json-fallback-hotfix](https://github.com/Laravel-Lang/json-fallback-hotfix) project.

To get the latest version of [`Laravel Lang: JSON Fallback Hotfix`](https://github.com/Laravel-Lang/json-fallback-hotfix), simply require the project using Composer:

[code]

Next, in the `providers` section of the `config/app.ph

[2022-06-29 11:22] jessarcher commented on #42994
Hi @localesp,

You should only configure `publicDirectory` if you have configured Laravel to also use a different public directory.

If you need to configure a different build directory inside your public directory, then you should configure `buildDirectory` in the plugin instead, and also pass that as the second parameter to the `@vite` directive.

In terms of running multiple Vite hot servers at

[2022-06-29 11:55] MrMohamedAbdallah commented on #42730
I believe that's the expected results. To use `.env` that matches the environment.

https://github.com/laravel/framework/blob/9362a29ce298428591369be8d101d51876406fc8/src/Illuminate/Foundation/Bootstrap/LoadEnvironmentVariables.php#L41

The part on the docs: https://laravel.com/docs/9.x/configuration#additional-environment-files

Related discussion on Laracasts: https://laracasts.com/discuss/chann

[2022-06-29 11:59] ahmedsayedabdelsalam commented on #42774
i think we need to open it again because this happens in the default setup

[2022-06-29 17:16] ju5t commented on #42991
@timacdonald sorry to bug you; we are having similar issues as @dajoeberlei but we don't really fancy building assets there. Would there be a reason not to commit `manifest.json` to our repo?

[2022-06-29 23:59] Thomas14 opened #43008 "withThrashed() method on routes with explicit model binding does not resolve trashed models"
- Laravel Version: 9.19.0
- PHP Version: 8.1.7
- Database Driver & Version: MySQL 8.0.28 / mysqlnd 8.1.7

### Description:
The `withThrashed()` method on routes with **explicit** model binding does not seem to resolve trashed models. Trashed models will produce a not found error; non-trashed models are unaffected. `withTrashed()` on routes with implicit binding is working as expected.

An issue co

[2022-06-30 00:02] timacdonald commented on #42991
this is a question for you and your team, really. Personally I find committed assets a pain as they cause so much noise in Git + forgetting to rebuild and commit etc. - but there is nothing fundamentally wrong with it.

May I ask what the issues are though? I followed the steps in the initial post and it worked on my end. Would love to get it fixed if we can for the next people who run into it.

[2022-06-30 02:16] mateusjunges commented on #43008
Hey @Thomas14 when you use the `Route::bind` method you are telling laravel to resolve your route model binding using whatever callback you provide to that method. You can check line 854 of `Illuminate/Routing/Router` class:

https://github.com/laravel/framework/blob/95ce178cbde9f9f38013862f677a5314da67af85/src/Illuminate/Routing/Router.php#L852-L861

Basically, if there is a bind for the given ke

[2022-06-30 07:12] tomohirohiratsuka opened #43012 "laravel9 s3 storage needs additional option to work"
- Laravel Version: 9.19.0
- PHP Version: 8.1.5
- Database Driver & Version:

### Description:
Hi,
If S3 is to be used as storage, the Storage facade is currently not functional because it cannot run properly with only the configuration in the documentation.
I have confirmed that communication is possible when using the S3 client directly.

Below code worked.
[code]
But the `Storage::disk('s3')->di

[2022-06-30 07:57] Thomas14 commented on #43008
Hi @mateusjunges

Whoops... that makes a lot of sense. Intuitively I expected `withTrashed` on the route to affect the query in the same way it does with implicit binds without giving it any further thought (yikes), I somehow managed to completely overlook the fact that with the callback I am of course building the query myself... oh the simple things I miss sometimes... this was an incredibly sil

[2022-06-30 09:43] #43008 closed

[2022-06-30 10:55] vaites commented on #42967
Same problem here, I found it with something like this, where there's no addresses associated to the person:

[code]

The `firstOrNew()` method must respect all previous conditions.

Please let me know if I can help by providing an example.

[2022-06-30 10:59] driesvints commented on #42952
It looks like this will require a change in behavior so for now, we're not categorizing this as a bug. A PR to attempt to change this behavior has been opened at master. Let's see how that goes.

[2022-06-30 10:59] #42952 closed

[2022-06-30 11:00] driesvints commented on #42967
I'll re-open once a repo is provided.

[2022-06-30 11:48] LastDragon-ru opened #43015 "Eloquent/Collection: Call to a member function getKey() on string"
The following code works fine when collection contains models but will fail if `Collection` is empty :
[code]

Maybe `map()` it should return base collection if empty?

https://github.com/laravel/framework/blob/95ce178cbde9f9f38013862f677a5314da67af85/src/Illuminate/Database/Eloquent/Collection.php#L361-L363

_PS: Laravel v9.17.0_

[2022-06-30 12:05] driesvints commented on #42730
@MrMohamedAbdallah the problem is that `artisan tinker` doesn't returns the correct env file.

[2022-06-30 12:11] #42730 closed

[2022-06-30 12:47] driesvints commented on #43012
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-06-30 12:51] ali-sorri opened #43019 "QueryBuilder- sort change the number of results"
- Laravel Version: 9.18.0
- PHP Version: 8.0.0
- Database Driver & Version:

### Description:
When use lazyById  with order column different than id you specified, you will receive different  number of results.

[2022-06-30 13:01] driesvints commented on #43019
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-06-30 13:01] #43019 closed

[2022-06-30 13:07] Pixdigit commented on #42995
Unfortunately I am unable to, since I don't have the laravel toolchain installed as we use artisan exclusively. And as this is a work machine I cannot install new software that easily.

[2022-06-30 13:10] driesvints commented on #42995
Unfortunately I won't be able to help you then. Feel free to le me know if you can provide a repo that reproduces this 👍

[2022-06-30 13:23] driesvints commented on #42977
Thanks @bram-pkg, that was helpful. We can confirm this bug. Would appreciate any help with figuring out a fix for the compiler.

[2022-06-30 13:51] ali-sorri commented on #43019
No, Iam reporting a bug
They lazyById function is conflict with ordering query, therefore will receive different number of results when you change the orderBy .

[2022-06-30 15:38] ju5t commented on #42991
Ah, I shortened my message and removed some crucial stuff. Sorry.

Our situation is a little different. We're seeing this error when we're running our tests in CI. We're not using any boilerplate like Jetstream though. On local machines it all works because the manifest is there, but CI is showing this error. It's especially weird that it only happens on one test. Everything else is fine.

This te

[2022-06-30 15:48] aguingand commented on #42977
What about allowing array syntax directly as attribute ?
[code]

[2022-06-30 19:23] bram-pkg commented on #42977
Spent an hour digging into the source code, and debugging is a bit hard with all these regexes :sweat_smile:. Hopefully someone more knowledgeable on the inner workings of the Blade compiler engine have an idea.

[2022-06-30 23:46] timacdonald commented on #42991
If this is in a test suite and you haven't built (or committed) your assets, you should utilise the `$this->withoutVite()` helper function, which is similar to Mix's `$this->withoutMix()` functionality.

[code]

[2022-07-01 07:12] vaites commented on #42967
Hi @driesvints, here you have the repository: https://github.com/vaites/laravel-first-or-new

I created the migrations, the models and an Artisan command to test it:

[code]

The output will display 3 lines:

[code]

As you can see [here](https://github.com/vaites/laravel-first-or-new/blob/main/app/Console/Commands/TestFirstOrNew.php), `$address3` must be a new and empty model but the first row in

[2022-07-01 08:34] nison-okrock opened #43030 "laravel/breeze: not working with Laravel Vite 0.2.x"
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2022-07-01 08:34] #43030 closed

[2022-07-01 08:42] ju5t commented on #42991
🤦

Somewhere hidden in my brain I knew about `withoutMix()` but apparently we've always committed the manifest. I will add the helper. Sorry for hijacking this issue about a non-issue!

[2022-07-01 09:51] btn-ninja opened #43032 "personal_access_tokens_tokenable_type_tokenable_id_index"
- Laravel Version: 9.8.1
- PHP Version: 8.0.13
- Database Driver & Version: WAMP server using 10.6.5-MariaDB - mariadb.org binary distribution
- & installation included Laravel Breeze

### Description:

I am new user (front-end coder) trying to create my first migration using this tutorial: https://www.youtube.com/watch?v=MYyJ4PuL4pY
While following these steps almost exactly (except that I'm on W

[2022-07-01 10:04] Manu-sh commented on #35731
i have the same issue with laravel 9

[2022-07-01 10:15] timacdonald commented on #42991
No troubles at all. Hopefully it’ll help get you back on track 🤘

[2022-07-01 13:56] alecpl opened #43034 "Global Reply-To not applied to mail in testing"
- Laravel Version: 9.19.0
- PHP Version: 8.1

### Description:

I have a utility function like this:
[code]
I also have defined `mail.reply_to.address` config parameter. This produces a Reply-To header with **two email addresses**. This might be intended in some situations, but it isn't for me.

Problem is that I didn't catch it in testing. If I use mail fake as documented, the Mailable argument o

[2022-07-01 14:53] MikeParkin opened #43036 "Datetime columns lose timezone info when set"
- Laravel Version: v9.10.1
- PHP Version: 8.1
- Database Driver & Version: Sail latest

### Description:

Assignment of a carbon object to a model with a datetime cast in memory loses the timezone and the timestamp shifts.

Created an issue previously which was closed (https://github.com/laravel/framework/issues/42993), I commented with an update but had no reply so re-opening with a much more con

[2022-07-01 15:53] mateusjunges commented on #43034
The global addresses are added to the mailable here:
https://github.com/laravel/framework/blob/9544b13b03871e560689aa920743426801aa57b0/src/Illuminate/Mail/MailManager.php#L130-L132

But when you use the `Mail::fake()`, this code is not executed, and laravel just adds the mailable to the `mailables` array withing the MailFake class.

[2022-07-01 17:15] brinkonaut opened #43037 "Resource data wrapping not working when there is a data attribute"
Laravel Version: v9.14.1

When you have a data attribute in your eloquent model the data wrapping disappears from the response. When I delete the data attribute in the database, the data wrapped correctly in the response again.

[code]

[2022-07-02 09:09] denikn commented on #20501
I have the same issue but still dont know how to fix it.

[2022-07-02 16:20] mabdullahsari opened #43039 "TestCase::withoutVite breaks React app during testing"
- Laravel Version: 9.19.0
- PHP Version: 8.1.7
- Database Driver & Version: PostgreSQL 14

### Description:

The `@viteReactRefresh` directive crashes the application when `withoutVite` is used during testing.

Error message: `Call to undefined method Closure::reactRefresh() (View: /Users/muhammedsari/Sites/redacted/resources/views/app.blade.php)`

### Steps To Reproduce:

Add the directive combo

[2022-07-02 20:18] baselbj commented on #39705
I did some investigations this is happened when using Guards other than the default SessionGuard which implements the StatefulGuard RequestGuard and TokenGuard do not implements the StatefulGuard which include the attempt methods.

The solution for now is to use a custom guard the implements the StatefulGuard hoping that is new versions some one fixes this

[2022-07-02 22:09] andaril commented on #42136
Just had this behaviour with backup package
My config was
[code]
And I got this nice path generation
[code]
[code]
as u can see I got path `toapp` converted to `oapp`

[2022-07-02 22:23] supunkavinda commented on #37706
Still have this issue on Laravel 9.14.1. @osteel Found any workarounds?

[2022-07-03 12:40] MoElkhateeb commented on #20231
I'm looking for something like that, as you mentioned @gmsantos

Is there any way to set a specific schema name for the whole laravel app?

my case:
"I was asked to replace MariaDB with already existed MS Sql Server db which is already has it's own other database schemas and my new one will be alongside with those existed ones"

[2022-07-03 16:23] miscbits commented on #20231
@MoElkhateeb This thread is on a 5 year old version of Laravel so chances are your issue is not related to what's going on here. The issue in the original thread here is the behavior of migrations when we have a multi-schema application. As far as I can tell what you are trying to do is specify the schema in your database config file. Either edit this line or add DB_DATABASE to your environment.

[2022-07-04 09:50] jessealkema opened #43049 "Eloquent: custom generated name is laravel_reserved_0, when checking for deleted_at the generated name is prefixed"
- Laravel Version: 8.83.18
- PHP Version: 8.0.14
- Database Driver & Version: Mysql (Using mariaDB 10.3.34)

### Description:
When making use of eloquent models with a parent reference to itself eloquent automatically makes a customized table name. If the model uses the soft deletes trait the check on the deleted_at column should take place with the custom table name. But the prefix is added to th

[2022-07-04 10:04] jessealkema commented on #43049
We maintain our own internal modules through packages and handle table prefixes through a base model in the module. It seems that the eloquent function `getTable` is called to retrieve the generated name. To fix this problem for now I've added `laravel_` to the prefix checker.
[code]

[2022-07-04 11:29] foremtehan opened #43050 "Duplicated `Request created successfully` when using `-a`"
- Laravel Version: 9.19.0
- PHP Version: 8.1
- Database Driver & Version: PostgreSQL

### Description:

When using `-a`in artisan command, The output has duplicated `Request created successfully` :

![image](https://user-images.githubusercontent.com/53290883/177145843-4d66dcf8-6d0f-4aca-843c-d26dbdf6c9bc.png)

### Steps To Reproduce:

[code]

[2022-07-04 11:58] #43050 closed

[2022-07-04 12:13] agumaxwellforcode commented on #33613
Run
[code]

[2022-07-04 12:13] agumaxwellforcode commented on #33613
Run
[code]

[2022-07-04 14:18] axelthat opened #43055 "The script tried to call a method on an incomplete object"
- Laravel Version: 9.0.11
- PHP Version: 8.0.18
- Database Driver & Version: Percona MySQL v8.0.28-20

### Description:

I just upgraded to Laravel 9 from v8 and suddenly I'm starting to get this error,

[code]

The error is coming from the following file, line 33 which is `dispatch(...)`:

[code]

What do you think I am doing wrong? I also tried asking on stackoverflow but no luck.

### Steps To

[2022-07-04 15:50] driesvints commented on #43055
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-04 15:50] #43055 closed

[2022-07-04 16:14] faisalabuzaid opened #43056 "In Testing Fakes, Notification Fake, in sendNow method if notifiableChannels is empty, the notification shouldn't be pushed to notification or sent"
- Laravel Version: 9.19.0
- PHP Version: 8.0.2
- Database Driver & Version:

### Description:
The notifiable channels shouldn't be empty, when sending a notification.

### Steps To Reproduce:
Add check statement for notifiable channels before pushing the notification and continue if empty while looping through notifiables, or move the exist notifiable check statement outside the shouldSend method

[2022-07-05 09:51] madbob commented on #32254
This is not fixed: the solution merged in #41956 is a bit too optimistic and do not considers the length of paths concatenated to the components' rendered strings (more exactly in `FileViewFinder::findInPaths()`), so the resulting path coming to `Filesystem::exists()` may still be longer than `PHP_MAXPATHLEN`.

A definitive solution may be to test the length of every string in `Filesystem::exists(

[2022-07-05 09:58] t1m0t commented on #35096
I had to change it to `string` and keep checking values at code level with
[code]

[2022-07-05 16:33] #43039 closed

[2022-07-05 17:34] misog opened #43068 "Blade Props, Attributes and Slots - unexpected behavior"
- Laravel Version: 9.17.0
- PHP Version: 8.1.3

### Description:

This issue exists in anonymous components. Class components were not tested.

Tests A, B, C without `@props` work as expected and `$variable` is always created. In test C, the `$variable` will contain `asSlot` (slot is prioritized):
[code]

However when `@props([])` is defined (empty) then things get unexpected in one case.

Test D

[2022-07-05 19:57] WildEgo opened #43069 "Laravel Request Input Replacing Behavior"
- Laravel Version: 9.19.0
- PHP Version: 8.1.7
- Database Driver & Version: Non relevant

### Description:
When creating a request with file and strings in the same array it overwrites the strings for the files.

Expected behavior: [1, 2, File]
Current behavior: [File, 2]

### Steps To Reproduce:
This [repository](https://github.com/WildEgo/larave-post-parse-reproduction) has everything needed to

[2022-07-06 05:25] nafil-gigsboard commented on #32058
Unable to fix this issue

[2022-07-06 06:48] kailasb10 opened #43073 "idle User logout on session expired. In which file it will check the expiration session time when user is idle?"
- Laravel Version: 8.61.0
- PHP Version: 7.3.32
- Database Driver & Version: MariaDB & 10.5.12

### Description:
I'm trying to do a DB operation when a user is idle for the session expiration time. before the user session is cleared need to update the user status in the database. but it's not working when I refresh the page it redirected to the login page because the user session is already cleare

[2022-07-06 07:59] i-bajrai commented on #42837
I have this issue where the call is to a non-existent class/command @driesvints any insights?

![Screen Shot 2022-07-06 at 3 57 35 pm](https://user-images.githubusercontent.com/3688374/177500115-41f4a673-c9b5-4958-aea8-c59f942780f6.png)
![Screen Shot 2022-07-06 at 3 57 41 pm](https://user-images.githubusercontent.com/3688374/177500180-7350b15a-d07a-4252-a366-b1dff9a67130.png)

[2022-07-06 09:04] i-bajrai commented on #42837
Oh boy...

Thanks php and its magic methods 😵‍💫

The casing is wrong 😭

I solved it with this:

`vendor/laravel/framework/src/Illuminate/Redis/Connections/Connection.php`
![Screen Shot 2022-07-06 at 5 03 04 pm](https://user-images.githubusercontent.com/3688374/177513337-4f5560d9-bb21-4021-a1da-bc3bfebdc4c2.png)

[2022-07-06 13:58] n8udd opened #43078 "GroupBy issue with belongsToMany"
- Laravel Version: 9.19.0 (latest)
- PHP Version: 8.1.7
- Database Driver & Version: 8.0.29

### Description:
When trying to `groupBy` on a `BelongsToMany`, the builder appends pivot values to the `select` which aren't included in the `groupBy`. This is different to the output when using `->toSql()`.

### Steps To Reproduce:

[code]

[code]
Outputs the following:

[code]

Whereas:

[code]
Outputs

[2022-07-06 16:12] #43056 closed

[2022-07-06 16:35] jjjrmy opened #43081 "`Blade::render()` String same as Component Name"
- Laravel Version: 9.2
- PHP Version: 8.1

### Description:

If you have a component with the same name as the text you want to `Blade::render` then it will use that component instead.
This doesn't seem like expected behavior as it's not mentioned in the docs.
I'm sure this only happens in rare cases but when using user inputed content, it can happen.

[code]

I think this is what's causing it.
ht

[2022-07-06 16:54] jjjrmy commented on #43081
Should I submit a PR?

[code]

**\Illuminate\Support\Facades\Blade.php**
[code]
**\Illuminate\View\Compilers\BladeCompiler.php**
[code]
**\Illuminate\View\Component.php**
[code]

[2022-07-07 04:25] amrshakya commented on #18429
@ribeiroplinio I'm also having the same issue where I get this error ```SQLSTATE[42000]: Syntax error or access violation: 1305 SAVEPOINT trans2 does not exist``` and also for committing I use explicit DB::commit() yet I'm still getting the same error.

[2022-07-07 08:04] arafatkn commented on #43078
In a Many-to-Many relationship, Laravel will automatically load the pivot columns which are being used for the relationship between two tables.

[2022-07-07 14:17] timersys opened #43090 "php artisan make:rule Uppercase --invokable produces The "--invokable" option does not exist."
- Laravel Version: 9.17.0
- PHP Version: 8.0.2
### Description:
Following docs  https://laravel.com/docs/9.x/validation#custom-validation-rules I tried to run:
`php artisan make:rule Uppercase --invokable` which produces `The "--invokable" option does not exist.`

[2022-07-07 14:18] timersys commented on #43090
9.19.0 Fixes the issue

[2022-07-07 14:18] #43090 closed

[2022-07-07 14:39] BreiteSeite opened #43091 "Eloquent\Concerns\HasAttributes::castAttribute($key, $value) ignores $value if classCastCache is hit"
- Laravel Version: 8.83.5
- PHP Version: 8.1.6
- Database Driver & Version:

### Description:
`\Illuminate\Database\Eloquent\Concerns\HasAttributes::castAttribute($key, $value)` will ignore the provided value.

A similar problem was reported in #33311.

I think the fix originally described there would have been the better solution, as we are facing the same problem using the owen-it/laravel-auditi

[2022-07-07 15:03] troygilbert commented on #29978
I got bit by this myself. The comments above about why it's not working (because the `BelongsTo` relation doesn't implement  `create()`) are correct. But I can't figure out why it _shouldn't_ work. This seems like a clear bug to me. What am I missing?

[2022-07-08 02:31] assertchris opened #43096 ":prop fails constructor validation"
- Laravel Version: 9.19.0
- PHP Version: 8.1.7
- Database Driver & Version: MySQL 5.7.38

### Description:
`<x-component :prop="$something" />` does not satisfy the following constructor signature:

[code]

This can be resolved by changing the component code to `<x-component prop="{{ $something }}" />`.

[2022-07-08 02:35] assertchris commented on #43096
Not sure if I was running some cached version of the view, but this seems to have been caused by something unrelated.

[2022-07-08 02:35] #43096 closed

[2022-07-08 08:57] Zsolt148 commented on #18551
Same here

[2022-07-08 12:19] acgtwentyone opened #43100 "Collection merge issues when sending email notifications"
- Laravel Version: 9
- PHP Version: 8.1
- Database Driver & Version:myql

### Description:
I am getting error when merging collections of users to send email notifications. Note that without merging it's working as expected.

Console Screenshots:
<img width="624" alt="Screenshot 2022-07-08 at 11 11 37" src="https://user-images.githubusercontent.com/94224806/177989743-3bc0a9d0-674b-44e0-989d-05c241

[2022-07-08 16:22] EAvila34 commented on #30226
Isn't work for me, Laravel 8
[code]
laravel ignores completely this exception!

[2022-07-09 09:42] olivier-perrier opened #43110 "Laravel 9.19.0 with Vite on Windows"
- Laravel Version: 9.19.0
- PHP Version: 8.0.19
- Database Driver & Version: 10.4.24-MariaDB
- node: v16.16.0
- OS Windows 11 21H2

### Description:
Laravel Vite server blanc page.
I tried to deploy last laravel 9.19.0 version including Vite following to steps below. The Vite server seems not working.

### Steps To Reproduce:

Commands lines provided below :
laravel new breeze-test --git
cd breeze

[2022-07-09 13:15] bert-w opened #43113 "Model `increment()` does not update timestamps immediately"
- Laravel Version: 9.x
- PHP Version: 8.x
- Database Driver & Version: N/A?

### Description:
Calling `increment()` (or `decrement()` too probably) on an Eloquent model with timestamps enabled doesn't update the `updated_at` column immediately.

### Steps To Reproduce:
[code]
Result: the second `updated_at` dump shows the same value.
Expected result: show the new `updated_at` value.

When calling

[2022-07-09 19:49] ExecPHP opened #43115 "multipart/form-data is not supported"
- Laravel Version: 9.19.0
- PHP Version: 8.1
- Database Driver & Version: --

### Description:
How to enable multipart support?

Request:
`Content-Type: multipart/form-data; boundary=----WebKitFormBoundary0xxx`

Exemple:
  Header:
     - `accept: application/json, text/javascript, */*; q=0.01`
     - `content-type: multipart/form-data; boundary=----WebKitFormBoundaryEZTjT0mJBxglE228`
 Body:
[code]

[2022-07-09 19:59] bert-w commented on #43115
Never had issues with this. You have to provide a case to reproduce your issue.

[2022-07-09 20:46] ExecPHP commented on #43115
I found the [answer](https://laracasts.com/discuss/channels/laravel/laravel-8-put-multipartform-data-on-update) the problem was in PUT

https://laravel.com/docs/8.x/blade#method-field

However, there is no solution for rest api requests.
If you only send the parameter with a castlet: `_method: PUT`

[2022-07-09 20:46] #43115 closed

[2022-07-10 11:06] ExecPHP opened #43119 "When calling cast in the model on a variable with a file, 8x calls occur"
- Laravel Version: 9.19.0
- PHP Version: 8.1
- Database Driver & Version:

### Description:
If you set cast in the model to the modifier of the variable containing the file, then the modifier class will be called 8 times, but if the variable contains an array of files, then the modifier from the cast will be called 1 time.

[code]

Set function
[code]

### Steps To Reproduce:

[2022-07-10 11:51] bert-w commented on #43113
Line from `protected function incrementOrDecrement(...)`:
https://github.com/laravel/framework/blob/6dd688461ff7a402efc7f939267087ccafebcc96/src/Illuminate/Database/Eloquent/Model.php#L861

Just wanted to add that apparently any properties that you change during the `updating` event are not actually changed in the model. It is simply disregarded. There appears to be an `$extra` parameter for the `

[2022-07-10 12:04] bert-w commented on #43113
https://github.com/laravel/framework/blob/6dd688461ff7a402efc7f939267087ccafebcc96/src/Illuminate/Database/Eloquent/Model.php#L865

Does anything prevent us to use `$this->getDirty()` here for the `$extra` param (or merge them), similar to how it happens in the `update()` function?

[2022-07-10 21:39] webbby opened #43121 "Running 'composer dump-autoload' causes error"
- Laravel Version: 9.2.0
- PHP Version: 8.1.1
- Database Driver & Version:

### Description:
`composer dump-autoload`  causes error

[code]

### Steps To Reproduce:
Create fresh install put new files into project run `composer dump-autoload`

[2022-07-10 23:33] jessarcher commented on #43110
Hi @olivier-perrier, It is expected that the Vite dev server will show a blank screen when accessed directly (e.g. http://localhost:3000). You will still need to spin up a dev server for your Laravel project (e.g. `php artisan serve` or Laravel Sail) to access your Laravel application.

We have tried to make this clearer with https://github.com/laravel/vite-plugin/pull/57 which will be in the next

[2022-07-10 23:33] #43110 closed

[2022-07-11 03:14] BrandonSurowiec commented on #43121
What are these new files? It seems like you are adding your own Facade, but not declaring a binding via a
`protected static function getFacadeAccessor() { return 'binding'; }` method.

https://laravel.com/docs/9.x/facades#main-content
![image](https://user-images.githubusercontent.com/5625680/178181942-f2c5a9c9-d22b-4efc-9e9d-28ff99e128fa.png)

[2022-07-11 08:29] michaelgavan opened #43124 "Need assistance. Upgrading to Laravel 9 from 8"
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - illuminate/support[v8.0.0, ..., v8.11.2] require php ^7.3 -> your php version (8.1.7) does not satisfy that requirement.
    - Root composer.json requires infyomlabs/laravel-generator 8.0.x-dev -> satisfiable by infyomlabs/laravel-generator[8.0.x-dev].
    - Conclusion: don't install laravel/framework v9.

[2022-07-11 10:44] yanalshoubaki commented on #43124
At first, delete vendor folder.
then change laravel/framework version to ^9.19, and change other packages versions to the version that support laravel 9.

I think this will help you.

[2022-07-11 15:25] webbby commented on #43121
True, some lib I didn't notice in overwritten `composer.json` did that

[2022-07-11 16:24] olivier-perrier commented on #43110
Thank you for your answer.
Accessing the dev server (via artisan serve over localhost:8000 for example) does not provide any auto reload of the pages when files are saved. I also tried with version 0.3.0 of vite-plugin. Is it normal ?

[2022-07-11 17:57] rodrigopedra commented on #43124
read more at the docs: https://laravel.com/docs/9.x/contributions#support-questions

[2022-07-12 11:41] nshiro commented on #43069
@WildEgo Hi. 😀
I saw your discussions and I see your point.
Personally, I'd just add an index to the uploaded file.

e.g.

[code]

This is a workaround.

But if you think this is a bug and should be fixed, you can send a PR for it (you already have a fix for it) ⚽ and see how Laravel team thinks about it.
If the fix contains breaking change, then you send a PR for the master branch.

One thing I n

[2022-07-12 12:40] realtebo opened #43142 "($pieces) must be of type array, string given when executing a NOOP via FTP"
- Laravel Version: 8.83.18
- PHP Version: 8.1.#
- Database Driver & Version:

### Description:

We download a list of files. Succesfully. At a certain point we get this

[code]

### Steps To Reproduce:

I cannot help to reproduce. But i cannot understand if the error ir mine, of the server, or of the package itself.,

I have no understand of WHY the ftp adapter is sending a NOOP. But of course the

[2022-07-12 12:43] bert-w commented on #43142
That is another repo. Also if you can't reproduce it than its kinda hard to track down.

[2022-07-12 12:50] driesvints commented on #43069
Hi. This seems like a request in behavior. You are free to attempt a PR if you want.

[2022-07-12 12:50] #43069 closed

[2022-07-12 19:08] ankorstore-haddowg opened #43151 "Scoped container bindings accessed via Facade are not reset"
- Laravel Version: 8.x
- PHP Version: 8.0.26
- Database Driver & Version: Mysql 8

### Description:
Accessing a scoped binding via a Facade will cache the resolved instance statically on the Facade meaning its not reset when the `scopedInstances` are cleared on the container.

I don't belive this is intended/desired or intuitive behavior and it certainly wasn't immediately obvious why my service w

[2022-07-12 19:50] ganapatimoger commented on #10533
Thank you @Bodrosh .
It worked by using pivot table model..

[2022-07-13 01:14] alejandrofloresm commented on #25475
Any suggestion for
[code]

That really executes the drop of the column?

[2022-07-13 01:43] feliciotravareli commented on #43037
I tracked the issue to file _"Illuminate\Http\Resources\Json\ResourceResponse.php"_ in the method "_haveDefaultWrapperAndDataIsUnwrapped_" on line **84** it checks:
`!array_key_exists($this->wrapper(), $data)`
if we remove this condition it works as it should, but I don't know what else this change would imply....

[2022-07-13 08:20] Vrolyx opened #43158 "PendingMail send function missing a @throws TransportExceptionInterface annotation"
- Laravel Version: 9.19
- PHP Version: 8.1.6

### Description:
PendingMail send function is missing a @throws TransportExceptionInterface annotation. This missing annotation will result in a false positive with phpstan. The MailerInterface throws this exception within the Symfony mailer component.

### Steps To Reproduce:

[code]

[2022-07-13 08:29] nicogominet commented on #39665
I'm with you @valkedev @Livijn, I don't understand why `response()->json()` isn't supported.
Either I go back and change all my controllers `return` statements and functions typing or I do exceptions when returning a paginated result and I don't feel comfortable with either of these options.

[2022-07-13 08:50] driesvints commented on #43158
Heya, thanks but these methods don't directly throw this exception. We only add throw annotations to methods that directly throw an exception.

[2022-07-13 08:57] driesvints commented on #43032
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-13 08:57] #43032 closed

[2022-07-13 09:37] driesvints commented on #43073
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-13 09:37] #43073 closed

[2022-07-13 09:41] kerog opened #43162 "InsertOrIgnore skips records in case of error in batch mode"
- Laravel Version: 9.15.0
- PHP Version: 8.1.6
- Database Driver & Version: mysqlnd 8.1.6, database MySQL v8.0.25

### Description:
When I use eqloquent batch insert with insertOrIgnore and insert duplicated key, the whole batch insert fails silently.
Laravel use insert not "insert ignore" directive

### Steps To Reproduce:
1. Create table languages
[code]
2. Create model Language
3. Add to app\Mo

[2022-07-13 10:28] driesvints commented on #42977
I'm going to close this one right now since this really just isn't something we support right now. But I'm hopeful for the PR sent in by @aguingand which looks promising. Thanks all.

[2022-07-13 10:28] #42977 closed

[2022-07-13 10:33] mattford opened #43165 "Incorrect results when using BelongsToMany::sync with SoftDeletes on Pivot model"
- Laravel Version: 8.83.17
- PHP Version: 7.4.30
- Database Driver & Version: mysql 5.7

### Description:

When using the `sync` method on a `BelongsToMany` relationship where the pivot table has SoftDeletes, I'm either not getting filtered results based on my deleted date column, or not able to correctly sync my relation.

With the following relationship config:
[code]

The below will hard delete

[2022-07-13 10:38] Moonrag opened #43167 "HTTP Facade memory exhaustion"
- Laravel Version: 9.19.0
- PHP Version: 8.1.8

### Description:
When I trying to send large amount of data (about 1 million rows .csv file) by parts (25'000 rows each) with Http::post() method it ends with "Allowed memory size of 134217728 bytes exhausted (tried to allocate 18874840 bytes)". There are no issues when using cURL or Guzzle (on which Laravel's facades based on)

### Steps To Reproduc

[2022-07-13 10:40] driesvints commented on #43078
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-07-13 10:40] #43078 closed

[2022-07-13 10:40] driesvints commented on #43167
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-13 10:40] #43167 closed

[2022-07-13 11:00] Moonrag commented on #43167
@driesvints It is exactly bug, because the facade doesn't collect garbage after request, how it can be just a question?

[2022-07-13 11:53] driesvints commented on #43037
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-07-13 11:53] #43037 closed

[2022-07-13 12:11] #43100 closed

[2022-07-13 12:52] BrandonSurowiec commented on #43081
A workaround is to append a character at the start of your string like `#` and then remove it afterwards.

[code]

You can try a PR.

[2022-07-13 13:28] driesvints commented on #43081
Right now we're not planning to make changes to this behavior but you're always free to attempt a PR with a different method. Thanks

[2022-07-13 13:28] #43081 closed

[2022-07-13 13:55] loren-garcia commented on #20190
Totally works! Thanks"

[2022-07-13 14:18] r4y7s commented on #36269
@themsaid Is there any reason for the sync driver, to ignore the config?

`        'sync' => [
            'driver' => 'sync',
            'after_commit' => true,
        ],`

[2022-07-13 14:24] ValentinGaudin commented on #27149
This is a 404 to this link

[2022-07-13 17:07] gerardroche commented on #42883
One of tests failed with the recent release.

I've narrowed the issue down to the `finally` method on a batch of jobs is not being called if there is an exception in one of the jobs **and** the exception occurs before the last job.

For example in the following if the finally method will not be invoked, however if you comment out job 5 and 6 the finally **will** be called. Should we open up a sepa

[2022-07-13 17:08] dansleboby opened #43174 "Validation required field name with asterix not trigger"
- Laravel Version: 8.83.16
- PHP Version: 8.1.4
- Database Driver & Version: MySQL 5.7.33

### Description:
When I have a validation with an asterix like 'user.*.phone' the 'required' rule seems not trigger, because I don't get any errors in the validation.

Thanks

### Steps To Reproduce:
[code]

[2022-07-13 17:37] gerardroche commented on #42883
I just noticed something else, if there is an exception in batch is it rolling back the DB after the finally callback?

[2022-07-13 18:20] abdulrehman25 commented on #18162
This is what worked for me

`<IfModule mod_headers.c>
Header set X-Frame-Options ALLOW
</IfModule>`

[2022-07-13 18:42] acgtwentyone commented on #43100
Hi @driesvints, thanks for reply. Actually i've solved this one by changing from mailtrap to mailhog as mailtrap was unable to handle more than five mails per second.

[2022-07-13 21:44] rodrigopedra commented on #42883
I've tested the first snippet you sent here ( https://github.com/laravel/framework/issues/42883#issuecomment-1183473224 ) without the changes from #42950 and the finally callback is not called when using the sync connection **AND** allowing failures.

When not allowing failures it works as expected

After first inspection it seems to be a different issue, specific to the command bus, but my feelin

[2022-07-13 22:00] brausepulver opened #43178 "Paginator::resolveCurrentPage returns unexpected default value"
- Laravel Version: 9.17.0
- PHP Version: 8.1.2

### Description:
Hi, this is a very minor issue. I was trying check whether a route is paginated using `Illuminate\Pagination\Paginator::resolveCurrentPage(default: false)`. Even though no pagination is ongoing, this returns 1 rather than false. Maybe it would be possible to return null in the default currentPageResolver: https://github.com/laravel/f

[2022-07-13 22:46] #43162 closed

[2022-07-14 04:45] jackbaron commented on #20356
@michaeltansy have you got a solution?

[2022-07-14 06:05] driesvints commented on #43178
This value should always be an int higher than 1:

https://github.com/laravel/framework/blob/c99868f1c9bf2f5d250993121838db905591864f/src/Illuminate/Pagination/AbstractPaginator.php#L502

[2022-07-14 06:05] #43178 closed

[2022-07-14 09:09] MooseSaeed opened #43184 "Ignored Subdomains on Redirection"
- Laravel Version: 9.19.0
- PHP Version: 8.1.2
- Database Driver & Version: MySQL 8

### Description:

I'm using Laravel with JetStream, InertiaJS --SSR and VueJS. I'm working with this form that submits a store request to `products/create` in order to create a new product, then I'm trying to return and redirect to view the product with subdomain as the username of the product owner like this `{us

[2022-07-14 09:19] driesvints commented on #43184
Hey @MooseSaeed. I see you solved it here: https://github.com/inertiajs/inertia-laravel/issues/431. Glad you figured that out 👍

[2022-07-14 09:21] MooseSaeed commented on #43184
I solved cors errors issue upon redirect but the above mentioned issue is not solved yet unfortunately.

[2022-07-14 10:12] brausepulver commented on #43178
Maybe the documentation should state the higher than 1 constraint in that case, since I could also pass a default of 0 and expect it to return that.

[2022-07-14 11:11] Daniil-Solovyev commented on #33141
I got the same problem. The only thing that helps is getting the table through the DB facade instead of getting the model through Eloquent. DB:table('my_table')->get() instead of Model::get(). Maybe it will be useful for someone.

[2022-07-14 11:36] jan-edge opened #43185 "Laravel v9.19.0 vite causes incompatibility with vendor packages that rely on mix() helper function."
After upgrading to Laravel v9.19.0 I noticed that the assets of some vendor packages wouldn't load. These vendor packages are Laravel 9.x compatible, but rely on `mix()` to load their assets. According to the [Bundling Assets (Vite)](https://laravel.com/docs/9.x/vite) documentation, they should use `@vite` instead of `mix()` . This breaks backwards compatibility for all packages using `mix()` as o

[2022-07-14 11:41] driesvints commented on #43185
If you rely on `mix` for some packages then `vite` is unfortunately not an option for you. These packages will need to be updated first. Afaik there's no BC break as the mix helper is still there for you to use.

[2022-07-14 11:41] #43185 closed

[2022-07-14 11:41] driesvints commented on #43185
Also please fill out the issue template next time.

[2022-07-14 14:20] gerardroche commented on #42883
Cool. Note that changing `allowFailures` doesn't make any difference in my testing. The finally method is called fine if no exceptions are throw. It's also called if the exception occurs in the last job in the batch. It's not called if the exception occurs before the last job.

There may be one other separate issue too: it looks like the finally call is wrapped in a db transaction so when an excep

[2022-07-14 15:30] #43034 closed

[2022-07-14 15:41] driesvints commented on #43049
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-07-14 16:41] jjjrmy commented on #43081
so what method name would you suggest?

[2022-07-14 17:01] MooseSaeed commented on #43184
This is driving me crazy! Subdomains isn't working even if I hard set the redirect like this redirect()->to('http://username.example.test/productSlug') it gives me in the browser url example.test/productSlug only. I even used Inertia to redirect from the frontend to a url and did the same. The only thing that works is using `Inertia::location()` but this causes a full page refresh.

[2022-07-15 01:29] jryd opened #43192 "Validating field names or values that contain a pipe no longer work in Laravel 9"
- Laravel Version: 9.19.0
- PHP Version: 8.1.1
- Database Driver & Version: Postgres 13.6

### Description:
We've been in the process of upgrading a project from Laravel 8 to Laravel 9.

Our project receives a number of requests from an external system that sends data to our platform as JSON where the "keys" often contain special characters - including the pipe character.

We've built a number of

[2022-07-15 06:58] Sairahcaz opened #43197 "Builder::whereRaw with multiple bindings gives SQL error: SQLSTATE[HY093]: Invalid parameter number"
- Laravel Version: 8.83.14
- PHP Version: 8.0.19
- Database Driver & Version:  8.0.27 MySQL Community Server - GPL

### Description:
If I bind values to whereRaw it gives the following error:

[code]

If I dont bind values it works...

### Steps To Reproduce:

[code]

**Fails:** (with binding)

[code]

**Works:** (without binding)
[code]

[2022-07-15 07:37] driesvints commented on #43119
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-07-15 07:37] #43119 closed

[2022-07-15 07:40] driesvints commented on #43068
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-07-15 07:40] #43068 closed

[2022-07-15 07:41] driesvints commented on #43184
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-07-15 07:46] driesvints commented on #43151
That's odd because that's exactly what's done here: https://github.com/laravel/octane/blob/1.x/src/CurrentApplication.php#L24

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [lat

[2022-07-15 07:47] #43049 closed

[2022-07-15 09:17] driesvints commented on #43197
You're adding the placeholders like `'?'` while they should be added as `?`

[2022-07-15 09:17] #43197 closed

[2022-07-15 09:27] driesvints commented on #43192
Hi @jryd. I don't think we ever intended fields with pipe characters to be supported. Therefor we don't consider this a breaking change. Sorry that this is causing issues for you.

[2022-07-15 09:27] #43192 closed

[2022-07-15 09:40] driesvints commented on #43036
Hi @MikeParkin, this is intended. There is no mechanism in Laravel that saves the timezone for you. You need to convert the timezone to UTC first and then save it. In general, it's always recommended to work with UTC based timestamps and save the timezone in a separate column.

[2022-07-15 09:40] #43036 closed

[2022-07-15 10:10] MooseSaeed commented on #43184
Hello @driesvints ,

Please find the [requested repo](https://github.com/MooseSaeed/bug-report).

Readme has the steps and current behavior gif

![Laravel-bug](https://dev-to-uploads.s3.amazonaws.com/uploads/articles/upf75jcfjdjbfy4jg31m.gif)

[2022-07-15 10:21] Kussie commented on #43192
Honestly I think that's a bit short sighted, as the original poster stated this has been working right through all versions until Laravel 9, as he also mentioned there was similar issues occurring for Regex fields however it was fixed there, pipes in field names are an acceptable character according to the spec.  Seems a bit overbearing to be trying to dictate how potentially third party and exter

[2022-07-15 10:38] driesvints commented on #43192
If someone would come up with a PR to make this work we can definitely consider it 👍

[2022-07-15 11:41] FrancisMawn opened #43201 "Using URL::defaults() breaks tests"
- Laravel Version: 9.20.0
- PHP Version: 8.0.21
- Database Driver & Version: MySQL 8.0

### Description:
Since v9.19.0 this functionality is broken. If you setup a URL::defaults in your TestCase class (or any test class for that matter), all controllers using parameters injection will miss those default parameters.

### Steps To Reproduce:

**routes/web.php**
[code]

**tests/Features/ExampleTest.p

[2022-07-15 11:47] driesvints commented on #43184
@MooseSaeed can you consolidate all your custom changes into one commit please? Without the installation of jetstream.

[2022-07-15 12:19] it4need opened #43202 "Components non-property data will not been parsed with escaped blade string"
- Laravel Version: Laravel Framework 9.13.0
- PHP Version: PHP 8.1.6

### Description:
When I have a route:
[code]

and my view `backend::test` contains:
[code]

and my components php file contains:
[code]

and my component view file `backend::_components.test` contains:

[code]

everything works fine as I would predict it. The result is:
[code]

The problem occurs if I'm going to uncomment the la

[2022-07-15 12:19] MooseSaeed commented on #43184
@driesvints I hope I haven't messed the repo up :D , I think I merged all custom changes to one commit `'custom changes'`. If You need the whole thing all over again, please let me know.

[2022-07-15 12:28] driesvints commented on #43202
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-07-15 12:54] it4need commented on #43202
@driesvints Thanks for your potential help! Here is the repo url: https://github.com/it4need/laravel-framework-43202

[2022-07-15 13:22] BreiteSeite opened #43204 "Wrong doctype \Illuminate\Contracts\Container\ContextualBindingBuilder::give()"
- Laravel: latest 8 & 9

### Description:

Documentation states that injecting any primitive value (such an int) is okay:
<img width="821" alt="image" src="https://user-images.githubusercontent.com/2171105/179231500-aeb8f414-0bea-4851-a9a7-800521232d68.png">

However, the docbloc only accounts for string
https://github.com/laravel/framework/blob/ca3c274725a62fb464327f92324de9cf647abe5a/src/Illumin

[2022-07-15 13:28] driesvints commented on #43204
Please don't open issues for docblocks. Nothing is broken here. If you want to change a docblock type feel free to send in a PR.

[2022-07-15 13:28] #43204 closed

[2022-07-15 14:13] michael-rubel commented on #41894
@driesvints Faced the same issue.

[2022-07-15 14:15] driesvints commented on #41894
We're currently not going to invest time into solving this sorry. Please clear your batches before upgrading.

If you can, a PR is appreciated.

[2022-07-15 14:59] driesvints commented on #43201
We reverted the causing PR. Thanks

[2022-07-15 14:59] #43201 closed

[2022-07-15 15:01] driesvints commented on #42707
We had to revert the fix for this.

@ksassnowski next week I'm going to look into reverting all code related to the original PR by you. There's been too many breakages unfortunately. I think for now, we're going to consider https://github.com/laravel/framework/pull/42425 as a no-fix.

[2022-07-15 17:17] driesvints commented on #42967
Sorry. Didn't get to it this week.

[2022-07-15 20:46] trijulio commented on #32519
Like @driesvints said, i remove the "use App\Http\Controllers\...Controller" and worked

Thanks 😃

[2022-07-15 21:05] ankorstore-haddowg commented on #43151
Apologies I actually never tested if the issue existed in an a octane context just assumed without checking 🙈.

My own issue was simply within queue workers in a vanilla laravel application.
I believe the issue is that this same Facade method call you linked to is not present here: https://github.com/laravel/framework/blob/9.x/src/Illuminate/Queue/QueueServiceProvider.php#L198 in the workers reset

[2022-07-15 21:57] zaghadon opened #43214 "Add Flags to Route Listing, to enable listing a particular Routes file like php artisan route:list --api-only"
### Discussed in https://github.com/laravel/framework/discussions/43213

<div type='discussions-op-text'>

<sup>Originally posted by **zaghadon** July 15, 2022</sup>
Can We Add Flags to Route Listing, to enable listing a particular Routes file like `php artisan route:list --api-only` to list only the API Routes, or `php artisan route:list --web-only` and so forth.

First String in the flag should

[2022-07-15 22:10] ankorstore-haddowg commented on #43151
Have raised pr to fix to 8.x, many thanks!
https://github.com/laravel/framework/pull/43215

[2022-07-16 01:26] SamuelMwangiW opened #43216 "ClassMorphViolationException exception with `model:show` artisan command"
- Laravel Version: 9.x-dev
- PHP Version: 8.1.7
- Database Driver & Version: Mariadb 10.7

### Description:
Thanks a lot for the amazing work @jessarcher on #43156 .

Am getting an `Illuminate\Database\ClassMorphViolationException` because I have Relation::enforceMorphMap for some classes. Kindly confirm if this is the desired behavior
<img width="413" alt="image" src="https://user-images.githubus

[2022-07-16 02:01] yazeed opened #43217 "Factory uses getForeignKeyName instead of getForeignPivotKeyName on morphToMany/belongToMany relationship"
- Laravel Version: 9.19
- PHP Version: 8.1.7
- Database Driver & Version: Postgres 14.4

### Description:
Factory has a bug where it tries to use getForeignKeyName() method instead of getForeignPivotKeyName() method on morphToMany or belongsToMany relationships causing the following error:

[code]

### Steps To Reproduce:

- Create 4 models following the morph-to-many example from Laravel document

[2022-07-16 03:24] parmonov98 opened #43218 "cli and web execution using different database host"
- Laravel Version: "^8.75"
- PHP Version: 8
- Database Driver & Version: Mysql 5.7

### Description:

### Steps To Reproduce:
create laravel project and put it in docker container (laradock)
create a artisan command and make a query to DB using any model.

![image](https://user-images.githubusercontent.com/24564577/179337345-480e008f-a61a-49cd-90ac-c9179682d3d3.png)

in my case: I set DB_HOST=mysq

[2022-07-16 03:35] jessarcher commented on #43216
Hi @SamuelMwangiW, I think this is expected. The `tokens` and `notifications` relationships on your `User` model are both `MorphMany` relationships, so you'd need to specify a morph map for them to work in this scenario. You would get the same exception if you tried to access those relations anywhere else in your application.

If you're not using these relationships, you may consider removing the

[2022-07-16 03:35] #43216 closed

[2022-07-16 03:43] jessarcher commented on #43218
Hi @parmonov98, This doesn't seem like a Laravel issue.

The Docker host `mysql` will not resolve on your host machine, so you would need to run your artisan command inside a container on the same Docker network as the MySQL container, like this: https://laradock.io/documentation/#run-artisan-commands

[2022-07-16 03:43] #43218 closed

[2022-07-16 06:18] zaghadon commented on #43214
Eduance says there's already a way to do this, on the discussion. He said,
"There is already a way to do this; you can use the php artisan route:list --path=api/".

I didn't find this on the documentation, can we include this in the Docs.

[2022-07-16 10:34] ousid commented on #24276
Late in here, but if you faced this error in the latest Laravel versions, when you are testing, use `$this->postJson(...)` instead of `$this->post` to send `Accept: application/json` header along with your request.

[2022-07-16 12:13] SamuelMwangiW commented on #43216
Thanks @jessarcher

[2022-07-17 11:01] Moumit commented on #8972
Just override

[code]

[2022-07-17 16:02] milwad-dev commented on #43214
I work on this

[2022-07-17 16:18] milwad-dev commented on #43113
No bug, I test increment & it's true & update (updated_at)
[code]

[2022-07-17 16:43] zaghadon commented on #43214
Great 👍✅. I already included it in the Documentation, I hope the PR would be merged in coming reviews.

[2022-07-18 02:41] LeoScripts commented on #41690
Thanks. @ArielMejiaDev !

[2022-07-18 03:35] mahmoudmohamedramadan opened #43248 "NULL currently authenticated user in `handle` method of the queue"
- Laravel Version: 9.19
- PHP Version: ^8.0.2
- Database Driver & Version: phpMyAdmin 5.1.1

### Description:

I noticed that when I try accessing the currently authenticated user in the `__construct` magic method everything goes well but, when trying to access it in the `handle` method, it returns NULL.

![issue](https://user-images.githubusercontent.com/48416569/179441514-3f82db03-446b-4957-ab5c

[2022-07-18 07:34] milwad-dev commented on #43248
Are you sure user logged in?

[2022-07-18 08:06] driesvints commented on #43248
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-18 08:06] #43248 closed

[2022-07-18 08:13] driesvints commented on #43214
Please do not move discussions to issues.

[2022-07-18 08:13] #43214 closed

[2022-07-18 09:45] driesvints commented on #43113
I don't think there's a right way to solve this one. Here's an issue with more details on this: https://github.com/laravel/framework/issues/32567.

There's no way to know if the dirty values at the time of incrementing are going to be the values that need to be saved.

[2022-07-18 09:45] #43113 closed

[2022-07-18 10:33] mahmoudmohamedramadan commented on #43248
@milwad-dev Yup, the currently authenticated user data returned on the `__construct ` method

[2022-07-18 10:39] #43151 closed

[2022-07-18 10:43] mahmoudmohamedramadan commented on #43248
@driesvints Sir, it's not a question, it's an issue because I've logged in and the authenticated user's data is back from the `__construct` method, but it returns NULL when trying to access it from the `handle` method.

[2022-07-18 10:58] milwad-dev commented on #43248
You can make property in ``__construct`` and send auth user to property & use in handle :)!

[2022-07-18 11:03] mahmoudmohamedramadan commented on #43248
@milwad-dev I know, I already do it but, it's still an issue.

[2022-07-18 13:36] dakujem commented on #8840
So after 7 years this still hasn't been fixed? I've just run into the issue.

When I add both `TINYINT` and `TINYINT UNSIGNED` custom mapping, only the first one is ever used.

[2022-07-18 14:38] driesvints commented on #43217
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-07-19 00:46] gordenis opened #43266 "Laravel queries database each time Auth::check() is called"
- Laravel Version: 9.19.0
- PHP Version: 8.1.8
- Database Driver & Version: MySQL

### Description:
When authenticating a user (say, with an access token) and the user is not authenticated (not found in the database), the user is `null` and it seems Laravel does not cache the `null` user (the fact that user is not found). As a result, each time I call `Auth::check()`, `Auth::user()`, `$request->us

[2022-07-19 04:41] seriquynh commented on #43266
Do you mean calling Auth::check() multiple times during the single request?

I took a look at where the logic is implemented:

- Auth::check() calls Auth:user() to check whether the resolved user is null.
- If the resolved user is null and token from the request is set, Auth::user() always tries to resolve again whenever it is called. https://github.com/laravel/framework/blob/b9203fca96960ef9cd886

[2022-07-19 06:04] milwad-dev commented on #43266
If cache user sometimes be problem

[2022-07-19 06:27] driesvints commented on #43266
This is the expected behavior.

[2022-07-19 06:27] #43266 closed

[2022-07-19 06:53] OmarElewa21 commented on #23742
@RomuloLim Nice to add a status 404 to the ValidationException.
`throw ValidationException::withMessages([
                $modelPhrase => \App::make($exception->getModel())->modelNotFoundMessage ?? $modelPhrase . ' not found'
            ]);->status(404)`

[2022-07-19 08:08] javadkazemi opened #43270 "not correct load assets with vite"
- Laravel Version: 9.19
- PHP Version: 8.1.6
- Database Driver & Version:

### Description:
hi, i want change build dir to public in vite
not correct load assets with vite when in blade file
@vite('path','')
in parameter two vite function when '' entered not correct load assets
### Steps To Reproduce:

[2022-07-19 08:10] driesvints commented on #43270
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-19 08:10] #43270 closed

[2022-07-19 08:12] driesvints commented on #43217
I'll re-open this once you can provide a repo. Thanks

[2022-07-19 08:12] #43217 closed

[2022-07-19 09:49] driesvints commented on #42967
Hi all, I now realize the usage of `firstOrNew` in combination with `where` statements won't work. The way `firstOrNew` works is by adding the filtering attributes in the array of the first argument:

[code]

And then you'll get the behavior you seek.

[2022-07-19 09:49] #42967 closed

[2022-07-19 09:50] driesvints commented on #43091
I'll re-open this once a repo is provided. Thanks

[2022-07-19 10:38] BenWalters opened #43274 "EloquentUserProvider RetrieveById & RetrieveByToken - Ambiguous ID"
- Laravel Version: 9.11.0
- PHP Version: 8.1.8
- Database Driver & Version: MySQL - 8.0.26

### Description:
SQLSTATE[23000]: Integrity constraint violation: 1052 Column 'id' in where clause is ambiguous
Caused by Illuminate\Auth\EloquentUserProvider:52 (retrieveById)

When applying a global scope to our Users model that also has an ID field, the above mentioned function is not qualifying the fiel

[2022-07-19 10:45] gordenis commented on #43266
In my case it must allow both authenticated and non-authenticated users to access the specific page/route and then, based on the authentication status, allow/disallow some specific features.

[2022-07-19 10:54] gordenis commented on #43266
In my case it must allow both authenticated and non-authenticated users to access the specific page/route and then, based on the authentication status, allow/disallow some specific features within controllers, models, etc. Is there any alternative way I can do that without creating a custom guard/provider?

[2022-07-19 11:03] driesvints commented on #43274
Let's see how your PR goes 👍

[2022-07-19 11:03] #43274 closed

[2022-07-19 11:45] driesvints commented on #43184
I'm sorry @MooseSaeed but I'm going to close this one. I believe something is amis with configuration and this isn't a Laravel or Jetstream issue. Please continue to try a support channel and maybe the Inertia issue tracker.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [D

[2022-07-19 11:45] #43184 closed

[2022-07-19 12:25] driesvints commented on #42883
Let's create separate issues for the other bugs. Thanks all!

[2022-07-19 13:08] Wowu opened #43280 "ShouldBeUnique with DynamoDB provider doesn't work as expected with default configuration"
- Laravel Version: v9.19.0
- PHP Version: 8.1.6

### Description:

According to [documentation](https://laravel.com/docs/9.x/queues#unique-jobs), implementing ShouldBeUnique on job class is enough to ensure only one instance of given job is present in the queue. However, using `dynamodb` cache driver without setting `$uniqueFor` explicitly makes the lock item expire after 1 second, because `expire

[2022-07-19 14:58] BrandonSurowiec commented on #43081
@jjjrmy I would go with that method name for now. If anyone else has a better name, they can suggest it in the PR.

[2022-07-19 15:08] Sairahcaz commented on #43197
Okay thank you!

So maybe the sql error message could/should look different then, cause when I take the sql part and paste it into my sql programm it works perfectly, so this was a bit confusing.

[code]

[2022-07-19 15:16] weavdale opened #43284 "Missing [doctrine/dbal] error when using model:show"
- Laravel Version: 9.21.0
- PHP Version: 8.1.8
- Database Driver & Version: sqlite

### Description:
when runing `php artisan model:show user` I get the error `Displaying model information requires [doctrine/dbal]`

### Steps To Reproduce:

`php artisan model:show user`

[2022-07-19 15:50] aneesdev opened #43285 "Error: Cannot unpack Traversable with string keys when using model:show"
- Laravel Version: 9.21.0
- PHP Version: 8.0.11
- Database Driver & Version: mysql (mariadb 10.3.31)

### Description:

When running `model:show` command I get this error:

![image](https://user-images.githubusercontent.com/92947803/179793846-f2ea7553-1096-4f1b-bca0-a6d0d3dd4d2c.png)

Maybe [these unpacking arrays also work with string-key arrays only in **PHP 8.1**?](https://stackoverflow.com/a/6

[2022-07-19 16:10] aneesdev commented on #43285
@nunomaduro @jessarcher

[2022-07-19 16:24] vaites commented on #42967
Hi @driesvints, I understand what you say but the behaviour is still unexpected. The framework must not allow to do thinks like that where even a core developer like you need to dig into it to know what's happening. If `firstOrNew` does not work with where statements, an exception must be thrown (at least if no attributes are specified).

Using the previous example:
[code]

At least, add a warning

[2022-07-19 16:33] stef686 opened #43289 "Error with model:show artisan command with model named "Event""
- Laravel Version: 9.21.0
- PHP Version: 8.1.1
- Database Driver & Version: MySql

### Description:
I have a model called **Event**. Running the new `php artisan model:show Event` command outputs an error:

![image](https://user-images.githubusercontent.com/917453/179802224-f9e7b0a7-f6ee-4c12-95b2-8d235298455e.png)

Running `php artisan model:show /Event` works correctly.

### Steps To Reproduce:

[2022-07-19 17:18] driesvints commented on #42967
Feel free to attempt a pr 👍

[2022-07-19 17:40] vaites commented on #42967
No problem. Must I fix the problem or do you want me to add the warning on docs?

[2022-07-19 18:50] MirzaazriM opened #43292 "On logout session destroyed but new session created and user is still logged in"
- Laravel Version: 8
- PHP Version: 7.4
- Database Driver & Version: MySQL 5.7

### Description:
On logout session destroyed but new session created and user is still logged in
Logout -> session destroyed -> user redirected -> code goes through middlewares -> in VCT middleware user session exists

### Steps To Reproduce:
On logout following code is executed:
$this->guard()->logout();
$request->ses

[2022-07-19 20:45] ejunker opened #43298 "Error with model:show and enum column"
- Laravel Version: 9.21.0
- PHP Version: 8.1.6
- Database Driver & Version: MySQL 5.7.34

### Description:

I have `doctrine/dbal` installed and I get this error:

[code]

I then read that I might need to map enum to a string so in my AppServiceProvider I added this:
[code]

That did not fix it but now getting a different error:
[code]

[2022-07-20 00:25] jessarcher commented on #43298
Hi @ejunker,

I'm not sure if the second error is related to the first. When using an enum column I am able to show the model successfully after registering the enum mapping.

Could you please provide more information about your `Member` model? If you're unable to provide the full class, it would be great to at least know:

* What class it extends.
* What types of relations it has (e.g. `hasMany`)

[2022-07-20 00:49] rodrigopedra commented on #43292
For routes inside the `web` middleware stack a visitor will always have a session sent back, either if they are logged in as a user or not.

A session is not bound to the authentication flow. When using session based authentication the logged in user id will be stored in the session data. On logout this session is destroyed and on the same response a fresh new session cookie is sent. This is one s

[2022-07-20 01:16] jessarcher commented on #43285
Sorry about that @aneesdev! I've addressed this in #43301.

[2022-07-20 01:16] #43285 closed

[2022-07-20 01:19] jessarcher commented on #43298
@ejunker The error should be prevented with #43301, but I'd still like to know more about your model in case there's anything else we should be doing.

[2022-07-20 01:19] #43298 closed

[2022-07-20 01:28] jessarcher commented on #43284
Hi @weavdale,

You'll need to install `doctrine/dbal` for this command to be able to inspect your database.

[code]

@nunomaduro has a PR to do this automatically for you in future.

[2022-07-20 01:28] #43284 closed

[2022-07-20 01:39] jessarcher commented on #43289
Sorry about that @stef686! There was an issue with any models that share the same name as an aliased facade. #43301 address this.

[2022-07-20 01:39] #43289 closed

[2022-07-20 03:10] lly0414 opened #43302 "Problem with requesting resource routing urls in quick succession"
- Laravel Version: 9.19.0
- PHP Version: 8..1.8
- Database Driver & Version: mysql: 8.0

### Description:
When I request my show() method in quick succession for a second, I get a parameter error,
The method has a required parameter of int type $id, the following error will occur during continuous requests, and it will return to normal after a few seconds, and no error will be reported for discont

[2022-07-20 05:49] MirzaazriM commented on #43292
Yes, auth middleware is set on the route, and that is my problem - if i logged out how can it be that after redirect I have authenticated user, if I didnt logged in again.
As wrote already, just before redirect on logout route my auth()->user() is null, but already in VerifyCsrfToken (during the redirect) I have authenticated user.

I noticed that on my homepage there are some Ajax requests which

[2022-07-20 08:06] bhojkamal opened #43304 "issue with build with new default vite - how to build the bootstrap and admin-lte packages?"
- Laravel Version: 9.20
- PHP Version: 8.0.15

### Description:
It was easy before with laravel-mix and it is removed in new laravel and we don't have good documentation for us who develop small application using bootstrap and admin-lte packages.

Before it was working perfectly with the following code for laravel-mix in `bootstrap.js`
[code]
and on app.js just this -> `import './bootstrap';`

Now

[2022-07-20 08:15] driesvints commented on #43304
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-20 08:15] #43304 closed

[2022-07-20 09:23] driesvints commented on #43292
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-20 09:23] #43292 closed

[2022-07-20 12:59] dominikhalvonik opened #43313 "Problem with illuminate/console - Call to undefined function resolve()"
- Lumen Version: v9.0.3
- PHP Version: 8.1.4-FPM
- Database Driver & Version: MySQL 8.0

### Description:
Hi guys, today we tried to do a release on QA env of our application which is wrriten in Lumen. The application is build as Docker Image and served as K8s Pod with 2 containers - NginX 1.20 / PHP-FPM 8.1.4. After the Pod is created we run php artisan migrate. We noticed that our application th

[2022-07-20 13:05] acgtwentyone opened #43315 "Unable to get database notifications created_at field converted to Carbon diffForHumans"
### Discussed in https://github.com/laravel/framework/discussions/43282

<div type='discussions-op-text'>

<sup>Originally posted by **acgtwentyone** July 19, 2022</sup>
Hi,

We have an application running in production and displaying notifications as well. We have implemented this functionality using Laravel [Notifications](https://laravel.com/docs/9.x/notifications). As part of this implementati

[2022-07-20 13:26] janyskk commented on #43313
Same issue happend to us. please fix asap

[2022-07-20 13:27] mgemmel commented on #43313
I just updated project and same issue... pls fix

[2022-07-20 13:27] marcinovp commented on #43313
I have the same issue

[2022-07-20 13:28] martinrozboril commented on #43313
same issue, fix please

[2022-07-20 13:29] 10peter10 commented on #43313
We've got same issue,
please fix it asap.

[2022-07-20 13:29] DevilQo commented on #43313
I have the same issue

[2022-07-20 13:32] duansk75 commented on #43313
Same problem here, please fix.

[2022-07-20 14:34] simaodiascosta opened #43318 "[9.x] Queue monitor dispatched everytime"
In the fresh new look for artisan, @nunomaduro introduced a bug when comparing the current number of jobs with the maximum threshold to dispatch events.

The comparison in this line 147 will always be false because the value set in the line 112 is no longer just `OK` but `<fg=green;options=bold>OK</>`
https://github.com/laravel/framework/blob/a105ae5d14a86c75706cf2e5fa802a215ae60666/src/Illuminate

[2022-07-20 14:55] nunomaduro commented on #43313
This is fixed: https://github.com/laravel/framework/releases/tag/v9.21.1.

[2022-07-20 14:55] #43313 closed

[2022-07-20 15:28] aneesdev commented on #43315
Then I think you need to parse it using carbon yourself like this:

[code]

[2022-07-20 15:49] #43318 closed

[2022-07-20 17:08] streamingsystems opened #43325 "[9.x] Custom database migration in 9.21.0 does not work like it did in 9.20.0"
- Laravel Version: 9.21.0
- PHP Version: 8.1.8
- Database Driver & Version: Mysql

### Description:

Hi,

I have my own database migration for a multi-tenant system. This has been working for years (since Laravel 6) and all of a sudden when I upgraded from 9.20.0 to 9.21.0 it broke.

[code]

Each of my tenants has their own database and I run a migration on the new database to create all of the ta

[2022-07-20 17:34] nunomaduro commented on #43325
Found the issue, working on the fix right now.

[2022-07-20 17:56] nunomaduro commented on #43325
@streamingsystems We already have prepared the fix for this issue. Taylor will review it soon.

[2022-07-20 17:56] rpmcmurphy commented on #15576
$query->paginate() overrides the select() method and brings everything. Any way around for paginated results?

[2022-07-20 17:58] #43325 closed

[2022-07-20 18:40] streamingsystems commented on #43325
Sounds great, thanks guys much appreciated. I thought I was going crazy for a few minutes this morning :)

[2022-07-20 20:05] ejunker commented on #43298
@jessarcher this is a strange one. It turns out that a commented out line of code was the problem

[code]

Since the commented out line contains `hasMany` it incorrectly thought it was a relationship.

[2022-07-20 23:40] jessarcher commented on #43298
@ejunker Thanks! Makes sense. My PR will address that scenario because it ensures that a `Relation` instance is returned from the method.

[2022-07-20 23:45] programmin1 opened #43328 "Pagination buttons are huge after upgrading Laravel"
- Laravel Version: v9.21.3
- PHP Version: 8.1
- Database Driver & Version: mysql  Ver 15.1 Distrib 10.1.48-MariaDB, for debian-linux-gnu

### Description:

After upgrade of Laravel and PHP, I found that the prev/next selectors are a really enormous svg icon:
[code]
20 what? 20 lines? That appears to be what it is setting.
If I change it to viewBox="0 0 20px 20px" it is at least as small as the oth

[2022-07-21 07:59] dc-jahanzaib commented on #32995
var html =  '<a href="'+('{{route('your.route.name', [':id', 'source' => $yourQueryPrams])}}').replace(':id', yourID)+'">';

[2022-07-21 08:02] driesvints commented on #43328
@programmin1 are you on the latest bootstrap 5 version?

The default classes got changed here: https://github.com/laravel/framework/pull/43319

[2022-07-21 08:13] driesvints commented on #43315
Please don't move discussions to issues.

[2022-07-21 08:13] #43315 closed

[2022-07-21 12:01] RikSomers opened #43339 "expectsOutput on PendingCommand does not work with new artisan look"
- Laravel Version: 9.21.3
- PHP Version: 8.1.4
- Database Driver & Version: n/a

### Description:
When you try to assert an output for a command, it does not work correctly for the commands that use the new artisan look.

Following the docs (https://laravel.com/docs/9.x/console-tests) this is the only way to assert output of these commands, which is now broken.

### Steps To Reproduce:
[code]

Abo

[2022-07-21 12:04] nunomaduro commented on #43339
That's expected. The `expectsOutput` works with our public API to display output:

[code]

[2022-07-21 12:04] #43339 closed

[2022-07-21 12:05] RikSomers commented on #43339
Ok.. But how should I test this code then @nunomaduro ?

[2022-07-21 12:11] nunomaduro commented on #43339
@RikSomers You want to test framework commands from your application?

[2022-07-21 12:46] RikSomers commented on #43339
We have a command that has extended a framework command and want to make sure the framework portion of the command is still being called correctly.

But even if we didn't, there is no (easy/documented) way to test the new output now, if we wanted to use the new structure ourselves?

[2022-07-21 12:53] nunomaduro commented on #43339
The new output is not public, meaning that you are suppost to use `$this->components->info` yourself. Yet, to under your question, you can use:

[code]

[2022-07-21 13:05] RikSomers commented on #43339
Ah great, that works! Thanks 👍

[2022-07-21 13:10] boogiefromzk commented on #32607
@mfn Great feature, thank you!

[2022-07-21 13:31] asterism612 opened #43341 "...fix"
fix

[2022-07-21 13:34] #43341 closed

[2022-07-21 14:39] pratikshap31 commented on #9625
is it solved??

[2022-07-21 14:46] pablorsk commented on #33238
#### Laravel 8 + DigitalOcean database

💡 Just add the first statement to your migration:

[code]

[2022-07-21 15:05] WouterFlorijn opened #43346 "actingAs makes user available without specifying guard in controller"
- Laravel Version: 8.78.1
- PHP Version: 8.1.8
- Database Driver & Version: MySQL

### Description:

When using `actingAs($user, 'some-guard')` in endpoint tests, there is no need to specify a guard in the relevant controller method when calling e.g. `$request->user()`. E.g., when using api authentication for routes outside of `auth:api` middleware, `$request->user()` will return a user when `acti

[2022-07-21 15:20] daanadriaan opened #43349 "View::composer('layouts.master') view file is not found after upgrade to Laravel 9"
- Laravel Version: 4.12.6
- PHP Version: 8.0.20

### Description:
Since upgrading to Laravel 9, View::composer('layouts.master') is not found as a view file. The file is in /views/layouts/master.twig and is extended by all page view files.

View::composer('*') does the trick, so the issue is in the 'layouts.master'. I don't want all view files to go though the view composer so '*' is not a solutio

[2022-07-21 15:26] taylorotwell commented on #43280
Can you make a PR to fix the issue?

[2022-07-21 15:42] Minhyme opened #43350 "updateOrCreate ignoring mutator"
- Laravel Version: 9.20.0
- PHP Version: 8.1
- Database Driver & Version: MySQL 8.0.28

### Description:
When using updateOrCreate on a model which uses a mutator, the mutator is not utilized in determining if the attributes match a given record in the DB. This results in duplicates being created in the database.

### Steps To Reproduce:

Add mutator to model such as:
[code]

Call updateOrCreate o

[2022-07-21 17:10] milwad-dev commented on #43328
Add bootstrap to service provider

[2022-07-21 17:24] driesvints commented on #43328
I think you're probably not on the latest bootstrap version. Please upgrade and try again.

[2022-07-21 17:24] #43328 closed

[2022-07-21 18:13] farmani opened #43353 "Laravel 9.21 break guards on laravel octane"
- Laravel Version: 9.21.0
- PHP Version: 8.1.8
- Database Driver & Version: Mongodb

### Description:

I'm using octane and openswoole after upgrading to laravel 9.21 all guards stop working and cannot authenticate logged in users and return 401 (unauthenticated)
revert to laravel 9.20 resolve the issue.

### Steps To Reproduce:

[2022-07-21 19:48] programmin1 commented on #43328
Upgrade how? There is no mention of Bootstrap in https://laravel.com/docs/9.x/upgrade

[2022-07-22 01:41] rajpt opened #43356 "VerifyCsrfToken Middleware except routes not working"
- Laravel Version: 9.21.5
- PHP Version: 8.1.4
- Database Driver & Version: MariaDB 10.8.3

### Description:
I am trying to exclude csrf verification so added path in VerifyCsrfToken Middleware.

[code]

i also tried various combinations
e.g.

[code]

In my web route
[code]
When i post to the url https://mydomain.com/bounce/sns/email without csrf token it gives me an error
"405 Method Not Allowed"

[2022-07-22 02:39] rajpt commented on #43356
I updated all composer packages and looks like it's working now.

[2022-07-22 02:39] #43356 closed

[2022-07-22 06:07] msonowal commented on #43350
@Minhyme
please share the code of the where you are calling the updaOrCreate with the parameters

[2022-07-22 07:11] driesvints commented on #43350
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-07-22 07:11] #43350 closed

[2022-07-22 07:18] driesvints commented on #43349
Afaik, we don't support twig files.

[2022-07-22 07:18] #43349 closed

[2022-07-22 07:32] driesvints commented on #43353
Hey @farmani. Can you try out 9.21 and revert the changes below to see if that works?

<img width="1384" alt="Screenshot 2022-07-22 at 09 32 06" src="https://user-images.githubusercontent.com/594614/180387686-75648483-6b7e-4476-b117-0020fc182cb4.png">

[2022-07-22 08:25] LrMiLoef commented on #42685
I have also the same issue. By adding the workaround method **_function pipe_streams($in, $out)** the response works fine. Are there any news about this topic?

[2022-07-22 09:02] driesvints commented on #43346
Heya. This looks more like a request to change the behavior for this method. I doubt we're going to do that as that would be a breaking change to users. Feel free to send in a PR with a different solution if you can come up with one. Thanks

[2022-07-22 09:02] #43346 closed

[2022-07-22 09:26] WouterFlorijn commented on #43346
@driesvints I feel like this is more of a bug really, since the method does not do what it implies. I.e. it makes the user available through all guards instead of the just the one specified. So essentially the second argument does nothing in the context of routes with optional authentication. This is inconsistent with its documentation and its behavior on routes with auth middleware.

Anyone relyi

[2022-07-22 09:35] driesvints commented on #43346
@WouterFlorijn you're right. This isn't clear in the docs atm. I've sent in a PR to help clarify the behavior: https://github.com/laravel/docs/pull/8065

[2022-07-22 10:29] LrMiLoef commented on #42685
I'm running the laravel application in an kubernetes environment in the azure cloud.
i mounted an azure persistent storage to the pod.
Now i'd like to return an image that's located on in the mounted folder like this:

`return response()->file('/mnt/test.png');`

this will result an corrupted image:

![image](https://user-images.githubusercontent.com/14238642/180419725-596ecf09-ac0a-4bd4-8a0c-2514

[2022-07-22 10:43] driesvints commented on #43353
Thanks, I've sent in a PR to revert this. We'll cut a new release hopefully soon.

[2022-07-22 10:43] #43353 closed

[2022-07-22 10:49] Eldair opened #43364 "New artisan look on windows"
- Laravel Version: 9.21.5
- PHP Version: 8.1.3
- Database Driver & Version:

### Description:

New artisan look introduced in https://github.com/laravel/framework/pull/43065/files#diff-d2ab9925cad7eac58e0ff4cc0d251a937ecf49e4b6bf57f8b95aab76648a9d34 looks broken on windows 11 using WSL 2 via MS terminal (12pt font size, 140 columns terminal width)

![image](https://user-images.githubusercontent.co

[2022-07-22 13:02] ronnievisser opened #43368 "belongsToMany with table definition produces wrong query."
- Laravel Version: 9.21.4
- PHP Version: 8.1.
- Database Driver & Version: pgsql 13

### Description:
I'm currently migrating our application to use postgres instead of mysql. to make full use of the schema functionality we have to be more specific when using belongsToMany relationship to also include the table with schema prefix since we have a referees table in 2 schema and search_path might tur

[2022-07-22 13:25] driesvints commented on #43368
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-07-22 13:25] #43368 closed

[2022-07-22 14:58] driesvints commented on #43280
We merged a fix. Thanks!

[2022-07-22 14:58] #43280 closed

[2022-07-22 15:48] faeby opened #43371 "Using a custom FormRequest always modify the language of \Locale class from intl PHP extension"
- Laravel Version: 9.21.0
- PHP Version: 8.1
- Database Driver & Version: MySQL / N/A

### Description:
We are using the intl PHP extension to localize dates in our views. Since the [pull request #42080](https://github.com/laravel/framework/pull/42080) was merged, the selected locale is always overriden by the framework when we use a custom `FormRequest` in the controller. The problem is not prese

[2022-07-22 15:49] nunomaduro commented on #43364
We've tested this on Windows 10, and Windows 11, using the software you specified, and we are unable to reproduce your issue. We will need to wait for a few more reports, before spending more time investigating this issue. Meanwhile, fell free to do a pull request that fixes the issue for you.

[2022-07-22 15:49] #43364 closed

[2022-07-22 18:30] NadsonKT commented on #42883
Any predictions on when this bug will be fixed?

[2022-07-22 18:39] rodrigopedra commented on #42883
Not sure you noted the “help wanted” label.

maybe aren’t you the one who is going to help us all with this?

That would be very nice =)

[2022-07-22 19:07] Eldair commented on #43364
Hi @nunomaduro can you send Terminal settings you tested on so I can check it out?

[2022-07-22 22:12] NadsonKT commented on #42883
I want my friend, I just lack time...

[2022-07-22 22:14] NadsonKT commented on #42883
I want, my friend.

I just don't have time

[2022-07-22 23:54] X-Coder264 commented on #43346
This is definitively a bug, a big one. It bit me more than once. What's the point of a test if it passes while the real app behavior is broken? The `actingAs` method behavior should be IMO changed for the next major framework release. It makes no sense for that method to set the default guard (aka call the `shouldUse` method on the `AuthManager`) as that is not something that happens during a real

[2022-07-23 01:47] leuchte opened #43379 "Lazy loaded relations inside whenLoaded()"
- Laravel Version: 9.21.6
- PHP Version: 8.1.7
- Database Driver & Version: SQLite 3.36.0 / MariaDB 10.3.12

### Description:

Hello. When i use `$this->whenLoaded('relation', [])` in my resource file, the checked relation is lazy loaded. This is not a expected behavior, i think. When the relation is not present yet, the code inside the brackets should not be visible in the resource output and the

[2022-07-23 04:47] Rizky92 commented on #43379
You may be able to return the relation as closure that returns plain collection.
[code]

[2022-07-23 08:30] driesvints commented on #43346
We're not going to change the behavior on a patch release and break apps that rely on the current behavior. You're free to attempt a PR to the next major version.

[2022-07-23 08:30] ashkanRimer commented on #42967
Hi @driesvints, thanks for your answering. I think you misunderstood the problem. You know, it is not even about a where clause. Normal `belongsToMany` relationship can cause this problem.

Please check this [image](https://user-images.githubusercontent.com/37025274/180596643-eeac76dd-4f80-4a4d-b43e-958b32b0928d.png) which is taken from the tinker:
[code]
This happens because no ContentPosts are l

[2022-07-23 08:39] daanadriaan commented on #43349
@driesvints Well, up until Laravel 8 Twig was always supported. It stopped working after the upgrade. So unless this was a choice, I would mark actually this issue as unresolved. I will try to find a workaround for now, but I figure lots of people will run into this problem.

[2022-07-23 09:55] vaites commented on #42967
@driesvints indicates that whenever `firstOrNew()` is used, it must receive the conditions in the first parameter, regardless of whether it is done from a relation or directly. But I agree with you @ashkanRimer because [my example](https://github.com/vaites/laravel-first-or-new/blob/3f462582312568f9ef130a011cd287ac2fd6e9dd/app/Console/Commands/TestFirstOrNew.php#L53) is just like yours, where ther

[2022-07-23 10:54] leuchte commented on #43379
Thank you @Rizky92 that helps.

For clarification: When to output a simple collection, its better to use it like that
[code]
Thats, what the documentation says and it works.

In my case, i tried to sum up numbers from the relation within the `whenLoaded()` method

[code]

This does not work, resp. the relationship got lazy loaded. That was the point, where i tested the code in my initial post, not

[2022-07-23 13:43] bmellink commented on #41565
Thanks @andrey-helldar. works like a charm.

@driesvints you indicate  "The current code works as intended" but others (including me) do not seem to agree. Can you elaborate on this? There are multiple use cases as indicated by @chludwig and I can think of a few more (for instance to ensure there is always a logical message on the screen (in the fallback language) when new code is deployed, even i

[2022-07-23 13:55] ashkanRimer commented on #42967
There is a real unexpected behavior when even a model has been attached to the specified model.
As you see in this [image](https://user-images.githubusercontent.com/37025274/180607505-f5c7a5f3-e62d-411e-8215-8886dcc6bbe9.png), my model (ContentPost) already has a file. It has been attached to an UploaderFIle with ID of 207, but in `firstOrNew` method it still gets the first record of UploaderFiles

[2022-07-23 14:16] andrey-helldar commented on #41565
Indeed, if the language of the fallback application is English, then there are no problems, but since this option is placed in the configuration file and allows you to change the localization, then, I think, it will be correct to change the json keys too, and not just php.

[2022-07-24 14:22] hichemfantar opened #43395 "Email content rendered inside code tag when formatted"
- Laravel Version: 9.11
- PHP Version: 8.0.2
- Database Driver & Version: MySQL 8.0.27

### Description:
When I tried formatting the `\resources\views\vendor\notifications\email.blade.php`, everything was rendered inside a code tag.
Not sure if this is a bug with the formatter or the Laravel blade parser however I believe It's related to laravel because from what I've seen, the content hasn't chan

[2022-07-24 14:53] ankurk91 commented on #43395
Please search for existing similar issue.

It is not recommended to format email blade templates

[2022-07-24 15:24] hichemfantar commented on #40356
Same thing happens when formatting is applied to the email file generated by `php artisan vendor:publish --tag=laravel-notifications` related to #43395

[2022-07-24 15:25] hichemfantar commented on #43395
Maybe this should be mentioned in the official documentation?

[2022-07-24 16:53] Rizky92 commented on #43395
This issue isn't related to the framework, but maybe the extension you mentioned. Report to their repository instead.

[2022-07-24 17:29] hichemfantar commented on #43395
@Rizky92 as @ankurk91 already mentioned. The extension works as intended.

This is related to the way Laravel parses email templates apparently.

[2022-07-24 18:04] mattford commented on #43165
My bad, missed that!

For anyone else finding this via Google, I ended up using https://github.com/ddzobov/laravel-pivot-softdeletes for SoftDeletes with pivot tables

[2022-07-24 20:29] Rizky92 commented on #43395
Indeed the extension works as intended. But you shouldn't be formatting your email template since it will be parsed to markdown format, that takes account of indentation.

[2022-07-25 06:36] driesvints commented on #43349
@daanadriaan I really think we never ever supported Twig. I have no idea why it would work for you.

[2022-07-25 06:54] driesvints commented on #42967
I see a PR was submitted. Let's see how it goes.

[2022-07-25 06:56] driesvints commented on #43395
Indented code in a markdown file will always be rendered in a code tag. Don't do that when working with email templates.

[2022-07-25 06:56] #43395 closed

[2022-07-25 06:57] #43379 closed

[2022-07-25 07:49] daanadriaan commented on #43349
@driesvints I'm sorry, you're right! I forgot about [Twig bridge](https://github.com/rcrowe/TwigBridge). That's gotta be it!

[2022-07-25 10:20] driesvints commented on #43371
Please recreate the repo with the following command and commit any custom changes into a single commit:

[code]

Thanks!

[2022-07-25 12:36] faeby commented on #43371
Here is the new repository, created as requested: https://github.com/faeby/laravel-issue-43371
This is my first time submitting a bug report, so I hope this is correct this time.

[2022-07-25 15:03] Mekaeil opened #43409 "Phpunit Variables are not loading on Test Environment"
- Laravel Version: 9.x ( latest version )
- PHP Version: 8.1
- Database Driver & Version: mysql 8

### Description:
Phpunit.xml variables are not loaded on abstract TestCase!
After clearing cache, config, etc., I was unable to create a test environment with different DB.
 It is not possible for me to get the test  environment variable.

### Steps To Reproduce:

There are 2 ways to see the bug:
1.

[2022-07-25 15:06] driesvints commented on #43409
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-25 15:06] #43409 closed

[2022-07-25 19:03] Jungminkyung opened #43415 "Laravel/Eloquent Subquery binding backsquote issue"
- Laravel Version: 9.20.0
- PHP Version: 8.1.6
- Database Driver & Version: mysql.exe  Ver 15.1 Distrib 10.4.24-MariaDB, for Win64 (AMD64)

### Description:
When i was binding Eloquent Model's subquery ,   I find bug that backsqurt is  bad placed
Please see that bold place

This is Error Source

DB::enableQueryLog();
$query = DB::table('quote_requests')->leftJoin('countries as c1', 'quote_requests

[2022-07-25 21:01] Smoggert commented on #43415
Where only handles column = value cases.
are you thinking of whereColumn ?
https://github.com/laravel/framework/blob/9.x/src/Illuminate/Database/Query/Builder.php#L922

aka not a bug.

[2022-07-26 00:17] lloricode commented on #25475
maybe the easiest way to resolve this, is by ignoring dropForeign when not `sqlite`

[code]

[2022-07-26 05:00] Jungminkyung commented on #43415
Thanks . :+1:

[2022-07-26 05:00] #43415 closed

[2022-07-26 05:46] Kolyunya opened #43419 "`route:list` command fails when an exception is thrown from the controller constructor"
- Laravel Version: v9.19.0
- PHP Version: 8.1.8

### Description:
`route:list` command fails when an exception is thrown from the controller constructor.

### Steps To Reproduce:
1. Create a route.
2. Create a controller for the route.
3. Inject a HTTP request into the controller constructor.
4. Throw an exception from the controller constructor, when the request is invalid.
5. Run `php artisan ro

[2022-07-26 07:09] driesvints commented on #43419
I don't think we can really call this a bug in Laravel. This is a more of an issue in your own app.

[2022-07-26 07:09] #43419 closed

[2022-07-26 07:16] Kolyunya commented on #43419
@driesvints how come an unhandled exception is not a bug?

Throwing exceptions from a controller is not a bug. The controller receives an invalid request and it throws a bad request exception which is not handled correctly by the `route:list`.

The command could display everything except for the middleware of one controller and instead, it just fails in the middle of the execution.

[2022-07-26 07:22] driesvints commented on #43419
No exceptions should occur during the instantiation of controllers or middleware. Only when handling controller methods or handling middleware.

[2022-07-26 07:33] Kolyunya commented on #43419
@driesvints is this an actual architectural limitation of the framework? I mean, could anything else (except for the broken `route:list` command) break in case of throwing from the controller constructor?

[2022-07-26 07:54] davidjr82 opened #43424 "Vite override via callbacks is not working"
- Laravel Version: 9.21.6
- PHP Version: 8.1.2
- Database Driver & Version: NA

### Description:
Using this [documentation ](https://laravel-vite.dev/guide/essentials/tag-generation.html#override-via-callbacks) I want to override the vite tag generation, but it throws the following error:
[code]

### Steps To Reproduce:

Install fresh laravel application, and in the service provider insert the fol

[2022-07-26 07:59] driesvints commented on #43424
That's a different package? Maybe try their issue tracker?

[2022-07-26 07:59] #43424 closed

[2022-07-26 08:40] amrography opened #43425 "Can't use 'read' & 'unread' scopes from DatabaseNotification model"
- Laravel Version: 8.x
- PHP Version: 7.4
- Database Driver & Version: mysql 8.x

### Description:

When trying to make a simple query for `DatabaseNotification` model. `DatabaseNotification::unread()->where('type', 'danger')->get()`, it throws an error. Because, it calls the **[unread](https://github.com/laravel/framework/blob/9d0dffff96c33939b1be336655ad12523138d16c/src/Illuminate/Notifications/

[2022-07-26 09:01] Rizky92 commented on #43425
Turns it into query first.
[code]

[2022-07-26 09:15] driesvints commented on #43425
You indeed need to turn it into a query first. Thanks @Rizky92

[2022-07-26 09:15] #43425 closed

[2022-07-26 09:35] LocalHeroPro commented on #38232
Issue still exists in 8.53.0

[2022-07-26 09:39] garethdaine opened #43427 "syntax error, unexpected token ")" when using version 6.0 of symfony/css-selector as part of illuminate/mail dependencies."
- Laravel Version: ^8.40
- PHP Version: ^8.0
- Database Driver & Version: Serverless v1 MySQL 5.7 (Laravel Vapor)

### Description:

I've come across a bug when sending out email via AWS SES (on Laravel Vapor) when the version of **symfony/css-selector** a dependency of **tijsverkoyen/css-to-inline-styles** which is a dependency in **illuminate/mail** is version 6.0.

Essentially, any time an emai

[2022-07-26 09:39] driesvints commented on #43371
Thanks. I've sent in a PR for this: https://github.com/laravel/framework/pull/43426

[2022-07-26 09:46] driesvints commented on #43427
Symfony v6 is not compatible with Laravel 8. Please upgrade to Laravel 9.

[2022-07-26 09:46] #43427 closed

[2022-07-26 09:59] garethdaine commented on #43427
Understood, but the dependencies and versions used are coming from **illuminate/mail** and we've not manually modified these (only added symfony/css-selector version 5.4.3 in the main project composer.json to downgrade the version to fix this issue).

As I say, we've not specifically or purposefully upgraded to Symfony 6 and our Laravel version is set to 8.83.22, so not entirely sure why symfony/c

[2022-07-26 10:16] garethdaine commented on #43427
@driesvints I've noticed that in the composer.json of the **tijsverkoyen/css-to-inline-styles** repo there is a dependency requirement for **"symfony/css-selector": "^2.7 || ^3.0 || ^4.0 || ^5.0 || ^6.0"**, and as **illuminate/mail** has **"tijsverkoyen/css-to-inline-styles": "^2.2.2"** as a requirement, if a composer update was ran, would this essentially upgrade **symfony/css-selector** to versi

[2022-07-26 10:20] driesvints commented on #43427
This really seems like an incompatibility upstream rather than Laravel.

[2022-07-26 10:41] garethdaine commented on #43427
Thanks for the feedback @driesvints This was indeed due to platform specific issues when running composer update and has been resolved thanks to https://github.com/symfony/symfony/issues/47064.

[2022-07-26 10:48] davidjr82 commented on #43424
I see... as that was the first entry in google, I thought it was the documentation of Laravel Vite 😒

Is there any easy way to override the vite scripts?

[2022-07-26 10:51] davidjr82 commented on #43424
I see it is an open discussion here in fact:

https://github.com/laravel/framework/discussions/43413

Thanks!

[2022-07-26 11:08] Quiss opened #43428 "Custom casts permanent isDirty if returned Carbon object."
- Laravel Version: 9.21.6
- PHP Version: 8.1.0
- Database Driver & Version: PGSql 12

### Description:
If cast returned Carbon object than field permanent isDirty
This case don't reproduce for "date" or "custom_date" cast... because
https://github.com/laravel/framework/blob/9.x/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L1948
usage custom rule check

### Steps To Reproduce:
1. Cre

[2022-07-26 11:26] czernika opened #43430 "Site breaks if no `manifest.json` file present"
- Laravel Version: 9.21.6 with `laravel-vite-plugin` for assets
- PHP Version: 8.0
- Database Driver & Version: Mysql 8

### Description:
If `manifest.json` file was deleted (or just not present in `build` folder), "Missing Vite Manifest File" exception overrides any status response and shows blank page for production mode. We were updating our site from older Laravel version step by step and sudd

[2022-07-26 12:17] driesvints commented on #43428
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-07-26 12:27] driesvints commented on #43430
You don't need to add the vite directive to these pages. I can see the default 503 page just fine in a fresh Laravel app with Vite.

[2022-07-26 12:27] #43430 closed

[2022-07-26 12:36] Quiss commented on #43428
@driesvints I couldn't find the answer on discord.

[2022-07-26 12:39] driesvints commented on #43428
Please try one of the forums first

[2022-07-26 13:16] #43371 closed

[2022-07-26 14:14] andrey-helldar commented on #43428
@driesvints, it's a really bug:

[code]

Tested on https://github.com/laravel/framework/blob/9.x/tests/Integration/Database/DatabaseEloquentModelCustomCastingTest.php#L103-L105

[2022-07-26 14:51] AbdelkaderBah opened #43433 "Server stop caused by undefined array key"
- Laravel Version: 9.22.0
- PHP Version: 8.1.5
- Database Driver & Version:

### Description:
![image](https://user-images.githubusercontent.com/14665300/181038190-c23c0ec3-7948-47dc-b2ea-d3172d59429f.png)

### Steps To Reproduce:
I am using Laravel Nova V3, the errors occur a few seconds after the page is successfully served.

[2022-07-26 15:10] mystygage opened #43435 "Artisan and empty lines in a containerized environment"
- Laravel Version: 9.21.6
- PHP Version: 8.1.8
- Database Driver & Version: mariadb 10

### Description:

Artisan's fresh look introduced in #43065 is really beautiful, but two empty lines are added to each call when a command like `php artisan schedule:run` is executed. This improves the readability immensely when these commands are executed in a developer's console.

As we run this command every

[2022-07-26 15:11] driesvints commented on #43428
I'll take another look next Thursday. Feel free to send in a draft PR with a failing test that I can maybe use. Thanks!

[2022-07-26 15:11] nunomaduro commented on #43433
@AbdelkaderBah Can't reproduce that issue locally. Did you modified the "server.php" in the root directory if your project?

[2022-07-26 15:18] nunomaduro commented on #43435
Sorry, at this time there is no built-in solution for this. You can, of course, use bash in docker to "trim" those extra lines so they don't appear in your logs.

[2022-07-26 15:18] #43435 closed

[2022-07-26 15:18] vitorsemeano commented on #43433
I have a normal installation of laravel, and after a composer update, i am experiencing the same thing. After some requests, the command crashes with a undefined array key [random number].

Running php 8.0.17 and laravel 9.22.0.

Reverting to 9.21.6 fixes the issue.

[2022-07-26 15:20] andrey-helldar commented on #43428
I managed to study the problem. It occurs due to the fact that when creating the model, the "syncOriginal" method is called, which processes the [`classCastCache`](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L1618-L1635) array, which is empty at that time.

Therefore, by checking the attribute through the `isDirty` method, we get an exi

[2022-07-26 15:42] RosiersRobin commented on #43433
I have placed more information about when this occurres (almost instantaniously) in the PR;

https://github.com/laravel/framework/pull/43375#issuecomment-1195634397

[2022-07-26 15:48] nunomaduro commented on #43433
@antonkomarev @RosiersRobin @ankurk91 Can you share the full console output please?

[2022-07-26 15:57] nunomaduro commented on #43433
We've found the issue. It only happens on Windows - Powershell. We are working on a solution.

[2022-07-26 15:58] ajibbagja14 commented on #43433
hello, i am encountering same issue with fresh Laravel v9.22.0 (using PHP v8.1.4) installation with no add on/other package installed, its really fresh from `composer create-project laravel/laravel`. In my case, the error occur when accessing the website via `http://localhost:8000`. My console log is looks like this :

![Screenshot_427](https://user-images.githubusercontent.com/106526280/181053302

[2022-07-26 16:15] #43433 closed

[2022-07-26 16:21] nunomaduro commented on #43433
It's fixed on the latest version.

[2022-07-27 09:23] Quiss commented on #43428
@andrey-helldar @driesvints i think just add code like as https://github.com/laravel/framework/blob/9.x/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L293-L300
to https://github.com/laravel/framework/blob/9.x/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L1935

[2022-07-27 13:47] andrey-helldar commented on #43428
@Quiss, can you try to add this code and run tests?

[2022-07-27 14:24] Quiss commented on #43428
@andrey-helldar Yeap. I'll let know the results ;)

[2022-07-27 14:25] andrey-helldar commented on #43428
@Quiss, can you create a PR then?

[2022-07-27 15:27] Quiss commented on #43428
@driesvints @andrey-helldar I have a bad news, there are two problems...

Just keep the test case https://gist.github.com/Quiss/9bd87b9c53cf77dd284486140d4ee078

by @andrey-helldar case: attribute key doesn't exist in $originals
my case: attribute exist and not pass check.

[2022-07-27 15:33] nunomaduro commented on #43284
Are you using the latest version of Laravel?

[2022-07-27 15:36] adampatterson commented on #43284
@nunomaduro humm, I was using 9.21.0. I updated to 9.22.1 and it works now 🤓

Thanks!

[2022-07-27 17:01] andrey-helldar commented on #43428
In this case, it turns out that there is no error when creating a model using `new Model()`, but there is an error when requesting data from the database.

[2022-07-28 04:36] dasundev commented on #21650
Yes, by default it is wrapping with `data` but at anytime you can change the key or you can remove wrapping from the **AppServiceProvider**

To change the wrap key add this construct method to your resource:
[code]
To remove the wrapping add the following line in the **boot** method of **AppServiceProvider**
[code]

[2022-07-28 07:12] PavelMove commented on #9293
[driesvints](https://github.com/driesvints), Just hiding the feature request doesn't make framework better. PR was rejected, but this feature is still required and would be required. How do people who want improve framework would know, that this is still needed?
You had to link PR to this issue - yes. But not closing it, just because PR exists - it's a worst decision.

[2022-07-28 10:01] programster commented on #42804
@driesvints  I am experiencing a similar issue, whereby I am struggling to remove a primary key that has a custom constraint name. This happened because I am moving an existing database over to using Laravel, so its tables were not set up by Laravel itself.

I have never submitted a bug report for Laravel before, but hopefully I followed your instructions correctly on setting up a demonstraton rep

[2022-07-28 10:10] D-Pate opened #43457 "Disabling Dump in Controller Stops Rendering View in Blade"
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2022-07-28 10:12] #43457 closed

[2022-07-28 11:27] nicolaibaaring commented on #43433
The error is still on version 9.22.1, which as of this time is latest. I added my comments for it on the pull request #43437

[2022-07-28 12:13] driesvints commented on #42804
@programster I think:

1. You need to use the Schema builder, not a raw query
2. You can't do those two operations in the same migration

[2022-07-28 12:54] programster commented on #42804
@driesvints the first query where I'm creating the table, is not supposed to show how I would have built it in Laravel, but to simulate the problematic table structure I have inherited by trying to move a legacy database over to Laravel. I am showing an example of how I am trying to fix it by using `dropPrimary()` in the second statement.

I don't think I need to split the operations into two migr

[2022-07-28 12:55] markandrewkato commented on #40482
Hi @DeanWhitehouse, did you got a chance to find a fix for this? I'm also having the same issue.

[2022-07-28 12:58] DeanWhitehouse commented on #40482
Unfortunately not yet, and with it being marked as closed on here I doubt anyone else will be looking into it - send me a direct message if you wish to try collaborate on resolving it.

A quick fix is to create your own loop rather than use a sequence, not ideal though

[2022-07-28 13:21] markandrewkato commented on #40482
@DeanWhitehouse you're right, i think this won't be resolved anytime soon or it might not be an issue for them. anyway, I'll let you know if I can make some time for this but I'm currently stuffed on work right now so I'll just create my own loop like you said. thanks!

[2022-07-28 13:55] Quiss commented on #43428
@driesvints what do you need a repository for? There is a failed tests...
https://gist.github.com/Quiss/9bd87b9c53cf77dd284486140d4ee078

[2022-07-28 13:58] driesvints commented on #43428
Please reproduce this issue on a fresh Laravel app for me with the above command so I can debug this better.

[2022-07-28 14:06] Quiss commented on #43428
Ok, i will create repo tomorrow

[2022-07-28 16:08] ajmeireles opened #43464 "Horizon Commands Not Found"
- Laravel Version: 9.22.1
- PHP Version: 8.1.8 **(Laravel Sail)**
- Database Driver & Version: mariadb (latest)

### Description:
When I try to run any commands about Horizon in Laravel, for example `horizon:purge` or `horizon:terminate` the Laravel throws an exception that the command does not exist as below example:

![image](https://user-images.githubusercontent.com/60591772/181584460-de28d07c-

[2022-07-28 21:13] Quiss commented on #43464
@ajmeireles Hi, this is not a bug, Horizon commands available run only in console

Proof:
https://github.com/laravel/horizon/blob/5.x/src/HorizonServiceProvider.php#L110

[2022-07-28 22:47] rodrigopedra commented on #43464
First, I believe this should have been reported on Horizon's issue tracker:

https://github.com/laravel/horizon/issues

Second, the reason this does not work is because most Horizon commands are only available in the console, they are not available during a HTTP request. The only exception being the `horizon:snapshot` command. Check its Service Provider on how it register its commands:

https://gi

[2022-07-29 07:11] driesvints commented on #43464
Thanks all

[2022-07-29 07:11] #43464 closed

[2022-07-29 08:32] FuS1 opened #43471 "Model::with() can't load relation data when foreign key include letter "e""
- Laravel Version: 8.83.3
- PHP Version: 7.4.3
- Database Driver & Version: MYSQL 5.6

### Description:

I have two table "archives" and "archives_permission" and data

![1659082487771](https://user-images.githubusercontent.com/5563956/181715545-1e6143b5-b9c8-47c8-b97d-440c4903b406.jpg)

![1659082556320](https://user-images.githubusercontent.com/5563956/181715780-1759801d-3ea4-4acd-be72-de7eab6f60

[2022-07-29 11:45] pryley opened #43475 "Str::words does not work with some Asian languages."
- Laravel Version: 9.22.1
- PHP Version: 8.1.8
- Database Driver & Version: N/A

### Description:

`Str::words` does not work with some Asian languages.

### Steps To Reproduce:

[code]

VS:

[code]

[2022-07-29 12:11] nshiro commented on #43475
Hi. @pryley

I guess the method you're looking for is `Str::limit` ?
[code]

Unlike English, Japanese has no space between words and It's not so easy to split words.

[2022-07-29 12:34] martenjacobs opened #43476 "No option to pass through existing env vars as well as auto-reload on env change"
https://github.com/laravel/framework/blob/e7ac9b1e8a20ccb55afe05954f13bb48bb3f8dad/src/Illuminate/Foundation/Console/ServeCommand.php#L135

I'm running Laravel sail in a devcontainer. I'd like to be able to pass through most environment variables to multiple containers so that I can set up MySQL with certain credentials, and use the same env vars in Laravel to connect to the database, for instance

[2022-07-29 12:44] nshiro commented on #43475
@pryley
Sorry, I misunderstood.

Ok, I checked `Intl` - your script.
The results are as follows.

[code]

Well, I'm afraid `Intl` does not work well...

[2022-07-29 12:51] pryley commented on #43475
@nshiro

[code]

Result:

[code]

Is that word split correct? I'm not sure how this would work to compile a truncated string as the IntlBreakIterator class doesn't provide an index for each word from the original string...

[2022-07-29 13:21] nshiro commented on #43475
@pryley
Japanese is somehow complicated, so I don't think there's a correct answer.
Different people may expect a little different results.

The result I expect is something like this.
[code]

I also checked other sentence.
The result was this.

[code]

But the result I expect is something like this.

[code]

Sorry Japanese is a bit complicated...

[2022-07-29 13:33] pryley commented on #43475
@nshiro Okay, I'm that case I'll close this issue.

Thanks for your feedback!