[2022-09-16 11:57] ankurk91 commented on #44123
I reported the issue in past

https://github.com/laravel/framework/issues/43571

@driesvints How we (reporters) improve so that such issues get attention by Laravel team.

[2022-09-16 12:15] pishguy opened #44162 "Laravel couldn't find uploaded files from storage and i get 404"
- Laravel Version: "laravel/framework": "^9.14",
- PHP Version: `8.1`

### Description:

After making a simple link for `laravel` storage and uploading files. my files can successfully put into `storage/app/public` directory and when i try to show image such as this link:

[code]

`laravel` could't find that and i get `404` error, but this link work fine:

[code]

creating storage link command res

[2022-09-16 13:39] trevorgehman commented on #44157
@driesvints For SQL Server the datetime format is overridden:

https://github.com/laravel/framework/blob/74cad576dbc3f48c6f529950cee52bc948371f63/src/Illuminate/Database/Query/Grammars/SqlServerGrammar.php#L535-L543

What if we did something similar inside `Illuminate/Database/Query/Grammars/MySQLGrammar`? I believe that would not be a breaking change, and would continue to work properly for MySQL

[2022-09-16 14:17] FrancisMawn opened #44165 "Artisan command "queue:prune-failed" is not deleting any entries"
- Laravel Version: 9.30.0
- PHP Version: 8.1.20
- Database Driver & Version: MySQL 8.0

### Description:
Hi,

Not sure if it's a documentation issue or a code issue but running the artisan command **queue:prune-failed** will not delete any failed jobs that were created within the past 24 hours.

It seems a bit counter intuitive to have an optional argument altering the default behaviour of the com

[2022-09-16 15:06] judgej commented on #36269
Just going to add a note for others coming across this issue, since it is not at all obvious where teh problem may lie. The queue drivers are written to support `afterCommit()` and/or `'after_commit'`. Some third party drivers may not support it. Some are not up-to-date with the queue driver API in Laravel 9, with a number of changes. If a third-party queue driver is having the problem of not wait

[2022-09-16 15:22] tanthammar opened #44166 "symfony uuid requirement is misspelled"
Illuminate support composer.json needs an update to make
Str::ulid() work.

The requirement is misspelled.

_Originally posted by @tanthammar in https://github.com/laravel/framework/pull/44074#discussion_r973140010_

[2022-09-16 15:29] tanthammar opened #44167 "Str::ulid() not working"
There is something wrong with the Illuminate Support `symfony/uid` requirement.
I had to manually `composer require symfony/uid` to get `Str::ulid()` to work.

_Originally posted by @tanthammar in https://github.com/laravel/framework/pull/44074#discussion_r973140010_

Laravel v 9.30.1
[code]

[2022-09-16 15:29] #44166 closed

[2022-09-16 15:30] tanthammar commented on #44166
incorrect assumption

[2022-09-16 16:12] huangdijia commented on #44167
composer r symfony/ulid

[2022-09-16 16:16] khaledelmahdi commented on #40330
Hi,

I am getting this error when I try to register SendGridTransport:

***Mailer [sendgrid] is not defined.***

I've added the package:

[code]

I've edited the `AppServiceProvider` file:

[code]

I've edited the `config\services.php` file:

[code]

What I am doing wrong here?

[2022-09-16 16:25] khaledelmahdi opened #44169 "Adding additional Symfony Transports getting erro "Mailer [sendgrid] is not defined.""
- Laravel Version: 9.30.1
- PHP Version: 8.1.9
- Database Driver & Version: mysql latest

### Description:

Adding additional Symfony Transports as per the documentation here: https://laravel.com/docs/9.x/mail#additional-symfony-transports not working.

### Steps To Reproduce:

Hi,

I am getting this error when I try to register SendGridTransport:

***Mailer [sendgrid] is not defined.***

I've add

[2022-09-16 17:33] tanthammar commented on #44167
@huangdijia Sorry, I don't understand your comment?

I did manually install the dependency with composer require, but what i want to say is that it should be required by Laravel Framwork in order for the Str::ulid() to work properly.

Or, do I misunderstand you?

Also see where I commented in the pr.

[2022-09-16 17:47] rodrigopedra commented on #44167
The PR #44074 is unreleased. So its changes are not available yet.

Should be released on Tuesday as usually.

[2022-09-16 17:56] rodrigopedra commented on #44167
`symfony/uid` is in the `suggests` session of `illuminate/support`'s `composer.json`.

So to use its functionality you should manually install this dependency.

[2022-09-16 17:59] tanthammar commented on #44167
@rodrigopedra
Aha, then I get it :)
Thought it was released with in Laravel 9.30.1, as the method Str::ulid() exists.

[2022-09-16 18:30] rodrigopedra commented on #44167
No, I actually just saw they have released it after I sent my first answer (now deleted) about the release date.

I didn't think they would have introduced a new public method on a patch release. As I had the same method macro'ed I was keeping an eye on the next minor release to test it out before updating.

The `Str::ulid()` is already available, and you can use it.

But as some other optional fe

[2022-09-16 18:52] tm1000 opened #44172 "HasUUID Trait does not work in a test"
- Laravel Version: 9.30.1
- PHP Version: 8.1.6
- Database Driver & Version: MariaDB 10.3

### Description:
When utilizing the new `HasUUID` trait for models to auto create UUIDs `Model::create()` works fine in the code outside of a test but when running the same call inside of a test it fails. It seems that the event is never dispatched.

[2022-09-16 19:08] tm1000 commented on #44172
I knew this was a non issue! it's because I faked the events!

[2022-09-16 19:08] #44172 closed

[2022-09-16 19:16] tanthammar commented on #44167
Thank you @rodrigopedra
Never came across a "Str" helper before that requires manually installing a package .
Being spoiled by the framework :)

Anyway, it was easy to figure out, and I guess it will be added to the docs that it requires manual installation

[2022-09-16 19:56] christhomas commented on #16589
I'd like to talk about this issue again because in 2022, I've got a problem that is exactly related to this issue.

I understand that they think accessing session variables etc in the controller is a bad thing, I totally undestand that. But what I don't understand is what that has to do with the construction of the controller before the middleware has executed.

Isn't the point of a middleware, is

[2022-09-16 20:20] christhomas opened #44177 "Controller is constructed before route middleware are executed"
Version: Laravel 9
PHP: 8.1

The problem that I'm having is that Laravel constructs the controller object and it's entire dependency injected set of parameters and the entire tree of other dependencies too. Before the middleware are run through and that means that middleware can't affect those dependencies by adjusting the request or setting other parameters that would affect how the AppServicePro

[2022-09-16 20:36] DarkGhostHunter commented on #44177
Because the framework allows to prepare the response a Controller construction level. That's why you can add middleware programmatically inside the `__construct`.

To me, this seems more like a dependency problem rather than Laravel's problem. Detach the logic from the controller middleware and add it after the controller receives the data. No need to do everything at the middleware level.

[2022-09-16 20:57] christhomas commented on #44177
The middleware problem I'm having has nothing to do with the controller in question though, it's a system level need to adjust the request constructed in order that the dependencies to the controller are constructed in the correct way.

I can't add the middleware into the controller, since the middleware does not care about the controller, it adjusts the objects that are created by the app service

[2022-09-16 21:14] christhomas commented on #44177
This pseduo-code is an illustration of the problem

[code]

[code]

[code]

[code]

So I guess the heart of the problem, is how can I create a fully dependency injected controller, that depending on the route that controller is executed on, will construct the BrokenDepB object, with the correct configuration needed for that route, based on it's requirements.

I can't adjust BrokenDepB because it's

[2022-09-17 00:17] X-Coder264 commented on #44177
I'm just gonna leave https://github.com/laravel/framework/pull/40165#issuecomment-1001806578 and https://github.com/laravel/framework/pull/40306 and https://github.com/laravel/framework/pull/40675 here.

I've tried fixing this issue as it had bitten me multiple times in the past and unfortunately every attempt got rejected/reverted in the end, mostly due to concerns regarding backwards compatibili

[2022-09-17 02:17] medab123 commented on #30402
i have the same problem

[2022-09-17 02:34] rodrigopedra commented on #44177
@christhomas you can inject dependencies on controller methods, they will be run after any declared middleware:

single action controller

[code]

multi-action controller:

[code]

@X-Coder264

I hope not.

Might be personal preference, but in projects with gazillion routes spread over many route files, I prefer to declare middleware in the constructor, so they are close to where it affects code.

[2022-09-17 02:58] rodrigopedra commented on #44169
Did you add just `sendgrid/sendgrid`?

or did you also add Symonfy's mailer?

[code]

Also, it might not be clear in the docs if you skipped right to the additional transport section, but this section is actually a subsection of the "Custom Transports" section.

https://laravel.com/docs/9.x/mail#custom-transports

The final step is to add a new mailer definition to your `./config/mail.php` file.

[2022-09-17 07:40] kmizzi commented on #44152
Thanks @driesvints

I wish this would have worked, but no luck.  After changing the queue config to flag after_commit = true for redis, still the same error

I tried queue:restart, cache:clear, config:clear, and clearing redis (flushall) just to be sure

[2022-09-17 11:08] X-Coder264 commented on #44177
Nobody said that those declarations need to be removed from the controller. I said those declarations need to be moved away from the controller **constructor** - constructor being the key word here as it means that the controller must always get instantiated in the "gathering of middleware for the route" step of the request lifecycle. If you take a look at the PRs that I've linked you can see that

[2022-09-17 16:35] rodrigopedra commented on #44177
I did. Very carefully. Now and then. And the comments made myself even surer of my intance on this.

It is very odd you assume I didn't. Maybe you assume I just had to read the comments you made or the ones supporting your **personal preference**.

As you assumed something out of the blue about me, I think it is safe to assume you don´t quite remember the discussion had strong arguments with a **d

[2022-09-17 19:07] TheRealMkadmi commented on #44082
@DarkGhostHunter

Here's what `dd($time, $format, $lastErrors);` gives at line 675:

[code]

[2022-09-17 19:14] TheRealMkadmi commented on #44082
ServeCommand.php:239
$line evaluates to: `[516] [Sat Sep 17 20:09:40 2022] 127.0.0.1:55020 Accepted`
Seems like it's trying to parse the [516] as a date instead of the content of the second bracket
@driesvints can we reopen this?

[2022-09-17 22:16] DarkGhostHunter commented on #44167
Added method to documentation, along with a not to require `symfony/ulid` so it can work.

https://github.com/laravel/docs/pull/8226

[2022-09-17 23:47] X-Coder264 commented on #44177
- It's not "very odd" that I assumed that you haven't read that as you were asking "which bugs" in the previous comment which is the reason why I've linked you the post which explains them. Unfortunately I don't remember every Github username that was part of every Github discussion that I was ever part of.
- I didn't say that Taylor said it was a bug. I said he acknowledged that it was a bug and

[2022-09-18 02:22] rodrigopedra commented on #44177
Laravel is always open to merge different ways to complete a task. From the discussion on the merged PR it is clear it was merged on good-will to address the request, but all the times the concern on adding a edgy-case that could led to many apps bring broken was expressed.

A lot of PR are merged to add new features, to add new ways on doing something, to improve DX, to remove deprecated code.

L

[2022-09-18 05:59] rodrigopedra commented on #44177
@X-Coder264 I sent PR #44192 as a proof of good-will to propose a middle-ground solution that I think will solve the issue you described while keeping changes a minimal.

If you can review it, I would really appreciate.

Thanks for all the insights, and I hope any contends are kept in the realm of the ideas an not personal.

[2022-09-18 06:35] Barbar0sssa opened #44193 "No operator matches the given name and argument types. You might need to add explicit type casts. (SQL: select count(*) as aggregate from "food_types" where "type"->>'ar' = وجبة الفطار and "id" <> )"
- Laravel Version: 9
- PHP Version:8.1
- Database Driver & Version: postgres in heroku

### Description:

I built a laravel project, and i made it to work with multible language Ar, En so i make column in my table on database take array {ar, en} by using spatie package, it works on my local server xampp , but when i upload my project on heroku my project works in regist and login, but when i add s

[2022-09-18 06:58] rodrigopedra commented on #44193
Please read:

https://laravel.com/docs/9.x/contributions#support-questions

Likely the database version available in heroku is not the same you have installed on your local machine. If you have locally MySQL 8 and heroku provides MySQL 5.7, most of JSON functions won't work.

If it is working on your local machine, it is not a Laravel issue. Please use the issue tracker only for bugs, as described

[2022-09-18 09:25] Barbar0sssa commented on #44193
ok sir, but know what can i do ?i am a beginner

ok sir, but know what can i do ?i am a beginner

[2022-09-18 13:27] rodrigopedra commented on #44193
Read the docs, and post the question in one of the support forums? There are plenty of people willing to help in the support forums.

Read the issue opening page and do not post support questions on the issue tracker?

Being a beginner is a better reason to always follow the rules =)

[2022-09-18 14:00] driesvints commented on #44193
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-18 14:00] #44193 closed

[2022-09-18 17:31] jenga201 commented on #11494
Within unit tests, I was able to use this as a workaround in the setUp() method;
request()->setLaravelSession(session());

[2022-09-18 23:28] jasperf commented on #36294
@robjensen82  I added

[code]

but it does not seem to work using default sqlite as database connection. It still uses the default connection instead. When I used a separate test connection using mysql it did work but it was rather slow.

[2022-09-19 00:11] robjensen82 commented on #36294
@jasperf Are you somehow running things twice? As in haven't deleted your migrations? Not sure why it would be slower.

[2022-09-19 01:45] jasperf commented on #36294
@robjensen82 Well, I have a JSON, loginController and registerController test containing 7 tests in total and it took 16 seconds to run all of these using a MySQL database where migrations had already run:

[code]

Just wondered if that was fast or slow and if so why slow. I expected it to be done in like 5 seconds.

I did not delete the migrations earlier. I think it just still used the wrong dat

[2022-09-19 07:22] driesvints commented on #44169
You need to add the symfony transport as @rodrigopedra explains.

[2022-09-19 07:22] #44169 closed

[2022-09-19 07:39] driesvints commented on #44123
@ankurk91 like I suggested on the issue, try a support channel first and get confirmation by others that it's an actual bug. Then repost the issue with links to those forum threads.

[2022-09-19 07:41] driesvints commented on #44157
@trevorgehman can you attempt a PR?

[2022-09-19 07:42] driesvints commented on #44162
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-19 07:42] #44162 closed

[2022-09-19 07:44] ankurk91 commented on #44123
@driesvints Thanks, i would prefer to create a minimal reproduction and share the git repo link.

[2022-09-19 07:58] driesvints commented on #44165
https://laravel.com/docs/9.x/queues#pruning-failed-jobs

<img width="748" alt="Screenshot 2022-09-19 at 09 57 40" src="https://user-images.githubusercontent.com/594614/190973530-44b892f8-f012-4357-8aa3-e317b84bb209.png">

[2022-09-19 07:58] #44165 closed

[2022-09-19 08:22] roksprogar commented on #38242
I am having the exact same issue in production (Ubuntu EC2 instance), the first time the config:cache command is run, the APP_KEY is missing, the 2nd time it appears.

I can't replicate the issue on my dev/staging server, hovewer, even though I have it set up to resemble the production environment as as closely possible. The only major difference I can think of rn is that in production everything

[2022-09-19 12:20] driesvints commented on #44167
I sent in a PR to require the package instead to make it easier: https://github.com/laravel/framework/pull/44202

[2022-09-19 12:20] #44167 closed

[2022-09-19 12:23] driesvints commented on #44082
Seems like a PR was sent in so let's see how that goes.

[2022-09-19 12:44] driesvints commented on #44177
Hi everyone. I'm very sorry but this issue is just too much for me to take on and read through. Afaik as I can tell from glancing through it I can only say that this is the current expected behavior. I see @rodrigopedra has sent in a PR to change this behavior in Laravel v10. Let's see what Taylor says there.

[2022-09-19 12:44] #44177 closed

[2022-09-19 13:33] Healyhatman commented on #44126
I didn't say there was any benefit to it, but if you're creating the batches programmatically, such as from a collection, you can end up pushing empty batches and finding yourself in this situation - the same way I did.  You can check that the batch isn't empty before dispatching it, but it still makes sense to me that you should be able to prune empty batches without doing `--unfinished.

[2022-09-19 13:41] driesvints commented on #44126
I'd just check if a batch is empty before pushing it. But you're free to send in a PR to improve things if you like.

[2022-09-19 13:51] Healyhatman commented on #44126
Will do, thanks. Should I target Laravel 8 or just go from 9?

[2022-09-19 14:09] valentinomariotto opened #44206 "problem parsing .env file"
- Laravel Version: 9.30.1
- PHP Version: 8.1.10
- Database Driver & Version: MariaDB 10

### Description:
`php artisan package:discover` fails, but **only** when called by `composer update` autoload
error:
[code]

Looking in LoadConfiguration.php it turns out that this exception is thrown when the program is unable to read the config/app.php file. But I'm unable to spot the issue.

Things I tried:

[2022-09-19 14:14] driesvints commented on #44206
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-19 14:14] #44206 closed

[2022-09-19 15:21] driesvints commented on #44157
I don't think we'll change this any time soon, sorry. It's too dangerous as it could lead to break a whole lot of apps. Feel free to PR the docs if you want to.

[2022-09-19 16:17] valentinomariotto commented on #44206
might it be that php 8.1.10 is too new?

[2022-09-19 17:48] CalebDW opened #44212 "`model:show` does not honor composer autoload"
- Laravel Version: 9.30.1
- PHP Version: 8.1.9
- Database Driver & Version: pgsql 14

### Description:
First off, thanks @jessarcher for your work on the model show command! It's very convenient and I expect to get a lot of mileage from it.

`model:show` seems to only search for models in the `App\` directory (unless there's a config variable I missed) instead of honoring composer's autoload. I'm

[2022-09-19 18:01] CalebDW opened #44213 "`db:show` throws unknown database type exception for PostgreSQL"
- Laravel Version: 9.30.1
- PHP Version: 8.1.9
- Database Driver & Version: PgSQL 14.5

### Description:
`db:show` throws the following exception:

[code]

Looks to be related to #43635.

### Steps To Reproduce:
Execute `artisan db:show`

[2022-09-19 18:08] PHLAK opened #44214 "Possible memory leak"
- Laravel Version: 9.30.1
- PHP Version: 8.1.10
- Database Driver & Version: N/A

### Description:

We've been having memory related issues in CI recently where the memory consumption continuously grows. This is a particular problem when enabling coverage checks (i.e. `artisan test --coverage`) as this eventually exhausts the memory in the CI environment.  A few weeks ago we thought we had this tr

[2022-09-19 19:38] rodrigopedra commented on #44214
Adding this line:

[code]

Right after `$this->createApplication()->flush();` reduced the memory increase dramatically (from 54MB to 28MB)

And commenting the last 2 bootstrapers in:

https://github.com/laravel/framework/blob/f40fe7d303544a66f7bcbee8e25c96c743d64d1a/src/Illuminate/Foundation/Console/Kernel.php#L82-L90

Further reduced from 28MB to 18MB. (in my machine it starts with 12MB)

This la

[2022-09-19 21:27] christhomas commented on #44177
Hey guys, thanks for the replies. Sorry I'm late back to this cause I've been busy at the weekend.

I've read the first couple of lines of #40165 and this problem of being able to adjust the application state based on tenancy is the exact same problem that I've got. I need to adjust the app state based on the route, but the controller gets dependencies whilst when constructed, take the wrong state

[2022-09-19 22:01] christhomas commented on #44177
From what I can see, #44192 is exactly what I was looking for, what do you think @X-Coder264 ?

[2022-09-19 23:29] kmizzi commented on #44152
Done:
https://github.com/kmizzi/laravel-bug-report

[2022-09-19 23:40] stancl commented on #44177
He replied in that thread. That PR does look good. I haven't been able to review it in depth but it seems to nicely solve the problem that all our PRs have tried to solve in the past.

[2022-09-19 23:42] PHLAK commented on #44214
I've found a slightly better way to illustrate that there is no code outside of Laravel that would be causing the memory usage to increase.

Add the following test class as `tests/Feature/ExampleTest.php`.

[code]

Run the test repeatedly using the `--repeat` flag and watch the memory usage grow.

[code]

[2022-09-20 06:07] DarkGhostHunter commented on #44214
Lol that's my article.

I assume these test are done in vanilla Laravel. Did anyone tried the Opcache trick?

[2022-09-20 07:19] driesvints commented on #44212
Hi there. Right now this is indeed limited to the App namespace. Feel free to attempt a PR to change that.

[2022-09-20 07:19] #44212 closed

[2022-09-20 08:38] driesvints commented on #44152
I managed to boil it down to the following reproducible example:

[code]

What happens is actually that jobs within batches are wrapped in a transaction so they're easy to rollback when something goes amis. The reason this fails is because you're executing implicit commits within the job. See the docs on that here: https://laravel.com/docs/9.x/database#implicit-commits-in-transactions

By issuing

[2022-09-20 08:38] #44152 closed

[2022-09-20 08:59] erikvanzijst commented on #37358
Same.

/CC @driesvints

[2022-09-20 09:03] driesvints commented on #44214
Seems this is indeed still a culprit even after a fix in PHP core was merged here: https://github.com/php/php-src/pull/9265. Also see https://github.com/laravel/framework/issues/30736

@olsavmic do you might have knowledge of any other memory leaks in PHP core?

@DarkGhostHunter I disabled that call and the memory leak still happens.

Also, I think for this to be investigated we shouldn't focus on

[2022-09-20 09:04] jbrooksuk commented on #44212
It's worth noting here that you may pass through the entire namespace, for example, `artisan model:show Laravel\\Cashier\\Subscription`

[2022-09-20 09:14] fhdalikhan commented on #21009
+1

[2022-09-20 09:46] juanparati opened #44216 "RedisStore throw an unserialization notice when a key used by an atomic lock is checked."
- Laravel Version: v9.24.0 and v9.30.0
- PHP Version: 8.0.17 and 8.1.9
- Redis Driver & Version: Redis 5.3.7 using PHPRedis with php, json, igbinary serializers

### Description:
I observed that Laravel raises a "PHP Notice" when a key used by an atomic lock is verified with the "has" method.

### Steps To Reproduce:

1. Remove the 'lock_connection' from the redis configuration into cache.php conf

[2022-09-20 09:54] driesvints commented on #44216
Does this also happens on the latest Laravel release?

[2022-09-20 11:21] juanparati commented on #44216
Hi Dries, I can reproduce with 9.30, however I was doing some research and I think I found the reason.

It seems that I found the reason. It seems that my cache.php config file has missing 'lock_connection' parameter (My cache.php config file is a legacy one from an old version). When this parameter is missing then I can reproduce this issue (I edited the original bug report).

I observed that whe

[2022-09-20 11:27] juanparati commented on #44216
It's logic that "has" method cannot find the key used in the atomic lock because the "lock_connection" indicate a different "connection" for the locks.

[2022-09-20 11:42] tinyoverflow opened #44218 "DB with join returns empty set when running multiple tests with transactions in PGSQL"
- Laravel Version: 9.30.1
- PHP Version: 8.1.10
- Database Driver & Version: PostgreSQL 14.5.1

### Description:
I have a test class which contains multiple tests for the same method. The method that's being tested executes a query using the DB facade which contains two joins to other tables on the same database.

[code]

I use the default Laravel TestCase with the addition of the RefreshDatabase

[2022-09-20 15:49] kskrlinnorth2 commented on #39807
Same "bug" I just noticed in my application, but only when using it on relation defined by hasManyThrough, while hasMany works just fine with select()->paginate().

For example:
// items is relation on model2 using hasMany
$model2->items()->select('foo', 'bar')->paginate(10); // Select works, we get only foo and bar columns
// items is relation on model1 using hasManyThrough
$model1->items()->sele

[2022-09-20 16:05] #44213 closed

[2022-09-20 16:18] PHLAK commented on #44214
I'd like to continue digging into this but not sure how to proceed (aside from a lot of code commenting). Is there an easy way to profile the code while running tests?

[2022-09-21 00:34] cloud-arrow opened #44225 "The queue timeout is invalid and will always be stuck in poll"
- Laravel Version:  9.25.1
- PHP Version: 8.1.3
- Database Driver & Version: mysql

### Description:
The queue timed out and received a SIGALRM signal, but was not killed
The queue timeout is invalid and will always be stuck in poll
[code]

### Steps To Reproduce:

1. The database uses the following test configuration
[code]

2. create job test
[code]

3. Start the queue and strace
[code]

4. The

[2022-09-21 00:38] cloud-arrow commented on #44225
The configuration of the database is tested to simulate a db failure, not the real address

[2022-09-21 03:38] ExamediaSoftware commented on #36226
Got this same issue today

[2022-09-21 07:59] cloud-arrow commented on #44225
@greut @ceejayoz @tpaksu @wuwx Please help to take a look, it would be greatly appreciated

[2022-09-21 08:16] cloud-arrow commented on #44225
@GrahamCampbell @driesvints Please help to take a look, it would be greatly appreciated

[2022-09-21 10:35] driesvints commented on #44225
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-09-21 10:35] #44225 closed

[2022-09-21 14:21] mabdullahsari opened #44236 "db/model:show throw when using PostgreSQL's citext type"
- Laravel Version: 9.31
- PHP Version: 8.1.7
- Database Driver & Version: PostgreSQL 14.4

### Description:

The following exception is thrown while using the brand new `db:show` / `model:show` commands:

[code]

This is due to the `email` field in my database being of the custom `citext` type.

### Steps To Reproduce:

[code]

[2022-09-21 19:35] rasel-gen commented on #42162
Add this in AppServiceProvider
 if(config('app.env') === 'production') {
            \URL::forceScheme('https');
        }

And then change headers like below

Class TrustProxies extends Middleware
{
    protected $proxies = '*';

    protected $headers = Request::HEADER_X_FORWARDED_FOR | Request::HEADER_X_FORWARDED_HOST | Request::HEADER_X_FORWARDED_PORT | Request::HEADER_X_FORWARDED_PROTO;
}

[2022-09-21 21:31] jacobmllr95 opened #44244 "Storage Facade doesn't catch `CorruptedPathDetected` Exception when `throw` is disabled"
- Laravel Version: 9.31.0
- PHP Version: 8.1.10
- Database Driver & Version: MySQL 5.7.38

### Description:

When trying to store a file with a corrupted filename with the `Storage` Facades `putFile` or `putFileAs` methods, a `CorruptedPathDetected` exception is thrown even though `throw` is disabled in the filesystem disk's configuration.

### Steps To Reproduce:

1. Build a file upload form usin

[2022-09-22 09:07] driesvints commented on #44214
@PHLAK not that I know. Just use `time <cmd>` maybe?

[2022-09-22 09:13] driesvints commented on #44244
Can you please share a code example of how you're calling the filesystem?

[2022-09-22 09:26] jacobmllr95 commented on #44244
I can reproduce it with the most basic example:

[code]

[2022-09-22 10:07] driesvints commented on #44244
I talked this over with @frankdejonge but I personally feel this is something you should solve in the code before passing the path. Flysystem will normalize the path for almost every filesystem operation which means we'd have to catch the exception everywhere. Since it's not a true filesystem operation that goes amis but rather something you can solve up front I think it's best that we always info

[2022-09-22 10:07] #44244 closed

[2022-09-22 10:16] jacobmllr95 commented on #44244
@driesvints I get the point that I can handle it upfront but when there is a configuration option for `Storage` write operations that states wether exceptions will be thrown or just `false` is returned, I expect it to catch all possible exceptions during the write process.

[2022-09-22 10:26] driesvints commented on #44244
@jacobmllr95 I'm sorry but that's not what that option means. It's meant to catch *some* exceptions but not all. For example, if you're running into authentication errors in Flysystem, those will bubble up as well to indicate clearly what's going wrong. There's a difference between file operations and app related issues (like your own).

[2022-09-22 10:31] jacobmllr95 commented on #44244
@driesvints Ok, I get that. Maybe it could be stated a bit more clear in the docs what it does and what not 👍

[2022-09-22 10:35] driesvints commented on #44244
We'd welcome a PR for that 👍

[2022-09-22 12:09] levu42 opened #44249 "Enum route binding: Default values not working"
- Laravel Version: 9.31.0
- PHP Version: 8.1.10
- Database Driver & Version: irrelevant

### Description:

Binding enums to route parameters works fine (yay!) but it doesn't work with default values given in the controller function signature:

`public function index(PostsStatus $status = PostsStatus::published)`. See the steps to reproduce below.

I found a (not-nice) workaround, by doing `app()->

[2022-09-22 12:35] gthedev commented on #44249
I am getting the same result as well.

In `src/Illuminate/Routing/RouteDependencyResolverTrait.php` on line `80` you can see it resolving the value to `null` if default value is is available. Replacing that `null` with `$parameter->getDefaultValue()` fixes this issue, however, might have side-effects in Model Route Binding as I haven't tested that yet.

[2022-09-22 12:42] driesvints commented on #44249
Hi there. This is unsupported at the moment. Feel free to attempt a PR but indeed keep in mind other route model binding situations like @gthedev mentioned.

[2022-09-22 12:42] #44249 closed

[2022-09-22 14:25] levu42 commented on #44249
@driesvints I attempted a PR in #44255 that shouldn't have any influence on route model binding.

[2022-09-22 15:30] KristianI commented on #44214
Maybe xdebug profiler could be helpful in this connection.

[2022-09-22 19:33] rationalthinker1 opened #44259 "I think I see an error in the PHPDoc for function sortBy in Collection"
I think it's missing a `>` for the first array definition.
https://github.com/laravel/framework/blob/3f3a57ae87f76aa69d8122acb6d367d03c795fc9/src/Illuminate/Collections/Collection.php#L1324

from
[code]
to
[code]

[2022-09-22 20:08] driesvints commented on #44259
Can you send in a pr?

[2022-09-22 20:08] #44259 closed

[2022-09-22 21:07] rationalthinker1 commented on #44259
https://github.com/laravel/framework/pull/44262
Did I do it correctly?

[2022-09-22 23:09] PHLAK commented on #44214
I've profiled my application code while running tests. This generated several `cachegrind.out.*.gz` files that I am able to extract and open in qcachegrind. I read [this Stack Overflow post](https://stackoverflow.com/a/41070186/27025) but am still relatively unfamiliar with this tool so any recommendations as to what I'm looking for would be helpful.

[2022-09-23 01:17] binaryfire commented on #31530
@paulcdejean Hi Paul. Looks like the ideas repo has been archived and no further action was taken.

I agree, it would be good if we could pass the ALGORITHM and LOCK variables via artisan migrate. It’s essential for mission-critical apps.

Did you ever find a good way to handle this?

[2022-09-23 01:18] binaryfire commented on #31530
@driesvints Hey Dries, here’s a bit more background on why this is important: https://planetscale.com/blog/zero-downtime-laravel-migrations

[2022-09-23 06:47] driesvints commented on #44214
Just pinging you @brendt as well (since you originally opened the other issue) to see if you had any thoughts here?

[2022-09-23 08:04] xm-yang opened #44270 "APP_URL doesn't work as expected"
- Laravel Version: 9.22.1
- PHP Version: 8.1.8
- Database Driver & Version:

### Description:
In .env file, I set:
APP_ENV=https://example.com

In the page navigation bar, I generate urls with url('path') function.
When user visit my site via https://**www**.example.com, I expect the navigation bar will send user to https://example.com, as configured in .env
But to my surprise, the url('path') act

[2022-09-23 08:25] driesvints commented on #44270
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-23 08:25] #44270 closed

[2022-09-23 10:02] NilLlisterri opened #44271 "X-Forwarded-For ignored"
- Laravel Version: 9.17.0
- PHP Version: 8.0.21

### Description:
Our website is behind a load balancer. In order to make `request()->ip()` return the user's IP, I've added the `X-Forwarded-For` header in the Nginx configuration. It is received correctly by PHP (`$_SERVER["X-Forwarded-For"]` is the correct client IP).

I've set the TrustProxies Middleware $proxies to `*`, and `$headers = Request::

[2022-09-23 10:06] brunogaspar commented on #44271
Yup, i had this exact same problem and had to adjust Nginx config as well for that same value, which was quite hard to figure out at first :)

[2022-09-23 10:10] ehamrin commented on #44111
@driesvints I'm well aware of how it's handled internally according to Taylor's response in #39243. What I don't understand is WHY that is the correct way of handling chains in batches, and not a bug.

There is no way to catch the failed jobs and deal with them as the catch-block is only called once. The pruning of batches will also never deal with the batch in question as it not completed nor can

[2022-09-23 12:24] driesvints commented on #44111
I'm not entirely sure myself. You can always try a PR to change the behavior if you want.

[2022-09-23 12:39] driesvints commented on #44216
Ow I see. Yeah just don't remove that parameter from your config please.

[2022-09-23 12:39] #44216 closed

[2022-09-23 12:45] driesvints commented on #44218
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-09-23 12:45] #44218 closed

[2022-09-23 13:00] bblumenfelder opened #44273 "Laravel Vite: Assets blocked/Mixed Content issues in production environment"
### Discussed in https://github.com/laravel/framework/discussions/44258

<div type='discussions-op-text'>

<sup>Originally posted by **bblumenfelder** September 22, 2022</sup>
I'm hosting my App on an EC2-instance behind an Elastic Load Balancer which manages my SSL-Certificate. On this EC2-Instance my nginx-configuration is redirecting all http-Requests to https.
I recently switched to Vite which

[2022-09-23 13:02] driesvints commented on #44273
Please don't move discussions to issues.

[2022-09-23 13:02] #44273 closed

[2022-09-23 14:57] matt-h opened #44278 "Symfony process passes ENV variables to child process."
Symfony process passes ENV variables to child process.

- Laravel Version: 9.28.0
- PHP Version: 8.1.10
- Database Driver & Version: 10.9.3-MariaDB (any is affected)

### Description:

I had noticed this awhile ago when using Symfony processes but wanted to bring it up now with the attention of the [`Process` convenience layer](https://github.com/laravel/framework/pull/43977) being added. When thi

[2022-09-23 15:13] taylorotwell commented on #44271
If something needs to be changed in the framework we would welcome a PR!

[2022-09-23 16:10] geldibayev opened #44282 "There are have an error after this changes Fixes artisan serve command with PHP_CLI_SERVER_WORKERS environment variable #44204"
- Laravel Version: 9.31.0
- PHP Version: 8.1.5
- Database Driver & Version:

### Description:
When I run php artisan serve command I get the following errors
https://stackoverflow.com/questions/73829417/how-can-i-fix-the-error-undefined-array-key-1-on-laravel?noredirect=1#comment130365550_73829417
### Steps To Reproduce:

[2022-09-23 16:22] nunomaduro commented on #44282
Can you please provide more information, such as the operating system and the output of the `dump($regex, $line, $matches);` variables?

[2022-09-23 16:28] nunomaduro commented on #44278
We've taken your feedback in consideration. By default, Laravel processes inherit all the env vars defined in your system / application, and the same happens when regular Symfony processes.

We see our Process facade as an API for the most common use cases. For more advanced scenarios, such as the case your describe, we advice you to use the Symfony Process class directly, and unset the system / a

[2022-09-23 16:28] #44278 closed

[2022-09-23 17:11] flaviolopesw opened #44284 "Send mail by tinker not working"
- Laravel Version: 8.75
- PHP Version: 8.1

### Description:
I'm testing sending email through Tinker, but it doesn't work. I also tested a command but for sending email, without success.
Note: it works with mailhog, but when I use the production email service it doesn't work.

### Steps To Reproduce:
Create a new project with laravel 8.75, install or sail.
Create a Mailable with the command 'make

[2022-09-23 17:23] kayrunm opened #44285 "Unable to run aggregate queries (withSum, etc.) for pivot table columns on self-referencing many-to-many relations"
- Laravel Version: 9.31.0 (from what I can see, also on 8.x)
- PHP Version: 8.1.10 (also on 7.4.x)
- Database Driver & Version: MySQL 8.0.30, SQLite 3.39.3

### Description:

An SQL error occurs when trying to add an aggregate (e.g. `withSum`) for a pivot column on a many-to-many relation that has both sides of the relationship from the same table.

For example, in an application which contains a

[2022-09-23 17:23] nunomaduro commented on #44284
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-23 17:23] #44284 closed

[2022-09-23 17:25] kayrunm commented on #44285
I think I may have a solution for this, so I will try and work one out and if so, reference this issue with a PR.

[2022-09-23 17:37] gokigoks commented on #36927
hi, @joostdebruijn how did you clear the lock?

[2022-09-23 17:42] nunomaduro commented on #44214
Going to take a look at this next Monday. ✅

[2022-09-23 17:42] taylorotwell commented on #44214
Has anyone tried to recreate the issue on initial release of Laravel 8.0? or Laravel 7.0? So we can see possibly when the memory leak was introduced if it is indeed something new. Or, if it something that has been around for some time.

[2022-09-23 17:47] matt-h commented on #44278
Thanks for your your consideration here. I agree it is more of an edge case and won't affect most use cases of it.

I brought it up since you are making Process a first class part of Laravel now and not just using Symfony process as a dependency and it may unknowingly leak `.env` variables to other processes.

Thanks for the example as well, that will help me improve my workaround that I'm already

[2022-09-23 17:50] flaviolopesw commented on #44284
@nunomaduro Hello!

I believe it is a bug, because if the routine is started via the web, the email is sent, but if it is a routine that is started by a command, the email is not sent.

However, I already started the discussion about laracast, here is the link: https://laracasts.com/discuss/channels/laravel/send-mail-by-tinker-not-working

[2022-09-23 17:59] joostdebruijn commented on #36927
@gokigoks Clearing your cache will release the locks.

[2022-09-23 18:08] gokigoks commented on #36927
Thank you.. @joostdebruijn by chance, is there a specific key I could clear to avoid affecting other cached data?

[2022-09-23 18:23] PHLAK commented on #44214
I ran [the example test](https://github.com/laravel/framework/issues/44214#issuecomment-1251681880) against Laravel v8.83.24 with similar results.

I'm getting errors when trying to install Laravel 7 (i.e. `composer create-project laravel/laravel=7.* laratest`) so couldn't evaluate it there. Can dig into it more later.

[2022-09-23 19:47] ljubadr commented on #44214
There is a discussion about this as well - [[8.x] Memory leak on testing #39255](https://github.com/laravel/framework/discussions/39255). Might have some useful info

[2022-09-24 00:54] al33mahmad1 commented on #23973
Thank you @ijasxyz for the solution. I was about to write a custom query to update the record which would also have avoided the update event of laravel.

[2022-09-24 06:44] DarkGhostHunter opened #44290 "[9.x] Vite directive throws on testing without manifest"
- Laravel Version: 9.31.0
- PHP Version: 8.1.5
- Database Driver & Version: NA

### Description:

When using a view with `@vite`, and using that view in unit testing, it returns the error `Vite manifest not found at home/projects/laravel/public/build/manifest.json`.

While this is indeed true (there is no manifest), it's bonkers when requiring it on unit testing.

### Steps To Reproduce:

1. Creat

[2022-09-24 12:12] driesvints commented on #44290
https://laravel.com/docs/9.x/vite#disabling-vite-in-tests

[2022-09-24 12:12] #44290 closed

[2022-09-24 12:33] hbakouane commented on #9733
[SOLUTION] You have to use this class `Tests\TestCase` and not `PHPUnit\Framework\TestCase`
so your class will look like this:
`<?php

namespace Tests\Unit;

use Tests\TestCase;
use App\Models\User;

class BooksControllerTest extends TestCase
{
    // Testing methods ...
}`

[2022-09-24 17:36] nadirabbas commented on #36269
@r4y7s  I need `afterCommit` to work on the `sync` driver since that is what I am using for testing. It seems like the `sync` driver does not care about `afterCommit` and dispatches the job instantly. I found a package that is like `sync` driver but honors `afterCommit`. But this package is not up-to-date for Laravel 9 and fails on queueable event listeners, it works for Jobs tho: https://github.c

[2022-09-25 11:44] olsavmic commented on #44214
https://github.com/laravel/framework/pull/44293 should fix this issue according to my tests.

https://github.com/laravel/framework/issues/44214#issuecomment-1251681880 is a pretty great test case and the leak stops when the change is applied.

The original test case (https://github.com/laravel/framework/issues/44214#issue-1378334326) still leaks but that's due to the fact that the application is n

[2022-09-25 15:09] aneeskhan47 opened #44294 "[9.x] `db:seed` command doesn't show seeder info when using with `--class` argument"
- Laravel Version: 9.31.0
- PHP Version: 8.1.8
- Database Driver & Version: MariaDB 10.3.31

### Description:

When running `db:seed` with `--class` flag. it doesn't show info about seeder class e.g 'time elapsed' as it does in `migrate --seed`.

**Issue:**
![image](https://user-images.githubusercontent.com/30714223/192150551-12702527-c857-4397-9d6a-1fb7140a58dd.png)

**My BigRecordSeeder class:**

[2022-09-25 15:14] aneeskhan47 commented on #44294
ping @nunomaduro. sorry to ping you but does this can be caused due to the new artisan output look?

[2022-09-26 07:27] driesvints commented on #44282
We don't support microsoft Windows 8.1, sorry. Please upgrade to Windows 11.

[2022-09-26 07:27] #44282 closed

[2022-09-26 07:48] driesvints commented on #44294
This seems like a feature request. Feel free to attempt a PR if you like.

[2022-09-26 07:48] #44294 closed

[2022-09-26 08:57] driesvints commented on #44285
Let's see how the PR goes 👍

[2022-09-26 08:57] #44285 closed

[2022-09-26 12:46] fideloper commented on #44271
Hi!

You'll need to share some more information about your configuration to get more help I think. This doesn't sound like a Laravel issue tho.

1. Is Nginx your load balancer or is it something hosted from a service, perhaps AWS?
2. Does the load balancer not add `X-Forwarded-*` headers itself?

If the load balancer is setting those headers, then Nginx should be seeing and transforming those head

[2022-09-26 12:49] driesvints commented on #44271
Thanks @fideloper. Feel free to continue to discuss the issue here 👍

[2022-09-26 12:49] #44271 closed

[2022-09-26 12:54] AllexNogue commented on #37358
O Mesmo

[2022-09-26 15:20] JohnnyWalkerDesign commented on #38140
I have this issue, even with a new installation of Laravel.

[2022-09-26 18:04] nunomaduro commented on #44214
Friends, can you please try out your test suite on the latest `9.x-dev` branch, and tell me the before / after result?

[2022-09-26 19:08] DarkGhostHunter commented on #44214
I’ll do it after I get out of work today. Italo Baeza C.El 26-09-2022, a la(s) 15:04, Nuno Maduro ***@***.***> escribió:﻿
Friends, can you please try out your test suite on the latest 9.x-dev branch, and tell me the before / after result?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-09-26 19:59] PHLAK commented on #44214
I ran my app's test suite locally with and without the applied fixes and oddly the memory consumed was identical between the runs but the time went down dramatically. I should probably repeat these tests to see if the results are similar across multiple runs but here's the initial run results.

### Before Fix

[code]

### After Fix

[code]

I then pushed a branch with the fixes to CI and it failed

[2022-09-26 20:48] JayBizzle commented on #44214
Also seeing no improvement...

**Before**
[code]

**After**
[code]

[2022-09-26 21:03] PHLAK commented on #44214
I did a few more (partial) test runs with before and after fix code, this time not using the `--parallel` flag. I also dumped the memory usage in the `tearDown()` method to see it's change over time.

In both cases the memory usage continued to grow indefinitely. However, with the fixes applied the memory growth appeared (subjectively) to grow much slower and was (objectively) much lower in the en

[2022-09-26 21:41] PHLAK commented on #44214
One more thing to note, I just installed a fresh Laravel app from the `9.x-dev` branch and repeated [my test from above](https://github.com/laravel/framework/issues/44214#issuecomment-1251681880) and still see the memory increasing (though slightly less than before).

[code]

[2022-09-26 21:46] rodrigopedra commented on #44214
I wrote this shell script  (tested in Linux) that:

- Creates a fresh Laravel
- Updates  `laravel/framework` to `9.x-dev`
- Creates 1,000 test classes, with a single test case and a single assertion
- Runs the tests

[code]

It accepts a `-u` flag to create and run tests as Unit Tests, or -- when missing -- as Feature tests.

It also requires a project name. **Note that the project folder will be

[2022-09-26 22:59] PHLAK commented on #44214
Thanks @rodrigopedra but it's unecessary to create 1000 actual test cases. You can use `phpunit --repeat` to repeat a single test an arbitrary number of times.

[2022-09-27 00:12] DarkGhostHunter commented on #44214
Got similar results.

Does this happen with _other_ testing frameworks?

[2022-09-27 00:12] rodrigopedra commented on #44214
@PHLAK thanks for reviewing it.

When running a single test class with `--repeat=1000` the memory:

- go from 20MB to 28MB on Feature Tests
- stays constant at 8MB on Unit tests

That is why I created 1,000 test cases, to mimic an environment with several test classes instead of repeating a single test over and over.

You can verify this with the slightly modified script below. Lines changes have

[2022-09-27 07:08] nunomaduro commented on #44214
Thank you for sharing your feedback. To keep the output of everyone focused, please only share results of real test suites without the parallel flag (not repeats, or loops), and share the output of PHPUnit (or pest with the memory plugin) like so:
[code]

[2022-09-27 07:31] lehien commented on #21009
Same issue, though following @merlinro's way is ok.

[2022-09-27 07:33] rodrigopedra commented on #44214
@nunomaduro , thanks for looking into it.

The app I tested only has the standard breeze tests installed. It is a real app, but without any further tests written.

The only change I made was just adding the memory output on the `./test/TestCase.php`'s `tearDown()` method, as it wasn't clear how we'd measure the memory leak without seeing its progress.

[code]

If you have a better way of tracking

[2022-09-27 08:03] nunomaduro commented on #44214
@rodrigopedra 👍🏻

Going to keep working on this. For info everyone, there is a memory leak on the package [bugsnag](https://github.com/bugsnag/bugsnag-laravel).

- https://github.com/bugsnag/bugsnag-php/pull/651
- https://github.com/bugsnag/bugsnag-laravel/pull/493

[2022-09-27 08:08] driesvints commented on #44214
Are you all using Bugsnag?

[2022-09-27 08:16] nunomaduro commented on #44214
For info everyone, here is the recap of my investigation yesterday. And going to keep working on it today.

Use case: Using Vapor's test suite, more than 600 HTTP / Jobs / Console tests.

[code]

[2022-09-27 08:17] rodrigopedra commented on #44214
@driesvints I am not

[2022-09-27 08:37] nunomaduro commented on #44214
**So, to keep everyone on the same page, it's important to you'll read this.**

In what concerns memory leaks on the framework, in this issue, and previous issues regarding this topic, there are two types of reports been done by the community so far:

**A**. The people say that running 100,000 tests causes the memory to go from 22MB to 70MB - and keeps growing. Often, these reports are explained u

[2022-09-27 08:51] rodrigopedra commented on #44214
@nunomaduro noted.

The project I work on with the most exhaustive amount tests is still on Laravel 8 (production server stuck to PHP 7.4 due to some other reasons)

The project I ran, with the breeze suite, was a recent pro-bono small project I made for a charity.

So thanks all for the efforts, but I will not be able to help you out with this anymore.

Good luck on tackling this down !

[2022-09-27 10:02] HieuNM47 commented on #7905
hehe

[2022-09-27 11:45] Sun-FreePort opened #44317 ""str_getcsv" convert chinese has error"
I know this Issue: https://github.com/laravel/framework/issues/29617.

But in **feature test**, use `setlocale(LC_ALL, 'zh_CN.UTF-8');` or `setlocale(LC_ALL, 'zh_CN.UTF8');` is not working -- at `index.php`.

You can use `str_getcsv("\"未定义\",\"良品\",\"二手\",\"瑕疵\",\"良品无吊牌\"")` to test it error.

---

https://github.com/laravel/framework/blob/8a02e8fc5ad22e47cc0ebec075d6ff7edf0e7b8c/src/Illuminate/Va

[2022-09-27 11:47] driesvints commented on #44317
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-27 11:47] #44317 closed

[2022-09-27 16:59] iotronlab opened #44327 "Scoped Storage drivers returning incorrect url with url() function"
- Laravel Version: 9.32.0
- PHP Version: 8.1.4
- Database Driver & Version:

### Description:
Scoped storage driver cannot be used out of the box as "league/flysystem-path-prefixing": "^3.3", is in require-dev and not in require. So it isn't installed on default laravel installation.

Solution: Update the doc to include installation of driver when using scoped drivers.
[code]

Scoped drivers on lo

[2022-09-27 17:45] nunomaduro commented on #44214
@PHLAK Glad to hear that your test suite went from 625 MB before fixes vs 252 MB after fixes. 👍🏻

I've just made another fix (https://github.com/laravel/framework/pull/44324). Can you run exactly the same use case?

Remember, to compare, simply run `./vendor/bin/phpunit` and get the `Time` and `Memory` printed by PHPUnit.

[2022-09-27 18:01] frankdejonge commented on #44327
Ill have a look tonight :)

[2022-09-27 19:54] #44327 closed

[2022-09-27 20:09] PHLAK commented on #44214
We're _not_ using Bugsnag.

I will try this soon.

[2022-09-27 20:29] PHLAK commented on #44214
@nunomaduro To do an apples-to-apples comparison to [my previous run](https://github.com/laravel/framework/issues/44214#issuecomment-1258629166) I used `artisan test` and dumped the memory in the `tearDown()` method again this time ending up with **222 MB** used in the end (down from 252 MB).

I then ran it using `phpunit` directly as suggested (and will use this method going forward).

[code]

Th

[2022-09-27 20:56] aneeskhan47 opened #44332 "`dd` source file shows compiled view file instead of original one."
- Laravel Version: 9.32.0
- PHP Version: 8.1.8
- Database Driver & Version: N/A

### Description:

When using `dd` in a view file. the source file line of it is displayed of a compiled view file instead of the original one:

![image](https://user-images.githubusercontent.com/30714223/192633531-b7dcfb27-ff3e-42f7-a4ff-99e2897783aa.png)

### Steps To Reproduce:

1. Make sure you are on Laravel 9.32.

[2022-09-27 20:57] aneeskhan47 commented on #44332
@ping @nunomaduro

[2022-09-28 06:36] sn-sharma opened #44337 "Task Scheduling: twiceDaily"
- Laravel Version: 9.11
- PHP Version: 8.4
- Database Driver & Version: MariaDB 10.6

### Description:
The following schedule command is working fine. Running the task daily at 1:00 & 13:00.

`$schedule->command('foo:bar')->withoutOverlapping()->twiceDaily(1, 13);`

But when I am trying to schedule the following command. It is not working.

`$schedule->command('foo:bar')->withoutOverlapping()->twi

[2022-09-28 08:51] GC-Mark commented on #44337
This would work...

[code]

Your example would be hard to allow for as how would the cron expression look if you specified different minutes on each hour.

[code]

[2022-09-28 10:10] sn-sharma commented on #44337
@GC-Mark You wanna say they, I can't use hour and minute both in `twiceDaily`. Right? I have to do something like that

`$schedule->command('foo:bar')->withoutOverlapping()->twiceDailyAt(1, 13, 30);`

[2022-09-28 10:11] GC-Mark commented on #44337
Correct 👍

[2022-09-28 10:14] sn-sharma commented on #44337
@GC-Mark I think this one is the limitation with CRON configuration. Not an issue with Laravel. Right?

[2022-09-28 10:16] GC-Mark commented on #44337
Basically, yes.

Laravel could support with some changes...
[code]
...but it would open up the possibility for developers to pass parameters that would not convert to a CRON expression

[2022-09-28 10:19] sn-sharma commented on #44337
@GC-Mark Got your point. Thanks

[2022-09-28 10:19] abbas-mastan opened #44342 "php artisan is not working and showing an error"
- Laravel Version: 9.1
- PHP Version: 8.1
- Database Driver & Version: sql

### Description:

### Steps To Reproduce:

PHP Fatal error:  Uncaught Error: Class "App\Providers\AppServiceProvider\Illuminate\Foundation\Application" not found in C:\Users\M Abbas\Documents\edocfiles\bootstrap\app.php:14
Stack trace:
#0 C:\Users\M Abbas\Documents\edocfiles\artisan(20): require_once()
#1 {main}
  thrown i

[2022-09-28 10:25] abbas-mastan commented on #44342
I tried for three days continously to solve this issue I have asked this question in StackOverflow but no appropriate answer there.
I search all the links associated with this issue but none of them solved my issue.  Any help would be appreciated.

[2022-09-28 11:05] hsamshod commented on #44342
have you tried this?
[code]

[2022-09-28 11:25] danielpopdan opened #44344 "RedisStore serializer type inconsistencies check"
- Laravel Version: >=6
- PHP Version: >=4.2

### Description:
The [validation for serializer ](https://github.com/laravel/framework/blob/5dd58d428c64811b70ecba57a75e77c136578410/src/Illuminate/Cache/RedisStore.php#L332) is type inconsistent.  The `is_numeric` function validates if a value is numeric without checking for a specific type, the accepted type is mixed. This means that a string represen

[2022-09-28 11:43] hesami opened #44345 "Laravel Passport for multiple auth security problem"
- Laravel Version: 9.19
- PHP Version: 8.1.0
- Laravel/passport: ^11.2
### Description:
Laravel Passport returns true for several different guards with different tables and the same ID.
For example, if an admin has ID 1 in the admins table and a user has ID 1 in the users table, the user can identify himself as an admin during authentication.

If a normal user logs into the system with ID 1 and ge

[2022-09-28 12:02] Jubeki commented on #44342
This seems like a missing import in `app/Providers/AppServiceProvider`:

[code]

[2022-09-28 12:26] driesvints commented on #44345
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-09-28 12:26] #44345 closed

[2022-09-28 12:27] #44342 closed

[2022-09-28 14:54] nunomaduro commented on #44214
So, the results so far, since the very beginning, comparing `9.x-dev` with `Laravel === v9.31.0` are:

[code]

[2022-09-28 16:37] nunomaduro commented on #44214
As discussed with @taylorotwell, we are happy with the results so far. So closing this issue.

[2022-09-28 16:37] #44214 closed

[2022-09-28 16:43] PHLAK commented on #44214
For the record, here's the results of my _full_ test suite.

[code]

Very impressive results indeed! Thanks for all the work @nunomaduro and others!

[2022-09-28 18:20] dunhamjared opened #44354 "Offset for sqlsrv breaks queries with row_num column"
- Laravel Version: 9.x
- PHP Version: 8.1
- Database Driver & Version: SQLServer

### Description

PR https://github.com/laravel/framework/pull/39863 introduces two issues.

If offset is used for SQL Server:

 1. You cannot use `row_num` as a column name or alias
 2. An unexpected column `row_num` is included in the results

### Examples

#### Scenario 1

If you have a `row_num` column or alias, S

[2022-09-28 20:42] timramseyjr commented on #42572
@PareshP-RSW Did you ever resolve this issue?

[2022-09-29 03:24] BoilingSoup commented on #22847
`authorizeResource` is still not clear at all, and impossible to debug without stumbling into this thread by luck

[2022-09-29 03:33] tobz-nz opened #44358 "max_digits validation rule does not accept negative numbers"
- Laravel Version: 9.32.0
- PHP Version: 8.1.8
- Database Driver & Version:

### Description:

Validating that the max_digits of a negative number always fails regardless of length.

### Steps To Reproduce:

[code]

[2022-09-29 04:00] ronssij opened #44361 "Rule::requiredIf validation string"
- Laravel Version: 9.28.0
- PHP Version: 8.1.6
- Database Driver & Version: MYSQL 8.0.29

### Description:
The `Rule::requiredIf()` does not use the right validation string. where it should use the `requierd_if` validation string not the `required`.

[required_if:anotherfield,value,...](https://laravel.com/docs/9.x/validation#rule-required-if)

if you want to change the validation message() it sho

[2022-09-29 08:07] #44332 closed

[2022-09-29 08:08] nunomaduro commented on #44332
https://github.com/laravel/framework/pull/44347

[2022-09-29 08:50] lucasfecko opened #44366 "The newly added source file display to `dd()` and `dump()` will fail to display correctly if `spatie/laravel-ignition` is not installed"
- Laravel Version: 9.32.0
- PHP Version: 8.1.10
- Database Driver & Version: MariaDB 10.2.43

### Description:

The newly added source file display to `dd()` and `dump()` will fail to display correct line if `spatie/laravel-ignition` is not installed.

The source file and line of `dd()` or `dump()` is retrieved from in this file: `ResolvesDumpSource.php:21`, specifically these lines:

[code]

it's

[2022-09-29 09:57] nuernbergerA commented on #44361
Hey @ronssij

`required_if` as a string version works completely different then `Rule::requiredIf()`.

`required_if` will always be included in the "compiled" rules array.
`Rule::requiredIf()` will only include a `required` in the "compiled" rules array if the condition is true.

so you have to you `'email.required' => 'blah blah blah'` to control the message.

[2022-09-29 10:12] driesvints commented on #44361
See the answer above.

Thanks @nuernbergerA

[2022-09-29 10:12] #44361 closed

[2022-09-29 11:18] NilLlisterri commented on #44271
Thanks for the detailed answer @fideloper,

As you guessed, I'm using fastcgi and PHP-FPM.

Having to add the `HTTP_` part in the `fastcgi_param HTTP_X-Forwarded-For $proxy_protocol_addr;` line, so it can be detected by Laravel, was what felt hacky.

What I was missing was:

I feel better knowing that. I've been trying to find a mention of this anywhere in the docs with no luck, but I guess its so

[2022-09-29 11:59] ta369e opened #44372 "$model->getMorphClass() displays QCN instead of my custom name"
- Laravel Version: 9.32.0
- PHP Version: 8.1.10
- Database Driver & Version: MySQL 8

### Description:
my morphmap array looks like overwritten to an empty array for some reason.

when creating new records in database, morphmap custom names are used
but when trying to retrieve these relations, QCN is used! So i always get null in this case

AppServiceProvider.php
[code]

Entity.php Model
[code]

M

[2022-09-29 12:18] JohnnyWalkerDesign opened #44373 "Test: Unknown option "--quiet""
- Laravel Version: 9.3.8
- PHP Version: 8.0.20
- Database Driver & Version: N/A

This issue was raised in Laravel 8 and closed as being unable to replicate. I have found that it is still present in Laravel 9. I have provided the full output from a clean installation to demonstrate this. (Apologies if I've missed something.)

### Description:
By doing `php artisan test -h` it shows a list of option

[2022-09-29 12:33] driesvints commented on #44373
Both work for me on the latest Laravel release.

<img width="1311" alt="Screenshot 2022-09-29 at 14 33 09" src="https://user-images.githubusercontent.com/594614/193032251-c8c382ff-b5cc-4fcd-a197-1e5ff11672bf.png">

[2022-09-29 12:33] #44373 closed

[2022-09-29 12:36] driesvints commented on #44372
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-09-29 12:36] #44372 closed

[2022-09-29 12:37] JohnnyWalkerDesign commented on #44373
@nunomaduro Thank you for fixing that!

@driesvints Very confusing that it was working for you...?

[2022-09-29 12:39] driesvints commented on #44337
Seems like this is a feature request. Feel free to attempt a PR 👍

[2022-09-29 12:39] #44337 closed

[2022-09-29 12:40] driesvints commented on #44373
Lol this was fixed 1 minute before I tried it 😅

[2022-09-29 12:41] driesvints commented on #44344
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-09-29 12:41] #44344 closed

[2022-09-29 12:42] driesvints commented on #44354
Seems like a PR was sent in so let's see how it goes. Thanks

[2022-09-29 12:42] #44354 closed

[2022-09-29 12:43] driesvints commented on #44358
Digits only accept positive numbers.

[2022-09-29 12:43] #44358 closed

[2022-09-29 12:43] driesvints commented on #44366
A PR was sent in for this 👍

[2022-09-29 14:55] dunhamjared commented on #44354
@driesvints could you reopen the issue since it is still active?

[2022-09-29 15:03] driesvints commented on #44354
@dunhamjared it looks like taylor doesn't wants to merge this right now. It's best that you gather some feedback from other SQL Server users first.

[2022-09-29 15:04] dunhamjared commented on #44354
@driesvints will do, thanks!

[2022-09-29 16:13] peanutsmcgee opened #44380 "PostgreSQL updateFrom() is not applying global scopes"
- Laravel Version: 9.22.1
- PHP Version: 8.0.21
- Database Driver & Version: PostgreSQL 13.2

### Description:
When performing an update using `->updateFrom()` (as opposed to `->update()`), global scopes are not being applied to the query.

It looks like normally the eloquent method `Illuminate\Database\Eloquent\Builder::update()` is called, which applies scopes and then forwards to `Illuminate\Da

[2022-09-29 19:06] necrogami opened #44383 "Artisan db command fails when using read/write hosts"
- Laravel Version: 9.32.0
- PHP Version: 8.1.10
- Database Driver & Version: mysqlnd

### Description:
When executing the `php artisan db` console command while having read and write hosts setup in `config/database.php` it returns this error:
[code]

### Steps To Reproduce:

1. Setup mysql to use read and write hosts
2. execute `php artisan db`

[2022-09-29 19:14] necrogami commented on #44383
I understand that i can select --read or --write but it should throw a warning or a better error in my opinion if there's no default host and only using read/write as exampled here: https://laravel.com/docs/9.x/database#read-and-write-connections

[2022-09-29 19:15] necrogami commented on #44383
Or select read by default

[2022-09-29 21:22] msm81 opened #44387 "FTP Filesystem sends wrong FTP commands that leads to "550 Filename invalid" error"
- Laravel version: 9.26.1
- PHP version: 8.0
- Browser: Google Chrome 105.0.5195.128 (Official Build) (64-bit)
### Description:
When attempting to upload something using the functions provided by the framework, a strange behavior will be seen from the vision of log file in the FTP Server.
### Current behavior:
FTP Commands sent from the Laravel application:
[code]
### Expected behavior:
FTP comman

[2022-09-30 02:13] dammixyz commented on #28233
03:13 AM, September 30th, 2022. This problem still exists and it nearly ruined my project! Come on guys do something!

[2022-09-30 05:42] danielpopdan commented on #44344
Hello @driesvints, I may have misunderstood how to specify the Laravel version. The code was introduced in Laravel 6, but it is still the same in the codebase in the currently supported version, Laravel 9.

[2022-09-30 06:11] driesvints commented on #44344
I don't see an issue here sorry.

[2022-09-30 07:16] driesvints commented on #44387
Our filesystem is a wrapper around flysystem which makes using file based operations universal for all storages. If you claim that the FTP implementation behaves differently from other storages then I think it's probably related to flysystem itself and not laravel. Can you please try a support channel first and then if that doesn't help the flysystem issue tracker?

- [Laracasts Forums](https://la

[2022-09-30 07:16] #44387 closed

[2022-09-30 07:25] driesvints commented on #44380
Thanks. I sent in a PR for this: https://github.com/laravel/framework/pull/44391

[2022-09-30 07:25] #44380 closed

[2022-09-30 10:24] mumuajin opened #44392 "Vite How to import dynamically app-legacy.xxx.js"
- Laravel Version: 9
- PHP Version: 8
- Database Driver & Version: 8

### Description:

[code]

I need to import `app-legacy.xxx.js` when I need to be compatible with lower version browsers. What can I do?

[2022-09-30 10:29] michabbb commented on #28233
@dammixyz for now, i am good with `'required|email:strict,dns|not_regex:/[ÄäÜüÖö]/'`

[2022-09-30 10:39] driesvints commented on #44392
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-30 10:39] #44392 closed

[2022-09-30 13:10] #44383 closed

[2022-09-30 13:10] driesvints commented on #44383
Thanks. We added a more descriptive message for this.

[2022-09-30 13:47] realtebo opened #44399 "Updating symfony/http-foundation (v6.1.4 => v6.1.5) brokes file download"
- Laravel Version: 9.280
- PHP Version: 8.1.2
- Database Driver & Version: Not influent

### Description:

We upgraded from v9.27.0 => v9.28.0.

This syntax, note $headers, not works anymore

        $headers = [
            'Content-Type: application/pdf',
        ];

          . ...  . omissis ..

        return response()->file($pathToFile, $headers);

This only works now

        $headers = [

[2022-09-30 13:49] driesvints commented on #44399
Thanks for making us aware. We hope Symfony patches this soon.

[2022-09-30 13:49] #44399 closed

[2022-09-30 14:53] wouterj commented on #44399
For information of other Laravel users ending up here instead of in the Symfony issue:

Passing the headers as a list (`['Content-Type: application/pdf']`) has never worked, an associative array (`['Content-Type' => 'application/pdf'])` works.

It appears 6.1.5 includes a bug in the automatic configuration of content-type. As the content-type header was never understood, code using this is relying

[2022-09-30 14:54] driesvints commented on #44399
Thanks @wouterj. I don't think we document using it like that and if we do we'd be happy to correct those if anyone can find them.

[2022-09-30 14:58] momala454 opened #44402 "DB::getPdo invalid docblock return"
- Laravel Version: 9.26
- PHP Version: 8.1
- Database Driver & Version: mariadb 10.6

### Description:
On the file /vendor/laravel/framework/src/Illuminate/Support/Facades/DB.php
The docblock for getPdo is incorrect, it says `\Doctrine\DBAL\Driver\PDOConnection` but it returns a `PDO`

### Steps To Reproduce:

[2022-09-30 14:59] #44402 closed

[2022-10-01 00:18] Firehed opened #44411 "Migrations may fail to run in mysql if sql_require_primary_key is enabled"
- Laravel Version: v9.33.0
- PHP Version: 8.1.18
- Database Driver & Version: mysql 8.0.28

### Description:

When trying to run a DB migration structured like this:

[code]

If the DB is a mysql server with `sql_require_primary_key` enabled, the migration fails with the following message:

From what I can tell, this appears to run ``CREATE TABLE (`id` char(36) not null, ...) default character set

[2022-10-01 02:16] rodrigopedra commented on #44411
See #33238 and the discussion with the reason this is not considered a Laravel bug.

There is also a workaround on this comment: https://github.com/laravel/framework/issues/33238#issuecomment-648071415

[2022-10-01 22:45] Firehed commented on #44411
Hi @rodrigopedra - that's a helpful start, thanks!

Since the problematic migration is part of Nova, I can't realistically apply that workaround in the migration itself since it's a vendor file. It's probably not appropriate to edit `artisan` itself either. I'd think editing either could easily result in the workaround being lost during a dependency update (plus it would significantly complicate d

[2022-10-01 22:48] rodrigopedra commented on #44411
you can try creating a migration, on your project, with an earlier date, much like the users migration has 000000 in its timestamp, to disable it

and then a migration with a date greater than the most recent nova migration to reenable it

[2022-10-02 11:38] realtebo commented on #44399
Not true. We were  (guilty and wrongly) using it in 3 different projects and it worked (since a lot of time, about 2 year the oldest commit).

Anywhere, there is no documentation about HOW to send headers and I think laravel doc team should add a small example

[2022-10-02 11:38] realtebo commented on #44399
Yes, but also there is not documentation about the _right_ way to do it. There is no documentation about HOW to send headers and I think laravel doc team should add a small example

[2022-10-02 11:42] wouterj commented on #44399
It has worked by the shear luck that the automatic content type algorithm produced the same content type as you were passing. Doing `$response->headers->allPreserveCaseWithoutCookies()` (which is what is send to the client) shows `0 => "Content-Type: application/json"` in any version of Symfony.

I'm sure they welcome contributions :)

[2022-10-02 11:50] realtebo commented on #44399
I understand and I agree.
We was 'lucky' ... no more lucky now

[2022-10-02 11:52] realtebo commented on #44399
I have not clear in mind why.. but in previous version of pair laravel + httpfoundation it worked in a different way.
But I hope this issue will help future googlers to avoid our mistake or fix if someone did same mistake we make: we surely copy/pasted something from somewhere and from somelucky it someworked ... :)

[2022-10-02 14:29] holdon1996 opened #44418 "Laravel auto clear session when submit form with large input"
- Laravel Version: 5.5
- PHP Version: 7.4.15
- Database Driver & Version: Mysql 5.7

### Description:

When I submit the form with a large request and fail in validation then redirect with input => laravel auto clear session.
I tried changing column type "payload" in the session table from text to long text then it can handle success.

### Steps To Reproduce:

1. Submit the form with a large reque

[2022-10-02 16:11] rodrigopedra commented on #44411
@Firehed yesterday I was on the go, and didn't think off events.

You can also listen for the `Illuminate\Console\Events\CommandStarting` and `Illuminate\Console\Events\CommandFinished` events to disable/enable `sql_require_primary_key`.

Check for the `migrate` and `migrate:fresh` commands on their `$command` property.

[2022-10-03 02:38] rodrigopedra commented on #44418
Laravel 5.5 is unsupported. Please see the Support Policy:

https://laravel.com/docs/9.x/releases#support-policy

Also, if you try it on a supported version and the error still exists, please give more info, "large" input is very subjective and time consuming to reproduce -- how large is good enough to stop testing if the error is not reproducible?

It is better if you can provide a public reposit

[2022-10-03 06:35] holdon1996 commented on #44418
@rodrigopedra
Sorry for my mistakes.
I tried with Laravel version 8.75 and it will be an error.
It's my repository that I have already tested.
https://github.com/holdon1996/session_laravel_error/tree/main/routes
Step1: Visit /test
Step2: Click submit button
=> Error payload in the session table

[2022-10-03 07:09] rodrigopedra commented on #44418
@holdon1996

As you are using the database session driver the payload is limited to the size its column data type. And has you are redirecting back with the input, all the request payload is written to the session. When the data you want to store is larger than a database can store, the database usually errors out, thus not saving your session at all and rendering it invalid.

Change this line:

h

[2022-10-03 07:22] driesvints commented on #44418
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-10-03 07:22] #44418 closed

[2022-10-03 09:05] driesvints commented on #44411
Thanks @rodrigopedra

[2022-10-03 09:05] #44411 closed

[2022-10-03 09:34] timogoosen commented on #13932
I'm bit late to the party,
but you can just open a database connection in your queue worker job and do:

[code]

It would look something like this:
[code]

[2022-10-03 10:33] plakhin opened #44430 "Eloquent `upsert()` method doesn't work with UUID primary key"
- Laravel Version: 9.33.0
- PHP Version: 8.1.10
- Database Driver & Version: mysql  Ver 8.0.30 for macos12.4 on arm64 (Homebrew)

### Description:
Users table migration creates the UUID `id` column: `$table->uuid('id')->primary();`.
Users model uses `Illuminate\Database\Eloquent\Concerns\HasUuids` trait.
When trying to upsert a number of records, getting the error: `PDOException: SQLSTATE[HY000]:

[2022-10-03 12:44] Sergiobop opened #44432 "Factory autocomplete"
- Laravel Version: 9.33
- PHP Version: 8.1

### Description:
Factory autocompletion works when using the factory itself, but not using the factory() method

### Steps To Reproduce:

First option; Autocomplete working:
[code]

Second option; Autocomplete NOT working:
[code]

Am i doing something wrong here?
My Cat model uses the HasFactory trait, and the factory has the right `@extends Factory<Cat>

[2022-10-03 12:56] driesvints commented on #44432
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-10-03 12:56] #44432 closed

[2022-10-03 12:56] driesvints commented on #44430
Not sure this is compatible with upsert.

[2022-10-03 12:56] #44430 closed

[2022-10-03 12:58] plakhin commented on #44430
@driesvints some mention in the docs would be nice then, either on `upsert()` section, or `UUID` section, or both.

[2022-10-03 13:01] driesvints commented on #44430
@plakhin we'd welcome a PR for that 👍

[2022-10-03 13:26] sashaskr opened #44434 "Error : Class "Illuminate\Support\Testing\Fakes\UpdatedBatchJobCounts" not found"
Hello everyone!
Seems like import of `UpdatedBatchJobCounts` is missing here:

https://github.com/laravel/framework/blob/23e8dd8fac5910edd20327a23529b52af8a77268/src/Illuminate/Support/Testing/Fakes/BatchFake.php#L128

I opened a PR with a fix https://github.com/laravel/framework/pull/44435

[2022-10-03 14:18] driesvints commented on #44434
Thanks! I saw your PR so let's follow up there.

[2022-10-03 14:18] #44434 closed

[2022-10-03 16:57] kali-kb opened #44439 "BadMethodCallException: Method [loginUsingId] does not exist."
- Laravel Version: ^9.19
- PHP Version: 8.1.6
- Database Driver & Version: pgsql

Hello, I'm a laravel begginer and I'm facing a problem, the problem is that I was using the Auth facade to handle authentication and the framework is throwing a `BadMethodCallException: Method [loginUsingId] does not exist.`  error when i call loginUsingId method on Auth like `Auth::loginUsingId($id)` by using an act

[2022-10-03 19:15] ryanmortier commented on #44399
Ran into this today. All my streamed PDFs look like this:

![image](https://user-images.githubusercontent.com/2053960/193659846-a5f3f911-1b10-40d0-8083-b379dc40b8fa.png)

[2022-10-03 22:07] danilopinotti commented on #44439
This is a possible limitation of the JWT lib that you are using.

I suggest you get help in the Official Laravel Discord Server: https://discord.com/invite/mPZNm7A

[2022-10-04 01:06] sha-hin commented on #43811
Same problem here.
I have always not used components too much except in few cases, but since I've decided to use Tailwind in my new project, I thought it would be better to make components for different pieces on the website then use those components without rewriting the classes and styles everywhere again and again, but I've noticed that the performance is very bad even I'm still building the fr

[2022-10-04 07:36] driesvints commented on #44439
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-10-04 07:36] #44439 closed

[2022-10-04 10:46] tom-skilltech opened #44448 "Rule::unique doesn't handle a nested where condition properly"
- Laravel Version: 9.30.0 & 9.33.0
- PHP Version: 8.1.8
- Database Driver & Version: MariaDB 15.1

### Description:
When using a nested where on a Rule::unique rule the given restrictions are not resolved to the correct string, for example, the following behave differently but unless I've misunderstood the documentation these should still result in similar behaviour.

This is from the docs "Adding

[2022-10-04 14:48] kmarshgov opened #44452 "withSum issue"
- Laravel Version: 9.23.0
- PHP Version: 8.1
- Database Driver & Version: postgres

### Description:
withSum on a relation does not recognize alias column name.

### Steps To Reproduce:

Step1: Please make sure User model is declared properly.
[code]

Step2: Please make sure UserData model is declared properly.
[code]

Step3: Call.
[code]
With the above I get ```ERROR: column user_datas.Paused doe

[2022-10-04 14:55] driesvints commented on #35857
I'm sorry @BrandonSurowiec but 8.x is closed for bug fixes. You should upgrade as soon as you can.

[2022-10-04 15:01] kmarshgov commented on #44452
I also updated to the latest v9.34.0 Laravel version and ended with the same issue.

[2022-10-04 15:05] driesvints commented on #44452
This indeed isn't supported, sorry.

[2022-10-04 15:05] #44452 closed

[2022-10-04 15:09] kmarshgov commented on #44452
@driesvints here is my second attempt without aliases and still having difficulties.
[code]

This throws a different error ```No function matches the given name and argument types. You might need to add explicit type casts.```

[2022-10-04 15:12] driesvints commented on #44452
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-10-04 18:20] AdilAmanat opened #44455 "Illuminate/Support/Collection::Map take 70% of the request time"
- Laravel Version: 8.44
- PHP Version: 8.1
- Database Driver & Version: Mysql 8

### Description:
using new relic I'm seeing that `Illuminate/Support/Collection::Map` take most of the request time. I'm using laravel nova 3.28 and seeing this on the `ResourceIndexController@handle`.

<img width="1335" alt="Screenshot 2022-10-04 at 11 13 39 PM" src="https://user-images.githubusercontent.com/21098295

[2022-10-04 19:42] eduance commented on #44455
This isn't a Laravel related issue, more a performance issue, check the Q&A section. However, I do like a fun performance question.

So, map() is by far the slowest due to its implementation using array_map.

https://stackoverflow.com/questions/18144782/performance-of-foreach-array-map-with-lambda-and-array-map-with-static-function

Foreach: 0.7 sec
Map on closure: 3.4 sec
Map on function name: 1.

[2022-10-05 00:12] Healyhatman commented on #24295
Happens in Laravel 8.83 using ->with() on a HasManyThrough relationship

[2022-10-05 03:56] rahulshinde19 opened #44463 "Forgot password notification email is not sending if field name is not email in users table"
https://github.com/laravel/framework/blob/df474f63f5411cd178258e5333d6d997df38591b/src/Illuminate/Notifications/RoutesNotifications.php#L48

I think at this line ```$this->getEmailForPasswordReset()``` function should be called instead of ```$this->email```

[2022-10-05 04:11] patrickomeara opened #44465 "New blade syntax breaks passing in static variables as attribute."
- Laravel Version: 9.34.0
- PHP Version: 8.10.0
- Database Driver & Version: N/A

### Description:

There is a backwards compatibility issue with the new blade syntax. https://twitter.com/taylorotwell/status/1577388846806929415

Using static class variables as blade attributes is no longer working.

A work around:
Use a getter method on the class instead of the static variable.
``:options="\App\Ac

[2022-10-05 04:35] plakhin commented on #44430
@driesvints please check https://github.com/laravel/docs/pull/8274

[2022-10-05 04:37] rahulshinde19 commented on #44463
Looks like I have to add custom field email (getEmailAttribute()) in my users table.
```getEmailForPasswordReset()``` function available in other trait ```CanResetPassword``` not in ```RoutesNotifications```

[2022-10-05 05:08] AdilAmanat commented on #44455
@eduance  This is the laravel related thing I guess check out the namespace of `Collection` in my question. As I mentioned in my question I'm using laravel nova and nova is actually doing it I'm not using directly this in my code. JFYI page where I'm seeing this issue is already paginated and only showing 25 records.

[2022-10-05 08:41] Jaspur opened #44470 "Observer not called when calling update on hasMany"
- Laravel Version: v9.34.0
- PHP Version: 8.1.6

### Description:

My expectation is that the Observer of a Model is always called when a mutation is done via an Eloquent way.

But this is not calling the Observer of Basket:
[code]
Result is fine; results are set to an amount of 10, but Observer is not called.

I have to loop through to baskets of the order, and update the amount separately :
[cod

[2022-10-05 08:58] eduance commented on #44470
According to the documentation:

[code]

https://laravel.com/docs/9.x/eloquent#mass-updates

To answer your question, this was a feature since 2016.

You could override the update method by creating a custom builder and still send out the event manually.

[2022-10-05 08:59] #44470 closed

[2022-10-05 09:02] eduance commented on #44455
@AdilAmanat

Open a issue with Laravel Nova, the map() method isn't broken in any way.

https://nova.laravel.com/docs/3.0/support.html

[2022-10-05 11:49] mehmetnky commented on #18551
Issue still exists. Creating a new column, carrying all the data from old column to the new one looks like the only solution rn. Does anyone have a better idea?

[2022-10-05 12:40] ArdaKaraderi opened #44475 "9.x branch tests are failing."
- Laravel Version: 9.x
- PHP Version: 8.1
- Database Driver & Version: Postgre 14

### Description:
Content up on 9.x branch is breaking tests.

<img width="566" alt="image" src="https://user-images.githubusercontent.com/22325146/194062320-802db196-aae8-40ed-987a-c4bc5434e2b5.png">

### Steps To Reproduce:
`composer install`
`vendor/bin/phpunit`

[2022-10-05 14:21] jbrooksuk commented on #44475
You need to install the `gmp` extension.

[2022-10-05 14:21] #44475 closed

[2022-10-05 15:14] GlauberF opened #44477 "created_at, updated_at and deleted_at type fields do not respect timezoneTz"
- Laravel Version: ^9.27
- PHP Version: 8.1
- Database Driver & Version: Postgresql 14.X

### Description:
I use different names for standard date fields, see below.
![Captura de Tela_selecionar área_20221005120912](https://user-images.githubusercontent.com/11314585/194094514-4737b8aa-6a40-4cee-a042-ad6a800cb95e.png)

I also include these data type fields in the cast.
![Captura de Tela_selecionar

[2022-10-05 16:28] #44477 closed

[2022-10-05 18:38] rodrigopedra commented on #44455
@AdilAmanat

- How may items are you iterating in this collection?
- Are those items Eloquent models?
- What transformation are you doing inside your map function?

It is very hard to even try to understand where the eventual issue lies with only a stack trace screenshot.

A code like this would spend a lot of its time on a `->map()` call too:

[code]

So please provide more insightful information

[2022-10-05 19:36] JayBizzle commented on #43811
See #44480

[2022-10-05 19:49] mirafzal commented on #22621
regex replace:

[2022-10-05 19:51] mirafzal commented on #20994
regex replace:
https://github.com/php((.*))
https://github.com/php $1 @endphp

[2022-10-05 20:47] driesvints commented on #44455
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-10-05 20:47] #44455 closed

[2022-10-05 21:25] fgilio commented on #35649
All of this has roots in this commit https://github.com/laravel/laravel/commit/ced3e50bca279f5a499a6d513fcdfd2a020c28ce
Since that moment, the `configureRateLimiting()` method must be called when booting the provider instead of in the deprecated `map()` method.

By making those changes everything works perfectly fine and as expected.

---

👋  Hola @julianpoma, lo solucionamos! 🎉 Saludo de Nacho y

[2022-10-06 06:20] tauseedzaman commented on #35597
got the same issue but solved by using groupby("field name")->paginate()..

[2022-10-06 09:54] gufoe opened #44483 "Eloquent canUseExistsForExistenceCheck does not consider all cases"
- Laravel Version: any
- PHP Version: any
- Database Driver & Version: postgres

### Expected behaviour
The following calls should produce the same query.
[code]
The first one is converted into an `exists` sql clause, but the second is not.

### Description:
To improve database performance on relation filters, Eloquent replaces subquery `count` with the `exists` sql function.
For example, when I d

[2022-10-06 10:10] driesvints commented on #44483
Please fill out the issue template when submitting issues and don't skip versions.

[2022-10-06 10:10] #44483 closed

[2022-10-06 11:01] hmazter opened #44486 "From address is not set for Mailables when using Mail:fake()"
- Laravel Version: 9.34.0
- PHP Version: 8.1.10
- Database Driver & Version: MySQL 5.7 (But no database is used in the issue)

### Description:
When testing the sending of mailables using `Mail::fake()` the `from` address (and other properties) configured in `build()` is not set.
i.e it seems that `build()` is not called at all when using Mail::fake().

Is that expected behavior that `build()` is

[2022-10-06 11:27] djurovicigoor commented on #16311
@thewebartisan7 Did you find a proper way to handle a multi guard scenario?

[2022-10-06 13:18] thebazshah opened #44488 "Removing imports from same namespace is not loading Eloquent relationships"
- Laravel Version: 9.19
- PHP Version: 8.1.11
- Database Driver & Version:
- Ubuntu 22.04

### Description:
In current Laravel version (v9.19) I am having this issue. In my model classes, Pint removes imports from same namespace i.e. models imported from same namespace. And because of this the eloquent relationships are not loading even when I query my model using `with` clause. Here is the code I

[2022-10-06 13:50] thewebartisan7 commented on #16311
No sorry. And as I understand there is not a way.
I simple stop use multi auth time ago as it introduce too much complexity, and now handle via roles and permissions everything.

Cao

[2022-10-07 01:35] eduance commented on #44483
@gufoe Yes.

[2022-10-07 06:31] mouyong opened #44498 "Error dump from."
- Laravel Version: 9.x
- PHP Version: 8.0+
- Database Driver & Version: mysql 8

### Description:

<img width="1175" alt="image" src="https://user-images.githubusercontent.com/10336437/194482277-d907fbfa-cf57-410d-a5c5-f3e20a65bb25.png">

<img width="1176" alt="image" src="https://user-images.githubusercontent.com/10336437/194482394-4a9a1f8e-1b3d-47af-8abd-9c19d63e4f99.png">

<img width="1470" alt

[2022-10-07 06:41] mouyong opened #44499 "Cannot overwrite default database config"
- Laravel Version: 9.x
- PHP Version: 8.0+
- Database Driver & Version: mysql 8

### Description:

<img width="1244" alt="image" src="https://user-images.githubusercontent.com/10336437/194484093-f6c7367b-44d7-45e8-aed4-2a140b61cf34.png">

<img width="1327" alt="image" src="https://user-images.githubusercontent.com/10336437/194483489-a5282486-b7e2-49b8-9e74-df8053fb9e20.png">

<img width="1470" alt

[2022-10-07 07:55] driesvints commented on #44498
Most likely this happens because not all services needed for dumping are registered yet.

[2022-10-07 07:55] #44498 closed

[2022-10-07 08:31] driesvints commented on #44499
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-10-07 08:31] #44499 closed

[2022-10-07 08:31] driesvints commented on #44463
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-10-07 08:31] #44463 closed

[2022-10-07 08:44] hdimitrov1 opened #44501 "Policy before method skipped if it has a mandatory user and the method does not"
* Laravel Version: 8.x
* PHP Version: 7.2
- Database Driver & Version: n/a

### Description:

The before method in a policy skips if it doesn't have an optional user

### Steps To Reproduce:

Essentially, with this code, in a policy

[code]

this will allow anyone not logged in to access the resource (provided there's no `auth` middleware), but block anyone that's actually logged in.

This seems l

[2022-10-07 08:51] rahulshinde19 commented on #44463
Found solution for this

[code]
adding this to module will fix this issue and will return custom email field value to send an email
thanks to @crynobone for the solution

[2022-10-07 10:12] standaniels opened #44502 "App\Http\Kernel::getMiddlewarePriority method cannot be used to specify middleware priority"
- Laravel Version: 9.34.0
- PHP Version: n/a
- Database Driver & Version: n/a

### Description:

Custom middleware priority cannot be specified by overwriting the `Illuminate\Foundation\Http\Kernel::getMiddlewarePriority` method in `App\Http\Kernel`. This method is only called in [`KernelTest.php`](https://github.com/laravel/framework/blob/9.x/tests/Foundation/Http/KernelTest.php#L42), but it shou

[2022-10-07 15:03] shawndibble commented on #31530
MySQL 8 uses the algorithm in the following order: INSTANT -> INPLACE -> COPY. You can specify algorithms for any indexing, just not adding columns. Is this option really still needed?

I understand if you are on MySQL 5.6 this might be very useful. But I think for those still on older versions, using raw sql works adequately.

[2022-10-08 01:32] mouyong commented on #44499
https://discord.com/channels/297040613688475649/486650445297877003/1028113278649508000

when use `\DB::purge();` after changing connection config programatically afaik. it ok.

[2022-10-08 04:57] rodrigopedra commented on #44502
I agree.

In the meanwhile you could call:

[code]

From any Service Provider's `boot()` method to avoid copying the parent class default definition array just to append a new one.

[2022-10-08 10:17] driesvints commented on #44488
I think I closed a similar issue in the Pint repo? Please don't open duplicate issues and try a support channel.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat

[2022-10-08 10:17] #44488 closed

[2022-10-08 14:34] uaoleg commented on #24255
Having the same issue with queue job on Yii2 ))

[2022-10-08 19:32] driesvints commented on #44501
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-10-08 19:32] #44501 closed

[2022-10-08 19:33] driesvints commented on #44486
Seems like we have no plans to change or implement this, sorry.

[2022-10-08 19:33] #44486 closed

[2022-10-08 20:14] MambetniyazovAmir commented on #27073
$companyRequest = new CompanyRequest($request->get('company'));
return $companyRequest->validated();

in CompanyRequest

[2022-10-09 05:23] mouyong commented on #44499
DatabaseServiceProvider 在 register 时会注册单例 db=>DatabaseManager,
DatabaseManager 在初始化时会将connection存到数组中,
然后 调用DB facade时 DBfacade又会把 app('db') 放到cache数组中,
当修改database config时  如果不重新执行(new DatabaseServiceProvider(app()))->register()  则连接配置不会有任何改变

当执行register后 app('db')拿到的就是修改后的连接配置。
此时 如果DB facade的cached是true的话

则DB facade拿到的依然是旧的连接配置,

综上 如果想修改连接配置并生效
1. 如果想通过register()就重置所有配置 还需要将DB facade的 cached

[2022-10-09 16:54] nk-square opened #44522 "Model retrieved from session and saving to database inside a transaction sometimes not being saved to database."
- Laravel Version: 8.83.23
- PHP Version: 8.0.6
- Database Driver & Version: Maria DB 10.4.19

### Description:
Adding an unsaved model to session and then retrieving the same model from session and then saving the model inside a database transaction sometimes results in the model not being saved in the database. This is observed to occur whenever an exception is thrown in the code where the $mode

[2022-10-10 14:24] ODelibalta commented on #34643
@timmoh Thank you for sharing. I tried to implement it but now I get ```array_key_exists(): Argument #1 ($key) must be a valid array offset type``` error

[code]

[2022-10-10 22:51] asg452 opened #44535 "RefreshDatabase deleted all existing data and dropped current tables"
- Laravel Version: 8.83.23
- PHP Version:7.4
- Database Driver & Version: mysql 5.7

### Description:
Trying to run Pest tests against staging database. On running tests with the trait RefreshDatabase to be applied to all tests - it dropped all tables and removed all data. It does run migration afterwards but all staging data is now gone.

### Steps To Reproduce:

1.  new laravel app
2. Run users

[2022-10-10 23:51] timacdonald commented on #44535
This is the intended functionality of `RefreshDatabase`. It drops your data and migrates the database again.

If you want to keep the current data in place, you may need to try `Illuminate\Foundation\Testing\DatabaseTransactions`

[2022-10-10 23:51] #44535 closed

[2022-10-11 03:16] asg452 commented on #44535
Thanks! I could be wrong here but I felt the way documentation presents refresh database trait is different than how it functions. It doesn’t mention anything about dropping tables or removing existing data. It does mention that the main use is so your previous test data doesn’t cause issues with the new test data.

I can submit a new doc pr if that’s acceptable?

On Oct 10, 2022, at 5:52 PM, Tim

[2022-10-11 07:13] dammixyz commented on #28233
Thank you for the heads up.

On Fri, Sep 30, 2022, 11:29 AM Micha(el) Bladowski ***@***.***>
wrote:

[2022-10-11 08:01] igor-krein opened #44539 "Job implementing Serializable interface fails with "The payload is invalid" exception"
- Laravel Version: 9.34.0
- PHP Version: 8.1.11
- Database Driver & Version: MySQL 5.7.23

### Description:

If a job class implements PHP's Serializable interface, and doesn't implement \Illuminate\Contracts\Queue\ShouldBeEncrypted interface, the job's payload unserialization fails.

[code]

**Notes**

I believe, the problem exists since Laravel 8; it's just I am upgrading from Laravel 7 to 9. Al

[2022-10-11 11:15] kwarnkham commented on #34549
I have a get route protected by middleware 'auth:merchant.
I do have merchant guard configured in auth.php.

But when I test with $this->actingAs method, both 'user' and 'merchant' are passing the test.
I'm expecting the normal user to fail the test.

[2022-10-11 12:28] delboy1978uk opened #44542 "migrations with schemas do not work in a docker container"
- Laravel Version: v8.83.23
- PHP Version: 8.0.12
- Database Driver & Version: mariadb:10.7.1
### Description:

Migrations will use PHP to connect to MySQL without problems, but if there are schema SQL files then Laravel will attempt to use the `mysql` command, which is not available in a docker container (or indeed any server without MySQL where the DB is hosted elsewhere), and so requires the de

[2022-10-11 13:25] marin246 commented on #44399
Apparently, this should be fixed with the next symfony release: [Symfony Github](https://github.com/symfony/symfony/pull/47746)

Does anybody know when that will be relased?

[2022-10-11 14:11] Kwaadpepper commented on #33357
On laravel 8.83 (Seems it starts since 8.76)

Validator replaces dots

So I had to replace this

    [function ($attribute, $value, $fail) use ($max, $dim) {
        try {
            if (\is_object($value)) {
                Validator::validate(
                    [$attribute => $value],
                    [$attribute => [
                        'file',
                        'mimes:png,jpg,j

[2022-10-11 14:37] morloderex commented on #44539
@igor-krein This is a php bug and not a specific laravel bug.

The `\Serializable` interface shouldn't be used anymore sense it has been superseded by `__serialize` and `__unserialize` magic methods.

And as I can see you are using PHP 8.1 which means you should see deprecation warnings in your log files.

[2022-10-11 15:18] amarmain opened #44544 "php artisan view:cache returns an error since laravel 9.35 : Unable to locate a class or view for component [mail::message]."
- Laravel Version: 9.35
- PHP Version: 8.0.19
- Database Driver & Version:

### Description:

Since I run a composer update to get the latest laravel version (9.35), my deployment script crashes.

If I go back to laravel 9.34, the error does not occur anymore.

### Steps To Reproduce:

Just run these commands:

composer dump-autoload
php artisan view:cache

[2022-10-11 15:19] DougSisk commented on #44544
Same here. Seems to be an issue with PR #44527

[2022-10-11 15:20] browner12 commented on #44544
![Screen Shot 2022-10-11 at 10 15 56 AM](https://user-images.githubusercontent.com/5232313/195132400-7156745f-ea5a-446a-b1bd-fff09d62445c.png)

[2022-10-11 16:21] hungthai1401 commented on #44544
I think we only need because we don't load views of mail

src/Illuminate/View/Compilers/ComponentTagCompiler.php line 315
[code]

[2022-10-11 16:55] mateuslecchi commented on #44544
Same problem here, have to downgrade to 9.34

[2022-10-11 17:09] AyoobMH commented on #44544
Same problem here!

[2022-10-11 17:11] nunomaduro commented on #44544
We are aware of this issue. And, Taylor will address it just after his lunch time. 👍🏻

[2022-10-11 17:32] taylorotwell commented on #44544
Fixed in 9.35.1.

[2022-10-11 17:32] #44544 closed

[2022-10-11 17:57] amarmain commented on #44544
thanks it works!

[2022-10-11 19:36] rtfmfm opened #44546 "Error when uploading GPX files"
- Laravel Version: v9.35.1
- PHP Version: 8.1.11
- Database Driver & Version: MySQL 8.0.30

### Description:
When trying to upload GPX file the framework does not return an error and "uploads" an empty file.
The `var_dump($request->file('gpx_file'));` returns:
[code]

Tried on `apache2` and `nginx` web servers.

### Steps To Reproduce:
Try to upload a GPX file using form.

[2022-10-12 00:59] tomhapbia commented on #44544
Valuable comment!

[2022-10-12 01:03] hungthai1401 commented on #44544
@tomhapbia thanks

[2022-10-12 05:29] driesvints commented on #44546
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-10-12 05:29] #44546 closed

[2022-10-12 05:33] brunoalfred opened #44553 "Misleading error message for incorrect rendering of components."
![Screenshot 2022-10-12 at 08 19 34](https://user-images.githubusercontent.com/55545250/195256531-0eda8818-ea9b-48cd-99c7-e711a11f83e7.png)

### When a component is rendered without `/` in (<component-name > instead of <component-name />) the error message message doesn't specifically describe a missing character rather it describe an issue with expecting "elseif" or "else" or "endif".

### Steps

[2022-10-12 10:06] igor-krein commented on #44539
@morloderex Just checked, and looks like this is the solution I need.

Think, I can close the issue now. Thanks again.

[2022-10-12 10:28] morloderex commented on #44522
@nk-square Which session driver are you using?

[2022-10-12 13:22] ankurk91 opened #44558 "`Model::preventAccessingMissingAttributes` is crashing with Mailable"
- Laravel Version: 9.35.1
- PHP Version: 8.1 (latest)
- Database Driver & Version: any

### Description:
My `users` table does not have `name` column, but Mailable is trying to access the `name` property on `$recipient` object.

https://github.com/laravel/framework/blob/31091a54085101f743960c9ca013058028e6ea35/src/Illuminate/Mail/Mailable.php#L687-L688

### Steps To Reproduce:

* Remove the `name`

[2022-10-13 06:29] dlnsk opened #44566 "Invalid php dependancy"
- Laravel Version: 6.20.44, 7.*
- PHP Version: 8.1

### Description:

"php": "^7.2.5|^8.0" record in composer.json means ">=7.2.5" && "<8.0" or ">=8.0" && "<9.0" (https://getcomposer.org/doc/articles/versions.md#caret-version-range-)
so php 8.1 includes in that range. But 8.1 isn't compatible with 6.x, 7.x (8.x not tested) and fall with:

[2022-10-13 06:48] crynobone commented on #44566
Also, those are depreciation warning and you still be able to use PHP 8.1. Unless there are other error or actual compatibility that can prevent you from using PHP 8.1

[2022-10-13 08:40] KenoKokoro opened #44567 "`sometimes` validation rule has preg_match exception for keys with `*` and containing `/`"
- Laravel Version: v9.35.1
- PHP Version: 8.0.19
- Database Driver & Version:

### Description:
Whenever I use `sometimes` on a nested validation rule with the format: `keys.*.strings.*.text` where the structure is like: "keys.some/path/to/file.json.strings.*.text" it throws `preg_match` exception inside the `ValidationData:60`.

![image](https://user-images.githubusercontent.com/10259827/19554494

[2022-10-13 09:01] nk-square commented on #44522
I'm using the default file session driver.

[2022-10-13 09:14] kskrlinnorth2 opened #44569 "Alternative Mailable Syntax not working with blade components"
- Laravel Version: 9.35.1
- PHP Version: 8.1.0

### Description:
I try to use this alternative mailable syntax with blade components instead of blade directives in my emails, but it fails, outputting plain text:
![image](https://user-images.githubusercontent.com/61736280/195555040-5750c121-e649-49ca-a131-6db97bd6db5e.png)

Same issue with published laravel-mail and with removed vendor/mail

### St

[2022-10-13 09:37] kskrlinnorth2 commented on #44569
My template file is missing .blade 🤦‍♂️

[2022-10-13 09:37] #44569 closed

[2022-10-13 10:43] romanstingler opened #44570 "blank($value) helper"
- Laravel Version: 9.351
- PHP Version: 8.2
- Database Driver & Version: PG14

### Description:
I wanted to ask if there is a reason why the `blank` helper doesn't include an `isset` check?

[code]
should be
[code]

[2022-10-13 11:02] milewski commented on #44558
Also crashing with the default logout route:

[code]

[2022-10-13 11:08] driesvints commented on #44570
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-10-13 11:08] #44570 closed

[2022-10-13 11:08] #44566 closed

[2022-10-13 15:01] rodrigopedra commented on #44570
https://www.php.net/manual/en/function.isset.php

As `$value` is always declared inside the function scope it is a parameter, checking only for null is sufficient.

[2022-10-13 15:16] f-liva commented on #33402
Support for different databases is needed

[2022-10-13 15:34] WeedTest opened #44574 "Unknown named parameter $directory on BLade::componentNamespace function"
![image](https://user-images.githubusercontent.com/71571547/195638214-b8119c4e-012b-45ca-9cc3-4cd30ff88c0a.png)

### Description:
![image](https://user-images.githubusercontent.com/71571547/195638943-8cf468f2-e6ce-43d1-9f1a-c7136b6b53d6.png)

docblock in Illuminate\Support\Facades\Blade
![Capture d’écran du 2022-10-13 15-16-03](https://user-images.githubusercontent.com/71571547/195639607-7d8e8b6b-

[2022-10-13 17:01] rodrigopedra commented on #44574
https://laravel.com/docs/9.x/releases#named-arguments

[2022-10-13 17:09] rodrigopedra commented on #44574
@WeedTest in short: Laravel does not guarantee parameter names won't change.

So, avoid using named parameters when calling framework level methods.

Also I don't think your `Blade@componentNamespace` usage is correct. You seem to be using using a class name as the namespace parameter.

Please check usage in the link below:

https://laravel.com/docs/9.x/blade#manually-registering-package-component

[2022-10-14 03:13] ayophanz opened #44581 "Job issue for model without db table"
is there a way to avoid this issue for model without db table?

error:
![image](https://user-images.githubusercontent.com/24581584/195753673-c33c87db-09ec-4a17-9a22-3cb37211d6f2.png)

model without table:
![image](https://user-images.githubusercontent.com/24581584/195753708-7029f64f-a930-4e2e-853b-a2eeb9043a18.png)

job:
![image](https://user-images.githubusercontent.com/24581584/195753918-b7cd746

[2022-10-14 09:53] rubenvanassche opened #44586 "Nested validation and the sometimes rule"
- Laravel Version: 9.27.0
- PHP Version: 8.1.8
- Database Driver & Version: Mysql 8

### Description:

The sometimes rule allows us to only validate a field when it is present but it has some strange behavior when being used in nested rules.

### Steps To Reproduce:

First a working example:

[code]

The complete payload is provided so no problems here. When we remove the required fields in the ne

[2022-10-14 12:07] MohinSandhi opened #44587 "WhereHas and has not working with Model Connection property take default connection"
- Laravel Version: 9.35.1
- PHP Version: 8.0.3
- Database Driver & Version:
Mysql 5.7.12

### Description:
on server, there is 2 database running on the same rds
database 1 has a user table and user model connection name is old_database
database 2 has a corporate user and the Corporate user model connection name is mysql (default)

when I try to perform any action like whereHas or has via the corp

[2022-10-14 13:08] driesvints commented on #44581
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-10-14 13:08] #44581 closed

[2022-10-14 13:09] #44574 closed

[2022-10-14 14:12] Joemires commented on #9592
I came up with a solution for this
Add the following code to your Controller class, replace domain with your domain parameter
`/**
     * Execute an action on the controller.
     *
     * @param  string  $method
     * @param  array  $parameters
     * @return \Symfony\Component\HttpFoundation\Response
     */
    public function callAction($method, $parameters)
    {
        if(Arr::exists($para

[2022-10-14 16:03] aaronhuisinga opened #44593 "Route Model Binding issue with SQLSRV"
- Laravel Version: 9.35.1
- PHP Version: 8.1.11
- Database Driver & Version: Microsoft SQL Server 2019 v15.00.4198.2.v1

### Description:
When using route model binding, if a user enters a string instead of the expected integer for the URL parameter, an `Illuminate\Database\QueryException` is thrown instead of the expected 404 response via a `ModelNotFoundException`.

For example, if I have the ro

[2022-10-14 16:44] WeedTest commented on #44574
thanks @rodrigopedra

[2022-10-14 17:06] Marwelln opened #44594 "Using route/url in an attribute "not supported" won't generate a link to the correct scheme"
- Laravel Version:  9.2
- PHP Version: 8.1
- Virtual machine running on Amazon EC2

### Description:
Using `route` in an attribute "not supported" won't generate link to `https` but instead `http`.

### Steps To Reproduce:

1. Viewing your page with `https`, open any blade file.
2. Add `<a href='{{ route('foobar') }}'>link</a>` anywhere – this works, link will be https://foobar
3. Add `<a foo='{{

[2022-10-14 18:09] BrandonSurowiec commented on #44594
Do your local env `APP_URL` start with `http://`? If so, changing that to `https` should fix it.

[2022-10-14 19:11] Marwelln commented on #44594
After checking trough the Laravel code on how the scheme is set I solved this by removing Cloudflare proxy and then issuing a new ssl certificate on my server without Cloudflare interference.

Super weird case but at least it is fixed.

[2022-10-14 19:11] #44594 closed

[2022-10-14 21:17] andersonef commented on #44522
If the exception is getting throwed, then the transaction is not getting commited. So, what's wrong here?

[2022-10-14 22:29] Nelnaji opened #44596 "Route name not working with DB"
- Laravel Version: 9.3.3
- PHP Version: 8.1.8
- Database Driver & Version:MySQL 5.7.33

### Description:

### Steps To Reproduce:

Hello

I've been working on a project lately, I've created a ressource:get with a name route called 'welcome" that return my welcome view.

In my DB I have a table that is seeded with route('welcome') that I send through an appserviceprovider to a component. so that I

[2022-10-15 04:24] nk-square commented on #44522
Say the user submits a form and the `submit()` function is executed and an exception is thrown showing 500 screen on the browser, the model is not saved to the database which is the expected behavior. However, say the user reloads the page and the page and the `submit()` function is executed again and **this time the exception is not thrown** (note that the exception thrown is situational and some

[2022-10-15 05:11] ilyub opened #44597 "Fix getTokenForRequest return type"
- Laravel Version: 9.35.1
- PHP Version: 8.0.6
- Database Driver & Version:

### Description:

getTokenForRequest documented return type is "string".
But it actually can return "mixed" as can be seen from screenshot:
![image](https://user-images.githubusercontent.com/70687432/195969893-3349f656-0943-42dd-a829-1fc540aee55b.png)

### Steps To Reproduce:

See screenshot

[2022-10-15 09:49] lanrenbulan opened #44603 "Connection:: beforeExecuting() cannot be executed on all SQL"
- Laravel Version: 9.*
- PHP Version: 8.*
- Database Driver & Version: mysql8

### Description:

Connection:: beforeExecuting() cannot be executed on all SQL, such as the SET command. See MySQL Connector.

It is expected that all SQL can be processed by Connection:: run().

In my application, I use database middleware, such as shardingsphere or mycat.

Select the data source by adding annotations

[2022-10-15 13:47] zanderwar commented on #33733
no longer correct, predis supports 7.4+ and predis:^2 supports 8.1+

[2022-10-15 16:55] driesvints commented on #44603
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-10-15 16:55] #44603 closed

[2022-10-15 16:56] driesvints commented on #44597
Heya. This doesn’t seem like a bug. Feel free to send a pr if you want to adjust a docblock

[2022-10-15 16:56] #44597 closed

[2022-10-15 16:56] driesvints commented on #44522
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-10-15 16:56] #44522 closed

[2022-10-15 16:56] driesvints commented on #44596
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-10-15 16:56] #44596 closed

[2022-10-15 17:05] roberto0arruda commented on #10003
@goodevilgenius same problem here, I solved running:
`composer require illuminate/redis`
available in : https://lumen.laravel.com/docs/5.8/cache#Redis Support

Disclaimer:
"This problem has been closed for a while, but I leave the record here in case anyone has the same problem, it happened to me recently."

[2022-10-15 18:10] rodrigopedra commented on #44593
@aaronhuisinga in the meanwhile you can use route parameter constraints so the router does not match any route when using string instead of parameters:

[code]

reference: https://laravel.com/docs/9.x/routing#parameters-regular-expression-constraints

If you are willing to try a PR, you can try checking a model `$keyType`, which is accessible through the `Model@getKeyType()` public method.

As the

[2022-10-15 20:15] driesvints commented on #44593
We’ve had this issue before. Unfortunately there’s no way to know which column type the database column has. You’ll have to solve this like @rodrigopedra explains.

[2022-10-15 20:15] #44593 closed

[2022-10-15 21:49] aarondfrancis opened #44611 "`Model::handleLazyLoadingViolation` behaves differently with a custom handler"
- Laravel Version: 9.35.1
- PHP Version: NA
- Database Driver & Version: NA

### Description:

I'm not sure if this is intentional or not, but if the developer provides a `lazyLoadingViolationCallback` handler the `handleLazyLoadingViolation` behavior seems wrong.

In the default execution (no custom handler) the violation is not triggered if the model doesn't exist or it was recently created.

If

[2022-10-15 23:07] Nelnaji commented on #44596
I found the problem, the route() method was not called.

It was a syntax error on my part, I forgot to remove the issue, thank you for closing it.

[2022-10-16 09:20] axlon commented on #44558
I mentioned this in the pr that introduced this feature, but to me it seems that the `__isset()` method on the model should catch this exception and return false.

Because if you really think about it, what the framework is trying to do here makes sense: it tries to set the name only if it exists. And it assigns the email without any safety checks because if the email doesn't exist the framework c

[2022-10-16 11:07] ankurk91 commented on #44558
Ping @inxilpro

[2022-10-16 16:47] juse-less opened #44615 "HasManyThrough duplicates already selected column(s), when pagination methods are used"
- Laravel Version: 9.35.1, although I've had this issue ever since I used these relationship(s)
- PHP Version: 8.1.11
- Database Driver & Version: Percona/MySQL 5.7, as well as 8.0.29

-----
I found it a bit troublesome to restructure the 'documentation' I made of my findings, while debugging the issue.
So if possible, maybe have a look directly in the [file I tested in](https://github.com/juse-le

[2022-10-16 23:13] timacdonald commented on #44586
I've run into this exact thing when building up some complicated validation logic for object based data. But I think I have the right incantation for you.

We ended up doing it the other way around, where we made the children's "required" state dependent on the parent's existence...

[code]

However, due to the nature of the Laravel validator, an empty string and an empty array will not invoke the

[2022-10-17 10:48] amcsi opened #44618 "Segmentation fault with combined use of queues and container's when-needs-give for LoggerInterface"
- Laravel Version: 9.26.1
- PHP Version: 8.1.11
- Database Driver & Version: none

### Description:

When using any non-sync queue (e.g. redis), and you have a service class (e.g. `\App\MyCrashingService`) with `\Psr\Log\LoggerInterface` as a dependency, and you want to override that interface's implementation for just `\App\MyCrashingService`  by doing `$app->when(\App\MyCrashingService::class)->

[2022-10-17 20:11] emresudo opened #44624 "Html sometimes does not render properly"
- Laravel Version: 9.35.1
- PHP Version: 8.1.11
- Database Driver & Version: MariaDB 10.9.2
- Docker Version: 20.10.17, build 100c701
-

### Description:
Actually this problem i noticed a have few weeks ago.

I using Docker for Windows and laravel running on docker.

I tried using local and remote database, but nothing has changed.

What is the problem? I cant detect anything.

This page is look l

[2022-10-17 21:45] buismaarten commented on #44624
Can you show some codes from:

[code]

[2022-10-17 21:53] X-Coder264 commented on #44618
This seems to be the same issue that I've reported over two years ago (a recursion that happens while trying to contextually bind a logger implementation) -> https://github.com/laravel/framework/issues/33114

That issue was closed with an explanation that doesn't really make too much sense to me, but I've never had time to dig back into the issue and the Laravel container internals regarding it.

[2022-10-17 23:12] amcsi commented on #44618
What I didn't mention is that if I resolved the dependency in advance, I still get a segmentation fault:

[code]

So something fishy is going on even if I don't resolve something from LogManager "during resolving a LoggerInterface dependency".

It would be a huge bummer if I couldn't use good PHP practices of dependency-injecting interfaces with the help of Laravel's container features :/ as you d

[2022-10-18 02:03] Cbrad24 opened #44625 "Arr Helper Class - Non-Standard Functionality"
- Laravel Version: 9.31.0
- PHP Version: 8.1.10
- Database Driver & Version: PostgreSQL

### Description:
`Illuminate\Support\Arr` class has subtle differences between the `add` and `set` method in that one uses references and another does not.

Ideally the way these two methods work should be standardised, since in many cases you do not want to use the return value of `Arr::set()`, but you need t

[2022-10-18 06:24] comes opened #44628 "Date Casts returns wrong data with an impact to data consistency."
- Laravel Framework 9.35.1 (and all the others)
- PHP Version: 8.x
- Database Driver & Version: unneeded

# Description:
## Given

Imagine you have a model with a custom cast property to date. The code below will demonstrate it:

[code]

## Expectation

I expect that I convert my model to an array or to json and the property `something` that has an empty string as a value, will be empty after conv

[2022-10-18 11:22] eusonlito commented on #44542
It Is right, if you want to import a sql schema from file you need the database client, no way to do it with native php code.

[2022-10-18 14:10] RobIsHere opened #44633 "Intent behind proxy missing HEADER_X_FORWARDED_PREFIX"
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:
You have to set trusted proxy and headers for Request->getBaseUrl() to work with rewrites. The necessary header 'HEADER_X_FORWARDED_PREFIX' is missing from Laravels internal getTrustedHeaderNames(), so it silently discards this header from trusted ones and it will not work. You have to overwrite the method

[2022-10-18 15:19] jasonvarga opened #44634 "View composer namespaced wildcards no longer work"
- Laravel Version: 9.36.0
- PHP Version: 8.1.6
- Database Driver & Version: N/A

### Description:

Using a view composer with a namespaced wildcard no longer works as of 9.36.0. Likely due to #44487 since it's all about views.

[code]

[code]

[code]

Using a complete wildcard still works. `View::composer('*', ...)`
It's just the namespaced version that doesn't. `View::composer('namespace::*', ...

[2022-10-18 15:24] jasonvarga commented on #44634
I'll take a stab at a PR.

[2022-10-18 15:31] KennedyTedesco commented on #44634
Yeah, I can confirm the issue. We need to work a bit more on `shouldCallComposers`. Good luck on the PR! =D

[2022-10-18 16:31] jasonvarga commented on #44634
I had a feeling it would be much faster for Nuno. 🤣

[2022-10-18 16:37] Rudio1 commented on #30195
use php artisan config:clear
and try again

[2022-10-18 16:47] nunomaduro commented on #44634
@jasonvarga Can you test if the changes I've made fix the issue you were having in your application? It does fix the issue on the application you have prepared on the issue.

[2022-10-18 17:07] jasonvarga commented on #44634
Yup, fixes it for us too. Thanks @nunomaduro

[2022-10-18 18:45] #44634 closed

[2022-10-18 18:46] inxilpro commented on #44558
@milewski with the `remember_token` issue, you need to update the `User::$rememberTokenName` value to whatever you use. If you don't use remember me tokens, just set that value to `null`.

@ankurk91  The `$recipient->name` issue is a little trickier. I think we may need to update Mailable to check for Model instances and either call `getAttributeValue()` or add a new helper method for checking if

[2022-10-18 18:56] LeoniePhiline opened #44637 "#44527 broke mail for installations applying Blade::withoutComponentTags() in their AppServiceProvider"
- Laravel Version: 9.35.0
- PHP Version: 8.1.11
- Database Driver & Version: n/a

### Description:

https://github.com/laravel/framework/pull/44527 broke mail for installations applying `Blade::withoutComponentTags()` in their `AppServiceProvider`.

### Steps To Reproduce:

- Use `laravel/framework`, any `< 9.35.0`
- Create a (md) mailable (e.g. using `artisan make:mail`)
  - Verify: Created app m

[2022-10-18 19:03] jasonvarga commented on #44634
Thank you for the speedy turnaround!

[2022-10-18 19:34] inxilpro commented on #44558
So I put together a draft PR with a potential solution: #44639

But honestly, the more I think about it, the more I think this is expected behavior. The `Mailable` doesn't know if your model doesn't have a `$name` property, or if you didn't retrieve it. A better solution might be to offer something like an `Emailable` contract that you can implement to account for the fact that your model works di

[2022-10-18 21:01] inxilpro commented on #44558
And it does. The default behavior is that it *just works.*  You have to explicitly opt-in to this feature. And if you do, you now need to play by new rules—one of which is, "if you're using functionality that expects a `$name` property on the model, but one doesn't exist, you must create an accessor for it."

This is only a bug because:

1. they opted-in with `Model::preventAccessingMissingAttribu

[2022-10-18 21:12] axlon commented on #44558
I think that's where we fundamentally disagree then. In my eyes Laravel _did_ account for that property missing, it uses a null-coalesce to ensure that code should not break in the event of the attribute not being there.

And that is also the exact reason I feel what is happening here is a bug in the new strict mode (no hard feelings though! I actually like the idea overall)

[2022-10-19 00:48] #44558 closed

[2022-10-19 06:11] hirenkeraliya opened #44644 "[BUG] - Squashing Migrations is not taking updated Auto Increment Value"
- Laravel Version: v9.28.0
- PHP Version: 8.1
- Database Driver & Version: 8.0.30

### Description:

When we reset the auto-increment value of the new table by using `->from(100)` Laravel `schema:dump --prune` it's not taking the auto-increment value inside the dump file. Ideally, we need to add `AUTO_INCREMENT=100` at the end of the table creation SQL query.

### Steps To Reproduce:

Migration lo

[2022-10-19 07:07] nuernbergerA opened #44646 "`Blade::render` issues since 9.36.0-2"
- Laravel Version: 9.36.2
- PHP Version: 8.1.11

### Description:

1. run the whole file, the last test will fail with `InvalidArgumentException : No hint path defined for [__components].`
2. running only the `will fail` test will create a invalid blade file and fail with `Illuminate\View\ViewException : syntax error, unexpected token "endif", expecting end of file`
[code]

### Steps To Reproduce:

[2022-10-19 07:50] kskrlinnorth2 commented on #44569
I answered on my own issue, my email template was missing .blade; so it was named test.php instead of teast.blade.php so it was not rendered properly.

Now everything works fine with new mail syntax and blade components instead of blade directives (both works actually since we have old emails still using blade directives and new ones using blade components).

I did nothing extra in service provide

[2022-10-19 08:11] josecl commented on #44646
Same problem here.
The error starts at `v9.35.1`:

- Remove check for $viewFactory->exists($component) in Illuminate/View/Compilers/ComponentTagCompiler::componentClass ([7c6db00](https://github.com/laravel/framework/commit/7c6db000928be240dfc6996537a0fed5b8c68ebb))

[2022-10-19 08:16] handhikadj commented on #32058
what is the alternative on this?

[2022-10-19 08:22] codoffer commented on #32058
We have used an alternate way for this issue. We have used guzzle package - https://docs.guzzlephp.org/en/stable/request-options.html#multipart

[2022-10-19 08:23] handhikadj commented on #32058
yea. I also though it too.
anyway, how can this is passed to production and still in the docs while it's still buggy? SMH...

[2022-10-19 09:14] bjhijmans commented on #44646
I have the same problem. Seems related to https://github.com/laravel/framework/pull/44487.

It looks like in `extractBladeViewFromString`

[code]

isn't always called when it should be.

[2022-10-19 09:54] BnitoBzh commented on #44646
I got an issue too when using dynamic components.
Error : "InvalidArgumentException: No hint path defined for [__components]."
with template like this :
[code]
And the related components files exist ..

[2022-10-19 09:56] nunomaduro commented on #44646
Can everyone confirm that you are having issues on *tests* only, and tests that are using `Blade::render`?

[2022-10-19 10:07] BnitoBzh commented on #44646
I confirm that i am having issues on tests only

[2022-10-19 10:20] nunomaduro commented on #44646
@josecl @BnitoBzh @bjhijmans @nuernbergerA Can you all test with https://github.com/laravel/framework/pull/44648? To see if addresses the issue?

@nuernbergerA The `unexpected token "endif"` is not related with the release `v9.36`.

[2022-10-19 10:37] bjhijmans commented on #44646
@nunomaduro That fixed the issue for me.

[2022-10-19 10:44] nuernbergerA commented on #44646
@nunomaduro works like a charm, thanks :kissing_heart:

[2022-10-19 11:29] SathishKumarA2001 opened #44649 "[BUG] in filesystem#file-uploads ```$request->file('avatar')->store('avatars')```"
- Laravel Version: 9.26.1
- PHP Version: 8.1.2
- Database Driver & Version: MySQL & 8.0.30

### Description:

1. This is my storage area for storing upload images `www/billitesaas/storage/app/public/{logo}` from end-user.

2. Important Note: The logo directory doesn't have write permissions.

3. When I upload image file using ```$request->file('image_file')->store('public/logo')``` this method, th

[2022-10-19 11:33] BnitoBzh commented on #44646
@nunomaduro That fixed the issue for me too.

[2022-10-19 11:36] stayallive opened #44650 "View events not firing anymore since 9.36"
- Laravel Version: 9.36.2 (same for 9.36.0 & 9.36.1)
- PHP Version: 8.1.10

### Description:

Listening to composing events no longer seems to work, probably related to: #44487.

[code]

Unsure if this was ever intended to work but this seems like a very breaking change since this always used to work and people are seemingly relying on it. It looks like an unintentional BC slipped in the 9.36 rele

[2022-10-19 12:11] andreyzp87 opened #44652 "Igbinary serializer in Redis cache driver not working properly"
- Laravel Version: 8.83.25
- PHP Version: 8.1.1
- Database Driver & Version:
Redis 6.0.6 on Ubuntu 22.04
Redis 6.2.7 on Fedora 36
PhpRedis 5.3.7

### Description:
When you enable igbinary serializer for redis in `database.php`, the actual value stored in redis is serialized with php serializer and some igbinary bytes are added at beginning.

Example:
`\Cache::put('test', ['a', 'b'])`

Actual value

[2022-10-19 12:12] bjhijmans commented on #44650
I noticed the same thing. It only threw the event for the outermost view, but not for any views included from there.

[2022-10-19 12:13] nunomaduro commented on #44650
On the PR https://github.com/laravel/framework/pull/44487, I've consider that there is no need to fire view events if no "creators" and "composers" exist. Yet, seem that a few packages were relying on these events even without registering "creators" and "composers".

So, there is two solutions:

- 1: Revert the micro-optimization that avoids 2 events being dispatched every time a view / component

[2022-10-19 12:16] stayallive commented on #44650
These are the 2 cases identified, probable that many other packages do something similar and/or userland code also relies on this. Personally I feel like this should be changed in 10.x and basically deprecate the view events.

Seems more than fine to refactor code to use `creator` and `composer` directly but it seems a little on the BC break path... but I'll leave that call up to you how you consi

[2022-10-19 12:25] nunomaduro commented on #44650
Prepared the PR, in case we decide to revert the code: https://github.com/laravel/framework/pull/44653.

[2022-10-19 13:08] josecl commented on #44646
@nunomaduro it's working 👍

It was failing on tests only!

[2022-10-19 13:21] #44650 closed

[2022-10-19 13:21] #44646 closed

[2022-10-19 14:47] ankurk91 commented on #44649
https://github.com/laravel/laravel/blob/586b9e7bf5efef4d205552cc285a3f8498767578/config/filesystems.php#L44

[2022-10-19 17:37] it-can commented on #44652
does ```\Cache::get('test')``` also show incorrect data?

[2022-10-19 19:16] emresudo commented on #44624
I can show you the codes but nothing will change.

My problem is, let's say we enter a page 10 times, 7 of them render the page as it should be, and the other 3 have distortions on the page.

I'm checking my js code and there is no code making "dom" changes.

[2022-10-19 21:34] gerardnll opened #44663 "Exception thrown when calling whenPivotLoadedAs when preventAccessingMissingAttributes is active"
- Laravel Version: 9.36.1
- PHP Version: 8.1.6
- Database Driver & Version:

### Description:

Having `Model::preventAccessingMissingAttributes(true);` and trying to make use of a Resource `whenPivotLoadedAs` method results in a `Illuminate\Database\Eloquent\MissingAttributeException`. Is this an expected behaviour? Shouldn't the `whenPivotLoadedAs` method check for the relation existence by calli

[2022-10-19 23:40] browner12 commented on #31789
sorry to resurrect an old issue, but did anyone ever confirm this issue and that `view:cache` did not handle package views?

I've been messing around with the command all day, and as far as I can tell it's compiling views from packages registered in the default `loadViewsFrom()` method **and** in the `publishes()` custom vendor directory.

there don't appear to be any relevant changes that would h

[2022-10-20 07:31] andreyzp87 commented on #44652
Actually you confirmed the bug :)

The cache put-get works, no problem with it. Problem is in the actual data stored in Redis.
If you encode it with igbinary `igbinary_encode(['a','b'])` you will see that there is no such stuff as `a:2:{i:0` - it's php serializer format, igbinary has much more compact representation for arrays.

What it means in real life for the project where I work - when igbina

[2022-10-20 07:36] it-can commented on #44652
ok but is this a laravel or phpredis bug then?

[2022-10-20 07:41] andreyzp87 commented on #44652
Not sure if I can confirm that. Will try our previous setup with latest laravel and get back here.

[2022-10-20 07:58] rjorel opened #44666 "Error when making assertions on mail attachments"
- Laravel Version: 9.36.3
- PHP Version: 8.1.11
- Database Driver & Version: MySQL 8.0

### Description:
Hey,
I've just tried the new assertions of `Mailable` class, and I've got this error when I call `assertHasAttachment()`:
`Error : Call to undefined method Illuminate\Support\Testing\Fakes\MailFake::render()`

My debugger says the error comes from `src/Illuminate/Mail/Mailable.php:1524`

### St

[2022-10-20 08:07] andreyzp87 commented on #44652
It's not phpredis bug, try this code:

[code]

When I check it in redis-cli:
[code]

So the actual value in redis is the expected igbinary encoded array. But it's not the case with laravel Cache
Need some more time to check our old setup

[2022-10-20 08:10] it-can commented on #44652
can you also post some version numbers?

[2022-10-20 08:18] it-can commented on #44652
Laravel seems to set the serializer config option correct on the connector though...

<img width="770" alt="Schermafbeelding 2022-10-20 om 10 18 24" src="https://user-images.githubusercontent.com/644288/196895082-bc98baeb-0de6-4ae1-8e43-ce1b5e52ec3d.png">

[2022-10-20 08:25] andreyzp87 commented on #44652
Same as in my initial message:
Laravel Version: 8.83.25
PHP Version: 8.1.1
Database Driver & Version:
Redis 6.0.6 on Ubuntu 22.04
Redis 6.2.7 on Fedora 36
PhpRedis 5.3.7

Just checked our old setup, it has the same problem, not sure why memory consumption increased.

Please, check this one, there is a hardcoded php serializer there:
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Cach

[2022-10-20 08:35] webard commented on #44652
I think `serialize` method should be used by framework only when `'serializer'` option in config is set as `Redis::SERIALIZER_NONE`. In other serializers, even `Redis::SERIALIZER_PHP`, the extension is reponsible for serializing data.

[2022-10-20 09:10] it-can commented on #44652
this library seems to do this

https://github.com/akalongman/laravel-lodash#redis-using-igbinary

[2022-10-20 09:19] webard commented on #44652
Yeah and look what they do with `serialize`/`unserialize`: https://github.com/akalongman/laravel-lodash/blob/67b4d5206d3118cff9bce3d4f718ebd9b2ee6491/src/Lodash/Cache/RedisStore.php#L11-L19

[2022-10-20 09:27] andreyzp87 commented on #44652
Just tested such setup:
[code]

And it's loaded like that:
[code]

Everything works flawlessly with any serializer.

I'm not sure how to do it properly in a form of a pull-request, it would be nice if someone makes it.

[2022-10-20 09:28] #44586 closed

[2022-10-20 09:49] webard commented on #44652
Did you check `Redis::SERIALIZER_NONE`?

[2022-10-20 10:09] andreyzp87 commented on #44652
I don't load modified RedisStore if serializer is none:
`$redisConfig['options']['serializer'] !== \Redis::SERIALIZER_NONE`

[2022-10-20 13:49] it-can commented on #44652
Why is the serialize() function there in the first place? Is that needed for predis?

[2022-10-20 15:11] andreyzp87 commented on #44652
Not sure about that, I did not follow the development.
I guess previously it was used with `none` serializer from phpredis, and an option to use redis serializer was added not so long ago.

[2022-10-20 20:25] webard commented on #44652
Laravel supports native phpredis extension and predis library written in pure PHP. Predis seems not support serialisation, so Laravel implementation should call serialize/igbinary_serialize/msgpack_pack to serialize data. If PHPRedis is used, serialisation should be matter of extension, not framework. Option `\Redis::SERIALIZER_NONE` should be unavailable, default option should be `\Redis::SERIALI

[2022-10-21 03:29] eduance commented on #44666
You can provide the assertSent a second argument, where the second argument is to pass a given truth test.

For example;

[code]
So for you to check whether the mailables have sent _when they do end up having an attachment_ would be like:

[code]
You can read more about it in the documentation:
https://laravel.com/docs/9.x/mocking#mail-fake

[2022-10-21 05:04] juse-less commented on #44611
Since no one else has answered yet, I thought I'd give a different point of view.

Logically speaking, when you provide your own handler, be it for `Model::preventLazyLoading()`, or anything else, you normally do that to override the default logic.

Not enforcing the default logic leaves more room for those wanting to override that logic, instead of enforcing it.

I guess there's two pieces in thi

[2022-10-21 06:02] eduance commented on #44448
The exists rule and the unique rule share the same trait, so after looking into the exists they don't seem to have any promise that all queries are doable by saying:

If you would like to customize the query executed by the validation rule, you may use the Rule class to fluently define the rule. In this example, we'll also specify the validation rules as an array instead of using the | character t

[2022-10-21 06:14] rjorel commented on #44666
Of course, my example was not complete, I gave a way to reproduce the bug. In my actual case, I return a boolean to successfully pass the assertion.

But using `assertHasAttachment()` raises exception `Error : Call to undefined method Illuminate\Support\Testing\Fakes\MailFake::render()`.

[2022-10-21 06:29] eduance commented on #44666
@rjorel

You shouldn't be calling the build method at all and second; you have to return the actual boolean.

[code]
You can read more about it in the documentation:
https://laravel.com/docs/9.x/mocking#mail-fake

[2022-10-21 06:43] rjorel commented on #44666
`assertHasAttachment()` method doesn't return a boolean : https://github.com/laravel/framework/blob/9.x/src/Illuminate/Mail/Mailable.php#L1402

[2022-10-21 06:50] eduance commented on #44666
@rjorel Why are you rendering the mailable if you are using a fake?

If you want to actually test the rendering, an approach posted in [#2400](https://github.com/laravel/framework/issues/24005) might help you get started.

You could try;

[code]

[2022-10-21 07:00] rjorel commented on #44666
I don't understand your purpose in telling me how to test sending mails.
I'm not facing a problem, I'm just reporting an error coming from a new assertion method added in Laravel 9.36 for attachments (https://laravel-news.com/laravel-9-36-0).

Calling `build()` or not doesn't change anything: an error is raised, coming from
https://github.com/laravel/framework/blob/9.x/src/Illuminate/Mail/Mailable

[2022-10-21 07:04] eduance commented on #44666
My apologies, just misunderstood you then!

[2022-10-21 07:06] rjorel commented on #44666
No problem 🙂

[2022-10-21 09:51] f21gerb commented on #22847
@jtomek thank you, this saved me a big headache.

[2022-10-21 10:39] SomethingWrong commented on #31505
I've got a small hack for everyone who still wonders how to overcome that `render()` memory leak without switching to `spatie/ignition`.

@GrahamCampbell correctly stated the reason why it happens and It's not a bug indeed. Ignition replaces `CompilerEngine` for Blade with its slightly enhanced compiler which collects all that data to help you debug later.

I had a simple artisan command which com

[2022-10-21 10:40] keyur555 commented on #44663
I think you are right. My tests are failing because this too :)

[2022-10-21 11:01] sathish-kumar-7777 commented on #44649
It's not working out. I have changed either way to true and false in the filesystems config ``` throw => false ```. Could you explain a little elaborate about it?

[2022-10-21 11:09] ankurk91 commented on #44649
Laravel 9 does not throw exception if any file system operation fails. But if set `throw` to true, it will

[2022-10-21 11:21] SathishKumarA2001 commented on #44649
@ankurk91
I have changed ``` throw => true ``` in the filesystems config. It's returning NULL instead of an error. But in past its returning the path of the image_file path without storing the file. I couldn't understand this behavior of laravel.

[2022-10-21 12:18] hjeldin opened #44680 "[Queue] Backoff is ignored if a job is retried after it was killed due to timeout"
- Laravel Version: 9.x
- PHP Version: 8.1
- Database Driver & Version: MySQL

### Description:
Basically a duplicate of https://github.com/laravel/framework/issues/30509
We have a job that uploads data to an S3 bucket. Sometimes the S3 API we're using stalls due to a temporary networking issue.
We'd like to be able to specify a different retry time via the backoff function available on the job int

[2022-10-21 17:48] ss-koshala opened #44684 "Sometimes EncryptionServiceProvider not getting configs form .env "No application encryption key has been specified" error!"
- Laravel Version: 8.33.25
- PHP Version: 8.0.13
- Database Driver & Version: MySQL 5.7.36

### Description:
Sometimes EncryptionServiceProvider not getting configs form .env
$config = $app->make('config')->get('app');
here $config not getting from .env file. So key filed empty and getting "No application encryption key has been specified" error.

### Steps To Reproduce:
In laravel nova admin load

[2022-10-21 19:06] buglinjo opened #44687 "request()->merge(...) does not work any more after `v9.36.4` update"
- Laravel Version: 9.36.4
- PHP Version: 8.1.11
- Database Driver & Version: MySQL 8.1

### Description:
After update to 9.36.4 `request()->merge(...)` stopped working and does not replace the input.

### Steps To Reproduce:
Use the `request()->merge(['a' => 'c'])` on the json request which has `{"a": "b"}` in the request body.

[2022-10-21 19:28] buglinjo commented on #44687
This is the actual change what is causing this problem.

![image](https://user-images.githubusercontent.com/1254208/197274564-4d1ede1f-81cc-436d-9e6a-1099276353df.png)

[2022-10-21 19:38] CalebDW opened #44688 "BadMethodCallException with appended Laravel 9 Accessors"
- Laravel Version: 9.36.1
- PHP Version: 8.1.11
- Database Driver & Version: PgSQL 14

### Description:
Calling `toArray()`/`attributesToArray()` on a model that has an appended Laravel 9 accessor generates the following error:

[code]

### Steps To Reproduce:
1. Define a Laravel 9 Attribute on a model
2. Add the attribute to the `$appends` property
3. Attempt to convert model to array

[2022-10-21 22:09] rodrigopedra commented on #44687
Can't reproduce on a fresh Laravel install. Can you provide a public repo with the code to reproduce?

Steps I made:

[code]

Changed `./routes/web.php` to:

[code]

And `./resources/views/welcome.blade.php` to:

[code]

Visited http://127.0.0.1:8000/ and hit the send form button.

Result:

[code]

If I am doing something wrong, please let me know.

[2022-10-21 22:21] buglinjo commented on #44687
@rodrigopedra Thanks for the response.

Unfortunately the repo I'm using this is private and can't share the code here.

From you testing I see that you are using the same instance of `request()`. Please try this instead:
[code]

[2022-10-21 23:02] rodrigopedra commented on #44687
@buglinjo I did the change you suggested and I still can't reproduce...

I uploaded a repository, so you can double check:

https://github.com/rodrigopedra/laravel-issue-44687

I even used `composer bump` to ensure Laravel is in 9.36.4 version

[2022-10-22 13:06] rodrigopedra commented on #44687
@buglinjo

I just made a commit with a route that merges data into the request inside a validation rule. And it still behaves as expected.

Please review it, if you can, and add any comments on how to reproduce it.

I somehow missed your last comment regarding you were using a validation rule.

[2022-10-22 13:09] rodrigopedra commented on #44687
@buglinjo

one more thing: if you find anything that should be changed, it is easier if you send a PR to the repository.

Also, I checked two of my own projects where I use `$request->merge()` after a form request's validation to replace, for example, dates with carbon instances into the request, and they are working as expected with Laravel latest version.

[2022-10-22 13:58] RyonMB opened #44691 "Different R/W databases causes batches to fail"
- Laravel Version: 9.12.2
- PHP Version: 8.0.9
- Database Driver & Version: MySQL 8.0
- Using Laravel Horizon

### Description:
When using different read and write databases in production between your web server and worker servers, some batches will fail randomly.

Error:
`PHP Error:  Call to a member function add() on null in /home/forge/./vendor/laravel/framework
/src/Illuminate/Bus/PendingBatch

[2022-10-22 14:31] xerenahmed opened #44692 "Database: Relations with key type string not found if case mismatch"
- Laravel Version: Just using database package
- PHP Version: 8.1.11
- Database Driver & Version: v9.36.4

### Description:
Relations with key type string not found if case mismatch

### Steps To Reproduce:

I have three tables. Just example

Table `players`:
username | string | primary
other stuff | any | any

Table `player_groups`
username | string | foreign key
group_label | string | foreign ke

[2022-10-22 14:43] xerenahmed commented on #44692
Related here https://github.com/illuminate/database/blob/bd88721cabecee43c9ebc4398a9fcedea7f22092/Eloquent/Relations/BelongsToMany.php#L278-L290

[2022-10-23 00:35] ReDev1L commented on #44652
This is long time ignored bug.
https://github.com/laravel/framework/issues/26186

[2022-10-23 06:24] KadSin commented on #44688
I think it's better to define an accessor method which return your model's attribute, refer to uncle bob's clean code when you determine a attribute, if it is read only then you should isolate your attribute.

[code]

[2022-10-23 08:21] siarheipashkevich commented on #44687
The same issue also.

[2022-10-23 09:44] driesvints commented on #44687
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-10-23 09:44] #44687 closed

[2022-10-23 15:19] crazynds opened #44697 "Can't prevent error 500 using Route::resource/apiResource in pgsql"
- Laravel Version: 9.35.1
- PHP Version: 8.1.4
- Database Driver & Version: pgsql 13

### Description:

I came across the problem started while testing a route generated using Route::apiResource, and noticed that when any string is sent as a parameter, an error 500 occurs due to Laravel performing a database query.

When an integer is set as the parameter, it finds the model by its id and binds it

[2022-10-23 17:12] mateusmdr commented on #44697
I have experienced the same problem when passing the wrong parameters to the API using Postman.

It turns out that the parameter name was not the same as the intended for that route, so the request was like:
    GET /api/resource/:id

I didn't find any workarounds for it not raising a status 500, so I didn't bother too much with it.

[2022-10-23 18:48] mosaferkarbala commented on #18470
i faced same issue and temporarily solve it by changing the name in .env and all config files. i also search and find some way of rewriting getEnv() helper function but it doesn't work on laravel9.
i appreciate if any one has any solution to share with us

[2022-10-23 21:53] ax-ross opened #44699 "Unexpected behavior with authentication"
- Laravel Version: 9.31.0
- PHP Version: 8.1.11
- Database Driver & Version: Mysql 8

### Description:
I'm not sure if this is a bug, but it's very strange behavior in my opinion.
I'm using sanctum spa auth with session. My session driver is cookie. I authenticated in my web site and went to do other things (seeding DB). When I comeback in my web site I saw what now I another user (not the one who

[2022-10-23 23:59] dwightwatson commented on #44697
I think this is specifically a Postgres issue - I believe that MySQL will still run the SQL, find no result and 404 as expected. I define a bunch of patterns in my `RouteServiceProvider` in order to avoid this - but like you mention it's not great.

[code]

Not sure how best you could solve this. Under the hood I suspect it's using `UrlRoutable` on the model, so perhaps you could overwrite [`resol

[2022-10-24 01:31] crazynds commented on #44697
This way i think will work, but I don't think it's the cleanest way to code. I'll implement it in my project to temporarily resolve, but I believe laravel should add a validation in the resource paths would be very important.

I think the best solution to this problem is to add a [*where, whereNumber, whereAlpha*](https://laravel.com/docs/9.x/routing#parameters-regular-expression-constraints) func

[2022-10-24 02:00] eduance commented on #44699
Could you share some code with us to reproduce it?

If you feel it's an issue with sanctum, feel free to open a ticket on the Sanctum repository: https://github.com/laravel/sanctum

[2022-10-24 02:53] ax-ross commented on #44699
Yes, I can.
Its not specific only for sanctum.

I created repo: https://github.com/ax-ross/laravel_session_auth_issue/tree/master

You just need clone it, run migrate, npm install and php artisan serve. Then you need to create user. For example: "name": "test", "email": "test@gmail.com". You will see its data on dashboard page after registration. Next, you go to sqlite database (in my case I'm usi

[2022-10-24 03:51] nabeelgillani opened #44701 "Laravel 9.x not compatible with PHP 8.0.x"
- Laravel Version: 9.19.x
- PHP Version: 8.0.x
- Database Driver & Version:

### Description:

Laravel 9.x does not support PHP 8.0.x when you run composer install, it gives following error

Composer detected issues in your platform: Your Composer dependencies require a PHP version ">= 8.1.0". If you look at the composer.lock file I guess this is due to Symphony 6.1.

Where as Laaravel 9.x docs su

[2022-10-24 04:38] eduance commented on #44701
This is not a bug related to Laravel, please open a support ticket at the discussion thread or seek help on Stackoverflow. Read the error message carefully and you'll find your way.

[2022-10-24 04:39] eduance commented on #44699
@ax-ross As far as I can tell this is necessary due to the session needing some kind of identifier; I don't see any problems with this as the session is only held by one user. What could be your concern?

[2022-10-24 04:55] surgiie commented on #43339
Looking for way to do the same on a [laravel-zero](https://github.com/laravel-zero/laravel-zero) application. Any `expectsOutput*` assertion doesnt assert any output from `$this->components` for some reason. Not sure if im just missing something or if not supported.

[2022-10-24 05:32] ax-ross commented on #44699
@eduance For example, I will describe such a case:
I have some user with bad nickname and with ID 10. He's authenticated on web site. After some time Admin saw his nickname and delete this user from admin panel. Next, on web site register new admin user, who have now ID 10. As a result user with bad nickname authorized on site with admin permissions.
It's far-fetched case, because usually in users

[2022-10-24 07:21] #44699 closed

[2022-10-24 10:06] driesvints commented on #44633
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-10-24 10:06] #44633 closed

[2022-10-24 10:06] driesvints commented on #44542
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-10-24 10:06] #44542 closed

[2022-10-24 10:06] driesvints commented on #44628
Seems you already sent in a PR so let's see how it goes.

[2022-10-24 10:06] #44628 closed

[2022-10-24 10:07] driesvints commented on #44625
This seems like a request to change the behavior rather than a real bug. You're free to attempt a PR but only to master as this is a breaking change.

[2022-10-24 10:07] #44625 closed

[2022-10-24 11:14] oulfr opened #44708 "Vite with React refresh blocked by Content-Security-Policy"
- Laravel Version: 9.36.4
- PHP Version: 9.0

### Description:
Vite '@viteReactRefresh' directive is blocked by CSP (Content-Security-Policy)

### Steps To Reproduce:
use @viteReactRefresh in welcome.app.php

[2022-10-24 11:20] driesvints commented on #44502
Heya, thanks for submitting this.

This seems like a feature request or an improvement so I'm converting this to a discussion instead. It's best to post these in the discussions section in the future to get support for your idea. After that you may send a PR to the framework. Please only use the `laravel/framework` issue tracker to report bugs and issues with the framework.

Thanks!

[2022-10-24 11:20] #44502 closed

[2022-10-24 11:24] driesvints commented on #44684
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-10-24 11:24] #44684 closed

[2022-10-24 11:25] driesvints commented on #44692
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-10-24 11:25] #44692 closed

[2022-10-24 11:25] driesvints commented on #44692
Also please specify the laravel version next time.

[2022-10-24 11:26] driesvints commented on #44652
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-10-24 11:26] #44652 closed

[2022-10-24 11:28] driesvints commented on #44708
I don't get any error in my console. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat/?nick=laravelnewbie&channels=#laravel)

[2022-10-24 11:28] #44708 closed

[2022-10-24 11:34] driesvints commented on #44688
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue **as one separate commit** on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run

[2022-10-24 11:45] driesvints commented on #44553
This seems like a feature request and an attempted PR wasn't accepted so it would seem we're not going to change anything here right now.

[2022-10-24 11:45] #44553 closed

[2022-10-24 12:20] oulfr commented on #44708
@driesvints : you need to enable the CSP, by adding the CSP middleware like in the doc for example

[2022-10-24 12:25] xerenahmed opened #44709 "Database: Relations with key type string ignoring if case mismatch in case insensitive table"
https://github.com/laravel/framework/issues/44692

MySql server version: `8.0.29`
MySql server running on docker: `mysql@sha256:548da4c67fd8a71908f17c308b8ddb098acf5191d3d7694e56801c6a8b2072cc`
Database engine and collation: `InnoDB & utf8_turkish_ci`

I do not use laravel where I use `illuminate/database` so I can not give laravel version.

[2022-10-24 12:33] driesvints commented on #44709
Please don't link to other issues and provide a FULLY written out issue template. Please replace the laravel version with the illuminate database version that you're using.

[2022-10-24 12:33] #44709 closed

[2022-10-24 12:34] driesvints commented on #44708
What CSP middleware?

[2022-10-24 13:00] oulfr commented on #44708
this is the middleware:

https://laravel.com/docs/9.x/vite#content-security-policy-csp-nonce

Now in the file Vite.php there is a methode like this:

`/**
     * Generate React refresh runtime script.
     *
     * @return \Illuminate\Support\HtmlString|void
     */
    public function reactRefresh()
    {
        if (! $this->isRunningHot()) {
            return;
        }

        return new Htm

[2022-10-24 13:02] CalebDW commented on #44688
@driesvints,

Thanks for responding, the repo is below. After further inspection the problem seems to lie with `camelCase` attribute names---I defined two accessors on the User model (`initials` and `firstName`), but only `firstName` throws the BadMethodCallException when converting the model to an array.

https://github.com/CalebDW/bug-report

Commands to reproduce:
[code]
However, if you take `f

[2022-10-24 13:15] #44637 closed

[2022-10-24 13:31] driesvints commented on #44708
I don't think you can combine those, sorry.

[2022-10-24 13:32] troccoli opened #44712 "Using firstWhere() inside when() does not yield the expected result"
- Laravel Version: 9.35.1
- PHP Version: 8.1.11
- Database Driver & Version:

### Description:
When using `firstWhere()` inside a `when()` on a collection I don't get what I think I should.

### Steps To Reproduce:

On a brand new Laravel project, add the following Unit test

[code]

The second assertion fails, as `$notFoundUsingWhen` is actually the whole collection, rather that `null`

**Note**

[2022-10-24 13:33] driesvints commented on #44712
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue **as one separate commit** on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run

[2022-10-24 14:38] CalebDW commented on #44688
Actually, looks like the issue was in how I defined the accessor in the `appends` array, updating to `first_name` causes the above code to work:

[code]

I suppose we can close this issue, but perhaps you would still like to update the framework to generate a more meaningful error or cast all of the `appends` to `snake_case` to prevent this from occuring?

[2022-10-24 14:41] driesvints commented on #44688
Ah yes we don't support camelcase. Only snake case. I'm not sure it's possible to throw a specific exception there as the model has no idea how the columns look like. There's no way to know if there is a `firstName` column or not.

[2022-10-24 14:41] #44688 closed

[2022-10-24 17:41] dac-humi commented on #41565
I have found that if I do something like this in a HTTP middleware, the feature is re-enabled. 🤷‍

[code]

[2022-10-24 17:45] andrey-helldar commented on #41565
Json keys doesn't works with this way.

[2022-10-24 18:04] dac-humi commented on #41565
My mistake.

[2022-10-24 18:48] rodrigopedra commented on #44687
@buglinjo I answered your PR with additional info: https://github.com/rodrigopedra/laravel-issue-44687/pull/1#issuecomment-1289449990

Unfortunately, as you can read there, this is a known behavior and kind of expected behavior in the maintainers' opinion.

[2022-10-24 19:28] buglinjo commented on #44687
@rodrigopedra
Oh, I see now what's going on. So the recent changes just made it clear and it is expected. I'll have to rewrite huge amount of code to make this work, but I don't see any other option. I have been using this approach for lots of requests.

Thanks for clarifying!

[2022-10-24 20:37] eduance commented on #44712
I was able to reproduce the test.

This is intended behavior in my opinion, a callback is any reference to executable code that is passed as an argument to another piece of code; that code is expected to _call back_ the callback function as part of it jobs. When an expression is true, it should execute a piece of code, but callbacks aren't made for returning values. This is also notable in the doc

[2022-10-24 20:41] rodrigopedra commented on #44687
@buglinjo I agree with you in that matter, so I sent the PR I talk about in the comment linked above.

But sometimes we have to deal with how things are... Good luck and sorry for not finding a solution. Have a nice day =)

[2022-10-24 20:46] siarheipashkevich commented on #44687
@rodrigopedra thanks for your response.

Could you please help me how I need rewrite my code by new style?

![image](https://user-images.githubusercontent.com/7753600/197625783-d8f99713-4acf-4bad-a621-7b4287bb7f76.png)

`$input` data doesn't merge to the request and doesn't pass to proxy and.

[2022-10-24 20:54] rodrigopedra commented on #44687
@siarheipashkevich this kind of question is suits better a support channel, as per Laravel docs:

https://laravel.com/docs/9.x/contributions#support-questions

That said, I guess you need to merge your data with the request instance you created manually and are dispatching. When manually creating a request instance it won't inherit the data from any other instance automatically.

[code]

Please ne

[2022-10-24 22:42] TrinhLeOpteon opened #44720 "Route::controller doesn't exist"
- Laravel Version: v8.73.2

### Description: In the laravel document, I see route controller as below, but i can't find out function in laravel router.
![image](https://user-images.githubusercontent.com/112928992/197643367-41a0ed5e-4eda-42fe-8d8a-ff3372b69a91.png)

[2022-10-25 05:42] troccoli commented on #44712
@eduance

I don't agree with you, but even if that was the intended behaviour, then it's not BC, as the test above passes in Laravel 8.83.25. It should have at least being mentioned in the upgrade notes.

You also said that "callbacks are not meant to return values", but if `firstWhere()` actually **finds** a record then that is returned.

For example, the following code does return the proper rec

[2022-10-25 06:31] driesvints commented on #44720
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-10-25 06:31] #44720 closed

[2022-10-25 08:00] eduance commented on #44712
@troccoli @driesvints Thanks for the clear explainer. After diving into the code, this is caused due to the null coalescing operator returning $this, where $this refers to the collection from the Conditionable trait.

[code]

This has to do with PR: https://github.com/laravel/framework/pull/40888

[2022-10-25 08:07] DockerComposeFiles commented on #12029
supervisor settings overwrite conf/queue setting
Thanks for answering yourself!

[2022-10-25 09:10] dpash commented on #44663
I'm also seeing issues. I think part of the problem is that Laravel loads foo_id as pivot_foo_id and gets confused because it's not foo_id.

[2022-10-25 11:35] raiika commented on #42387
Thanks @korkoshko ,
Using below works for me

    Attribute::make(...)->withoutObjectCaching()

Do you think upload file on saving with additional "isDirty" checking is better than upload file in mutator ?

[2022-10-25 11:47] Victor-emil commented on #44663
I'm having the exact same issue in a JSON resource where I am using `whenPivotLoaded` to decide whether or not to include pivot fields.
![Screenshot 2022-10-25 at 13 45 46](https://user-images.githubusercontent.com/8555068/197765037-c11cbb11-5561-4034-903c-37740d1757f5.png)
![Screenshot 2022-10-25 at 13 46 45](https://user-images.githubusercontent.com/8555068/197765210-8b952a0f-e418-40b8-9e39-07da

[2022-10-25 14:28] troccoli commented on #44712
@driesvints

Here's the repo

[https://github.com/troccoli/laravel-bug-report](https://github.com/troccoli/laravel-bug-report)

[2022-10-25 15:59] elev8studio opened #44734 "Updating nested JSON with Eloquent requires empty $guarded array"
- Laravel Version: 8.83.18
- PHP Version: 8.0.22
- Database Driver & Version: MySQL 8.0.30

### Description:

When trying to add or update a nested property in a JSON field using Eloquent model update, I am required to either:
- Enter every possible nested json property that may need to be updated in the fillable property on the model
- Use an empty guarded property on the model

The first option

[2022-10-25 16:00] driesvints commented on #44734
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-10-25 16:00] #44734 closed

[2022-10-25 16:02] elev8studio commented on #44734
That link shows you support security fixes until January 24th, 2023. This has security implications.

[2022-10-25 16:03] adam-jones-net opened #44735 "Blade::compileString doesn't handle @push directives properly"
I have a pretty simple blade template that I want to open and read, evaluate and then add to the output of my page.   I want to do this using code and the Blade::compileString() function.

Why do I want to do this and not just include() it within a parent blade template using standard blade directives?    Well it's because for various reasons I want this to work via a function in back-end code.

I

[2022-10-25 16:07] driesvints commented on #44735
Please fill out the issue template when submitting bug reports.

[2022-10-25 16:07] #44735 closed

[2022-10-25 16:12] adam-jones-net commented on #44735
Ah ok sorry, when I started the post it didnt show that default text.    If I update appropriately you can re-open ?

[2022-10-26 01:25] lmeraki opened #44738 "Broken fresh laravel project on v9.37.0"
- Laravel Version: 9.37.0
- PHP Version: 8.1.11
- Database Driver & Version: MariaDB 10.6.10

### Description:
 a blank page on fresh laravel project after running `npm run dev`, while `npm run build` works fine. I think after this PR #44096.

Additional:
- nodejs: 16.18.0
- npm: 8.19.2
- vite: 3.1.8

### Steps To Reproduce:
1. `composer create-project laravel/laravel example-app`
2. `composer req

[2022-10-26 06:51] iquad commented on #44738
+1 for broken fresh page.

I assume [that](https://github.com/laravel/breeze/pull/196/files#diff-c1bb84007e95fb4ddf60a69603865922b4d22d4899f7f45551fa52a1ddeb901b) change brokes.

#44096 should add needed link headers, but seems like `Vite::preloadedAssets()` returns empty.

Changing `@vite("resources/js/Pages/{$page['component']}.vue")` to `@vite('resources/js/app.js')` works.

[2022-10-26 06:53] mohsenmojadam2019 commented on #23789
You must delete the content of the migration table in the database

[2022-10-26 07:05] joshuadabejero commented on #44738
+1 for broken fresh page.
Displays Blank Screen.

![image](https://user-images.githubusercontent.com/29270980/197957349-777f105e-7a4d-4854-b70d-d1c2e16c11ba.png)

Hopefully will get the fix soon!

Thanks @lmeraki for the report, now I have a peace of mind that it's not only me having this issue.

[2022-10-26 08:05] driesvints commented on #44738
Hey all. We released a fix for Breeze. Thanks!

[2022-10-26 08:13] iquad commented on #44738
Can confirm fix works.

For existing projects, no need to call `breeze:install` again.
Just change `@vite("resources/js/Pages/{$page['component']}.vue")` to `@vite(['resources/js/app.js', "resources/js/Pages/{$page['component']}.vue"])` on `resources/views/app.blade.php`

[2022-10-26 08:18] timacdonald commented on #44738
This one has been fixed in the latest release (just tagged). Sorry about that folks.

Using:

[code]

will retain the new preloading functionality and continue to work in dev mode.

[2022-10-26 08:23] #44738 closed

[2022-10-26 09:02] vmcvlad opened #44741 "[9.x] Dynamic Relation Resolver is inconsistent when extending Eloquent models"
- Laravel Version: 9.36.1
- PHP Version: 8.1.11
- Database Driver & Version: MySQL 8.0.19

### Description:

This [PR](https://github.com/laravel/framework/pull/33025) has added the `resolveRelationUsing()` method which facilitates dynamically defining relationships on models.

The way it works is by binding the fully-qualified class name inside the `$relationResolvers` array to the closure that a

[2022-10-26 14:16] levu42 opened #44746 "No way to check for attribute existence in Eloquent Strict Mode"
- Laravel Version: 9.35.1
- PHP Version: 8.1.11

### Description:

Imagine a conditional loading of a count in an Eloquent query:

[code]

Then I want to check in blade whether the count is loaded or not, but in the new Eloquent strict mode, all options I tested threw a `MissingAttributeException`:

[code]

And some years and Laravel versions back there [was a decision made against a `hasAttribute

[2022-10-26 14:23] driesvints commented on #44746
Please see https://github.com/laravel/framework/pull/44717

[2022-10-26 14:23] #44746 closed

[2022-10-26 14:24] levu42 commented on #44746
@driesvints thank you, didn't notice that one :)

[2022-10-26 16:40] bastien-phi opened #44750 "Array to string conversion when formatting QueryException message"
- Laravel Version: 9.37.0
- PHP Version: 8.1.11
- Database Driver & Version: Postgresql 13 (reproduced on sqlite)

### Description:
Writing
[code]
is incorrect because `Illuminate\Database\Eloquent\Builder::insert` is proxified to `Illuminate\Database\Query\Builder::insert` and it does not handle casts.

In this case, we would expect a `Illuminate\Database\QueryException` to be thrown.

Instead of

[2022-10-26 20:54] morloderex commented on #44750
When running the query builder directly you must make sure that the values you insert are serialized correctly.

In your case i would try to convert it to a string somehow. Sense the query builder can't know how your database table is created.

I get that you would be expecting a queryException to be thrown but i believe that the code works as expected.

[2022-10-27 05:30] ss-koshala opened #44755 "Sometimes EncryptionServiceProvider not getting configs form .env "No application encryption key has been specified" error!"
- Laravel Version: 9.37.0
- PHP Version: 8.0.13
- Database Driver & Version: MySQL 5.7.36

### Description:
Sometimes EncryptionServiceProvider not getting configs form .env
$config = $app->make('config')->get('app');
here $config not getting from .env file. So key filed empty and getting "No application encryption key has been specified" error.

### Steps To Reproduce:
In laravel nova admin load

[2022-10-27 06:08] bastien-phi commented on #44750
@morloderex I get your point but I think this is not that simple :
- when writing `Post::query()->insert(...)` you have no idea that `insert` is not a method of Eloquent Builder (compare with `Post::query()->create(...)`)
- This code
[code]
actually works.

[2022-10-27 06:10] morloderex commented on #44750
That code snippet works because collection is serializable so that means it will be serialized automatically I believe.

[2022-10-27 06:31] emresudo commented on #44624
Up

[2022-10-27 08:45] nearueng opened #44756 "Invokeable Rules don't work for Rule::forEach() under nested array property validation."
- Laravel Version: 9.37.0
- PHP Version: 8.1.9
- Database Driver & Version: MySQL 8

### Description:

Validation: Having an invokeable Rule object as part of the `Rule::forEach` closure in a nested array throws an error on the latest version of Laravel.

The error is: `trim(): Argument #1 ($string) must be of type string, Illuminate\Validation\InvokableValidationRule given`

Stack trace:

[code]

[2022-10-27 10:23] driesvints commented on #44735
Can you try updating
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/larav

[2022-10-27 13:16] ani37 commented on #30996
@ibarrajo what value did you keep in session.block_store

[2022-10-27 15:11] ActualFab opened #44760 "Eloquent / query build should never burry a where clause"
- Laravel Version: 6.x to 9.x
- PHP Version: 7.2 to 8.1
- Database Driver & Version: any

### Description:

When Eloquent/Query Builder are handling a where clause on a null column, the clause is just ignored as if none was added at all.
This is particularly problematic on updates as instead of preventing an obviously wrong query, it silently allow for a massive update one much more line than init

[2022-10-27 15:13] driesvints commented on #44760
Not sure I see a bug here. Seems you want a different behavior than the standard one. I doubt we'll modify this since it's present for so long.

[2022-10-27 15:13] #44760 closed

[2022-10-27 15:21] ActualFab commented on #44760
I don't think that allowing potentially massive update when it is so obvious it should not append can ever be considered as _standard_.

DBMS now what to do in such case, by no mean an ORM should ever silently hide query error like that.

[2022-10-27 15:27] ActualFab opened #44762 "Eloquent / query builder should never burry a where clause"
**Since [Eloquent / query builder should never burry a where clause](https://github.com/laravel/framework/issues/44760) was closed before I even got a chance to finish it, I repast it to at least leave an occasion to read the report before closing it again.**

- Laravel Version: 6.x to 9.x
- PHP Version: 7.2 to 8.1
- Database Driver & Version: any

### Description:

When Eloquent/Query Builder are

[2022-10-27 16:13] sebastienheyd opened #44763 "[9.x] View error when using "attributes" as data name and using components"
- Laravel Version: 9.37.0
- PHP Version: 8.1.11
- Database Driver & Version: MariaDB 10.9.3

### Description:

When you use components in a view and you pass `attributes` as data to it, components will throw a `Call to a member function getIterator() on ...` error.

This error only occurs on Laravel 9.x.

`$attributes->getIterator()` is called in the built view (line 2) :

[code]

### Steps To Rep

[2022-10-27 16:42] ActualFab commented on #44762
correction, the bug only triggers when both column and value are null ... I know this is a more than edgy case, but still a potentially nasty one

[2022-10-27 17:41] ActualFab commented on #44762
bottom line, it is arguable that this is a bug since the way it would work as it is would be to end up with a :
[code]

though it is still arguable because we used the `=` operator which would indeed translate to an impossible query should it be kept, and I can't find any legit usage of a `where(null, '=', null)` that would be actually intended as an `whereNull(null)`

For the story, this was trig

[2022-10-27 20:13] sts-ryan-holton opened #44765 "Notifications table continues to throw duplicate entry for id column"
- Laravel Version: 9.37.0
- PHP Version: 8.1.9
- Database Driver & Version: MySQL 5.7

### Description:

When sending notifications, the `notifications` table throws the following error:

### Steps To Reproduce:

I have 85,000 notifications in my `notifications` table for reference.

I've come across [this](https://github.com/laravel/framework/issues/28271) discussion from 2019, except my `notific

[2022-10-27 22:43] buglinjo commented on #44687
Just letting you know how I fixed the issue.

I just added this code in my controller after validation and everything seems to be fixed. Not sure if this is clean solution or correct solution, but this works 😄

[code]

[2022-10-28 03:06] ankurk91 commented on #44765
What is the reason behind using uuid in notifications table?

[2022-10-28 03:25] dyriavin commented on #44756
@nearueng I guess it will be nice to attach implementation of your Invokable rule.

[2022-10-28 05:57] nearueng commented on #44756
@dyriavin In this instant, I just converted it to an inline rule for now to keep it working, but I'll put the original implementation below. Interestingly enough, even a regular rule was causing an error here.

[code]

[2022-10-28 07:24] driesvints commented on #44756
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue **as one separate commit** on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run

[2022-10-28 11:35] sts-ryan-holton commented on #44765
@ankurk91 That's the default schema inherited from earlier versions of Laravel. When running the `php artisan notifications:table` command a `notifications` table is generated and the `uuid` is what Laravel generates.

[2022-10-28 17:36] apsyriodis commented on #21773
Still works. Thanks

[2022-10-28 18:12] liepumartins commented on #30996
Was introduced here 7192de7

`session.block_store` appears to take same type of values as `session.store` - e.g. file, memcached, redis, etc.

[2022-10-28 19:15] timacdonald commented on #44762
I agree there is a bug, but seems to me like a bug in the consuming code.

The `$column` only accepts `\Closure|string|array`, so passing `null` is not supported.

[2022-10-28 20:37] #44762 closed

[2022-10-28 20:37] driesvints commented on #44762
See the answer above please

[2022-10-28 21:47] brunoalod commented on #44755
This is most likely a problem caused by running and accessing the app in the same root environment where you run other apps, as in domain.com/app1, domain.com/app2.

[2022-10-29 07:18] aanfarhan commented on #44765
Just curious, @sts-ryan-holton did you run your notifications in queue?

[2022-10-29 07:33] sts-ryan-holton commented on #44765
@aanfarhan Yeah, they're running in a queue, using Supervisor, and I have about 28 workers running.

[2022-10-29 09:15] driesvints commented on #44755
Please contact Nova support about this, thanks.

[2022-10-29 09:15] #44755 closed

[2022-10-29 18:50] leocarrera commented on #29955
Thanks, this helped me after the installation with pecl.

[2022-10-29 22:21] samypr100 opened #44781 "[9.x] php artisan serve issue printing arrays to console via print_r"
- Laravel Version: 9.36.4
- PHP Version: 8.1.12
- Database Driver & Version: N/A

### Description:

Previously in Laravel 8.x and below, the output buffer using `php artisan serve` didn't had a custom handler. This handler was introduced in this commit a52f623cf6e7ed9be7f6e87f5eb411a383ad42fc via `handleProcessOutput`.

The issue is that the current `handleProcessOutput` doesn't seem to handle wel

[2022-10-30 06:16] noamanahmed-omniful commented on #13752
@mfn

Yes it does work. Thank you!

[2022-10-30 14:58] yungfox opened #44785 "[9.x] Broken layout with Blade @push directive when using CSS directives"
- Laravel Version: 9.19.0
- PHP Version: 8.1.11
- Database Driver & Version: MySQL 8.0.25

### Description:
I had some CSS code containing ```@media``` and ```@keyframes``` directives inside a plain ```<style>``` tag in a Blade template, and decided to put it in a ```@push``` directive block to better organize CSS across components. When I did that, the layout on the component containing the code

[2022-10-30 21:47] bcalik opened #44788 "[9.33+, Octane] Controller Middleware is not working as expected"
- Laravel Version: 9.33.0+
- PHP Version: 8.1

### Description:

After upgrading Laravel Framework from 9.32 to 9.33, controller middleware has started to behave unexpected on Octane Swoole.

### Steps To Reproduce:

Lets we have controller like this.

[code]

When you use Laravel Octane on Laravel Framework v9.32, you will get "bar" output as expected.

But after upgrading to v9.33+, you will get

[2022-10-31 00:56] nunomaduro commented on #44788
Duplicated of https://github.com/laravel/octane/issues/594. We've sent in some fixes for this. These will be released on Tuesday.

[2022-10-31 00:56] #44788 closed

[2022-10-31 07:37] tontonsb commented on #44785
Did you do double `@@` to escape?

[2022-10-31 08:21] driesvints commented on #44785
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-10-31 08:21] #44785 closed

[2022-10-31 10:18] ActualFab commented on #44762
it is going through on php up to 8.0, but you are right, this is probably not an issue any more

[2022-10-31 10:26] tomvo opened #44789 "Environment encryption for non local environments fails since values are overloaded with env values from remote environment"
- Laravel Version: 9.37.0
- PHP Version :8.1.9
- Database Driver & Version: -

### Description:

When following the steps in the docs regarding .env encryption for non local environments here: https://laravel.com/docs/9.x/configuration#encrypting-environment-files the encryption fails since the ENV variables from the "to encrypt environment" are used.

In other words, i'm locally trying to encrypt

[2022-10-31 11:37] driesvints commented on #44697
There is no way for us to know up front that the value can't be handled by the database. You need to sanitize the parameter as @dwightwatson indicates.

[2022-10-31 11:37] #44697 closed

[2022-10-31 11:38] driesvints commented on #44756
I'll re-open this once a repo is provided.

[2022-10-31 11:38] #44756 closed

[2022-10-31 12:58] driesvints commented on #44649
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-10-31 12:58] #44649 closed

[2022-10-31 13:00] driesvints commented on #44781
Seems like this is something we don’t support anymore sorry

[2022-10-31 13:00] #44781 closed

[2022-10-31 13:55] #44763 closed

[2022-10-31 13:55] Sebteams69 opened #44794 "Problem when trying to cache views"
### Discussed in https://github.com/laravel/framework/discussions/44729

<div type='discussions-op-text'>

<sup>Originally posted by **Sebteams69** October 25, 2022</sup>
Hi everybody,
I deployed in production my backend which use laravel. After deploying I ran into an issue a I don't understand how to solve it.
The problem occurs when I run the command php artisan view:cache
An exception is raise

[2022-10-31 14:01] driesvints commented on #44794
Please don't move discussions to issues, thanks.

[2022-10-31 14:01] #44794 closed

[2022-10-31 14:40] joedixon commented on #44789
Hey @tomvo A fix for this is due to be released tomorrow: https://github.com/laravel/framework/pull/44758

[2022-10-31 14:40] #44789 closed

[2022-10-31 15:09] driesvints commented on #44765
Your "Steps To Reproduce:" don't provide any code that reproduces this. Except for the issue you linked to I don't think we've ever had this issue already.

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com

[2022-10-31 15:09] #44765 closed

[2022-10-31 15:11] #44624 closed

[2022-10-31 15:25] driesvints commented on #44750
I'm sorry but to us it looks like you're simply misusing the query builder here. I'm not sure how we'd provide an error message since in some situations an array could be expected. You wouldn't know up front, only after a query exception.

If you have any ideas on how this can be done better we'd welcome PR's. Thanks

[2022-10-31 15:25] #44750 closed

[2022-10-31 15:58] bastien-phi commented on #44750
@driesvints My point was exactly that. I was misusing the query builder but the error did not give me any clue on what was going on.

I was getting an ErrorException, located in the QueryException message parsing.

[2022-10-31 15:59] bastien-phi commented on #44750
The bug, in my opinion, is not having the QueryException because of the ErrorException hiding it.

[2022-10-31 16:15] driesvints commented on #44712
I believe returning the whole collection for `when` is the proper expected behavior.

[2022-10-31 16:15] #44712 closed

[2022-10-31 16:15] driesvints commented on #44750
@bastien-phi we'd welcome PR's to improve this

[2022-10-31 16:20] driesvints commented on #44618
Thanks for reporting. As said on the other issue we don't believe there's a solution to this. We'd welcome PR's if anyone has any idea on how to solve this, thanks.

[2022-10-31 16:20] #44618 closed

[2022-10-31 17:20] troccoli commented on #44712
I have to say I am a bit disappointed. But at the very least I think it should be documented in the upgrade notes, as it's a breaking change in behaviour.

[2022-10-31 23:19] mdthanik commented on #26021
this is the best answer

[2022-11-01 13:44] schonhoff opened #44806 "Database creation on new Laravel app"
- Laravel Version: v9.37.0
- PHP Version: 8.1.9
- Database Driver & Version: MySQL 8.0.28

### Description:
Hello everyone,

I tried to change my testing database to sqlite instead of sqlite in-memory because we have a lot of migrations and want to use the dumped version of it instead to execute all migrations. After changing my .env.testing file to use the sqlite database driver from the original

[2022-11-01 14:33] Daniel-HBK commented on #40086
strange. I have the same issue with after and before.

`                    'instalment_1'            => 'required|numeric',
                    'date_1'                  => 'required|date|after:yesterday',
                    'instalment_2'            => 'nullable|numeric',
                    'date_2'                  => 'nullable|date|after:date_1|before:date_3',
                    'instalment

[2022-11-01 14:42] driesvints commented on #44806
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-11-01 14:42] #44806 closed

[2022-11-01 15:12] schonhoff commented on #44806
Hello @driesvints ,

the tests did not create a test database automatically like it is mentioned in the docs. I would suggest this is a bug and not a discussion nor a question. I suggested possible solutions to the problem and updated my original post and the title to make it clear. I hope this show my bug report more clearly. Also I found other tickets like this https://github.com/laravel/framewo

[2022-11-01 16:57] schonhoff commented on #44806
Improtant:
The error occurs only if the database engines between testing and local are different.
.env:
[code]

phpunit.xml:
[code]

No .env.testing needed for this.

[2022-11-01 17:02] driesvints commented on #44806
So there isn't really a bug here but rather a config issue. You need to make sure your env files are properly pointing towards your test environment and as you say above by default in the skeleton it's not configured for sqlite. If you want to use a file base sqlite testing environment you need to define the proper database in your phpunit.xml.

And you also need to create that main database up fr

[2022-11-01 18:40] schonhoff commented on #44806
@driesvints Thanks for the clarification. My thought was that parallel testing will create its one databases and will migrate them. But that they need a "core" database wasn't clear for me. Hopefully the clarification in the docs helps out other people too! Thanks and have a good night/day :)

[2022-11-01 20:55] dsnetrizon commented on #44587
Same problem. $table is not ignored but in my case i have dynamic database name so i must use $connection.

[2022-11-02 08:39] DavitMnacakanyan opened #44811 "LoginController login Error credentials"
everything is correct email and password but writes an error but everything is correct

[2022-11-02 09:06] lvqingan opened #44812 "Can not use request() to get manual set input parameter"
- Laravel Version: 9.38.0
- PHP Version: 8.1.9
- Octane: 1.2.5

### Description:
Can not use request() to get manual set input parameter from a post json request.

### Steps To Reproduce:
Custom request class and manual set a extra parameter
[code]

[code]

Is it related with #44671 ?

[2022-11-02 09:29] driesvints commented on #44811
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-11-02 09:29] #44811 closed