[2022-04-27 01:50] DavidJapan commented on #42139
One part of the application is the navigation menu in a sidebar on the left. The user should only see menu items that they have permission to see. Where I mistakenly passed null to the can method, the user was allowed to see a menu item that they shouldn't and open the related page.

My workaround is to test for null and if null is detected, pass false to the can method, which returns false - that

[2022-04-27 07:34] tyonly commented on #42113
OK,i will report the issue on [Laracasts Forums](https://laracasts.com/discuss)

[2022-04-27 07:38] tyonly commented on #42113
i have comment the code in vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/VerifyCsrfToken.php:107 ,then i get's a normal at POST method

[2022-04-27 08:24] mixdf opened #42150 "Calling render method on MailMessages with raw content fails with an exception"
- Laravel Version: 9.9.0
- PHP Version: 8.1.4
- Database Driver & Version: N/A

### Description:
If you try to render a mail message with raw content (no HTML or text), it will fail with an exception.
Exception class: InvalidArgumentException
Exception message: View [] not found.

### Steps To Reproduce:

[code]

[2022-04-27 08:29] driesvints commented on #42150
Afaik this usage isn't documented and unsupported.

[2022-04-27 08:50] driesvints commented on #42139
Laravel doesn't uses strict types in method signatures to enforce type safety. This parameter is marked as `iterable|string` only and we indeed consider this to be a userland thing to ensure.

I do have to agree that we could maybe throw an exception to warn people about improper usage. But unsure if that should be done in the current stable release (breaking change). You may attempt a PR to eithe

[2022-04-27 08:50] #42139 closed

[2022-04-27 08:51] driesvints commented on #42145
I'm not sure I see the bug here? Using an empty array there indeed isn't allowed.

[2022-04-27 08:51] #42145 closed

[2022-04-27 09:56] eskiesirius commented on #20042
im experiencing this.. any solution?

[2022-04-27 10:25] eskiesirius commented on #20042
That is what I thought using laravel queue but I don't like to use that service yet.. im currently using Laravel Excel to upload excel files.. maybe chunk can fix this? not sure

[2022-04-27 10:41] krychu90 commented on #11791
Still implicit model binding on interface is not working in Laravel 8.x

[2022-04-27 11:08] harshpatel147 commented on #20042
you used any third party package for Excel Import? I was do the data import from CSV file manually  Because I already solve this issue using Queue during Data import using CSV file.  I make Data Import as a Synchronous Queue using `dispatchSync` method. [read it](https://laravel.com/docs/9.x/queues#synchronous-dispatching) & try once

[2022-04-27 11:27] eskiesirius commented on #20042
yes i know queue already.. im using Maatwebsite\Excel for my import

[2022-04-27 12:11] #42107 closed

[2022-04-27 15:59] kocoten1992 opened #42156 "[v9.10.0] Run test on api route will result in `Target class [api] does not exist.`"
- Laravel Version: v9.10.0 (on github lastest is v9.9.0 but on packagist there is a v9.10.0 version https://packagist.org/packages/laravel/framework#v9.10.0)
- PHP Version: 8.1.5
- Database Driver & Version: irrelevant

### Description:
running test on api route will result in `Target class [api] does not exist.`

### Steps To Reproduce:
Running these code:
[code]

Will result in:
[code]

[2022-04-27 16:00] driesvints commented on #42156
Was this after you updated? In which Laravel version did this work for you?

[2022-04-27 16:01] kocoten1992 commented on #42156
yes, it was after update, v9.9.0 work for me

[2022-04-27 16:03] driesvints commented on #42156
Can you clear route cache with `php artisan route:clear` or try re-caching with `php artisan route:cache`?

[2022-04-27 16:06] kocoten1992 commented on #42156
I've try `composer dump` and `php artisan route:clear` (`php artisan optimize:clear` too), does not work.

I'll try to reproduce with a newly install laravel and post a link here.

[2022-04-27 16:15] kocoten1992 commented on #42156
@driesvints ho, most thing is broken on v9.10.0, this don't even work

[code]
[code]

[2022-04-27 17:05] kocoten1992 commented on #42156
Hello, I'm unable to reproduce on newly installed laravel app, but problem still there in an old app, I think I'll close this issue and start debugging on the old app and create a new issue if I find root cause (if you disagree can open this again). Thank you very much!

[2022-04-27 17:05] #42156 closed

[2022-04-27 19:21] toyi opened #42159 "Change in middlewareGroup function behaviour introduces a breaking change in v9.10.0"
- Laravel Version: 9.10.0
- PHP Version: 8.1.3
- Database Driver & Version: -

### Description:

Since the `v9.10.0`, I encounter many issues on a large project. I can only say "many issues" for now, because it's "just" failling tests here and there that doesn't seem related to each other, even if everything works fine when I roll back to `v9.9.0`.

I'm still in the process of digging the problem

[2022-04-27 21:36] kocoten1992 commented on #42159
can confirm this, revert https://github.com/laravel/framework/commit/05365f8186044af51fc55fb1e2b5b97caaac59e8 fix my problem too (https://github.com/laravel/framework/issues/42156)

[2022-04-27 23:47] marvin-wtt commented on #42159
This commit was added with #42004

[2022-04-28 03:19] suleymanozev commented on #42159
I am also having the same problem. I was creating middleware group with empty array to tag routes. Framework cannot find middleware group when I run it with this pr(#42004)

[2022-04-28 06:47] rodrigopedra commented on #42159
Behavior of the `middlewareGroup` method changed after PR #42004 as it no longer defines a middleware group when the group is an empty array.

I sent PR #42161 with a proposed fix.

[2022-04-28 07:03] driesvints commented on #42159
Thanks all. We'll try to get this fixed asap.

[2022-04-28 07:28] imran300 opened #42162 "Invalid Signature - Email Verification AWS Nginx"
- Laravel Version: 9.2
- PHP Version: 8.0
- Database Driver & Version:

### Description:
I am trying to verify email address, upon clicking on Verify Email Address button that i get an email, It gives me error " 403 | Invalid Signature "

I am using AWS Elastic Beanstalk with Nginx Server.
here is my nginx file.

`user                    nginx;
error_log               /var/log/nginx/error.log warn

[2022-04-28 07:29] driesvints commented on #42162
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-04-28 07:29] #42162 closed

[2022-04-28 07:39] imran300 commented on #42162
Thank you @driesvints  i have posted the issue on Larave Forum, here is the link.
https://laravel.io/forum/403-invalid-signature

Kindly help out if you have time please.
Thank you.

[2022-04-28 08:33] vvval opened #42163 "Why not declare default array value to RedisManager connections property?"
Everywhere in the codebase RedisManager's `$connections` property is used as an array. But it doesn't even have a default value (so it's null). The getter `getConnections()` has an array return-type hint, but still this method may return uninitialised null value
https://github.com/laravel/framework/blob/0546781d35d9be19c7eb74a9b8040f3d73e70d8f/src/Illuminate/Redis/RedisManager.php#L52
[code]

[2022-04-28 08:36] #42163 closed

[2022-04-28 09:25] oprypkhantc opened #42165 "Constaints on multiple hasMany relations of the model broken"
- Laravel Version: 9.10.0
- PHP Version: 8.1.5
- Database Driver & Version: MySQL 5.7

### Description:
If a model `A` defines two hasMany relationships on model `B`, each with it's own constraints, and you attempt to eager load both of the relations, it breaks with `SQLSTATE[HY093]: Invalid parameter number (SQL: select * from files where type in (1, 2, 3) and files.parent_id in (16) and files.de

[2022-04-28 09:38] driesvints commented on #42165
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-04-28 13:15] driesvints commented on #42159
We got this reverted and will cut a release shortly. Thanks all.

[2022-04-28 13:15] #42159 closed

[2022-04-28 14:41] dsturm commented on #19231
Hej @masoud-codes,

you should use `config('app.name')` instead of `$app_name`.

[2022-04-28 15:54] driesvints commented on #41313
@robertoarruda anyone can send in a PR. A closed issue isn't stopping you from doing that.

Look, I'm sorry you feel that way but in the end it's just us disagreeing that this is an issue in the first place. If you can't accept that there's going to be differences in opinion in open source or anything in life really then you're going to be disappointed a lot more.

I've also tried to do my best to

[2022-04-28 16:05] rw4lll opened #42171 "Artisan::call fails with error with enabled open_basedir"
- Laravel Version: 8.83.9
- PHP Version: 7.4.29
- Database Driver & Version: -

### Description:
If open_basedir is enabled on the server and Artisan:call() command called from the web, not from the console (e.g. in the controller),
the whole script fails with php error: **realpath(): open_basedir restriction in effect. File(/) is not within the allowed path(s)**

![open_basedir_issue_example](htt

[2022-04-28 16:06] danharrin opened #42172 "Global scopes cannot be removed from inside a logical group"
- Laravel Version: 9.10.0
- PHP Version: 8.1.3
- Database Driver & Version: MySQL 8.0.28

### Description:

Users of my package may define their own "filters", which are closures that alter an Eloquent query. Filters may be applied to the query in any combination.

To ensure that filters with `orWhere()` clauses do not conflict with one another, each filter is assigned a [logical `where()` group](

[2022-04-28 21:05] oprypkhantc commented on #42165
Turned out to be a problem with [builder serialization package](https://github.com/AnourValar/eloquent-serialize).

Sorry for bothering.

[2022-04-28 21:05] #42165 closed

[2022-04-29 01:16] erichowey commented on #41313
@danilopolani Thank you for the explanation and taking the time to investigate this. For those of us who aren't seasoned developers, it's extremely helpful. I'll attempt a PR to the docs with your explanation tomorrow.

[2022-04-29 06:55] ArneAnka opened #42179 "Chansning email in user profile forces the user to a new email verification process."
- Laravel Version: 9.10.0
- PHP Version: 8.1.5
- Database Driver & Version: SQLITE3, 3.37.0

### Description:
Signed user throws out from application when changing email.

### Steps To Reproduce:

Using the Inertia stack and was changing the email in the profile, and I noticed that if the user has a already verified email. The new email gets unverified, and the user is thrown out from the applicat

[2022-04-29 07:48] driesvints commented on #42171
I'm afraid that there's nothing we can do here since we don't own the code. The best course of action is to attempt a PR to symfony. Sorry

[2022-04-29 07:48] #42171 closed

[2022-04-29 07:56] driesvints commented on #42172
Yes this is expected since you're only scoping the part within the closure. If you want to get rid of the trait on the full query you'll have to target the base query:

[code]

[2022-04-29 07:56] #42172 closed

[2022-04-29 09:52] driesvints commented on #42179
Yes this is currently the expected behavior. I get that this is not ideal in all situations but right now this is how things work. I will bring this up internally however to see if there's anything we can do to improve this.

Otherwise I suggest you ignore Jetstreams routes for now with `Jetstream::ignoreRoutes()` in your service provider, overwrite them in your own routes file and implement your

[2022-04-29 09:52] #42179 closed

[2022-04-29 10:06] antonioribeiro opened #42183 "Faking dates with Carbon breaks the session persistence"
### Versions

Laravel Version: 8.83.9
PHP Version: 8.0.11
Database Driver & Version: MariaDB 10.5.8

### Description:

Adding something like this anywhere in a middleware or even the AppServiceProvider breaks session:

[code]

### Steps To Reproduce:

1) Create a middleware

[code]

2) Add it first in the web stack

3) Refresh a page with a csrf_token()

Token is refreshed every time.

[2022-04-29 10:09] driesvints commented on #42183
Hey @antonioribeiro. This `setTestNow` call is only intended to be used in tests and not in app code. We do not recommend to use it outside testing classes.

[2022-04-29 10:09] #42183 closed

[2022-04-29 10:52] rw4lll commented on #42171
@driesvints thanks for the answer, I'll try to make a PR there.

[2022-04-29 14:08] oprypkhantc opened #42189 "Deprecations log missing the trace"
- Laravel Version: 9.10.0
- PHP Version: 8.1.5

### Description:
Deprecation logs look like this, making it impossible to debug in some cases:
[code]

It's missing the stack trace, dissimilar to the rest of the exceptions & PHP errors.

### Steps To Reproduce:

1. Clean install Laravel
2. Configure the deprecations logs [as per documentation](https://laravel.com/docs/9.x/logging#logging-deprecatio

[2022-04-29 14:37] #42189 closed

[2022-04-29 14:46] marvin-wtt commented on #42189
@driesvints I think what OP means is that it's hard to debug when calling the substring method of the Laravel Support Str class with null as the trace will point to the support class rather than the caller

[2022-04-29 14:54] driesvints commented on #42189
Hmm yes I see the issue now. I agree that that can be improved but it's rather an enhancement than an issue. We'd welcome Pr's for this. Here's where the call gets made:

https://github.com/laravel/framework/blob/ab1506091b9f166b312b3990d07b2e21d971f2e6/src/Illuminate/Foundation/Bootstrap/HandleExceptions.php#L105-L107

[2022-04-29 14:54] oprypkhantc commented on #42189
@driesvints I'll do that now. Thanks

[2022-04-30 13:08] eirworks opened #42196 "Pagination localization causing Array to String error"
- Laravel Version: 9.8.*
- PHP Version: 8.0.0
- Database Driver & Version:

### Description:
There are some localization issue inside `laravel/framework/src/Illuminate/Pagination/resources/views/tailwind.blade.php`, for example in line 38, there is this `__('results')` that will throw Array to string conversion error because I have file named `results.php` in lang folder. Honestly, I am not sure w

[2022-04-30 19:44] PooX opened #42201 "[9.10.1] Fix sortMiddleware not working"
- Laravel Version: 9.10.1
- PHP Version: 8.0.13
- Database Driver & Version:

### Description:
After update to 9.10 version, my application was fully broken. Error about Router:sortMiddleware has showed.
[code]

I really don't know how to fix this.

### Steps To Reproduce:

[2022-04-30 20:39] oprypkhantc opened #42203 "Deprecation warning when trying to validate against no rules (after conditionals)"
- Laravel Version: 9.10.0
- PHP Version: 8.1.5

### Description:
Trying to validate a field that has no rules or no truthy conditional rules results in a deprecation warning:
`local.WARNING: ErrorException: array_fill(): Passing null to parameter #1 ($start_index) of type int is deprecated in /app/vendor/laravel/framework/src/Illuminate/Validation/ValidationRuleParser.php:100`

### Steps To Reprod

[2022-04-30 20:47] oprypkhantc opened #42204 "Deprecation warning when trying to trans() with a null value in replacements"
- Laravel Version: 9.10.0
- PHP Version: 8.1.5

### Description:
Trying to feed `trans()` a second argument that is an array with a key and a null value results in a deprecation warning:
`local.WARNING: ErrorException: mb_substr(): Passing null to parameter #1 ($string) of type string is deprecated in /app/vendor/laravel/framework/src/Illuminate/Support/Str.php:941`

While that case isn't describe

[2022-04-30 21:18] zaqueuorlando870 commented on #32015
In My Case i have used a `return $req->input();`  which resulted to this error `
   Error

  Call to undefined method Closure::__set_state()

  at bootstrap/cache/routes-v7.php:925
    921▕       'fallback' => false,
    922▕       'defaults' =>
    923▕       array (
    924▕         'destination' =>
  ➜ 925▕         Closure::__set_state(array(
    926▕         )),
    927▕         'status' => 30

[2022-04-30 21:36] rodrigopedra commented on #42201
Problem happens as both Laravel and Hyperf defines a `collect` helper that return different objects:

https://github.com/laravel/framework/blob/ab1506091b9f166b312b3990d07b2e21d971f2e6/src/Illuminate/Collections/helpers.php#L6-L20

https://github.com/hyperf/hyperf/blob/837900dd4e44cc3867468b68066aa3c37f2575dc/src/utils/src/Functions.php#L105-L116

So depending on which helpers file is loaded first

[2022-05-01 12:41] lordisp opened #42208 "`php artisan down --refresh=5` does not work in combination with ` --render="maintenance.index"`"
- Laravel Version: 9.9.0
- PHP Version: 8.1.5
- Database Driver & Version:

### Description:
`php artisan down --refresh=5` does not work in combination with ` --render="maintenance.index"`

### Steps To Reproduce:

create a custom `maintenance.index` view

run `php artisan down --refresh=5 --render="maintenance.index"`

#### Expected behavior:
`maintenance.index` view will be rendered and refresh

[2022-05-02 03:52] jimgwhit opened #42210 "Laravel 9.x with PHP 8.0"
- Laravel Version: 9.X
- PHP Version: 8.0
- Database Driver & Version: N/A

### Description:   This:
[code]

The two are a paradox.  Any 9.x version should work with PHP 8.0.

### Steps To Reproduce: N/A

[2022-05-02 04:53] #42210 closed

[2022-05-02 07:52] driesvints commented on #42201
Thanks @rodrigopedra. You indeed can't define these two at the same time.

[2022-05-02 07:52] #42201 closed

[2022-05-02 08:20] driesvints commented on #42196
Hi @eirworks. You reported this to the right repo. Unfortunately, having files names the same as translation keys is not supported right now. Please see https://laravel.com/docs/9.x/localization#using-translation-strings-as-keys

![Uploading Screenshot 2022-05-02 at 10.20.02.png…]()

[2022-05-02 08:21] #42196 closed

[2022-05-02 09:04] driesvints commented on #42203
Thanks, I've sent in a fix for this: https://github.com/laravel/framework/pull/42213

[2022-05-02 09:04] #42203 closed

[2022-05-02 09:18] driesvints commented on #42204
Thanks for reporting this. I've sent in a PR for this: https://github.com/laravel/framework/pull/42216

[2022-05-02 09:18] #42204 closed

[2022-05-02 09:52] driesvints commented on #42208
Thank you for reporting this. I've sent in a fix for this here: https://github.com/laravel/framework/pull/42217

[2022-05-02 10:37] jayenne opened #42218 "nested $loop->last not working"
- Laravel Version: 9.10.1
- PHP Version: 8.1.5
- Database Driver & Version: mysql 8.0.28

### Description:
I *think* there may be a bug in the foreach $loop code whereby the $loop->last isn't working as expected.
The $loop->last within a nested foreach isn't working as expected.

### Steps To Reproduce:
pass this nested array...
[code]
To this blade
[code]
Notice that the `<div class="column">` ge

[2022-05-02 12:09] driesvints commented on #42218
Your `$data` array isn't correct. You need to use `$data['items']`. `$item->var` isn't correct either and needs to be `$item['var']`.

Further, I've tested several scenarios and all calls to `$loop->last` worked for me.

[2022-05-02 12:09] #42218 closed

[2022-05-02 12:12] jayenne commented on #42218
Sorry for my poor issue then. Than kyou for checking and confirming this though. I did wonder if this could really be a bug.
- I still can't get a value for $loop->last (or $loop->count, $loop->remaining etc) I'll keep working on it.

[2022-05-02 13:06] TivoSoho opened #42221 "Saved event fired on old related model"
- Laravel Version: 8.x - 9.x

### Description:
This is the source for touching owners. As you can see it fires "saved" event on an old model if it existed beforehand.
[code]

### Steps To Reproduce:
1. Have something set to touch the parent
2. Have that something have that relation loaded
3. Save the child
4. Try to access the new timestamp in parent saved event - it is still the old data

### Cor

[2022-05-02 13:15] driesvints commented on #42221
It seems to me that you want a change in behavior which is a feature request. You're free to attempt a PR if you like. Thanks

[2022-05-02 13:15] #42221 closed

[2022-05-02 13:38] WeeskyBDW opened #42222 "[Authentification] Allow customisation of password field name for default eloquent provider"
Hi
i think it can be really usefull to allow devs to customize the password field on Laravel default authentification system. Currently, password field is hardcoded and this made we have to create a custom provider that extend eloquent provider.

**Why this change ?**
i dont see why we should be allowed to customize other fields but not password. It will also improve flexibility of the authentific

[2022-05-02 13:55] driesvints commented on #42208
Will be in next release. Thanks!

[2022-05-02 13:55] #42208 closed

[2022-05-03 09:00] korkoshko opened #42233 "Retrieve by credentials: undefined array key password"
- Laravel Version: 9.10.0
- PHP Version: 8.1.5
- Database Driver & Version: SQLite Library => 3.31.1

### Description:
Hi!

I just researched auth providers (database & eloquent) and found some issue in the  method "[retrieveByCredentials](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Auth/EloquentUserProvider.php#L110)", which using "str_contains" to check "password" key in the arr

[2022-05-03 09:15] driesvints commented on #42233
So, the explanation for this is that the first check in `retrieveByCredentials` is just to see if *only* a password value was passed. If you look further down at https://github.com/laravel/framework/blob/9.x/src/Illuminate/Auth/EloquentUserProvider.php#L120 you'll see that all password keys are filtered out from the lookup. The first check is just an early return to see if there's only one value i

[2022-05-03 09:15] #42233 closed

[2022-05-03 09:22] korkoshko commented on #42233
@driesvints My point is that the use of "str_contains" in this case is useless and misleading. Just use equals operator.

[2022-05-03 09:25] driesvints commented on #42233
@korkoshko I think you didn't understand what I was saying. The first check in https://github.com/laravel/framework/blob/9.x/src/Illuminate/Auth/EloquentUserProvider.php#L120 is just to early return when there's only one value in credentials and if it's *any* password value. The password values are filtered out anyway in the loop. It's totally intended to use `str_contains` here.

[2022-05-03 09:25] Keryx42 opened #42234 "FTP writing error throws exceptions that doesn't implement League\Flysystem\UnableToWriteFile intferface"
- Laravel Version: 9.10.1
- PHP Version: 8.1.0
- Database Driver & Version:  MySQL (ver. 5.7.36)
- league/flysystem-ftp 3.0.9

### Description:
According to the Laravel documentation storage writing errors (with throwing enabled) should throw exceptions that implement the interface `League\Flysystem\UnableToWriteFile`

https://laravel.com/docs/9.x/filesystem#failed-writes

If you're using an ftp c

[2022-05-03 09:29] korkoshko commented on #42233
@korkoshko okay , why not using `===` to filter in the loop ?

[code]
change to:
[code]

[2022-05-03 09:32] driesvints commented on #42233
Because we want to filter out *every* password value. If we don't, passwords will be added to the query which may end up in logs etc. We want to prevent to expose password values.

[2022-05-03 09:33] driesvints commented on #42233
You also never query for a password value because they should always be hashed. They'll never match the values in the database.

[2022-05-03 10:14] TivoSoho commented on #42221
Can you clarify what then constitutes as a bug? If a relationship is not loaded - it retrieves it fresh and it has the correct data. However if relationship is loaded, the saved event is fired on data that is not only NOT saved, but is missing the actual data that WAS saved. Meaning, if you modify the relationship and it does touch, the touch is done via rawUpdate, but the even is fired on the cha

[2022-05-03 10:51] phanan opened #42236 "Incorrect parameter type for validation concerns"
- Laravel Version: v9.10.1
- PHP Version: v8.1
- Database Driver & Version: Irrelevant

### Description:

Given this custom validator code that was working fine before:

[code]

The change introduced 2e2e57c3670b9f09711252e2793a1734290cc54a (PR #42151) now causes PHPStan (or Psalm, for that matter) to report a type error:

[code]

A workaround could be to convert `self::MAX_SIZE_IN_KB` to string,

[2022-05-03 10:53] driesvints commented on #42236
We don't consider PHPStan or Psalm errors as actual bugs. Feel free to PR something to fix anything you have in mind 👍

[2022-05-03 10:53] #42236 closed

[2022-05-03 10:55] phanan commented on #42236
@driesvints Sure, I can send a PR over. I'd argue though, that this is an actual bug (documented type and actual support type don't match). What static analyzers do in this case is to make it visible.

[2022-05-03 10:56] driesvints commented on #42236
No code will break because of this.

[2022-05-03 11:00] phanan commented on #42236
It doesn't take breaking code to be a bug IMHO, but I get where you're coming from. I'll see what I can do.

[2022-05-03 11:28] MaryRabinovich commented on #20431
The same issue in 2022:

$response
->assertJson(['data' => [ ThingWithRelations::first()->toArray() ])
->assertJsonMissing(['data' => [ ThingWithRelations::first()->toArray() ]);

it passes:)
And yeah, the thingWithRelations is the same in both lines.

So, maybe really it's just a problem of naming.

Rename it, please, to something like assertJsonMissingPlaneFragment()

[2022-05-03 12:02] driesvints commented on #42234
Hey @Keryx42, thanks for the report. It's definitely well written.

I'm not sure I agree this is a Laravel issue. We can't catch all ErrorExceptions in the filesystem adapter because that would hide actual errors/bugs. I feel like this should either be caught by the Flysystem FTP adapter and converted into a dedicated exception or this should bubble up to the app like it does now so it's explicit

[2022-05-03 13:19] driesvints commented on #42234
This is going to be addressed within Flysystem soon. Thanks!

[2022-05-03 13:19] #42234 closed

[2022-05-03 13:21] Keryx42 commented on #42234
@driesvints Thanks so much :) Have a great day!

[2022-05-03 13:57] datlechin opened #42240 "Component overrides variable on view"
- Laravel Version: 9.10.0
- PHP Version: 8.1.5
- Database Driver & Version: 8.0.28 MySQL Community Server

### Description:
Component modifies the variable passed from controller to view.

Controller
[code]

View
[code]

Above the component the `$attributes` variable is **Pagination** but below the component `$attributes` is **Collection**. So the Component changed the `$attributes` variable.

###

[2022-05-03 14:00] driesvints commented on #42240
Heya. Attributes is a reserved keyword within Blade and should be avoided in your views for app-related code.

[2022-05-03 14:00] #42240 closed

[2022-05-04 08:05] Keryx42 commented on #42234
Final update for completeness :)

The problem got solved here
https://github.com/thephpleague/flysystem/blob/3.0.19/CHANGELOG.md

[2022-05-04 13:27] hayjay commented on #26229
I had a similar error like this : `PHP Fatal error:  Uncaught TypeError: Return value of Illuminate\\Container\\Container::offsetGet() must be an instance of Illuminate\\Container\\mixed`

All I had to do was to check the installed php versions using `sudo update-alternatives --list php`

The result of that looks like this:

`/usr/bin/php7.4`
`/usr/bin/php8.0`

Since that error is a php 7 error, I

[2022-05-04 17:05] malandles commented on #23413
Thank you all for the documented issue, this helped a lot.

As a workaround for MySQL and only if this hangs in tests, due to `RefreshDatabase` using transactions. You can disable foreign key checks at the test level so the transaction doesn't hang in a deadlock.

In the base `TestCase`, I added the following methods:
[code]

Then in the actual test from @cbj4074, you disable the check:
[code]

Th

[2022-05-04 22:02] ryantxr commented on #39705
FYI, this is still happening. I recently built a fresh Laravel Application with Jetstream + Livewire.
[code]

[code]
Stack Trace
[code]

[2022-05-05 06:01] ElteHupkes commented on #18577
Arriving here through Google several years later, I'm wondering if there is any combination of validation rules to express a rule that a field should be present, and either `null` or not empty. In my testing (Laravel 9):

- `nullable|required` fails on `null`, which is the original issue here.
- `nullable|present` passes on `null`, but also passes on an empty string - which is indeed what the rule

[2022-05-05 11:47] jacobmllr95 opened #42269 "`PusherBroadcaster` max channels per call limit"
- Laravel Version: v8.83.11
- PHP Version: 8.1.5
- Database Driver & Version: MySQL 5.7.37

### Description:

Pusher limits publishing an event to 100 channels per call.
https://pusher.com/docs/channels/server_api/http-api/#publishing-events

In our application each user has it's own private channel where different events get published on.
Some events need to be published to a large number (> 100)

[2022-05-05 14:04] PaolaRuby opened #42271 "How to add extra data on session guard recaller"
### Discussed in https://github.com/laravel/framework/discussions/42067

<div type='discussions-op-text'>

<sup>Originally posted by **PaolaRuby** April 20, 2022</sup>
Only admit 3 segments, `id`,`token`,`hash`
https://github.com/laravel/framework/blob/b9203fca96960ef9cd8860cb4ec99d1279353a8d/src/Illuminate/Auth/Recaller.php#L80-L85
Is there a config for set a custom recaller with more segments?
I

[2022-05-05 14:08] PaolaRuby commented on #42271
Let's be honest, @taylorotwell only reviews PR from known collaborators, he closes everyone else without reviewing with the same copy/paste message

[2022-05-05 14:11] driesvints commented on #42271
Hey @PaolaRuby, please don't move discussions to issues.

Also, Taylor is free to merge whatever he prefers into the codebase. I'm sorry you feel differently.

[2022-05-05 14:11] #42271 closed

[2022-05-05 14:17] taylorotwell commented on #42271
Also, Laravel has over 2,000 contributors - so, no, they are not all my "known collaborators".

[2022-05-05 14:22] PaolaRuby commented on #42271
Multi company login, is a manyToMany relation, on login user pick wich company use for session, on "remember me" rebuild the user session but not the company, of course i can create another cookie for rebuild the picked company, but would be great if the recaller can handle that extra id/ids

@taylorotwell thank, first time you answer me

Sorry ,I don't know how to solve it

[2022-05-05 14:41] atoff opened #42273 "ForceCreate through relationship"
- Laravel Version: 9.11.0
- PHP Version: 8.1.1
- Database Driver & Version: MySQL 8.0

### Description:
When creating a model through a relationship (e.g. `$book->reviews()->create(['text' => '...'])`), you expect that relation foreign attributes will be populated (in this example, `book_id` should be auto-populated when we create the Review instance through the book instance).

However, when usin

[2022-05-05 15:03] driesvints commented on #42273
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-05-05 15:58] ElteHupkes commented on #41734
@driesvints I'll make sure to do that once I have a slightly better idea what I'm talking about and where such a piece of information belongs. Clearly my thoughts coming in are a bit different than how it's actually designed, so I'm a bit hesitant about telling people what's up now 😉.

What sent me down the rabbit hole is that I was trying to create a rule that passes:

- `['foreign_id' => 123]` (

[2022-05-05 17:25] atoff commented on #42273
@driesvints thanks for checking this out - I've included an MVP at the bottom of the description that was created using the steps you reported - is more required for this?

[2022-05-05 18:22] driesvints commented on #42273
It's easier for me to test this if you can recreate it in a fresh Laravel app

[2022-05-05 18:47] atoff commented on #42273
Absolutely understand and agree, but I generated that repository with the exact process you provided - it is a fresh laravel repo with only one commit that adds the behaviour I described

[2022-05-05 20:47] driesvints commented on #42273
@atoff  Omg sorry I totally looked that over 🤦🏻‍♂️ I'll try to check into it tomorrow!

[2022-05-05 23:29] nateritter commented on #26945
@sebsobseb Thank you so much!  This helped me immensely!  It's been months that I've been hearing of this bug and I couldn't track it down. Thank you a thousand times over (and from my users too)!

[2022-05-06 06:44] rodrigopedra commented on #42273
Hey @driesvints , I agree with @atoff this is unexpected behavior, and I've had some head scratching moments myself due to this unmatched behavior.

So I already sent PR #42280 which adds a `forceCreate` method to the `HasOneOrMany` abstract class.

[2022-05-06 08:21] driesvints commented on #41894
Hi there, since this is an edge case really and we only have gotten one report for this we're going to close this one now. Thanks for reporting this but right now we don't feel it's wanted to dedicate a lot of time to this. We would accept a note to the upgrade guide though so people know to process all of their batches before upgrading. Thanks

[2022-05-06 08:21] #41894 closed

[2022-05-06 10:48] JamesHemery opened #42285 "preventLazyLoading doesnt work"
- Laravel Version: ^9.11
- PHP Version: 8.1
- Database Driver & Version: Sqlite or Mysql (both tested)

### Description:

When I enable the preventLazyLoading like that:

[code]

I don't have any mistakes that I make a lazy load:

[code]

### Steps To Reproduce:

1. git clone git@github.com:JamesHemery/strict-lazy-bug.git
2. composer install
3. php artisan migrate:fresh --seed (sqlite database)
4.

[2022-05-06 11:29] JamesHemery commented on #42285
It's good: https://github.com/JamesHemery/strict-lazy-bug

Thanks,

[2022-05-06 11:36] driesvints commented on #42269
Thanks for reporting this. I sent in a PR to chunk these calls: https://github.com/laravel/framework/pull/42287

[2022-05-06 12:11] driesvints commented on #42285
Ah so, I see the reason even though it's not obvious. If you only load a single model instance and call a relationship lazily on it it won't trigger the exception. It only happens when you load multiple instances and call relationships on those. Those will trigger an n+1 issue.

[code]

Make sure to have more than one user in the database.

[2022-05-06 12:11] #42285 closed

[2022-05-06 13:14] #42269 closed

[2022-05-06 13:51] michabbb commented on #26627
just for the docs: this error also can happen if you put code inside a config file like `/config/links.php` like:

[code]

[2022-05-06 14:05] brandonferens commented on #18577
Hey @ElteHupkes, I'll try taking it.

If we are talking about params in a query string, here is the routing method and result:

[code]

As you can see it will remove the null value from the query params. I have a feeling you are talking about a post payload, however.

Here is what I found when posting the same values as a payload:

[code]

Based on this, I'm assuming that if you pass an empty stri

[2022-05-06 14:07] driesvints commented on #42273
Will be in Tuesday's release. Thanks all.

[2022-05-06 14:07] #42273 closed

[2022-05-06 18:20] declum opened #42288 "Change Http::post Signature to allow payloads of array|null|object"
- Laravel Version: ^9.

### Description:
Allow the post payload to support object|null|array.

1. To support, passing null as payload,
2. To support, passing empty object {} as payload,

### Steps To Reproduce:

Http::withBasicAuth($username, $password)
            ->withHeaders([
                'Accept' => 'application/json'
            ])
            ->post('http://hostname/login', null)->throw

[2022-05-06 19:35] driesvints commented on #42288
No code is broken here. You're free to attempt a pr if you want to change the docblock

[2022-05-06 19:35] #42288 closed

[2022-05-07 18:34] sradhaa commented on #31920
https://github.com/laravel/framework/issues/31920#issuecomment-624274363

This does the job.

[2022-05-07 20:01] willwright opened #42294 "HasManyThrough firstOr does not implement laravel_pass_through key"
- Laravel Version: 8.83.0
- PHP Version: 8.0.15
- Database Driver & Version: MySQL 8

### Description:
When chaining `firstOr` to a `HasManyThrough` relationship, the framework does not pass the `$columns` parameter through `prepareQueryBuilder` which results in a primary key collision on `id` column.

A "normal" `HasManyThrough` relationship works fine. This only seems to crop up when you need to

[2022-05-07 22:23] elidrissidev opened #42296 "`CursorPaginator::onLastPage` method mentioned in docs but does not exist"
- Laravel Version: 9.11.0
- PHP Version: 8.1.4
- Database Driver & Version: MariaDB 10.7.3

### Description:

The method `onLastPage` is mentioned in [pagination docs](https://laravel.com/docs/9.x/pagination#cursor-paginator-instance-methods) but when calling it on the cursor instance it throws an error. `onFirstPage` works just fine.

### Steps To Reproduce:

- Use cursor paginator on any model a

[2022-05-07 22:29] ukenpachi opened #42297 "Unable to prevent the creation of the same in a queue"
Using `version 8.2.3` I am only trying to dispatch a unique job to a queue. In app/Console/Kernel I have sent a schedule to  `$schedule->job(new myJob(), 'high')->everyMinute();` this runs every minutes.
In the job itself I have added the `ShouldBeUnique` interface class in `myJob class` I even added

    public function uniqueId() {
       return $this->process->id();
    }

when my cron job runs

[2022-05-08 01:18] kocoten1992 opened #42298 "phpunit.xml `SESSION_DRIVER` `cookie` does not work with testing `withSession`"
- Laravel Version: 9.11.0
- PHP Version: 8.1.5
- Database Driver & Version: -

### Description:
Accidentally discover when change `array` to `cookie` in phpunit.xml

[code]

### Steps To Reproduce:
1. change in phpunit.xml
[code]
2. run test with this:
[code]

[code]

I'm guessing this is a papercut since [docs](https://laravel.com/docs/9.x/testing) doesn't mention about this.

[2022-05-08 06:16] tntsoft opened #42300 "[9.x] Attributes on Auth::user() instance have relationships inside them - they're marked as dirty"
- Laravel Version: v9.11.0
- PHP Version: 8.1.5
- Database Driver & Version: 10.5.13-MariaDB - Homebrew

### Description:
I've opened a PR attempting to patch this problem #42292

I've detailed everything I could there. I'm happy to get on a call and provide more context, I've tried to explain the problem as best as I could in the PR.

[2022-05-08 09:39] deraak opened #42302 "The duplicates method does not work correctly"
- Laravel Version: 9.7.0
- PHP Version: 8.1.2
- Database Driver & Version:

### Description:
The issue:

`
collect(['A', 'A', 'B', 'B', 'C', 'C', 'C', 'C', 'D'])->duplicates()->all(); // it returns ['A' , 'B' , 'C', 'C', 'C']
`
also the duplicatesStrict has this issue too

[2022-05-08 09:54] sjokkateer commented on #42302
Could you please also add what you expect the method to return?

The method's documentation [Collection::class#L289](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Collections/Collection.php#L289) mentions it retrieving the duplicate items in the collection, which it seems to do in your provided example. It is accounting for one of the items being the original and hence not a duplica

[2022-05-08 13:55] crissi commented on #42302
I think the behaviour is expected. If you want unique duplicates you can do:
`collect(['A', 'A', 'B', 'B', 'C', 'C', 'C', 'C', 'D'])->duplicates()->unique()->all();`

[2022-05-08 18:59] jacobmllr95 commented on #42269
@driesvints Thanks for the quick fix!

[2022-05-09 06:35] ukenpachi commented on #36632
Hi, I know this reply is more than a year old but I wanted to ask what do you mean by `only works for queued jobs`  but if I do something like this

[code]
[code]

In both cases it still create 3 of the same jobs. So how does this `shouldbeUnqiue `work? p.s. I am using version 8.2.3

[2022-05-09 06:49] ukenpachi commented on #39113
Hi did you managed to get `ShouldBeUnique` working? I am having the same issue [#42297](https://github.com/laravel/framework/issues/42297)

[2022-05-09 07:10] raimondslinde opened #42308 "Laravel `unsignedFloat` creates unsigned DOUBLE (8, 2) column #bug"
- Laravel Version: 8.83.11
- PHP Version: 8.0
- Database Driver & Version: MariaDB latest

### Description:
Laravel `unsignedFloat` creates unsigned DOUBLE (8, 2) column #bug

### Steps To Reproduce:
[code]

[2022-05-09 07:41] driesvints commented on #42296
Thanks, a PR was sent in 👍

[2022-05-09 07:41] #42296 closed

[2022-05-09 07:42] driesvints commented on #42308
Please see previous issues around this subject why we can't change this.

Thanks @rodrigopedra

[2022-05-09 07:42] #42308 closed

[2022-05-09 07:54] driesvints commented on #42300
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-05-09 07:54] #42300 closed

[2022-05-09 07:55] driesvints commented on #42298
I don't think enabling a cookie session driver in unit tests makes sense.

[2022-05-09 07:55] #42298 closed

[2022-05-09 07:56] driesvints commented on #42297
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-09 07:56] #42297 closed

[2022-05-09 08:07] driesvints commented on #42294
There's only one commit in your repo so I can't see your changes.

Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel inst

[2022-05-09 08:10] raimondslinde commented on #42308
I ended up, after creating DOUBLE (8, 2), using ALTER TABLE:

```DB::statement('ALTER TABLE `test_table` CHANGE COLUMN `quantity` `quantity` FLOAT UNSIGNED NOT NULL DEFAULT 1');```

[2022-05-09 19:12] driesvints commented on #42294
I'll re-open this once you've provided a new repo. Thanks

[2022-05-09 20:21] JackWH commented on #41035
Hey @Levivb, I've been chasing my tail trying to solve this same issue for 4 days now. Seen a few of your comments elsewhere about this, sure has been a fun one to debug 🙃 Did you have any luck trying this with 8.1.6 RC1?

For anyone else who comes across this, it's definitely a PHP opcache bug — I've stumbled across 5 or 6 different discussions from various PHP projects all reporting similar issu

[2022-05-09 20:35] Brenneisen opened #42317 "Exception::__construct(): Argument #2 ($code) must be of type int, string given at .../Illuminate/Database/Concerns/ManagesTransactions.php:94)"
- Laravel Version: 9.11.0
- PHP Version: 8.0.18
- Database Driver & Version:

### Description:

After updating to v9.11.0, we are conveniently seeing this error in our log:

`Exception::__construct(): Argument #2 ($code) must be of type int, string given at .../Illuminate/Database/Concerns/ManagesTransactions.php:94)`

It seems to be related to this PR https://github.com/laravel/framework/pull/421

[2022-05-09 21:19] franck-grenier commented on #37991
Hello,
I'm getting the same error `Couldn't map cluster keyspace using any provided seed` trying to setup my Redis clustered cache on Laravel 8.

Something I do not understand : do my Redis needs to be setup and configured in cluster mode on server side ? Or can PHPRedis do all the job from client side ?

Thanks for help

[2022-05-09 22:51] Levivb commented on #41035
Hey @JackWH yea, got quite an amount of time into tracking this thing 😅 . Most of the currently relevant information is stowed away in the thread at https://github.com/php/php-src/issues/8164. It just so happens  that I posted in there earlier today stating I would try out `8.1.6RC1`. Currently running `8.1.6RC1-fpm` in one of the sites in production which as of yet hasn't gone haywire 🤞  (althoug

[2022-05-09 23:34] rodrigopedra commented on #42317
In theory `->getCode()` should return an `int`, as seen here:

https://www.php.net/manual/en/throwable.getcode.php

I know PHP is not yet enforcing method signature on extended classes, but I would say the exception being caught and wrapped is not conforming to the definition.

Can you share the full stack trace, so we can assess the original Exception?

Or, if what originates this error is a cust

[2022-05-09 23:36] MrTomek opened #42319 "WTF dynamic prefix"
NOT WORK
[code]

WORK
[code]

[2022-05-09 23:46] rodrigopedra commented on #42317
To illustrate what I meant:

[code]

As the first `RuntimeException` thrown is not honoring the constructor signature, when this is wrapped into another inside the catch, it fails, as this wrapper exception defines the scalar type hint `int`.

In my opinion, the fault is from the inner exception which is not respecting the constructor signature, and not from the wrapping exception.

But if this si

[2022-05-10 00:20] rodrigopedra commented on #42319
What is wrong? What did you expect to happen?

Database prefix is not applied to the `migrations` table. If you want to customize the `migrations` table name, you should modify the `migrations` key on your app's `./config/database.php` file.

https://github.com/laravel/laravel/blob/7216fa7e9a797227f303630d937a0722878b753b/config/database.php#L98-L109

Next time use more polite wording and try addi

[2022-05-10 00:32] MrTomek commented on #42319
In hasTable prefix is not needed and in create already there?

This is not a solution to the problem, it needs to dynamically change the prefix (multi tenant single database)

[2022-05-10 00:37] MrTomek commented on #42319
[code]

[2022-05-10 00:51] rodrigopedra commented on #42319
Why do you want a separate migration table for each prefix?

if you are storing all tables into the same database, won’t a single migration table suffice for you use case?

The migration will be aware of all tables with each prefix and you won’t have to manage changing the migration table name each time you want to run a new migration.

If you believe this is something that is justified to be adde

[2022-05-10 03:57] daikisuyama-fs opened #42322 "About onWriteConnection method's return value"
- Laravel Version: 5.6.40
- PHP Version: 7.4.29

### Description:

Here is the definition of onWriteConnection in \Illuminate\Database\Eloquent\Model.

[code]

I use this method to init builder for select clause in the method of ToDo class which extends model class.

[code]

In onWriteConnection's doc, onWriteConnection must return \Illuminate\Database\Query\Builder, but it returns \Illuminate\Dat

[2022-05-10 06:20] #42319 closed

[2022-05-10 06:40] driesvints commented on #42319
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-10 06:52] driesvints commented on #42322
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-05-10 06:52] #42322 closed

[2022-05-10 07:14] driesvints commented on #42317
I doubt this is an issue with Laravel itself for the reasons @rodrigopedra explained. Maybe if @rodrigopedra's PR gets merged you can see what the actual exception is.

Thanks for the help always @rodrigopedra, we appreciate it 👍

[2022-05-10 07:14] #42317 closed

[2022-05-10 07:20] rodrigopedra commented on #42317
Thank you @driesvints for your hard work and all Laravel team.

Laravel changed my life, whenever I have the time it is my pleasure to give back something to the project =)

[2022-05-10 07:54] taai opened #42326 "Non-digits allowed in digits_between"
- Laravel Version: 9.11.0

### Description:

Meaning of **digit**: [any one of the ten numbers 0 to 9](https://dictionary.cambridge.org/dictionary/english/digit)

A dot (```.```) is **not a digit**.

The problem is that the validation rule ```digits_between``` accepts fractions (a dot), multiple dots and **even dots only** (```....```). :rofl:

Note that the validation rule ```digits``` does not a

[2022-05-10 08:06] Ifriqiya commented on #31151
@driesvints I'm getting malformed table/raw html code in emails that have a table. I'm not getting any errors. I just upgraded to L9.

[2022-05-10 08:18] ElteHupkes commented on #18577
@brandonferens This is true if you use the `TrimStrings` and `ConvertEmptyStringsToNull` middleware. I'm not really a big fan of those in all contexts, but indeed it took disabling them to run into these issues in the first place. Without those middleware, empty strings will just pass through verbatim. A rule like `min:10` will not fail on input like `    `, because it is an "empty" string, and an

[2022-05-10 08:36] driesvints commented on #42326
I don't think we're going to change this any time soon, sorry.

[2022-05-10 08:38] driesvints commented on #42326
Also see the original issue for that: https://github.com/laravel/framework/issues/40264. This should be a numeric value. Maybe digit isn't an 100% word but the rule atm does what it's suppose to do.

[2022-05-10 08:39] driesvints commented on #42326
Ah the multiple dots thing is a concern. I'll send in a PR for that.

[2022-05-10 08:42] Ifriqiya commented on #31151
De-indenting every line of code in the email blade resolved this.

[2022-05-10 09:21] driesvints commented on #42326
I sent in a PR for this: https://github.com/laravel/framework/pull/42330

[2022-05-10 09:41] Brenneisen commented on #42317
@driesvints @rodrigopedra

Please have a look at: https://www.php.net/manual/en/exception.getcode.php

"Returns the exception code as int in [Exception](https://www.php.net/manual/en/class.exception.php) but possibly as other type in [Exception](https://www.php.net/manual/en/class.exception.php) descendants (for example as string in [PDOException](https://www.php.net/manual/en/class.pdoexception.p

[2022-05-10 10:01] RomainGoncalves opened #42332 "Str::between return full subject if no match is found"
- Laravel Version: 8.83.2
- PHP Version: 8.1.2
- Database Driver & Version: /

### Description:
When using `Str::between($subject. $from, $to)` and no match is found, the method returns the value of `$subject`. Is that intentional? I would expect `null|undefined`. As I am trying to know if there is a string between quotes, if there are no quotes, I expect null to be returned.

### Steps To Reprodu

[2022-05-10 10:07] driesvints commented on #42332
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-10 10:07] #42332 closed

[2022-05-10 10:17] RomainGoncalves commented on #42332
I was also wondering if it was intentional behaviour, and if not, then it's an issue :D

[2022-05-10 10:43] MrTomek commented on #42319
@rodrigopedra Thanks for the explanation here, you are right about the migration as one table, although laravel probably does not have this correct function completely, so give another example:

[code]

This returns an error:
[code]

[2022-05-10 11:08] jtomek commented on #29571
The `using()` method didn't work as expected (Laravel didn't pick up the $table variable). Thank you for this suggestion: https://github.com/laravel/framework/issues/29571#issuecomment-521333335; that resolved the issue.

No idea `using()` ignores the $table varilable.

[2022-05-10 11:13] Brenneisen commented on #42317
@driesvints @rodrigopedra

A fix should be made in `Illuminate\Database\QueryException:39` where `$this->code = $previous->getCode();` could result in a string if the previous exception is a PDOException.

[2022-05-10 11:44] rodrigopedra commented on #42317
@Brenneisen I just noticed that `DeadlockException` constructor does not enforce any type hints:

https://github.com/laravel/framework/blob/544ee0d2add5619ea85993c6462e86a1a250ecbe/src/Illuminate/Database/DeadlockException.php#L1-L10

So the error message is very weird...

- Do you have any special setup such as enforcing strict types on all files?
- Or maybe this error message is from a static an

[2022-05-10 11:52] driesvints commented on #42317
This seems more of a bug in PHP to me... PDOException indeed doesn't have a constructor so it inherits the one from Exception: https://www.php.net/manual/en/class.exception.php

This one only accepts an `int` while it should accept a `int|string` for PDOException. Imo, the `PDOException` exception should have its own constructor.

[2022-05-10 11:54] Brenneisen commented on #42317
The following code throws the reported exception:

[code]

[2022-05-10 12:03] driesvints commented on #42317
Yes, that's because of what I explained above. I think the PHP PDOException should have its own constructor.

[2022-05-10 12:04] driesvints commented on #42326
I'm sorry but I'm not going to change my mind over this. Changing this would be a large breaking change for many apps. It's only terminology and it's clearly documented. If you want, you can attempt a PR that adds a rule that does exactly what you want.

[2022-05-10 12:33] Brenneisen commented on #42317
@rodrigopedra There is no original exception in my codebase. The problem is caused by a deadlock, which is handled correctly by Laravel within a transaction. A deadlock can happen in principle and is usually solved by trying again. So a `PDOException` is caught, which happens during a mysql query. But this exception then has no `int`, but a `string` as code. I do not know why.

Maybe a `(int) $thi

[2022-05-10 14:02] oprypkhantc opened #42334 "Event::fake() breaks extended HTTP status assertion error messages"
- Laravel Version: 9.11.0
- PHP Version: 8.1.5

### Description:
Laravel has recently introduced a feature that prints exceptions and/or validation errors that occurred during a request from a test case: https://github.com/laravel/framework/blob/9.x/src/Illuminate/Testing/TestResponse.php#L234

Having a fake dispatcher (one that doesn't actually propagate events) breaks this functionality: https:/

[2022-05-10 14:05] taai opened #42335 "Multiple validation rules that use regex are broken"
- Laravel Version: 9.11.0

### Description:

Regex is hard and PHP is weird, yes.

PHP programmer, what do you think – will this print "correct"? :nerd_face:
[code]
Indeed, it will print "correct", even with a newline at the end of the value string.

Not cool, right? Yeah, let's fix that!

[code]
This prints "incorrect", as it should. Notice the ```D``` at the end of the regex!

Long time ago, bef

[2022-05-10 14:06] driesvints commented on #42334
These two features are not compatible unfortunately.

[2022-05-10 14:06] #42334 closed

[2022-05-10 14:18] Jeroenwv opened #42336 "Migration inconsistency when using change() for default value"
- Laravel Version: 8.83.10
- PHP Version: 8.1.5
- Database Driver & Version: MariaDB 10.7.3 (also on MySQL)

### Description:
When creating a new column using migrations, it is possible to set the column default value. Sometimes it is necessary to pass the default as raw to use native MySQL functions like UUID(). We can do this by utilising the DB::raw() function. The migration below creates a col

[2022-05-10 14:54] reza305z commented on #42024
I had the same problem and it was a redis container problem.

[2022-05-10 15:10] Brenneisen commented on #42317
@driesvints The `Illuminate\Database\QueryException` is thrown in Laravel and handled as a deadlock. The `TypeError` was added in v9.11.0. I understand that my PR is not the best solution but then the `DeadlockException` should be reverted instead. So it is not usable and so it is a bug in laravel, because the original exception happens in laravel.

[2022-05-10 15:22] #42335 closed

[2022-05-10 16:51] it-can opened #42338 "[9.12.0] Enum bug within relationship"
- Laravel Version: 9.12.0
- PHP Version: 8.1.5
- Database Driver & Version: MariaDB

### Description:
I suddenly get these errors after this commit (laravel v9.12.0), commit #42100.
v9.11.0 and earlier works correct...

[code]

Seems to be caused by this line, https://github.com/laravel/framework/blob/9.x/src/Illuminate/Database/Eloquent/Concerns/QueriesRelationships.php#L786=

### Steps To Reprod

[2022-05-10 19:23] rodrigopedra commented on #42319
@MrTomek

[code]

[2022-05-10 19:40] rodrigopedra commented on #42338
Sent PR #42341 to address this issue.

[2022-05-10 20:52] #42338 closed

[2022-05-11 03:50] zmou opened #42343 "Cache Repository remember() when callback returns null then write null value to redis frequently"
- Laravel Version: 8.49.2
- PHP Version: 7.4.29
- Database Driver & Version: Mysql 5.7

### Description:
When remember a key to redis,if Closure callback returns a value null,A null value is written to Redis.However,Next time read the key from Redis,you get a NULL,but remember func just return immediately when a value is not null,At this point, null will continue to be stored into Redis.This would

[2022-05-11 05:37] renatofrota opened #42345 "hash_equals() parameters have a strict order, not followed in EmailVerificationRequest.php"
- Laravel Version: master
- PHP Version: not applicable
- Database Driver & Version: not applicable

### Description:

- [hash_equals()](https://www.php.net/manual/en/function.hash-equals.php) signature is:

[code]

- it's documentation also states:

[code]

- [EmailVerificationRequest.php](https://github.com/laravel/framework/blob/master/src/Illuminate/Foundation/Auth/EmailVerificationRequest.php

[2022-05-11 08:06] VincentBean opened #42347 "Scheduled Job with strongly typed nullable Carbon in constructor gets default value"
- Laravel Version: 9.4.1
- PHP Version: 8.1.3
- Redis Version: 6.2.6

Also tested with Laravel 8 and PHP 8.0.

### Description:

Dispatching jobs with a nullable Carbon instance and not passing it via the scheduler will set the Carbon instance to the date adn time that the job is dispatched.

When you have a job that has a constructor like this:

[code]

And schedule it like this:
[code]

The sche

[2022-05-11 08:08] yexk opened #42348 "redis connection faild"
- Laravel Version: 8.12
- PHP Version: 7.2
- Database Driver & Version: redis-5.2

### Description:
[code]

### Steps To Reproduce:
I use k8s deploy . But I got my port wrong.

[2022-05-11 11:05] Krisell opened #42349 "HTTP Client unable to post raw body with more than a thousand ampersands"
- Laravel Version: 9.12.1
- PHP Version: 8.1.5

### Description:
In a new Laravel install, running the following command fails with the error message below:
[code]

[code]

I understand that this could be solved by increasing `max_input_vars`, but I'm confused why the raw POST body is being parsed as query/form-data parameters at all. I'm not familiar enough with the HTTP Client to understand all

[2022-05-11 18:52] SarunasVenvow opened #42359 "tests with RefreshDatabase not working after schema:dump --prune"
- Laravel Version: 8.83.4
- PHP Version: 8.1.5
- Database Driver & Version: MySQL 8.0.28

### Description:

Stuck on the same (closed) issue: [36294](https://github.com/laravel/framework/issues/36294) "I cleaned up my migrations with schema:dump --prune but then using `RefreshDatabase` trait ... lead to error `Illuminate\Database\QueryException: SQLSTATE[HY000] [2002] Connection refused (SQL: SHOW

[2022-05-12 05:47] CodeSuite commented on #21785
@Hraju07 Reading your comment made me realize i had global header defined. Thanks bud!

[2022-05-12 07:07] driesvints commented on #42348
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-12 07:07] #42348 closed

[2022-05-12 07:08] driesvints commented on #42345
If you want, you can attempt a PR to change this. Thanks

[2022-05-12 07:08] #42345 closed

[2022-05-12 07:30] driesvints commented on #42359
Works fine for me when I run this on a mysql connection. Please try a support channel instead:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat/?nick=laravelnewb

[2022-05-12 07:40] eduance commented on #42336
@driesvints Currently trying to solve this issue, but would prefer your advice.

The change method compares doctrine objects using the TableDiff, we try to get the AlterTableSQL from a custom database platform.

Essentially it tries to call the getDefaultValueDeclarationSql() which does some checks but does not do the same checks Laravel does as Laravel checks for the default column whether the va

[2022-05-12 08:42] driesvints commented on #42349
I have to be honest that I don't know myself. But if you can work around this with `max_input_vars` then I suggest to do that. Otherwise I think it's okay to try a PR with the change you proposed. I also tried this and no tests failed for me but I'm unsure if we have enough coverage for the faking of HTTP requests.

[2022-05-12 08:42] #42349 closed

[2022-05-12 08:45] #42343 closed

[2022-05-12 08:47] driesvints commented on #42347
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-05-12 08:48] driesvints commented on #42336
Please don't use `DB::raw` for setting the default. We use `doctrine/dbal` behind the scenes to do the migration changes and using raw statements gives no guarantee that things will go as expected.

[2022-05-12 08:48] #42336 closed

[2022-05-12 08:51] Krisell commented on #42349
I'll try to make a PR with these changes and we can discuss the validity of the solution there.

I don't think increasing `max_input_vars` is a viable solution, in cases where user-provided input is sent in a POST request, there could be any number of `&` symbols and having an upper limit at all is quite strange.

[2022-05-12 08:53] driesvints commented on #42349
@Krisell agreed, but if it's a workaround for you right now then I suggest to take it. I'm not entirely sure what will break if we implement the change you propose.

[2022-05-12 08:54] a-bashtannik commented on #33238
I would like to say we decided to remove Telescope from the project because of missing primary keys and infinite Digital Ocean warnings.

`DB::statement('SET SESSION sql_require_primary_key=0');` workaround works, but risks remain.

Sad, but nothing to do if maintainers refuse of primary keys.

[2022-05-12 09:05] Yi-pixel commented on #42343
@driesvints

Agreed, but I think the solution here is to not use put to put null in the cache when $callback() returns null here.

So need to add a judgment condition here. If the result of $callback() is null , there is no need to put.

Because when the previous code gets the value from the cache, it only judges whether it is null or not. So you shouldn't store a null here (meaningless value, it

[2022-05-12 09:17] VincentBean commented on #42347
Hi Dries, thank you for your reply.

[I've setup a repo to reproduce this.](https://github.com/VincentBean/laravel-bug-report-42347)

See [this commit](https://github.com/VincentBean/laravel-bug-report-42347/commit/b232363ab8bfb11217350c3b79da43077c9de2dc) for the code and the readme for instructions.

[2022-05-12 09:17] driesvints commented on #42343
It's still valid to store `null` in cache. Even if Redis can't handle it (then you need to take care of this yourself) there might be other cache stores that do.

[2022-05-12 09:18] driesvints commented on #42343
What I'm trying to say is that the spec allows for it and thus we allow it too. I'm not saying it makes sense to store `null` in cache, just saying that right now we adhere to the spec.

[2022-05-12 09:20] dev7612 commented on #19339
I am facing same issue in May 2022. Is there any solution?

[2022-05-12 09:23] Yi-pixel commented on #42343
If this is the case, then replace the previous get with has(eg: Redis exits), which may be more appropriate?

[2022-05-12 09:24] Krisell commented on #42349
I did a bad job searching for previous reports of this issue. Here's the same issue reported for context: https://github.com/laravel/framework/issues/36976

I'll read through the historic discussions and see if I can understand what is going on.

[2022-05-12 09:27] eduance commented on #42336
@driesvints Is it allowed to add this to documentation or look for a way of using DB::raw within the default? It is possible to fix this by extending the MYSQL platform and modying the default value in order for this to work but this would cause a maintenance burden for MYSQL upgrades.

[2022-05-12 09:38] Yi-pixel commented on #42343
@driesvints

I think I understand what you said now, but null can be regarded as a special existence in this block of code, because the previous get judgment only uses is_null.

So, if want to eliminate this ambiguity, then maybe change the previous get + is_null to the exists method of the cache (eg: Redis exists).

[2022-05-12 09:42] driesvints commented on #42336
Adding this to the docs that it's not supported can indeed be helpful. Looking for a way to make this work with DB raw isn't a path I'd take.

[2022-05-12 09:56] driesvints commented on #42347
So this is actually expected. The job is resolved from the container which sees the carbon dependency and injects it. If you need to resolve a job from the container you'll need to pass it with the `::class` notation like you do. Otherwise you'll need to pass the actual instance:

[code]

[2022-05-12 09:56] #42347 closed

[2022-05-12 10:24] zmou commented on #42343
There's nothing wrong with following the norm, but I don't think it's a mandatory norm. From a user's perspective, when a closure returns NULL, it means undefined or nonexistent. In this case, we do not want it to trigger the cache operation, but to return NULL. If we really want to solve the similar cache breakdown problem, we can write null to the cache, but we should consider a key valid if it

[2022-05-12 12:00] NorthBlue333 commented on #37758
Hello,
My comment is about this issue and also this PR https://github.com/laravel/framework/pull/29111.

I know it is a bit old, but I'd like to add my point of view.

I agree with @Angelinsky7, we should be able to customize __some display logic, in specific places decided by the component creator__. In fact, as @browner12 says:

This is correct, but not entirely : you may have a (big) component,

[2022-05-12 12:06] NorthBlue333 commented on #37758
Hello,
My comment is about this issue and also this PR https://github.com/laravel/framework/pull/29111.

I know it is a bit old, but I'd like to add my point of view.

I agree with @Angelinsky7, we should be able to customize some display logic, in specific places decided by the component creator. In fact, as @browner12 says:

Components are responsible for the display logic. Slots are ways to pas

[2022-05-13 00:40] karimQasem commented on #8740
Hi @andersonef
I have the same problem, but I tried this solution and it doesn't work
for me return `null`

[2022-05-13 09:56] timndus opened #42375 "TypeError when using Redis pipeline"
- Laravel Version: 9.1.8
- PHP Version: 8.1.2
- Redis Version: 6.2.6

### Description:
https://github.com/laravel/framework/blob/016b0c1801f4c6b0bb79b0d82791f4853ed19fc5/src/Illuminate/Redis/Connections/PhpRedisConnection.php#L117

This will try to get values of a Redis object instead of an array if we use the HMGET in a PIPELINE

`array_values(): Argument #1 ($array) must be of type array, Redis

[2022-05-13 09:57] driesvints commented on #42375
Please fill out the issue template when submitting issues.

[2022-05-13 10:14] xxdalexx opened #42376 "Touching other models triggers a prevent lazy loading exception."
- Laravel Version: 9.10
- PHP Version: 8.1.2

### Description:
When you enable lazy loading prevention, if you set up a touch on a model that is not loaded, the exception will trigger.

[2022-05-13 10:28] timndus commented on #42375
Sorry about that, I updated the issue. Can u open it or should I submit a new one? @driesvints

[2022-05-13 10:35] driesvints commented on #42376
I guess that's expected?

[2022-05-13 10:35] #42376 closed

[2022-05-13 12:39] fruitl00p opened #42378 "(in)Directly using translation service in providers in tests crashes the test."
- Laravel Version: 8.69
- PHP Version: 8 / n/a
- Database Driver & Version: n/a

### Description:

When creating a unit test that uses a provider which in turn calls (at least) the translation service, the Container can't find it. This might also occur with other services, but haven't run into that yet.

### Steps To Reproduce:

Create a test with a provider that calls for translations.
[code]

Th

[2022-05-13 12:43] driesvints commented on #42378
I don't think it's meant to invoke services in data providers and that these should hold static values.

[2022-05-13 12:43] #42378 closed

[2022-05-13 12:45] hooman-mirghasemi opened #42379 "schedule:list"
sail art schedule:list

   TypeError

  ReflectionFunction::__construct(): Argument #1 ($function) must be of type Closure|string, Modules\Advertisement\Schedule\ExpireOutdatedAds given

  at vendor/laravel/framework/src/Illuminate/Console/Scheduling/ScheduleListCommand.php:178
    174▕     private function getClosureLocation(CallbackEvent $event)
    175▕     {
    176▕         $function = new Re

[2022-05-13 12:47] fruitl00p commented on #42378
This is a convoluted example but one could imagine using enums that have a label that is translated ;) This is a simple writeup of the situation...

[2022-05-13 16:05] eduance commented on #42375
@driesvints I can have something ready by tonight!

[2022-05-13 17:18] timndus commented on #42375
Here is a PR, but honestly I'm not sure of my solution
https://github.com/laravel/framework/pull/42383

[2022-05-14 10:30] Zaak22 opened #42387 "Set mutator is being called multiple time in create"
- Laravel Version: 9.6.0
- PHP Version: 8.1.4

### Description:

I have a Service Controller with store method:
![image](https://user-images.githubusercontent.com/74628308/168422271-ac5c0b29-7fec-4253-95a2-3041aefbf9ce.png)

And inside Service model:
![image](https://user-images.githubusercontent.com/74628308/168421723-4e5bd52a-d244-4251-b25a-1cb8dffbd4e2.png)

And inside File Controller:
![image]

[2022-05-14 17:24] MuhamadAhmadin commented on #24009
thanks @MmKargar for explaining my issue, thanks also to @mcglonelevi for solving this problem. u guys great!

[2022-05-15 22:31] eduance commented on #42375
@timndus This is not the correct usage of the pipeline method, after some studying and reading into the predis test suite, this is how a pipeline should be built:

``
    $pipe = Redis::pipeline();

    $pipe->hmget('test', ['name', 'age', 'color']);

    $results = $pipe->exec();

    return $results;
``

Or you could instead use:

``
    Redis::pipeline(function ($pipe) {
        $pipe->hmget('t

[2022-05-16 04:24] medabkari opened #42396 "Dumping with dd() & dump() helpers add (^) caret before data."
- Laravel Version: v9.12.2
- PHP Version: v8.0.12
- OS: Windows 10
- Environment: Local

### Description:
dd() and dump() helpers add a (^) caret before data.

### Steps To Reproduce:
- dd('Laravel');
- dump('Laravel');

[2022-05-16 04:34] eduance commented on #42396
@medabkari I am not able to recreate this bug in a fresh Laravel installation. Could you recreate this issue within a repository with a fresh Laravel instance?

[2022-05-16 04:51] medabkari commented on #42396
Sure! Here is a fresh Laravel instance repository: https://github.com/medabkari/laravel-caret

[2022-05-16 05:34] eduance commented on #42396
@medabkari Still not able to recreate this issue. I'm pretty sure this is a local issue you're having.

https://user-images.githubusercontent.com/101891339/168525852-b77d687d-3233-4075-8a21-65c4aad82b27.mp4

[2022-05-16 05:43] medabkari commented on #42396
Well, this is really weird. I asked people on the official Laravel server on Discord and one of the moderators checked with me and confirmed the bug. I don't see how it works fine in your machine.

I guess we're gonna have to wait for some other contributors to confirm.

[2022-05-16 06:45] odaiderawi commented on #18577
Using sometimes validation rule may solve your issue.

`$request->validate([
'data' => 'sometimes|required|string'
])`

It means the data will only be validated if it is present in the request .

[2022-05-16 07:13] driesvints commented on #42396
See the above.

[2022-05-16 07:13] #42396 closed

[2022-05-16 07:16] timndus commented on #42375
@eduance You are absolutely correct, thanks for the explanation 🙏
@driesvints This issue can be closed 🙏. And the related PR https://github.com/laravel/framework/pull/42383

[2022-05-16 07:17] #42375 closed

[2022-05-16 07:41] ranpro opened #42399 "`Rule::in` does not work as expected in array mode."
- Laravel Version: v9.9.0
- PHP Version: 8.0.18
- Database Driver & Version: MySQL 5.7

### Description:

When I tried to check the array with "Rule::in" following the official example, the result was not as expected.

### Steps To Reproduce:

[code]

Output:

[code]

It works with following code:

[code]

Output:

[code]

It looks like it was [this commit](https://github.com/laravel/framework/com

[2022-05-16 07:49] driesvints commented on #42399
The example in the docs is incorrect. Your second example is the correct one. I'll PR a fix.

[2022-05-16 07:50] driesvints commented on #42399
https://github.com/laravel/docs/pull/7940

[2022-05-16 07:50] #42399 closed

[2022-05-16 07:51] ElteHupkes commented on #18577
@odaiderawi That will pass on `['data' => 'abc']` and `[]`, which is good, but it will fail on `['data' => null]`, which I want to allow.

[2022-05-16 07:54] driesvints commented on #42387
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-16 07:54] #42387 closed

[2022-05-16 13:44] halloei opened #42402 "Vendor migrations not executed if artisan migrate is executed programmatically"
- Laravel Version: 9.12.2
- PHP Version: 8.1.6
- Database Driver & Version: MySQL 8.0

### Description:
If I migrate via terminal, all migrations are executed:
[code]

However, if I migrate via `Artisan:call('migrate')`, the migrations of Laravel Passport are missing:
[code]

### Steps To Reproduce:

1. Create a new Laravel application
2. Install Laravel Passport (`composer require laravel/passpor

[2022-05-16 14:29] driesvints commented on #42402
Please don't run migrations through app code.

[2022-05-16 14:29] #42402 closed

[2022-05-16 14:33] MircoBabin opened #42403 "[9.x] memory exhausted because JSON payload is unwanted parsed twice by Illuminate\Http\Request::createFromBase"
- Laravel Version: 9.12.2
- PHP Version: PHP 8.1.4 (cli) (built: Mar 16 2022 09:33:31) (ZTS Visual C++ 2019 x64)
- Database Driver & Version: MySql 8.0.16

### Description:

I have an api POST route with json contents. Very unexpected this route was giving  Allowed memory size of 134217728 bytes exhausted (tried to allocate ... bytes) errors.

To debug this issue:

1) I adjusted public/index.php s

[2022-05-16 14:53] driesvints commented on #42402
I don't think that'll work

[2022-05-16 15:45] lk77 commented on #42403
You can remove your json_decode and use the decoded data in the request instead

[2022-05-16 17:34] juhotaipale opened #42406 "Object of class Illuminate\Queue\Jobs\SyncJob could not be converted to string"
- Laravel Version: 9.12.2
- PHP Version: 8.1.1
- Database Driver & Version: MySQL 8.0

### Description:
Empty Laravel job runs successfully while giving following error message to the log. E

[code]

### Steps To Reproduce:

Dispatch following job from the api route.

api.php
[code]

ReceiveGatewayData.php
[code]

[2022-05-16 19:36] davidbassey commented on #31656
According to the documentation: "Any additional column modifiers must be called before the constrained method"
$table->foreignId('user_id')
      ->nullable()
      ->constrained();

Source: https://laravel.com/docs/9.x/migrations#foreign-key-constraints

[2022-05-16 20:10] eduance commented on #42406
I wasn't able to recreate this issue within a fresh Laravel installation. Could you create a fresh repository containing this bug? Would not mind taking a look at it.

[2022-05-17 02:44] rodrigopedra commented on #42403
@driesvints after doing research to answer @MircoBabin , I noted PR #37921 , which introduced the check if a request is a JSON request before replacing its `$request` property, apparently didn't change anything as `Request@getInputSource` already did that check internally.

Actually the tests (one changed, and one added) on that PR, both passes if one reverts the change made by it.

I am not sure

[2022-05-17 07:17] driesvints commented on #42406
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-05-17 07:17] #42406 closed

[2022-05-17 07:20] driesvints commented on #42403
Thanks @rodrigopedra.

@LukeTowers could you weigh in here?

[2022-05-17 07:55] MircoBabin commented on #42403
I have taken @IK77 advice and do not json_decode() myself anymore. Instead i'm using Request::json() now.

But still I'm getting memory exhausted because Laravel is **decoding twice**. Here is new the profile:

![image](https://user-images.githubusercontent.com/8981285/168759435-de55e1b8-5ba4-4662-87dc-7eff6c11d6f1.png)

[2022-05-17 08:14] MircoBabin commented on #42403
@rodrigopedra thanks for you detailed explanation. So it seems I'm wrong concluding https://github.com/laravel/framework/commit/13e4a7ff1799ee51698faa10161b2d2af889b713 was the commit introducing wrong behaviour.

Your solution to extend the ```Illuminate/Http/Request```, while being a very creative solution, is not really a viable solution. Upon each Laravel update I still would have to compare t

[2022-05-17 08:46] amrography commented on #19339
The issue is because ID is not getting a value. It only happens on a project recently updated to Laravel 8. A fresh installation doesn't have this issue. @themsaid

![Screen Shot 2022-05-17 at 10 43 46 AM](https://user-images.githubusercontent.com/9614340/168769575-b0a79823-da33-4565-ab08-c4186ab19c7e.png)

[2022-05-17 08:55] daison12006013 commented on #19339
It's been a long time and no one in the core team checking on this.

The solution for this is to use uuid, uuid is much more unique when running on the same micro time, concurrent process is inevitable and surely will occur a duplicated id.

Extend the model and replace the id as uuid and create an auto generated uuid on create event inside the model, that should solve your problem.

[2022-05-17 09:20] hubertnnn opened #42413 "Rendering shebang line differs between fpm and queue"
- Laravel Version: 9.5.1
- PHP Version: 8.1.3
- Database Driver & Version: irrelevant

### Description:
When trying to render script files using blade views the rendering effect differs between running it in fpm and queue/console.
In fpm the file is rendered correctly, but in fpm it is missing shebang

### Steps To Reproduce:

1. Create a view that contains a shebang eg.
[code]

2. Try to render i

[2022-05-17 10:05] driesvints commented on #42413
It seems this is not Laravel related but PHP behavior: https://www.php.net/manual/en/features.commandline.usage.php#120251

[2022-05-17 10:10] GrahamCampbell commented on #42413
I can't replicate this.

<img width="962" alt="image" src="https://user-images.githubusercontent.com/2829600/168787567-26421223-d883-442a-acb4-f44fa1de25d8.png">

[2022-05-17 11:21] driesvints commented on #42403
To be fair, isn't the real issue that your JSON payloads are simply too large? What kind of payloads are you handling?

[2022-05-17 12:43] MircoBabin commented on #42403
The payloads are order request payloads for renting a touringcar. In the payload also is the calculated Google Maps route present. That together constitutes a lot of bytes.

The http-payload is ~7 MB, which is not that big. Json_decoded() it becomes ~69MB, which still is not beyond default PHP limits.

But then comes Laravel, deciding to **decode twice** and keeping 2 copies in memory. So claiming

[2022-05-17 14:36] EriBloo opened #42415 "Missing attributes on custom pivot table in deleting/ed events"
- Laravel Version: 8.83.7
- PHP Version: 8.0.13
- Database Driver & Version: MySql 5.7.24 and MariaDB 10.3.28

### Description:
Model passed to deleting/ed Closures is missing attributes which makes accessing relations from pivot impossible.

### Steps To Reproduce:
Create db structure as described in [many to many polymorphic docs](https://laravel.com/docs/8.x/eloquent-relationships#many-to-many-

[2022-05-17 16:36] LukeTowers commented on #42403
@rodrigopedra thanks for your detailed response! My change however is absolutely critical, although it might not appear so at first glance which is why the original behaviour was so dangerous.

The problem is that the internal `request` property is intended to only hold POST parameters; while `Request@getInputSource` will return GET parameters (the `query` property) if the request method is GET or

[2022-05-17 16:39] LukeTowers commented on #42403
@MircoBabin where is Laravel calling json_decode twice? I'm not seeing it in the source.

[2022-05-17 21:31] rodrigopedra commented on #42403
@MircoBabin , I am not familiar with the call trace visualization tool you are using, but comparing the two screenshots you posted, it is not clear to me, in the last one, that `json_decode()` is called twice.

I apologize in advance if it is a lack of familiarity with the tool.

On the other hand, if you can provide a clearer spot where `json_decode()` is called multiple times, it would be helpfu

[2022-05-18 00:14] LukeTowers commented on #42403
@rodrigopedra I also find it odd that the test passed without the change applied, when I made the PR the test failed without the change.

[2022-05-18 02:08] tech0tron opened #42419 "Laravel sail does not work"
I am on WSL2 trying to create a Laravel application with sail. I create a laravel project with the laravel.build system and run ./vendor/bin/sail up, but when I try to connect to localhost nothing happens.

My output from the docker container looks like this:
[code]

[2022-05-18 02:51] #42419 closed

[2022-05-18 02:51] tech0tron commented on #42419
Im just gonna use symfony

[2022-05-18 04:34] madalinignisca commented on #33238
Never ever disable primary keys on HA MySQL and MariaDB clusters as this might lead to corruption of replication between server instances. Probably developers that made this migrations where not aware of how MySQL and MariaDB replication works, especially how Galera, and simply decided as they thought not to add primary keys.

[2022-05-18 05:14] MircoBabin commented on #42403
@rodrigopedra @LukeTowers I have adjusted ```\Illuminate\Http\Request.php - function json()``` to write logging:

[code]

2 files are written:

1)
[code]

2)
[code]

[2022-05-18 06:23] MircoBabin commented on #42403
The problem is in ```Illuminate\Routing\CompiledRouteCollection.php - function requestWithoutTrailingSlash()```.

[code]

1) it calls ```Request::createFromBase``` with an ```\Illuminate\Http\Request```, which already did a internal ```json()``` and so already contains 69MB.
2) ```Request::createFromBase``` expects a ```Symfony\Component\HttpFoundation\Request```. Because it is unaware of the alre

[2022-05-18 06:41] rodrigopedra commented on #42403
@MircoBabin can you test changing the first line of `CompiledRouteCollection@requestWithoutTrailingSlash`

from:

[code]

to:

[code]

And see if it fixes it?

[2022-05-18 06:47] MircoBabin commented on #42403
@rodrigopedra I can confirm after changing ```function requestWithoutTrailingSlash()```, there is no double json_decode() anymore.

[2022-05-18 07:09] rodrigopedra commented on #42403
@MircoBabin I sent PR #42420 to make this change.

Thanks for tracing the spots so we could find where the double encoding happened =)

[2022-05-18 07:22] MircoBabin commented on #42403
@rodrigopedra The PR targets the [8.x] branch. Can it also target the [9.x] branch ? Because that's the version I'm using.

Or must the PR first be accepted on the [8.x] branch and will then later be targeted at the [9.x] branch and future [10.x] branch ? Sorry for the question, I don't know how the Laravel project is handling patches on multiple versions.

[2022-05-18 07:35] driesvints commented on #42403
@MircoBabin all fixes for 8.x are merged upstream to newer versions.

[2022-05-18 07:38] rodrigopedra commented on #42403
@MircoBabin as it is a bugfix it should target the 8.x, as this branch is still in bugfix support.

Complementing what @driesvints said, changes in 8.x are merged into 9.x before each weekly release.

[2022-05-18 20:27] LukeTowers commented on #42403
@MircoBabin excellent work tracking down the issue and great final solution @rodrigopedra! Glad to see the issue resolved with a general win for Laravel performance :)

[2022-05-19 02:47] SilvaQ opened #42435 "Get Symfony FileSytem Type error when developing package"
- Laravel Version: 9.x
- PHP Version: 8.1.16
- OS:
  - macos [ok]
  - centos [not ok]

I made my own package by imitating Laravel architecture. The development was normal on MacOS without any problems, but the project of installing online centos server started to report errors, and the installation was terminated due to abnormal installation dependency

Because I don't know whether I can get the a

[2022-05-19 07:19] driesvints commented on #42403
Will be fixed in the next release. Thanks all.

[2022-05-19 07:19] #42403 closed

[2022-05-19 07:21] driesvints commented on #42435
Please don't post on multiple issue trackers and try a support channel first:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat/?nick=laravelnewbie&channels=#lara

[2022-05-19 07:21] #42435 closed

[2022-05-19 09:22] SilvaQ commented on #42435
I've looked for them all, but I didn't find the answer。

and it is belong to disable function symlink problem:

https://github.com/symfony/symfony/issues/46402#event-6640805257

[2022-05-19 09:59] driesvints commented on #42415
I think it's to prevent too much data being loaded when performing mass-detaches on a many to many relationship.

[2022-05-19 09:59] #42415 closed

[2022-05-19 12:42] MrFiliper opened #42445 "Eloquent eager loading with condition loads first rows in the relationships table"
- Laravel Version: 8.74.0
- PHP Version: 7.4.7
- Database Driver & Version: 5.7.24 - MySQL Community Server

### Description:

When using the Eloquent `with` function to eager loading with `when` function where is user role check, it is always true because Eloquent get always the first record of the roles table (that this user is admin). This is not the problem when eager loading is not used and l

[2022-05-19 12:49] driesvints commented on #42445
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-05-19 12:49] #42445 closed

[2022-05-19 12:53] MrFiliper commented on #42445
Hi, I created an issue on [Laracasts Forums](https://laracasts.com/discuss) and no one answer, so I deleted my article and make a issue there.

[2022-05-19 12:59] MrFiliper opened #42446 "Eloquent eager loading with condition loads first rows in the relationships table"
Previous issue https://github.com/laravel/framework/issues/42445, I create a new one because on [Laracasts Forums](https://laracasts.com/discuss) not reacting anyone for this problem.

- Laravel Version: 8.74.0
- PHP Version: 7.4.7
- Database Driver & Version: 5.7.24 - MySQL Community Server

### Description:

When using the Eloquent `with` function to eager loading with `when` function where is u

[2022-05-19 13:00] driesvints commented on #42446
Your previous issue is only 18 minutes old. Please give it more time.

[2022-05-19 13:00] #42446 closed

[2022-05-19 13:42] bilogic opened #42447 "Eloquent's `fill(...)` should recognize timezones if provided"
- PHP version: 7.4.28
- Laravel version: 8.83.13
- MySQL version: 8.0.29-0ubuntu0.21.10.2
- MySQL Client version: mysqlnd 7.4.28
- databaseEngine version: mysql

### Description:
Eloquent's `fill(...)` should recognize timezones if provided.

Since Laravel 7+, `toArray()` now returns datetimes in ISO-8601 format and that's ok.
However, ISO-8601 is not just `time`, it is `time` + `zone`.

See how C

[2022-05-19 13:46] #42447 closed

[2022-05-19 13:53] lk77 commented on #32130
Well your code is not correct

[2022-05-19 14:24] carlosed1995 commented on #32130
@lk77 Tanks, that congiration working for me

[2022-05-19 17:14] bmtKIA6 opened #42450 "Unable to disable ViewServiceProvdier"
- Laravel Version: 9.1.6
- PHP Version: 8.1.2
- Database Driver & Version:

### Description:

Unable to disable the view service provider.

### Steps To Reproduce:

composer create-project laravel/laravel=9.1.8 example-app
edit config/app.php, remove ViewsServiceProvider
edit routes.php

Route::get('/', function () {
    return 'Hello World';
});

artisan serve

Seems to work with 8.x

[2022-05-19 19:38] digitlimit commented on #42450
@bmtKIA6 what do you mean to disable ViewServiceProvdier?

[2022-05-19 19:50] digitlimit commented on #42450
This is not an issue.
 I could not reproduce this.

 ~/projects> composer create-project laravel/laravel=9.1.8 example-app
Creating a "laravel/laravel=9.1.8" project at "./example-app"
Info from https://repo.packagist.org: #StandWithUkraine
Installing laravel/laravel (v9.1.8)

![image](https://user-images.githubusercontent.com/2041419/169390638-85402a36-a3f3-4bf1-b410-c2e68927f895.png)

On `php ar

[2022-05-19 20:01] bmtKIA6 commented on #42450
Apologies. Added a missing step of removing the views service provider from the config/app.php $providers list.

I do not need blade/views. I am building an API, which only deals with json responses

[2022-05-19 21:22] adideas commented on #42450
You need to register the ServiceProvider. Name it JsonServiceProvider style. Create your Factory class. Or just register "midleware". After the $next function exits, do the processing as you need.

[2022-05-19 21:22] adideas commented on #42450
You need to register the ServiceProvider. Name it JsonServiceProvider style. Create your Factory class. Or just register "midleware". After the $next function exits, do the processing as you need.

[2022-05-20 06:44] MrFiliper opened #42458 "Eloquent eager loading with condition loads first rows in the relationships table"
Previous issue https://github.com/laravel/framework/issues/42445, I create a new one because on [Laracasts Forums](https://laracasts.com/discuss) not reacting anyone for this problem.

- Laravel Version: 8.74.0
- PHP Version: 7.4.7
- Database Driver & Version: 5.7.24 - MySQL Community Server

### Description:

When using the Eloquent with function to eager loading with when function where is user

[2022-05-20 07:40] driesvints commented on #42458
Please link to your issue on the Laracasts forums.

[2022-05-20 07:41] driesvints commented on #42450
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-20 07:41] #42450 closed

[2022-05-20 07:43] MrFiliper commented on #42458
I deleted the issue on Laracasts forums..., because there is no replay.

[2022-05-20 07:43] MrFiliper commented on #42458
But I also reported this on Laravel discord and https://stackoverflow.com/questions/72305557/eloquent-eager-loading-with-condition-loads-first-rows-in-the-relationships-tabl

[2022-05-20 07:57] driesvints commented on #42458
Seems like you already gotten some replies there. Since there's no laracasts thread I can't actually verify you posted it there. I don't think there's any bug here so please continue to try a support channel

[2022-05-20 07:57] #42458 closed

[2022-05-20 08:11] MrFiliper commented on #42458
But why even when I specify `User::find(136);` does the relation with roles dump me the first user in the row for the roles table only when using edger loading?

[2022-05-20 08:59] eduance commented on #42458
@MrFiliper This question has already been answered, but due to your lack of willingness to properly fix it, you're just trying to find someone who will fix it for you. Please read the answers, evaluate what has been said to you, think about what has been said to you and improve your code.

You're bothering Dries with an support issue instead of a bug issue and ignoring a Stackoverflow-replier with

[2022-05-20 21:06] stanliwise commented on #24999
This issue also resurface if you host your laravel projects using same php files. even when multiple instance of php are running. environment variable collision occurs.

I had to name all variable differently across all projects.

[2022-05-21 08:16] Nimaw opened #42470 "Nested Eager Loading not working when Eager Loading Specific Columns"
- Laravel Version: 8.83.10
- PHP Version: 8.1.1
- Database Driver & Version: MySQL, Latest version

### Description:
Hello dear support.

### With this code books, books author and books publisher will return corecct
[code]
### But if we want to select specific fields from `books` relation and eager load relations on `Book` model like this code, It will return null for publisher and author relatio

[2022-05-21 08:32] igorgaming commented on #42470
I think its related to https://laravel.com/docs/9.x/eloquent-relationships#eager-loading-specific-columns
Try to specify all FK columns for all relations.

[2022-05-21 08:41] Nimaw commented on #42470
Thanks for you response,
I've tried that, Not worked.

[2022-05-21 21:43] eduance commented on #42470
@Nimaw

Could you show how you've tried eager loading the foreign keys? I'm mostly certain this is due to not selecting the right foreign keys as has been pointed out by igorgaming.

`'sections' => SectionsResource::collection(Section::with('authors:id,name', 'translators:id,name', 'publishers:id,name', 'books:id,name,price,text', 'books.author', 'books.publisher')->get()),`

[2022-05-23 06:12] NicoHood commented on #21123
I'd expect that a `string` would always cast `null` to and empty string. The current behavior that `null` will be accepted sounds more like a nullable `?string` to me.

[2022-05-23 07:03] driesvints commented on #42470
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-23 07:03] #42470 closed

[2022-05-23 07:19] NicoHood commented on #12000
Did the link change? I cannot see that this is implemented now?

[2022-05-23 09:05] fabianschoepgens opened #42477 "Route Model Binding Issue on null parameters with Request"
- Laravel Version: 9.13.0
- PHP Version: 8.1.6
- Database Driver & Version: MariaDB 10

### Description:

When you have an optional parameter in a route, like this

`Route::get('/user/{user?}', [UserController::class, 'index']);`

Route Model Binding in the Controller returns an instance of the Model $user when using the following method signature

`public function index(User $user = null, Request

[2022-05-23 09:35] driesvints commented on #42477
Hey @fabianschoepgens. You should not put parameters with defaults before parameters without. The behavior you were previously using was never supported.

[2022-05-23 09:44] fabianschoepgens commented on #42477
@driesvints You're right, but in the documentation its always at the end. Well there is no example for null parameters though.

[2022-05-23 19:18] nagmat84 opened #42482 "`TestResponse` fails to capture complete streamed response if system-under-test uses `ob_flush`"
- Laravel Version: 8.83.13
- PHP Version: 8.0.16
- Database Driver & Version: n/a

### Description:

The class `TestResponse` fails to capture complete streamed response if the system-under-test uses `ob_flush()`. Currently, the method `TestResponse::streamedContent` looks like this

https://github.com/laravel/framework/blob/127a9caa8ed3965aeae0eb388967fc1030fc8f86/src/Illuminate/Testing/TestRespo

[2022-05-23 19:27] brantmessenger opened #42483 "filesize(): stat failed for /home/<account>/<project>/storage/framework/cache/data/7c/0f/7c0f3bd3a463a11a48d615338c4f38174f177299"
This is happening to me in a recurring fashion. Centos 7, Laravel Framework 8, Apache HTTPD.

I've searched to see if anyone else might be having this issue. Several have this same issue, and it has existed for a while.
https://duckduckgo.com/?q=laravel+filesize()%3A+stat+failed&atb=v319-1&ia=web

https://github.com/laravel/framework/blob/127a9caa8ed3965aeae0eb388967fc1030fc8f86/src/Illuminate/Fil

[2022-05-24 05:41] NicoHood commented on #8972
I am not sure, is this still an issue with version 9?

[2022-05-24 06:46] smm993 opened #42486 "Routes with same uri,different domain"
- Laravel Version: 9.13.0
- PHP Version: 8.1.3
- Database Driver & Version: PostgreSQL 13.5

### Description:
I cant register multiple routes with the same uri and different domain.
Only the last route is registered.

How to prevent routes from overriding?

### Steps To Reproduce:
api.php
[code]

[code]

![image](https://user-images.githubusercontent.com/44964722/169963490-c4b64b23-fcc0-4689-9886-

[2022-05-24 07:46] driesvints commented on #42482
Thanks. Seems like you already sent in a PR so let's see how that goes.

[2022-05-24 07:46] #42482 closed

[2022-05-24 07:57] driesvints commented on #42486
I don't think we document using domains like that. Try:

[code]

And see the note in the docs: https://laravel.com/docs/9.x/routing#route-group-subdomain-routing

[2022-05-24 07:57] #42486 closed

[2022-05-24 09:29] nagmat84 commented on #42482
May I kindly ask why you close an issue if it isn't solved yet? The issue would be closed automatically if the linked PR has been merged, but until then (or until another solution has been implemented) the issue still exists.

[2022-05-24 09:52] driesvints commented on #42482
There's a PR for it already so let's continue the discussion there.

[2022-05-24 12:35] pionl opened #42493 "BelongsTo relation with nullable relations"
- Laravel Version: 9.13.0
- PHP Version: 8.1.2

### Description:

- While using belongsTo relations (`with/load`) there can be situations when  there are no relations (nullable relations) to be loaded and query is "invalid". -> ```select `id`, `name`, `public_name` from `options` where 0 = 1 ```.
- This similar issue can be potentially found on other relations
- This bug is not noticeable if the r

[2022-05-24 12:52] tanthammar opened #42494 "TestResponse, assertSessionHasErrors, getBag() on array"
- Laravel Version: 9.13.0
- PHP Version: 8.1.5
- Database Driver & Version: MySQL 8.0.27
- Session driver: redis, 6.2.1, "predis" client
- Laravel Pest 1.21.3
- PHP unit: 9.5.20

### Description:
This test used to work, I never changed it from my initial Laravel, Jetstream (Livewire, teams, pest) installation.
[code]

Now `$response->assertSessionHasErrors();` is failing.
[code]

I did print out t

[2022-05-24 14:45] verybigelephants opened #42497 "Using parameterless WithoutOverlapping makes it impossible to run jobs after single one of them fails"
- Laravel Version: 9.2.0
- PHP Version: 8.1.5
- Database Driver & Version: pgsql 14.2

### Description:
I have a simple job that dispatches on a specific model `ProcessFile::dispatch($file);` on `database` queue. This job uses such resources in a way that i do not want to have multiple ProcessFile jobs ran at the same time, even if they were dispatched for the different `$file` models.

In order t

[2022-05-24 14:56] ankurk91 commented on #42497
https://github.com/laravel/horizon/issues/1075

[2022-05-24 15:20] nwilging commented on #18918
+1 on the shocked front, it is now 2022 and Laravel 9 appears to function the same way.

[2022-05-25 03:43] sayemk opened #42503 "Database Transaction Error on Laravel Queue Runner"
- Laravel Version: 6.20.43
- PHP Version: 7.3.18
- Database Driver & Version: Aurora MySQL 5.7

### Description:
prod.ERROR: There is already an active transaction {"exception":"[object] (PDOException(code: 0): There is already an active transaction at /usr/share/nginx/html/nautilus-report/vendor/laravel/framework/src/Illuminate/Database/Concerns/ManagesTransactions.php:133)
[stacktrace]
#0 /usr/s

[2022-05-25 04:36] kon3ko opened #42506 "Mail not sent in production server"
- Laravel Version: 8.26.1
- PHP Version: 8.0.17

### Description:
I tried sending mail from local server, it works fine via smtp or ses.
But when I try it in production, it doesn't work.
I have tried using Swift_Plugins_Loggers. to see it working But found that it started working and then stopped working. without sending any values after startup

[code]

It seems this problem is not due to the por

[2022-05-25 05:42] fagai opened #42508 "add support Query\Builder::union methods for PHPStan and Larastan"
### Discussed in https://github.com/laravel/framework/discussions/42476

<div type='discussions-op-text'>

<sup>Originally posted by **fagai** May 23, 2022</sup>
Hello.

Previously I opened the following PR.
https://github.com/laravel/framework/pull/42374

This was a PR to deal with PHPStan getting an error because there is no Eloquent Builder description in the phpdoc of the query builder union m

[2022-05-25 07:27] driesvints commented on #42508
Please don't move discussions to issues.

[2022-05-25 07:27] #42508 closed

[2022-05-25 07:27] Pixdigit commented on #37419
I'm having the same issue.
This also is a valid use-case when adding a new non-null column without default. SQL Server rejects the statement because the new column will contain null as default however it is marked as non-null. However I want all succinct inserts to explicitly insert a value into the column and not use a default value. Since one cannot do that otherwise apart from raw SQL this is a

[2022-05-25 07:42] driesvints commented on #42503
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2022-05-25 07:42] #42503 closed

[2022-05-25 07:43] fagai commented on #42508
okay, sorry

[2022-05-25 07:47] IAmRGroot opened #42511 "TestCase custom beforeRefreshingDatabase is not called"
- Laravel Version: 9.13.0
- PHP Version: 8.1.4
- Database Driver & Version: MySQL 5.7

### Description:
Following this: https://github.com/laravel/framework/pull/42073 example. The custom beforeRefreshingDatabase is not called when used. I'm not seeing any option to make sure the function is called.

### Steps To Reproduce:
- Use this testcase
[code]
- 'hi' is not dumped

[2022-05-25 07:50] IAmRGroot commented on #42511
Nevermind, in another part it was overwritten

[2022-05-25 07:50] #42511 closed

[2022-05-25 09:00] Pixdigit commented on #37419
I've also opened an issue with DBAL. Though I don't know if it makes more sense to use the existing `compileDropDefaultConstraint` from SQLServerGrammar.php or wait on Doctrine/DBAL to fix the issue.

[2022-05-25 09:55] driesvints commented on #42493
I personally don't see a big issue here but you're free to attempt that PR if you like 👍

[2022-05-25 09:55] #42493 closed

[2022-05-25 10:22] driesvints commented on #42494
I don't get the same issue on a fresh install with pest tests enabled.

[2022-05-25 10:22] #42494 closed

[2022-05-25 10:31] driesvints commented on #42497
What you want is unfortunately not possible. You indeed need the unique key to differentiate between the models. They way the key-less `WithoutOverlapping` works is that it's intended to be used with a non-specific payload (common recurring tasks). What you want is to not overlap the job while there's still a specific payload. Right now, I don't see a way of doing that.

[2022-05-25 10:31] #42497 closed

[2022-05-25 11:35] dwightwatson opened #42513 "Route model binding behaviour changed in 9.14"
- Laravel Version: 9.14.0
- PHP Version: 8.1.6
- Database Driver & Version:

### Description:

I've just discovered a breaking change that appeared between 9.13.0 and 9.14.0. I've got a complex use-case but I've tried to break it down. Here's the route set up that was working in 9.13.0.

[code]

The intention here is that the `campus` record is scoped to the `institution` and that the category is

[2022-05-25 11:39] driesvints commented on #42513
@ksassnowski could this be because of your PR? https://github.com/laravel/framework/pull/42425

@dwightwatson what happens if you revert those changes?

Right now, there indeed is no documentation about this behavior for three params: https://laravel.com/docs/9.x/routing#implicit-model-binding-scoping

[2022-05-25 11:55] dwightwatson commented on #42513
Yeah, it works on Laravel 9.14.0 if I revert the changes from that PR.

[2022-05-25 12:15] dwightwatson commented on #42513
I get that my use-case is probably uncommon (will be interesting to see if it affects other people as well) so I'm not fussed if this becomes the new default behaviour. But perhaps a good opportunity to make a call on what should happen when dealing with more than 2 params.

[2022-05-25 12:27] makroxyz commented on #42513
I have the same issue after upgrade to 9.14

[2022-05-25 12:30] driesvints commented on #42497
@verybigelephants yeah I agree. Can you send in a PR?

[2022-05-25 14:11] hekin1 opened #42515 "Global scope applied twice when using query builder paginate method."
- Laravel Version: 8.X.X and 9.X.X
- PHP Version: 7.X and 8.X
- Database Driver & Version: All

### Description:
When adding a global scope to the boot-method of a model and also using the query builder paginate for that same model, then the global scope is executed twice.

### Steps To Reproduce:

1. Add a global scope to your model:

[code]

2. Run a query with paginate:

[code]

3. Result: MyGl

[2022-05-25 14:22] #42515 closed

[2022-05-25 14:46] hekin1 commented on #42515
Sorry, I cant do that. This is a bug as you can see from the stack-trace, but I will not force you to fix it, that is up to you.

Have a nice day!

[2022-05-25 15:13] ksassnowski commented on #42513
This probably due to this line here https://github.com/laravel/framework/blob/9.x/src/Illuminate/Routing/ImplicitRouteBinding.php#L49

It checks if the parameter name exists in the route's binding field. Since my change made it so that if any of the parameters provides a custom binding field, every parameter gets added to the route's binding field (but possibly with `null`). This would mess up the

[2022-05-25 15:13] ksassnowski commented on #42513
I'll send a PR for this shortly.

[2022-05-25 15:15] ksassnowski commented on #42513
@driesvints Can you maybe point me to the tests that cover the `ImplicitRouteBinding` class? It doesn't seem to have its own tests.

[2022-05-25 15:20] ksassnowski commented on #42513
Nevermind, I don't know why PhpStorm didn't find `ImplicitRouteBindingTest`...

[2022-05-25 16:25] ksassnowski commented on #42513
I've submitted a PR (#42517) that fixes this. I've also tested the changes against the repository provided by @dwightwatson  and the tests pass again.

[2022-05-25 17:06] kaydenvanrijn commented on #40645
@elkebirmed
Take a look at [this issue (#32159)](https://github.com/laravel/framework/issues/32159).
As of Laravel 8.x, you should be able to convert those to regular functions, i.e:

[code]
This *should* allow you to use multiple traits on the same model.
Credit to @danielsdeboer for helping me solve this issue.

@driesvints [Please don't close issues immediately (#34777)](https://github.com/lara

[2022-05-25 17:48] levu42 opened #42519 "Migration: foreignIdFor: $column argument doesn't make sense currently"
- Laravel Version: 9.13.0
- PHP Version: 8.1.6
- Database Driver & Version: MariaDB 10.7.3 / PDO

### Description:

The `foreignIdFor()` method in migrations has a second argument `$column` that doesn't make sense in how it (not) works currently.

Imagine I have a `User` model and a `Post` model and a post has both a `author_user_id` and an `reviewer_user_id`. Intuitively, the migration would look

[2022-05-25 21:10] dwightwatson commented on #42513
Thanks for the quick turnaround @ksassnowski, champion!

[2022-05-26 02:45] sayemk commented on #42503
Is there any LTS version I can upgrade to it

[2022-05-26 03:48] DarkGhostHunter commented on #42519
## Short fix:

    $table->foreignIdFor(App\Models\User::class, 'author_user_id')->constrained('users');

## Long story:

The `constrained()` method accept the table and its primary column. If not, it will try to guess the table based on the foreign column name:

    author_user_id
    author_user // before last "_id"
    author_users // plural

This is normal because it works for a column that is

[2022-05-26 06:47] driesvints commented on #42519
Since there's no real bug but rather some confusing method arguments I'm going to close this. Appreciating PR's to the docs if anything is unclear and can be explained better 👍

[2022-05-26 06:47] #42519 closed

[2022-05-26 13:08] indrysfa commented on #34255
change `php.ini-development` to be `php.ini`

[2022-05-26 13:51] robertoarruda commented on #41313
I tried a PR that solves this problem, but it was refused.
Unfortunately, we will have to live with this incorrect behavior.

[2022-05-26 15:27] pionl commented on #42493
Hey @driesvints what do you mean? This triggers a query on database that is not needed. I see it as a bug right?

[2022-05-26 15:28] erichowey commented on #41313
My doc PR was closed as well with no feedback ¯\_(ツ)_/¯

[2022-05-26 18:13] Sherlockboy opened #42534 "Unable to run composer dump-autoload due to PendingRequest initialization"
- Laravel Version: 9.14.1
- PHP Version: 8.0.19
- Database Driver & Version:

### Description:
When I run `composer dump-autoload`, following exception is thrown and written to log:
[code]

[2022-05-26 21:32] pintend opened #42537 "unable to access dynamic attributes in new Attribute set method"
- Laravel Version: 9.14.1
- PHP Version: 8.0.18 & 8.1.5
- Database Driver & Version: DBngin - mysql 8.0.27

### Description:
Dynamic attributes which exist are not always accessible in Attribute set method whereas non existent attributes return null
I'm seeing this specifically when using a callback for groupBy or transform

As well as when using transform i can't access dynamic attributes after m

[2022-05-27 00:04] nielsdos opened #42539 "Route caching returns wrong route if route name is equal to the application prefix"
- Laravel Version: 9.14.0
- PHP Version: 8.1.6
- Database Driver & Version: MariaDB 10.8.3

### Description:

While upgrading a Laravel application from 6.x to 9.x, I encountered the following regression.

**Context**: We have a Laravel application installed on the path http://server/pathname/.
We have a route linked to a controller in our application with the same name as the prefix path of the a

[2022-05-27 05:57] taai opened #42540 "Dot is still allowed in validation rule `digits_between`"
### Description:

@taylorotwell [decided](https://github.com/laravel/framework/commit/c113768dbd47de7466d703108eaf8155916d5666) to roll back commits that allowed to use dot (```.```) in validation rule ```digits_between``` (and ```digits```), but forgot to roll back also this commit that started allowing that: https://github.com/laravel/framework/pull/40278

Please, roll back also that commit!

[2022-05-27 06:20] ToogleLiu opened #42730 "The environment file is .env.local when octane started, why is not .env?"
- Octane Version: 1.2.9
- Laravel Version: 8.83.12
- PHP Version: 8.1.6
- Server & Version: Swoole 4.8.9
- Database Driver & Version: MySQL 8.0.26

### Description:

In my project directory, it has two environment files: *.env* and *.env.local*. The APP_ENV is *local* in env file:

`APP_ENV=local`

When I run:

`/usr/local/bin/php /var/www/laravel/artisan octane:start --host=0.0.0.0 --port=8080`

[2022-05-27 09:14] rodrigopedra commented on #42539
Serving a Laravel application from a subdirectory is not officially unsupported at this time:

https://laravel.com/docs/9.x#directory-configuration

There was some issues before regarding this subjects and all were closed due to this feature being unsupported:

- https://github.com/laravel/framework/issues/32082#issuecomment-604986571
- https://github.com/laravel/framework/issues/32236#issuecommen

[2022-05-27 09:33] rodrigopedra commented on #42537
As a workaround, or maybe it is intended usage, you can access the other attributes on the `$attributes` parameter passed to both closures.

Just out of curiosity, what is your use case for accessing other attributes inside a mutator? in other words, inside a `Attribute`'s `set` callback?

[2022-05-27 09:49] nielsdos commented on #42539
Alright thanks for the insight.
The nginx approach will do.

[2022-05-27 09:49] #42539 closed

[2022-05-27 09:49] taai commented on #42539
I believe you meant "is not officially supported". :wink:

[2022-05-27 11:19] joe-pritchard opened #42541 "Scoped route binding in apiResource routes no longer working"
- Laravel Version: 9.14.1
- PHP Version: 8.1.2
- Database Driver & Version:

### Description:

I've recently updated Laravel from 9.13.0 to 9.14.1 and I have a series of nested apiResource routes defined like so:
`$router->apiResource('/product/{product}/image', ImageController::class)->scoped();`

I've found that when I request an image that doesn't belong to the product id specified in the URL,

[2022-05-27 11:55] NicoHood commented on #18918
I was also showed. This is my workaround:

[code]

[2022-05-27 12:10] rodrigopedra commented on #42539
Thanks @taai 😀

[2022-05-28 06:50] dwikyls commented on #24703
protected $primaryKey = 'id';
protected $keyType = 'string';

https://laravel.com/docs/9.x/eloquent#primary-keys

[2022-05-29 10:56] askdkc opened #42557 "whereRaw with Optional Array throws an SQLSTATE[08P01]: <<Unknown error>>"
- Laravel Version: 9.14.1
- PHP Version: 8.1.4
- Database Driver & Version: PostgreSQL, PGroonga 2.3.6

### Description:
When using whereRaw to search data in jsonb column on PostgreSQL, passing optional array throws an error.

Using whereRaw without passing optional array works fine.
[code]

But using whereRaw with optional array throws an error.
[code]

### Steps To Reproduce:

I created a repo

[2022-05-29 14:22] rachediabdenacer commented on #42541
i have exactly the same problem,
the problem appeared when I updated the laravel/framework version from `9.4.1` to `9.14.1`

[2022-05-29 17:34] rodrigopedra commented on #42557
Can you try using the question mark without quotes? Usually PDO auto quote based on data type, but it maybe need due to being a JSON query.

I don't have PostgreSQL installed to try it out.

[code]

[2022-05-29 20:07] askdkc commented on #42557
without quotes still causes the same error.

[code]

[2022-05-30 06:30] Shaggy84675 opened #42561 "Incorrect datetime format during bulk insert"
- Laravel Version: 9.14.1
- PHP Version: 8.1.2
- Database Driver & Version: 8.0.26 - MySQL Community Server - GPL

### Description:
When doing bulk insert through `Model::insert($array)`, the timestamps are formatted incorrectly and I'm getting this error:

`'SQLSTATE[22007]: Invalid datetime format: 1292 Incorrect datetime value: '2022-05-30T05:39:13.573151Z' for column 'created_at' at row 1 (SQL

[2022-05-30 06:53] driesvints commented on #42540
Heya, I sent in a PR for that as well: https://github.com/laravel/framework/pull/42562. Should get in before tomorrow's releases.

Thanks for your commitment to this but I also do hope you understand why I was initially against doing these changes as they could be breaking to users.

[2022-05-30 06:53] #42540 closed

[2022-05-30 07:18] driesvints commented on #42561
We don't support this database driver, sorry. Please try one which we do: https://laravel.com/docs/9.x/database#introduction

[2022-05-30 07:18] #42561 closed

[2022-05-30 07:27] Shaggy84675 commented on #42561
MySQL is supported, so you mean like version 8? Because in the docs is 5.7+.

[2022-05-30 07:39] driesvints commented on #42561
Ah sorry, I misread this. `Y-m-d H:i:s.u` isn't a valid timestamp value in MySQL. `Y-m-d H:i:s` is.

[2022-05-30 07:46] Shaggy84675 commented on #42561
Interesting, because I'm using that timestamp value without any issues. Anyway still getting the same error:
![obrazek](https://user-images.githubusercontent.com/1374803/170943182-71ec1b8b-9db2-40ed-abd2-920b510c6369.png)

[2022-05-30 07:48] Shaggy84675 commented on #42561
That's interesting, because I'm using that timestamp value without any issues. Anyway even after the change, I'm still getting the same error:
![obrazek](https://user-images.githubusercontent.com/1374803/170943431-e4d64f90-9ca7-455b-ba50-ba8ed6b6f017.png)

[2022-05-30 08:31] Shaggy84675 commented on #42561
I've found the issue. So after converting the collection into array with $items->toArray() it also converted the timestamp into the ISO-8601 format which is not supported by MySQL. I added this into my model: https://laravel.com/docs/7.x/upgrade#date-serialization and now it works without any issues.

I'm not sure why it worked half year ago when I wrote the script. I thought the issue was somewhe

[2022-05-30 08:52] taai commented on #42557
I'm pretty sure this is a problem with PHP PDO, not Laravel. It appears that [PHP PDO does not consider question mark as a parameter in strings](https://www.php.net/manual/en/pdo.prepare.php#111458) (the part in your raw SQL that is wrapped with single quotes).

To prove the theory - here is a code you can test anywhere without your specific setup (only requirement is PostgreSQL and existing "user

[2022-05-30 08:56] driesvints commented on #42557
Thanks @taai

[2022-05-30 08:56] #42557 closed

[2022-05-30 09:52] askdkc commented on #42557
Thank you Artisans!

I've been struggling with this all weekend. So grad to see it finally working💓

[2022-05-30 09:52] taai commented on #42540
@driesvints You are doing a huge work reviewing all the issues and PRs - it is understandable that some decisions will be made in a hurry... I don't blame you - the one who wanted a dot to be accepted in the validation rule said that the dot was previously accepted, but he didn't say that "previously" was more than 5 years ago. :man_shrugging: Yes, the resistance from you on this issue was a surpr

[2022-05-30 09:56] mostafaadil opened #42565 "localization issue"
**hi   i thing that there is issue in  the  localization ,its not working when i use  redirect()->back()
 its only work when render views   im using 8.6.12 v **

[2022-05-30 09:57] driesvints commented on #42565
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-30 09:57] #42565 closed

[2022-05-30 10:12] rodrigopedra commented on #42557
You can also consider using `PDO::quote` for escaping the value

[code]

reference: https://www.php.net/manual/en/pdo.quote.php

[2022-05-30 10:47] korkoshko commented on #42541
@ksassnowski ping! Can you watch it? I think the problem is because of this [PR](https://github.com/laravel/framework/pull/42517)

[2022-05-30 10:54] ksassnowski commented on #42541
I’ll have a look at this. Seems like that change had quite a few unforeseen knock-on effects. Sorry about that!

[2022-05-30 11:23] ksassnowski commented on #42541
OK so the fix itself could get a little tricky, but there's at least a temporary workaround for now. If you explicitly define the binding field when calling `scoped` on an api resource, it works as expected.

So instead of

[code]

do this

[code]

[2022-05-30 12:43] TakeoO opened #42569 "Auth()->user() -> magic vars not available inside scope class"
- Laravel Version: 9.10.1
- PHP Version: 8.1.0
- Database Driver & Version: (un related)

### Description:

I'm creating a multitenant (single DB) system -> I want to add scoped queries to the ORM models (some of them, like Users, Accounts, invoices, etc). When implementing this, there are two problems:
* The auth()->user()->***tenant_id*** is not available during the page refresh (user is logged

[2022-05-30 12:44] driesvints commented on #42569
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-30 12:44] #42569 closed

[2022-05-30 12:46] driesvints commented on #42541
@ksassnowski if there's no way we can fix this except through a workaround we probably best revert the PR for now and re-add the changes in Laravel 10.

[2022-05-30 12:47] ksassnowski commented on #42541
I actually have a solution and am finishing up the PR right now

[2022-05-30 13:30] PareshP-RSW opened #42572 "Mailer stop setting on fly SMTP due to usage of Symfony mailer"
- Laravel Version: 9.11
- PHP Version: 8.0.1
- Database Driver & Version: MySQl
### Description:
In the early versions of Laravel (6-8) I was able to set the on the fly SMTP configuration for the mail in the queue using swift mailer. But now, due to the removal of Swift mailer, and addition symfony mailer, I am unable to set the on custom STMP on the fly for the users.

The method (Mailer::setSymf

[2022-05-30 13:35] ksassnowski commented on #42541
Here's the PR #42571

[2022-05-30 14:14] coclav commented on #42024
Doing a `artisan cache:clear` solved the issue (although we still don't know the root cause, at least we have the application running

[2022-05-30 14:43] bertoost opened #42573 "Don't rely on the composer.json file"
Hi there,

Just discovered that you rely on the composer.json file which should not.
Because when you deploy your application with as less files you want, you should be able to remove the composer.json file. Therefore composer compiles a couple of autoloading files in it's vendor/composer/ directory. I guess that should be used instead?

https://github.com/laravel/framework/blob/ffc35c59f1b3b8cc0b

[2022-05-30 14:53] ankurk91 commented on #42573
I think it is being used for auto package discovery feature

[2022-05-30 14:55] driesvints commented on #42573
You should never remove your composer.json file from your project and always commit it to git.

[2022-05-30 14:55] #42573 closed

[2022-05-30 14:57] bertoost commented on #42573
@driesvints I do not remove it from git.. but I removed it from deployment to the production environment.. my point here is that the framework should never rely on the composer.json file itself

[2022-05-30 14:59] driesvints commented on #42573
@bertoost Atm, Laravel relies on this file. We have no plans on changing that.

[2022-05-30 15:01] bertoost commented on #42573
That kinda sucks! This file should be removable safely for production environments... I have never worked with a framework/application that relies on that file either.

[2022-05-30 15:06] verybigelephants commented on #42497
@driesvints I'm sorry, i'm not exactly sure what you mean, i have never contributed to the Laravel before and i don't want to screw something up:)

Would you like me to make a pull request to the Laravel codebase and rewrite the name of the `WithoutOverlapping`, or find the repository for the documentation, placing the warning in it?

[2022-05-30 17:11] pintend commented on #42537
The ```$attributes``` array won't contain "virtual" attributes e.g. ```$this->fullName``` and the values are not casted, so created_at is not a carbon instance...

[2022-05-30 18:54] driesvints commented on #42537
Calling the model through `$this` inside an attribute is not supported.

[2022-05-30 18:54] #42537 closed

[2022-05-30 19:04] driesvints commented on #42572
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-05-30 20:14] daniel-de-wit opened #42579 "Inconsistent route definition"
- Laravel Version: 9.14.1
- PHP Version: 8.1.0
- Database Driver & Version: MariaDB 10

### Description:
Defining a route fluently is inconsistent for method `view` compared to `get`, `post`, etc.

[code]

Updating the passthru methods on the RouteRegistrar would solve this issue.
Is there any reason why this has not been added?

[code]

If not by design, I would gladly submit a PR.

P.s: I know t

[2022-05-30 20:48] driesvints commented on #42579
`Route::name()->view();` and `Route::name()->get();` are not supported.

[2022-05-30 20:48] #42579 closed

[2022-05-31 05:13] omniaSayed commented on #34229
i have been with this problem for days and your solution worked thank

[2022-05-31 08:19] driesvints commented on #42572
I'll re-open this once you provided a repo. Thanks

[2022-05-31 11:36] zek opened #42584 "Force SerializesAndRestoresModelIdentifiers to use Read PDO"
- Laravel Version: 9.4.0
- PHP Version: 8.1
- Database Driver & Version: mysql 8

### Description:

I have 1 master 2 replica database servers and what I'm trying to reduce load on master database and make sure only write operations done in master db. However queue workers are always restoring `notifiable` from master.

There is `useWritePdo` in `restoreCollection` and I couldn't find any way to d

[2022-05-31 11:39] #42584 closed

[2022-05-31 11:55] hmones opened #42586 "Folders created for a new file with public permissions are created with private permissions (the resulting file would not accessible publicly)"
- Laravel Version: 9.11
- PHP Version: 8.1
- Database Driver & Version: NA

### Description:
If the user wants to store a new file (with public permissions) in the storage folder in a path that has folders that do not exist at the time of file creation. Then the folders will be created with private permissions and not public permissions like the file. This will render the file inaccessible.

### S

[2022-05-31 11:56] zek commented on #42584
@driesvints thanks for the keeping issue not locked.

I guess this is more like a future request than a bug. Can you please move the issue to discussions?

[2022-05-31 12:02] driesvints commented on #42584
@zek best that you open a new one in discussions.

[2022-05-31 13:08] Maxoulak opened #42589 "Database query builder: having() has invalid type hinting"
- Laravel Version: 9.10.1
- PHP Version: 8.1.5
- Database Driver & Version: MySQL - 5.7

### Description:

Hi everyone !

I've just increased my PHPstan level from 5 to 6, and started encounter this error message :

`Parameter #3 of method Illuminate\Database\Eloquent\Builder<App\Models\Client>::having() expects string|null, int given`.

According to [the method documentation](https://laravel.com/

[2022-05-31 13:17] driesvints commented on #42589
Heya. Since there is no real bug I'm going to close this. We'd welcome PR's to improve the docblocks.

[2022-05-31 13:17] #42589 closed

[2022-05-31 13:40] PareshP-RSW commented on #42572
Sorry man, I just back on my computer.
https://github.com/PareshP-RSW/bug-report

Here I have created the repo. to regenerate the issue.

1. The repo contains two mail configuration, you can see it in the .env.example (just to show you. In real life it will be base on tenants.So there could be 1000 different SMTP)
2. Enter smtp config for both the settings.
3. migrate the DB
4. Enable the queue in

[2022-05-31 14:30] #42541 closed

[2022-05-31 14:42] yoeriboven commented on #37531
You should also avoid `auth()->id()`.

Couldn't figure out what was happening since I wasn't using `this` but apparently `auth()->id()` uses something similar.

[2022-05-31 18:52] dilipprajapati commented on #5429
Hello Friends

I got solution in Laravel official document pleas check below link.

[solution Here](https://laravel.com/docs/8.x/eloquent-relationships#querying-morph-to-relationships)

I hope this link will be usefull for you.

[2022-05-31 20:11] gbradley opened #42598 "Using `setRelation` before passing model into job causes segmentation fault"
- Laravel Version: 9.15.0
- PHP Version: 8.1.5
- Database Driver & Version: Mysql 8.0

### Description:

Under a specific scenario, calling `setRelation()` triggers a segmentation fault.

[gbradley/laravel-segfault](https://github.com/gbradley/laravel-segfault) is simple app where `User`s have many `Post`s. A segmentation fault can be caused by:

- Iterating through a collection of `$user->posts`

[2022-06-01 00:09] rodrigopedra commented on #42598
Yes, the circular reference is culprit here. As you can see in the comment linked below that dispatching a job with circular references is not supported:

https://github.com/laravel/framework/issues/38614#issuecomment-909141398

[2022-06-01 00:13] rodrigopedra commented on #42598
In your sample job, you can try the following to avoid the circular reference:

[code]

[2022-06-01 06:52] gbradley commented on #42598
Ah, not sure how I didn't come across that previous issue, thanks.

Preventing the circular reference is easy enough; in my case it was discovering the segfault itself that was the hard part because it didn't crop up in unit tests.

Since this is a known limitation I'll just close the issue.

[2022-06-01 06:52] #42598 closed

[2022-06-01 07:13] crotanite opened #42601 "The `prependToMiddlewarePriority` method removes middleware added previously using `pushMiddlewareToGroup`."
- Laravel Version: 9.15.0
- PHP Version: 8.1.3
- Database Driver & Version: MySQL 8.0.28

### Description:
[Previously noted in this issue: [https://github.com/laravel/framework/pull/42004](https://github.com/laravel/framework/pull/42004)]

Due to the `prependToMiddlewarePriority` method in the Laravel Sanctum service provider, any middlewares added using the `pushMiddlewareToGroup` method in a pa

[2022-06-01 08:26] PareshP-RSW opened #42602 "Mailer stop setting on fly SMTP due to usage of Symfony mailer"
Laravel Version: 9.11
PHP Version: 8.0.1
Database Driver & Version: MySQl
Description:
In the early versions of Laravel (6-8) I was able to set the on the fly SMTP configuration for the mail in the queue using swift mailer. But now, due to the removal of Swift mailer, and addition symfony mailer, I am unable to set the on custom STMP on the fly for the users.

The method (Mailer::setSymfonyTranspo

[2022-06-01 08:53] killgt commented on #41790
To make it worse, retry and timeout options will fail silently, as they are not applied:

[code]
neither

[code]

[2022-06-01 13:40] mortenscheel opened #42605 "v9.15 has breaking change in route() helper: Unidentified array key 0"
- Laravel Version: 9.15.0
- PHP Version: 8.0.18
- Database Driver & Version: MySQL 8.0

### Description:
In v9.15.0 calling the route() helper with model parameters in a non-associative array will result in an ErrorException "Unidentified array key 0" being thrown in Route.php line 539.
I realize that the use of non-associative arrays is no longer documented, but as long as the order of the parame

[2022-06-01 14:14] sdeav commented on #18097
I think, now you can do it...

[2022-06-01 15:11] ksassnowski commented on #42605
I swear to God, I must have hit every single possible edge case with my initial PR 🙈

The fix is rather straight forward, but I this behavior is pretty weird to begin with (what does `http://example.com/foo?1` even mean?). Since this is technically a breaking change in a non-major version, we should still fix this, however. I'll send a PR for this shortly.

[2022-06-01 17:12] systemsolutionweb opened #42607 "TypeError: Illuminate\Mail\PendingMail::send(): Argument #1 ($mailable) must be of type Illuminate\Contracts\Mail\Mailable, string given"
- Laravel Version: 8.x Latest
- PHP Version: 8.1
- Database Driver & Version: MariaDB

### Description:

When i try to send a mail using a view inside a Job doesn't work, on sync works

### Steps To Reproduce:
This code works,
[code]
but if you put the same code inside of handle method on a Job and when i call `dispatch` i get
[code]
[code]

[2022-06-01 17:17] khalyomede opened #42608 "Change on route binding logic breaks test"
- Laravel Version: 9.15.0
- PHP Version: 8.1.5
- Database Driver & Version: MySQL 8.0

### Description:

One of my test passes on 9.14.1, fails on 9.15.0, I think this comes from the changes on these files

- src/Illuminate/Routing/RouteUri.php
- src/Illuminate/Routing/Route.php
- src/Illuminate/Routing/ImplicitRouteBinding.php

<details>
    <summary>The error stack trace is:</summary>

[code]

<

[2022-06-01 23:09] ksassnowski commented on #42608
I believe this is a duplicate of #42605 which as mentioned should be fixed by #42606.

[2022-06-02 04:42] madalinignisca commented on #33238
I do so. Any table MUST have primary keys. And the framework, should test any DB transaction against most limited setup of MariaDB or MySQL, that being default Primary/Replica and Galera setups. Testing against single instance mode does not prove the framework will be trustful in HA setups.

Today is very common to deploy on HA setups, and I wouldn't find a reason not to do it so.

[2022-06-02 05:14] PareshP-RSW commented on #42602
Yes I did mean the same. And thank you for the reply on the same.

I have not tried the method which you have described here. I'll try and come back again.

[2022-06-02 05:40] PareshP-RSW commented on #42602
@rodrigopedra
Look likes the method which you have provided me is working fine on the test project for now.
I'll check the same method on my original project which has more than 5000 different dynamic email configs.
Thanks mate for the quick solution.

[2022-06-02 06:18] madalinignisca commented on #42586
Have you checked your php configuration? The permissions for new files/directories are respected umask set for the php process. If you want to enforce different behaviour, it will break for everybody who handles file permissions by server configuration. PHP can handle using umask or chmod the permissions, but this is against expectations on many enterprise deployments where umask is controlled by

[2022-06-02 06:19] madalinignisca commented on #42586
PS, you can set chmod on the file after yourself so you get your exact expectations.

[2022-06-02 06:35] khalyomede commented on #42608
Thanks for the effort you put to quickly fix this issue. Is there a way for me to test the fix before you publish it the next tag? Should I require "laravel/framework:master"?

[2022-06-02 06:47] mortenscheel commented on #42605
@ksassnowski I completely agree it's a weird edge case. I believe it arose because the model used to be a route param, then the route definition was changed to not include the model, without updating the route() call. Like I said, it flew under the radar because the generated URL worked as expected, even though it had a non-sensical `?1` tagged on.
As always, [xkcd said it best](https://xkcd.com/1

[2022-06-02 07:17] ksassnowski commented on #42605
The PR already got merged by the way, so you can close the issue again 😅 #42606

[2022-06-02 07:19] ksassnowski commented on #42608
You can test it by requiring `laravel/framework: 9.x-dev`

[2022-06-02 07:31] #42605 closed

[2022-06-02 07:33] driesvints commented on #42608
Fixed on 9.x, we'll do a hotfix as soon as possible. Thanks

[2022-06-02 07:33] #42608 closed

[2022-06-02 07:35] driesvints commented on #42607
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-06-02 07:35] #42607 closed

[2022-06-02 08:11] driesvints commented on #42602
Thanks @rodrigopedra

[2022-06-02 08:11] #42602 closed

[2022-06-02 09:07] joe-pritchard commented on #33238
@taylorotwell Would you consider reopening the issue? You say above that it's a "bug" with the Digital Ocean setup but in reality it's a recommended and increasingly common way to configure MySQL and simply turning off required primary keys is not a solution. I believe as things stand several first-party laravel packages such as Nova and Telescope contain migrations that simply can't be run in the

[2022-06-02 09:29] zKoz210 opened #42621 "latestOfMany() slow with group by on full table"
- Laravel Version: [v9.15.0](https://github.com/laravel/framework/releases/tag/v9.15.0)
- PHP Version: 8.1
- Database Driver & Version: PostgreSQL 14.2

### Description:

I am using latestOfMany() to get the latest status of an entity. One-to-many relationship.

### Steps To Reproduce:
`reception_signs`
| ID  | NAME |
| ------------- | ------------- |
| 1  | test_receptions  |

`reception_statuses

[2022-06-02 09:49] elfeffe opened #42622 "Not casting on pivot table?"
I use the latest Laravel and PHP 8
I have a pivot table with a meta field which is a JSON, and then I cast like an object (and I tried with array).

$variant->pivot->meta->default_value

I have an error, it says meta is a string.

[2022-06-02 09:52] driesvints commented on #42621
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-06-02 09:52] #42621 closed

[2022-06-02 10:01] zKoz210 commented on #42621
@driesvints it is a bug with query performance. we do unnecessary actions and cause the degradation of the speed of the sql query

We do a SELECT sorted by MAX("ID") on all records, even those that are not in the current query.

[2022-06-02 10:42] driesvints commented on #42621
This seems more like an app optimization to me than a real performance issue. For example, I don't see why reception_statuses needs to be a table. That could be constants or an enum.

[2022-06-02 10:46] zKoz210 commented on #42621
@driesvints for logging statuses and how the flow changed

[2022-06-02 11:18] driesvints commented on #42586
I can confirm there's something off here between Laravel 8 and Laravel 9.

[2022-06-02 11:30] driesvints commented on #42586
Actually, this is because Flysystem v3 is a bit stricter on directory permissions and has private visibility for directories by default. The files will also still be accessible. I tried that with setting the public storage link and put the directory and the file in the `storage/app/public` directory and I was able to access the file through the web. It doesn't matter if the directory is private.

[2022-06-02 11:30] #42586 closed

[2022-06-02 11:52] #42601 closed

[2022-06-02 11:54] driesvints commented on #42621
I think in this case, you want to avoid latestOfMany and build a separate query that's more performant for your use case. I don't see a different way in which latestOfMany can be implemented. It's most likely not intended to be used with so many records involved.

[2022-06-02 12:56] mpoma opened #42625 "Console Commands only accept One Array Argument/Options"
- Laravel Version: 8.83.7
- PHP Version: 8.1.5
- Database Driver & Version: Mysql 8

You create an Artisan Console command, with two or more options array like
'mail:send {--id=*} {--client=*}'

When you used it,
php artisan mail:send --id=3 --id=5 --id=6 --client=8 --client=9

them the client array is empty.
Like
options=>[
id=>[3,5,6],
client=>[]
]

If you dont use --id option in the command lin

[2022-06-02 12:56] driesvints commented on #42625
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-06-02 12:56] #42625 closed

[2022-06-02 13:58] fredsal commented on #42607
@driesvints looks like a bug to me

[2022-06-02 15:03] maximerenou opened #42631 "Router fails to properly generate routes for "media" resource"
- Laravel Version: 9.14.1
- PHP Version: 8.1
- Database Driver & Version: N/A

### Description:

If you need a CRUD for a "Media" model, you'd likely add this to your `web.php`:

    Route::resource('media', MediaController::class);

However, those are the generated routes, due to plurial -> singular grammar conversion:

![Capture d’écran 2022-06-02 à 16 52 36](https://user-images.githubusercont

[2022-06-02 16:54] khalyomede commented on #42608
I just required 9.x-dev (c5c97e4) and it successfuly fixed my failing test, thanks again to everyone involved!

[2022-06-02 17:54] systemsolutionweb opened #42636 "Mailable inside a Job does not work as documentation says, `from, subject, attach` fails"
- Laravel Version: 8.x Latest
- PHP Version: 8.1
- Database Driver & Version: MariaDb

### Description:
Mailable inside a Job does not work as expected, `from, subject, attach` doesn't work and fallback to defaults, maybe related #42607

### Steps To Reproduce:
I'm following [8.x/mail#writing-mailables](https://laravel.com/docs/8.x/mail#writing-mailables), [8.x/mail#using-the-from-method](https://

[2022-06-02 17:58] systemsolutionweb commented on #42636
Really weird, sometimes works at the start, then stops working without any changes, and never works again

[2022-06-02 18:07] #42636 closed

[2022-06-02 19:46] yob-yob opened #42638 "Mail::fake() returns null when using send()"
- Laravel Version: `9.15.0`
- PHP Version: `8.1.4`
- Database Driver & Version: `I don't think it's important in this issue`

### Description:

When using `Mail::fake()` then sending an email using `Mail::to($this->email)->send(new MemberInvitation($data))`, it does not return `\Illuminate\Mail\SentMessage` rather it return `null`.

this should be considered as a Bug because `Mail::assertSent(Memb

[2022-06-02 21:07] Verhoeckx commented on #16447
Why is this closed? Shouldn't this be fixed (IMHO)?

I'm using Laravel 9 and I when I use the function [model name]::where('[column]', '[value]')-->update([​]) the array $fillable is not checked. Shouldn't that be the default? It's only checked when I call the function _first()_ first (as described above).

[2022-06-03 06:30] driesvints commented on #42638
Heya, this is expected. If you fake an email send, there's nothing to send and thus there's no sent message. If you rely on the behavior of sending an email. You should choose something like the array transport for your tests.

[2022-06-03 06:30] #42638 closed

[2022-06-03 08:19] LiXunGuan opened #42645 "[8.x]Update with DB::raw triggers Object of class Illuminate\Database\Query\Expression could not be converted to float"
- Laravel Version: 8.83.7
- PHP Version: 7.4.3
- Database Driver & Version: mysql8.x

### Description:
When I define the $casts converter for the Inventory model, using DB::raw gives an error.

### Steps To Reproduce:

1、Inventory Model
[code]

2、Controller
[code]

### error message stack
[2022-06-03 16:14:34] production.ERROR: Object of class Illuminate\Database\Query\Expression could not be conv

[2022-06-03 08:23] #42645 closed

[2022-06-03 09:05] henzeb commented on #40905
@Brotzka, easy fix, but it is really weird that we have to do this. I really want to be able to make my unit enums castable. I can simply implement the CastsAttributes interface, but I am being blocked by the fact that it checks if is an enum and not if it is a backed enum. I will file a bug report for this.

[2022-06-03 09:24] henzeb opened #42647 "Eloquent casting enum attributes not checking if backedEnum"
- Laravel Version: 9.16.0
- PHP Version: 8.1.6
- Database Driver & Version: -

### Description:
I am working on my package [henzeb/enumhancer](https://github.com/henzeb/enumhancer) And I want to make UnitEnums castable as I find it ridiculous that we have to write 'CASE ENUM='ENUM' . It is redundant.

I could of course make an adapter class for every enum  I create, but I want to make it easy for

[2022-06-03 09:27] #42647 closed

[2022-06-03 10:19] cristiancalara commented on #40617
This was indeed a breaking change in our case. It resulted in the job's payload actually being truncated at the point where the Unicode character was (in our case, an emoji).

[2022-06-03 14:15] Chris1234567899 commented on #30007
I still encounter this issue, laravel 9.2
Is that supposed to be fixed already?

[2022-06-03 14:54] mah484 opened #42653 "Pluck does not return expected result"
- Laravel Version:  9.14.1
- PHP Version: 8.1.2
- Database Driver & Version: MariaDB 10.3.32

### Description:
Running the code in the [documentation](https://laravel.com/docs/9.x/collections#method-pluck) for the `pluck` method of collections, you actually get an array within an array.  So for the third example, using dot notation, the return value is `[['Rosa','Judith']]` and not `['Rosa','Judit

[2022-06-03 17:00] Deyjandi opened #42654 "[9.16] Truncated JSON response"
- Laravel Version: 9.16.0
- PHP Version: 8.1.6
- Database Driver & Version: maria db
- Host OS: Arch Linux (using laravel sail)

### Description:
Today I updated my composer packages via the following command:

`./vendor/bin/sail composer update`

After updating the packages, all json type responses issued from the application's controllers are missing the last character, making the json response

[2022-06-03 19:02] henzeb opened #42658 "Eloquent enum casting: toArray throws exception when overriding getEnumCastableAttributeValue"
- Laravel Version: 9.16.0
- PHP Version: 8.1.6
- Database Driver & Version: -

### Description:
I have been trying to get basic enumerations to work for a package of mine, but I keep hitting walls (also see #42648)
When trying to use getEnumCastableAttributeValue / setEnumCastableAttribute this works perfectly, but when using toArray after setting a basic enum value, UnitEnum instance that is, it

[2022-06-03 20:57] ServerGuard24 opened #42660 "Pagination Problem"
Pagination does not work correctly with distinct.

Builder.php needs to change

OLD $total = $this->getCountForPagination();
NEW $total = $this->getCountForPagination($columns);

public function paginate($perPage = 15, $columns = ['*'], $pageName = 'page', $page = null)
    {
        $page = $page ?: Paginator::resolveCurrentPage($pageName);
        $total = $this->getCountForPagination();

[2022-06-03 22:11] rodrigopedra commented on #42658
@henzeb I sent a new comment to the discussion #42648  that might help you out with your package

Check it out: https://github.com/laravel/framework/discussions/42648#discussioncomment-2881040

[2022-06-04 00:04] markking79 commented on #31722
I was able to solve by adding the following method to my model...

[code]

[2022-06-04 00:30] bilogic commented on #31722
@markking79

Can show how your model `created_at` when `fill()` and `getTimezone()` are called?
[code]

[2022-06-04 00:36] markking79 commented on #31722
@bilogic

[code]

[2022-06-04 00:40] bilogic commented on #31722
@markking79

In that case, it still has an issue. Your timezone is `-04:00`, so after `fill()`, `created_at` should become `07:52:53` (11 - 4)

[2022-06-04 00:56] markking79 commented on #31722
@bilogic I might have misunderstood the original issue the creator of this post was having. For me, I was able to insert the date/time correctly and even query the correct date/time (even though I am not using UTC time). I store everything in the database in American EST. Everything worked correctly until I wanted to use ->toArray (). When I used ->toArray () then it gave me the EST + 4.

If I had

[2022-06-04 00:58] markking79 commented on #31722
@bilogic

I have the following in my config/app.php

`'timezone' => 'America/New_York',`

[2022-06-04 01:09] bilogic commented on #31722
@markking79

This issue is tricky to understand, I tried to explain as best I could in the post https://github.com/laravel/framework/issues/31722#issuecomment-1131875330 above and more details in #42447

1. We normally insert and read datetimes with the assumption that they are all in the same timezones as the system, in your case -04:00.
2. The tricky bit about `2022-04-05T11:52:53.000000Z` is th

[2022-06-04 01:30] bilogic commented on #31722
@markking79

What I'm suggesting is that, perhaps we can delete our series of messages as it did not fix the issue.

[2022-06-04 01:39] markking79 commented on #31722
@bilogic I'm not going to delete my post. From what I can see, the original poster is saving the datetime in the America/Toronto time zone. Not UTC. He was getting the wrong datetime when he tried to use ->toArray (), but did get the correct datetime when he used ->created_at. My solution will work for him.

[2022-06-04 01:40] bilogic commented on #31722
@markking79

Just to go a step further, I would check `SELECT @@global.time_zone, @@session.time_zone;` to see if it was `-04:00`, if it is not, I would go further and say that, all the datetimes in your MySQL are likely wrong, i.e. they have the numerical values you want, but the timezone is wrong. That might explain why `toArray()` was not giving you the correct values.

[2022-06-04 01:47] LiXunGuan commented on #42645
Other ways to achieve, documented for reference by others.
[code]

[2022-06-04 08:28] Deyjandi commented on #42654
I tried reproducing the issue by creating a new laravel project.
Everything works as expected. I even installed all the packages I am using and I couldn't reproduce the above issue.

Still, I cannot solve the issue on the project I'm working on. I tried:
1) Copying the new project config files (.env, app, auth, session, sanctum) to the old one
2) Copying App\Http\Kernel and AppServiceProvider to t

[2022-06-04 11:25] hmones commented on #42586
@driesvints The reason why it worked for you when you tested is that you did everything with the same user, (the default permissions on laravel 9 would work fine, because the owner of the directory can do mostly everything even on private folders created by the same user) which will work by default. In Laravel documentation https://laravel.com/docs/9.x/filesystem#local-files-and-visibility, there'

[2022-06-04 12:46] rodrigopedra commented on #42654
I could not reproduce it on a newly installed project. Also I updated two of my production projects to 9.16.0 yesterday, and both uses inertia.js -- which relies a lot on JSON response -- and I didn't find any problems.

Script I used:

[code]

Testing:

[code]

I see you are running on Linux, me too.

[2022-06-04 13:09] Paulie-K commented on #42654
I am the original author of that stackoverflow post and this error occoured on fresh installation of version 9.15 for me. I temporarily solved this by adding `dataType: 'text',` to ajax call and and then `JSON.parse(response + ']');` in `success` callback. But this is definitely a Laravel bug.

`{
    "private": true,
    "scripts": {
        "dev": "npm run development",
        "development": "m

[2022-06-04 14:32] rodrigopedra commented on #42654
Hey @Paulie-K

Can you please provide a reproducible outline on how to replicate the problem?

Otherwise it is very hard to help an issue without evidence, when there is evidence of the contrary.

Also, I don’t actually get why you shared your package.json as this file holds the frontend dependencies and you claim it is a Laravel (backend) issue.

I guess you wanted to share your composer.json fil

[2022-06-04 14:36] rodrigopedra commented on #42654
Oh thing I noticed, you mentioned this happened in version 9.15.0 for you.

Please update to the latest released version (9.16.0 at the time I am writing this) and check if you still gets the issue.

If the issue is still there, please provide a reproducible outline, or better yet, as suggested by the issue template, a public available repository created from a fresh project, with minimal code add

[2022-06-04 19:46] rodrigopedra commented on #42660
Can you try this:

[2022-06-04 23:09] magnusvinsjevik commented on #42653
That is expected result.

If you read the whole documentation you see that this is expected result:

[code]
The documentation could be more clear on that section, and may not have been noticed since it only has one "first_day" and the array only contains one item.

The documentation should display: (showing this may also be wrong since $collection['speakers']['first_day'] will return ['Rosa', 'Jud

[2022-06-04 23:24] Ragash commented on #42654
this happen even on 9.16
it happens even with "first party" web apps like Telescope: request from the "Requests" section will be truncated

[2022-06-04 23:42] rodrigopedra commented on #42654
@Ragash just tested with telescope in a fresh install using sail:

Installation steps:

[code]

test the endpoint with:

[code]

Edit `TelescopeServiceProvider` and allow any user to access its panel, and then visit: http://localhost/telescope/requests

![image](https://user-images.githubusercontent.com/5470108/172028990-8102053d-62c6-4191-96f2-7f3af9b49afa.png)

Please provide a public available

[2022-06-05 07:39] marvin-wtt commented on #42654
Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the latest version of the Laravel installer in order to run this command. Please also make sure you have both Git & the GitHub CLI tool properly set up.
[code]
Please do not amend and create

[2022-06-05 07:57] mah484 commented on #42653
I see what you are saying.  I guess there are two confusing parts.  First to clarify, my only concern/confusion here is using the `pluck()` method _in conjunction with dot notation_.  All other examples of `pluck()` make sense and return what I would expect to be the result.

The first confusing part is that indicating `['Rosa', 'Judith']` as the return value of plucking with the dot notation, in

[2022-06-05 07:58] mah484 commented on #42653
I can reopen it seems, so will try in the hopes that my response is valuable.

[2022-06-05 11:02] rodrigopedra commented on #42654
I created the following repository to be used as a start point for reporters to instruct us on how to replicate the issue.

https://github.com/rodrigopedra/issue-42654

That repository:

- has Telescope installed as mentioned by comment https://github.com/laravel/framework/issues/42654#issuecomment-1146701757
- In its home page uses jQuery to make an AJAX call to retrieve all users as outlined in

[2022-06-05 15:07] ServerGuard24 commented on #42660
To set the columns in the distinct(['cols']) clause works. Thanks!

[2022-06-05 20:04] 008anas opened #42673 "Pluck collection method not working as expected"
- Laravel Version: 9
- PHP Version: 8.1.5

[https://laravel.com/docs/9.x/collections#method-pluck](url)

**Pluck method not returning the same result as example in documentation**

With this code:

`$collection = collect([
            ['product_id' => 'prod-100', 'name' => 'Desk'],
            ['product_id' => 'prod-200', 'name' => 'Chair'],
        ]);

        $plucked = $collection->pluck('name

[2022-06-05 20:21] eusonlito commented on #42673
[code]
Is the same as:
[code]
Or formatted:
[code]

[2022-06-06 09:14] mdobydullah opened #42681 "PHP 8.1 Problem with Response (Array/JSON)"
I've updated the PHP version to 8.1.6. Then it doesn't return full response. Here's an example:

Code:
[code]

Response:
[code]

In the response, it includes a 'new line' first, then it shows incomplete response (missing curly bracket at the end).

I'm using: PHP 8.1.6 and Laravel 9.16.0.

Please help me to resolve the issue. Thank you.

[2022-06-06 09:40] eusonlito commented on #42681
Same issue? https://github.com/laravel/framework/issues/42654

[2022-06-06 09:50] mdobydullah commented on #42681
@eusonlito

Yes. Same issue.

[2022-06-06 14:40] rodrigopedra commented on #42681
@mdobydullah can you provide a public repository with code that we can reproduce the issue?

For reference on how to do it you can refer to this comment: https://github.com/laravel/framework/issues/42654#issuecomment-1146757460

[2022-06-06 16:12] mdobydullah commented on #42681
@eusonlito @rodrigopedra

I've downgraded "**symfony/http-foundation**" version to "**6.0.9**" and it has resolved the issue.

[code]

It is a temp solution.

[2022-06-06 16:17] eusonlito commented on #42681
`symfony/http-foundation` has commit currently reverted adding the `Content-Length` header. Maybe all problems came frome here: https://github.com/symfony/http-foundation/commit/a58dc88d56e04e57993d96c1407a17407610e1df

[2022-06-06 16:38] mdobydullah commented on #42681
@eusonlito Yh. I think so.

[2022-06-06 18:59] rodrigopedra commented on #42681
And that might be the reason it is hard to replicate, from the comments on this issue: https://github.com/symfony/symfony/issues/46449 it only happens under particular conditions (Apache server, gzip enabled).

[2022-06-06 22:24] aokrasavin opened #42685 "BinaryFileResponse content corruption under nginx on Azure app service (Linux)"
- Laravel Version: 9.10.1
- PHP Version: 8.0.17 (cli) (built: Mar 25 2022 18:59:25) ( NTS )
- Database Driver & Version: N/A (not used, not relevant to this issue)

### Description:
A fairly simple controller which picks form input, chooses image from the disk and then returns it to webbrowser. Eg

      $img = .... <get data object describing image>

        $response = response()->file(Storage::

[2022-06-06 23:00] rodrigopedra commented on #42685
Can you try the workaround suggested here: https://github.com/laravel/framework/issues/42681#issuecomment-1147625966

[2022-06-07 00:24] TheWorkingDeveloper commented on #41960
@driesvints what is the 'correct file extension' for a custom file format?

[2022-06-07 06:41] sfilzek opened #42691 "GetChanges() on model fails when data stored in MySQL json type"
- Laravel Version: 9.16.0
- PHP Version: PHP 8.1.3
- Database Driver & Version: MySQL 5.7.24

### Description:
When updating a model which uses a mysql json column, the getChanges() call on the model always returns the json data as having changed even when it has not.

I believe this is because mysql re-orders the json data so that keys are sorted from shortest to longest and then alphabetically,

[2022-06-07 07:45] driesvints commented on #42586
Hey thanks for that detailed explanation @hmones. I do think it's important to let the scheduler run by the same user the app runs on. On Forge, for example, we recommend to use the forge user. Using a different one can lead to unexpected situations like this one.

[2022-06-07 07:48] driesvints commented on #42681
Seems this is a Symfony issue. Please don't upgrade to Symfony v6.1 for now and wait until they release a patch release.

[2022-06-07 07:48] #42681 closed

[2022-06-07 07:48] driesvints commented on #42654
Seems this is a Symfony issue. Please don't upgrade to Symfony v6.1 for now and wait until they release a patch release.

[2022-06-07 07:48] #42654 closed

[2022-06-07 07:48] #42685 closed

[2022-06-07 07:54] driesvints commented on #42660
Seems this is a Symfony issue. Please don't upgrade to Symfony v6.1 for now and wait until they release a patch release.

[2022-06-07 07:54] driesvints commented on #42658
Seems this is a Symfony issue. Please don't upgrade to Symfony v6.1 for now and wait until they release a patch release.

[2022-06-07 07:54] #42658 closed

[2022-06-07 07:55] #42673 closed

[2022-06-07 08:08] driesvints commented on #42658
ah sorry, we received tons of issues about a symfony breakage and thought this one was one as well. There's no bug here though. The behavior you mentioned isn't supported. Please see Rodrigo's comment.

[2022-06-07 08:15] henzeb commented on #42658
Alrighty then. Workaround with checking where the method is called and return anonymous class with value when needed it is then....

[2022-06-07 08:35] driesvints commented on #42653
Heya, it seems you're correct. However, I feel like we can't change this behavior now as it'd be a breaking change to many users who are using it now. I've sent in a PR to document the current behavior: https://github.com/laravel/docs/pull/7974

[2022-06-07 08:35] #42653 closed

[2022-06-07 10:50] eusonlito commented on #42691
Same with PostgreSQL, but PostgreSQL store data as binary, then you can not know how a JSON will be returned. Only array order is preserved on store.

[2022-06-07 11:41] sblindt opened #42696 "Clean install of Laravel 9.16.0 on PHP 8.1.6 -> Unexpected token in class loader"
Hey everyone,

Please see the stack trace below. I am easily able to reproduce on a fresh, clean install using Laravel 9 on PHP 8.1.  To date, I have not been able to use Laravel 9 on PHP 8.1.

[2022-06-07 11:34:36] laravel.EMERGENCY: Unable to create configured logger. Using emergency logger. {"exception":"[object] (InvalidArgumentException(code: 0): Log [] is not defined. at /vendor/laravel/fram

[2022-06-07 11:58] tanthammar commented on #42494
I never figured out why Fortify decides to return an array instead of an error bag, so I had to create my own macro to fix the failing test.
If anyone else has this issue, I added this to my `AppServiceProvider` `boot` method.

[code]

[2022-06-07 11:59] tanthammar commented on #42494
@driesvints Would you accept a PR for the `TestResponse->assertSessionHasErrors() `method? Based on the above, where the `$errors` can be an `array`?

[2022-06-07 12:01] driesvints commented on #42494
@tanthammar I think it's important that we attempt to recreate the situation on a fresh laravel app first to fully understand where this is coming from.

[2022-06-07 12:07] tanthammar commented on #42494
I'd love to, I just don't know how to trace back to the source of the array conversion. Doing some "dd" in the Fortify controller and in the Fortify password confirm view, the type of $errors is correct. It is only in the test where it becomes an array.

[2022-06-07 12:16] driesvints commented on #42494
Then I feel that we shouldn't take any action as this is only happing for you specifically. I feel we can't warrant a change for that as everything works as expected for a default Laravel app. I'm sorry for that.

[2022-06-07 16:56] iosty commented on #34092
indique le répertoire à suivre je ne sais pas ou est ce que je doit effectuer la modification

[2022-06-07 17:25] peibinzhu opened #42698 "After the Validator uses "stopOnFirstFailure", the attribute rule continues to validate after detecting an error!"
- Laravel Version: 9.16.0
- PHP Version: 8.0.15

### Description:

After the Validator uses `stopOnFirstFailure`, the attribute rule continues to validate after detecting an error!

### Steps To Reproduce:

The request parameter `phone` defines 4 validation rules, and `stopOnFirstFailure` has been set, after the second rule is triggered, the validation is still performed without stopping.

Demonst

[2022-06-07 20:00] tanthammar commented on #42494
@driesvints I finally found what it was.
Some time ago, in some dev version of Laravel, there was an option to serialize session as json.
@Krisell  told me, and I activated it to try, and forgot about it ;) ... (Bad move)

`config/session 'serialization' => 'json',`

With the help of @Krisell who directed me to;
https://github.com/laravel/framework/pull/42090

I also found this quote :-)
<img widt

[2022-06-07 20:10] enzostefani507 commented on #33760
It can be fixed by deleting the vendor folder and then run composer install

[2022-06-07 23:11] marvin-wtt commented on #42698
I'm not sure which behavior is actually intended. You can use the `bail` rule to achieve what you want to do.  [(ref)](https://laravel.com/docs/9.x/validation#rule-bail)
In your case, that would be:
[code]

The docs say:

In case that `stopOnFirstFailure` should include the bail behavior, it should be moved here IMO https://github.com/laravel/framework/blob/e30bdf08bc604d79f5013733078ce84597663c4d

[2022-06-08 02:02] peibinzhu commented on #42698
Yes, using `bail` works, but every property needs to be set. I've used `stopOnFirstFailure`. I think `stopOnFirstFailure` should contain bail behavior. Because `stopOnFirstFailure` is used to stop after the first rule failure, obviously it has no effect here.

Thanks for your reply, I have modified the solution.

[2022-06-08 02:04] marvin-wtt commented on #42698
I can send in a quick PR if someone confirms that behavior

[2022-06-08 06:11] hmennen90 commented on #42691
@sfilzek @eusonlito I've opened a PR after your Steps to Reproduce - the getChanges() Array is empty as expected. (SQLite)

Additionally I will setup tests using PostgreSQL and MYSQL too.

[2022-06-08 06:18] hmennen90 commented on #42691
Testing at MySQL, i can confirm this.

[2022-06-08 06:22] hmennen90 commented on #42691
![Bildschirmfoto 2022-06-08 um 08 21 33](https://user-images.githubusercontent.com/77828605/172545983-e9e3f903-b7a3-4163-b69d-18c502ec7557.png)

I can only confirm this on MySQL - the Postgres SQL and SQLite Tests are successful expecting and getting empty arrays

[2022-06-08 06:35] richoandika opened #42706 "UnableToWriteFile on Laravel 9"
- Laravel Version: 9.11
- PHP Version: 8.0.2
- Package & Version:
flysystem-aws-s3-v3: 3.0

Hello there,
I was upgrade the package, but I can't upload any file to my bucket even the system didn't hit my IAM.
I try to change the throw to enable in config/filesystems.php, The error returns "Unable to write file at location: xxx.jpg"
What's wrong with that? Can anyone help me?

[2022-06-08 07:04] mrmonat opened #42707 "Route generation broken"
- Laravel Version: 9.17.0
- PHP Version: 8.1.0
- Database Driver & Version: MySQL 8.0

### Description:
When updating to Laravel > 9.13 route generation breaks.
I tested with 9.14, 9.15, 9.16 and 9.17.
I think the bug got introduced by #42425

### Steps To Reproduce:

Route in web.php:
[code]

Laravel v9.13 (correct behaviour):
[code]

Laravel v9.17 (wrong behaviour):
[code]

[2022-06-08 07:19] henzeb commented on #42706
Does it still fail when using 9.17 (latest version) ?

[2022-06-08 07:28] driesvints commented on #42698
The `stopOnFirstFailure` is purely intended on an attribute level, not a rules level. If you need to stop after a first rule fails then `bail` is indeed the right approach.

[2022-06-08 07:28] #42698 closed

[2022-06-08 07:33] driesvints commented on #42706
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-06-08 07:38] richoandika commented on #42706
Hi @henzeb, I was upgrading the version to 9.17, but it's same.

[2022-06-08 08:20] Krisell commented on #42494
It seems like `start` or `loadSession` is not called in `TestResponse` which also means that `marshalErrorBag` (rebuilding the errors from JSON to the ErrorBag instance) doesn't take place.

Adding `$this->session()->start();` in the constructor of `TestResponse` resolves this, but I'm not sure of the full implications of that. Is it reasonable to call `start()` before interacting with the session

[2022-06-08 08:33] driesvints commented on #42494
@Krisell thanks for investigating 👍

Feel free to attempt a PR with that if you want. Try to provide some background to Taylor why that would be needed.

[2022-06-08 09:14] driesvints commented on #42707
@ksassnowski

[2022-06-08 09:15] driesvints commented on #42707
Although it would seem odd that a model's route key suddenly isn't used here anymore. Please share your Folder model?

[2022-06-08 09:48] mrmonat commented on #42707
[code]

[2022-06-08 09:50] marvin-wtt commented on #42698
@driesvints But shouldn't the validation stop after the required rule fails according to the comment?

[2022-06-08 09:51] driesvints commented on #42707
@ksassnowski thinking it might be best to just revert everything to the original code as more problems keep popping up here.

[2022-06-08 09:52] driesvints commented on #42698
I don't think so no.

[2022-06-08 09:53] driesvints commented on #42707
@mrmonat you're sure you're on the latest Laravel version? Can you provide a repo with a fresh laravel install that reproduces this issue?

[2022-06-08 10:00] driesvints commented on #42698
That comment has nothing to do with `stopOnFirstFailure`.

[2022-06-08 10:20] mrmonat commented on #42707
I found that it works in a fresh installation, but I found out that the problem only occurs when `URL::defaults(...)` is used:

[code]

Output of the failing test:
[code]

[2022-06-08 10:24] driesvints commented on #42707
It's not meant to use the url generator like that. Is this reproducable with an example from the docs?

https://laravel.com/docs/9.x/urls#default-values

[2022-06-08 10:39] ksassnowski commented on #42707
I think that that test case actually demonstrates the bug. The `locale` parameter gets correctly replaced with the default value, but the lookup for the binding field fails because it tries to look up the binding field for the `post` parameter by index. The `parameters` property now contains two parameters, however:  `locale` and `post`. So it erroneously looks up the `locale` instead and falls ba

[2022-06-08 10:41] mrmonat commented on #42707
The use of ```$url->defaults(...)``` is just needed for this test case, I took it from https://github.com/laravel/framework/blob/9.x/tests/Routing/RoutingUrlGeneratorTest.php#L240

In the real app `URL::defaults()`is called inside a middleware like described in the docs. But as soon as ```defaults``` are used, the route generation breaks.

Repo with tests:
https://github.com/mrmonat/route-test

[2022-06-08 10:43] driesvints commented on #42707
Yes definitely. And if we can probably add a test for this case as well.

[2022-06-08 10:47] ksassnowski commented on #42707
The only thing that needs to be reset in that case is the `bindingFieldFor` method of the `Route` class. I did already revert all the other changes in one of the follow-up PRs. Just as a heads up, the test case for the bug that I initially tried to solve in #42425 will start failing. The test case that reproduces this ticket would look like this

[code]

[2022-06-08 14:22] chludwig commented on #41565
But it would be nice to have the opportunity to have a "changeable" fallback language.

Three use cases.

1. Changing the default translation
If there is a typo in the default (fallback) translation. Currently you'll have to find and replace all appearances of this string, in every template and every other languages. This can only be done by a global search and replace.
If the fix is merged, you s

[2022-06-08 18:30] judgej commented on #23167
Laravel 9, 2022, the ";1;" suffix worked for me, after much head scratching.

Even bringing up tinker, dispatching once, then exiting tinker failed to add the job to the queue. That seems to be new for Laravel 9 - never seen that in 8. I guess tinker does not (or no longer does, or can't) handle the dispatching of the last job in its process shut-down.

[2022-06-08 19:15] NicoHood opened #42719 "Validator always gets array, not object from json input"
- Laravel Version: v9.15.0
- PHP Version: 8.1.x
- Database Driver & Version: sqlite

### Description:
Hi! I want to write a simple validation rule that requires to only accepts json dicts `{ "example": 42}` rather than json arrays `[ "example" ]`. I've noticed, that I will always get a `$value` of type `array`, never an object:

[code]

When I input an empty object `{}` you can see that the error

[2022-06-08 19:34] NicoHood commented on #42719
I could imaging, that this is the place, where the error is generated:
[code]

The `true` parameter destroys the type, as it always outputs an associative array. Why?

[2022-06-08 20:19] oktaykalfa opened #42720 "PHP 8.1 - Deprecated: ltrim(): Passing null to parameter #1 ($string) of type string is deprecated"
- Laravel Version: 8.83.14
- PHP Version: 8.1.6
- Database Driver & Version:

### Description:

Hello,

Deprecated: ltrim(): Passing null to parameter #1 ($string) of type string is deprecated
/vendor/league/flysystem-aws-s3-v3/src/AwsS3Adapter.php in League\Flysystem\AwsS3v3\AwsS3Adapter::setPathPrefix at line 537

![phpstorm64_EhcLrs124S](https://user-images.githubusercontent.com/47442988/172709

[2022-06-08 21:05] LegitDongo commented on #41799
Came across this when I was upgrading my homestead box and was getting the same

My issue was that my system was using fallback drivers(ODBC I think?) instead of the PECL drivers that you're supposed to use for SQLSRV connections

I had the install in my after.sh and forgot that it failed :)

[2022-06-08 21:31] rasha-mt commented on #42719
Hi,
json_encode() will always return [] if array is empty, to solve this issue you can use only  json_encode($value,JSON_FORCE_OBJECT)
and it will be solved
[https://stackoverflow.com/questions/28189390/json-encode-function-not-return-braces-when-array-is-empty-in-php](url)

[2022-06-09 03:28] DarkGhostHunter commented on #42720
It was [fixed months ago](https://github.com/thephpleague/flysystem-aws-s3-v3/commit/4a0bc7011d9764c87f6406e9cd09b1109565c043).

You should update your S3 Adapter to the latest version.

[2022-06-09 06:21] NicoHood commented on #42719
It will not encode to `[]` if the `true` parameter was not used. If i start using `JSON_FORCE_OBJECT` I cannot differenciate between arrays and objects.

[`json_encode(json_decode ("{}")` results in `"{}"`, which is also correct.](https://stackoverflow.com/questions/62544764/is-it-okay-to-represent-json-and-as-different-values-in-php)

[2022-06-09 07:16] alucard001 opened #42724 "chunk() would trigger mb_strpos() error if there is a composite primary key"
- Laravel Version: 6.x (potential 9.x)
- PHP Version: 7.2
- Database Driver & Version: MySQL 5

### Description:
Create a simple db table with a composite primary key
Create a model has a `$primaryKey` defined like `$primaryKey = ['id','another_id'];`
When called `chunk()` using the model that consists of that primary key, it will trigger an error as follow:

[code]
The problem is in this function

[2022-06-09 07:18] #42720 closed

[2022-06-09 07:18] kskrlinnorth2 opened #42725 "Single validation message for array based fields is not working as expected"
- Laravel Version: 9.10.1
- PHP Version: 8.1.0
- Database Driver & Version: Not important for this issue

### Description:
According to the [documentation](https://laravel.com/docs/9.x/validation#custom-validation-rules) there is option to provide single error message for array validation rules. However, this doesn't work or the documentation is not correct.

### Steps To Reproduce:
[code]
This re

[2022-06-09 07:24] driesvints commented on #42719
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-06-09 07:24] #42719 closed

[2022-06-09 07:24] driesvints commented on #42724
Composite primary keys are not supported.

[2022-06-09 07:24] #42724 closed

[2022-06-09 07:36] NicoHood commented on #42719
This is not a question, to me this sounds like a bug. You will never be able to differenciate between arrays and dicts in laravel. This makes no sense to me and sounds like a poor limitation. Could you please review this once more?

[2022-06-09 07:56] driesvints commented on #42691
It seems that right now, we're not looking into fixing this. We'd appreciate a PR to the docs if you're willing. Thanks

[2022-06-09 07:56] #42691 closed

[2022-06-09 07:58] hmennen90 commented on #42691
@driesvints I would like to do that - how can i do this?

[2022-06-09 08:07] driesvints commented on #42691
Here's the repo: https://github.com/laravel/docs

[2022-06-09 10:14] driesvints commented on #42730
Moving this to the framework repo for now. I'll have a look soon. Something tells me this is expected with the artisan serve command.

[2022-06-09 15:03] Otisz opened #42736 "Validation exception message has hardcoded english text."
- Laravel Version: 9.17.0
- PHP Version: 8.1.6
- Database Driver & Version: Not important for this issue

### Description:

In the [ValidationException.php](https://github.com/laravel/framework/blob/9.x/src/Illuminate/Validation/ValidationException.php#L86) the `summarize` method returns the `message` string for the response. It is only available in English.

If I want to translate the errors into

[2022-06-09 15:09] driesvints commented on #42736
Hi there. This message should not reach any end users. We do not consider this a bug.

[2022-06-09 15:09] #42736 closed

[2022-06-09 15:20] matiaslauriti commented on #42725
The URL is https://laravel.com/docs/9.x/validation#validating-nested-array-input pointing to what you want.

As the documentation mentions, you need to have a file in `lang/xx/validation.php` (`xx` would be `us` for you I assume), and that file needs to have:
[code]

But you need to have that in the file. I am not sure if that will work if you have it as `$messages = [ ... ]` in your validator (I

[2022-06-09 17:00] Otisz commented on #42736
Hi!

What do you mean it should not reach the end user? This message is part of the response, so it reaches the user.
I accept the fact you are not showing exactly this message in your first-party frontend.

On the other hand, if it is an API that has been created for use by other applications, you have no control over how its use there.
In the end, it gives the feeling of a less quality applicati

[2022-06-09 17:01] SimonMacIntyre opened #42738 "Cannot migrate 2nd connection postgres database. Thinks migration table does not exist, then tries to make it, and fails because it does exist."
- Laravel Version: 9.17.0
- PHP Version: 8.0.19

- Database Driver & Version: pgsql, Postgresql 12 &  Timescale 13.7 for the 2nd connection in question

### Description:
After updating to laravel 9, suddenly our migration script stopped working for our 2nd DB connection. You can see in the screenshot that I can query the migrations table, however status cannot find the table. So the migrate attemp

[2022-06-09 23:04] jorqensen opened #42743 "Query builder WHERE clause wrongfully assumes IS NULL case"
- Laravel Version: 9.17.0
- PHP Version: 8.1.6
- Database Driver & Version: MySQL 8.0.29 / SQLite 3.38.5 (Relateable to Postgres and other drivers as well.)

### Description:

Currently the query builder `WHERE` clause assumes if the `$value` is null, that the developer wants to do a `IS NULL` check. However, this can sometimes yield unexpected results.

In supported drivers, the spaceship operato

[2022-06-10 06:41] driesvints commented on #42738
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-06-10 06:41] #42738 closed

[2022-06-10 09:37] #42725 closed

[2022-06-10 09:38] driesvints commented on #42743
The current behavior is the correct expected behavior. You need to check the value up front like you do in your example.

[2022-06-10 09:38] #42743 closed

[2022-06-10 09:46] BartekMajowicz opened #42748 "attributes as private variable"
https://github.com/laravel/framework/blob/52cea7fb5f7f5e4704518b6a82b21a1e8ecb1cc9/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L38

I faced an issue when column in database was named attributes. Then when I wanted to change row with this column it changed this variable $attributes and created error "Cannot access offset of type string on string" in line 939.

Solution:
When $attrib

[2022-06-10 10:43] SimonMacIntyre commented on #42738
Classic.

[2022-06-10 11:02] fahad-imran commented on #42730
### **bnbmbn**

[2022-06-10 12:25] kskrlinnorth2 commented on #42725
So this works exclusively via validation file? I never use files to write validation rules, I pass array of rules and array of validation messages for those specific rules to `validate` method.

[2022-06-10 13:20] ArthurYdalgo commented on #17282
This was really helpfull, and it worked. You mentioned that "Unfortunately the same example with array as a value doesn't seem to be working", but actually you'd have to recursively do the same "arrowing" (sorry if this is not a verb) for the the inner values.

To do so, you can create another App\Helpers\Arr class that extends the [Illuminate\Support\Arr](https://laravel.com/docs/9.x/helpers#meth

[2022-06-10 13:22] NK0D1NG opened #42751 "XSRF-Token not getting recognized if sent by Fetch API"
- Sanctum Version: v2.15.1
- Fortify Version: v1.13.0
- Laravel Version: v9.17.0
- PHP Version: PHP 8.1.6
- Database Driver & Version: Based on Laravel Sail (docker): image: 'mysql:8.0'

### Description:
The function `protected function getTokenFromRequest($request)` in `/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/VerifyCsrfToken.php` expects the X-XSRF-TOKEN to be uppercas

[2022-06-10 13:27] ArthurYdalgo commented on #17282
Hello, @JexPY . In case you're still interested in the sollution and want to check mine, [here is the link](https://github.com/laravel/framework/issues/17282#issuecomment-1152354198)

[2022-06-10 14:14] NK0D1NG commented on #42751
Hey there,
I misinterpreted my error logs and found that there is another small difference using Axios and Fetch API:
Axios seems to decode the X-XSRF-TOKEN whereas Fetch API does not.

So this example token is sent by Fetch API:
`eyJpdiI6IkRScW9GNGtIbndWWFdKbzRiN0VWVkE9PSIsInZhbHVlIjoiNUNuQStiZGt0Y3l0cXhReThHSEJxbCsxRmZvbFFHKzhQV3ArSlg0cjVQVm5qSDZoQ3ZsSERnUTREUXRvczdMOHhYSHFqbm5FUjd2dFpGMlN4bU81N

[2022-06-10 14:14] #42751 closed

[2022-06-10 15:12] sparkison commented on #39705
...same thing with Laravel 8.83.13 / Inertia 0.5.4 / Jetstream 2.8.1  / Sanctum 2.15.1 😕

composer requires:
[code]

trace:
[code]

[2022-06-10 15:50] matiaslauriti commented on #42743
I am lost as what the issue is. When you run a query (at least for MySQL driver) you must do `WHERE column_name IS NULL` or `WHERE column_name IS NOT NULL`, doing `WHERE column_name = NULL` is not valid, so what is the issue? If Laravel receives `->where('column', null)` the only way to do that is using `IS NULL`

[2022-06-10 16:16] mikecummings10 commented on #37174
This is still an issue. Please re-open.

[2022-06-10 20:13] henrik9999 commented on #41960
same problem here we also use custom file formats and arent able to use them in storage because of this

[2022-06-10 20:14] henzeb opened #42756 "status as parameter to blade does not seem to operate well."
- Laravel Version: 9.17.0
- PHP Version: 8.1.6

### Description:
When passing 'status' as parameter to Blade's render option, I get an exception. It seems that when the name 'status' is used, the echoHandlers are not being executed.

Further investigation finds that it is only happening with '{{$status}}' and not with '{{ $status }}' or  '{{$anythingElse}}'  or '{{ $anythingElse }}'.

Before you c

[2022-06-10 20:54] TheWorkingDeveloper opened #42758 "Custom file formats not supported"
Re-opening this because it's an issue for every application that use non-standard filetypes.
https://github.com/laravel/framework/issues/41960#issuecomment-1152703807_

- Laravel Version: 9.8.1
- PHP Version: 8.1.3
- league/flysystem 3.0.16

### Description:
[code]
Results in the following error:
[code]
I believe this is caused by me having a non-standard extension, which is fine since I provided

[2022-06-10 21:55] jorqensen commented on #42743
@matiaslauriti As explained and demonstrated in the example, `=` is not null safe while `<=>` is, they are both equality operators and perfectly valid to assert against `NULL` - they just yield opposite results.

If you have nullable field that you want to query against (or multiple) from something that isn't dictated beforehand, could be looping over a CSV, user input, etc. And you want to grab r

[2022-06-10 22:05] matiaslauriti commented on #42743
What I do not understand is why would I use `where name <=> null` instead of `is null`? I have never saw someone use that (I am not DBA), but just curious, why would Laravel need to change that behaviour? What value would it add?

[2022-06-10 22:22] jorqensen commented on #42743
@matiaslauriti I didn't say that, I just threw it there as an example that they're opposite, and they're opposite for a reason.

The value it would add IMO is that you would actually get back what you're writing out, instead of Laravel making an assumption flipping your query on the head.

To be clear, I do _**absolutely in no way**_ want to prevent Laravel from assuming `is null` when doing `->wh

[2022-06-10 22:24] driesvints commented on #42756
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-06-10 22:24] #42756 closed

[2022-06-10 22:42] matiaslauriti commented on #42743
I still do not see the point, why would someone do `= null`? I have never saw that on SQL (MySQL, MariaDB). Also, remember that not passing `=` (`where($column, $value)`) will, by default, mean `=`. If `where($column, '=', null)` would be the only one having a different behavior, that would be break a lot of current running Laravels (let's say this is a new behaviour, it would be released on Larav

[2022-06-10 23:04] jorqensen commented on #42743
@matiaslauriti The primary reason this came to me was that I had to perform such a query at work the other day and was surprised how Laravel would *always* force the `IS NULL` case granted the value is `NULL`. As to why, that would take to long to explain and probably hit some NDA issues.

In short, the query needed to assert some values were equal to a string, but in some cases it would be null w

[2022-06-11 01:24] rodrigopedra commented on #42758
Sent PR #42759 to propose a fix

[2022-06-11 01:38] henrik9999 commented on #42758
I don't think your fix really fixes the underlining issue of it not accepting custom file types or being able to set them if I understand yours correctly all it does it fix it for download but it probably happens everywhere it's using minetype not just download

[2022-06-11 01:40] rodrigopedra commented on #42758
Closed PR #42759 in favor of PR #42760 targeting 9.x

[2022-06-11 01:48] rodrigopedra commented on #42758
The `Illuminate\Filesystem\FilesystemAdapter@mimeType` is only called in two other places:

https://github.com/laravel/framework/blob/2bc180295ebf8c4848a6b9c4ae8fa0d00ec75217/src/Illuminate/Mail/Attachment.php#L98

Where it appears after the null coalesce operator, so it will only be executed if `$attachment->mime` fails.

And

https://github.com/laravel/framework/blob/2bc180295ebf8c4848a6b9c4ae8f

[2022-06-11 02:08] rodrigopedra commented on #42758
Sent a different PR #42761 , to address only the mime type method. Thanks for the heads-up

[2022-06-11 02:10] henrik9999 commented on #42758
What would happen if the flysystem driver internally uses mimetype tho then it would still explode there I guess🤔

[2022-06-11 02:14] rodrigopedra commented on #42758
Well, as flysystem is a third-party package, my suggestion is to you propose a change on their repo if you believe this behavior should be changed.

Or write some code to contribute with a PR either there or here, I guess :thinking:

[2022-06-11 02:18] henrik9999 commented on #42758
There was https://github.com/thephpleague/flysystem/issues/1448 but all that was done was adding phar as a mime type

[2022-06-11 05:14] henzeb commented on #42756
No. Because I already identified it as a bug. So this is a bug or a won't fix. At least try my code and/or explain why you won't fix it.

[2022-06-11 09:34] Ham3D opened #42765 "there is a difference between $request and request()"
- Laravel Version: 9.x
- PHP Version: 8.1
- Database Driver & Version:

### Description:
when you attach something to **$request** , you dont have access to it when you call **request()->get('something');**

### Steps To Reproduce:

There is a wired bug in the request.
I fetch something inside a policy class (which is loaded inside a FormRequest class)
imagine i have to:

    $chat = Chat:first();

[2022-06-11 10:52] codeOraaange opened #42766 "Create CSV file with expected result line break CRLF in Laravel"
- Laravel Framework Version: 5.6
- PHP Version: 7.1.3
- Database Driver: MySQL

[code]

Notes:
- **$file_path** is my specific path
- **$headers** is group naming columns in array
- **Data** is my model name

My CSV file is fine but I want CRLF result for line break, with \n is working I get LF but with \r\n not working for get CRLF. And i found function nl2br() is the same not change to CRLF. Can

[2022-06-11 11:56] nielsdos commented on #42765
I believe the issue is that you're using `$request()` as a function call instead of `$request` as a variable, in the first (buggy) example.

[2022-06-11 12:11] ralphjsmit commented on #16526
For everyone who is still coming across this issue via Google or something, there currently is an official way to support this. See [this part of the docs](https://github.com/laravel/docs/blob/master/migrations.md#prerequisites).

Basically, you need to add the following to your `config/database.php` file:

[code]

[2022-06-11 12:22] Ham3D commented on #42765
no, the bug is there, give it a try!

i fixed the typo.

[2022-06-11 13:24] igorgaming commented on #42765
+1.  I also have this bug. A workaround its a passing of the current $request to the service.

[2022-06-11 14:08] rodrigopedra commented on #42765
Can you please provide a GitHub repository to demonstrate your issue.

You can use this command, if you have the Laravel Installer installed locally:

[code]

Right now, I could not reproduce. Steps I did:

[code]

Then edit `./routes/web.php` to:

[code]

And change `UserPolicy@viewAny` method to:

[code]

Lastly, access http://127.0.0.1:8000 , this is the output:

[code]

As you can see, all thr

[2022-06-11 14:25] igorgaming commented on #42765
@rodrigopedra
Idk how the OP got this bug, but personally I get it when i use custom form request class.
All you need its replace the base `Request` class to the custom form request.
E.x: `php artisan make:request CustomRequest`, after that replace `Request` in your route to the `CustomRequest`.
You will get input [1654956237,null,null].

[2022-06-11 14:59] Ham3D commented on #42765
attached a git hub repo with the mentioned bug in the main post

[2022-06-11 18:49] rodrigopedra commented on #42765
Thanks for the clarification @Ham3D and @igorgaming . It wasn't clear at first this only happened when using a form request.

I sent PR #42770 to propose a fix to this issue.

[2022-06-11 21:36] jtuta opened #42771 "Saving model with negative id."
- Laravel Version: `5.8` upgrade to `9.0`
- PHP Version: `7.3` upgrade to `8.1`
- Database Driver & Version: MySql `8.0.27`

### Description:
Not sure if this would be classified as a bug but I encountered problems with saving models with negative ids in my PHPUnit tests while upgrading an older Laravel application from `5.8` to `9.0`.

I have a model that has one-to-many submodels:
[code]

In the

[2022-06-11 23:43] jjjrmy opened #42773 "Attribute That Returns Array Fills Model When Not Expected"
- Laravel Version: v19.17.0
- Database Driver & Version: Mysql

### Description:

The `Steps` column is JSON / Array. In the Attribute, if the Setter returns an array the keys are used as fields on the model. It's expected it should fill the column with the array data. If you take off the `->toArray()` it saves it fine, but this seems like a bug.

[code]

[code]

[code]

[2022-06-12 00:27] rodrigopedra commented on #42773
Actually this is documented behavior:

https://laravel.com/docs/9.x/eloquent-mutators#mutating-multiple-attributes

So as you returning an array Eloquent assumes you want to set multiple columns, and as the returned array's are numeric this fails.

This works without the `->toArray()` call, as you are returning a `Collection`  instance instead.

If you want, or need in another mutator, to return a

[2022-06-12 00:43] xversial opened #42774 "laravel.EMERGENCY: Log [deprecations] is not defined."
- Laravel Version: 9/latest
- PHP Version: 8.1
- Database Driver & Version:

### Description:
laravel.EMERGENCY: Unable to create configured logger. Using emergency logger. {"exception":"[object] (InvalidArgumentException(code: 0): Log [deprecations] is not defined. at ./vendor/laravel/framework/src/Illuminate/Log/LogManager.php:207)

This is spamming the shit out of my production logs every time

[2022-06-12 00:47] xversial commented on #42774
Setting LOG_DEPRECATIONS_CHANNEL=daily rather than the default of null seems to have shut it up.

[2022-06-12 00:47] #42774 closed

[2022-06-12 02:14] rodrigopedra commented on #42771
It looks like your model does not have an auto incrementing id. If that is the case, set your model's `$incrementing` property to `false` to tell Eloquent to not set it using `PDO::lastInsertId()`.

[code]

By default Eloquent assumes the primary key is an integer auto incrementing key, as stated in the docs:

https://laravel.com/docs/9.x/eloquent#primary-keys